{
  "log": {
    "_recordingName": "Service Accounts/Edit an application key for this service account returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "575f7667a0ac8ea1fd899cd0ea9c5884",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Edit_an_application_key_for_this_service_account_returns_OK_response-1697105458@datadoghq.com\",\"service_account\":true,\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/service_accounts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 676,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"a3b86b00-68e7-11ee-b081-e2f0333fd1ce\",\"attributes\":{\"name\":null,\"handle\":\"a3b86b00-68e7-11ee-b081-e2f0333fd1ce\",\"created_at\":\"2023-10-12T10:10:58.857066+00:00\",\"modified_at\":\"2023-10-12T10:10:58.857066+00:00\",\"email\":\"test-edit_an_application_key_for_this_service_account_returns_ok_response-1697105458@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/00878614ca2acb0d68087ee17a33e3f4?s=48&d=retro\",\"title\":\"user title\",\"verified\":true,\"service_account\":true,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Active\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 536
      },
      {
        "_id": "dc8a4b52f77900d831290f969455142d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Edit_an_application_key_for_this_service_account_returns_OK_response-1697105458\"},\"type\":\"application_keys\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/service_accounts/a3b86b00-68e7-11ee-b081-e2f0333fd1ce/application_keys"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 448,
            "text": "{\"data\":{\"type\":\"application_keys\",\"id\":\"8dca4456-bd90-4cb4-a182-5868501d8a9b\",\"attributes\":{\"name\":\"Test-Edit_an_application_key_for_this_service_account_returns_OK_response-1697105458\",\"created_at\":\"2023-10-12T10:10:59.392476+00:00\",\"last4\":\"xxxx\",\"key\":\"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\"scopes\":null},\"relationships\":{\"owned_by\":{\"data\":{\"type\":\"users\",\"id\":\"a3b86b00-68e7-11ee-b081-e2f0333fd1ce\"}},\"leak_information\":{\"data\":null}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 557
      },
      {
        "_id": "f5f7f00600f866116e967647af0a16d2",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "applicati[...]
