{
  "log": {
    "_recordingName": "Downtimes/Schedule a downtime until date",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "30fb1f1184cbc4588238125ed0788db6",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"end\":1641833413,\"message\":\"Test-Schedule_a_downtime_until_date-1641829813\",\"recurrence\":{\"period\":1,\"type\":\"weeks\",\"until_date\":1643644213,\"week_days\":[\"Mon\",\"Tue\",\"Wed\",\"Thu\",\"Fri\"]},\"scope\":[\"*\"],\"start\":1641829813,\"timezone\":\"Etc/UTC\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/downtime"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 516,
            "text": "{\"recurrence\":{\"until_date\":1643644213,\"until_occurrences\":null,\"week_days\":[\"Mon\",\"Tue\",\"Wed\",\"Thu\",\"Fri\"],\"type\":\"weeks\",\"period\":1},\"end\":1641833413,\"monitor_tags\":[\"*\"],\"child_id\":null,\"canceled\":null,\"monitor_id\":null,\"created\":1641829814,\"org_id\":321813,\"modified\":1641829814,\"disabled\":false,\"start\":1641829813,\"creator_id\":1445416,\"parent_id\":null,\"timezone\":\"Etc/UTC\",\"active\":true,\"scope\":[\"*\"],\"message\":\"Test-Schedule_a_downtime_until_date-1641829813\",\"downtime_type\":0,\"id\":1672791240,\"updater_id\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 310
      },
      {
        "_id": "564ac09b7f0d78229043cef7d2e8faba",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/downtime/1672791240"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 352
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
