{
  "log": {
    "_recordingName": "On-Call/Delete On-Call escalation policy returns \"No Content\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "a5481ce54de2190a48d1d4b574114c20",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Delete_On_Call_escalation_policy_returns_No_Content_response-1747825312@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 725,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"004c79ee-3633-11f0-a44d-32fc981820e1\",\"attributes\":{\"name\":null,\"handle\":\"test-delete_on_call_escalation_policy_returns_no_content_response-1747825312@datadoghq.com\",\"created_at\":\"2025-05-21T11:01:52.473018+00:00\",\"modified_at\":\"2025-05-21T11:01:52.473018+00:00\",\"email\":\"test-delete_on_call_escalation_policy_returns_no_content_response-1747825312@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/ad3c6a2c3812a95dae5fa21afd4d2431?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 152
      },
      {
        "_id": "5f397445ca8e0382e3901da63a2ee1a2",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"test-handle-da5b39657e7d313b\",\"name\":\"test-name-da5b39657e7d313b\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 636,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"9c6994c3-9ea3-44df-8321-0b83ceb1af69\",\"attributes\":{\"name\":\"test-name-da5b39657e7d313b\",\"handle\":\"test-handle-da5b39657e7d313b\",\"summary\":null,\"description\":null,\"avatar\":null,\"banner\":11,\"visible_modules\":[],\"hidden_modules\":[],\"created_at\":\"2025-05-21T11:01:52.600302+00:00\",\"modified_at\":\"2025-05-21T11:01:52.600311+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/9c6994c3-9ea3-44df-8321-0b83ceb1af69/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/9c6994c3-9ea3-44df-8321-0b83ceb1af69/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 199
      },
      {
        "_id": "3c4f43635588247ee29fd901cf2ca25f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"layers\":[{\"effective_date\":\"2025-05-11T11:01:52.363Z\",\"end_date\":\"2025-05-31T11:01:52.363Z\",\"interval\":{\"days\":1},\"members\":[{\"user\":{\"id\":\"890f29d4-0b7a-11f0-aeb2-760fcae4f596\"}}],\"name\":\"Layer 1\",\"restrictions\":[{\"end_day\":\"friday\",\"end_time\":\"17:00:00\",\"start_day\":\"monday\",\"start_time\":\"09:00:00\"}],\"rotation_start\":\"2025-05-16T11:01:52.363Z\"}],\"name\":\"Test-Delete_On_Call_escalation_policy_returns_No_Content_response-1747825312\",\"time_zone\":\"America/New_York\"},\"relationships\":{\"teams\":{\"data\":[{\"id\":\"65aea9d0-941c-4607-bf8a-14fc0dac2820\",\"type\":\"teams\"}]}},\"type\":\"schedules\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/on-call/schedules"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 397,
            "text": "{\"data\":{\"id\":\"48c6b04f-1120-46b0-9600-b85a5253965c\",\"type\":\"schedules\",\"attributes\":{\"name\":\"Test-Delete_On_C[...]
