{
  "log": {
    "_recordingName": "Security Monitoring/Get a suppression's version history returns \"Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "067902bf242bca67ee75a242d0407d88",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions/this-does-not-exist/version_history"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 75,
            "text": "{\"errors\":[\"not_found(Suppression with ID this-does-not-exist not found)\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 392
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
