{
  "log": {
    "_recordingName": "Usage Metering/Get hourly usage for Application Security returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "1da1fda7ecf262c957eb9c14edabfe5f",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "start_hr",
              "value": "2022-04-27T16:40:49.556Z"
            },
            {
              "name": "end_hr",
              "value": "2022-04-29T16:40:49.556Z"
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/usage/application_security?start_hr=2022-04-27T16%3A40%3A49.556Z&end_hr=2022-04-29T16%3A40%3A49.556Z"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 2916,
            "text": "{\"data\":[{\"attributes\":{\"org_name\":\"DD Integration Tests (321813)\",\"usage_type\":\"app_sec_host_count\",\"public_id\":\"fasjyydbcgwwc2uc\",\"timeseries\":[{\"timestamp\":\"2022-04-27T16:00:00+00:00\",\"value\":null},{\"timestamp\":\"2022-04-27T17:00:00+00:00\",\"value\":null},{\"timestamp\":\"2022-04-27T18:00:00+00:00\",\"value\":null},{\"timestamp\":\"2022-04-27T19:00:00+00:00\",\"value\":null},{\"timestamp\":\"2022-04-27T20:00:00+00:00\",\"value\":null},{\"timestamp\":\"2022-04-27T21:00:00+00:00\",\"value\":null},{\"timestamp\":\"2022-04-27T22:00:00+00:00\",\"value\":null},{\"timestamp\":\"2022-04-27T23:00:00+00:00\",\"value\":null},{\"timestamp\":\"2022-04-28[...]
