{
  "log": {
    "_recordingName": "Cloud Cost Management/List Custom Costs files with pagination parameters returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "9343edab63cf7710429af5ae177a13c2",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page",
              "value": {
                "number": "1",
                "size": "10"
              }
            },
            {
              "name": "sort",
              "value": "-created_at"
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/cost/custom_costs?page%5Bnumber%5D=1&page%5Bsize%5D=10&sort=-created_at"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 61,
            "text": "{\"data\":[],\"meta\":{\"version\":\"1.0\",\"total_filtered_count\":1}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 219
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
