{
  "log": {
    "_recordingName": "Service Level Objectives/Create a new SLO report returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "5140a35ae1eb650e7c8bc07d82f10f1f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"from_ts\":1690901870,\"interval\":\"bad-interval\",\"query\":\"slo_type:metric \\\"SLO Reporting Test\\\"\",\"to_ts\":1706803070}}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/slo/report"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 89,
            "text": "{\"errors\":[{\"title\":\"Invalid Argument\",\"detail\":\"bad-interval is not a valid interval\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 149
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
