{
  "log": {
    "_recordingName": "Usage Metering/Get hourly usage for custom metrics returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "434732daa601b98714241adb0bfb5798",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "start_hr",
              "value": "2025-05-07T11:35:57.642Z"
            },
            {
              "name": "end_hr",
              "value": "2025-05-09T11:35:57.642Z"
            }
          ],
          "url": "https://api.datadoghq.com/api/v1/usage/timeseries?start_hr=2025-05-07T11%3A35%3A57.642Z&end_hr=2025-05-09T11%3A35%3A57.642Z"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 12342,
            "text": "{\"usage\":[{\"hour\":\"2025-05-07T11:00:00+00:00\",\"region\":\"us\",\"num_custom_input_timeseries\":0,\"num_custom_output_timeseries\":85,\"num_custom_historical_timeseries\":null,\"org_name\":\"DD Integration Tests (321813)\",\"public_id\":\"fasjyydbcgwwc2uc\",\"num_custom_timeseries\":85},{\"hour\":\"2025-05-07T12:00:00+00:00\",\"region\":\"us\",\"num_custom_input_timeseries\":1,\"num_custom_output_timeseries\":86,\"num_custom_historical_timeseries\":null,\"org_name\":\"DD Integration Tests (321813)\",\"public_id\":\"fasjyydbcgwwc2uc\",\"num_custom_timeseries\":87},{\"hour\":\"2025-05-07T13:00:00+00:00\",\"region\":\"us\",\"num_custom_input_timeseries\":0,\"num_custom_output_timeseries\":0,\"num_custom_historical_timeseries\":null,\"org_name\":\"DD Integration Tests (321813)\[...]
