{
  "log": {
    "_recordingName": "Security Monitoring/Patch a signal-based notification rule returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "8da6c6ccd9765d34ba625b6774404c8c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"enabled\":true,\"name\":\"Rule 17870415-0000-0000-0000-178704155300\",\"selectors\":{\"query\":\"env:test\",\"rule_types\":[\"signal_correlation\"],\"severities\":[\"critical\"],\"trigger_source\":\"security_signals\"},\"targets\":[\"@email@email.com\"]},\"type\":\"notification_rules\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/security/signals/notification_rules"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 555,
            "text": "{\"data\":{\"id\":\"cih-ioz-u8b\",\"type\":\"notification_rules\",\"attributes\":{\"created_at\":1787041553943,\"created_by\":{\"name\":\"CI Account\",\"handle\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\"},\"enabled\":true,\"modified_at\":1787041553943,\"modified_by\":{\"name\":\"CI Account\",\"handle\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\"},\"name\":\"Rule 17870415-0000-0000-0000-178704155300\",\"selectors\":{\"severities\":[\"critical\"],\"rule_types\":[\"signal_correlation\"],\"query\":\"env:test\",\"trigger_source\":\"security_signals\"},\"targets\":[\"@email@email.com\"],\"time_aggregation\":0,\"version\":1}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 112
      },
      {
        "_id": "67681cd770b6482e559956d0e8deca71",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"enabled\":true,\"name\":\"Rule 1\",\"selectors\":{\"query\":\"(source:production_service OR env:prod)\",\"rule_types\":[\"misconfiguration\",\"attack_path\"],\"severities\":[\"critical\"],\"trigger_source\":\"security_findings\"},\"targets\":[\"@john.doe@email.com\"],\"time_aggregation\":86400},\"id\":\"aaa-bbb-ccc\",\"type\":\"notification_rules\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/security/signals/notification_rules/cih-ioz-u8b"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 147,
            "text": "{\"errors\":[\"input_validation_error(Field 'data.attributes.version' is invalid: Specify the notification rule version to update, it cannot be 0.)\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 105
      },
      {
        "_id": "019c9744c6960ee88c93e369f4006d58",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/security/signals/notification_rules/cih-ioz-u8b"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 98
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
