{
  "log": {
    "_recordingName": "Roles/Get all users of a role returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "c3edba2ce3794ce70bde120446b1c837",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Get_all_users_of_a_role_returns_OK_response-1641829866\"},\"type\":\"roles\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/roles"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 695,
            "text": "{\"data\":{\"type\":\"roles\",\"id\":\"1fda8fa2-722d-11ec-b5d7-da7ad0900002\",\"attributes\":{\"name\":\"Test-Get_all_users_of_a_role_returns_OK_response-1641829866\",\"created_at\":\"2022-01-10T15:51:07.514512+00:00\",\"modified_at\":\"2022-01-10T15:51:07.599375+00:00\"},\"relationships\":{\"permissions\":{\"data\":[{\"type\":\"permissions\",\"id\":\"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2\"},{\"type\":\"permissions\",\"id\":\"4441648c-d8b1-11e9-a77a-1b899a04b304\"},{\"type\":\"permissions\",\"id\":\"417ba636-2dce-11eb-84c0-6bce5b0d9de0\"},{\"type\":\"permissions\",\"id\":\"12efc20e-d36c-11eb-a9b8-da7ad0900002\"},{\"type\":\"permissions\",\"id\":\"97971c1c-e895-11eb-b13c-da7ad0900002\"},{\"type\":\"permissions\",\"id\":\"7605ef24-f376-11eb-b90b-da7ad0900002\"}]}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1200
      },
      {
        "_id": "fcfd379b14ab91b98c968226db3610ad",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Get_all_users_of_a_role_returns_OK_response-1641829866@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 690,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"2022fdaa-722d-11ec-b5d7-da7ad0900002\",\"attributes\":{\"name\":null,\"handle\":\"test-get_all_users_of_a_role_returns_ok_response-1641829866@datadoghq.com\",\"created_at\":\"2022-01-10T15:51:07.988360+00:00\",\"modified_at\":\"2022-01-10T15:51:08.042294+00:00\",\"email\":\"test-get_all_users_of_a_role_returns_ok_response-1641829866@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/35c78ec2b05460605b39b6db930d15ce?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 452
      },
      {
        "_id": "55b80ca41c24be7092d3556d20b80d93",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"id\":\"2022fdaa-722d-11ec-b5d7-da7ad0900002\",\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/roles/1fda8fa2-722d-11ec-b5d7-da7ad0900002/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 786,
            "text": "{\"meta\":{\"page\":{\"total_count\":1}},\"data\":[{\"type\":\"users\",\"id\":\"2022fdaa-722d-11ec-b5d7-da7ad0900002\",\"attributes\":{\"name\":null,\"handle\":\"test-get_all_users_of_a_role_returns_ok_response-1641829866@datadoghq.com\",\"created_at\":\"2022-01-10T15:51:07.988360+00:00\",\"modified_at\":\"2022-01-10T15:51:08.042294+00:00\",\"email\":\"test-get_all_users_of_a_role_returns_ok_response-1641829866@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/35c78ec2b05460605b39b6db930d15ce?s=48&d=retro\",\"title\":\"[...]
