{
  "log": {
    "_recordingName": "Security Monitoring/Change the triage state of a security signal returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "e2b672468901bcdbfa6759661aa1e780",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"archiveReason\":\"none\",\"state\":\"open\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/security_analytics/signals/AQAAAYDiB_Ol8PbzFAAAAABBWURpQl9PbEFBQU0yeXhGTG9ZV2JnQUE/state"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 108088,
            "text": "{\"status\":\"done\",\"elapsed\":6,\"hitCount\":1,\"type\":\"status\",\"requestId\":\"pddv1ChZsZTVoQTlZUlRCMmZIaVp6QmtSb1FRIi0KHTZc_OyWqjtN77Y9KyBimz5OCepk1bY1rIo4vE37Egx-rD3hrV23n4SU9ds\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1673
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
