{
  "log": {
    "_recordingName": "Events/Post an event in the past returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "20e05f2033415f1043686f1ff7eaa5d1",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"date_happened\":1,\"tags\":[\"test:TestPostaneventinthepastreturnsBadRequestresponse1638045281\"],\"text\":\"A text message.\",\"title\":\"Test-Post_an_event_in_the_past_returns_Bad_Request_response-1638045281\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/events"
        },
        "response": {
          "content": {
            "mimeType": "text/plain; charset=utf-8",
            "size": 41,
            "text": "{\"errors\": [\"Event too far in the past\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain; charset=utf-8"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 299,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
