{
  "log": {
    "_recordingName": "Restriction Policies/Update a restriction policy returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "b443f621ed4c0ea1b705cb344225f372",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Update_a_restriction_policy_returns_OK_response-1676316303\"},\"type\":\"roles\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/roles"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 834,
            "text": "{\"data\":{\"type\":\"roles\",\"id\":\"1ddd79a8-abd4-11ed-912f-da7ad0900002\",\"attributes\":{\"name\":\"Test-Update_a_restriction_policy_returns_OK_response-1676316303\",\"created_at\":\"2023-02-13T19:25:04.081658+00:00\",\"modified_at\":\"2023-02-13T19:25:04.113751+00:00\"},\"relationships\":{\"permissions\":{\"data\":[{\"type\":\"permissions\",\"id\":\"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2\"},{\"type\":\"permissions\",\"id\":\"4441648c-d8b1-11e9-a77a-1b899a04b304\"},{\"type\":\"permissions\",\"id\":\"417ba636-2dce-11eb-84c0-6bce5b0d9de0\"},{\"type\":\"permissions\",\"id\":\"12efc20e-d36c-11eb-a9b8-da7ad0900002\"},{\"type\":\"permissions\",\"id\":\"7605ef24-f376-11eb-b90b-da7ad0900002\"},{\"type\":\"permissions\",\"id\":\"b6bf9ac6-9a59-11ec-8480-da7ad0900002\"},{\"type\":\"permissions\",\"id\":\"f8e941cf-e746-11ec-b22d-da7ad0900002\"},{\"type\":\"permissions\",\"id\":\"6c5ad874-7aff-11ed-a5cd-da7ad0900002\"}]}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 511
      },
      {
        "_id": "2f8b08583635a81f0a9e899ce62e2673",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Update_a_restriction_policy_returns_OK_response-1676316303@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 699,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"1e1c20a6-abd4-11ed-8f6f-aef7be6704b7\",\"attributes\":{\"name\":null,\"handle\":\"test-update_a_restriction_policy_returns_ok_response-1676316303@datadoghq.com\",\"created_at\":\"2023-02-13T19:25:04.494176+00:00\",\"modified_at\":\"2023-02-13T19:25:04.498139+00:00\",\"email\":\"test-update_a_restriction_policy_returns_ok_response-1676316303@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/5e45dad0fda850cc1e7c029b0297c5b6?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 394
      },
      {
        "_id": "9bf45bec1fe6b368d93e4289f075fb84",
        "request": {
          "headers": [
            {
              "_fromType": "array",
      [...]
