{
  "log": {
    "_recordingName": "Webhooks Integration/Get a custom variable returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "6bf62b5be5143bfcb51d4dc42eca3141",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"is_secret\":false,\"name\":\"TESTGETACUSTOMVARIABLERETURNSOKRESPONSE1700828955\",\"value\":\"variable-value\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/integration/webhooks/configuration/custom-variables"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 104,
            "text": "{\"name\":\"TESTGETACUSTOMVARIABLERETURNSOKRESPONSE1700828955\",\"is_secret\":false,\"value\":\"variable-value\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 2813
      },
      {
        "_id": "31751ca76d12e06bee0745b2caf062af",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/integration/webhooks/configuration/custom-variables/TESTGETACUSTOMVARIABLERETURNSOKRESPONSE1700828955"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 104,
            "text": "{\"name\":\"T[...]
