{
  "log": {
    "_recordingName": "Service Level Objectives/Create a new SLO report returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "bdf42cbc33ae72c68bdbec111046de96",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"from_ts\":1690901870,\"interval\":\"monthly\",\"query\":\"slo_type:metric \\\"SLO Reporting Test\\\"\",\"timezone\":\"America/New_York\",\"to_ts\":1706803070}}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/slo/report"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 73,
            "text": "{\"data\":{\"id\":\"98c67bea-fdbf-11ee-8a01-bfd37432018b\",\"type\":\"report_id\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 145
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
