{
  "log": {
    "_recordingName": "Dashboards/Get a shared dashboard returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "e20ff66d74793a08d40b9ec324270cd3",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"layout_type\":\"ordered\",\"title\":\"Test-Get_a_shared_dashboard_returns_OK_response-1731699186 with Profile Metrics Query\",\"widgets\":[{\"definition\":{\"requests\":[{\"profile_metrics_query\":{\"compute\":{\"aggregation\":\"sum\",\"facet\":\"@prof_core_cpu_cores\"},\"group_by\":[{\"facet\":\"service\",\"limit\":10,\"sort\":{\"aggregation\":\"sum\",\"facet\":\"@prof_core_cpu_cores\",\"order\":\"desc\"}}],\"search\":{\"query\":\"runtime:jvm\"}}}],\"type\":\"timeseries\"}}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 837,
            "text": "{\"id\":\"8ev-xtr-upp\",\"title\":\"Test-Get_a_shared_dashboard_returns_OK_response-1731699186 with Profile Metrics Query\",\"description\":null,\"author_handle\":\"frog@datadoghq.com\",\"author_name\":null,\"layout_type\":\"ordered\",\"url\":\"/dashboard/8ev-xtr-upp/test-getashareddashboardreturnsokresponse-1731699186-with-profile-metrics-query\",\"is_read_only\":false,\"template_variables\":null,\"widgets\":[{\"definition\":{\"requests\":[{\"profile_metrics_query\":{\"compute\":{\"aggregation\":\"sum\",\"facet\":\"@prof_core_cpu_cores\"},\"group_by\":[{\"facet\":\"service\",\"limit\":10,\"sort\":{\"aggregation\":\"sum\",\"facet\":\"@prof_core_cpu_cores\",\"order\":\"desc\"}}],\"search\":{\"query\":\"runtime:jvm\"}}}],\"type\":\"timeseries\"},\"id\":80087833264827}],\"notify_list\":null,\"created_at\":\"2024-11-15T19:33:06.747717+00:00\",\"modified_at\":\"2024-11-15T19:33:06.747717+00:00\",\"restricted_roles\":[]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 233
      },
      {
        "_id": "96a98db77f0c4114eddcb910bbca5957",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"dashboard_id\":\"8ev-xtr-upp\",\"dashboard_type\":\"custom_timeboard\",\"global_time\":{\"live_span\":\"1h\"},\"share_list\":[\"testgetashareddashboardreturnsokresponse1731699186@datadoghq.com\"],\"share_type\":\"invite\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/public"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 917,
            "text": "{\"author\":{\"handle\":\"frog@datadoghq.com\",\"name\":null},\"dashboard_id\":\"8ev-xtr-upp\",\"dashboard_type\":\"custom_timeboard\",\"status\":\"active\",\"title\":\"Test-Get_a_shared_dashboard_returns_OK_response-1731699186 with Profile Metrics Query\",\"viewing_preferences\":{},\"expiration\":null,\"last_accessed\":null,\"global_time_selectable_enabled\":false,\"global_time\":{\"live_span\":\"1h\"},\"selectable_template_vars\":null,\"token\":\"fasjyydbcgwwc2uc-a0de932128a4590dd2936030efe4536f\",\"public_url\":\"https://p.datadoghq.com/sb/fasjyydbcgwwc2uc-a0de932128a4590dd2936030efe4536f\",\"created\":\"2024-11-15T19:33:07.079213+00:00\",\"share_type\":\"invite\",\"share_list\":[\"testgetashareddashboardreturnsokresponse1731699186@datadoghq.com\"],\"session_duration_in_days\":30,\"invitees\":[{\"email\":\"testgetashareddashboardreturnsokresponse1731699186@datadoghq.com\",\"access_expiration\":null,\"last_accessed\":null,\"created_at\":\"2024-11-15T19:33:07.104751+00:00\"}]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 309
      },
      {
        "_id": "b6285854080be471cff8508374b3985b",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryStri[...]
