{
  "log": {
    "_recordingName": "Dashboards/Get a shared dashboard returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "59cf4599855c77124fc37afffbae57bd",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"layout_type\":\"ordered\",\"title\":\"Test-Get_a_shared_dashboard_returns_OK_response-1731611569 with Profile Metrics Query\",\"widgets\":[{\"definition\":{\"requests\":[{\"profile_metrics_query\":{\"compute\":{\"aggregation\":\"sum\",\"facet\":\"@prof_core_cpu_cores\"},\"group_by\":[{\"facet\":\"service\",\"limit\":10,\"sort\":{\"aggregation\":\"sum\",\"facet\":\"@prof_core_cpu_cores\",\"order\":\"desc\"}}],\"search\":{\"query\":\"runtime:jvm\"}}}],\"type\":\"timeseries\"}}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 859,
            "text": "{\"id\":\"zwb-m89-nt7\",\"title\":\"Test-Get_a_shared_dashboard_returns_OK_response-1731611569 with Profile Metrics Query\",\"description\":null,\"author_handle\":\"anika.maskara@datadoghq.com\",\"author_name\":\"Anika Maskara\",\"layout_type\":\"ordered\",\"url\":\"/dashboard/zwb-m89-nt7/test-getashareddashboardreturnsokresponse-1731611569-with-profile-metrics-query\",\"is_read_only\":false,\"template_variables\":null,\"widgets\":[{\"definition\":{\"requests\":[{\"profile_metrics_query\":{\"compute\":{\"aggregation\":\"sum\",\"facet\":\"@prof_core_cpu_cores\"},\"group_by\":[{\"facet\":\"service\",\"limit\":10,\"sort\":{\"aggregation\":\"sum\",\"facet\":\"@prof_core_cpu_cores\",\"order\":\"desc\"}}],\"search\":{\"query\":\"runtime:jvm\"}}}],\"type\":\"timeseries\"},\"id\":6181630513564549}],\"notify_list\":null,\"created_at\":\"2024-11-14T19:12:49.453819+00:00\",\"modified_at\":\"2024-11-14T19:12:49.453819+00:00\",\"restricted_roles\":[]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 260
      },
      {
        "_id": "bbb58eb95bc6e56a94c73633860e6c7d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"dashboard_id\":\"zwb-m89-nt7\",\"dashboard_type\":\"custom_timeboard\",\"global_time\":{\"live_span\":\"1h\"},\"share_list\":[\"testgetashareddashboardreturnsokresponse1731611569@datadoghq.com\"],\"share_type\":\"invite\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/public"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 937,
            "text": "{\"author\":{\"handle\":\"anika.maskara@datadoghq.com\",\"name\":\"Anika Maskara\"},\"dashboard_id\":\"zwb-m89-nt7\",\"dashboard_type\":\"custom_timeboard\",\"status\":\"active\",\"title\":\"Test-Get_a_shared_dashboard_returns_OK_response-1731611569 with Profile Metrics Query\",\"viewing_preferences\":{},\"expiration\":null,\"last_accessed\":null,\"global_time_selectable_enabled\":false,\"global_time\":{\"live_span\":\"1h\"},\"selectable_template_vars\":null,\"token\":\"fasjyydbcgwwc2uc-3e108b2f5d0480a793b34eb0c8719db1\",\"public_url\":\"https://p.datadoghq.com/sb/fasjyydbcgwwc2uc-3e108b2f5d0480a793b34eb0c8719db1\",\"created\":\"2024-11-14T19:12:49.788461+00:00\",\"share_type\":\"invite\",\"share_list\":[\"testgetashareddashboardreturnsokresponse1731611569@datadoghq.com\"],\"session_duration_in_days\":30,\"invitees\":[{\"email\":\"testgetashareddashboardreturnsokresponse1731611569@datadoghq.com\",\"access_expiration\":null,\"last_accessed\":null,\"created_at\":\"2024-11-14T19:12:49.820935+00:00\"}]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 320
      },
      {
        "_id": "df42059a990a978c4645818706503cf8",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryStri[...]
