{
  "log": {
    "_recordingName": "Deployment Gates/Update deployment rule returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "1e7e74d6e487cecb0dd1aeccab1b7111",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"dry_run\":false,\"env\":\"production\",\"identifier\":\"my-gate-testupdatedeploymentrulereturnsokresponse1764326924\",\"service\":\"my-service\"},\"type\":\"deployment_gate\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/deployment_gates"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 567,
            "text": "{\"data\":{\"id\":\"b9fe1de0-ba29-4f86-abbb-09ec15047772\",\"type\":\"deployment_gate\",\"attributes\":{\"created_at\":\"2025-11-28T10:48:44.953026Z\",\"created_by\":{\"id\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\",\"name\":\"CI Account\",\"handle\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\"},\"dry_run\":false,\"env\":\"production\",\"identifier\":\"my-gate-testupdatedeploymentrulereturnsokresponse1764326924\",\"service\":\"my-service\",\"updated_at\":\"2025-11-28T10:48:44.953026Z\",\"updated_by\":{\"id\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\",\"name\":\"CI Account\",\"handle\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\"}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 112
      },
      {
        "_id": "b0126137927e4629cf38d776aee57722",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"dry_run\":false,\"name\":\"My deployment rule\",\"options\":{\"excluded_resources\":[]},\"type\":\"faulty_deployment_detection\"},\"type\":\"deployment_rule\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/deployment_gates/b9fe1de0-ba29-4f86-abbb-09ec15047772/rules"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 577,
            "text": "{\"data\":{\"id\":\"04207b55-28e1-46e6-9aa1-ed45dd022e3e\",\"type\":\"deployment_rule\",\"attributes\":{\"created_at\":\"2025-11-28T10:48:45.086885Z\",\"created_by\":{\"id\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\",\"name\":\"CI Account\",\"handle\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\"},\"dry_run\":false,\"gate_id\":\"b9fe1de0-ba29-4f86-abbb-09ec15047772\",\"name\":\"My deployment rule\",\"options\":{},\"type\":\"faulty_deployment_detection\",\"updated_at\":\"2025-11-28T10:48:45.086885Z\",\"updated_by\":{\"id\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\",\"name\":\"CI Account\",\"handle\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\"}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "sta[...]
