{
  "log": {
    "_recordingName": "IP Allowlist/Update IP Allowlist returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "c9e94d91677b3d145989bf72fab6873a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"enabled\":true,\"entries\":[]},\"type\":\"ip_allowlist\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/ip_allowlist"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 97,
            "text": "{\"errors\":[\"Cannot enable or keep enabled an IP Allowlist without the current IP address in it\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 143
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
