{
  "log": {
    "_recordingName": "Usage Metering/Get hourly usage for incident management returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "8ab5a1e41e96c5cc0e5e9311689abb5b",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "start_hr",
              "value": "2022-01-26T09:34:31.797Z"
            },
            {
              "name": "end_hr",
              "value": "2022-01-28T09:34:31.797Z"
            }
          ],
          "url": "https://api.datadoghq.com/api/v1/usage/incident-management?start_hr=2022-01-26T09%3A34%3A31.797Z&end_hr=2022-01-28T09%3A34%3A31.797Z"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 6539,
            "text": "{\"usage\":[{\"org_name\":\"DD Integration Tests (321813)\",\"public_id\":\"fasjyydbcgwwc2uc\",\"monthly_active_users\":1,\"hour\":\"2022-01-26T09:00:00+00:00\"},{\"org_name\":\"DD Integration Tests (321813)\",\"public_id\":\"fasjyydbcgwwc2uc\",\"monthly_active_users\":1,\"hour\":\"2022-01-26T10:00:00+00:00\"},{\"org_name\":\"DD Integration Tests (321813)\",\"public_id\":\"fasjyydbcgwwc2uc\",\"monthly_active_users\":1,\"hour\":\"2022-01-26T11:00:00+00:00\"},{\"org_name\":\"DD Integration Tests (321813)\",\"public_id\":\"fasjyydbcgwwc2uc\",\"monthly_active_users\":1,\"hour\":\"2022-01-26T12:00:00+00:00\"},{\"org_name\":\"DD [...]
