{
  "log": {
    "_recordingName": "Rum Retention Filters/Order RUM retention filters returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "0531648bcd76cfc9b66983aed9e67df2",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":[{\"id\":\"325631eb-94c9-49c0-93f9-ab7e4fd24529\",\"type\":\"retention_filters\"}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/rum/applications/1d4b9c34-7ac4-423a-91cf-9902d926e9b3/relationships/retention_filters"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 51,
            "text": "{\"errors\":[{\"status\":\"400\",\"title\":\"Bad Request\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 59
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
