{
  "log": {
    "_recordingName": "RUM Retention Filters/Delete a RUM retention filter returns \"Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "fa72b7fb6a12e210f6a0050606f747ec",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/rum/applications/a33671aa-24fd-4dcd-ba4b-5bbdbafe7690/retention_filters/Test-Delete_a_RUM_retention_filter_returns_Not_Found_response-1780394607"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 198,
            "text": "{\"errors\":[{\"status\":\"404\",\"title\":\"Not Found\",\"detail\":\"rpc error: code = NotFound desc = retention filter \\\"Test-Delete_a_RUM_retention_filter_returns_Not_Found_response-1780394607\\\" not found\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 248
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
