{
  "log": {
    "_recordingName": "On-Call/Update an On-Call email for a user returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "713f4fb3b44daf29c9ff9825fe47f0b6",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Update_an_On_Call_email_for_a_user_returns_OK_response-1762964025@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 736,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"9079b462-bfe2-11f0-a49d-e64699b8fdba\",\"attributes\":{\"name\":null,\"handle\":\"test-update_an_on_call_email_for_a_user_returns_ok_response-1762964025@datadoghq.com\",\"created_at\":\"2025-11-12T16:13:45.589524+00:00\",\"modified_at\":\"2025-11-12T16:13:45.589524+00:00\",\"email\":\"test-update_an_on_call_email_for_a_user_returns_ok_response-1762964025@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/4b60f346cb0c28a61ac9db60531c8446?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\",\"last_login_time\":null},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 239
      },
      {
        "_id": "c3f852770d9090d8dc5e6fe34a4bddc7",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"active\":true,\"address\":\"test-update_an_on_call_email_for_a_user_returns_ok_response-1762964025@datadoghq.com\",\"alias\":\"\",\"formats\":[\"html\"]},\"type\":\"emails\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/on-call/users/9079b462-bfe2-11f0-a49d-e64699b8fdba/notification-channels/emails"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 329,
            "text": "{\"data\":{\"id\":\"9a61f64e-3092-4654-ac91-5f0ffdaf96cb\",\"type\":\"emails\",\"attributes\":{\"active\":true,\"address\":\"test-update_an_on_call_email_for_a_user_returns_ok_response-1762964025@datadoghq.com\",\"alias\":\"\",\"blocked\":false,\"created_at\":\"2025-11-12T16:13:45.834889Z\",\"formats\":[\"html\"],\"modified_at\":\"2025-11-12T16:13:45.834889Z\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 155
      },
      {
        "_id": "7f01f7fe9c5cf6cc2ab16aae281294ab",
        "request": {
          "headers": [
     [...]
