{
  "log": {
    "_recordingName": "Model Lab API/Get a Model Lab project returns \"Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "780290a4e07c79c67498e7b29804b37d",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/model-lab-api/projects/999999"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 67,
            "text": "{\"errors\":[{\"title\":\"Generic Error\",\"detail\":\"project not found\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 200
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
