{
  "log": {
    "_recordingName": "Model Lab API/Download artifact content returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "5b6a41ee15aa359ff07c61e1ab091c87",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/model-lab-api/artifacts/content?project_id=2387&artifact_path=f635c73b70594ab6bb6e212cdf87d0d5%2Fartifacts%2Flora_model%2Fadapter_config.json"
        },
        "response": {
          "content": {
            "mimeType": "application/octet-stream",
            "size": 4,
            "text": "data"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/octet-stream"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 200
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
