{
  "log": {
    "_recordingName": "Service Level Objectives/Get SLO report status returns \"Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "e125de256617e51106a601185433c302",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/slo/report/2b468c54-f2a7-11ee-b0b4-ffe56bb6ad43/status"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 103,
            "text": "{\"errors\":[{\"title\":\"Not Found\",\"detail\":\"report ID not found: 2b468c54-f2a7-11ee-b0b4-ffe56bb6ad43\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 111
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
