{
  "log": {
    "_recordingName": "Logs/Search logs returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "ab02ecda3eb0ffe08358e7f7bba415b7",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"filter\":{\"from\":\"2020-09-17T11:48:36+01:00\",\"indexes\":[\"main\"],\"query\":\"datadog-agent\",\"to\":\"2020-09-17T12:48:36+01:00\"},\"page\":{\"limit\":5},\"sort\":\"timestamp\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/events/search"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 165,
            "text": "{\"data\":[],\"meta\":{\"elapsed\":0,\"request_id\":\"pddv1ChZDajdxSjQ4ZFJOT1VyZ2xURmRrSW5BIi0KHTBXibXkWStvRXkS72BJw44UvhZhIF-UDmT52UYhEgyW3j58vq2SlrrUWNc\",\"status\":\"done\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 112
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
