{
  "log": {
    "_recordingName": "Cloud Cost Management/Delete a budget returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "50e68a9711b6c1e3b05fb2b1ce6d74f1",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/cost/budget/1"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 79,
            "text": "{\"errors\":[{\"status\":\"400\",\"title\":\"Bad Request\",\"detail\":\"invalid budgetId\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 393
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
