{
  "log": {
    "_recordingName": "Metrics/List tag indexing rules returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "9199c78f2fbe0bb26569c17bb24023e5",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/metrics/tag-indexing-rules"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 223,
            "text": "{\"data\":[],\"meta\":{\"total\":0},\"links\":{\"self\":\"https://api.datadoghq.com/api/v2/metrics/tag-indexing-rules\",\"first\":\"https://api.datadoghq.com/api/v2/metrics/tag-indexing-rules?page%5Blimit%5D=100\\u0026page%5Boffset%5D=0\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 44
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
