{
  "log": {
    "_recordingName": "App Builder/Delete Multiple Apps returns \"Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "1985a4f5d72d8db352eb2875f2a0cb9d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "DELETE",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":[{\"id\":\"aea2ed17-b45f-40d0-ba59-c86b7972c901\",\"type\":\"appDefinitions\"},{\"id\":\"f69bb8be-6168-4fe7-a30d-370256b6504a\",\"type\":\"appDefinitions\"},{\"id\":\"ab1ed73e-13ad-4426-b0df-a0ff8876a088\",\"type\":\"appDefinitions\"}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/app-builder/apps"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 51,
            "text": "{\"errors\":[{\"title\":\"one or more apps not found\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 69
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
