{
  "log": {
    "_recordingName": "Google Chat Integration/Get organization handle returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "5936779457e7b618c71d16afb9ec3105",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Get_organization_handle_returns_OK_response-1768443698\",\"space_resource_name\":\"spaces/AAQA-zFIks8\"}},\"type\":\"google-chat-organization-handle\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integration/google-chat/organizations/e54cb570-c674-529c-769d-84b312288ed7/organization-handles"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 260,
            "text": "{\"data\":{\"id\":\"7a4e4593-fd25-4171-9ed0-54e2542a8fcf\",\"type\":\"google-chat-organization-handle\",\"attributes\":{\"name\":\"Test-Get_organization_handle_returns_OK_response-1768443698\",\"space_display_name\":\"api-test-space\",\"space_resource_name\":\"spaces/AAQA-zFIks8\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 351
      },
      {
        "_id": "e9dcb62087a0c1c7c314fd6650f432db",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integration/google-chat/organizations/e54cb570-c674-529c-769d-84b312288ed7/organization-handles/7a4e4593-fd25-4171-9ed0-54e2542a8fcf"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 2[...]
