{
  "log": {
    "_recordingName": "Logs/Search test logs returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "a558df44d2f5e0455b6ebb6712bdb660",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"index\":\"main\",\"query\":\"service:web*\",\"sort\":\"asc\",\"time\":{\"from\":\"2022-03-16T19:19:15.972Z\",\"timezone\":\"Europe/Paris\",\"to\":\"2022-03-16T20:19:15.972Z\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/logs-queries/list"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 159,
            "text": "{\"status\":\"done\",\"nextLogId\":null,\"logs\":[],\"requestId\":\"pddv1ChY1NmxlTHZVZlFpNnN6WGJLQUg4VGNBIi0KHfuLOnaa0UteA_7Jc4dRCbmb4YhQqyZLVXBRZ-eSEgzkoIm-nmhrtG8HKG0\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 333
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
