{
  "log": {
    "_recordingName": "Logs/Search test logs returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "890e093bccf21b75e55b714c7817f11a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"index\":\"main\",\"query\":\"service:web*\",\"sort\":\"asc\",\"time\":{\"from\":1647382403,\"timezone\":null,\"to\":1647386003}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/logs-queries/list"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 158,
            "text": "{\"status\":\"done\",\"nextLogId\":null,\"logs\":[],\"requestId\":\"pddv1ChZfR3ZZcHF6V1FuaW1JNldXNFhxb0dRIiwKHFSYsKzMf0f-bbFLDzkRwB5TyxiNZ6pZwCMDugsSDBrfRT5ki0RHe-JkqQ\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 374
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
