{
  "log": {
    "_recordingName": "Actions Datastores/Put datastore item returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "6574cf7e1c5524e145d2b92f9fa74d2c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"description\":\"\",\"name\":\"Test Datastore\",\"org_access\":\"contributor\",\"primary_column_name\":\"id\",\"primary_key_generation_strategy\":\"none\"},\"type\":\"datastores\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/actions-datastores"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 74,
            "text": "{\"data\":{\"id\":\"722ffe40-682f-4368-be01-c37c69b4f270\",\"type\":\"datastores\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 152
      },
      {
        "_id": "8c25a3803e98339b227cb4c4b6fb2b21",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/actions-datastores/722ffe40-682f-4368-be01-c37c69b4f270"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 386,
            "text": "{\"data\":{\"id\":\"722ffe40-682f-4368-be01-c37c69b4f270\",\"type\":\"datastores\",\"attributes\":{\"created_at\":\"2025-08-08T20:31:01.804875Z\",\"creator_user_id\":1445416,\"creator_user_uuid\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"description\":\"\",\"modified_at\":\"2025-08-08T20:31:01.804875Z\",\"name\":\"Test Datastore\",\"org_id\":321813,\"primary_column_name\":\"id\",\"primary_key_generation_strategy\":\"none\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 147
      },
      {
        "_id": "4e036a16e6172fa336cb3a904b9b844c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"value\":{\"data\":\"example data\",\"id\":\"new-item-key\",\"key\":\"value\"}},\"id\":\"e7e64418-b60c-4789-9612-895ac8423207\",\"type\":\"items\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/actions-datastores/722ffe40-682f-4368-be01-c37c69b4f270/items"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 69,
            "text": "{\"data\":{\"id\":\"a081eee3-f7be-4bfd-89dc-a0be86358698\",\"type\":\"items\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 145
      },
      {
        "_id": "dd233735bcff941a7af1adf9c9cfe629",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "DELETE",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"id\":\"e7e64418-b60c-4789-9612-895ac8423207\",\"item_key\":\"new-item-key\"},\"id\":\"e7e64418-b60c-4789-9612-895ac8423207\",\"type\":\"items\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/actions-datastores/e7e64418-b60c-4789-9612-895ac8423207/items"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 44,
            "text": "{\"errors\":[{\"title\":\"datastore not found\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 112
      },
      {
        "_id": "966416e94ca71f72b983109baf0b42dd",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/actions-datastores/722ffe40-682f-4368-be01-c37c69b4f270"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 74,
            "text": "{\"data\":{\"id\":\"722ffe40-682f-4368-be01-c37c69b4f270\",\"type\":\"datastores\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 131
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
