{
  "log": {
    "_recordingName": "Security Monitoring/Get details of a signal-based notification rule returns \"Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "0026f70f05fe8623231cee2a2db002ee",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/security/signals/notification_rules/000-000-000"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 75,
            "text": "{\"errors\":[\"not_found(Notification rule with id '000-000-000' not found)\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 445
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
