{
  "log": {
    "_recordingName": "Downtimes/Get active downtimes for a monitor returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "6cee0725d8bf888a456844604a4a6896",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/monitor/35534610/downtime_matches"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 220,
            "text": "{\"data\":[{\"type\":\"downtime_match\",\"id\":\"aeefc6a8-15d8-11ee-a8ef-da7ad0900002\",\"attributes\":{\"groups\":[\"*\"],\"scope\":\"*\",\"start\":\"2023-06-28T17:23:57.324000+00:00\",\"end\":null}}],\"meta\":{\"page\":{\"total_filtered_count\":1}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 203
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
