{
  "log": {
    "_recordingName": "Usage Metering/Get hourly usage for Synthetics API Checks returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "5c137a4c6a721730f3131cadd394a89a",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "start_hr",
              "value": "2022-03-29T15:43:44.039Z"
            },
            {
              "name": "end_hr",
              "value": "2022-03-27T15:43:44.039Z"
            }
          ],
          "url": "https://api.datadoghq.com/api/v1/usage/synthetics_api?start_hr=2022-03-29T15%3A43%3A44.039Z&end_hr=2022-03-27T15%3A43%3A44.039Z"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 78,
            "text": "{\"errors\": [\"start_hr [YYYY-MM-DDThh] must be before end_hr [YYYY-MM-DDThh]\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 227
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
