{
  "log": {
    "_recordingName": "Okta Integration/Add Okta account returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "1f7ad4881024ab95f4420e8ba9f41dcd",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"auth_method\":\"oauth\",\"client_id\":\"client_id\",\"client_secret\":\"client_secret\",\"domain\":\"https://example.okta.com/\",\"name\":\"Okta_Prod\"},\"id\":\"f749daaf-682e-4208-a38d-c9b43162c609\",\"type\":\"okta-accounts\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integrations/okta/accounts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 195,
            "text": "{\"data\":{\"type\":\"okta-accounts\",\"attributes\":{\"domain\":\"https://example.okta.com/\",\"client_id\":\"client_id\",\"auth_method\":\"oauth\",\"name\":\"Okta_Prod\"},\"id\":\"6330b376-d352-4a06-a169-107002bd6e6c\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 496
      },
      {
        "_id": "04f5a1b2c6f2e4d89bc5c35c0ba0f5ba",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integrations/okta/accounts/6330b376-d352-4a06-a169-107002bd6e6c"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=utf-8",
            "size": 0
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=utf-8"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 441
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
