{
  "log": {
    "_recordingName": "Cloud Cost Management/Update Cloud Cost Management AWS CUR config returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "3d1897f424b7f709a4463db53df00727",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\": {\"attributes\": {\"is_enabled\": true}, \"type\": \"aws_cur_config_patch_request\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/cost/aws_cur_config/100"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 401,
            "text": "{\"data\": [{\"type\": \"aws_cur_config\", \"id\": 100, \"attributes\": {\"account_id\": \"000000000000\", \"bucket_name\": \"test_bucket_name\", \"bucket_region\": \"us-east-1\", \"report_prefix\": \"cur-report-hourly\", \"report_name\": \"cur-hourly\", \"months\": 15, \"updated_at\": \"2023-10-18T08:15:45.265597\", \"created_at\": \"2022-07-25T17:19:47.190482\", \"status\": \"active\", \"status_updated_at\": \"2023-11-08T22:47:55.372330\", \"error_messages\": []}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 463
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
