{
  "log": {
    "_recordingName": "Logs Custom Destinations/Create a Splunk custom destination with an empty string sourcetype returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "8f9868734882068ec4ad8e924082c5d3",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"enabled\":false,\"forward_tags\":false,\"forwarder_destination\":{\"access_token\":\"my-access-token\",\"endpoint\":\"https://example.com\",\"sourcetype\":\"\",\"type\":\"splunk_hec\"},\"name\":\"Nginx logs\",\"query\":\"source:nginx\"},\"type\":\"custom_destination\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/config/custom-destinations"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 358,
            "text": "{\"data\":{\"id\":\"cb6c24f4-f420-42dd-bc86-ce51e03f7968\",\"attributes\":{\"name\":\"Nginx logs\",\"query\":\"source:nginx\",\"enabled\":false,\"forwarder_destination\":{\"endpoint\":\"https://example.com\",\"type\":\"splunk_hec\",\"sourcetype\":\"\"},\"forward_tags_restriction_list_type\":\"ALLOW_LIST\",\"forward_tags_restriction_list\":[],\"forward_tags\":false},\"type\":\"custom_destination\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1034
      },
      {
        "_id": "2868263b6837d9dc48b20187b7a96820",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/config/custom-destinations/cb6c24f4-f420-42dd-bc86-ce51e03f7968"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=utf-8",
            "size": 0
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=utf-8"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 510
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
