{
  "log": {
    "_recordingName": "Security Monitoring/List assets SBOMs returns \"Bad request: Invalid pagination token.\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ba0ed496453ce8e10a2316ea3ab92b2f",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page",
              "value": {
                "number": "1",
                "token": "SERVICE:unknown"
              }
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/security/sboms?page%5Btoken%5D=SERVICE%3Aunknown&page%5Bnumber%5D=1"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 65,
            "text": "{\"errors\":[{\"status\":\"400\",\"title\":\"Unexpected internal error\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 4108
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
