{
  "log": {
    "_recordingName": "Application Security/Get a WAF exclusion filter returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "f87651cfcb9ddb71c4de1be9e301b3e8",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"description\":\"My Exclusion Filter\",\"enabled\":true,\"parameters\":[\"list.search.query\"],\"path_glob\":\"*\",\"rules_target\":[{\"tags\":{\"category\":\"attack_attempt\",\"type\":\"xss\"}}],\"scope\":[{\"env\":\"staging\",\"service\":\"event-query\"}]},\"type\":\"exclusion_filter\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/remote_config/products/asm/waf/exclusion_filters"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1221,
            "text": "{\"data\":{\"id\":\"6f9d3e8a-b867-4d11-9164-48cd8eb517d3\",\"type\":\"exclusion_filter\",\"attributes\":{\"description\":\"My Exclusion Filter\",\"enabled\":true,\"metadata\":{\"added_at\":\"2025-02-25T19:11:31Z\",\"added_by\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\",\"added_by_name\":\"CI Account\"},\"parameters\":[\"list.search.query\"],\"path_glob\":\"*\",\"rules_target\":[{\"tags\":{\"category\":\"attack_attempt\",\"type\":\"xss\"}}],\"scope\":[{\"env\":\"staging\",\"service\":\"event-query\"}],\"search_query\":\"(env:staging AND service:\\\"event-query\\\") AND ((@appsec.triggers.rule_matches.parameters.address:server.request.query AND (@appsec.triggers.rule_matches.parameters.key:list.search.query OR @appsec.triggers.rule_matches.parameters.params.key:list.search.query)) OR (@appsec.triggers.rule_matches.parameters.address:server.request.body AND (@appsec.triggers.rule_matches.parameters.key:list.search.query OR @appsec.triggers.rule_matches.parameters.params.key:list.search.query)) OR (@appsec.triggers.rule_matches.parameters.address:server.request.path_params AND (@appsec.triggers.rule_matches.parameters.key:list.search.query OR @appsec.triggers.rule_matches.parameters.params.key:list.search.query))) AND (@appsec.category:attack_attempt AND @appsec.type:xss)\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 930
      },
      {
        "_id": "2fffbb548f3261a78f7937e0523acd34",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/remote_config/products/asm/waf/exclusion_filters/6f9d3e8a-b867-4d11-9164-48cd8eb517d3"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1221,
            "text": "{\"data\":{\"id\":\"6f9d3e8a-[...]
