{
  "log": {
    "_recordingName": "Agentless Scanning/Patch AWS Scan Options returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "e763923bd6b81f3cdf1c455c5d136e8d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/agentless_scanning/accounts/aws/000000000003"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 91,
            "text": "{\"errors\":[{\"status\":\"400\",\"title\":\"Bad Request\",\"detail\":\"unexpected end of JSON input\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 454
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
