{
  "log": {
    "_recordingName": "Cloud Cost Management/Update Google Cloud Usage Cost config returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "4791b2719a72d972c851305d33a4e62c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"is_enabled\":true},\"type\":\"gcp_uc_config_patch_request\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/cost/gcp_uc_config/100"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 569,
            "text": "{\"data\":{\"id\":\"100\",\"type\":\"gcp_uc_config\",\"attributes\":{\"account_id\":\"123456_A123BC_12AB34\",\"bucket_name\":\"dd-cloud-cost-management\",\"created_at\":\"2024-04-29T13:10:37.514046\",\"dataset\":\"billing\",\"error_messages\":null,\"export_prefix\":\"datadog_cloud_cost\",\"export_project_name\":\"datadog-cloud-cost\",\"months\":15,\"project_id\":\"\",\"service_account\":\"test@datadoghq.com\",\"status\":\"active\",\"status_updated_at\":\"2025-06-14T00:50:28.556876\",\"updated_at\":\"2025-06-14T00:50:28.556873\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 127
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
