{
  "log": {
    "_recordingName": "Actions Datastores/Bulk put datastore items returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "6574cf7e1c5524e145d2b92f9fa74d2c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"description\":\"\",\"name\":\"Test Datastore\",\"org_access\":\"contributor\",\"primary_column_name\":\"id\",\"primary_key_generation_strategy\":\"none\"},\"type\":\"datastores\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/actions-datastores"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 74,
            "text": "{\"data\":{\"id\":\"b8810dcd-7be8-4911-ada2-f2730504be0a\",\"type\":\"datastores\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 155
      },
      {
        "_id": "35e230e76d3727f306afe0de43e3d91e",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/actions-datastores/b8810dcd-7be8-4911-ada2-f2730504be0a"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 386,
            "text": "{\"data\":{\"id\":\"b8810dcd-7be8-4911-ada2-f2730504be0a\",\"type\":\"datastores\",\"attributes\":{\"created_at\":\"2025-08-08T20:30:54.066512Z\",\"creator_user_id\":1445416,\"creator_user_uuid\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"description\":\"\",\"modified_at\":\"2025-08-08T20:30:54.066512Z\",\"name\":\"Test Datastore\",\"org_id\":321813,\"primary_column_name\":\"id\",\"primary_key_generation_strategy\":\"none\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 167
      },
      {
        "_id": "96e736bb2c6f5cbbfe014a56e8819682",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"values\":[{\"id\":\"key1\",\"value\":{\"data\":\"example data 1\",\"key\":\"value\"}},{\"badPrimaryKey\":\"key2\",\"value\":{\"data\":\"example data 2\",\"key\":\"value\"}}]},\"id\":\"b8810dcd-7be8-4911-ada2-f2730504be0a\",\"type\":\"items\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/actions-datastores/b8810dcd-7be8-4911-ada2-f2730504be0a/items/bulk"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 113,
            "text": "{\"errors\":[{\"title\":\"item key missing or invalid\",\"detail\":\"item at index 1: primary column \\\"id\\\" is missing\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 155
      },
      {
        "_id": "6e48d67a2e5deafe4612ba82ba9217e4",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/actions-datastores/b8810dcd-7be8-4911-ada2-f2730504be0a"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 74,
            "text": "{\"data\":{\"id\":\"b8810dcd-7be8-4911-ada2-f2730504be0a\",\"type\":\"datastores\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 148
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
