{
  "log": {
    "_recordingName": "Teams/Create team connections returns \"Created\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "957a279ba415a087b7debc6f6abf841e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"test-handle-8d5b9953d168d107\",\"name\":\"test-name-8d5b9953d168d107\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 661,
            "text": "{\"data\":{\"id\":\"726053a9-9b81-4381-bf91-b96b746f28d9\",\"type\":\"team\",\"attributes\":{\"avatar\":null,\"banner\":11,\"created_at\":\"2026-03-27T09:09:23.174349+00:00\",\"description\":null,\"handle\":\"test-handle-8d5b9953d168d107\",\"hidden_modules\":null,\"is_managed\":false,\"link_count\":0,\"modified_at\":\"2026-03-27T09:09:23.174349+00:00\",\"name\":\"test-name-8d5b9953d168d107\",\"summary\":null,\"user_count\":0,\"visible_modules\":null},\"relationships\":{\"team_links\":{\"data\":[],\"links\":{\"related\":\"/api/v2/team/726053a9-9b81-4381-bf91-b96b746f28d9/links\"}},\"user_team_permissions\":{\"data\":null,\"links\":{\"related\":\"/api/v2/team/726053a9-9b81-4381-bf91-b96b746f28d9/permission-settings\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 563
      },
      {
        "_id": "ce4d9e066e8ab79db845c428225e08b9",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":[{\"attributes\":{\"managed_by\":\"datadog\",\"source\":\"github\"},\"relationships\":{\"connected_team\":{\"data\":{\"id\":\"@MyGitHubAccount/my-team-name\",\"type\":\"github_team\"}},\"team\":{\"data\":{\"id\":\"726053a9-9b81-4381-bf91-b96b746f28d9\",\"type\":\"team\"}}},\"type\":\"team_connection\"}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/connections"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 317,
            "text": "{\"data\":[{\"id\":\"a5c93d48-29bc-11f1-82fc-da7ad0900002\",\"type\":\"team_connection\",\"attributes\":{\"managed_by\":\"[...]
