{
  "log": {
    "_recordingName": "Agentless Scanning/Patch AWS Scan Options returns \"Bad Request\" response 2",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "3e430216fbb129dfd2dc3cd652381205",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"vuln_containers_os\":true,\"vuln_host_os\":true},\"id\":\"000000000005\",\"type\":\"aws_scan_options\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/agentless_scanning/accounts/aws/000000000003"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 106,
            "text": "{\"errors\":[{\"title\":\"Generic Error\",\"detail\":\"data id must be equal to the id provided in the url path\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 295
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
