{
  "log": {
    "_recordingName": "Security Monitoring/Mute security findings returns \"Unprocessable Entity\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "53c23a76c624b9b3333bbf7d895a6cae",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"mute\":{\"description\":\"To be resolved later.\",\"expire_at\":1,\"is_muted\":true,\"reason\":\"RISK_ACCEPTED\"}},\"relationships\":{\"findings\":{\"data\":[{\"id\":\"ZGVmLTAwcC1pZXJ-aS0wZjhjNjMyZDNmMzRlZTgzNw==\",\"type\":\"findings\"}]}},\"type\":\"mute\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/security/findings/mute"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 139,
            "text": "{\"errors\":[{\"status\":\"422\",\"title\":\"Invalid Request\",\"detail\":\"Invalid expiration date. Please provide an expiration date in the future\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 422,
          "statusText": "Unprocessable Entity"
        },
        "time": 383
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
