{
  "log": {
    "_recordingName": "Synthetics/Search Synthetic tests with boolean query parameters",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "1e11963d271730b493953ca218c6dc16",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "include_full_config",
              "value": "true"
            },
            {
              "name": "search_suites",
              "value": "true"
            },
            {
              "name": "facets_only",
              "value": "true"
            },
            {
              "name": "start",
              "value": "10"
            },
            {
              "name": "count",
              "value": "5"
            },
            {
              "name": "sort",
              "value": "name,desc"
            }
          ],
          "url": "https://api.datadoghq.com/api/v1/synthetics/tests/search?include_full_config=true&search_suites=true&facets_only=true&start=10&count=5&sort=name%2Cdesc"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 35,
            "text": "{\"tests\":[],\"total\":0,\"facets\":[]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 315
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
