{
  "log": {
    "_recordingName": "Cloud Cost Management/Delete arbitrary cost rule returns \"No Content\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "fe56610784550285b6372c39e2b6b8f5",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/cost/arbitrary_rule/123456"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 189
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
