{
  "log": {
    "_recordingName": "Teams/Create a team link returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "000681389fa98b8b0ae8e31f523c6647",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"test-handle-5e6a036c358c6bff\",\"name\":\"test-name-5e6a036c358c6bff\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 661,
            "text": "{\"data\":{\"id\":\"66d6e3d2-f7ea-4946-bc93-b11db5b9bed4\",\"type\":\"team\",\"attributes\":{\"avatar\":null,\"banner\":12,\"created_at\":\"2026-01-23T11:00:12.132142+00:00\",\"description\":null,\"handle\":\"test-handle-5e6a036c358c6bff\",\"hidden_modules\":null,\"is_managed\":false,\"link_count\":0,\"modified_at\":\"2026-01-23T11:00:12.132142+00:00\",\"name\":\"test-name-5e6a036c358c6bff\",\"summary\":null,\"user_count\":0,\"visible_modules\":null},\"relationships\":{\"team_links\":{\"data\":[],\"links\":{\"related\":\"/api/v2/team/66d6e3d2-f7ea-4946-bc93-b11db5b9bed4/links\"}},\"user_team_permissions\":{\"data\":null,\"links\":{\"related\":\"/api/v2/team/66d6e3d2-f7ea-4946-bc93-b11db5b9bed4/permission-settings\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 433
      },
      {
        "_id": "08edb3bea0fe0d8b05eb1385e52b7be0",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"label\":\"Link label\",\"position\":0,\"url\":\"https://example.com\"},\"type\":\"team_links\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/66d6e3d2-f7ea-4946-bc93-b11db5b9bed4/links"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 201,
            "text": "{\"data\":{\"type\":\"team_links\",\"id\":\"b0c50a40-f84a-11f0-a7c6-da7ad0900002\",\"attributes\":{\"team_id\":\"66d6e3d2-f7ea-4946-bc93-b11db5b9bed4\",\"label\":\"Link label\",\"url\":\"https://example.com\",\"position\":0}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 407
      },
      {
        "_id": "6b0a2065344497ac59843293e3dda0f1",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/66d6e3d2-f7ea-4946-bc93-b11db5b9bed4/links/b0c50a40-f84a-11f0-a7c6-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 423
      },
      {
        "_id": "ae0032e17a7ea8c160291533d949aa45",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/66d6e3d2-f7ea-4946-bc93-b11db5b9bed4"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 442
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
