{
  "log": {
    "_recordingName": "Teams/Create a team link returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "a01888ccc8a91a5bb0ae392e22b7bcc2",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"handle-afaf5e790c917aca\",\"name\":\"name-afaf5e790c917aca\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 550,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"53f8fe40-ef4f-11ed-b67f-da7ad0900002\",\"attributes\":{\"name\":\"name-afaf5e790c917aca\",\"handle\":\"handle-afaf5e790c917aca\",\"summary\":null,\"description\":null,\"color\":0,\"created_at\":\"2023-05-10T16:25:50.863797+00:00\",\"modified_at\":\"2023-05-10T16:25:50.863804+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/53f8fe40-ef4f-11ed-b67f-da7ad0900002/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/53f8fe40-ef4f-11ed-b67f-da7ad0900002/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 170
      },
      {
        "_id": "84e8c7d1479efe8ac2817b69e869cd6e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"label\":\"Link label\",\"position\":0,\"url\":\"https://example.com\"},\"type\":\"team_links\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/53f8fe40-ef4f-11ed-b67f-da7ad0900002/links"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 201,
            "text": "{\"data\":{\"type\":\"team_links\",\"id\":\"54179a26-ef4f-11ed-a9ba-da7ad0900002\",\"attributes\":{\"team_id\":\"53f8fe40-ef4f-11ed-b67f-da7ad0900002\",\"label\":\"Link label\",\"url\":\"https://example.com\",\"position\":0}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 162
      },
      {
        "_id": "3b4cc6a55e5c228a0b880eb0b1148ab0",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/53f8fe40-ef4f-11ed-b67f-da7ad0900002/links/54179a26-ef4f-11ed-a9ba-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 230
      },
      {
        "_id": "c69be77a962450bbba1ad7f4986914fc",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/53f8fe40-ef4f-11ed-b67f-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 255
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
