{
  "log": {
    "_recordingName": "Teams/Create a team link returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "9f844089cdc44324444246bb44921286",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"handle-80cbaea63059dc94\",\"name\":\"name-80cbaea63059dc94\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 540,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"a6db485a-20d9-11ee-ad41-da7ad0900002\",\"attributes\":{\"name\":\"name-80cbaea63059dc94\",\"handle\":\"handle-80cbaea63059dc94\",\"summary\":null,\"description\":null,\"created_at\":\"2023-07-12T17:29:27.442364+00:00\",\"modified_at\":\"2023-07-12T17:29:27.442369+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/a6db485a-20d9-11ee-ad41-da7ad0900002/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/a6db485a-20d9-11ee-ad41-da7ad0900002/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 174
      },
      {
        "_id": "f88607f3081a7c3b60d11c8c6e791d13",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"label\":\"Link label\",\"position\":0,\"url\":\"https://example.com\"},\"type\":\"team_links\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/a6db485a-20d9-11ee-ad41-da7ad0900002/links"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 201,
            "text": "{\"data\":{\"type\":\"team_links\",\"id\":\"a6f9e918-20d9-11ee-b537-da7ad0900002\",\"attributes\":{\"team_id\":\"a6db485a-20d9-11ee-ad41-da7ad0900002\",\"label\":\"Link label\",\"url\":\"https://example.com\",\"position\":0}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 148
      },
      {
        "_id": "ffb6cebee7e97230aa539111861c70dc",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/a6db485a-20d9-11ee-ad41-da7ad0900002/links/a6f9e918-20d9-11ee-b537-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 153
      },
      {
        "_id": "ad0d3fee1ef3bfee6f83cf4209b42665",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/a6db485a-20d9-11ee-ad41-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 187
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
