{
  "log": {
    "_recordingName": "App Builder/Create Publish Request returns \"Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "508a80cf33133708bdc3428c09046235",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"description\":\"Adds new dashboard widgets and a few bug fixes.\",\"title\":\"Release v1.2 to production\"},\"type\":\"publishRequest\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/app-builder/apps/7addb29b-f935-472c-ae79-d1963979a23e/publish-request"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 167,
            "text": "{\"errors\":[{\"status\":\"404\",\"id\":\"c9247d40-2291-4860-90ac-9c2441ff23db\",\"title\":\"app not found\",\"detail\":\"app with id 7addb29b-f935-472c-ae79-d1963979a23e not found\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 324
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
