{
  "log": {
    "_recordingName": "Data Access Controls/Create a Data Access Control dataset returns \"Conflict\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "9afbe4de1a01216793a5958a7f6a808d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Security Audit DAC\",\"principals\":[\"role:94172442-be03-11e9-a77a-3b7612558ac1\"],\"product_filters\":[{\"filters\":[\"@application.id:ABCD\"],\"product\":\"logs\"}]},\"type\":\"dataset\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/datasets"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 248,
            "text": "{\"data\":{\"type\":\"dataset\",\"id\":\"fc61b4b4-d05a-4cba-b109-0d123141056e\",\"attributes\":{\"name\":\"Security Audit DAC\",\"product_filters\":[{\"product\":\"logs\",\"filters\":[\"@application.id:ABCD\"]}],\"principals\":[\"role:94172442-be03-11e9-a77a-3b7612558ac1\"]}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 303
      },
      {
        "_id": "9afbe4de1a01216793a5958a7f6a808d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Security Audit DAC\",\"principals\":[\"role:94172442-be03-11e9-a77a-3b7612558ac1\"],\"product_filters\":[{\"filters\":[\"@application.id:ABCD\"],\"product\":\"logs\"}]},\"type\":\"dataset\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/datasets"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 110,
            "text": "{\"errors\":[\"Invalid request: [DatasetNameConflict] dataset with name \\\"Security Audit DAC\\\" already exists\"]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 409,
          "statusText": "Conflict"
        },
        "time": 185
      },
      {
        "_id": "7b7b60d3c568c7753c0a34c20939b781",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/datasets/fc61b4b4-d05a-4cba-b109-0d123141056e"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 0
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 262
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
