{
  "log": {
    "_recordingName": "Action Connection/Unregister an App Key returns \"Bad request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "fa8b002a48d8a19d81afbdef3f1d9081",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/actions/app_key_registrations/not_valid_app_key_id"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 135,
            "text": "{\"errors\":[{\"status\":\"400\",\"title\":\"Invalid Parameter\",\"detail\":\"invalid parameter \\\"appKeyId\\\" in \\\"path\\\"; expected type \\\"uuid\\\"\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 132
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
