{
  "log": {
    "_recordingName": "Teams/Get a team returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "079057ab6d5bf183e08a6a7459312bc2",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"test-handle-df7035850d3d2bf3\",\"name\":\"test-name-df7035850d3d2bf3\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 619,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"2f0a0aae-405b-11ee-8fd8-da7ad0900002\",\"attributes\":{\"name\":\"test-name-df7035850d3d2bf3\",\"handle\":\"test-handle-df7035850d3d2bf3\",\"summary\":null,\"description\":null,\"avatar\":null,\"banner\":null,\"visible_modules\":[],\"hidden_modules\":[],\"created_at\":\"2023-08-21T19:44:47.044918+00:00\",\"modified_at\":\"2023-08-21T19:44:47.044924+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/2f0a0aae-405b-11ee-8fd8-da7ad0900002/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/2f0a0aae-405b-11ee-8fd8-da7ad0900002/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 176
      },
      {
        "_id": "231ca4d150f19a2eca93606e210860c0",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/2f0a0aae-405b-11ee-8fd8-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 550,
            "text": "{\"data\":{\"type\":\"team\",\"attributes\":{\"handle\":\"test-handle-df70[...]
