{
  "log": {
    "_recordingName": "Teams/Get a team returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "c8a4b8f9e05c2ac614ce6eb5d424e843",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"handle-7af7a34f5bc3a40e\",\"name\":\"name-7af7a34f5bc3a40e\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 540,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"a91019b6-20d9-11ee-b538-da7ad0900002\",\"attributes\":{\"name\":\"name-7af7a34f5bc3a40e\",\"handle\":\"handle-7af7a34f5bc3a40e\",\"summary\":null,\"description\":null,\"created_at\":\"2023-07-12T17:29:31.144067+00:00\",\"modified_at\":\"2023-07-12T17:29:31.144076+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/a91019b6-20d9-11ee-b538-da7ad0900002/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/a91019b6-20d9-11ee-b538-da7ad0900002/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 199
      },
      {
        "_id": "2d3eb60b9f2bc9405b064bc51dbbcdf6",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/a91019b6-20d9-11ee-b538-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 540,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"a91019b6-20d9-11ee-b538-da7ad0900002[...]
