{
  "log": {
    "_recordingName": "Teams/Get a team returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "9454f2261b917c007ec2ad092fd2d373",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"1679941987\",\"name\":\"1679941987\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 527,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"d1a59ae6-cccd-11ed-9cff-da7ad0900002\",\"attributes\":{\"name\":\"1679941987\",\"handle\":\"1679941987\",\"summary\":null,\"description\":null,\"color\":11,\"created_at\":\"2023-03-27T18:33:07.600350+00:00\",\"modified_at\":\"2023-03-27T18:33:07.600354+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/d1a59ae6-cccd-11ed-9cff-da7ad0900002/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/d1a59ae6-cccd-11ed-9cff-da7ad0900002/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 274
      },
      {
        "_id": "92d4057e4404dd79387f2690942ee2b3",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/d1a59ae6-cccd-11ed-9cff-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 527,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"d1a59ae6-cccd-11ed-9cff-da7ad0900002[...]
