{
  "log": {
    "_recordingName": "Teams/Get a team returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "88d393b02f131491a190fca51efecd77",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"handle-e0e86339571d8748\",\"name\":\"name-e0e86339571d8748\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 551,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"55f7da86-ef4f-11ed-a7ea-da7ad0900002\",\"attributes\":{\"name\":\"name-e0e86339571d8748\",\"handle\":\"handle-e0e86339571d8748\",\"summary\":null,\"description\":null,\"color\":12,\"created_at\":\"2023-05-10T16:25:54.211532+00:00\",\"modified_at\":\"2023-05-10T16:25:54.211539+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/55f7da86-ef4f-11ed-a7ea-da7ad0900002/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/55f7da86-ef4f-11ed-a7ea-da7ad0900002/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 237
      },
      {
        "_id": "b1b1bc0bf1b38b21eafe3c0440556c3a",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/55f7da86-ef4f-11ed-a7ea-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 551,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"55f7da86-ef4f-11ed-a7ea-da7ad0900002[...]
