{
  "log": {
    "_recordingName": "Notebooks/Update a notebook returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "03ceae444d78ad015f7cfd2884688d91",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"cells\":[{\"attributes\":{\"definition\":{\"text\":\"# Test-Update_a_notebook_returns_OK_response-1620726241 notebook text\",\"type\":\"markdown\"}},\"type\":\"notebook_cells\"}],\"name\":\"Test-Update_a_notebook_returns_OK_response-1620726241\",\"time\":{\"live_span\":\"1h\"}},\"type\":\"notebooks\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/notebooks"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 672,
            "text": "{\"data\":{\"type\":\"notebooks\",\"id\":774059,\"attributes\":{\"name\":\"Test-Update_a_notebook_returns_OK_response-1620726241\",\"cells\":[{\"attributes\":{\"definition\":{\"text\":\"# Test-Update_a_notebook_returns_OK_response-1620726241 notebook text\",\"type\":\"markdown\"}},\"type\":\"notebook_cells\",\"id\":\"a478wmz5\"}],\"time\":{\"live_span\":\"1h\"},\"status\":\"published\",\"modified\":\"2021-05-11T09:44:01.829087+00:00\",\"created\":\"2021-05-11T09:44:01.829087+00:00\",\"author\":{\"name\":null,\"handle\":\"frog@datadoghq.com\",\"email\":\"frog@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro\",\"title\":null,\"verified\":true,\"disabled\":false,\"status\":\"Active\"}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.4503153"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "30"
            },
            {
              "name": "x-ratelimit-period",
              "value": "60"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "59"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "29"
            },
            {
              "name": "x-dd-debug",
              "value": "SY1h8ScsWq+kYmtbh63ltMLFAZsQjqfrgvdfAoRX+9TzT1sgMBRYaFRwfWWRRe9a"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 449,
      },
      {
        "_id": "7ea7725106ab7eaba23ac072f0321c44",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/notebooks/774059"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 0
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.4503153"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "30"
            },
            {
              "name": "x-ratelimit-period",
              "value": "60"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "58"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "29"
            },
            {
              "name": "x-dd-debug",
              "value": "HbtaOKlJ6OCrx9tMXO6ivMTrEM+g0c93HDp08trmOmgdHozC5J+vn10F0H4WPjCU"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 402,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
