{
  "log": {
    "_recordingName": "Teams/Create a team returns \"API error response.\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "9a70da6a83674041c8404673bb5c53fd",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"handle-8b8486a76bc6e6a1\",\"name\":\"name-8b8486a76bc6e6a1\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 550,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"547c6370-ef4f-11ed-9672-da7ad0900002\",\"attributes\":{\"name\":\"name-8b8486a76bc6e6a1\",\"handle\":\"handle-8b8486a76bc6e6a1\",\"summary\":null,\"description\":null,\"color\":9,\"created_at\":\"2023-05-10T16:25:51.725343+00:00\",\"modified_at\":\"2023-05-10T16:25:51.725347+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/547c6370-ef4f-11ed-9672-da7ad0900002/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/547c6370-ef4f-11ed-9672-da7ad0900002/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 153
      },
      {
        "_id": "3b86549e67df4386dc6d3e4baea22f46",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"handle-8b8486a76bc6e6a1\",\"name\":\"Example Team\"},\"relationships\":{\"users\":{\"data\":[]}},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 50,
            "text": "{\"errors\":[\"Team name and handle must be unique\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 409,
          "statusText": "Conflict"
        },
        "time": 199
      },
      {
        "_id": "ed24bb44863dbd48d29f26b6098ba426",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/547c6370-ef4f-11ed-9672-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 229
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
