{
  "log": {
    "_recordingName": "Teams/Create a team returns \"API error response.\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "c1377e7e7f3b1cba3293bb03762c3f94",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"handle-c12045e3c85ab6fe\",\"name\":\"name-c12045e3c85ab6fe\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 540,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"a74521bc-20d9-11ee-be22-da7ad0900002\",\"attributes\":{\"name\":\"name-c12045e3c85ab6fe\",\"handle\":\"handle-c12045e3c85ab6fe\",\"summary\":null,\"description\":null,\"created_at\":\"2023-07-12T17:29:28.136431+00:00\",\"modified_at\":\"2023-07-12T17:29:28.136436+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/a74521bc-20d9-11ee-be22-da7ad0900002/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/a74521bc-20d9-11ee-be22-da7ad0900002/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 157
      },
      {
        "_id": "a77c17c311e54bfeff731070ff9cfb7a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"handle-c12045e3c85ab6fe\",\"name\":\"Example Team\"},\"relationships\":{\"users\":{\"data\":[]}},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 50,
            "text": "{\"errors\":[\"Team name and handle must be unique\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 409,
          "statusText": "Conflict"
        },
        "time": 130
      },
      {
        "_id": "deacc6dea1932f0eb6c1f37f2e44beaa",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/a74521bc-20d9-11ee-be22-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 151
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
