{
  "log": {
    "_recordingName": "Seats/Unassign seats from users returns \"Unprocessable Entity\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "fec9890aa71a751826f2bf6bd9801ec6",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "DELETE",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"product_code\":\"\",\"user_uuids\":[\"\"]},\"type\":\"seat-assignments\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/seats/users"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 74,
            "text": "{\"errors\":[{\"title\":\"Generic Error\",\"detail\":\"product_code is required\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 422,
          "statusText": "Unprocessable Entity"
        },
        "time": 100
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
