{
  "log": {
    "_recordingName": "Azure Integration/Delete an Azure integration returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ec5c767f06e1050e7e4ae86f2390402b",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"app_service_plan_filters\":\"key:value,filter:example\",\"automute\":true,\"client_id\":\"17026607-0000-0000-0000-170266078000\",\"client_secret\":\"testingx./Sw*g/Y33t..R1cH+hScMDt\",\"container_app_filters\":\"key:value,filter:example\",\"cspm_enabled\":true,\"custom_metrics_enabled\":true,\"errors\":[\"*\"],\"host_filters\":\"key:value,filter:example\",\"new_client_id\":\"17026607-0000-0000-0000-170266078000\",\"new_tenant_name\":\"17026607-0000-0000-0000-170266078000\",\"resource_collection_enabled\":true,\"tenant_name\":\"17026607-0000-0000-0000-170266078000\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/integration/azure"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 3,
            "text": "{}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1841
      },
      {
        "_id": "1279e6d64bf0e65f888af25d7fbe9143",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "DELETE",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"app_service_plan_filters\":\"key:value,filter:example\",\"automute\":true,\"c[...]
