{
  "log": {
    "_recordingName": "Azure Integration/Delete an Azure integration returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "5b0e587d65f9d856930b854130684f9e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"app_service_plan_filters\":\"key:value,filter:example\",\"automute\":true,\"client_id\":\"17779030-0000-0000-0000-177790301100\",\"client_secret\":\"TestingRh2nx664kUy5dIApvM54T4AtO\",\"container_app_filters\":\"key:value,filter:example\",\"cspm_enabled\":true,\"custom_metrics_enabled\":true,\"errors\":[\"*\"],\"host_filters\":\"key:value,filter:example\",\"metrics_enabled\":true,\"metrics_enabled_default\":true,\"new_client_id\":\"17779030-0000-0000-0000-177790301100\",\"new_tenant_name\":\"17779030-0000-0000-0000-177790301100\",\"resource_collection_enabled\":true,\"resource_provider_configs\":[{\"metrics_enabled\":false,\"namespace\":\"Microsoft.Compute\"},{\"metrics_enabled\":false,\"namespace\":\"Microsoft.Web\"}],\"secretless_auth_enabled\":false,\"tenant_name\":\"17779030-0000-0000-0000-177790301100\",\"usage_metrics_enabled\":true}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/integration/azure"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 3,
            "text": "{}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 228
      },
      {
        "_id": "2f4523165b50e11603de9353579d1f96",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "DELETE",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"client_id\":\"17779030-0000-0000-0000-177790301100\",\"tenant_name\":\"1777903[...]
