{
  "log": {
    "_recordingName": "Service Level Objectives/Get SLO report status returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "4da3123406546976444f9b7b9d0496c5",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/slo/report/invalid-report-id/status"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 89,
            "text": "{\"errors\":[{\"title\":\"Invalid Argument\",\"detail\":\"invalid report ID: invalid-report-id\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 92
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
