{
  "log": {
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "315fbb2a1c6840672ddf70846fbd17d2",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-List_access_tokens_for_a_service_account_returns_OK_response-1776369790@datadoghq.com\",\"service_account\":true,\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/service_accounts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 737,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"4b3b0a2c-39cf-11f1-bf73-ce6d1c25b9b4\",\"attributes\":{\"uuid\":\"4b3b0a2c-39cf-11f1-bf73-ce6d1c25b9b4\",\"name\":null,\"handle\":\"4b3b0a2c-39cf-11f1-bf73-ce6d1c25b9b4\",\"created_at\":\"2026-04-16T20:03:10.837056+00:00\",\"modified_at\":\"2026-04-16T20:03:10.837056+00:00\",\"email\":\"test-list_access_tokens_for_a_service_account_returns_ok_response-1776369790@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/0a5772e4c2381e3c1061e55142e2281a?s=48&d=retro\",\"title\":\"user title\",\"verified\":true,\"service_account\":true,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Active\",\"last_login_time\":null},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 346
      },
      {
        "_id": "e891763083f67504ebf6c0d63c473dbc",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/service_accounts/4b3b0a2c-39cf-11f1-bf73-ce6d1c25b9b4/access_tokens"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 54,
            "text": "{\"data\":[],\"meta\":{\"page\":{\"total_filtered_count\":0}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 250
      },
      {
        "_id": "03782f84f04fb21002b4e3f5ca9577df",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users/4b3b0a2c-39cf-11f1-bf73-ce6d1c25b9b4"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 1705
      }
    ],
    "pages": [],
    "version": "1.2",
    "_recordingName": "Service Accounts/List access tokens for a service account returns \"OK\" response"
  }
}
