{
  "log": {
    "_recordingName": "Powerpack/Delete a powerpack returns \"Powerpack Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "dd73ef5607341c40b6f7dd83e9d1898d",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/powerpacks/made-up-id"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 62,
            "text": "{\"errors\":[\"Powerpack has invalid UUID made-up-id not found\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 234
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
