{
  "log": {
    "_recordingName": "Observability Pipelines/Validate an observability pipeline with source secret key returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "abf3ef3d218bce08cf81f3126665181b",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"config\":{\"destinations\":[{\"id\":\"datadog-logs-destination\",\"inputs\":[\"my-processor-group\"],\"type\":\"datadog_logs\"}],\"processor_groups\":[{\"enabled\":true,\"id\":\"my-processor-group\",\"include\":\"service:my-service\",\"inputs\":[\"http-client-source\"],\"processors\":[{\"enabled\":true,\"id\":\"filter-processor\",\"include\":\"status:error\",\"type\":\"filter\"}]}],\"sources\":[{\"auth_strategy\":\"bearer\",\"decoding\":\"bytes\",\"id\":\"http-client-source\",\"scrape_interval_secs\":15,\"scrape_timeout_secs\":5,\"token_key\":\"HTTP_CLIENT_TOKEN\",\"type\":\"http_client\"}]},\"name\":\"Pipeline with Source Secret\"},\"type\":\"pipelines\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/validate"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 14,
            "text": "{\"errors\":[]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 375
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
