{
  "log": {
    "_recordingName": "Dashboards/Create a new dashboard with logs_stream list_stream widget and storage parameter",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "aa0d9edff3604891a702252c9873ed3d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"layout_type\":\"ordered\",\"title\":\"Test-Create_a_new_dashboard_with_logs_stream_list_stream_widget_and_storage_parameter-1731699167 with list_stream widget\",\"widgets\":[{\"definition\":{\"requests\":[{\"columns\":[{\"field\":\"timestamp\",\"width\":\"auto\"}],\"query\":{\"data_source\":\"logs_stream\",\"query_string\":\"\",\"storage\":\"hot\"},\"response_format\":\"event_list\"}],\"type\":\"list_stream\"}}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 787,
            "text": "{\"id\":\"dbj-z8f-jps\",\"title\":\"Test-Create_a_new_dashboard_with_logs_stream_list_stream_widget_and_storage_parameter-1731699167 with list_stream widget\",\"description\":null,\"author_handle\":\"frog@datadoghq.com\",\"author_name\":null,\"layout_type\":\"ordered\",\"url\":\"/dashboard/dbj-z8f-jps/test-createanewdashboardwithlogsstreamliststreamwidgetandstorageparameter-173169\",\"is_read_only\":false,\"template_variables\":null,\"widgets\":[{\"definition\":{\"requests\":[{\"columns\":[{\"field\":\"timestamp\",\"width\":\"auto\"}],\"query\":{\"data_source\":\"logs_stream\",\"query_string\":\"\",\"storage\":\"hot\"},\"response_format\":\"event_list\"}],\"type\":\"list_stream\"},\"id\":4149027757234322}],\"notify_list\":null,\"created_at\":\"2024-11-15T19:32:47.158374+00:00\",\"modified_at\":\"2024-11-15T19:32:47.158374+00:00\",\"restricted_roles\":[]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 226
      },
      {
        "_id": "25004f6c3b77139cb38f66de09a8c6e6",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/dbj-z8f-jps"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 39,
            "text": "{\"deleted_dashboard_id\":\"dbj-z8f-jps\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 163
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
