{
  "log": {
    "_recordingName": "Dashboards/Create a new dashboard with logs_stream list_stream widget and storage parameter",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "040f7b07e54de867af1dfcac77afa2c9",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"layout_type\":\"ordered\",\"title\":\"Test-Create_a_new_dashboard_with_logs_stream_list_stream_widget_and_storage_parameter-1731611549 with list_stream widget\",\"widgets\":[{\"definition\":{\"requests\":[{\"columns\":[{\"field\":\"timestamp\",\"width\":\"auto\"}],\"query\":{\"data_source\":\"logs_stream\",\"query_string\":\"\",\"storage\":\"hot\"},\"response_format\":\"event_list\"}],\"type\":\"list_stream\"}}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 807,
            "text": "{\"id\":\"u2y-5dh-mxx\",\"title\":\"Test-Create_a_new_dashboard_with_logs_stream_list_stream_widget_and_storage_parameter-1731611549 with list_stream widget\",\"description\":null,\"author_handle\":\"anika.maskara@datadoghq.com\",\"author_name\":\"Anika Maskara\",\"layout_type\":\"ordered\",\"url\":\"/dashboard/u2y-5dh-mxx/test-createanewdashboardwithlogsstreamliststreamwidgetandstorageparameter-173161\",\"is_read_only\":false,\"template_variables\":null,\"widgets\":[{\"definition\":{\"requests\":[{\"columns\":[{\"field\":\"timestamp\",\"width\":\"auto\"}],\"query\":{\"data_source\":\"logs_stream\",\"query_string\":\"\",\"storage\":\"hot\"},\"response_format\":\"event_list\"}],\"type\":\"list_stream\"},\"id\":2341700770963801}],\"notify_list\":null,\"created_at\":\"2024-11-14T19:12:29.821235+00:00\",\"modified_at\":\"2024-11-14T19:12:29.821235+00:00\",\"restricted_roles\":[]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 204
      },
      {
        "_id": "c26c3bd434e2b0fbc53756524f162a55",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/u2y-5dh-mxx"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 39,
            "text": "{\"deleted_dashboard_id\":\"u2y-5dh-mxx\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 224
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
