{
  "log": {
    "_recordingName": "Key Management/Delete an Application key owned by current user returns \"No Content\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "247f4769744b8d3211617b9463eda5eb",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Delete_an_Application_key_owned_by_current_user_returns_No_Content_response-1652349125\"},\"type\":\"application_keys\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/current_user/application_keys"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 454,
            "text": "{\"data\":{\"type\":\"application_keys\",\"id\":\"c1469afb-30e6-4b63-81ab-4ba8436e5150\",\"attributes\":{\"name\":\"Test-Delete_an_Application_key_owned_by_current_user_returns_No_Content_response-1652349125\",\"created_at\":\"2022-05-12T09:52:05.932111+00:00\",\"last4\":\"xxxx\",\"key\":\"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\"scopes\":null},\"relationships\":{\"owned_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}},\"leak_information\":{\"data\":null}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 443
      },
      {
        "_id": "133ea7e94aca9c3e7ca708e4c11db523",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/current_user/application_keys/c1469afb-30e6-4b63-81ab-4ba8436e5150"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 503
      },
      {
        "_id": "133ea7e94aca9c3e7ca708e4c11db523",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/current_user/application_keys/c1469afb-30e6-4b63-81ab-4ba8436e5150"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 41,
            "text": "{\"errors\": [\"Application key not found\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 430
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
