{
  "log": {
    "_recordingName": "Key Management/Delete an Application key owned by current user returns \"No Content\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "9d61df24c3776cc23ac6f38dbb69ebe3",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Delete_an_Application_key_owned_by_current_user_returns_No_Content_response-1641826583\"},\"type\":\"application_keys\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/current_user/application_keys"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 421,
            "text": "{\"data\":{\"type\":\"application_keys\",\"id\":\"8c0eeda4-0be7-4ff3-a84f-d107adc6345c\",\"attributes\":{\"name\":\"Test-Delete_an_Application_key_owned_by_current_user_returns_No_Content_response-1641826583\",\"created_at\":\"2022-01-10T14:56:24.051310+00:00\",\"last4\":\"xxxx\",\"key\":\"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\"scopes\":null},\"relationships\":{\"owned_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 408
      },
      {
        "_id": "1d4ff09c24a2500175ba279489538a5e",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/current_user/application_keys/8c0eeda4-0be7-4ff3-a84f-d107adc6345c"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 359
      },
      {
        "_id": "1d4ff09c24a2500175ba279489538a5e",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/current_user/application_keys/8c0eeda4-0be7-4ff3-a84f-d107adc6345c"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 41,
            "text": "{\"errors\": [\"Application key not found\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 380
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
