{
  "log": {
    "_recordingName": "Key Management/Delete an Application key owned by current user returns \"No Content\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "fc4e00d3837076aa597211d1ecce3b9d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Delete_an_Application_key_owned_by_current_user_returns_No_Content_response-1639757114\"},\"type\":\"application_keys\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/current_user/application_keys"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 407,
            "text": "{\"data\":{\"type\":\"application_keys\",\"id\":\"2499c07f-33c7-4da2-8ae2-54ffa00acee7\",\"attributes\":{\"name\":\"Test-Delete_an_Application_key_owned_by_current_user_returns_No_Content_response-1639757114\",\"created_at\":\"2021-12-17T16:05:15.396041+00:00\",\"last4\":\"beef\",\"key\":\"deaddcc81a44288fbbbfb15efe1203df034abeef\"},\"relationships\":{\"owned_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 448
      },
      {
        "_id": "319bef6a8e2925aedbc1ab6f6830e654",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/current_user/application_keys/2499c07f-33c7-4da2-8ae2-54ffa00acee7"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 354
      },
      {
        "_id": "319bef6a8e2925aedbc1ab6f6830e654",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/current_user/application_keys/2499c07f-33c7-4da2-8ae2-54ffa00acee7"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 41,
            "text": "{\"errors\": [\"Application key not found\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 415
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
