{
  "log": {
    "_recordingName": "Synthetics/Create an API test with WEBSOCKET subtype returns \"OK - Returns the created test details.\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "2a448c37dd4044dd1c0eaacf771bb7e1",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"config\":{\"assertions\":[{\"operator\":\"is\",\"target\":\"message\",\"type\":\"receivedMessage\"},{\"operator\":\"lessThan\",\"target\":2000,\"type\":\"responseTime\"}],\"configVariables\":[],\"request\":{\"message\":\"message\",\"url\":\"ws://datadoghq.com\"}},\"locations\":[\"aws:us-east-2\"],\"message\":\"BDD test payload: synthetics_api_test_websocket_payload.json\",\"name\":\"Test-Create_an_API_test_with_WEBSOCKET_subtype_returns_OK_Returns_the_created_test_details_response-1636999665\",\"options\":{\"accept_self_signed\":false,\"allow_insecure\":true,\"follow_redirects\":true,\"min_failure_duration\":10,\"min_location_failed\":1,\"monitor_name\":\"Test-Create_an_API_test_with_WEBSOCKET_subtype_returns_OK_Returns_the_created_test_details_response-1636999665\",\"monitor_priority\":5,\"retry\":{\"count\":3,\"interval\":10},\"tick_every\":60},\"subtype\":\"websocket\",\"tags\":[\"testing:api\"],\"type\":\"api\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/synthetics/tests/api"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1039,
            "text": "{\"status\":\"live\",\"public_id\":\"7f2-txy-a7p\",\"tags\":[\"testing:api\"],\"org_id\":321813,\"locations\":[\"aws:us-east-2\"],\"message\":\"BDD test payload: synthetics_api_test_websocket_payload.json\",\"deleted_at\":null,\"name\":\"Test-Create_an_API_test_with_WEBSOCKET_subtype_returns_OK_Returns_the_created_test_details_response-1636999665\",\"monitor_id\":54531314,\"type\":\"api\",\"created_at\":\"2021-11-15T18:07:46.215484+00:00\",\"modified_at\":\"2021-11-15T18:07:46.215484+00:00\",\"subtype\":\"websocket\",\"config\":{\"request\":{\"url\":\"ws://datadoghq.com\",\"message\":\"message\"},\"assertions\":[{\"operator\":\"is\",\"type\":\"receivedMessage\",\"target\":\"message\"},{\"operator\":\"lessThan\",\"type\":\"responseTime\",\"target\":2000}],\"configVariables\":[]},\"options\":{\"accept_self_signed\":false,\"retry\":{\"count\":3,\"interval\":10},\"min_location_failed\":1,\"allow_insecure\":true,\"follow_redirects\":true,\"min_failure_duration\":10,\"monitor_priority\":5,\"monitor_name\":\"Test-Create_an_API_test_with_WEBSOCKET_subtype_returns_OK_Returns_the_created_test_details_response-1636999665\",\"tick_every\":60}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 345,
      },
      {
        "_id": "139366de8ae213158bd70ca04c990462",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"public_ids\":[\"7f2-txy-a7p\"]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/synthetics/tests/delete"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 95,
            "text": "{\"deleted_tests\":[{\"deleted_at\":\"2021-11-15T18:07:46.397039+00:00\",\"public_id\":\"7f2-txy-a7p\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 159,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
