{
  "log": {
    "_recordingName": "Security Monitoring/Mute or unmute a batch of findings returns \"Bad Request: The server cannot process the request due to invalid syntax in the request.\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "7f5142bf339ffb9752fa65def5a69971",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"mute\":{\"expirationDate\":1778721573794,\"muted\":\"true\",\"reason\":\"ACCEPTED_RISK\"}},\"id\":\"dbe5f567-192b-4404-b908-29b70e1c9f76\",\"meta\":{\"findings\":[{\"finding_id\":\"ZGVmLTAwcC1pZXJ-aS0wZjhjNjMyZDNmMzRlZTgzNw==\"}]},\"type\":\"finding\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/posture_management/findings"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 153,
            "text": "{\"errors\":[{\"status\":\"400\",\"title\":\"Bad Request\",\"detail\":\"json: cannot unmarshal number into Go struct field Mute.mute.expirationDate of type string\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 357
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
