{
  "log": {
    "_recordingName": "Security Monitoring/Update a custom framework returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "21310561f91f0b188ee231a5429699ea",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"UpdateacustomframeworkreturnsOKresponse\",\"icon_url\":\"test-url\",\"name\":\"name\",\"requirements\":[{\"controls\":[{\"name\":\"control\",\"rules_id\":[\"def-000-be9\"]}],\"name\":\"requirement\"}],\"version\":\"10\"},\"type\":\"custom_framework\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/cloud_security_management/custom_frameworks"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 167,
            "text": "{\"data\":{\"id\":\"UpdateacustomframeworkreturnsOKresponse-10\",\"type\":\"custom_framework\",\"attributes\":{\"handle\":\"UpdateacustomframeworkreturnsOKresponse\",\"version\":\"10\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 486
      },
      {
        "_id": "95dab5955e7566e3e165ad793c905e8f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"UpdateacustomframeworkreturnsOKresponse\",\"[...]
