{
  "log": {
    "_recordingName": "Monitors/Validate an existing monitor user template returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "a1f1ed0406861a63df03201b95f61c3c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"description\":\"It's a threshold\",\"monitor_definition\":{\"message\":\"cats\",\"name\":\"High Error Rate on service\",\"query\":\"avg(last_5m):sum:system.net.bytes_rcvd{host:host0} > 100\",\"type\":\"query alert\"},\"tags\":[\"category:test\"],\"template_variables\":[{\"available_values\":[],\"defaults\":[\"cats\"],\"name\":\"scope\"}],\"title\":\"api spec given template test-validate_an_existing_monitor_user_template_returns_ok_response-1748486185\"},\"type\":\"monitor-user-template\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/monitor/template"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 675,
            "text": "{\"data\":{\"type\":\"monitor-user-template\",\"attributes\":{\"created\":\"2025-05-29T02:36:25.594440+00:00\",\"version\":0,\"description\":\"It's a threshold\",\"tags\":[\"category:test\"],\"modified\":\"2025-05-29T02:36:25.594440+00:00\",\"template_variables\":[{\"defaults\":[\"cats\"],\"available_values\":[],\"name\":\"scope\"}],\"creator_uuid\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"monitor_definition\":{\"message\":\"cats\",\"name\":\"High Error Rate on service\",\"query\":\"avg(last_5m):sum:system.net.bytes_rcvd{host:host0} > 100\",\"type\":\"query alert\"},\"title\":\"api spec given template test-validate_an_existing_monitor_user_template_returns_ok_response-1748486185\"},\"id\":\"dc86b1ba-9e7c-40cf-8859-777c53e4f1a2\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 224
      },
      {
        "_id": "44843b13a4fbbc2b9a6f4b0cc7939173",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"description\":\"A description.\",\"monitor_definition\":{\"message\":\"A msg.\",\"name\":\"A name test-validate_an_existing_monitor_user_template_returns_ok_response-1748486185\",\"query\":\"avg(last_5m):sum:system.net.bytes_rcvd{host:host0} > 100\",\"type\":\"query alert\"},\"tags\":[\"integration:Azure\"],\"template_variables\":[{\"available_values\":[\"value1\",\"value2\"],\"defaults\":[\"defaultValue\"],\"name\":\"regionName\",\"tag_key\":\"datacenter\"}],\"title\":\"Postgres DB test-validate_an_existing_monitor_user_template_returns_ok_response-1748486185\"},\"id\":\"00000000-0000-1234-0000-000000000000\",\"type\":\"monitor-user-template\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/monitor/template/dc86b1ba-9e7c-40cf-8859-777c53e4f1a2/validate"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=utf-8",
            "size": 0
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=utf-8"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 197
      },
      {
        "_id": "cca70ead64a7b4e948c827025fee95f4",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/monitor/template/dc86b1ba-9e7c-40cf-8859-777c53e4f1a2"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=utf-8",
            "size": 0
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=utf-8"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 142
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
