{
  "log": {
    "_recordingName": "Usage Metering/Get hourly usage for observability pipelines returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "7ad3c36a52e7ef43c7304f72ee9a3530",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "start_hr",
              "value": "2023-10-11T15:14:35.114Z"
            },
            {
              "name": "end_hr",
              "value": "2023-10-13T15:14:35.114Z"
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/usage/observability_pipelines?start_hr=2023-10-11T15%3A14%3A35.114Z&end_hr=2023-10-13T15%3A14%3A35.114Z"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 2967,
            "text": "{\"data\":[{\"id\":\"b2fd311762e6a3cf23ce2e3dbd80e786a13193c6b28f01b296042c0e2f1264f9\",\"type\":\"usage_timeseries\",\"attributes\":{\"product_family\":\"observability-pipelines\",\"usage_type\":\"observability_pipelines_bytes_processed\",\"org_name\":\"DD Integration Tests (321813)\",\"public_id\":\"fasjyydbcgwwc2uc\",\"region\":\"us\",\"timeseries\":[{\"timestamp\":\"2023-10-11T15:00:00+00:00\",\"value\":null},{\"timestamp\":\"2023-10-11T16:00:00+00:00\",\"value\":null},{\"timestamp\":\"2023-10-11T17:00:00+00:00\",\"value\":null},{\"timestamp\":\"2023-10-11T18:00:00+00:00\",\"value\":null},{\"timestamp\":\"2023-10-11T19:00:00+00:00\",\"value\":null},{\"timestamp\":\"2023-10-11T20:00:00+00:00\",\"value\":null},{\"timestamp\":\"2023-10-11T21:00:00+00:00\",\"value\":null},{\"timestamp\":\"2023-10-11T22:00:00+00:00\",\"value\":null},{\"timestamp\":\"2023-10-11[...]
