{
  "log": {
    "_recordingName": "Usage Metering/Get hourly usage for observability pipelines returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "b39e4413cd7b49bc9149a98daebd6763",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "start_hr",
              "value": "2025-05-07T12:32:54.286Z"
            },
            {
              "name": "end_hr",
              "value": "2025-05-09T12:32:54.286Z"
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/usage/observability_pipelines?start_hr=2025-05-07T12%3A32%3A54.286Z&end_hr=2025-05-09T12%3A32%3A54.286Z"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 2967,
            "text": "{\"data\":[{\"id\":\"f07b3425278d54ceb000a2b31d0b1268515fc1684d57e39bd567b9d4752c2072\",\"type\":\"usage_timeseries\",\"attributes\":{\"product_family\":\"observability-pipelines\",\"usage_type\":\"observability_pipelines_bytes_processed\",\"org_name\":\"DD Integration Tests (321813)\",\"public_id\":\"fasjyydbcgwwc2uc\",\"region\":\"us\",\"timeseries\":[{\"timestamp\":\"2025-05-07T12:00:00+00:00\",\"value\":null},{\"timestamp\":\"2025-05-07T13:00:00+00:00\",\"value\":null},{\"timestamp\":\"2025-05-07T14:00:00+00:00\",\"value\":null},{\"timestamp\":\"2025-05-07T15:00:00+00:00\",\"value\":null},{\"timestamp\":\"2025-05-07T16:00:00+00:00\",\"value\":null},{\"timestamp\":\"2025-05-07T17:00:00+00:00\",\"value\":null},{\"timestamp\":\"2025-05-07T18:00:00+00:00\",\"value\":null},{\"timestamp\":\"2025-05-07T19:00:00+00:00\",\"value\":null},{\"timestamp\":\"2025-05-07[...]
