{
  "log": {
    "_recordingName": "Dashboards/Create a new dashboard with slo widget",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "fda7297e897d9aa3cc12658f6aad01df",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"Test-Create_a_new_dashboard_with_slo_widget-1640210589\",\"query\":{\"denominator\":\"sum:httpservice.hits{!code:3xx}.as_count()\",\"numerator\":\"sum:httpservice.hits{code:2xx}.as_count()\"},\"thresholds\":[{\"target\":95,\"timeframe\":\"7d\",\"warning\":98}],\"type\":\"metric\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/slo"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 569,
            "text": "{\"data\":[{\"description\":\"\",\"monitor_tags\":[],\"creator\":{\"handle\":\"frog@datadoghq.com\",\"name\":null,\"email\":\"frog@datadoghq.com\"},\"thresholds\":[{\"warning\":98.0,\"warning_display\":\"98.\",\"target\":95.0,\"target_display\":\"95.\",\"timeframe\":\"7d\"}],\"type_id\":1,\"query\":{\"denominator\":\"sum:httpservice.hits{!code:3xx}.as_count()\",\"numerator\":\"sum:httpservice.hits{code:2xx}.as_count()\"},\"id\":\"1e280ec0c98f5fe08fdad90ced08bc36\",\"name\":\"Test-Create_a_new_dashboard_with_slo_widget-1640210589\",\"created_at\":1640210589,\"tags\":[],\"modified_at\":1640210589,\"type\":\"metric\"}],\"error\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 185
      },
      {
        "_id": "c28d89581fb11f86a0046abd062ce7a2",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"description\":\"\",\"is_read_only\":false,\"layout_type\":\"free\",\"notify_list\":[],\"template_variables\":[],\"title\":\"Test-Create_a_new_dashboard_with_slo_widget-1640210589\",\"widgets\":[{\"definition\":{\"global_time_target\":\"0\",\"show_error_budget\":true,\"slo_id\":\"1e280ec0c98f5fe08fdad90ced08bc36\",\"time_windows\":[\"7d\"],\"title_align\":\"left\",\"title_size\":\"16\",\"type\":\"slo\",\"view_mode\":\"overall\",\"view_type\":\"detail\"},\"layout\":{\"height\":21,\"width\":60,\"x\":0,\"y\":0}}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 748,
            "text": "{\"notify_list\":[],\"description\":\"\",\"restricted_roles\":[],\"author_name\":null,\"template_variables\":[],\"is_read_only\":false,\"id\":\"cx9-y3b-anf\",\"title\":\"Test-Create_a_new_dashboard_with_slo_widget-1640210589\",\"url\":\"/dashboard/cx9-y3b-anf/test-createanewdashboardwithslowidget-1640210589\",\"created_at\":\"2021-12-22T22:03:09.751538+00:00\",\"modified_at\":\"2021-12-22T22:03:09.751538+00:00\",\"author_handle\":\"frog@datadoghq.com\",\"widgets\":[{\"definition\":{\"time_windows\":[\"7d\"],\"title_size\":\"16\",\"show_error_budget\":true,\"view_type\":\"detail\",\"title_align\":\"left\",\"slo_id\":\"1e280ec0c98f5fe08fdad90ced08bc36\",\"view_mode\":\"overall\",\"global_time_target\":\"0\",\"type\":\"slo\"},\"layout\":{\"y\":0,\"width\":60,\"x\":0,\"height\":21},\"id\":1266323002332565}],\"layout_type\":\"free\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 241
      },
      {
        "_id": "8452746d24380d62254cdb38eb1612e6",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/cx9-y3b-anf"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 38,
            "text": "{\"deleted_dashboard_id\":\"cx9-y3b-anf\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 216
      },
      {
        "_id": "5974452c46a5df25e1214a51ac7784f9",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/slo/1e280ec0c98f5fe08fdad90ced08bc36"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 58,
            "text": "{\"data\":[\"1e280ec0c98f5fe08fdad90ced08bc36\"],\"error\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 229
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
