{
  "log": {
    "_recordingName": "Dashboards/Create a new dashboard with slo widget",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "43e9b1d452be68d6b2e2e39b09a627fd",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"Test-Create_a_new_dashboard_with_slo_widget-1641430240\",\"query\":{\"denominator\":\"sum:httpservice.hits{!code:3xx}.as_count()\",\"numerator\":\"sum:httpservice.hits{code:2xx}.as_count()\"},\"thresholds\":[{\"target\":95,\"timeframe\":\"7d\",\"warning\":98}],\"type\":\"metric\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/slo"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 569,
            "text": "{\"data\":[{\"description\":\"\",\"monitor_tags\":[],\"creator\":{\"handle\":\"frog@datadoghq.com\",\"name\":null,\"email\":\"frog@datadoghq.com\"},\"thresholds\":[{\"warning\":98,\"warning_display\":\"98.\",\"target\":95,\"target_display\":\"95.\",\"timeframe\":\"7d\"}],\"type_id\":1,\"query\":{\"denominator\":\"sum:httpservice.hits{!code:3xx}.as_count()\",\"numerator\":\"sum:httpservice.hits{code:2xx}.as_count()\"},\"id\":\"dda0096b964856baa7e4cae291511f97\",\"name\":\"Test-Create_a_new_dashboard_with_slo_widget-1641430240\",\"created_at\":1641430240,\"tags\":[],\"modified_at\":1641430240,\"type\":\"metric\"}],\"error\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 218
      },
      {
        "_id": "260ff849762d61954538cf71b8e46249",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"description\":\"\",\"is_read_only\":false,\"layout_type\":\"free\",\"notify_list\":[],\"template_variables\":[],\"title\":\"Test-Create_a_new_dashboard_with_slo_widget-1641430240\",\"widgets\":[{\"definition\":{\"global_time_target\":\"0\",\"show_error_budget\":true,\"slo_id\":\"dda0096b964856baa7e4cae291511f97\",\"time_windows\":[\"7d\"],\"title_align\":\"left\",\"title_size\":\"16\",\"type\":\"slo\",\"view_mode\":\"overall\",\"view_type\":\"detail\"},\"layout\":{\"height\":21,\"width\":60,\"x\":0,\"y\":0}}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 748,
            "text": "{\"notify_list\":[],\"description\":\"\",\"restricted_roles\":[],\"author_name\":null,\"template_variables\":[],\"is_read_only\":false,\"id\":\"m5p-qa8-p3i\",\"title\":\"Test-Create_a_new_dashboard_with_slo_widget-1641430240\",\"url\":\"/dashboard/m5p-qa8-p3i/test-createanewdashboardwithslowidget-1641430240\",\"created_at\":\"2022-01-06T00:50:40.523050+00:00\",\"modified_at\":\"2022-01-06T00:50:40.523050+00:00\",\"author_handle\":\"frog@datadoghq.com\",\"widgets\":[{\"definition\":{\"time_windows\":[\"7d\"],\"title_size\":\"16\",\"show_error_budget\":true,\"view_type\":\"detail\",\"title_align\":\"left\",\"slo_id\":\"dda0096b964856baa7e4cae291511f97\",\"view_mode\":\"overall\",\"global_time_target\":\"0\",\"type\":\"slo\"},\"layout\":{\"y\":0,\"width\":60,\"x\":0,\"height\":21},\"id\":8329644624424358}],\"layout_type\":\"free\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 247
      },
      {
        "_id": "adf383274ad2314d7f6872ffd80219b9",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/m5p-qa8-p3i"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 38,
            "text": "{\"deleted_dashboard_id\":\"m5p-qa8-p3i\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 231
      },
      {
        "_id": "15dceac8042f9f8d56ac7501b8e6635d",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/slo/dda0096b964856baa7e4cae291511f97"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 58,
            "text": "{\"data\":[\"dda0096b964856baa7e4cae291511f97\"],\"error\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 214
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
