{
  "log": {
    "_recordingName": "Rum Metrics/Create a rum-based metric returns \"Conflict\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ce744ac5145eeb81ed26b24d00a1d475",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"compute\":{\"aggregation_type\":\"distribution\",\"include_percentiles\":true,\"path\":\"@duration\"},\"event_type\":\"session\",\"filter\":{\"query\":\"source:Test-Create_a_rum_based_metric_returns_Conflict_response-1732807878\"},\"group_by\":[{\"path\":\"@browser.name\",\"tag_name\":\"browser_name\"}],\"uniqueness\":{\"when\":\"match\"}},\"id\":\"testcreatearumbasedmetricreturnsconflictresponse1732807878\",\"type\":\"rum_metrics\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/rum/config/metrics"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 417,
            "text": "{\"data\":{\"id\":\"testcreatearumbasedmetricreturnsconflictresponse1732807878\",\"type\":\"rum_metrics\",\"attributes\":{\"compute\":{\"aggregation_type\":\"distribution\",\"include_percentiles\":true,\"path\":\"@duration\"},\"event_type\":\"session\",\"filter\":{\"query\":\"source:Test-Create_a_rum_based_metric_returns_Conflict_response-1732807878\"},\"group_by\":[{\"path\":\"@browser.name\",\"tag_name\":\"browser_name\"}],\"uniqueness\":{\"when\":\"match\"}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 483
      },
      {
        "_id": "c3a3e4c1d20ae3f22aaf0bcc6df34957",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"compute\":{\"aggregation_type\":\"count\"},\"event_type\":\"action\"},\"id\":\"testcreatearumbasedmetricreturnsconflictresponse1732807878\",\"type\":\"rum_metrics\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/rum/config/metrics"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 228,
            "text": "{\"errors\":[{\"status\":\"409\",\"title\":\"Conflict\",\"detail\":\"conflict(Field 'data.id' is invalid: 'testcreatearumbasedmetricreturnsconflictresponse1732807878' cannot be used as metric name, a metric already exists with that name)\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 409,
          "statusText": "Conflict"
        },
        "time": 305
      },
      {
        "_id": "6e3a0d4bb63e9dc89da8cf0af190715a",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/rum/config/metrics/testcreatearumbasedmetricreturnsconflictresponse1732807878"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 401
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
