{
  "log": {
    "_recordingName": "Usage Metering/Get hourly usage by product family returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "5a771a1873ce8775cbe17d6517274c4a",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "filter",
              "value": {
                "product_families": "infra_hosts",
                "timestamp": {
                  "end": "2025-05-07T12:32:50.132Z",
                  "start": "2025-05-09T12:32:50.132Z"
                }
              }
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/usage/hourly_usage?filter%5Btimestamp%5D%5Bstart%5D=2025-05-09T12%3A32%3A50.132Z&filter%5Btimestamp%5D%5Bend%5D=2025-05-07T12%3A32%3A50.132Z&filter%5Bproduct_families%5D=infra_hosts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 77,
            "text": "{\"errors\":[\"start_hr [YYYY-MM-DDThh] must be before end_hr [YYYY-MM-DDThh]\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 145
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
