{
  "log": {
    "_recordingName": "Usage Metering/Get hourly usage by product family returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "cc496d18a216a654906e24e1671e2b27",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "filter",
              "value": {
                "product_families": "infra_hosts",
                "timestamp": {
                  "end": "2022-07-14T14:57:41.335Z",
                  "start": "2022-07-16T14:57:41.335Z"
                }
              }
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/usage/hourly_usage?filter%5Btimestamp%5D%5Bstart%5D=2022-07-16T14%3A57%3A41.335Z&filter%5Btimestamp%5D%5Bend%5D=2022-07-14T14%3A57%3A41.335Z&filter%5Bproduct_families%5D=infra_hosts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 78,
            "text": "{\"errors\":[\"start_hr [YYYY-MM-DDThh] must be before end_hr [YYYY-MM-DDThh]\"]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 455
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
