{
  "log": {
    "_recordingName": "Deployment Gates/Trigger a deployment gates evaluation returns \"Deployment gate not found.\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "98ce8f93e3674c451f46caec999199e1",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"env\":\"staging\",\"service\":\"non-existent-service-xyz\"},\"type\":\"deployment_gates_evaluation_request\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/deployments/gates/evaluation"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 148,
            "text": "{\"errors\":[{\"status\":\"404\",\"title\":\"Not Found\",\"detail\":\"no gate found for service non-existent-service-xyz, env staging, and identifier default\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 105
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
