{
  "log": {
    "_recordingName": "Security Monitoring/List indicators of compromise returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "02b5fd499f5dcaf4c0c97eb95adecf70",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "query",
              "value": "invalid:::query"
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/security/siem/ioc-explorer?query=invalid%3A%3A%3Aquery"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 166,
            "text": "{\"errors\":[{\"title\":\"Generic Error\",\"detail\":\"invalid query: invalid query: syntax error: no viable alternative at input 'invalid::' at line 1 and char position 8\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 507
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
