{
  "log": {
    "_recordingName": "Workflow Automation/List workflow instances returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "a6ca860d52a9a222f153abb83b441997",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/workflows/malformed/instances"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 105,
            "text": "{\"errors\":[{\"code\":\"INVALID_FIELD_VALUE\",\"detail\":\"value <no value> is invalid for field workflow_id\"}]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 122
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
