{
  "log": {
    "_recordingName": "On-Call/Get On-Call team routing rules returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "b3c3f4cb7ee091e5e85d9b9f183ae6f4",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Get_On_Call_team_routing_rules_returns_OK_response-1749511831@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 705,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"bc907b9d-4589-11f0-90a5-c6be27f34b35\",\"attributes\":{\"name\":null,\"handle\":\"test-get_on_call_team_routing_rules_returns_ok_response-1749511831@datadoghq.com\",\"created_at\":\"2025-06-09T23:30:32.490724+00:00\",\"modified_at\":\"2025-06-09T23:30:32.490724+00:00\",\"email\":\"test-get_on_call_team_routing_rules_returns_ok_response-1749511831@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/282e20cbe2179ced95eabd4f0895be11?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 809
      },
      {
        "_id": "bbae0de6badc32283f329a7f442d41a6",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"test-handle-437ab09a446c969f\",\"name\":\"test-name-437ab09a446c969f\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 636,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"2c5640af-2bbe-4fa7-9912-ffb41692f45a\",\"attributes\":{\"name\":\"test-name-437ab09a446c969f\",\"handle\":\"test-handle-437ab09a446c969f\",\"summary\":null,\"description\":null,\"avatar\":null,\"banner\":13,\"visible_modules\":[],\"hidden_modules\":[],\"created_at\":\"2025-06-09T23:30:33.256609+00:00\",\"modified_at\":\"2025-06-09T23:30:33.256619+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/2c5640af-2bbe-4fa7-9912-ffb41692f45a/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/2c5640af-2bbe-4fa7-9912-ffb41692f45a/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 849
      },
      {
        "_id": "24ee355a6103f3007eac2614c069b37b",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"layers\":[{\"effective_date\":\"2025-05-30T23:30:31.779Z\",\"end_date\":\"2025-06-19T23:30:31.779Z\",\"interval\":{\"days\":1},\"members\":[{\"user\":{\"id\":\"bc907b9d-4589-11f0-90a5-c6be27f34b35\"}}],\"name\":\"Layer 1\",\"restrictions\":[{\"end_day\":\"friday\",\"end_time\":\"17:00:00\",\"start_day\":\"monday\",\"start_time\":\"09:00:00\"}],\"rotation_start\":\"2025-06-04T23:30:31.779Z\"}],\"name\":\"Test-Get_On_Call_team_routing_rules_returns_OK_response-1749511831\",\"time_zone\":\"America/New_York\"},\"relationships\":{\"teams\":{\"data\":[{\"id\":\"65aea9d0-941c-4607-bf8a-14fc0dac2820\",\"type\":\"teams\"}]}},\"type\":\"schedules\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/on-call/schedules"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 375,
            "text": "{\"data\":{\"id\":\"5577a3fa-b188-4de6-974b-15f85012d023\",\"type\":\"schedules\",\"attributes\":{\"name\":\"Test-Get_On_Call[...]
