{
  "log": {
    "_recordingName": "Monitors/Get a monitor notification rule returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "593cae6e8ecc720f3d9737e2a6c63bce",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"filter\":{\"tags\":[\"app:test-get_a_monitor_notification_rule_returns_ok_response-1744280992\"]},\"name\":\"test rule\",\"recipients\":[\"slack-monitor-app\"]},\"type\":\"monitor-notification-rule\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/monitor/notification_rule"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 908,
            "text": "{\"data\":{\"type\":\"monitor-notification-rule\",\"attributes\":{\"created_at\":\"2025-04-10T10:29:52.938158+00:00\",\"filter\":{\"tags\":[\"app:test-get_a_monitor_notification_rule_returns_ok_response-1744280992\"]},\"recipients\":[\"slack-monitor-app\"],\"name\":\"test rule\",\"modified_at\":\"1970-01-01T00:00:00+00:00\"},\"id\":\"97afb4ac-6953-445f-9a0a-d225673449a6\",\"relationships\":{\"created_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}}}},\"included\":[{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"attributes\":{\"name\":\"frog\",\"handle\":\"frog@datadoghq.com\",\"created_at\":\"2019-10-02T08:15:39.795051+00:00\",\"modified_at\":\"2025-04-07T20:19:46.118466+00:00\",\"email\":\"frog@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro\",\"title\":null,\"verified\":true,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Active\"}}]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 471
      },
      {
        "_id": "13218d6883b280c6ceb69913c766f95b",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/monitor/notification_rule/97afb4ac-6953-445f-9a0a-d225673449a6"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 350,
            "text": "{\"data\":{\"type\":\"monitor-notification-rule\",\"a[...]
