{
  "log": {
    "_recordingName": "Monitors/Get a monitor notification rule returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "e37038ee65ddc92602b185fdc405f0f6",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"filter\":{\"tags\":[\"app:test-get_a_monitor_notification_rule_returns_ok_response-1743786636\"]},\"name\":\"test rule\",\"recipients\":[\"slack-monitor-app\"]},\"type\":\"monitor-notification-rule\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/monitor/notification_rule"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 397,
            "text": "{\"data\":{\"type\":\"monitor-notification-rule\",\"id\":\"7e23b1ee-5931-4560-b829-94671910632a\",\"attributes\":{\"recipients\":[\"slack-monitor-app\"],\"creator_uuid\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"created_at\":\"2025-04-04T17:10:37.083846+00:00\",\"modified_at\":\"1970-01-01T00:00:00+00:00\",\"name\":\"test rule\",\"filter\":{\"tags\":[\"app:test-get_a_monitor_notification_rule_returns_ok_response-1743786636\"]}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 128
      },
      {
        "_id": "09980d3a9b49f9369317a20baa5c64b6",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/monitor/notification_rule/7e23b1ee-5931-4560-b829-94671910632a"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 404,
            "text": "{\"data\":{\"type\":\"monitor-notification-rule\",\"a[...]
