{
  "log": {
    "_recordingName": "Downtimes/Update a downtime returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "c8e639c2df31d4c2a2f9c916cb22951e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"message\":\"test message\",\"monitor_identifier\":{\"monitor_tags\":[\"cat:hat\"]},\"schedule\":{\"start\":null},\"scope\":\"test:testupdateadowntimereturnsbadrequestresponse1685739206\"},\"type\":\"downtime\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/downtime"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1156,
            "text": "{\"data\":{\"type\":\"downtime\",\"attributes\":{\"schedule\":{\"start\":\"2023-06-02T20:53:26.854449+00:00\",\"end\":null},\"canceled\":null,\"modified\":\"2023-06-02T20:53:26.869296+00:00\",\"created\":\"2023-06-02T20:53:26.869296+00:00\",\"status\":\"active\",\"monitor_identifier\":{\"monitor_tags\":[\"cat:hat\"]},\"scope\":\"test:testupdateadowntimereturnsbadrequestresponse1685739206\",\"message\":\"test message\",\"display_timezone\":\"UTC\",\"mute_first_recovery_notification\":false,\"notify_end_states\":[\"no data\",\"warn\",\"alert\"],\"notify_end_types\":[\"expired\"]},\"relationships\":{\"monitor\":{\"data\":null},\"created_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}}},\"id\":\"85997dfe-0187-11ee-a1c1-da7ad0900002\"},\"included\":[{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"attributes\":{\"name\":null,\"handle\":\"frog@datadoghq.com\",\"created_at\":\"2019-10-02T08:15:39.795051+00:00\",\"modified_at\":\"2020-06-15T12:33:12.884459+00:00\",\"email\":\"frog@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro\",\"title\":null,\"verified\":true,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Active\"}}]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 332
      },
      {
        "_id": "9ba97ebb2c395ae75c9d9f8cbd7344d5",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"invalid_field\":\"sophon\"},\"id\":\"85997dfe-0187-11ee-a1c1-da7ad0900002\",\"type\":\"downtime\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/downtime/85997dfe-0187-11ee-a1c1-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 85,
            "text": "{\"errors\":[\"Additional properties are not allowed ('invalid_field' was unexpected)\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 264
      },
      {
        "_id": "7a57964044313d02459f91a959c6a6e5",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/downtime/85997dfe-0187-11ee-a1c1-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=utf-8",
            "size": 0
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=utf-8"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 601
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
