{
  "log": {
    "_recordingName": "LLM Observability/Create an LLM Observability prompt returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "f3d970141e23eaa063501d9d107ecc6d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"prompt_id\":\"Test-Create_an_LLM_Observability_prompt_returns_OK_response-1784637113\",\"template\":[{\"content\":\"You are a helpful customer support assistant for {{company_name}}.\",\"role\":\"system\"},{\"content\":\"Help {{customer_name}} with this question: {{question}}\",\"role\":\"user\"}],\"title\":\"Customer Support Assistant\"},\"type\":\"prompt-templates\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/llm-obs/v1/prompts"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 456,
            "text": "{\"data\":{\"id\":\"7d3137ab-7d6a-5358-b791-26ead4540e09\",\"type\":\"prompt-templates\",\"attributes\":{\"author\":\"c5e19e5a-ad6b-11ed-ab4f-927130d31ef9\",\"created_at\":\"2026-07-21T12:31:53.812929348Z\",\"created_from\":\"sdk-registry\",\"in_registry\":true,\"last_version_created_at\":\"2026-07-21T12:31:53.812929348Z\",\"num_versions\":1,\"prompt_id\":\"Test-Create_an_LLM_Observability_prompt_returns_OK_response-1784637113\",\"source\":\"registry\",\"title\":\"Customer Support Assistant\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 753
      },
      {
        "_id": "cf3fd46db31d8c8127b2518c914411af",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/llm-obs/v1/prompts/Test-Create_an_LLM_Observability_prompt_returns_OK_response-1784637113"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 223,
            "text": "{\"data\":{\"id\":\"7d3137ab-7d6a-5358-b791-26ead4540e09\",\"type\":\"prompt-templates\",\"attributes\":{\"deleted_at\":\"2026-07-21T12:31:55.799078Z\",\"prompt_id\":\"Test-Create_an_LLM_Observability_prompt_returns_OK_response-1784637113\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1532
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
