{
  "log": {
    "_recordingName": "Cloud Network Monitoring/Get all aggregated DNS traffic returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ac2ab1d1c240e4f430adcfa916f88152",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "group_by",
              "value": "server_ungrouped,server_service"
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/network/dns/aggregate?group_by=server_ungrouped%2Cserver_service"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 120,
            "text": "{\"errors\":[{\"status\":\"400\",\"title\":\"Cannot combine server_ungrouped with other server groupings or network.dns_query\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 119
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
