{
  "log": {
    "_recordingName": "Service Accounts/Create an application key for this service account returns \"Created\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "408b76404e5bd2a7a37fc9ebb9503764",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Create_an_application_key_for_this_service_account_returns_Created_response-1697105507@datadoghq.com\",\"service_account\":true,\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/service_accounts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 683,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"c0ea5a28-68e7-11ee-af78-7221d1e45f66\",\"attributes\":{\"name\":null,\"handle\":\"c0ea5a28-68e7-11ee-af78-7221d1e45f66\",\"created_at\":\"2023-10-12T10:11:47.838233+00:00\",\"modified_at\":\"2023-10-12T10:11:47.838233+00:00\",\"email\":\"test-create_an_application_key_for_this_service_account_returns_created_response-1697105507@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/45057f7ed4c5662bd175fd2657bf58f2?s=48&d=retro\",\"title\":\"user title\",\"verified\":true,\"service_account\":true,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Active\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 523
      },
      {
        "_id": "ca844fe3751b1fcbd279b7f606b3d259",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Create_an_application_key_for_this_service_account_returns_Created_response-1697105507\"},\"type\":\"application_keys\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/service_accounts/c0ea5a28-68e7-11ee-af78-7221d1e45f66/application_keys"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 455,
            "text": "{\"data\":{\"type\":\"application_keys\",\"id\":\"6315ab43-ce92-4130-b6d2-94ceb5f7142a\",\"attributes\":{\"name\":\"Test-Create_an_application_key_for_this_service_account_returns_Created_response-1697105507\",\"created_at\":\"2023-10-12T10:11:48.340554+00:00\",\"last4\":\"xxxx\",\"key\":\"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\"scopes\":null},\"relationships\":{\"owned_by\":{\"data\":{\"type\":\"users\",\"id\":\"c0ea5a28-68e7-11ee-af78-7221d1e45f66\"}},\"leak_information\":{\"data\":null}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 586
      },
      {
        "_id": "2feba032f01cffcc66d0ea685b50c651",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v[...]
