{
  "log": {
    "_recordingName": "Service Level Objectives/Get SLO report returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "049812a6c9109ec024bcd35771cb37a4",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/slo/report/9fb2dc2a-ead0-11ee-a174-9fe3a9d7627f/download"
        },
        "response": {
          "content": {
            "mimeType": "text/csv",
            "size": 103,
            "text": "id,slo_type,name,target,export_error,2023-08-01,2023-09-01,2023-10-01,2023-11-01,2023-12-01,2024-01-01\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/csv"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 479
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
