{
  "log": {
    "_recordingName": "Logs Pipelines/Create a pipeline with Array Processor Key Value Operation with target and override_on_conflict returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "8006e6f111dc406b021bbe08658f6562",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"filter\":{\"query\":\"source:python\"},\"name\":\"testPipelineArrayKeyValueTarget\",\"processors\":[{\"is_enabled\":true,\"name\":\"extract_kv_to_target\",\"operation\":{\"key_to_extract\":\"name\",\"override_on_conflict\":true,\"source\":\"tags\",\"target\":\"extracted\",\"type\":\"key-value\",\"value_to_extract\":\"value\"},\"type\":\"array-processor\"}],\"tags\":[]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/logs/config/pipelines"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 415,
            "text": "{\"id\":\"LsxyDpcbTL6KztluS2oBYA\",\"type\":\"pipeline\",\"name\":\"testPipelineArrayKeyValueTarget\",\"is_enabled\":false,\"is_read_only\":false,\"filter\":{\"query\":\"source:python\"},\"processors\":[{\"name\":\"extract_kv_to_target\",\"is_enabled\":true,\"operation\":{\"source\":\"tags\",\"target\":\"extracted\",\"key_to_extract\":\"name\",\"value_to_extract\":\"value\",\"override_on_conflict\":true,\"type\":\"key-value\"},\"type\":\"array-processor\"}],\"tags\":[]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 213
      },
      {
        "_id": "9fecd787c0a1eb0222c4750b3ed0218f",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/logs/config/pipelines/LsxyDpcbTL6KztluS2oBYA"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 3,
            "text": "{}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 398
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
