{
  "log": {
    "_recordingName": "Fastly Integration/Get Fastly account returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "4419270cbd410fb41a2467c7e6ed6420",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"api_key\":\"TestGetFastlyaccountreturnsOKresponse1668185676\",\"name\":\"test-name\",\"services\":[]},\"type\":\"fastly-accounts\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integrations/fastly/accounts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 124,
            "text": "{\"data\":{\"attributes\":{\"services\":[],\"name\":\"test-name\"},\"type\":\"fastly-accounts\",\"id\":\"42ed7da188c8af4a6964376d49bb7caa\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 848
      },
      {
        "_id": "309abbacf40bde4931eeb2f3ad9d7e24",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integrations/fastly/accounts/42ed7da188c8af4a6964376d49bb7caa"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 124,
            "text": "{\"data\":{\"attributes\":{\"services\":[],\"name\":\"[...]
