{
  "log": {
    "_recordingName": "Logs Restriction Queries/Get all restriction queries for a given user returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "b8fe3d2ea18fea088096c2a003119d19",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Get_all_restriction_queries_for_a_given_user_returns_OK_response-1763149479@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 756,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"5bde5c10-c192-11f0-924a-766f31fff523\",\"attributes\":{\"name\":null,\"handle\":\"test-get_all_restriction_queries_for_a_given_user_returns_ok_response-1763149479@datadoghq.com\",\"created_at\":\"2025-11-14T19:44:39.917112+00:00\",\"modified_at\":\"2025-11-14T19:44:39.917112+00:00\",\"email\":\"test-get_all_restriction_queries_for_a_given_user_returns_ok_response-1763149479@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/876b69d93fda39b3d7945f71e37894b0?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\",\"last_login_time\":null},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 139
      },
      {
        "_id": "deb2ac3730fb7855cd3a469dcfba5ebb",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/config/restriction_queries/user/5bde5c10-c192-11f0-924a-766f31fff523"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 12,
            "text": "{\"data\":[]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 93
      },
      {
        "_id": "844e84398f5b5e709b6c63ba0981fa91",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users/5bde5c10-c192-11f0-924a-766f31fff523"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 166
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
