{
  "log": {
    "_recordingName": "Security Monitoring/Mute or unmute a batch of findings returns \"Invalid Request: The server understands the request syntax but cannot process it due to invalid data.\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "c83c5b8ca5c9e72e375c40f4d4bd1f6d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"mute\":{\"expiration_date\":1778721573794,\"muted\":true,\"reason\":\"ACCEPTED_RISK\"}},\"id\":\"dbe5f567-192b-4404-b908-29b70e1c9f76\",\"meta\":{\"findings\":[{\"finding_id\":\"AQAAAYbb1i0gijTHEQAAAABBWWJiMWkwZ0FBQ2FuNzBJVGZXZ3B3QUE\"}]},\"type\":\"finding\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/posture_management/findings"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 98,
            "text": "{\"errors\":[{\"status\":\"422\",\"title\":\"Invalid Request\",\"detail\":\"Some findings IDs are malformed\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 422,
          "statusText": "Unprocessable Entity"
        },
        "time": 496
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
