{
  "log": {
    "_recordingName": "Usage Metering/Get hourly usage for CI visibility returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "5a032e0d101e6db7f2de0b6d0cfb7390",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "start_hr",
              "value": "2023-09-20T18:27:41.222Z"
            },
            {
              "name": "end_hr",
              "value": "2023-09-22T18:27:41.222Z"
            }
          ],
          "url": "https://api.datadoghq.com/api/v1/usage/ci-app?start_hr=2023-09-20T18%3A27%3A41.222Z&end_hr=2023-09-22T18%3A27%3A41.222Z"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 14040,
            "text": "{\"usage\":[{\"hour\":\"2023-09-20T18:00:00+00:00\",\"region\":\"us\",\"ci_visibility_itr_committers\":null,\"ci_visibility_pipeline_committers\":0,\"ci_visibility_test_committers\":0,\"ci_pipeline_indexed_spans\":2,\"ci_test_indexed_spans\":0,\"org_name\":\"DD Integration Tests (321813)\",\"public_id\":\"fasjyydbcgwwc2uc\"},{\"hour\":\"2023-09-20T19:00:00+00:00\",\"region\":\"us\",\"ci_visibility_itr_committers\":null,\"ci_visibility_pipeline_committers\":0,\"ci_visibility_test_committers\":0,\"ci_pipeline_indexed_spans\":null,\"ci_test_indexed_spans\":null,\"org_name\":\"DD Integration Tests (321813)\",\"public_id\":\"fasjyydbcgwwc2uc\"},{\"hour\":\"2023-09-20T20:00:00+00:00\",\"region\":\"us\",\"ci_visibility_itr_committers\":null,\"ci_visibility_pipeline_committers\":0,\"ci_visibility_test_[...]
