{
  "log": {
    "_recordingName": "On-Call/Create an On-Call email for a user returns \"Created\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "2fffc841e75cf2c77366fcfc1ad7daaa",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Create_an_On_Call_email_for_a_user_returns_Created_response-1762959004@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 746,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"dfeeb6f4-bfd6-11f0-8d44-3ae83a1823f8\",\"attributes\":{\"name\":null,\"handle\":\"test-create_an_on_call_email_for_a_user_returns_created_response-1762959004@datadoghq.com\",\"created_at\":\"2025-11-12T14:50:04.935610+00:00\",\"modified_at\":\"2025-11-12T14:50:04.935610+00:00\",\"email\":\"test-create_an_on_call_email_for_a_user_returns_created_response-1762959004@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/fec58aca7d399645eb368db42c5a3cc8?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\",\"last_login_time\":null},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 240
      },
      {
        "_id": "4ecdb8e074d411968f98d77d78e58a14",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"active\":true,\"address\":\"john.doe@datadoghq.com\",\"alias\":\"\",\"formats\":[\"html\"]},\"type\":\"emails\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/on-call/users/dfeeb6f4-bfd6-11f0-8d44-3ae83a1823f8/notification-channels/emails"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 267,
            "text": "{\"data\":{\"id\":\"13d8e241-945e-42e4-9759-f4979a3f821f\",\"type\":\"emails\",\"attributes\":{\"active\":true,\"address\":\"john.doe@datadoghq.com\",\"alias\":\"\",\"blocked\":false,\"created_at\":\"2025-11-12T14:50:05.405372Z\",\"formats\":[\"html\"],\"modified_at\":\"2025-11-12T14:50:05.405372Z\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 506
      },
      {
        "_id": "48b9047d7779368293bcb80e3f0fd569",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users/dfeeb6f4-bfd6-11f0-8d44-3ae83a1823f8"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 350
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
