{
  "log": {
    "_recordingName": "GCP Integration/List all GCP STS-enabled service accounts returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "b17372b2348181089c572209d51c996e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"client_email\":\"94b5da11cdec906f@example.com\",\"host_filters\":[]},\"type\":\"gcp_service_account\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integration/gcp/accounts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 204,
            "text": "{\"data\":{\"type\":\"gcp_service_account\",\"attributes\":{\"is_cspm_enabled\":false,\"automute\":false,\"client_email\":\"94b5da11cdec906f@example.com\",\"host_filters\":[]},\"id\":\"4c69f9f2-ab71-4f67-8932-6322579d6dc6\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 247
      },
      {
        "_id": "8fce3338c2dbc972fce4f7d8281a3f46",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integration/gcp/accounts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1467,
            "text": "{\"data\":[{\"type\":\"gcp_service_account\",\"meta\":{\"accessible_projects\":[]},\"attributes\":{\"is_cspm_enabled\":false,\"client_email\":\"datadog-service-account@test-project.iam.gserviceaccount.com\",\"host_filters\":[],\"automute\":false},\"id\":\"3acadf04-13a2-4422-995b-1b8780dd23e6\"},{\"type\":\"gcp_service_account\",\"meta\":{\"accessible_projects\":[]},\"attributes\":{\"is_cspm_enabled\":false,\"client_email\":\"5347bd1ea052f252@test-project.iam.gserviceaccount.com\",\"host_filters\":[],\"automute\":false},\"id\":\"bfef2d23-0d85-4735-850a-c8f77407bcda\"},{\"ty[...]
