{
  "log": {
    "_recordingName": "Dashboards/Update a dashboard with tags returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "b1722205b255f2435270d39e8fd9e580",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"layout_type\":\"ordered\",\"title\":\"Test-Update_a_dashboard_with_tags_returns_OK_response-1731699191 with Profile Metrics Query\",\"widgets\":[{\"definition\":{\"requests\":[{\"profile_metrics_query\":{\"compute\":{\"aggregation\":\"sum\",\"facet\":\"@prof_core_cpu_cores\"},\"group_by\":[{\"facet\":\"service\",\"limit\":10,\"sort\":{\"aggregation\":\"sum\",\"facet\":\"@prof_core_cpu_cores\",\"order\":\"desc\"}}],\"search\":{\"query\":\"runtime:jvm\"}}}],\"type\":\"timeseries\"}}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 846,
            "text": "{\"id\":\"dpm-665-j6y\",\"title\":\"Test-Update_a_dashboard_with_tags_returns_OK_response-1731699191 with Profile Metrics Query\",\"description\":null,\"author_handle\":\"frog@datadoghq.com\",\"author_name\":null,\"layout_type\":\"ordered\",\"url\":\"/dashboard/dpm-665-j6y/test-updateadashboardwithtagsreturnsokresponse-1731699191-with-profile-metrics-q\",\"is_read_only\":false,\"template_variables\":null,\"widgets\":[{\"definition\":{\"requests\":[{\"profile_metrics_query\":{\"compute\":{\"aggregation\":\"sum\",\"facet\":\"@prof_core_cpu_cores\"},\"group_by\":[{\"facet\":\"service\",\"limit\":10,\"sort\":{\"aggregation\":\"sum\",\"facet\":\"@prof_core_cpu_cores\",\"order\":\"desc\"}}],\"search\":{\"query\":\"runtime:jvm\"}}}],\"type\":\"timeseries\"},\"id\":7755905539203163}],\"notify_list\":null,\"created_at\":\"2024-11-15T19:33:11.685174+00:00\",\"modified_at\":\"2024-11-15T19:33:11.685174+00:00\",\"restricted_roles\":[]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 217
      },
      {
        "_id": "87d01e624528d002beda526eb52c0ab2",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"description\":\"Updated description\",\"layout_type\":\"ordered\",\"tags\":[\"team:foo\",\"team:bar\"],\"title\":\"Test-Update_a_dashboard_with_tags_returns_OK_response-1731699191 with list_stream widget\",\"widgets\":[{\"definition\":{\"requests\":[{\"columns\":[{\"field\":\"timestamp\",\"width\":\"auto\"}],\"query\":{\"data_source\":\"apm_issue_stream\",\"query_string\":\"\"},\"response_format\":\"event_list\"}],\"type\":\"list_stream\"}}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/dpm-665-j6y"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 792,
            "text": "{\"id\":\"dpm-665-j6y\",\"title\":\"Test-Update_a_dashboard_with_tags_returns_OK_response-1731699191 with list_stream widget\",\"description\":\"Updated description\",\"author_handle\":\"frog[...]
