{
  "log": {
    "_recordingName": "Dashboards/Update a dashboard with tags returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "46b1c0e6490acfad748a1a8d05f55837",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"layout_type\":\"ordered\",\"title\":\"Test-Update_a_dashboard_with_tags_returns_OK_response-1731611574 with Profile Metrics Query\",\"widgets\":[{\"definition\":{\"requests\":[{\"profile_metrics_query\":{\"compute\":{\"aggregation\":\"sum\",\"facet\":\"@prof_core_cpu_cores\"},\"group_by\":[{\"facet\":\"service\",\"limit\":10,\"sort\":{\"aggregation\":\"sum\",\"facet\":\"@prof_core_cpu_cores\",\"order\":\"desc\"}}],\"search\":{\"query\":\"runtime:jvm\"}}}],\"type\":\"timeseries\"}}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 866,
            "text": "{\"id\":\"czi-xdb-s6p\",\"title\":\"Test-Update_a_dashboard_with_tags_returns_OK_response-1731611574 with Profile Metrics Query\",\"description\":null,\"author_handle\":\"anika.maskara@datadoghq.com\",\"author_name\":\"Anika Maskara\",\"layout_type\":\"ordered\",\"url\":\"/dashboard/czi-xdb-s6p/test-updateadashboardwithtagsreturnsokresponse-1731611574-with-profile-metrics-q\",\"is_read_only\":false,\"template_variables\":null,\"widgets\":[{\"definition\":{\"requests\":[{\"profile_metrics_query\":{\"compute\":{\"aggregation\":\"sum\",\"facet\":\"@prof_core_cpu_cores\"},\"group_by\":[{\"facet\":\"service\",\"limit\":10,\"sort\":{\"aggregation\":\"sum\",\"facet\":\"@prof_core_cpu_cores\",\"order\":\"desc\"}}],\"search\":{\"query\":\"runtime:jvm\"}}}],\"type\":\"timeseries\"},\"id\":3237823039056245}],\"notify_list\":null,\"created_at\":\"2024-11-14T19:12:54.366180+00:00\",\"modified_at\":\"2024-11-14T19:12:54.366180+00:00\",\"restricted_roles\":[]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 232
      },
      {
        "_id": "f2224dc52b699533b4f93c337b57bee7",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"description\":\"Updated description\",\"layout_type\":\"ordered\",\"tags\":[\"team:foo\",\"team:bar\"],\"title\":\"Test-Update_a_dashboard_with_tags_returns_OK_response-1731611574 with list_stream widget\",\"widgets\":[{\"definition\":{\"requests\":[{\"columns\":[{\"field\":\"timestamp\",\"width\":\"auto\"}],\"query\":{\"data_source\":\"apm_issue_stream\",\"query_string\":\"\"},\"response_format\":\"event_list\"}],\"type\":\"list_stream\"}}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/czi-xdb-s6p"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 810,
            "text": "{\"id\":\"czi-xdb-s6p\",\"title\":\"Test-Update_a_dashboard_with_tags_returns_OK_response-1731611574 with list_stream widget\",\"description\":\"Updated description\",\"author_handle\":\"anik[...]
