{
  "log": {
    "_recordingName": "Reference Tables/List reference table rows returns \"Bad Request\" response for invalid limit",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "94bf0fd9a120882fbce9730ae4e49f45",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/reference-tables/tables/not-a-valid-uuid/rows/list"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 86,
            "text": "{\"errors\":[{\"title\":\"Generic Error\",\"detail\":\"table ID must be a valid UUID format\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 416
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
