{
  "log": {
    "_recordingName": "Case Management/Update a project returns \"Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "fd06a24e02f75cd5e2ee12a39e3e71f5",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Updated Project Name\"},\"type\":\"project\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/cases/projects/67d80aa3-36ff-44b9-a694-c501a7591737"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 93,
            "text": "{\"errors\":[{\"code\":\"resource_not_found\",\"title\":\"failed to get project: project not found\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 342
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
