{
  "log": {
    "_recordingName": "Network Device Monitoring/Get the list of interfaces of the device returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "5a6a117e682a544c1c30e0f45537c11a",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "device_id",
              "value": "default:1.2.3.4"
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/ndm/interfaces?device_id=default:1.2.3.4"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 220,
            "text": "{\"data\":[{\"id\":\"default:1.2.3.4:99\",\"type\":\"interface\",\"attributes\":{\"name\":\"if99\",\"status\":\"up\",\"description\":\"a network interface\",\"mac_address\":\"00:00:00:00:00:00\",\"ip_addresses\":[\"1.1.1.1\",\"1.1.1.2\"],\"alias\":\"interface_99\",\"index\":99}},{\"id\":\"default:1.2.3.4:999\",\"type\":\"interface\",\"attributes\":{\"name\":\"if999\",\"status\":\"down\",\"description\":\"another network interface\",\"mac_address\":\"99:99:99:99:99:99\",\"alias\":\"interface_999\",\"index\":999}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 526
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
