{
  "log": {
    "_recordingName": "Actions Datastores/Delete datastore returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "9ac967a08efe4c445259d4058c442635",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/actions-datastores/invalid-uuid"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 189,
            "text": "{\"errors\":[{\"status\":\"400\",\"id\":\"ee853859-fef5-4771-98bd-1af309286bc0\",\"title\":\"invalid path parameter\",\"detail\":\"invalid datastoreId format in path\",\"source\":{\"parameter\":\"datastoreId\"}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 154
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
