{
  "log": {
    "_recordingName": "Model Lab API/List Model Lab project facet values returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "bd69bab805054ee553e28b3e4cf75c5b",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/model-lab-api/project-facet-values?facet_type=tag&facet_name=model"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 116,
            "text": "{\"data\":{\"id\":\"tag:model\",\"type\":\"facet_values\",\"attributes\":{\"facet_name\":\"model\",\"facet_type\":\"tag\",\"values\":[]}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 200
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
