{
  "log": {
    "_recordingName": "Data Access Controls/Get all Data Access Control datasets returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "9afbe4de1a01216793a5958a7f6a808d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Security Audit DAC\",\"principals\":[\"role:94172442-be03-11e9-a77a-3b7612558ac1\"],\"product_filters\":[{\"filters\":[\"@application.id:ABCD\"],\"product\":\"logs\"}]},\"type\":\"dataset\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/datasets"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 248,
            "text": "{\"data\":{\"type\":\"dataset\",\"id\":\"2e6e3a20-1ada-4a78-b583-d08fe4e3e8ea\",\"attributes\":{\"name\":\"Security Audit DAC\",\"product_filters\":[{\"product\":\"logs\",\"filters\":[\"@application.id:ABCD\"]}],\"principals\":[\"role:94172442-be03-11e9-a77a-3b7612558ac1\"]}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 240
      },
      {
        "_id": "c38493f7b33f3354897ce07393c8ebdf",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/datasets"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1479,
            "text": "{\"data\":[{\"type\":\"dataset\",\"id\":\"98648aa9-bf46-45b5-af42-b8466a42108c\",\"attributes\":{\"name\":\"HR Dataset\",\"product_filters\":[{\"product\":\"rum\",\"filters\":[\"@application.id:123\"]}],\"principals\":[\"role:94172442-be03-11e9-a77a-3b7612558ac1\"],\"created_by\":\"5fc21484-7314-11f0-86cc-a2f12af268bf\",\"created_at\":\"2025-08-27T15:05:18.148596Z\"}},{\"type\":\"dataset\",\"id\":\"2e6e3a20-1ada-4a78-b583-d08fe4e3e8ea\",\"attributes\":{\"name\":\"Security Audit DAC\",\"product_filters\":[{\"product\":\"logs\",\"filters\":[\"@application.id:ABCD\"]}],\"principals\":[\"role:94172442-be03-11e9-a77a-3b7612558ac1\"],\"created_by\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\",\"created_at\":\"2026-03-26T21:30:12.944938Z\"}},{\"type\":\"dataset\",\"id\":\"9559049b-bcbc-420d-9f33-38c426cf1541\",\"attributes\":{\"name\":\[...]
