{
  "log": {
    "_recordingName": "Application Security/Create a legacy WAF exclusion filter returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "4bf95f7f333dc58a2bf1e0897a5ff6f4",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"description\":\"Exclude false positives on a path\",\"enabled\":true,\"event_query\":\"test:1\"},\"type\":\"exclusion_filter\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/remote_config/products/asm/waf/exclusion_filters"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 89,
            "text": "{\"errors\":[{\"title\":\"legacy exclusion filters cannot be created anymore\",\"code\":\"400\"}]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 349
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
