{
  "log": {
    "_recordingName": "Rum Metrics/Get a rum-based metric returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "6f12677b56be9b60597210384c9d6baa",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"compute\":{\"aggregation_type\":\"distribution\",\"include_percentiles\":true,\"path\":\"@duration\"},\"event_type\":\"session\",\"filter\":{\"query\":\"source:Test-Get_a_rum_based_metric_returns_OK_response-1732807882\"},\"group_by\":[{\"path\":\"@browser.name\",\"tag_name\":\"browser_name\"}],\"uniqueness\":{\"when\":\"match\"}},\"id\":\"testgetarumbasedmetricreturnsokresponse1732807882\",\"type\":\"rum_metrics\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/rum/config/metrics"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 399,
            "text": "{\"data\":{\"id\":\"testgetarumbasedmetricreturnsokresponse1732807882\",\"type\":\"rum_metrics\",\"attributes\":{\"compute\":{\"aggregation_type\":\"distribution\",\"include_percentiles\":true,\"path\":\"@duration\"},\"event_type\":\"session\",\"filter\":{\"query\":\"source:Test-Get_a_rum_based_metric_returns_OK_response-1732807882\"},\"group_by\":[{\"path\":\"@browser.name\",\"tag_name\":\"browser_name\"}],\"uniqueness\":{\"when\":\"match\"}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 488
      },
      {
        "_id": "9aed34ddcf6a91193af093b3f7987f0c",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/rum/config/metrics/testgetarumbasedmetricreturnsokresponse1732807882"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 399,
            "text": "{\"data\":{\"id\":\"testgetarumbasedmet[...]
