{
  "log": {
    "_recordingName": "Synthetics/Fetch uptime for multiple tests returns \"- JSON format is wrong\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "23da9bb74dd412c237ee8406f9945944",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"from_ts\":0,\"public_ids\":[],\"to_ts\":0}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/synthetics/tests/uptimes"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 79,
            "text": "{\"errors\":[\"Minimum number of elements in parameter 'public_ids' should be 1\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 81
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
