{
  "log": {
    "_recordingName": "Security Monitoring/Cancel a historical job returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "e4257625426956fbc2c716c61d098a68",
        "request": {
          "headers": [
          ],
          "method": "PATCH",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/siem-threat-hunting/jobs/inva-lid/cancel"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 54,
            "text": "{\"errors\":[{\"status\":\"400\",\"detail\":\"invalid jobId\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 183
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
