{
  "log": {
    "_recordingName": "Usage Metering/Get estimated cost across multi-org account with month returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ef73c82cbe9e9eec6fec1361aa497e17",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "start_month",
              "value": "2022-04-20T17:07:01.561Z"
            },
            {
              "name": "end_month",
              "value": "2022-04-22T17:07:01.561Z"
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/usage/estimated_cost_by_org?start_month=2022-04-20T17%3A07%3A01.561Z&end_month=2022-04-22T17%3A07%3A01.561Z"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 12,
            "text": "{\"data\":[{\"attributes\":{\"org_name\":\"RQ Dummy Tests\",\"public_id\":\"fasjyydbcgwwc2uc\",\"total_cost\":73.17,\"charges\":[{\"charge_type\":\"committed\",\"cost\":0,\"product_name\":\"infra_host\"},{\"charge_type\":\"on_demand\",\"cost\":72,\"product_name\":\"synthetics_api_tests\"},{\"charge_type\":\"committed\",\"cost\":1.17,\"product_name\":\"infra_host\"}],\"date\":\"2022-04-25T17:00:00+00:00\"},\"type\":\"cost_by_org\",\"id\":\"5d1702ab10f060719ae5aa1fd7ba09e3d7e0fb371b8319051c616a1fcad254e9\"}]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1171
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
