{
  "log": {
    "_recordingName": "Status Pages/Get degradation returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "7a5a6332821aa8fcfe865094e21846a8",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"components\":[{\"components\":[{\"name\":\"Login\",\"position\":0,\"type\":\"component\"},{\"name\":\"Settings\",\"position\":1,\"type\":\"component\"}],\"name\":\"Application\",\"type\":\"group\"}],\"domain_prefix\":\"12fd9e2fcfbad77b\",\"enabled\":true,\"name\":\"A Status Page\",\"type\":\"internal\",\"visualization_type\":\"bars_and_uptime_percentage\"},\"type\":\"status_pages\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/statuspages"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 1116,
            "text": "{\"data\":{\"id\":\"317cba21-cebc-4436-94df-09bbdf3d4cb6\",\"type\":\"status_pages\",\"attributes\":{\"company_logo\":null,\"components\":[{\"id\":\"c5589831-a633-4f87-87c7-6abb7404ba5d\",\"name\":\"Application\",\"type\":\"group\",\"position\":0,\"components\":[{\"id\":\"c8bfec42-82a6-43cd-bf99-23de9c2f72a8\",\"name\":\"Login\",\"type\":\"component\",\"status\":\"operational\",\"position\":0},{\"id\":\"5a6c8210-7239-42ae-b7ae-396b26cf21b5\",\"name\":\"Settings\",\"type\":\"component\",\"status\":\"operational\",\"position\":1}]}],\"created_at\":\"2026-02-24T17:00:50.525032Z\",\"custom_domain\":null,\"custom_domain_enabled\":false,\"domain_prefix\":\"12fd9e2fcfbad77b\",\"email_header_image\":null,\"enabled\":true,\"favicon\":null,\"modified_at\":\"2026-02-24T17:00:50.525032Z\",\"name\":\"A Status Page\",\"page_url\":\"https://frog.datadoghq.com/status-pages/317cba21-cebc-4436-94df-09bbdf3d4cb6/view\",\"subscriptions_enabled\":false,\"type\":\"internal\",\"visualization_type\":\"bars_and_uptime_percentage\"},\"relationships\":{\"created_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}},\"last_modified_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 609
      },
      {
        "_id": "1932b73d32e3ed6ec87a8ff3774f0d35",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"components_affected\":[{\"id\":\"c8bfec42-82a6-43cd-bf99-23de9c2f72a8\",\"status\":\"major_outage\"}],\"description\":\"Our API is experiencing elevated latency. We are investigating the issue.\",\"status\":\"investigating\",\"title\":\"Elevated API Latency\"},\"type\":\"degradations\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/statuspages/317cba21-cebc-4436-94df-09bbdf3d4cb6/degradations"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 1093,
            "text": "{\"data\":{\"id\":\"3199b71f-e5a6-4651-8498-bb27cf7389f8\",\"type\":\"degradations\",\"attributes\":{\"components_affected\":[{\"id\":\"c8bfec42-82a6-43cd-bf99-23de9c2f72a8\",\"name\":\"Login\",\"status\":\"major_outage\"}],\"created_at\":\"2026-02-24T17:00:51.138156Z\",\"description\":\"Our API is experiencing elevated latency. We are investigating the issue.\",\"modified_at\":\"2026-02-24T17:00:51.138156Z\",\"status\":\"investigating\",\"title\":\"Elevated API Latency\",\"updates\":[{\"id\":\"6755caad-fc13-4d65-8ed8-0468c38dac6d\",\"created_at\":\"2026-02-24T17:00:51.138156Z\",\"modified_at\":\"2026-02-24T17:00:51.138156Z\",\"status\":\"investigating\",\"description\":\"Our API is experiencing elevated latency. We are investigating the issue.\",\"components_affected\":[{\"id\":\"c8bfec42-82a6-43cd-bf99-23de9c2f72a8\",\"name\":\"Login\",\"status\":\"major_outage\"}]}]},\"relationships\":{\"created_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}},\"last_modified_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}},\"status_page\":{\"data\":{\"id\":\"317cba21-cebc-4436-94df-09bbdf3d4cb6\",\"type\":\"status_pages\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 196
      },
      {
        "_id": "a490ea02538e1e820f182a83a3e8a8c6",
        "request": {
          "headers": [
          ],
          "method": "GET",
  [...]
