{
  "log": {
    "_recordingName": "Status Pages/Get degradation returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "5186c79a22a05fcd9377446097fea475",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"components\":[{\"components\":[{\"name\":\"Login\",\"position\":0,\"type\":\"component\"},{\"name\":\"Settings\",\"position\":1,\"type\":\"component\"}],\"name\":\"Application\",\"type\":\"group\"}],\"domain_prefix\":\"700e7d8a1a6f6bc9\",\"name\":\"A Status Page\",\"type\":\"internal\",\"visualization_type\":\"bars_and_uptime_percentage\"},\"type\":\"status_pages\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/statuspages"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 1117,
            "text": "{\"data\":{\"id\":\"bad6a6e5-6caa-49b7-b97e-c17e87c378a7\",\"type\":\"status_pages\",\"attributes\":{\"company_logo\":null,\"components\":[{\"id\":\"e9d5648e-89d7-407f-b465-91bf75054cba\",\"name\":\"Application\",\"type\":\"group\",\"position\":0,\"components\":[{\"id\":\"34f1f06b-1084-4194-a148-a7961c5f9641\",\"name\":\"Login\",\"type\":\"component\",\"status\":\"operational\",\"position\":0},{\"id\":\"e8745564-a521-4d4c-b379-ed0fecea40d4\",\"name\":\"Settings\",\"type\":\"component\",\"status\":\"operational\",\"position\":1}]}],\"created_at\":\"2026-04-24T14:12:50.321218Z\",\"custom_domain\":null,\"custom_domain_enabled\":false,\"domain_prefix\":\"700e7d8a1a6f6bc9\",\"email_header_image\":null,\"enabled\":false,\"favicon\":null,\"modified_at\":\"2026-04-24T14:12:50.321218Z\",\"name\":\"A Status Page\",\"page_url\":\"https://frog.datadoghq.com/status-pages/bad6a6e5-6caa-49b7-b97e-c17e87c378a7/view\",\"subscriptions_enabled\":false,\"type\":\"internal\",\"visualization_type\":\"bars_and_uptime_percentage\"},\"relationships\":{\"created_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}},\"last_modified_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 727
      },
      {
        "_id": "59dcd8453c2651bd4ee3871d9b927af6",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"components_affected\":[{\"id\":\"34f1f06b-1084-4194-a148-a7961c5f9641\",\"status\":\"major_outage\"}],\"description\":\"Our API is experiencing elevated latency. We are investigating the issue.\",\"status\":\"investigating\",\"title\":\"Elevated API Latency\"},\"type\":\"degradations\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/statuspages/bad6a6e5-6caa-49b7-b97e-c17e87c378a7/degradations"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 1136,
            "text": "{\"data\":{\"id\":\"6000704d-856e-4c32-9946-805d943621da\",\"type\":\"degradations\",\"attributes\":{\"components_affected\":[{\"id\":\"34f1f06b-1084-4194-a148-a7961c5f9641\",\"name\":\"Login\",\"status\":\"major_outage\"}],\"created_at\":\"2026-04-24T14:12:51.052318Z\",\"description\":\"Our API is experiencing elevated latency. We are investigating the issue.\",\"modified_at\":\"2026-04-24T14:12:51.052318Z\",\"status\":\"investigating\",\"title\":\"Elevated API Latency\",\"updates\":[{\"id\":\"a1687b75-3f0d-4918-8802-e46db4f2e5b9\",\"created_at\":\"2026-04-24T14:12:51.052318Z\",\"modified_at\":\"2026-04-24T14:12:51.052318Z\",\"started_at\":\"2026-04-24T14:12:51.052318Z\",\"status\":\"investigating\",\"description\":\"Our API is experiencing elevated latency. We are investigating the issue.\",\"components_affected\":[{\"id\":\"34f1f06b-1084-4194-a148-a7961c5f9641\",\"name\":\"Login\",\"status\":\"major_outage\"}]}]},\"relationships\":{\"created_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}},\"last_modified_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}},\"status_page\":{\"data\":{\"id\":\"bad6a6e5-6caa-49b7-b97e-c17e87c378a7\",\"type\":\"status_pages\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 137
      },
      {
        "_id": "0e54c1765e0eaa3b8c44420701f2b276",
        "request": {
          "headers": [
          ],
          "method": "GET",
  [...]
