{
  "log": {
    "_recordingName": "Status Pages/Get degradation returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ead76ade418b953ad4763e7bce48d0da",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"components\":[{\"name\":\"71e0839a3093406c\",\"type\":\"component\"}],\"domain_prefix\":\"dd-integration-test-71e0839a3093406c\",\"enabled\":true,\"name\":\"[DD Integration Test] 71e0839a3093406c\",\"type\":\"internal\",\"visualization_type\":\"bars_and_uptime_percentage\"},\"type\":\"status_pages\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/statuspages"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 943,
            "text": "{\"data\":{\"id\":\"add41d72-cb1b-4d9a-9b57-7029f11ccc61\",\"type\":\"status_pages\",\"attributes\":{\"company_logo\":null,\"components\":[{\"id\":\"df4fe850-8883-4921-adb4-d48c9c149bdc\",\"name\":\"71e0839a3093406c\",\"type\":\"component\",\"status\":\"operational\",\"position\":0}],\"created_at\":\"2026-01-07T22:14:12.100812Z\",\"custom_domain\":null,\"custom_domain_enabled\":false,\"domain_prefix\":\"dd-integration-test-71e0839a3093406c\",\"email_header_image\":null,\"enabled\":true,\"favicon\":null,\"modified_at\":\"2026-01-07T22:14:12.100812Z\",\"name\":\"[DD Integration Test] 71e0839a3093406c\",\"page_url\":\"https://frog.datadoghq.com/status-pages/add41d72-cb1b-4d9a-9b57-7029f11ccc61/view\",\"subscriptions_enabled\":false,\"type\":\"internal\",\"visualization_type\":\"bars_and_uptime_percentage\"},\"relationships\":{\"created_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}},\"last_modified_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 563
      },
      {
        "_id": "c022eda094794bcf33b1c2364e2ee3d1",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"components_affected\":[{\"id\":\"df4fe850-8883-4921-adb4-d48c9c149bdc\",\"status\":\"major_outage\"}],\"status\":\"investigating\",\"title\":\"Test-Get_degradation_returns_OK_response-1767824051\"},\"type\":\"degradations\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/statuspages/add41d72-cb1b-4d9a-9b57-7029f11ccc61/degradations"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 1036,
            "text": "{\"data\":{\"id\":\"bcfe9793-fa89-4912-95e6-d0ff70f41ade\",\"type\":\"degradations\",\"attributes\":{\"components_affected\":[{\"id\":\"df4fe850-8883-4921-adb4-d48c9c149bdc\",\"name\":\"71e0839a3093406c\",\"status\":\"major_outage\"}],\"created_at\":\"2026-01-07T22:14:12.651551Z\",\"description\":\"\",\"modified_at\":\"2026-01-07T22:14:12.651551Z\",\"status\":\"investigating\",\"title\":\"Test-Get_degradation_returns_OK_response-1767824051\",\"updates\":[{\"id\":\"ef93e824-040a-4072-96c6-ce1b59537565\",\"created_at\":\"2026-01-07T22:14:12.651551Z\",\"modified_at\":\"2026-01-07T22:14:12.651551Z\",\"started_at\":\"0001-01-01T00:00:00Z\",\"status\":\"investigating\",\"description\":\"\",\"components_affected\":[{\"id\":\"df4fe850-8883-4921-adb4-d48c9c149bdc\",\"name\":\"71e0839a3093406c\",\"status\":\"major_outage\"}]}]},\"relationships\":{\"created_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}},\"last_modified_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}},\"status_page\":{\"data\":{\"id\":\"add41d72-cb1b-4d9a-9b57-7029f11ccc61\",\"type\":\"status_pages\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 142
      },
      {
        "_id": "24d7b8a966594eeba831e9e30410a9b0",
        "request": {
          "headers": [
          ],
          "method": "GET",
  [...]
