{
  "log": {
    "_recordingName": "Seats/Unassign seats from users returns \"Unprocessable Entity\" response when product_code is empty",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "6d0d5f20874c6b3839dfe077c7dd28fd",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Unassign_seats_from_users_returns_Unprocessable_Entity_response_when_product_code_is_empty-1770835180@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 808,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"626a4e8e-64bd-409d-b80e-428f08ac0b62\",\"attributes\":{\"name\":null,\"handle\":\"test-unassign_seats_from_users_returns_unprocessable_entity_response_when_product_code_is_empty-1770835180@datadoghq.com\",\"created_at\":\"2026-02-11T18:39:40.455244+00:00\",\"modified_at\":\"2026-02-11T18:39:40.455244+00:00\",\"email\":\"test-unassign_seats_from_users_returns_unprocessable_entity_response_when_product_code_is_empty-1770835180@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/17f8bf4cb2d8600dc8ada5cdd71b7d77?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\",\"last_login_time\":null},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 328
      },
      {
        "_id": "64ce1fe84009e1952f669bd7546f072b",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "DELETE",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"product_code\":\"\",\"user_uuids\":[\"626a4e8e-64bd-409d-b80e-428f08ac0b62\"]},\"type\":\"seat-assignments\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/seats/users"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 74,
            "text": "{\"errors\":[{\"title\":\"Generic Error\",\"detail\":\"product_code is required\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 422,
          "statusText": "Unprocessable Entity"
        },
        "time": 252
      },
      {
        "_id": "66a21b128d3a6da5f3b71b8f3f94c9a6",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users/626a4e8e-64bd-409d-b80e-428f08ac0b62"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 414
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
