{
  "log": {
    "_recordingName": "Metrics/List tag configurations with a tag filter returns \"Success\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "b433f7bc48432bb236d6eb3eb488417a",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "filter",
              "value": {
                "tags": "TestListtagconfigurationswithatagfilterreturnsSuccessresponse1618232060"
              }
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/metrics?filter%5Btags%5D=TestListtagconfigurationswithatagfilterreturnsSuccessresponse1618232060"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 11,
            "text": "{\"data\":[]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.4288583"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "50"
            },
            {
              "name": "x-ratelimit-period",
              "value": "60"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "40"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "36"
            },
            {
              "name": "x-dd-debug",
              "value": "l8RQo2maZqJf6GFThBbKNE6dvthz6njusVtau3dPXJWL2RLFoN81H+BLPB/1xgs1"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 385,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
