{
  "log": {
    "_recordingName": "Metrics/List tag configurations with a tag filter returns \"Success\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "c072ffa481cf48270695ebe7dcd46e4d",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "filter",
              "value": {
                "tags": "TypescriptListtagconfigurationswithatagfilterreturnsSuccessresponse1616604402558"
              }
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/metrics?filter%5Btags%5D=TypescriptListtagconfigurationswithatagfilterreturnsSuccessresponse1616604402558"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 11,
            "text": "{\"data\":[]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.4165979"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "50"
            },
            {
              "name": "x-ratelimit-period",
              "value": "60"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "18"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "42"
            },
            {
              "name": "x-dd-debug",
              "value": "Wjq53IVIwnB4SiR238oOYgHFMq/ZYP0LQ/Dv8C2fFLBwTje/dWJHu6pI6vIOK1zG"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 254,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
