{
  "log": {
    "_recordingName": "Metrics/List tag configurations with a tag filter returns \"Success\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "4b9ebfcf592d9ac005ac70d654f9aca0",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "filter",
              "value": {
                "tags": "TestListtagconfigurationswithatagfilterreturnsSuccessresponse1641430311"
              }
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/metrics?filter%5Btags%5D=TestListtagconfigurationswithatagfilterreturnsSuccessresponse1641430311"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 11,
            "text": "{\"data\":[]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 220
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
