{
  "log": {
    "_recordingName": "Metrics/List tag configurations with a tag filter returns \"Success\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "7d4fbe4a1ef087d277be38386cae30f2",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "filter",
              "value": {
                "tags": "TestListtagconfigurationswithatagfilterreturnsSuccessresponse1618125628"
              }
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/metrics?filter%5Btags%5D=TestListtagconfigurationswithatagfilterreturnsSuccessresponse1618125628"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 11,
            "text": "{\"data\":[]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.4281284"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "50"
            },
            {
              "name": "x-ratelimit-period",
              "value": "60"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "32"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "36"
            },
            {
              "name": "x-dd-debug",
              "value": "PhosSd3Ch1B6B0DXI71steKUi7XhPDttnPiIP1NdXTw0VJNWpoUnYyBmODS5ne3q"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 326,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
