{
  "log": {
    "_recordingName": "Monitors/Update a monitor user template to a new version returns \"Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "49265aeefbf07b743b937d14e665bc81",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"description\":\"A description.\",\"monitor_definition\":{\"message\":\"A msg.\",\"name\":\"A name test-update_a_monitor_user_template_to_a_new_version_returns_not_found_response-1748486183\",\"query\":\"avg(last_5m):sum:system.net.bytes_rcvd{host:host0} > 100\",\"type\":\"query alert\"},\"tags\":[\"integration:Azure\"],\"template_variables\":[{\"available_values\":[\"value1\",\"value2\"],\"defaults\":[\"defaultValue\"],\"name\":\"regionName\",\"tag_key\":\"datacenter\"}],\"title\":\"Postgres DB test-update_a_monitor_user_template_to_a_new_version_returns_not_found_response-1748486183\"},\"id\":\"00000000-0000-1234-0000-000000000000\",\"type\":\"monitor-user-template\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/monitor/template/00000000-0000-1234-0000-000000000000"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 41,
            "text": "{\"errors\":[\"Monitor template not found\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 139
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
