{
  "log": {
    "_recordingName": "Usage Metering/Get hourly usage for CI Visibility returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "9bb9e12e84d893c818722e8d736e59b0",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "start_hr",
              "value": "2022-02-21T14:52:00.008Z"
            },
            {
              "name": "end_hr",
              "value": "2022-02-19T14:52:00.008Z"
            }
          ],
          "url": "https://api.datadoghq.com/api/v1/usage/ci-app?start_hr=2022-02-21T14%3A52%3A00.008Z&end_hr=2022-02-19T14%3A52%3A00.008Z"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 78,
            "text": "{\"errors\": [\"start_hr [YYYY-MM-DDThh] must be before end_hr [YYYY-MM-DDThh]\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 117
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
