{
  "log": {
    "_recordingName": "Security Monitoring/Test a notification rule returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "27c651f90b29ff02e6403e9bc986a0c9",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"enabled\":true,\"name\":\"Rule 1\",\"selectors\":{\"query\":\"env:prod\",\"rule_types\":[\"log_detection\"],\"severities\":[\"critical\"],\"trigger_source\":\"security_signals\"},\"targets\":[\"@john.doe@email.com\"]},\"type\":\"notification_rules\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/security_monitoring/configuration/notification_rules/send_notification_preview"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 165,
            "text": "{\"data\":{\"id\":\"rka-loa-zwu\",\"attributes\":{\"preview_results\":[{\"rule_type\":\"log_detection\",\"notification_status\":\"DEFAULT\"}]},\"type\":\"notification_preview_response\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 648
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
