{
  "log": {
    "_recordingName": "Metrics/Get a tag indexing rule returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "f7643fc7bd7d000cff59ed572f12deaf",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"metric_name_matches\":[\"dd.TestGetatagindexingrulereturnsOKresponse1780591177.*\"],\"name\":\"TestGetatagindexingrulereturnsOKresponse1780591177\",\"tags\":[\"env\",\"service\"]},\"type\":\"tag_indexing_rules\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/metrics/tag-indexing-rules"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 610,
            "text": "{\"data\":{\"id\":\"cab4c8d3-6ac8-4cb8-aa74-e68a110db375\",\"type\":\"tag_indexing_rules\",\"attributes\":{\"created_at\":\"2026-06-04T16:39:37.150692Z\",\"created_by_handle\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\",\"exclude_tags_mode\":false,\"metric_name_matches\":[\"dd.TestGetatagindexingrulereturnsOKresponse1780591177.*\"],\"modified_at\":\"2026-06-04T16:39:37.150692Z\",\"modified_by_handle\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\",\"name\":\"TestGetatagindexingrulereturnsOKresponse1780591177\",\"options\":{\"version\":1,\"data\":{\"override_previous_rules\":false,\"manage_preexisting_metrics\":true}},\"rule_order\":1,\"tags\":[\"env\",\"service\"]}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 82
      },
      {
        "_id": "f79c4666785de51cfab677c7f28de9d5",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/metrics/tag-indexing-rules/cab4c8d3-6ac8-4cb8-aa74-e68a110db375"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 610,
            "text": "{\"data\":{\"id\":\"cab4c8d3-6ac8-4cb8-aa74-e[...]
