{
  "log": {
    "_recordingName": "Application Security/List all WAF policies returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "be37f96c6e5955e58e7cdfe1f0569163",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/remote_config/products/asm/waf/policies"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1347,
            "text": "{\"data\":[{\"id\":\"recommended\",\"type\":\"policy\",\"attributes\":{\"description\":\"Monitor security scanners and application attacks such as Server-Side-Request-Forgery (SSRF), SQL Injection, Log4Shell, and Cross-Site-Scripting (XSS).\",\"isDefault\":true,\"name\":\"Managed - Monitoring-only\",\"rules\":[],\"rulesets\":[],\"scope\":[],\"version\":0},\"meta\":{}},{\"id\":\"recommended-blocking\",\"type\":\"policy\",\"attributes\":{\"description\":\"Block known attack tools without impacting legitimate security scans.\\nBlock application attacks such as Server-Side-Request-Forgery (SSRF), SQL Injection, Log4Shell, and Cross-Site-Scripting (XSS). Rules are curated to reduce the risk of blocking legitimate traffic. Previously known as \\\"Datadog Recommended\\\".\",\"isDefault\":false,\"name\":\"Managed - Block attack tools \\u0026 application attacks\",\"protectionPresets\":[\"all-confidence-one\"],\"rules\":[],\"rulesets\":[],\"scope\":[],\"version\":0},\"meta\":{}},{\"id\":\"recommended-attack-tools\",\"type\":\"policy\",\"attributes\":{\"description\":\"Block known attack tools without impacting legitimate security scans.\\nMonitor application attacks such as Server-Side-Request-Forgery (SSRF), SQL Injection, Log4Shell, and Cross-Site-Scripting (XSS).\",\"isDefault\":false,\"name\":\"Managed - Block attack tools\",\"protectionPresets\":[\"attack-tools\"],\"rules\":[],\"rulesets\":[],\"scope\":[],\"version\":0},\"meta\":{}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 105
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
