{
  "log": {
    "_recordingName": "Downtimes/Schedule a downtime returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "204337ed863da45aaac7df9f45faf3eb",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"monitor_tags\":[\"tag0\",\"tag1\",\"tag2\",\"tag3\",\"tag4\",\"tag5\",\"tag6\",\"tag7\",\"tag8\",\"tag9\",\"tag10\",\"tag11\",\"tag12\",\"tag13\",\"tag14\",\"tag15\",\"tag16\",\"tag17\",\"tag18\",\"tag19\",\"tag20\",\"tag21\",\"tag22\",\"tag23\",\"tag24\",\"tag25\",\"tag26\",\"tag27\",\"tag28\",\"tag29\",\"tag30\",\"tag31\",\"tag32\",\"tag33\",\"tag34\",\"tag35\",\"tag36\",\"tag37\",\"tag38\",\"tag39\",\"tag40\",\"tag41\",\"tag42\",\"tag43\",\"tag44\",\"tag45\",\"tag46\",\"tag47\",\"tag48\",\"tag49\"]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/downtime"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 39,
            "text": "{\"errors\":[\"Invalid scope parameter\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 163
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
