{
  "log": {
    "_recordingName": "Security Monitoring/List findings returns \"OK\" response with details",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "0b731c8b9bbe98674f8ad005c800b7d6",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "detailed_findings",
              "value": "true"
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/posture_management/findings?detailed_findings=true"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 89,
            "text": "{\"data\":[],\"meta\":{\"page\":{\"total_filtered_count\":0},\"snapshot_timestamp\":1747743085077}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 462
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
