{
  "log": {
    "_recordingName": "Monitors/Create a monitor user template returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "214c7178b917c060ef399acae4df489d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"description\":\"A description.\",\"monitor_definition\":{\"message\":\"A msg.\",\"name\":\"A name test-create_a_monitor_user_template_returns_ok_response-1748486176\",\"query\":\"avg(last_5m):sum:system.net.bytes_rcvd{host:host0} > 100\",\"type\":\"query alert\"},\"tags\":[\"integration:Azure\"],\"template_variables\":[{\"available_values\":[\"value1\",\"value2\"],\"defaults\":[\"defaultValue\"],\"name\":\"regionName\",\"tag_key\":\"datacenter\"}],\"title\":\"Postgres DB test-create_a_monitor_user_template_returns_ok_response-1748486176\"},\"type\":\"monitor-user-template\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/monitor/template"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 755,
            "text": "{\"data\":{\"type\":\"monitor-user-template\",\"attributes\":{\"modified\":\"2025-05-29T02:36:16.272266+00:00\",\"tags\":[\"integration:Azure\"],\"monitor_definition\":{\"message\":\"A msg.\",\"name\":\"A name test-create_a_monitor_user_template_returns_ok_response-1748486176\",\"query\":\"avg(last_5m):sum:system.net.bytes_rcvd{host:host0} > 100\",\"type\":\"query alert\"},\"template_variables\":[{\"available_values\":[\"value1\",\"value2\"],\"defaults\":[\"defaultValue\"],\"tag_key\":\"datacenter\",\"name\":\"regionName\"}],\"description\":\"A description.\",\"version\":0,\"creator_uuid\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"created\":\"2025-05-29T02:36:16.272266+00:00\",\"title\":\"Postgres DB test-create_a_monitor_user_template_returns_ok_response-1748486176\"},\"id\":\"15c66feb-f77d-407b-bf4c-615d3dc4fa50\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 243
      },
      {
        "_id": "09aec19acf78505eca41e6dc75dda553",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/monitor/template/15c66feb-f77d-407b-bf4c-615d3dc4fa50"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=utf-8",
            "size": 0
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=utf-8"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 137
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
