{
  "log": {
    "_recordingName": "Key Management/Delete an Application key returns \"No Content\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "95577c635ffcc168cbc53bc1d44d38c1",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Delete_an_Application_key_returns_No_Content_response-1639757116\"},\"type\":\"application_keys\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/current_user/application_keys"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 385,
            "text": "{\"data\":{\"type\":\"application_keys\",\"id\":\"e3eabfec-bbd9-4438-8329-c679d64c01f5\",\"attributes\":{\"name\":\"Test-Delete_an_Application_key_returns_No_Content_response-1639757116\",\"created_at\":\"2021-12-17T16:05:16.663471+00:00\",\"last4\":\"17b2\",\"key\":\"deaddcc81a44288fbbbfb15efe1203df034abeef\"},\"relationships\":{\"owned_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 476
      },
      {
        "_id": "432c2386f13da63865851556878b6df9",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/application_keys/e3eabfec-bbd9-4438-8329-c679d64c01f5"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 361
      },
      {
        "_id": "6ac533775246f364641fcd573a3b10a8",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/current_user/application_keys/e3eabfec-bbd9-4438-8329-c679d64c01f5"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 41,
            "text": "{\"errors\": [\"Application key not found\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 443
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
