{
  "log": {
    "_recordingName": "Key Management/Delete an Application key returns \"No Content\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "9cc081e5d7ae1263bdd9b5223066f3de",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Delete_an_Application_key_returns_No_Content_response-1652349126\"},\"type\":\"application_keys\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/current_user/application_keys"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 432,
            "text": "{\"data\":{\"type\":\"application_keys\",\"id\":\"d2653524-a474-460c-a7c7-75073e8aa1fa\",\"attributes\":{\"name\":\"Test-Delete_an_Application_key_returns_No_Content_response-1652349126\",\"created_at\":\"2022-05-12T09:52:07.427090+00:00\",\"last4\":\"xxxx\",\"key\":\"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\"scopes\":null},\"relationships\":{\"owned_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}},\"leak_information\":{\"data\":null}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 561
      },
      {
        "_id": "0579895f243b0fe2decbefaa2bc0664f",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/application_keys/d2653524-a474-460c-a7c7-75073e8aa1fa"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 544
      },
      {
        "_id": "99af4c9ad2d412e0ab36ccd96f200afb",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/current_user/application_keys/d2653524-a474-460c-a7c7-75073e8aa1fa"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 41,
            "text": "{\"errors\": [\"Application key not found\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 437
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
