{
  "log": {
    "_recordingName": "IP Allowlist/Update IP Allowlist returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "d28462e6f3c5f5e9e3b7e4364ff66f97",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"enabled\":false,\"entries\":[]},\"type\":\"ip_allowlist\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/ip_allowlist"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 121,
            "text": "{\"data\":{\"type\":\"ip_allowlist\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\",\"attributes\":{\"enabled\":false,\"entries\":[]}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 161
      },
      {
        "_id": "8ab80f39f148e69753b06f86c65297a9",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"enabled\":false,\"entries\":[{\"data\":{\"attributes\":{\"cidr_block\":\"127.0.0.1\",\"note\":\"Test-Update_IP_Allowlist_returns_OK_response-1676046413\"},\"type\":\"ip_allowlist_entry\"}}]},\"type\":\"ip_allowlist\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/ip_allowlist"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 408,
            "text": "{\"data\":{\"type\":\"ip_allowlist\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\",\"attributes\":{\"enabled\":false,\"entries\":[{\"data\":{\"attributes\":{\"note\":\"Test-Update_IP_Allowlist_returns_OK_response-1676046413\",\"created_at\":\"2023-02-10T16:26:53.343754+00:00\",\"modified_at\":\"2023-02-10T16:26:53.343754+00:00\",\"cidr_block\":\"127.0.0.1/32\"},\"type\":\"ip_allowlist_entry\",\"id\":\"41678b10-3555-4dba-abbd-754d294aadc1\"}}]}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 158
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
