{
  "log": {
    "_recordingName": "Incident Teams/Get a list of all incident teams returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "017f356ff61f02b7fb66d7c834e2ef39",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Typescript-Get_a_list_of_all_incident_teams_returns_OK_response-1613653922.543\"},\"type\":\"teams\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/teams"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 959,
            "text": "{\"included\":[{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"attributes\":{\"name\":null,\"handle\":\"frog@datadoghq.com\",\"created_at\":\"2019-10-02T08:15:39.795051+00:00\",\"email\":\"frog@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro\",\"title\":null,\"verified\":true,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Active\"},\"relationships\":{\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}],\"data\":{\"type\":\"teams\",\"id\":\"42582e09-899c-5d80-b079-0a9ae7d6459c\",\"attributes\":{\"name\":\"Typescript-Get_a_list_of_all_incident_teams_returns_OK_response-1613653922.543\",\"created\":\"2021-02-18T13:12:02.816116+00:00\",\"modified\":\"2021-02-18T13:12:02.816116+00:00\"},\"relationships\":{\"last_modified_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}},\"created_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}}}}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.3933218"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "100"
            },
            {
              "name": "x-ratelimit-period",
              "value": "60"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "58"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "97"
            },
            {
              "name": "x-dd-debug",
              "value": "dPySkcOzIZtKyMKDAAzuysY3gNGGj6RtYogGuSb76E8mPvoqzREyRp6lPYm91hQU"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 330,
      },
      {
        "_id": "91ee93ea61b37c3048fb0592f0ab8047",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "filter",
              "value": "Typescript-Get_a_list_of_all_incident_teams_returns_OK_response-1613653922.543"
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/teams?filter=Typescript-Get_a_list_of_all_incident_teams_returns_OK_response-1613653922[...]
