{
  "log": {
    "_recordingName": "Incident Teams/Get a list of all incident teams returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "b100a16e6de1579066e2a9e90e496254",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Get_a_list_of_all_incident_teams_returns_OK_response-1618491701\"},\"type\":\"teams\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/teams"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 998,
            "text": "{\"included\":[{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"attributes\":{\"name\":null,\"handle\":\"frog@datadoghq.com\",\"created_at\":\"2019-10-02T08:15:39.795051+00:00\",\"modified_at\":\"2020-06-15T12:33:12.884459+00:00\",\"email\":\"frog@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro\",\"title\":null,\"verified\":true,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Active\"},\"relationships\":{\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}],\"data\":{\"type\":\"teams\",\"id\":\"2054866e-a348-5c3b-ad01-71d707a462f7\",\"attributes\":{\"name\":\"Test-Get_a_list_of_all_incident_teams_returns_OK_response-1618491701\",\"created\":\"2021-04-15T13:01:41.530739+00:00\",\"modified\":\"2021-04-15T13:01:41.530739+00:00\"},\"relationships\":{\"last_modified_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}},\"created_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 327
      },
      {
        "_id": "cb5d31892182a0a7c28e474eafa35b3c",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "filter",
              "value": "Test-Get_a_list_of_all_incident_teams_returns_OK_response-1618491701"
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/teams?filter=Test-Get_a_list_of_all_incident_teams_returns_OK_response-1618491701"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 544,
            "text": "{\"meta\":{\"sort\":\"ASC\",\"pagination\":{\"total\":1405,\"size\":1,\"next_offset\":1,\"offset\":0},\"total\":1405},\"data\":[{\"type\":\"teams\",\"id\":\"2054866e-a348-5c3b-ad01-71d707a462f7\",\"attributes\":{\"name\":\"Test-Get_a_list_of_all_incident_teams_returns_OK_response-1618491701\",\"created\":\"2021-04-15T13:01:41.530739+00:00\",\"modified\":\"2021-04-15T13:01:41.530739+00:00\"},\"relationships\":{\"last_modified_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}},\"created_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}}}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 401
      },
      {
        "_id": "33c012003e32011cdbc06b9d4478cfc0",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/teams/2054866e-a348-5c3b-ad01-71d707a462f7"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 0
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 376
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
