{
  "log": {
    "_recordingName": "Usage Metering/Get hourly usage for Logs returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "63483949f6889d61349e27cfb93ddbe8",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "start_hr",
              "value": "2022-03-29T15:43:39.812Z"
            },
            {
              "name": "end_hr",
              "value": "2022-03-27T15:43:39.812Z"
            }
          ],
          "url": "https://api.datadoghq.com/api/v1/usage/logs?start_hr=2022-03-29T15%3A43%3A39.812Z&end_hr=2022-03-27T15%3A43%3A39.812Z"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 78,
            "text": "{\"errors\": [\"start_hr [YYYY-MM-DDThh] must be before end_hr [YYYY-MM-DDThh]\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 169
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
