{
  "log": {
    "_recordingName": "Monitors/Update a monitor user template to a new version returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "5f7c7e0e7548cae7657e7b0cb01071e2",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"description\":\"It's a threshold\",\"monitor_definition\":{\"message\":\"cats\",\"name\":\"High Error Rate on service\",\"query\":\"avg(last_5m):sum:system.net.bytes_rcvd{host:host0} > 100\",\"type\":\"query alert\"},\"tags\":[\"category:test\"],\"template_variables\":[{\"available_values\":[],\"defaults\":[\"cats\"],\"name\":\"scope\"}],\"title\":\"api spec given template test-update_a_monitor_user_template_to_a_new_version_returns_bad_request_response-1748486182\"},\"type\":\"monitor-user-template\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/monitor/template"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 689,
            "text": "{\"data\":{\"type\":\"monitor-user-template\",\"attributes\":{\"version\":0,\"created\":\"2025-05-29T02:36:23.224659+00:00\",\"template_variables\":[{\"available_values\":[],\"name\":\"scope\",\"defaults\":[\"cats\"]}],\"monitor_definition\":{\"message\":\"cats\",\"name\":\"High Error Rate on service\",\"query\":\"avg(last_5m):sum:system.net.bytes_rcvd{host:host0} > 100\",\"type\":\"query alert\"},\"title\":\"api spec given template test-update_a_monitor_user_template_to_a_new_version_returns_bad_request_response-1748486182\",\"description\":\"It's a threshold\",\"tags\":[\"category:test\"],\"creator_uuid\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"modified\":\"2025-05-29T02:36:23.224659+00:00\"},\"id\":\"a68243ec-7e1c-40da-a99d-8966282c3726\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 266
      },
      {
        "_id": "ba10741e3fbdd0be47a866aa776ab89f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"description\":\"A description.\",\"monitor_definition\":{},\"tags\":[\"integration:Azure\"],\"template_variables\":[{\"available_values\":[\"value1\",\"value2\"],\"defaults\":[\"defaultValue\"],\"name\":\"regionName\",\"tag_key\":\"datacenter\"}],\"title\":\"Postgres DB test-update_a_monitor_user_template_to_a_new_version_returns_bad_request_response-1748486182\"},\"id\":\"00000000-0000-1234-0000-000000000000\",\"type\":\"monitor-user-template\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/monitor/template/a68243ec-7e1c-40da-a99d-8966282c3726"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 100,
            "text": "{\"errors\":[\"Invalid monitor_definition or template variables: Monitor definition cannot be empty.\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 197
      },
      {
        "_id": "c1fe368bd92a189e658bc07fb32b79cf",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/monitor/template/a68243ec-7e1c-40da-a99d-8966282c3726"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=utf-8",
            "size": 0
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=utf-8"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 133
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
