{
  "log": {
    "_recordingName": "Downtimes/Get a downtime returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "75bc6d37c97be38e03a3476e399608ca",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/downtime/INVALID_UUID_LENGTH"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 61,
            "text": "{\"errors\":[\"Invalid URL param: downtime_id must be an uuid\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 244
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
