{
  "log": {
    "_recordingName": "Logs Custom Destinations/Create a custom destination with Elasticsearch forwarding returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ca366068fa6186837ad25f482e7b516e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"forwarderDestination\":{\"auth\":{\"password\":\"password\",\"type\":\"basic\",\"username\":\"username\"},\"endpoint\":\"https://example.org/my-intake\",\"indexName\":\"name\",\"indexRotation\":\"yyyy-MM-dd\",\"type\":\"elasticsearch\"},\"name\":\"my-destination\",\"version\":0},\"type\":\"custom_destination\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/config/custom_destinations"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 491,
            "text": "{\"data\":{\"id\":\"d4bbdc39-55e3-4255-a51f-477b20022159\",\"attributes\":{\"version\":0,\"name\":\"my-destination\",\"query\":\"\",\"enabled\":true,\"bufferMaxBytes\":5242880,\"bufferTimeoutSeconds\":60,\"maxRetryDurationSeconds\":300,\"compression\":\"GZIP\",\"forwarderDestination\":{\"type\":\"elasticsearch\",\"indexName\":\"name\",\"indexRotation\":\"yyyy-MM-dd\",\"endpoint\":\"https://example.org/my-intake\",\"auth\":{\"type\":\"basic\",\"username\":\"__REDACTED_SECRET__\",\"password\":\"__REDACTED_SECRET__\"}}},\"type\":\"custom_destination\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 426
      },
      {
        "_id": "6aa7fccb1ef98844a20edaa18121f255",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/config/custom_destinations/d4bbdc39-55e3-4255-a51f-477b20022159"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 12,
            "text": "{\"meta\":{}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 411
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
