{
  "log": {
    "_recordingName": "Metrics/Submit metrics returns \"Payload accepted\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "0a2ac212c4d16921d277324283be1580",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"series\":[{\"metric\":\"system.load.1\",\"points\":[{\"timestamp\":1650641018,\"value\":0.7}],\"type\":0}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/series"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 13,
            "text": "{\"errors\":[]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 202,
          "statusText": "Accepted"
        },
        "time": 278
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
