{
  "log": {
    "_recordingName": "On-Call/Get the schedule of an on-call user returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "7554e56668358a89b7c941cae81fa1a5",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"layers\":[{\"effective_date\":\"2025-05-03T00:41:58.620Z\",\"end_date\":\"2025-05-23T00:41:58.620Z\",\"interval\":{\"days\":1},\"members\":[{\"user\":{\"id\":\"890f29d4-0b7a-11f0-aeb2-760fcae4f596\"}}],\"name\":\"Layer 1\",\"restrictions\":[{\"end_day\":\"friday\",\"end_time\":\"17:00:00\",\"start_day\":\"monday\",\"start_time\":\"09:00:00\"}],\"rotation_start\":\"2025-05-08T00:41:58.620Z\"}],\"name\":\"Test-Get_the_schedule_of_an_on_call_user_returns_OK_response-1747096918\",\"tags\":[\"tag1\",\"tag2\"],\"time_zone\":\"America/New_York\"},\"relationships\":{\"teams\":{\"data\":[{\"id\":\"65aea9d0-941c-4607-bf8a-14fc0dac2820\",\"type\":\"teams\"}]}},\"type\":\"schedules\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/on-call/schedules"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 403,
            "text": "{\"data\":{\"id\":\"a69018b0-28a9-4ec1-ad13-dd74bb82ad3c\",\"type\":\"schedules\",\"attributes\":{\"name\":\"Test-Get_the_schedule_of_an_on_call_user_returns_OK_response-1747096918\",\"tags\":[\"tag1\",\"tag2\"],\"time_zone\":\"America/New_York\"},\"relationships\":{\"layers\":{\"data\":[{\"id\":\"133a579b-0b88-4732-91bd-7eb4a75271ab\",\"type\":\"layers\"}]},\"teams\":{\"data\":[{\"id\":\"65aea9d0-941c-4607-bf8a-14fc0dac2820\",\"type\":\"teams\"}]}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 867
      },
      {
        "_id": "949e4e7b25729405116dd9cf1f7caa6d",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/on-call/schedules/a69018b0-28a9-4ec1-ad13-dd74bb82ad3c/on-call"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 309,
            "text": "{\"data\":{\"id\":\"890f29d4-0b7a-11f0-aeb2-760fcae4f596-2025-05-12T20:41:59-04:00-2025-05-13T20:41:58-04:00\",\"type\":\"shifts\",\"attributes\":{\"end\":\"2025-05-13T20:41:58-04:00\",\"start\":\"2025-05-12T20:41:59.394997-04:00\"},\"relationships\":{\"user\":{\"data\":{\"id\":\"890f29d4-0b7a-11f0-aeb2-760fcae4f596\",\"type\":\"users\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 810
      },
      {
        "_id": "efca463abd71f6a8b32656f203b69b7d",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/on-call/schedules/a69018b0-28a9-4ec1-ad13-dd74bb82ad3c"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 271
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
