{
  "log": {
    "_recordingName": "On-Call/Get the schedule of an on-call user returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "91284d0281fbdf1aaee48ccd183319c5",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"layers\":[{\"effective_date\":\"2025-04-28T06:52:26.712Z\",\"end_date\":\"2025-05-18T06:52:26.712Z\",\"interval\":{\"days\":1},\"members\":[{\"user\":{\"id\":\"890f29d4-0b7a-11f0-aeb2-760fcae4f596\"}}],\"name\":\"Layer 1\",\"restrictions\":[{\"end_day\":\"friday\",\"end_time\":\"17:00:00\",\"start_day\":\"monday\",\"start_time\":\"09:00:00\"}],\"rotation_start\":\"2025-05-03T06:52:26.712Z\"}],\"name\":\"Test-Get_the_schedule_of_an_on_call_user_returns_OK_response-1746687146\",\"tags\":[\"tag1\",\"tag2\"],\"time_zone\":\"America/New_York\"},\"relationships\":{\"teams\":{\"data\":[{\"id\":\"65aea9d0-941c-4607-bf8a-14fc0dac2820\",\"type\":\"teams\"}]}},\"type\":\"schedules\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/on-call/schedules"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 403,
            "text": "{\"data\":{\"id\":\"1a7025f5-a75b-4a73-ba40-96a17892c501\",\"type\":\"schedules\",\"attributes\":{\"name\":\"Test-Get_the_schedule_of_an_on_call_user_returns_OK_response-1746687146\",\"tags\":[\"tag1\",\"tag2\"],\"time_zone\":\"America/New_York\"},\"relationships\":{\"layers\":{\"data\":[{\"id\":\"daeadf21-f5a9-4889-b288-19347ef4f1d0\",\"type\":\"layers\"}]},\"teams\":{\"data\":[{\"id\":\"65aea9d0-941c-4607-bf8a-14fc0dac2820\",\"type\":\"teams\"}]}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 835
      },
      {
        "_id": "93f680612f640107a7fe8fcf74fa3e3e",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/on-call/schedules/1a7025f5-a75b-4a73-ba40-96a17892c501/on-call"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 309,
            "text": "{\"data\":{\"id\":\"890f29d4-0b7a-11f0-aeb2-760fcae4f596-2025-05-08T02:52:27-04:00-2025-05-09T02:52:26-04:00\",\"type\":\"shifts\",\"attributes\":{\"end\":\"2025-05-09T02:52:26-04:00\",\"start\":\"2025-05-08T02:52:27.446959-04:00\"},\"relationships\":{\"user\":{\"data\":{\"id\":\"890f29d4-0b7a-11f0-aeb2-760fcae4f596\",\"type\":\"users\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 625
      },
      {
        "_id": "fc6e0096c6edb4b2aec9a32bdb2e3c37",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/on-call/schedules/1a7025f5-a75b-4a73-ba40-96a17892c501"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 240
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
