{
  "log": {
    "_recordingName": "Execution Policy/Get an execution policy returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "6009ff288ccf389c1f826f6f6b23295f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"action_pattern\":{\"action_fqns\":[\"com.datadoghq.script.*\"],\"integration\":\"INTEGRATION_SCRIPT\"},\"effect\":\"allow\",\"name\":\"Cassette Execution Policy testgetanexecutionpolicyreturnsokresponse1786698821\"},\"type\":\"execution_policy\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/actions/execution-policies"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 495,
            "text": "{\"data\":{\"id\":\"8856f100-43c1-4462-a96e-5ab404e695dc\",\"type\":\"execution_policy\",\"attributes\":{\"action_pattern\":{\"integration\":\"INTEGRATION_SCRIPT\",\"action_fqns\":[\"com.datadoghq.script.*\"]},\"created_at\":\"2026-08-14T09:13:42Z\",\"created_by\":\"262c2ca8-d93e-45bc-8d47-5c9ab7af8e6b\",\"effect\":\"allow\",\"name\":\"Cassette Execution Policy testgetanexecutionpolicyreturnsokresponse1786698821\",\"targets\":[],\"updated_at\":\"2026-08-14T09:13:42Z\",\"updated_by\":\"262c2ca8-d93e-45bc-8d47-5c9ab7af8e6b\",\"version\":1}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 341
      },
      {
        "_id": "5f4391dd6b6ac9ac2dc92b317f28d0f8",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/actions/execution-policies/8856f100-43c1-4462-a96e-5ab404e695dc"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 506,
            "text": "{\"data\":{\"id\":\"8856f100-43c1-4462-a96e-5ab404e695dc\",\"type\":\"execution_policy\",\"attributes\":{\"action_pattern\":{\"integration\":\"INTEGRATION_SCRIPT\",\"action_fqns\":[\"com.datadoghq.script.*\"]},\"created_at\":\"2026-08-14T09:13:42Z\",\"created_by\":\"262c2ca8-d93e-45bc-8d47-5c9ab7af8e6b\",\"effect\":\"allow\",\"name\":\"Cassette Execution Policy testgetanexecutionpolicyreturnsokresponse1786698821\",\"scope\":{},\"targets\":[],\"updated_at\":\"2026-08-14T09:13:42Z\",\"updated_by\":\"262c2ca8-d93e-45bc-8d47-5c9ab7af8e6b\",\"version\":1}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 369
      },
      {
        "_id": "86f78b69710e1bc7d819e4323e2b0190",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/actions/execution-policies/8856f100-43c1-4462-a96e-5ab404e695dc"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 368
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
