{
  "log": {
    "_recordingName": "Usage Metering/Get Monthly Usage Attribution returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "120f11a486470e0e5665be9b1ea080bf",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "start_month",
              "value": "2022-01-08T16:02:34.958Z"
            },
            {
              "name": "fields",
              "value": "infra_host_usage"
            }
          ],
          "url": "https://api.datadoghq.com/api/v1/usage/monthly-attribution?start_month=2022-01-08T16%3A02%3A34.958Z&fields=infra_host_usage"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 390,
            "text": "{\"usage\":[{\"org_name\":\"DD Integration Tests (321813)\",\"public_id\":\"fasjyydbcgwwc2uc\",\"tag_config_source\":\"DD Integration Tests (321813):::project\",\"tags\":null,\"updated_at\":\"2022-01-11T14:35:29Z\",\"month\":\"2022-01-01T00:00:00+00:00\",\"values\":{\"infra_host_usage\":18}}],\"metadata\":{\"pagination\":{\"next_record_id\":null},\"aggregates\":[{\"field\":\"infra_host_usage\",\"value\":18.0,\"agg_type\":\"sum\"}]}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 240
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
