{
  "log": {
    "_recordingName": "Action Connection/List App Key Registrations returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "9ac27827afdc3ed9ea25d56bd5e4fb3a",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/actions/app_key_registrations"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 124,
            "text": "{\"data\":[{\"id\":\"b7feea52-994e-4714-a100-1bd9eff5aee1\",\"type\":\"app_key_registration\"}],\"meta\":{\"total\":1,\"total_filtered\":1}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 65
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
