{
  "log": {
    "_recordingName": "Metrics/Scalar cross product query with apm_metrics data source and span_kind returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "9c5b26f69dbc190e6b2ff2ec9ea60a4f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"formulas\":[{\"formula\":\"a\",\"limit\":{\"count\":10,\"order\":\"desc\"}}],\"from\":1775756464000,\"queries\":[{\"data_source\":\"apm_metrics\",\"group_by\":[\"resource_name\"],\"name\":\"a\",\"query_filter\":\"env:prod\",\"service\":\"web-store\",\"span_kind\":\"server\",\"stat\":\"hits\"}],\"to\":1775760064000},\"type\":\"scalar_request\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/query/scalar"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 133,
            "text": "{\"data\":{\"id\":\"0\",\"type\":\"scalar_response\",\"attributes\":{\"columns\":[{\"name\":\"a\",\"values\":[],\"type\":\"number\",\"meta\":{\"unit\":null}}]}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 166
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
