{
  "log": {
    "_recordingName": "Agentless Scanning/Get Azure scan options returns \"Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "52967382bc0e399ff54ef650aa9eec30",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/agentless_scanning/accounts/azure/00000000-0000-0000-0000-000000000000"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 122,
            "text": "{\"errors\":[{\"status\":\"404\",\"detail\":\"no azure scan options found for subscription 00000000-0000-0000-0000-000000000000\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 430
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
