{
  "log": {
    "_recordingName": "Spans/Search spans returns \"Unprocessable Entity.\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "065549fba5fab6242175afccf85cc068",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"filter\":{\"from\":\"now\",\"query\":\"service:web* AND @http.status_code:[200 TO 299]\",\"to\":\"now-15m\"},\"options\":{\"timezone\":\"GMT\"},\"page\":{\"limit\":10},\"sort\":\"timestamp\"},\"type\":\"search_request\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/spans/events/search"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 136,
            "text": "{\"errors\":[{\"title\":\"Generic Error\",\"detail\":\"invalid_argument(Field 'filter.from,to' is invalid: 'from' should be anterior to 'to')\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 422,
          "statusText": "Unprocessable Entity"
        },
        "time": 350
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
