{
  "log": {
    "_recordingName": "Case Management/Assign case returns \"Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "16017a31816f9b7ce8e08c0f292c2116",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Assign_case_returns_Not_Found_response-1754996738@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 681,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"476d5d56-776c-11f0-a31d-56cf0fbed926\",\"attributes\":{\"name\":null,\"handle\":\"test-assign_case_returns_not_found_response-1754996738@datadoghq.com\",\"created_at\":\"2025-08-12T11:05:38.700864+00:00\",\"modified_at\":\"2025-08-12T11:05:38.700864+00:00\",\"email\":\"test-assign_case_returns_not_found_response-1754996738@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/281d9039509c05094e8235c264fd4263?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 452
      },
      {
        "_id": "26ab465cffa1d825ac192e7c7bd2fe8e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"assignee_id\":\"476d5d56-776c-11f0-a31d-56cf0fbed926\"},\"type\":\"case\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/cases/67d80aa3-36ff-44b9-a694-c501a7591737/assign"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 67,
            "text": "{\"errors\":[{\"code\":\"resource_not_found\",\"title\":\"case not found\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 375
      },
      {
        "_id": "9600862bafb359502fb2d05d881daa2f",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users/476d5d56-776c-11f0-a31d-56cf0fbed926"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 542
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
