{
  "log": {
    "_recordingName": "Case Management/Assign case returns \"Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "3a6509b8912e674e1435d921d51c7b19",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Assign_case_returns_Not_Found_response-1753105963@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 681,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"fa033cd0-6639-11f0-b658-96290b93dbfc\",\"attributes\":{\"name\":null,\"handle\":\"test-assign_case_returns_not_found_response-1753105963@datadoghq.com\",\"created_at\":\"2025-07-21T13:52:44.217086+00:00\",\"modified_at\":\"2025-07-21T13:52:44.217086+00:00\",\"email\":\"test-assign_case_returns_not_found_response-1753105963@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/de9eda912656e39d585005ddc0880775?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 471
      },
      {
        "_id": "2fc59d7830abc6f23dfdfc7e3227a10f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"assignee_id\":\"fa033cd0-6639-11f0-b658-96290b93dbfc\"},\"type\":\"case\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/cases/67d80aa3-36ff-44b9-a694-c501a7591737/assign"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 67,
            "text": "{\"errors\":[{\"code\":\"resource_not_found\",\"title\":\"case not found\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 392
      },
      {
        "_id": "13e04c013bdd39314e4a143c5dc2c240",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users/fa033cd0-6639-11f0-b658-96290b93dbfc"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 581
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
