{
  "log": {
    "_recordingName": "Case Management/Assign case returns \"Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "27bfb8aae9d8b7af12f96d8800aecba3",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Assign_case_returns_Not_Found_response-1759322792@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 681,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"a906fadf-9ec4-11f0-8e55-4666095c4509\",\"attributes\":{\"name\":null,\"handle\":\"test-assign_case_returns_not_found_response-1759322792@datadoghq.com\",\"created_at\":\"2025-10-01T12:46:33.507125+00:00\",\"modified_at\":\"2025-10-01T12:46:33.507125+00:00\",\"email\":\"test-assign_case_returns_not_found_response-1759322792@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/4d05db0354c1408750042bd62d0f0663?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 603
      },
      {
        "_id": "ecabd163f51a4fa13ba24c47b8d91a58",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"assignee_id\":\"a906fadf-9ec4-11f0-8e55-4666095c4509\"},\"type\":\"case\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/cases/67d80aa3-36ff-44b9-a694-c501a7591737/assign"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 67,
            "text": "{\"errors\":[{\"code\":\"resource_not_found\",\"title\":\"case not found\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 403
      },
      {
        "_id": "430f07818f29e557aefacafea724d7c5",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users/a906fadf-9ec4-11f0-8e55-4666095c4509"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 586
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
