{
  "log": {
    "_recordingName": "Service Definition/Get a single service definition returns \"Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "6871a664ce7c1a2e26ac5d32da04bee4",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/services/definitions/not-a-service"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 46,
            "text": "{\"errors\":[\"Not Found\"],\"error_details\":[{}]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 678
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
