{
  "log": {
    "_recordingName": "Monitors/Create a metric monitor returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "936c156958cc755daaee683db8cd2021",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"message\":\"some message Notify: @hipchat-channel\",\"name\":\"Test-Create_a_metric_monitor_returns_OK_response-1666985646\",\"options\":{\"scheduling_options\":{\"evaluation_window\":{\"day_starts\":\"04:00\",\"month_starts\":1}},\"thresholds\":{\"critical\":0.5}},\"query\":\"avg(current_1d):avg:system.load.5{*} > 0.5\",\"type\":\"metric alert\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/monitor"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 799,
            "text": "{\"restricted_roles\":null,\"tags\":[],\"deleted\":null,\"query\":\"avg(current_1d):avg:system.load.5{*} > 0.5\",\"message\":\"some message Notify: @hipchat-channel\",\"id\":101334182,\"multi\":false,\"name\":\"Test-Create_a_metric_monitor_returns_OK_response-1666985646\",\"created\":\"2022-10-28T19:34:06.916192+00:00\",\"created_at\":1666985646000,\"creator\":{\"id\":1445416,\"handle\":\"frog@datadoghq.com\",\"name\":null,\"email\":\"frog@datadoghq.com\"},\"org_id\":321813,\"modified\":\"2022-10-28T19:34:06.916192+00:00\",\"priority\":null,\"overall_state_modified\":null,\"overall_state\":\"No Data\",\"type\":\"query alert\",\"options\":{\"notify_audit\":false,\"scheduling_options\":{\"evaluation_window\":{\"day_starts\":\"04:00\",\"month_starts\":1}},\"include_tags\":true,\"thresholds\":{\"critical\":0.5},\"silenced\":{},\"new_host_delay\":300,\"notify_no_data\":false}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 180
      },
      {
        "_id": "12513410df3146ac0022a43201da43ab",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/monitor/101334182"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 33,
            "text": "{\"deleted_monitor_id\":101334182}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 156
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
