{
  "log": {
    "_recordingName": "Incident Teams/Get details of an incident team returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "727ce5185db9a28a79aab6137b1d05ce",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Typescript-Get_details_of_an_incident_team_returns_OK_response-1613667351.462\"},\"type\":\"teams\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/teams"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 999,
            "text": "{\"included\":[{\"type\":\"users\",\"id\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\",\"attributes\":{\"name\":\"CI Account\",\"handle\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\",\"created_at\":\"2020-12-29T22:58:44.733921+00:00\",\"email\":\"team-intg-tools-libs@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/bff625f8b50529c690eb616cd5e64167?s=48&d=retro\",\"title\":null,\"verified\":true,\"service_account\":true,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Active\"},\"relationships\":{\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}],\"data\":{\"type\":\"teams\",\"id\":\"7e244baf-f9d2-5972-92e0-706b4529d890\",\"attributes\":{\"name\":\"Typescript-Get_details_of_an_incident_team_returns_OK_response-1613667351.462\",\"created\":\"2021-02-18T16:55:51.530971+00:00\",\"modified\":\"2021-02-18T16:55:51.530971+00:00\"},\"relationships\":{\"last_modified_by\":{\"data\":{\"type\":\"users\",\"id\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\"}},\"created_by\":{\"data\":{\"type\":\"users\",\"id\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\"}}}}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.3935726"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "100"
            },
            {
              "name": "x-ratelimit-period",
              "value": "60"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "9"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "99"
            },
            {
              "name": "x-dd-debug",
              "value": "twvpGlmuom5y6A0pjGtXzTf554cmwJgTcCZ71fK4H/RDi+v5ehBK0zQiRcTJQG5C"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 78,
      },
      {
        "_id": "30c372a7125472f82a5feaf5d29e149b",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/teams/7e244baf-f9d2-5972-92e0-706b4529d890"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 532,
            "text": "[\"1f8b0800000000000003ad90bd6ec4201084df85364704d880f10ba44891e67ac4cf5a[...]
