{
  "log": {
    "_recordingName": "Incident Teams/Get details of an incident team returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "079d379636fe567234a342fd34318f97",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Get_details_of_an_incident_team_returns_OK_response-1641829842\"},\"type\":\"teams\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/teams"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 997,
            "text": "{\"included\":[{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"attributes\":{\"name\":null,\"handle\":\"frog@datadoghq.com\",\"created_at\":\"2019-10-02T08:15:39.795051+00:00\",\"modified_at\":\"2020-06-15T12:33:12.884459+00:00\",\"email\":\"frog@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro\",\"title\":null,\"verified\":true,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Active\"},\"relationships\":{\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}],\"data\":{\"type\":\"teams\",\"id\":\"ebff582d-6d91-544d-a693-34181fdd127c\",\"attributes\":{\"name\":\"Test-Get_details_of_an_incident_team_returns_OK_response-1641829842\",\"created\":\"2022-01-10T15:50:42.988020+00:00\",\"modified\":\"2022-01-10T15:50:42.988020+00:00\"},\"relationships\":{\"last_modified_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}},\"created_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 372
      },
      {
        "_id": "ceddf2b9133a00329e35c539f10f3b28",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/teams/ebff582d-6d91-544d-a693-34181fdd127c"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 442,
            "text": "{\"data\":{\"type\":\"teams\",\"id\":\"ebff582d-6d91-544d-a693-34181fdd12[...]
