{
  "log": {
    "_recordingName": "Incident Teams/Get details of an incident team returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "ce17f1b8cba42315a6c518607fff84d5",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Typescript-Get_details_of_an_incident_team_returns_OK_response-1613750645.914\"},\"type\":\"teams\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/teams"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 958,
            "text": "{\"included\":[{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"attributes\":{\"name\":null,\"handle\":\"frog@datadoghq.com\",\"created_at\":\"2019-10-02T08:15:39.795051+00:00\",\"email\":\"frog@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro\",\"title\":null,\"verified\":true,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Active\"},\"relationships\":{\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}],\"data\":{\"type\":\"teams\",\"id\":\"f11728f9-7727-5365-9ad1-a4a16767cd3f\",\"attributes\":{\"name\":\"Typescript-Get_details_of_an_incident_team_returns_OK_response-1613750645.914\",\"created\":\"2021-02-19T16:04:06.207262+00:00\",\"modified\":\"2021-02-19T16:04:06.207262+00:00\"},\"relationships\":{\"last_modified_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}},\"created_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}}}}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.3944440"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "100"
            },
            {
              "name": "x-ratelimit-period",
              "value": "60"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "54"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "96"
            },
            {
              "name": "x-dd-debug",
              "value": "mNzaoDhdDKO7t4QSrAe5X7pHd0bJND187D+vRbwoluXouE2m1UaQQX0RGCvRpLVE"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 349,
      },
      {
        "_id": "f511cff7c108a34d05c7a6fdb7ac50ec",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/teams/f11728f9-7727-5365-9ad1-a4a16767cd3f"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 534,
            "text": "[\"1f8b0800000000000003ad90b16ec3300c44ff456ba380922d29f60f64e8d025bb405[...]
