{
  "log": {
    "_recordingName": "Status Pages/List components returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "8174d3499f26d05f628c9071cdcfb89d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"components\":[{\"name\":\"ac93ac9ef66f717f\",\"type\":\"component\"}],\"domain_prefix\":\"dd-integration-tests-ac93ac9ef66f717f\",\"enabled\":true,\"name\":\"[DD Integration Tests] ac93ac9ef66f717f\",\"type\":\"internal\",\"visualization_type\":\"bars_and_uptime_percentage\"},\"type\":\"status_pages\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/statuspages"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 945,
            "text": "{\"data\":{\"id\":\"b111a384-9063-4364-8f54-f7265a779f49\",\"type\":\"status_pages\",\"attributes\":{\"company_logo\":null,\"components\":[{\"id\":\"ad1aee4e-b117-4083-9c42-c24d059f0cff\",\"name\":\"ac93ac9ef66f717f\",\"type\":\"component\",\"status\":\"operational\",\"position\":0}],\"created_at\":\"2026-01-09T18:43:28.976141Z\",\"custom_domain\":null,\"custom_domain_enabled\":false,\"domain_prefix\":\"dd-integration-tests-ac93ac9ef66f717f\",\"email_header_image\":null,\"enabled\":true,\"favicon\":null,\"modified_at\":\"2026-01-09T18:43:28.976141Z\",\"name\":\"[DD Integration Tests] ac93ac9ef66f717f\",\"page_url\":\"https://frog.datadoghq.com/status-pages/b111a384-9063-4364-8f54-f7265a779f49/view\",\"subscriptions_enabled\":false,\"type\":\"internal\",\"visualization_type\":\"bars_and_uptime_percentage\"},\"relationships\":{\"created_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}},\"last_modified_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 492
      },
      {
        "_id": "46a046ced7d3320265f4edf04b88c4f2",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/statuspages/b111a384-9063-4364-8f54-f7265a779f49/components"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 572,
            "text": "{\"data\":[{\"id\":\"ad1aee4e-b117-4083-9c42-c24d059f0cff\",\"type\":\"components\",\"attributes\":{\"created_at\":\"2026-01-09T18:43:28.976141Z\",\"modified_at\":\"2026-01-09T18:43:28.976141Z\",\"name\":\"ac93ac9ef66f717f\",\"position\":0,\"status\":\"operational\",\"type\":\"component\"},\"relationships\":{\"created_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}},\"group\":{\"data\":null},\"last_modified_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}},\"status_page\":{\"data\":{\"id\":\"b111a384-9063-4364-8f54-f7265a779f49\",\"type\":\"status_pages\"}}}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 98
      },
      {
        "_id": "e764db93022e9149733281ce39d69a41",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/statuspages/b111a384-9063-4364-8f54-f7265a779f49"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 460
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
