{
  "log": {
    "_recordingName": "Dashboards/Create a geomap widget using an event_list request",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "c774c1a1dbaaae7771e65be044d0dbf5",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"description\":\"Test-Create_a_geomap_widget_using_an_event_list_request-1687375743\",\"layout_type\":\"ordered\",\"notify_list\":[],\"reflow_type\":\"fixed\",\"tags\":[],\"template_variables\":[],\"title\":\"Test-Create_a_geomap_widget_using_an_event_list_request-1687375743\",\"widgets\":[{\"definition\":{\"requests\":[{\"columns\":[{\"field\":\"@network.client.geoip.location.latitude\",\"width\":\"auto\"},{\"field\":\"@network.client.geoip.location.longitude\",\"width\":\"auto\"},{\"field\":\"@network.client.geoip.country.iso_code\",\"width\":\"auto\"},{\"field\":\"@network.client.geoip.subdivision.name\",\"width\":\"auto\"},{\"field\":\"classic\",\"width\":\"auto\"},{\"field\":\"\",\"width\":\"auto\"}],\"query\":{\"data_source\":\"logs_stream\",\"indexes\":[],\"query_string\":\"\"},\"response_format\":\"event_list\"}],\"style\":{\"palette\":\"hostmap_blues\",\"palette_flip\":false},\"title\":\"\",\"title_align\":\"left\",\"title_size\":\"16\",\"type\":\"geomap\",\"view\":{\"focus\":\"WORLD\"}},\"layout\":{\"height\":6,\"width\":12,\"x\":0,\"y\":0}}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1265,
            "text": "{\"id\":\"cn7-qfm-s9w\",\"title\":\"Test-Create_a_geomap_widget_using_an_event_list_request-1687375743\",\"description\":\"Test-Create_a_geomap_widget_using_an_event_list_request-1687375743\",\"author_handle\":\"frog@datadoghq.com\",\"author_name\":null,\"layout_type\":\"ordered\",\"url\":\"/dashboard/cn7-qfm-s9w/test-createageomapwidgetusinganeventlistrequest-1687375743\",\"is_read_only\":false,\"template_variables\":[],\"widgets\":[{\"definition\":{\"requests\":[{\"columns\":[{\"field\":\"@network.client.geoip.location.latitude\",\"width\":\"auto\"},{\"field\":\"@network.client.geoip.location.longitude\",\"width\":\"auto\"},{\"field\":\"@network.client.geoip.country.iso_code\",\"width\":\"auto\"},{\"field\":\"@network.client.geoip.subdivision.name\",\"width\":\"auto\"},{\"field\":\"classic\",\"width\":\"auto\"},{\"field\":\"\",\"width\":\"auto\"}],\"query\":{\"data_source\":\"logs_stream\",\"indexes\":[],\"query_string\":\"\"},\"response_format\":\"event_list\"}],\"style\":{\"palette\":\"hostmap_blues\",\"palette_flip\":false},\"title\":\"\",\"title_align\":\"left\",\"title_size\":\"16\",\"type\":\"geomap\",\"view\":{\"focus\":\"WORLD\"}},\"layout\":{\"height\":6,\"width\":12,\"x\":0,\"y\":0},\"id\":8506811379916619}],\"notify_list\":[],\"created_at\":\"2023-06-21T19:29:03.801081+00:00\",\"modified_at\":\"2023-06-21T19:29:03.801081+00:00\",\"reflow_type\":\"fixed\",\"tags\":[],\"restricted_roles\":[]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 257
      },
      {
        "_id": "868856c78f3b0c86324a8e35c825a586",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/cn7-qfm-s9w"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 39,
            "text": "{\"deleted_dashboard_id\":\"cn7-qfm-s9w\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 176
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
