repos:
  - repo: local
    hooks:
      - id: generated
        name: Do not commit generated files
        language: fail
        entry: Unstage generated files with 'git reset --' command
        files: "^packages/datadog-api-client-v[1-9].*"
        verbose: true
      - id: generated-features
        name: Do not commit generated feature files
        language: fail
        entry: Unstage generated files with 'git reset --' command
        files: "^features/v[1-9][0-9]*/.*.feature$"
        verbose: true
      - id: generate
        name: Generate
        language: node
        entry: make
        files: "^.generator/.*"
        pass_filenames: false
      - id: lint
        name: Lint
        language: node
        entry: yarn run lint:fix
        stages: [manual]
        pass_filenames: false
        files: "^(docs|packages)/.*"
