{
  "log": {
    "_recordingName": "Security Monitoring/Validate a suppression rule returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "075f4d7d8168bd20ff83cef03495b3c5",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"data_exclusion_query\":\"not enough attributes\",\"enabled\":false,\"name\":\"cold_harbour\",\"rule_query\":\"rule:[A-Invalid\"},\"type\":\"suppressions\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions/validation"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 107,
            "text": "{\"errors\":[\"input_validation_error(Field 'data.attributes.rule_query' is invalid: rule query is invalid)\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 443
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
