{
  "log": {
    "_recordingName": "Status Pages/Create degradation returns \"Created\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "76bab8accba5ff46dbd2b02c976bc673",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"components\":[{\"name\":\"39ea72c29c3217ea\",\"type\":\"component\"}],\"domain_prefix\":\"dd-integration-test-39ea72c29c3217ea\",\"enabled\":true,\"name\":\"[DD Integration Test] 39ea72c29c3217ea\",\"type\":\"internal\",\"visualization_type\":\"bars_and_uptime_percentage\"},\"type\":\"status_pages\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/statuspages"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 943,
            "text": "{\"data\":{\"id\":\"c5cb93c7-2ec3-4e4c-b401-fe8b32817d1d\",\"type\":\"status_pages\",\"attributes\":{\"company_logo\":null,\"components\":[{\"id\":\"8938fbff-3fad-4143-98b3-7a15226d3edb\",\"name\":\"39ea72c29c3217ea\",\"type\":\"component\",\"status\":\"operational\",\"position\":0}],\"created_at\":\"2026-01-07T22:14:04.893474Z\",\"custom_domain\":null,\"custom_domain_enabled\":false,\"domain_prefix\":\"dd-integration-test-39ea72c29c3217ea\",\"email_header_image\":null,\"enabled\":true,\"favicon\":null,\"modified_at\":\"2026-01-07T22:14:04.893474Z\",\"name\":\"[DD Integration Test] 39ea72c29c3217ea\",\"page_url\":\"https://frog.datadoghq.com/status-pages/c5cb93c7-2ec3-4e4c-b401-fe8b32817d1d/view\",\"subscriptions_enabled\":false,\"type\":\"internal\",\"visualization_type\":\"bars_and_uptime_percentage\"},\"relationships\":{\"created_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}},\"last_modified_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 516
      },
      {
        "_id": "fcad6d2d80a934ba4bbb9964eb03b74d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"components_affected\":[{\"id\":\"8938fbff-3fad-4143-98b3-7a15226d3edb\",\"status\":\"major_outage\"}],\"description\":\"39ea72c29c3217ea\",\"status\":\"investigating\",\"title\":\"39ea72c29c3217ea\"},\"type\":\"degradations\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/statuspages/c5cb93c7-2ec3-4e4c-b401-fe8b32817d1d/degradations"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 1033,
            "text": "{\"data\":{\"id\":\"7c009570-6d75-4039-8124-4d100297710e\",\"type\":\"degradations\",\"attributes\":{\"components_affected\":[{\"id\":\"8938fbff-3fad-4143-98b3-7a15226d3edb\",\"name\":\"39ea72c29c3217ea\",\"status\":\"major_outage\"}],\"created_at\":\"2026-01-07T22:14:05.417524Z\",\"description\":\"39ea72c29c3217ea\",\"modified_at\":\"2026-01-07T22:14:05.417524Z\",\"status\":\"investigating\",\"title\":\"39ea72c29c3217ea\",\"updates\":[{\"id\":\"76027803-9ae5-43de-81e4-8b5c57564a22\",\"created_at\":\"2026-01-07T22:14:05.417524Z\",\"modified_at\":\"2026-01-07T22:14:05.417524Z\",\"started_at\":\"0001-01-01T00:00:00Z\",\"status\":\"investigating\",\"description\":\"39ea72c29c3217ea\",\"components_affected\":[{\"id\":\"8938fbff-3fad-4143-98b3-7a15226d3edb\",\"name\":\"39ea72c29c3217ea\",\"status\":\"major_outage\"}]}]},\"relationships\":{\"created_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}},\"last_modified_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}},\"status_page\":{\"data\":{\"id\":\"c5cb93c7-2ec3-4e4c-b401-fe8b32817d1d\",\"type\":\"status_pages\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 159
      },
      {
        "_id": "d565db3c273eb9f3596b357817193295",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/statuspages/c5cb93c7-2ec3-4e4c-b401-fe8b32817d1d/degradations/7c009570-6d75-4039-8124-4d100297710e"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 164
      },
      {
        "_id": "0b484eba34fc195beacfe81e18d0d58d",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/statuspages/c5cb93c7-2ec3-4e4c-b401-fe8b32817d1d"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 61,
            "text": "{\"errors\":[{\"status\":\"500\",\"title\":\"Internal Server Error\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 500,
          "statusText": "Internal Server Error"
        },
        "time": 457
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
