{
  "log": {
    "_recordingName": "Status Pages/Create degradation returns \"Created\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "23ecb135d12c2a2ab73686485906efb1",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"components\":[{\"components\":[{\"name\":\"Login\",\"position\":0,\"type\":\"component\"},{\"name\":\"Settings\",\"position\":1,\"type\":\"component\"}],\"name\":\"Application\",\"type\":\"group\"}],\"domain_prefix\":\"6fadaccff9a14c1b\",\"name\":\"A Status Page\",\"type\":\"internal\",\"visualization_type\":\"bars_and_uptime_percentage\"},\"type\":\"status_pages\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/statuspages"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 1117,
            "text": "{\"data\":{\"id\":\"7a6eba5d-657a-416e-943f-59102f88c3b5\",\"type\":\"status_pages\",\"attributes\":{\"company_logo\":null,\"components\":[{\"id\":\"c72b2d6b-f4fb-4934-a68c-265e4f9991d6\",\"name\":\"Application\",\"type\":\"group\",\"position\":0,\"components\":[{\"id\":\"13dfd7ee-e741-41f9-af1a-d40fa4caf459\",\"name\":\"Login\",\"type\":\"component\",\"status\":\"operational\",\"position\":0},{\"id\":\"e2cffa19-a102-43e1-ac3c-7b36a7a61f52\",\"name\":\"Settings\",\"type\":\"component\",\"status\":\"operational\",\"position\":1}]}],\"created_at\":\"2026-04-24T14:12:39.042853Z\",\"custom_domain\":null,\"custom_domain_enabled\":false,\"domain_prefix\":\"6fadaccff9a14c1b\",\"email_header_image\":null,\"enabled\":false,\"favicon\":null,\"modified_at\":\"2026-04-24T14:12:39.042853Z\",\"name\":\"A Status Page\",\"page_url\":\"https://frog.datadoghq.com/status-pages/7a6eba5d-657a-416e-943f-59102f88c3b5/view\",\"subscriptions_enabled\":false,\"type\":\"internal\",\"visualization_type\":\"bars_and_uptime_percentage\"},\"relationships\":{\"created_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}},\"last_modified_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 637
      },
      {
        "_id": "14f18facaab095377b108b2222734455",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"components_affected\":[{\"id\":\"13dfd7ee-e741-41f9-af1a-d40fa4caf459\",\"status\":\"major_outage\"}],\"description\":\"Our API is experiencing elevated latency. We are investigating the issue.\",\"status\":\"investigating\",\"title\":\"Elevated API Latency\"},\"type\":\"degradations\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/statuspages/7a6eba5d-657a-416e-943f-59102f88c3b5/degradations"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 1136,
            "text": "{\"data\":{\"id\":\"ee2a3955-7bbf-4215-a80e-e989ecd58228\",\"type\":\"degradations\",\"attributes\":{\"components_affected\":[{\"id\":\"13dfd7ee-e741-41f9-af1a-d40fa4caf459\",\"name\":\"Login\",\"status\":\"major_outage\"}],\"created_at\":\"2026-04-24T14:12:39.710666Z\",\"description\":\"Our API is experiencing elevated latency. We are investigating the issue.\",\"modified_at\":\"2026-04-24T14:12:39.710666Z\",\"status\":\"investigating\",\"title\":\"Elevated API Latency\",\"updates\":[{\"id\":\"59590192-d12c-468e-8e7e-fe34167ed517\",\"created_at\":\"2026-04-24T14:12:39.710666Z\",\"modified_at\":\"2026-04-24T14:12:39.710666Z\",\"started_at\":\"2026-04-24T14:12:39.710666Z\",\"status\":\"investigating\",\"description\":\"Our API is experiencing elevated latency. We are investigating the issue.\",\"components_affected\":[{\"id\":\"13dfd7ee-e741-41f9-af1a-d40fa4caf459\",\"name\":\"Login\",\"status\":\"major_outage\"}]}]},\"relationships\":{\"created_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}},\"last_modified_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}},\"status_page\":{\"data\":{\"id\":\"7a6eba5d-657a-416e-943f-59102f88c3b5\",\"type\":\"status_pages\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 166
      },
      {
        "_id": "0a5288fe987883dc1db8bd7318103f4f",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/statuspages/7a6eba5d-657a-416e-943f-59102f88c3b5/degradations/ee2a3955-7bbf-4215-a80e-e989ecd58228"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 153
      },
      {
        "_id": "ed86d5eb7c09fa3a7a20136165451e0c",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/statuspages/7a6eba5d-657a-416e-943f-59102f88c3b5"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 623
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
