{
  "log": {
    "_recordingName": "RUM/Get a list of RUM events returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "d7ee97ae534ee9a005c858ab9aa95457",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/rum/events"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 167,
            "text": "{\"data\":[],\"meta\":{\"elapsed\":10,\"request_id\":\"pddv1ChZhbnQxdm9hcVI0bWQ1TGJMVVpuNnBBIi4KHq_brdH-tDEYaWyFcAkXsE_Jfa5xAF1IlOPthQkkIxIMNS-Pl8rl8qYHwMar\",\"status\":\"done\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 344
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
