{
  "log": {
    "_recordingName": "Logs Pipelines/Create a pipeline with Array Processor Select Operation returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "154a281c9947b2224fa90ce0c43a8d0a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"filter\":{\"query\":\"source:python\"},\"name\":\"testPipelineArraySelect\",\"processors\":[{\"is_enabled\":true,\"name\":\"extract_referrer\",\"operation\":{\"filter\":\"name:Referrer\",\"source\":\"httpRequest.headers\",\"target\":\"referrer\",\"type\":\"select\",\"value_to_extract\":\"value\"},\"type\":\"array-processor\"}],\"tags\":[]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/logs/config/pipelines"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 387,
            "text": "{\"id\":\"e3TVPUCYQ7a37CTTJB1HcA\",\"type\":\"pipeline\",\"name\":\"testPipelineArraySelect\",\"is_enabled\":false,\"is_read_only\":false,\"filter\":{\"query\":\"source:python\"},\"processors\":[{\"name\":\"extract_referrer\",\"is_enabled\":true,\"operation\":{\"source\":\"httpRequest.headers\",\"target\":\"referrer\",\"filter\":\"name:Referrer\",\"value_to_extract\":\"value\",\"type\":\"select\"},\"type\":\"array-processor\"}],\"tags\":[]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 413
      },
      {
        "_id": "effbea81ffb83c0000bd7f72dd5460a9",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/logs/config/pipelines/e3TVPUCYQ7a37CTTJB1HcA"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 3,
            "text": "{}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 387
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
