{
  "log": {
    "_recordingName": "Logs Custom Destinations/Create a custom destination with HTTP request header forwarding returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "8b9284ade255ac680d3c58fe3a420a2a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"forwarderDestination\":{\"auth\":{\"headerName\":\"header\",\"headerValue\":\"value\",\"type\":\"custom_header\"},\"endpoint\":\"https://example.org/my-intake\",\"type\":\"http\"},\"name\":\"my-destination\",\"version\":0},\"type\":\"custom_destination\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/config/custom_destinations"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 434,
            "text": "{\"data\":{\"id\":\"9f7d9a53-27d4-4c47-bf1c-6db185bc9711\",\"attributes\":{\"version\":0,\"name\":\"my-destination\",\"query\":\"\",\"enabled\":true,\"bufferMaxBytes\":5242880,\"bufferTimeoutSeconds\":60,\"maxRetryDurationSeconds\":300,\"compression\":\"GZIP\",\"forwarderDestination\":{\"type\":\"http\",\"endpoint\":\"https://example.org/my-intake\",\"auth\":{\"type\":\"custom_header\",\"headerName\":\"header\",\"headerValue\":\"__REDACTED_SECRET__\"}}},\"type\":\"custom_destination\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 578
      },
      {
        "_id": "e40ea0960f037a6297ccd0dbcb061b5c",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/config/custom_destinations/9f7d9a53-27d4-4c47-bf1c-6db185bc9711"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 12,
            "text": "{\"meta\":{}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 530
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
