{
  "log": {
    "_recordingName": "Logs/Send logs returns \"Response from server (always 200 empty JSON).\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "d717245594e106156bd5a5ef00fe63f5",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[{\"message\":\"Typescript-Send_logs_returns_Response_from_server_always_200_empty_JSON_response-1615196856.196\"}]"
          },
          "queryString": [],
          "url": "https://http-intake.logs.datadoghq.com/v1/input"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 2,
            "text": "{}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 400,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
