{
  "log": {
    "_recordingName": "Security Monitoring/List findings with detection_type query param returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "4ec02501f3390117166c0dc56b57b505",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "filter",
              "value": {
                "detection_type": [
                  "misconfiguration",
                  "attack_path"
                ]
              }
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/posture_management/findings?filter%5Bdetection_type%5D=misconfiguration&filter%5Bdetection_type%5D=attack_path"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 89,
            "text": "{\"data\":[],\"meta\":{\"page\":{\"total_filtered_count\":0},\"snapshot_timestamp\":1727465091308}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 108
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
