{
  "log": {
    "_recordingName": "Teams/Get links for a team returns \"API error response.\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "6c5eef859c872a02550ae7ecfe340f21",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/REPLACE.ME/links"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 55,
            "text": "{\"errors\":[\"REPLACE.ME is not a valid UUID not found\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 342
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
