{
  "log": {
    "_recordingName": "Downtimes/Cancel a downtime returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "e6defbedaa54a33f197547e4369f0742",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"message\":\"test message\",\"monitor_identifier\":{\"monitor_tags\":[\"cat:hat\"]},\"schedule\":{\"start\":null},\"scope\":\"test:testcanceladowntimereturnsokresponse1685739202\"},\"type\":\"downtime\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/downtime"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1148,
            "text": "{\"data\":{\"type\":\"downtime\",\"attributes\":{\"mute_first_recovery_notification\":false,\"status\":\"active\",\"created\":\"2023-06-02T20:53:23.252025+00:00\",\"notify_end_states\":[\"alert\",\"no data\",\"warn\"],\"canceled\":null,\"display_timezone\":\"UTC\",\"modified\":\"2023-06-02T20:53:23.252025+00:00\",\"monitor_identifier\":{\"monitor_tags\":[\"cat:hat\"]},\"scope\":\"test:testcanceladowntimereturnsokresponse1685739202\",\"schedule\":{\"start\":\"2023-06-02T20:53:23.238403+00:00\",\"end\":null},\"message\":\"test message\",\"notify_end_types\":[\"expired\"]},\"id\":\"83718756-0187-11ee-8c18-da7ad0900002\",\"relationships\":{\"created_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}},\"monitor\":{\"data\":null}}},\"included\":[{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"attributes\":{\"name\":null,\"handle\":\"frog@datadoghq.com\",\"created_at\":\"2019-10-02T08:15:39.795051+00:00\",\"modified_at\":\"2020-06-15T12:33:12.884459+00:00\",\"email\":\"frog@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro\",\"title\":null,\"verified\":true,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Active\"}}]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 352
      },
      {
        "_id": "3db262388ae898bbd30058dcf2b742f5",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/downtime/83718756-0187-11ee-8c18-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=utf-8",
            "size": 0
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=utf-8"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 341
      },
      {
        "_id": "3db262388ae898bbd30058dcf2b742f5",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/downtime/83718756-0187-11ee-8c18-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=utf-8",
            "size": 0
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=utf-8"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 882
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
