{
  "log": {
    "_recordingName": "Dashboards/Create a new dashboard with iframe widget",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "1ecbc9831f0d9c0581b41c032c2d7a62",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"description\":\"\",\"layout_type\":\"free\",\"notify_list\":[],\"template_variables\":[],\"title\":\"Test-Create_a_new_dashboard_with_iframe_widget-1731699163\",\"widgets\":[{\"definition\":{\"type\":\"iframe\",\"url\":\"https://docs.datadoghq.com/api/latest/\"},\"layout\":{\"height\":12,\"width\":12,\"x\":0,\"y\":0}}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 607,
            "text": "{\"id\":\"y65-35v-xh5\",\"title\":\"Test-Create_a_new_dashboard_with_iframe_widget-1731699163\",\"description\":\"\",\"author_handle\":\"frog@datadoghq.com\",\"author_name\":null,\"layout_type\":\"free\",\"url\":\"/dashboard/y65-35v-xh5/test-createanewdashboardwithiframewidget-1731699163\",\"is_read_only\":false,\"template_variables\":[],\"widgets\":[{\"definition\":{\"type\":\"iframe\",\"url\":\"https://docs.datadoghq.com/api/latest/\"},\"layout\":{\"height\":12,\"width\":12,\"x\":0,\"y\":0},\"id\":1537588948372026}],\"notify_list\":[],\"created_at\":\"2024-11-15T19:32:43.415569+00:00\",\"modified_at\":\"2024-11-15T19:32:43.415569+00:00\",\"restricted_roles\":[]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 200
      },
      {
        "_id": "80d807d8e53aea56cf8bb3396b319f60",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/y65-35v-xh5"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 39,
            "text": "{\"deleted_dashboard_id\":\"y65-35v-xh5\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 170
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
