{
  "log": {
    "_recordingName": "Dashboards/Create a new dashboard with iframe widget",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "65b6537586c2dbcb07986f24a04e3f1f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"description\":\"\",\"is_read_only\":false,\"layout_type\":\"free\",\"notify_list\":[],\"template_variables\":[],\"title\":\"Test-Create_a_new_dashboard_with_iframe_widget-1641430234\",\"widgets\":[{\"definition\":{\"type\":\"iframe\",\"url\":\"https://docs.datadoghq.com/api/latest/\"},\"layout\":{\"height\":12,\"width\":12,\"x\":0,\"y\":0}}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 606,
            "text": "{\"notify_list\":[],\"description\":\"\",\"restricted_roles\":[],\"author_name\":null,\"template_variables\":[],\"is_read_only\":false,\"id\":\"udq-5td-jif\",\"title\":\"Test-Create_a_new_dashboard_with_iframe_widget-1641430234\",\"url\":\"/dashboard/udq-5td-jif/test-createanewdashboardwithiframewidget-1641430234\",\"created_at\":\"2022-01-06T00:50:35.006333+00:00\",\"modified_at\":\"2022-01-06T00:50:35.006333+00:00\",\"author_handle\":\"frog@datadoghq.com\",\"widgets\":[{\"definition\":{\"url\":\"https://docs.datadoghq.com/api/latest/\",\"type\":\"iframe\"},\"layout\":{\"y\":0,\"width\":12,\"x\":0,\"height\":12},\"id\":4318913911937946}],\"layout_type\":\"free\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 205
      },
      {
        "_id": "81be041ca3eb35a9745badda38a4f608",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/udq-5td-jif"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 38,
            "text": "{\"deleted_dashboard_id\":\"udq-5td-jif\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 810
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
