{
  "log": {
    "_recordingName": "Dashboards/Create a new dashboard with iframe widget",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "a9ee23ec03d0b7011d8f7fe010641061",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"description\":\"\",\"is_read_only\":false,\"layout_type\":\"free\",\"notify_list\":[],\"template_variables\":[],\"title\":\"Test-Create_a_new_dashboard_with_iframe_widget-1640210585\",\"widgets\":[{\"definition\":{\"type\":\"iframe\",\"url\":\"https://docs.datadoghq.com/api/latest/\"},\"layout\":{\"height\":12,\"width\":12,\"x\":0,\"y\":0}}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 606,
            "text": "{\"notify_list\":[],\"description\":\"\",\"restricted_roles\":[],\"author_name\":null,\"template_variables\":[],\"is_read_only\":false,\"id\":\"uik-kyz-xi4\",\"title\":\"Test-Create_a_new_dashboard_with_iframe_widget-1640210585\",\"url\":\"/dashboard/uik-kyz-xi4/test-createanewdashboardwithiframewidget-1640210585\",\"created_at\":\"2021-12-22T22:03:05.969306+00:00\",\"modified_at\":\"2021-12-22T22:03:05.969306+00:00\",\"author_handle\":\"frog@datadoghq.com\",\"widgets\":[{\"definition\":{\"url\":\"https://docs.datadoghq.com/api/latest/\",\"type\":\"iframe\"},\"layout\":{\"y\":0,\"width\":12,\"x\":0,\"height\":12},\"id\":2292796990276120}],\"layout_type\":\"free\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 241
      },
      {
        "_id": "c435c864c36b33dcaa2e2978a7d17210",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/uik-kyz-xi4"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 38,
            "text": "{\"deleted_dashboard_id\":\"uik-kyz-xi4\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 337
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
