{
  "log": {
    "_recordingName": "Domain Allowlist/Sets Domain Allowlist returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "a389d9f3b7a7111e6014fd052f8b33d1",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"domains\":[\"@static-test-domain.test\"],\"enabled\":false},\"type\":\"domain_allowlist\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/domain_allowlist"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 107,
            "text": "{\"data\":{\"type\":\"domain_allowlist\",\"attributes\":{\"enabled\":false,\"domains\":[\"@static-test-domain.test\"]}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 183
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
