{
  "log": {
    "_recordingName": "Usage Metering/Get monthly usage attribution returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "236c56061411c26bddfb88e0e5b54fb1",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "start_month",
              "value": "2022-05-20T08:46:27.028Z"
            },
            {
              "name": "fields",
              "value": "infra_host_usage"
            }
          ],
          "url": "https://api.datadoghq.com/api/v1/usage/monthly-attribution?start_month=2022-05-20T08%3A46%3A27.028Z&fields=infra_host_usage"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 390,
            "text": "{\"usage\":[{\"org_name\":\"DD Integration Tests (321813)\",\"public_id\":\"fasjyydbcgwwc2uc\",\"tag_config_source\":\"DD Integration Tests (321813):::project\",\"tags\":null,\"updated_at\":\"2022-05-22T09:05:00Z\",\"month\":\"2022-05-01T00:00:00+00:00\",\"values\":{\"infra_host_usage\":19}}],\"metadata\":{\"pagination\":{\"next_record_id\":null},\"aggregates\":[{\"field\":\"infra_host_usage\",\"value\":19.0,\"agg_type\":\"sum\"}]}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 696
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
