{
  "log": {
    "_recordingName": "Rum Retention Filters Permanent/Get all permanent retention filters returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "b76a680da5df0694374c3c9ae73fac1e",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/rum/applications/1d4b9c34-7ac4-423a-91cf-9902d926e9b3/permanent_retention_filters"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 613,
            "text": "{\"data\":[{\"id\":\"default_synthetics\",\"type\":\"permanent_retention_filters\",\"attributes\":{\"name\":\"Default Synthetics\",\"event_type\":\"session\",\"query\":\"@type:browser\",\"sample_rate\":100,\"enabled\":true,\"cross_product_sampling\":{\"trace_sample_rate\":100},\"cross_product_sampling_editability\":{\"trace_sample_rate\":true}}},{\"id\":\"default_replays\",\"type\":\"permanent_retention_filters\",\"attributes\":{\"name\":\"Default Replays\",\"event_type\":\"session\",\"query\":\"@has_replay:true\",\"sample_rate\":100,\"enabled\":true,\"cross_product_sampling\":{\"trace_sample_rate\":100},\"cross_product_sampling_editability\":{\"trace_sample_rate\":true}}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 298
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
