{
  "log": {
    "_recordingName": "Usage Metering/Get hourly usage for analyzed logs returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "8c0368a9dc191ffbb1da0d8dfbdc8cbc",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "start_hr",
              "value": "2022-01-26T09:34:30.705Z"
            },
            {
              "name": "end_hr",
              "value": "2022-01-28T09:34:30.705Z"
            }
          ],
          "url": "https://api.datadoghq.com/api/v1/usage/analyzed_logs?start_hr=2022-01-26T09%3A34%3A30.705Z&end_hr=2022-01-28T09%3A34%3A30.705Z"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 2766,
            "text": "{\"usage\":[{\"hour\":\"2022-01-26T09:00:00+00:00\",\"analyzed_logs\":200},{\"hour\":\"2022-01-26T10:00:00+00:00\",\"analyzed_logs\":0},{\"hour\":\"2022-01-26T11:00:00+00:00\",\"analyzed_logs\":412},{\"hour\":\"2022-01-26T12:00:00+00:00\",\"analyzed_logs\":0},{\"hour\":\"2022-01-26T13:00:00+00:00\",\"analyzed_logs\":200},{\"hour\":\"2022-01-26T14:00:00+00:00\",\"analyzed_logs\":1014},{\"hour\":\"2022-01-26T15:00:00+00:00\",\"analyzed_logs\":200},{\"hour\":\"2022-01-26T16:00:00+00:00\",\"analyzed_logs\":0},{\"hour\":\"2022-01-26T17:00:00+00:00\",\"analyzed_logs\":2[...]
