{
  "log": {
    "_recordingName": "Usage Metering/Get hourly usage for analyzed logs returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "d13df644f6cd4e407fa13283cf170274",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "start_hr",
              "value": "2025-05-07T11:35:54.741Z"
            },
            {
              "name": "end_hr",
              "value": "2025-05-09T11:35:54.741Z"
            }
          ],
          "url": "https://api.datadoghq.com/api/v1/usage/analyzed_logs?start_hr=2025-05-07T11%3A35%3A54.741Z&end_hr=2025-05-09T11%3A35%3A54.741Z"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 2784,
            "text": "{\"usage\":[{\"hour\":\"2025-05-07T11:00:00+00:00\",\"analyzed_logs\":405},{\"hour\":\"2025-05-07T12:00:00+00:00\",\"analyzed_logs\":404},{\"hour\":\"2025-05-07T13:00:00+00:00\",\"analyzed_logs\":null},{\"hour\":\"2025-05-07T14:00:00+00:00\",\"analyzed_logs\":384},{\"hour\":\"2025-05-07T15:00:00+00:00\",\"analyzed_logs\":959},{\"hour\":\"2025-05-07T16:00:00+00:00\",\"analyzed_logs\":981},{\"hour\":\"2025-05-07T17:00:00+00:00\",\"analyzed_logs\":null},{\"hour\":\"2025-05-07T18:00:00+00:00\",\"analyzed_logs\":null},{\"hour\":\"2025-05-07T19:00:00+00:00\",\"analyzed_[...]
