{
  "log": {
    "_recordingName": "Users/Get user details returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "1a14e6926077d6b425826daebb2e5e7a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Get_user_details_returns_OK_response-1697467605@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 677,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"d3edd11c-6c32-11ee-9c79-aaef51702d10\",\"attributes\":{\"name\":null,\"handle\":\"test-get_user_details_returns_ok_response-1697467605@datadoghq.com\",\"created_at\":\"2023-10-16T14:46:45.480711+00:00\",\"modified_at\":\"2023-10-16T14:46:45.480711+00:00\",\"email\":\"test-get_user_details_returns_ok_response-1697467605@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/64901293a45aa6f5fa32d0fa57decdb2?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 515
      },
      {
        "_id": "bdae7be209d8b24b207ab46a687d3db9",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users/d3edd11c-6c32-11ee-9c79-aaef51702d10"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 677,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"d3edd11c-6c32-11ee-9c79-aaef51702d[...]
