{
  "log": {
    "_recordingName": "Organizations/Get a specific Org Config value returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "e66698ba1757385fee5ffb7f68314b58",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/org_configs/custom_roles"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 218,
            "text": "{\"data\":{\"type\":\"org_configs\",\"id\":\"d4a6259b-5599-5120-8bdb-22718cb09118\",\"attributes\":{\"name\":\"custom_roles\",\"description\":\"Enables the custom roles (RBAC) UI.\",\"value_type\":\"bool\",\"value\":false,\"modified_at\":null}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 450
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
