{
  "log": {
    "_recordingName": "Service Scorecards/Delete a rule returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "f276839a40d9c33e376a070809b27828",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"enabled\":true,\"name\":\"Test-Delete_a_rule_returns_OK_response-1698877051\",\"owner\":\"Datadog\",\"scorecard_name\":\"OpenAPI Spec Test Best Practices\"},\"type\":\"rule\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/scorecard/rules"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 454,
            "text": "{\"data\":{\"id\":\"74d92a4b-2242-488d-b3de-dd557eecb18b\",\"type\":\"rule\",\"attributes\":{\"category\":\"OpenAPI Spec Test Best Practices\",\"created_at\":\"2023-11-01T22:17:31.138205Z\",\"custom\":true,\"enabled\":true,\"modified_at\":\"2023-11-01T22:17:31.138205Z\",\"name\":\"Test-Delete_a_rule_returns_OK_response-1698877051\",\"owner\":\"Datadog\",\"scorecard_name\":\"OpenAPI Spec Test Best Practices\"},\"relationships\":{\"scorecard\":{\"data\":{\"id\":\"qsxpoYRhU_yz\",\"type\":\"scorecard\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 112
      },
      {
        "_id": "ca792ec7cc152c80bccc7f338877c3c4",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/scorecard/rules/74d92a4b-2242-488d-b3de-dd557eecb18b"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 0
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 181
      },
      {
        "_id": "ca792ec7cc152c80bccc7f338877c3c4",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/scorecard/rules/74d92a4b-2242-488d-b3de-dd557eecb18b"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 113,
            "text": "{\"errors\":[{\"status\":\"404\",\"title\":\"Not Found\",\"detail\":\"rule not found: 74d92a4b-2242-488d-b3de-dd557eecb18b\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 106
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
