{
  "log": {
    "_recordingName": "Teams/List team connections with filters returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "3dea2d45c438044658c8f0cfc76865ae",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"test-handle-fa25cb1eef560458\",\"name\":\"test-name-fa25cb1eef560458\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 660,
            "text": "{\"data\":{\"id\":\"d7ee1319-6ac0-45c6-8700-079e58eac9f9\",\"type\":\"team\",\"attributes\":{\"avatar\":null,\"banner\":1,\"created_at\":\"2026-03-27T09:09:59.338935+00:00\",\"description\":null,\"handle\":\"test-handle-fa25cb1eef560458\",\"hidden_modules\":null,\"is_managed\":false,\"link_count\":0,\"modified_at\":\"2026-03-27T09:09:59.338935+00:00\",\"name\":\"test-name-fa25cb1eef560458\",\"summary\":null,\"user_count\":0,\"visible_modules\":null},\"relationships\":{\"team_links\":{\"data\":[],\"links\":{\"related\":\"/api/v2/team/d7ee1319-6ac0-45c6-8700-079e58eac9f9/links\"}},\"user_team_permissions\":{\"data\":null,\"links\":{\"related\":\"/api/v2/team/d7ee1319-6ac0-45c6-8700-079e58eac9f9/permission-settings\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 569
      },
      {
        "_id": "b20ff35322bf068cfd9e1f5d1a9fab39",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":[{\"attributes\":{\"managed_by\":\"datadog\",\"source\":\"github\"},\"relationships\":{\"connected_team\":{\"data\":{\"id\":\"@MyGitHubAccount/my-team-name\",\"type\":\"github_team\"}},\"team\":{\"data\":{\"id\":\"d7ee1319-6ac0-45c6-8700-079e58eac9f9\",\"type\":\"team\"}}},\"type\":\"team_connection\"}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/connections"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 317,
            "text": "{\"data\":[{\"id\":\"bb57db2e-29bc-11f1-bcee-da7ad0900002\",\"type\":\"team_connection\",\"attributes\":{\"managed_by\":\"datadog\",\"source\":\"github\"},\"relationships\":{\"connected_team\":{\"data\":{\"id\":\"@MyGitHubAccount/my-team-name\",\"type\":\"github_team\"}},\"team\":{\"data\":{\"id\":\"d7ee1319-6ac0-45c6-8700-079e58eac9f9\",\"type\":\"team\"}}}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 518
      },
      {
        "_id": "f1d8c3a61bfeb00708a6a2f2228733bf",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "filter",
              "value": {
                "sources": "github"
              }
            },
            {
              "name": "page",
              "value": {
                "size": "10"
              }
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/team/connections?filter%5Bsources%5D=github&page%5Bsize%5D=10"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 1993,
            "text": "{\"data\":[{\"id\":\"52a55816-291e-11f1-be93-da7a[...]
