{
  "log": {
    "_recordingName": "Service Level Objectives/Get SLO report status returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "d19445c8a9a1db084baf74b8c590a532",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"from_ts\":1723146831,\"interval\":\"monthly\",\"query\":\"slo_type:metric \\\"SLO Reporting Test\\\"\",\"to_ts\":1724961231}}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/slo/report"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 73,
            "text": "{\"data\":{\"id\":\"6a25239c-6640-11ef-943f-83644ac57ee3\",\"type\":\"report_id\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 141
      },
      {
        "_id": "85747fb3d2f458d86e9559c248aff929",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/slo/report/6a25239c-6640-11ef-943f-83644ac57ee3/status"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 111,
            "text": "{\"data\":{\"id\":\"6a25239c-6640-11ef-943f-83644ac57ee3\",\"type\":\"report_id\",\"attributes\":{\"status\":\"in_progress\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 82
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
