{
  "log": {
    "_recordingName": "Service Level Objectives/Get SLO report status returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "854876f41505ea10ecef5ea7274e65dc",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"from_ts\":1710870996,\"interval\":\"monthly\",\"query\":\"slo_type:metric \\\"SLO Reporting Test\\\"\",\"to_ts\":1712685396}}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/slo/report"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 73,
            "text": "{\"data\":{\"id\":\"8288c800-f69a-11ee-aab1-0772aa10fea1\",\"type\":\"report_id\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 112
      },
      {
        "_id": "89ce64902c40a5515593455d3690112d",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/slo/report/8288c800-f69a-11ee-aab1-0772aa10fea1/status"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 111,
            "text": "{\"data\":{\"id\":\"8288c800-f69a-11ee-aab1-0772aa10fea1\",\"type\":\"report_id\",\"attributes\":{\"status\":\"in_progress\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 88
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
