{
  "log": {
    "_recordingName": "Service Level Objectives/Get SLO report status returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "629e962cb41d995632e1e1c249076a4a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"from_ts\":1690901870,\"interval\":\"monthly\",\"query\":\"slo_type:metric \\\"SLO Reporting Test\\\"\",\"to_ts\":1706803070}}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/slo/report"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 73,
            "text": "{\"data\":{\"id\":\"b33e9726-eaf2-11ee-a52a-bbb0426c78fe\",\"type\":\"report_id\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 85
      },
      {
        "_id": "24a5967360d23571bd764bdd257f3281",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/slo/report/b33e9726-eaf2-11ee-a52a-bbb0426c78fe/status"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 111,
            "text": "{\"data\":{\"id\":\"b33e9726-eaf2-11ee-a52a-bbb0426c78fe\",\"type\":\"report_id\",\"attributes\":{\"status\":\"IN_PROGRESS\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 120
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
