{
  "log": {
    "_recordingName": "Service Level Objectives/Get SLO report status returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "960ebb20bca9bb34228c2545bb0a6cf2",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"from_ts\":1711656584,\"interval\":\"monthly\",\"query\":\"slo_type:metric \\\"SLO Reporting Test\\\"\",\"to_ts\":1713470984}}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/slo/report"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 73,
            "text": "{\"data\":{\"id\":\"990d70d6-fdbf-11ee-99ae-1f9640631fbf\",\"type\":\"report_id\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 97
      },
      {
        "_id": "302cd2c7571799c597c74eabf5d3766a",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/slo/report/990d70d6-fdbf-11ee-99ae-1f9640631fbf/status"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 111,
            "text": "{\"data\":{\"id\":\"990d70d6-fdbf-11ee-99ae-1f9640631fbf\",\"type\":\"report_id\",\"attributes\":{\"status\":\"in_progress\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 87
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
