{
  "log": {
    "_recordingName": "Key Management/Create a personal access token returns \"Created\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "701b1c5a5d54808b998295e3c0a1fa57",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"expires_at\":\"2027-04-08T16:45:23.208Z\",\"name\":\"Test-Create_a_personal_access_token_returns_Created_response-1775666723\",\"scopes\":[\"dashboards_read\"]},\"type\":\"personal_access_tokens\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/personal_access_tokens"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 512,
            "text": "{\"data\":{\"id\":\"da1bd5f8-847b-4aec-a33d-11b04ebde244\",\"type\":\"personal_access_tokens\",\"attributes\":{\"created_at\":\"2026-04-08T16:45:23.302611856Z\",\"expires_at\":\"2027-04-08T16:45:23.208Z\",\"key\":\"xxxxx_xxxxxxxxxxxxxxxxxxxxxx_xxxxxxxxxxxxxxxxxxxxxxxxxXxxxxxxxxxx\",\"name\":\"Test-Create_a_personal_access_token_returns_Created_response-1775666723\",\"public_portion\":\"6dZ2zcpumTdlnHIgx2SlHA\",\"scopes\":[\"dashboards_read\"]},\"relationships\":{\"owned_by\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 113
      },
      {
        "_id": "6471b9573472d301cda288e226c22f9d",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/personal_access_tokens/da1bd5f8-847b-4aec-a33d-11b04ebde244"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 104
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
