{
  "log": {
    "_recordingName": "Actions Datastores/Update datastore item returns \"Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "eb4e6f960835788b946b7bdecaa41629",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"item_changes\":{},\"item_key\":\"itemKey\"},\"type\":\"items\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/actions-datastores/3cfdd0b8-c490-4969-8d51-69add64a70ea/items"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 103,
            "text": "{\"errors\":[{\"status\":\"404\",\"id\":\"d0d6adeb-c5cf-4dce-98d9-532cbc386b09\",\"title\":\"datastore not found\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 127
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
