{
  "log": {
    "_recordingName": "Security Monitoring/Create a detection rule returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "c300c97ea9539b31853cc16246dfeba1",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/security_monitoring/rules"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 67,
            "text": "{\"errors\":[\"Invalid rule configuration\",\"Options cannot be empty\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.4307683"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 602,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
