{
  "log": {
    "_recordingName": "Security Monitoring/Get notification profile by id returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "328b5a911fdac0f93e15c52350525661",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"enabled\":true,\"name\":\"Test-Get_notification_profile_by_id_returns_OK_response-1713390910\",\"selectors\":{\"attributes\":[\"fim:true\"],\"implicit_vm_rule_match\":false,\"rule_tags\":[\"fim:true\"],\"rule_types\":[\"log_detection\",\"cloud_configuration\"],\"severities\":[\"high\"],\"signal_tags\":[],\"trigger_source\":\"security_signals\"},\"targets\":[\"test\"]},\"type\":\"notification_rules\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/security_monitoring/configuration/notification_rules"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 643,
            "text": "{\"data\":{\"id\":\"gab-c0o-kzb\",\"attributes\":{\"version\":1,\"name\":\"Test-Get_notification_profile_by_id_returns_OK_response-1713390910\",\"targets\":[\"test\"],\"selectors\":{\"severities\":[\"high\"],\"rule_types\":[\"log_detection\",\"cloud_configuration\"],\"rule_tags\":[\"fim:true\"],\"signal_tags\":[],\"attributes\":[\"fim:true\"],\"query\":\"(fim:\\\"true\\\" OR @fim:\\\"true\\\")\",\"migrated\":true,\"trigger_source\":\"security_signals\",\"implicit_vm_rule_match\":false},\"enabled\":true,\"creation_date\":1713390910151,\"update_date\":1713390910151,\"creator\":{\"name\":null,\"handle\":\"frog@datadoghq.com\"},\"updater\":{\"name\":null,\"handle\":\"frog@datadoghq.com\"}},\"type\":\"notification_rules\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 150
      },
      {
        "_id": "b738f8744f698d497a3c7c62741d3815",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/security_monitoring/configuration/notification_rules/gab-c0o-kzb"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 643,
            "text": "{\"data\":{\"id\":\"gab-c0o-kzb\",\"attributes\":{\[...]
