{
  "log": {
    "_recordingName": "Cloud Cost Management/Upload Custom Costs file returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "550f00aeab6703fb67218c5019fd48ea",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[{\"BilledCost\":100.5,\"BillingCurrency\":\"USD\",\"ChargeDescription\":\"Monthly usage charge for my service\",\"ChargePeriodEnd\":\"2023-02-28\",\"ChargePeriodStart\":\"2023-02-01\"}]"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/cost/custom_costs"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 179,
            "text": "{\"errors\":[{\"status\":\"400\",\"title\":\"Bad Request\",\"detail\":\"errors in object 0:\\nTags is a required field\\nProviderName is a required field\",\"meta\":{\"end\":167,\"obj\":0,\"start\":1}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 237
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
