{
  "log": {
    "_recordingName": "Restriction Policies/Update a restriction policy returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "49866739a8ddea6bf1a4df16374c1eaf",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Update_a_restriction_policy_returns_Bad_Request_response-1676406317\"},\"type\":\"roles\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/roles"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 843,
            "text": "{\"data\":{\"type\":\"roles\",\"id\":\"b27c878a-aca5-11ed-bc84-da7ad0900002\",\"attributes\":{\"name\":\"Test-Update_a_restriction_policy_returns_Bad_Request_response-1676406317\",\"created_at\":\"2023-02-14T20:25:18.243844+00:00\",\"modified_at\":\"2023-02-14T20:25:18.273486+00:00\"},\"relationships\":{\"permissions\":{\"data\":[{\"type\":\"permissions\",\"id\":\"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2\"},{\"type\":\"permissions\",\"id\":\"4441648c-d8b1-11e9-a77a-1b899a04b304\"},{\"type\":\"permissions\",\"id\":\"417ba636-2dce-11eb-84c0-6bce5b0d9de0\"},{\"type\":\"permissions\",\"id\":\"12efc20e-d36c-11eb-a9b8-da7ad0900002\"},{\"type\":\"permissions\",\"id\":\"7605ef24-f376-11eb-b90b-da7ad0900002\"},{\"type\":\"permissions\",\"id\":\"b6bf9ac6-9a59-11ec-8480-da7ad0900002\"},{\"type\":\"permissions\",\"id\":\"f8e941cf-e746-11ec-b22d-da7ad0900002\"},{\"type\":\"permissions\",\"id\":\"6c5ad874-7aff-11ed-a5cd-da7ad0900002\"}]}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 903
      },
      {
        "_id": "79ad0406e9d9e945aa4517432237ed89",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Update_a_restriction_policy_returns_Bad_Request_response-1676406317@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 717,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"b2ca0a63-aca5-11ed-ad1d-9ae79f61138a\",\"attributes\":{\"name\":null,\"handle\":\"test-update_a_restriction_policy_returns_bad_request_response-1676406317@datadoghq.com\",\"created_at\":\"2023-02-14T20:25:18.752610+00:00\",\"modified_at\":\"2023-02-14T20:25:18.755273+00:00\",\"email\":\"test-update_a_restriction_policy_returns_bad_request_response-1676406317@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/80e45e7eec806ce0d10b973473d8c014?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 482
      },
      {
        "_id": "5611c0b495a8a17b0dc36d773ccd95bf",
        "request": {
          "headers": [
            {
              "_fromType": "array",
      [...]
