{
  "log": {
    "_recordingName": "Logs Metrics/Get all log-based metrics returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "f80150937b4ba3e4b5ae9895ba44da4a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"compute\":{\"aggregation_type\":\"count\"},\"filter\":{\"query\":\"source:Test-Get_all_log_based_metrics_returns_OK_response-1618491725\"}},\"id\":\"Test-Get_all_log_based_metrics_returns_OK_response-1618491725\",\"type\":\"logs_metrics\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/config/metrics"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 259,
            "text": "{\"data\":{\"id\":\"Test_Get_all_log_based_metrics_returns_OK_response_1618491725\",\"attributes\":{\"filter\":{\"query\":\"source:Test-Get_all_log_based_metrics_returns_OK_response-1618491725\"},\"group_by\":[],\"compute\":{\"aggregation_type\":\"count\"}},\"type\":\"logs_metrics\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 679
      },
      {
        "_id": "3390c6d2b5b8bbc4441b105145718f26",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/config/metrics"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 9900,
            "text": "{\"data\":[{\"id\":\"datadog_api_client_python_test_create_a_logbased_metric_returns_ok_response_1607014407.161855\",\"attributes\":{\"filter\":{\"query\":\"*\"},\"group_by\":[],\"compute\":{\"aggregation_type\":\"count\"}},\"type\":\"logs_metrics\"},{\"id\":\"go_Feature_Logs_Metrics_Scenario_Get_all_log_based_metrics_returns_OK_response_37807_1608735831\",\"attributes\":{\"filter\":{\"query\":\"source:go-Feature_Logs_Metrics-Scenario_Get_all_log_based_metrics_returns__OK__response-37807-1608735831\"},\"group_by\":[],\"compute\":{\"aggregation_type\":\"count\"}},\"type\":\"logs_metrics\"},{\"id\":\"mlb.to.delete.5\",\"attributes\":{\"filter\":{\"query\":\"service:test\"},\"group_by\":[{\"path\":\"@status\",\"tag_name\":\"status\"}],\"compute\":{\"aggregation_type\":\"distribution\",\"path\":\"@duration\"}},\"type\":\"logs_metrics\"},{\"id\":\"mlb.to.delete.7\",\"attributes\":{\"filter\":{\"query\":\"service:test\"},\"group_by\":[{\"path\":\"@status\",\"tag_name\":\"status\"}],\"compute\":{\"aggregation_type\":\"count\"}},\"type\":\"logs_metrics\"},{\"id\":\"tf_TestAccDatadogLogsMetric_import_local_1612175492\",\"attributes\":{\"filter\":{\"query\":\"service:test\"},\"group_by\":[{\"path\":\"@my.status\",\"tag_[...]
