{
  "log": {
    "_recordingName": "Observability Pipelines/Delete a pipeline returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "d6a6f7a2f347564fcbfbe972ad921c97",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"config\":{\"destinations\":[{\"id\":\"datadog-logs-destination\",\"inputs\":[\"processor-group-0\"],\"type\":\"datadog_logs\"}],\"processors\":[{\"display_name\":\"My Processor Group\",\"enabled\":true,\"id\":\"processor-group-0\",\"include\":\"service:my-service\",\"inputs\":[\"datadog-agent-source\"],\"processors\":[{\"display_name\":\"My Filter Processor\",\"enabled\":true,\"id\":\"filter-processor\",\"include\":\"status:error\",\"type\":\"filter\"}]}],\"sources\":[{\"id\":\"datadog-agent-source\",\"type\":\"datadog_agent\"}]},\"name\":\"Main Observability Pipeline\"},\"type\":\"pipelines\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 598,
            "text": "{\"data\":{\"id\":\"5b68c5de-e4bb-11f0-860d-da7ad0900002\",\"type\":\"pipelines\",\"attributes\":{\"name\":\"Main Observability Pipeline\",\"config\":{\"destinations\":[{\"id\":\"datadog-logs-destination\",\"inputs\":[\"processor-group-0\"],\"type\":\"datadog_logs\"}],\"processors\":[{\"display_name\":\"My Processor Group\",\"enabled\":true,\"id\":\"processor-group-0\",\"include\":\"service:my-service\",\"inputs\":[\"datadog-agent-source\"],\"processors\":[{\"display_name\":\"My Filter Processor\",\"enabled\":true,\"id\":\"filter-processor\",\"include\":\"status:error\",\"type\":\"filter\"}]}],\"sources\":[{\"id\":\"datadog-agent-source\",\"type\":\"datadog_agent\"}]}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 711
      },
      {
        "_id": "86f1126b9f1059d6326f9bff2699d1c8",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines/5b68c5de-e4bb-11f0-860d-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 0
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 704
      },
      {
        "_id": "86f1126b9f1059d6326f9bff2699d1c8",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines/5b68c5de-e4bb-11f0-860d-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 44,
            "text": "{\"errors\":[{\"title\":\"Resource Not Found\"}]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 477
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
