{
  "log": {
    "_recordingName": "Service Accounts/Create an access token for a service account returns \"Created\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "4d903806fae09932f22b0684c86e2c62",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Create_an_access_token_for_a_service_account_returns_Created_response-1779979003@datadoghq.com\",\"service_account\":true,\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/service_accounts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 746,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"a6a9f992-5aa2-11f1-8c27-ea4c41923911\",\"attributes\":{\"uuid\":\"a6a9f992-5aa2-11f1-8c27-ea4c41923911\",\"name\":null,\"handle\":\"a6a9f992-5aa2-11f1-8c27-ea4c41923911\",\"created_at\":\"2026-05-28T14:36:45.255584+00:00\",\"modified_at\":\"2026-05-28T14:36:45.255584+00:00\",\"email\":\"test-create_an_access_token_for_a_service_account_returns_created_response-1779979003@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/a1a6182d465264feebf3b6d627a99b67?s=48&d=retro\",\"title\":\"user title\",\"verified\":true,\"service_account\":true,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Active\",\"last_login_time\":null},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 455
      },
      {
        "_id": "fb8e40e6162cdfaa9c4aca8012c919af",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Create_an_access_token_for_a_service_account_returns_Created_response-1779979003\",\"scopes\":[\"dashboards_read\"]},\"type\":\"service_access_tokens\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/service_accounts/a6a9f992-5aa2-11f1-8c27-ea4c41923911/access_tokens"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 519,
            "text": "{\"data\":{\"id\":\"7767e407-9c67-4ede-902e-c4b1f3782352\",\"type\":\"service_access_tokens\",\"attributes\":{\"created_at\":\"2026-05-28T14:36:45.736320584Z\",\"expires_at\":null,\"key\":\"xxxxx_xxxxxxxxxxxxxxxxxxxxxx_xxxxxxxxxxxxxxxxxxxxxxxxXxxxxxxxXxxx\",\"name\":\"Test-Create_an_access_token_for_a_service_account_returns_Created_response-1779979003\",\"public_portion\":\"ddsat_3dJZ2IClhMOwsx0xC01NBK\",\"scopes\":[\"dashboards_read\"]},\"relationships\":{\"owned_by\":{\"data\":{\"id\":\"a6a9f992-5aa2-11f1-8c27-ea4c41923911\",\"type\":\"service_account\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 351
      },
      {
        "_id": "c2c8fc7620b58a4720c86a2e83a6a802",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/service_accounts/a6a9f992-5aa2-11f1-8c27-ea4c41923911/access_tokens/7767e407-9c67-4ede-902e-c4b1f3782352"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 291
      },
      {
        "_id": "1251b224178121388beb7aa950f0e8ea",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users/a6a9f992-5aa2-11f1-8c27-ea4c41923911"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 525
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
