{
  "log": {
    "_recordingName": "Service Accounts/Create an access token for a service account returns \"Created\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "567c34c3ae3c8785a73a27fcc9a742ba",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Create_an_access_token_for_a_service_account_returns_Created_response-1775250176@datadoghq.com\",\"service_account\":true,\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/service_accounts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 746,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"7d5e5ea9-2fa0-11f1-991f-62f4bfc595d0\",\"attributes\":{\"name\":null,\"handle\":\"7d5e5ea9-2fa0-11f1-991f-62f4bfc595d0\",\"created_at\":\"2026-04-03T21:02:56.980609+00:00\",\"modified_at\":\"2026-04-03T21:02:56.980609+00:00\",\"email\":\"test-create_an_access_token_for_a_service_account_returns_created_response-1775250176@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/1a703b50769c96d7b84a5470f474ef74?s=48&d=retro\",\"title\":\"user title\",\"verified\":true,\"service_account\":true,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Active\",\"last_login_time\":null},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 259
      },
      {
        "_id": "c6adfa6b102761d3a8c2030c2ba28080",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Create_an_access_token_for_a_service_account_returns_Created_response-1775250176\",\"scopes\":[\"dashboards_read\"]},\"type\":\"personal_access_tokens\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/service_accounts/7d5e5ea9-2fa0-11f1-991f-62f4bfc595d0/access_tokens"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 537,
            "text": "{\"data\":{\"id\":\"6f2491f5-8c3f-45a3-962a-5f769b95e806\",\"type\":\"personal_access_tokens\",\"attributes\":{\"alias\":\"3NirNJ5Y2qB4Fmac8B4wnm\",\"created_at\":\"2026-04-03T21:02:57.288351972Z\",\"expires_at\":null,\"key\":\"xxxxx_xxxxxxxxxxxxxxxxxxxxxx_xxxxxxxxxxxxXxxxxxxxxxxxxxxxxxxxxxxx\",\"name\":\"Test-Create_an_access_token_for_a_service_account_returns_Created_response-1775250176\",\"public_portion\":\"3NirNJ5Y2qB4Fmac8B4wnm\",\"scopes\":[\"dashboards_read\"]},\"relationships\":{\"owned_by\":{\"data\":{\"id\":\"7d5e5ea9-2fa0-11f1-991f-62f4bfc595d0\",\"type\":\"users\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 207
      },
      {
        "_id": "09473a0acca978f1677a1a4f8ac133da",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/service_accounts/7d5e5ea9-2fa0-11f1-991f-62f4bfc595d0/access_tokens/6f2491f5-8c3f-45a3-962a-5f769b95e806"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 161
      },
      {
        "_id": "393e616cbf0575841cd30dad62ab2cff",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users/7d5e5ea9-2fa0-11f1-991f-62f4bfc595d0"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 828
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
