{
  "log": {
    "_recordingName": "Security Monitoring/Bulk export security monitoring rules returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "431c28fa5f63af836896c28375dfbc1d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"cases\":[{\"condition\":\"a > 0\",\"name\":\"\",\"notifications\":[],\"status\":\"info\"}],\"filters\":[],\"isEnabled\":true,\"message\":\"Test rule\",\"name\":\"Test-Bulk_export_security_monitoring_rules_returns_OK_response-1768902892\",\"options\":{\"evaluationWindow\":900,\"keepAlive\":3600,\"maxSignalDuration\":86400},\"queries\":[{\"aggregation\":\"count\",\"distinctFields\":[],\"groupByFields\":[],\"metrics\":[],\"query\":\"@test:true\"}],\"tags\":[],\"type\":\"log_detection\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/security_monitoring/rules"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 868,
            "text": "{\"name\":\"Test-Bulk_export_security_monitoring_rules_returns_OK_response-1768902892\",\"createdAt\":1768902892769,\"isDefault\":false,\"isPartner\":false,\"isEnabled\":true,\"isBeta\":false,\"isDeleted\":false,\"isDeprecated\":false,\"queries\":[{\"query\":\"@test:true\",\"groupByFields\":[],\"hasOptionalGroupByFields\":false,\"distinctFields\":[],\"aggregation\":\"count\",\"name\":\"\",\"dataSource\":\"logs\"}],\"options\":{\"evaluationWindow\":900,\"detectionMethod\":\"threshold\",\"maxSignalDuration\":86400,\"keepAlive\":3600},\"cases\":[{\"name\":\"\",\"status\":\"info\",\"notifications\":[],\"condition\":\"a \\u003e 0\"}],\"message\":\"Test rule\",\"tags\":[],\"hasExtendedTitle\":false,\"type\":\"log_detection\",\"filters\":[],\"version\":1,\"id\":\"ldv-a2n-sgu\",\"blocking\":false,\"metadata\":{\"entities\":null,\"sources\":null},\"creationAuthorId\":1445416,\"creator\":{\"handle\":\"frog@datadoghq.com\",\"name\":\"frog\"},\"updater\":{\"handle\":\"\",\"name\":\"\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 426
      },
      {
        "_id": "47ca8bcc14acbb846726d1bfc020902a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"ruleIds\":[\"ldv-a2n-sgu\"]},\"type\":\"security_monitoring_rules_bulk_export\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/security_monitoring/rules/bulk_export"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/zip",
            "size": 633,
            "text": "UEsDBBQACAAIANpONFwAAAAAAAAAAAAAAABOAAkAVGVzdC1CdWxrX2V4cG9ydF9zZWN1cml0eV9tb25pdG9yaW5nX3J1bGVzX3JldHVybnNfT0tfcmVzcG9uc2UtMTc2ODkwMjg5Mi5qc29uVVQFAAHsUG9pVJHPbhMxEMZfJfrOrrS0KCQ+QUXhgFAPrcQBqtWwnjijOvbiGZdEUd4d7Spt6c32+Kf5/hyRacfwuGe1i+uWHnvej6Varzy0KnbodyWLlSo59rUl1r6ytZq1v/3WV9axZOWLdx+Wq3V3uVpfwkH0JtPvxAHeamOHP42rsML/PM7nAzw+GqvNczjEWtp4ffginML07cFhS3o7mpRM6evb6YaSskMQNcmD/Q9RjJUjTRg8htKywT1b[...]
