{
  "log": {
    "_recordingName": "Workflow Automation/Execute a workflow returns \"Created\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "a2d3012a412f330d3077800667c523b2",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"meta\":{\"payload\":{\"input\":\"value\"}}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/workflows/ccf73164-1998-4785-a7a3-8d06c7e5f558/instances"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 151,
            "text": "{\"data\":{\"attributes\":{},\"id\":\"111e18d6-3f19-4ada-91d3-ab1e1546b8b4\",\"type\":\"instances\"},\"meta\":{\"workflowId\":\"ccf73164-1998-4785-a7a3-8d06c7e5f558\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 236
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
