{
  "log": {
    "_recordingName": "Metrics/Delete a Tag Configuration returns \"No Content\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "d9baa067165356c441cf20a4072c3d50",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"metric_type\":\"distribution\",\"tags\":[\"app\",\"datacenter\",\"TypescriptDeleteaTagConfigurationreturnsNoContentresponse1613653941316\"]},\"id\":\"TypescriptDeleteaTagConfigurationreturnsNoContentresponse1613653941316\",\"type\":\"manage_tags\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/metrics/TypescriptDeleteaTagConfigurationreturnsNoContentresponse1613653941316/tags"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 378,
            "text": "{\"data\":{\"type\":\"manage_tags\",\"id\":\"TypescriptDeleteaTagConfigurationreturnsNoContentresponse1613653941316\",\"attributes\":{\"tags\":[\"datacenter\",\"app\",\"TypescriptDeleteaTagConfigurationreturnsNoContentresponse1613653941316\"],\"include_percentiles\":false,\"created_at\":\"2021-02-18T13:12:21.578932+00:00\",\"updated_at\":\"2021-02-18T13:12:21.578932+00:00\",\"metric_type\":\"distribution\"}}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.3933218"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "50"
            },
            {
              "name": "x-ratelimit-period",
              "value": "60"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "39"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "47"
            },
            {
              "name": "x-dd-debug",
              "value": "B1nwy/pPNqX+q4pQT22cdp1QCexE35IF8qwSHy0Nf7IW0Y881qtn4tXN1lpmzaKc"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 323,
      },
      {
        "_id": "1ff661038ca56a039a72d6c4c602896f",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/metrics/TypescriptDeleteaTagConfigurationreturnsNoContentresponse1613653941316/tags"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 0
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.3933218"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "50"
            },
            {
              "name": "x-ratelimit-period",
              "value": "60"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "39"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "46"
            },
            {
              "name": "x-dd-debug",
              "value": "L3ULR3HwCWYmEqCWGz2Yob3chcH4pjowBacBXkncP7o+/uPqKt9yGEYf/g1AJPzQ"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 311,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
