{
  "log": {
    "_recordingName": "Metrics/Delete a Tag Configuration returns \"No Content\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "443c18cec322472d8fa0b22a37e911f8",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"metric_type\":\"distribution\",\"tags\":[\"app\",\"datacenter\",\"TypescriptDeleteaTagConfigurationreturnsNoContentresponse161366663201\"]},\"id\":\"TypescriptDeleteaTagConfigurationreturnsNoContentresponse161366663201\",\"type\":\"manage_tags\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/metrics/TypescriptDeleteaTagConfigurationreturnsNoContentresponse161366663201/tags"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 376,
            "text": "{\"data\":{\"type\":\"manage_tags\",\"id\":\"TypescriptDeleteaTagConfigurationreturnsNoContentresponse161366663201\",\"attributes\":{\"tags\":[\"datacenter\",\"app\",\"TypescriptDeleteaTagConfigurationreturnsNoContentresponse161366663201\"],\"include_percentiles\":false,\"created_at\":\"2021-02-18T16:43:52.254365+00:00\",\"updated_at\":\"2021-02-18T16:43:52.254365+00:00\",\"metric_type\":\"distribution\"}}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.3935655"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "50"
            },
            {
              "name": "x-ratelimit-period",
              "value": "60"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "8"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "47"
            },
            {
              "name": "x-dd-debug",
              "value": "vdJ3/nHEY1ioXQ6pQrBVvsQK1s4yyc+wufBMPSoXql71qZVuP/xMdtNo6DafhOAk"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 320,
      },
      {
        "_id": "6c0b2889f15faad66fb1f6804f3a1cd5",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/metrics/TypescriptDeleteaTagConfigurationreturnsNoContentresponse161366663201/tags"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 0
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.3935655"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "50"
            },
            {
              "name": "x-ratelimit-period",
              "value": "60"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "8"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "46"
            },
            {
              "name": "x-dd-debug",
              "value": "dCmL/3rURV6BPeaqeP3Rxigq41m5CAb17XjrRE42uZ01zpr07HVhbL5/3TWMkvgu"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 351,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
