{
  "log": {
    "_recordingName": "Security Monitoring/Mute or unmute a batch of findings returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "06640b82f0de0289020127b16d820851",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"mute\":{\"expiration_date\":1778721573794,\"muted\":true,\"reason\":\"ACCEPTED_RISK\"}},\"id\":\"dbe5f567-192b-4404-b908-29b70e1c9f76\",\"meta\":{\"findings\":[{\"finding_id\":\"ZGVmLTAwcC1pZXJ-aS0wZjhjNjMyZDNmMzRlZTgzNw==\"}]},\"type\":\"finding\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/posture_management/findings"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 71,
            "text": "{\"data\":{\"id\":\"dbe5f567-192b-4404-b908-29b70e1c9f76\",\"type\":\"finding\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 589
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
