{
  "log": {
    "_recordingName": "Action Connection/Get an existing App Key Registration returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "e2cf01a01c9797d3e85dd60a7b3e04ce",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/actions/app_key_registrations/b7feea52-994e-4714-a100-1bd9eff5aee1"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 84,
            "text": "{\"data\":{\"id\":\"b7feea52-994e-4714-a100-1bd9eff5aee1\",\"type\":\"app_key_registration\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 171
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
