{
  "log": {
    "_recordingName": "Cloud Cost Management/List Custom Costs Files returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "95006440a36a1c7efa748052af5a6e45",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/cost/custom_costs"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 429980,
            "text": "{\"data\":[{\"id\":\"9d055d22-a838-4e9f-bc34-a4f9ab66280c\",\"type\":\"cost_metadata\",\"attributes\":{\"billed_cost\":250,\"billing_currency\":\"USD\",\"charge_period\":{\"start\":1683331200000,\"end\":1686009600000},\"name\":\"data.json\",\"provider_names\":[\"my_provider\"],\"status\":\"ACTIVE\",\"uploaded_at\":1721322924169,\"uploaded_by\":{\"name\":\"Julien Hemery\",\"icon\":\"https://secure.gravatar.com/avatar/f12684c6ebe1bdd70c36789c5270aac0?d=retro\\u0026s=48\",\"email\":\"julien.hemery@datadoghq.com\"}}}],\"meta\":{\"version\":\"1.0\",\"total_filtered_count\":766}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 668
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
