{
  "log": {
    "_recordingName": "Application Security/Update a legacy WAF exclusion filter returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "f87651cfcb9ddb71c4de1be9e301b3e8",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"description\":\"My Exclusion Filter\",\"enabled\":true,\"parameters\":[\"list.search.query\"],\"path_glob\":\"*\",\"rules_target\":[{\"tags\":{\"category\":\"attack_attempt\",\"type\":\"xss\"}}],\"scope\":[{\"env\":\"staging\",\"service\":\"event-query\"}]},\"type\":\"exclusion_filter\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/remote_config/products/asm/waf/exclusion_filters"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1221,
            "text": "{\"data\":{\"id\":\"bd04e3ac-9f29-4a66-976f-2f409477a329\",\"type\":\"exclusion_filter\",\"attributes\":{\"description\":\"My Exclusion Filter\",\"enabled\":true,\"metadata\":{\"added_at\":\"2025-02-25T19:11:40Z\",\"added_by\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\",\"added_by_name\":\"CI Account\"},\"parameters\":[\"list.search.query\"],\"path_glob\":\"*\",\"rules_target\":[{\"tags\":{\"category\":\"attack_attempt\",\"type\":\"xss\"}}],\"scope\":[{\"env\":\"staging\",\"service\":\"event-query\"}],\"search_query\":\"(env:staging AND service:\\\"event-query\\\") AND ((@appsec.triggers.rule_matches.parameters.address:server.request.query AND (@appsec.triggers.rule_matches.parameters.key:list.search.query OR @appsec.triggers.rule_matches.parameters.params.key:list.search.query)) OR (@appsec.triggers.rule_matches.parameters.address:server.request.body AND (@appsec.triggers.rule_matches.parameters.key:list.search.query OR @appsec.triggers.rule_matches.parameters.params.key:list.search.query)) OR (@appsec.triggers.rule_matches.parameters.address:server.request.path_params AND (@appsec.triggers.rule_matches.parameters.key:list.search.query OR @appsec.triggers.rule_matches.parameters.params.key:list.search.query))) AND (@appsec.category:attack_attempt AND @appsec.type:xss)\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 883
      },
      {
        "_id": "44dd4c7ad9a7f1aceabc59da4cbf25db",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"description\":\"Exclude false positives on a path\",\"enabled\":true,\"event_query\":\"test:1\"},\"type\":\"exclusion_filter\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/remote_config/products/asm/waf/exclusion_filters/bd04e3ac-9f29-4a66-976f-2f409477a329"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 89,
            "text": "{\"errors\":[{\"title\":\"legacy exclusion filters cannot be created anymore\",\"code\":\"400\"}]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 424
      },
      {
        "_id": "1c39a022ef667ea98b14b75828d2c17f",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/remote_config/products/asm/waf/exclusion_filters/bd04e3ac-9f29-4a66-976f-2f409477a329"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 0
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 808
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
