{
  "log": {
    "_recordingName": "Execution Policy/Create an execution policy with scope and targets returns \"Created\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "0f6c0b9ed4876d7d14fb6fec69810d60",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"action_pattern\":{\"action_fqns\":[\"com.datadoghq.script.*\"],\"integration\":\"INTEGRATION_SCRIPT\"},\"effect\":\"allow\",\"name\":\"Cassette Execution Policy testcreateanexecutionpolicywithscopeandtargetsreturnscreatedresponse1786698819\",\"scope\":{\"scripts\":{\"rules\":[{\"target_script_names\":[\"restart_service.sh\"]}]}},\"targets\":[{\"agent_tags\":[\"env:prod\"],\"name\":\"Production hosts\"}]},\"type\":\"execution_policy\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/actions/execution-policies"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 654,
            "text": "{\"data\":{\"id\":\"90a83e60-76b3-4064-a240-f65b602bbddd\",\"type\":\"execution_policy\",\"attributes\":{\"action_pattern\":{\"integration\":\"INTEGRATION_SCRIPT\",\"action_fqns\":[\"com.datadoghq.script.*\"]},\"created_at\":\"2026-08-14T09:13:40Z\",\"created_by\":\"262c2ca8-d93e-45bc-8d47-5c9ab7af8e6b\",\"effect\":\"allow\",\"name\":\"Cassette Execution Policy testcreateanexecutionpolicywithscopeandtargetsreturnscreatedresponse1786698819\",\"scope\":{\"scripts\":{\"rules\":[{\"target_script_names\":[\"restart_service.sh\"]}]}},\"targets\":[{\"agent_tags\":[\"env:prod\"],\"name\":\"Production hosts\"}],\"updated_at\":\"2026-08-14T09:13:40Z\",\"updated_by\":\"262c2ca8-d93e-45bc-8d47-5c9ab7af8e6b\",\"version\":1}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 420
      },
      {
        "_id": "a80a957279917b14b0e1cf120c22e51d",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/actions/execution-policies/90a83e60-76b3-4064-a240-f65b602bbddd"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 363
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
