{
  "log": {
    "_recordingName": "Security Monitoring/Update a notification rule returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "4f201c82919e16b16c6663c06ba12267",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"enabled\":true,\"name\":\"Test-Update_a_notification_rule_returns_OK_response-1713390912\",\"selectors\":{\"attributes\":[\"fim:true\"],\"implicit_vm_rule_match\":false,\"rule_tags\":[\"fim:true\"],\"rule_types\":[\"log_detection\",\"cloud_configuration\"],\"severities\":[\"high\"],\"signal_tags\":[],\"trigger_source\":\"security_signals\"},\"targets\":[\"test\"]},\"type\":\"notification_rules\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/security_monitoring/configuration/notification_rules"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 639,
            "text": "{\"data\":{\"id\":\"bsv-8qu-rcb\",\"attributes\":{\"version\":1,\"name\":\"Test-Update_a_notification_rule_returns_OK_response-1713390912\",\"targets\":[\"test\"],\"selectors\":{\"severities\":[\"high\"],\"rule_types\":[\"log_detection\",\"cloud_configuration\"],\"rule_tags\":[\"fim:true\"],\"signal_tags\":[],\"attributes\":[\"fim:true\"],\"query\":\"(fim:\\\"true\\\" OR @fim:\\\"true\\\")\",\"migrated\":true,\"trigger_source\":\"security_signals\",\"implicit_vm_rule_match\":false},\"enabled\":true,\"creation_date\":1713390912199,\"update_date\":1713390912199,\"creator\":{\"name\":null,\"handle\":\"frog@datadoghq.com\"},\"updater\":{\"name\":null,\"handle\":\"frog@datadoghq.com\"}},\"type\":\"notification_rules\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 150
      },
      {
        "_id": "f8ec9c8df4ce53a32f31ca86179278ad",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"enabled\":false,\"name\":\"Test-Update_a_notification[...]
