{
  "log": {
    "_recordingName": "AWS Integration/Generate a new external ID returns \"AWS External ID object\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "a3ebb72260ebfa89589aff3630e3a2cc",
        "request": {
          "headers": [
          ],
          "method": "POST",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integration/aws/generate_new_external_id"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 135,
            "text": "{\"data\":{\"id\":\"417e89773bab4d459dc060836ee276be\",\"type\":\"external_id\",\"attributes\":{\"external_id\":\"417e89773bab4d459dc060836ee276be\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 222
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
