{
  "log": {
    "_recordingName": "Key Management/Create an Application key for current user returns \"Created\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "af0c883207e53c74fa8a9d6d4aa8507e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"type\":\"application_keys\",\"attributes\":{\"name\":\"Test-Create_an_Application_key_for_current_user_returns_Created_response-1639757111\"}}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/current_user/application_keys"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 399,
            "text": "{\"data\":{\"type\":\"application_keys\",\"id\":\"cc3a2cdd-7a8c-492f-a13a-3aa7c616567b\",\"attributes\":{\"name\":\"Test-Create_an_Application_key_for_current_user_returns_Created_response-1639757111\",\"created_at\":\"2021-12-17T16:05:12.186569+00:00\",\"last4\":\"beef\",\"key\":\"deaddcc81a44288fbbbfb15efe1203df034abeef\"},\"relationships\":{\"owned_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "399"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "400"
            },
            {
              "name": "x-ratelimit-period",
              "value": "3600"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "3288"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 445,
      },
      {
        "_id": "c1fc49e3c0d553f9f9830dd421c2f772",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/current_user/application_keys/cc3a2cdd-7a8c-492f-a13a-3aa7c616567b"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [
            {
              "name": "x-ratelimit-remaining",
              "value": "398"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "400"
            },
            {
              "name": "x-ratelimit-period",
              "value": "3600"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "3288"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 449,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
