{
  "log": {
    "_recordingName": "Key Management/Create an Application key for current user returns \"Created\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "601bfbb6dabedeefece672185feb824a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Create_an_Application_key_for_current_user_returns_Created_response-1652349121\"},\"type\":\"application_keys\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/current_user/application_keys"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 446,
            "text": "{\"data\":{\"type\":\"application_keys\",\"id\":\"e1441667-cea7-4d53-85a8-7c7ea6191b2e\",\"attributes\":{\"name\":\"Test-Create_an_Application_key_for_current_user_returns_Created_response-1652349121\",\"created_at\":\"2022-05-12T09:52:01.912193+00:00\",\"last4\":\"xxxx\",\"key\":\"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\"scopes\":null},\"relationships\":{\"owned_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}},\"leak_information\":{\"data\":null}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 531
      },
      {
        "_id": "d70ad1cc93be01b19172e44b1ea1e385",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/current_user/application_keys/e1441667-cea7-4d53-85a8-7c7ea6191b2e"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 529
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
