{
  "log": {
    "_recordingName": "Key Management/Create an Application key for current user returns \"Created\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "e3884f5a78b019fd1fe0cbb5b02e3e7c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Create_an_Application_key_for_current_user_returns_Created_response-1641829845\"},\"type\":\"application_keys\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/current_user/application_keys"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 413,
            "text": "{\"data\":{\"type\":\"application_keys\",\"id\":\"c53ad88a-fa82-405a-a93f-b3ca62b1f118\",\"attributes\":{\"name\":\"Test-Create_an_Application_key_for_current_user_returns_Created_response-1641829845\",\"created_at\":\"2022-01-10T15:50:46.150049+00:00\",\"last4\":\"xxxx\",\"key\":\"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\"scopes\":null},\"relationships\":{\"owned_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 370
      },
      {
        "_id": "3052d494050fb01cd52967770ffb271a",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/current_user/application_keys/c53ad88a-fa82-405a-a93f-b3ca62b1f118"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 384
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
