{
  "log": {
    "_recordingName": "Service Accounts/Get one app key owned by this service account returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "ed8ebe543aba2ef451d3bd7aae0670cb",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Get_one_app_key_owned_by_this_service_account_returns_OK_response-1639758435@datadoghq.com\",\"title\":\"user title\",\"service_account\":true},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/service_accounts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 672,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"3556a6f7-9f68-4a5d-aed8-1677fb92a76c\",\"attributes\":{\"name\":null,\"handle\":\"3556a6f7-9f68-4a5d-aed8-1677fb92a76c\",\"created_at\":\"2021-12-17T16:27:16.298029+00:00\",\"modified_at\":\"2021-12-17T16:27:16.335817+00:00\",\"email\":\"test-get_one_app_key_owned_by_this_service_account_returns_ok_response-1639758435@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/36ec031ed04caa210d61cf08949f2a55?s=48&d=retro\",\"title\":\"user title\",\"verified\":true,\"service_account\":true,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Active\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "89"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "100"
            },
            {
              "name": "x-ratelimit-period",
              "value": "3600"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1964"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 543,
      },
      {
        "_id": "072ce4687a9f60e7e95e640a67835ed6",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Get_one_app_key_owned_by_this_service_account_returns_OK_response-1639758435\"},\"type\":\"application_keys\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/service_accounts/3556a6f7-9f68-4a5d-aed8-1677fb92a76c/application_keys"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 397,
            "text": "{\"data\":{\"type\":\"application_keys\",\"id\":\"ef3fcbd0-e21c-405d-953f-6b340412f4e4\",\"attributes\":{\"name\":\"Test-Get_one_app_key_owned_by_this_service_account_returns_OK_response-1639758435\",\"created_at\":\"2021-12-17T16:27:16.855017+00:00\",\"last4\":\"beef\",\"key\":\"deaddcc81a44288fbbbfb15efe1203df034abeef\"},\"relationships\":{\"owned_by\":{\"data\":{\"type\":\"users\",\"id\":\"3556a6f7-9f68-4a5d-aed8-1677fb92a76c\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "329"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "400"
            },
            {
              "name": "x-ratelimit-period",
       [...]
