{
  "log": {
    "_recordingName": "Service Accounts/Get one app key owned by this service account returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "4f2f29db3ded638fa9359b63cba0607a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Get_one_app_key_owned_by_this_service_account_returns_OK_response-1652349210@datadoghq.com\",\"service_account\":true,\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/service_accounts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 672,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"c0ff63f1-330a-4180-b1f8-4c0051e50fee\",\"attributes\":{\"name\":null,\"handle\":\"c0ff63f1-330a-4180-b1f8-4c0051e50fee\",\"created_at\":\"2022-05-12T09:53:31.028388+00:00\",\"modified_at\":\"2022-05-12T09:53:31.061501+00:00\",\"email\":\"test-get_one_app_key_owned_by_this_service_account_returns_ok_response-1652349210@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/70d7e034954677ac6722e68e81e848f0?s=48&d=retro\",\"title\":\"user title\",\"verified\":true,\"service_account\":true,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Active\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 547
      },
      {
        "_id": "db088f55ae8b510db2172f0bd2837bd7",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Get_one_app_key_owned_by_this_service_account_returns_OK_response-1652349210\"},\"type\":\"application_keys\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/service_accounts/c0ff63f1-330a-4180-b1f8-4c0051e50fee/application_keys"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 444,
            "text": "{\"data\":{\"type\":\"application_keys\",\"id\":\"4d8e6445-5088-450f-8bc5-5f56ffa0579c\",\"attributes\":{\"name\":\"Test-Get_one_app_key_owned_by_this_service_account_returns_OK_response-1652349210\",\"created_at\":\"2022-05-12T09:53:31.579790+00:00\",\"last4\":\"xxxx\",\"key\":\"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\"scopes\":null},\"relationships\":{\"owned_by\":{\"data\":{\"type\":\"users\",\"id\":\"c0ff63f1-330a-4180-b1f8-4c0051e50fee\"}},\"leak_information\":{\"data\":null}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 564
      },
      {
        "_id": "31699f4f968885bebb6b16b7c1c41a6d",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/s[...]
