{
  "log": {
    "_recordingName": "Service Accounts/Get one app key owned by this service account returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "08c2cc66e1ed0a033b14f95e4fcad48d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Get_one_app_key_owned_by_this_service_account_returns_OK_response-1641829899@datadoghq.com\",\"service_account\":true,\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/service_accounts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 672,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"d0b09599-e180-4a05-b8cf-d8a518149301\",\"attributes\":{\"name\":null,\"handle\":\"d0b09599-e180-4a05-b8cf-d8a518149301\",\"created_at\":\"2022-01-10T15:51:40.383597+00:00\",\"modified_at\":\"2022-01-10T15:51:40.420607+00:00\",\"email\":\"test-get_one_app_key_owned_by_this_service_account_returns_ok_response-1641829899@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/058bbf5e2d63130b944273db7f6177c2?s=48&d=retro\",\"title\":\"user title\",\"verified\":true,\"service_account\":true,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Active\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 569
      },
      {
        "_id": "442d4219c707b7996732122ce2ea7a02",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Get_one_app_key_owned_by_this_service_account_returns_OK_response-1641829899\"},\"type\":\"application_keys\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/service_accounts/d0b09599-e180-4a05-b8cf-d8a518149301/application_keys"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 411,
            "text": "{\"data\":{\"type\":\"application_keys\",\"id\":\"049a8336-2752-4ed7-bdc5-4000af01cb81\",\"attributes\":{\"name\":\"Test-Get_one_app_key_owned_by_this_service_account_returns_OK_response-1641829899\",\"created_at\":\"2022-01-10T15:51:40.961126+00:00\",\"last4\":\"xxxx\",\"key\":\"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\"scopes\":null},\"relationships\":{\"owned_by\":{\"data\":{\"type\":\"users\",\"id\":\"d0b09599-e180-4a05-b8cf-d8a518149301\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 1544
      },
      {
        "_id": "412dd093078aef75ce59a3c2a2b69f14",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "query[...]
