{
  "log": {
    "_recordingName": "Agentless Scanning/List GCP Scan Options returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "f9eb4412690a34d5e9ac6eb62df01fab",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/agentless_scanning/accounts/gcp"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 236,
            "text": "{\"data\":[{\"id\":\"invalid/project/id\",\"type\":\"gcp_scan_options\",\"attributes\":{\"vuln_containers_os\":true,\"vuln_host_os\":true}},{\"id\":\"api-spec-test\",\"type\":\"gcp_scan_options\",\"attributes\":{\"vuln_containers_os\":false,\"vuln_host_os\":true}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 389
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
