{
  "log": {
    "_recordingName": "Usage Metering/Get hourly usage for SNMP devices returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "d930ca170ac4b96c46d5e60969fbc122",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "start_hr",
              "value": "2025-05-07T11:35:50.158Z"
            },
            {
              "name": "end_hr",
              "value": "2025-05-09T11:35:50.158Z"
            }
          ],
          "url": "https://api.datadoghq.com/api/v1/usage/snmp?start_hr=2025-05-07T11%3A35%3A50.158Z&end_hr=2025-05-09T11%3A35%3A50.158Z"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 2748,
            "text": "{\"usage\":[{\"hour\":\"2025-05-07T11:00:00+00:00\",\"snmp_devices\":null},{\"hour\":\"2025-05-07T12:00:00+00:00\",\"snmp_devices\":null},{\"hour\":\"2025-05-07T13:00:00+00:00\",\"snmp_devices\":null},{\"hour\":\"2025-05-07T14:00:00+00:00\",\"snmp_devices\":null},{\"hour\":\"2025-05-07T15:00:00+00:00\",\"snmp_devices\":null},{\"hour\":\"2025-05-07T16:00:00+00:00\",\"snmp_devices\":null},{\"hour\":\"2025-05-07T17:00:00+00:00\",\"snmp_devices\":null},{\"hour\":\"2025-05-07T18:00:00+00:00\",\"snmp_devices\":null},{\"hour\":\"2025-05-07T19:00:00+00:00\",\"snmp_device[...]
