{
  "log": {
    "_recordingName": "Metrics/List tag configuration by name returns \"Success\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "5894d1dc4617dadf427b73acb77a8558",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "text/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "text/json",
            "params": [],
            "text": "{\"series\":[{\"metric\":\"TestListtagconfigurationbynamereturnsSuccessresponse1652354693\",\"points\":[[1652354693,1.1]],\"tags\":[\"test:ExampleSubmitmetricsreturnsPayloadacceptedresponse\"],\"type\":\"gauge\"}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/series"
        },
        "response": {
          "content": {
            "mimeType": "text/json",
            "size": 16,
            "text": "{\"status\": \"ok\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/json"
            }
          ],
          "status": 202,
          "statusText": "Accepted"
        },
        "time": 425
      },
      {
        "_id": "a8e65a82300ebebf5e63558138cde6eb",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"metric_type\":\"gauge\",\"tags\":[\"app\",\"datacenter\",\"TestListtagconfigurationbynamereturnsSuccessresponse1652354693\"]},\"id\":\"TestListtagconfigurationbynamereturnsSuccessresponse1652354693\",\"type\":\"manage_tags\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/metrics/TestListtagconfigurationbynamereturnsSuccessresponse1652354693/tags"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 374,
            "text": "{\"data\":{\"type\":\"manage_tags\",\"id\":\"TestListtagconfigurationbynamereturnsSuccessresponse1652354693\",\"attributes\":{\"tags\":[\"datacenter\",\"app\",\"TestListtagconfigurationbynamereturnsSuccessresponse1652354693\"],\"created_at\":\"2022-05-12T11:24:57.972878+00:00\",\"modified_at\":\"2022-05-12T11:24:57.972878+00:00\",\"metric_type\":\"gauge\",\"aggregations\":[{\"space\":\"avg\",\"time\":\"avg\"}]}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 552
      },
      {
        "_id": "dc33f4eda8717e3ba7d1b8022fadc3de",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.c[...]
