{
  "log": {
    "_recordingName": "Incidents/Create an incident type returns \"CREATED\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "a20f9ca032af9f52110bcc93fc9ba034",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"description\":\"e4408b9cd8ee3d61\",\"is_default\":true,\"name\":\"e4408b9cd8ee3d61\"},\"type\":\"incident_types\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/incidents/config/types"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 382,
            "text": "{\"data\":{\"id\":\"56ec8c33-78bf-469b-a45c-7aa57f5c2328\",\"type\":\"incident_types\",\"attributes\":{\"createdAt\":\"2024-10-24T15:20:11.007569706Z\",\"createdBy\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"description\":\"e4408b9cd8ee3d61\",\"is_default\":true,\"lastModifiedBy\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"modifiedAt\":\"2024-10-24T15:20:11.007569706Z\",\"name\":\"e4408b9cd8ee3d61\",\"prefix\":\"IR\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 467
      },
      {
        "_id": "adde0cb1c20b10fb0a624f5377271f31",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/incidents/config/types/56ec8c33-78bf-469b-a45c-7aa57f5c2328"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 122,
            "text": "{\"errors\":[{\"title\":\"Generic Error\",\"detail\":\"cannot delete default incident type 56ec8c33-78bf-469b-a45c-7aa57f5c2328\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 307
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
