{
  "log": {
    "_recordingName": "Cloud Workload Security/Delete a Cloud Workload Security Agent rule returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "6e87d760e43e8c51a9d16f91005fdd6a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"description\":\"My Agent rule\",\"enabled\":true,\"expression\":\"exec.file.name == \\\"sh\\\"\",\"name\":\"testdeleteacloudworkloadsecurityagentrulereturnsokresponse1652349081\"},\"type\":\"agent_rule\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/security_monitoring/cloud_workload_security/agent_rules"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 453,
            "text": "{\"data\":{\"attributes\":{\"category\":\"Process Activity\",\"name\":\"testdeleteacloudworkloadsecurityagentrulereturnsokresponse1652349081\",\"creator\":{\"handle\":\"frog@datadoghq.com\",\"name\":null},\"description\":\"My Agent rule\",\"enabled\":true,\"defaultRule\":false,\"version\":1,\"updater\":{\"handle\":\"frog@datadoghq.com\",\"name\":null},\"updateDate\":1652349082186,\"creationDate\":1652349082186,\"expression\":\"exec.file.name == \\\"sh\\\"\"},\"type\":\"agent_rule\",\"id\":\"hqy-ez4-nci\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 446
      },
      {
        "_id": "b26622c9ceef512d501b28500262f7f7",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/security_monitoring/cloud_workload_security/agent_rules/hqy-ez4-nci"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 0
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 437
      },
      {
        "_id": "b26622c9ceef512d501b28500262f7f7",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/security_monitoring/cloud_workload_security/agent_rules/hqy-ez4-nci"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 71,
            "text": "{\"errors\":[\"not_found(Agent rule not found: agentRuleId=hqy-ez4-nci)\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 454
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
