{
  "log": {
    "_recordingName": "Usage Metering/Get Monthly Cost Attribution returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ef93009d163dfaeda249cd00d86a8695",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "start_month",
              "value": "2023-11-11T19:43:19.607Z"
            },
            {
              "name": "end_month",
              "value": "2023-11-13T19:43:19.607Z"
            },
            {
              "name": "fields",
              "value": "infra_host_total_cost"
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/cost_by_tag/monthly_cost_attribution?start_month=2023-11-11T19%3A43%3A19.607Z&end_month=2023-11-13T19%3A43%3A19.607Z&fields=infra_host_total_cost"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 12,
            "text": "{\"data\":[]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 178
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
