{
  "log": {
    "_recordingName": "Dashboards/Create a new dashboard with sunburst widget and metrics data",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "efabb7880faf73c29de15927b76113ab",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"title\":\"Test-Create_a_new_dashboard_with_sunburst_widget_and_metrics_data-1639987466\",\"widgets\":[{\"definition\":{\"title\":\"\",\"title_size\":\"16\",\"title_align\":\"left\",\"type\":\"sunburst\",\"requests\":[{\"response_format\":\"scalar\",\"formulas\":[{\"formula\":\"query1\"}],\"queries\":[{\"query\":\"sum:system.mem.used{*} by {service}\",\"data_source\":\"metrics\",\"name\":\"query1\",\"aggregator\":\"sum\"}]}]},\"layout\":{\"x\":0,\"y\":0,\"width\":4,\"height\":4}}],\"layout_type\":\"ordered\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 848,
            "text": "{\"notify_list\":null,\"description\":null,\"restricted_roles\":[],\"author_name\":null,\"template_variables\":null,\"is_read_only\":false,\"id\":\"mf6-iqg-ndj\",\"title\":\"Test-Create_a_new_dashboard_with_sunburst_widget_and_metrics_data-1639987466\",\"url\":\"/dashboard/mf6-iqg-ndj/test-createanewdashboardwithsunburstwidgetandmetricsdata-1639987466\",\"created_at\":\"2021-12-20T08:04:27.129533+00:00\",\"modified_at\":\"2021-12-20T08:04:27.129533+00:00\",\"author_handle\":\"frog@datadoghq.com\",\"widgets\":[{\"definition\":{\"type\":\"sunburst\",\"requests\":[{\"formulas\":[{\"formula\":\"query1\"}],\"response_format\":\"scalar\",\"queries\":[{\"query\":\"sum:system.mem.used{*} by {service}\",\"data_source\":\"metrics\",\"name\":\"query1\",\"aggregator\":\"sum\"}]}],\"title_align\":\"left\",\"title_size\":\"16\",\"title\":\"\"},\"layout\":{\"y\":0,\"x\":0,\"height\":4,\"width\":4},\"id\":7490235413759256}],\"layout_type\":\"ordered\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 184,
      },
      {
        "_id": "33a64e2c8f0b0bad82a3e8968b4b1e42",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/mf6-iqg-ndj"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 38,
            "text": "{\"deleted_dashboard_id\":\"mf6-iqg-ndj\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 143,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
