{
  "log": {
    "_recordingName": "Metrics/Scalar cross product query with ci_pipelines data source returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "13ddd9779f4e857da2b881a1f7107007",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"formulas\":[{\"formula\":\"a\",\"limit\":{\"count\":10,\"order\":\"desc\"}}],\"from\":1776290796000,\"queries\":[{\"compute\":{\"aggregation\":\"count\"},\"data_source\":\"ci_pipelines\",\"indexes\":[\"*\"],\"name\":\"a\",\"search\":{\"query\":\"*\"}}],\"to\":1776294396000},\"type\":\"scalar_request\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/query/scalar"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 136,
            "text": "{\"data\":{\"id\":\"0\",\"type\":\"scalar_response\",\"attributes\":{\"columns\":[{\"name\":\"a\",\"values\":[9.0],\"type\":\"number\",\"meta\":{\"unit\":null}}]}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 314
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
