{
  "log": {
    "_recordingName": "Execution Policy/List execution policies returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "d6d8f3b2ced21dd729b51b74fc4acf6b",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page",
              "value": {
                "size": "0"
              }
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/actions/execution-policies?page%5Bsize%5D=0"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 82,
            "text": "{\"errors\":[{\"title\":\"Generic Error\",\"detail\":\"error listing execution policies\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 339
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
