{
  "log": {
    "_recordingName": "Incidents/Update incident notification template returns \"Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "28f28077c17e6421484ca16d3a354df9",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"category\":\"update\",\"content\":\"Incident Status Update: For more details, visit the incident page.\",\"name\":\"Updated Template Name\",\"subject\":\"Incident Update\"},\"id\":\"00000000-1111-2222-3333-444444444444\",\"type\":\"notification_templates\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/incidents/config/notification-templates/00000000-1111-2222-3333-444444444444"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 49,
            "text": "{\"errors\":[{\"status\":\"404\",\"title\":\"Not Found\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 94
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
