{
  "log": {
    "_recordingName": "Execution Policy/Update an execution policy returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "22a9332c23e3a978015f6af3982f2d03",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"action_pattern\":{\"action_fqns\":[\"com.datadoghq.script.*\"],\"integration\":\"INTEGRATION_SCRIPT\"},\"effect\":\"allow\",\"name\":\"Cassette Execution Policy testupdateanexecutionpolicyreturnsbadrequestresponse1786698825\"},\"type\":\"execution_policy\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/actions/execution-policies"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 506,
            "text": "{\"data\":{\"id\":\"0ce84810-fb1b-48ad-9012-ac49a505491a\",\"type\":\"execution_policy\",\"attributes\":{\"action_pattern\":{\"integration\":\"INTEGRATION_SCRIPT\",\"action_fqns\":[\"com.datadoghq.script.*\"]},\"created_at\":\"2026-08-14T09:13:46Z\",\"created_by\":\"262c2ca8-d93e-45bc-8d47-5c9ab7af8e6b\",\"effect\":\"allow\",\"name\":\"Cassette Execution Policy testupdateanexecutionpolicyreturnsbadrequestresponse1786698825\",\"targets\":[],\"updated_at\":\"2026-08-14T09:13:46Z\",\"updated_by\":\"262c2ca8-d93e-45bc-8d47-5c9ab7af8e6b\",\"version\":1}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 369
      },
      {
        "_id": "5acbd7211d78c3689986ce4a47ff6757",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"action_pattern\":{\"action_fqns\":[\"com.datadoghq.script.*\"],\"integration\":\"INTEGRATION_SCRIPT\"},\"effect\":\"invalid_effect\",\"name\":\"Cassette Execution Policy Updated\"},\"id\":\"0ce84810-fb1b-48ad-9012-ac49a505491a\",\"type\":\"execution_policy\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/actions/execution-policies/0ce84810-fb1b-48ad-9012-ac49a505491a"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 81,
            "text": "{\"errors\":[{\"title\":\"Generic Error\",\"detail\":\"error updating execution policy\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 278
      },
      {
        "_id": "e7ab022c01b37c122c8fbe55a7fc6796",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/actions/execution-policies/0ce84810-fb1b-48ad-9012-ac49a505491a"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 379
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
