{
  "log": {
    "_recordingName": "AWS Integration/AWS Integration - List log services returns \"AWS Logs Services List object\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "03c3c0d9a62f5ac6398be22a05d14d79",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integration/aws/logs/services"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 201,
            "text": "{\"data\":{\"id\":\"get_logs_services\",\"type\":\"logs_services\",\"attributes\":{\"logs_services\":[\"apigw-access-logs\",\"apigw-execution-logs\",\"cloudfront\",\"elb\",\"elbv2\",\"lambda\",\"redshift\",\"s3\",\"states\",\"waf\"]}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 64
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
