{
  "log": {
    "_recordingName": "Synthetics/Edit a Mobile test returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "42b918c2388c6eaa245d71b6a6bf9b07",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"config\":{\"variables\":[]},\"message\":\"\",\"name\":\"Test-Edit_a_Mobile_test_returns_OK_response-1733743091\",\"options\":{\"device_ids\":[\"synthetics:mobile:device:iphone_15_ios_17\"],\"mobileApplication\":{\"applicationId\":\"ab0e0aed-536d-411a-9a99-5428c27d8f8e\",\"referenceId\":\"6115922a-5f5d-455e-bc7e-7955a57f3815\",\"referenceType\":\"version\"},\"tick_every\":3600},\"status\":\"paused\",\"steps\":[],\"type\":\"mobile\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/synthetics/tests/mobile"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 829,
            "text": "{\"public_id\":\"cxt-jqd-x42\",\"name\":\"Test-Edit_a_Mobile_test_returns_OK_response-1733743091\",\"status\":\"paused\",\"type\":\"mobile\",\"tags\":[],\"created_at\":\"2024-12-09T11:18:12.507076+00:00\",\"modified_at\":\"2024-12-09T11:18:12.507076+00:00\",\"config\":{\"variables\":[]},\"message\":\"\",\"options\":{\"device_ids\":[\"synthetics:mobile:device:iphone_15_ios_17\"],\"mobileApplication\":{\"applicationId\":\"ab0e0aed-536d-411a-9a99-5428c27d8f8e\",\"referenceId\":\"6115922a-5f5d-455e-bc7e-7955a57f3815\",\"referenceType\":\"version\"},\"tick_every\":3600},\"locations\":[\"aws:us-west-2\"],\"created_by\":{\"name\":null,\"handle\":\"frog@datadoghq.com\",\"email\":\"frog@datadoghq.com\"},\"deleted_at\":null,\"monitor_id\":159881046,\"org_id\":321813,\"modified_by\":{\"name\":null,\"handle\":\"frog@datadoghq.com\",\"email\":\"frog@datadoghq.com\"},\"stepCount\":{\"assertions\":0,\"subtests\":0,\"total\":0}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 713
      },
      {
        "_id": "f4e9918d1acbb1316ed08309d1deae96",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"config\":{\"variables\":[]},\"message\":\"\",\"name\":\"Test-Edit_a_Mobile_test_r[...]
