{
  "log": {
    "_recordingName": "Service Level Objectives/Search for SLOs returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "ce1b99125afd22b2b6385ee4470ba88b",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"Test-Search_for_SLOs_returns_OK_response-1652866644\",\"query\":{\"denominator\":\"sum:httpservice.hits{!code:3xx}.as_count()\",\"numerator\":\"sum:httpservice.hits{code:2xx}.as_count()\"},\"thresholds\":[{\"target\":95,\"timeframe\":\"7d\",\"warning\":98}],\"type\":\"metric\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/slo"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 566,
            "text": "{\"data\":[{\"description\":\"\",\"monitor_tags\":[],\"creator\":{\"handle\":\"frog@datadoghq.com\",\"name\":null,\"email\":\"frog@datadoghq.com\"},\"thresholds\":[{\"warning\":98.0,\"warning_display\":\"98.\",\"target\":95.0,\"target_display\":\"95.\",\"timeframe\":\"7d\"}],\"type_id\":1,\"query\":{\"denominator\":\"sum:httpservice.hits{!code:3xx}.as_count()\",\"numerator\":\"sum:httpservice.hits{code:2xx}.as_count()\"},\"id\":\"5ad30e05604756829cb664b58371aa9c\",\"name\":\"Test-Search_for_SLOs_returns_OK_response-1652866644\",\"created_at\":1652866645,\"tags\":[],\"modified_at\":1652866645,\"type\":\"metric\"}],\"error\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 561
      },
      {
        "_id": "68e37d4525d05ac2e5b409f9158488bb",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "query",
              "value": "Test-Search_for_SLOs_returns_OK_response-1652866644"
            },
            {
              "name": "page",
              "value": {
                "number": "0",
                "size": "20"
              }
            }
          ],
          "url": "https://api.datadoghq.com/api/v1/slo/search?query=Test-Search_for_SLOs_returns_OK_response-1652866644&page%5Bsize%5D=20&page%5Bnumber%5D=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1379,
            "text": "{\"meta\":{\"pagination\":{\"prev_number\":0,\"number\":0,\"last_number\":0,\"next_number\":1,\"first_number\":0,\"total\":1,\"type\":\"number_size\",\"size\":20}},\"data\":{\"attributes\":{\"facets\":{\"timeframe\":[{\"count\":1,\"name\":\"7d\"}],\"target\":[{\"count\":1,\"name\":95.0}],\"slo_type\":[{\"count\":1,\"name\":1}]},\"slos\":[{\"data\":{\"attributes\":{\"team_tags\":[],\"description\":null,\"creator\":{\"id\":1445416,\"email\":\"frog@datadoghq.com\",\"name\":null},\"created_at\":1652866645024787,\"env_tags\":[],\"modified_at\":1652866645024787,\"name\":\"Test-Search_for_SLOs_returns_OK_response-1652866644\",\"service_tags\":[],\"groups\":null,\"all_tags\":[],\"thresholds\":[{\"warning\":98.0,\"warning_display\":\"95\",\"target\":95.0,\"target_display\":\"95\",\"timeframe\":\"7d\"}],\"monitor_ids\":null,\"slo_type\":1},\"type\":\"slo\",\"id\":\"5ad30e05604756829cb664b58371aa9c\"}}]},\"type\":\"service_level_objective_search_results\"},\"links\":{\"next\":\"https://api.datadoghq.com/api/v1/slo/search?query=Test-Search_for_SLOs_returns_OK_response-1652866644&page%5Bsize%5D=20&page%5Bnumber%5D=0&page[number]=1&page[size]=20\",\"self\":\"https://api.datadoghq.com/api/v1/slo/search?query=Test-Search_for_SLOs_returns_OK_response-1652866644&page%5Bsize%5D=20&page%5Bnumber%5D=0\",\"prev\":null,\"last\":null,\"first\":\"https://api.datadoghq.com/api/v1/slo/search?query=Test-Search_for_SLOs_returns_OK_response-1652866644&page%5Bsize%5D=20&page%5Bnumber%5D=0&page[number]=0&page[size]=20\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1198
      },
      {
        "_id": "d76bb8ca433a659b11ca805eb5f6a256",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/slo/5ad30e05604756829cb664b58371aa9c"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 58,
            "text": "{\"data\":[\"5ad30e05604756829cb664b58371aa9c\"],\"error\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 612
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
