{
  "log": {
    "_recordingName": "Service Level Objectives/Search for SLOs returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "c4e48f7ef9a1e661ef7257e9a1929026",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"Test-Search_for_SLOs_returns_OK_response-1664357958\",\"query\":{\"denominator\":\"sum:httpservice.hits{!code:3xx}.as_count()\",\"numerator\":\"sum:httpservice.hits{code:2xx}.as_count()\"},\"thresholds\":[{\"target\":95,\"timeframe\":\"7d\",\"warning\":98}],\"type\":\"metric\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/slo"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 567,
            "text": "{\"data\":[{\"description\":\"\",\"monitor_tags\":[],\"creator\":{\"handle\":\"frog@datadoghq.com\",\"name\":null,\"email\":\"frog@datadoghq.com\"},\"thresholds\":[{\"warning\":98.0,\"warning_display\":\"98.\",\"target\":95.0,\"target_display\":\"95.\",\"timeframe\":\"7d\"}],\"type_id\":1,\"query\":{\"denominator\":\"sum:httpservice.hits{!code:3xx}.as_count()\",\"numerator\":\"sum:httpservice.hits{code:2xx}.as_count()\"},\"id\":\"3e0865c5301c5271a3b4345eb4f14074\",\"name\":\"Test-Search_for_SLOs_returns_OK_response-1664357958\",\"created_at\":1664357958,\"tags\":[],\"modified_at\":1664357958,\"type\":\"metric\"}],\"error\":null}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 611
      },
      {
        "_id": "d51df83c1bd72348f0fc1154dbe20f8d",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "query",
              "value": "Test-Search_for_SLOs_returns_OK_response-1664357958"
            },
            {
              "name": "page",
              "value": {
                "number": "0",
                "size": "20"
              }
            }
          ],
          "url": "https://api.datadoghq.com/api/v1/slo/search?query=Test-Search_for_SLOs_returns_OK_response-1664357958&page%5Bsize%5D=20&page%5Bnumber%5D=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1323,
            "text": "{\"meta\":{\"pagination\":{\"prev_number\":0,\"number\":0,\"last_number\":0,\"next_number\":1,\"first_number\":0,\"total\":1,\"type\":\"number_size\",\"size\":20}},\"data\":{\"attributes\":{\"slos\":[{\"data\":{\"attributes\":{\"team_tags\":[],\"description\":null,\"creator\":{\"id\":1445416,\"email\":\"frog@datadoghq.com\",\"name\":null},\"created_at\":1664357958,\"env_tags\":[],\"modified_at\":1664357958,\"name\":\"Test-Search_for_SLOs_returns_OK_response-1664357958\",\"service_tags\":[],\"groups\":null,\"all_tags\":[],\"query\":{\"metrics\":null,\"denominator\":\"sum:httpservice.hits{!code:3xx}.as_count()\",\"numerator\":\"sum:httpservice.hits{code:2xx}.as_count()\"},\"thresholds\":[{\"warning\":98.0,\"warning_display\":\"95\",\"target\":95.0,\"target_display\":\"95\",\"timeframe\":\"7d\"}],\"monitor_ids\":null,\"slo_type\":\"metric\"},\"type\":\"slo\",\"id\":\"3e0865c5301c5271a3b4345eb4f14074\"}}]},\"type\":\"service_level_objective_search_results\"},\"links\":{\"next\":\"https://api.datadoghq.com/api/v1/slo/search?query=Test-Search_for_SLOs_returns_OK_response-1664357958&page[number]=1&page[size]=20\",\"self\":\"https://api.datadoghq.com/api/v1/slo/search?query=Test-Search_for_SLOs_returns_OK_response-1664357958&page%5Bsize%5D=20&page%5Bnumber%5D=0\",\"prev\":null,\"last\":null,\"first\":\"https://api.datadoghq.com/api/v1/slo/search?query=Test-Search_for_SLOs_returns_OK_response-1664357958&page[number]=0&page[size]=20\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 480
      },
      {
        "_id": "3f20ae90186fea9f9ca374fa44d311a9",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/slo/3e0865c5301c5271a3b4345eb4f14074"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 59,
            "text": "{\"data\":[\"3e0865c5301c5271a3b4345eb4f14074\"],\"error\":null}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 568
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
