{
  "log": {
    "_recordingName": "Service Level Objectives/Search for SLOs returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "79ca7ba409ab3075578fd19fd154a6aa",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"Test-Search_for_SLOs_returns_OK_response-1676410539\",\"query\":{\"denominator\":\"sum:httpservice.hits{!code:3xx}.as_count()\",\"numerator\":\"sum:httpservice.hits{code:2xx}.as_count()\"},\"thresholds\":[{\"target\":95,\"timeframe\":\"7d\",\"warning\":98}],\"type\":\"metric\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/slo"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 629,
            "text": "{\"data\":[{\"id\":\"34c97838f5c5578ebe812e5d068977a9\",\"name\":\"Test-Search_for_SLOs_returns_OK_response-1676410539\",\"tags\":[],\"monitor_tags\":[],\"thresholds\":[{\"timeframe\":\"7d\",\"target\":95.0,\"target_display\":\"95.\",\"warning\":98.0,\"warning_display\":\"98.\"}],\"type\":\"metric\",\"type_id\":1,\"description\":\"\",\"timeframe\":\"7d\",\"warning_threshold\":98,\"target_threshold\":95,\"query\":{\"denominator\":\"sum:httpservice.hits{!code:3xx}.as_count()\",\"numerator\":\"sum:httpservice.hits{code:2xx}.as_count()\"},\"creator\":{\"name\":null,\"handle\":\"frog@datadoghq.com\",\"email\":\"frog@datadoghq.com\"},\"created_at\":1676410539,\"modified_at\":1676410539}],\"error\":null}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 283
      },
      {
        "_id": "20df3a273e22a0e73d3a21844c87a84d",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "query",
              "value": "Test-Search_for_SLOs_returns_OK_response-1676410539"
            },
            {
              "name": "page",
              "value": {
                "number": "0",
                "size": "20"
              }
            }
          ],
          "url": "https://api.datadoghq.com/api/v1/slo/search?page%5Bnumber%5D=0&page%5Bsize%5D=20&query=Test-Search_for_SLOs_returns_OK_response-1676410539"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1851,
            "text": "{\"data\":{\"type\":\"service_level_objective_search_results\",\"attributes\":{\"slos\":[{\"data\":{\"type\":\"slo\",\"attributes\":{\"monitor_ids\":null,\"all_tags\":[],\"thresholds\":[{\"warning_display\":\"95\",\"target_display\":\"95\",\"target\":95.0,\"warning\":98.0,\"timeframe\":\"7d\"}],\"env_tags\":[],\"groups\":null,\"timeframe\":\"7d\",\"overall_status\":[{\"error_budget_remaining\":null,\"raw_error_budget_remaining\":null,\"indexed_at\":1676409980,\"status\":null,\"span_precision\":null,\"error\":\"The denominator is zero valued\",\"target\":95.0,\"state\":\"no_data\",\"timeframe\":\"7d\"}],\"query\":{\"metrics\":null,\"numerator\":\"sum:httpservice.hits{code:2xx}.as_count()\",\"denominator\":\"sum:httpservice.hits{!code:3xx}.as_count()\"},\"warning_threshold\":98.0,\"slo_type\":\"metric\",\"name\":\"Test-Search_for_SLOs_returns_OK_response-1676410539\",\"service_tags\":[],\"status\":{\"error_budget_remaining\":null,\"raw_error_budget_remaining\":null,\"indexed_at\":1676409980,\"span_precision\":null,\"state\":\"no_data\",\"sli\":null,\"calculation_error\":\"The denominator is zero valued\"},\"creator\":{\"name\":null,\"id\":1445416,\"email\":\"frog@datadoghq.com\"},\"created_at\":1676364842,\"modified_at\":1676364842,\"description\":null,\"team_tags\":[],\"target_threshold\":95.0},\"id\":\"18101ab6982f547faba6c9bdc6de9413\"}}]}},\"meta\":{\"pagination\":{\"number\":0,\"first_number\":0,\"prev_number\":0,\"next_number\":1,\"last_number\":0,\"size\":20,\"type\":\"number_size\",\"total\":1}},\"links\":{\"self\":\"https://api.datadoghq.com/api/v1/slo/search?query=Test-Search_for_SLOs_returns_OK_response-1676410539&page%5Bsize%5D=20&page%5Bnumber%5D=0\",\"last\":null,\"next\":\"https://api.datadoghq.com/api/v1/slo/search?query=Test-Search_for_SLOs_returns_OK_response-1676410539&page[number]=1&page[size]=20\",\"prev\":null,\"first\":\"https://api.datadoghq.com/api/v1/slo/search?query=Test-Search_for_SLOs_returns_OK_response-1676410539&page[number]=0&page[size]=20\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 224
      },
      {
        "_id": "256cf1c7a7ee71aaad122b131b20ef56",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/slo/34c97838f5c5578ebe812e5d068977a9"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 59,
            "text": "{\"data\":[\"34c97838f5c5578ebe812e5d068977a9\"],\"error\":null}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 396
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
