{
  "log": {
    "_recordingName": "Synthetics/Get the on-demand concurrency cap returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "fe0201f5ecbd327019d56ce352f07d32",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/synthetics/settings/on_demand_concurrency_cap"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 92,
            "text": "{\"data\":{\"type\":\"on_demand_concurrency_cap\",\"attributes\":{\"on_demand_concurrency_cap\":20}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 435
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
