{
  "log": {
    "_recordingName": "Powerpack/Create a new powerpack returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "0011486f1e30c65272fb909e4c526536",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"description\":\"Powerpack for ABC\",\"group_widget\":{\"definition\":{\"layout_type\":\"ordered\",\"type\":\"group1\",\"widgets\":[]}},\"name\":\"Sample Powerpack\",\"tags\":[\"tag:foo1\"],\"template_variables\":[{\"defaults\":[\"*\"],\"name\":\"test\"}]},\"type\":\"powerpack\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/powerpacks"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 215,
            "text": "{\"errors\":[\"Invalid group widget for powerpack. Error: 'group1' is not one of ['group']\\n\\nFailed validating 'enum' in schema['properties']['type']:\\n    {'enum': ['group']}\\n\\nOn instance['type']:\\n    'group1'.\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 110
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
