{
  "log": {
    "_recordingName": "On-Call/Get a list of all overrides for a schedule returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "832b80887b60d37d200010afb760f28d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Get_a_list_of_all_overrides_for_a_schedule_returns_OK_response-1749512227@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 729,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"a8c6f210-458a-11f0-8c93-d6008d2166ed\",\"attributes\":{\"name\":null,\"handle\":\"test-get_a_list_of_all_overrides_for_a_schedule_returns_ok_response-1749512227@datadoghq.com\",\"created_at\":\"2025-06-09T23:37:08.789947+00:00\",\"modified_at\":\"2025-06-09T23:37:08.789947+00:00\",\"email\":\"test-get_a_list_of_all_overrides_for_a_schedule_returns_ok_response-1749512227@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/d258e3db456139b683f980ed2d272d47?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 982
      },
      {
        "_id": "183a804389d2380bf74f57c121fb1037",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"layers\":[{\"effective_date\":\"2025-05-30T23:37:07.887Z\",\"end_date\":\"2025-06-19T23:37:07.887Z\",\"interval\":{\"days\":1},\"members\":[{\"user\":{\"id\":\"a8c6f210-458a-11f0-8c93-d6008d2166ed\"}}],\"name\":\"Layer 1\",\"restrictions\":[{\"end_day\":\"friday\",\"end_time\":\"17:00:00\",\"start_day\":\"monday\",\"start_time\":\"09:00:00\"}],\"rotation_start\":\"2025-06-04T23:37:07.887Z\"}],\"name\":\"Test-Get_a_list_of_all_overrides_for_a_schedule_returns_OK_response-1749512227\",\"time_zone\":\"America/New_York\"},\"relationships\":{\"teams\":{\"data\":[{\"id\":\"65aea9d0-941c-4607-bf8a-14fc0dac2820\",\"type\":\"teams\"}]}},\"type\":\"schedules\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/on-call/schedules"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 387,
            "text": "{\"data\":{\"id\":\"f6b4026c-2306-4f1c-a5f7-87af6ce59d46\",\"type\":\"schedules\",\"attributes\":{\"name\":\"Test-Get_a_list_[...]
