{
  "log": {
    "_recordingName": "APM Retention Filters/Get a given APM retention filter returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "b24042788cc9cba4e3eb03a7fdff0697",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"enabled\":true,\"filter\":{\"query\":\"@_top_level:1 test:service-demo\"},\"filter_type\":\"spans-sampling-processor\",\"name\":\"demo retention filter\",\"rate\":0.9},\"type\":\"apm_retention_filter\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/apm/config/retention-filters"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 371,
            "text": "{\"data\":{\"id\":\"FaVuDNMERS25j8w4QWTwzg\",\"attributes\":{\"name\":\"demo retention filter\",\"rate\":0.9,\"enabled\":true,\"filter_type\":\"spans-sampling-processor\",\"filter\":{\"query\":\"@_top_level:1 test:service-demo\"},\"editable\":true,\"modified_by\":\"frog@datadoghq.com\",\"modified_at\":1695889183,\"created_by\":\"frog@datadoghq.com\",\"created_at\":1695889183},\"type\":\"apm_retention_filter\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 410
      },
      {
        "_id": "0b14affbf563228c6c931388a53274d3",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/apm/config/retention-filters/FaVuDNMERS25j8w4QWTwzg"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 371,
            "text": "{\"data\":{\"id\":\"FaVuDNMERS25j8w4QWTwzg\",\"attributes\":{\"n[...]
