{
  "log": {
    "_recordingName": "Data Access Controls/Edit a Data Access Control dataset returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "98c186af66166aeb0513fa2b1140d02f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PUT",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/datasets/malformed_id"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 66,
            "text": "{\"errors\":[\"Invalid request: Request body contains invalid json\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 203
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
