{
  "log": {
    "_recordingName": "Microsoft Teams Integration/Delete workflow webhook handle returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "e34f8f00072a5a551341b203e4216b14",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Delete_workflow_webhook_handle_returns_OK_response-1738093013\",\"url\":\"https://prod-100.westus.logic.azure.com:443/workflows/abcd1234\"},\"type\":\"workflows-webhook-handle\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integration/ms-teams/configuration/workflows-webhook-handles"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 179,
            "text": "{\"data\":{\"id\":\"859e58f9-f63e-4ead-bde4-31265b79c6a7\",\"type\":\"workflows-webhook-handle\",\"attributes\":{\"name\":\"Test-Delete_workflow_webhook_handle_returns_OK_response-1738093013\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 89
      },
      {
        "_id": "69e34f33e90237237253ab21ad55ee59",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integration/ms-teams/configuration/workflows-webhook-handles/859e58f9-f63e-4ead-bde4-31265b79c6a7"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 100
      },
      {
        "_id": "69e34f33e90237237253ab21ad55ee59",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integration/ms-teams/configuration/workflows-webhook-handles/859e58f9-f63e-4ead-bde4-31265b79c6a7"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 73
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
