{
  "log": {
    "_recordingName": "Service Accounts/Get all app keys owned by this service account returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "da55bd4ac31a81952017d64b0f5179fb",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Get_all_app_keys_owned_by_this_service_account_returns_OK_response-1639758434@datadoghq.com\",\"title\":\"user title\",\"service_account\":true},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/service_accounts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 673,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"f7045aa4-5ab2-433b-8155-87f19c417551\",\"attributes\":{\"name\":null,\"handle\":\"f7045aa4-5ab2-433b-8155-87f19c417551\",\"created_at\":\"2021-12-17T16:27:14.750028+00:00\",\"modified_at\":\"2021-12-17T16:27:14.784178+00:00\",\"email\":\"test-get_all_app_keys_owned_by_this_service_account_returns_ok_response-1639758434@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/03af74c80bb8678b1a8459bb70005913?s=48&d=retro\",\"title\":\"user title\",\"verified\":true,\"service_account\":true,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Active\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 505,
      },
      {
        "_id": "8912adcce528bb63b0e996bbbba863ec",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/service_accounts/f7045aa4-5ab2-433b-8155-87f19c417551/application_keys"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 82,
            "text": "{\"meta\":{\"page\":{\"total_filtered_count\":0},\"max_allowed_per_user\":1000},\"data\":[]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 406,
      },
      {
        "_id": "8ec66dbb5d162a6543c9510d3ed3b6eb",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users/f7045aa4-5ab2-433b-8155-87f19c417551"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 620,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
