{
  "log": {
    "_recordingName": "Service Accounts/Get all app keys owned by this service account returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "71251c476ad76ffe5796dc919386cf4d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Get_all_app_keys_owned_by_this_service_account_returns_OK_response-1641829898@datadoghq.com\",\"service_account\":true,\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/service_accounts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 673,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"cb10abbd-04d2-44db-8ae8-b8aa7cb700cf\",\"attributes\":{\"name\":null,\"handle\":\"cb10abbd-04d2-44db-8ae8-b8aa7cb700cf\",\"created_at\":\"2022-01-10T15:51:38.877542+00:00\",\"modified_at\":\"2022-01-10T15:51:38.913618+00:00\",\"email\":\"test-get_all_app_keys_owned_by_this_service_account_returns_ok_response-1641829898@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/dc95dff7458abc481def50bb5c7b1d7f?s=48&d=retro\",\"title\":\"user title\",\"verified\":true,\"service_account\":true,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Active\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 563
      },
      {
        "_id": "b63619263f8a36f5e9b1be6cf6194e6e",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/service_accounts/cb10abbd-04d2-44db-8ae8-b8aa7cb700cf/application_keys"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 82,
            "text": "{\"meta\":{\"page\":{\"total_filtered_count\":0},\"max_allowed_per_user\":1000},\"data\":[]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 350
      },
      {
        "_id": "8adbe71756fbac8d6bf797035ff93228",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users/cb10abbd-04d2-44db-8ae8-b8aa7cb700cf"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 572
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
