{
  "log": {
    "_recordingName": "Service Accounts/Get all app keys owned by this service account returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "85c91e17971103e22b6d401f140fca97",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Get_all_app_keys_owned_by_this_service_account_returns_OK_response-1652349208@datadoghq.com\",\"service_account\":true,\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/service_accounts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 673,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"926e55a1-cfc6-4d4f-9d5c-543b8327ba78\",\"attributes\":{\"name\":null,\"handle\":\"926e55a1-cfc6-4d4f-9d5c-543b8327ba78\",\"created_at\":\"2022-05-12T09:53:29.427553+00:00\",\"modified_at\":\"2022-05-12T09:53:29.459704+00:00\",\"email\":\"test-get_all_app_keys_owned_by_this_service_account_returns_ok_response-1652349208@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/520a9146f5c8d512b89e5fc4234eff5f?s=48&d=retro\",\"title\":\"user title\",\"verified\":true,\"service_account\":true,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Active\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 563
      },
      {
        "_id": "c06795d47a7b9b21f503c019baf171ff",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/service_accounts/926e55a1-cfc6-4d4f-9d5c-543b8327ba78/application_keys"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 82,
            "text": "{\"meta\":{\"page\":{\"total_filtered_count\":0},\"max_allowed_per_user\":1000},\"data\":[]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 409
      },
      {
        "_id": "ec554d060b281ff4eaeb049e88759a2d",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users/926e55a1-cfc6-4d4f-9d5c-543b8327ba78"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 624
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
