{
  "log": {
    "_recordingName": "Usage Metering/Get hourly usage for Lambda Traced Invocations returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "d19a05076404164d8f0def0c128f076f",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "start_hr",
              "value": "2022-05-03T18:07:36.174Z"
            },
            {
              "name": "end_hr",
              "value": "2022-05-01T18:07:36.174Z"
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/usage/lambda_traced_invocations?start_hr=2022-05-03T18%3A07%3A36.174Z&end_hr=2022-05-01T18%3A07%3A36.174Z"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 78,
            "text": "{\"errors\":[\"start_hr [YYYY-MM-DDThh] must be before end_hr [YYYY-MM-DDThh]\"]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 254
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
