{
  "log": {
    "_recordingName": "GCP Integration/Create a new entry for your service account with cspm enabled returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "13ca4d0c4f3d06209dd7622c896dd7df",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"client_email\":\"Test-e7179b69d4d565ed@test-project.iam.gserviceaccount.com\",\"host_filters\":[],\"is_cspm_enabled\":true,\"resource_collection_enabled\":true},\"type\":\"gcp_service_account\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integration/gcp/accounts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 361,
            "text": "{\"data\":{\"type\":\"gcp_service_account\",\"attributes\":{\"is_cspm_enabled\":true,\"host_filters\":[],\"resource_collection_enabled\":true,\"cloud_run_revision_filters\":[],\"client_email\":\"Test-e7179b69d4d565ed@test-project.iam.gserviceaccount.com\",\"automute\":false,\"is_security_command_center_enabled\":false,\"account_tags\":[]},\"id\":\"9d359745-b1c0-41ba-9624-db7abb36904b\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 430
      },
      {
        "_id": "9be7f5e0526e6b0863da1824cdca9c1a",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integration/gcp/accounts/9d359745-b1c0-41ba-9624-db7abb36904b"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=utf-8",
            "size": 0
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=utf-8"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 134
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
