{
  "log": {
    "_recordingName": "GCP Integration/Create a new entry for your service account with cspm enabled returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "1b48862f21d27174aad37cc173a7031b",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"client_email\":\"dfb9f119aee90526@test-project.iam.gserviceaccount.com\",\"host_filters\":[],\"is_cspm_enabled\":true},\"type\":\"gcp_service_account\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integration/gcp/accounts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 324,
            "text": "{\"data\":{\"type\":\"gcp_service_account\",\"attributes\":{\"is_security_command_center_enabled\":false,\"resource_collection_enabled\":true,\"is_cspm_enabled\":true,\"client_email\":\"dfb9f119aee90526@test-project.iam.gserviceaccount.com\",\"account_tags\":[],\"automute\":false,\"host_filters\":[]},\"id\":\"d2ef6458-62a4-4fbe-ad48-9429baa01867\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 345
      },
      {
        "_id": "e44f2b57e01e28506212336846cc2df5",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integration/gcp/accounts/d2ef6458-62a4-4fbe-ad48-9429baa01867"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=utf-8",
            "size": 0
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=utf-8"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 90
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
