{
  "log": {
    "_recordingName": "GCP Integration/Create a new entry for your service account with cspm enabled returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "9f43c5f20e3a3f77eabec51f945c2d38",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"client_email\":\"9f53cbf93a21704b@test-project.iam.gserviceaccount.com\",\"host_filters\":[],\"is_cspm_enabled\":true,\"resource_collection_enabled\":true},\"type\":\"gcp_service_account\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integration/gcp/accounts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 324,
            "text": "{\"data\":{\"type\":\"gcp_service_account\",\"attributes\":{\"is_cspm_enabled\":true,\"account_tags\":[],\"host_filters\":[],\"resource_collection_enabled\":true,\"is_security_command_center_enabled\":false,\"client_email\":\"9f53cbf93a21704b@test-project.iam.gserviceaccount.com\",\"automute\":false},\"id\":\"cf3c6e32-dad2-452e-8c09-f34c5f2211a1\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 692
      },
      {
        "_id": "ad85416aab2d0560382c2997af729573",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integration/gcp/accounts/cf3c6e32-dad2-452e-8c09-f34c5f2211a1"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=utf-8",
            "size": 0
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=utf-8"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 420
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
