{
  "log": {
    "_recordingName": "Usage Metering/Get active billing dimensions for cost attribution returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "35fc05697a05a5271bbf430b1b46fa5a",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/cost_by_tag/active_billing_dimensions"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1626,
            "text": "{\"data\":{\"type\":\"billing_dimensions\",\"id\":\"f145e21e840c6db03f75c179877629eb08531aa6f314f97658261680e49ab1f1\",\"attributes\":{\"values\":[\"apm_fargate\",\"apm_host\",\"apm_host_enterprise\",\"apm_host_no_usm\",\"apm_host_pro\",\"apm_profiler_host\",\"apm_trace_search\",\"application_security_fargate\",\"application_security_host\",\"application_vulnerability_management_oss_host\",\"audit_trail\",\"ci_pipeline\",\"ci_pipeline_indexed_spans\",\"ci_test_indexed_spans\",\"ci_testing\",\"cloud_cost_management\",\"csm_container_enterprise\",\"csm_host_enterprise\",\"csm_host_pro\",\"cspm_container\",\"cspm_host\",\"custom_event\",\"cw[...]
