{
  "log": {
    "_recordingName": "Key Management/Delete an API key returns \"No Content\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "fd13d2082a643e930a3480111befeff6",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Delete_an_API_key_returns_No_Content_response-1652349123\"},\"type\":\"api_keys\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/api_keys"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 529,
            "text": "{\"data\":{\"type\":\"api_keys\",\"attributes\":{\"created_at\":\"2022-05-12T09:52:04.306086+00:00\",\"key\":\"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\"last4\":\"xxxx\",\"modified_at\":\"2022-05-12T09:52:04.306086+00:00\",\"name\":\"Test-Delete_an_API_key_returns_No_Content_response-1652349123\"},\"relationships\":{\"created_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}},\"modified_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}},\"leak_information\":{\"data\":null}},\"id\":\"67c58c24-e02f-4d1a-9c95-1e01d2544e5a\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 677
      },
      {
        "_id": "7264bbde9b3bf46282064244d4476767",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/api_keys/67c58c24-e02f-4d1a-9c95-1e01d2544e5a"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 613
      },
      {
        "_id": "7264bbde9b3bf46282064244d4476767",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/api_keys/67c58c24-e02f-4d1a-9c95-1e01d2544e5a"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 33,
            "text": "{\"errors\": [\"API key not found\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 456
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
