{
  "log": {
    "_recordingName": "APM Retention Filters/Get a given APM retention filter returns \"Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "187f6bbe903c0ebdb0b6fb201f2bbd8e",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/apm/config/retention-filters/REPLACE.ME"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 63,
            "text": "{\"errors\":[\"retention filter with id: 'REPLACE.ME' not found\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 396
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
