{
  "log": {
    "_recordingName": "Security Monitoring/Create a notification rule returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "b16508b0bee68375594a9556233c7c78",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"enabled\":true,\"name\":\"Test-Create_a_notification_rule_returns_OK_response-1699997657\",\"selectors\":{\"attributes\":[\"test:123\",\"env:prod\"],\"implicit_vm_rule_match\":false,\"rule_tags\":[\"test:123\"],\"rule_types\":[\"application_security\",\"log_detection\"],\"severities\":[\"high\"],\"signal_tags\":[\"env:prod\"]},\"targets\":[\"@slack-test\"]},\"type\":\"notification_profiles\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/security_monitoring/configuration/notification_profiles"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 577,
            "text": "{\"data\":{\"id\":\"okw-nnj-rem\",\"attributes\":{\"version\":1,\"name\":\"Test-Create_a_notification_rule_returns_OK_response-1699997657\",\"targets\":[\"@slack-test\"],\"selectors\":{\"severities\":[\"high\"],\"rule_types\":[\"application_security\",\"log_detection\"],\"rule_tags\":[\"test:123\"],\"signal_tags\":[\"env:prod\"],\"attributes\":[\"env:prod\",\"test:123\"],\"implicit_vm_rule_match\":false},\"enabled\":true,\"creation_date\":1699997657897,\"update_date\":1699997657897,\"creator\":{\"name\":null,\"handle\":\"frog@datadoghq.com\"},\"updater\":{\"name\":null,\"handle\":\"frog@datadoghq.com\"}},\"type\":\"notification_profiles\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 220
      },
      {
        "_id": "30e7e4f978773d2ca0044031d18e38f4",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/security_monitoring/configuration/notification_profiles/okw-nnj-rem"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=utf-8",
            "size": 0
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=utf-8"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 204
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
