{
  "log": {
    "_recordingName": "Security Monitoring/Create a notification rule returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "510867818d668750dab1a310011502be",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"enabled\":true,\"name\":\"Test-Create_a_notification_rule_returns_OK_response-1713390902\",\"selectors\":{\"attributes\":[\"test:123\",\"env:prod\"],\"implicit_vm_rule_match\":false,\"rule_tags\":[\"test:123\"],\"rule_types\":[\"application_security\",\"log_detection\"],\"severities\":[\"high\"],\"signal_tags\":[\"env:prod\"]},\"targets\":[\"@slack-test\"]},\"type\":\"notification_rules\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/security_monitoring/configuration/notification_rules"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 668,
            "text": "{\"data\":{\"id\":\"ntc-9ny-wdj\",\"attributes\":{\"version\":1,\"name\":\"Test-Create_a_notification_rule_returns_OK_response-1713390902\",\"targets\":[\"@slack-test\"],\"selectors\":{\"severities\":[\"high\"],\"rule_types\":[\"application_security\",\"log_detection\"],\"rule_tags\":[\"test:123\"],\"signal_tags\":[\"env:prod\"],\"attributes\":[\"env:prod\",\"test:123\"],\"query\":\"(env:\\\"prod\\\" OR @env:\\\"prod\\\") AND (test:\\\"123\\\" OR @test:\\\"123\\\")\",\"migrated\":true,\"implicit_vm_rule_match\":false},\"enabled\":true,\"creation_date\":1713390903036,\"update_date\":1713390903036,\"creator\":{\"name\":null,\"handle\":\"frog@datadoghq.com\"},\"updater\":{\"name\":null,\"handle\":\"frog@datadoghq.com\"}},\"type\":\"notification_rules\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 194
      },
      {
        "_id": "6db94b3d4d7493d7f5f48d7f6214b364",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/security_monitoring/configuration/notification_rules/ntc-9ny-wdj"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=utf-8",
            "size": 0
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=utf-8"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 145
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
