{
  "log": {
    "_recordingName": "App Builder/Update App returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "c782b1f31b03d50f8fcd12e51226c50c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"components\":[{\"events\":[],\"name\":\"grid0\",\"properties\":{\"backgroundColor\":\"default\",\"children\":[{\"events\":[],\"name\":\"gridCell0\",\"properties\":{\"children\":[{\"events\":[],\"name\":\"text0\",\"properties\":{\"content\":\"# Cat Facts\",\"contentType\":\"markdown\",\"isVisible\":true,\"textAlign\":\"left\",\"verticalAlign\":\"top\"},\"type\":\"text\"}],\"isVisible\":\"true\",\"layout\":{\"default\":{\"height\":5,\"width\":4,\"x\":0,\"y\":0}}},\"type\":\"gridCell\"},{\"events\":[],\"name\":\"gridCell2\",\"properties\":{\"children\":[{\"events\":[],\"name\":\"table0\",\"properties\":{\"columns\":[{\"dataPath\":\"fact\",\"header\":\"fact\",\"id\":\"0ae2ae9e-0280-4389-83c6-1c5949f7e674\",\"isHidden\":false},{\"dataPath\":\"length\",\"header\":\"length\",\"id\":\"c9048611-0196-4a00-9366-1ef9e3ec0408\",\"isHidden\":true},{\"dataPath\":\"Due Date\",\"disableSortBy\":false,\"formatter\":{\"format\":\"LARGE_WITHOUT_TIME\",\"type\":\"formatted_time\"},\"header\":\"Unused Old Column\",\"id\":\"8fa9284b-7a58-4f13-9959-57b7d8a7fe8f\",\"isDeleted\":true}],\"data\":\"${fetchFacts?.outputs?.body?.data}\",\"globalFilter\":false,\"isLoading\":\"${fetchFacts?.isLoading}\",\"isScrollable\":\"vertical\",\"isSubRowsEnabled\":false,\"isVisible\":true,\"isWrappable\":false,\"pageSize\":\"${pageSize?.value}\",\"paginationType\":\"server_side\",\"rowButtons\":[],\"summary\":true,\"totalCount\":\"${fetchFacts?.outputs?.body?.total}\"},\"type\":\"table\"}],\"isVisible\":\"true\",\"layout\":{\"default\":{\"height\":96,\"width\":12,\"x\":0,\"y\":5}}},\"type\":\"gridCell\"},{\"events\":[],\"name\":\"gridCell1\",\"properties\":{\"children\":[{\"events\":[],\"name\":\"text1\",\"properties\":{\"content\":\"## Random Fact\\n\\n${randomFact?.outputs?.fact}\",\"contentType\":\"markdown\",\"isVisible\":true,\"textAlign\":\"left\",\"verticalAlign\":\"top\"},\"type\":\"text\"}],\"isVisible\":\"true\",\"layout\":{\"default\":{\"height\":16,\"width\":12,\"x\":0,\"y\":101}}},\"type\":\"gridCell\"},{\"events\":[],\"name\":\"gridCell3\",\"properties\":{\"children\":[{\"events\":[{\"name\":\"click\",\"type\":\"setStateVariableValue\",\"value\":\"${pageSize?.value + 1}\",\"variableName\":\"pageSize\"}],\"name\":\"button0\",\"properties\":{\"iconLeft\":\"angleUp\",\"iconRight\":\"\",\"isBorderless\":false,\"isDisabled\":false,\"isLoading\":false,\"isPrimary\":true,\"isVisible\":true,\"label\":\"Increase Page Size\",\"level\":\"default\"},\"type\":\"button\"}],\"isVisible\":\"true\",\"layout\":{\"default\":{\"height\":4,\"width\":2,\"x\":10,\"y\":134}}},\"type\":\"gridCell\"},{\"events\":[],\"name\":\"gridCell4\",\"properties\":{\"children\":[{\"events\":[{\"name\":\"click\",\"type\":\"setStateVariableValue\",\"value\":\"${pageSize?.value - 1}\",\"variableName\":\"pageSize\"}],\"name\":\"button1\",\"properties\":{\"iconLeft\":\"angleDown\",\"iconRight\":\"\",\"isBorderless\":false,\"isDisabled\":false,\"isLoading\":false,\"isPrimary\":true,\"isVisible\":true,\"label\":\"Decrease Page Size\",\"level\":\"default\"},\"type\":\"button\"}],\"isVisible\":\"true\",\"layout\":{\"default\":{\"height\":4,\"width\":2,\"x\":10,\"y\":138}}},\"type\":\"gridCell\"}]},\"type\":\"grid\"}],\"description\":\"This is a slightly complicated example app that fetches and displays cat facts\",\"name\":\"Example Cat Facts Viewer\",\"queries\":[{\"events\":[],\"id\":\"92ff0bb8-553b-4f31-87c7-ef5bd16d47d5\",\"name\":\"fetchFacts\",\"properties\":{\"spec\":{\"connectionId\":\"5e63f4a8-4ce6-47de-ba11-f6617c1d54f3\",\"fqn\":\"com.datadoghq.http.request\",\"inputs\":{\"url\":\"https://catfact.ninja/facts\",\"urlParams\":[{\"key\":\"limit\",\"value\":\"${pageSize.value.toString()}\"},{\"key\":\"page\",\"value\":\"${(table0.pageIndex + 1).toString()}\"}],\"verb\":\"GET\"}}},\"type\":\"action\"},{\"id\":\"afd03c81-4075-4432-8618-ba09d52d2f2d\",\"name\":\"pageSize\",\"properties\":{\"defaultValue\":\"${20}\"},\"type\":\"stateVariable\"},{\"id\":\"0fb22859-47dc-4137-9e41-7b67d04c525c\",\"name\":\"randomFact\",\"properties\":{\"outputs\":\"${(() => {const facts = fetchFacts.outputs.body.data\\nreturn facts[Math.floor(Math.random()*facts.length)]\\n})()}\"},\"type\":\"dataTransform\"}],\"rootInstanceName\":\"grid0\"},\"type\":\"appDefinitions\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/app-builder/apps"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 78,
            "text": "{\"data\":{\"id\":\"28f5b1d6-f416-46b5-8cc4-94ae094c97f4\",\"type\":\"appDefinitions\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 233
      },
      {
        "_id": "93712cc0699609afe649eedffa40b444",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"rootInstanceName\":\"\"},\"id\":\"28f5b1d6-f416-46b5-8cc4-94ae094c97f4\",\"type\":\"appDefinitions\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/app-builder/apps/28f5b1d6-f416-46b5-8cc4-94ae094c97f4"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 104,
            "text": "{\"errors\":[{\"title\":\"missing required field\",\"source\":{\"pointer\":\"/data/attributes/rootInstanceName\"}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 84
      },
      {
        "_id": "c0a80953a649b9db3e5e617ff1262830",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/app-builder/apps/28f5b1d6-f416-46b5-8cc4-94ae094c97f4"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 78,
            "text": "{\"data\":{\"id\":\"28f5b1d6-f416-46b5-8cc4-94ae094c97f4\",\"type\":\"appDefinitions\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 169
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
