{
  "log": {
    "_recordingName": "Data Deletion/Cancels a data deletion request returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "cb80b30419790613e957ee220c628fe0",
        "request": {
          "headers": [
          ],
          "method": "PUT",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/deletion/requests/id-1/cancel"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 128,
            "text": "{\"errors\":[{\"status\":\"400\",\"title\":\"Invalid Parameter\",\"detail\":\"invalid parameter \\\"id\\\" in \\\"path\\\"; expected type \\\"int\\\"\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 482
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
