{
  "log": {
    "_recordingName": "Security Monitoring/Test a rule returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "9e16bb521b2b35d5bb1c45bf6d266af0",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"rule\":{\"cases\":[{\"condition\":\"a > 0\",\"name\":\"\",\"notifications\":[],\"status\":\"info\"}],\"hasExtendedTitle\":true,\"isEnabled\":true,\"message\":\"My security monitoring rule message.\",\"name\":\"My security monitoring rule.\",\"options\":{\"decreaseCriticalityBasedOnEnv\":false,\"detectionMethod\":\"threshold\",\"evaluationWindow\":0,\"keepAlive\":0,\"maxSignalDuration\":0},\"queries\":[{\"aggregation\":\"count\",\"distinctFields\":[],\"groupByFields\":[\"@userIdentity.assumed_role\"],\"name\":\"\",\"query\":\"source:source_here\"}],\"tags\":[\"env:prod\",\"team:security\"],\"type\":\"log_detection\"},\"ruleQueryPayloads\":[{\"expectedResult\":true,\"index\":0,\"payload\":{\"ddsource\":\"source_here\",\"ddtags\":\"env:staging,version:5.1\",\"hostname\":\"i-012345678\",\"message\":\"2019-11-19T14:37:58,995 INFO [process.name][20081] Hello World\",\"service\":\"payment\",\"userIdentity\":{\"assumed_role\":\"fake assumed_role\"}}}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/security_monitoring/rules/test"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 19,
            "text": "{\"results\":[true]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 544
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
