{
  "log": {
    "_recordingName": "Synthetics/Get an API test result returns result with failure object",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "d37b8c2bedc07d386dd4cc7a1864476b",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"config\":{\"assertions\":[{\"operator\":\"lessThan\",\"target\":1000,\"type\":\"responseTime\"}],\"request\":{\"method\":\"GET\",\"url\":\"https://app.datadfoghq.com\"}},\"locations\":[\"aws:eu-west-3\"],\"message\":\"Testing wrong DNS error\",\"name\":\"Test-Get_an_API_test_result_returns_result_with_failure_object-1644495858\",\"options\":{\"min_failure_duration\":0,\"min_location_failed\":1,\"monitor_options\":{\"renotify_interval\":0},\"tick_every\":86400},\"subtype\":\"http\",\"tags\":[],\"type\":\"api\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/synthetics/tests/api"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 755,
            "text": "{\"status\":\"live\",\"public_id\":\"ive-g7h-dgu\",\"tags\":[],\"org_id\":321813,\"locations\":[\"aws:eu-west-3\"],\"message\":\"Testing wrong DNS error\",\"deleted_at\":null,\"name\":\"Test-Get_an_API_test_result_returns_result_with_failure_object-1644495858\",\"monitor_id\":63812392,\"type\":\"api\",\"created_at\":\"2022-02-10T12:24:19.316262+00:00\",\"modified_at\":\"2022-02-10T12:24:19.316262+00:00\",\"subtype\":\"http\",\"config\":{\"request\":{\"url\":\"https://app.datadfoghq.com\",\"method\":\"GET\"},\"assertions\":[{\"operator\":\"lessThan\",\"type\":\"responseTime\",\"target\":1000}]},\"options\":{\"monitor_options\":{\"notify_audit\":false,\"locked\":false,\"include_tags\":true,\"new_host_delay\":300,\"notify_no_data\":false,\"renotify_interval\":0},\"tick_every\":86400,\"min_failure_duration\":0,\"min_location_failed\":1}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 598
      },
      {
        "_id": "e9c42b0a82bf6bdc178d77a78873f77b",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"tests\":[{\"public_id\":\"ive-g7h-dgu\"}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/synthetics/tests/trigger"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 276,
            "text": "{\"batch_id\":null,\"results\":[{\"result_id\":\"990211588540730529\",\"public_id\":\"ive-g7h-dgu\",\"location\":32153}],\"triggered_check_ids\":[\"ive-g7h-dgu\"],\"locations\":[{\"display_name\":\"Paris (AWS)\",\"name\":\"aws:eu-west-3\",\"region\":\"Europe\",\"is_active\":true,\"is_public\":true,\"id\":32153}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 454
      },
      {
        "_id": "b28b3dec20ef0ef66118e1e2ebdff188",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/synthetics/tests/ive-g7h-dgu/results/990211588540730529"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 802,
            "text": "{\"status\":1,\"run_type\":3,\"check_time\":1644495859933,\"check_version\":1,\"result\":{\"subtype\":\"http\",\"eventType\":\"finished\",\"timings\":{\"total\":45.8,\"dns\":14.5},\"failure\":{\"message\":\"Error during DNS resolution of hostname app.datadfoghq.com (ENOTFOUND).\",\"code\":\"DNS\"},\"mainDC\":\"us1.prod\",\"passed\":false,\"error\":\"Error during DNS resolution (ENOTFOUND).\",\"runType\":3,\"enrichment\":{}},\"probe_dc\":\"aws:eu-west-3\",\"result_id\":\"990211588540730529\",\"check\":{\"type\":\"api\",\"config\":{\"request\":{\"url\":\"https://app.datadfoghq.com\",\"method\":\"GET\"},\"assertions\":[{\"operator\":\"lessThan\",\"type\":\"responseTime\",\"target\":1000}]},\"options\":{\"monitor_options\":{\"notify_audit\":false,\"locked\":false,\"include_tags\":true,\"new_host_delay\":300,\"notify_no_data\":false,\"renotify_interval\":0},\"tick_every\":86400,\"min_failure_duration\":0,\"min_location_failed\":1}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 756
      },
      {
        "_id": "7a3e0d8d78ace0c18fd3e83adac713a6",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"public_ids\":[\"ive-g7h-dgu\"]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/synthetics/tests/delete"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 95,
            "text": "{\"deleted_tests\":[{\"deleted_at\":\"2022-02-10T12:24:21.045390+00:00\",\"public_id\":\"ive-g7h-dgu\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 521
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
