{
  "log": {
    "_recordingName": "Status Pages/Get component returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "98646d4f4c480543705372a3834c0f38",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"components\":[{\"components\":[{\"name\":\"Login\",\"position\":0,\"type\":\"component\"},{\"name\":\"Settings\",\"position\":1,\"type\":\"component\"}],\"name\":\"Application\",\"type\":\"group\"}],\"domain_prefix\":\"06de602b320cfdb0\",\"enabled\":true,\"name\":\"A Status Page\",\"type\":\"internal\",\"visualization_type\":\"bars_and_uptime_percentage\"},\"type\":\"status_pages\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/statuspages"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 1116,
            "text": "{\"data\":{\"id\":\"70f5256d-c03f-45e1-8057-bc036d4793eb\",\"type\":\"status_pages\",\"attributes\":{\"company_logo\":null,\"components\":[{\"id\":\"7a270e4e-a064-44d0-bf07-326cf1f51cad\",\"name\":\"Application\",\"type\":\"group\",\"position\":0,\"components\":[{\"id\":\"3a6c227c-52ea-4ed1-849c-4b4c1179881a\",\"name\":\"Login\",\"type\":\"component\",\"status\":\"operational\",\"position\":0},{\"id\":\"dff9c5c3-0b49-4f04-b801-83cdec88432a\",\"name\":\"Settings\",\"type\":\"component\",\"status\":\"operational\",\"position\":1}]}],\"created_at\":\"2026-01-21T21:23:43.257592Z\",\"custom_domain\":null,\"custom_domain_enabled\":false,\"domain_prefix\":\"06de602b320cfdb0\",\"email_header_image\":null,\"enabled\":true,\"favicon\":null,\"modified_at\":\"2026-01-21T21:23:43.257592Z\",\"name\":\"A Status Page\",\"page_url\":\"https://frog.datadoghq.com/status-pages/70f5256d-c03f-45e1-8057-bc036d4793eb/view\",\"subscriptions_enabled\":false,\"type\":\"internal\",\"visualization_type\":\"bars_and_uptime_percentage\"},\"relationships\":{\"created_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}},\"last_modified_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 479
      },
      {
        "_id": "8b65bb205a2b850833c4f3528253c0ad",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/statuspages/70f5256d-c03f-45e1-8057-bc036d4793eb/components/7a270e4e-a064-44d0-bf07-326cf1f51cad"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 788,
            "text": "{\"data\":{\"id\":\"7a270e4e-a064-44d0-bf07-326cf1f51cad\",\"type\":\"components\",\"attributes\":{\"components\":[{\"id\":\"3a6c227c-52ea-4ed1-849c-4b4c1179881a\",\"name\":\"Login\",\"type\":\"component\",\"status\":\"operational\",\"position\":0},{\"id\":\"dff9c5c3-0b49-4f04-b801-83cdec88432a\",\"name\":\"Settings\",\"type\":\"component\",\"status\":\"operational\",\"position\":1}],\"created_at\":\"2026-01-21T21:23:43.257592Z\",\"modified_at\":\"2026-01-21T21:23:43.257592Z\",\"name\":\"Application\",\"position\":0,\"type\":\"group\"},\"relationships\":{\"created_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}},\"group\":{\"data\":null},\"last_modified_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}},\"status_page\":{\"data\":{\"id\":\"70f5256d-c03f-45e1-8057-bc036d4793eb\",\"type\":\"status_pages\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 89
      },
      {
        "_id": "a75956561349f10f8256dfa948dd5a7e",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/statuspages/70f5256d-c03f-45e1-8057-bc036d4793eb"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 541
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
