{
  "log": {
    "_recordingName": "Status Pages/Get component returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "288212874d73e1b7c8944e7e58b0e061",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"components\":[{\"components\":[{\"name\":\"Login\",\"position\":0,\"type\":\"component\"},{\"name\":\"Settings\",\"position\":1,\"type\":\"component\"}],\"name\":\"Application\",\"type\":\"group\"}],\"domain_prefix\":\"3d45028fbe6feef3\",\"enabled\":true,\"name\":\"A Status Page\",\"type\":\"internal\",\"visualization_type\":\"bars_and_uptime_percentage\"},\"type\":\"status_pages\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/statuspages"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 1116,
            "text": "{\"data\":{\"id\":\"43888a42-0e4d-4180-ba7d-7c6f1ce381f1\",\"type\":\"status_pages\",\"attributes\":{\"company_logo\":null,\"components\":[{\"id\":\"65154ed0-293e-4d00-9535-07a6ca0bd66f\",\"name\":\"Application\",\"type\":\"group\",\"position\":0,\"components\":[{\"id\":\"8b2f14d2-f892-442a-9d7e-927d56e6839a\",\"name\":\"Login\",\"type\":\"component\",\"status\":\"operational\",\"position\":0},{\"id\":\"50fc27af-f71b-425c-8f50-b0050f71aa16\",\"name\":\"Settings\",\"type\":\"component\",\"status\":\"operational\",\"position\":1}]}],\"created_at\":\"2026-03-31T18:43:55.533175Z\",\"custom_domain\":null,\"custom_domain_enabled\":false,\"domain_prefix\":\"3d45028fbe6feef3\",\"email_header_image\":null,\"enabled\":true,\"favicon\":null,\"modified_at\":\"2026-03-31T18:43:55.533175Z\",\"name\":\"A Status Page\",\"page_url\":\"https://frog.datadoghq.com/status-pages/43888a42-0e4d-4180-ba7d-7c6f1ce381f1/view\",\"subscriptions_enabled\":false,\"type\":\"internal\",\"visualization_type\":\"bars_and_uptime_percentage\"},\"relationships\":{\"created_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}},\"last_modified_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 646
      },
      {
        "_id": "eb26735826c13dedbc34b8254833a367",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/statuspages/43888a42-0e4d-4180-ba7d-7c6f1ce381f1/components/65154ed0-293e-4d00-9535-07a6ca0bd66f"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 788,
            "text": "{\"data\":{\"id\":\"65154ed0-293e-4d00-9535-07a6ca0bd66f\",\"type\":\"components\",\"attributes\":{\"components\":[{\"id\":\"8b2f14d2-f892-442a-9d7e-927d56e6839a\",\"name\":\"Login\",\"type\":\"component\",\"status\":\"operational\",\"position\":0},{\"id\":\"50fc27af-f71b-425c-8f50-b0050f71aa16\",\"name\":\"Settings\",\"type\":\"component\",\"status\":\"operational\",\"position\":1}],\"created_at\":\"2026-03-31T18:43:55.533175Z\",\"modified_at\":\"2026-03-31T18:43:55.533175Z\",\"name\":\"Application\",\"position\":0,\"type\":\"group\"},\"relationships\":{\"created_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}},\"group\":{\"data\":null},\"last_modified_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}},\"status_page\":{\"data\":{\"id\":\"43888a42-0e4d-4180-ba7d-7c6f1ce381f1\",\"type\":\"status_pages\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 124
      },
      {
        "_id": "0a11dc94feaf51006cd0727592adf372",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/statuspages/43888a42-0e4d-4180-ba7d-7c6f1ce381f1"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 551
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
