{
  "log": {
    "_recordingName": "Status Pages/Get component returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "03ea2a9f8de84aaece3fa730a1b30897",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"components\":[{\"name\":\"ed737517f4e860cd\",\"type\":\"component\"}],\"domain_prefix\":\"dd-integration-test-ed737517f4e860cd\",\"enabled\":true,\"name\":\"[DD Integration Test] ed737517f4e860cd\",\"type\":\"internal\",\"visualization_type\":\"bars_and_uptime_percentage\"},\"type\":\"status_pages\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/statuspages"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 943,
            "text": "{\"data\":{\"id\":\"4cc96686-1cdb-47d0-b35c-e2b9ace295f3\",\"type\":\"status_pages\",\"attributes\":{\"company_logo\":null,\"components\":[{\"id\":\"aa8d8d69-6d80-41c2-a1c5-5c290a4e1e12\",\"name\":\"ed737517f4e860cd\",\"type\":\"component\",\"status\":\"operational\",\"position\":0}],\"created_at\":\"2026-01-07T22:14:11.046776Z\",\"custom_domain\":null,\"custom_domain_enabled\":false,\"domain_prefix\":\"dd-integration-test-ed737517f4e860cd\",\"email_header_image\":null,\"enabled\":true,\"favicon\":null,\"modified_at\":\"2026-01-07T22:14:11.046776Z\",\"name\":\"[DD Integration Test] ed737517f4e860cd\",\"page_url\":\"https://frog.datadoghq.com/status-pages/4cc96686-1cdb-47d0-b35c-e2b9ace295f3/view\",\"subscriptions_enabled\":false,\"type\":\"internal\",\"visualization_type\":\"bars_and_uptime_percentage\"},\"relationships\":{\"created_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}},\"last_modified_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 451
      },
      {
        "_id": "fbe67968d2b0fa0e3df90435fda684bb",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/statuspages/4cc96686-1cdb-47d0-b35c-e2b9ace295f3/components/aa8d8d69-6d80-41c2-a1c5-5c290a4e1e12"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 570,
            "text": "{\"data\":{\"id\":\"aa8d8d69-6d80-41c2-a1c5-5c290a4e1e12\",\"type\":\"components\",\"attributes\":{\"created_at\":\"2026-01-07T22:14:11.046776Z\",\"modified_at\":\"2026-01-07T22:14:11.046776Z\",\"name\":\"ed737517f4e860cd\",\"position\":0,\"status\":\"operational\",\"type\":\"component\"},\"relationships\":{\"created_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}},\"group\":{\"data\":null},\"last_modified_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}},\"status_page\":{\"data\":{\"id\":\"4cc96686-1cdb-47d0-b35c-e2b9ace295f3\",\"type\":\"status_pages\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 111
      },
      {
        "_id": "1902db97269136174da9c366033b1b6c",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/statuspages/4cc96686-1cdb-47d0-b35c-e2b9ace295f3"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 61,
            "text": "{\"errors\":[{\"status\":\"500\",\"title\":\"Internal Server Error\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 500,
          "statusText": "Internal Server Error"
        },
        "time": 458
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
