{
  "log": {
    "_recordingName": "Status Pages/Get component returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "015f2c4676a0b089b591a6e65561c227",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"components\":[{\"components\":[{\"name\":\"Login\",\"position\":0,\"type\":\"component\"},{\"name\":\"Settings\",\"position\":1,\"type\":\"component\"}],\"name\":\"Application\",\"type\":\"group\"}],\"domain_prefix\":\"16dcaf5cdc284a4a\",\"enabled\":true,\"name\":\"A Status Page\",\"type\":\"internal\",\"visualization_type\":\"bars_and_uptime_percentage\"},\"type\":\"status_pages\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/statuspages"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 1116,
            "text": "{\"data\":{\"id\":\"b6c8b2cd-36bb-41aa-8f27-1fd891a0f961\",\"type\":\"status_pages\",\"attributes\":{\"company_logo\":null,\"components\":[{\"id\":\"1cea8878-7fc8-4397-babc-8c41d90aeaa7\",\"name\":\"Application\",\"type\":\"group\",\"position\":0,\"components\":[{\"id\":\"04bd30db-9a97-4088-8f16-694b87389cbb\",\"name\":\"Login\",\"type\":\"component\",\"status\":\"operational\",\"position\":0},{\"id\":\"4c111b7d-1cef-4233-8041-a519567a86b8\",\"name\":\"Settings\",\"type\":\"component\",\"status\":\"operational\",\"position\":1}]}],\"created_at\":\"2026-02-24T17:00:49.120106Z\",\"custom_domain\":null,\"custom_domain_enabled\":false,\"domain_prefix\":\"16dcaf5cdc284a4a\",\"email_header_image\":null,\"enabled\":true,\"favicon\":null,\"modified_at\":\"2026-02-24T17:00:49.120106Z\",\"name\":\"A Status Page\",\"page_url\":\"https://frog.datadoghq.com/status-pages/b6c8b2cd-36bb-41aa-8f27-1fd891a0f961/view\",\"subscriptions_enabled\":false,\"type\":\"internal\",\"visualization_type\":\"bars_and_uptime_percentage\"},\"relationships\":{\"created_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}},\"last_modified_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 627
      },
      {
        "_id": "5cd25ddf0dbc2add60f1c235108656e1",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/statuspages/b6c8b2cd-36bb-41aa-8f27-1fd891a0f961/components/1cea8878-7fc8-4397-babc-8c41d90aeaa7"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 788,
            "text": "{\"data\":{\"id\":\"1cea8878-7fc8-4397-babc-8c41d90aeaa7\",\"type\":\"components\",\"attributes\":{\"components\":[{\"id\":\"04bd30db-9a97-4088-8f16-694b87389cbb\",\"name\":\"Login\",\"type\":\"component\",\"status\":\"operational\",\"position\":0},{\"id\":\"4c111b7d-1cef-4233-8041-a519567a86b8\",\"name\":\"Settings\",\"type\":\"component\",\"status\":\"operational\",\"position\":1}],\"created_at\":\"2026-02-24T17:00:49.120106Z\",\"modified_at\":\"2026-02-24T17:00:49.120106Z\",\"name\":\"Application\",\"position\":0,\"type\":\"group\"},\"relationships\":{\"created_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}},\"group\":{\"data\":null},\"last_modified_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}},\"status_page\":{\"data\":{\"id\":\"b6c8b2cd-36bb-41aa-8f27-1fd891a0f961\",\"type\":\"status_pages\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 137
      },
      {
        "_id": "98cfafe44d99a353a189e4d03ceb8373",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/statuspages/b6c8b2cd-36bb-41aa-8f27-1fd891a0f961"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 626
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
