{
  "log": {
    "_recordingName": "Status Pages/Get component returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "6aaf5a16482e67819b1c24beb53e2168",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"components\":[{\"name\":\"b431563880c76af5\",\"type\":\"component\"}],\"domain_prefix\":\"dd-integration-tests-b431563880c76af5\",\"enabled\":true,\"name\":\"[DD Integration Tests] b431563880c76af5\",\"type\":\"internal\",\"visualization_type\":\"bars_and_uptime_percentage\"},\"type\":\"status_pages\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/statuspages"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 945,
            "text": "{\"data\":{\"id\":\"6bcd6526-f434-400b-a122-5a85d756ac05\",\"type\":\"status_pages\",\"attributes\":{\"company_logo\":null,\"components\":[{\"id\":\"dd4873ec-14bf-4d53-a6e7-dcbadb247cbc\",\"name\":\"b431563880c76af5\",\"type\":\"component\",\"status\":\"operational\",\"position\":0}],\"created_at\":\"2026-01-09T15:10:36.900813Z\",\"custom_domain\":null,\"custom_domain_enabled\":false,\"domain_prefix\":\"dd-integration-tests-b431563880c76af5\",\"email_header_image\":null,\"enabled\":true,\"favicon\":null,\"modified_at\":\"2026-01-09T15:10:36.900813Z\",\"name\":\"[DD Integration Tests] b431563880c76af5\",\"page_url\":\"https://frog.datadoghq.com/status-pages/6bcd6526-f434-400b-a122-5a85d756ac05/view\",\"subscriptions_enabled\":false,\"type\":\"internal\",\"visualization_type\":\"bars_and_uptime_percentage\"},\"relationships\":{\"created_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}},\"last_modified_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 594
      },
      {
        "_id": "5f96dff606696115c74bb574ba733160",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/statuspages/6bcd6526-f434-400b-a122-5a85d756ac05/components/dd4873ec-14bf-4d53-a6e7-dcbadb247cbc"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 570,
            "text": "{\"data\":{\"id\":\"dd4873ec-14bf-4d53-a6e7-dcbadb247cbc\",\"type\":\"components\",\"attributes\":{\"created_at\":\"2026-01-09T15:10:36.900813Z\",\"modified_at\":\"2026-01-09T15:10:36.900813Z\",\"name\":\"b431563880c76af5\",\"position\":0,\"status\":\"operational\",\"type\":\"component\"},\"relationships\":{\"created_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}},\"group\":{\"data\":null},\"last_modified_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}},\"status_page\":{\"data\":{\"id\":\"6bcd6526-f434-400b-a122-5a85d756ac05\",\"type\":\"status_pages\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 106
      },
      {
        "_id": "7e179ee911a4d7d14af866ec96d49de7",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/statuspages/6bcd6526-f434-400b-a122-5a85d756ac05"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 443
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
