{
  "log": {
    "_recordingName": "Organizations/Update a specific Org Config returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "e34ec2540d1d54e2b3bb016455ee6749",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"value\":\"UTC\"},\"type\":\"org_configs\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/org_configs/monitor_timezone"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 262,
            "text": "{\"data\":{\"type\":\"org_configs\",\"id\":\"54efd4ec-bb21-5e8a-9cb8-712e18f8b6b7\",\"attributes\":{\"name\":\"monitor_timezone\",\"description\":\"Sets the time zone used for monitoring alerts\",\"value_type\":\"enum\",\"value\":\"UTC\",\"modified_at\":\"2024-06-12T14:43:55.693935+00:00\"}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 333
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
