{
  "log": {
    "_recordingName": "Security Monitoring/Modify the triage assignee of a security signal returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "cb8d46e0d4dcd84cffb8b79f1338e4e1",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"assignee\":\"773b045d-ccf8-4808-bd3b-955ef6a8c940\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/security_analytics/signals/AQAAAYDiB_Ol8PbzFAAAAABBWURpQl9PbEFBQU0yeXhGTG9ZV2JnQUE/assignee"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 108078,
            "text": "{\"status\":\"done\",\"elapsed\":4,\"hitCount\":1,\"type\":\"status\",\"requestId\":\"pddv1ChZSZEFGOVVCR1NEMmk4V2xsUnlsLVdBIiwKHO4N7zMgBuJVPFh9vBniHGgyfw7UoOk5ULtgX2cSDMZkxtW2dY1nP5am-Q\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 975
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
