{
  "log": {
    "_recordingName": "Roles/Update a role returns \"Bad Role ID\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "4bb56a6dad0112aabd9dcf8114b6017f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Update_a_role_returns_Bad_Role_ID_response-1641829882\"},\"type\":\"roles\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/roles"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 694,
            "text": "{\"data\":{\"type\":\"roles\",\"id\":\"2935825a-722d-11ec-b5d7-da7ad0900002\",\"attributes\":{\"name\":\"Test-Update_a_role_returns_Bad_Role_ID_response-1641829882\",\"created_at\":\"2022-01-10T15:51:23.210664+00:00\",\"modified_at\":\"2022-01-10T15:51:23.273442+00:00\"},\"relationships\":{\"permissions\":{\"data\":[{\"type\":\"permissions\",\"id\":\"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2\"},{\"type\":\"permissions\",\"id\":\"4441648c-d8b1-11e9-a77a-1b899a04b304\"},{\"type\":\"permissions\",\"id\":\"417ba636-2dce-11eb-84c0-6bce5b0d9de0\"},{\"type\":\"permissions\",\"id\":\"12efc20e-d36c-11eb-a9b8-da7ad0900002\"},{\"type\":\"permissions\",\"id\":\"97971c1c-e895-11eb-b13c-da7ad0900002\"},{\"type\":\"permissions\",\"id\":\"7605ef24-f376-11eb-b90b-da7ad0900002\"}]}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 435
      },
      {
        "_id": "231e0a2a005122e865d25c2bf86b0a10",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Update_a_role_returns_Bad_Role_ID_response-1641829882-updated\"},\"id\":\"00000000-dead-beef-dead-ffffffffffff\",\"type\":\"roles\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/roles/2935825a-722d-11ec-b5d7-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 90,
            "text": "{\"errors\": [\"The id attribute in the request body does not match the role_id in the URL\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 422,
          "statusText": "Unprocessable Entity"
        },
        "time": 353
      },
      {
        "_id": "69646c9c20dd715800a75ab05c7225c0",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/roles/2935825a-722d-11ec-b5d7-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 385
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
