{
  "log": {
    "_recordingName": "Cloud Cost Management/List Cloud Cost Management GCP Usage Cost configs returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "95ae0db6cd9191b09f1a0075a418f650",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/cost/gcp_uc_config"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 499,
            "text": "{\"data\":[{\"id\":\"3242\",\"type\":\"gcp_uc_config\",\"attributes\":{\"account_id\":\"012345_ABCDEF_012345\",\"bucket_name\":\"test_bucket_name\",\"created_at\":\"2024-04-29T13:10:37.516579\",\"dataset\":\"testing\",\"error_messages\":null,\"export_prefix\":\"datadog_cloud_cost_detailed_usage_export\",\"export_project_name\":\"datadog-cloud-cost-management\",\"months\":15,\"project_id\":\"\",\"service_account\":\"test@test.com\",\"status\":\"active\",\"status_updated_at\":\"2025-05-05T17:16:47.945325\",\"updated_at\":\"2024-04-29T13:10:37.516579\"}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 97
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
