{
  "log": {
    "_recordingName": "Cloud Network Monitoring/Get all aggregated connections returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "7d2e124612863aeb3175ac7aac0c7e6c",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "6000"
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/network/connections/aggregate?limit=6000"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 53,
            "text": "{\"errors\":[{\"status\":\"400\",\"title\":\"Invalid limit\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 44
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
