{
  "log": {
    "_recordingName": "Cloud Network Monitoring/Get all aggregated connections returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "b9f76d5f0d4417dee8e4e808d43efbd7",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "8000"
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/network/connections/aggregate?limit=8000"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 167,
            "text": "{\"errors\":[{\"status\":\"400\",\"title\":\"Invalid limit\",\"detail\":\"Limit must meet requirements listed in https://docs.datadoghq.com/api/latest/cloud-network-monitoring/\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 122
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
