{
  "log": {
    "_recordingName": "OAuth2 Client Public/Get OAuth2 well-known sites returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "f113ff82c07057bf83d0e1a4fa8d6d0a",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/oauth2/.well-known/sites"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 217,
            "text": "{\"data\":{\"id\":\"prod\",\"type\":\"env\",\"attributes\":{\"sites\":[\"app.datadoghq.com\",\"app.datadoghq.eu\",\"us5.datadoghq.com\",\"us3.datadoghq.com\",\"ap1.datadoghq.com\"]}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 100
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
