{
  "log": {
    "_recordingName": "Deployment Gates/Delete deployment gate returns \"Bad request (invalid).\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "bea4f12adb0b70a4125db34c8a4f9ff1",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/deployment_gates/not-a-valid-id"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 90,
            "text": "{\"errors\":[{\"status\":\"400\",\"title\":\"Bad Request\",\"detail\":\"attribute \\\"id\\\" Invalid id\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 135
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
