{
  "log": {
    "_recordingName": "Security Monitoring/Get notification rule by ID returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "11e8c35100eebe81d889aef62ae9e6ca",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"enabled\":true,\"name\":\"Test-Get_notification_rule_by_ID_returns_OK_response-1699997662\",\"selectors\":{\"attributes\":[\"fim:true\"],\"implicit_vm_rule_match\":false,\"rule_tags\":[\"fim:true\"],\"rule_types\":[\"log_detection\",\"cloud_configuration\"],\"severities\":[\"high\"],\"signal_tags\":[]},\"targets\":[\"test\"]},\"type\":\"notification_rules\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/security_monitoring/configuration/notification_rules"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 549,
            "text": "{\"data\":{\"id\":\"dml-zjl-z1h\",\"attributes\":{\"version\":1,\"name\":\"Test-Get_notification_rule_by_ID_returns_OK_response-1699997662\",\"targets\":[\"test\"],\"selectors\":{\"severities\":[\"high\"],\"rule_types\":[\"log_detection\",\"cloud_configuration\"],\"rule_tags\":[\"fim:true\"],\"signal_tags\":[],\"attributes\":[\"fim:true\"],\"implicit_vm_rule_match\":false},\"enabled\":true,\"creation_date\":1699997662686,\"update_date\":1699997662686,\"creator\":{\"name\":null,\"handle\":\"frog@datadoghq.com\"},\"updater\":{\"name\":null,\"handle\":\"frog@datadoghq.com\"}},\"type\":\"notification_rules\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 177
      },
      {
        "_id": "ee81d0139b8ecc9aef64d9cb7757ebd7",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/security_monitoring/configuration/notification_rules/dml-zjl-z1h"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 549,
            "text": "{\"data\":{\"id\":\"dml-zjl-z1h\",\"attributes\":{\[...]
