{
  "log": {
    "_recordingName": "Logs Custom Destinations/Delete a custom destination returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "0897bf8ebe803a624d696331335eb11c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"forwarderDestination\":{\"auth\":{\"password\":\"password\",\"type\":\"basic\",\"username\":\"username\"},\"endpoint\":\"https://example.org/my-intake\",\"type\":\"http\"},\"name\":\"destination-Test-Delete_a_custom_destination_returns_OK_response-1694511521\",\"version\":0},\"type\":\"custom_destination\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/config/custom_destinations"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 495,
            "text": "{\"data\":{\"id\":\"447075ef-0a39-47d5-bfa7-2d0787d27e70\",\"attributes\":{\"version\":0,\"name\":\"destination-Test-Delete_a_custom_destination_returns_OK_response-1694511521\",\"query\":\"\",\"enabled\":true,\"bufferMaxBytes\":5242880,\"bufferTimeoutSeconds\":60,\"maxRetryDurationSeconds\":300,\"compression\":\"GZIP\",\"forwarderDestination\":{\"type\":\"http\",\"endpoint\":\"https://example.org/my-intake\",\"auth\":{\"type\":\"basic\",\"username\":\"__REDACTED_SECRET__\",\"password\":\"__REDACTED_SECRET__\"}}},\"type\":\"custom_destination\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 427
      },
      {
        "_id": "ea287a8ac2fb7e1c21a37b70f0b66bfd",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/config/custom_destinations/447075ef-0a39-47d5-bfa7-2d0787d27e70"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 12,
            "text": "{\"meta\":{}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 497
      },
      {
        "_id": "ea287a8ac2fb7e1c21a37b70f0b66bfd",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/config/custom_destinations/447075ef-0a39-47d5-bfa7-2d0787d27e70"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 24,
            "text": "{\"errors\":[\"NotFound\"]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 504
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
