{
  "log": {
    "_recordingName": "Monitors/Get a monitor's details returns \"Monitor Not Found error\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "7cc7bf06598e4d45ccf79825149eebba",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/monitor/12345"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 110,
            "text": "[\"1f8b0800000000000003ab564a2d2aca2f2a56b2528856f2cdcfcb2cc92f52c8cb2f5148cb2fcd4b518aad0500757181c221000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "3000"
            },
            {
              "name": "x-ratelimit-period",
              "value": "10"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "6"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "2999"
            },
            {
              "name": "x-dd-version",
              "value": "35.4288583"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 402,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
