{
  "log": {
    "_recordingName": "Monitors/Get a monitor's details returns \"Monitor Not Found error\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "9d19a76b1e938b1823b1eaf27384b6c4",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/monitor/12345"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 108,
            "text": "[\"1f8b0800000000000003ab564a2d2aca2f2a56b28a56f2cdcfcb2cc92f52c8cb2f5148cb2fcd4b518aad0500bc1f4a0c20000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "3000"
            },
            {
              "name": "x-ratelimit-period",
              "value": "10"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "4"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "2999"
            },
            {
              "name": "x-dd-version",
              "value": "35.3933218"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 409,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
