{
  "log": {
    "_recordingName": "Monitors/Get a monitor's details returns \"Monitor Not Found error\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "7cc7bf06598e4d45ccf79825149eebba",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/monitor/12345"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 33,
            "text": "{\"errors\": [\"Monitor not found\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "3000"
            },
            {
              "name": "x-ratelimit-period",
              "value": "10"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "5"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "2999"
            },
            {
              "name": "x-dd-version",
              "value": "35.4318655"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 404,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
