{
  "log": {
    "_recordingName": "Dashboards/Create a new dashboard with servicemap widget",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "bc013d24dba9bde770f0f32fc3f13fbc",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"description\":\"\",\"layout_type\":\"free\",\"notify_list\":[],\"template_variables\":[],\"title\":\"Test-Create_a_new_dashboard_with_servicemap_widget-1731699172\",\"widgets\":[{\"definition\":{\"filters\":[\"env:none\",\"environment:*\"],\"service\":\"\",\"title\":\"\",\"title_align\":\"left\",\"title_size\":\"16\",\"type\":\"servicemap\"},\"layout\":{\"height\":15,\"width\":47,\"x\":0,\"y\":0}}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 674,
            "text": "{\"id\":\"npz-y6x-z4g\",\"title\":\"Test-Create_a_new_dashboard_with_servicemap_widget-1731699172\",\"description\":\"\",\"author_handle\":\"frog@datadoghq.com\",\"author_name\":null,\"layout_type\":\"free\",\"url\":\"/dashboard/npz-y6x-z4g/test-createanewdashboardwithservicemapwidget-1731699172\",\"is_read_only\":false,\"template_variables\":[],\"widgets\":[{\"definition\":{\"filters\":[\"env:none\",\"environment:*\"],\"service\":\"\",\"title\":\"\",\"title_align\":\"left\",\"title_size\":\"16\",\"type\":\"servicemap\"},\"layout\":{\"height\":15,\"width\":47,\"x\":0,\"y\":0},\"id\":4704608837901441}],\"notify_list\":[],\"created_at\":\"2024-11-15T19:32:52.841936+00:00\",\"modified_at\":\"2024-11-15T19:32:52.841936+00:00\",\"restricted_roles\":[]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 175
      },
      {
        "_id": "b9a8b1227ddf5b86b6d6c1873111642d",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/npz-y6x-z4g"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 39,
            "text": "{\"deleted_dashboard_id\":\"npz-y6x-z4g\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 176
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
