{
  "log": {
    "_recordingName": "Dashboards/Create a new dashboard with servicemap widget",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "a9c50f081667a43b3eb6047c622365b5",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"description\":\"\",\"is_read_only\":false,\"layout_type\":\"free\",\"notify_list\":[],\"template_variables\":[],\"title\":\"Test-Create_a_new_dashboard_with_servicemap_widget-1641430239\",\"widgets\":[{\"definition\":{\"filters\":[\"env:none\",\"environment:*\"],\"service\":\"\",\"title\":\"\",\"title_align\":\"left\",\"title_size\":\"16\",\"type\":\"servicemap\"},\"layout\":{\"height\":15,\"width\":47,\"x\":0,\"y\":0}}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 673,
            "text": "{\"notify_list\":[],\"description\":\"\",\"restricted_roles\":[],\"author_name\":null,\"template_variables\":[],\"is_read_only\":false,\"id\":\"9b3-emh-qe4\",\"title\":\"Test-Create_a_new_dashboard_with_servicemap_widget-1641430239\",\"url\":\"/dashboard/9b3-emh-qe4/test-createanewdashboardwithservicemapwidget-1641430239\",\"created_at\":\"2022-01-06T00:50:39.841716+00:00\",\"modified_at\":\"2022-01-06T00:50:39.841716+00:00\",\"author_handle\":\"frog@datadoghq.com\",\"widgets\":[{\"definition\":{\"title_size\":\"16\",\"service\":\"\",\"title\":\"\",\"title_align\":\"left\",\"filters\":[\"env:none\",\"environment:*\"],\"type\":\"servicemap\"},\"layout\":{\"y\":0,\"width\":47,\"x\":0,\"height\":15},\"id\":2823265998914096}],\"layout_type\":\"free\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 213
      },
      {
        "_id": "b2ba732277dfcea1e25ff56289aabbf3",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/9b3-emh-qe4"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 38,
            "text": "{\"deleted_dashboard_id\":\"9b3-emh-qe4\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 238
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
