{
  "log": {
    "_recordingName": "Synthetics/Create a Network Path test returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "3e9c7578282c3e74af19c5c1adf2db20",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"config\":{\"assertions\":[{\"operator\":\"lessThan\",\"property\":\"avg\",\"target\":500,\"type\":\"latency\"}],\"request\":{\"e2e_queries\":50,\"host\":\"example.com\",\"max_ttl\":30,\"port\":443,\"tcp_method\":\"prefer_sack\",\"traceroute_queries\":3}},\"locations\":[\"aws:us-east-1\",\"agent:my-agent-name\"],\"message\":\"Network Path test notification\",\"name\":\"Example Network Path test\",\"options\":{\"tick_every\":60},\"status\":\"live\",\"subtype\":\"tcp\",\"tags\":[\"env:production\"],\"type\":\"network\"},\"type\":\"network\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/synthetics/tests/network"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 547,
            "text": "{\"data\":{\"type\":\"network_test\",\"attributes\":{\"public_id\":\"iab-wcx-mhp\",\"name\":\"Example Network Path test\",\"locations\":[\"aws:us-east-1\",\"agent:my-agent-name\"],\"subtype\":\"tcp\",\"status\":\"live\",\"options\":{\"tick_every\":60},\"config\":{\"assertions\":[{\"operator\":\"lessThan\",\"property\":\"avg\",\"target\":500,\"type\":\"latency\"}],\"request\":{\"max_ttl\":30,\"tcp_method\":\"prefer_sack\",\"host\":\"example.com\",\"traceroute_queries\":3,\"e2e_queries\":50,\"port\":443}},\"type\":\"network\",\"tags\":[\"env:production\"],\"message\":\"Network Path test notification\"},\"id\":\"iab-wcx-mhp\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 625
      },
      {
        "_id": "6fa27e8bcfa119a5e9b9633b289465bd",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"public_ids\":[\"iab-wcx-mhp\"]},\"type\":\"delete_tests_request\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/synthetics/tests/bulk-delete"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 143,
            "text": "{\"data\":[{\"type\":\"delete_tests\",\"attributes\":{\"deleted_at\":\"2026-02-02T10:35:25.382918+00:00\",\"public_id\":\"iab-wcx-mhp\"},\"id\":\"iab-wcx-mhp\"}]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 609
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
