{
  "log": {
    "_recordingName": "Agentless Scanning/Get AWS On Demand tasks returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "7442c701c89ca74b3de96b4cff876178",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/agentless_scanning/ondemand/aws"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 1578,
            "text": "{\"data\":[{\"id\":\"32ee93e6-7433-4d86-9693-be88093efa77\",\"type\":\"aws_resource\",\"attributes\":{\"arn\":\"arn:aws:lambda:eu-west-3:376334461865:function:This-Is-An-Api-Spec-Test\",\"created_at\":\"2025-03-05T15:25:35.357991Z\",\"status\":\"QUEUED\"}},{\"id\":\"82b9e788-43d3-45da-a2a9-8f538436fed3\",\"type\":\"aws_resource\",\"attributes\":{\"arn\":\"arn:aws:lambda:eu-west-3:376334461865:function:This-Is-An-Api-Spec-Test\",\"created_at\":\"2025-03-05T15:15:23.375332Z\",\"status\":\"QUEUED\"}},{\"id\":\"63d6b4f5-e5d0-4d90-824a-9580f05f026a\",\"type\":\"aws_resource\",\"attributes\":{\"arn\":\"arn:aws:lambda:eu-west-3:376334461865:function:This-Is-An-Api-Spec-Test\",\"created_at\":\"2025-03-05T14:24:46.915915Z\",\"status\":\"QUEUED[...]
