{
  "log": {
    "_recordingName": "GCP Integration/Create a new entry for your service account with security command center enabled returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "b0cb41050d67e01fa0adb8d5b05a3a95",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"client_email\":\"bce3b7c65fce9a71@test-project.iam.gserviceaccount.com\",\"host_filters\":[],\"is_security_command_center_enabled\":true},\"type\":\"gcp_service_account\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integration/gcp/accounts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 325,
            "text": "{\"data\":{\"type\":\"gcp_service_account\",\"attributes\":{\"automute\":false,\"account_tags\":[],\"host_filters\":[],\"client_email\":\"bce3b7c65fce9a71@test-project.iam.gserviceaccount.com\",\"is_security_command_center_enabled\":true,\"resource_collection_enabled\":false,\"is_cspm_enabled\":false},\"id\":\"e72611ce-c7eb-4411-bc0e-04fa12a8cb6c\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 300
      },
      {
        "_id": "885878137dd5e03996c17c0566035a58",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integration/gcp/accounts/e72611ce-c7eb-4411-bc0e-04fa12a8cb6c"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=utf-8",
            "size": 0
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=utf-8"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 93
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
