{
  "log": {
    "_recordingName": "GCP Integration/Create a new entry for your service account with security command center enabled returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "779eee28e3b87163288182039949f5d2",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"client_email\":\"Test-d119bc7c8439bcb5@test-project.iam.gserviceaccount.com\",\"host_filters\":[],\"is_resource_change_collection_enabled\":true,\"is_security_command_center_enabled\":true},\"type\":\"gcp_service_account\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integration/gcp/accounts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 406,
            "text": "{\"data\":{\"type\":\"gcp_service_account\",\"attributes\":{\"client_email\":\"Test-d119bc7c8439bcb5@test-project.iam.gserviceaccount.com\",\"cloud_run_revision_filters\":[],\"host_filters\":[],\"automute\":false,\"resource_collection_enabled\":true,\"account_tags\":[],\"is_security_command_center_enabled\":true,\"is_resource_change_collection_enabled\":true,\"is_cspm_enabled\":false},\"id\":\"abdfa7a0-64b7-437d-99fe-13f56bbbfb15\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 797
      },
      {
        "_id": "94ab4ea2f03e89c35a84f9f0d7cce950",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integration/gcp/accounts/abdfa7a0-64b7-437d-99fe-13f56bbbfb15"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=utf-8",
            "size": 0
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=utf-8"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 146
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
