{
  "log": {
    "_recordingName": "GCP Integration/Create a new entry for your service account with security command center enabled returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "76bb956ebb016f2722e74c4c9c29f070",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"client_email\":\"Test-48d87b38c858a0ef@test-project.iam.gserviceaccount.com\",\"host_filters\":[],\"is_security_command_center_enabled\":true},\"type\":\"gcp_service_account\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integration/gcp/accounts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 362,
            "text": "{\"data\":{\"type\":\"gcp_service_account\",\"attributes\":{\"host_filters\":[],\"is_cspm_enabled\":false,\"resource_collection_enabled\":false,\"cloud_run_revision_filters\":[],\"client_email\":\"Test-48d87b38c858a0ef@test-project.iam.gserviceaccount.com\",\"account_tags\":[],\"is_security_command_center_enabled\":true,\"automute\":false},\"id\":\"0edb7a57-bd74-49da-ba0c-77d3cc756950\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 422
      },
      {
        "_id": "81fb43285440bc643f6a3b20f6197cd9",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integration/gcp/accounts/0edb7a57-bd74-49da-ba0c-77d3cc756950"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=utf-8",
            "size": 0
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=utf-8"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 145
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
