{
  "log": {
    "_recordingName": "RUM/Create a new RUM application with Product Scales returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "8985cfdea52182e0075eb82e0a29194f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"test-rum-with-product-scales-b91c7f54876a951d\",\"product_analytics_retention_state\":\"NONE\",\"rum_event_processing_state\":\"ERROR_FOCUSED_MODE\",\"type\":\"browser\"},\"type\":\"rum_application_create\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/rum/applications"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 742,
            "text": "{\"data\":{\"type\":\"rum_application\",\"id\":\"51419fd9-a73f-4508-9f74-ad07d6669a47\",\"attributes\":{\"hash\":\"pub6c464316cf5deccd2f56a23dbacd996e\",\"type\":\"browser\",\"org_id\":321813,\"updated_at\":1755612113258,\"name\":\"test-rum-with-product-scales-b91c7f54876a951d\",\"product_scales\":{\"product_analytics_retention_scale\":{\"state\":\"NONE\",\"last_modified_at\":1755612113258},\"rum_event_processing_scale\":{\"state\":\"ERROR_FOCUSED_MODE\",\"last_modified_at\":1755612113258}},\"created_at\":1755612113258,\"tags\":[],\"is_active\":false,\"updated_by_handle\":\"frog@datadoghq.com\",\"client_token\":\"pub6c464316cf5deccd2f56a23dbacd996e\",\"created_by_handle\":\"frog@datadoghq.com\",\"application_id\":\"51419fd9-a73f-4508-9f74-ad07d6669a47\",\"product_analytics_replay_sample_rate\":100}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 480
      },
      {
        "_id": "abd645124f297a4c7af9c283c4e567c7",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/rum/applications/51419fd9-a73f-4508-9f74-ad07d6669a47"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 302
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
