{
  "log": {
    "_recordingName": "Service Accounts/Create an application key with scopes for this service account returns \"Created\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "32a53c51a0f3007044bbcbdd64782593",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Create_an_application_key_with_scopes_for_this_service_account_returns_Created_response-1640128022@datadoghq.com\",\"service_account\":true,\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/service_accounts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 694,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"5e46a8d1-55b7-42f8-87cd-332e062afe0f\",\"attributes\":{\"name\":null,\"handle\":\"5e46a8d1-55b7-42f8-87cd-332e062afe0f\",\"created_at\":\"2021-12-21T23:07:02.927766+00:00\",\"modified_at\":\"2021-12-21T23:07:02.959780+00:00\",\"email\":\"test-create_an_application_key_with_scopes_for_this_service_account_returns_created_response-1640128022@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/52cf30633ac8b6f747ffc8f929fdac1d?s=48&d=retro\",\"title\":\"user title\",\"verified\":true,\"service_account\":true,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Active\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 432
      },
      {
        "_id": "aef9a227eb7072b1b6e5486515f8f0c6",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Create_an_application_key_with_scopes_for_this_service_account_returns_Created_response-1640128022\",\"scopes\":[\"dashboards_read\",\"dashboards_write\",\"dashboards_public_share\"]},\"type\":\"application_keys\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/service_accounts/5e46a8d1-55b7-42f8-87cd-332e062afe0f/application_keys"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 493,
            "text": "{\"data\":{\"type\":\"application_keys\",\"id\":\"93a45ab0-74ec-4d07-8546-f9204326098a\",\"attributes\":{\"name\":\"Test-Create_an_application_key_with_scopes_for_this_service_account_returns_Created_response-1640128022\",\"created_at\":\"2021-12-21T23:07:03.535439+00:00\",\"last4\":\"beef\",\"key\":\"dead5ba843d4f1a209fe8ed42080683244b5beef\",\"scopes\":[\"dashboards_read\",\"dashboards_write\",\"dashboards_public_share\"]},\"relationships\":{\"owned_by\":{\"data\":{\"type\":\"users\",\"id\":\"5e46a8d1-55b7-42f8-87cd-332e062afe0f\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 721
      },
      {
        "_id": "b9f1f9b94781789cda2cca13de914de9",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/service_accounts/5e46a8d1-55b7-42f8-87cd-332e062afe0f/application_keys/93a45ab0-74ec-4d07-8546-f9204326098a"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 432
      },
      {
        "_id": "8b437c9b9b8fe9ba474f23ee97fc9546",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users/5e46a8d1-55b7-42f8-87cd-332e062afe0f"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 586
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
