{
  "log": {
    "_recordingName": "Service Accounts/Create an application key with scopes for this service account returns \"Created\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "d5604c569393fc0715c68a1d37e87bb9",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Create_an_application_key_with_scopes_for_this_service_account_returns_Created_response-1641829892@datadoghq.com\",\"service_account\":true,\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/service_accounts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 694,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"9a37b03f-7f4f-4305-85a2-2b87fd8ff0d7\",\"attributes\":{\"name\":null,\"handle\":\"9a37b03f-7f4f-4305-85a2-2b87fd8ff0d7\",\"created_at\":\"2022-01-10T15:51:33.531371+00:00\",\"modified_at\":\"2022-01-10T15:51:33.574130+00:00\",\"email\":\"test-create_an_application_key_with_scopes_for_this_service_account_returns_created_response-1641829892@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/8f825373eb0cfc2938e0f880b748cbbe?s=48&d=retro\",\"title\":\"user title\",\"verified\":true,\"service_account\":true,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Active\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 613
      },
      {
        "_id": "a63f2ba53f194d93da077af4783f1e2f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Create_an_application_key_with_scopes_for_this_service_account_returns_Created_response-1641829892\",\"scopes\":[\"dashboards_read\",\"dashboards_write\",\"dashboards_public_share\"]},\"type\":\"application_keys\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/service_accounts/9a37b03f-7f4f-4305-85a2-2b87fd8ff0d7/application_keys"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 493,
            "text": "{\"data\":{\"type\":\"application_keys\",\"id\":\"7f7c2a57-698e-41f1-9c99-32242ae2e4e4\",\"attributes\":{\"name\":\"Test-Create_an_application_key_with_scopes_for_this_service_account_returns_Created_response-1641829892\",\"created_at\":\"2022-01-10T15:51:34.140485+00:00\",\"last4\":\"xxxx\",\"key\":\"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\"scopes\":[\"dashboards_read\",\"dashboards_write\",\"dashboards_public_share\"]},\"relationships\":{\"owned_by\":{\"data\":{\"type\":\"users\",\"id\":\"9a37b03f-7f4f-4305-85a2-2b87fd8ff0d7\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 697
      },
      {
        "_id": "99106cf9903510445899aca0bf0a9664",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/service_accounts/9a37b03f-7f4f-4305-85a2-2b87fd8ff0d7/application_keys/7f7c2a57-698e-41f1-9c99-32242ae2e4e4"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 732
      },
      {
        "_id": "fb71920074467f8c67b693a0132ce043",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users/9a37b03f-7f4f-4305-85a2-2b87fd8ff0d7"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 532
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
