{
  "log": {
    "_recordingName": "Service Accounts/List application keys for this service account returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "14bd83d0352ab8699e67657d5b779e40",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-List_application_keys_for_this_service_account_returns_OK_response-1697105538@datadoghq.com\",\"service_account\":true,\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/service_accounts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 674,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"d3bd8ebd-68e7-11ee-8628-2e5a5b6c83f3\",\"attributes\":{\"name\":null,\"handle\":\"d3bd8ebd-68e7-11ee-8628-2e5a5b6c83f3\",\"created_at\":\"2023-10-12T10:12:19.421394+00:00\",\"modified_at\":\"2023-10-12T10:12:19.421394+00:00\",\"email\":\"test-list_application_keys_for_this_service_account_returns_ok_response-1697105538@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/79fd260ec49c01b5dde9172579034626?s=48&d=retro\",\"title\":\"user title\",\"verified\":true,\"service_account\":true,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Active\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 552
      },
      {
        "_id": "62e46c6234810b81012720dadeb8fe3d",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/service_accounts/d3bd8ebd-68e7-11ee-8628-2e5a5b6c83f3/application_keys"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 83,
            "text": "{\"data\":[],\"meta\":{\"page\":{\"total_filtered_count\":0},\"max_allowed_per_user\":1000}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 439
      },
      {
        "_id": "e40d24245849244a016ae55eb7a07379",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users/d3bd8ebd-68e7-11ee-8628-2e5a5b6c83f3"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 553
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
