{
  "log": {
    "_recordingName": "Metrics/Timeseries cross product query returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "b35b89ebd9b88473fd2dda93932e30b5",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"formulas\":[{\"formula\":\"a+b\",\"limit\":{\"count\":10,\"order\":\"desc\"}}],\"from\":1671617641,\"interval\":5000,\"queries\":[{\"data_source\":\"metrics\",\"query\":\"avg:system.cpu.user{*}\"}],\"to\":1671621241},\"type\":\"timeseries_rquest\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/query/timeseries"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 90,
            "text": "{\"errors\":[\"API input validation failed: Invalid type. Expected \\\"timeseries_request\\\".\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 221
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
