{
  "log": {
    "_recordingName": "Observability Pipelines/List pipelines returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "d6a6f7a2f347564fcbfbe972ad921c97",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"config\":{\"destinations\":[{\"id\":\"datadog-logs-destination\",\"inputs\":[\"processor-group-0\"],\"type\":\"datadog_logs\"}],\"processors\":[{\"display_name\":\"My Processor Group\",\"enabled\":true,\"id\":\"processor-group-0\",\"include\":\"service:my-service\",\"inputs\":[\"datadog-agent-source\"],\"processors\":[{\"display_name\":\"My Filter Processor\",\"enabled\":true,\"id\":\"filter-processor\",\"include\":\"status:error\",\"type\":\"filter\"}]}],\"sources\":[{\"id\":\"datadog-agent-source\",\"type\":\"datadog_agent\"}]},\"name\":\"Main Observability Pipeline\"},\"type\":\"pipelines\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 598,
            "text": "{\"data\":{\"id\":\"5e26816c-e4bb-11f0-9427-da7ad0900002\",\"type\":\"pipelines\",\"attributes\":{\"name\":\"Main Observability Pipeline\",\"config\":{\"destinations\":[{\"id\":\"datadog-logs-destination\",\"inputs\":[\"processor-group-0\"],\"type\":\"datadog_logs\"}],\"processors\":[{\"display_name\":\"My Processor Group\",\"enabled\":true,\"id\":\"processor-group-0\",\"include\":\"service:my-service\",\"inputs\":[\"datadog-agent-source\"],\"processors\":[{\"display_name\":\"My Filter Processor\",\"enabled\":true,\"id\":\"filter-processor\",\"include\":\"status:error\",\"type\":\"filter\"}]}],\"sources\":[{\"id\":\"datadog-agent-source\",\"type\":\"datadog_agent\"}]}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 734
      },
      {
        "_id": "2a1ecc5b42fa71d41e8a9990a3446289",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 3360,
            "text": "{\"data\":[{\"id\":\"4bf478ba-dc68-11f0-87e9-da7ad0900002\",\"type\":\"pipelines\",\"attributes\":{\"name\":\"Main Observability Pipeline\",\"config\":{\"destinations\":[{\"id\":\"datadog-logs-destination\",\"inputs\":[\"processor-group-0\"],\"type\":\"datadog_logs\"}],\"processors\":[{\"enabled\":true,\"id\":\"processor-group-0\",\"include\":\"service:my-service\",\"inputs\":[\"datadog-agent-source\"],\"processors\":[{\"enabled\":true,\"id\":\"filter-processor\",\"include\":\"status:error\",\"type\":\"filter\"}]}],\"sources\":[{\"id\":\"datadog-agent-source\",\"type\":\"datadog_agent\"}]}}},{\"id\":\"a78e416a-de66-11f0-a039-da7ad0900002\",\"type\":\"pipelines\",\"attributes\":{\"name\":\"http-server-pipeline\",\"config\":{\"destinations\":[{\"id\":\"destination-1\",\"inputs\":[\"http-source-1\"],\"type\":\"datadog_logs\"}],\"processors\":[],\"sources\":[{\"auth_strategy\":\"plain\",\"decoding\":\"json\",\"id\":\"http-source-1\",\"tls\":{\"ca_file\":\"/etc/ssl/certs/ca.crt\",\"crt_file\":\"/etc/ssl/certs/http.crt\",\"key_file\":\"/etc/ssl/private/http.key\"},\"type\":\"http_server\"}]}}},{\"id\":\"a84fd58c-de66-11f0-a03b-da7ad0900002\",\"type\":\"pipelines\",\"attributes\":{\"name\":\"amazon_s3-source-pipeline\",\"config\":{\"destinations\":[{\"id\":\"destination-1\",\"inputs\":[\"s3-source-1\"],\"type\":\"datadog_logs\"}],\"processors\":[],\"sources\":[{\"auth\":{\"assume_role\":\"arn:aws:iam::123456789012:role/test-role\",\"external_id\":\"external-test-id\",\"session_name\":\"session-test\"},\"id\":\"s3-source-1\",\"region\":\"us-east-1\",\"tls\":{\"ca_file\":\"/etc/ssl/certs/s3.ca\",\"crt_file\":\"/etc/ssl/certs/s3.crt\",\"key_file\":\"/etc/ssl/private/s3.key\"},\"type\":\"amazon_s3\"}]}}},{\"id\":\"a42e22e0-df49-11f0-81d5-da7ad0900002\",\"type\":\"pipelines\",\"attributes\":{\"name\":\"dedupe pipeline\",\"config\":{\"destinations\":[{\"id\":\"destination-1\",\"inputs\":[\"dedupe-group-2\"],\"type\":\"datadog_logs\"}],\"processors\":[{\"enabled\":true,\"id\":\"dedupe-group-1\",\"include\":\"*\",\"inputs\":[\"source-1\"],\"processors\":[{\"enabled\":true,\"fields\":[\"log.message\",\"log.tags\"],\"id\":\"dedupe-match\",\"include\":\"*\",\"mode\":\"match\",\"type\":\"dedupe\"}]},{\"enabled\":true,\"id\":\"dedupe-group-2\",\"include\":\"*\",\"inputs\":[\"dedupe-group-1\"],\"processors\":[{\"enabled\":true,\"fields\":[\"log.source\",\"log.context\"],\"id\":\"dedupe-ignore\",\"include\":\"*\",\"mode\":\"ignore\",\"type\":\"dedupe\"}]}],\"sources\":[{\"id\":\"source-1\",\"type\":\"datadog_agent\"}]}}},{\"id\":\"2cd3c342-e0c2-11f0-9d34-da7ad0900002\",\"type\":\"pipelines\",\"attributes\":{\"name\":\"add-fields-pipeline\",\"config\":{\"destina[...]
