{
  "log": {
    "_recordingName": "Workflow Automation/List workflows returns \"OK\" response with pagination",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "f47ed6d97fca1158d35f25cd207747ec",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "filter",
              "value": {
                "query": "Test-List_workflows_returns_OK_response_with_pagination-1780350762"
              }
            },
            {
              "name": "limit",
              "value": "2"
            },
            {
              "name": "page",
              "value": "0"
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/workflows?filter%5Bquery%5D=Test-List_workflows_returns_OK_response_with_pagination-1780350762&limit=2&page=0"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 69,
            "text": "{\"data\":[],\"meta\":{\"page\":{\"totalCount\":547,\"totalFilteredCount\":0}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 322
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
