{
  "log": {
    "_recordingName": "Forms/Upsert and publish a form version returns \"Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "9dc4b759cb16483083c986f4a462e6b4",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"data_definition\":{\"description\":\"Welcome to the Engineering Experience Survey.\",\"required\":[],\"title\":\"Developer Experience Survey\",\"type\":\"object\"},\"ui_definition\":{\"ui:order\":[],\"ui:theme\":{\"primaryColor\":\"gray\"}},\"upsert_params\":{\"etag\":\"b51f08b698d88d8027a935d9db649774949f5fb41a0c559bfee6a9a13225c72d\"}},\"type\":\"form_versions\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/forms/00000000-0000-0000-0000-000000000001/versions/upsert_and_publish"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 98,
            "text": "{\"errors\":[{\"status\":\"404\",\"id\":\"08399bf1-1d71-4160-bc73-e858e01fde0f\",\"title\":\"form not found\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 145
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
