{
  "log": {
    "_recordingName": "Teams/Add a user to a team returns \"Represents a user's association to a team\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "0d46afe441c5ca5711b31cc706ef2425",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"test-handle-3170c6f6f5b25b4d\",\"name\":\"test-name-3170c6f6f5b25b4d\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 660,
            "text": "{\"data\":{\"id\":\"95ac9e78-0a56-4a6a-9e5e-21580dc141cc\",\"type\":\"team\",\"attributes\":{\"avatar\":null,\"banner\":9,\"created_at\":\"2026-03-31T14:57:54.888553+00:00\",\"description\":null,\"handle\":\"test-handle-3170c6f6f5b25b4d\",\"hidden_modules\":null,\"is_managed\":false,\"link_count\":0,\"modified_at\":\"2026-03-31T14:57:54.888553+00:00\",\"name\":\"test-name-3170c6f6f5b25b4d\",\"summary\":null,\"user_count\":0,\"visible_modules\":null},\"relationships\":{\"team_links\":{\"data\":[],\"links\":{\"related\":\"/api/v2/team/95ac9e78-0a56-4a6a-9e5e-21580dc141cc/links\"}},\"user_team_permissions\":{\"data\":null,\"links\":{\"related\":\"/api/v2/team/95ac9e78-0a56-4a6a-9e5e-21580dc141cc/permission-settings\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 5220
      },
      {
        "_id": "a52463fd793a1c72cc096d63c811d620",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Add_a_user_to_a_team_returns_Represents_a_user_s_association_to_a_team_response-1774969069@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 826,
            "text": "{\"data\": {\"type\": \"users\", \"id\": \"ebb17d15-5e46-4440-856f-75710cbbce4b\", \"attributes\": {\"name\": null, \"handle\": \"test-add_a_user_to_a_team_returns_represents_a_user_s_association_to_a_team_response-1774969069@datadoghq.com\", \"created_at\": \"2026-03-31T14:57:55.106406+00:00\", \"modified_at\": \"2026-03-31T14:57:55.106406+00:00\", \"email\": \"test-add_a_user_to_a_team_returns_represents_a_user_s_association_to_a_team_response-1774969069@datadoghq.com\", \"icon\": \"https://secure.gravatar.com/avatar/52a30c814f85968a9d363cc103840284?s=48&d=retro\", \"title\": \"user title\", \"verified\": false, \"service_account\": false, \"disabled\": false, \"allowed_login_methods\": [], \"status\": \"Pending\", \"last_login_time\": null}, \"relationships\": {\"roles\": {\"data\": []}, \"org\": {\"data\": {\"type\": \"orgs\", \"id\": \"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 222
      },
      {
        "_id": "f45f71983d4ddb9e318cb47bf6d2300c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"role\":\"admin\"},\"relationships\":{\"user\":{\"data\":{\"id\":\"ebb17d15-5e46-4440-856f-75710cbbce4b\",\"type\":\"users\"}}},\"type\":\"team_memberships\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/95ac9e78-0a56-4a6a-9e5e-21580dc141cc/memberships"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 807,
            "text": "{\"data\":{\"id\":\"TeamMembership-95ac9e78-0a56-4a6a-9e5e-21580dc141cc-66215040\",\"type\":\"team_memberships\",\"attributes\":{\"provisioned_by\":null,\"provisioned_by_id\":\"a1d5ff5a-c6dd-11f0-9cb6-06640ca27ad4\",\"role\":\"admin\"},\"relationships\":{\"user\":{\"data\":{\"id\":\"ebb17d15-5e46-4440-856f-75710cbbce4b\",\"type\":\"users\"}}}},\"included\":[{\"id\":\"ebb17d15-5e46-4440-856f-75710cbbce4b\",\"type\":\"users\",\"attributes\":{\"disabled\":false,\"email\":\"test-add_a_user_to_a_team_returns_represents_a_user_s_association_to_a_team_response-1774969069@datadoghq.com\",\"handle\":\"test-add_a_user_to_a_team_returns_represents_a_user_s_association_to_a_team_response-1774969069@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/52a30c814f85968a9d363cc103840284?d=retro\\u0026s=48\",\"name\":null,\"service_account\":false,\"statu[...]
