{
  "log": {
    "_recordingName": "Monitors/Create a monitor notification rule with bundle config returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "5f03171f3f4c0482f92d33f0b5435d06",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"bundle_config\":{\"duration\":3600},\"filter\":{\"tags\":[\"test:test-create_a_monitor_notification_rule_with_bundle_config_returns_ok_response-1787002851\"]},\"name\":\"test rule\",\"recipients\":[\"slack-test-channel\"]},\"type\":\"monitor-notification-rule\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/monitor/notification_rule"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1065,
            "text": "{\"data\":{\"type\":\"monitor-notification-rule\",\"id\":\"fc63c678-ecf4-4807-a3c9-317baea76bb1\",\"attributes\":{\"name\":\"test rule\",\"created_at\":\"2026-08-17T21:40:51.789668+00:00\",\"modified_at\":\"2026-08-17T21:40:51.806466+00:00\",\"filter\":{\"tags\":[\"test:test-create_a_monitor_notification_rule_with_bundle_config_returns_ok_response-1787002851\"]},\"recipients\":[\"slack-test-channel\"],\"bundle_config\":{\"duration\":3600}},\"relationships\":{\"created_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}}}},\"included\":[{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"attributes\":{\"uuid\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"name\":\"frog\",\"handle\":\"frog@datadoghq.com\",\"created_at\":\"2019-10-02T08:15:39.795051+00:00\",\"modified_at\":\"2026-07-10T19:34:11.410571+00:00\",\"email\":\"frog@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro\",\"title\":null,\"verified\":true,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Active\",\"last_login_time\":\"2024-01-04T18:40:05+00:00\"}}]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 223
      },
      {
        "_id": "56812439c75d3c6366b02405c812567f",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/monitor/notification_rule/fc63c678-ecf4-4807-a3c9-317baea76bb1"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=utf-8",
            "size": 0
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=utf-8"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 230
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
