{
  "log": {
    "_recordingName": "Case Management Attribute/Get all custom attributes config of case type returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "dc45fc730f09c12d941beaf799af6461",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"description\":\"Worldwide case type\",\"emoji\":\"\ud83c\udf0d\",\"name\":\"World\"},\"type\":\"case_type\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/cases/types"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 154,
            "text": "{\"data\":{\"id\":\"cf9dfa09-a302-428a-83c0-cd9a61ca3308\",\"type\":\"case_type\",\"attributes\":{\"description\":\"Worldwide case type\",\"emoji\":\"\ud83c\udf0d\",\"name\":\"World\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 378
      },
      {
        "_id": "a2282edb32b0023b6dbe84c3a4a4dc12",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/cases/types/cf9dfa09-a302-428a-83c0-cd9a61ca3308/custom_attributes"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 11,
            "text": "{\"data\":[]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 410
      },
      {
        "_id": "b0f5c405ba0f8930098b359d3a74fdea",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/cases/types/cf9dfa09-a302-428a-83c0-cd9a61ca3308"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 379
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
