{
  "log": {
    "_recordingName": "On-Call/Delete on-call escalation policy returns \"No Content\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "09876a498b3efc9689426f6ad9fe20d7",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Delete_on_call_escalation_policy_returns_No_Content_response-1744876146@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 725,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"70c1f86f-1b60-11f0-9652-d6bc07db26a7\",\"attributes\":{\"name\":null,\"handle\":\"test-delete_on_call_escalation_policy_returns_no_content_response-1744876146@datadoghq.com\",\"created_at\":\"2025-04-17T07:49:07.105631+00:00\",\"modified_at\":\"2025-04-17T07:49:07.105631+00:00\",\"email\":\"test-delete_on_call_escalation_policy_returns_no_content_response-1744876146@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/a15d4c7b265a91d6f936fc4afbb13b01?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 419
      },
      {
        "_id": "9001dda353174b67ced86ed4b368aa41",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"test-handle-f9a30a6e463d6065\",\"name\":\"test-name-f9a30a6e463d6065\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 635,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"859ec66a-7fc4-4d24-afec-e74c46ee94eb\",\"attributes\":{\"name\":\"test-name-f9a30a6e463d6065\",\"handle\":\"test-handle-f9a30a6e463d6065\",\"summary\":null,\"description\":null,\"avatar\":null,\"banner\":9,\"visible_modules\":[],\"hidden_modules\":[],\"created_at\":\"2025-04-17T07:49:07.473458+00:00\",\"modified_at\":\"2025-04-17T07:49:07.473463+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/859ec66a-7fc4-4d24-afec-e74c46ee94eb/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/859ec66a-7fc4-4d24-afec-e74c46ee94eb/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 454
      },
      {
        "_id": "c38cca5604c62415f1deb411707e6a5c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"layers\":[{\"effective_date\":\"2025-04-07T07:49:06.760Z\",\"end_date\":\"2025-04-27T07:49:06.760Z\",\"interval\":{\"days\":1},\"members\":[{\"user\":{\"id\":\"890f29d4-0b7a-11f0-aeb2-760fcae4f596\"}}],\"name\":\"Layer 1\",\"restrictions\":[{\"end_day\":\"friday\",\"end_time\":\"17:00:00\",\"start_day\":\"monday\",\"start_time\":\"09:00:00\"}],\"rotation_start\":\"2025-04-12T07:49:06.760Z\"}],\"name\":\"Test-Delete_on_call_escalation_policy_returns_No_Content_response-1744876146\",\"tags\":[\"tag1\",\"tag2\"],\"time_zone\":\"America/New_York\"},\"relationships\":{\"teams\":{\"data\":[{\"id\":\"65aea9d0-941c-4607-bf8a-14fc0dac2820\",\"type\":\"teams\"}]}},\"type\":\"schedules\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/on-call/schedules"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 408,
            "text": "{\"data\":{\"id\":\"2c83f119-d4e7-4db0-8bee-4e8bbcea0963\",\"type\":\"schedules\",\"attributes\":{\"name\":\"Test-Delete_on_c[...]
