{
  "log": {
    "_recordingName": "On-Call/Delete on-call escalation policy returns \"No Content\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "8058cc1e0f453021a1e5bcdee36ca233",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Delete_on_call_escalation_policy_returns_No_Content_response-1745464627@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 725,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"9ac4c097-20ba-11f0-93bd-fe1e9003413a\",\"attributes\":{\"name\":null,\"handle\":\"test-delete_on_call_escalation_policy_returns_no_content_response-1745464627@datadoghq.com\",\"created_at\":\"2025-04-24T03:17:08.107723+00:00\",\"modified_at\":\"2025-04-24T03:17:08.107723+00:00\",\"email\":\"test-delete_on_call_escalation_policy_returns_no_content_response-1745464627@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/086fc14d750fb41c41edb93f40a83331?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 198
      },
      {
        "_id": "80870eebc0f01805c5a092e71f5ff240",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"test-handle-25a086ee0229070e\",\"name\":\"test-name-25a086ee0229070e\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 636,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"f4d93724-d4f7-462e-b1de-1abf73d182cb\",\"attributes\":{\"name\":\"test-name-25a086ee0229070e\",\"handle\":\"test-handle-25a086ee0229070e\",\"summary\":null,\"description\":null,\"avatar\":null,\"banner\":13,\"visible_modules\":[],\"hidden_modules\":[],\"created_at\":\"2025-04-24T03:17:08.284107+00:00\",\"modified_at\":\"2025-04-24T03:17:08.284117+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/f4d93724-d4f7-462e-b1de-1abf73d182cb/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/f4d93724-d4f7-462e-b1de-1abf73d182cb/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 260
      },
      {
        "_id": "f845e07f39d088701a5f01897471afbe",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"layers\":[{\"effective_date\":\"2025-04-14T03:17:07.960Z\",\"end_date\":\"2025-05-04T03:17:07.960Z\",\"interval\":{\"days\":1},\"members\":[{\"user\":{\"id\":\"890f29d4-0b7a-11f0-aeb2-760fcae4f596\"}}],\"name\":\"Layer 1\",\"restrictions\":[{\"end_day\":\"friday\",\"end_time\":\"17:00:00\",\"start_day\":\"monday\",\"start_time\":\"09:00:00\"}],\"rotation_start\":\"2025-04-19T03:17:07.960Z\"}],\"name\":\"Test-Delete_on_call_escalation_policy_returns_No_Content_response-1745464627\",\"tags\":[\"tag1\",\"tag2\"],\"time_zone\":\"America/New_York\"},\"relationships\":{\"teams\":{\"data\":[{\"id\":\"65aea9d0-941c-4607-bf8a-14fc0dac2820\",\"type\":\"teams\"}]}},\"type\":\"schedules\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/on-call/schedules"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 408,
            "text": "{\"data\":{\"id\":\"bfab7bf6-9cbb-4cb5-911c-1e8ad6483589\",\"type\":\"schedules\",\"attributes\":{\"name\":\"Test-Delete_on_c[...]
