{
  "log": {
    "_recordingName": "Synthetics/Get the list of default locations returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "b9dc107e62814944ce79b8f4922edb4b",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/synthetics/settings/default_locations"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 3,
            "text": "[]\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 353
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
