{
  "log": {
    "_recordingName": "Key Management/Get API key returns \"Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "c85c999d0f8d0fbd0c7621c5d5efb196",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/api_keys/invalidId"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 32,
            "text": "{\"errors\":[\"API key not found\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 216
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
