{
  "log": {
    "_recordingName": "Spans/Get a list of spans returns \"Unprocessable Entity.\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "81cc481e85ebfc3ef692fb566e07a4f5",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "filter",
              "value": {
                "from": "now",
                "to": "now-1m"
              }
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/spans/events?filter%5Bfrom%5D=now&filter%5Bto%5D=now-1m"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 136,
            "text": "{\"errors\":[{\"title\":\"Generic Error\",\"detail\":\"invalid_argument(Field 'filter.from,to' is invalid: 'from' should be anterior to 'to')\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 422,
          "statusText": "Unprocessable Entity"
        },
        "time": 378
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
