{
  "log": {
    "_recordingName": "Case Management/Comment case returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "0a6534d042f2507564f87ab28f449a8d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"priority\":\"P4\",\"title\":\"My new case\",\"type\":\"STANDARD\"},\"relationships\":{\"project\":{\"data\":{\"id\":\"d4bbe1af-f36e-42f1-87c1-493ca35c320e\",\"type\":\"project\"}}},\"type\":\"case\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/cases"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 839,
            "text": "{\"data\":{\"id\":\"059436d1-1499-4fd3-804d-5baccc7630b4\",\"type\":\"case\",\"attributes\":{\"attributes\":{},\"comment_count\":0,\"created_at\":\"2025-08-12T11:05:41.952059Z\",\"creation_source\":\"MANUAL\",\"custom_attributes\":{},\"description\":\"\",\"insights\":[],\"internal_id\":\"059436d1-1499-4fd3-804d-5baccc7630b4\",\"key\":\"DDFC-75926\",\"merge_status\":\"NOT_MERGED\",\"priority\":\"P4\",\"public_id\":\"75986\",\"status\":\"OPEN\",\"title\":\"My new case\",\"type\":\"STANDARD\",\"type_id\":\"00000000-0000-0000-0000-000000000001\"},\"relationships\":{\"created_by\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"user\"}},\"project\":{\"data\":{\"id\":\"d4bbe1af-f36e-42f1-87c1-493ca35c320e\",\"type\":\"project\"}}}},\"included\":[{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"user\",\"attributes\":{\"active\":true,\"email\":\"frog@datadoghq.com\",\"handle\":\"frog@datadoghq.com\",\"name\":\"frog\"}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 386
      },
      {
        "_id": "e83f8a25af3329d04af242a0f83b4dce",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"comment\":\"\"},\"type\":\"case\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/cases/059436d1-1499-4fd3-804d-5baccc7630b4/comment"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 51,
            "text": "{\"errors\":[{\"status\":\"400\",\"title\":\"Bad Request\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 391
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
