{
  "log": {
    "_recordingName": "Dashboards/Create a new dashboard with a query value widget using timeseries background",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "43c9fadf5f8f2132e78251efd0217869",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"layout_type\":\"ordered\",\"title\":\"Test-Create_a_new_dashboard_with_a_query_value_widget_using_timeseries_background-1731699151 with QVW Timeseries Background\",\"widgets\":[{\"definition\":{\"autoscale\":true,\"precision\":2,\"requests\":[{\"formulas\":[{\"formula\":\"query1\"}],\"queries\":[{\"aggregator\":\"percentile\",\"data_source\":\"metrics\",\"name\":\"query1\",\"query\":\"sum:my.cool.count.metric{*}\"}],\"response_format\":\"scalar\"}],\"time\":{},\"timeseries_background\":{\"type\":\"area\",\"yaxis\":{\"include_zero\":true}},\"title\":\"\",\"title_align\":\"left\",\"title_size\":\"16\",\"type\":\"query_value\"},\"layout\":{\"height\":2,\"width\":2,\"x\":0,\"y\":0}}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1022,
            "text": "{\"id\":\"t7h-dt9-gt6\",\"title\":\"Test-Create_a_new_dashboard_with_a_query_value_widget_using_timeseries_background-1731699151 with QVW Timeseries Background\",\"description\":null,\"author_handle\":\"frog@datadoghq.com\",\"author_name\":null,\"layout_type\":\"ordered\",\"url\":\"/dashboard/t7h-dt9-gt6/test-createanewdashboardwithaqueryvaluewidgetusingtimeseriesbackground-173169915\",\"is_read_only\":false,\"template_variables\":null,\"widgets\":[{\"definition\":{\"autoscale\":true,\"precision\":2,\"requests\":[{\"formulas\":[{\"formula\":\"query1\"}],\"queries\":[{\"aggregator\":\"percentile\",\"data_source\":\"metrics\",\"name\":\"query1\",\"query\":\"sum:my.cool.count.metric{*}\"}],\"response_format\":\"scalar\"}],\"time\":{},\"timeseries_background\":{\"type\":\"area\",\"yaxis\":{\"include_zero\":true}},\"title\":\"\",\"title_align\":\"left\",\"title_size\":\"16\",\"type\":\"query_value\"},\"layout\":{\"height\":2,\"width\":2,\"x\":0,\"y\":0},\"id\":4861182812642966}],\"notify_list\":null,\"created_at\":\"2024-11-15T19:32:31.929842+00:00\",\"modified_at\":\"2024-11-15T19:32:31.929842+00:00\",\"restricted_roles\":[]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 245
      },
      {
        "_id": "348033fed76aa51b830c4d4832d90f88",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/t7h-dt9-gt6"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 39,
            "text": "{\"deleted_dashboard_id\":\"t7h-dt9-gt6\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 196
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
