{
  "log": {
    "_recordingName": "Logs Custom Destinations/Update a custom destination returns \"Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "651a891edde6c68b10999aa09a889bb8",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"forwarderDestination\":{\"auth\":{\"password\":\"password\",\"type\":\"basic\",\"username\":\"username\"},\"endpoint\":\"https://example.org/my-intake\",\"type\":\"http\"},\"name\":\"so--updated-name\",\"version\":0},\"id\":\"some-non-existent-id\",\"type\":\"custom_destination\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/config/custom_destinations/some-non-existent-id"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 24,
            "text": "{\"errors\":[\"NotFound\"]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 377
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
