{
  "log": {
    "_recordingName": "Key Management/Get one Application key owned by current user returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "fa673b8c6d67307a0862c64253d113f3",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Get_one_Application_key_owned_by_current_user_returns_OK_response-1639757127\"},\"type\":\"application_keys\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/current_user/application_keys"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 397,
            "text": "{\"data\":{\"type\":\"application_keys\",\"id\":\"20f135e3-6ffd-4bb5-9c38-91907f6902dc\",\"attributes\":{\"name\":\"Test-Get_one_Application_key_owned_by_current_user_returns_OK_response-1639757127\",\"created_at\":\"2021-12-17T16:05:27.571594+00:00\",\"last4\":\"beef\",\"key\":\"deaddcc81a44288fbbbfb15efe1203df034abeef\"},\"relationships\":{\"owned_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "381"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "400"
            },
            {
              "name": "x-ratelimit-period",
              "value": "3600"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "3273"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 375,
      },
      {
        "_id": "46648886d13a36708c00cce83e3635e1",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/current_user/application_keys/20f135e3-6ffd-4bb5-9c38-91907f6902dc"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1158,
            "text": "{\"included\":[{\"type\":\"roles\",\"id\":\"94172442-be03-11e9-a77a-3b7612558ac1\",\"attributes\":{\"name\":\"Datadog Admin Role\",\"created_at\":\"2019-08-13T19:50:19.022791+00:00\",\"modified_at\":\"2019-08-13T19:50:19.022791+00:00\"}},{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"attributes\":{\"name\":null,\"handle\":\"frog@datadoghq.com\",\"created_at\":\"2019-10-02T08:15:39.795051+00:00\",\"modified_at\":\"2020-06-15T12:33:12.884459+00:00\",\"email\":\"frog@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro\",\"title\":null,\"verified\":true,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Active\"},\"relationships\":{\"roles\":{\"data\":[{\"type\":\"roles\",\"id\":\"94172442-be03-11e9-a77a-3b7612558ac1\"}]}}}],\"data\":{\"type\":\"application_keys\",\"id\":\"20f135e3-6ffd-4bb5-9c38-91907f6902dc\",\"attributes\":{\"name\":\"Test-Get_one_Application_key_owned_by_current_user_returns_OK_response-1639757127\",\"created_at\":\"2021-12-17T16:05:27.571594+00:00\",\"last4\":\"beef\",\"key\":\"deaddcc81a44288fbbbfb15efe1203df034abeef\"},\"relationships\":{\"owned_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a[...]
