{
  "log": {
    "_recordingName": "RUM/Update a RUM application with Product Scales returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "633d050950f89a73a17747d4c18f92b9",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"test-rum-437f87a61b37ca7e\",\"type\":\"ios\"},\"type\":\"rum_application_create\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/rum/applications"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 703,
            "text": "{\"data\":{\"type\":\"rum_application\",\"attributes\":{\"updated_by_handle\":\"frog@datadoghq.com\",\"product_scales\":{\"rum_event_processing_scale\":{\"state\":\"ALL\",\"last_modified_at\":1755612183425},\"product_analytics_retention_scale\":{\"state\":\"NONE\",\"last_modified_at\":1755612183425}},\"client_token\":\"pub601ee82f2a03f18ee4750e75918179a9\",\"is_active\":false,\"created_by_handle\":\"frog@datadoghq.com\",\"tags\":[],\"org_id\":321813,\"type\":\"ios\",\"product_analytics_replay_sample_rate\":100,\"name\":\"test-rum-437f87a61b37ca7e\",\"application_id\":\"c82755b7-9938-4241-ae5a-24dd5760402b\",\"hash\":\"pub601ee82f2a03f18ee4750e75918179a9\",\"updated_at\":1755612183425,\"created_at\":1755612183425},\"id\":\"c82755b7-9938-4241-ae5a-24dd5760402b\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 415
      },
      {
        "_id": "443556ca4b72c3009e76c8568d828604",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"updated_rum_with_product_scales\",\"product_analytics_retention_state\":\"MAX\",\"rum_event_processing_state\":\"ALL\"},\"id\":\"c82755b7-9938-4241-ae5a-24dd5760402b\",\"type\":\"rum_application_update\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/rum/applications/c82755b7-9938-4241-ae5a-24dd5760402b"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 708,
            "text": "{\"data\":{\"type\":\"rum_application\",\"attributes\":{\"tags\":[],\"application_id\":\"c82755b7-9938-4241-ae[...]
