{
  "log": {
    "_recordingName": "Deployment Gates/Trigger a deployment gates evaluation returns \"Bad request.\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "1c3abbc26587119f61fec01d3340a6cf",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"env\":\"\",\"service\":\"my-service\"},\"type\":\"deployment_gates_evaluation_request\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/deployments/gates/evaluation"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 92,
            "text": "{\"errors\":[{\"status\":\"400\",\"title\":\"Bad Request\",\"detail\":\"required env field is missing\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 114
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
