{
  "log": {
    "_recordingName": "Teams/Remove a team returns \"No Content\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "c2805196d59cd0fa2dabf8ee5363f1ea",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"1679941998\",\"name\":\"1679941998\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 526,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"d8648c52-cccd-11ed-a275-da7ad0900002\",\"attributes\":{\"name\":\"1679941998\",\"handle\":\"1679941998\",\"summary\":null,\"description\":null,\"color\":3,\"created_at\":\"2023-03-27T18:33:18.917793+00:00\",\"modified_at\":\"2023-03-27T18:33:18.917799+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/d8648c52-cccd-11ed-a275-da7ad0900002/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/d8648c52-cccd-11ed-a275-da7ad0900002/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 439
      },
      {
        "_id": "0bc54bb3e3b6a31826f0bfc8ca1c847f",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/d8648c52-cccd-11ed-a275-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 412
      },
      {
        "_id": "0bc54bb3e3b6a31826f0bfc8ca1c847f",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/d8648c52-cccd-11ed-a275-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 73,
            "text": "{\"errors\":[\"Team for ID d8648c52-cccd-11ed-a275-da7ad0900002 not found\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 302
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
