{
  "log": {
    "_recordingName": "Teams/Remove a team returns \"No Content\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "2d37b078d264498437a8655e531f03e2",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"test-handle-a9d07353f71937c2\",\"name\":\"test-name-a9d07353f71937c2\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 619,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"320db0de-405b-11ee-bb10-da7ad0900002\",\"attributes\":{\"name\":\"test-name-a9d07353f71937c2\",\"handle\":\"test-handle-a9d07353f71937c2\",\"summary\":null,\"description\":null,\"avatar\":null,\"banner\":null,\"visible_modules\":[],\"hidden_modules\":[],\"created_at\":\"2023-08-21T19:44:52.101073+00:00\",\"modified_at\":\"2023-08-21T19:44:52.101079+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/320db0de-405b-11ee-bb10-da7ad0900002/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/320db0de-405b-11ee-bb10-da7ad0900002/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 198
      },
      {
        "_id": "0028537df220d82c902aeb856e6b0b52",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/320db0de-405b-11ee-bb10-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 163
      },
      {
        "_id": "0028537df220d82c902aeb856e6b0b52",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/320db0de-405b-11ee-bb10-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 73,
            "text": "{\"errors\":[\"Team for ID 320db0de-405b-11ee-bb10-da7ad0900002 not found\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 119
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
