{
  "log": {
    "_recordingName": "Teams/Remove a team returns \"No Content\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "fd0fe5712d27ebfc2c259cbd8565cb90",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"handle-5193f5ba7bb7cf2a\",\"name\":\"name-5193f5ba7bb7cf2a\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 550,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"58c0c93a-ef4f-11ed-a5d2-da7ad0900002\",\"attributes\":{\"name\":\"name-5193f5ba7bb7cf2a\",\"handle\":\"handle-5193f5ba7bb7cf2a\",\"summary\":null,\"description\":null,\"color\":3,\"created_at\":\"2023-05-10T16:25:58.884270+00:00\",\"modified_at\":\"2023-05-10T16:25:58.884274+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/58c0c93a-ef4f-11ed-a5d2-da7ad0900002/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/58c0c93a-ef4f-11ed-a5d2-da7ad0900002/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 167
      },
      {
        "_id": "d668e89097891284101e9f313ddd521b",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/58c0c93a-ef4f-11ed-a5d2-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 157
      },
      {
        "_id": "d668e89097891284101e9f313ddd521b",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/58c0c93a-ef4f-11ed-a5d2-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 73,
            "text": "{\"errors\":[\"Team for ID 58c0c93a-ef4f-11ed-a5d2-da7ad0900002 not found\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 117
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
