{
  "log": {
    "_recordingName": "Teams/Remove a team returns \"No Content\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "8ace4ba6b35c96e2575c46e335f0df04",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"handle-b083901017e30c13\",\"name\":\"name-b083901017e30c13\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 540,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"abb3161e-20d9-11ee-95db-da7ad0900002\",\"attributes\":{\"name\":\"name-b083901017e30c13\",\"handle\":\"handle-b083901017e30c13\",\"summary\":null,\"description\":null,\"created_at\":\"2023-07-12T17:29:35.567410+00:00\",\"modified_at\":\"2023-07-12T17:29:35.567415+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/abb3161e-20d9-11ee-95db-da7ad0900002/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/abb3161e-20d9-11ee-95db-da7ad0900002/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 173
      },
      {
        "_id": "021aaa618eac9addf96a58c8b5ed52e0",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/abb3161e-20d9-11ee-95db-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 175
      },
      {
        "_id": "021aaa618eac9addf96a58c8b5ed52e0",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/abb3161e-20d9-11ee-95db-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 73,
            "text": "{\"errors\":[\"Team for ID abb3161e-20d9-11ee-95db-da7ad0900002 not found\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 114
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
