{
  "log": {
    "_recordingName": "Security Monitoring/Export security monitoring resources to Terraform returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "52ead0b0c657bb6ed5afbbb6ce033bb3",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"description\":\"Test-Export_security_monitoring_resources_to_Terraform_returns_OK_response-1775811378\",\"enabled\":true,\"name\":\"suppression 281e64d265076a2a\",\"rule_query\":\"source:cloudtrail\",\"suppression_query\":\"env:test\",\"tags\":[\"technique:T1110-brute-force\",\"source:cloudtrail\"]},\"type\":\"suppressions\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 568,
            "text": "{\"data\":{\"id\":\"vgr-gcw-s7m\",\"type\":\"suppressions\",\"attributes\":{\"creation_date\":1775811378970,\"creator\":{\"handle\":\"frog@datadoghq.com\",\"name\":\"frog\"},\"data_exclusion_query\":\"\",\"description\":\"Test-Export_security_monitoring_resources_to_Terraform_returns_OK_response-1775811378\",\"editable\":true,\"enabled\":true,\"name\":\"suppression 281e64d265076a2a\",\"rule_query\":\"source:cloudtrail\",\"suppression_query\":\"env:test\",\"tags\":[\"source:cloudtrail\",\"technique:T1110-brute-force\"],\"update_date\":1775811378970,\"updater\":{\"handle\":\"frog@datadoghq.com\",\"name\":\"frog\"},\"version\":1}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 415
      },
      {
        "_id": "e642d8edee744d63cc32573efc5a411c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"resource_ids\":[\"vgr-gcw-s7m\"]},\"type\":\"bulk_export_resources\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/security_monitoring/terraform/suppressions/bulk"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/zip",
            "size": 412,
            "text": "UEsDBBQACAAIAAAAAAAAAAAAAAAAAAAAAAAaAAAAc3VwcHJlc3Npb25fdmdyLWdjdy1zN20udGZsjj1PMzEQhPv7FSvXr6U4L8lFka6koqBJh5Dl2JvD0p33srsORIj/jo4PEVCmfuaZYRSqHBFMChoS9V4wVs569iOVrMS59F7qNDGKZCoGzKln28dnK+1o4LUBSCiR86SZCnymA7NDUXv7MhHrVef3snglv0PmcCAePaNWLuLv72ZioiJoXduuNs79bzemAcAS9gMm+EkHyhUbgBJGhF/pwFych+XG4fomLderRbsOyzD7uA7ojxX5fFn6+LaNA9WkHPIwkxemr0IHBstpqyg6Axp6+bv/cMX1D4xifCr5WHG7c84t7J6roj0QRzSPzVvzHgAA//9QSwcIw6lzsPYAAACZAQAAUEsBAhQAFAAIAAgAAAAAAMOpc7D2AAAAmQEAABoAAAAAAAAAAAAAAAAAAAAAAHN1cHByZXNzaW9uX3Znci1nY3ctczdtLnRmUEsFBgAAAAABAAEASAAAAD4BAAAAAA=="
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/zip"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 461
      },
      {
        "_id": "3fe882e79fa65b79f91b3d5136db9572",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions/vgr-gcw-s7m"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 429
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
