{
  "log": {
    "_recordingName": "Usage Metering/Get hourly usage for cloud workload security returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "6c17da6de6b767c02fd0ed9f86aabbd8",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "start_hr",
              "value": "2023-09-20T19:19:28.364Z"
            },
            {
              "name": "end_hr",
              "value": "2023-09-22T19:19:28.364Z"
            }
          ],
          "url": "https://api.datadoghq.com/api/v1/usage/cws?start_hr=2023-09-20T19%3A19%3A28.364Z&end_hr=2023-09-22T19%3A19%3A28.364Z"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 8364,
            "text": "{\"usage\":[{\"hour\":\"2023-09-20T19:00:00+00:00\",\"region\":\"us\",\"cws_host_count\":null,\"cws_container_count\":null,\"org_name\":\"DD Integration Tests (321813)\",\"public_id\":\"fasjyydbcgwwc2uc\"},{\"hour\":\"2023-09-20T20:00:00+00:00\",\"region\":\"us\",\"cws_host_count\":null,\"cws_container_count\":null,\"org_name\":\"DD Integration Tests (321813)\",\"public_id\":\"fasjyydbcgwwc2uc\"},{\"hour\":\"2023-09-20T21:00:00+00:00\",\"region\":\"us\",\"cws_host_count\":null,\"cws_container_count\":null,\"org_name\":\"DD Integration Tests (321813)\",\"public_id\":\"fasjyydbcgwwc2uc\"},{\"hour\":\"2023-09-20T22:00:00+00:00\",\"region\":\"us\",\"cws_host_count\":null,\"cws_co[...]
