{
  "log": {
    "_recordingName": "Workflow Automation/Delete an existing Workflow returns \"Successfully deleted a workflow.\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ef58c8e58d44f74157350d8c01ffa21c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Cassette Workflow x-given\",\"spec\":{\"steps\":[{\"actionId\":\"com.datadoghq.core.noop\",\"name\":\"No_op\"}],\"triggers\":[{\"startStepNames\":[\"No_op\"],\"workflowTrigger\":{}}]}},\"type\":\"workflows\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/workflows"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 579,
            "text": "{\"data\":{\"id\":\"2aafe134-db60-4d03-850c-ff022522cc32\",\"type\":\"workflows\",\"attributes\":{\"createdAt\":\"2025-05-20T19:25:36.65764Z\",\"description\":\"\",\"name\":\"Cassette Workflow x-given\",\"published\":true,\"spec\":{\"triggers\":[{\"startStepNames\":[\"No_op\"],\"workflowTrigger\":{}}],\"steps\":[{\"name\":\"No_op\",\"actionId\":\"com.datadoghq.core.noop\"}]},\"systemTags\":null,\"tags\":[],\"updatedAt\":\"2025-05-20T19:25:36.65764Z\"},\"relationships\":{\"creator\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}},\"owner\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 151
      },
      {
        "_id": "ac99695e4657c5199778a8c58e33d9af",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/workflows/2aafe134-db60-4d03-850c-ff022522cc32"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 175
      },
      {
        "_id": "ac99695e4657c5199778a8c58e33d9af",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/workflows/2aafe134-db60-4d03-850c-ff022522cc32"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 44,
            "text": "{\"errors\":[{\"detail\":\"workflow not found\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 121
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
