{
  "log": {
    "_recordingName": "Metrics/Scalar cross product query with slo data source returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "fcc74edd85f35b43a106604f8ebb1c5a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"formulas\":[{\"formula\":\"a\",\"limit\":{\"count\":10,\"order\":\"desc\"}}],\"from\":1775658332000,\"queries\":[{\"additional_query_filters\":\"*\",\"data_source\":\"slo\",\"group_mode\":\"overall\",\"measure\":\"slo_status\",\"name\":\"a\",\"slo_id\":\"12345678910\",\"slo_query_type\":\"metric\"}],\"to\":1775661932000},\"type\":\"scalar_request\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/query/scalar"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 239,
            "text": "{\"data\":{\"id\":\"0\",\"type\":\"scalar_response\",\"attributes\":{\"columns\":[{\"name\":\"a\",\"values\":[],\"type\":\"number\",\"meta\":{\"unit\":[{\"family\":\"percentage\",\"name\":\"percent\",\"plural\":\"percent\",\"scale_factor\":1.0,\"short_name\":\"%\",\"id\":17},null]}}]}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 116
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
