{
  "log": {
    "_recordingName": "Monitors/Create a Data Jobs monitor returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "5857ee3899e2c44f4e486dccc42f5278",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"message\":\"Data jobs alert triggered\",\"name\":\"Test-Create_a_Data_Jobs_monitor_returns_OK_response-1778756334\",\"options\":{\"thresholds\":{\"critical\":0},\"variables\":[{\"job_type\":\"databricks.job\",\"jobs_query\":\"job_name:*\",\"name\":\"run_query\",\"query_dialect\":\"metric\"}]},\"query\":\"formula(\\\"failed_runs(run_query)\\\").by(job_name,workspace_name).last(10d) > 0\",\"tags\":[\"test:testcreateadatajobsmonitorreturnsokresponse1778756334\",\"env:ci\"],\"type\":\"data-jobs alert\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/monitor"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1040,
            "text": "{\"id\":283063470,\"org_id\":321813,\"type\":\"data-jobs alert\",\"name\":\"Test-Create_a_Data_Jobs_monitor_returns_OK_response-1778756334\",\"message\":\"Data jobs alert triggered\",\"tags\":[\"test:testcreateadatajobsmonitorreturnsokresponse1778756334\",\"env:ci\"],\"query\":\"formula(\\\"failed_runs(run_query)\\\").by(job_name,workspace_name).last(10d) > 0\",\"options\":{\"thresholds\":{\"critical\":0.0},\"variables\":[{\"job_type\":\"databricks.job\",\"jobs_query\":\"job_name:*\",\"name\":\"run_query\",\"query_dialect\":\"metric\"}],\"notify_no_data\":false,\"notify_audit\":false,\"new_host_delay\":300,\"include_tags\":true,\"silenced\":{}},\"multi\":true,\"created_at\":1778756334000,\"created\":\"2026-05-14T10:58:54.236230+00:00\",\"modified\":\"2026-05-14T10:58:54.236230+00:00\",\"deleted\":null,\"priority\":null,\"restricted_roles\":null,\"restriction_policy\":null,\"draft_status\":\"published\",\"assets\":[],\"overall_state_modified\":null,\"overall_state\":\"No Data\",\"creator\":{\"name\":\"CI Account\",\"handle\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\",\"email\":\"team-intg-tools-libs-spam@datadoghq.com\",\"id\":2320499}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 144
      },
      {
        "_id": "c4dd945fac34db642058629ead8011d3",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/monitor/283063470"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 33,
            "text": "{\"deleted_monitor_id\":283063470}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 189
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
