{
  "log": {
    "_recordingName": "Service Accounts/Edit an app key owned by this service account returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "34c58e38e8d41fa7c7972ca9805020e5",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Edit_an_app_key_owned_by_this_service_account_returns_OK_response-1641829895@datadoghq.com\",\"service_account\":true,\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/service_accounts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 672,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"9604b133-26c1-4d2d-99de-b9dbea136897\",\"attributes\":{\"name\":null,\"handle\":\"9604b133-26c1-4d2d-99de-b9dbea136897\",\"created_at\":\"2022-01-10T15:51:36.056949+00:00\",\"modified_at\":\"2022-01-10T15:51:36.091800+00:00\",\"email\":\"test-edit_an_app_key_owned_by_this_service_account_returns_ok_response-1641829895@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/14f39236defad9d949b21a870522bfa6?s=48&d=retro\",\"title\":\"user title\",\"verified\":true,\"service_account\":true,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Active\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 536
      },
      {
        "_id": "44ba15bfa2ec936a8becb00d5e594787",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Edit_an_app_key_owned_by_this_service_account_returns_OK_response-1641829895\"},\"type\":\"application_keys\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/service_accounts/9604b133-26c1-4d2d-99de-b9dbea136897/application_keys"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 411,
            "text": "{\"data\":{\"type\":\"application_keys\",\"id\":\"243e87b0-f9bd-4ef9-803c-e6e50803501a\",\"attributes\":{\"name\":\"Test-Edit_an_app_key_owned_by_this_service_account_returns_OK_response-1641829895\",\"created_at\":\"2022-01-10T15:51:36.632024+00:00\",\"last4\":\"xxxx\",\"key\":\"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\"scopes\":null},\"relationships\":{\"owned_by\":{\"data\":{\"type\":\"users\",\"id\":\"9604b133-26c1-4d2d-99de-b9dbea136897\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 619
      },
      {
        "_id": "74630d3ea37bbfee3c3570f1f732d16b",
        "request": {
          "headers": [
            {
              "_fromType": "array",
       [...]
