{
  "log": {
    "_recordingName": "Service Accounts/Edit an app key owned by this service account returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "3ae1b31ff2b30d669daed4d204e130de",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Edit_an_app_key_owned_by_this_service_account_returns_OK_response-1639758431@datadoghq.com\",\"title\":\"user title\",\"service_account\":true},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/service_accounts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 672,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"d5b0e4a0-1e73-4e49-83a6-5778ae914aa8\",\"attributes\":{\"name\":null,\"handle\":\"d5b0e4a0-1e73-4e49-83a6-5778ae914aa8\",\"created_at\":\"2021-12-17T16:27:12.343965+00:00\",\"modified_at\":\"2021-12-17T16:27:12.379329+00:00\",\"email\":\"test-edit_an_app_key_owned_by_this_service_account_returns_ok_response-1639758431@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/c67948de6d17474d4a0f5ffbd5ed4f49?s=48&d=retro\",\"title\":\"user title\",\"verified\":true,\"service_account\":true,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Active\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "91"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "100"
            },
            {
              "name": "x-ratelimit-period",
              "value": "3600"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1968"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 508,
      },
      {
        "_id": "c60cd362131f89550c0b6bc3dca16969",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Edit_an_app_key_owned_by_this_service_account_returns_OK_response-1639758431\"},\"type\":\"application_keys\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/service_accounts/d5b0e4a0-1e73-4e49-83a6-5778ae914aa8/application_keys"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 397,
            "text": "{\"data\":{\"type\":\"application_keys\",\"id\":\"353fb924-134b-43ff-a826-e18d62ea4bdf\",\"attributes\":{\"name\":\"Test-Edit_an_app_key_owned_by_this_service_account_returns_OK_response-1639758431\",\"created_at\":\"2021-12-17T16:27:12.877682+00:00\",\"last4\":\"beef\",\"key\":\"deaddcc81a44288fbbbfb15efe1203df034abeef\"},\"relationships\":{\"owned_by\":{\"data\":{\"type\":\"users\",\"id\":\"d5b0e4a0-1e73-4e49-83a6-5778ae914aa8\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "332"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "400"
            },
            {
              "name": "x-ratelimit-period",
       [...]
