{
  "log": {
    "_recordingName": "Service Accounts/Edit an app key owned by this service account returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "15583ca35adf5c310b7467cefb63ee70",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Edit_an_app_key_owned_by_this_service_account_returns_OK_response-1652349206@datadoghq.com\",\"service_account\":true,\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/service_accounts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 672,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"2bac29f5-17f8-44ce-8b2b-bdd3feb60ace\",\"attributes\":{\"name\":null,\"handle\":\"2bac29f5-17f8-44ce-8b2b-bdd3feb60ace\",\"created_at\":\"2022-05-12T09:53:26.587713+00:00\",\"modified_at\":\"2022-05-12T09:53:26.619983+00:00\",\"email\":\"test-edit_an_app_key_owned_by_this_service_account_returns_ok_response-1652349206@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/24962bf4a23b952abdc2ecc056acc27b?s=48&d=retro\",\"title\":\"user title\",\"verified\":true,\"service_account\":true,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Active\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 509
      },
      {
        "_id": "f1d759c2ce08b2a096b7d4fc8c6a4106",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Edit_an_app_key_owned_by_this_service_account_returns_OK_response-1652349206\"},\"type\":\"application_keys\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/service_accounts/2bac29f5-17f8-44ce-8b2b-bdd3feb60ace/application_keys"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 444,
            "text": "{\"data\":{\"type\":\"application_keys\",\"id\":\"c2d9978a-2dcb-4a46-b412-e1b6142b1508\",\"attributes\":{\"name\":\"Test-Edit_an_app_key_owned_by_this_service_account_returns_OK_response-1652349206\",\"created_at\":\"2022-05-12T09:53:27.176448+00:00\",\"last4\":\"xxxx\",\"key\":\"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\"scopes\":null},\"relationships\":{\"owned_by\":{\"data\":{\"type\":\"users\",\"id\":\"2bac29f5-17f8-44ce-8b2b-bdd3feb60ace\"}},\"leak_information\":{\"data\":null}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 581
      },
      {
        "_id": "4f5d1768993da664c9bfbc14fca02140",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "applicati[...]
