{
  "log": {
    "_recordingName": "AWS Integration/AWS Integration - Create account with invalid aws_partition returns 400 API error response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "0c09c5ccb49225e73991bad29229e4b3",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"aws_account\":{\"account_tags\":[],\"auth_config\":{\"role_name\":\"test\"},\"aws_account_id\":\"172322422800\",\"aws_partition\":\"aws-test\",\"aws_regions\":{\"include_only\":[\"us-east-1\"]},\"logs_config\":{\"lambda_forwarder\":{\"lambdas\":[],\"sources\":[\"s3\"]}},\"metrics_config\":{\"namespace_filters\":{\"exclude_only\":[\"AWS/EC2\"],\"include_only\":[\"AWS/EC2\"]},\"tag_filters\":[{\"namespace\":\"AWS/EC2\",\"tags\":[]}]},\"resources_config\":{},\"traces_config\":{\"xray_services\":{\"include_only\":[\"AWS/AppSync\"]}}}},\"id\":\"172322422800\",\"type\":\"account\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integration/aws/accounts"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 77,
            "text": "{\"errors\":[{\"title\":\"Generic Error\",\"detail\":\"invalid partition: aws-test\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 311
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
