{
  "log": {
    "_recordingName": "Status Pages/Update degradation returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "42c409c141a5a556ec2b0cb082f558b5",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"components\":[{\"components\":[{\"name\":\"Login\",\"position\":0,\"type\":\"component\"},{\"name\":\"Settings\",\"position\":1,\"type\":\"component\"}],\"name\":\"Application\",\"type\":\"group\"}],\"domain_prefix\":\"b1cdee5431b9ec0e\",\"enabled\":true,\"name\":\"A Status Page\",\"type\":\"internal\",\"visualization_type\":\"bars_and_uptime_percentage\"},\"type\":\"status_pages\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/statuspages"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 1116,
            "text": "{\"data\":{\"id\":\"d8944219-6ebe-41c0-b1a3-7d3825a76bfd\",\"type\":\"status_pages\",\"attributes\":{\"company_logo\":null,\"components\":[{\"id\":\"8b1e12c2-92c2-4f05-a6f7-fbafdf68d0cc\",\"name\":\"Application\",\"type\":\"group\",\"position\":0,\"components\":[{\"id\":\"c77aa512-355d-4e4d-b960-23428179dd74\",\"name\":\"Login\",\"type\":\"component\",\"status\":\"operational\",\"position\":0},{\"id\":\"5d1cca48-baf7-4cf3-8896-c6d344e4a6aa\",\"name\":\"Settings\",\"type\":\"component\",\"status\":\"operational\",\"position\":1}]}],\"created_at\":\"2026-03-31T18:44:11.917685Z\",\"custom_domain\":null,\"custom_domain_enabled\":false,\"domain_prefix\":\"b1cdee5431b9ec0e\",\"email_header_image\":null,\"enabled\":true,\"favicon\":null,\"modified_at\":\"2026-03-31T18:44:11.917685Z\",\"name\":\"A Status Page\",\"page_url\":\"https://frog.datadoghq.com/status-pages/d8944219-6ebe-41c0-b1a3-7d3825a76bfd/view\",\"subscriptions_enabled\":false,\"type\":\"internal\",\"visualization_type\":\"bars_and_uptime_percentage\"},\"relationships\":{\"created_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}},\"last_modified_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 587
      },
      {
        "_id": "4560b2bf2bfcda9007616c17bf71f97b",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"components_affected\":[{\"id\":\"c77aa512-355d-4e4d-b960-23428179dd74\",\"status\":\"major_outage\"}],\"description\":\"Our API is experiencing elevated latency. We are investigating the issue.\",\"status\":\"investigating\",\"title\":\"Elevated API Latency\"},\"type\":\"degradations\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/statuspages/d8944219-6ebe-41c0-b1a3-7d3825a76bfd/degradations"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 1136,
            "text": "{\"data\":{\"id\":\"46ccbf2e-939a-4fd8-9c32-c45717b900d3\",\"type\":\"degradations\",\"attributes\":{\"components_affected\":[{\"id\":\"c77aa512-355d-4e4d-b960-23428179dd74\",\"name\":\"Login\",\"status\":\"major_outage\"}],\"created_at\":\"2026-03-31T18:44:12.533192Z\",\"description\":\"Our API is experiencing elevated latency. We are investigating the issue.\",\"modified_at\":\"2026-03-31T18:44:12.533192Z\",\"status\":\"investigating\",\"title\":\"Elevated API Latency\",\"updates\":[{\"id\":\"20bc5a96-f8cc-4854-b8da-a716ec05c3dc\",\"created_at\":\"2026-03-31T18:44:12.533192Z\",\"modified_at\":\"2026-03-31T18:44:12.533192Z\",\"started_at\":\"2026-03-31T18:44:12.533192Z\",\"status\":\"investigating\",\"description\":\"Our API is experiencing elevated latency. We are investigating the issue.\",\"components_affected\":[{\"id\":\"c77aa512-355d-4e4d-b960-23428179dd74\",\"name\":\"Login\",\"status\":\"major_outage\"}]}]},\"relationships\":{\"created_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}},\"last_modified_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}},\"status_page\":{\"data\":{\"id\":\"d8944219-6ebe-41c0-b1a3-7d3825a76bfd\",\"type\":\"status_pages\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 168
      },
      {
        "_id": "53757d3d18df8b358ed3c48ed9625b07",
        "request": {
          "headers": [
            {
              "_fromType": "[...]
