{
  "log": {
    "_recordingName": "Dashboards/Revoke a shared dashboard URL returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "d4ebeb0e0885b910f4aa3ca5d37d0d88",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"layout_type\":\"ordered\",\"title\":\"Test-Revoke_a_shared_dashboard_URL_returns_OK_response-1700812591 with Profile Metrics Query\",\"widgets\":[{\"definition\":{\"requests\":[{\"profile_metrics_query\":{\"compute\":{\"aggregation\":\"sum\",\"facet\":\"@prof_core_cpu_cores\"},\"group_by\":[{\"facet\":\"service\",\"limit\":10,\"sort\":{\"aggregation\":\"sum\",\"facet\":\"@prof_core_cpu_cores\",\"order\":\"desc\"}}],\"search\":{\"query\":\"runtime:jvm\"}}}],\"type\":\"timeseries\"}}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 846,
            "text": "{\"id\":\"fu6-4ez-vb5\",\"title\":\"Test-Revoke_a_shared_dashboard_URL_returns_OK_response-1700812591 with Profile Metrics Query\",\"description\":null,\"author_handle\":\"frog@datadoghq.com\",\"author_name\":null,\"layout_type\":\"ordered\",\"url\":\"/dashboard/fu6-4ez-vb5/test-revokeashareddashboardurlreturnsokresponse-1700812591-with-profile-metrics\",\"is_read_only\":false,\"template_variables\":null,\"widgets\":[{\"definition\":{\"requests\":[{\"profile_metrics_query\":{\"compute\":{\"aggregation\":\"sum\",\"facet\":\"@prof_core_cpu_cores\"},\"group_by\":[{\"facet\":\"service\",\"limit\":10,\"sort\":{\"aggregation\":\"sum\",\"facet\":\"@prof_core_cpu_cores\",\"order\":\"desc\"}}],\"search\":{\"query\":\"runtime:jvm\"}}}],\"type\":\"timeseries\"},\"id\":5260536581947900}],\"notify_list\":null,\"created_at\":\"2023-11-24T07:56:32.427967+00:00\",\"modified_at\":\"2023-11-24T07:56:32.427967+00:00\",\"restricted_roles\":[]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 623
      },
      {
        "_id": "51b3482abe4481b8abb602a513709283",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"dashboard_id\":\"fu6-4ez-vb5\",\"dashboard_type\":\"custom_timeboard\",\"global_time\":{\"live_span\":\"1h\"},\"share_list\":[\"testrevokeashareddashboardurlreturnsokresponse1700812591@datadoghq.com\"],\"share_type\":\"invite\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/public"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 531,
            "text": "{\"author\":{\"handle\":\"frog@datadoghq.com\",\"name\":null},\"dashboard_id\":\"fu6-4ez-vb5\",\"dashboard_type\":\"custom_timeboard\",\"global_time_selectable_enabled\":false,\"global_time\":{\"live_span\":\"1h\"},\"selectable_template_vars\":null,\"token\":\"fasjyydbcgwwc2uc-1c3c27ed4a9989e71dac11ee9fe3bc7d\",\"public_url\":\"https://p.datadoghq.com/sb/fasjyydbcgwwc2uc-1c3c27ed4a9989e71dac11ee9fe3bc7d\",\"created\":\"2023-11-24T07:56:33.026485+00:00\",\"share_type\":\"invite\",\"share_list\":[\"testrevokeashareddashboardurlreturnsokresponse1700812591@datadoghq.com\"]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 517
      },
      {
        "_id": "93d0d41072da6a782a9a3fa76c47b772",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/public/fasjyydbcgwwc2uc-1c3c27ed4a9989e71dac11ee9fe3bc7d"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 87,
            "text": "{\"deleted_public_dashboard_token\":\"fasjyydbcgwwc2uc-1c3c27ed4a9989e71dac11ee9fe3bc7d\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 446
      },
      {
        "_id": "93d0d41072da6a782a9a3fa76c47b772",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/public/fasjyydbcgwwc2uc-1c3c27ed4a9989e71dac11ee9fe3bc7d"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 102,
            "text": "{\"errors\":[\"Public Dashboard with token fasjyydbcgwwc2uc-1c3c27ed4a9989e71dac11ee9fe3bc7d not found\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 384
      },
      {
        "_id": "f824a2fa438f491b3e0912bd2bd1ae52",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/fu6-4ez-vb5"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 39,
            "text": "{\"deleted_dashboard_id\":\"fu6-4ez-vb5\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 469
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
