{
  "log": {
    "_recordingName": "Spans/Aggregate spans returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "e3c94e253d7fea59e56f563976e09c8c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"compute\":[{\"aggregation\":\"count\",\"interval\":\"5m\",\"type\":\"timeseries\"}],\"filter\":{\"from\":\"now-15m\",\"query\":\"*\",\"to\":\"now\"}},\"type\":\"aggregate_request\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/spans/analytics/aggregate"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 462,
            "text": "{\"data\":[{\"type\":\"bucket\",\"id\":\"6e46dab5-e68e-4697-82e6-a4ee241037e9\",\"attributes\":{\"compute\":{\"c0\":[{\"time\":\"2023-06-29T09:40:00.000Z\",\"value\":154},{\"time\":\"2023-06-29T09:45:00.000Z\",\"value\":513},{\"time\":\"2023-06-29T09:50:00.000Z\",\"value\":357},{\"time\":\"2023-06-29T09:55:00.000Z\",\"value\":196}]},\"by\":{}}}],\"meta\":{\"elapsed\":27,\"request_id\":\"pddv1ChZjQUlYNUd2UFFPdW94MXo0a25KdmVRIi4KHtxbw_pw4TotFiThwqXCJgIkQfm0Fiipg5dt0SkRehIMJcIJBiPBYooWmylp\",\"status\":\"done\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 388
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
