{
  "log": {
    "_recordingName": "Key Management/Create an Application key with scopes for current user returns \"Created\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "bb8606a4003fec2be2fd213b6b293bb8",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Create_an_Application_key_with_scopes_for_current_user_returns_Created_response-1640128021\",\"scopes\":[\"dashboards_read\",\"dashboards_write\",\"dashboards_public_share\"]},\"type\":\"application_keys\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/current_user/application_keys"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 485,
            "text": "{\"data\":{\"type\":\"application_keys\",\"id\":\"1cf08b29-b3ee-4b6a-a6fb-3f452b8bc371\",\"attributes\":{\"name\":\"Test-Create_an_Application_key_with_scopes_for_current_user_returns_Created_response-1640128021\",\"created_at\":\"2021-12-21T23:07:02.147605+00:00\",\"last4\":\"beef\",\"key\":\"dead937e0ace336ee45ed445a174fb065953beef\",\"scopes\":[\"dashboards_read\",\"dashboards_write\",\"dashboards_public_share\"]},\"relationships\":{\"owned_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 527
      },
      {
        "_id": "59e87c77e1722db9bfae952841d573d7",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/current_user/application_keys/1cf08b29-b3ee-4b6a-a6fb-3f452b8bc371"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 365
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
