{
  "log": {
    "_recordingName": "RUM/Create a new RUM application returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "f8f702eab48e20df059a1913bb826430",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"my_new_rum_application\",\"type\":\"ios\"},\"type\":\"rum_application_create\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/rum/applications"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 464,
            "text": "{\"data\":{\"attributes\":{\"updated_by_handle\":\"frog@datadoghq.com\",\"application_id\":\"a5107087-ff92-413e-9dac-7ee1ebaa2322\",\"name\":\"my_new_rum_application\",\"created_by_handle\":\"frog@datadoghq.com\",\"created_at\":1670264406913,\"org_id\":321813,\"updated_at\":1670264406913,\"is_active\":false,\"hash\":\"pub827b35dae6920b425915f489a4a309ac\",\"client_token\":\"pub827b35dae6920b425915f489a4a309ac\",\"type\":\"ios\"},\"type\":\"rum_application\",\"id\":\"a5107087-ff92-413e-9dac-7ee1ebaa2322\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 509
      },
      {
        "_id": "a6cc7a6d8b04047d9014d413a2ba2a5f",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/rum/applications/a5107087-ff92-413e-9dac-7ee1ebaa2322"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 464
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
