{
  "log": {
    "_recordingName": "RUM/Create a new RUM application returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "fdbfdd63af34a2d6e68dddefe40ca9b8",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"test-rum-2b75921f066af13d\",\"type\":\"ios\"},\"type\":\"rum_application_create\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/rum/applications"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 467,
            "text": "{\"data\":{\"type\":\"rum_application\",\"id\":\"40e84dc3-03d2-4839-83c0-929248f0b18c\",\"attributes\":{\"type\":\"ios\",\"application_id\":\"40e84dc3-03d2-4839-83c0-929248f0b18c\",\"is_active\":false,\"org_id\":321813,\"updated_at\":1693328714224,\"name\":\"test-rum-2b75921f066af13d\",\"updated_by_handle\":\"frog@datadoghq.com\",\"hash\":\"pube38c4c6cfb13be706c9f90c6c949e507\",\"client_token\":\"pube38c4c6cfb13be706c9f90c6c949e507\",\"created_at\":1693328714224,\"created_by_handle\":\"frog@datadoghq.com\"}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 213
      },
      {
        "_id": "4385755cf10a0d4df8b2b457f0c64e9d",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/rum/applications/40e84dc3-03d2-4839-83c0-929248f0b18c"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 203
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
