{
  "log": {
    "_recordingName": "RUM/Create a new RUM application returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "f8f702eab48e20df059a1913bb826430",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"my_new_rum_application\",\"type\":\"ios\"},\"type\":\"rum_application_create\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/rum/applications"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 393,
            "text": "{\"data\":{\"attributes\":{\"updated_by_handle\":\"frog@datadoghq.com\",\"application_id\":\"0e3f5c84-1d29-4d03-83aa-ed8d4a8d9553\",\"name\":\"my_new_rum_application\",\"created_by_handle\":\"frog@datadoghq.com\",\"created_at\":1659974731712,\"org_id\":321813,\"updated_at\":1659974731712,\"hash\":\"pubfd2f098023c1b1051e32e437d3d7a89f\",\"type\":\"ios\"},\"type\":\"rum_application\",\"id\":\"0e3f5c84-1d29-4d03-83aa-ed8d4a8d9553\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 917
      },
      {
        "_id": "75ee22c0e1fdb55146653d36c0dd1658",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/rum/applications/0e3f5c84-1d29-4d03-83aa-ed8d4a8d9553"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 235
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
