{
  "log": {
    "_recordingName": "RUM/Create a new RUM application returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "f45a54cf4611777450adc217a52ccbee",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"test-rum-5be7aad200899ffd\",\"type\":\"ios\"},\"type\":\"rum_application_create\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/rum/applications"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 672,
            "text": "{\"data\":{\"type\":\"rum_application\",\"attributes\":{\"hash\":\"pub53e9a8788cac8b240efc0bfd17073059\",\"type\":\"ios\",\"name\":\"test-rum-5be7aad200899ffd\",\"tags\":[],\"created_at\":1733845240406,\"updated_at\":1733845240406,\"created_by_handle\":\"frog@datadoghq.com\",\"rum_enabled_at\":1733845240406,\"org_id\":321813,\"updated_by_handle\":\"frog@datadoghq.com\",\"product_analytics_disabled_at\":1733845240406,\"rum_enabled\":true,\"application_id\":\"2ce2bdc3-efa2-4182-9bc1-b75b2ff09be4\",\"product_analytics_enabled_at\":1733845240406,\"rum_disabled_at\":0,\"product_analytics_enabled\":false,\"is_active\":false,\"client_token\":\"pub53e9a8788cac8b240efc0bfd17073059\"},\"id\":\"2ce2bdc3-efa2-4182-9bc1-b75b2ff09be4\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 511
      },
      {
        "_id": "efe35e68a51ec2fa836cac138538c159",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/rum/applications/2ce2bdc3-efa2-4182-9bc1-b75b2ff09be4"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 576
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
