{
  "log": {
    "_recordingName": "Metrics/List distinct metric volumes by metric name returns \"Success\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "cf92ac8aefac6f021bd83b24cb918b69",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "text/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "text/json",
            "params": [],
            "text": "{\"series\":[{\"metric\":\"static_test_metric_donotdelete\",\"points\":[[1685718947,1.1]],\"tags\":[\"test:static_test_metric_donotdelete\"],\"type\":\"gauge\"}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/series"
        },
        "response": {
          "content": {
            "mimeType": "text/json",
            "size": 16,
            "text": "{\"status\": \"ok\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/json"
            }
          ],
          "status": 202,
          "statusText": "Accepted"
        },
        "time": 73
      },
      {
        "_id": "e97c611510c2d55cff6e61471c65890c",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/metrics/static_test_metric_donotdelete/volumes"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 127,
            "text": "{\"data\":{\"type\":\"metric_volumes\",\"id\":\"static_test_metric_donotdelete\",\"attributes\":{\"indexed_volume\":1,\"ingested_volume\":1}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 156
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
