{
  "log": {
    "_recordingName": "Cases/Update case status returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "0a6534d042f2507564f87ab28f449a8d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"priority\":\"P4\",\"title\":\"My new case\",\"type\":\"STANDARD\"},\"relationships\":{\"project\":{\"data\":{\"id\":\"d4bbe1af-f36e-42f1-87c1-493ca35c320e\",\"type\":\"project\"}}},\"type\":\"case\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/cases"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 749,
            "text": "{\"data\":{\"id\":\"ceae478d-b504-4cb7-bad2-e8f8e5a0a77b\",\"type\":\"case\",\"attributes\":{\"attributes\":{},\"created_at\":\"2024-02-07T18:00:45.905784777Z\",\"creation_source\":\"MANUAL\",\"description\":\"\",\"insights\":[],\"internal_id\":\"ceae478d-b504-4cb7-bad2-e8f8e5a0a77b\",\"key\":\"DDFC-15\",\"priority\":\"P4\",\"public_id\":\"75\",\"status\":\"OPEN\",\"title\":\"My new case\",\"type\":\"STANDARD\"},\"relationships\":{\"created_by\":{\"data\":{\"id\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\",\"type\":\"user\"}},\"project\":{\"data\":{\"id\":\"d4bbe1af-f36e-42f1-87c1-493ca35c320e\",\"type\":\"project\"}}}},\"included\":[{\"id\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\",\"type\":\"user\",\"attributes\":{\"email\":\"team-intg-tools-libs-spam@datadoghq.com\",\"handle\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\",\"name\":\"CI Account\"}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 312
      },
      {
        "_id": "2fa2347352a0ad7e0155a0f8fd387cf5",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"status\":\"IN_PROGRESS\"},\"type\":\"case\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/cases/ceae478d-b504-4cb7-bad2-e8f8e5a0a77b/status"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 879,
            "text": "{\"data\":{\"id\":\"ceae478d-b504-4cb7-bad2-e8f8e5a0a77b\",\"type\":\"case\",\"attributes\":{\"attributes\":{},\"created_at\":\"2024-02-07T18:00:45.905785Z\",\"creation_source\":\"MANUAL\",\"description\":\"\",\"insights\":[],\"internal_id\":\"ceae478d-b504-4cb7-bad2-e8f8e5a0a77b\",\"key\":\"DDFC-15\",\"modified_at\":\"2024-02-07T18:00:46.22949Z\",\"priority\":\"P4\",\"public_id\":\"75\",\"status\":\"IN_PROGRESS\",\"title\":\"My new case\",\"type\":\"STANDARD\"},\"relationships\":{\"created_by\":{\"data\":{\"id\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\",\"type\":\"user\"}},\"modified_by\":{\"data\":{\"id\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\",\"type\":\"user\"}},\"project\":{\"data\":{\"id\":\"d4bbe1af-f36e-42f1-87c1-493ca35c320e\",\"type\":\"project\"}}}},\"included\":[{\"id\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\",\"type\":\"user\",\"attributes\":{\"email\":\"team-intg-tools-libs-spam@datadoghq.com\",\"handle\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\",\"name\":\"CI Account\"}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 316
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
