{
  "log": {
    "_recordingName": "Action Connection/Get an existing Action Connection returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "8123f3afec14068c253a39eb8f53c084",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/actions/connections/bad-format"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 85,
            "text": "{\"errors\":[{\"title\":\"Generic Error\",\"detail\":\"error connectionId not a valid UUID\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 148
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
