{
  "log": {
    "_recordingName": "Cloud Workload Security/Create a Cloud Workload Security Agent rule returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "76d982cc8f5dcff0c7022bf62c803117",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"description\":\"Test Agent rule\",\"enabled\":true,\"expression\":\"exec.file.name == \\\"sh\\\"\",\"name\":\"testcreateacloudworkloadsecurityagentrulereturnsokresponse1652349080\"},\"type\":\"agent_rule\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/security_monitoring/cloud_workload_security/agent_rules"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 455,
            "text": "{\"data\":{\"attributes\":{\"category\":\"Process Activity\",\"name\":\"testcreateacloudworkloadsecurityagentrulereturnsokresponse1652349080\",\"creator\":{\"handle\":\"frog@datadoghq.com\",\"name\":null},\"description\":\"Test Agent rule\",\"enabled\":true,\"defaultRule\":false,\"version\":1,\"updater\":{\"handle\":\"frog@datadoghq.com\",\"name\":null},\"updateDate\":1652349080821,\"creationDate\":1652349080821,\"expression\":\"exec.file.name == \\\"sh\\\"\"},\"type\":\"agent_rule\",\"id\":\"qb1-cn9-jwq\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 490
      },
      {
        "_id": "19f31fc0a82606c91642eca4c0d035c6",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/security_monitoring/cloud_workload_security/agent_rules/qb1-cn9-jwq"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 0
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 476
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
