{
  "log": {
    "_recordingName": "Service Accounts/Get an access token for a service account returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "145227f547e335aa327f58dc2e4b258b",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Get_an_access_token_for_a_service_account_returns_OK_response-1775250183@datadoghq.com\",\"service_account\":true,\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/service_accounts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 738,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"8161ef90-2fa0-11f1-991f-62f4bfc595d0\",\"attributes\":{\"name\":null,\"handle\":\"8161ef90-2fa0-11f1-991f-62f4bfc595d0\",\"created_at\":\"2026-04-03T21:03:03.714879+00:00\",\"modified_at\":\"2026-04-03T21:03:03.714879+00:00\",\"email\":\"test-get_an_access_token_for_a_service_account_returns_ok_response-1775250183@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/bb3c6df0d99066bbe05cf7dff99b5561?s=48&d=retro\",\"title\":\"user title\",\"verified\":true,\"service_account\":true,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Active\",\"last_login_time\":null},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 293
      },
      {
        "_id": "fdccf2049c1e92e90008e334c10c3ed8",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Get_an_access_token_for_a_service_account_returns_OK_response-1775250183\",\"scopes\":[\"dashboards_read\"]},\"type\":\"personal_access_tokens\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/service_accounts/8161ef90-2fa0-11f1-991f-62f4bfc595d0/access_tokens"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 529,
            "text": "{\"data\":{\"id\":\"f2362958-1e67-414b-985d-d3196afd9315\",\"type\":\"personal_access_tokens\",\"attributes\":{\"alias\":\"7N2tUOwxIjSF8QziOBIpVd\",\"created_at\":\"2026-04-03T21:03:04.002376467Z\",\"expires_at\":null,\"key\":\"xxxxx_xxxxxxxxxxxxxxxxxxxxxx_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\"name\":\"Test-Get_an_access_token_for_a_service_account_returns_OK_response-1775250183\",\"public_portion\":\"7N2tUOwxIjSF8QziOBIpVd\",\"scopes\":[\"dashboards_read\"]},\"relationships\":{\"owned_by\":{\"data\":{\"id\":\"8161ef90-2fa0-11f1-991f-62f4bfc595d0\",\"type\":\"users\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 182
      },
      {
        "_id": "8e65c5a64047d080cfc9d5fed107089c",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/service_accounts/8161ef90-2fa0-11f1-991f-62f4bfc595d0/access_tokens/f2362958-1e67-414b-985d-d3196afd9315"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 472,
            "text": "{\"data\":{\"id\":\"f2362958-1e67-414b-985d-d3196afd9315\",\"type\":\"personal_access_tokens\",\"attributes\":{\"alias\":\"7N2tUOwxIjSF8QziOBIpVd\",\"created_at\":\"2026-04-03T21:03:04.002376Z\",\"expires_at\":null,\"last_used_at\":null,\"name\":\"Test-Get_an_access_token_for_a_service_account_returns_OK_response-1775250183\",\"public_portion\":\"7N2tUOwxIjSF8QziOBIpVd\",\"scopes\":[\"dashboards_read\"]},\"relationships\":{\"owned_by\":{\"data\":{\"id\":\"8161ef90-2fa0-11f1-991f-62f4bfc595d0\",\"type\":\"users\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusT[...]
