{
  "log": {
    "_recordingName": "Logs Restriction Queries/List roles for a restriction query returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "eb3b308b3d569ef84096dd7718f5185e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"restriction_query\":\"env:sandbox\"},\"type\":\"logs_restriction_queries\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/config/restriction_queries"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 235,
            "text": "{\"data\":{\"type\":\"logs_restriction_queries\",\"id\":\"83bb0986-c3fd-11f0-8604-da7ad0900002\",\"attributes\":{\"restriction_query\":\"env:sandbox\",\"created_at\":\"2025-11-17T21:36:45.269298+00:00\",\"modified_at\":\"2025-11-17T21:36:45.269298+00:00\"}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 363
      },
      {
        "_id": "82f0bcfca6cf0d086863a9754b6110c0",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/config/restriction_queries/83bb0986-c3fd-11f0-8604-da7ad0900002/roles"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 12,
            "text": "{\"data\":[]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 375
      },
      {
        "_id": "3212abd50bfe9f7d26a892b29df9c3d0",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/config/restriction_queries/83bb0986-c3fd-11f0-8604-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=utf-8",
            "size": 0
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=utf-8"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 378
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
