{
  "log": {
    "_recordingName": "Microsoft Teams Integration/Create workflow webhook handle returns \"CREATED\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "e165a4b1de733824ce4ab8968076268f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Create_workflow_webhook_handle_returns_CREATED_response-1748457950\",\"url\":\"https://example.logic.azure.com/workflows/123\"},\"type\":\"workflows-webhook-handle\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integration/ms-teams/configuration/workflows-webhook-handles"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 184,
            "text": "{\"data\":{\"id\":\"6207c675-cdc3-4cd4-903a-e7a6a3fbac0d\",\"type\":\"workflows-webhook-handle\",\"attributes\":{\"name\":\"Test-Create_workflow_webhook_handle_returns_CREATED_response-1748457950\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 110
      },
      {
        "_id": "55239a929e911f351085d76e828f7e14",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integration/ms-teams/configuration/workflows-webhook-handles/6207c675-cdc3-4cd4-903a-e7a6a3fbac0d"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 99
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
