{
  "log": {
    "_recordingName": "Logs Pipelines/Create a pipeline with Array Map Processor returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "4ca93b6145a04b6dde4c1f4e0cac5b66",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"filter\":{\"query\":\"source:python\"},\"name\":\"testPipelineArrayMap\",\"processors\":[{\"is_enabled\":true,\"name\":\"map items\",\"preserve_source\":true,\"processors\":[{\"preserve_source\":true,\"sources\":[\"$sourceElem.id\"],\"target\":\"$targetElem.uid\",\"type\":\"attribute-remapper\"},{\"target\":\"$targetElem.label\",\"template\":\"item-%{$sourceElem.id}\",\"type\":\"string-builder-processor\"}],\"source\":\"items\",\"target\":\"out\",\"type\":\"array-map-processor\"}],\"tags\":[]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/logs/config/pipelines"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 584,
            "text": "{\"id\":\"9R-fEK0LRyWg0HzDbM-gOg\",\"type\":\"pipeline\",\"name\":\"testPipelineArrayMap\",\"is_enabled\":false,\"is_read_only\":false,\"filter\":{\"query\":\"source:python\"},\"processors\":[{\"name\":\"map items\",\"is_enabled\":true,\"source\":\"items\",\"target\":\"out\",\"processors\":[{\"sources\":[\"$sourceElem.id\"],\"target\":\"$targetElem.uid\",\"preserve_source\":true,\"override_on_conflict\":false,\"type\":\"attribute-remapper\"},{\"template\":\"item-%{$sourceElem.id}\",\"target\":\"$targetElem.label\",\"is_replace_missing\":false,\"type\":\"string-builder-processor\"}],\"preserve_source\":true,\"type\":\"array-map-processor\"}],\"tags\":[]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 509
      },
      {
        "_id": "277bef9bd6aed2343d1dfb42619dab8e",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/logs/config/pipelines/9R-fEK0LRyWg0HzDbM-gOg"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 3,
            "text": "{}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 723
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
