{
  "log": {
    "_recordingName": "Sensitive Data Scanner/Update Scanning Rule returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "01611a935e7406303c51f707c3b51e78",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/sensitive-data-scanner/config"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 4331,
            "text": "{\"data\":{\"id\":\"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87\",\"attributes\":{},\"type\":\"sensitive_data_scanner_configuration\",\"relationships\":{\"groups\":{\"data\":[{\"id\":\"z9vY6YO8R-2q6dv_rTUOCA\",\"type\":\"sensitive_data_scanner_group\"},{\"id\":\"01OnORacS5qHeVO7C97drg\",\"type\":\"sensitive_data_scanner_group\"},{\"id\":\"IuYiCydSTAWqDyW5242-XA\",\"type\":\"sensitive_data_scanner_group\"},{\"id\":\"HwQk4sJHSRmhHyo6KyXHWw\",\"type\":\"sensitive_data_scanner_group\"},{\"id\":\"NChKshYdT6SvdiJE62DQgg\",\"type\":\"sensitive_data_scanner_group\"},{\"id\":\"q6h4G_icTLWHvnT9U90PfQ\",\"type\":\"sensitive_data_scanner_group\"},{\"id\":\"sOpLckMyTYW1ZXMXMeJnnQ\",\"type\":\"sensitive_data_scanner_group\"},{\"id\":\"_o1TJ7yVSoKJLD9ioIyjeQ\",\"type\":\"sensitive_data_scanner_group\"},{\"id\":\"yWBB9T6cQwarJAo0GzrdXw\",\"type\":\"sensitive_data_scanner_group\"}]}}},\"meta\":{\"version\":135500,\"count_limit\":100,\"group_count_limit\":20,\"is_pci_compliant\":false,\"has_highlight_enabled\":true,\"has_multi_pass_enabled\":true},\"included\":[{\"id\":\"z9vY6YO8R-2q6dv_rTUOCA\",\"attributes\":{\"name\":\"Example-Update_Scanning_Group_returns_OK_response_1696199477\",\"is_enabled\":false,\"filter\":{\"query\":\"*\"},\"product_list\":[\"logs\"]},\"type\":\"sensitive_data_scanner_group\",\"relationships\":{\"configuration\":{\"data\":{\"id\":\"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87\",\"type\":\"sensitive_data_scanner_configuration\"}},\"rules\":{\"data\":[]}}},{\"id\":\"01OnORacS5qHeVO7C97drg\",\"attributes\":{\"name\":\"my-test-group\",\"is_enabled\":false,\"filter\":{\"query\":\"*\"},\"product_list\":[\"logs\"]},\"type\":\"sensitive_data_scanner_group\",\"relationships\":{\"configuration\":{\"data\":{\"id\":\"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87\",\"type\":\"sensitive_data_scanner_configuration\"}},\"rules\":{\"data\":[]}}},{\"id\":\"IuYiCydSTAWqDyW5242-XA\",\"attributes\":{\"name\":\"my-test-group\",\"is_[...]
