{
  "log": {
    "_recordingName": "Sensitive Data Scanner/Update Scanning Rule returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "01611a935e7406303c51f707c3b51e78",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/sensitive-data-scanner/config"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 10643,
            "text": "{\"data\":{\"attributes\":{},\"id\":\"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87\",\"relationships\":{\"groups\":{\"data\":[{\"id\":\"40f36cf1-dc37-46fd-a4df-93d55971f6c3\",\"type\":\"sensitive_data_scanner_group\"},{\"id\":\"8b25277f-4192-4079-88b9-be2d39c2a5a9\",\"type\":\"sensitive_data_scanner_group\"},{\"id\":\"6b02bc6f-1588-433d-8a5d-fab867ac386d\",\"type\":\"sensitive_data_scanner_group\"},{\"id\":\"99cae8b0-3cd0-4fc8-88ba-501c8ae5c8bb\",\"type\":\"sensitive_data_scanner_group\"},{\"id\":\"14fa0ce6-9e1c-4570-87ec-c3d42122166e\",\"type\":\"sensitive_data_scanner_group\"},{\"id\":\"e83cca8a-afe8-4012-92c9-b70a3ca72483\",\"type\":\"sensitive_data_scanner_group\"},{\"id\[...]
