{
  "log": {
    "_recordingName": "Sensitive Data Scanner/Update Scanning Rule returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "01611a935e7406303c51f707c3b51e78",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/sensitive-data-scanner/config"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 485,
            "text": "{\"data\":{\"attributes\":{},\"id\":\"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87\",\"relationships\":{\"groups\":{\"data\":[]}},\"type\":\"sensitive_data_scanner_configuration\"},\"meta\":{\"count_limit\":500,\"group_count_limit\":20,\"has_cascading_enabled\":false,\"has_highlight_enabled\":true,\"has_multi_pass_enabled\":true,\"is_configuration_superseded\":false,\"is_float_sampling_rate_enabled\":false,\"is_pci_compliant\":false,\"min_sampling_rate\":10,\"rule_count_limit\":500,\"version\":278017}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 452
      },
      {
        "_id": "e6af4a2fdfda8f066f3af5528b238a9d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"filter\":{\"query\":\"*\"},\"is_enabled\":false,\"name\":\"my-test-group\",\"product_list\":[\"logs\"],\"samplings\":[{\"product\":\"logs\",\"rate\":100}]},\"relationships\":{\"configuration\":{\"data\":{\"id\":\"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87\",\"type\":\"sensitive_data_scanner_configuration\"}},\"rules\":{\"data\":[]}},\"type\":\"sensitive_data_scanner_group\"},\"meta\":{}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/groups"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 466,
            "text": "{\"data\":{\"id\":\"3ad08396-bb28-49b6-bb0b-3743eec0b822\",\"type\":\"sensitive_data_scanner_group\",\"attributes\":{\"description\":\"\",\"filter\":{\"query\":\"*\"},\"is_enabled\":false,\"name\":\"my-test-group\",\"product_list\":[\"logs\"],\"samplings\":[{\"product\":\"logs\",\"rate\":100}]},\"relationships\":{\"configuration\":{\"data\":{\"id\":\"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87\",\"type\":\"sensitive_data_scanner_configuration\"}},\"rules\":{\"data\":[]}}},\"meta\":{\"version\":278018}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 425
      },
      {
        "_id": "582d889b4ce22e450bef9bc037e4784b",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"is_enabled\":true,\"name\":\"Test-Update_Scanning_Rule_returns_OK_response-1768828286\",\"namespaces\":[\"admin.email\"],\"pattern\":\"pattern\",\"tags\":[\"sensitive_data:true\"],\"text_replacement\":{\"type\":\"none\"}},\"relationships\":{\"group\":{\"data\":{\"id\":\"3ad08396-bb28-49b6-bb0b-3743eec0b822\",\"type\":\"sensitive_data_scanner_group\"}}},\"type\":\"sensitive_data_scanner_rule\"},\"meta\":{}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/rules"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 487,
            "text": "{\"data\":{\"id\":\"ab1051c8-0c7a-4974-b994-4f850b8f0306\",\"type\":\"sensitive_data_scanner_rule\",\"attributes\":{\"excluded_namespaces\":[],\"is_enabled\":true,\"labels\":[],\"name\":\"Test-Update_Scanning_Rule_returns_OK_response-1768828286\",\"namespaces\":[\"admin.email\"],\"pattern\":\"pattern\",\"tags\":[\"sensitive_data:true\"],\"text_replacement\":{\"type\":\"none\"}},\"relationships\":{\"group\":{\"data\":{\"id\":\"3ad08396-bb28-49b6-bb0b-3743eec0b822\",\"type\":\"sensitive_data_scanner_group\"}}}},\"meta\":{\"version\":278019}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 468
      },
      {
        "_id": "c2bdd770fad963f026159ba140e11529",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"included_keyword_configuration\":{\"character_count\":35,\"keywords\":[\"credit card\",\"cc\"]},\"is_enabled\":true,\"name\":\"Test-Update_Scanning_Rule_returns_OK_response-1768828286\",\"pattern\":\"pattern\",\"priority\":5,\"tags\":[\"sensitive_data:true\"],\"text_replacement\":{\"type\":\"none\"}},\"id\":\"ab1051c8-0c7a-4974-b994-4f850b8f0306\",\"type\":\"sensitive_data_scanner_rule\"},\"meta\":{}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/rules/ab1051c8-0c7a-4974-b994-4f850b8f0306"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 27,
            "text"[...]
