{
  "log": {
    "_recordingName": "Usage Metering/Get hourly usage for CSM Pro returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "6784202580c0b49a9247e6b54ae734d1",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "start_hr",
              "value": "2023-09-17T21:11:12.476Z"
            }
          ],
          "url": "https://api.datadoghq.com/api/v1/usage/cspm?start_hr=2023-09-17T21%3A11%3A12.476Z"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 6852,
            "text": "{\"usage\":[{\"hour\":\"2023-09-17T21:00:00+00:00\",\"region\":\"us\",\"host_count\":null,\"container_count\":null,\"aas_host_count\":null,\"aws_host_count\":null,\"gcp_host_count\":null,\"azure_host_count\":null,\"compliance_host_count\":null,\"org_name\":\"DD Integration Tests (321813)\",\"public_id\":\"fasjyydbcgwwc2uc\"},{\"hour\":\"2023-09-17T22:00:00+00:00\",\"region\":\"us\",\"host_count\":null,\"container_count\":null,\"aas_host_count\":null,\"aws_host_count\":null,\"gcp_host_count\":null,\"azure_host_count\":null,\"compliance_host_count\":null,\"org_name\":\"DD Integration Tests (321813)\",\"public_id\":\"fasjyydbcgwwc2uc\"},{\"hour\":\"2023-09-17T23:00:00+00:00\",\"region\":\"us\",\"host_count\":null,\"container_count\":null,\"aas_host_count\":null,\"aws_host_count\":null,\"gcp_host_c[...]
