{
  "log": {
    "_recordingName": "Usage Metering/Get hourly usage for CSM Pro returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "12ca8b04e03be5c789024893aa8ca9d6",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "start_hr",
              "value": "2025-05-09T11:35:35.472Z"
            }
          ],
          "url": "https://api.datadoghq.com/api/v1/usage/cspm?start_hr=2025-05-09T11%3A35%3A35.472Z"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 6852,
            "text": "{\"usage\":[{\"hour\":\"2025-05-09T11:00:00+00:00\",\"region\":\"us\",\"host_count\":null,\"container_count\":null,\"aas_host_count\":null,\"aws_host_count\":null,\"gcp_host_count\":null,\"azure_host_count\":null,\"compliance_host_count\":null,\"org_name\":\"DD Integration Tests (321813)\",\"public_id\":\"fasjyydbcgwwc2uc\"},{\"hour\":\"2025-05-09T12:00:00+00:00\",\"region\":\"us\",\"host_count\":null,\"container_count\":null,\"aas_host_count\":null,\"aws_host_count\":null,\"gcp_host_count\":null,\"azure_host_count\":null,\"compliance_host_count\":null,\"org_name\":\"DD Integration Tests (321813)\",\"public_id\":\"fasjyydbcgwwc2uc\"},{\"hour\":\"2025-05-09T13:00:00+00:00\",\"region\":\"us\",\"host_count\":null,\"container_count\":null,\"aas_host_count\":null,\"aws_host_count\":null,\"gcp_host_c[...]
