{
  "log": {
    "_recordingName": "Key Management/Get all Application keys returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "4dc1d38d8f4d7a39a3c245170b25a9c0",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Get_all_Application_keys_returns_OK_response-1639757124\"},\"type\":\"application_keys\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/current_user/application_keys"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 376,
            "text": "{\"data\":{\"type\":\"application_keys\",\"id\":\"99423f64-d715-47f5-8188-d03e0d508b8c\",\"attributes\":{\"name\":\"Test-Get_all_Application_keys_returns_OK_response-1639757124\",\"created_at\":\"2021-12-17T16:05:25.175706+00:00\",\"last4\":\"beef\",\"key\":\"deaddcc81a44288fbbbfb15efe1203df034abeef\"},\"relationships\":{\"owned_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 359,
      },
      {
        "_id": "7c9af4eb2d9f1c8b8c2ba000fb891457",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/application_keys"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 445,
            "text": "{\"meta\": {\"page\": {\"total_filtered_count\": 28}, \"max_allowed_per_user\": 1000}, \"data\": [{\"type\": \"application_keys\", \"id\": \"f22f59f2-50cd-4d48-b8b7-1ed748973ce8\", \"attributes\": {\"name\": \"Test-Typescript-Delete_an_Application_key_returns_No_Content_response-1639174548\", \"created_at\": \"2021-12-10T22:15:49.116590+00:00\", \"last4\": \"beef\"}, \"relationships\": {\"owned_by\": {\"data\": {\"type\": \"users\", \"id\": \"9919ec9b-ebc7-49ee-8dc8-03626e717cca\"}}}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 417,
      },
      {
        "_id": "71643f8b6b398b94638ad7133f03d3a2",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/current_user/application_keys/99423f64-d715-47f5-8188-d03e0d508b8c"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 413,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
