{
  "log": {
    "_recordingName": "Cloud Cost Management/Get a budget returns \"Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "3ae9efe656040503bf3bc22cbaf6310f",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/cost/budget/9d055d22-0a0a-0a0a-aaa0-00000000000a"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 49,
            "text": "{\"errors\":[{\"status\":\"404\",\"title\":\"Not Found\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 303
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
