{
  "log": {
    "_recordingName": "Monitor Notification Rules/Update a monitor notification rule returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "262c09851992c2c860ce8a875d60bd21",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"filter\":{\"tags\":[\"app:test-update_a_monitor_notification_rule_returns_ok_response-1743713885\"]},\"name\":\"test rule\",\"recipients\":[\"slack-monitor-app\"]},\"type\":\"monitor-notification-rule\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/monitor/notification_rule"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 400,
            "text": "{\"data\":{\"type\":\"monitor-notification-rule\",\"attributes\":{\"recipients\":[\"slack-monitor-app\"],\"creator_uuid\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"created_at\":\"2025-04-03T20:58:05.737805+00:00\",\"modified_at\":\"1970-01-01T00:00:00+00:00\",\"filter\":{\"tags\":[\"app:test-update_a_monitor_notification_rule_returns_ok_response-1743713885\"]},\"name\":\"test rule\"},\"id\":\"f81c2483-18e3-4db3-ad1d-56e2e0ce41ef\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 167
      },
      {
        "_id": "e43745b329e0a35d86d7f62588218297",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"filter\":{\"tags\":[\"test:test-update_a_monitor_noti[...]
