{
  "log": {
    "_recordingName": "Actions Datastores/Bulk write datastore items returns \"Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "7b85df98bd95d5668b6beaa5d48a00fa",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"values\":[{\"id\":\"cust_3141\",\"name\":\"Johnathan\"},{\"id\":\"cust_3142\",\"name\":\"Mary\"}]},\"type\":\"items\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/actions-datastores/70b87c26-886f-497a-bd9d-09f53bc9b40c/items/bulk"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 103,
            "text": "{\"errors\":[{\"status\":\"404\",\"id\":\"b799bd68-cfb7-4c3d-8026-e0e00c27252f\",\"title\":\"datastore not found\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 160
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
