{
  "log": {
    "_recordingName": "Logs Pipelines/Create a pipeline with Array Map Processor with preserve_source false returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "b72fdb61bb6553f93cdb9a48060cae20",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"filter\":{\"query\":\"source:python\"},\"name\":\"testPipelineArrayMapNoPreserve\",\"processors\":[{\"is_enabled\":true,\"name\":\"map and remove source\",\"preserve_source\":false,\"processors\":[{\"sources\":[\"$sourceElem.id\"],\"target\":\"$targetElem.uid\",\"type\":\"attribute-remapper\"}],\"source\":\"items\",\"target\":\"out\",\"type\":\"array-map-processor\"}],\"tags\":[]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/logs/config/pipelines"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 524,
            "text": "{\"id\":\"ltWiUpfFRCaNE9L65g2VvQ\",\"type\":\"pipeline\",\"name\":\"testPipelineArrayMapNoPreserve\",\"is_enabled\":false,\"is_read_only\":false,\"filter\":{\"query\":\"source:python\"},\"processors\":[{\"name\":\"map and remove source\",\"is_enabled\":true,\"source\":\"items\",\"target\":\"out\",\"processors\":[{\"is_enabled\":true,\"sources\":[\"$sourceElem.id\"],\"target\":\"$targetElem.uid\",\"target_type\":\"attribute\",\"preserve_source\":false,\"override_on_conflict\":false,\"type\":\"attribute-remapper\"}],\"preserve_source\":false,\"type\":\"array-map-processor\"}],\"tags\":[]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 645
      },
      {
        "_id": "0bd739a4e2690a3f5e39572a6ab5355c",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/logs/config/pipelines/ltWiUpfFRCaNE9L65g2VvQ"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 3,
            "text": "{}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 786
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
