{
  "log": {
    "_recordingName": "Security Monitoring/Get SBOM returns \"Not found: asset not found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "38a1bcdfa4ede274a765b12c97f31e6c",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "filter",
              "value": {
                "asset_name": "unknown-host"
              }
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/security/sboms/Host?filter%5Basset_name%5D=unknown-host"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 127,
            "text": "{\"errors\":[{\"status\":\"404\",\"title\":\"Asset not found\",\"detail\":\"asset_type: 'Host' with asset_name: 'unknown-host' not found\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 680
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
