{
  "log": {
    "_recordingName": "Dashboards/Create a new dashboard with log_stream widget",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "11b7a3b68cd2cab78008e0d5d1a24f10",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"description\":\"\",\"is_read_only\":false,\"layout_type\":\"free\",\"notify_list\":[],\"template_variables\":[],\"title\":\"Test-Create_a_new_dashboard_with_log_stream_widget-1640210586\",\"widgets\":[{\"definition\":{\"columns\":[\"host\",\"service\"],\"indexes\":[\"main\"],\"message_display\":\"expanded-md\",\"query\":\"\",\"show_date_column\":true,\"show_message_column\":true,\"sort\":{\"column\":\"time\",\"order\":\"desc\"},\"title\":\"\",\"title_align\":\"left\",\"title_size\":\"16\",\"type\":\"log_stream\"},\"layout\":{\"height\":36,\"width\":47,\"x\":0,\"y\":0}}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 801,
            "text": "{\"notify_list\":[],\"description\":\"\",\"restricted_roles\":[],\"author_name\":null,\"template_variables\":[],\"is_read_only\":false,\"id\":\"det-m34-f8r\",\"title\":\"Test-Create_a_new_dashboard_with_log_stream_widget-1640210586\",\"url\":\"/dashboard/det-m34-f8r/test-createanewdashboardwithlogstreamwidget-1640210586\",\"created_at\":\"2021-12-22T22:03:07.086905+00:00\",\"modified_at\":\"2021-12-22T22:03:07.086905+00:00\",\"author_handle\":\"frog@datadoghq.com\",\"widgets\":[{\"definition\":{\"sort\":{\"column\":\"time\",\"order\":\"desc\"},\"show_message_column\":true,\"title_size\":\"16\",\"title\":\"\",\"title_align\":\"left\",\"message_display\":\"expanded-md\",\"indexes\":[\"main\"],\"show_date_column\":true,\"query\":\"\",\"type\":\"log_stream\",\"columns\":[\"host\",\"service\"]},\"layout\":{\"y\":0,\"width\":47,\"x\":0,\"height\":36},\"id\":122471264471299}],\"layout_type\":\"free\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 220
      },
      {
        "_id": "98bffed4cd42e0ce76bd2d555c7800f3",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/det-m34-f8r"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 38,
            "text": "{\"deleted_dashboard_id\":\"det-m34-f8r\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 288
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
