{
  "log": {
    "_recordingName": "Dashboards/Create a new dashboard with log_stream widget",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "bbd78d419d3e5730cacc2c674bf97fd8",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"description\":\"\",\"is_read_only\":false,\"layout_type\":\"free\",\"notify_list\":[],\"template_variables\":[],\"title\":\"Test-Create_a_new_dashboard_with_log_stream_widget-1641430236\",\"widgets\":[{\"definition\":{\"columns\":[\"host\",\"service\"],\"indexes\":[\"main\"],\"message_display\":\"expanded-md\",\"query\":\"\",\"show_date_column\":true,\"show_message_column\":true,\"sort\":{\"column\":\"time\",\"order\":\"desc\"},\"title\":\"\",\"title_align\":\"left\",\"title_size\":\"16\",\"type\":\"log_stream\"},\"layout\":{\"height\":36,\"width\":47,\"x\":0,\"y\":0}}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 801,
            "text": "{\"notify_list\":[],\"description\":\"\",\"restricted_roles\":[],\"author_name\":null,\"template_variables\":[],\"is_read_only\":false,\"id\":\"ge2-n5p-cnd\",\"title\":\"Test-Create_a_new_dashboard_with_log_stream_widget-1641430236\",\"url\":\"/dashboard/ge2-n5p-cnd/test-createanewdashboardwithlogstreamwidget-1641430236\",\"created_at\":\"2022-01-06T00:50:36.957558+00:00\",\"modified_at\":\"2022-01-06T00:50:36.957558+00:00\",\"author_handle\":\"frog@datadoghq.com\",\"widgets\":[{\"definition\":{\"sort\":{\"column\":\"time\",\"order\":\"desc\"},\"show_message_column\":true,\"title_size\":\"16\",\"title\":\"\",\"title_align\":\"left\",\"message_display\":\"expanded-md\",\"indexes\":[\"main\"],\"show_date_column\":true,\"query\":\"\",\"type\":\"log_stream\",\"columns\":[\"host\",\"service\"]},\"layout\":{\"y\":0,\"width\":47,\"x\":0,\"height\":36},\"id\":853406405411463}],\"layout_type\":\"free\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 211
      },
      {
        "_id": "fc375adb6904d3f00669354e98cab34f",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/ge2-n5p-cnd"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 38,
            "text": "{\"deleted_dashboard_id\":\"ge2-n5p-cnd\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 234
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
