{
  "log": {
    "_recordingName": "Monitors/Validate a monitor user template returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "4c6e6222eba6dd7eb6a9cac689861772",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"type\":\"monitor-user-template\"}}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/monitor/template/validate"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 65,
            "text": "{\"errors\":[\"Required parameter 'monitor_definition' is missing\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 114
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
