{
  "log": {
    "_recordingName": "Agentless Scanning/Get AWS scan options returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "e0c25b77c22953c70beda56c6aa3ad6a",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/agentless_scanning/accounts/aws/not-an-account-id"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 135,
            "text": "{\"errors\":[{\"title\":\"Generic Error\",\"detail\":\"missing or invalid url parameter 'accountId', expected 12 digit format '123456789012'\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 531
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
