{
  "log": {
    "_recordingName": "Apps/Delete Multiple Apps returns \"Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "0fabf727bf419ea03100d209acd7f2c0",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "DELETE",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":[{\"id\":\"29494ddd-ac13-46a7-8558-b05b050ee755\",\"type\":\"appDefinitions\"},{\"id\":\"71c0d358-eac5-41e3-892d-a7467571b9b0\",\"type\":\"appDefinitions\"},{\"id\":\"98e7e44d-1562-474a-90f7-3a94e739c006\",\"type\":\"appDefinitions\"}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/app-builder/apps"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 52,
            "text": "{\"errors\":[{\"detail\":\"one or more apps not found\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 92
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
