{
  "log": {
    "_recordingName": "Dashboards/Create a new dashboard with distribution widget and apm stats data",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "016ce12f6b291def34caee44934951cc",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"layout_type\":\"ordered\",\"title\":\"Test-Create_a_new_dashboard_with_distribution_widget_and_apm_stats_data-1641430230\",\"widgets\":[{\"definition\":{\"requests\":[{\"apm_stats_query\":{\"env\":\"prod\",\"name\":\"cassandra.query\",\"primary_tag\":\"datacenter:dc1\",\"row_type\":\"service\",\"service\":\"cassandra\"}}],\"title\":\"\",\"title_align\":\"left\",\"title_size\":\"16\",\"type\":\"distribution\"},\"layout\":{\"height\":4,\"width\":4,\"x\":0,\"y\":0}}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 815,
            "text": "{\"notify_list\":null,\"description\":null,\"restricted_roles\":[],\"author_name\":null,\"template_variables\":null,\"is_read_only\":false,\"id\":\"7yq-u4p-9qh\",\"title\":\"Test-Create_a_new_dashboard_with_distribution_widget_and_apm_stats_data-1641430230\",\"url\":\"/dashboard/7yq-u4p-9qh/test-createanewdashboardwithdistributionwidgetandapmstatsdata-1641430230\",\"created_at\":\"2022-01-06T00:50:30.283828+00:00\",\"modified_at\":\"2022-01-06T00:50:30.283828+00:00\",\"author_handle\":\"frog@datadoghq.com\",\"widgets\":[{\"definition\":{\"type\":\"distribution\",\"requests\":[{\"apm_stats_query\":{\"primary_tag\":\"datacenter:dc1\",\"row_type\":\"service\",\"name\":\"cassandra.query\",\"service\":\"cassandra\",\"env\":\"prod\"}}],\"title_align\":\"left\",\"title_size\":\"16\",\"title\":\"\"},\"layout\":{\"y\":0,\"width\":4,\"x\":0,\"height\":4},\"id\":6766921978730305}],\"layout_type\":\"ordered\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 246
      },
      {
        "_id": "8add7a6d686cb8611bc1e6d59ec920a8",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/7yq-u4p-9qh"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 38,
            "text": "{\"deleted_dashboard_id\":\"7yq-u4p-9qh\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 490
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
