{
  "log": {
    "_recordingName": "Dashboards/Create a new dashboard with distribution widget and apm stats data",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "b2ce339c076ea4c19ba9111a9965936e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"layout_type\":\"ordered\",\"title\":\"Test-Create_a_new_dashboard_with_distribution_widget_and_apm_stats_data-1634650426\",\"widgets\":[{\"definition\":{\"requests\":[{\"apm_stats_query\":{\"env\":\"prod\",\"name\":\"cassandra.query\",\"primary_tag\":\"datacenter:dc1\",\"row_type\":\"service\",\"service\":\"cassandra\"}}],\"title\":\"\",\"title_align\":\"left\",\"title_size\":\"16\",\"type\":\"distribution\"},\"layout\":{\"height\":4,\"width\":4,\"x\":0,\"y\":0}}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 815,
            "text": "{\"notify_list\":null,\"description\":null,\"restricted_roles\":[],\"author_name\":null,\"template_variables\":null,\"is_read_only\":false,\"id\":\"4rp-6dh-ihs\",\"title\":\"Test-Create_a_new_dashboard_with_distribution_widget_and_apm_stats_data-1634650426\",\"url\":\"/dashboard/4rp-6dh-ihs/test-createanewdashboardwithdistributionwidgetandapmstatsdata-1634650426\",\"created_at\":\"2021-10-19T13:33:47.501264+00:00\",\"modified_at\":\"2021-10-19T13:33:47.501264+00:00\",\"author_handle\":\"frog@datadoghq.com\",\"widgets\":[{\"definition\":{\"type\":\"distribution\",\"requests\":[{\"apm_stats_query\":{\"primary_tag\":\"datacenter:dc1\",\"row_type\":\"service\",\"name\":\"cassandra.query\",\"service\":\"cassandra\",\"env\":\"prod\"}}],\"title_align\":\"left\",\"title_size\":\"16\",\"title\":\"\"},\"layout\":{\"y\":0,\"width\":4,\"x\":0,\"height\":4},\"id\":5954793079374026}],\"layout_type\":\"ordered\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 690,
      },
      {
        "_id": "1ed76c030939fbad30c04abc418068a4",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/4rp-6dh-ihs"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 38,
            "text": "{\"deleted_dashboard_id\":\"4rp-6dh-ihs\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 554,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
