{
  "log": {
    "_recordingName": "Logs Metrics/Get a log-based metric returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "5744ec8408ef074d8cebfd3ac64accdb",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"compute\":{\"aggregation_type\":\"count\"},\"filter\":{\"query\":\"source:Typescript-Get_a_log_based_metric_returns_OK_response-1613750662.437\"}},\"id\":\"Typescript-Get_a_log_based_metric_returns_OK_response-1613750662.437\",\"type\":\"logs_metrics\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/config/metrics"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 378,
            "text": "[\"1f8b08000000000000038d8f410ac2400c45ef927515b55aa11770e1c28d3b91309dc661403b63925994e2dd4d41105cb9fb7c92ff7813f44e1db413c41e5a388f99c473cc8a075274784f013b27d4e38394a347262d3c089e8e1625a74108d7cdbadeef564db3596eeb3d54e0d46ebba224f3f22dde95784ecf423c1a4652614fed97b6f89fb6f8a1bd2a089c4ac6ce962fd70a7c7a6443cf3c170253701ad3806a6a86f6a90c0a2ffbfa1466281f39b1fe0d2092c78311010000\"]"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-dd-version",
              "value": "35.3944440"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "300"
            },
            {
              "name": "x-ratelimit-period",
              "value": "300"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "38"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "297"
            },
            {
              "name": "content-disposition",
              "value": "inline"
            },
            {
              "name": "x-dd-debug",
              "value": "PhosSd3Ch1B6B0DXI71steKUi7XhPDttnPiIP1NdXTw0VJNWpoUnYyBmODS5ne3q"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 522,
      },
      {
        "_id": "7ea19e604fac992e8c0a97077530e889",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/config/metrics/Typescript_Get_a_log_based_metric_returns_OK_response_1613750662.437"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 378,
            "text": "[\"1f8b08000[...]
