{
  "log": {
    "_recordingName": "Logs Metrics/Get a log-based metric returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "d0f3a9053850da24d8b9e6cda1773dc9",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"compute\":{\"aggregation_type\":\"count\"},\"filter\":{\"query\":\"source:Test-Get_a_log_based_metric_returns_OK_response-1618125612\"}},\"id\":\"Test-Get_a_log_based_metric_returns_OK_response-1618125612\",\"type\":\"logs_metrics\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/config/metrics"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 360,
            "text": "[\"1f8b08000000000000038d8fb10ac3300c44ff45733a38d050f2031d3a74e9568a7012d51812dbb5e42184fc7b65c8d0b1db713adde33698ac58e837f013f4f02016bc92a0c5393a1c2cd3840b49f62366929203e3fda692530c4c683a7331edb9332d346045734311e2daf7f6b350aeea5328af5aceb1e491faca38fdcf38fd30f6065c8e25e1a07dcf5703635c92022bc53a97c959f131a0ac493dbd9620b0ebd761e8263ee6b0fa5fb01d1809fd000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-dd-version",
              "value": "35.4281284"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "100"
            },
            {
              "name": "x-ratelimit-period",
              "value": "3600"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "2388"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "82"
            },
            {
              "name": "content-disposition",
              "value": "inline"
            },
            {
              "name": "x-dd-debug",
              "value": "bgHykj7A9bfZx0Y5ZO3swhhp5tGUSNJHqFWR868+qg087CYrDOd5hQslC+noiEtH"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 598,
      },
      {
        "_id": "6a7768b1fb3280ed3f4d7b4aa0e8c736",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/config/metrics/Test_Get_a_log_based_metric_returns_OK_response_1618125612"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 360,
            "text": "[\"1f8b080000000000000[...]
