{
  "log": {
    "_recordingName": "Logs Metrics/Get a log-based metric returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "eb3d8a7a7c3c5337a697a1a0283dd5e0",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"compute\":{\"aggregation_type\":\"count\"},\"filter\":{\"query\":\"source:Test-Get_a_log_based_metric_returns_OK_response-1686139084\"}},\"id\":\"Test-Get_a_log_based_metric_returns_OK_response-1686139084\",\"type\":\"logs_metrics\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/config/metrics"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 254,
            "text": "{\"data\":{\"id\":\"Test_Get_a_log_based_metric_returns_OK_response_1686139084\",\"attributes\":{\"filter\":{\"query\":\"source:Test-Get_a_log_based_metric_returns_OK_response-1686139084\"},\"group_by\":[],\"compute\":{\"aggregation_type\":\"count\"}},\"type\":\"logs_metrics\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 604
      },
      {
        "_id": "95aa06dc9d1bf6fd2ea0e07b1563ae84",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/config/metrics/Test_Get_a_log_based_metric_returns_OK_response_1686139084"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 254,
            "text": "{\"data\":{\"id\":\"Test_Get_a_log_ba[...]
