{
  "log": {
    "_recordingName": "Logs Metrics/Get a log-based metric returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "68148f1ab1146203a9c97d9913b3ae09",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"compute\":{\"aggregation_type\":\"count\"},\"filter\":{\"query\":\"source:Typescript-Get_a_log_based_metric_returns_OK_response-1613676220.424\"}},\"id\":\"Typescript-Get_a_log_based_metric_returns_OK_response-1613676220.424\",\"type\":\"logs_metrics\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/config/metrics"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 378,
            "text": "[\"1f8b08000000000000038d8f410ac2400c45ef927515ada5422fe0c2851b7722613a8dc38076c624b310e9dd4da120b872f7f924fff1de303875d0bd210ed0c1f995493cc7ac78204587f714b07742033e48397a64d2c2a3e0e96851721a8570db6e77edbeadebcdbaa91ba8c0a9ddf64549e6e55bbc2bf19c9e85f8651849853d755fdaea7fdaea8736551038958cbd2d5fae15f8f4c8869e792e04a6e034a611d5d40ced53191526fb5a0a3394454eacff0055049c2f11010000\"]"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-dd-version",
              "value": "35.3936814"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "300"
            },
            {
              "name": "x-ratelimit-period",
              "value": "300"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "80"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "297"
            },
            {
              "name": "content-disposition",
              "value": "inline"
            },
            {
              "name": "x-dd-debug",
              "value": "HbtaOKlJ6OCrx9tMXO6ivMTrEM+g0c93HDp08trmOmgdHozC5J+vn10F0H4WPjCU"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 774,
      },
      {
        "_id": "c298faa3339dee51254d25179fc5ba0c",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/config/metrics/Typescript_Get_a_log_based_metric_returns_OK_response_1613676220.424"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 378,
            "text": "[\"1f8b08000[...]
