{
  "log": {
    "_recordingName": "Logs Metrics/Get a log-based metric returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "3f40b1837d0403162dd8fa797fa896b7",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"compute\":{\"aggregation_type\":\"count\"},\"filter\":{\"query\":\"source:Typescript-Get_a_log_based_metric_returns_OK_response-1613653936.024\"}},\"id\":\"Typescript-Get_a_log_based_metric_returns_OK_response-1613653936.024\",\"type\":\"logs_metrics\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/config/metrics"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 378,
            "text": "[\"1f8b08000000000000038d8f410ac2400c45ef927515b55ab01770e1c28d3b91309dc661403b63925988f4eea650105cb9fb7c92ff786fe89d3a68df107b68e1fcca249e63563c90a2c37b0ad839a11e1fa41c3d3269e141f074b428390d42b86ed675b3abf775b35c6db6508153bbed8a924ccbb77857e2293d0bf1cb30920a7b6abfb4c5ffb4c50f6dac20702a193b5bbe5c2bf0e9910d3df15c084cc1694c03aaa919daa732288cf635176628b39c58ff01a49e4d9d11010000\"]"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-dd-version",
              "value": "35.3933218"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "300"
            },
            {
              "name": "x-ratelimit-period",
              "value": "300"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "164"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "297"
            },
            {
              "name": "content-disposition",
              "value": "inline"
            },
            {
              "name": "x-dd-debug",
              "value": "l4HFlaRP3QwYSqoGKhzbYfv7zgkK63HIRR7YkyVYZspq0lGjjTBwoK8V/alf+XYt"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 583,
      },
      {
        "_id": "8ac8f9c80e4cdb2b277949f11c859322",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/config/metrics/Typescript_Get_a_log_based_metric_returns_OK_response_1613653936.024"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 378,
            "text": "[\"1f8b08000[...]
