{
  "log": {
    "_recordingName": "Logs Metrics/Get a log-based metric returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "af982c7638c20665c488de32c37ba5e7",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"compute\":{\"aggregation_type\":\"count\"},\"filter\":{\"query\":\"source:Typescript-Get_a_log_based_metric_returns_OK_response-1613666626.505\"}},\"id\":\"Typescript-Get_a_log_based_metric_returns_OK_response-1613666626.505\",\"type\":\"logs_metrics\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/config/metrics"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 376,
            "text": "[\"1f8b08000000000000038d8fbd0ac2401084df65eb44fcc11479010b0b1b3b91e572598f03933b77f78a10f2ee6e4010acdc6a1866e76366e89d3a6867883db4709d3289e798154fa4e8f09902764ea8c78194a347262d3c0a5ece2625a7510877cdeed0d8ed9bcd717b840a9c5ab62b4ab2363fe2538957f52ac493612415f6d47e69f5ffb4fa87b6541038958c9d35dfee15f8346443af3c170253701ad3886ad30ced53191516fbfa18b6503ee3c4fc3702ff986c11010000\"]"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-dd-version",
              "value": "35.3935655"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "300"
            },
            {
              "name": "x-ratelimit-period",
              "value": "300"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "74"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "297"
            },
            {
              "name": "content-disposition",
              "value": "inline"
            },
            {
              "name": "x-dd-debug",
              "value": "SY1h8ScsWq+kYmtbh63ltMLFAZsQjqfrgvdfAoRX+9TzT1sgMBRYaFRwfWWRRe9a"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 932,
      },
      {
        "_id": "9a240f534759ac52b921fa71209ff699",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/config/metrics/Typescript_Get_a_log_based_metric_returns_OK_response_1613666626.505"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 376,
            "text": "[\"1f8b08000[...]
