{
  "log": {
    "_recordingName": "RUM Remote Config/Get a RUM SDK configuration returns \"Forbidden\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "e0c7c782056cf124b275b28421d82197",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/remote_config/products/rum/configs/aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa"
        },
        "response": {
          "content": {
            "mimeType": "text/plain; charset=utf-8",
            "size": 35,
            "text": "{\"errors\":[{\"title\":\"Forbidden\"}]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain; charset=utf-8"
            }
          ],
          "status": 403,
          "statusText": "Forbidden"
        },
        "time": 384
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
