{
  "log": {
    "_recordingName": "Cloud Cost Management/List Cloud Cost Management AWS CUR configs returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "a7572333f0e221d2b432e7048839dfb6",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/cost/aws_cur_config"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 421,
            "text": "{\"data\": [{\"type\": \"aws_cur_config\", \"id\": \"100\", \"attributes\": {\"account_id\": \"000000000000\", \"bucket_name\": \"test_bucket_name\", \"bucket_region\": \"us-east-1\", \"report_prefix\": \"cur-hourly\", \"report_name\": \"billing-conductor-cur\", \"months\": 15, \"updated_at\": \"2023-10-27T12:38:39.585408\", \"created_at\": \"2023-10-10T13:53:28.774143\", \"status\": \"active\", \"status_updated_at\": \"2023-11-21T17:07:24.778386\", \"error_messages\": []}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 564
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
