{
  "log": {
    "_recordingName": "Application Security/Create a WAF exclusion filter returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "edce44660a2d2a159a327b236da27236",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"description\":\"Exclude false positives on a path\",\"enabled\":true,\"parameters\":[\"list.search.query\"],\"path_glob\":\"/accounts/*\",\"rules_target\":[{\"tags\":{\"category\":\"attack_attempt\",\"type\":\"lfi\"}}],\"scope\":[{\"env\":\"www\",\"service\":\"prod\"}]},\"type\":\"exclusion_filter\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/remote_config/products/asm/waf/exclusion_filters"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1305,
            "text": "{\"data\":{\"id\":\"662e28c3-e4fe-42c8-bc93-79b73cd04d48\",\"type\":\"exclusion_filter\",\"attributes\":{\"description\":\"Exclude false positives on a path\",\"enabled\":true,\"metadata\":{\"added_at\":\"2025-02-25T19:11:26Z\",\"added_by\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\",\"added_by_name\":\"CI Account\"},\"parameters\":[\"list.search.query\"],\"path_glob\":\"/accounts/*\",\"rules_target\":[{\"tags\":{\"category\":\"attack_attempt\",\"type\":\"lfi\"}}],\"scope\":[{\"env\":\"www\",\"service\":\"prod\"}],\"search_query\":\"(env:www AND service:prod) AND (@http.url_details.path:\\\\/accounts\\\\/* OR @rpc.grpc.full_method:\\\\/accounts\\\\/*) AND ((@appsec.triggers.rule_matches.parameters.address:server.request.query AND (@appsec.triggers.rule_matches.parameters.key:list.search.query OR @appsec.triggers.rule_matches.parameters.params.key:list.search.query)) OR (@appsec.triggers.rule_matches.parameters.address:server.request.body AND (@appsec.triggers.rule_matches.parameters.key:list.search.query OR @appsec.triggers.rule_matches.parameters.params.key:list.search.query)) OR (@appsec.triggers.rule_matches.parameters.address:server.request.path_params AND (@appsec.triggers.rule_matches.parameters.key:list.search.query OR @appsec.triggers.rule_matches.parameters.params.key:list.search.query))) AND (@appsec.category:attack_attempt AND @appsec.type:lfi)\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 816
      },
      {
        "_id": "9b4122a33983c096450c1e9f38044312",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/remote_config/products/asm/waf/exclusion_filters/662e28c3-e4fe-42c8-bc93-79b73cd04d48"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 0
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 1119
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
