{
  "log": {
    "_recordingName": "CSM Threats/Create a CSM Threats agent policy returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "bd5f3a16dbb883c3e52abaa34694f166",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"description\":\"My agent policy\",\"enabled\":true,\"hostTags\":[\"bad_tag:\u574f\u6807\u7b7e\"],\"name\":\"my_agent_policy\"},\"type\":\"policy\"}}"
          },
          "queryString": [],
          "url": "https://api.datad0g.com/api/v2/remote_config/products/cws/policy"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 49,
            "text": "{\"errors\":[{\"title\":\"failed to create policy\"}]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 317
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
