{
  "log": {
    "_recordingName": "On-Call/Create an On-Call email for a user returns \"Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "f6f6c71a3454cd0f94fe78f09fc07672",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"active\":true,\"address\":\"john.doe@datadoghq.com\",\"alias\":\"\",\"formats\":[\"html\"]},\"type\":\"emails\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/on-call/users/00000000-0000-0000-0000-000000000000/notification-channels/emails"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 102,
            "text": "{\"errors\":[{\"title\":\"Generic Error\",\"detail\":\"user[00000000-0000-0000-0000-000000000000] not found\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 165
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
