{
  "log": {
    "_recordingName": "Status Pages/Delete degradation returns \"No Content\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "2588831b713678838d90a0ce7d083a4d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"components\":[{\"name\":\"fa39919ddfcca95a\",\"type\":\"component\"}],\"domain_prefix\":\"dd-integration-tests-fa39919ddfcca95a\",\"enabled\":true,\"name\":\"[DD Integration Tests] fa39919ddfcca95a\",\"type\":\"internal\",\"visualization_type\":\"bars_and_uptime_percentage\"},\"type\":\"status_pages\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/statuspages"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 945,
            "text": "{\"data\":{\"id\":\"970a7a1e-d4b5-47bf-8841-ea4213755f86\",\"type\":\"status_pages\",\"attributes\":{\"company_logo\":null,\"components\":[{\"id\":\"5ee03770-c344-4a03-b5e8-a2a63b505118\",\"name\":\"fa39919ddfcca95a\",\"type\":\"component\",\"status\":\"operational\",\"position\":0}],\"created_at\":\"2026-01-09T18:43:22.828055Z\",\"custom_domain\":null,\"custom_domain_enabled\":false,\"domain_prefix\":\"dd-integration-tests-fa39919ddfcca95a\",\"email_header_image\":null,\"enabled\":true,\"favicon\":null,\"modified_at\":\"2026-01-09T18:43:22.828055Z\",\"name\":\"[DD Integration Tests] fa39919ddfcca95a\",\"page_url\":\"https://frog.datadoghq.com/status-pages/970a7a1e-d4b5-47bf-8841-ea4213755f86/view\",\"subscriptions_enabled\":false,\"type\":\"internal\",\"visualization_type\":\"bars_and_uptime_percentage\"},\"relationships\":{\"created_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}},\"last_modified_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 534
      },
      {
        "_id": "d203378efdeeee8b7cc860b838a0b51b",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"components_affected\":[{\"id\":\"5ee03770-c344-4a03-b5e8-a2a63b505118\",\"status\":\"major_outage\"}],\"status\":\"investigating\",\"title\":\"Test-Delete_degradation_returns_No_Content_response-1767984202\"},\"type\":\"degradations\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/statuspages/970a7a1e-d4b5-47bf-8841-ea4213755f86/degradations"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 1047,
            "text": "{\"data\":{\"id\":\"fda16955-3499-43dc-92ab-255044455a0a\",\"type\":\"degradations\",\"attributes\":{\"components_affected\":[{\"id\":\"5ee03770-c344-4a03-b5e8-a2a63b505118\",\"name\":\"fa39919ddfcca95a\",\"status\":\"major_outage\"}],\"created_at\":\"2026-01-09T18:43:23.362082Z\",\"description\":\"\",\"modified_at\":\"2026-01-09T18:43:23.362082Z\",\"status\":\"investigating\",\"title\":\"Test-Delete_degradation_returns_No_Content_response-1767984202\",\"updates\":[{\"id\":\"a7e6f0b1-64c0-434e-8960-e44380175209\",\"created_at\":\"2026-01-09T18:43:23.362082Z\",\"modified_at\":\"2026-01-09T18:43:23.362082Z\",\"started_at\":\"0001-01-01T00:00:00Z\",\"status\":\"investigating\",\"description\":\"\",\"components_affected\":[{\"id\":\"5ee03770-c344-4a03-b5e8-a2a63b505118\",\"name\":\"fa39919ddfcca95a\",\"status\":\"major_outage\"}]}]},\"relationships\":{\"created_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}},\"last_modified_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}},\"status_page\":{\"data\":{\"id\":\"970a7a1e-d4b5-47bf-8841-ea4213755f86\",\"type\":\"status_pages\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 133
      },
      {
        "_id": "da5144b396628015eb0db834b0ea390f",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/statuspages/970a7a1e-d4b5-47bf-8841-ea4213755f86/degradations/fda16955-3499-43dc-92ab-255044455a0a"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 124
      },
      {
        "_id": "da5144b396628015eb0db834b0ea390f",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/statuspages/970a7a1e-d4b5-47bf-8841-ea4213755f86/degradations/fda16955-3499-43dc-92ab-255044455a0a"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 71,
            "text": "{\"errors\":[{\"title\":\"Generic Error\",\"detail\":\"degradation not found\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 84
      },
      {
        "_id": "2e048acc536ddfcda8a721f7f8829065",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/statuspages/970a7a1e-d4b5-47bf-8841-ea4213755f86"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 459
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
