{
  "log": {
    "_recordingName": "Status Pages/Delete degradation returns \"No Content\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "bcf86786e65148626a237bb1f6ca8f92",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"components\":[{\"name\":\"a5f0978d02d90dc7\",\"type\":\"component\"}],\"domain_prefix\":\"dd-integration-test-a5f0978d02d90dc7\",\"enabled\":true,\"name\":\"[DD Integration Test] a5f0978d02d90dc7\",\"type\":\"internal\",\"visualization_type\":\"bars_and_uptime_percentage\"},\"type\":\"status_pages\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/statuspages"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 943,
            "text": "{\"data\":{\"id\":\"7724a71b-1ed0-45a5-b685-c12d9c5b5b94\",\"type\":\"status_pages\",\"attributes\":{\"company_logo\":null,\"components\":[{\"id\":\"fbd88324-cf45-409f-aa9c-382f9f2438cf\",\"name\":\"a5f0978d02d90dc7\",\"type\":\"component\",\"status\":\"operational\",\"position\":0}],\"created_at\":\"2026-01-07T22:14:08.357788Z\",\"custom_domain\":null,\"custom_domain_enabled\":false,\"domain_prefix\":\"dd-integration-test-a5f0978d02d90dc7\",\"email_header_image\":null,\"enabled\":true,\"favicon\":null,\"modified_at\":\"2026-01-07T22:14:08.357788Z\",\"name\":\"[DD Integration Test] a5f0978d02d90dc7\",\"page_url\":\"https://frog.datadoghq.com/status-pages/7724a71b-1ed0-45a5-b685-c12d9c5b5b94/view\",\"subscriptions_enabled\":false,\"type\":\"internal\",\"visualization_type\":\"bars_and_uptime_percentage\"},\"relationships\":{\"created_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}},\"last_modified_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 484
      },
      {
        "_id": "030a07667fe50305cecf38df5fd0df34",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"components_affected\":[{\"id\":\"fbd88324-cf45-409f-aa9c-382f9f2438cf\",\"status\":\"major_outage\"}],\"status\":\"investigating\",\"title\":\"Test-Delete_degradation_returns_No_Content_response-1767824048\"},\"type\":\"degradations\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/statuspages/7724a71b-1ed0-45a5-b685-c12d9c5b5b94/degradations"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 1047,
            "text": "{\"data\":{\"id\":\"a0d0fcf6-79c0-4d69-9600-cc972c69b9ee\",\"type\":\"degradations\",\"attributes\":{\"components_affected\":[{\"id\":\"fbd88324-cf45-409f-aa9c-382f9f2438cf\",\"name\":\"a5f0978d02d90dc7\",\"status\":\"major_outage\"}],\"created_at\":\"2026-01-07T22:14:08.845895Z\",\"description\":\"\",\"modified_at\":\"2026-01-07T22:14:08.845895Z\",\"status\":\"investigating\",\"title\":\"Test-Delete_degradation_returns_No_Content_response-1767824048\",\"updates\":[{\"id\":\"8813243a-330d-4e29-b417-96362ddaecd2\",\"created_at\":\"2026-01-07T22:14:08.845895Z\",\"modified_at\":\"2026-01-07T22:14:08.845895Z\",\"started_at\":\"0001-01-01T00:00:00Z\",\"status\":\"investigating\",\"description\":\"\",\"components_affected\":[{\"id\":\"fbd88324-cf45-409f-aa9c-382f9f2438cf\",\"name\":\"a5f0978d02d90dc7\",\"status\":\"major_outage\"}]}]},\"relationships\":{\"created_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}},\"last_modified_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}},\"status_page\":{\"data\":{\"id\":\"7724a71b-1ed0-45a5-b685-c12d9c5b5b94\",\"type\":\"status_pages\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 134
      },
      {
        "_id": "41542e0d77f7d302cfc6079f95362ab0",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/statuspages/7724a71b-1ed0-45a5-b685-c12d9c5b5b94/degradations/a0d0fcf6-79c0-4d69-9600-cc972c69b9ee"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 143
      },
      {
        "_id": "41542e0d77f7d302cfc6079f95362ab0",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/statuspages/7724a71b-1ed0-45a5-b685-c12d9c5b5b94/degradations/a0d0fcf6-79c0-4d69-9600-cc972c69b9ee"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 71,
            "text": "{\"errors\":[{\"title\":\"Generic Error\",\"detail\":\"degradation not found\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 102
      },
      {
        "_id": "ac08ac52fb7dbcad2d4fbc473fce5954",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/statuspages/7724a71b-1ed0-45a5-b685-c12d9c5b5b94"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 61,
            "text": "{\"errors\":[{\"status\":\"500\",\"title\":\"Internal Server Error\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 500,
          "statusText": "Internal Server Error"
        },
        "time": 521
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
