{
  "log": {
    "_recordingName": "APM Retention Filters/Create a retention filter returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "7a697c95a508933d64da7d94bc8da12e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"enabled\":true,\"filter\":{\"query\":\"@http.status_code:200 service:my-service\"},\"filter_type\":\"spans-sampling-processor\",\"name\":\"my retention filter\",\"rate\":1},\"type\":\"apm_retention_filter\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/apm/config/retention-filters"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 395,
            "text": "{\"data\":{\"id\":\"x1aRVkAVQN2CBx1ghs4xDQ\",\"attributes\":{\"name\":\"my retention filter\",\"rate\":1.0,\"trace_rate\":0.0,\"enabled\":true,\"filter_type\":\"spans-sampling-processor\",\"filter\":{\"query\":\"@http.status_code:200 service:my-service\"},\"editable\":true,\"modified_by\":\"frog@datadoghq.com\",\"modified_at\":1744111965,\"created_by\":\"frog@datadoghq.com\",\"created_at\":1744111965},\"type\":\"apm_retention_filter\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 307
      },
      {
        "_id": "8bfe0723db60aef5b1a306ff3861214a",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/apm/config/retention-filters/x1aRVkAVQN2CBx1ghs4xDQ"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 3,
            "text": "{}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 649
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
