{
  "log": {
    "_recordingName": "Downtimes/Schedule a downtime returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "97c4d886611d9d2007db7c1aa73d8127",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"end\":1684769697,\"message\":\"Test-Schedule_a_downtime_returns_OK_response-1684766097\",\"notify_end_states\":[\"alert\",\"no data\",\"warn\"],\"notify_end_types\":[\"canceled\",\"expired\"],\"recurrence\":{\"period\":1,\"type\":\"weeks\",\"until_date\":1686580497,\"week_days\":[\"Mon\",\"Tue\",\"Wed\",\"Thu\",\"Fri\"]},\"scope\":[\"test:testscheduleadowntimereturnsokresponse1684766097\"],\"start\":1684766097,\"timezone\":\"Etc/UTC\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/downtime"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 772,
            "text": "{\"id\":2941976753,\"monitor_id\":null,\"org_id\":321813,\"start\":1684766097,\"end\":1684769697,\"canceled\":null,\"created\":1684766098,\"modified\":1684766098,\"message\":\"Test-Schedule_a_downtime_returns_OK_response-1684766097\",\"active\":true,\"disabled\":false,\"recurrence\":{\"type\":\"weeks\",\"period\":1,\"week_days\":[\"Mon\",\"Tue\",\"Wed\",\"Thu\",\"Fri\"],\"until_occurrences\":null,\"until_date\":1686580497},\"timezone\":\"Etc/UTC\",\"parent_id\":null,\"child_id\":null,\"creator_id\":1445416,\"updater_id\":null,\"downtime_type\":2,\"status\":\"active\",\"monitor_tags\":[\"*\"],\"mute_first_recovery_notification\":false,\"notify_end_types\":[\"canceled\",\"expired\"],\"notify_end_states\":[\"alert\",\"no data\",\"warn\"],\"uuid\":\"d3b49b1e-f8ad-11ed-a3ce-da7ad0900002\",\"scope\":[\"test:testscheduleadowntimereturnsokresponse1684766097\"]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 497
      },
      {
        "_id": "6820fece85ecf981990a2f60e634be68",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/downtime/2941976753"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=utf-8",
            "size": 0
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=utf-8"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 603
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
