{
  "log": {
    "_recordingName": "Downtimes/Schedule a downtime returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "4392b5f9cdf262d003e5ac9ba5ed0611",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"message\":\"Test-Schedule_a_downtime_returns_OK_response-1652348999\",\"recurrence\":{\"period\":1,\"type\":\"weeks\",\"until_date\":1654163399,\"week_days\":[\"Mon\",\"Tue\",\"Wed\",\"Thu\",\"Fri\"]},\"scope\":[\"test:testscheduleadowntimereturnsokresponse1652348999\"],\"start\":1652348999,\"timezone\":\"Etc/UTC\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/downtime"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 612,
            "text": "{\"recurrence\":{\"until_date\":1654163399,\"until_occurrences\":null,\"week_days\":[\"Mon\",\"Tue\",\"Wed\",\"Thu\",\"Fri\"],\"type\":\"weeks\",\"period\":1},\"end\":null,\"monitor_tags\":[\"*\"],\"child_id\":null,\"canceled\":null,\"monitor_id\":null,\"mute_first_recovery_notification\":false,\"created\":1652348999,\"org_id\":321813,\"modified\":1652348999,\"disabled\":false,\"start\":1652348999,\"creator_id\":1445416,\"parent_id\":null,\"timezone\":\"Etc/UTC\",\"active\":true,\"scope\":[\"test:testscheduleadowntimereturnsokresponse1652348999\"],\"message\":\"Test-Schedule_a_downtime_returns_OK_response-1652348999\",\"downtime_type\":2,\"id\":1944162282,\"updater_id\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 401
      },
      {
        "_id": "5d75c132952fcef3ace19a3d52d0be6c",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/downtime/1944162282"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 412
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
