{
  "log": {
    "_recordingName": "Downtimes/Schedule a downtime returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "1107b4dde2cb1cf84f124fb3976d44c7",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"message\":\"Test-Schedule_a_downtime_returns_OK_response-1641829813\",\"recurrence\":{\"period\":1,\"type\":\"weeks\",\"until_date\":1643644213,\"week_days\":[\"Mon\",\"Tue\",\"Wed\",\"Thu\",\"Fri\"]},\"scope\":[\"test:testscheduleadowntimereturnsokresponse1641829813\"],\"start\":1641829813,\"timezone\":\"Etc/UTC\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/downtime"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 571,
            "text": "{\"recurrence\":{\"until_date\":1643644213,\"until_occurrences\":null,\"week_days\":[\"Mon\",\"Tue\",\"Wed\",\"Thu\",\"Fri\"],\"type\":\"weeks\",\"period\":1},\"end\":null,\"monitor_tags\":[\"*\"],\"child_id\":null,\"canceled\":null,\"monitor_id\":null,\"created\":1641829813,\"org_id\":321813,\"modified\":1641829813,\"disabled\":false,\"start\":1641829813,\"creator_id\":1445416,\"parent_id\":null,\"timezone\":\"Etc/UTC\",\"active\":true,\"scope\":[\"test:testscheduleadowntimereturnsokresponse1641829813\"],\"message\":\"Test-Schedule_a_downtime_returns_OK_response-1641829813\",\"downtime_type\":2,\"id\":1672791235,\"updater_id\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 338
      },
      {
        "_id": "67156ac8538f84c5c1aad85a2a71f591",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/downtime/1672791235"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 453
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
