{
  "log": {
    "_recordingName": "Observability Pipelines/List pipelines returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "986c80b12bab98f54c61f0c3e4c7fb8c",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page",
              "value": {
                "size": "0"
              }
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines?page%5Bsize%5D=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 70,
            "text": "{\"errors\":[{\"title\":\"page[size] must be a number between 1 and 50\"}]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 460
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
