{
  "log": {
    "_recordingName": "Teams/Get all teams with fields_team parameter returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "7f064970c780fad9467947f46becb6b1",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"test-handle-c164c08030364bd8\",\"name\":\"test-name-c164c08030364bd8\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 616,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"bfc08ce5-4a3c-4336-8544-0a366a1656fb\",\"attributes\":{\"name\":\"test-name-c164c08030364bd8\",\"handle\":\"test-handle-c164c08030364bd8\",\"summary\":null,\"description\":null,\"avatar\":null,\"banner\":1,\"visible_modules\":[],\"hidden_modules\":[],\"created_at\":\"2024-01-10T16:09:16.773654+00:00\",\"modified_at\":\"2024-01-10T16:09:16.773660+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/bfc08ce5-4a3c-4336-8544-0a366a1656fb/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/bfc08ce5-4a3c-4336-8544-0a366a1656fb/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 753
      },
      {
        "_id": "e8920722757839c9ea01a896837e687d",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "fields",
              "value": {
                "team": "id,name,handle"
              }
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/team?fields%5Bteam%5D=id%2Cname%2Chandle"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 795,
            "text": "{\"data\":[{\"type\":\"team\",\"id\":\"2e06bf2c-193b-41d4-b3c2-afccc080458f\",\"attributes\":{\"name\":\"test-name-0d5eae310f4bffff\",\"handle\":\"test-handle-0d5eae310f4bffff\"}},{\"type\":\"team\",\"id\":\"bfc08ce5-4a3c-4336-8544-0a366a1656fb\",\"attributes\":{\"name\":\"test-name-c164c08030364bd8\",\"handle\":\"test-handle-c164c08030364bd8\"}}],\"meta\":{\"pagination\":{\"offset\":0,\"first_offset\":0,\"prev_offset\":0,\"next_offset\":100,\"last_offset\":0,\"limit\":100,\"type\":\"offset_limit\",\"total\":2}},\"links\":{\"self\":\"https://api.datadoghq.com/api/v2/team?fields%5Bteam%5D=id,name,handle\",\"last\":null,\"next\":\"https://api.datadoghq.com/api/v2/team?fields%5Bteam%5D=id,name,handle&page[offset]=100&page[limit]=100\",\"prev\":null,\"first\":\"https://api.datadoghq.com/api/v2/team?fields%5Bteam%5D=id,name,handle&page[offset]=0&page[limit]=100\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 382
      },
      {
        "_id": "62120b2cf70538534b6ea924d5d6de31",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/bfc08ce5-4a3c-4336-8544-0a366a1656fb"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 496
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
