{
  "log": {
    "_recordingName": "Cloudflare Integration/Add Cloudflare account returns \"Bad Request\" response due to missing email",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "13c7d1458bac4a16202b30a082c2a497",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"api_key\":\"test-api-key\",\"name\":\"testaddcloudflareaccountreturnsbadrequestresponseduetomissingemail1674730504\"},\"type\":\"cloudflare-accounts\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integrations/cloudflare/accounts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 104,
            "text": "{\"errors\":[\"{u'_schema': ['Email address is required if providing an api key and not an api token.']}\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 467
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
