{
  "log": {
    "_recordingName": "Cloudflare Integration/Add Cloudflare account returns \"Bad Request\" response due to missing email",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "bb24d6bcd3c0f11c8b8830475507c52c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"api_key\":\"fakekey\",\"name\":\"testaddcloudflareaccountreturnsbadrequestresponseduetomissingemail1704393640\"},\"type\":\"cloudflare-accounts\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integrations/cloudflare/accounts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 103,
            "text": "{\"errors\":[\"{'_schema': ['Email address is required if providing an api key and not an api token.']}\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 144
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
