{
  "log": {
    "_recordingName": "Users/Update a user returns \"Bad User ID in Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "362a4d1e3ca3364ef469f0eb74be6f57",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Update_a_user_returns_Bad_User_ID_in_Request_response-1641829918@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 710,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"3eb4b434-722d-11ec-b5d7-da7ad0900002\",\"attributes\":{\"name\":null,\"handle\":\"test-update_a_user_returns_bad_user_id_in_request_response-1641829918@datadoghq.com\",\"created_at\":\"2022-01-10T15:51:59.274950+00:00\",\"modified_at\":\"2022-01-10T15:51:59.327176+00:00\",\"email\":\"test-update_a_user_returns_bad_user_id_in_request_response-1641829918@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/82d40e5a82e1506dcf3dc9d8414a13d3?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 401
      },
      {
        "_id": "8499153e6c38a6f9cd841c9a48128ecd",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"disabled\":true,\"name\":\"updated\"},\"id\":\"00000000-mismatch-body-id-ffffffffffff\",\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users/3eb4b434-722d-11ec-b5d7-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 63,
            "text": "{\"errors\": [\"UUID's in the URL and request body do not match\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 422,
          "statusText": "Unprocessable Entity"
        },
        "time": 339
      },
      {
        "_id": "389e07fd12058dc48858df19364044a7",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users/3eb4b434-722d-11ec-b5d7-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 566
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
