{
  "log": {
    "_recordingName": "Roles/Remove a user from a role returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "1ef668bcdfff21e7303467379d1c8457",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Remove_a_user_from_a_role_returns_OK_response-1652349176\"},\"type\":\"roles\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/roles"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 764,
            "text": "{\"data\":{\"type\":\"roles\",\"id\":\"4cd4ef1e-d1d9-11ec-ad3d-da7ad0900002\",\"attributes\":{\"name\":\"Test-Remove_a_user_from_a_role_returns_OK_response-1652349176\",\"created_at\":\"2022-05-12T09:52:56.877176+00:00\",\"modified_at\":\"2022-05-12T09:52:56.929241+00:00\"},\"relationships\":{\"permissions\":{\"data\":[{\"type\":\"permissions\",\"id\":\"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2\"},{\"type\":\"permissions\",\"id\":\"4441648c-d8b1-11e9-a77a-1b899a04b304\"},{\"type\":\"permissions\",\"id\":\"417ba636-2dce-11eb-84c0-6bce5b0d9de0\"},{\"type\":\"permissions\",\"id\":\"12efc20e-d36c-11eb-a9b8-da7ad0900002\"},{\"type\":\"permissions\",\"id\":\"97971c1c-e895-11eb-b13c-da7ad0900002\"},{\"type\":\"permissions\",\"id\":\"7605ef24-f376-11eb-b90b-da7ad0900002\"},{\"type\":\"permissions\",\"id\":\"b6bf9ac6-9a59-11ec-8480-da7ad0900002\"}]}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 556
      },
      {
        "_id": "2f94816ce1dc0132b9a8332e4acfab84",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Remove_a_user_from_a_role_returns_OK_response-1652349176@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 694,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"4d2043ce-d1d9-11ec-ad3d-da7ad0900002\",\"attributes\":{\"name\":null,\"handle\":\"test-remove_a_user_from_a_role_returns_ok_response-1652349176@datadoghq.com\",\"created_at\":\"2022-05-12T09:52:57.369469+00:00\",\"modified_at\":\"2022-05-12T09:52:57.419917+00:00\",\"email\":\"test-remove_a_user_from_a_role_returns_ok_response-1652349176@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/261d7f502028b16119eab34d384cc3fb?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 504
      },
      {
        "_id": "36e05f273dc86e083536916d8a592bcd",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"id\":\"4d2043ce-d1d9-11ec-ad3d-da7ad0900002\",\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/roles/4cd4ef1e-d1d9-11ec-ad3d-da7ad0900002/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 790,
            "text": "{\"meta\":{\"page\":{\"total_count\":1}},\"data\":[{\"type\":\"users\",\"id\":\"4d2043ce-d1d9-11ec-ad3d-da7ad0900002\",\"attributes\":{\"name\":null,\"handle\":\"test-remove_a_user_from_a_role_returns_ok_response-1652349176@datadoghq.com\",\"created_at\":\"2022-05-12T09:52:57.369469+00:00\",\"modified_at\":\"2022-05-12T09:52:57.419917+00:00\",\"email\":\"test-remove_a_user_from_a_role_returns_ok_response-1652349176@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/261d7f502028b16119eab34d384cc3fb?s=48&d=retro\",\"title\[...]
