{
  "log": {
    "_recordingName": "Roles/Remove a user from a role returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "1b6f713eab716c35b028dcc811371420",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Remove_a_user_from_a_role_returns_OK_response-1618491762\"},\"type\":\"roles\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/roles"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 496,
            "text": "{\"data\":{\"type\":\"roles\",\"id\":\"dd8931e2-9dea-11eb-9df5-da7ad0900002\",\"attributes\":{\"name\":\"Test-Remove_a_user_from_a_role_returns_OK_response-1618491762\",\"created_at\":\"2021-04-15T13:02:42.958754+00:00\",\"modified_at\":\"2021-04-15T13:02:42.958754+00:00\"},\"relationships\":{\"permissions\":{\"data\":[{\"type\":\"permissions\",\"id\":\"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2\"},{\"type\":\"permissions\",\"id\":\"4441648c-d8b1-11e9-a77a-1b899a04b304\"},{\"type\":\"permissions\",\"id\":\"417ba636-2dce-11eb-84c0-6bce5b0d9de0\"}]}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.4318655"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "500"
            },
            {
              "name": "x-ratelimit-period",
              "value": "60"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "18"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "474"
            },
            {
              "name": "x-dd-debug",
              "value": "L3ULR3HwCWYmEqCWGz2Yob3chcH4pjowBacBXkncP7o+/uPqKt9yGEYf/g1AJPzQ"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 431,
      },
      {
        "_id": "5d1d2884b7400adedc47c399567ee4ba",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Remove_a_user_from_a_role_returns_OK_response-1618491762@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 694,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"ddcc47b6-9dea-11eb-9df5-da7ad0900002\",\"attributes\":{\"name\":null,\"handle\":\"test-remove_a_user_from_a_role_returns_ok_response-1618491762@datadoghq.com\",\"created_at\":\"2021-04-15T13:02:43.397432+00:00\",\"modified_at\":\"2021-04-15T13:02:43.432305+00:00\",\"email\":\"test-remove_a_user_from_a_role_returns_ok_response-1618491762@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/e239481d57da8d56df1cf4a59271b1e7?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.4318655"
            },
            {
              "name": "x-dd-debug",
              "value": "vdJ3/nHEY1ioXQ6pQrBVvsQK1s4yyc+wufBMPSoXql71qZVuP/xMdtNo6DafhOAk"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 465,
      },
      {
        "_id": "1c5d8983537075b63f9debf3b8d5f380",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"id\":\"ddcc47b6-9dea-11eb-9df5-da7ad0900002\",\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/roles/dd8931e2-9dea-11eb-9df5-da7ad0900002/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 790,
            "text": "{\"meta\":{\"page\":{\"total_count\":1}},\"data\":[{\"type\":\"users\",\"id\":\"ddcc47b6-9dea-11eb-9df5-da7ad0900002\",\"attributes\":{\"name\":null,\"handle\":\"test-remove_a_user_from_a_role_returns_ok_response-1618491762@datadoghq.com\",\"created_at\":\"2021-04-15T13:02:43.397432+00:00\",\"modified_at\":\"2021-04-15T13:02:43.432305+00:00\",\"email\":\"test-remove_a_user_from_a_role_returns_ok_response-1618491762@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/e239481d57da8d56df1cf4a59271b1e7?s=48&d=retro\",\"title\[...]
