{
  "log": {
    "_recordingName": "Incidents/Update incident attachment returns \"Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "c0875f0cd4d9e6ab895a5b22f1f21e23",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"attachment\":{\"documentUrl\":\"https://app.datadoghq.com/notebook/124/Postmortem-IR-124\",\"title\":\"Postmortem-IR-124\"}},\"id\":\"00000000-abcd-0002-0000-000000000000\",\"type\":\"incident_attachments\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/incidents/00000000-0000-0000-0000-000000000001/attachments/00000000-0000-0000-0000-000000000001"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 68,
            "text": "{\"errors\":[{\"title\":\"Generic Error\",\"detail\":\"incident not found\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 111
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
