{
  "log": {
    "_recordingName": "Dashboards/Create a new dashboard with funnel widget",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "0af073f74ec243f6d7e501346c55f8f1",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"layout_type\":\"ordered\",\"title\":\"Test-Create_a_new_dashboard_with_funnel_widget-1631888670 with funnel widget\",\"widgets\":[{\"definition\":{\"requests\":[{\"query\":{\"data_source\":\"rum\",\"query_string\":\"\",\"steps\":[]},\"request_type\":\"funnel\"}],\"type\":\"funnel\"}}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 658,
            "text": "{\"notify_list\":null,\"description\":null,\"restricted_roles\":[],\"author_name\":null,\"template_variables\":null,\"is_read_only\":false,\"id\":\"g9f-ifq-bnc\",\"title\":\"Test-Create_a_new_dashboard_with_funnel_widget-1631888670 with funnel widget\",\"url\":\"/dashboard/g9f-ifq-bnc/test-createanewdashboardwithfunnelwidget-1631888670-with-funnel-widget\",\"created_at\":\"2021-09-17T14:24:30.292231+00:00\",\"modified_at\":\"2021-09-17T14:24:30.292231+00:00\",\"author_handle\":\"frog@datadoghq.com\",\"widgets\":[{\"definition\":{\"requests\":[{\"query\":{\"query_string\":\"\",\"data_source\":\"rum\",\"steps\":[]},\"request_type\":\"funnel\"}],\"type\":\"funnel\"},\"id\":2673423064633329}],\"layout_type\":\"ordered\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 163,
      },
      {
        "_id": "acf68a09721244b38ef5908ec181913e",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/g9f-ifq-bnc"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 38,
            "text": "{\"deleted_dashboard_id\":\"g9f-ifq-bnc\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 152,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
