{
  "log": {
    "_recordingName": "Status Pages/Update component returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "8aca048de2828399d0068ce1f0c72956",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"components\":[{\"name\":\"60f11665233eebe6\",\"type\":\"component\"}],\"domain_prefix\":\"dd-integration-tests-60f11665233eebe6\",\"enabled\":true,\"name\":\"[DD Integration Tests] 60f11665233eebe6\",\"type\":\"internal\",\"visualization_type\":\"bars_and_uptime_percentage\"},\"type\":\"status_pages\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/statuspages"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 941,
            "text": "{\"data\":{\"id\":\"e6a6e6ac-0bf8-47d0-8b2f-050867b0e666\",\"type\":\"status_pages\",\"attributes\":{\"company_logo\":null,\"components\":[{\"id\":\"2d7542fb-8481-450f-9c50-d29eb6f1d37b\",\"name\":\"60f11665233eebe6\",\"type\":\"component\",\"status\":\"operational\",\"position\":0}],\"created_at\":\"2026-01-09T18:43:32.8413Z\",\"custom_domain\":null,\"custom_domain_enabled\":false,\"domain_prefix\":\"dd-integration-tests-60f11665233eebe6\",\"email_header_image\":null,\"enabled\":true,\"favicon\":null,\"modified_at\":\"2026-01-09T18:43:32.8413Z\",\"name\":\"[DD Integration Tests] 60f11665233eebe6\",\"page_url\":\"https://frog.datadoghq.com/status-pages/e6a6e6ac-0bf8-47d0-8b2f-050867b0e666/view\",\"subscriptions_enabled\":false,\"type\":\"internal\",\"visualization_type\":\"bars_and_uptime_percentage\"},\"relationships\":{\"created_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}},\"last_modified_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 462
      },
      {
        "_id": "2519d35e69173286f94ba759655eb672",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"60f11665233eebe6\"},\"id\":\"2d7542fb-8481-450f-9c50-d29eb6f1d37b\",\"type\":\"components\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/statuspages/e6a6e6ac-0bf8-47d0-8b2f-050867b0e666/components/2d7542fb-8481-450f-9c50-d29eb6f1d37b"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 568,
            "text": "{\"data\":{\"id\":\"2d7542fb-8481-450f-9c50-d29eb6f1d37b\",\"type\":\"components\",\"attributes\":{\"created_at\":\"2026-01-09T18:43:32.8413Z\",\"modified_at\":\"2026-01-09T18:43:33.312732Z\",\"name\":\"60f11665233eebe6\",\"position\":0,\"status\":\"operational\",\"type\":\"component\"},\"relationships\":{\"created_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}},\"group\":{\"data\":null},\"last_modified_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}},\"status_page\":{\"data\":{\"id\":\"e6a6e6ac-0bf8-47d0-8b2f-050867b0e666\",\"type\":\"status_pages\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 107
      },
      {
        "_id": "a25a8b7b4055adafae042b4d5f41d65b",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/statuspages/e6a6e6ac-0bf8-47d0-8b2f-050867b0e666"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 495
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
