{
  "log": {
    "_recordingName": "Status Pages/Update component returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "c4cbd469ef2f1ec5c67962b669fc6477",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"components\":[{\"name\":\"6465bfa84faaf0b2\",\"type\":\"component\"}],\"domain_prefix\":\"dd-integration-tests-6465bfa84faaf0b2\",\"enabled\":true,\"name\":\"[DD Integration Tests] 6465bfa84faaf0b2\",\"type\":\"internal\",\"visualization_type\":\"bars_and_uptime_percentage\"},\"type\":\"status_pages\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/statuspages"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 945,
            "text": "{\"data\":{\"id\":\"99c044f8-e2d0-42e1-a002-8f17a0d0a2b3\",\"type\":\"status_pages\",\"attributes\":{\"company_logo\":null,\"components\":[{\"id\":\"a934b735-7f6a-4af8-b271-07648058f3aa\",\"name\":\"6465bfa84faaf0b2\",\"type\":\"component\",\"status\":\"operational\",\"position\":0}],\"created_at\":\"2026-01-09T15:10:44.359918Z\",\"custom_domain\":null,\"custom_domain_enabled\":false,\"domain_prefix\":\"dd-integration-tests-6465bfa84faaf0b2\",\"email_header_image\":null,\"enabled\":true,\"favicon\":null,\"modified_at\":\"2026-01-09T15:10:44.359918Z\",\"name\":\"[DD Integration Tests] 6465bfa84faaf0b2\",\"page_url\":\"https://frog.datadoghq.com/status-pages/99c044f8-e2d0-42e1-a002-8f17a0d0a2b3/view\",\"subscriptions_enabled\":false,\"type\":\"internal\",\"visualization_type\":\"bars_and_uptime_percentage\"},\"relationships\":{\"created_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}},\"last_modified_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 458
      },
      {
        "_id": "add495f9de2d20e97ac0ea83989df37e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"6465bfa84faaf0b2\"},\"id\":\"a934b735-7f6a-4af8-b271-07648058f3aa\",\"type\":\"components\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/statuspages/99c044f8-e2d0-42e1-a002-8f17a0d0a2b3/components/a934b735-7f6a-4af8-b271-07648058f3aa"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 570,
            "text": "{\"data\":{\"id\":\"a934b735-7f6a-4af8-b271-07648058f3aa\",\"type\":\"components\",\"attributes\":{\"created_at\":\"2026-01-09T15:10:44.359918Z\",\"modified_at\":\"2026-01-09T15:10:44.823098Z\",\"name\":\"6465bfa84faaf0b2\",\"position\":0,\"status\":\"operational\",\"type\":\"component\"},\"relationships\":{\"created_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}},\"group\":{\"data\":null},\"last_modified_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}},\"status_page\":{\"data\":{\"id\":\"99c044f8-e2d0-42e1-a002-8f17a0d0a2b3\",\"type\":\"status_pages\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 104
      },
      {
        "_id": "b652e5f7742ee53d11264e1dfe07b8bd",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/statuspages/99c044f8-e2d0-42e1-a002-8f17a0d0a2b3"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 419
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
