{
  "log": {
    "_recordingName": "Service Scorecards/List all rule outcomes returns \"OK\" response with pagination",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "67dcf0e1beb42954c2e4f24c9dcaecb4",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page",
              "value": {
                "size": "2"
              }
            },
            {
              "name": "fields",
              "value": {
                "outcome": "state"
              }
            },
            {
              "name": "filter",
              "value": {
                "outcome": {
                  "service_name": "my-service"
                }
              }
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/scorecard/outcomes?page%5Bsize%5D=2&fields%5Boutcome%5D=state&filter%5Boutcome%5D%5Bservice_name%5D=my-service"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 415,
            "text": "{\"data\":[{\"id\":\"be6867b9-bd71-497f-803f-208d7361fee2\\\\my-service\",\"type\":\"outcome\",\"attributes\":{\"state\":\"pass\"}},{\"id\":\"c70e3b5f-a9f7-4ef8-8417-bf28ea153631\\\\my-service\",\"type\":\"outcome\",\"attributes\":{\"state\":\"pass\"}}],\"links\":{\"next\":\"/api/v2/scorecard/outcomes?fields%5Boutcome%5D=state\\u0026filter%5Boutcome%5D%5Bservice_name%5D=my-service\\u0026page%5Blimit%5D=2\\u0026page%5Boffset%5D=2\\u0026page%5Bsize%5D=2\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 172
      },
      {
        "_id": "890ce6432c79da77d09e29bcc4c9a5f6",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page",
              "value": {
                "offset": "2",
                "size": "2"
              }
            },
            {
              "name": "fields",
              "value": {
                "outcome": "state"
              }
            },
            {
              "name": "filter",
              "value": {
                "outcome": {
                  "service_name": "my-service"
                }
              }
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/scorecard/outcomes?page%5Bsize%5D=2&page%5Boffset%5D=2&fields%5Boutcome%5D=state&filter%5Boutcome%5D%5Bservice_name%5D=my-service"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 395,
            "text": "{\"data\":[],\"links\":{\"next\":\"/api/v2/scorecard/outcomes?fields%5Boutcome%5D=state\\u0026filter%5Boutcome%5D%5Bservice_name%5D=my-service\\u0026page%5Blimit%5D=2\\u0026page%5Boffset%5D=4\\u0026page%5Bsize%5D=2\",\"previous\":\"/api/v2/scorecard/outcomes?fields%5Boutcome%5D=state\\u0026filter%5Boutcome%5D%5Bservice_name%5D=my-service\\u0026page%5Blimit%5D=2\\u0026page%5Boffset%5D=0\\u0026page%5Bsize%5D=2\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 100
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
