{
  "log": {
    "_recordingName": "Sensitive Data Scanner/Create Scanning Rule returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "01611a935e7406303c51f707c3b51e78",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/sensitive-data-scanner/config"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 303,
            "text": "{\"meta\":{\"count_limit\":100,\"version\":1308,\"group_count_limit\":20,\"is_pci_compliant\":false,\"has_highlight_enabled\":true},\"data\":{\"relationships\":{\"groups\":{\"data\":[]}},\"attributes\":{},\"type\":\"sensitive_data_scanner_configuration\",\"id\":\"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 892
      },
      {
        "_id": "33fa4a3957efafdd007a0db82f7ed158",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"filter\":{\"query\":\"*\"},\"is_enabled\":false,\"name\":\"my-test-group\",\"product_list\":[\"logs\"]},\"relationships\":{\"configuration\":{\"data\":{\"id\":\"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87\",\"type\":\"sensitive_data_scanner_configuration\"}},\"rules\":{\"data\":[]}},\"type\":\"sensitive_data_scanner_group\"},\"meta\":{}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/groups"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 390,
            "text": "{\"meta\":{\"version\":1309},\"data\":{\"relationships\":{\"rules\":{\"data\":[]},\"configuration\":{\"data\":{\"type\":\"sensitive_data_scanner_configuration\",\"id\":\"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87\"}}},\"attributes\":{\"is_enabled\":false,\"filter\":{\"query\":\"*\"},\"product_list\":[\"logs\"],\"name\":\"my-test-group\"},\"type\":\"sensitive_data_scanner_group\",\"id\":\"ul6sS3enQvCwJZsxsDGYDg\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 386
      },
      {
        "_id": "214e960f866244de3bf37884ac035c6f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"is_enabled\":true,\"pattern\":\"pattern\",\"tags\":[\"sensitive_data:true\"],\"text_replacement\":{\"type\":\"none\"}},\"relationships\":{\"group\":{\"data\":{\"id\":\"ul6sS3enQvCwJZsxsDGYDg\",\"type\":\"sensitive_data_scanner_group\"}}},\"type\":\"sensitive_data_scanner_rule\"},\"meta\":{}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/rules"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 121,
            "text": "{\"errors\":[\"input_validation_error(Field 'data.attributes.name' is invalid: field 'data.attributes.name' is required)\"]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 384
      },
      {
        "_id": "e10f65d8b36dcb9c4d6cc7eb1ce61389",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "DELETE",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"meta\":{}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/groups/ul6sS3enQvCwJZsxsDGYDg"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 26,
            "text": "{\"meta\":{\"version\":1310}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 387
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
