{
  "log": {
    "_recordingName": "Dashboards/Create a new dashboard with logs query table widget and storage parameter",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "1cb538b3fc0e8bfa7b4969d32a40901e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"layout_type\":\"ordered\",\"title\":\"Test-Create_a_new_dashboard_with_logs_query_table_widget_and_storage_parameter-1663859189 with query table widget and storage parameter\",\"widgets\":[{\"definition\":{\"requests\":[{\"formulas\":[{\"cell_display_mode\":\"bar\",\"conditional_formats\":[],\"formula\":\"query1\",\"limit\":{\"count\":50,\"order\":\"desc\"}}],\"queries\":[{\"compute\":{\"aggregation\":\"count\"},\"data_source\":\"logs\",\"group_by\":[],\"indexes\":[\"*\"],\"name\":\"query1\",\"search\":{\"query\":\"\"},\"storage\":\"online_archives\"}],\"response_format\":\"scalar\"}],\"type\":\"query_table\"}}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 963,
            "text": "{\"notify_list\":null,\"description\":null,\"restricted_roles\":[],\"author_name\":null,\"template_variables\":null,\"is_read_only\":false,\"id\":\"3my-5nt-jfx\",\"title\":\"Test-Create_a_new_dashboard_with_logs_query_table_widget_and_storage_parameter-1663859189 with query table widget and storage parameter\",\"url\":\"/dashboard/3my-5nt-jfx/test-createanewdashboardwithlogsquerytablewidgetandstorageparameter-1663859189-w\",\"created_at\":\"2022-09-22T15:06:29.565373+00:00\",\"modified_at\":\"2022-09-22T15:06:29.565373+00:00\",\"author_handle\":\"frog@datadoghq.com\",\"widgets\":[{\"definition\":{\"requests\":[{\"formulas\":[{\"formula\":\"query1\",\"cell_display_mode\":\"bar\",\"limit\":{\"count\":50,\"order\":\"desc\"},\"conditional_formats\":[]}],\"response_format\":\"scalar\",\"queries\":[{\"search\":{\"query\":\"\"},\"data_source\":\"logs\",\"compute\":{\"aggregation\":\"count\"},\"name\":\"query1\",\"storage\":\"online_archives\",\"indexes\":[\"*\"],\"group_by\":[]}]}],\"type\":\"query_table\"},\"id\":7645558730591730}],\"layout_type\":\"ordered\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 592
      },
      {
        "_id": "e7f5660d4f8f518d8072266306b32016",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/3my-5nt-jfx"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 39,
            "text": "{\"deleted_dashboard_id\":\"3my-5nt-jfx\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 401
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
