{
  "log": {
    "_recordingName": "Service Level Objectives/Update an SLO returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "3e5fdac3afdca00131f9a5d1a174803b",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"Test-Update_an_SLO_returns_Bad_Request_response-1618572732\",\"query\":{\"denominator\":\"sum:httpservice.hits{!code:3xx}.as_count()\",\"numerator\":\"sum:httpservice.hits{code:2xx}.as_count()\"},\"thresholds\":[{\"target\":95,\"timeframe\":\"7d\",\"warning\":98}],\"type\":\"metric\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/slo"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 615,
            "text": "{\"data\":[{\"description\":\"\",\"monitor_tags\":[],\"creator\":{\"handle\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\",\"name\":\"CI Account\",\"email\":\"team-intg-tools-libs@datadoghq.com\"},\"thresholds\":[{\"warning\":98.0,\"warning_display\":\"98.\",\"target\":95.0,\"target_display\":\"95.\",\"timeframe\":\"7d\"}],\"type_id\":1,\"query\":{\"denominator\":\"sum:httpservice.hits{!code:3xx}.as_count()\",\"numerator\":\"sum:httpservice.hits{code:2xx}.as_count()\"},\"id\":\"90eaa3b4c11751b884a783c81485ed31\",\"name\":\"Test-Update_an_SLO_returns_Bad_Request_response-1618572732\",\"created_at\":1618572732,\"tags\":[],\"modified_at\":1618572732,\"type\":\"metric\"}],\"error\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 236
      },
      {
        "_id": "a36a5a4ec433427397cec1db5b5dd2df",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"Test-Update_an_SLO_returns_Bad_Request_response-1618572732\",\"thresholds\":[{\"target\":95,\"target_display\":\"95.0\",\"timeframe\":\"7d\",\"warning\":98,\"warning_display\":\"98.0\"}],\"type\":\"monitor\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/slo/90eaa3b4c11751b884a783c81485ed31"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 71,
            "text": "{\"errors\": [\"Invalid payload: must specify the query for count types\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 80
      },
      {
        "_id": "abb60d5b196ed229ede6c28f061f6a1e",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/slo/90eaa3b4c11751b884a783c81485ed31"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 58,
            "text": "{\"data\":[\"90eaa3b4c11751b884a783c81485ed31\"],\"error\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 100
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
