{
  "log": {
    "_recordingName": "Service Level Objectives/Update an SLO returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "b4ce3d4d62ae32e6b3ff713830a6be28",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"Test-Update_an_SLO_returns_Bad_Request_response-1641430272\",\"query\":{\"denominator\":\"sum:httpservice.hits{!code:3xx}.as_count()\",\"numerator\":\"sum:httpservice.hits{code:2xx}.as_count()\"},\"thresholds\":[{\"target\":95,\"timeframe\":\"7d\",\"warning\":98}],\"type\":\"metric\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/slo"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 573,
            "text": "{\"data\":[{\"description\":\"\",\"monitor_tags\":[],\"creator\":{\"handle\":\"frog@datadoghq.com\",\"name\":null,\"email\":\"frog@datadoghq.com\"},\"thresholds\":[{\"warning\":98,\"warning_display\":\"98.\",\"target\":95,\"target_display\":\"95.\",\"timeframe\":\"7d\"}],\"type_id\":1,\"query\":{\"denominator\":\"sum:httpservice.hits{!code:3xx}.as_count()\",\"numerator\":\"sum:httpservice.hits{code:2xx}.as_count()\"},\"id\":\"f21337f0ea7059f986448228aaa11f09\",\"name\":\"Test-Update_an_SLO_returns_Bad_Request_response-1641430272\",\"created_at\":1641430273,\"tags\":[],\"modified_at\":1641430273,\"type\":\"metric\"}],\"error\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 228
      },
      {
        "_id": "edd09425f2b5f0c7918f809f7de8e7b7",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"Test-Update_an_SLO_returns_Bad_Request_response-1641430272\",\"thresholds\":[{\"target\":95,\"target_display\":\"95.0\",\"timeframe\":\"7d\",\"warning\":98,\"warning_display\":\"98.0\"}],\"type\":\"monitor\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/slo/f21337f0ea7059f986448228aaa11f09"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 71,
            "text": "{\"errors\":[\"Invalid payload: must specify the query for count types\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 207
      },
      {
        "_id": "38160cc50c91dccae25896ebb3d3d22d",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/slo/f21337f0ea7059f986448228aaa11f09"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 58,
            "text": "{\"data\":[\"f21337f0ea7059f986448228aaa11f09\"],\"error\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 209
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
