{
  "log": {
    "_recordingName": "Service Level Objectives/Update an SLO returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "119293482e244b57e7a98c8477e1df08",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/slo/testupdateansloreturnsbadrequestresponse1618232011"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 69,
            "text": "{\"errors\": [\"Invalid payload: Required parameter 'type' is missing\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "500"
            },
            {
              "name": "x-ratelimit-period",
              "value": "60"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "29"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "499"
            },
            {
              "name": "x-dd-version",
              "value": "35.4288583"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 398,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
