{
  "log": {
    "_recordingName": "Synthetics/Synthetics: Get a Network Path test returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "a1a86dd2617f349d135693ac698b833c",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/synthetics/tests/network/amg-96x-tps"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 549,
            "text": "{\"data\":{\"type\":\"network_test\",\"attributes\":{\"config\":{\"request\":{\"traceroute_queries\":3,\"tcp_method\":\"prefer_sack\",\"max_ttl\":30,\"e2e_queries\":50,\"host\":\"example.com\",\"port\":443},\"assertions\":[{\"operator\":\"lessThan\",\"property\":\"avg\",\"target\":500,\"type\":\"latency\"}]},\"public_id\":\"amg-96x-tps\",\"locations\":[\"aws:us-east-1\",\"agent:my-agent-name\"],\"options\":{\"tick_every\":60},\"name\":\"Example Network Path test\",\"message\":\"Network Path test notification\",\"type\":\"network\",\"status\":\"paused\",\"subtype\":\"tcp\",\"tags\":[\"env:production\"]},\"id\":\"amg-96x-tps\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 511
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
