{
  "log": {
    "_recordingName": "Key Management/Get an application key returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "e4cddd78fa9d0b93ea63d98162a50296",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Get_an_application_key_returns_OK_response-1639757125\"},\"type\":\"application_keys\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/current_user/application_keys"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 374,
            "text": "{\"data\":{\"type\":\"application_keys\",\"id\":\"9a0b1595-cd54-43d6-bcf6-3236010954ee\",\"attributes\":{\"name\":\"Test-Get_an_application_key_returns_OK_response-1639757125\",\"created_at\":\"2021-12-17T16:05:26.376982+00:00\",\"last4\":\"beef\",\"key\":\"deaddcc81a44288fbbbfb15efe1203df034abeef\"},\"relationships\":{\"owned_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "383"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "400"
            },
            {
              "name": "x-ratelimit-period",
              "value": "3600"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "3274"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 361,
      },
      {
        "_id": "b9a11fccc120f02bfa3d691671185937",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/application_keys/9a0b1595-cd54-43d6-bcf6-3236010954ee"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 325,
            "text": "{\"data\":{\"type\":\"application_keys\",\"id\":\"9a0b1595-cd[...]
