{
  "log": {
    "_recordingName": "Key Management/Get an application key returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "90f48e2148d3ffe0d7df8f07d37c2be0",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Get_an_application_key_returns_OK_response-1641829855\"},\"type\":\"application_keys\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/current_user/application_keys"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 388,
            "text": "{\"data\":{\"type\":\"application_keys\",\"id\":\"6abb4aad-629b-4a90-9259-fca22d3a8a99\",\"attributes\":{\"name\":\"Test-Get_an_application_key_returns_OK_response-1641829855\",\"created_at\":\"2022-01-10T15:50:55.804516+00:00\",\"last4\":\"xxxx\",\"key\":\"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\"scopes\":null},\"relationships\":{\"owned_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 387
      },
      {
        "_id": "ab4318b1f1e747cb549b3e742997a9be",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/application_keys/6abb4aad-629b-4a90-9259-fca22d3a8a99"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 339,
            "text": "{\"data\":{\"type\":\"application_keys\",\"id\":\"6abb4aad-629[...]
