{
  "log": {
    "_recordingName": "Key Management/Get an application key returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "04aeed6c01d1336972ac44b742198dfc",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Get_an_application_key_returns_OK_response-1757323488\"},\"type\":\"application_keys\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/current_user/application_keys"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 422,
            "text": "{\"data\":{\"type\":\"application_keys\",\"id\":\"0292830c-dde3-4e62-a568-573e4be65dff\",\"attributes\":{\"name\":\"Test-Get_an_application_key_returns_OK_response-1757323488\",\"created_at\":\"2025-09-08T09:24:48.499395+00:00\",\"last4\":\"xxxx\",\"key\":\"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\"scopes\":null},\"relationships\":{\"owned_by\":{\"data\":{\"type\":\"users\",\"id\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\"}},\"leak_information\":{\"data\":null}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 129
      },
      {
        "_id": "a7da6c1f4bc57f13730db1b4ba9becb7",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/application_keys/0292830c-dde3-4e62-a568-573e4be65dff"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 393,
            "text": "{\"data\":{\"type\":\"application_keys\",\"id\":\"0292830c-dde3-4e62-a568-573e4be65dff\",\"attributes\":{\"name\":\"Test-Get_an_application_key_returns_OK_response-1757323488\",\"created_at\":\"2025-09-08T09:24:48.499395+00:00\",\"last4\":\"xxxx\",\"scopes\":null,\"last_used_at\":null},\"relationships\":{\"owned_by\":{\"data\":{\"type\":\"users\",\"id\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\"}},\"leak_information\":{\"data\":null}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 127
      },
      {
        "_id": "d9e90005bebfd0a1c372bd50cbe6a21a",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/current_user/application_keys/0292830c-dde3-4e62-a568-573e4be65dff"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=utf-8",
            "size": 0
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=utf-8"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 294
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
