{
  "log": {
    "_recordingName": "Service Accounts/Get one application key for this service account returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "91e1f4f43ea285a8dd7e5d1b8c2cebe0",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Get_one_application_key_for_this_service_account_returns_OK_response-1697095113@datadoghq.com\",\"service_account\":true,\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/service_accounts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 676,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"8d6f1427-68cf-11ee-b38b-b697d9f51e5c\",\"attributes\":{\"name\":null,\"handle\":\"8d6f1427-68cf-11ee-b38b-b697d9f51e5c\",\"created_at\":\"2023-10-12T07:18:33.545035+00:00\",\"modified_at\":\"2023-10-12T07:18:33.545035+00:00\",\"email\":\"test-get_one_application_key_for_this_service_account_returns_ok_response-1697095113@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/675597cb6c88dc2642385e567f57b727?s=48&d=retro\",\"title\":\"user title\",\"verified\":true,\"service_account\":true,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Active\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 524
      },
      {
        "_id": "7febf626cf9bcaded05451eb831dad92",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Get_one_application_key_for_this_service_account_returns_OK_response-1697095113\"},\"type\":\"application_keys\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/service_accounts/8d6f1427-68cf-11ee-b38b-b697d9f51e5c/application_keys"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 448,
            "text": "{\"data\":{\"type\":\"application_keys\",\"id\":\"490b7601-a457-449c-8d8c-72c848e669d5\",\"attributes\":{\"name\":\"Test-Get_one_application_key_for_this_service_account_returns_OK_response-1697095113\",\"created_at\":\"2023-10-12T07:18:34.052468+00:00\",\"last4\":\"xxxx\",\"key\":\"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\"scopes\":null},\"relationships\":{\"owned_by\":{\"data\":{\"type\":\"users\",\"id\":\"8d6f1427-68cf-11ee-b38b-b697d9f51e5c\"}},\"leak_information\":{\"data\":null}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 684
      },
      {
        "_id": "d69102197945f1f365dfdecb2e664f8d",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/s[...]
