{
  "log": {
    "_recordingName": "Workflow Automation/Cancel a workflow instance returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "98b0f3208080a6600c1990114cba0bd8",
        "request": {
          "headers": [
          ],
          "method": "PUT",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/workflows/malformed/instances/malformed/cancel"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 105,
            "text": "{\"errors\":[{\"code\":\"INVALID_FIELD_VALUE\",\"detail\":\"value <no value> is invalid for field workflow_id\"}]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 193
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
