{
  "log": {
    "_recordingName": "Case Management/Get the details of a case returns \"Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "9c63e8537a007b429e54bbfd11806251",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/cases/67d80aa3-36ff-44b9-a694-c501a7591737"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 67,
            "text": "{\"errors\":[{\"code\":\"resource_not_found\",\"title\":\"case not found\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 70
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
