{
  "log": {
    "_recordingName": "Metrics/Create a Tag Configuration returns \"Created\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "248cf1e77ccc81295ff402cc88672299",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"metric_type\":\"distribution\",\"tags\":[\"app\",\"datacenter\"]},\"id\":\"TypescriptCreateaTagConfigurationreturnsCreatedresponse1613676226423\",\"type\":\"manage_tags\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/metrics/TypescriptCreateaTagConfigurationreturnsCreatedresponse1613676226423/tags"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 303,
            "text": "{\"data\":{\"type\":\"manage_tags\",\"id\":\"TypescriptCreateaTagConfigurationreturnsCreatedresponse1613676226423\",\"attributes\":{\"tags\":[\"datacenter\",\"app\"],\"include_percentiles\":false,\"created_at\":\"2021-02-18T19:23:46.702478+00:00\",\"updated_at\":\"2021-02-18T19:23:46.702478+00:00\",\"metric_type\":\"distribution\"}}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.3936814"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "50"
            },
            {
              "name": "x-ratelimit-period",
              "value": "60"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "14"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "49"
            },
            {
              "name": "x-dd-debug",
              "value": "L3ULR3HwCWYmEqCWGz2Yob3chcH4pjowBacBXkncP7o+/uPqKt9yGEYf/g1AJPzQ"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 343,
      },
      {
        "_id": "176c82ddfc44cea8e7b149d83f654979",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/metrics/TypescriptCreateaTagConfigurationreturnsCreatedresponse1613676226423/tags"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 0
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.3936814"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "50"
            },
            {
              "name": "x-ratelimit-period",
              "value": "60"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "13"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "48"
            },
            {
              "name": "x-dd-debug",
              "value": "/L+SFFO+m1pPY+hRCpk5325fvfrNl0KmiquUNJolBN/5hu3HIwflqjZSbJ6NxDFG"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 347,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
