{
  "log": {
    "_recordingName": "Metrics/Create a Tag Configuration returns \"Created\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "5b44101bc7d719c4056c6549b0b357d7",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"metric_type\":\"distribution\",\"tags\":[\"app\",\"datacenter\"]},\"id\":\"TypescriptCreateaTagConfigurationreturnsCreatedresponse1613666631573\",\"type\":\"manage_tags\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/metrics/TypescriptCreateaTagConfigurationreturnsCreatedresponse1613666631573/tags"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 303,
            "text": "{\"data\":{\"type\":\"manage_tags\",\"id\":\"TypescriptCreateaTagConfigurationreturnsCreatedresponse1613666631573\",\"attributes\":{\"tags\":[\"datacenter\",\"app\"],\"include_percentiles\":false,\"created_at\":\"2021-02-18T16:43:51.826923+00:00\",\"updated_at\":\"2021-02-18T16:43:51.826923+00:00\",\"metric_type\":\"distribution\"}}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.3935655"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "50"
            },
            {
              "name": "x-ratelimit-period",
              "value": "60"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "9"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "49"
            },
            {
              "name": "x-dd-debug",
              "value": "5gfwVh/5HZ+AnGd/Di93w3NEWC6KMHT9KzmHEiRJmNdOjBtAsbOcgVFyqEChw71h"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 329,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
