{
  "log": {
    "_recordingName": "Metrics/Create a Tag Configuration returns \"Created\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "68d4cec672008cfebba54ef810a78e63",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"metric_type\":\"distribution\",\"tags\":[\"app\",\"datacenter\"]},\"id\":\"TypescriptCreateaTagConfigurationreturnsCreatedresponse1613653940867\",\"type\":\"manage_tags\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/metrics/TypescriptCreateaTagConfigurationreturnsCreatedresponse1613653940867/tags"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 303,
            "text": "{\"data\":{\"type\":\"manage_tags\",\"id\":\"TypescriptCreateaTagConfigurationreturnsCreatedresponse1613653940867\",\"attributes\":{\"tags\":[\"datacenter\",\"app\"],\"include_percentiles\":false,\"created_at\":\"2021-02-18T13:12:21.147212+00:00\",\"updated_at\":\"2021-02-18T13:12:21.147212+00:00\",\"metric_type\":\"distribution\"}}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.3933218"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "50"
            },
            {
              "name": "x-ratelimit-period",
              "value": "60"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "39"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "49"
            },
            {
              "name": "x-dd-debug",
              "value": "JpIJLwIH2nFlZOC+u71rq7aAOL43MLZN3MUsL+gpYHdZz5QLUOG8Jysf8kVK6tPU"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 337,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
