{
  "log": {
    "_recordingName": "Security Monitoring/Retrieve a custom framework returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "582024f409eb16dfa2f56497abe91507",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"ponse1737559707\",\"icon_url\":\"\",\"name\":\"ponse1737559707\",\"requirements\":[{\"controls\":[{\"name\":\"ponse1737559707\",\"rules_id\":[\"kyz-e99-tys\"]}],\"name\":\"ponse1737559707\"}],\"version\":\"ponse1737559707\"},\"type\":\"custom_framework\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/cloud_security_management/custom_frameworks"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 0
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 875
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
