{
  "log": {
    "_recordingName": "Deployment Gates/Get deployment gate returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "2ee257aa1daf56f98edd6761ae9bdd50",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"dry_run\":false,\"env\":\"production\",\"identifier\":\"my-gate-testgetdeploymentgatereturnsokresponse1764326921\",\"service\":\"my-service\"},\"type\":\"deployment_gate\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/deployment_gates"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 564,
            "text": "{\"data\":{\"id\":\"6fc0d64b-aa76-49f9-804b-5ba224951b53\",\"type\":\"deployment_gate\",\"attributes\":{\"created_at\":\"2025-11-28T10:48:42.011911Z\",\"created_by\":{\"id\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\",\"name\":\"CI Account\",\"handle\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\"},\"dry_run\":false,\"env\":\"production\",\"identifier\":\"my-gate-testgetdeploymentgatereturnsokresponse1764326921\",\"service\":\"my-service\",\"updated_at\":\"2025-11-28T10:48:42.011911Z\",\"updated_by\":{\"id\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\",\"name\":\"CI Account\",\"handle\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\"}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 120
      },
      {
        "_id": "74d7566cab6a8e98c8b675d6475e1010",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/deployment_gates/6fc0d64b-aa76-49f9-804b-5ba224951b53"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 564,
            "text": "{\"data\":{\"id\":\"6fc0d64b-aa76-49f9-804b-5ba224951b[...]
