{
  "log": {
    "_recordingName": "Deployment Gates/Get deployment gate returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "70acb264a190c9504530585b68c408be",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"dry_run\":false,\"env\":\"production\",\"identifier\":\"my-gate\",\"service\":\"my-service\"},\"type\":\"deployment_gate\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/deployment_gates"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 515,
            "text": "{\"data\":{\"id\":\"7c0d0ce7-3565-48b1-a4da-fdf21855d8b9\",\"type\":\"deployment_gate\",\"attributes\":{\"created_at\":\"2025-10-24T09:11:35.388088Z\",\"created_by\":{\"id\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\",\"name\":\"CI Account\",\"handle\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\"},\"dry_run\":false,\"env\":\"production\",\"identifier\":\"my-gate\",\"service\":\"my-service\",\"updated_at\":\"2025-10-24T09:11:35.388088Z\",\"updated_by\":{\"id\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\",\"name\":\"CI Account\",\"handle\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\"}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 352
      },
      {
        "_id": "4e52f7cde4cc29173036115adfab78c9",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/deployment_gates/7c0d0ce7-3565-48b1-a4da-fdf21855d8b9"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 515,
            "text": "{\"data\":{\"id\":\"7c0d0ce7-3565-48b1-a4da-fdf21855d8[...]
