{
  "log": {
    "_recordingName": "Usage Metering/Get hourly usage for profiled hosts returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "8ec3876241e63800020e45ee50a856b3",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "start_hr",
              "value": "2025-05-07T11:36:03.746Z"
            },
            {
              "name": "end_hr",
              "value": "2025-05-09T11:36:03.746Z"
            }
          ],
          "url": "https://api.datadoghq.com/api/v1/usage/profiling?start_hr=2025-05-07T11%3A36%3A03.746Z&end_hr=2025-05-09T11%3A36%3A03.746Z"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 10812,
            "text": "{\"usage\":[{\"hour\":\"2025-05-07T11:00:00+00:00\",\"region\":\"us\",\"host_count\":null,\"avg_container_agent_count\":null,\"aas_count\":null,\"uncategorized_host_count\":null,\"org_name\":\"DD Integration Tests (321813)\",\"public_id\":\"fasjyydbcgwwc2uc\"},{\"hour\":\"2025-05-07T12:00:00+00:00\",\"region\":\"us\",\"host_count\":null,\"avg_container_agent_count\":null,\"aas_count\":null,\"uncategorized_host_count\":null,\"org_name\":\"DD Integration Tests (321813)\",\"public_id\":\"fasjyydbcgwwc2uc\"},{\"hour\":\"2025-05-07T13:00:00+00:00\",\"region\":\"us\",\"host_count\":null,\"avg_container_agent_count\":null,\"aas_count\":null,\"uncategorized_host_count\":null,\"org_name\":\"DD Integration Tests (321813)\",\"public_id\":\"[...]
