{
  "log": {
    "_recordingName": "Microsoft Teams Integration/Delete api handle returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "b4e11de50defc5bf5b7c736f95d38639",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"channel_id\":\"19:iD_D2xy_sAa-JV851JJYwIa6mlW9F9Nxm3SLyZq68qY1@thread.tacv2\",\"name\":\"Test-Delete_api_handle_returns_OK_response-1727794144\",\"team_id\":\"e5f50a58-c929-4fb3-8866-e2cd836de3c2\",\"tenant_id\":\"4d3bac44-0230-4732-9e70-cc00736f0a97\"},\"type\":\"handle\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integration/ms-teams/configuration/tenant-based-handles"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 324,
            "text": "{\"data\":{\"id\":\"4da666b2-8004-11ef-a397-da7ad0900002\",\"type\":\"handle\",\"attributes\":{\"channel_id\":\"19:iD_D2xy_sAa-JV851JJYwIa6mlW9F9Nxm3SLyZq68qY1@thread.tacv2\",\"name\":\"Test-Delete_api_handle_returns_OK_response-1727794144\",\"team_id\":\"e5f50a58-c929-4fb3-8866-e2cd836de3c2\",\"tenant_id\":\"4d3bac44-0230-4732-9e70-cc00736f0a97\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 121
      },
      {
        "_id": "72a34476737dbd18e6e76a6a13d150e1",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integration/ms-teams/configuration/tenant-based-handles/4da666b2-8004-11ef-a397-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 77
      },
      {
        "_id": "72a34476737dbd18e6e76a6a13d150e1",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integration/ms-teams/configuration/tenant-based-handles/4da666b2-8004-11ef-a397-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 63
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
