{
  "log": {
    "_recordingName": "Annotations/Delete an annotation returns \"No Content\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "78d2d11619620348cab74b6ac6482f5b",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"color\":\"blue\",\"description\":\"Deployed v2.3.1 to production.\",\"page_id\":\"dashboard:abc-def-xyz\",\"start_time\":1704067200000,\"type\":\"pointInTime\"},\"type\":\"annotation\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/annotation"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 355,
            "text": "{\"data\":{\"id\":\"152a2920-7598-4487-b185-b15931f92bc0\",\"type\":\"annotation\",\"attributes\":{\"author_id\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\",\"color\":\"blue\",\"created_at\":1779913697691,\"description\":\"Deployed v2.3.1 to production.\",\"end_time\":null,\"modified_at\":1779913697691,\"page_id\":\"dashboard:abc-def-xyz\",\"start_time\":1704067200000,\"type\":\"pointInTime\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 74
      },
      {
        "_id": "1fbf688f1758ffe35a647abd23a1e3b5",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/annotation/152a2920-7598-4487-b185-b15931f92bc0"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 88
      },
      {
        "_id": "1fbf688f1758ffe35a647abd23a1e3b5",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/annotation/152a2920-7598-4487-b185-b15931f92bc0"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 71
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
