{
  "log": {
    "_recordingName": "Usage Metering/Get hourly usage for Database Monitoring returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "133a7a0293a1f69eb81b63d08a1ba819",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "start_hr",
              "value": "2022-03-27T15:43:36.948Z"
            },
            {
              "name": "end_hr",
              "value": "2022-03-29T15:43:36.948Z"
            }
          ],
          "url": "https://api.datadoghq.com/api/v1/usage/dbm?start_hr=2022-03-27T15%3A43%3A36.948Z&end_hr=2022-03-29T15%3A43%3A36.948Z"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 7595,
            "text": "{\"usage\":[{\"org_name\":\"DD Integration Tests (321813)\",\"dbm_host_count\":null,\"dbm_queries_count\":null,\"public_id\":\"fasjyydbcgwwc2uc\",\"hour\":\"2022-03-27T15:00:00+00:00\"},{\"org_name\":\"DD Integration Tests (321813)\",\"dbm_host_count\":null,\"dbm_queries_count\":null,\"public_id\":\"fasjyydbcgwwc2uc\",\"hour\":\"2022-03-27T16:00:00+00:00\"},{\"org_name\":\"DD Integration Tests (321813)\",\"dbm_host_count\":null,\"dbm_queries_count\":null,\"public_id\":\"fasjyydbcgwwc2uc\",\"hour\":\"2022-03-27T17:00:00+00:00\"},{\"org_name\":\"DD Integration Tests (321813)\",\"dbm_host_count\":null,\"dbm_queries_count\":null,\"public_id\":\"fasjyy[...]
