{
  "log": {
    "_recordingName": "Teams/Get all teams returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "6829a0750a000b34f69e3d08a7fbaef8",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"test-handle-e6e42a2ebca0ed06\",\"name\":\"test-name-e6e42a2ebca0ed06\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 619,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"2f5b80be-405b-11ee-8a0d-da7ad0900002\",\"attributes\":{\"name\":\"test-name-e6e42a2ebca0ed06\",\"handle\":\"test-handle-e6e42a2ebca0ed06\",\"summary\":null,\"description\":null,\"avatar\":null,\"banner\":null,\"visible_modules\":[],\"hidden_modules\":[],\"created_at\":\"2023-08-21T19:44:47.577736+00:00\",\"modified_at\":\"2023-08-21T19:44:47.577743+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/2f5b80be-405b-11ee-8a0d-da7ad0900002/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/2f5b80be-405b-11ee-8a0d-da7ad0900002/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 203
      },
      {
        "_id": "83b737f5ac1d8aee44400eee32af9de6",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 2024,
            "text": "{\"data\":[{\"type\":\"team\",\"relationships\":{\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/t[...]
