{
  "log": {
    "_recordingName": "Teams/Get all teams returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "d6dcacac022c2058796e5456b2125558",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"1679941988\",\"name\":\"1679941988\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 526,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"d246a436-cccd-11ed-bf44-da7ad0900002\",\"attributes\":{\"name\":\"1679941988\",\"handle\":\"1679941988\",\"summary\":null,\"description\":null,\"color\":6,\"created_at\":\"2023-03-27T18:33:08.655656+00:00\",\"modified_at\":\"2023-03-27T18:33:08.655661+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/d246a436-cccd-11ed-bf44-da7ad0900002/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/d246a436-cccd-11ed-bf44-da7ad0900002/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 305
      },
      {
        "_id": "83b737f5ac1d8aee44400eee32af9de6",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1442,
            "text": "{\"data\":[{\"type\":\"team\",\"id\":\"d246a436-cccd-11ed-bf44-da7ad0900002\",\"attributes\":{\"name\":\"16799[...]
