{
  "log": {
    "_recordingName": "Monitors/Monitors group search returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "cfe26bbaffccd61b0417d0b890cc00d7",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "query",
              "value": "status:notastatus"
            }
          ],
          "url": "https://api.datadoghq.com/api/v1/monitor/groups/search?query=status%3Anotastatus"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 79,
            "text": "{\"errors\":[\"Query parsing error: 'notastatus' is not a valid monitor status\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 198
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
