{
  "log": {
    "_recordingName": "Monitors/Monitors group search returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "d41afe9f069d370356ec08bdc1301136",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "query",
              "value": "status:notastatus"
            }
          ],
          "url": "https://api.datadoghq.com/api/v1/monitor/groups/search?query=status%3Anotastatus"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 79,
            "text": "{\"errors\": [\"Query parsing error: 'notastatus' is not a valid monitor status\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-period",
              "value": "10"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "9"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "119"
            },
            {
              "name": "x-dd-version",
              "value": "35.4600248"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 466,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
