{
  "log": {
    "_recordingName": "Usage Metering/Get hourly usage for Observability Pipelines returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "e6cca33e5dd03b0ab12eab315e2f5c0c",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "start_hr",
              "value": "2025-05-09T12:32:52.982Z"
            },
            {
              "name": "end_hr",
              "value": "2025-05-07T12:32:52.982Z"
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/usage/observability_pipelines?start_hr=2025-05-09T12%3A32%3A52.982Z&end_hr=2025-05-07T12%3A32%3A52.982Z"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 77,
            "text": "{\"errors\":[\"start_hr [YYYY-MM-DDThh] must be before end_hr [YYYY-MM-DDThh]\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 457
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
