{
  "log": {
    "_recordingName": "Metrics/Update a tag configuration returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "a9fdafd1b2e406290b71d26f3b34515d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "text/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "text/json",
            "params": [],
            "text": "{\"series\":[{\"metric\":\"TestUpdateatagconfigurationreturnsOKresponse1648572657\",\"points\":[[1648572657,1.1]],\"tags\":[\"test:ExampleSubmitmetricsreturnsPayloadacceptedresponse\"],\"type\":\"gauge\"}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/series"
        },
        "response": {
          "content": {
            "mimeType": "text/json",
            "size": 16,
            "text": "{\"status\": \"ok\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/json"
            }
          ],
          "status": 202,
          "statusText": "Accepted"
        },
        "time": 306
      },
      {
        "_id": "d1260d6132393dab6ce43e2ea3b69bff",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"metric_type\":\"gauge\",\"tags\":[\"app\",\"datacenter\",\"TestUpdateatagconfigurationreturnsOKresponse1648572657\"]},\"id\":\"TestUpdateatagconfigurationreturnsOKresponse1648572657\",\"type\":\"manage_tags\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/metrics/TestUpdateatagconfigurationreturnsOKresponse1648572657/tags"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 358,
            "text": "{\"data\":{\"type\":\"manage_tags\",\"id\":\"TestUpdateatagconfigurationreturnsOKresponse1648572657\",\"attributes\":{\"tags\":[\"datacenter\",\"app\",\"TestUpdateatagconfigurationreturnsOKresponse1648572657\"],\"created_at\":\"2022-03-29T16:50:58.686271+00:00\",\"modified_at\":\"2022-03-29T16:50:58.686271+00:00\",\"metric_type\":\"gauge\",\"aggregations\":[{\"space\":\"avg\",\"time\":\"avg\"}]}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 671
      },
      {
        "_id": "1f7163bffb1fd960cb08d2aaa77be329",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value":[...]
