{
  "log": {
    "_recordingName": "Metrics/Update a tag configuration returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "62af2d14a67bd3b2b515cbdf92a85778",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"metric_type\":\"distribution\",\"tags\":[\"app\",\"datacenter\",\"TypescriptUpdateatagconfigurationreturnsOKresponse1614797848661\"]},\"id\":\"TypescriptUpdateatagconfigurationreturnsOKresponse1614797848661\",\"type\":\"manage_tags\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/metrics/TypescriptUpdateatagconfigurationreturnsOKresponse1614797848661/tags"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 364,
            "text": "{\"data\":{\"type\":\"manage_tags\",\"id\":\"TypescriptUpdateatagconfigurationreturnsOKresponse1614797848661\",\"attributes\":{\"tags\":[\"datacenter\",\"app\",\"TypescriptUpdateatagconfigurationreturnsOKresponse1614797848661\"],\"include_percentiles\":false,\"created_at\":\"2021-03-03T18:57:28.742487+00:00\",\"updated_at\":\"2021-03-03T18:57:28.742487+00:00\",\"metric_type\":\"distribution\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.4022232"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "50"
            },
            {
              "name": "x-ratelimit-period",
              "value": "60"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "32"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "16"
            },
            {
              "name": "x-dd-debug",
              "value": "twvpGlmuom5y6A0pjGtXzTf554cmwJgTcCZ71fK4H/RDi+v5ehBK0zQiRcTJQG5C"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 93,
      },
      {
        "_id": "b0246616370492eca8e2abfe99a79b70",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"tags\":[\"app\"]},\"id\":\"TypescriptUpdateatagconfig[...]
