{
  "log": {
    "_recordingName": "Metrics/Update a tag configuration returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "2fb12dc8dc8896cfca9347e7311bec0c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"metric_type\":\"distribution\",\"tags\":[\"app\",\"datacenter\",\"TestUpdateatagconfigurationreturnsOKresponse1618491746\"]},\"id\":\"TestUpdateatagconfigurationreturnsOKresponse1618491746\",\"type\":\"manage_tags\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/metrics/TestUpdateatagconfigurationreturnsOKresponse1618491746/tags"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 346,
            "text": "{\"data\":{\"type\":\"manage_tags\",\"id\":\"TestUpdateatagconfigurationreturnsOKresponse1618491746\",\"attributes\":{\"tags\":[\"datacenter\",\"app\",\"TestUpdateatagconfigurationreturnsOKresponse1618491746\"],\"include_percentiles\":false,\"created_at\":\"2021-04-15T13:02:26.875121+00:00\",\"updated_at\":\"2021-04-15T13:02:26.875121+00:00\",\"metric_type\":\"distribution\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.4318655"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "50"
            },
            {
              "name": "x-ratelimit-period",
              "value": "60"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "34"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "33"
            },
            {
              "name": "x-dd-debug",
              "value": "L3ULR3HwCWYmEqCWGz2Yob3chcH4pjowBacBXkncP7o+/uPqKt9yGEYf/g1AJPzQ"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 331,
      },
      {
        "_id": "8f01a379122a63fdd20a5d7aa8b8681d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"tags\":[\"app\"]},\"id\":\"TestUpdateatagconfigurati[...]
