{
  "log": {
    "_recordingName": "Metrics/Update a tag configuration returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "8bfe9e29b648ac3535cb26a88658ee49",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"metric_type\":\"distribution\",\"tags\":[\"app\",\"datacenter\",\"TestUpdateatagconfigurationreturnsOKresponse1618125630\"]},\"id\":\"TestUpdateatagconfigurationreturnsOKresponse1618125630\",\"type\":\"manage_tags\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/metrics/TestUpdateatagconfigurationreturnsOKresponse1618125630/tags"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 346,
            "text": "{\"data\":{\"type\":\"manage_tags\",\"id\":\"TestUpdateatagconfigurationreturnsOKresponse1618125630\",\"attributes\":{\"tags\":[\"datacenter\",\"app\",\"TestUpdateatagconfigurationreturnsOKresponse1618125630\"],\"include_percentiles\":false,\"created_at\":\"2021-04-11T07:20:30.405140+00:00\",\"updated_at\":\"2021-04-11T07:20:30.405140+00:00\",\"metric_type\":\"distribution\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.4281284"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "50"
            },
            {
              "name": "x-ratelimit-period",
              "value": "60"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "30"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "33"
            },
            {
              "name": "x-dd-debug",
              "value": "B1nwy/pPNqX+q4pQT22cdp1QCexE35IF8qwSHy0Nf7IW0Y881qtn4tXN1lpmzaKc"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 322,
      },
      {
        "_id": "fe37a9abae7e49efa74c60742a07c1c2",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"tags\":[\"app\"]},\"id\":\"TestUpdateatagconfigurati[...]
