{
  "log": {
    "_recordingName": "Actions Datastores/Delete datastore item returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "6574cf7e1c5524e145d2b92f9fa74d2c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"description\":\"\",\"name\":\"Test Datastore\",\"org_access\":\"contributor\",\"primary_column_name\":\"id\",\"primary_key_generation_strategy\":\"none\"},\"type\":\"datastores\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/actions-datastores"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 74,
            "text": "{\"data\":{\"id\":\"74103e72-83a1-483a-82a0-ece193df3352\",\"type\":\"datastores\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 157
      },
      {
        "_id": "6eb18724cbd783d7b11c2518aed0aa09",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/actions-datastores/74103e72-83a1-483a-82a0-ece193df3352"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 384,
            "text": "{\"data\":{\"id\":\"74103e72-83a1-483a-82a0-ece193df3352\",\"type\":\"datastores\",\"attributes\":{\"created_at\":\"2025-08-11T22:19:02.37855Z\",\"creator_user_id\":1445416,\"creator_user_uuid\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"description\":\"\",\"modified_at\":\"2025-08-11T22:19:02.37855Z\",\"name\":\"Test Datastore\",\"org_id\":321813,\"primary_column_name\":\"id\",\"primary_key_generation_strategy\":\"none\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 117
      },
      {
        "_id": "bc0a9644e10e927adfba4081b1fce523",
        "request": {
          "headers": [
            {
              "_fromType": "array",
 [...]
