{
  "log": {
    "_recordingName": "Actions Datastores/Delete datastore item returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "6574cf7e1c5524e145d2b92f9fa74d2c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"description\":\"\",\"name\":\"Test Datastore\",\"org_access\":\"contributor\",\"primary_column_name\":\"id\",\"primary_key_generation_strategy\":\"none\"},\"type\":\"datastores\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/actions-datastores"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 74,
            "text": "{\"data\":{\"id\":\"ad9cc3b7-da9b-452d-8eab-a1e0a0a4e3d8\",\"type\":\"datastores\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 168
      },
      {
        "_id": "4cb325f3e6f77596e26d985719a8eeb4",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"conflict_mode\":\"fail_on_conflict\",\"values\":[{\"data\":\"test-value\",\"id\":\"test-key\"}]},\"type\":\"items\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/actions-datastores/ad9cc3b7-da9b-452d-8eab-a1e0a0a4e3d8/items/bulk"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 71,
            "text": "{\"data\":[{\"id\":\"8eee511f-e1bc-4a02-8805-1770bbdc4d2e\",\"type\":\"items\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 157
      },
      {
        "_id": "ce8255d32f2e23fc66ad3001fb8233fb",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "DELETE",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"item_key\":\"test-key\"},\"type\":\"items\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/actions-datastores/ad9cc3b7-da9b-452d-8eab-a1e0a0a4e3d8/items"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 69,
            "text": "{\"data\":{\"id\":\"8eee511f-e1bc-4a02-8805-1770bbdc4d2e\",\"type\":\"items\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 170
      },
      {
        "_id": "d90a5aa2ad826f1a81b7277480123a78",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/actions-datastores/ad9cc3b7-da9b-452d-8eab-a1e0a0a4e3d8"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 74,
            "text": "{\"data\":{\"id\":\"ad9cc3b7-da9b-452d-8eab-a1e0a0a4e3d8\",\"type\":\"datastores\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 171
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
