{
  "log": {
    "_recordingName": "Feature Flags/Create allocation for a flag in an environment returns \"Created\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "07621a8620014cf26b056ede829bce40",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"description\":\"Test feature flag for BDD scenarios\",\"key\":\"test-feature-flag-Test-Create_allocation_for_a_flag_in_an_environment_returns_Created_response-1776888951\",\"name\":\"Test Feature Flag Test-Create_allocation_for_a_flag_in_an_environment_returns_Created_response-1776888951\",\"value_type\":\"BOOLEAN\",\"variants\":[{\"key\":\"variant-Test-Create_allocation_for_a_flag_in_an_environment_returns_Created_response-1776888951-1\",\"name\":\"Variant Test-Create_allocation_for_a_flag_in_an_environment_returns_Created_response-1776888951 A\",\"value\":\"true\"},{\"key\":\"variant-Test-Create_allocation_for_a_flag_in_an_environment_returns_Created_response-1776888951-2\",\"name\":\"Variant Test-Create_allocation_for_a_flag_in_an_environment_returns_Created_response-1776888951 B\",\"value\":\"false\"}]},\"type\":\"feature-flags\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/feature-flags"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 4997,
            "text": "{\"data\":{\"id\":\"e6c7f35a-b5ca-4dd9-afef-1f82e56ef3c3\",\"type\":\"feature-flags\",\"attributes\":{\"archived_at\":null,\"created_at\":\"2026-04-22T20:15:51.791938Z\",\"created_by\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"description\":\"Test feature flag for BDD scenarios\",\"distribution_channel\":\"ALL\",\"feature_flag_environments\":[{\"environment_id\":\"592600c2-8327-424d-960f-608c327ee96d\",\"environment_name\":\"Test Environment Test-Typescript-Create_allocation_for_a_flag_in_an_environment_returns_Created_response-1774470658\",\"environment_queries\":[\"test-Test-Typescript-Create_allocation_for_a_flag_in_an_environment_returns_Created_response-1774470658\",\"env-Test-Typescript-Create_allocation_for_a_flag_in_an_environment_returns_Created_response-1774470658\"],\"status\":\"DISABLED\",\"default_variant_id\":\"80763910-cca1-46e4-b44e-756ae2e40c63\",\"override_variant_id\":null,\"default_allocation_key\":\"allocation-default-ebc70681da00\",\"override_allocation_key\":\"allocation-override-ebc70681da00\",\"allocations\":null,\"is_production\":false,\"require_feature_flag_approval\":false,\"pending_suggestion_id\":null},{\"environment_id\":\"809cd83d-51ac-4f60-9ce5-cfad4d662114\",\"environment_name\":\"Test Environment Test-Typescript-Create_allocation_for_a_flag_in_an_environment_returns_Created_response-1774471346\",\"environment_queries\":[\"test-Test-Typescript-Create_allocation_for_a_flag_in_an_environment_returns_Created_response-1774471346\",\"env-Test-Typescript-Create_allocation_for_a_flag_in_an_environment_returns_Created_response-1774471346\"],\"status\":\"DISABLED\",\"default_variant_id\":\"80[...]
