{
  "log": {
    "_recordingName": "Usage Metering/Get billing dimension mapping for usage endpoints returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "285be917c7cf6fb88903f51e79de490e",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/usage/billing_dimension_mapping"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 205,
            "text": "{\"errors\":[{\"id\":null,\"links\":null,\"status\":\"400\",\"code\":null,\"title\":\"Bad Request\",\"detail\":\"API called with non-parent org keys. Data is only available at the root level org\",\"source\":null,\"meta\":null}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 387
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
