{
  "log": {
    "_recordingName": "Metrics/Reorder tag indexing rules returns \"No Content\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "3a31f1e4900879beec9fadf0e351d391",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"metric_name_matches\":[\"dd.TestReordertagindexingrulesreturnsNoContentresponse1780591177.*\"],\"name\":\"TestReordertagindexingrulesreturnsNoContentresponse1780591177\",\"tags\":[\"env\",\"service\"]},\"type\":\"tag_indexing_rules\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/metrics/tag-indexing-rules"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 632,
            "text": "{\"data\":{\"id\":\"13b0b297-7c54-4744-9333-b1aa7a2fd200\",\"type\":\"tag_indexing_rules\",\"attributes\":{\"created_at\":\"2026-06-04T16:39:37.674807Z\",\"created_by_handle\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\",\"exclude_tags_mode\":false,\"metric_name_matches\":[\"dd.TestReordertagindexingrulesreturnsNoContentresponse1780591177.*\"],\"modified_at\":\"2026-06-04T16:39:37.674807Z\",\"modified_by_handle\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\",\"name\":\"TestReordertagindexingrulesreturnsNoContentresponse1780591177\",\"options\":{\"version\":1,\"data\":{\"override_previous_rules\":false,\"manage_preexisting_metrics\":true}},\"rule_order\":1,\"tags\":[\"env\",\"service\"]}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 55
      },
      {
        "_id": "033057009342c44614a1da1a8fb0ddbe",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"rule_ids\":[\"13b0b297-7c54-4744-9333-b1aa7a2fd200\"]},\"type\":\"tag_indexing_rules\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/metrics/tag-indexing-rules/order"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 75
      },
      {
        "_id": "2687bb8c4b2663be841805935dd03487",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/metrics/tag-indexing-rules/13b0b297-7c54-4744-9333-b1aa7a2fd200"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 52
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
