{
  "log": {
    "_recordingName": "Incident Teams/Create a new incident team returns \"CREATED\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "94fb15a2690c8ba077d9e6acb3f48bbd",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Create_a_new_incident_team_returns_CREATED_response-1618125594\"},\"type\":\"teams\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/teams"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 997,
            "text": "{\"included\":[{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"attributes\":{\"name\":null,\"handle\":\"frog@datadoghq.com\",\"created_at\":\"2019-10-02T08:15:39.795051+00:00\",\"modified_at\":\"2020-06-15T12:33:12.884459+00:00\",\"email\":\"frog@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro\",\"title\":null,\"verified\":true,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Active\"},\"relationships\":{\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}],\"data\":{\"type\":\"teams\",\"id\":\"c9e419cf-8eb3-537a-8c91-7c4825058c07\",\"attributes\":{\"name\":\"Test-Create_a_new_incident_team_returns_CREATED_response-1618125594\",\"created\":\"2021-04-11T07:19:55.108621+00:00\",\"modified\":\"2021-04-11T07:19:55.108621+00:00\"},\"relationships\":{\"last_modified_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}},\"created_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.4281284"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "100"
            },
            {
              "name": "x-ratelimit-period",
              "value": "60"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "5"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "99"
            },
            {
              "name": "x-dd-debug",
              "value": "l8RQo2maZqJf6GFThBbKNE6dvthz6njusVtau3dPXJWL2RLFoN81H+BLPB/1xgs1"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 321,
      },
      {
        "_id": "aa9c3f36d7d96d742132fba744551fa6",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/teams/c9e419cf-8eb3-537a-8c91-7c4825058c07"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 0
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.4281284"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "100"
            },
            {
              "name": "x-ratelimit-period",
              "value": "60"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "5"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "99"
            },
            {
              "name": "x-dd-debug",
              "value": "tpRCH6w417YjBovRJ8VmtuXmNONVYiRp2c8d2AxjPdGBn8PCtgG4vAztrx3qUZAN"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 300,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
