{
  "log": {
    "_recordingName": "Key Management/Update a personal access token returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "a5ada8587025acb4555d5e95e3acd4dd",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"expires_at\":\"2027-04-08T16:45:59.540Z\",\"name\":\"Test-Update_a_personal_access_token_returns_OK_response-1775666759\",\"scopes\":[\"dashboards_read\"]},\"type\":\"personal_access_tokens\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/personal_access_tokens"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 506,
            "text": "{\"data\":{\"id\":\"7d2c1007-41f2-482e-8ee8-a4dab4a5369e\",\"type\":\"personal_access_tokens\",\"attributes\":{\"created_at\":\"2026-04-08T16:45:59.640614886Z\",\"expires_at\":\"2027-04-08T16:45:59.54Z\",\"key\":\"xxxxx_xxxxxxxxxxxxxxxxxxxxxx_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\"name\":\"Test-Update_a_personal_access_token_returns_OK_response-1775666759\",\"public_portion\":\"3oCB0TOwLiDNpTdO6FYPq2\",\"scopes\":[\"dashboards_read\"]},\"relationships\":{\"owned_by\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 123
      },
      {
        "_id": "ac739ca700cad6bff7171b99b7eefa41",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Update_a_personal_access_token_returns_OK_response-1775666759-updated\"},\"id\":\"7d2c1007-41f2-482e-8ee8-a4dab4a5369e\",\"type\":\"personal_access_tokens\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/personal_access_tokens/7d2c1007-41f2-482e-8ee8-a4dab4a5369e"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 501,
            "text": "{\"data\":{\"id\":\"7d2c1007-41f2-482e-8ee8-a4dab4a5369e\",\"type\":\"personal_access_tokens\",\"attributes\":{\"created_at\":\"2026-04-08T16:45:59.640614Z\",\"expires_at\":\"2027-04-08T16:45:59.54Z\",\"last_used_at\":null,\"modified_at\":\"2026-04-08T16:45:59.747202Z\",\"name\":\"Test-Update_a_personal_access_token_returns_OK_response-1775666759-updated\",\"public_portion\":\"3oCB0TOwLiDNpTdO6FYPq2\",\"scopes\":[\"dashboards_read\"]},\"relationships\":{\"owned_by\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 99
      },
      {
        "_id": "04cbca6799f564ee8043f6deddc6473b",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/personal_access_tokens/7d2c1007-41f2-482e-8ee8-a4dab4a5369e"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 112
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
