{
  "log": {
    "_recordingName": "Status Pages/Create status page returns \"Created\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "679c9cbd796e8048318567106b77c968",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"domain_prefix\":\"dd-integrations-tests-test-page-3\",\"enabled\":true,\"name\":\"[DD Integration Tests] test page 3\",\"type\":\"internal\",\"visualization_type\":\"bars_and_uptime_percentage\"},\"type\":\"status_pages\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/statuspages"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 810,
            "text": "{\"data\":{\"id\":\"614e16dd-b45d-4c49-8707-9492a03f0a88\",\"type\":\"status_pages\",\"attributes\":{\"company_logo\":null,\"components\":[],\"created_at\":\"2026-01-07T22:14:06.230545Z\",\"custom_domain\":null,\"custom_domain_enabled\":false,\"domain_prefix\":\"dd-integrations-tests-test-page-3\",\"email_header_image\":null,\"enabled\":true,\"favicon\":null,\"modified_at\":\"2026-01-07T22:14:06.230545Z\",\"name\":\"[DD Integration Tests] test page 3\",\"page_url\":\"https://frog.datadoghq.com/status-pages/614e16dd-b45d-4c49-8707-9492a03f0a88/view\",\"subscriptions_enabled\":false,\"type\":\"internal\",\"visualization_type\":\"bars_and_uptime_percentage\"},\"relationships\":{\"created_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}},\"last_modified_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 567
      },
      {
        "_id": "5e6e4608160f6e041f6a7fb6f6df7832",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/statuspages/614e16dd-b45d-4c49-8707-9492a03f0a88"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 61,
            "text": "{\"errors\":[{\"status\":\"500\",\"title\":\"Internal Server Error\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 500,
          "statusText": "Internal Server Error"
        },
        "time": 440
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
