{
  "log": {
    "_recordingName": "Teams/Get a team link returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "c848d5033495cec7d6f5f31f188aae81",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"handle-fa841defccf7dd70\",\"name\":\"name-fa841defccf7dd70\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 540,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"a8114d8c-20d9-11ee-bedb-da7ad0900002\",\"attributes\":{\"name\":\"name-fa841defccf7dd70\",\"handle\":\"handle-fa841defccf7dd70\",\"summary\":null,\"description\":null,\"created_at\":\"2023-07-12T17:29:29.474550+00:00\",\"modified_at\":\"2023-07-12T17:29:29.474556+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/a8114d8c-20d9-11ee-bedb-da7ad0900002/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/a8114d8c-20d9-11ee-bedb-da7ad0900002/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 151
      },
      {
        "_id": "654e8849aac21a5677a456199d07be82",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"label\":\"Test-Get_a_team_link_returns_OK_response-1689182969\",\"position\":0,\"url\":\"https://example.com\"},\"type\":\"team_links\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/a8114d8c-20d9-11ee-bedb-da7ad0900002/links"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 242,
            "text": "{\"data\":{\"type\":\"team_links\",\"id\":\"a8996d2a-20d9-11ee-b209-da7ad0900002\",\"attributes\":{\"team_id\":\"a8114d8c-20d9-11ee-bedb-da7ad0900002\",\"label\":\"Test-Get_a_team_link_returns_OK_response-1689182969\",\"url\":\"https://example.com\",\"position\":0}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 864
      },
      {
        "_id": "0358a09b1396705550fd32ce49638fc6",
        "request": {
         [...]
