{
  "log": {
    "_recordingName": "Teams/Get a team link returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "a66651582491e7cbdd4cae02014ba600",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"test-handle-17f710cc6491a98e\",\"name\":\"test-name-17f710cc6491a98e\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 619,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"2e757196-405b-11ee-bc70-da7ad0900002\",\"attributes\":{\"name\":\"test-name-17f710cc6491a98e\",\"handle\":\"test-handle-17f710cc6491a98e\",\"summary\":null,\"description\":null,\"avatar\":null,\"banner\":null,\"visible_modules\":[],\"hidden_modules\":[],\"created_at\":\"2023-08-21T19:44:46.071074+00:00\",\"modified_at\":\"2023-08-21T19:44:46.071080+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/2e757196-405b-11ee-bc70-da7ad0900002/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/2e757196-405b-11ee-bc70-da7ad0900002/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 176
      },
      {
        "_id": "04ff94ad85bbad812c486f4afed2b1b3",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"label\":\"Test-Get_a_team_link_returns_OK_response-1692647085\",\"position\":0,\"url\":\"https://example.com\"},\"type\":\"team_links\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/2e757196-405b-11ee-bc70-da7ad0900002/links"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 242,
            "text": "{\"data\":{\"type\":\"team_links\",\"id\":\"2e91164e-405b-11ee-9f5b-da7ad0900002\",\"attributes\":{\"team_id\":\"2e757196-405b-11ee-bc70-da7ad0900002\",\"label\":\"Test-Get_a_team_link_returns_OK_response-1692647085\",\"url\":\"https://example.com\",\"position\":0}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 137
      },
      {
        "_id": "87baa1f7ab28a6413aaf96c198fb2b89",
        "request": {
         [...]
