{
  "log": {
    "_recordingName": "Teams/Get a team link returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "7a12c4a14600ee3af68adcfe0ec79c9f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"1679941984\",\"name\":\"1679941984\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 526,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"d04115ae-cccd-11ed-9e78-da7ad0900002\",\"attributes\":{\"name\":\"1679941984\",\"handle\":\"1679941984\",\"summary\":null,\"description\":null,\"color\":4,\"created_at\":\"2023-03-27T18:33:05.263569+00:00\",\"modified_at\":\"2023-03-27T18:33:05.263573+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/d04115ae-cccd-11ed-9e78-da7ad0900002/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/d04115ae-cccd-11ed-9e78-da7ad0900002/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 407
      },
      {
        "_id": "27281909b53b15c797d994c41ed3fc33",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"label\":\"Test-Get_a_team_link_returns_OK_response-1679941984\",\"position\":0,\"url\":\"https://example.com\"},\"type\":\"team_links\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/d04115ae-cccd-11ed-9e78-da7ad0900002/links"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 242,
            "text": "{\"data\":{\"type\":\"team_links\",\"id\":\"d085fc8c-cccd-11ed-8dbe-da7ad0900002\",\"attributes\":{\"team_id\":\"d04115ae-cccd-11ed-9e78-da7ad0900002\",\"label\":\"Test-Get_a_team_link_returns_OK_response-1679941984\",\"url\":\"https://example.com\",\"position\":0}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 418
      },
      {
        "_id": "faff3de607fbc80d08f6d37f48fa2d81",
        "request": {
         [...]
