{
  "log": {
    "_recordingName": "Teams/Get a team link returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "193b42ba776e7a419028fa219ef2f403",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"test-handle-94cf752f98fda23c\",\"name\":\"test-name-94cf752f98fda23c\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 661,
            "text": "{\"data\":{\"id\":\"35d819d9-918b-4d29-838d-ed8507398b21\",\"type\":\"team\",\"attributes\":{\"avatar\":null,\"banner\":10,\"created_at\":\"2026-01-23T11:00:13.808835+00:00\",\"description\":null,\"handle\":\"test-handle-94cf752f98fda23c\",\"hidden_modules\":null,\"is_managed\":false,\"link_count\":0,\"modified_at\":\"2026-01-23T11:00:13.808835+00:00\",\"name\":\"test-name-94cf752f98fda23c\",\"summary\":null,\"user_count\":0,\"visible_modules\":null},\"relationships\":{\"team_links\":{\"data\":[],\"links\":{\"related\":\"/api/v2/team/35d819d9-918b-4d29-838d-ed8507398b21/links\"}},\"user_team_permissions\":{\"data\":null,\"links\":{\"related\":\"/api/v2/team/35d819d9-918b-4d29-838d-ed8507398b21/permission-settings\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 362
      },
      {
        "_id": "cc87beb1aa22c0f9f480396c052f48d0",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"label\":\"Test-Get_a_team_link_returns_OK_response-1769166013\",\"position\":0,\"url\":\"https://example.com\"},\"type\":\"team_links\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/35d819d9-918b-4d29-838d-ed8507398b21/links"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 242,
            "text": "{\"data\":{\"type\":\"team_links\",\"id\":\"b1c355f0-f84a-11f0-8d16-da7ad0900002\",\"attributes\":{\"team_id\":\"35d819d9-918b-4d29-838d-ed8507398b21\",\"label\":\"Test-Get_a_team_link_returns_OK_response-1769166013\",\"url\":\"https://example.com\",\"position\":0}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 406
      },
      {
        "_id": "c5412809e403adf0f6d98482034eb7fe",
        "request": {
         [...]
