{
  "log": {
    "_recordingName": "Actions Datastores/Create datastore from import returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "2f26f558bcc4fc8b904914a1b1112712",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"datastore-name\",\"primary_column_name\":\"primaryKey\",\"values\":[{\"primaryKey\":\"key1\",\"value\":\"Newton\"},{\"primaryKey\":\"key2\",\"value\":\"Leibniz\"}]},\"type\":\"datastores\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/actions-datastores/import"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 104,
            "text": "{\"data\":{\"id\":\"20c0eef2-c999-4b9f-a0c0-e3aa2ee4e602\",\"type\":\"datastores\",\"attributes\":{\"item_count\":2}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 135
      },
      {
        "_id": "c69ded8453cf81486010b9ff9388caea",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/actions-datastores/20c0eef2-c999-4b9f-a0c0-e3aa2ee4e602"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 74,
            "text": "{\"data\":{\"id\":\"20c0eef2-c999-4b9f-a0c0-e3aa2ee4e602\",\"type\":\"datastores\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 116
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
