{
  "log": {
    "_recordingName": "Downtimes/Cancel downtimes by scope returns \"Downtimes not found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "ae6093c626edb1fa4171ecfddbfc29eb",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"scope\":\"test:testcanceldowntimesbyscopereturnsdowntimesnotfoundresponse1633076912_invalid\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/downtime/cancel/by_scope"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 34,
            "text": "{\"errors\": [\"No downtimes found\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 74
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
