{
  "log": {
    "_recordingName": "Workflow Automation/Get an existing Workflow returns \"Bad request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "b7132748d1b3a702d3cfdfd009bcf538",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/workflows/bad-format"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 137,
            "text": "{\"errors\":[{\"status\":\"400\",\"title\":\"Invalid Parameter\",\"detail\":\"invalid parameter \\\"workflowId\\\" in \\\"path\\\"; expected type \\\"uuid\\\"\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 80
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
