{
  "log": {
    "_recordingName": "Events/Get a quick list of events returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "54f28328ddef957c29be41d812b0c5e6",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "filter",
              "value": {
                "from": "2020-09-17T11:48:36+01:00",
                "query": "datadog-agent",
                "to": "2020-09-17T12:48:36+01:00"
              }
            },
            {
              "name": "page",
              "value": {
                "limit": "5"
              }
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/events?filter%5Bquery%5D=datadog-agent&filter%5Bfrom%5D=2020-09-17T11%3A48%3A36%2B01%3A00&filter%5Bto%5D=2020-09-17T12%3A48%3A36%2B01%3A00&page%5Blimit%5D=5"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 12,
            "text": "{\"data\":[]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 426
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
