{
  "log": {
    "_recordingName": "Teams/Create team connections returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "c6a73f23f19150364cfcd6f24bba772e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":[]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/connections"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 127,
            "text": "{\"errors\":[{\"status\":\"400\",\"title\":\"Bad Request\",\"detail\":\"attribute \\\"data\\\" at least one team connection must be provided\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 458
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
