{
  "log": {
    "_recordingName": "Security Monitoring/Get a job's details returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "4c138fa0d83459728bd7894a659525ac",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"jobDefinition\":{\"cases\":[{\"condition\":\"a > 1\",\"name\":\"Condition 1\",\"notifications\":[],\"status\":\"info\"}],\"from\":1730387522611,\"index\":\"main\",\"message\":\"A large number of failed login attempts.\",\"name\":\"Excessive number of failed attempts.\",\"options\":{\"evaluationWindow\":900,\"keepAlive\":3600,\"maxSignalDuration\":86400},\"queries\":[{\"aggregation\":\"count\",\"distinctFields\":[],\"groupByFields\":[],\"query\":\"source:non_existing_src_weekend\"}],\"tags\":[],\"to\":1730387532611,\"type\":\"log_detection\"}},\"type\":\"historicalDetectionsJobCreate\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/siem-threat-hunting/jobs"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 87,
            "text": "{\"data\":{\"id\":\"66896986-212c-4e6c-9890-14e5cfd0fc19\",\"type\":\"historicalDetectionsJob\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 249
      },
      {
        "_id": "288fd23d8d2d2972e670accb59b90273",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/siem-threat-hunting/jobs/66896986-212c-4e6c-9890-14e5cfd0fc19"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 931,
            "text": "{\"data\":{\"id\":\"66896986-212c-4e6c-9890-14e5cfd0fc19\",\"type\":\"historicalDetectionsJob\",\"attributes\":{\"createdAt\":\"2025-11-11 21:36:52.581297+00\",\"createdByHandle\":\"frog@datadoghq.com\",\"createdByName\":\"frog\",\"jobDefinition\":{\"from\":1730387522611,\"to\":1730387532611,\"index\":\"main\",\"name\":\"Excessive number of failed attempts.\",\"cases\":[{\"name\":\"Condition 1\",\"status\":\"info\",\"notifications\":[],\"condition\":\"a \\u003e 1\"}],\"queries\":[{\"query\":\"source:non_existing_src_weekend\",\"groupByFields\":[],\"hasOptionalGroupByFields\":false,\"distinctFields\":[],\"aggregation\":\"count\",\"name\":\"\",\"dataSource\":\"logs\"}],\"options\":{\"evaluationWindow\":900,\"detectionMethod\":\"threshold\",\"maxSignalDuration\":86400,\"keepAlive\":3600},\"message\":\"A large number of failed login attempts.\",\"tags\":[],\"type\":\"log_detection\"},\"jobName\":\"Excessive number of failed attempts.\",\"jobStatus\":\"pending\",\"modifiedAt\":\"2025-11-11 21:36:52.581297+00\",\"signalOutput\":false}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 101
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
