{
  "log": {
    "_recordingName": "Teams/Create a team with V2 fields returns \"CREATED\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "656622ab0fcfd497d012a67e6296cde5",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"avatar\":\"\ud83e\udd51\",\"banner\":7,\"handle\":\"handle-29fddb97704028c4\",\"hidden_modules\":[\"m3\"],\"name\":\"name-29fddb97704028c4\",\"visible_modules\":[\"m1\",\"m2\"]},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 629,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"94ba28ea-3e15-11ee-8d97-da7ad0900002\",\"attributes\":{\"name\":\"name-29fddb97704028c4\",\"handle\":\"handle-29fddb97704028c4\",\"summary\":null,\"description\":null,\"avatar\":\"\\ud83e\\udd51\",\"banner\":7,\"visible_modules\":[\"m1\",\"m2\"],\"hidden_modules\":[\"m3\"],\"created_at\":\"2023-08-18T22:21:30.549604+00:00\",\"modified_at\":\"2023-08-18T22:21:30.549611+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/94ba28ea-3e15-11ee-8d97-da7ad0900002/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/94ba28ea-3e15-11ee-8d97-da7ad0900002/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 157
      },
      {
        "_id": "6bdbbfe457deee8ac666f8bc0d442891",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/94ba28ea-3e15-11ee-8d97-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 126
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
