{
  "log": {
    "_recordingName": "Teams/Get a team link returns \"API error response.\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "e7412e3862bae084cdbf7ca14b583485",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"1679941983\",\"name\":\"1679941983\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 526,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"cf7d13e8-cccd-11ed-ae79-da7ad0900002\",\"attributes\":{\"name\":\"1679941983\",\"handle\":\"1679941983\",\"summary\":null,\"description\":null,\"color\":8,\"created_at\":\"2023-03-27T18:33:03.978804+00:00\",\"modified_at\":\"2023-03-27T18:33:03.978808+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/cf7d13e8-cccd-11ed-ae79-da7ad0900002/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/cf7d13e8-cccd-11ed-ae79-da7ad0900002/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 350
      },
      {
        "_id": "ebafc8d337d08e075179704c8638fa17",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/cf7d13e8-cccd-11ed-ae79-da7ad0900002/links/REPLACE.ME"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 55,
            "text": "{\"errors\":[\"REPLACE.ME is not a valid UUID not found\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 462
      },
      {
        "_id": "ff548275fc5d6d45e036ee1498d623ea",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/cf7d13e8-cccd-11ed-ae79-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 387
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
