{
  "log": {
    "_recordingName": "Teams/Get a team link returns \"API error response.\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "681c0392cc6998e171d029089053d7e1",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"handle-7502e409e8a5596c\",\"name\":\"name-7502e409e8a5596c\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 550,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"54e7478a-ef4f-11ed-9558-da7ad0900002\",\"attributes\":{\"name\":\"name-7502e409e8a5596c\",\"handle\":\"handle-7502e409e8a5596c\",\"summary\":null,\"description\":null,\"color\":0,\"created_at\":\"2023-05-10T16:25:52.425262+00:00\",\"modified_at\":\"2023-05-10T16:25:52.425266+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/54e7478a-ef4f-11ed-9558-da7ad0900002/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/54e7478a-ef4f-11ed-9558-da7ad0900002/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 226
      },
      {
        "_id": "bbd3e0948aad75ebb7065e3148c0de44",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/54e7478a-ef4f-11ed-9558-da7ad0900002/links/REPLACE.ME"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 55,
            "text": "{\"errors\":[\"REPLACE.ME is not a valid UUID not found\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 199
      },
      {
        "_id": "8502e8a92000bf9ffdb12ed0c929b97d",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/54e7478a-ef4f-11ed-9558-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 217
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
