{
  "log": {
    "_recordingName": "Usage Metering/Get hourly usage for ingested spans returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "85be419be62bbf1a84bc39c1dadf7b83",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "start_hr",
              "value": "2022-01-26T09:34:33.739Z"
            },
            {
              "name": "end_hr",
              "value": "2022-01-28T09:34:33.739Z"
            }
          ],
          "url": "https://api.datadoghq.com/api/v1/usage/ingested-spans?start_hr=2022-01-26T09%3A34%3A33.739Z&end_hr=2022-01-28T09%3A34%3A33.739Z"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 6643,
            "text": "{\"usage\":[{\"org_name\":\"DD Integration Tests (321813)\",\"ingested_events_bytes\":0,\"public_id\":\"fasjyydbcgwwc2uc\",\"hour\":\"2022-01-26T09:00:00+00:00\"},{\"org_name\":\"DD Integration Tests (321813)\",\"ingested_events_bytes\":0,\"public_id\":\"fasjyydbcgwwc2uc\",\"hour\":\"2022-01-26T10:00:00+00:00\"},{\"org_name\":\"DD Integration Tests (321813)\",\"ingested_events_bytes\":0,\"public_id\":\"fasjyydbcgwwc2uc\",\"hour\":\"2022-01-26T11:00:00+00:00\"},{\"org_name\":\"DD Integration Tests (321813)\",\"ingested_events_bytes\":0,\"public_id\":\"fasjyydbcgwwc2uc\",\"hour\":\"2022-01-26T12:00:00+00:00\"},{\"org_name\":\"[...]
