{
  "log": {
    "_recordingName": "Security Monitoring/List security findings returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "7ded4102477eb50b16f7221ef8152259",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page",
              "value": {
                "cursor": "invalid_cursor"
              }
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/security/findings?page%5Bcursor%5D=invalid_cursor"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 56,
            "text": "{\"errors\":[{\"status\":\"400\",\"detail\":\"Invalid filters\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 125
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
