{
  "log": {
    "_recordingName": "Logs/Get a quick list of logs returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "35ad8cb772b34276904735d7ec84b44c",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "filter",
              "value": {
                "from": "2020-09-17T11:48:36+01:00",
                "index": "main",
                "query": "datadog-agent",
                "to": "2020-09-17T12:48:36+01:00"
              }
            },
            {
              "name": "page",
              "value": {
                "limit": "5"
              }
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/logs/events?filter%5Bquery%5D=datadog-agent&filter%5Bindex%5D=main&filter%5Bfrom%5D=2020-09-17T11%3A48%3A36%2B01%3A00&filter%5Bto%5D=2020-09-17T12%3A48%3A36%2B01%3A00&page%5Blimit%5D=5"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 11,
            "text": "{\"data\":[]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.4288583"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "300"
            },
            {
              "name": "x-ratelimit-period",
              "value": "3600"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "353"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "172"
            },
            {
              "name": "x-dd-debug",
              "value": "twvpGlmuom5y6A0pjGtXzTf554cmwJgTcCZ71fK4H/RDi+v5ehBK0zQiRcTJQG5C"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 451,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
