{
  "log": {
    "_recordingName": "Logs/Get a quick list of logs returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "36d1fbfa38211bcf903dd47f59ab3292",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "filter",
              "value": {
                "from": "2020-09-17T11:48:36+01:00",
                "indexes": "main",
                "query": "datadog-agent",
                "to": "2020-09-17T12:48:36+01:00"
              }
            },
            {
              "name": "page",
              "value": {
                "limit": "5"
              }
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/logs/events?filter%5Bquery%5D=datadog-agent&filter%5Bindexes%5D=main&filter%5Bfrom%5D=2020-09-17T11%3A48%3A36%2B01%3A00&filter%5Bto%5D=2020-09-17T12%3A48%3A36%2B01%3A00&page%5Blimit%5D=5"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 164,
            "text": "{\"data\":[],\"meta\":{\"elapsed\":0,\"request_id\":\"pddv1ChZnUldBVG01WlRMU2Q0d2xmaG1NWG1BIiwKHFtksVd_gLLg8oGdAfyjZkpusj-6_bbNxRpOSeoSDCx7sBKmq-5VxGtliw\",\"status\":\"done\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 136
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
