{
  "log": {
    "_recordingName": "CSM Threats/Get a Workload Protection agent rule returns \"Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ae320517228c28f1da5c3d55176d9631",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/remote_config/products/cws/agent_rules/abc-def-ghi"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 44,
            "text": "{\"errors\":[{\"title\":\"failed to get rule\"}]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 575
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
