{
  "log": {
    "_recordingName": "Incidents/Create an incident impact returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "a3e7e76c3b9da157f731eeac4bcccecd",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"description\":\"Service was unavailable for external users\",\"end_at\":\"2025-08-29T13:17:00Z\",\"fields\":{\"customers_impacted\":\"all\",\"products_impacted\":[\"shopping\",\"marketing\"]},\"start_at\":\"2025-08-28T13:17:00Z\"},\"type\":\"incident_impacts\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/incidents/00000000-0000-0000-0000-000000000000/impacts"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 108,
            "text": "{\"errors\":[{\"title\":\"Bad Request\",\"detail\":\"invalid impact data: incident id is required: invalid impact\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 102
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
