{
  "log": {
    "_recordingName": "Agentless Scanning/Create AWS scan options returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "8c3648f2359f22e2414ae65c22255c5c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"compliance_host\":true,\"lambda\":true,\"sensitive_data\":false,\"vuln_containers_os\":true,\"vuln_host_os\":true},\"id\":\"123\",\"type\":\"aws_scan_options\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/agentless_scanning/accounts/aws"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 90,
            "text": "{\"errors\":[{\"title\":\"Generic Error\",\"detail\":\"the provided Aws account id is not valid\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 218
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
