{
  "log": {
    "_recordingName": "Security Monitoring/Create case for security finding returns \"Created\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "d61f51f3f62b0eb2cc4d2f16015831b5",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":[{\"attributes\":{\"description\":\"A description\",\"title\":\"A title\"},\"relationships\":{\"findings\":{\"data\":[{\"id\":\"YjdhNDM3N2QyNTFjYmUwYTY3NDdhMTg0YTk2Yjg5MDl-ZjNmMzAwOTFkZDNhNGQzYzI0MzgxNTk4MjRjZmE2NzE=\",\"type\":\"findings\"}]},\"project\":{\"data\":{\"id\":\"959a6f71-bac8-4027-b1d3-2264f569296f\",\"type\":\"projects\"}}},\"type\":\"cases\"}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/security/findings/cases"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 742,
            "text": "{\"data\":[{\"id\":\"42905bad-351b-4c81-94c1-f3374e861f23\",\"type\":\"cases\",\"attributes\":{\"created_at\":\"2025-12-12T14:46:27.55028Z\",\"creation_source\":\"CS_SECURITY_FINDING\",\"description\":\"A description\",\"insights\":[{\"type\":\"SECURITY_FINDING\",\"ref\":\"/security/csm/vm?vulnerability=b7a4377d251cbe0a6747a184a96b8909\",\"resource_id\":\"YjdhNDM3N2QyNTFjYmUwYTY3NDdhMTg0YTk2Yjg5MDl-ZjNmMzAwOTFkZDNhNGQzYzI0MzgxNTk4MjRjZmE2NzE=\"}],\"key\":\"CSMINV-506\",\"priority\":\"NOT_DEFINED\",\"status\":\"OPEN\",\"status_group\":\"SG_OPEN\",\"status_name\":\"Open\",\"title\":\"A title\",\"type\":\"SECURITY\"},\"relationships\":{\"created_by\":{\"data\":{\"id\":\"dc09afab-6ae7-11ef-92b1-828dac1b0195\",\"type\":\"users\"}},\"project\":{\"data\":{\"id\":\"959a6f71-bac8-4027-b1d3-2264f569296f\",\"type\":\"projects\"}}}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 3663
      },
      {
        "_id": "4e58c44bf265fde4198baf61fd50c0a6",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "DELETE",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"relationships\":{\"findings\":{\"data\":[{\"id\":\"YjdhNDM3N2QyNTFjYmUwYTY3NDdhMTg0YTk2Yjg5MDl-ZjNmMzAwOTFkZDNhNGQzYzI0MzgxNTk4MjRjZmE2NzE=\",\"type\":\"findings\"}]}},\"type\":\"cases\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/security/findings/cases"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 1844
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
