{
  "log": {
    "_recordingName": "Monitors/Delete a monitor configuration policy returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "0a164b31d513ec58554edd2470ea60da",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/monitor/policy/INVALID_UUID"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 59,
            "text": "{\"errors\":[\"Invalid URL param: policy_id must be an uuid\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 172
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
