{
  "log": {
    "_recordingName": "Dashboard Reports/Get Dashboard Reports for a Dashboard returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "620b65b4d44d9ca534f8af26a311e6f3",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"layout_type\":\"ordered\",\"title\":\"Test-Get_Dashboard_Reports_for_a_Dashboard_returns_OK_response-1668631885 with Profile Metrics Query\",\"widgets\":[{\"definition\":{\"requests\":[{\"profile_metrics_query\":{\"compute\":{\"aggregation\":\"sum\",\"facet\":\"@prof_core_cpu_cores\"},\"group_by\":[{\"facet\":\"service\",\"limit\":10,\"sort\":{\"aggregation\":\"sum\",\"facet\":\"@prof_core_cpu_cores\",\"order\":\"desc\"}}],\"search\":{\"query\":\"runtime:jvm\"}}}],\"type\":\"timeseries\"}}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 855,
            "text": "{\"notify_list\":null,\"description\":null,\"restricted_roles\":[],\"author_name\":null,\"template_variables\":null,\"is_read_only\":false,\"id\":\"pdq-a67-fyg\",\"title\":\"Test-Get_Dashboard_Reports_for_a_Dashboard_returns_OK_response-1668631885 with Profile Metrics Query\",\"url\":\"/dashboard/pdq-a67-fyg/test-getdashboardreportsforadashboardreturnsokresponse-1668631885-with-profile-m\",\"created_at\":\"2022-11-16T20:51:25.908026+00:00\",\"modified_at\":\"2022-11-16T20:51:25.908026+00:00\",\"author_handle\":\"frog@datadoghq.com\",\"widgets\":[{\"definition\":{\"requests\":[{\"profile_metrics_query\":{\"search\":{\"query\":\"runtime:jvm\"},\"group_by\":[{\"facet\":\"service\",\"sort\":{\"facet\":\"@prof_core_cpu_cores\",\"aggregation\":\"sum\",\"order\":\"desc\"},\"limit\":10}],\"compute\":{\"facet\":\"@prof_core_cpu_cores\",\"aggregation\":\"sum\"}}}],\"type\":\"timeseries\"},\"id\":7559508005665642}],\"layout_type\":\"ordered\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 148
      },
      {
        "_id": "2dd4a7386810c9b6998bc8920b65553c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"description\":\"This report summarizes the recent errors, latency, and uptime of our Web Application Backend.\",\"destinations\":{\"email\":{\"recipient_addresses\":[\"jane.doe@example.com\"]}},\"schedule\":{\"active\":true,\"frequency\":\"1d\",\"repeat_at\":\"13:30\",\"repeat_on_day_of_month\":null,\"repeat_on_day_of_week\":null,\"timezone\":\"America/New_York\"},\"timeframe\":\"1w\",\"title\":\"Summary of recent stability and performance for Web Application Backend\"},\"type\":\"dashboard_reports\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/dashboards/pdq-a67-fyg/reports"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1494,
            "text": "{\"included\":[{\"attributes\":{\"dashboard_type\":\"custom_dashboard\",\"title\":\"Test-Get_Dashboard_Reports_for_a_Dashboard_returns_OK_response-1668631885 with Profile Metrics Query\"},\"type\":\"dashboards\",\"id\":\"pdq-a67-fyg\"},{\"attributes\":{\"name\":null,\"email\":\"frog@datadoghq.com\"},\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}],\"data\":{\"relationships\":{\"dashboard\":{\"data\":{\"type\":\"dashboards\",\"id\":\"pdq-a67-fyg\"}},\"author\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"},\"links\":{\"related\":\"/api/v2/users/3ad549bf-eba0-11e9-a77a-0705486660d0\"}}},\"attributes\":{\"description\":\"This report summarizes the recent errors, latency, and uptime of our Web Application Backend.\",\"schedule\":{\"repeat_on_day_of_week\":null,\"repeat_at\":\"13:30\",\"frequency\":\"1d\",\"timezone\":\"America/New_York\",\"active\":true,\"repeat_on_day_of_month\":null},\"created_at\":\"2022-11-16T20:51:26.077648+00:00\",\"destination\":{\"export_format\":{\"type\":\"html\"},\"export_type\":\"email\",\"email_addresses\":[\"jane.doe@example.com\"]},\"modified_at\":null,\"template_variables\":null,\"timeframe\":\"1w\",\"title\":\"Summary of recent stability and performance for Web Application Backend\",\"destinations\":{\"email\":{\"recipient_addresses\":[\"jane.doe@example.com\"]}}},\"type\":\"dashboard_reports\",\"id\":\"6fcf9784-65f0-11ed-bfc5-da7ad0900002\",\"links\":{\"self\":\"/api/v2/dashboards/pdq-a67-fyg/reports/6fcf9784-65f0-11ed-bfc5-da7ad0900002\"}},\"links\":{\"self\":\"/api/v2/dashboards/pdq-a67-fyg/reports/6fcf9784-65f0-11ed-bfc5-da7ad0900002\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 150
      },
      {
        "_id": "49bed51190ee025f932d7897c8d4ce22"[...]
