{
  "log": {
    "_recordingName": "AuthN Mappings/Create an AuthN Mapping returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "6c3ad4b1e732aaeeb504c52f662c695a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Create_an_AuthN_Mapping_returns_OK_response-1652349066\"},\"type\":\"roles\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/roles"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 762,
            "text": "{\"data\":{\"type\":\"roles\",\"id\":\"0b9db2f6-d1d9-11ec-ad3d-da7ad0900002\",\"attributes\":{\"name\":\"Test-Create_an_AuthN_Mapping_returns_OK_response-1652349066\",\"created_at\":\"2022-05-12T09:51:07.463334+00:00\",\"modified_at\":\"2022-05-12T09:51:07.527219+00:00\"},\"relationships\":{\"permissions\":{\"data\":[{\"type\":\"permissions\",\"id\":\"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2\"},{\"type\":\"permissions\",\"id\":\"4441648c-d8b1-11e9-a77a-1b899a04b304\"},{\"type\":\"permissions\",\"id\":\"417ba636-2dce-11eb-84c0-6bce5b0d9de0\"},{\"type\":\"permissions\",\"id\":\"12efc20e-d36c-11eb-a9b8-da7ad0900002\"},{\"type\":\"permissions\",\"id\":\"97971c1c-e895-11eb-b13c-da7ad0900002\"},{\"type\":\"permissions\",\"id\":\"7605ef24-f376-11eb-b90b-da7ad0900002\"},{\"type\":\"permissions\",\"id\":\"b6bf9ac6-9a59-11ec-8480-da7ad0900002\"}]}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 573
      },
      {
        "_id": "49c7c6d462e81acb37f76df69d1632e4",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"attribute_key\":\"testcreateanauthnmappingreturnsokresponse1652349066\",\"attribute_value\":\"Test-Create_an_AuthN_Mapping_returns_OK_response-1652349066\"},\"relationships\":{\"role\":{\"data\":{\"id\":\"0b9db2f6-d1d9-11ec-ad3d-da7ad0900002\",\"type\":\"roles\"}}},\"type\":\"authn_mappings\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/authn_mappings"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1202,
            "text": "{\"included\":[{\"type\":\"roles\",\"id\":\"0b9db2f6-d1d9-11ec-ad3d-da7ad0900002\",\"attributes\":{\"name\":\"Test-Create_an_AuthN_Mapping_returns_OK_response-1652349066\",\"created_at\":\"2022-05-12T09:51:07.463334+00:00\",\"modified_at\":\"2022-05-12T09:51:07.527219+00:00\"},\"relationships\":{\"permissions\":{\"data\":[{\"type\":\"permissions\",\"id\":\"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2\"},{\"type\":\"permissions\",\"id\":\"4441648c-d8b1-11e9-a77a-1b899a04b304\"},{\"type\":\"permissions\",\"id\":\"417ba[...]
