{
  "log": {
    "_recordingName": "AuthN Mappings/Create an AuthN Mapping returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "0ccadd8810ab0c0af0f26a0a6704ac1b",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Create_an_AuthN_Mapping_returns_OK_response-1644413611\"},\"type\":\"roles\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/roles"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 695,
            "text": "{\"data\":{\"type\":\"roles\",\"id\":\"df8cb99c-89ac-11ec-80b7-da7ad0900002\",\"attributes\":{\"name\":\"Test-Create_an_AuthN_Mapping_returns_OK_response-1644413611\",\"created_at\":\"2022-02-09T13:33:31.955465+00:00\",\"modified_at\":\"2022-02-09T13:33:31.999958+00:00\"},\"relationships\":{\"permissions\":{\"data\":[{\"type\":\"permissions\",\"id\":\"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2\"},{\"type\":\"permissions\",\"id\":\"4441648c-d8b1-11e9-a77a-1b899a04b304\"},{\"type\":\"permissions\",\"id\":\"417ba636-2dce-11eb-84c0-6bce5b0d9de0\"},{\"type\":\"permissions\",\"id\":\"12efc20e-d36c-11eb-a9b8-da7ad0900002\"},{\"type\":\"permissions\",\"id\":\"97971c1c-e895-11eb-b13c-da7ad0900002\"},{\"type\":\"permissions\",\"id\":\"7605ef24-f376-11eb-b90b-da7ad0900002\"}]}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 527
      },
      {
        "_id": "4b988ee468b010ea228aefd158bc01cf",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"attribute_key\":\"testcreateanauthnmappingreturnsokresponse1644413611\",\"attribute_value\":\"Test-Create_an_AuthN_Mapping_returns_OK_response-1644413611\"},\"relationships\":{\"role\":{\"data\":{\"id\":\"df8cb99c-89ac-11ec-80b7-da7ad0900002\",\"type\":\"roles\"}}},\"type\":\"authn_mappings\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/authn_mappings"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1135,
            "text": "{\"included\":[{\"type\":\"roles\",\"id\":\"df8cb99c-89ac-11ec-80b7-da7ad0900002\",\"attributes\":{\"name\":\"Test-Create_an_AuthN_Mapping_returns_OK_response-1644413611\",\"created_at\":\"2022-02-09T13:33:31.955465+00:00\",\"modified_at\":\"2022-02-09T13:33:31.999958+00:00\"},\"relationships\":{\"permissions\":{\"data\":[{\"type\":\"permissions\",\"id\":\"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2\"},{\"type\":\"permissions\",\"id\":\"4441648c-d8b1-11e9-a77a-1b899a04b304\"},{\"type\":\"permissions\",\"id\":\"417ba[...]
