{
  "log": {
    "_recordingName": "Incidents/Add commander to an incident returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "4d103762bd29bd57ed20145740655987",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Add_commander_to_an_incident_returns_OK_response-1730737894@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 701,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"4169d33c-9aca-11ef-a2b2-86ee19e0ad81\",\"attributes\":{\"name\":null,\"handle\":\"test-add_commander_to_an_incident_returns_ok_response-1730737894@datadoghq.com\",\"created_at\":\"2024-11-04T16:31:34.330074+00:00\",\"modified_at\":\"2024-11-04T16:31:34.330074+00:00\",\"email\":\"test-add_commander_to_an_incident_returns_ok_response-1730737894@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/89abdc141e5dd1efd53a70c7842a592b?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 251
      },
      {
        "_id": "13d889fe557168051dcd1f2d74d8ba0c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"customer_impacted\":false,\"title\":\"Test-Add_commander_to_an_incident_returns_OK_response-1730737894\"},\"type\":\"incidents\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/incidents"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 2740,
            "text": "{\"data\":{\"type\":\"incidents\",\"id\":\"96e8c39e-c5bb-572c-bf73-b9f4900edd41\",\"attributes\":{\"public_id\":250769,\"incident_type_uuid\":\"7fa7e0a4-d49e-4092-8dcc-db728969ff93\",\"title\":\"Test-Add_commander_to_an_incident_returns_OK_response-1730737894\",\"resolved\":null,\"customer_impact_scope\":null,\"customer_impact_start\":null,\"customer_impact_end\":null,\"customer_impacted\":false,\"notification_handles\":null,\"last_modified_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"attributes\":{\"uuid\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"handle\":\"frog@datadoghq.com\",\"email\":\"frog@datadoghq.com\",\"name\":null,\"icon\":\"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro\"}}},\"last_modified_by_uuid\":null,\"created\":\"2024-11-04T16:31:34.527134+00:00\",\"modified\":\"2024-11-04T16:31:34.527134+00:00\",\"commander\":null,\"detected\":\"2024-11-04T16:31:34.517001+00:00\",\"created_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"attributes\":{\"uuid\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"handle\":\"frog@datadoghq.com\",\"email\":\"frog@datadoghq.com\",\"name\":null,\"icon\":\"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro\"}}},\"created_by_uuid\":null,\"creation_idempotency_key\":null,\"customer_impact_duration\":0,\"time_to_detect\":0,\"time_to_repair\":0,\"time_to_internal_response\":0,\"time_to_resolve\":0,\"archived\":null,\"fields\":{\"severity\":{\"type\":\"dropdown\",\"value\":\"UNKNOWN\"},\"state\":{\"type\":\"dropdown\",\"value\":\"active\"},\"detection_method\":{\"type\":\"dropdown\",\"value\":\"unknown\"},\"root_cause\":{\"type\":\"textbox\",\"value\":null},\"summary\":{\"type\":\"textbox\",\"value\":null},\"services\":{\"type\":\"autocomplete\",\"value\":null},\"teams\":{\"type\":\"autocomplete\",\"value\":null}},\"field_analytics\":null,\"severity\":\"UNKNOWN\",\"state\":\"active\",\"non_datadog_creator\":null,\"visibility\":\"organization\",\"case_id\":null},\"relationships\":{\"created_by_user\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}},\"last_modified_by_user\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}},\"commander_user\":{\"data\":null},\"user_defined_fields\":{\"data\":[{\"type\":\"user_defined_field\",\"id\":\"a36107c6-4fec-5762-8d0c-155468701950\"},{\"type\":\"user_defined_field\",\"id\":\"a21364e0-a633-5755-a9ee-b41b4f0e4ec7\"},{\"type\":\"user_defined_field\",\"id\":\"a841b973-0344-5dfc-b17b-d2fec8d1f81c\"},{\"type\":\"user_defined_field\",\"id\":\"9f1c037a-75d2-5c51-b595-15a528a5e990\"},{\"type\":\"user_defined_field\",\"id\":\"d1db732a-4849-5fa5-8845-ac3f551666a5\"},{\"type\":\"user_defined_field\",\"id\":\"5f170242-b7dd-5f4a-bbfe-e7e2f9126060\"},{\"type\":\"user_defined_field\",\"id\":\"2c729904-3169-5274-b464-4efec4984398\"}]},\"integrations\":{\"data\":[]},\"attachments\":{\"data\":[]},\"responders\":{\"data\":[]},\"impacts\":{\"data\":[]}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 359
      },
      {
        "_id": "5bbb5329509c622dfbacccabc2687abf",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "applicati[...]
