{
  "log": {
    "_recordingName": "Opsgenie Integration/Update a single service object returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "cf17047da1433848efc57a600a97ad6a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Update_a_single_service_object_returns_OK_response-1654804626\",\"opsgenie_api_key\":\"00000000-0000-0000-0000-000000000000\",\"region\":\"us\"},\"type\":\"opsgenie-service\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integration/opsgenie/services"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 204,
            "text": "{\"data\":{\"attributes\":{\"region\":\"us\",\"name\":\"Test-Update_a_single_service_object_returns_OK_response-1654804626\",\"custom_url\":null},\"type\":\"opsgenie-service\",\"id\":\"0b04ddfb-b00a-4243-baed-33ff1bff0909\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 249
      },
      {
        "_id": "c32cd7cd903b77e1b07eb8820f128520",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Update_a_single_service_object_returns_[...]
