{
  "log": {
    "_recordingName": "Logs Metrics/Create a log-based metric returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "1f95a4db9c16facf18298f4bf56df2cc",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"compute\":{\"aggregation_type\":\"count\"}},\"id\":\"Test-Create_a_log_based_metric_returns_OK_response-1618491718\",\"type\":\"logs_metrics\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/config/metrics"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 192,
            "text": "{\"data\":{\"id\":\"Test_Create_a_log_based_metric_returns_OK_response_1618491718\",\"attributes\":{\"filter\":{\"query\":\"*\"},\"group_by\":[],\"compute\":{\"aggregation_type\":\"count\"}},\"type\":\"logs_metrics\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-dd-version",
              "value": "35.4318655"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "100"
            },
            {
              "name": "x-ratelimit-period",
              "value": "3600"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "3482"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "99"
            },
            {
              "name": "content-disposition",
              "value": "inline"
            },
            {
              "name": "x-dd-debug",
              "value": "mNzaoDhdDKO7t4QSrAe5X7pHd0bJND187D+vRbwoluXouE2m1UaQQX0RGCvRpLVE"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 620,
      },
      {
        "_id": "37a85e7ed7068ced4341b96003e7fc8b",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/config/metrics/Test_Create_a_log_based_metric_returns_OK_response_1618491718"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 2,
            "text": "{}"
          },
 [...]
