{
  "log": {
    "_recordingName": "Logs Metrics/Create a log-based metric returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "d34da0310a760c16df4ce095102f051f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"compute\":{\"aggregation_type\":\"count\"}},\"id\":\"Typescript-Create_a_log_based_metric_returns_OK_response-1613676217.946\",\"type\":\"logs_metrics\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/config/metrics"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 354,
            "text": "[\"1f8b08000000000000032d8eb10ac3300c44ff45630985b4c5a1593b76e8d2ad14e138aa31a4b62bcb4308f9f72a90edeeb827dd02a3150bfd0261841e9e73a6e23864c11b9315428b53f238d842237e4938386492cab1e0e3aeb2e4140b616bdab3e9cca9ed8ed78b8106ac6877a842653bfe0993106fea578967fd7480b501cfa9661cd4bfde0db8f4cd0a6c2deb3d93b7125244d14d0ab854a3c0aad41ee8aeb24f2a9aff01d475bdcaca000000\"]"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-dd-version",
              "value": "35.3936814"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "300"
            },
            {
              "name": "x-ratelimit-period",
              "value": "300"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "82"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "299"
            },
            {
              "name": "content-disposition",
              "value": "inline"
            },
            {
              "name": "x-dd-debug",
              "value": "JpIJLwIH2nFlZOC+u71rq7aAOL43MLZN3MUsL+gpYHdZz5QLUOG8Jysf8kVK6tPU"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 644,
      },
      {
        "_id": "4787348c12541577825687c7062f8efc",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/config/metrics/Typescript_Create_a_log_based_metric_returns_OK_response_1613676217.946"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 2,
            "text": "{}"
    [...]
