{
  "log": {
    "_recordingName": "Logs Metrics/Create a log-based metric returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "1dd7c81dbbf48331a500c78c11f7018d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"compute\":{\"aggregation_type\":\"distribution\",\"include_percentiles\":true,\"path\":\"@duration\"}},\"id\":\"TestCreatealogbasedmetricreturnsOKresponse1686138855\",\"type\":\"logs_metrics\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/config/metrics"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 237,
            "text": "{\"data\":{\"id\":\"TestCreatealogbasedmetricreturnsOKresponse1686138855\",\"attributes\":{\"filter\":{\"query\":\"*\"},\"group_by\":[],\"compute\":{\"aggregation_type\":\"distribution\",\"path\":\"@duration\",\"include_percentiles\":true}},\"type\":\"logs_metrics\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 612
      },
      {
        "_id": "8e26765d0505c31d41761ff233033091",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/config/metrics/TestCreatealogbasedmetricreturnsOKresponse1686138855"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=utf-8",
            "size": 0
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=utf-8"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 417
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
