{
  "log": {
    "_recordingName": "Logs Metrics/Create a log-based metric returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "7f09938b2f3c23155b1223e5367975c4",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"compute\":{\"aggregation_type\":\"count\"}},\"id\":\"Typescript-Create_a_log_based_metric_returns_OK_response-1613750659.847\",\"type\":\"logs_metrics\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/config/metrics"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 356,
            "text": "[\"1f8b08000000000000032d8eb10ec2300c44ffc523aa1015b485ae8c0c2c6c0859696aa2486d131c67a8aafe3baed4edee74cfbe057a2306da057c0f2dbce648c9b28f82772623840687e0b033897a1c49d85b6492cc53c2e743658a614a84655d9e9bea5457b7e3f5d2400146b4db65a1b41dfffa418837f5cbc4b37e3ac05a80e3902376eadf9f026c18a3025bcb38c7e48cf830a1e826056cc893c0aad41ee8aeb44f4a9aff01323d85e3ca000000\"]"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-dd-version",
              "value": "35.3944440"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "300"
            },
            {
              "name": "x-ratelimit-period",
              "value": "300"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "40"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "299"
            },
            {
              "name": "content-disposition",
              "value": "inline"
            },
            {
              "name": "x-dd-debug",
              "value": "mNzaoDhdDKO7t4QSrAe5X7pHd0bJND187D+vRbwoluXouE2m1UaQQX0RGCvRpLVE"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 558,
      },
      {
        "_id": "895caf644000aab088eee860ad1b74c3",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/config/metrics/Typescript_Create_a_log_based_metric_returns_OK_response_1613750659.847"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 2,
            "text": "{}"
    [...]
