{
  "log": {
    "_recordingName": "Service Accounts/Revoke an access token for a service account returns \"No Content\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "a68bbd8c0bf4f12cbfd3c18993217c74",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Revoke_an_access_token_for_a_service_account_returns_No_Content_response-1779979008@datadoghq.com\",\"service_account\":true,\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/service_accounts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 749,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"a8b64d35-5aa2-11f1-80a5-eec0508b7e6c\",\"attributes\":{\"uuid\":\"a8b64d35-5aa2-11f1-80a5-eec0508b7e6c\",\"name\":null,\"handle\":\"a8b64d35-5aa2-11f1-80a5-eec0508b7e6c\",\"created_at\":\"2026-05-28T14:36:48.691799+00:00\",\"modified_at\":\"2026-05-28T14:36:48.691799+00:00\",\"email\":\"test-revoke_an_access_token_for_a_service_account_returns_no_content_response-1779979008@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/80f71434c485335573c82ccfeff519ef?s=48&d=retro\",\"title\":\"user title\",\"verified\":true,\"service_account\":true,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Active\",\"last_login_time\":null},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 416
      },
      {
        "_id": "0595b3c3a4b8c7a9a52cc6cbf53d4879",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Revoke_an_access_token_for_a_service_account_returns_No_Content_response-1779979008\",\"scopes\":[\"dashboards_read\"]},\"type\":\"service_access_tokens\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/service_accounts/a8b64d35-5aa2-11f1-80a5-eec0508b7e6c/access_tokens"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 522,
            "text": "{\"data\":{\"id\":\"7829a158-515b-4c28-b649-eca6529a02b7\",\"type\":\"service_access_tokens\",\"attributes\":{\"created_at\":\"2026-05-28T14:36:49.115287243Z\",\"expires_at\":null,\"key\":\"xxxxx_xxxxxxxxxxxxxxxxxxxxxx_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\"name\":\"Test-Revoke_an_access_token_for_a_service_account_returns_No_Content_response-1779979008\",\"public_portion\":\"ddsat_3ek6Sznp1LswenIQzJ44yl\",\"scopes\":[\"dashboards_read\"]},\"relationships\":{\"owned_by\":{\"data\":{\"id\":\"a8b64d35-5aa2-11f1-80a5-eec0508b7e6c\",\"type\":\"service_account\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 319
      },
      {
        "_id": "0c0c2117520f95437c6508aee7d69e89",
        "request": {
          "headers": [
          ],
          "method": "DELET[...]
