{
  "log": {
    "_recordingName": "Seats/Get users with seats returns \"Bad Request\" response when product_code is missing",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "d8ee502f8c8dea095452f353cddfbbed",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/seats/users"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 90,
            "text": "{\"errors\":[{\"title\":\"Generic Error\",\"detail\":\"product_code query parameter is required\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 257
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
