{
  "log": {
    "_recordingName": "Users/List all users returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "728f887ddc83b32ca752da3a2cead82c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-List_all_users_returns_OK_response-1641829911@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 672,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"3a42d5e8-722d-11ec-b5d7-da7ad0900002\",\"attributes\":{\"name\":null,\"handle\":\"test-list_all_users_returns_ok_response-1641829911@datadoghq.com\",\"created_at\":\"2022-01-10T15:51:51.818426+00:00\",\"modified_at\":\"2022-01-10T15:51:51.864288+00:00\",\"email\":\"test-list_all_users_returns_ok_response-1641829911@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/6f94186d25f65d5d4da8bc684b1d5323?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 439
      },
      {
        "_id": "47fe33a4630f73637b416572b255aeae",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "filter",
              "value": "test-list_all_users_returns_ok_response-1641829911@datadoghq.com"
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/users?filter=test-list_all_users_returns_ok_response-1641829911%40datadoghq.com"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 737,
            "text": "{\"meta\":{\"page\":{\"total_filtered_count\":1,\"total_count\":20155}},\"data\":[{\"type\":\"users\",\"id\":\"3a42d5e8-722d-11ec-b5d7-da7ad0900002\",\"attributes\":{\"name\":null,\"handle\":\"test-list_all_users_returns_ok_response-1641829911@datadoghq.com\",\"created_at\":\"2022-01-10T15:51:51.818426+00:00\",\"modified_at\":\"2022-01-10T15:51:51.864288+00:00\",\"email\":\"test-list_all_users_returns_ok_response-1641829911@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/6f94186d25f65d5d4da8bc684b1d5323?s=48&d=retro\",\"title\":\"user title\",\[...]
