{
  "log": {
    "_recordingName": "Users/List all users returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "238983e2e63f3ec468d0bc3c0b2822ae",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Typescript-List_all_users_returns_OK_response-1617202454.364@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 692,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"f5f20436-9230-11eb-9bd3-da7ad0900002\",\"attributes\":{\"name\":null,\"handle\":\"typescript-list_all_users_returns_ok_response-1617202454.364@datadoghq.com\",\"created_at\":\"2021-03-31T14:54:14.727727+00:00\",\"modified_at\":\"2021-03-31T14:54:14.767819+00:00\",\"email\":\"typescript-list_all_users_returns_ok_response-1617202454.364@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/6b89a8d8825b88c5b009a2155d0fdbf9?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.4209519"
            },
            {
              "name": "x-dd-debug",
              "value": "PhosSd3Ch1B6B0DXI71steKUi7XhPDttnPiIP1NdXTw0VJNWpoUnYyBmODS5ne3q"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 481,
      },
      {
        "_id": "01cb6574f68994319700626fb1e19773",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "filter",
              "value": "typescript-list_all_users_returns_ok_response-1617202454.364@datadoghq.com"
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/users?filter=typescript-list_all_users_returns_ok_response-1617202454.364%40datadoghq.com"
[...]
