{
  "log": {
    "_recordingName": "Users/List all users returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "9d730960129748c3659f1e873a1d34df",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Typescript-List_all_users_returns_OK_response-1613750704.902@datadoghq.com\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 635,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"3ae652b0-72cc-11eb-9468-da7ad0900002\",\"attributes\":{\"name\":null,\"handle\":\"typescript-list_all_users_returns_ok_response-1613750704.902@datadoghq.com\",\"created_at\":\"2021-02-19T16:05:05.198136+00:00\",\"email\":\"typescript-list_all_users_returns_ok_response-1613750704.902@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/7712acce1bf551a942d42bda905c4343?s=48&d=retro\",\"title\":null,\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.3944440"
            },
            {
              "name": "x-dd-debug",
              "value": "nLnnBNvlCFDECRnZvzDb0z4sAO35G+IMidcAs8vrCKyjvsKWE8Yd9S3n6OjZ1qRN"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 416,
      },
      {
        "_id": "2c254323c98b5045b7296ff74feb4f84",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "filter",
              "value": "typescript-list_all_users_returns_ok_response-1613750704.902@datadoghq.com"
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/users?filter=typescript-list_all_users_returns_ok_response-1613750704.902%40datadoghq.com"
[...]
