{
  "log": {
    "_recordingName": "Users/List all users returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "c5d23b3f62a74f141353fda8671e4f3d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Typescript-List_all_users_returns_OK_response-1613676263.096@datadoghq.com\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 635,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"e81d1de6-721e-11eb-9444-da7ad0900002\",\"attributes\":{\"name\":null,\"handle\":\"typescript-list_all_users_returns_ok_response-1613676263.096@datadoghq.com\",\"created_at\":\"2021-02-18T19:24:23.372529+00:00\",\"email\":\"typescript-list_all_users_returns_ok_response-1613676263.096@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/a557d6b2f39817e6da5e4695e9891dbc?s=48&d=retro\",\"title\":null,\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.3936814"
            },
            {
              "name": "x-dd-debug",
              "value": "/L+SFFO+m1pPY+hRCpk5325fvfrNl0KmiquUNJolBN/5hu3HIwflqjZSbJ6NxDFG"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 394,
      },
      {
        "_id": "e8d8b0696c82835cb3a0ffd600365b6b",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "filter",
              "value": "typescript-list_all_users_returns_ok_response-1613676263.096@datadoghq.com"
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/users?filter=typescript-list_all_users_returns_ok_response-1613676263.096%40datadoghq.com"
[...]
