{
  "log": {
    "_recordingName": "Users/List all users returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "b7c33b3b04291ba11f635886bf44f515",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-List_all_users_returns_OK_response-1618491779@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 672,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"e7e3ea38-9dea-11eb-9df5-da7ad0900002\",\"attributes\":{\"name\":null,\"handle\":\"test-list_all_users_returns_ok_response-1618491779@datadoghq.com\",\"created_at\":\"2021-04-15T13:03:00.330361+00:00\",\"modified_at\":\"2021-04-15T13:03:00.363492+00:00\",\"email\":\"test-list_all_users_returns_ok_response-1618491779@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/8391c211db85f08ff4464f0719c7e0c7?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 454
      },
      {
        "_id": "70a9ca402d638049b3fc6a40b940523e",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "filter",
              "value": "test-list_all_users_returns_ok_response-1618491779@datadoghq.com"
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/users?filter=test-list_all_users_returns_ok_response-1618491779%40datadoghq.com"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 738,
            "text": "{\"meta\":{\"page\":{\"total_filtered_count\":1,\"total_count\":184359}},\"data\":[{\"type\":\"users\",\"id\":\"e7e3ea38-9dea-11eb-9df5-da7ad0900002\",\"attributes\":{\"name\":null,\"handle\":\"test-list_all_users_returns_ok_response-1618491779@datadoghq.com\",\"created_at\":\"2021-04-15T13:03:00.330361+00:00\",\"modified_at\":\"2021-04-15T13:03:00.363492+00:00\",\"email\":\"test-list_all_users_returns_ok_response-1618491779@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/8391c211db85f08ff4464f0719c7e0c7?s=48&d=retro\",\"title\":\"user title\",[...]
