{
  "log": {
    "_recordingName": "Users/List all users returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "d35c223da554b78f36304a57c94d72b7",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Typescript-List_all_users_returns_OK_response-1617204563.696@datadoghq.com\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 684,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"df3873b0-9235-11eb-9bd3-da7ad0900002\",\"attributes\":{\"name\":null,\"handle\":\"typescript-list_all_users_returns_ok_response-1617204563.696@datadoghq.com\",\"created_at\":\"2021-03-31T15:29:24.086338+00:00\",\"modified_at\":\"2021-03-31T15:29:24.104705+00:00\",\"email\":\"typescript-list_all_users_returns_ok_response-1617204563.696@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/dcc11d2bb79583faf55a424fb6c3d1ad?s=48&d=retro\",\"title\":null,\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.4209519"
            },
            {
              "name": "x-dd-debug",
              "value": "/L+SFFO+m1pPY+hRCpk5325fvfrNl0KmiquUNJolBN/5hu3HIwflqjZSbJ6NxDFG"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 483,
      },
      {
        "_id": "c817f46b2e11e7c04123ddd3054b88ed",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "filter",
              "value": "typescript-list_all_users_returns_ok_response-1617204563.696@datadoghq.com"
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/users?filter=typescript-list_all_users_returns_ok_response-1617204563.696%40datadoghq.com"
[...]
