{
  "log": {
    "_recordingName": "Users/List all users returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "32c4fe936819efa427a81f47057cab7a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-List_all_users_returns_OK_response-1652349222@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 672,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"688172d2-d1d9-11ec-ad3d-da7ad0900002\",\"attributes\":{\"name\":null,\"handle\":\"test-list_all_users_returns_ok_response-1652349222@datadoghq.com\",\"created_at\":\"2022-05-12T09:53:43.305109+00:00\",\"modified_at\":\"2022-05-12T09:53:43.351606+00:00\",\"email\":\"test-list_all_users_returns_ok_response-1652349222@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/b120ea663af2577e015c19831dd91cd6?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 507
      },
      {
        "_id": "8fcda78f18c713ad4d9d825c727d8957",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "filter",
              "value": "test-list_all_users_returns_ok_response-1652349222@datadoghq.com"
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/users?filter=test-list_all_users_returns_ok_response-1652349222%40datadoghq.com"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 737,
            "text": "{\"meta\":{\"page\":{\"total_filtered_count\":1,\"total_count\":57061}},\"data\":[{\"type\":\"users\",\"id\":\"688172d2-d1d9-11ec-ad3d-da7ad0900002\",\"attributes\":{\"name\":null,\"handle\":\"test-list_all_users_returns_ok_response-1652349222@datadoghq.com\",\"created_at\":\"2022-05-12T09:53:43.305109+00:00\",\"modified_at\":\"2022-05-12T09:53:43.351606+00:00\",\"email\":\"test-list_all_users_returns_ok_response-1652349222@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/b120ea663af2577e015c19831dd91cd6?s=48&d=retro\",\"title\":\"user title\",\[...]
