{
  "log": {
    "_recordingName": "Users/List all users returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "894150e5755ddc07de6898130f2cf6be",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-List_all_users_returns_OK_response-1618125655@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 672,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"7518ff9a-9a96-11eb-9d13-da7ad0900002\",\"attributes\":{\"name\":null,\"handle\":\"test-list_all_users_returns_ok_response-1618125655@datadoghq.com\",\"created_at\":\"2021-04-11T07:20:56.525971+00:00\",\"modified_at\":\"2021-04-11T07:20:56.558207+00:00\",\"email\":\"test-list_all_users_returns_ok_response-1618125655@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/b782f7fa32ab8fa19a52786bc49996f2?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.4281284"
            },
            {
              "name": "x-dd-debug",
              "value": "mNzaoDhdDKO7t4QSrAe5X7pHd0bJND187D+vRbwoluXouE2m1UaQQX0RGCvRpLVE"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 845,
      },
      {
        "_id": "c71b5cefcae10d5632957d53ce30b73f",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "filter",
              "value": "test-list_all_users_returns_ok_response-1618125655@datadoghq.com"
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/users?filter=test-list_all_users_returns_ok_response-1618125655%40datadoghq.com"
        },
        "[...]
