{
  "log": {
    "_recordingName": "Teams/Update permission setting for team returns \"API error response.\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "b2616daa301e619e77e6c2b60367608f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"handle-5fc4017c72fce64f\",\"name\":\"name-5fc4017c72fce64f\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 551,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"5b163526-ef4f-11ed-a5d4-da7ad0900002\",\"attributes\":{\"name\":\"name-5fc4017c72fce64f\",\"handle\":\"handle-5fc4017c72fce64f\",\"summary\":null,\"description\":null,\"color\":12,\"created_at\":\"2023-05-10T16:26:02.799664+00:00\",\"modified_at\":\"2023-05-10T16:26:02.799668+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/5b163526-ef4f-11ed-a5d4-da7ad0900002/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/5b163526-ef4f-11ed-a5d4-da7ad0900002/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 177
      },
      {
        "_id": "c6b2cc2a2d08d51af632bf7ec013165c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"value\":\"admins\"},\"type\":\"team_permission_settings\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/5b163526-ef4f-11ed-a5d4-da7ad0900002/permission-settings/REPLACE.ME"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 99,
            "text": "{\"errors\":[\"Invalid action type \\\"REPLACE.ME\\\". Valid actions: manage_membership, edit not found\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 195
      },
      {
        "_id": "f67ef25e5c0c297dbc0e7338ba6bb9b2",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/5b163526-ef4f-11ed-a5d4-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 166
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
