{
  "log": {
    "_recordingName": "Teams/Update permission setting for team returns \"API error response.\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "743bffe0c652d5ffde4d01801d3cb5af",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"1679942006\",\"name\":\"1679942006\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 527,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"dd3c1916-cccd-11ed-b35c-da7ad0900002\",\"attributes\":{\"name\":\"1679942006\",\"handle\":\"1679942006\",\"summary\":null,\"description\":null,\"color\":11,\"created_at\":\"2023-03-27T18:33:27.041313+00:00\",\"modified_at\":\"2023-03-27T18:33:27.041316+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/dd3c1916-cccd-11ed-b35c-da7ad0900002/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/dd3c1916-cccd-11ed-b35c-da7ad0900002/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 383
      },
      {
        "_id": "bb614e3fad51e8448bdfa1bb6b0b47e4",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"value\":\"admins\"},\"type\":\"team_permission_settings\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/dd3c1916-cccd-11ed-b35c-da7ad0900002/permission-settings/REPLACE.ME"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 99,
            "text": "{\"errors\":[\"Invalid action type \\\"REPLACE.ME\\\". Valid actions: manage_membership, edit not found\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 230
      },
      {
        "_id": "39eb9f6ae2891d4538c13a1aa4697024",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/dd3c1916-cccd-11ed-b35c-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 429
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
