{
  "log": {
    "_recordingName": "Teams/Update permission setting for team returns \"API error response.\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "dd8603ef0a4eeeedf92bf446ecb9097e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"handle-72b5ed797b3e5f13\",\"name\":\"name-72b5ed797b3e5f13\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 540,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"ae41b534-20d9-11ee-ad0a-da7ad0900002\",\"attributes\":{\"name\":\"name-72b5ed797b3e5f13\",\"handle\":\"handle-72b5ed797b3e5f13\",\"summary\":null,\"description\":null,\"created_at\":\"2023-07-12T17:29:39.857772+00:00\",\"modified_at\":\"2023-07-12T17:29:39.857780+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/ae41b534-20d9-11ee-ad0a-da7ad0900002/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/ae41b534-20d9-11ee-ad0a-da7ad0900002/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 169
      },
      {
        "_id": "f4de049402540a9f9c50180af49a6a75",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"value\":\"admins\"},\"type\":\"team_permission_settings\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/ae41b534-20d9-11ee-ad0a-da7ad0900002/permission-settings/REPLACE.ME"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 99,
            "text": "{\"errors\":[\"Invalid action type \\\"REPLACE.ME\\\". Valid actions: manage_membership, edit not found\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 105
      },
      {
        "_id": "ae170950ce67d20649b0631a2b2e9bab",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/ae41b534-20d9-11ee-ad0a-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 140
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
