{
  "log": {
    "_recordingName": "Teams/Update permission setting for team returns \"API error response.\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "d749667e2c50c1cedfb8f3a375f5d8ef",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"test-handle-62f52dee42c1d7dc\",\"name\":\"test-name-62f52dee42c1d7dc\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 619,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"3426dddc-405b-11ee-818a-da7ad0900002\",\"attributes\":{\"name\":\"test-name-62f52dee42c1d7dc\",\"handle\":\"test-handle-62f52dee42c1d7dc\",\"summary\":null,\"description\":null,\"avatar\":null,\"banner\":null,\"visible_modules\":[],\"hidden_modules\":[],\"created_at\":\"2023-08-21T19:44:55.621598+00:00\",\"modified_at\":\"2023-08-21T19:44:55.621607+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/3426dddc-405b-11ee-818a-da7ad0900002/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/3426dddc-405b-11ee-818a-da7ad0900002/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 213
      },
      {
        "_id": "017f420790700f03e48f87a3f4c14be2",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"value\":\"admins\"},\"type\":\"team_permission_settings\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/3426dddc-405b-11ee-818a-da7ad0900002/permission-settings/REPLACE.ME"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 99,
            "text": "{\"errors\":[\"Invalid action type \\\"REPLACE.ME\\\". Valid actions: manage_membership, edit not found\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 139
      },
      {
        "_id": "9e36b088b921bbe42f5146086f5bbac1",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/3426dddc-405b-11ee-818a-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 147
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
