{
  "log": {
    "_recordingName": "CSM Threats/Delete a CSM Threats agent policy returns \"Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "77c1cdb4e75f5c1f63ef728154e9020e",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datad0g.com/api/v2/remote_config/products/cws/policy/non-existent-policy"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 49,
            "text": "{\"errors\":[{\"title\":\"failed to delete policy\"}]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 360
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
