{
  "log": {
    "_recordingName": "Key Management/Edit an application key returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "45c0d802b9e979f85d54103e77942f96",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Edit_an_application_key_returns_OK_response-1639757120\"},\"type\":\"application_keys\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/current_user/application_keys"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 375,
            "text": "{\"data\":{\"type\":\"application_keys\",\"id\":\"82a1a46d-7acc-4fcd-a448-c5993752640a\",\"attributes\":{\"name\":\"Test-Edit_an_application_key_returns_OK_response-1639757120\",\"created_at\":\"2021-12-17T16:05:20.518462+00:00\",\"last4\":\"beef\",\"key\":\"deaddcc81a44288fbbbfb15efe1203df034abeef\"},\"relationships\":{\"owned_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 489,
      },
      {
        "_id": "efa4608a092e3f5d23ecb1456a7121fc",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"id\":\"82a1a46d-7acc-4fcd-a448-c5993752640a\",\"type\":\"application[...]
