{
  "log": {
    "_recordingName": "Dashboards/Create a new dashboard with formulas and functions scatterplot widget",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "ab93987ca4c842e9cb5ec2fe9b821d8a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"layout_type\":\"ordered\",\"title\":\"Test-Create_a_new_dashboard_with_formulas_and_functions_scatterplot_widget-1731611542\",\"widgets\":[{\"definition\":{\"requests\":{\"table\":{\"formulas\":[{\"alias\":\"my-query1\",\"dimension\":\"x\",\"formula\":\"query1\"},{\"alias\":\"my-query2\",\"dimension\":\"y\",\"formula\":\"query2\"}],\"queries\":[{\"aggregator\":\"avg\",\"data_source\":\"metrics\",\"name\":\"query1\",\"query\":\"avg:system.cpu.user{*} by {service}\"},{\"aggregator\":\"avg\",\"data_source\":\"metrics\",\"name\":\"query2\",\"query\":\"avg:system.mem.used{*} by {service}\"}],\"response_format\":\"scalar\"}},\"title\":\"\",\"title_align\":\"left\",\"title_size\":\"16\",\"type\":\"scatterplot\"},\"id\":5346764334358972,\"layout\":{\"height\":2,\"width\":4,\"x\":0,\"y\":0}}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1098,
            "text": "{\"id\":\"pve-j2y-xxt\",\"title\":\"Test-Create_a_new_dashboard_with_formulas_and_functions_scatterplot_widget-1731611542\",\"description\":null,\"author_handle\":\"anika.maskara@datadoghq.com\",\"author_name\":\"Anika Maskara\",\"layout_type\":\"ordered\",\"url\":\"/dashboard/pve-j2y-xxt/test-createanewdashboardwithformulasandfunctionsscatterplotwidget-1731611542\",\"is_read_only\":false,\"template_variables\":null,\"widgets\":[{\"definition\":{\"requests\":{\"table\":{\"formulas\":[{\"alias\":\"my-query1\",\"dimension\":\"x\",\"formula\":\"query1\"},{\"alias\":\"my-query2\",\"dimension\":\"y\",\"formula\":\"query2\"}],\"queries\":[{\"aggregator\":\"avg\",\"data_source\":\"metrics\",\"name\":\"query1\",\"query\":\"avg:system.cpu.user{*} by {service}\"},{\"aggregator\":\"avg\",\"data_source\":\"metrics\",\"name\":\"query2\",\"query\":\"avg:system.mem.used{*} by {service}\"}],\"response_format\":\"scalar\"}},\"title\":\"\",\"title_align\":\"left\",\"title_size\":\"16\",\"type\":\"scatterplot\"},\"id\":5346764334358972,\"layout\":{\"height\":2,\"width\":4,\"x\":0,\"y\":0}}],\"notify_list\":null,\"created_at\":\"2024-11-14T19:12:22.422938+00:00\",\"modified_at\":\"2024-11-14T19:12:22.422938+00:00\",\"restricted_roles\":[]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 305
      },
      {
        "_id": "f344c2d3c3fa1d027adafb9abd7d095c",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/pve-j2y-xxt"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 39,
            "text": "{\"deleted_dashboard_id\":\"pve-j2y-xxt\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 165
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
