{
  "log": {
    "_recordingName": "Dashboards/Create a new dashboard with timeseries widget with custom_unit",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "38821fcaedaff1a1d6f2dc3c1a613e9e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"description\":\"\",\"layout_type\":\"ordered\",\"notify_list\":[],\"reflow_type\":\"fixed\",\"template_variables\":[],\"title\":\"Test-Create_a_new_dashboard_with_timeseries_widget_with_custom_unit-1739811056\",\"widgets\":[{\"definition\":{\"legend_layout\":\"auto\",\"requests\":[{\"display_type\":\"line\",\"formulas\":[{\"formula\":\"query1\",\"number_format\":{\"unit\":{\"type\":\"canonical_unit\",\"unit_name\":\"fraction\"},\"unit_scale\":{\"type\":\"canonical_unit\",\"unit_name\":\"apdex\"}}}],\"queries\":[{\"data_source\":\"metrics\",\"name\":\"query1\",\"query\":\"avg:system.cpu.user{*}\"}],\"response_format\":\"timeseries\"}],\"show_legend\":true,\"time\":{},\"title\":\"\",\"title_align\":\"left\",\"title_size\":\"16\",\"type\":\"timeseries\"},\"layout\":{\"height\":5,\"width\":12,\"x\":0,\"y\":0}}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1053,
            "text": "{\"id\":\"a8v-698-pen\",\"title\":\"Test-Create_a_new_dashboard_with_timeseries_widget_with_custom_unit-1739811056\",\"description\":\"\",\"author_handle\":\"frog@datadoghq.com\",\"author_name\":\"frog\",\"layout_type\":\"ordered\",\"url\":\"/dashboard/a8v-698-pen/test-createanewdashboardwithtimeserieswidgetwithcustomunit-1739811056\",\"is_read_only\":false,\"template_variables\":[],\"widgets\":[{\"definition\":{\"legend_layout\":\"auto\",\"requests\":[{\"display_type\":\"line\",\"formulas\":[{\"formula\":\"query1\",\"number_format\":{\"unit\":{\"type\":\"canonical_unit\",\"unit_name\":\"fraction\"},\"unit_scale\":{\"type\":\"canonical_unit\",\"unit_name\":\"apdex\"}}}],\"queries\":[{\"data_source\":\"metrics\",\"name\":\"query1\",\"query\":\"avg:system.cpu.user{*}\"}],\"response_format\":\"timeseries\"}],\"show_legend\":true,\"time\":{},\"title\":\"\",\"title_align\":\"left\",\"title_size\":\"16\",\"type\":\"timeseries\"},\"layout\":{\"height\":5,\"width\":12,\"x\":0,\"y\":0},\"id\":6721814968677378}],\"notify_list\":[],\"created_at\":\"2025-02-17T16:50:57.183740+00:00\",\"modified_at\":\"2025-02-17T16:50:57.183740+00:00\",\"reflow_type\":\"fixed\",\"restricted_roles\":[]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 613
      },
      {
        "_id": "5ad97c5eb82dbeca915d3aedcc9af901",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/a8v-698-pen"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 39,
            "text": "{\"deleted_dashboard_id\":\"a8v-698-pen\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 561
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
