{
  "log": {
    "_recordingName": "Actions Datastores/Bulk put datastore items returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "6574cf7e1c5524e145d2b92f9fa74d2c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"description\":\"\",\"name\":\"Test Datastore\",\"org_access\":\"contributor\",\"primary_column_name\":\"id\",\"primary_key_generation_strategy\":\"none\"},\"type\":\"datastores\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/actions-datastores"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 74,
            "text": "{\"data\":{\"id\":\"b554a447-b168-47a1-95c5-ececcb30af1c\",\"type\":\"datastores\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 153
      },
      {
        "_id": "bbddda9a1dfe0fdabbe0575955982e03",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/actions-datastores/b554a447-b168-47a1-95c5-ececcb30af1c"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 384,
            "text": "{\"data\":{\"id\":\"b554a447-b168-47a1-95c5-ececcb30af1c\",\"type\":\"datastores\",\"attributes\":{\"created_at\":\"2025-08-08T20:30:54.91091Z\",\"creator_user_id\":1445416,\"creator_user_uuid\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"description\":\"\",\"modified_at\":\"2025-08-08T20:30:54.91091Z\",\"name\":\"Test Datastore\",\"org_id\":321813,\"primary_column_name\":\"id\",\"primary_key_generation_strategy\":\"none\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 137
      },
      {
        "_id": "790d5c18a0c396bb0c43af935ce67ebb",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"values\":[{\"id\":\"key1\",\"value\":{\"data\":\"example data 1\",\"key\":\"value\"}},{\"id\":\"key2\",\"value\":{\"data\":\"example data 2\",\"key\":\"value\"}}]},\"type\":\"items\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/actions-datastores/b554a447-b168-47a1-95c5-ececcb30af1c/items/bulk"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 132,
            "text": "{\"data\":[{\"id\":\"cf7aef69-35e1-4c26-858b-3e04e6a90d48\",\"type\":\"it[...]
