{
  "log": {
    "_recordingName": "Usage Metering/GetEstimatedCostByOrg with start_date returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "7cb949d5c1eece97c2e37535350712e3",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "start_date",
              "value": "2022-07-24T14:22:55.359Z"
            },
            {
              "name": "view",
              "value": "sub-org"
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/usage/estimated_cost?start_date=2022-07-24T14%3A22%3A55.359Z&view=sub-org"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 12,
            "text": "{\"data\":[]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 714
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
