{
  "log": {
    "_recordingName": "Org Connections/List Org Connections returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "c4a45f022843cd721bba31dac1a31203",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/org_connections"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 71,
            "text": "{\"data\":[],\"meta\":{\"page\":{\"total_count\":0,\"total_filtered_count\":0}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 124
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
