{
  "log": {
    "_recordingName": "Webhooks Integration/Create a webhooks integration returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "e5f33b615a4ee1778c1652b30069ac16",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"Test-Create_a_webhooks_integration_returns_OK_response-1628785713\",\"url\":\"https://example.com/webhook\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/integration/webhooks/configuration/webhooks"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 386,
            "text": "{\"encode_as\":\"json\",\"url\":\"https://example.com/webhook\",\"custom_headers\":null,\"name\":\"Test-Create_a_webhooks_integration_returns_OK_response-1628785713\",\"payload\":\"{\\\"body\\\": \\\"$EVENT_MSG\\\", \\\"last_updated\\\": \\\"$LAST_UPDATED\\\", \\\"event_type\\\": \\\"$EVENT_TYPE\\\", \\\"title\\\": \\\"$EVENT_TITLE\\\", \\\"date\\\": \\\"$DATE\\\", \\\"org\\\": {\\\"id\\\": \\\"$ORG_ID\\\", \\\"name\\\": \\\"$ORG_NAME\\\"}, \\\"id\\\": \\\"$ID\\\"}\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "location",
              "value": "https://app.datadoghq.com/api/v1/integration/webhooks/configuration/webhooks/Test-Create_a_webhooks_integration_returns_OK_response-1628785713"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 488,
      },
      {
        "_id": "5913f274e79d3d920b2ee2e8fa996d83",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/integration/webhooks/configuration/webhooks/Test-Create_a_webhooks_integration_returns_OK_response-1628785713"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 2,
            "text": "{}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 370,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
