{
  "log": {
    "_recordingName": "End User Device Monitoring/Get overview tiles returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "f6539e1fddc9d726dec9a5892eca1322",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/eudm/overview"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 696,
            "text": "{\"data\":[{\"id\":\"total\",\"type\":\"overview_items\",\"attributes\":{\"name\":\"total\",\"value\":0}},{\"id\":\"healthy\",\"type\":\"overview_items\",\"attributes\":{\"name\":\"healthy\",\"value\":0}},{\"id\":\"degraded\",\"type\":\"overview_items\",\"attributes\":{\"name\":\"degraded\",\"value\":0}},{\"id\":\"critical\",\"type\":\"overview_items\",\"attributes\":{\"name\":\"critical\",\"value\":0}},{\"id\":\"inactive\",\"type\":\"overview_items\",\"attributes\":{\"name\":\"inactive\",\"value\":0}},{\"id\":\"high-cpu\",\"type\":\"overview_items\",\"attributes\":{\"name\":\"high-cpu\",\"value\":0}},{\"id\":\"weak-wifi\",\"type\":\"overview_items\",\"attributes\":{\"name\":\"weak-wifi\",\"value\":0}},{\"id\":\"recent-restart\",\"type\":\"overview_items\",\"attributes\":{\"name\":\"recent-restart\",\"value\":0}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 51
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
