{
  "log": {
    "_recordingName": "APM Retention Filters/List all APM retention filters returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "b24042788cc9cba4e3eb03a7fdff0697",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"enabled\":true,\"filter\":{\"query\":\"@_top_level:1 test:service-demo\"},\"filter_type\":\"spans-sampling-processor\",\"name\":\"demo retention filter\",\"rate\":0.9},\"type\":\"apm_retention_filter\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/apm/config/retention-filters"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 371,
            "text": "{\"data\":{\"id\":\"-v1Gd2orR3G29xzbVzy6lQ\",\"attributes\":{\"name\":\"demo retention filter\",\"rate\":0.9,\"enabled\":true,\"filter_type\":\"spans-sampling-processor\",\"filter\":{\"query\":\"@_top_level:1 test:service-demo\"},\"editable\":true,\"modified_by\":\"frog@datadoghq.com\",\"modified_at\":1695635854,\"created_by\":\"frog@datadoghq.com\",\"created_at\":1695635854},\"type\":\"apm_retention_filter\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 10789
      },
      {
        "_id": "fa2bdf11b036b7e2c9851aecbc565a49",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/apm/config/retention-filters"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 916,
            "text": "{\"data\":[{\"id\":\"jdZrilSJQLqzb6Cu7aub9Q\",\"attributes\":{\"name\":\"Application Security Monitoring Default\",\"rate\":1.0,\"enabled\":false,\"filter_type\":\"spans-appsec-sampling-processor\",\"filter\":{\"query\":\"@appsec.event:true\"},\"editable\":false,\"execution_order\":1},\"type\":\"apm_retention_filter\"},{\"id\":\"7RBOb7dLSYWI01yc3pIH8w\",\"attributes\":{\"name\":\"Error Default\",\"rate\":1.0,\"enabled\":true,\"filter_type\":\"spans-errors-sampling-processor\",\"filter\":{\"query\":\"status:error\"},\"editable\":false,\"execution_order\":2},\"type\":\"apm_retention_filter\"},{\"id\":\"-v1Gd2orR3G29xzbVzy6lQ\",\"attributes\":{\"name\":\"demo retention filter\",\"rate\":0.9,\"enabled\":true,\"filter_type\":\"spans-sampling-processor\",\"filter\":{\"query\":\"[...]
