{
  "log": {
    "_recordingName": "On-Call/Create on-call schedule returns \"Created\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "8bfe4249ed752ef761336d6290fbab1a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Create_on_call_schedule_returns_Created_response-1745462967@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 701,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"bd4b5c17-20b6-11f0-9b89-56a869ed3f0e\",\"attributes\":{\"name\":null,\"handle\":\"test-create_on_call_schedule_returns_created_response-1745462967@datadoghq.com\",\"created_at\":\"2025-04-24T02:49:28.045501+00:00\",\"modified_at\":\"2025-04-24T02:49:28.045501+00:00\",\"email\":\"test-create_on_call_schedule_returns_created_response-1745462967@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/774508323ca0432fa93ee1fdf7111c87?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 889
      },
      {
        "_id": "b3f6b7ede9d68ba8f5c34b4a0753128a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"test-handle-3bb36357ae7d207e\",\"name\":\"test-name-3bb36357ae7d207e\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 635,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"04f134fc-d975-4111-825d-5447611962c3\",\"attributes\":{\"name\":\"test-name-3bb36357ae7d207e\",\"handle\":\"test-handle-3bb36357ae7d207e\",\"summary\":null,\"description\":null,\"avatar\":null,\"banner\":0,\"visible_modules\":[],\"hidden_modules\":[],\"created_at\":\"2025-04-24T02:49:28.946742+00:00\",\"modified_at\":\"2025-04-24T02:49:28.946751+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/04f134fc-d975-4111-825d-5447611962c3/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/04f134fc-d975-4111-825d-5447611962c3/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 955
      },
      {
        "_id": "5d36fd19bd5b7b5bd2d28a308c3ddcef",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"layers\":[{\"effective_date\":\"2025-04-14T02:49:27.251Z\",\"end_date\":\"2025-05-04T02:49:27.251Z\",\"interval\":{\"days\":1},\"members\":[{\"user\":{\"id\":\"bd4b5c17-20b6-11f0-9b89-56a869ed3f0e\"}}],\"name\":\"Layer 1\",\"restrictions\":[{\"end_day\":\"friday\",\"end_time\":\"17:00:00\",\"start_day\":\"monday\",\"start_time\":\"09:00:00\"}],\"rotation_start\":\"2025-04-19T02:49:27.251Z\"}],\"name\":\"Test-Create_on_call_schedule_returns_Created_response-1745462967\",\"tags\":[\"tag1\",\"tag2\"],\"time_zone\":\"America/New_York\"},\"relationships\":{\"teams\":{\"data\":[{\"id\":\"04f134fc-d975-4111-825d-5447611962c3\",\"type\":\"teams\"}]}},\"type\":\"schedules\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/on-call/schedules"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 396,
            "text": "{\"data\":{\"id\":\"123b1c19-c34b-45b6-9c33-41f9e4dda1dd\",\"type\":\"schedules\",\"attributes\":{\"name\":\"Test-Create_on_c[...]
