{
  "log": {
    "_recordingName": "Dashboards/Create a shared dashboard returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "2b701a2eb6149a72ee13c54c26248035",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"layout_type\":\"ordered\",\"title\":\"Test-Create_a_shared_dashboard_returns_OK_response-1731611566 with Profile Metrics Query\",\"widgets\":[{\"definition\":{\"requests\":[{\"profile_metrics_query\":{\"compute\":{\"aggregation\":\"sum\",\"facet\":\"@prof_core_cpu_cores\"},\"group_by\":[{\"facet\":\"service\",\"limit\":10,\"sort\":{\"aggregation\":\"sum\",\"facet\":\"@prof_core_cpu_cores\",\"order\":\"desc\"}}],\"search\":{\"query\":\"runtime:jvm\"}}}],\"type\":\"timeseries\"}}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 863,
            "text": "{\"id\":\"zc8-ujq-5pw\",\"title\":\"Test-Create_a_shared_dashboard_returns_OK_response-1731611566 with Profile Metrics Query\",\"description\":null,\"author_handle\":\"anika.maskara@datadoghq.com\",\"author_name\":\"Anika Maskara\",\"layout_type\":\"ordered\",\"url\":\"/dashboard/zc8-ujq-5pw/test-createashareddashboardreturnsokresponse-1731611566-with-profile-metrics-que\",\"is_read_only\":false,\"template_variables\":null,\"widgets\":[{\"definition\":{\"requests\":[{\"profile_metrics_query\":{\"compute\":{\"aggregation\":\"sum\",\"facet\":\"@prof_core_cpu_cores\"},\"group_by\":[{\"facet\":\"service\",\"limit\":10,\"sort\":{\"aggregation\":\"sum\",\"facet\":\"@prof_core_cpu_cores\",\"order\":\"desc\"}}],\"search\":{\"query\":\"runtime:jvm\"}}}],\"type\":\"timeseries\"},\"id\":8629710172038882}],\"notify_list\":null,\"created_at\":\"2024-11-14T19:12:46.843636+00:00\",\"modified_at\":\"2024-11-14T19:12:46.843636+00:00\",\"restricted_roles\":[]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 239
      },
      {
        "_id": "31c4d072190981a873b557c90d3fdb26",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"dashboard_id\":\"zc8-ujq-5pw\",\"dashboard_type\":\"custom_timeboard\",\"global_time\":{\"live_span\":\"1h\"},\"share_type\":\"open\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/public"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 706,
            "text": "{\"author\":{\"handle\":\"anika.maskara@datadoghq.com\",\"name\":\"Anika Maskara\"},\"dashboard_id\":\"zc8-ujq-5pw\",\"dashboard_type\":\"custom_timeboard\",\"status\":\"active\",\"title\":\"Test-Create_a_shared_dashboard_returns_OK_response-1731611566 with Profile Metrics Query\",\"viewing_preferences\":{},\"expiration\":null,\"last_accessed\":null,\"global_time_selectable_enabled\":false,\"global_time\":{\"live_span\":\"1h\"},\"selectable_template_vars\":null,\"token\":\"fasjyydbcgwwc2uc-cdab0ba2d895a0652a2125ec4addf7a4\",\"public_url\":\"https://p.datadoghq.com/sb/fasjyydbcgwwc2uc-cdab0ba2d895a0652a2125ec4addf7a4\",\"created\":\"2024-11-14T19:12:47.159926+00:00\",\"share_type\":\"open\",\"share_list\":null,\"session_duration_in_days\":null,\"invitees\":[]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 342
      },
      {
        "_id": "0d61e5d0e7c882a70c1cd12f7aecdafc",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/public/fasjyydbcgwwc2uc-cdab0ba2d895a0652a2125ec4addf7a4"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 87,
            "text": "{\"deleted_public_dashboard_token\":\"fasjyydbcgwwc2uc-cdab0ba2d895a0652a2125ec4addf7a4\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 207
      },
      {
        "_id": "27ad3a082a4135ea518a78048639e6db",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/zc8-ujq-5pw"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 39,
            "text": "{\"deleted_dashboard_id\":\"zc8-ujq-5pw\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 154
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
