{
  "log": {
    "_recordingName": "Dashboards/Create a shared dashboard returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "3efcf307e2aae772fe0edcf2899ea82d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"layout_type\":\"ordered\",\"title\":\"Test-Create_a_shared_dashboard_returns_OK_response-1680296510 with Profile Metrics Query\",\"widgets\":[{\"definition\":{\"requests\":[{\"profile_metrics_query\":{\"compute\":{\"aggregation\":\"sum\",\"facet\":\"@prof_core_cpu_cores\"},\"group_by\":[{\"facet\":\"service\",\"limit\":10,\"sort\":{\"aggregation\":\"sum\",\"facet\":\"@prof_core_cpu_cores\",\"order\":\"desc\"}}],\"search\":{\"query\":\"runtime:jvm\"}}}],\"type\":\"timeseries\"}}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 843,
            "text": "{\"id\":\"ku9-p3f-2qu\",\"title\":\"Test-Create_a_shared_dashboard_returns_OK_response-1680296510 with Profile Metrics Query\",\"description\":null,\"author_handle\":\"frog@datadoghq.com\",\"author_name\":null,\"layout_type\":\"ordered\",\"url\":\"/dashboard/ku9-p3f-2qu/test-createashareddashboardreturnsokresponse-1680296510-with-profile-metrics-que\",\"is_read_only\":false,\"template_variables\":null,\"widgets\":[{\"definition\":{\"requests\":[{\"profile_metrics_query\":{\"compute\":{\"aggregation\":\"sum\",\"facet\":\"@prof_core_cpu_cores\"},\"group_by\":[{\"facet\":\"service\",\"limit\":10,\"sort\":{\"aggregation\":\"sum\",\"facet\":\"@prof_core_cpu_cores\",\"order\":\"desc\"}}],\"search\":{\"query\":\"runtime:jvm\"}}}],\"type\":\"timeseries\"},\"id\":1709388709940781}],\"notify_list\":null,\"created_at\":\"2023-03-31T21:01:50.263804+00:00\",\"modified_at\":\"2023-03-31T21:01:50.263804+00:00\",\"restricted_roles\":[]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 211
      },
      {
        "_id": "da6b6d1f25d6e5217e98edc441c52c33",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"dashboard_id\":\"ku9-p3f-2qu\",\"dashboard_type\":\"custom_timeboard\",\"global_time\":{\"live_span\":\"1h\"},\"share_type\":\"open\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/public"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 459,
            "text": "{\"author\":{\"handle\":\"frog@datadoghq.com\",\"name\":null},\"dashboard_id\":\"ku9-p3f-2qu\",\"dashboard_type\":\"custom_timeboard\",\"global_time_selectable_enabled\":false,\"global_time\":{\"live_span\":\"1h\"},\"selectable_template_vars\":null,\"token\":\"fasjyydbcgwwc2uc-078f138782b770a6d7512a925664fca3\",\"public_url\":\"https://p.datadoghq.com/sb/fasjyydbcgwwc2uc-078f138782b770a6d7512a925664fca3\",\"created\":\"2023-03-31T21:01:50.643308+00:00\",\"share_type\":\"open\",\"share_list\":null}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 349
      },
      {
        "_id": "1174a57bb5f6b71a85211a7e4607eda1",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/public/fasjyydbcgwwc2uc-078f138782b770a6d7512a925664fca3"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 87,
            "text": "{\"deleted_public_dashboard_token\":\"fasjyydbcgwwc2uc-078f138782b770a6d7512a925664fca3\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 192
      },
      {
        "_id": "fb3260d9bc79b397dcf8fa9d415226ed",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/ku9-p3f-2qu"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 39,
            "text": "{\"deleted_dashboard_id\":\"ku9-p3f-2qu\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 170
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
