{
  "log": {
    "_recordingName": "DORA Metrics/Get a list of deployment events returns deployments with date-time timestamps",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "e701b9e3c205f3735ddffd7d68968d71",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"from\":\"2023-08-31T00:00:00Z\",\"to\":\"2023-09-01T00:00:00Z\"},\"type\":\"dora_deployments_list_request\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/dora/deployments"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 217,
            "text": "{\"data\":[{\"id\":\"abc-123\",\"type\":\"dora_deployment\",\"attributes\":{\"service\":\"shopist\",\"started_at\":\"2023-08-31T14:26:14Z\",\"finished_at\":\"2023-08-31T14:26:24Z\",\"env\":\"production\",\"team\":\"backend\",\"version\":\"v1.12.07\"}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 42
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
