{
  "log": {
    "_recordingName": "Metrics/Update a tag indexing rule returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "64a27b85820608cb57da88d775db426a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"metric_name_matches\":[\"dd.TestUpdateatagindexingrulereturnsOKresponse1780591178.*\"],\"name\":\"TestUpdateatagindexingrulereturnsOKresponse1780591178\",\"tags\":[\"env\",\"service\"]},\"type\":\"tag_indexing_rules\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/metrics/tag-indexing-rules"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 616,
            "text": "{\"data\":{\"id\":\"c9f5704f-f5b9-4afe-9dec-69edfce00c0a\",\"type\":\"tag_indexing_rules\",\"attributes\":{\"created_at\":\"2026-06-04T16:39:38.068057Z\",\"created_by_handle\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\",\"exclude_tags_mode\":false,\"metric_name_matches\":[\"dd.TestUpdateatagindexingrulereturnsOKresponse1780591178.*\"],\"modified_at\":\"2026-06-04T16:39:38.068057Z\",\"modified_by_handle\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\",\"name\":\"TestUpdateatagindexingrulereturnsOKresponse1780591178\",\"options\":{\"version\":1,\"data\":{\"override_previous_rules\":false,\"manage_preexisting_metrics\":true}},\"rule_order\":1,\"tags\":[\"env\",\"service\"]}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 45
      },
      {
        "_id": "18be736534b61d380a603403ff4a885f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"ignored_metric_name_matches\":[],\"metric_name_matches\":[\"dd.test.*\"],\"name\":\"my-indexing-rule\",\"options\":{\"data\":{\"dynamic_tags\":{\"queried_tags_window_seconds\":3600,\"related_asset_tags\":false},\"manage_preexisting_metrics\":true,\"metric_match\":{\"queried_window_seconds\":3600},\"override_previous_rules\":false},\"version\":1},\"rule_order\":2,\"tags\":[\"env\",\"service\"]},\"type\":\"tag_indexing_rules\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/metrics/tag-indexing-rules/c9f5704f-f5b9-4afe-9dec-69edfce00c0a"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 662,
            "text": "{\"data\":{\"id\":\"c9f5704f-f5b9-4afe-9dec-69ed[...]
