{
  "log": {
    "_recordingName": "Case Management Attribute/Create custom attribute config for a case type returns \"CREATED\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "dc45fc730f09c12d941beaf799af6461",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"description\":\"Worldwide case type\",\"emoji\":\"\ud83c\udf0d\",\"name\":\"World\"},\"type\":\"case_type\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/cases/types"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 154,
            "text": "{\"data\":{\"id\":\"c19925d5-97c0-4e0e-a49e-fef562db5519\",\"type\":\"case_type\",\"attributes\":{\"description\":\"Worldwide case type\",\"emoji\":\"\ud83c\udf0d\",\"name\":\"World\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 386
      },
      {
        "_id": "b84bcdfeaaadad5a39015ade99a63a13",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"display_name\":\"AWS Region 17557801-0000-0000-0000-175578010300\",\"is_multi\":true,\"key\":\"region_ba6c2c263864f56d\",\"type\":\"NUMBER\"},\"type\":\"custom_attribute\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/cases/types/c19925d5-97c0-4e0e-a49e-fef562db5519/custom_attributes"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 301,
            "text": "{\"data\":{\"id\":\"63f3f34c-5ec2-4d90-ba8e-63431a6a7010\",\"type\":\"custom_attribute\",\"attributes\":{\"case_type\":\"TUNKNOWN\",\"case_type_id\":\"c19925d5-97c0-4e0e-a49e-fef562db5519\",\"display_name\":\"AWS Region 17557801-0000-0000-0000-175578010300\",\"is_multi\":true,\"key\":\"region_ba6c2c263864f56d\",\"type\":\"NUMBER\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 428
      },
      {
        "_id": "04f6d461121d1f3decb27b9f6f5daabd",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/cases/types/c19925d5-97c0-4e0e-a49e-fef562db5519"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 376
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
