{
  "log": {
    "_recordingName": "Case Management Attribute/Create custom attribute config for a case type returns \"CREATED\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "dc45fc730f09c12d941beaf799af6461",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"description\":\"Worldwide case type\",\"emoji\":\"\ud83c\udf0d\",\"name\":\"World\"},\"type\":\"case_type\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/cases/types"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 154,
            "text": "{\"data\":{\"id\":\"1fab87e4-341d-4a79-a294-171b4e2c22f8\",\"type\":\"case_type\",\"attributes\":{\"description\":\"Worldwide case type\",\"emoji\":\"\ud83c\udf0d\",\"name\":\"World\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 380
      },
      {
        "_id": "c3baaaf341aacb8b01dbd18b2d3f1ebe",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"display_name\":\"AWS Region 17569771-0000-0000-0000-175697711500\",\"is_multi\":true,\"key\":\"region_eaa423ff52828a39\",\"type\":\"NUMBER\"},\"type\":\"custom_attribute\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/cases/types/1fab87e4-341d-4a79-a294-171b4e2c22f8/custom_attributes"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 301,
            "text": "{\"data\":{\"id\":\"0dc4a14f-f96b-4a27-893a-72341da7ce1d\",\"type\":\"custom_attribute\",\"attributes\":{\"case_type\":\"TUNKNOWN\",\"case_type_id\":\"1fab87e4-341d-4a79-a294-171b4e2c22f8\",\"display_name\":\"AWS Region 17569771-0000-0000-0000-175697711500\",\"is_multi\":true,\"key\":\"region_eaa423ff52828a39\",\"type\":\"NUMBER\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 393
      },
      {
        "_id": "a7adf5a892feb41481d6140b3be18a43",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/cases/types/1fab87e4-341d-4a79-a294-171b4e2c22f8"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 390
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
