{
  "log": {
    "_recordingName": "Case Management Attribute/Create custom attribute config for a case type returns \"CREATED\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "dc45fc730f09c12d941beaf799af6461",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"description\":\"Worldwide case type\",\"emoji\":\"\ud83c\udf0d\",\"name\":\"World\"},\"type\":\"case_type\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/cases/types"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 401,
            "text": "{\"data\":{\"id\":\"d6472e40-180e-4f7f-bdc0-9c8a749da7ee\",\"type\":\"case_type\",\"attributes\":{\"description\":\"Worldwide case type\",\"emoji\":\"\ud83c\udf0d\",\"internal\":false,\"name\":\"World\",\"statuses_config\":{\"open\":{\"status_options\":[{\"name\":\"Open\"}],\"default\":\"Open\"},\"in_progress\":{\"status_options\":[{\"name\":\"In Progress\"}],\"default\":\"In Progress\"},\"closed\":{\"status_options\":[{\"name\":\"Closed\"}],\"default\":\"Closed\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 130
      },
      {
        "_id": "35d5b0484c613eab3d42d3d69f7f85f3",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"display_name\":\"AWS Region 17593230-0000-0000-0000-175932301200\",\"is_multi\":true,\"key\":\"region_34a76e3ae14c4076\",\"type\":\"NUMBER\"},\"type\":\"custom_attribute\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/cases/types/d6472e40-180e-4f7f-bdc0-9c8a749da7ee/custom_attributes"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 301,
            "text": "{\"data\":{\"id\":\"d57aff81-87df-478e-af85-9553e0a5d221\",\"type\":\"custom_attribute\",\"attributes\":{\"case_type\":\"TUNKNOWN\",\"case_type_id\":\"d6472e40-180e-4f7f-bdc0-9c8a749da7ee\",\"display_name\":\"AWS Region 17593230-0000-0000-0000-175932301200\",\"is_multi\":true,\"key\":\"region_34a76e3ae14c4076\",\"type\":\"NUMBER\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 430
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
