{
  "log": {
    "_recordingName": "Opsgenie Integration/Get all service objects returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "7e5b2328361a0bae10aa7f811cd8e1e9",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Get_all_service_objects_returns_OK_response-1655132328\",\"opsgenie_api_key\":\"00000000-0000-0000-0000-000000000000\",\"region\":\"us\"},\"type\":\"opsgenie-service\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integration/opsgenie/services"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 197,
            "text": "{\"data\":{\"attributes\":{\"region\":\"us\",\"name\":\"Test-Get_all_service_objects_returns_OK_response-1655132328\",\"custom_url\":null},\"type\":\"opsgenie-service\",\"id\":\"337861b6-ed46-4c66-b4a0-32d7a4ba94b9\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 200
      },
      {
        "_id": "24f358a3765ff701accf02c5bae9c1cf",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integration/opsgenie/services"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 199,
            "text": "{\"data\":[{\"attributes\":{\"region\":\"us\",\"name\":\"Test-Get_all_service_objects_[...]
