{
  "log": {
    "_recordingName": "OCI Integration/Update tenancy config returns \"Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "1bea1d3d15408464f288981e0328f2a7",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"home_region\":\"us-ashburn-1\",\"logs_config\":{\"compartment_tag_filters\":[\"datadog:true\",\"env:prod\"],\"enabled\":true,\"enabled_services\":[\"objectstorage\"]},\"metrics_config\":{\"compartment_tag_filters\":[\"datadog:true\",\"env:prod\"],\"enabled\":true,\"excluded_services\":[\"oci_compute\"]},\"resource_collection_enabled\":true,\"user_ocid\":\"ocid1.user.test\"},\"id\":\"ocid1.tenancy.fake\",\"type\":\"oci_tenancy\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integration/oci/tenancies/ocid1.tenancy.fake"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 78,
            "text": "{\"errors\":[{\"status\":\"404\",\"title\":\"Not Found\",\"detail\":\"tenancy not found\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 346
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
