{
  "log": {
    "_recordingName": "Opsgenie Integration/Create a new service object returns \"CREATED\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "d85b470058b8500bef6e9a26cb37831c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Create_a_new_service_object_returns_CREATED_response-1653590938\",\"opsgenie_api_key\":\"00000000-0000-0000-0000-000000000000\",\"region\":\"us\"},\"type\":\"opsgenie-service\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integration/opsgenie/services"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 238,
            "text": "{\"data\":{\"attributes\":{\"custom_url\":null,\"region\":\"us\",\"name\":\"Test-Create_a_new_service_object_returns_CREATED_response-1653590938\"},\"type\":\"opsgenie-service\",\"id\":\"0dcb43af-f233-4cda-b260-37e97e12f66f\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 554
      },
      {
        "_id": "cbb8d25e01b72f5f7450ed11e7eb9f3f",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integration/opsgenie/services/0dcb43af-f233-4cda-b260-37e97e12f66f"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=utf-8",
            "size": 0
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=utf-8"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 503
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
