{
  "log": {
    "_recordingName": "Teams/Remove a team link returns \"No Content\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "97f9a369bb93e395e227cca27076f50a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"handle-d9940b7456e5c622\",\"name\":\"name-d9940b7456e5c622\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 550,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"582432c8-ef4f-11ed-bdd4-da7ad0900002\",\"attributes\":{\"name\":\"name-d9940b7456e5c622\",\"handle\":\"handle-d9940b7456e5c622\",\"summary\":null,\"description\":null,\"color\":4,\"created_at\":\"2023-05-10T16:25:57.858187+00:00\",\"modified_at\":\"2023-05-10T16:25:57.858193+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/582432c8-ef4f-11ed-bdd4-da7ad0900002/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/582432c8-ef4f-11ed-bdd4-da7ad0900002/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 167
      },
      {
        "_id": "92a80abbe61be46b6d59ea6cb94891f1",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"label\":\"Test-Remove_a_team_link_returns_No_Content_response-1683735957\",\"position\":0,\"url\":\"https://example.com\"},\"type\":\"team_links\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/582432c8-ef4f-11ed-bdd4-da7ad0900002/links"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 253,
            "text": "{\"data\":{\"type\":\"team_links\",\"id\":\"584c2a94-ef4f-11ed-9556-da7ad0900002\",\"attributes\":{\"team_id\":\"582432c8-ef4f-11ed-bdd4-da7ad0900002\",\"label\":\"Test-Remove_a_team_link_returns_No_Content_response-1683735957\",\"url\":\"https://example.com\",\"position\":0}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 215
      },
      {
        "_id": "a8cb25fdda7ded85443702146c110987",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/582432c8-ef4f-11ed-bdd4-da7ad0900002/links/584c2a94-ef4f-11ed-9556-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 159
      },
      {
        "_id": "a8cb25fdda7ded85443702146c110987",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/582432c8-ef4f-11ed-bdd4-da7ad0900002/links/584c2a94-ef4f-11ed-9556-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 73,
            "text": "{\"errors\":[\"Link for ID 584c2a94-ef4f-11ed-9556-da7ad0900002 not found\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 196
      },
      {
        "_id": "8d70da0930795d66a7880850267b1520",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/582432c8-ef4f-11ed-bdd4-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 222
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
