{
  "log": {
    "_recordingName": "Teams/Remove a team link returns \"No Content\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "eef2f40850c198d8dcf4c0a57a531033",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"handle-0fe32e2c4ff0dff0\",\"name\":\"name-0fe32e2c4ff0dff0\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 540,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"ab1bfa86-20d9-11ee-83ad-da7ad0900002\",\"attributes\":{\"name\":\"name-0fe32e2c4ff0dff0\",\"handle\":\"handle-0fe32e2c4ff0dff0\",\"summary\":null,\"description\":null,\"created_at\":\"2023-07-12T17:29:34.577529+00:00\",\"modified_at\":\"2023-07-12T17:29:34.577535+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/ab1bfa86-20d9-11ee-83ad-da7ad0900002/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/ab1bfa86-20d9-11ee-83ad-da7ad0900002/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 187
      },
      {
        "_id": "b987c3c7718d68066e49fb257957787c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"label\":\"Test-Remove_a_team_link_returns_No_Content_response-1689182974\",\"position\":0,\"url\":\"https://example.com\"},\"type\":\"team_links\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/ab1bfa86-20d9-11ee-83ad-da7ad0900002/links"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 253,
            "text": "{\"data\":{\"type\":\"team_links\",\"id\":\"ab3d7062-20d9-11ee-86ea-da7ad0900002\",\"attributes\":{\"team_id\":\"ab1bfa86-20d9-11ee-83ad-da7ad0900002\",\"label\":\"Test-Remove_a_team_link_returns_No_Content_response-1689182974\",\"url\":\"https://example.com\",\"position\":0}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 168
      },
      {
        "_id": "b7d299f10d35f9eb387585526e374a64",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/ab1bfa86-20d9-11ee-83ad-da7ad0900002/links/ab3d7062-20d9-11ee-86ea-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 130
      },
      {
        "_id": "b7d299f10d35f9eb387585526e374a64",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/ab1bfa86-20d9-11ee-83ad-da7ad0900002/links/ab3d7062-20d9-11ee-86ea-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 73,
            "text": "{\"errors\":[\"Link for ID ab3d7062-20d9-11ee-86ea-da7ad0900002 not found\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 191
      },
      {
        "_id": "a73ad93118c48b44856fed2b0cd7cc7b",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/ab1bfa86-20d9-11ee-83ad-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 155
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
