{
  "log": {
    "_recordingName": "Teams/Remove a team link returns \"No Content\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "30ca486e4dc10194738a4bbed53e06eb",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"test-handle-174fbe08316e4419\",\"name\":\"test-name-174fbe08316e4419\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 619,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"3174aa4c-405b-11ee-9d78-da7ad0900002\",\"attributes\":{\"name\":\"test-name-174fbe08316e4419\",\"handle\":\"test-handle-174fbe08316e4419\",\"summary\":null,\"description\":null,\"avatar\":null,\"banner\":null,\"visible_modules\":[],\"hidden_modules\":[],\"created_at\":\"2023-08-21T19:44:51.098613+00:00\",\"modified_at\":\"2023-08-21T19:44:51.098619+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/3174aa4c-405b-11ee-9d78-da7ad0900002/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/3174aa4c-405b-11ee-9d78-da7ad0900002/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 177
      },
      {
        "_id": "6fa873e69e4926306244ea09237a7c9e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"label\":\"Test-Remove_a_team_link_returns_No_Content_response-1692647090\",\"position\":0,\"url\":\"https://example.com\"},\"type\":\"team_links\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/3174aa4c-405b-11ee-9d78-da7ad0900002/links"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 253,
            "text": "{\"data\":{\"type\":\"team_links\",\"id\":\"3194a5c2-405b-11ee-b009-da7ad0900002\",\"attributes\":{\"team_id\":\"3174aa4c-405b-11ee-9d78-da7ad0900002\",\"label\":\"Test-Remove_a_team_link_returns_No_Content_response-1692647090\",\"url\":\"https://example.com\",\"position\":0}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 169
      },
      {
        "_id": "0a26643b7dcb0167b89493c627ebf1ba",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/3174aa4c-405b-11ee-9d78-da7ad0900002/links/3194a5c2-405b-11ee-b009-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 169
      },
      {
        "_id": "0a26643b7dcb0167b89493c627ebf1ba",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/3174aa4c-405b-11ee-9d78-da7ad0900002/links/3194a5c2-405b-11ee-b009-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 73,
            "text": "{\"errors\":[\"Link for ID 3194a5c2-405b-11ee-b009-da7ad0900002 not found\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 144
      },
      {
        "_id": "a592b9bb0b8dad620587b46b2d6801a9",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/3174aa4c-405b-11ee-9d78-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 149
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
