{
  "log": {
    "_recordingName": "App Builder/Unpublish App returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "820bad241ae47d45b4437591eb8052bd",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"components\":[{\"events\":[],\"name\":\"grid0\",\"properties\":{\"children\":[{\"events\":[],\"name\":\"gridCell0\",\"properties\":{\"children\":[{\"events\":[],\"name\":\"calloutValue0\",\"properties\":{\"isDisabled\":false,\"isLoading\":false,\"isVisible\":true,\"label\":\"CPU Usage\",\"size\":\"sm\",\"style\":\"vivid_yellow\",\"unit\":\"kB\",\"value\":\"42\"},\"type\":\"calloutValue\"}],\"isVisible\":\"true\",\"layout\":{\"default\":{\"height\":8,\"width\":2,\"x\":0,\"y\":0}}},\"type\":\"gridCell\"}]},\"type\":\"grid\"}],\"description\":\"This is a simple example app\",\"embeddedQueries\":[],\"name\":\"Example App\",\"rootInstanceName\":\"grid0\"},\"type\":\"appDefinitions\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/app-builder/apps"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 78,
            "text": "{\"data\":{\"id\":\"5a291e81-8d65-4404-a700-2c3d46b1da47\",\"type\":\"appDefinitions\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 179
      },
      {
        "_id": "f6035cdf8e5b4d3b0272623ff11e241d",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/app-builder/apps/5a291e81-8d65-4404-a700-2c3d46b1da47/deployment"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 305,
            "text": "{\"data\":{\"id\":\"8c318f17-b117-4ea5-b01d-b02db78134bb\",\"type\":\"deployment\",\"attributes\":{\"app_version_id\":\"00000000-0000-0000-0000-000000000000\"},\"meta\":{\"created_at\":\"2025-01-09T20:40:40.464096Z\",\"user_id\":15479137,\"user_uuid\":\"b3f98453-b289-11ef-a4e9-d6d283f92d91\",\"user_name\":\"oliver.li@datadoghq.com\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 148
      },
      {
        "_id": "4a84fd22ab4b631ea1d891e850e06765",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/app-builder/apps/5a291e81-8d65-4404-a700-2c3d46b1da47"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 78,
            "text": "{\"data\":{\"id\":\"5a291e81-8d65-4404-a700-2c3d46b1da47\",\"type\":\"appDefinitions\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 154
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
