{
  "log": {
    "_recordingName": "Security Monitoring/Mute security findings returns \"Accepted\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "9b3f208c877ac59268532ef78dd43be3",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"mute\":{\"description\":\"To be resolved later.\",\"expire_at\":1778721573794,\"is_muted\":true,\"reason\":\"RISK_ACCEPTED\"}},\"relationships\":{\"findings\":{\"data\":[{\"id\":\"ZGVmLTAwMC0wYmd-MDE4NjcyMDJkMzE4MDE5ODY5MGE4ZmQ2MmFlMjg0Y2M=\",\"type\":\"findings\"}]}},\"type\":\"mute\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/security/findings/mute"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 68,
            "text": "{\"data\":{\"id\":\"7a0bd082-5c8a-4ea3-a8a5-c5036e083ddb\",\"type\":\"mute\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 202,
          "statusText": "Accepted"
        },
        "time": 951
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
