{
  "log": {
    "_recordingName": "Usage Metering/Get hourly usage for profiled hosts returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "b5bc45a75d88be598cd764d92c57cc62",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "start_hr",
              "value": "2022-01-28T09:34:34.396Z"
            },
            {
              "name": "end_hr",
              "value": "2022-01-26T09:34:34.396Z"
            }
          ],
          "url": "https://api.datadoghq.com/api/v1/usage/profiling?start_hr=2022-01-28T09%3A34%3A34.396Z&end_hr=2022-01-26T09%3A34%3A34.396Z"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 78,
            "text": "{\"errors\": [\"start_hr [YYYY-MM-DDThh] must be before end_hr [YYYY-MM-DDThh]\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 399
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
