{
  "log": {
    "_recordingName": "Audit/Get a list of Audit Logs events returns \"OK\" response with pagination",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "3a2e0d18145df57e2dc0436c60548b27",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page",
              "value": {
                "limit": "2"
              }
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/audit/events?page%5Blimit%5D=2"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1666,
            "text": "{\"meta\":{\"page\":{\"after\":\"eyJhZnRlciI6IkFRQUFBWUFpUWhuWTNTSHVVUUFBQUFCQldVRnBVV2h4UmtGQlEwczJhSGMyTWtoNGNuUjNRVUUifQ\"}},\"data\":[{\"attributes\":{\"attributes\":{\"status\":\"info\",\"tags\":[\"agent_hostname:i-086c6dfaa6bd27468\",\"agent_version:7.35.0\",\"root_config_version:4\",\"old_snapshot_version:1419839\",\"last_snapshot_version:1419845\"],\"timestamp\":\"2022-04-13T09:29:59Z\",\"usr\":{\"id\":\"1ad9c690-ee90-4dca-80ad-034e916623ab\",\"email\":\"1ad9c690-ee90-4dca-80ad-034e916623ab\"},\"action\":\"update_config\",\"org\":{\"uuid\":\"8dee7c38-00cb-11ea-a77b-8b5a08d3b091\"},\"evt\":{\"actor\":{\"type\":\"Other\"}},\"auth_method\":\"API + App Key\"},\"message\":\"Agent configuration successfuly updated\",\"tags\":[\"source:audit\"],\"timestamp\":\"2022-04-13T09:29:59.000Z\"},\"type\":\"audit\",\"id\":\"AQAAAYAiQhnY3SfuUQAAAABBWUFpUWhxSEFBQ0s2aHc2Mkh4cnZRQUE\"},{\"attributes\":{\"attributes\":{\"status\":\"info\",\"tags\":[\"agent_hostname:i-0a31006532ef57785\",\"agent_version:7.35.0\",\"root_config_version:4\",\"old_snapshot_version:1419839\",\"last_snapshot_version:1419845\"],\"timestamp\":\"2022-04-13T09:29:59Z\",\"usr\":{\"id\":\"1ad9c690-ee90-4dca-80ad-034e916623ab\",\"email\":\"1ad9c690-ee90-4dca-80ad-034e916623ab\"},\"action\":\"update_config\",\"org\":{\"uuid\":\"8dee7c38-00cb-11ea-a77b-8b5a08d3b091\"},\"evt\":{\"actor\":{\"type\":\"Other\"}},\"auth_method\":\"API + App Key\"},\"message\":\"Agent configuration successfuly updated\",\"tags\":[\"source:audit\"],\"timestamp\":\"2022-04-13T09:29:59.000Z\"},\"type\":\"audit\",\"id\":\"AQAAAYAiQhnY3SHuUQAAAABBWUFpUWhxRkFBQ0s2aHc2Mkh4cnR3QUE\"}],\"links\":{\"next\":\"https://api.datadoghq.com/api/v2/audit/events?page%5Bcursor%5D=eyJhZnRlciI6IkFRQUFBWUFpUWhuWTNTSHVVUUFBQUFCQldVRnBVV2h4UmtGQlEwczJhSGMyTWtoNGNuUjNRVUUifQ&page%5Blimit%5D=2\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 555
      },
      {
        "_id": "2b753e88a4c7f7a451dd856c3642bfae",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page",
              "value": {
                "cursor": "eyJhZnRlciI6IkFRQUFBWUFpUWhuWTNTSHVVUUFBQUFCQldVRnBVV2h4UmtGQlEwczJhSGMyTWtoNGNuUjNRVUUifQ",
                "limit": "2"
              }
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/audit/events?page%5Blimit%5D=2&page%5Bcursor%5D=eyJhZnRlciI6IkFRQUFBWUFpUWhuWTNTSHVVUUFBQUFCQldVRnBVV2h4UmtGQlEwczJhSGMyTWtoNGNuUjNRVUUifQ"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1666,
            "tex[...]
