{
  "log": {
    "_recordingName": "Powerpack/Get a Powerpack returns \"Powerpack Not Found.\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "6e56d03516757dfe51f4393d7195ee7c",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/powerpacks/made-up-id"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 62,
            "text": "{\"errors\":[\"Powerpack has invalid UUID made-up-id not found\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 310
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
