{
  "log": {
    "_recordingName": "Synthetics/Save new value for on-demand concurrency cap returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "9017f0304e0fda9215497c60820516ec",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"on_demand_concurrency_cap\":20}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/synthetics/settings/on_demand_concurrency_cap"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 92,
            "text": "{\"data\":{\"type\":\"on_demand_concurrency_cap\",\"attributes\":{\"on_demand_concurrency_cap\":20}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 497
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
