{
  "log": {
    "_recordingName": "AWS Integration/Create AWS CCM config returns \"AWS CCM Config object\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "b2bcb3922d71be895578460535c541af",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integration/aws/accounts/b2087a32-4d4f-45b1-9321-1a0a48e9d7cf/ccm_config"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 121
      },
      {
        "_id": "58d1c8d5bb1059b9aa858871f847921f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"ccm_config\":{\"data_export_configs\":[{\"bucket_name\":\"billing\",\"bucket_region\":\"us-east-1\",\"report_name\":\"cost-and-usage-report\",\"report_prefix\":\"reports\",\"report_type\":\"CUR2.0\"}]}},\"type\":\"ccm_config\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integration/aws/accounts/b2087a32-4d4f-45b1-9321-1a0a48e9d7cf/ccm_config"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 254,
            "text": "{\"data\":{\"id\":\"b2087a32-4d4f-45b1-9321-1a0a48e9d7cf\",\"type\":\"ccm_config\",\"attributes\":{\"data_export_configs\":[{\"report_name\":\"cost-and-usage-report\",\"report_prefix\":\"reports\",\"report_type\":\"CUR2.0\",\"bucket_name\":\"billing\",\"bucket_region\":\"us-east-1\"}]}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 120
      },
      {
        "_id": "5653ba1e2bb9988577b47c63cf784393",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integration/aws/accounts/%7Baws_account_config_id%7D/ccm_config"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 148,
            "text": "{\"errors\":[{\"status\":\"400\",\"title\":\"Invalid Parameter\",\"detail\":\"invalid parameter \\\"aws_account_config_id\\\" in \\\"path\\\"; expected type \\\"uuid\\\"\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 64
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
