{
  "log": {
    "_recordingName": "AWS Integration/Create AWS CCM config returns \"AWS CCM Config object\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ffdcad94880b0e7c65da14719b629b39",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"ccm_config\":{\"data_export_configs\":[{\"bucket_name\":\"billing\",\"bucket_region\":\"us-east-1\",\"report_name\":\"cost-and-usage-report\",\"report_prefix\":\"reports\",\"report_type\":\"CUR2.0\"}]}},\"type\":\"ccm_config\"}}"
          },
          "queryString": [],
          "url": "https://frog.datadoghq.com/api/v2/integration/aws/accounts/873c7e78-8915-4c7a-a3a7-33a57adf54f4/ccm_config"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 254,
            "text": "{\"data\":{\"id\":\"873c7e78-8915-4c7a-a3a7-33a57adf54f4\",\"type\":\"ccm_config\",\"attributes\":{\"data_export_configs\":[{\"report_name\":\"cost-and-usage-report\",\"report_prefix\":\"reports\",\"report_type\":\"CUR2.0\",\"bucket_name\":\"billing\",\"bucket_region\":\"us-east-1\"}]}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 187
      },
      {
        "_id": "5dd928e93d6e4e035e0ad156ff13127b",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://frog.datadoghq.com/api/v2/integration/aws/accounts/%7Baws_account_config_id%7D/ccm_config"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 148,
            "text": "{\"errors\":[{\"status\":\"400\",\"title\":\"Invalid Parameter\",\"detail\":\"invalid parameter \\\"aws_account_config_id\\\" in \\\"path\\\"; expected type \\\"uuid\\\"\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 71
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
