{
  "log": {
    "_recordingName": "Dashboard Lists/Delete a dashboard list returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "a3f5b414fbbe15cb96230fe8e8e372f3",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"Test-Delete_a_dashboard_list_returns_OK_response-1633076910\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/lists/manual"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 315,
            "text": "{\"is_favorite\":false,\"name\":\"Test-Delete_a_dashboard_list_returns_OK_response-1633076910\",\"dashboard_count\":0,\"author\":{\"handle\":\"frog@datadoghq.com\",\"name\":null},\"created\":\"2021-10-01T08:28:30.884570+00:00\",\"type\":\"manual_dashboard_list\",\"dashboards\":null,\"modified\":\"2021-10-01T08:28:30.884612+00:00\",\"id\":240515}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 65,
      },
      {
        "_id": "5a4b3cb5742fe96f7008fd36f5e8fa20",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/lists/manual/240515"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 36,
            "text": "{\"deleted_dashboard_list_id\":240515}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 121,
      },
      {
        "_id": "5a4b3cb5742fe96f7008fd36f5e8fa20",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/lists/manual/240515"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 62,
            "text": "{\"errors\": [\"Manual Dashboard List with id 240515 not found\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 76,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
