{
  "log": {
    "_recordingName": "Security Monitoring/Get all security filters returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "0d9945842e038924acde1f0b5b8a9c19",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 210,
            "text": "{\"data\":[{\"attributes\":{\"is_enabled\":true,\"name\":\"all ingested logs\",\"filtered_data_type\":\"logs\",\"exclusion_filters\":[],\"version\":1,\"query\":\"*\",\"is_builtin\":true},\"type\":\"security_filters\",\"id\":\"bc0-fow-e4j\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 287,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
