{
  "log": {
    "_recordingName": "Cloudflare Integration/Add Cloudflare account returns \"Bad Request\" response using invalid auth key",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "444e3883bd484044f716e510b926757c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"api_key\":\"aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa\",\"name\":\"testaddcloudflareaccountreturnsbadrequestresponseusinginvalidauthkey1704393641\"},\"type\":\"cloudflare-accounts\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integrations/cloudflare/accounts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 222,
            "text": "{\"errors\":[\"Invalid account. Your Cloudflare configuration is invalid. Impossible to get zones for the account testaddcloudflareaccountreturnsbadrequestresponseusinginvalidauthkey1704393641: API key or email is unknown.\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 400
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
