{
  "log": {
    "_recordingName": "Dashboards/Get all dashboards returns \"OK\" response with pagination",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "b29213e78fb8044da793bea81fe4dd28",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "count",
              "value": "2"
            }
          ],
          "url": "https://api.datadoghq.com/api/v1/dashboard?count=2"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 924,
            "text": "{\"dashboards\":[{\"id\":\"5vp-fxm-s4j\",\"title\":\"PCF Testing\",\"description\":null,\"layout_type\":\"ordered\",\"url\":\"/dashboard/5vp-fxm-s4j/pcf-testing\",\"is_read_only\":false,\"created_at\":\"2022-06-08T10:40:29.941695+00:00\",\"modified_at\":\"2023-07-27T12:26:28.359080+00:00\",\"author_handle\":\"frog@datadoghq.com\",\"deleted_at\":null},{\"id\":\"ubf-m9i-gms\",\"title\":\"OpenStack Controller Overview\",\"description\":\"## OpenStack Controller - Overview\\n\\nPreset dashboard for the OpenStack Controller integration. Used for OpenStack deployments v13 and higher. \\n\\n[See integration docs for more details](https://docs.datadoghq.com/integrations/openstack_controller/)\",\"layout_type\":\"ordered\",\"url\":\"/dashboard/ubf-m9i-gms/openstack-controller-overview\",\"is_read_only\":false,\"created_at\":\"2023-04-28T19:16:35.964720+00:00\",\"modified_at\":\"2023-08-07T13:53:31.924789+00:00\",\"author_handle\":\"frog@datadoghq.com\",\"deleted_at\":null}]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 513
      },
      {
        "_id": "40e70edf61ee192e4735474683db8943",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "count",
              "value": "2"
            },
            {
              "name": "start",
              "value": "2"
            }
          ],
          "url": "https://api.datadoghq.com/api/v1/dashboard?count=2&start=2"
        },
        "response": {
          "content"[...]
