{
  "log": {
    "_recordingName": "Sensitive Data Scanner/Update Scanning Group returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "4d3d89d65348335de3c57ae65e047f7d",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://frog.datadoghq.com/api/v2/sensitive-data-scanner/config"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 3080,
            "text": "{\"data\":{\"attributes\":{},\"id\":\"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87\",\"relationships\":{\"groups\":{\"data\":[{\"id\":\"d2665de8-b577-4d71-b1b8-4355b1aaf2c6\",\"type\":\"sensitive_data_scanner_group\"},{\"id\":\"ec9a039b-523c-4b48-af30-62bb2838610f\",\"type\":\"sensitive_data_scanner_group\"},{\"id\":\"83b2d015-c3e1-47bb-aef0-15763bc7ae1f\",\"type\":\"sensitive_data_scanner_group\"},{\"id\":\"d9ff2a5f-698a-4743-a80a-e669fd23a3a9\",\"type\":\"sensitive_data_scanner_group\"},{\"id\":\"b6088534-c2a8-4ae1-8bdb-b3923199caf3\",\"type\":\"sensitive_data_scanner_group\"}]}},\"type\":\"sensitive_data_scanner_configuration\"},\"included\":[{\"attributes\":{\"description\":\"\",\"filter\":{\"query\":\"*\"},\"is_enabled\":false,\"name\":\"Test-Typescript-Create_Scanning_Group_returns_OK_response-1766488603\",\"product_list\":[\"logs\"],\"samplings\":[]},\"id\":\"d2665de8-b577-4d71-b1b8-4355b1aaf2c6\",\"relationships\":{\"configuration\":{\"data\":{\"id\":\"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87\",\"type\":\"sensitive_data_scanner_configuration\"}},\"rules\":{\"data\":[]}},\"type\":\"sensitive_data_scanner_group\"},{\"attributes\":{\"description\":\"\",\"filter\":{\"query\":\"*\"},\"is_enabled\":false,\"name\":\"my-test-group\",\"product_list\":[\"logs\"],\"samplings\":[{\"product\":\"logs\",\"rate\":100}]},\"id\":\"ec9a039b-523c-4b48-af30-62bb2838610f\",\"relationships\":{\"configuration\":{\"data\":{\"id\":\"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87\",\"type\":\"sensitive_data_scanner_configuration\"}},\"rules\":{\"data\":[]}},\"type\":\"sensitive_data_scanner_group\"},{\"attributes\":{\"description\":\"\",\"filter\":{\"query\":\"*\"},\"is_enabled\":false,\"name\":\"my-test-group\",\"product_list\":[\"logs\"],\"samplings\":[{\"product\":\"logs\",\"rate\":100}]},\"id\[...]
