{
  "log": {
    "_recordingName": "Metrics/Timeseries cross product query with on_call_events data source returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "28293b728a62fd3c3b77a5c3dfb8237a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"formulas\":[{\"formula\":\"a\",\"limit\":{\"count\":10,\"order\":\"desc\"}}],\"from\":1776290802000,\"interval\":5000,\"queries\":[{\"compute\":{\"aggregation\":\"count\"},\"data_source\":\"on_call_events\",\"indexes\":[\"*\"],\"name\":\"a\",\"search\":{\"query\":\"*\"}}],\"to\":1776294402000},\"type\":\"timeseries_request\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/query/timeseries"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 176,
            "text": "{\"data\":{\"id\":\"0\",\"type\":\"timeseries_response\",\"attributes\":{\"series\":[{\"group_tags\":[],\"query_index\":0,\"unit\":null}],\"times\":[1776294280000,1776294285000],\"values\":[[2,3]]}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 304
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
