{{>licenseInfo}}
{{#models}}
{{#model}}
{{#tsImports}}
import { {{classname}} } from './{{filename}}{{extensionForDeno}}';
{{/tsImports}}
import { HttpFile } from '../http/http{{extensionForDeno}}';
import { ObjectSerializer, UnparsedObject } from './ObjectSerializer';

{{#description}}
/**
* {{{.}}}
*/
{{/description}}
{{^isEnum}}{{^oneOf}}
export class {{classname}} {{#parent}}extends {{{.}}} {{/parent}}{
{{#vars}}
{{#description}}
    /**
    * {{{.}}}
    */
{{/description}}
    '{{name}}'{{^required}}?{{/required}}: {{#isEnum}}{{{datatypeWithEnum}}}{{/isEnum}}{{^isEnum}}{{{dataType}}}{{/isEnum}};
{{/vars}}

    'unparsedObject'?:any;

    {{#discriminator}}
    static readonly discriminator: string | undefined = "{{discriminatorName}}";
    {{/discriminator}}
    {{^discriminator}}
    static readonly discriminator: string | undefined = undefined;
    {{/discriminator}}

    {{^isArray}}
    static readonly attributeTypeMap: {[key: string]: {baseName: string, type: string, format: string}} = {
        {{#vars}}
        "{{name}}": {
            "name": "{{name}}",
            "baseName": "{{baseName}}",
            "type": "{{#isEnum}}{{{datatypeWithEnum}}}{{/isEnum}}{{^isEnum}}{{{dataType}}}{{/isEnum}}",
            {{#dataFormat}}"format": "{{.}}",{{/dataFormat}}
            "required": {{required}},
            {{#allowableValues}}"enumValues": [{{#enumVars}}{{{value}}}, {{/enumVars}}undefined],{{/allowableValues}}
        }{{^-last}},
        {{/-last}}
        {{/vars}}
    };

    static getAttributeTypeMap() {
        {{#parent}}
        return super.getAttributeTypeMap().concat({{classname}}.attributeTypeMap);
        {{/parent}}
        {{^parent}}
        return {{classname}}.attributeTypeMap;
        {{/parent}}
    }
    {{/isArray}}

    public constructor() {
        {{#parent}}
        super();
        {{/parent}}
        {{#allVars}}
        {{#discriminatorValue}}
        this.{{name}} = "{{discriminatorValue}}";
        {{/discriminatorValue}}
        {{/allVars}}
        {{#discriminatorName}}
        this.{{discriminatorName}} = "{{classname}}";
        {{/discriminatorName}}
    }
}

{{#hasEnums}}

{{#vars}}
{{#isEnum}}
export type {{classname}}{{enumName}} ={{#allowableValues}}{{#values}} "{{.}}" {{^-last}}|{{/-last}}{{/values}}{{/allowableValues}};
{{/isEnum}}
{{/vars}}

{{/hasEnums}}
{{/oneOf}}{{/isEnum}}
{{#isEnum}}
export type {{classname}} = {{#allowableValues}}{{#enumVars}}typeof {{#enumClassPrefix}}{{{classname.toUpperCase}}}_{{/enumClassPrefix}}{{name}} {{^-last}}| {{/-last}}{{/enumVars}};
{{#enumVars}}
export const {{#enumClassPrefix}}{{{classname.toUpperCase}}}_{{/enumClassPrefix}}{{name}} = {{{value}}};
{{/enumVars}}{{/allowableValues}}
{{/isEnum}}
{{#oneOf}}{{#-first}}export type {{classname}} = {{/-first}}{{{.}}}{{^-last}} | {{/-last}}{{#-last}} | UnparsedObject;{{/-last}}{{/oneOf}}
{{/model}}
{{/models}}
