{
  "log": {
    "_recordingName": "Users/Create a service account returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "fb0288171b0942c7fb62c71db4e1d0e0",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Create_a_service_account_returns_OK_response-1652349213\"},\"type\":\"roles\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/roles"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 763,
            "text": "{\"data\":{\"type\":\"roles\",\"id\":\"62caae30-d1d9-11ec-ad3d-da7ad0900002\",\"attributes\":{\"name\":\"Test-Create_a_service_account_returns_OK_response-1652349213\",\"created_at\":\"2022-05-12T09:53:33.719840+00:00\",\"modified_at\":\"2022-05-12T09:53:33.777510+00:00\"},\"relationships\":{\"permissions\":{\"data\":[{\"type\":\"permissions\",\"id\":\"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2\"},{\"type\":\"permissions\",\"id\":\"4441648c-d8b1-11e9-a77a-1b899a04b304\"},{\"type\":\"permissions\",\"id\":\"417ba636-2dce-11eb-84c0-6bce5b0d9de0\"},{\"type\":\"permissions\",\"id\":\"12efc20e-d36c-11eb-a9b8-da7ad0900002\"},{\"type\":\"permissions\",\"id\":\"97971c1c-e895-11eb-b13c-da7ad0900002\"},{\"type\":\"permissions\",\"id\":\"7605ef24-f376-11eb-b90b-da7ad0900002\"},{\"type\":\"permissions\",\"id\":\"b6bf9ac6-9a59-11ec-8480-da7ad0900002\"}]}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 526
      },
      {
        "_id": "81960df874b92931471c05ceddfd68e9",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Create_a_service_account_returns_OK_response-1652349213@datadoghq.com\",\"name\":\"Test API Client\",\"service_account\":true},\"relationships\":{\"roles\":{\"data\":[{\"id\":\"62caae30-d1d9-11ec-ad3d-da7ad0900002\",\"type\":\"roles\"}]}},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/service_accounts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 3548,
            "text": "{\"included\":[{\"type\":\"permissions\",\"id\":\"7605ef24-f376-11eb-b90b-da7ad0900002\",\"attributes\":{\"name\":\"rum_apps_read\",\"display_name\":\"RUM Apps Read\",\"description\":\"View RUM Applications data.\",\"created\":\"2021-08-02T09:46:07.671535+00:00\",\"group_name\":\"Real User Monitoring\",\"display_type\":\"read\",\"restricted\":true}},{\"type\":\"permissions\",\"id\":\"12efc20e-d36c-11eb-a9b8-da7ad0900002\",\"attributes\":{\"name\":\"incident_read\",\"display_name\":\"Incident Read\",\"description\":\"View incidents in Datadog.\",\"created\":\"2021-06-22T15:11:09.255499+00:00\",\"group_name\":\"Incidents\",\"display_type\":\"read\",\"restricted\":true}},{\"type\":\"roles\",\"id\":\"62caae30-d1d9-11ec-ad3d-da7ad0900002\",\"attributes\":{\"name\":\"Test-Create_a_service_account_returns_OK_response-1652349213\",\"created_[...]
