{
  "log": {
    "_recordingName": "Users/Create a service account returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "2c62a40fd0f61bcc1d862a914c296043",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Create_a_service_account_returns_OK_response-1641829903\"},\"type\":\"roles\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/roles"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 696,
            "text": "{\"data\":{\"type\":\"roles\",\"id\":\"3595c05a-722d-11ec-b5d7-da7ad0900002\",\"attributes\":{\"name\":\"Test-Create_a_service_account_returns_OK_response-1641829903\",\"created_at\":\"2022-01-10T15:51:43.974169+00:00\",\"modified_at\":\"2022-01-10T15:51:44.038254+00:00\"},\"relationships\":{\"permissions\":{\"data\":[{\"type\":\"permissions\",\"id\":\"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2\"},{\"type\":\"permissions\",\"id\":\"4441648c-d8b1-11e9-a77a-1b899a04b304\"},{\"type\":\"permissions\",\"id\":\"417ba636-2dce-11eb-84c0-6bce5b0d9de0\"},{\"type\":\"permissions\",\"id\":\"12efc20e-d36c-11eb-a9b8-da7ad0900002\"},{\"type\":\"permissions\",\"id\":\"97971c1c-e895-11eb-b13c-da7ad0900002\"},{\"type\":\"permissions\",\"id\":\"7605ef24-f376-11eb-b90b-da7ad0900002\"}]}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 562
      },
      {
        "_id": "172952edab46d00b7fccd29dc8db1bb8",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Create_a_service_account_returns_OK_response-1641829903@datadoghq.com\",\"name\":\"Test API Client\",\"service_account\":true},\"relationships\":{\"roles\":{\"data\":[{\"id\":\"3595c05a-722d-11ec-b5d7-da7ad0900002\",\"type\":\"roles\"}]}},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/service_accounts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 3294,
            "text": "{\"included\":[{\"type\":\"permissions\",\"id\":\"7605ef24-f376-11eb-b90b-da7ad0900002\",\"attributes\":{\"name\":\"rum_apps_read\",\"display_name\":\"RUM Applications\",\"description\":\"The ability to view RUM Applications data.\",\"created\":\"2021-08-02T09:46:07.671535+00:00\",\"group_name\":\"Real User Monitoring\",\"display_type\":\"read\",\"restricted\":true}},{\"type\":\"permissions\",\"id\":\"12efc20e-d36c-11eb-a9b8-da7ad0900002\",\"attributes\":{\"name\":\"incident_read\",\"display_name\":\"Incidents App Experience\",\"description\":\"The ability to view incidents in Datadog.\",\"created\":\"2021-06-22T15:11:09.255499+00:00\",\"group_name\":\"Incidents\",\"display_type\":\"read\",\"restricted\":true}},{\"type\":\"permissions\",\"id\":\"97971c1c-e895-11eb-b13c-da7ad0900002\",\"attributes\":{\"name\":\"appsec_event_rule_read\",\"display_name\"[...]
