import type { HttpFile } from '../http/http';
import type { Configuration } from '../configuration'
import type * as req from "../types/ObjectParamAPI";
{%- if useRxJS %}
import type { Observable } from 'rxjs';
{%- endif %}

{%- if models %}
{%- if model %}
import type { {{ classname }} } from '../models/{{ classFilename }}';
{%- endif %}
{%- endif %}
{%- if apiInfo %}
{%- if apis %}
{%- if operations %}


export abstract class AbstractObject{{classname}} {
    {%- if operation %}
    /**
     {%- if notes %}
     * {{notes}}
     {%- endif %}
     {%- if summary %}
     * {{summary}}
     {%- endif %}
     * @param param the request object
     */
    public abstract {{nickname}}(param: req.{{classname}}{{operationIdCamelCase}}Request, options?: Configuration): {%- if useRxJS %}Observable{%- endif %}{%- if not useRxJS %}Promise{%- endif %}<{{ returnType }}{%- if not returnType %}void{%- endif %}>;

    {%- endif %}
}
{%- endif %}
{%- endif %}
{%- endif %}
