{
  "log": {
    "_recordingName": "Metrics/Scalar cross product query returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "9d6082100b2e614a6bee6d3f98306db2",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"formulas\":[{\"formula\":\"a+b\",\"limit\":{\"count\":10,\"order\":\"desc\"}}],\"from\":1568899800000,\"queries\":[{\"aggregator\":\"avg\",\"data_source\":\"metrics\",\"name\":\"a\",\"query\":\"avg:system.cpu.user{*}\"}],\"to\":1568923200000},\"type\":\"scalar_request\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/query/scalar"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 68,
            "text": "{\"errors\":[\"Queries ending outside the retention date are invalid\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 582
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
