{
  "log": {
    "_recordingName": "Users/Get a user permissions returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "c86faf9d78ee4b26c5362ea93cb499af",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Typescript-Get_a_user_permissions_returns_OK_response-1617271885.591@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 708,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"9e428fd8-92d2-11eb-9c02-da7ad0900002\",\"attributes\":{\"name\":null,\"handle\":\"typescript-get_a_user_permissions_returns_ok_response-1617271885.591@datadoghq.com\",\"created_at\":\"2021-04-01T10:11:26.086585+00:00\",\"modified_at\":\"2021-04-01T10:11:26.120633+00:00\",\"email\":\"typescript-get_a_user_permissions_returns_ok_response-1617271885.591@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/d9b4f08847808a0d2287c973dfc3cb93?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.4216820"
            },
            {
              "name": "x-dd-debug",
              "value": "5gfwVh/5HZ+AnGd/Di93w3NEWC6KMHT9KzmHEiRJmNdOjBtAsbOcgVFyqEChw71h"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 478,
      },
      {
        "_id": "c3e64c43429dff702efe78bdf803b074",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users/9e428fd8-92d2-11eb-9c02-da7ad0900002/permissions"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 11,
            "text": "{\"data\":[]}"
          },
          "headers": [
          [...]
