{
  "log": {
    "_recordingName": "Users/Get a user permissions returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "c8387a7980d4af3e4c34362dbddb3fd6",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Typescript-Get_a_user_permissions_returns_OK_response-1613653966.988@datadoghq.com\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 651,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"fe987176-71ea-11eb-941f-da7ad0900002\",\"attributes\":{\"name\":null,\"handle\":\"typescript-get_a_user_permissions_returns_ok_response-1613653966.988@datadoghq.com\",\"created_at\":\"2021-02-18T13:12:47.260034+00:00\",\"email\":\"typescript-get_a_user_permissions_returns_ok_response-1613653966.988@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/6ac213e59bf607b08a50d24918bffcaa?s=48&d=retro\",\"title\":null,\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.3933218"
            },
            {
              "name": "x-dd-debug",
              "value": "l4HFlaRP3QwYSqoGKhzbYfv7zgkK63HIRR7YkyVYZspq0lGjjTBwoK8V/alf+XYt"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 406,
      },
      {
        "_id": "173441875863aa36b079dd69380e2069",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users/fe987176-71ea-11eb-941f-da7ad0900002/permissions"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 11,
            "text": "{\"data\":[]}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.3933218"
            },
            {
              "name": "x-dd-debug",
              "value": "JpIJLwIH2nFlZOC+u71rq7aAOL43MLZN3MUsL+gpYHdZz5QLUOG8Jysf8kVK6tPU"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 285,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
