{
  "log": {
    "_recordingName": "Users/Get a user permissions returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "862e735eb99f17ca8a5dade960dd813d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Get_a_user_permissions_returns_OK_response-1618232089@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 688,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"44115be2-9b8e-11eb-9d40-da7ad0900002\",\"attributes\":{\"name\":null,\"handle\":\"test-get_a_user_permissions_returns_ok_response-1618232089@datadoghq.com\",\"created_at\":\"2021-04-12T12:54:49.456585+00:00\",\"modified_at\":\"2021-04-12T12:54:49.490165+00:00\",\"email\":\"test-get_a_user_permissions_returns_ok_response-1618232089@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/47f9bb69f48664b1bff7bc2f773c1942?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.4288583"
            },
            {
              "name": "x-dd-debug",
              "value": "S1wfaMZOKGT/IoMw6fqAwAwGWo2vQ44sjF3YzuETnQfxZO2T5eJbs0aX3UKb9Dwu"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 462,
      },
      {
        "_id": "23e6a15275d6a5aaa1e227a62fc70d1b",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users/44115be2-9b8e-11eb-9d40-da7ad0900002/permissions"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 11,
            "text": "{\"data\":[]}"
          },
          "headers": [
          [...]
