{
  "log": {
    "_recordingName": "Users/Get a user permissions returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "2a1e8089ecc0333f5e029fb5cbce89f9",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Typescript-Get_a_user_permissions_returns_OK_response-1617204560.52@datadoghq.com\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 698,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"dd511ade-9235-11eb-9bd3-da7ad0900002\",\"attributes\":{\"name\":null,\"handle\":\"typescript-get_a_user_permissions_returns_ok_response-1617204560.52@datadoghq.com\",\"created_at\":\"2021-03-31T15:29:20.892000+00:00\",\"modified_at\":\"2021-03-31T15:29:20.910557+00:00\",\"email\":\"typescript-get_a_user_permissions_returns_ok_response-1617204560.52@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/51971b128026626528b44f4b56d47ab5?s=48&d=retro\",\"title\":null,\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.4209519"
            },
            {
              "name": "x-dd-debug",
              "value": "dCmL/3rURV6BPeaqeP3Rxigq41m5CAb17XjrRE42uZ01zpr07HVhbL5/3TWMkvgu"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 467,
      },
      {
        "_id": "14321dc91d59ec379622113556dbf239",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users/dd511ade-9235-11eb-9bd3-da7ad0900002/permissions"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 11,
            "text": "{\"data\":[]}"
          },
          "headers": [
          [...]
