{
  "log": {
    "_recordingName": "Users/Get a user permissions returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "032cef65b014798b200f3bee15c4c36e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Typescript-Get_a_user_permissions_returns_OK_response-1617202451.106@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 708,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"f3f3775a-9230-11eb-9bd3-da7ad0900002\",\"attributes\":{\"name\":null,\"handle\":\"typescript-get_a_user_permissions_returns_ok_response-1617202451.106@datadoghq.com\",\"created_at\":\"2021-03-31T14:54:11.378855+00:00\",\"modified_at\":\"2021-03-31T14:54:11.429424+00:00\",\"email\":\"typescript-get_a_user_permissions_returns_ok_response-1617202451.106@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/c7847dd51a8c279c88c7279a8e19f9a8?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.4209519"
            },
            {
              "name": "x-dd-debug",
              "value": "nLnnBNvlCFDECRnZvzDb0z4sAO35G+IMidcAs8vrCKyjvsKWE8Yd9S3n6OjZ1qRN"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 410,
      },
      {
        "_id": "2beff1f557603aa31dd0704da324ca4b",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users/f3f3775a-9230-11eb-9bd3-da7ad0900002/permissions"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 11,
            "text": "{\"data\":[]}"
          },
          "headers": [
          [...]
