{
  "log": {
    "_recordingName": "Users/Get a user permissions returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "bc165d030ed696f81b445f222b8a7b45",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Typescript-Get_a_user_permissions_returns_OK_response-1613750702.199@datadoghq.com\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 651,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"3946ae32-72cc-11eb-9468-da7ad0900002\",\"attributes\":{\"name\":null,\"handle\":\"typescript-get_a_user_permissions_returns_ok_response-1613750702.199@datadoghq.com\",\"created_at\":\"2021-02-19T16:05:02.474855+00:00\",\"email\":\"typescript-get_a_user_permissions_returns_ok_response-1613750702.199@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/cfdd2058ee3788d7a870bc0d8ba05f10?s=48&d=retro\",\"title\":null,\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.3944440"
            },
            {
              "name": "x-dd-debug",
              "value": "S1wfaMZOKGT/IoMw6fqAwAwGWo2vQ44sjF3YzuETnQfxZO2T5eJbs0aX3UKb9Dwu"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 428,
      },
      {
        "_id": "283de2c82da3c30fa4244e8f6ae8ca73",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users/3946ae32-72cc-11eb-9468-da7ad0900002/permissions"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 11,
            "text": "{\"data\":[]}"
          },
          ],
          "headers":[...]
