{
  "log": {
    "_recordingName": "Monitors/Get all monitors returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "28a117f80c1dccd360d877193a69df88",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "group_states",
              "value": "notagroupstate"
            }
          ],
          "url": "https://api.datadoghq.com/api/v1/monitor?group_states=notagroupstate"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 43,
            "text": "{\"errors\":[\"Invalid group_state filters.\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 286
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
