{
  "log": {
    "_recordingName": "Incidents/Delete an existing incident returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "17430fd56e2d112321ce4b7d94ccf30c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"customer_impacted\":false,\"title\":\"Typescript-Delete_an_existing_incident_returns_OK_response-1613666613.967\"},\"type\":\"incidents\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/incidents"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 3105,
            "text": "{\"data\":{\"type\":\"incidents\",\"id\":\"ac2c105d-cf72-5a56-a949-7c273322529f\",\"attributes\":{\"public_id\":20342,\"title\":\"Typescript-Delete_an_existing_incident_returns_OK_response-1613666613.967\",\"resolved\":null,\"customer_impact_scope\":null,\"customer_impact_start\":null,\"customer_impact_end\":null,\"customer_impacted\":false,\"notification_handles\":null,\"last_modified_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"attributes\":{\"uuid\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"handle\":\"frog@datadoghq.com\",\"email\":\"frog@datadoghq.com\",\"name\":null,\"icon\":\"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro\"}}},\"last_modified_by_uuid\":null,\"created\":\"2021-02-18T16:43:34.210997+00:00\",\"modified\":\"2021-02-18T16:43:34.210997+00:00\",\"commander\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"attributes\":{\"uuid\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"handle\":\"frog@datadoghq.com\",\"email\":\"frog@datadoghq.com\",\"name\":null,\"icon\":\"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro\"}}},\"detected\":\"2021-02-18T16:43:34.209121+00:00\",\"created_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"attributes\":{\"uuid\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"handle\":\"frog@datadoghq.com\",\"email\":\"frog@datadoghq.com\",\"name\":null,\"icon\":\"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro\"}}},\"created_by_uuid\":null,\"creation_idempotency_key\":null,\"customer_impact_duration\":0,\"time_to_detect\":0,\"time_to_repair\":0,\"time_to_internal_response\":0,\"time_to_resolve\":0,\"fields\":{\"severity\":{\"type\":\"dropdown\",\"value\":\"UNKNOWN\"},\"detection_method\":{\"type\":\"dropdown\",\"value\":\"unknown\"},\"root_cause\":{\"type\":\"textbox\",\"value\":null},\"teams\":{\"type\":\"autocomplete\",\"value\":null},\"state\":{\"type\":\"dropdown\",\"value\":\"active\"},\"services\":{\"type\":\"autocomplete\",\"value\":null}},\"severity\":\"UNKNOWN\",\"state\":\"active\",\"non_datadog_creator\":null,\"udf_values\":null},\"relationships\":{\"created_by_user\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}},\"last_modified_by_user\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}},\"commander_user\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}},\"user_defined_field_selections\":{\"data\":[{\"type\":\"user_defined_selection\",\"id\":\"c5b38daa-a4d6-5155-b1d4-22e8b171bc09\"},{\"type\":\"user_defined_selection\",\"id\":\"48b62905-6833-51b9-8515-794c708ddcb6\"},{\"type\":\"user_defined_selection\",\"id\":\"49a39bfa-e7f2-5594-af78-7a23792ea196\"}]},\"user_defined_fields\":{\"data\":[{\"type\":\"user_defined_field\",\"id\":\"299616f7-8acd-5403-886b-991656d6b982\"},{\"type\":\"user_defined_field\",\"id\":\"ad2b9456-eaec-5bbd-9bae-e502d74e23f8\"},{\"type\":\"user_defined_field\",\"id\":\"623af0a5-f30c-577e-8146-09b8324bdb2d\"},{\"type\":\"user_defined_field\",\"id\":\"d8a54f16-8b2a-5ab4-87b8-5f0fa575c83e\"},{\"type\":\"user_defined_field\",\"id\":\"66b62f59-48f6-5fee-969a-0886b1db6dcd\"},{\"type\":\"user_defined_field\",\"id\":\"4148ead2-da45-548e-b6be-8e319bafc425\"}]},\"integrations\":{\"data\":[]},\"attachments\":{\"data\":[]},\"responders\":{\"data\":[]}}}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.3935655"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "400"
            },
            {
              "name": "x-ratelimit-period",
              "value": "3600"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "986"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "398"
            },
            {
              "name": "x-dd-debug",
              "value": "5gfwVh/5HZ+AnGd/Di93w3NEWC6KMHT9KzmHEiRJmNdOjBtAsbOcgVFyqEChw71h"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 518,
      },
      {
        "_id": "6e505189a8355234fc71c1f95395b378",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/incidents/ac2c105d-cf72-5a56-a949-7c273322529f"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 0
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.3935655"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "400"
            },
            {
              "name": "x-ratelimit-period",
              "value": "60"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "26"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "398"
            },
            {
              "name": "x-dd-debug",
              "value": "Um4CoU685QqAscnxhS5BD+goWu2yX1Jd4zCfGzSsEvPPIm1qURZaF8dlLl/OEY4I"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 2488,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
