{
  "log": {
    "_recordingName": "Status Pages/Publish status page returns \"No Content\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "88a555b80855a9a15280b814923276df",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"components\":[{\"components\":[{\"name\":\"Login\",\"position\":0,\"type\":\"component\"},{\"name\":\"Settings\",\"position\":1,\"type\":\"component\"}],\"name\":\"Application\",\"type\":\"group\"}],\"domain_prefix\":\"a1b2749a5e1fc90f\",\"enabled\":false,\"name\":\"An Unpublished Status Page\",\"type\":\"internal\",\"visualization_type\":\"bars_and_uptime_percentage\"},\"type\":\"status_pages\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/statuspages"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 1130,
            "text": "{\"data\":{\"id\":\"c0d7e5aa-232b-4b65-96b4-0c8e6e3fc084\",\"type\":\"status_pages\",\"attributes\":{\"company_logo\":null,\"components\":[{\"id\":\"5e369fc2-ae6a-4334-83de-10f2bc8e8402\",\"name\":\"Application\",\"type\":\"group\",\"position\":0,\"components\":[{\"id\":\"366804d4-3f45-4ea0-a859-61881a181bca\",\"name\":\"Login\",\"type\":\"component\",\"status\":\"operational\",\"position\":0},{\"id\":\"2c332de3-39f9-477f-873d-300282bee52b\",\"name\":\"Settings\",\"type\":\"component\",\"status\":\"operational\",\"position\":1}]}],\"created_at\":\"2026-03-31T18:44:07.969236Z\",\"custom_domain\":null,\"custom_domain_enabled\":false,\"domain_prefix\":\"a1b2749a5e1fc90f\",\"email_header_image\":null,\"enabled\":false,\"favicon\":null,\"modified_at\":\"2026-03-31T18:44:07.969236Z\",\"name\":\"An Unpublished Status Page\",\"page_url\":\"https://frog.datadoghq.com/status-pages/c0d7e5aa-232b-4b65-96b4-0c8e6e3fc084/view\",\"subscriptions_enabled\":false,\"type\":\"internal\",\"visualization_type\":\"bars_and_uptime_percentage\"},\"relationships\":{\"created_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}},\"last_modified_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 553
      },
      {
        "_id": "292ea460eb1bc4f035d36b95fac7cdaa",
        "request": {
          "headers": [
          ],
          "method": "POST",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/statuspages/c0d7e5aa-232b-4b65-96b4-0c8e6e3fc084/publish"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 117
      },
      {
        "_id": "cfa0b271fa3efca118a60fa91e99e4dd",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/statuspages/c0d7e5aa-232b-4b65-96b4-0c8e6e3fc084"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 645
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
