{
  "log": {
    "_recordingName": "CI Visibility Pipelines/Send pipeline job event returns \"Request accepted for processing\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "86fcfadbbbc3415d5ac88f692968d8c2",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"resource\":{\"end\":\"2023-06-22T08:07:58.549Z\",\"git\":{\"author_email\":\"john.doe@email.com\",\"repository_url\":\"https://github.com/DataDog/datadog-agent\",\"sha\":\"7f263865994b76066c4612fd1965215e7dcb4cd2\"},\"id\":\"cf9456de-8b9e-4c27-aa79-27b1e78c1a33\",\"level\":\"job\",\"name\":\"Build image\",\"pipeline_name\":\"Deploy to AWS\",\"pipeline_unique_id\":\"3eacb6f3-ff04-4e10-8a9c-46e6d054024a\",\"start\":\"2023-06-22T08:06:28.549Z\",\"status\":\"error\",\"url\":\"https://my-ci-provider.example/jobs/my-jobs/run/1\"}},\"type\":\"cipipeline_resource_request\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/ci/pipeline"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 13,
            "text": "{\"data\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 202,
          "statusText": "Accepted"
        },
        "time": 209
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
