{
  "log": {
    "_recordingName": "Dashboards/Create a new dashboard with template variable type field returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "e19ba1405d58fecb684403c0bbec2cc6",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"description\":null,\"layout_type\":\"ordered\",\"notify_list\":[],\"reflow_type\":\"auto\",\"restricted_roles\":[],\"template_variables\":[{\"available_values\":[\"service\",\"datacenter\",\"env\"],\"defaults\":[\"service\",\"datacenter\"],\"name\":\"group_by_var\",\"type\":\"group\"}],\"title\":\"\",\"widgets\":[{\"definition\":{\"requests\":{\"fill\":{\"q\":\"avg:system.cpu.user{*}\"}},\"type\":\"hostmap\"}}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 613,
            "text": "{\"id\":\"zb6-rsj-zej\",\"title\":\"\",\"description\":null,\"author_handle\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\",\"author_name\":\"CI Account\",\"layout_type\":\"ordered\",\"url\":\"/dashboard/zb6-rsj-zej/\",\"template_variables\":[{\"available_values\":[\"service\",\"datacenter\",\"env\"],\"defaults\":[\"service\",\"datacenter\"],\"name\":\"group_by_var\",\"type\":\"group\"}],\"widgets\":[{\"definition\":{\"requests\":{\"fill\":{\"q\":\"avg:system.cpu.user{*}\"}},\"type\":\"hostmap\"},\"id\":2230877325217406}],\"notify_list\":[],\"created_at\":\"2025-06-30T15:47:17.444093+00:00\",\"modified_at\":\"2025-06-30T15:47:17.444093+00:00\",\"reflow_type\":\"auto\",\"restricted_roles\":[]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 573
      },
      {
        "_id": "afe984cfa5574d101a339622816f5b0f",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/zb6-rsj-zej"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 39,
            "text": "{\"deleted_dashboard_id\":\"zb6-rsj-zej\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 656
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
