{
  "log": {
    "_recordingName": "Cloud Cost Management/Upload Custom Costs File returns \"Accepted\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "64d6b58212e92d02a4ccea53e274a144",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[{\"BilledCost\":250,\"BillingCurrency\":\"USD\",\"ChargeDescription\":\"my_description\",\"ChargePeriodEnd\":\"2023-06-06\",\"ChargePeriodStart\":\"2023-05-06\",\"ProviderName\":\"my_provider\",\"Tags\":{\"key\":\"value\"}}]"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/cost/custom_costs"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 475,
            "text": "{\"data\":{\"id\":\"1234abcd-1234-abcd-1234-1234abcd1234\",\"type\":\"cost_metadata\",\"attributes\":{\"billed_cost\":250,\"billing_currency\":\"USD\",\"charge_period\":{\"start\":1683331200000,\"end\":1686009600000},\"name\":\"data.json\",\"provider_names\":[\"my_provider\"],\"status\":\"UPLOADING\",\"uploaded_at\":1754684413888,\"uploaded_by\":{\"name\":\"frog\",\"icon\":\"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?d=retro\\u0026s=48\",\"email\":\"frog@datadoghq.com\"}}},\"meta\":{\"version\":\"1.0\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 202,
          "statusText": "Accepted"
        },
        "time": 304
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
