{
  "log": {
    "_recordingName": "On-Call/Get team on-call users returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "57e9461950b11ac3b718d291ad6a0868",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Get_team_on_call_users_returns_OK_response-1748503817@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 689,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"c534e9e3-3c5e-11f0-b6eb-6e406f40657f\",\"attributes\":{\"name\":null,\"handle\":\"test-get_team_on_call_users_returns_ok_response-1748503817@datadoghq.com\",\"created_at\":\"2025-05-29T07:30:18.165739+00:00\",\"modified_at\":\"2025-05-29T07:30:18.165739+00:00\",\"email\":\"test-get_team_on_call_users_returns_ok_response-1748503817@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/a9b817a05a2ad95be147030f20ff95fb?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 934
      },
      {
        "_id": "442e8aa311a25be7b79a86cca2bdeece",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"test-handle-aa0dbd3d9b27ea9e\",\"name\":\"test-name-aa0dbd3d9b27ea9e\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 635,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"6a8339f9-9d86-4948-a469-1b0cbef769bb\",\"attributes\":{\"name\":\"test-name-aa0dbd3d9b27ea9e\",\"handle\":\"test-handle-aa0dbd3d9b27ea9e\",\"summary\":null,\"description\":null,\"avatar\":null,\"banner\":1,\"visible_modules\":[],\"hidden_modules\":[],\"created_at\":\"2025-05-29T07:30:18.898463+00:00\",\"modified_at\":\"2025-05-29T07:30:18.898474+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/6a8339f9-9d86-4948-a469-1b0cbef769bb/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/6a8339f9-9d86-4948-a469-1b0cbef769bb/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 794
      },
      {
        "_id": "75f6ef08a8ca4e0504219b909786cba3",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"layers\":[{\"effective_date\":\"2025-05-19T07:30:17.381Z\",\"end_date\":\"2025-06-08T07:30:17.381Z\",\"interval\":{\"days\":1},\"members\":[{\"user\":{\"id\":\"c534e9e3-3c5e-11f0-b6eb-6e406f40657f\"}}],\"name\":\"Layer 1\",\"restrictions\":[{\"end_day\":\"friday\",\"end_time\":\"17:00:00\",\"start_day\":\"monday\",\"start_time\":\"09:00:00\"}],\"rotation_start\":\"2025-05-24T07:30:17.381Z\"}],\"name\":\"Test-Get_team_on_call_users_returns_OK_response-1748503817\",\"time_zone\":\"America/New_York\"},\"relationships\":{\"teams\":{\"data\":[{\"id\":\"65aea9d0-941c-4607-bf8a-14fc0dac2820\",\"type\":\"teams\"}]}},\"type\":\"schedules\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/on-call/schedules"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 367,
            "text": "{\"data\":{\"id\":\"ba6c57a1-bb93-4f5a-a22b-174f84b0c5d6\",\"type\":\"schedules\",\"attributes\":{\"name\":\"Test-Get_team_on[...]
