{
  "log": {
    "_recordingName": "On-Call/Get team on-call users returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "42fc75d305df814fc3ba71c951659fe1",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Get_team_on_call_users_returns_OK_response-1764252702@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 712,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"ffde914a-cb9a-11f0-ae87-2a5e5028fcef\",\"attributes\":{\"name\":null,\"handle\":\"test-get_team_on_call_users_returns_ok_response-1764252702@datadoghq.com\",\"created_at\":\"2025-11-27T14:11:42.666467+00:00\",\"modified_at\":\"2025-11-27T14:11:42.666467+00:00\",\"email\":\"test-get_team_on_call_users_returns_ok_response-1764252702@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/0bc277f36ed2ab487375205fafaaebc7?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\",\"last_login_time\":null},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 461
      },
      {
        "_id": "ca9101212da889447cc0822383011728",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"test-handle-ecfc4ff61997ed40\",\"name\":\"test-name-ecfc4ff61997ed40\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 661,
            "text": "{\"data\":{\"id\":\"fc8f8844-54c3-4898-aabc-68d6fccbe20e\",\"type\":\"team\",\"attributes\":{\"avatar\":null,\"banner\":11,\"created_at\":\"2025-11-27T14:11:43.090563+00:00\",\"description\":null,\"handle\":\"test-handle-ecfc4ff61997ed40\",\"hidden_modules\":[],\"link_count\":0,\"modified_at\":\"2025-11-27T14:11:43.090563+00:00\",\"name\":\"test-name-ecfc4ff61997ed40\",\"summary\":null,\"user_count\":0,\"visible_modules\":[]},\"relationships\":{\"team_links\":{\"data\":[],\"links\":{\"related\":\"/api/v2/team/fc8f8844-54c3-4898-aabc-68d6fccbe20e/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/fc8f8844-54c3-4898-aabc-68d6fccbe20e/permission-settings\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 424
      },
      {
        "_id": "4ab7208aec898a63da29bc0ec0ea3b66",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"layers\":[{\"effective_date\":\"2025-11-17T14:11:42.299Z\",\"end_date\":\"2025-12-07T14:11:42.299Z\",\"interval\":{\"days\":1},\"members\":[{\"user\":{\"id\":\"ffde914a-cb9a-11f0-ae87-2a5e5028fcef\"}}],\"name\":\"Layer 1\",\"restrictions\":[{\"end_day\":\"friday\",\"end_time\":\"17:00:00\",\"start_day\":\"monday\",\"start_time\":\"09:00:00\"}],\"rotation_start\":\"2025-11-22T14:11:42.299Z\"}],\"name\":\"Test-Get_team_on_call_users_returns_OK_response-1764252702\",\"time_zone\":\"America/New_York\"},\"relationships\":{\"teams\":{\"data\":[{\"id\":\"65aea9d0-941c-4607-bf8a-14fc0dac2820\",\"type\":\"teams\"}]}},\"type\":\"schedules\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/on-call/schedules"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 367,
            "text": "{\"data\":{\"id\":\"4325ddef-dc72-4609-90c2-01167759f277\",\"type\":\"schedules\",\"attributes\":{\"name\":\"Test-Get_team_on[...]
