{
  "log": {
    "_recordingName": "On-Call/Get team on-call users returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "63d8850297233aa70205e81d41d737fe",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Get_team_on_call_users_returns_OK_response-1763469869@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 712,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"537c2919-c47c-11f0-9b08-ce88c9776d95\",\"attributes\":{\"name\":null,\"handle\":\"test-get_team_on_call_users_returns_ok_response-1763469869@datadoghq.com\",\"created_at\":\"2025-11-18T12:44:30.412060+00:00\",\"modified_at\":\"2025-11-18T12:44:30.412060+00:00\",\"email\":\"test-get_team_on_call_users_returns_ok_response-1763469869@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/e1a08271c5b3a54aaa074185b1550add?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\",\"last_login_time\":null},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 804
      },
      {
        "_id": "b22aa90a3e3f97e976abde2eb3255ae2",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"test-handle-b0479fe6a2cd9873\",\"name\":\"test-name-b0479fe6a2cd9873\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 661,
            "text": "{\"data\":{\"id\":\"11ba6480-761b-4dbd-b4a0-c77a9df6740c\",\"type\":\"team\",\"attributes\":{\"avatar\":null,\"banner\":15,\"created_at\":\"2025-11-18T12:44:31.250613+00:00\",\"description\":null,\"handle\":\"test-handle-b0479fe6a2cd9873\",\"hidden_modules\":[],\"link_count\":0,\"modified_at\":\"2025-11-18T12:44:31.250613+00:00\",\"name\":\"test-name-b0479fe6a2cd9873\",\"summary\":null,\"user_count\":0,\"visible_modules\":[]},\"relationships\":{\"team_links\":{\"data\":[],\"links\":{\"related\":\"/api/v2/team/11ba6480-761b-4dbd-b4a0-c77a9df6740c/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/11ba6480-761b-4dbd-b4a0-c77a9df6740c/permission-settings\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 847
      },
      {
        "_id": "e1fe73f1b557b9ed473da3a5df93a49a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"layers\":[{\"effective_date\":\"2025-11-08T12:44:29.751Z\",\"end_date\":\"2025-11-28T12:44:29.751Z\",\"interval\":{\"days\":1},\"members\":[{\"user\":{\"id\":\"537c2919-c47c-11f0-9b08-ce88c9776d95\"}}],\"name\":\"Layer 1\",\"restrictions\":[{\"end_day\":\"friday\",\"end_time\":\"17:00:00\",\"start_day\":\"monday\",\"start_time\":\"09:00:00\"}],\"rotation_start\":\"2025-11-13T12:44:29.751Z\"}],\"name\":\"Test-Get_team_on_call_users_returns_OK_response-1763469869\",\"time_zone\":\"America/New_York\"},\"relationships\":{\"teams\":{\"data\":[{\"id\":\"65aea9d0-941c-4607-bf8a-14fc0dac2820\",\"type\":\"teams\"}]}},\"type\":\"schedules\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/on-call/schedules"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 367,
            "text": "{\"data\":{\"id\":\"3be141a8-848d-4af1-86de-e5d76cd6e4fc\",\"type\":\"schedules\",\"attributes\":{\"name\":\"Test-Get_team_on[...]
