{
  "log": {
    "_recordingName": "Dashboards/Get usage stats for a dashboard returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "8e3db45dfbaff55368efd778e31caebe",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"layout_type\":\"ordered\",\"title\":\"Test-Get_usage_stats_for_a_dashboard_returns_OK_response-1779115226 with Profile Metrics Query\",\"widgets\":[{\"definition\":{\"requests\":[{\"profile_metrics_query\":{\"compute\":{\"aggregation\":\"sum\",\"facet\":\"@prof_core_cpu_cores\"},\"group_by\":[{\"facet\":\"service\",\"limit\":10,\"sort\":{\"aggregation\":\"sum\",\"facet\":\"@prof_core_cpu_cores\",\"order\":\"desc\"}}],\"search\":{\"query\":\"runtime:jvm\"}}}],\"type\":\"timeseries\"}}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 829,
            "text": "{\"id\":\"cb5-47u-8yc\",\"title\":\"Test-Get_usage_stats_for_a_dashboard_returns_OK_response-1779115226 with Profile Metrics Query\",\"description\":null,\"author_handle\":\"frog@datadoghq.com\",\"author_name\":\"frog\",\"layout_type\":\"ordered\",\"url\":\"/dashboard/cb5-47u-8yc/test-getusagestatsforadashboardreturnsokresponse-1779115226-with-profile-metrics\",\"template_variables\":null,\"widgets\":[{\"definition\":{\"requests\":[{\"profile_metrics_query\":{\"compute\":{\"aggregation\":\"sum\",\"facet\":\"@prof_core_cpu_cores\"},\"group_by\":[{\"facet\":\"service\",\"limit\":10,\"sort\":{\"aggregation\":\"sum\",\"facet\":\"@prof_core_cpu_cores\",\"order\":\"desc\"}}],\"search\":{\"query\":\"runtime:jvm\"}}}],\"type\":\"timeseries\"},\"id\":7645859989261101}],\"notify_list\":null,\"created_at\":\"2026-05-18T14:40:27.022358+00:00\",\"modified_at\":\"2026-05-18T14:40:27.022358+00:00\",\"restricted_roles\":[]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 319
      },
      {
        "_id": "16b4cefb4cddf79419fbfe3b7be8f0b8",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/dashboards/cb5-47u-8yc/usage"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 540,
            "text": "{\"data\":{\"id\":\"cb5-47u-8yc\",\"type\":\"dashboards-usages\",\"attributes\":{\"org_id\":321813,\"title\":\"Test-Get_usage_stats_for_a_dashboard_returns_OK_response-1779115226 with Profile Metrics Query\",\"teams\":[],\"created_at\":\"2026-05-18T14:40:27.022358Z\",\"author\":{\"id\":\"1445416\",\"name\":\"frog\",\"handle\":\"frog@datadoghq.com\",\"is_disabled\":false},\"total_views\":0,\"viewed_at\":null,\"viewer\":null,\"total_views_by_type\":null,\"edited_at\":\"2026-05-18T14:40:27.022358Z\",\"widget_count\":1,\"widget_count_by_type\":{\"timeseries\":1},\"dashboard_quality_score\":null}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 380
      },
      {
        "_id": "9f43ecdbb060c7c340854d324779e0a6",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/cb5-47u-8yc"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 38,
            "text": "{\"deleted_dashboard_id\":\"cb5-47u-8yc\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 553
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
