{
  "log": {
    "_recordingName": "Incidents/Delete an incident type returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "7bcfec665300989151e5e4d7e0833bd1",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"description\":\"Any incidents that harm (or have the potential to) the confidentiality, integrity, or availability of our data.\",\"is_default\":false,\"name\":\"Security Incident\"},\"type\":\"incident_types\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/incidents/config/types"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 479,
            "text": "{\"data\":{\"id\":\"9f1a4d75-3a34-47b7-9eab-692f290e7b1b\",\"type\":\"incident_types\",\"attributes\":{\"createdAt\":\"2024-11-04T18:02:45.286101149Z\",\"createdBy\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\",\"description\":\"Any incidents that harm (or have the potential to) the confidentiality, integrity, or availability of our data.\",\"is_default\":false,\"lastModifiedBy\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\",\"modifiedAt\":\"2024-11-04T18:02:45.286101149Z\",\"name\":\"Security Incident\",\"prefix\":\"IR\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 342
      },
      {
        "_id": "8e81885112222bf1766e47d60b1c6d1b",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/incidents/config/types/9f1a4d75-3a34-47b7-9eab-692f290e7b1b"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 265
      },
      {
        "_id": "8e81885112222bf1766e47d60b1c6d1b",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/incidents/config/types/9f1a4d75-3a34-47b7-9eab-692f290e7b1b"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 306
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
