{
  "log": {
    "_recordingName": "LLM Observability/Update a specific LLM Observability prompt version returns \"Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "5d775e249e74f9b659547388337ad941",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"env_ids\":[],\"labels\":[]},\"type\":\"prompt-template-versions\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/llm-obs/v1/prompts/nonexistent-prompt/versions/1"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 83,
            "text": "{\"errors\":[{\"title\":\"Generic Error\",\"detail\":\"prompt template version not found\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 613
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
