{
  "log": {
    "_recordingName": "Dashboards/Get usage stats for a dashboard returns \"Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ad26e860e2e09ab96bd818d6cd6abdbc",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/dashboards/xxx-xxx-xxx/usage"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 90,
            "text": "{\"errors\":[\"Dashboard not found for dashboard_id=xxx-xxx-xxx in org_id=321813 not found\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 191
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
