{
  "log": {
    "_recordingName": "Usage Metering/Get Monthly Cost Attribution returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "63e74d6ac0cda21fcc41b65b6588c1d7",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "start_month",
              "value": "2023-11-11T19:41:02.013Z"
            },
            {
              "name": "end_month",
              "value": "2023-11-13T19:41:02.013Z"
            },
            {
              "name": "fields",
              "value": "not_a_product"
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/cost_by_tag/monthly_cost_attribution?start_month=2023-11-11T19%3A41%3A02.013Z&end_month=2023-11-13T19%3A41%3A02.013Z&fields=not_a_product"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 96,
            "text": "{\"errors\":[\"API called with non-parent org keys. Data is only available at the root level org\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 169
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
