{
  "log": {
    "_recordingName": "GCP Integration/Create a new entry for your service account with resource collection enabled disabled and cspm enabled returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "7f6b902da63305eec62a40cbe34bba70",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"client_email\":\"Test-f92057aa6491025d@test-project.iam.gserviceaccount.com\",\"host_filters\":[],\"is_cspm_enabled\":true,\"resource_collection_enabled\":false},\"type\":\"gcp_service_account\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integration/gcp/accounts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 72,
            "text": "{\"errors\":[\"Resource Collection must be enabled for CSM to be enabled\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 101
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
