{
  "log": {
    "_recordingName": "Service Scorecards/Update Scorecard outcomes asynchronously returns \"Conflict\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "f2bb7f55a1bb19b82dcea587d7e71bac",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"results\":[{\"entity_reference\":\"service:my-service\",\"remarks\":\"See: <a href=\\\"https://app.datadoghq.com/services\\\">Services</a>\",\"rule_id\":\"INVALID.RULE_ID\",\"state\":\"pass\"}]},\"type\":\"batched-outcome\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/scorecard/outcomes"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 55,
            "text": "{\"errors\":[{\"status\":\"409\",\"title\":\"Invalid rule_id\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 409,
          "statusText": "Conflict"
        },
        "time": 65
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
