{
  "log": {
    "_recordingName": "Actions Datastores/Delete datastore returns \"No Content\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ca432d05f79a3d83571b352d64e847b1",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/actions-datastores/221012bd-9acc-4719-8973-b23e5669a25a"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 146
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
