{
  "log": {
    "_recordingName": "Monitor Notification Rules/Get all monitor notification rules returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "52a915ad0612ed1dfab9ff3f6f2cbc61",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"filter\":{\"tags\":[\"app:test-get_all_monitor_notification_rules_returns_ok_response-1743713884\"]},\"name\":\"test rule\",\"recipients\":[\"slack-monitor-app\"]},\"type\":\"monitor-notification-rule\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/monitor/notification_rule"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 400,
            "text": "{\"data\":{\"type\":\"monitor-notification-rule\",\"attributes\":{\"filter\":{\"tags\":[\"app:test-get_all_monitor_notification_rules_returns_ok_response-1743713884\"]},\"recipients\":[\"slack-monitor-app\"],\"creator_uuid\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"modified_at\":\"1970-01-01T00:00:00+00:00\",\"name\":\"test rule\",\"created_at\":\"2025-04-03T20:58:04.604345+00:00\"},\"id\":\"6e5b7a93-37b5-44b8-9098-2d31b6dd84b6\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 150
      },
      {
        "_id": "ed428a190762a016a6b7d421239edb39",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/monitor/notification_rule"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 409,
            "text": "{\"data\":[{\"type\":\"monitor-notification-rule\",\"id\":\"6e5b7a93-37b5-44b8-9098-2d31b6[...]
