{
  "log": {
    "_recordingName": "Service Scorecards/Update Scorecard outcomes asynchronously returns \"Accepted\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "1cc039d39eb6a261af31b4dda78ab025",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"enabled\":true,\"name\":\"Test-Update_Scorecard_outcomes_asynchronously_returns_Accepted_response-1756219577\",\"owner\":\"Datadog\",\"scorecard_name\":\"OpenAPI Spec Test Best Practices\"},\"type\":\"rule\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/scorecard/rules"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 483,
            "text": "{\"data\":{\"id\":\"5e3dexz6x_4f_4pa\",\"type\":\"rule\",\"attributes\":{\"category\":\"OpenAPI Spec Test Best Practices\",\"created_at\":\"2025-08-26T14:46:18.889883535Z\",\"custom\":true,\"enabled\":true,\"level\":3,\"modified_at\":\"2025-08-26T14:46:18.889883535Z\",\"name\":\"Test-Update_Scorecard_outcomes_asynchronously_returns_Accepted_response-1756219577\",\"owner\":\"Datadog\",\"scorecard_name\":\"OpenAPI Spec Test Best Practices\"},\"relationships\":{\"scorecard\":{\"data\":{\"id\":\"qsxpoYRhU_yz\",\"type\":\"scorecard\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 208
      },
      {
        "_id": "faaea36ab63f01dc893083a9dd852044",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"results\":[{\"entity_reference\":\"service:my-service\",\"remarks\":\"See: <a href=\\\"https://app.datadoghq.com/services\\\">Services</a>\",\"rule_id\":\"5e3dexz6x_4f_4pa\",\"state\":\"pass\"}]},\"type\":\"batched-outcome\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/scorecard/outcomes"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 90,
            "text": "{\"data\":{\"id\":\"4iexte5r8prsrlrtzzxpy\",\"type\":\"async-request\"},\"meta\":{\"total_received\":1}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 202,
          "statusText": "Accepted"
        },
        "time": 78
      },
      {
        "_id": "80d13e081f26b75c5802110b933738bc",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/scorecard/rules/5e3dexz6x_4f_4pa"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 511
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
