{
  "log": {
    "_recordingName": "Case Management/Create a case returns \"Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "592a4a0e3f30cc8aae6fa53a79b0595a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"priority\":\"NOT_DEFINED\",\"title\":\"Security breach investigation\",\"type_id\":\"00000000-0000-0000-0000-000000000001\"},\"relationships\":{\"assignee\":{\"data\":{\"id\":\"721074c8-63df-4d8f-a43d-ab41dd24ec35\",\"type\":\"user\"}},\"project\":{\"data\":{\"id\":\"721074c8-63df-4d8f-a43d-ab41dd24ec35\",\"type\":\"project\"}}},\"type\":\"case\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/cases"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 70,
            "text": "{\"errors\":[{\"code\":\"resource_not_found\",\"title\":\"project not found\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 480
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
