{
  "log": {
    "_recordingName": "On-Call/Set On-Call team routing rules returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "e9b5b61ced67b2a87d42d1e0159aac78",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Set_On_Call_team_routing_rules_returns_OK_response-1748494452@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 705,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"f70b5bc2-3c48-11f0-90c9-4ad2f0f8c382\",\"attributes\":{\"name\":null,\"handle\":\"test-set_on_call_team_routing_rules_returns_ok_response-1748494452@datadoghq.com\",\"created_at\":\"2025-05-29T04:54:12.851430+00:00\",\"modified_at\":\"2025-05-29T04:54:12.851430+00:00\",\"email\":\"test-set_on_call_team_routing_rules_returns_ok_response-1748494452@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/3ae763850f6602b2ade88b17b79b0c2f?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 684
      },
      {
        "_id": "11833563a9392dbe0c10b5f3aaf634ce",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"test-handle-617820e9690362e8\",\"name\":\"test-name-617820e9690362e8\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 635,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"08b1cecb-154b-45ca-bafa-a7f0b3196b8d\",\"attributes\":{\"name\":\"test-name-617820e9690362e8\",\"handle\":\"test-handle-617820e9690362e8\",\"summary\":null,\"description\":null,\"avatar\":null,\"banner\":6,\"visible_modules\":[],\"hidden_modules\":[],\"created_at\":\"2025-05-29T04:54:13.517054+00:00\",\"modified_at\":\"2025-05-29T04:54:13.517063+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/08b1cecb-154b-45ca-bafa-a7f0b3196b8d/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/08b1cecb-154b-45ca-bafa-a7f0b3196b8d/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 741
      },
      {
        "_id": "826565aeed74b6ba0a751b5f458f665d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"layers\":[{\"effective_date\":\"2025-05-19T04:54:12.242Z\",\"end_date\":\"2025-06-08T04:54:12.242Z\",\"interval\":{\"days\":1},\"members\":[{\"user\":{\"id\":\"f70b5bc2-3c48-11f0-90c9-4ad2f0f8c382\"}}],\"name\":\"Layer 1\",\"restrictions\":[{\"end_day\":\"friday\",\"end_time\":\"17:00:00\",\"start_day\":\"monday\",\"start_time\":\"09:00:00\"}],\"rotation_start\":\"2025-05-24T04:54:12.242Z\"}],\"name\":\"Test-Set_On_Call_team_routing_rules_returns_OK_response-1748494452\",\"time_zone\":\"America/New_York\"},\"relationships\":{\"teams\":{\"data\":[{\"id\":\"65aea9d0-941c-4607-bf8a-14fc0dac2820\",\"type\":\"teams\"}]}},\"type\":\"schedules\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/on-call/schedules"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 375,
            "text": "{\"data\":{\"id\":\"60ddefa7-5b46-44e1-aabc-2c5b5b2e6fc1\",\"type\":\"schedules\",\"attributes\":{\"name\":\"Test-Set_On_Call[...]
