{
  "log": {
    "_recordingName": "On-Call/Set On-Call team routing rules returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "bc0c68449b503db1e0baa59e550db2f1",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Set_On_Call_team_routing_rules_returns_OK_response-1763471054@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 728,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"15c47aed-c47f-11f0-9f0b-be6d33dcd787\",\"attributes\":{\"name\":null,\"handle\":\"test-set_on_call_team_routing_rules_returns_ok_response-1763471054@datadoghq.com\",\"created_at\":\"2025-11-18T13:04:15.357470+00:00\",\"modified_at\":\"2025-11-18T13:04:15.357470+00:00\",\"email\":\"test-set_on_call_team_routing_rules_returns_ok_response-1763471054@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/958eeb5c5b80b7b5b4ec2f1794031763?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\",\"last_login_time\":null},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 373
      },
      {
        "_id": "4b48a9b52d1dbe112ec4ecd259d28e78",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"test-handle-f77a37b001e848f1\",\"name\":\"test-name-f77a37b001e848f1\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 660,
            "text": "{\"data\":{\"id\":\"8ab3f777-435e-42b6-8511-0c9020365b8d\",\"type\":\"team\",\"attributes\":{\"avatar\":null,\"banner\":6,\"created_at\":\"2025-11-18T13:04:15.712638+00:00\",\"description\":null,\"handle\":\"test-handle-f77a37b001e848f1\",\"hidden_modules\":[],\"link_count\":0,\"modified_at\":\"2025-11-18T13:04:15.712638+00:00\",\"name\":\"test-name-f77a37b001e848f1\",\"summary\":null,\"user_count\":0,\"visible_modules\":[]},\"relationships\":{\"team_links\":{\"data\":[],\"links\":{\"related\":\"/api/v2/team/8ab3f777-435e-42b6-8511-0c9020365b8d/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/8ab3f777-435e-42b6-8511-0c9020365b8d/permission-settings\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 348
      },
      {
        "_id": "3e61253779aeae111999ede5265f096b",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"layers\":[{\"effective_date\":\"2025-11-08T13:04:14.085Z\",\"end_date\":\"2025-11-28T13:04:14.085Z\",\"interval\":{\"days\":1},\"members\":[{\"user\":{\"id\":\"15c47aed-c47f-11f0-9f0b-be6d33dcd787\"}}],\"name\":\"Layer 1\",\"restrictions\":[{\"end_day\":\"friday\",\"end_time\":\"17:00:00\",\"start_day\":\"monday\",\"start_time\":\"09:00:00\"}],\"rotation_start\":\"2025-11-13T13:04:14.085Z\"}],\"name\":\"Test-Set_On_Call_team_routing_rules_returns_OK_response-1763471054\",\"time_zone\":\"America/New_York\"},\"relationships\":{\"teams\":{\"data\":[{\"id\":\"65aea9d0-941c-4607-bf8a-14fc0dac2820\",\"type\":\"teams\"}]}},\"type\":\"schedules\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/on-call/schedules"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 375,
            "text": "{\"data\":{\"id\":\"10ab1649-e333-41ac-9271-3484b87939a7\",\"type\":\"schedules\",\"attributes\":{\"name\":\"Test-Set_On_Call[...]
