{
  "log": {
    "_recordingName": "On-Call/Set On-Call team routing rules returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "a0621bc13c011d49e9a554c307511861",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Set_On_Call_team_routing_rules_returns_OK_response-1778855958@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 774,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"af4cfd73-8162-49c3-899a-101d0617d500\",\"attributes\":{\"uuid\":\"af4cfd73-8162-49c3-899a-101d0617d500\",\"name\":null,\"handle\":\"test-set_on_call_team_routing_rules_returns_ok_response-1778855958@datadoghq.com\",\"created_at\":\"2026-05-15T14:39:20.154059+00:00\",\"modified_at\":\"2026-05-15T14:39:20.154059+00:00\",\"email\":\"test-set_on_call_team_routing_rules_returns_ok_response-1778855958@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/c530c1e2f9d5cddf9d34bed00a5e760b?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\",\"last_login_time\":null},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 866
      },
      {
        "_id": "422de32fa56ec8f64be819f334ba8320",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"test-handle-fc62c73422bed141\",\"name\":\"test-name-fc62c73422bed141\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 661,
            "text": "{\"data\":{\"id\":\"5f48616e-52b1-4126-a255-0bd9f4820dc1\",\"type\":\"team\",\"attributes\":{\"avatar\":null,\"banner\":11,\"created_at\":\"2026-05-15T14:39:20.573129+00:00\",\"description\":null,\"handle\":\"test-handle-fc62c73422bed141\",\"hidden_modules\":null,\"is_managed\":false,\"link_count\":0,\"modified_at\":\"2026-05-15T14:39:20.573129+00:00\",\"name\":\"test-name-fc62c73422bed141\",\"summary\":null,\"user_count\":0,\"visible_modules\":null},\"relationships\":{\"team_links\":{\"data\":[],\"links\":{\"related\":\"/api/v2/team/5f48616e-52b1-4126-a255-0bd9f4820dc1/links\"}},\"user_team_permissions\":{\"data\":null,\"links\":{\"related\":\"/api/v2/team/5f48616e-52b1-4126-a255-0bd9f4820dc1/permission-settings\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 403
      },
      {
        "_id": "cfbbfb1074efa688a6ffc257ff9814ce",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"layers\":[{\"effective_date\":\"2026-05-05T14:39:18.459Z\",\"end_date\":\"2026-05-25T14:39:18.459Z\",\"interval\":{\"days\":1},\"members\":[{\"user\":{\"id\":\"af4cfd73-8162-49c3-899a-101d0617d500\"}}],\"name\":\"Layer 1\",\"restrictions\":[{\"end_day\":\"friday\",\"end_time\":\"17:00:00\",\"start_day\":\"monday\",\"start_time\":\"09:00:00\"}],\"rotation_start\":\"2026-05-10T14:39:18.459Z\"}],\"name\":\"Test-Set_On_Call_team_routing_rules_returns_OK_response-1778855958\",\"time_zone\":\"America/New_York\"},\"relationships\":{\"teams\":{\"data\":[{\"id\":\"65aea9d0-941c-4607-bf8a-14fc0dac2820\",\"type\":\"teams\"}]}},\"type\":\"schedules\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/on-call/schedules"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 375,
            "text": "{\"data\":{\"id\":\"6417bbaa-a75e-474d-a45a-9af8e1a3907a\",\"type\":\"schedules\",\"attributes\":{\"name\":\"Test-Set_On_Call[...]
