{
  "log": {
    "_recordingName": "On-Call/Set On-Call team routing rules returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "6a253359e04ae41a4c8d66c21274648d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Set_On_Call_team_routing_rules_returns_OK_response-1748334342@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 705,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"2e2a9a43-3ad4-11f0-a123-c6d5a6dabcf4\",\"attributes\":{\"name\":null,\"handle\":\"test-set_on_call_team_routing_rules_returns_ok_response-1748334342@datadoghq.com\",\"created_at\":\"2025-05-27T08:25:43.050742+00:00\",\"modified_at\":\"2025-05-27T08:25:43.050742+00:00\",\"email\":\"test-set_on_call_team_routing_rules_returns_ok_response-1748334342@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/7dc6399db1883a29b1a0022d05a3996c?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 312
      },
      {
        "_id": "ff1e7b451dbd5a0a78fa75d423a4bd32",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"test-handle-1fd6c4543cf4cd88\",\"name\":\"test-name-1fd6c4543cf4cd88\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 635,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"82aa87bd-fdf1-4683-aecd-706133165bb2\",\"attributes\":{\"name\":\"test-name-1fd6c4543cf4cd88\",\"handle\":\"test-handle-1fd6c4543cf4cd88\",\"summary\":null,\"description\":null,\"avatar\":null,\"banner\":1,\"visible_modules\":[],\"hidden_modules\":[],\"created_at\":\"2025-05-27T08:25:43.186129+00:00\",\"modified_at\":\"2025-05-27T08:25:43.186139+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/82aa87bd-fdf1-4683-aecd-706133165bb2/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/82aa87bd-fdf1-4683-aecd-706133165bb2/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 195
      },
      {
        "_id": "f0fa2280ca407a64cd75fcd5fdbd2f92",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"layers\":[{\"effective_date\":\"2025-05-17T08:25:42.329Z\",\"end_date\":\"2025-06-06T08:25:42.329Z\",\"interval\":{\"days\":1},\"members\":[{\"user\":{\"id\":\"890f29d4-0b7a-11f0-aeb2-760fcae4f596\"}}],\"name\":\"Layer 1\",\"restrictions\":[{\"end_day\":\"friday\",\"end_time\":\"17:00:00\",\"start_day\":\"monday\",\"start_time\":\"09:00:00\"}],\"rotation_start\":\"2025-05-22T08:25:42.329Z\"}],\"name\":\"Test-Set_On_Call_team_routing_rules_returns_OK_response-1748334342\",\"time_zone\":\"America/New_York\"},\"relationships\":{\"teams\":{\"data\":[{\"id\":\"65aea9d0-941c-4607-bf8a-14fc0dac2820\",\"type\":\"teams\"}]}},\"type\":\"schedules\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/on-call/schedules"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 375,
            "text": "{\"data\":{\"id\":\"2eb42c33-6304-4103-9814-25a2e8ce6d02\",\"type\":\"schedules\",\"attributes\":{\"name\":\"Test-Set_On_Call[...]
