{
  "log": {
    "_recordingName": "Downtimes/Cancel a downtime returns \"Downtime not found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "6f61ec7b7481b4da4ba05c26e31ed656",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/downtime/00000000-0000-1234-0000-000000000000"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 70,
            "text": "{\"errors\":[\"Downtime 00000000-0000-1234-0000-000000000000 not found\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 278
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
