{
  "log": {
    "_recordingName": "Dashboards/Create a new dashboard with split graph widget",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "e2fb86ed845977ceefac8dc067475990",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"description\":\"\",\"is_read_only\":false,\"layout_type\":\"ordered\",\"notify_list\":[],\"template_variables\":[],\"title\":\"Test-Create_a_new_dashboard_with_split_graph_widget-1703090167\",\"widgets\":[{\"definition\":{\"has_uniform_y_axes\":true,\"size\":\"md\",\"source_widget_definition\":{\"requests\":[{\"display_type\":\"line\",\"queries\":[{\"data_source\":\"metrics\",\"name\":\"query1\",\"query\":\"avg:system.cpu.user{*}\"}],\"response_format\":\"timeseries\",\"style\":{\"line_type\":\"solid\",\"line_width\":\"normal\",\"palette\":\"dog_classic\"}}],\"title\":\"\",\"title_align\":\"left\",\"title_size\":\"16\",\"type\":\"timeseries\"},\"split_config\":{\"limit\":24,\"sort\":{\"compute\":{\"aggregation\":\"sum\",\"metric\":\"system.cpu.user\"},\"order\":\"desc\"},\"split_dimensions\":[{\"one_graph_per\":\"service\"}],\"static_splits\":[[{\"tag_key\":\"service\",\"tag_values\":[\"cassandra\"]},{\"tag_key\":\"datacenter\",\"tag_values\":[]}],[{\"tag_key\":\"demo\",\"tag_values\":[\"env\"]}]]},\"title\":\"\",\"type\":\"split_group\"},\"layout\":{\"height\":8,\"width\":12,\"x\":0,\"y\":0}}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1293,
            "text": "{\"id\":\"vxu-qte-rxf\",\"title\":\"Test-Create_a_new_dashboard_with_split_graph_widget-1703090167\",\"description\":\"\",\"author_handle\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\",\"author_name\":\"CI Account\",\"layout_type\":\"ordered\",\"url\":\"/dashboard/vxu-qte-rxf/test-createanewdashboardwithsplitgraphwidget-1703090167\",\"is_read_only\":false,\"template_variables\":[],\"widgets\":[{\"definition\":{\"has_uniform_y_axes\":true,\"size\":\"md\",\"source_widget_definition\":{\"requests\":[{\"display_type\":\"line\",\"queries\":[{\"data_source\":\"metrics\",\"name\":\"query1\",\"query\":\"avg:system.cpu.user{*}\"}],\"response_format\":\"timeseries\",\"style\":{\"line_type\":\"solid\",\"line_width\":\"normal\",\"palette\":\"dog_classic\"}}],\"title\":\"\",\"title_align\":\"left\",\"title_size\":\"16\",\"type\":\"timeseries\"},\"split_config\":{\"limit\":24,\"sort\":{\"compute\":{\"aggregation\":\"sum\",\"metric\":\"system.cpu.user\"},\"order\":\"desc\"},\"split_dimensions\":[{\"one_graph_per\":\"service\"}],\"static_splits\":[[{\"tag_key\":\"service\",\"tag_values\":[\"cassandra\"]},{\"tag_key\":\"datacenter\",\"tag_values\":[]}],[{\"tag_key\":\"demo\",\"tag_values\":[\"env\"]}]]},\"title\":\"\",\"type\":\"split_group\"},\"layout\":{\"height\":8,\"width\":12,\"x\":0,\"y\":0},\"id\":1001674649498969}],\"notify_list\":[],\"created_at\":\"2023-12-20T16:36:07.715489+00:00\",\"modified_at\":\"2023-12-20T16:36:07.715489+00:00\",\"restricted_roles\":[]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 769
      },
      {
        "_id": "f8defd94cc5e5c2e0e44372a9d5c22cb",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/vxu-qte-rxf"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 39,
            "text": "{\"deleted_dashboard_id\":\"vxu-qte-rxf\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 333
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
