{
  "log": {
    "_recordingName": "Dashboards/Create a new dashboard with split graph widget",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "44a0986807f13eb1ae480d480e917904",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"description\":\"\",\"layout_type\":\"ordered\",\"notify_list\":[],\"template_variables\":[],\"title\":\"Test-Create_a_new_dashboard_with_split_graph_widget-1731611558\",\"widgets\":[{\"definition\":{\"has_uniform_y_axes\":true,\"size\":\"md\",\"source_widget_definition\":{\"requests\":[{\"display_type\":\"line\",\"queries\":[{\"data_source\":\"metrics\",\"name\":\"query1\",\"query\":\"avg:system.cpu.user{*}\"}],\"response_format\":\"timeseries\",\"style\":{\"line_type\":\"solid\",\"line_width\":\"normal\",\"palette\":\"dog_classic\"}}],\"title\":\"\",\"title_align\":\"left\",\"title_size\":\"16\",\"type\":\"timeseries\"},\"split_config\":{\"limit\":24,\"sort\":{\"compute\":{\"aggregation\":\"sum\",\"metric\":\"system.cpu.user\"},\"order\":\"desc\"},\"split_dimensions\":[{\"one_graph_per\":\"service\"}],\"static_splits\":[[{\"tag_key\":\"service\",\"tag_values\":[\"cassandra\"]},{\"tag_key\":\"datacenter\",\"tag_values\":[]}],[{\"tag_key\":\"demo\",\"tag_values\":[\"env\"]}]]},\"title\":\"\",\"type\":\"split_group\"},\"layout\":{\"height\":8,\"width\":12,\"x\":0,\"y\":0}}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1287,
            "text": "{\"id\":\"482-izf-9gi\",\"title\":\"Test-Create_a_new_dashboard_with_split_graph_widget-1731611558\",\"description\":\"\",\"author_handle\":\"anika.maskara@datadoghq.com\",\"author_name\":\"Anika Maskara\",\"layout_type\":\"ordered\",\"url\":\"/dashboard/482-izf-9gi/test-createanewdashboardwithsplitgraphwidget-1731611558\",\"is_read_only\":false,\"template_variables\":[],\"widgets\":[{\"definition\":{\"has_uniform_y_axes\":true,\"size\":\"md\",\"source_widget_definition\":{\"requests\":[{\"display_type\":\"line\",\"queries\":[{\"data_source\":\"metrics\",\"name\":\"query1\",\"query\":\"avg:system.cpu.user{*}\"}],\"response_format\":\"timeseries\",\"style\":{\"line_type\":\"solid\",\"line_width\":\"normal\",\"palette\":\"dog_classic\"}}],\"title\":\"\",\"title_align\":\"left\",\"title_size\":\"16\",\"type\":\"timeseries\"},\"split_config\":{\"limit\":24,\"sort\":{\"compute\":{\"aggregation\":\"sum\",\"metric\":\"system.cpu.user\"},\"order\":\"desc\"},\"split_dimensions\":[{\"one_graph_per\":\"service\"}],\"static_splits\":[[{\"tag_key\":\"service\",\"tag_values\":[\"cassandra\"]},{\"tag_key\":\"datacenter\",\"tag_values\":[]}],[{\"tag_key\":\"demo\",\"tag_values\":[\"env\"]}]]},\"title\":\"\",\"type\":\"split_group\"},\"layout\":{\"height\":8,\"width\":12,\"x\":0,\"y\":0},\"id\":5338128994941864}],\"notify_list\":[],\"created_at\":\"2024-11-14T19:12:39.293000+00:00\",\"modified_at\":\"2024-11-14T19:12:39.293000+00:00\",\"restricted_roles\":[]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 759
      },
      {
        "_id": "e2794797df958e1039df706a88d504e3",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/482-izf-9gi"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 39,
            "text": "{\"deleted_dashboard_id\":\"482-izf-9gi\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 223
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
