{
  "log": {
    "_recordingName": "Dashboards/Create a new dashboard with split graph widget",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "e3ee35915a6662aab55361d72f7fe546",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"description\":\"\",\"layout_type\":\"ordered\",\"notify_list\":[],\"template_variables\":[],\"title\":\"Test-Create_a_new_dashboard_with_split_graph_widget-1731699175\",\"widgets\":[{\"definition\":{\"has_uniform_y_axes\":true,\"size\":\"md\",\"source_widget_definition\":{\"requests\":[{\"display_type\":\"line\",\"queries\":[{\"data_source\":\"metrics\",\"name\":\"query1\",\"query\":\"avg:system.cpu.user{*}\"}],\"response_format\":\"timeseries\",\"style\":{\"line_type\":\"solid\",\"line_width\":\"normal\",\"palette\":\"dog_classic\"}}],\"title\":\"\",\"title_align\":\"left\",\"title_size\":\"16\",\"type\":\"timeseries\"},\"split_config\":{\"limit\":24,\"sort\":{\"compute\":{\"aggregation\":\"sum\",\"metric\":\"system.cpu.user\"},\"order\":\"desc\"},\"split_dimensions\":[{\"one_graph_per\":\"service\"}],\"static_splits\":[[{\"tag_key\":\"service\",\"tag_values\":[\"cassandra\"]},{\"tag_key\":\"datacenter\",\"tag_values\":[]}],[{\"tag_key\":\"demo\",\"tag_values\":[\"env\"]}]]},\"title\":\"\",\"type\":\"split_group\"},\"layout\":{\"height\":8,\"width\":12,\"x\":0,\"y\":0}}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1267,
            "text": "{\"id\":\"xcs-593-5gu\",\"title\":\"Test-Create_a_new_dashboard_with_split_graph_widget-1731699175\",\"description\":\"\",\"author_handle\":\"frog@datadoghq.com\",\"author_name\":null,\"layout_type\":\"ordered\",\"url\":\"/dashboard/xcs-593-5gu/test-createanewdashboardwithsplitgraphwidget-1731699175\",\"is_read_only\":false,\"template_variables\":[],\"widgets\":[{\"definition\":{\"has_uniform_y_axes\":true,\"size\":\"md\",\"source_widget_definition\":{\"requests\":[{\"display_type\":\"line\",\"queries\":[{\"data_source\":\"metrics\",\"name\":\"query1\",\"query\":\"avg:system.cpu.user{*}\"}],\"response_format\":\"timeseries\",\"style\":{\"line_type\":\"solid\",\"line_width\":\"normal\",\"palette\":\"dog_classic\"}}],\"title\":\"\",\"title_align\":\"left\",\"title_size\":\"16\",\"type\":\"timeseries\"},\"split_config\":{\"limit\":24,\"sort\":{\"compute\":{\"aggregation\":\"sum\",\"metric\":\"system.cpu.user\"},\"order\":\"desc\"},\"split_dimensions\":[{\"one_graph_per\":\"service\"}],\"static_splits\":[[{\"tag_key\":\"service\",\"tag_values\":[\"cassandra\"]},{\"tag_key\":\"datacenter\",\"tag_values\":[]}],[{\"tag_key\":\"demo\",\"tag_values\":[\"env\"]}]]},\"title\":\"\",\"type\":\"split_group\"},\"layout\":{\"height\":8,\"width\":12,\"x\":0,\"y\":0},\"id\":8349230773327441}],\"notify_list\":[],\"created_at\":\"2024-11-15T19:32:56.317258+00:00\",\"modified_at\":\"2024-11-15T19:32:56.317258+00:00\",\"restricted_roles\":[]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 771
      },
      {
        "_id": "61b9c9c187466c626505d4ffd13e5464",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/xcs-593-5gu"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 39,
            "text": "{\"deleted_dashboard_id\":\"xcs-593-5gu\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 189
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
