{
  "log": {
    "_recordingName": "Service Level Objectives/Get Corrections For an SLO returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "c53dc42dae535746d1d724ac4bab3186",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"Test-Get_Corrections_For_an_SLO_returns_OK_response-1641829834\",\"query\":{\"denominator\":\"sum:httpservice.hits{!code:3xx}.as_count()\",\"numerator\":\"sum:httpservice.hits{code:2xx}.as_count()\"},\"thresholds\":[{\"target\":95,\"timeframe\":\"7d\",\"warning\":98}],\"type\":\"metric\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/slo"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 577,
            "text": "{\"data\":[{\"description\":\"\",\"monitor_tags\":[],\"creator\":{\"handle\":\"frog@datadoghq.com\",\"name\":null,\"email\":\"frog@datadoghq.com\"},\"thresholds\":[{\"warning\":98.0,\"warning_display\":\"98.\",\"target\":95.0,\"target_display\":\"95.\",\"timeframe\":\"7d\"}],\"type_id\":1,\"query\":{\"denominator\":\"sum:httpservice.hits{!code:3xx}.as_count()\",\"numerator\":\"sum:httpservice.hits{code:2xx}.as_count()\"},\"id\":\"8916d4f567b85384bd52df84501715c8\",\"name\":\"Test-Get_Corrections_For_an_SLO_returns_OK_response-1641829834\",\"created_at\":1641829834,\"tags\":[],\"modified_at\":1641829834,\"type\":\"metric\"}],\"error\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 360
      },
      {
        "_id": "675c5b38a9c1857bf2739f3b80af0085",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"category\":\"Other\",\"description\":\"Test Correction\",\"end\":1641833434,\"slo_id\":\"8916d4f567b85384bd52df84501715c8\",\"start\":1641829834,\"timezone\":\"UTC\"},\"type\":\"correction\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/slo/correction"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 621,
            "text": "{\"data\":{\"type\":\"correction\",\"id\":\"0c64d37e-722d-11ec-b5d6-da7ad0900002\",\"attributes\":{\"slo_id\":\"8916d4f567b85384bd52df84501715c8\",\"start\":1641829834,\"end\":1641833434,\"description\":\"Test Correction\",\"category\":\"Other\",\"timezone\":\"UTC\",\"created_at\":null,\"modified_at\":null,\"rrule\":null,\"duration\":null,\"creator\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"attributes\":{\"uuid\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"handle\":\"frog@datadoghq.com\",\"email\":\"frog@datadoghq.com\",\"name\":null,\"icon\":\"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro\"}}},\"modifier\":null}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 418
      },
      {
        "_id": "8666eb018862655cb03b622a496fbbc9",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/slo/8916d4f567b85384bd52df84501715c8/corrections"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1148,
            "text": "{\"meta\":{\"pagination\":{\"type\":\"offset_limit\",\"prev_offset\":0,\"next_offset\":10,\"offset\":0,\"limit\":10,\"total\":1,\"first_offset\":0,\"last_offset\":0}},\"data\":[{\"type\":\"correction\",\"id\":\"0c64d37e-722d-11ec-b5d6-da7ad0900002\",\"attributes\":{\"slo_id\":\"8916d4f567b85384bd52df84501715c8\",\"start\":1641829834,\"end\":1641833434,\"description\":\"Test Correction\",\"category\":\"Other\",\"timezone\":\"UTC\",\"created_at\":1641829834,\"modified_at\":1641829834,\"rrule\":null,\"duration\":null,\"creator\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"attributes\":{\"uuid\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"handle\":\"frog@datadoghq.com\",\"email\":\"frog@datadoghq.com\",\"name\":null,\"icon\":\"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro\"}}},\"modifier\":null}}],\"links\":{\"next\":\"https://api.datadoghq.com/api/v1/slo/8916d4f567b85384bd52df84501715c8/corrections?page[offset]=10&page[limit]=10\",\"self\":\"https://api.datadoghq.com/api/v1/slo/8916d4f567b85384bd52df84501715c8/corrections\",\"prev\":null,\"last\":null,\"first\":\"https://api.datadoghq.com/api/v1/slo/8916d4f567b85384bd52df84501715c8/corrections?page[offset]=0&page[limit]=10\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 404
      },
      {
        "_id": "b31cee36f3064c19091d00342792fd84",
        "request": {
          "headers": [
          ],
          "met[...]
