{
  "log": {
    "_recordingName": "Service Level Objectives/Get Corrections For an SLO returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "54232c60c0d02865a8eebbb1cbe39bc7",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"Test-Get_Corrections_For_an_SLO_returns_OK_response-1637754546\",\"query\":{\"denominator\":\"sum:httpservice.hits{!code:3xx}.as_count()\",\"numerator\":\"sum:httpservice.hits{code:2xx}.as_count()\"},\"thresholds\":[{\"target\":95,\"timeframe\":\"7d\",\"warning\":98}],\"type\":\"metric\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/slo"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 577,
            "text": "{\"data\":[{\"description\":\"\",\"monitor_tags\":[],\"creator\":{\"handle\":\"frog@datadoghq.com\",\"name\":null,\"email\":\"frog@datadoghq.com\"},\"thresholds\":[{\"warning\":98.0,\"warning_display\":\"98.\",\"target\":95.0,\"target_display\":\"95.\",\"timeframe\":\"7d\"}],\"type_id\":1,\"query\":{\"denominator\":\"sum:httpservice.hits{!code:3xx}.as_count()\",\"numerator\":\"sum:httpservice.hits{code:2xx}.as_count()\"},\"id\":\"8eddf59c3200549583476fdb9d16fe1f\",\"name\":\"Test-Get_Corrections_For_an_SLO_returns_OK_response-1637754546\",\"created_at\":1637754546,\"tags\":[],\"modified_at\":1637754546,\"type\":\"metric\"}],\"error\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 115
      },
      {
        "_id": "0da82b9fccef1471e9b8ffd6a199804f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"category\":\"Other\",\"description\":\"Test Correction\",\"end\":1637758146,\"slo_id\":\"8eddf59c3200549583476fdb9d16fe1f\",\"start\":1637754546,\"timezone\":\"UTC\"},\"type\":\"correction\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/slo/correction"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 621,
            "text": "{\"data\":{\"type\":\"correction\",\"id\":\"87325b5c-4d1c-11ec-a541-da7ad0900002\",\"attributes\":{\"slo_id\":\"8eddf59c3200549583476fdb9d16fe1f\",\"start\":1637754546,\"end\":1637758146,\"description\":\"Test Correction\",\"category\":\"Other\",\"timezone\":\"UTC\",\"created_at\":null,\"modified_at\":null,\"rrule\":null,\"duration\":null,\"creator\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"attributes\":{\"uuid\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"handle\":\"frog@datadoghq.com\",\"email\":\"frog@datadoghq.com\",\"name\":null,\"icon\":\"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro\"}}},\"modifier\":null}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 107
      },
      {
        "_id": "93fcc7f6d4f1a8ae2ff116fffda84a2b",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/slo/8eddf59c3200549583476fdb9d16fe1f/corrections"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1148,
            "text": "{\"meta\":{\"pagination\":{\"type\":\"offset_limit\",\"prev_offset\":0,\"next_offset\":10,\"offset\":0,\"limit\":10,\"total\":1,\"first_offset\":0,\"last_offset\":0}},\"data\":[{\"type\":\"correction\",\"id\":\"87325b5c-4d1c-11ec-a541-da7ad0900002\",\"attributes\":{\"slo_id\":\"8eddf59c3200549583476fdb9d16fe1f\",\"start\":1637754546,\"end\":1637758146,\"description\":\"Test Correction\",\"category\":\"Other\",\"timezone\":\"UTC\",\"created_at\":1637754546,\"modified_at\":1637754546,\"rrule\":null,\"duration\":null,\"creator\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"attributes\":{\"uuid\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"handle\":\"frog@datadoghq.com\",\"email\":\"frog@datadoghq.com\",\"name\":null,\"icon\":\"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro\"}}},\"modifier\":null}}],\"links\":{\"next\":\"https://api.datadoghq.com/api/v1/slo/8eddf59c3200549583476fdb9d16fe1f/corrections?page[offset]=10&page[limit]=10\",\"self\":\"https://api.datadoghq.com/api/v1/slo/8eddf59c3200549583476fdb9d16fe1f/corrections\",\"prev\":null,\"last\":null,\"first\":\"https://api.datadoghq.com/api/v1/slo/8eddf59c3200549583476fdb9d16fe1f/corrections?page[offset]=0&page[limit]=10\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 78
      },
      {
        "_id": "7c0dcb958b4d419b6f8f94dd1f24ec91",
        "request": {
          "headers": [
          ],
          "meth[...]
