{
  "log": {
    "_recordingName": "APM Retention Filters/Update a retention filters returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "b24042788cc9cba4e3eb03a7fdff0697",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"enabled\":true,\"filter\":{\"query\":\"@_top_level:1 test:service-demo\"},\"filter_type\":\"spans-sampling-processor\",\"name\":\"demo retention filter\",\"rate\":0.9},\"type\":\"apm_retention_filter\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/apm/config/retention-filters"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 371,
            "text": "{\"data\":{\"id\":\"CDqOdN7wRGahYAPVsdAvfw\",\"attributes\":{\"name\":\"demo retention filter\",\"rate\":0.9,\"enabled\":true,\"filter_type\":\"spans-sampling-processor\",\"filter\":{\"query\":\"@_top_level:1 test:service-demo\"},\"modified_by\":\"frog@datadoghq.com\",\"modified_at\":1695118296,\"created_by\":\"frog@datadoghq.com\",\"created_at\":1695118296,\"editable\":true},\"type\":\"apm_retention_filter\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 118
      },
      {
        "_id": "6b8aa8398538d2454c3e1c757d13d9d2",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"enabled\":true,\"filter\":{\"query\":\"@_top_level:1 te[...]
