{
  "log": {
    "_recordingName": "Security Monitoring/Get a suppression rule returns \"Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "08d769be993b3d19a72044ec50369ce1",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions/this-does-not-exist"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 25,
            "text": "{\"errors\":[\"Not found\"]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 303
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
