{
  "log": {
    "_recordingName": "On-Call/Get on-call escalation policy returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "b22f90f9588da34ec21fe79fd93234e0",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Get_on_call_escalation_policy_returns_OK_response-1745464630@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 703,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"9c0e2ae7-20ba-11f0-93bd-fe1e9003413a\",\"attributes\":{\"name\":null,\"handle\":\"test-get_on_call_escalation_policy_returns_ok_response-1745464630@datadoghq.com\",\"created_at\":\"2025-04-24T03:17:10.266577+00:00\",\"modified_at\":\"2025-04-24T03:17:10.266577+00:00\",\"email\":\"test-get_on_call_escalation_policy_returns_ok_response-1745464630@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/c4a99cbd483f4f0f486bb7a3892860c2?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 255
      },
      {
        "_id": "4320f9faa6c733016ac215a1d8efd954",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"test-handle-c43638d5a0d7eb06\",\"name\":\"test-name-c43638d5a0d7eb06\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 635,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"69ebc6fd-3f33-4944-9d0d-c81584ef7c51\",\"attributes\":{\"name\":\"test-name-c43638d5a0d7eb06\",\"handle\":\"test-handle-c43638d5a0d7eb06\",\"summary\":null,\"description\":null,\"avatar\":null,\"banner\":0,\"visible_modules\":[],\"hidden_modules\":[],\"created_at\":\"2025-04-24T03:17:10.499509+00:00\",\"modified_at\":\"2025-04-24T03:17:10.499518+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/69ebc6fd-3f33-4944-9d0d-c81584ef7c51/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/69ebc6fd-3f33-4944-9d0d-c81584ef7c51/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 295
      },
      {
        "_id": "d4097440eeda0337df0d9f35f316a43f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"layers\":[{\"effective_date\":\"2025-04-14T03:17:10.072Z\",\"end_date\":\"2025-05-04T03:17:10.072Z\",\"interval\":{\"days\":1},\"members\":[{\"user\":{\"id\":\"890f29d4-0b7a-11f0-aeb2-760fcae4f596\"}}],\"name\":\"Layer 1\",\"restrictions\":[{\"end_day\":\"friday\",\"end_time\":\"17:00:00\",\"start_day\":\"monday\",\"start_time\":\"09:00:00\"}],\"rotation_start\":\"2025-04-19T03:17:10.072Z\"}],\"name\":\"Test-Get_on_call_escalation_policy_returns_OK_response-1745464630\",\"tags\":[\"tag1\",\"tag2\"],\"time_zone\":\"America/New_York\"},\"relationships\":{\"teams\":{\"data\":[{\"id\":\"65aea9d0-941c-4607-bf8a-14fc0dac2820\",\"type\":\"teams\"}]}},\"type\":\"schedules\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/on-call/schedules"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 397,
            "text": "{\"data\":{\"id\":\"7aac310e-2db6-4285-92cc-7352cceab519\",\"type\":\"schedules\",\"attributes\":{\"name\":\"Test-Get_on_call[...]
