{
  "log": {
    "_recordingName": "On-Call/Get on-call escalation policy returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "553275b1aa860c6abd422df13dcef6ef",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Get_on_call_escalation_policy_returns_OK_response-1744876150@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 703,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"72cd3ee2-1b60-11f0-9652-d6bc07db26a7\",\"attributes\":{\"name\":null,\"handle\":\"test-get_on_call_escalation_policy_returns_ok_response-1744876150@datadoghq.com\",\"created_at\":\"2025-04-17T07:49:10.534965+00:00\",\"modified_at\":\"2025-04-17T07:49:10.534965+00:00\",\"email\":\"test-get_on_call_escalation_policy_returns_ok_response-1744876150@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/f44e130eee69a7969c0e97f6d21438fe?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 403
      },
      {
        "_id": "a8f169993a1480a636358ec8fe1e90ab",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"test-handle-8f2970024dd922f6\",\"name\":\"test-name-8f2970024dd922f6\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 635,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"bc0ff9ec-c3fc-462b-94f3-52d675e25347\",\"attributes\":{\"name\":\"test-name-8f2970024dd922f6\",\"handle\":\"test-handle-8f2970024dd922f6\",\"summary\":null,\"description\":null,\"avatar\":null,\"banner\":2,\"visible_modules\":[],\"hidden_modules\":[],\"created_at\":\"2025-04-17T07:49:10.919838+00:00\",\"modified_at\":\"2025-04-17T07:49:10.919844+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/bc0ff9ec-c3fc-462b-94f3-52d675e25347/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/bc0ff9ec-c3fc-462b-94f3-52d675e25347/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 452
      },
      {
        "_id": "68704b1bfd1c93b4cf5208d8591909c2",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"layers\":[{\"effective_date\":\"2025-04-07T07:49:10.212Z\",\"end_date\":\"2025-04-27T07:49:10.212Z\",\"interval\":{\"days\":1},\"members\":[{\"user\":{\"id\":\"890f29d4-0b7a-11f0-aeb2-760fcae4f596\"}}],\"name\":\"Layer 1\",\"restrictions\":[{\"end_day\":\"friday\",\"end_time\":\"17:00:00\",\"start_day\":\"monday\",\"start_time\":\"09:00:00\"}],\"rotation_start\":\"2025-04-12T07:49:10.212Z\"}],\"name\":\"Test-Get_on_call_escalation_policy_returns_OK_response-1744876150\",\"tags\":[\"tag1\",\"tag2\"],\"time_zone\":\"America/New_York\"},\"relationships\":{\"teams\":{\"data\":[{\"id\":\"65aea9d0-941c-4607-bf8a-14fc0dac2820\",\"type\":\"teams\"}]}},\"type\":\"schedules\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/on-call/schedules"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 397,
            "text": "{\"data\":{\"id\":\"2c8318c3-0d6f-49d1-ba49-3440116eacd4\",\"type\":\"schedules\",\"attributes\":{\"name\":\"Test-Get_on_call[...]
