{
  "log": {
    "_recordingName": "Users/Get a user returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "3dce07f96a71643461a39c83beec2682",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Get_a_user_returns_OK_response-1618232090@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 664,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"44f61afc-9b8e-11eb-9d40-da7ad0900002\",\"attributes\":{\"name\":null,\"handle\":\"test-get_a_user_returns_ok_response-1618232090@datadoghq.com\",\"created_at\":\"2021-04-12T12:54:50.956319+00:00\",\"modified_at\":\"2021-04-12T12:54:50.989888+00:00\",\"email\":\"test-get_a_user_returns_ok_response-1618232090@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/10525aab4edaf974ff0095bafa9aa42b?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.4288583"
            },
            {
              "name": "x-dd-debug",
              "value": "gYZcaADwbKcv7Hm19HJx6WsLoKuOijDWAt2viPeCfWqUgyKY+9e1xZdmMJeXV3YV"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 460,
      },
      {
        "_id": "033723725a92831a042fab614514d090",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users/44f61afc-9b8e-11eb-9d40-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 816,
            "text": "[\"1f8b0800000000000003a552cd6edb300c7e9541875d6625b222c79681a27b841d762[...]
