{
  "log": {
    "_recordingName": "Users/Get a user returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "1c762246370545a48f01f5911193e0ed",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Typescript-Get_a_user_returns_OK_response-1617271887.015@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 684,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"9f1950e0-92d2-11eb-9c02-da7ad0900002\",\"attributes\":{\"name\":null,\"handle\":\"typescript-get_a_user_returns_ok_response-1617271887.015@datadoghq.com\",\"created_at\":\"2021-04-01T10:11:27.494008+00:00\",\"modified_at\":\"2021-04-01T10:11:27.526467+00:00\",\"email\":\"typescript-get_a_user_returns_ok_response-1617271887.015@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/958b37a9d84765931eeb2db52f9600eb?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.4216820"
            },
            {
              "name": "x-dd-debug",
              "value": "25u1gDlL724DHllbjFT4BhOLorBTilh+aah2uWAUEjFC/+rjczJdiyWrV/HwLwe/"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 458,
      },
      {
        "_id": "5b98ececbbb337a30f8d512c5276ec3b",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users/9f1950e0-92d2-11eb-9c02-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 836,
            "text": "[\"1f8b0800000000000003ad52c16edb300cfd9541875d162594625b968162fb841d762[...]
