{
  "log": {
    "_recordingName": "Users/Get a user returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "65f23f75f61c2217b31ed9984a634e7b",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Get_a_user_returns_OK_response-1618125654@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 664,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"741c2b26-9a96-11eb-9d13-da7ad0900002\",\"attributes\":{\"name\":null,\"handle\":\"test-get_a_user_returns_ok_response-1618125654@datadoghq.com\",\"created_at\":\"2021-04-11T07:20:54.869898+00:00\",\"modified_at\":\"2021-04-11T07:20:54.903322+00:00\",\"email\":\"test-get_a_user_returns_ok_response-1618125654@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/f97aa06716c9b925540df63279e6d854?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.4281284"
            },
            {
              "name": "x-dd-debug",
              "value": "dPySkcOzIZtKyMKDAAzuysY3gNGGj6RtYogGuSb76E8mPvoqzREyRp6lPYm91hQU"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 372,
      },
      {
        "_id": "092274332fe1bd417df947aeab6afc16",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users/741c2b26-9a96-11eb-9d13-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 822,
            "text": "[\"1f8b0800000000000003a552cd6edb300c7e9541875d6625b2625b9681a27d841d762[...]
