{
  "log": {
    "_recordingName": "Users/Get a user returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "7a1cab23812445cc1f14313f9b1835c6",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Typescript-Get_a_user_returns_OK_response-1613666659.8@datadoghq.com\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 623,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"8c162d50-7208-11eb-9437-da7ad0900002\",\"attributes\":{\"name\":null,\"handle\":\"typescript-get_a_user_returns_ok_response-1613666659.8@datadoghq.com\",\"created_at\":\"2021-02-18T16:44:20.049213+00:00\",\"email\":\"typescript-get_a_user_returns_ok_response-1613666659.8@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/dd056576f932c7fc44d1647db9d2ec5a?s=48&d=retro\",\"title\":null,\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.3935655"
            },
            {
              "name": "x-dd-debug",
              "value": "LcgNasIYBRkNppmD6mCKE9J6iv0eEjosuuHR5V5zw2fWbR54i39C8dhdK8zDq/40"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 396,
      },
      {
        "_id": "0fd5dfde297d4abf86a38db4cda5f1f7",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users/8c162d50-7208-11eb-9437-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 792,
            "text": "[\"1f8b0800000000000003ad52cb8edc2010fc170eb96498018c9fd22af9841c725bada[...]
