{
  "log": {
    "_recordingName": "Users/Get a user returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "8bd3d69afc640a6b86f71a956eceb05d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Typescript-Get_a_user_returns_OK_response-1617202452.575@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 684,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"f4e0f098-9230-11eb-9bd3-da7ad0900002\",\"attributes\":{\"name\":null,\"handle\":\"typescript-get_a_user_returns_ok_response-1617202452.575@datadoghq.com\",\"created_at\":\"2021-03-31T14:54:12.938824+00:00\",\"modified_at\":\"2021-03-31T14:54:12.970534+00:00\",\"email\":\"typescript-get_a_user_returns_ok_response-1617202452.575@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/0a9c6d4fa0ecd713d5aeb60f0183ac12?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.4209519"
            },
            {
              "name": "x-dd-debug",
              "value": "25u1gDlL724DHllbjFT4BhOLorBTilh+aah2uWAUEjFC/+rjczJdiyWrV/HwLwe/"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 463,
      },
      {
        "_id": "b302cfc7f1b39eceba9e5b91cfe0f2e3",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users/f4e0f098-9230-11eb-9bd3-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 832,
            "text": "[\"1f8b0800000000000003ad52cb8edc2010fc9588432e3133e0c7f821ad369f90436ea[...]
