{
  "log": {
    "_recordingName": "Users/Get a user returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "2343368658ce12c57228d25b517ba550",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Typescript-Get_a_user_returns_OK_response-1613750703.48@datadoghq.com\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 625,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"3a0cc3c4-72cc-11eb-9468-da7ad0900002\",\"attributes\":{\"name\":null,\"handle\":\"typescript-get_a_user_returns_ok_response-1613750703.48@datadoghq.com\",\"created_at\":\"2021-02-19T16:05:03.772603+00:00\",\"email\":\"typescript-get_a_user_returns_ok_response-1613750703.48@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/3432105d1de4a6a808d63c11416364ec?s=48&d=retro\",\"title\":null,\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.3944440"
            },
            {
              "name": "x-dd-debug",
              "value": "2328yjLSqI4XmR1pVqrPRR/SFcQsbafjEpPmZx7/3PfxUK1nJQQsX+wrMelyVyj+"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 426,
      },
      {
        "_id": "12b768189ebd997379efff1514aa343c",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users/3a0cc3c4-72cc-11eb-9468-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 794,
            "text": "[\"1f8b0800000000000003ad52c18edc200cfd170ebd749881404226d26afb093df4b65[...]
