{
  "log": {
    "_recordingName": "Users/Get a user returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "c40b2b87362290cf48a810845dcfb1c4",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Typescript-Get_a_user_returns_OK_response-1613653967.753@datadoghq.com\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 627,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"ff0ba39e-71ea-11eb-941f-da7ad0900002\",\"attributes\":{\"name\":null,\"handle\":\"typescript-get_a_user_returns_ok_response-1613653967.753@datadoghq.com\",\"created_at\":\"2021-02-18T13:12:48.015996+00:00\",\"email\":\"typescript-get_a_user_returns_ok_response-1613653967.753@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/00769c5f365478b8bfdfdbb8b0df06cc?s=48&d=retro\",\"title\":null,\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.3933218"
            },
            {
              "name": "x-dd-debug",
              "value": "dPySkcOzIZtKyMKDAAzuysY3gNGGj6RtYogGuSb76E8mPvoqzREyRp6lPYm91hQU"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 389,
      },
      {
        "_id": "d0023668d054843900b4a00b0079b838",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users/ff0ba39e-71ea-11eb-941f-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 798,
            "text": "[\"1f8b0800000000000003ad524d6fdc2010fd2f1c7ae9b20bfec2b614353f2187dea2c[...]
