{
  "log": {
    "_recordingName": "Users/Get a user returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "a840c22d0e630dda09daa51322628ab5",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Get_a_user_returns_OK_response-1641829910@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 664,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"3975659a-722d-11ec-b5d7-da7ad0900002\",\"attributes\":{\"name\":null,\"handle\":\"test-get_a_user_returns_ok_response-1641829910@datadoghq.com\",\"created_at\":\"2022-01-10T15:51:50.471355+00:00\",\"modified_at\":\"2022-01-10T15:51:50.525096+00:00\",\"email\":\"test-get_a_user_returns_ok_response-1641829910@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/0a2e2d44656cd982c2e22cf60bd25b02?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 450
      },
      {
        "_id": "0eec5ca56e0baa96a6f98fa26e3efa9d",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users/3975659a-722d-11ec-b5d7-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 664,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"3975659a-722d-11ec-b5d7-da7ad09000[...]
