{
  "log": {
    "_recordingName": "Users/Get a user returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "266e30309eb3325f981726ca2b30767e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Typescript-Get_a_user_returns_OK_response-1617204562@datadoghq.com\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 668,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"de35b0a4-9235-11eb-9bd3-da7ad0900002\",\"attributes\":{\"name\":null,\"handle\":\"typescript-get_a_user_returns_ok_response-1617204562@datadoghq.com\",\"created_at\":\"2021-03-31T15:29:22.389528+00:00\",\"modified_at\":\"2021-03-31T15:29:22.409501+00:00\",\"email\":\"typescript-get_a_user_returns_ok_response-1617204562@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/ed5241f0640403d6dbab1991dde74f11?s=48&d=retro\",\"title\":null,\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.4209519"
            },
            {
              "name": "x-dd-debug",
              "value": "Wjq53IVIwnB4SiR238oOYgHFMq/ZYP0LQ/Dv8C2fFLBwTje/dWJHu6pI6vIOK1zG"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 483,
      },
      {
        "_id": "b6220e24bb863b0d08b5036b6232cb19",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users/de35b0a4-9235-11eb-9bd3-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 820,
            "text": "[\"1f8b0800000000000003ad52c16edb300cfd171d76599448b21dc7068af51376d8ad2[...]
