{
  "log": {
    "_recordingName": "Users/Get a user returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "673818ac6880921dd1a713f0277d5539",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Get_a_user_returns_OK_response-1652349221@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 664,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"67acec56-d1d9-11ec-ad3d-da7ad0900002\",\"attributes\":{\"name\":null,\"handle\":\"test-get_a_user_returns_ok_response-1652349221@datadoghq.com\",\"created_at\":\"2022-05-12T09:53:41.912395+00:00\",\"modified_at\":\"2022-05-12T09:53:41.957201+00:00\",\"email\":\"test-get_a_user_returns_ok_response-1652349221@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/5db040285d603412d82292f9fdac151c?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 493
      },
      {
        "_id": "d840ff5a689c05853b33918bfd4ed3d0",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users/67acec56-d1d9-11ec-ad3d-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 664,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"67acec56-d1d9-11ec-ad3d-da7ad09000[...]
