{
  "log": {
    "_recordingName": "On-Call/Create On-Call escalation policy returns \"Created\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "6527219952a205e7f1e0bfc448832a3f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"layers\":[{\"effective_date\":\"2025-05-12T07:28:52.187Z\",\"end_date\":\"2025-06-01T07:28:52.187Z\",\"interval\":{\"days\":1},\"members\":[{\"user\":{\"id\":\"890f29d4-0b7a-11f0-aeb2-760fcae4f596\"}}],\"name\":\"Layer 1\",\"restrictions\":[{\"end_day\":\"friday\",\"end_time\":\"17:00:00\",\"start_day\":\"monday\",\"start_time\":\"09:00:00\"}],\"rotation_start\":\"2025-05-17T07:28:52.187Z\"}],\"name\":\"Test-Create_On_Call_escalation_policy_returns_Created_response-1747898932\",\"time_zone\":\"America/New_York\"},\"relationships\":{\"teams\":{\"data\":[{\"id\":\"65aea9d0-941c-4607-bf8a-14fc0dac2820\",\"type\":\"teams\"}]}},\"type\":\"schedules\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/on-call/schedules"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 394,
            "text": "{\"data\":{\"id\":\"b1732c80-9bb6-47e6-878d-9e672e4148a6\",\"type\":\"schedules\",\"attributes\":{\"name\":\"Test-Create_On_Call_escalation_policy_returns_Created_response-1747898932\",\"time_zone\":\"America/New_York\"},\"relationships\":{\"layers\":{\"data\":[{\"id\":\"98d7c183-739e-4ef5-ae40-27e7612bf939\",\"type\":\"layers\"}]},\"teams\":{\"data\":[{\"id\":\"65aea9d0-941c-4607-bf8a-14fc0dac2820\",\"type\":\"teams\"}]}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 365
      },
      {
        "_id": "a267d2d6a47889d2c56eb9114dcc313c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"test-handle-af3e241f3f3acc33\",\"name\":\"test-name-af3e241f3f3acc33\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 636,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"403df2c1-7163-494a-8f34-6b73a2e51893\",\"attributes\":{\"name\":\"test-name-af3e241f3f3acc33\",\"handle\":\"test-handle-af3e241f3f3acc33\",\"summary\":null,\"description\":null,\"avatar\":null,\"banner\":13,\"visible_modules\":[],\"hidden_modules\":[],\"created_at\":\"2025-05-22T07:28:53.300763+00:00\",\"modified_at\":\"2025-05-22T07:28:53.300772+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/403df2c1-7163-494a-8f34-6b73a2e51893/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/403df2c1-7163-494a-8f34-6b73a2e51893/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 443
      },
      {
        "_id": "478faaf10e013d125fb40643244ad165",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Create_On_Call_escalation_policy_returns_Created_response-1747898932@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 719,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"6a0710e3-36de-11f0-b303-0a167fbfaaab\",\"attributes\":{\"name\":null,\"handle\":\"test-create_on_call_escalation_policy_returns_created_response-1747898932@datadoghq.com\",\"created_at\":\"2025-05-22T07:28:53.797325+00:00\",\"modified_at\":\"2025-05-22T07:28:53.797325+00:00\",\"email\":\"test-create_on_call_escalation_policy_returns_created_response-1747898932@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/004cc14226c3e9b0e2d890d1cf40991a?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 416
      },
      {
        "_id": "6c622326aa52285edd84993561bd5ff8",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Create_On_Call_escalation_policy_returns_Created_response-1747898932\",\"resolve_page_on_policy_end\":true,\"retries\":2,\"steps\":[{\"assignment\":\"default\",\"escalate_after_seconds\":3600,\"targets\":[{\"id\":\"6a0710e3-36de-11f0-b303-0a167fbfaaab\",\"type\":\"users\"},{\"id\":\"b1732c80-9bb6-47e6-878d-9e672e4148a6\",\"type\":\"schedules\"},{\"id\":\"403df2c1-7163-494a-8f34-6b73a2e51893\",\"type\":\"teams\"}]},{\"assignment\":\"round-robin\",\"escalate_after_seconds\":3600,\"targets\":[{\"id\":\"403df2c1-7163-494a-8f34-6b73a2e51893\",\"type\":\"teams\"}]}]},\"relationships\":{\"teams\":{\"data\":[{\"id\":\"403df2c1-7163-494a-8f34-6b73a2e51893\",\"type\":\"teams\"}]}},\"type\":\"policies\"}}"
          },
          "queryString": [
            {
              "name": "include",
              "value": "steps.targets"
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/on-call/escalation-policies?include=steps.targets"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 1843,
            "text": "{\"data\":{\"id\":\"7c3eb6f9-15e8-4709-a2f9-21897597d44b\",\"type\":\"policies\",\"attributes\":{\"name\":\"Test-Create_On_Call_escalation_policy_returns_Created_response-1747898932\",\"resolve_page_on_policy_end\":true,\"retries\":2},\"relationships\":{\"steps\":{\"data\":[{\"id\":\"896e047c-2219-467b-a1ba-897ec456044e\",\"type\":\"steps\"},{\"id\":\"b405cc13-e555-4465-bb3f-7facb8ff8b4b\",\"type\":\"steps\"}]},\"teams\":{\"data\":[{\"id\":\"403df2c1-7163-494a-8f34-6b73a2e51893\",\"type\":\"teams\"}]}}},\"included\":[{\"id\":\"896e047c-2219-467b-a1ba-897ec456044e\",\"type\":\"steps\",\"attributes\":{\"assignment\":\"default\",\"escalate_after_seconds\":3600},\"relationships\":{\"targets\":{\"data\":[{\"id\":\"6a0710e3-36de-11f0-b303-0a167fbfaaab\",\"type\":\"users\"},{\"id\":\"b1732c80-9bb6-47e6-878d-9e672e4148a6\",\"type\":\"schedules\"},{\"id\":\"403df2c1-7163-494a-8f34-6b73a2e51893\",\"type\":\"teams\"}]}}},{\"id\":\"b405cc13-e555-4465-bb3f-7facb8ff8b4b\",\"type\":\"steps\",\"attributes\":{\"assignment\"[...]
