{
  "log": {
    "_recordingName": "On-Call/Create On-Call escalation policy returns \"Created\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "c8e2a80f86f5a1f5d3066ae4cc88d177",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Create_On_Call_escalation_policy_returns_Created_response-1748494410@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 719,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"de86b01f-3c48-11f0-927d-aedf77869272\",\"attributes\":{\"name\":null,\"handle\":\"test-create_on_call_escalation_policy_returns_created_response-1748494410@datadoghq.com\",\"created_at\":\"2025-05-29T04:53:31.716641+00:00\",\"modified_at\":\"2025-05-29T04:53:31.716641+00:00\",\"email\":\"test-create_on_call_escalation_policy_returns_created_response-1748494410@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/bd817280fe52b9652bd2877bf9041f78?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 952
      },
      {
        "_id": "f2f49a8d5bce77b13bdeb727ba9817e5",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"layers\":[{\"effective_date\":\"2025-05-19T04:53:30.847Z\",\"end_date\":\"2025-06-08T04:53:30.847Z\",\"interval\":{\"days\":1},\"members\":[{\"user\":{\"id\":\"de86b01f-3c48-11f0-927d-aedf77869272\"}}],\"name\":\"Layer 1\",\"restrictions\":[{\"end_day\":\"friday\",\"end_time\":\"17:00:00\",\"start_day\":\"monday\",\"start_time\":\"09:00:00\"}],\"rotation_start\":\"2025-05-24T04:53:30.847Z\"}],\"name\":\"Test-Create_On_Call_escalation_policy_returns_Created_response-1748494410\",\"time_zone\":\"America/New_York\"},\"relationships\":{\"teams\":{\"data\":[{\"id\":\"65aea9d0-941c-4607-bf8a-14fc0dac2820\",\"type\":\"teams\"}]}},\"type\":\"schedules\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/on-call/schedules"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 382,
            "text": "{\"data\":{\"id\":\"2e70ff45-cb63-4609-900b-cc9fe95e063b\",\"type\":\"schedules\",\"attributes\":{\"name\":\"Test-Create_On_C[...]
