{
  "log": {
    "_recordingName": "On-Call/Create On-Call escalation policy returns \"Created\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "70cce4e1d82fe64a1577d4b93d9b1b65",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Create_On_Call_escalation_policy_returns_Created_response-1764334736@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 742,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"005f5c53-cc5a-11f0-84fc-d6e063989c3f\",\"attributes\":{\"name\":null,\"handle\":\"test-create_on_call_escalation_policy_returns_created_response-1764334736@datadoghq.com\",\"created_at\":\"2025-11-28T12:58:57.385841+00:00\",\"modified_at\":\"2025-11-28T12:58:57.385841+00:00\",\"email\":\"test-create_on_call_escalation_policy_returns_created_response-1764334736@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/990f6066d8c3647475a637255f95cc7f?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\",\"last_login_time\":null},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 379
      },
      {
        "_id": "1882ee498e62df3f0c86d677e35aaee6",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"layers\":[{\"effective_date\":\"2025-11-18T12:58:56.434Z\",\"end_date\":\"2025-12-08T12:58:56.434Z\",\"interval\":{\"days\":1},\"members\":[{\"user\":{\"id\":\"005f5c53-cc5a-11f0-84fc-d6e063989c3f\"}}],\"name\":\"Layer 1\",\"restrictions\":[{\"end_day\":\"friday\",\"end_time\":\"17:00:00\",\"start_day\":\"monday\",\"start_time\":\"09:00:00\"}],\"rotation_start\":\"2025-11-23T12:58:56.434Z\"}],\"name\":\"Test-Create_On_Call_escalation_policy_returns_Created_response-1764334736\",\"time_zone\":\"America/New_York\"},\"relationships\":{\"teams\":{\"data\":[{\"id\":\"65aea9d0-941c-4607-bf8a-14fc0dac2820\",\"type\":\"teams\"}]}},\"type\":\"schedules\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/on-call/schedules"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 382,
            "text": "{\"data\":{\"id\":\"c6a8f167-908f-4ca5-ba30-a33a00adfe11\",\"type\":\"schedules\",\"attributes\":{\"name\":\"Test-Create_On_C[...]
