{
  "log": {
    "_recordingName": "Network Device Monitoring/Get the device details returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "a963d317d480391173a8633e23dcd6c7",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/ndm/devices/default_device"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 593,
            "text": "{\"data\":{\"id\":\"default_device\",\"type\":\"device\",\"attributes\":{\"description\":\"a device monitored with NDM\",\"device_type\":\"other\",\"ip_address\":\"1.2.3.4\",\"location\":\"paris\",\"model\":\"xx-123\",\"name\":\"example device\",\"os_name\":\"example OS\",\"os_version\":\"1.0.2\",\"ping_status\":\"unmonitored\",\"product_name\":\"example device\",\"serial_number\":\"X12345\",\"status\":\"ok\",\"sys_object_id\":\"1.3.6.1.4.1.99999\",\"tags\":[\"device_ip:1.2.3.4\",\"device_id:default_device\"]}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 292
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
