{
  "log": {
    "_recordingName": "Security Monitoring/Create case for security findings returns \"Created\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "73b6d808e35a8d8fed798076a97f5329",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":[{\"attributes\":{\"description\":\"A description\",\"title\":\"A title\"},\"relationships\":{\"findings\":{\"data\":[{\"id\":\"ZTd5LWNuYi1seWV-aS0wMjI2NGZjZjRmZWQ5ODMyMg==\",\"type\":\"findings\"},{\"id\":\"c2FuLXhyaS1kZnN-aS0wODM3MjVhMTM2MDExNzNkOQ==\",\"type\":\"findings\"}]},\"project\":{\"data\":{\"id\":\"959a6f71-bac8-4027-b1d3-2264f569296f\",\"type\":\"projects\"}}},\"type\":\"cases\"}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/security/findings/cases"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 1092,
            "text": "{\"data\":[{\"id\":\"6e5599c0-181f-4066-a44d-056bedafd639\",\"type\":\"cases\",\"attributes\":{\"created_at\":\"2025-12-12T14:49:06.574693Z\",\"creation_source\":\"CS_SECURITY_FINDING\",\"description\":\"A description\",\"insights\":[{\"type\":\"SECURITY_FINDING\",\"ref\":\"/security/compliance?panels=cpfinding%7Cevent%7CruleId%3Ae7y-cnb-lye%7CresourceId%3Ai-02264fcf4fed98322\\u0026query=%40finding_id%3AZTd5LWNuYi1seWV-aS0wMjI2NGZjZjRmZWQ5ODMyMg%3D%3D\",\"resource_id\":\"ZTd5LWNuYi1seWV-aS0wMjI2NGZjZjRmZWQ5ODMyMg==\"},{\"type\":\"SECURITY_FINDING\",\"ref\":\"/security/compliance?panels=cpfinding%7Cevent%7CruleId%3Asan-xri-dfs%7CresourceId%3Ai-083725a13601173d9\\u0026query=%40finding_id%3Ac2FuLXhyaS1kZnN-aS0wODM3MjVhMTM2MDExNzNkOQ%3D%3D\",\"resource_id\":\"c2FuLXhyaS1kZnN-aS0wODM3MjVhMTM2MDExNzNkOQ==\"}],\"key\":\"CSMINV-509\",\"priority\":\"NOT_DEFINED\",\"status\":\"OPEN\",\"status_group\":\"SG_OPEN\",\"status_name\":\"Open\",\"title\":\"A title\",\"type\":\"SECURITY\"},\"relationships\":{\"created_by\":{\"data\":{\"id\":\"dc09afab-6ae7-11ef-92b1-828dac1b0195\",\"type\":\"users\"}},\"project\":{\"data\":{\"id\":\"959a6f71-bac8-4027-b1d3-2264f569296f\",\"type\":\"projects\"}}}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 1688
      },
      {
        "_id": "5528679e61b2527f967c5a82bded9768",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "DELETE",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"relationships\":{\"findings\":{\"data\":[{\"id\":\"ZTd5LWNuYi1seWV-aS0wMjI2NGZjZjRmZWQ5ODMyMg==\",\"type\":\"findings\"}]}},\"type\":\"cases\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/security/findings/cases"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 1066
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
