{
  "log": {
    "_recordingName": "Logs Custom Destinations/List custom destinations with no items returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "c1d75f1be2968234c33d1d7bdb1a12fa",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/config/custom_destinations"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 49,
            "text": "{\"data\":[],\"meta\":{\"customDestinationsLimit\":3}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 370
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
