{
  "log": {
    "_recordingName": "Execution Policy/List execution policies with query parameters returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ffc7f720d345ee96c3549d477e6b9929",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"action_pattern\":{\"action_fqns\":[\"com.datadoghq.script.*\"],\"integration\":\"INTEGRATION_SCRIPT\"},\"effect\":\"allow\",\"name\":\"Cassette Execution Policy testlistexecutionpolicieswithqueryparametersreturnsokresponse1786698824\"},\"type\":\"execution_policy\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/actions/execution-policies"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 515,
            "text": "{\"data\":{\"id\":\"6f0fbc08-9666-44fd-93da-cf1bfcff5e8f\",\"type\":\"execution_policy\",\"attributes\":{\"action_pattern\":{\"integration\":\"INTEGRATION_SCRIPT\",\"action_fqns\":[\"com.datadoghq.script.*\"]},\"created_at\":\"2026-08-14T09:13:45Z\",\"created_by\":\"262c2ca8-d93e-45bc-8d47-5c9ab7af8e6b\",\"effect\":\"allow\",\"name\":\"Cassette Execution Policy testlistexecutionpolicieswithqueryparametersreturnsokresponse1786698824\",\"targets\":[],\"updated_at\":\"2026-08-14T09:13:45Z\",\"updated_by\":\"262c2ca8-d93e-45bc-8d47-5c9ab7af8e6b\",\"version\":1}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 364
      },
      {
        "_id": "fd8fb522929d52c642035a0704825f76",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page",
              "value": {
                "number": "0",
                "size": "10"
              }
            },
            {
              "name": "filter",
              "value": {
                "creator_ids": "262c2ca8-d93e-45bc-8d47-5c9ab7af8e6b",
                "effects": "allow",
                "ids": "6f0fbc08-9666-44fd-93da-cf1bfcff5e8f",
                "integration": "INTEGRATION_SCRIPT",
                "name": "Cassette Execution Policy testlistexecutionpolicieswithqueryparametersreturnsokresponse1786698824"
              }
            },
            {
              "name": "sort",
              "value": "-created_at"
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/actions/execution-policies?page%5Bsize%5D=10&page%5Bnumber%5D=0&filter%5Bname%5D=Cassette%20Execution%20Policy%20testlistexecutionpolicieswithqueryparametersreturnsokresponse1786698824&filter%5Bids%5D=6f0fbc08-9666-44fd-93da-cf1bfcff5e8f&filter%5Bintegration%5D=INTEGRATION_SCRIPT&filter%5Beffects%5D=allow&filter%5Bcreator_ids%5D=262c2ca8-d93e-45bc-8d47-5c9ab7af8e6b&sort=-created_at"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 556,
            "text": "{\"data\":[{\"id\":\"6f0fbc08-9666-44fd-93da-cf1bfcff5e8f\",\"type\":\"execution_policy\",\"attributes\":{\"action_pattern\":{\"integration\":\"INTEGRATION_SCRIPT\",\"action_fqns\":[\"com.datadoghq.script.*\"]},\"created_at\":\"2026-08-14T09:13:45Z\",\"created_by\":\"262c2ca8-d93e-45bc-8d47-5c9ab7af8e6b\",\"effect\":\"allow\",\"name\":\"Cassette Execution Policy testlistexecutionpolicieswithqueryparametersreturnsokresponse1786698824\",\"scope\":{},\"targets\":[],\"updated_at\":\"2026-08-14T09:13:45Z\",\"updated_by\":\"262c2ca8-d93e-45bc-8d47-5c9ab7af8e6b\",\"version\":1}}],\"meta\":{\"page\":{\"total\":1}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 288
      },
      {
        "_id": "52fba4f0339e0986370aa13757985c11",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/actions/execution-policies/6f0fbc08-9666-44fd-93da-cf1bfcff5e8f"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 374
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
