{
  "log": {
    "_recordingName": "App Builder/Get Blueprints by Integration ID returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "9e893e8506a54acb5d626f03f22f79a9",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/app-builder/blueprints/integration-id/aws"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 11,
            "text": "{\"data\":[]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 514
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
