{
  "log": {
    "_recordingName": "Dashboards/Create a new dashboard with a change widget using formulas and functions slo query",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "7e54f2a99652b0038b713b66b886bc94",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"Test-Create_a_new_dashboard_with_a_change_widget_using_formulas_and_functions_slo_query-1731611528\",\"query\":{\"denominator\":\"sum:httpservice.hits{!code:3xx}.as_count()\",\"numerator\":\"sum:httpservice.hits{code:2xx}.as_count()\"},\"thresholds\":[{\"target\":95,\"timeframe\":\"7d\",\"warning\":98}],\"type\":\"metric\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/slo"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 705,
            "text": "{\"data\":[{\"id\":\"d0ead38560c15643877e9feee728bed5\",\"name\":\"Test-Create_a_new_dashboard_with_a_change_widget_using_formulas_and_functions_slo_query-1731611528\",\"tags\":[],\"monitor_tags\":[],\"thresholds\":[{\"timeframe\":\"7d\",\"target\":95.0,\"target_display\":\"95.\",\"warning\":98.0,\"warning_display\":\"98.\"}],\"type\":\"metric\",\"type_id\":1,\"description\":\"\",\"timeframe\":\"7d\",\"warning_threshold\":98,\"target_threshold\":95,\"query\":{\"denominator\":\"sum:httpservice.hits{!code:3xx}.as_count()\",\"numerator\":\"sum:httpservice.hits{code:2xx}.as_count()\"},\"creator\":{\"name\":\"Anika Maskara\",\"handle\":\"anika.maskara@datadoghq.com\",\"email\":\"anika.maskara@datadoghq.com\"},\"created_at\":1731611528,\"modified_at\":1731611528}],\"error\":null}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 140
      },
      {
        "_id": "6b4bc8330655c768c7e75d63ecde6e72",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"layout_type\":\"ordered\",\"title\":\"Test-Create_a_new_dashboard_with_a_change_widget_using_formulas_and_functions_slo_query-1731611528\",\"widgets\":[{\"definition\":{\"requests\":[{\"change_type\":\"absolute\",\"formulas\":[{\"formula\":\"hour_before(query1)\"},{\"formula\":\"query1\"}],\"increase_good\":true,\"order_by\":\"change\",\"order_dir\":\"asc\",\"queries\":[{\"additional_query_filters\":\"*\",\"data_source\":\"slo\",\"group_mode\":\"overall\",\"measure\":\"slo_status\",\"name\":\"query1\",\"slo_id\":\"d0ead38560c15643877e9feee728bed5\",\"slo_query_type\":\"metric\"}],\"response_format\":\"scalar\"}],\"time\":{},\"title\":\"\",\"title_align\":\"left\",\"title_size\":\"16\",\"type\":\"change\"},\"layout\":{\"height\":2,\"width\":4,\"x\":0,\"y\":0}}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1108,
            "text": "{\"id\":\"3cn-g4m-h9z\",\"title\":\"Test-Create_a_new_dashboard_with_a_change_widget_using_formulas_and_functions_slo_query-1731611528\",\"description\":null,\"author_handle\":\"anika.maskara@datadoghq.com\",\"author_name\":\"Anika Maskara\",\"layout_type\":\"ordered\",\"url\":\"/dashboard/3cn-g4m-h9z/test-createanewdashboardwithachangewidgetusingformulasandfunctionssloquery-17316\",\"is_read_only\":false,\"template_variables\":null,\"widgets\":[{\"definition\":{\"requests\":[{\"change_type\":\"absolute\",\"formulas\":[{\"formula\":\"hour_before(query1)\"},{\"formula\":\"query1\"}],\"increase_good\":true,\"order_by\":\"change\",\"order_dir\":\"asc\",\"queries\":[{\"additional_query_filters\":\"*\",\"data_source\":\"slo\",\"group_mode\":\"overall\",\"measure\":\"slo_status\",\"name\":\"query1\",\"slo_id\":\"d0ead38560c15643877e9feee728bed5\",\"slo_query_type\":\"metric\"}],\"response_format\":\"scalar\"}],\"time\":{},\"title\":\"\",\"title_align\":\"left\",\"title_size\":\"16\",\"type\":\"change\"},\"layout\":{\"height\":2,\"width\":4,\"x\":0,\"y\":0},\"id\":7049386512706360}],\"notify_list\":null,\"created_at\":\"2024-11-14T19:12:08.756612+00:00\",\"modified_at\":\"2024-11-14T19:12:08.756612+00:00\",\"restricted_roles\":[]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 254
      },
      {
        "_id": "18f597867c90a34a11c596d9a44673d8",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/3cn-g4m-h9z"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 39,
            "text": "{\"deleted_dashboard_id\":\"3cn-g4m-h9z\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 177
      },
      {
        "_id": "4cda4dc1c7a0d43943b0a37014aa0422",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/slo/d0ead38560c15643877e9feee728bed5"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 59,
            "text": "{\"data\":[\"d0ead38560c15643877e9feee728bed5\"],\"error\":null}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 208
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
