{
  "log": {
    "_recordingName": "Service Level Objective Corrections/Get an SLO correction for an SLO returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "195fca0a3d06e23047d134df4b7a0ed3",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"Test-Get_an_SLO_correction_for_an_SLO_returns_OK_response-1618575923\",\"query\":{\"denominator\":\"sum:httpservice.hits{!code:3xx}.as_count()\",\"numerator\":\"sum:httpservice.hits{code:2xx}.as_count()\"},\"thresholds\":[{\"target\":95,\"timeframe\":\"7d\",\"warning\":98}],\"type\":\"metric\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/slo"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 583,
            "text": "{\"data\":[{\"description\":\"\",\"monitor_tags\":[],\"creator\":{\"handle\":\"frog@datadoghq.com\",\"name\":null,\"email\":\"frog@datadoghq.com\"},\"thresholds\":[{\"warning\":98.0,\"warning_display\":\"98.\",\"target\":95.0,\"target_display\":\"95.\",\"timeframe\":\"7d\"}],\"type_id\":1,\"query\":{\"denominator\":\"sum:httpservice.hits{!code:3xx}.as_count()\",\"numerator\":\"sum:httpservice.hits{code:2xx}.as_count()\"},\"id\":\"7c41644ff361522cae220184173041c1\",\"name\":\"Test-Get_an_SLO_correction_for_an_SLO_returns_OK_response-1618575923\",\"created_at\":1618575923,\"tags\":[],\"modified_at\":1618575923,\"type\":\"metric\"}],\"error\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.4327775"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "500"
            },
            {
              "name": "x-ratelimit-period",
              "value": "60"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "37"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "499"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 423,
      },
      {
        "_id": "62809bbe13c02234a5ce7218573a7d45",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"category\":\"Other\",\"description\":\"Test Correction\",\"end\":1618579523.327,\"slo_id\":\"7c41644ff361522cae220184173041c1\",\"start\":1618575923,\"timezone\":\"UTC\"},\"type\":\"correction\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/slo/correction"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 539,
            "text": "{\"data\":{\"type\":\"correction\",\"id\":\"d17f7d6a-9eae-11eb-9e3e-da7ad0900002\",\"attributes\":{\"slo_id\":\"7c41644ff361522cae220184173041c1\",\"start\":1618575923,\"end\":1618579523,\"description\":\"Test Correction\",\"category\":\"Other\",\"timezone\":\"UTC\",\"creator\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"attributes\":{\"uuid\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"handle\":\"frog@datadoghq.com\",\"email\":\"frog@datadoghq.com\",\"name\":null,\"icon\":\"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro\"}}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.4327775"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "12000"
            },
            {
              "name": "x-ratelimit-period",[...]
