{
  "log": {
    "_recordingName": "Metrics/List tags by metric name returns \"Success\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "4306b75903a06286ad39c0c286ba79be",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"metric_type\":\"distribution\",\"tags\":[\"app\",\"datacenter\",\"TestListtagsbymetricnamereturnsSuccessresponse1618491744\"]},\"id\":\"TestListtagsbymetricnamereturnsSuccessresponse1618491744\",\"type\":\"manage_tags\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/metrics/TestListtagsbymetricnamereturnsSuccessresponse1618491744/tags"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 350,
            "text": "{\"data\":{\"type\":\"manage_tags\",\"id\":\"TestListtagsbymetricnamereturnsSuccessresponse1618491744\",\"attributes\":{\"tags\":[\"TestListtagsbymetricnamereturnsSuccessresponse1618491744\",\"app\",\"datacenter\"],\"include_percentiles\":false,\"created_at\":\"2021-04-15T13:02:25.592352+00:00\",\"updated_at\":\"2021-04-15T13:02:25.592352+00:00\",\"metric_type\":\"distribution\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.4318655"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "50"
            },
            {
              "name": "x-ratelimit-period",
              "value": "60"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "35"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "35"
            },
            {
              "name": "x-dd-debug",
              "value": "PhosSd3Ch1B6B0DXI71steKUi7XhPDttnPiIP1NdXTw0VJNWpoUnYyBmODS5ne3q"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 1343,
      },
      {
        "_id": "5c34f0dcac95909605165e19ea48cf32",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/metrics/TestListtagsbymetricnamereturnsSuccessresponse1618491744/all-tags"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 116,
            "text": "{\"data\":{\"type\":\"metrics\",\"id\":\[...]
