{
  "log": {
    "_recordingName": "Metrics/List tags by metric name returns \"Success\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "8842b129551d7455cceb62f4e0da3a4c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"metric_type\":\"distribution\",\"tags\":[\"app\",\"datacenter\",\"TestListtagsbymetricnamereturnsSuccessresponse1618232060\"]},\"id\":\"TestListtagsbymetricnamereturnsSuccessresponse1618232060\",\"type\":\"manage_tags\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/metrics/TestListtagsbymetricnamereturnsSuccessresponse1618232060/tags"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 350,
            "text": "{\"data\":{\"type\":\"manage_tags\",\"id\":\"TestListtagsbymetricnamereturnsSuccessresponse1618232060\",\"attributes\":{\"tags\":[\"datacenter\",\"app\",\"TestListtagsbymetricnamereturnsSuccessresponse1618232060\"],\"include_percentiles\":false,\"created_at\":\"2021-04-12T12:54:21.061394+00:00\",\"updated_at\":\"2021-04-12T12:54:21.061394+00:00\",\"metric_type\":\"distribution\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.4288583"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "50"
            },
            {
              "name": "x-ratelimit-period",
              "value": "60"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "39"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "35"
            },
            {
              "name": "x-dd-debug",
              "value": "2328yjLSqI4XmR1pVqrPRR/SFcQsbafjEpPmZx7/3PfxUK1nJQQsX+wrMelyVyj+"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 422,
      },
      {
        "_id": "c54fda515d6d35137475d24aed6dd9d9",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/metrics/TestListtagsbymetricnamereturnsSuccessresponse1618232060/all-tags"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 246,
            "text": "[\"1f8b080000000000000325ccbb0a84301484e1[...]
