{
  "log": {
    "_recordingName": "Confluent Cloud/Get Confluent account returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "664cac629cad7cfe034980ce3082a3e1",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"api_key\":\"TestGetConfluentaccountreturnsOKresponse1665090165\",\"api_secret\":\"test-api-secret\",\"resources\":[{\"id\":\"test-resource-id\",\"resource_type\":\"kafka\",\"tags\":[\"tag1\",\"tag2:val2\"]}],\"tags\":[\"tag1\",\"tag2:val2\"]},\"type\":\"confluent-cloud-accounts\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integrations/confluent-cloud/accounts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 261,
            "text": "{\"data\":{\"attributes\":{\"api_key\":\"TestGetConfluentaccountreturnsOKresponse1665090165\",\"resources\":[{\"id\":\"test-resource-id\",\"resource_type\":\"kafka\",\"tags\":[\"tag1\",\"tag2:val2\"]}],\"tags\":[\"tag1\",\"tag2:val2\"]},\"type\":\"confluent-cloud-accounts\",\"id\":\"d43d474jxm\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 406
      },
      {
        "_id": "e3672a639af49dfb4ff60a8a8bf2168f",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integrations/confluent-cloud/accounts/d43d474jxm"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 261,
            "text": "{\"data\":{\"attributes\":{\"api_key\":\"TestGetConfluentaccountret[...]
