{
  "log": {
    "_recordingName": "Cloud Cost Management/Update if exists, or create a new budget returns \"Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "148ba35c0db118f899fbda67881a9eec",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"end_month\":202502,\"entries\":[{\"amount\":500,\"month\":202501,\"tag_filters\":[{\"tag_key\":\"service\",\"tag_value\":\"ec2\"}]},{\"amount\":500,\"month\":202502,\"tag_filters\":[{\"tag_key\":\"service\",\"tag_value\":\"ec2\"}]}],\"metrics_query\":\"aws.cost.amortized{service:ec2} by {service}\",\"name\":\"my budget\",\"start_month\":202501,\"tags\":[\"service\"]},\"id\":\"00000000-0a0a-0a0a-aaa0-00000000000a\",\"type\":\"budget\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/cost/budget"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 91,
            "text": "{\"errors\":[{\"title\":\"Generic Error\",\"detail\":\"failed to upsert budget: budget not found\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 389
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
