{
  "log": {
    "_recordingName": "Service Accounts/Delete an application key for this service account returns \"No Content\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "97ffbf585be715dc28cd253444cbd357",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Delete_an_application_key_for_this_service_account_returns_No_Content_response-1697094741@datadoghq.com\",\"service_account\":true,\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/service_accounts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 686,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"b0338c3c-68ce-11ee-9dc7-02a9eb8880d8\",\"attributes\":{\"name\":null,\"handle\":\"b0338c3c-68ce-11ee-9dc7-02a9eb8880d8\",\"created_at\":\"2023-10-12T07:12:22.378427+00:00\",\"modified_at\":\"2023-10-12T07:12:22.378427+00:00\",\"email\":\"test-delete_an_application_key_for_this_service_account_returns_no_content_response-1697094741@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/ed84f324d81c653aae4b87a2eb517a97?s=48&d=retro\",\"title\":\"user title\",\"verified\":true,\"service_account\":true,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Active\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 614
      },
      {
        "_id": "cb4aab67e21c3f077743f4bd57a2ff3b",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Delete_an_application_key_for_this_service_account_returns_No_Content_response-1697094741\"},\"type\":\"application_keys\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/service_accounts/b0338c3c-68ce-11ee-9dc7-02a9eb8880d8/application_keys"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 458,
            "text": "{\"data\":{\"type\":\"application_keys\",\"id\":\"6a147414-e85c-4b92-829b-fff59f8bd8e0\",\"attributes\":{\"name\":\"Test-Delete_an_application_key_for_this_service_account_returns_No_Content_response-1697094741\",\"created_at\":\"2023-10-12T07:12:22.935154+00:00\",\"last4\":\"xxxx\",\"key\":\"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\"scopes\":null},\"relationships\":{\"owned_by\":{\"data\":{\"type\":\"users\",\"id\":\"b0338c3c-68ce-11ee-9dc7-02a9eb8880d8\"}},\"leak_information\":{\"data\":null}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 614
      },
      {
        "_id": "10dbb80bbf24705e0eff95afadb58e03",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/service_accounts/b0338c3c-68ce-11ee-9dc7-02a9eb8880d8/application_keys/6a147414-e85c-4b92-829b-fff59f8bd8e0"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=utf-8",
            "size": 0
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=utf-8"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 595
      },
      {
        "_id": "10dbb80bbf24705e0eff95afadb58e03",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/service_accounts/b0338c3c-68ce-11ee-9dc7-02a9eb8880d8/application_keys/6a147414-e85c-4b92-829b-fff59f8bd8e0"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 40,
            "text": "{\"errors\":[\"Application key not found\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 461
      },
      {
        "_id": "6a4162d05c24e409dc64ee643b6cb30e",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users/b0338c3c-68ce-11ee-9dc7-02a9eb8880d8"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 438
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
