{
  "log": {
    "_recordingName": "RUM/List all the RUM applications returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "76bddd51b63f51349692eaf331f5a48c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"test-rum-a630eb80b3e09124\",\"type\":\"ios\"},\"type\":\"rum_application_create\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/rum/applications"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 703,
            "text": "{\"data\":{\"type\":\"rum_application\",\"id\":\"cfc4270c-7df3-4a8b-a24a-20f2a25e15b2\",\"attributes\":{\"created_by_handle\":\"frog@datadoghq.com\",\"name\":\"test-rum-a630eb80b3e09124\",\"product_analytics_replay_sample_rate\":100,\"tags\":[],\"type\":\"ios\",\"updated_at\":1755612214266,\"updated_by_handle\":\"frog@datadoghq.com\",\"hash\":\"pub8da0c745dc9ed0616e72239bf54c23ff\",\"product_scales\":{\"rum_event_processing_scale\":{\"state\":\"ALL\",\"last_modified_at\":1755612214266},\"product_analytics_retention_scale\":{\"state\":\"NONE\",\"last_modified_at\":1755612214266}},\"created_at\":1755612214266,\"client_token\":\"pub8da0c745dc9ed0616e72239bf54c23ff\",\"org_id\":321813,\"application_id\":\"cfc4270c-7df3-4a8b-a24a-20f2a25e15b2\",\"is_active\":false}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 528
      },
      {
        "_id": "cb719827ecc7915dd93aa3930b843457",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/rum/applications"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 4815,
            "text": "{\"data\":[{\"type\":\"rum_application\",\"attributes\":{\"updated_by_handle\":\"Datadog\",\"is_ac[...]
