{
  "log": {
    "_recordingName": "Security Monitoring/Retrieve a custom framework returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "55fe91372a4b0a3e247477322a691505",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"handle-testretrieveacustomframeworkreturnsokresponse1744141484\",\"icon_url\":\"https://example.com/icon-testretrieveacustomframeworkreturnsokresponse1744141484.png\",\"name\":\"Framework-testretrieveacustomframeworkreturnsokresponse1744141484\",\"requirements\":[{\"controls\":[{\"name\":\"Control-testretrieveacustomframeworkreturnsokresponse1744141484\",\"rules_id\":[\"def-000-cea\"]}],\"name\":\"Requirement-testretrieveacustomframeworkreturnsokresponse1744141484\"}],\"version\":\"1.0.testretrieveacustomframeworkreturnsokresponse1744141484\"},\"type\":\"custom_framework\"}}"
          },
          "queryString": [],
          "url": "https://frog.datadoghq.com/api/v2/cloud_security_management/custom_frameworks"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 107,
            "text": "{\"errors\":[{\"status\":\"400\",\"title\":\"Bad Request\",\"detail\":\"invalid_argument(Invalid rule configuration)\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 379
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
