{
  "log": {
    "_recordingName": "GCP Integration/Create a new entry for your service account returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "4a486d974ff0dd094e916f0ae1f10a15",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"client_email\":\"Test-8b2b196dd4bab7e2@test-project.iam.gserviceaccount.com\",\"host_filters\":[]},\"type\":\"gcp_service_account\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integration/gcp/accounts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 363,
            "text": "{\"data\":{\"type\":\"gcp_service_account\",\"attributes\":{\"client_email\":\"Test-8b2b196dd4bab7e2@test-project.iam.gserviceaccount.com\",\"is_security_command_center_enabled\":false,\"resource_collection_enabled\":false,\"cloud_run_revision_filters\":[],\"automute\":false,\"is_cspm_enabled\":false,\"account_tags\":[],\"host_filters\":[]},\"id\":\"e6f0237e-b9c2-4513-9940-d2473502e39e\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 1738
      },
      {
        "_id": "5bac2c7f8f0f98ad2275555ba6d08d4b",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integration/gcp/accounts/e6f0237e-b9c2-4513-9940-d2473502e39e"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=utf-8",
            "size": 0
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=utf-8"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 133
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
