{
  "log": {
    "_recordingName": "Usage Metering/Get hourly usage for Lambda returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "e1c20fa6212228bad4908b6bec7bb53b",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "start_hr",
              "value": "2025-05-09T14:01:50.686Z"
            },
            {
              "name": "end_hr",
              "value": "2025-05-07T14:01:50.686Z"
            }
          ],
          "url": "https://api.datadoghq.com/api/v1/usage/aws_lambda?start_hr=2025-05-09T14%3A01%3A50.686Z&end_hr=2025-05-07T14%3A01%3A50.686Z"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 77,
            "text": "{\"errors\":[\"start_hr [YYYY-MM-DDThh] must be before end_hr [YYYY-MM-DDThh]\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 136
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
