{
  "log": {
    "_recordingName": "Cloud Cost Management/Create Cloud Cost Management GCP Usage Cost config returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "815ffd1456b78f077739a253f22dbd0f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"billing_account_id\":\"123456_A123BC_12AB34\",\"bucket_name\":\"dd-cost-bucket\",\"export_dataset_name\":\"billing\",\"export_prefix\":\"datadog_cloud_cost_usage_export\",\"export_project_name\":\"dd-cloud-cost-report\",\"service_account\":\"dd-ccm-gcp-integration@my-environment.iam.gserviceaccount.com\"},\"type\":\"gcp_uc_config_post_request\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/cost/gcp_uc_config"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 760,
            "text": "{\"data\":{\"id\":\"0\",\"type\":\"gcp_uc_config\",\"attributes\":{\"account_id\":\"123456_A123BC_12AB34\",\"bucket_name\":\"dd-cost-bucket\",\"created_at\":\"2025-03-24T21:00:03.851717\",\"dataset\":\"billing\",\"error_messages\":null,\"export_prefix\":\"datadog_cloud_cost_usage_export\",\"export_project_name\":\"dd-cloud-cost-report\",\"months\":15,\"project_id\":\"\",\"service_account\":\"dd-ccm-gcp-integration@my-environment.iam.gserviceaccount.com\",\"status\":\"active\",\"status_updated_at\":\"2025-05-09T21:01:48.748281\",\"updated_at\":\"2025-03-24T21:00:03.851717\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 3037
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
