{
  "log": {
    "_recordingName": "Application Security/Update a WAF exclusion filter returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "f87651cfcb9ddb71c4de1be9e301b3e8",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"description\":\"My Exclusion Filter\",\"enabled\":true,\"parameters\":[\"list.search.query\"],\"path_glob\":\"*\",\"rules_target\":[{\"tags\":{\"category\":\"attack_attempt\",\"type\":\"xss\"}}],\"scope\":[{\"env\":\"staging\",\"service\":\"event-query\"}]},\"type\":\"exclusion_filter\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/remote_config/products/asm/waf/exclusion_filters"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1221,
            "text": "{\"data\":{\"id\":\"05b2e632-332e-4c58-947c-40e5c9f22314\",\"type\":\"exclusion_filter\",\"attributes\":{\"description\":\"My Exclusion Filter\",\"enabled\":true,\"metadata\":{\"added_at\":\"2025-02-25T19:11:38Z\",\"added_by\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\",\"added_by_name\":\"CI Account\"},\"parameters\":[\"list.search.query\"],\"path_glob\":\"*\",\"rules_target\":[{\"tags\":{\"category\":\"attack_attempt\",\"type\":\"xss\"}}],\"scope\":[{\"env\":\"staging\",\"service\":\"event-query\"}],\"search_query\":\"(env:staging AND service:\\\"event-query\\\") AND ((@appsec.triggers.rule_matches.parameters.address:server.request.query AND (@appsec.triggers.rule_matches.parameters.key:list.search.query OR @appsec.triggers.rule_matches.parameters.params.key:list.search.query)) OR (@appsec.triggers.rule_matches.parameters.address:server.request.body AND (@appsec.triggers.rule_matches.parameters.key:list.search.query OR @appsec.triggers.rule_matches.parameters.params.key:list.search.query)) OR (@appsec.triggers.rule_matches.parameters.address:server.request.path_params AND (@appsec.triggers.rule_matches.parameters.key:list.search.query OR @appsec.triggers.rule_matches.parameters.params.key:list.search.query))) AND (@appsec.category:attack_attempt AND @appsec.type:xss)\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1032
      },
      {
        "_id": "1516ec021476e9e51d849797e19aa3d9",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"description\":\"Exclude false positives on a path\",\"enabled\":false,\"ip_list\":[\"198.51.100.72\"],\"on_match\":\"monitor\"},\"type\":\"exclusion_filter\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/remote_config/products/asm/waf/exclusion_filters/05b2e632-332e-4c58-947c-40e5c9f22314"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 476,
            "text": "{\"data\":{\"id\":\"05b2e632-332e-4c58-947c-40e5c9f22314\",\"type\":\"exclusion_filter\",\"attributes\":{\"description\":\"Exclude false positives on a path\",\"enabled\":false,\"ip_list\":[\"198.51.100.72\"],\"metadata\":{\"added_at\":\"2025-02-25T19:11:38Z\",\"modified_at\":\"2025-02-25T19:11:39Z\",\"added_by\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\",\"modified_by\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\",\"modified_by_name\":\"CI Account\"},\"on_match\":\"monitor\",\"search_query\":\"@http.client_ip:198.51.100.72\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 831
      },
      {
        "_id": "9bf0f54d1aa5f9f044964f6c6b3fb432",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/remote_config/products/asm/waf/exclusion_filters/05b2e632-332e-4c58-947c-40e5c9f22314"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 0
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 750
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
