{
  "log": {
    "_recordingName": "Usage Metering/Get hourly usage for Lambda traced invocations returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "41592565baacbc0ddb70f3c6d3648f10",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "start_hr",
              "value": "2025-05-07T12:32:52.291Z"
            },
            {
              "name": "end_hr",
              "value": "2025-05-09T12:32:52.291Z"
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/usage/lambda_traced_invocations?start_hr=2025-05-07T12%3A32%3A52.291Z&end_hr=2025-05-09T12%3A32%3A52.291Z"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 2961,
            "text": "{\"data\":[{\"id\":\"0b2d2a111285143192094564fdd62a2d93e245d25b46d3ea59d798d2b66f3909\",\"type\":\"usage_timeseries\",\"attributes\":{\"product_family\":\"lambda-traced-invocations\",\"usage_type\":\"lambda_traced_invocations_count\",\"org_name\":\"DD Integration Tests (321813)\",\"public_id\":\"fasjyydbcgwwc2uc\",\"region\":\"us\",\"timeseries\":[{\"timestamp\":\"2025-05-07T12:00:00+00:00\",\"value\":null},{\"timestamp\":\"2025-05-07T13:00:00+00:00\",\"value\":null},{\"timestamp\":\"2025-05-07T14:00:00+00:00\",\"value\":null},{\"timestamp\":\"2025-05-07T15:00:00+00:00\",\"value\":null},{\"timestamp\":\"2025-05-07T16:00:00+00:00\",\"value\":null},{\"timestamp\":\"2025-05-07T17:00:00+00:00\",\"value\":null},{\"timestamp\":\"2025-05-07T18:00:00+00:00\",\"value\":null},{\"timestamp\":\"2025-05-07T19:00:00+00:00\",\"value\":null},{\"timestamp\":\"2025-05-07[...]
