{
  "log": {
    "_recordingName": "Workflow Automation/List workflow instances returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "b670e92ff790d9f49ab4283dde9f53b0",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/workflows/ccf73164-1998-4785-a7a3-8d06c7e5f558/instances"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 848,
            "text": "{\"data\":[{\"attributes\":{\"instanceStatus\":{\"detailsKind\":\"IN_PROGRESS\",\"displayName\":\"Running\"},\"source\":{\"api\":{\"actingUser\":{\"userEmail\":\"max.gale@datadoghq.com\",\"userName\":\"Max Gale\",\"userUuid\":\"e39535f4-306b-11ee-9383-6ac9a4415a29\"}}},\"startTimestamp\":\"2024-07-24T18:39:58.396793Z\"},\"id\":\"111e18d6-3f19-4ada-91d3-ab1e1546b8b4\",\"type\":\"instances\"},{\"attributes\":{\"endTimestamp\":\"2024-07-24T18:39:58.219283Z\",\"instanceStatus\":{\"detailsKind\":\"CANCELED\",\"displayName\":\"Canceled\"},\"source\":{\"manual\":{\"actingUser\":{\"userEmail\":\"max.gale@datadoghq.com\",\"userName\":\"Max Gale\",\"userUuid\":\"e39535f4-306b-11ee-9383-6ac9a4415a29\"}}},\"startTimestamp\":\"2024-07-24T18:38:31.326418Z\"},\"id\":\"305a472b-71ab-4ce8-8f8d-75db635627b5\",\"type\":\"instances\"}],\"meta\":{\"canceledCount\":1,\"failedCount\":0,\"page\":{\"totalCount\":2,\"totalFilteredCount\":2},\"succeededCount\":0}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 125
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
