{
  "log": {
    "_recordingName": "Dashboards/Create a new dashboard with rum_issue_stream list_stream widget",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "aad89b15df9a871da3c7b9382fb80e6f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"layout_type\":\"ordered\",\"title\":\"Test-Create_a_new_dashboard_with_rum_issue_stream_list_stream_widget-1649179145 with list_stream widget\",\"widgets\":[{\"definition\":{\"requests\":[{\"columns\":[{\"field\":\"timestamp\",\"width\":\"auto\"}],\"query\":{\"data_source\":\"rum_issue_stream\",\"query_string\":\"\"},\"response_format\":\"event_list\"}],\"type\":\"list_stream\"}}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 758,
            "text": "{\"notify_list\":null,\"description\":null,\"restricted_roles\":[],\"author_name\":null,\"template_variables\":null,\"is_read_only\":false,\"id\":\"847-9hf-ftb\",\"title\":\"Test-Create_a_new_dashboard_with_rum_issue_stream_list_stream_widget-1649179145 with list_stream widget\",\"url\":\"/dashboard/847-9hf-ftb/test-createanewdashboardwithrumissuestreamliststreamwidget-1649179145-with-lists\",\"created_at\":\"2022-04-05T17:19:05.444942+00:00\",\"modified_at\":\"2022-04-05T17:19:05.444942+00:00\",\"author_handle\":\"frog@datadoghq.com\",\"widgets\":[{\"definition\":{\"requests\":[{\"query\":{\"query_string\":\"\",\"data_source\":\"rum_issue_stream\"},\"response_format\":\"event_list\",\"columns\":[{\"field\":\"timestamp\",\"width\":\"auto\"}]}],\"type\":\"list_stream\"},\"id\":7299581017937461}],\"layout_type\":\"ordered\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 135
      },
      {
        "_id": "888a549ca4a08ec652a38b0feaa755fa",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/847-9hf-ftb"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 38,
            "text": "{\"deleted_dashboard_id\":\"847-9hf-ftb\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 153
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
