{
  "log": {
    "_recordingName": "Annotations/Get annotations for a page returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "78d2d11619620348cab74b6ac6482f5b",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"color\":\"blue\",\"description\":\"Deployed v2.3.1 to production.\",\"page_id\":\"dashboard:abc-def-xyz\",\"start_time\":1704067200000,\"type\":\"pointInTime\"},\"type\":\"annotation\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/annotation"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 355,
            "text": "{\"data\":{\"id\":\"31d6c3c7-0519-49e3-bcdf-9b1c00530aea\",\"type\":\"annotation\",\"attributes\":{\"author_id\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\",\"color\":\"blue\",\"created_at\":1779913698075,\"description\":\"Deployed v2.3.1 to production.\",\"end_time\":null,\"modified_at\":1779913698075,\"page_id\":\"dashboard:abc-def-xyz\",\"start_time\":1704067200000,\"type\":\"pointInTime\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 219
      },
      {
        "_id": "9c2adcfc42a546205828b96a64d32afe",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "start_time",
              "value": "1704067200000"
            },
            {
              "name": "end_time",
              "value": "1704153600000"
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/annotation/page/dashboard%3Aabc-def-xyz?start_time=1704067200000&end_time=1704153600000"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 529,
            "text": "{\"data\":{\"id\":\"dashboard:abc-def-xyz\",\"type\":\"page_annotations\",\"attributes\":{\"annotations\":{\"31d6c3c7-0519-49e3-bcdf-9b1c00530aea\":{\"id\":\"31d6c3c7-0519-49e3-bcdf-9b1c00530aea\",\"page_id\":\"dashboard:abc-def-xyz\",\"description\":\"Deployed v2.3.1 to production.\",\"author_id\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\",\"type\":\"pointInTime\",\"color\":\"blue\",\"start_time\":1704067200000,\"end_time\":null,\"created_at\":1779913698075,\"modified_at\":1779913698075}},\"global_annotations\":[\"31d6c3c7-0519-49e3-bcdf-9b1c00530aea\"],\"widget_mapping\":{}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 61
      },
      {
        "_id": "9bc14556316a46816ec976ccd8b37c2b",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/annotation/31d6c3c7-0519-49e3-bcdf-9b1c00530aea"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 94
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
