{
  "log": {
    "_recordingName": "Service Definition/Delete a single service definition returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "d68d4a1c9ec2a0b3f8b5a3f29bc801e0",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"dd-service\":\"service-Test-Delete_a_single_service_definition_returns_OK_response-1665406117\",\"dd-team\":\"my-team\",\"docs\":[{\"name\":\"Architecture\",\"provider\":\"google drive\",\"url\":\"https://gdrive/mygivedoc\"}],\"extensions\":{\"frogextension\":\"extensionfrogvalue\"},\"integrations\":{\"opsgenie\":{\"region\":\"US\",\"service-id\":\"123e4567-e89b-12d3-a456-426614174000\"},\"pagerduty\":\"https://my-org.pagerduty.com/service-directory/PMyService\"},\"links\":[{\"name\":\"Runbook\",\"type\":\"runbook\",\"url\":\"https://my-runbook\"}],\"repos\":[{\"name\":\"Source Code\",\"provider\":\"GitHub\",\"url\":\"https://github.com/DataDog/given\"}],\"schema-version\":\"v2\",\"tags\":[\"this:tag\",\"service:tag\"],\"team\":\"super-team\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/services/definitions"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 868,
            "text": "{\"data\":[{\"attributes\":{\"meta\":{\"ingested-schema-version\":\"v2\",\"ingestion-source\":\"api\",\"last-modified-time\":\"2022-10-10T12:48:37.797458518Z\",\"github-html-url\":\"\",\"warnings\":[]},\"schema\":{\"links\":[{\"url\":\"https://my-runbook\",\"type\":\"runbook\",\"name\":\"Runbook\"}],\"contacts\":[],\"docs\":[{\"url\":\"https://gdrive/mygivedoc\",\"name\":\"Architecture\",\"provider\":\"google drive\"}],\"repos\":[{\"url\":\"https://github.com/DataDog/given\",\"name\":\"Source Code\",\"provider\":\"GitHub\"}],\"tags\":[\"service:tag\",\"this:tag\"],\"dd-team\":\"my-team\",\"integrations\":{\"opsgenie\":{\"region\":\"US\",\"service-id\":\"123e4567-e89b-12d3-a456-426614174000\"},\"pagerduty\":\"https://my-org.pagerduty.com/service-directory/PMyService\"},\"schema-version\":\"v2\",\"team\":\"super-team\",\"extensions\":{},\"dd-service\":\"service-test-delete_a_single_service_definition_returns_ok_response-1665406117\"}},\"type\":\"service-definition\"}]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 469
      },
      {
        "_id": "acb004fa754eaa7ae7fac60d61b3c321",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/services/definitions/service-Test-Delete_a_single_service_definition_returns_OK_response-1665406117"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 704
      },
      {
        "_id": "3ba19283a0d8e37d4fee07800746d58f",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/services/definitions/service-test-delete_a_single_service_definition_returns_ok_response-1665406117"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 46,
            "text": "{\"errors\":[\"Not Found\"],\"error_details\":[{}]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 639
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
