{
  "log": {
    "_recordingName": "Security Monitoring/Export security monitoring resource to Terraform returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "afb9ebe69d9060b2b572be58bb226291",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"description\":\"Test-Export_security_monitoring_resource_to_Terraform_returns_OK_response-1775811377\",\"enabled\":true,\"name\":\"suppression 934620bff161fb60\",\"rule_query\":\"source:cloudtrail\",\"suppression_query\":\"env:test\",\"tags\":[\"technique:T1110-brute-force\",\"source:cloudtrail\"]},\"type\":\"suppressions\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 567,
            "text": "{\"data\":{\"id\":\"urh-ldl-f7e\",\"type\":\"suppressions\",\"attributes\":{\"creation_date\":1775811377666,\"creator\":{\"handle\":\"frog@datadoghq.com\",\"name\":\"frog\"},\"data_exclusion_query\":\"\",\"description\":\"Test-Export_security_monitoring_resource_to_Terraform_returns_OK_response-1775811377\",\"editable\":true,\"enabled\":true,\"name\":\"suppression 934620bff161fb60\",\"rule_query\":\"source:cloudtrail\",\"suppression_query\":\"env:test\",\"tags\":[\"source:cloudtrail\",\"technique:T1110-brute-force\"],\"update_date\":1775811377666,\"updater\":{\"handle\":\"frog@datadoghq.com\",\"name\":\"frog\"},\"version\":1}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 435
      },
      {
        "_id": "d55f9e636b341e2ade7c66f9cda3755d",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/security_monitoring/terraform/suppressions/urh-ldl-f7e"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 635,
            "text": "{\"data\":{\"id\":\"datadog_security_monitoring_suppression|urh-ldl-f7e\",\"type\":\"format_resource\",\"attributes\":{\"output\":\"resource \\\"datadog_security_monitoring_suppression\\\" \\\"urh-ldl-f7e\\\" {\\n  description       = \\\"Test-Export_security_monitoring_resource_to_Terraform_returns_OK_response-1775811377\\\"\\n  enabled           = true\\n  name              = \\\"suppression 934620bff161fb60\\\"\\n  rule_query        = \\\"source:cloudtrail\\\"\\n  suppression_query = \\\"env:test\\\"\\n  tags              = [\\\"source:cloudtrail\\\", \\\"technique:T1110-brute-force\\\"]\\n}\\n\",\"resource_id\":\"urh-ldl-f7e\",\"type_name\":\"datadog_security_monitoring_suppression\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 449
      },
      {
        "_id": "713adacec7bb16578bf34deadef79683",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions/urh-ldl-f7e"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 412
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
