{
  "log": {
    "_recordingName": "Case Management/Update a project returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ffdb25f8fbb5aa11aff288ef72bb8828",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Updated Project Name Test-Update_a_project_returns_OK_response-1769604677\"},\"type\":\"project\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/cases/projects/d4bbe1af-f36e-42f1-87c1-493ca35c320e"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 504,
            "text": "{\"data\":{\"id\":\"d4bbe1af-f36e-42f1-87c1-493ca35c320e\",\"type\":\"project\",\"attributes\":{\"key\":\"DDFC\",\"name\":\"Updated Project Name Test-Update_a_project_returns_OK_response-1769604677\",\"restricted\":false,\"settings\":{\"notification\":{\"enabled\":true,\"destinations\":[1],\"notify_on_case_assignment\":true,\"notify_on_case_unassignment\":true,\"notify_on_case_closed\":true,\"notify_on_case_priority_change\":true,\"notify_on_case_comment\":true,\"notify_on_case_comment_mention\":true,\"notify_on_case_status_change\":true}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 338
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
