{
  "log": {
    "_recordingName": "Model Lab API/Delete a Model Lab run returns \"No Content\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "36eb9f58cd468e76dd18f47b4f67597c",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/model-lab-api/runs/70158"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 200
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
