{
  "log": {
    "_recordingName": "AWS Integration/Get an AWS integration by config ID returns \"Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "9b33b83cc8bb714fcf7133ab2f3af9d3",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integration/aws/accounts/448169a8-251c-4344-abee-1c4edef39f7a"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 115,
            "text": "{\"errors\":[{\"status\":\"404\",\"title\":\"Account not found\",\"detail\":\"AWS account with provided id is not integrated\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 136
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
