{
  "log": {
    "_recordingName": "Usage Metering/Get hourly usage for indexed spans returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "31c1c879ba97e1437a848af83b6836e0",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "start_hr",
              "value": "2022-01-26T09:34:32.749Z"
            },
            {
              "name": "end_hr",
              "value": "2022-01-28T09:34:32.749Z"
            }
          ],
          "url": "https://api.datadoghq.com/api/v1/usage/indexed-spans?start_hr=2022-01-26T09%3A34%3A32.749Z&end_hr=2022-01-28T09%3A34%3A32.749Z"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 6539,
            "text": "{\"usage\":[{\"org_name\":\"DD Integration Tests (321813)\",\"public_id\":\"fasjyydbcgwwc2uc\",\"indexed_events_count\":0,\"hour\":\"2022-01-26T09:00:00+00:00\"},{\"org_name\":\"DD Integration Tests (321813)\",\"public_id\":\"fasjyydbcgwwc2uc\",\"indexed_events_count\":0,\"hour\":\"2022-01-26T10:00:00+00:00\"},{\"org_name\":\"DD Integration Tests (321813)\",\"public_id\":\"fasjyydbcgwwc2uc\",\"indexed_events_count\":0,\"hour\":\"2022-01-26T11:00:00+00:00\"},{\"org_name\":\"DD Integration Tests (321813)\",\"public_id\":\"fasjyydbcgwwc2uc\",\"indexed_events_count\":0,\"hour\":\"2022-01-26T12:00:00+00:00\"},{\"org_name\":\"DD [...]
