{
  "log": {
    "_recordingName": "Application Security/Update a WAF exclusion filter returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "337b2f05cc5f2fb5c7bee2e0e5bf9441",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"blocking\":false,\"conditions\":[{\"operator\":\"match_regex\",\"parameters\":{\"inputs\":[{\"address\":\"server.request.query\",\"key_path\":[\"id\"]}],\"regex\":\"badactor\"}}],\"enabled\":true,\"name\":\"test\",\"path_glob\":\"/test\",\"scope\":[{\"env\":\"test\",\"service\":\"test\"}],\"tags\":{\"category\":\"attack_attempt\",\"type\":\"test\"}},\"type\":\"custom_rule\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/remote_config/products/asm/waf/custom_rules"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 509,
            "text": "{\"data\":{\"id\":\"c72e76c1-ddf7-49bb-b7a2-0b178c16a987\",\"type\":\"custom_rule\",\"attributes\":{\"blocking\":false,\"conditions\":[{\"operator\":\"match_regex\",\"parameters\":{\"inputs\":[{\"address\":\"server.request.query\",\"key_path\":[\"id\"]}],\"regex\":\"badactor\",\"options\":{}}}],\"enabled\":true,\"metadata\":{\"added_at\":\"2025-03-05T21:09:13Z\",\"added_by\":\"frog@datadoghq.com\",\"added_by_name\":\"frog\"},\"name\":\"test - 12\",\"path_glob\":\"/test\",\"scope\":[{\"env\":\"test\",\"service\":\"test\"}],\"tags\":{\"category\":\"attack_attempt\",\"type\":\"test\"}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 444
      },
      {
        "_id": "e5bbab16ecb6911e87156690899de6e5",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"description\":\"Exclude false positives on a path\",\"enabled\":false,\"ip_list\":[\"198.51.100.72\"],\"on_match\":\"monitor\",\"parameters\":[\"list.search.query\"],\"path_glob\":\"/accounts/*\",\"rules_target\":[{\"rule_id\":\"dog-913-009\",\"tags\":{\"category\":\"attack_attempt\",\"type\":\"lfi\"}}],\"scope\":[{\"env\":\"www\",\"service\":\"prod\"}]},\"type\":\"exclusion_filter\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/remote_config/products/asm/waf/exclusion_filters/c72e76c1-ddf7-49bb-b7a2-0b178c16a987"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 93,
            "text": "{\"errors\":[{\"title\":\"only IPs are supported for monitored exclusion filters\",\"code\":\"400\"}]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 343
      },
      {
        "_id": "ef2b00451fcf6026cc91e129c0737a71",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/remote_config/products/asm/waf/custom_rules/c72e76c1-ddf7-49bb-b7a2-0b178c16a987"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 0
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 705
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
