{
  "log": {
    "_recordingName": "Dashboard Reports/Delete a Dashboard Report returns \"No Content\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "aaefaf67a7705e1e42ac38052ebce934",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"layout_type\":\"ordered\",\"title\":\"Test-Delete_a_Dashboard_Report_returns_No_Content_response-1668631885 with Profile Metrics Query\",\"widgets\":[{\"definition\":{\"requests\":[{\"profile_metrics_query\":{\"compute\":{\"aggregation\":\"sum\",\"facet\":\"@prof_core_cpu_cores\"},\"group_by\":[{\"facet\":\"service\",\"limit\":10,\"sort\":{\"aggregation\":\"sum\",\"facet\":\"@prof_core_cpu_cores\",\"order\":\"desc\"}}],\"search\":{\"query\":\"runtime:jvm\"}}}],\"type\":\"timeseries\"}}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 851,
            "text": "{\"notify_list\":null,\"description\":null,\"restricted_roles\":[],\"author_name\":null,\"template_variables\":null,\"is_read_only\":false,\"id\":\"3we-23r-759\",\"title\":\"Test-Delete_a_Dashboard_Report_returns_No_Content_response-1668631885 with Profile Metrics Query\",\"url\":\"/dashboard/3we-23r-759/test-deleteadashboardreportreturnsnocontentresponse-1668631885-with-profile-metr\",\"created_at\":\"2022-11-16T20:51:25.124472+00:00\",\"modified_at\":\"2022-11-16T20:51:25.124472+00:00\",\"author_handle\":\"frog@datadoghq.com\",\"widgets\":[{\"definition\":{\"requests\":[{\"profile_metrics_query\":{\"search\":{\"query\":\"runtime:jvm\"},\"group_by\":[{\"facet\":\"service\",\"sort\":{\"facet\":\"@prof_core_cpu_cores\",\"aggregation\":\"sum\",\"order\":\"desc\"},\"limit\":10}],\"compute\":{\"facet\":\"@prof_core_cpu_cores\",\"aggregation\":\"sum\"}}}],\"type\":\"timeseries\"},\"id\":3551218226176443}],\"layout_type\":\"ordered\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 155
      },
      {
        "_id": "a62696eaac1638db41869b54e0c9d447",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"description\":\"This report summarizes the recent errors, latency, and uptime of our Web Application Backend.\",\"destinations\":{\"email\":{\"recipient_addresses\":[\"jane.doe@example.com\"]}},\"schedule\":{\"active\":true,\"frequency\":\"1d\",\"repeat_at\":\"13:30\",\"repeat_on_day_of_month\":null,\"repeat_on_day_of_week\":null,\"timezone\":\"America/New_York\"},\"timeframe\":\"1w\",\"title\":\"Summary of recent stability and performance for Web Application Backend\"},\"type\":\"dashboard_reports\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/dashboards/3we-23r-759/reports"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1490,
            "text": "{\"included\":[{\"attributes\":{\"name\":null,\"email\":\"frog@datadoghq.com\"},\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"},{\"attributes\":{\"dashboard_type\":\"custom_dashboard\",\"title\":\"Test-Delete_a_Dashboard_Report_returns_No_Content_response-1668631885 with Profile Metrics Query\"},\"type\":\"dashboards\",\"id\":\"3we-23r-759\"}],\"data\":{\"relationships\":{\"dashboard\":{\"data\":{\"type\":\"dashboards\",\"id\":\"3we-23r-759\"}},\"author\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"},\"links\":{\"related\":\"/api/v2/users/3ad549bf-eba0-11e9-a77a-0705486660d0\"}}},\"attributes\":{\"description\":\"This report summarizes the recent errors, latency, and uptime of our Web Application Backend.\",\"schedule\":{\"repeat_on_day_of_week\":null,\"repeat_at\":\"13:30\",\"frequency\":\"1d\",\"timezone\":\"America/New_York\",\"active\":true,\"repeat_on_day_of_month\":null},\"created_at\":\"2022-11-16T20:51:25.304579+00:00\",\"destination\":{\"export_format\":{\"type\":\"html\"},\"export_type\":\"email\",\"email_addresses\":[\"jane.doe@example.com\"]},\"modified_at\":null,\"template_variables\":null,\"timeframe\":\"1w\",\"title\":\"Summary of recent stability and performance for Web Application Backend\",\"destinations\":{\"email\":{\"recipient_addresses\":[\"jane.doe@example.com\"]}}},\"type\":\"dashboard_reports\",\"id\":\"6f59a0ec-65f0-11ed-85ed-da7ad0900002\",\"links\":{\"self\":\"/api/v2/dashboards/3we-23r-759/reports/6f59a0ec-65f0-11ed-85ed-da7ad0900002\"}},\"links\":{\"self\":\"/api/v2/dashboards/3we-23r-759/reports/6f59a0ec-65f0-11ed-85ed-da7ad0900002\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 163
      },
      {
        "_id": "bb81497d497beebdb38013ff708db38a",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/dashboards/3we-23r-759/reports/6f59a0ec-65f0-11ed-85ed-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 144
      },
      {
        "_id": "bb81497d497beebdb38013ff708db38a",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/dashboards/3we-23r-759/reports/6f59a0ec-65f0-11ed-85ed-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 80,
            "text": "{\"errors\":[\"Dashboard Report (6f59a0ec-65f0-11ed-85ed-da7ad0900002) not found\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 141
      },
      {
        "_id": "9e6161f9ea806b8f20ef6523d8208f1d",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/3we-23r-759"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 39,
            "text": "{\"deleted_dashboard_id\":\"3we-23r-759\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 141
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
