{
  "log": {
    "_recordingName": "End User Device Monitoring/Get all device issue definitions returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ba77caad6da639c81de2c031d65083bb",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/eudm/issues"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 1372,
            "text": "{\"data\":[{\"id\":\"high-cpu\",\"type\":\"issue_definitions\",\"attributes\":{\"category\":\"cpu\",\"label\":\"CPU Usage above 70%\",\"level\":\"warning\"}},{\"id\":\"critical-cpu\",\"type\":\"issue_definitions\",\"attributes\":{\"category\":\"cpu\",\"label\":\"CPU Usage above 90%\",\"level\":\"critical\"}},{\"id\":\"high-memory\",\"type\":\"issue_definitions\",\"attributes\":{\"category\":\"memory\",\"label\":\"Memory Usage above 75%\",\"level\":\"warning\"}},{\"id\":\"critical-memory\",\"type\":\"issue_definitions\",\"attributes\":{\"category\":\"memory\",\"label\":\"Memory Usage above 90%\",\"level\":\"critical\"}},{\"id\":\"high-di[...]
