{
  "log": {
    "_recordingName": "Downtimes/Update a downtime returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "75d9b76c7db50cb1fe15dd3de6e34baa",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"message\":\"test message\",\"monitor_identifier\":{\"monitor_tags\":[\"cat:hat\"]},\"schedule\":{\"start\":null},\"scope\":\"test:testupdateadowntimereturnsokresponse1685739207\"},\"type\":\"downtime\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/downtime"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1148,
            "text": "{\"data\":{\"type\":\"downtime\",\"relationships\":{\"created_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}},\"monitor\":{\"data\":null}},\"id\":\"865c7f20-0187-11ee-ac0a-da7ad0900002\",\"attributes\":{\"monitor_identifier\":{\"monitor_tags\":[\"cat:hat\"]},\"status\":\"active\",\"message\":\"test message\",\"created\":\"2023-06-02T20:53:28.147387+00:00\",\"schedule\":{\"end\":null,\"start\":\"2023-06-02T20:53:28.134493+00:00\"},\"modified\":\"2023-06-02T20:53:28.147387+00:00\",\"display_timezone\":\"UTC\",\"mute_first_recovery_notification\":false,\"notify_end_states\":[\"no data\",\"warn\",\"alert\"],\"scope\":\"test:testupdateadowntimereturnsokresponse1685739207\",\"notify_end_types\":[\"expired\"],\"canceled\":null}},\"included\":[{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"attributes\":{\"name\":null,\"handle\":\"frog@datadoghq.com\",\"created_at\":\"2019-10-02T08:15:39.795051+00:00\",\"modified_at\":\"2020-06-15T12:33:12.884459+00:00\",\"email\":\"frog@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro\",\"title\":null,\"verified\":true,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Active\"}}]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 282
      },
      {
        "_id": "a42a553fb4f277698aa5315f4c0437d7",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"message\":\"light speed\"},\"id\":\"865c7f20-0187-11e[...]
