{
  "log": {
    "_recordingName": "Cloudflare Integration/Add Cloudflare account returns \"CREATED\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "d08b802d66c1fffabbff157f89f313be",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"api_key\":\"fakekey\",\"email\":\"dev@datadoghq.com\",\"name\":\"testaddcloudflareaccountreturnscreatedresponse1704393641\"},\"type\":\"cloudflare-accounts\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integrations/cloudflare/accounts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 225,
            "text": "{\"data\":{\"type\":\"cloudflare-accounts\",\"attributes\":{\"email\":\"dev@datadoghq.com\",\"name\":\"testaddcloudflareaccountreturnscreatedresponse1704393641\",\"resources\":[],\"zones\":[]},\"id\":\"baa2079200095466b080d75adfdb32fa\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 606
      },
      {
        "_id": "b373b463ee7f6fed378394b80664a234",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integrations/cloudflare/accounts/baa2079200095466b080d75adfdb32fa"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=utf-8",
            "size": 0
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=utf-8"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 162
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
