{
  "log": {
    "_recordingName": "Microsoft Teams Integration/Update api handle returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "e3e99a456502fc2336d0d9c4ff0c2932",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"channel_id\":\"19:iD_D2xy_sAa-JV851JJYwIa6mlW9F9Nxm3SLyZq68qY1@thread.tacv2\",\"name\":\"Test-Update_api_handle_returns_OK_response-1727794145\",\"team_id\":\"e5f50a58-c929-4fb3-8866-e2cd836de3c2\",\"tenant_id\":\"4d3bac44-0230-4732-9e70-cc00736f0a97\"},\"type\":\"handle\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integration/ms-teams/configuration/tenant-based-handles"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 324,
            "text": "{\"data\":{\"id\":\"4e741fa8-8004-11ef-8fa4-da7ad0900002\",\"type\":\"handle\",\"attributes\":{\"channel_id\":\"19:iD_D2xy_sAa-JV851JJYwIa6mlW9F9Nxm3SLyZq68qY1@thread.tacv2\",\"name\":\"Test-Update_api_handle_returns_OK_response-1727794145\",\"team_id\":\"e5f50a58-c929-4fb3-8866-e2cd836de3c2\",\"tenant_id\":\"4d3bac44-0230-4732-9e70-cc00736f0a97\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 132
      },
      {
        "_id": "52e576846b4efab83bdfebc20bec925d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Update_api_handle_returns_OK_response-1727794145--updated\"},\"type\":\"handle\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integration/ms-teams/configuration/tenant-based-handles/4e741fa8-8004-11ef-8fa4-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 436,
            "text": "{\"data\":{\"id\":\"4e741fa8-8004-11ef-8fa4-da7ad0900002\",\"type\":\"ms-teams-handle-info\",\"attributes\":{\"channel_id\":\"19:iD_D2xy_sAa-JV851JJYwIa6mlW9F9Nxm3SLyZq68qY1@thread.tacv2\",\"channel_name\":\"General-1\",\"name\":\"Test-Update_api_handle_returns_OK_response-1727794145--updated\",\"team_id\":\"e5f50a58-c929-4fb3-8866-e2cd836de3c2\",\"team_name\":\"Chat Integrations\",\"tenant_id\":\"4d3bac44-0230-4732-9e70-cc00736f0a97\",\"tenant_name\":\"Datadog, Inc.\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 121
      },
      {
        "_id": "fa9b198e46beec63451c7920dc58c75c",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integration/ms-teams/configuration/tenant-based-handles/4e741fa8-8004-11ef-8fa4-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 69
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
