{
  "log": {
    "_recordingName": "Incidents/Update an incident type returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "7bcfec665300989151e5e4d7e0833bd1",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"description\":\"Any incidents that harm (or have the potential to) the confidentiality, integrity, or availability of our data.\",\"is_default\":false,\"name\":\"Security Incident\"},\"type\":\"incident_types\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/incidents/config/types"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 479,
            "text": "{\"data\":{\"id\":\"66e1dc6b-ce9f-4171-a48d-c11833e1fcf0\",\"type\":\"incident_types\",\"attributes\":{\"createdAt\":\"2024-11-04T18:02:46.462777689Z\",\"createdBy\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\",\"description\":\"Any incidents that harm (or have the potential to) the confidentiality, integrity, or availability of our data.\",\"is_default\":false,\"lastModifiedBy\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\",\"modifiedAt\":\"2024-11-04T18:02:46.462777689Z\",\"name\":\"Security Incident\",\"prefix\":\"IR\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 304
      },
      {
        "_id": "a0df80f2ddc4c38596ec8b7e34411d0f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Security Incident-updated\"},\"id\":\"66e1dc[...]
