{
  "log": {
    "_recordingName": "Metrics/Delete a tag configuration returns \"No Content\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "06c6a3e59da2bc9f1ea01a552ed9b813",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "text/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "text/json",
            "params": [],
            "text": "{\"series\":[{\"metric\":\"TestDeleteatagconfigurationreturnsNoContentresponse1652354788\",\"points\":[[1652354788,1.1]],\"tags\":[\"test:ExampleSubmitmetricsreturnsPayloadacceptedresponse\"],\"type\":\"gauge\"}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/series"
        },
        "response": {
          "content": {
            "mimeType": "text/json",
            "size": 16,
            "text": "{\"status\": \"ok\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/json"
            }
          ],
          "status": 202,
          "statusText": "Accepted"
        },
        "time": 522
      },
      {
        "_id": "5d3e4d9c22284f0be2acc0cd68f699bd",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"metric_type\":\"gauge\",\"tags\":[\"app\",\"datacenter\",\"TestDeleteatagconfigurationreturnsNoContentresponse1652354788\"]},\"id\":\"TestDeleteatagconfigurationreturnsNoContentresponse1652354788\",\"type\":\"manage_tags\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/metrics/TestDeleteatagconfigurationreturnsNoContentresponse1652354788/tags"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 372,
            "text": "{\"data\":{\"type\":\"manage_tags\",\"id\":\"TestDeleteatagconfigurationreturnsNoContentresponse1652354788\",\"attributes\":{\"tags\":[\"datacenter\",\"app\",\"TestDeleteatagconfigurationreturnsNoContentresponse1652354788\"],\"created_at\":\"2022-05-12T11:26:33.849417+00:00\",\"modified_at\":\"2022-05-12T11:26:33.849417+00:00\",\"metric_type\":\"gauge\",\"aggregations\":[{\"space\":\"avg\",\"time\":\"avg\"}]}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 537
      },
      {
        "_id": "863ae215c20644cd996d5ab5bbb932d3",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/metrics/TestDeleteatagconfigurationreturnsNoContentresponse1652354788/tags"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 555
      },
      {
        "_id": "863ae215c20644cd996d5ab5bbb932d3",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/metrics/TestDeleteatagconfigurationreturnsNoContentresponse1652354788/tags"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 87,
            "text": "{\"errors\": [\"TestDeleteatagconfigurationreturnsNoContentresponse1652354788 not found\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 569
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
