{
  "log": {
    "_recordingName": "Dashboards/Get all dashboards returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "d632baf4938467f69427c33227793821",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"layout_type\":\"ordered\",\"title\":\"Test-Get_all_dashboards_returns_OK_response-1676584070 with Profile Metrics Query\",\"widgets\":[{\"definition\":{\"requests\":[{\"profile_metrics_query\":{\"compute\":{\"aggregation\":\"sum\",\"facet\":\"@prof_core_cpu_cores\"},\"group_by\":[{\"facet\":\"service\",\"limit\":10,\"sort\":{\"aggregation\":\"sum\",\"facet\":\"@prof_core_cpu_cores\",\"order\":\"desc\"}}],\"search\":{\"query\":\"runtime:jvm\"}}}],\"type\":\"timeseries\"}}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 831,
            "text": "{\"id\":\"npw-6di-usv\",\"title\":\"Test-Get_all_dashboards_returns_OK_response-1676584070 with Profile Metrics Query\",\"description\":null,\"author_handle\":\"frog@datadoghq.com\",\"author_name\":null,\"layout_type\":\"ordered\",\"url\":\"/dashboard/npw-6di-usv/test-getalldashboardsreturnsokresponse-1676584070-with-profile-metrics-query\",\"is_read_only\":false,\"template_variables\":null,\"widgets\":[{\"definition\":{\"requests\":[{\"profile_metrics_query\":{\"compute\":{\"aggregation\":\"sum\",\"facet\":\"@prof_core_cpu_cores\"},\"group_by\":[{\"facet\":\"service\",\"limit\":10,\"sort\":{\"aggregation\":\"sum\",\"facet\":\"@prof_core_cpu_cores\",\"order\":\"desc\"}}],\"search\":{\"query\":\"runtime:jvm\"}}}],\"type\":\"timeseries\"},\"id\":687274237501398}],\"notify_list\":null,\"created_at\":\"2023-02-16T21:47:50.216943+00:00\",\"modified_at\":\"2023-02-16T21:47:50.216943+00:00\",\"restricted_roles\":[]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 227
      },
      {
        "_id": "2a1ece481e82c36a302ce383bc3383a3",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "filter",
              "value": {
                "shared": "false"
              }
            }
          ],
          "url": "https://api.datadoghq.com/api/v1/dashboard?filter%5Bshared%5D=false"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 51520,
            "text": "{\"dashboards\":[{\"id\":\"npw-6di-usv\",\"title\":\"Test-Get_all_dashboards_returns_OK_response-1676584070 with Profile Metrics Query\",\"description\":null,\"layout_type\":\"ordered\",\"url\":\"/dashboard/npw-6di-usv/test-getalldashboardsreturnsokresponse-1676584070-with-profile-metrics-query\",\"is_read_only\":false,\"created_at\":\"2023-02-16T21:47:50.216943+00:00\",\"modified_at\":\"2023-02-16T21:47:50.216943+00:00\",\"author_handle\":\"frog@datadoghq.com\",\"deleted_at\":null}]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 190
      },
      {
        "_id": "6d7128854d6c0a37c4ece8126acd32da",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/npw-6di-usv"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 39,
            "text": "{\"deleted_dashboard_id\":\"npw-6di-usv\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 190
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
