{
  "log": {
    "_recordingName": "Teams/Create a team returns \"CREATED\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "b9a8ca94f5aa05fd8f240892fda135e7",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"1679941982\",\"name\":\"1679941982\"},\"relationships\":{\"users\":{\"data\":[]}},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 527,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"cebec38e-cccd-11ed-a1a8-da7ad0900002\",\"attributes\":{\"name\":\"1679941982\",\"handle\":\"1679941982\",\"summary\":null,\"description\":null,\"color\":10,\"created_at\":\"2023-03-27T18:33:02.731559+00:00\",\"modified_at\":\"2023-03-27T18:33:02.731566+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/cebec38e-cccd-11ed-a1a8-da7ad0900002/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/cebec38e-cccd-11ed-a1a8-da7ad0900002/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 977
      },
      {
        "_id": "55aafb2af6f80207c468e6264ecf3a40",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/cebec38e-cccd-11ed-a1a8-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 543
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
