{
  "log": {
    "_recordingName": "Teams/Create a team returns \"CREATED\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "3da41259ec81d150378969e6934ea936",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"handle-6ef0c1dbdd77a3cd\",\"name\":\"name-6ef0c1dbdd77a3cd\"},\"relationships\":{\"users\":{\"data\":[]}},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 540,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"a78f35ae-20d9-11ee-b635-da7ad0900002\",\"attributes\":{\"name\":\"name-6ef0c1dbdd77a3cd\",\"handle\":\"handle-6ef0c1dbdd77a3cd\",\"summary\":null,\"description\":null,\"created_at\":\"2023-07-12T17:29:28.621958+00:00\",\"modified_at\":\"2023-07-12T17:29:28.621964+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/a78f35ae-20d9-11ee-b635-da7ad0900002/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/a78f35ae-20d9-11ee-b635-da7ad0900002/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 163
      },
      {
        "_id": "93e3a3f6532f50abc0179cc57db92950",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/a78f35ae-20d9-11ee-b635-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 160
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
