{
  "log": {
    "_recordingName": "Teams/Create a team returns \"CREATED\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "c2045ef10a3df9a3a31cd6a855bcc449",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"handle-2c82e5be19369e37\",\"name\":\"name-2c82e5be19369e37\"},\"relationships\":{\"users\":{\"data\":[]}},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 550,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"fe99024c-ef4e-11ed-8f26-da7ad0900002\",\"attributes\":{\"name\":\"name-2c82e5be19369e37\",\"handle\":\"handle-2c82e5be19369e37\",\"summary\":null,\"description\":null,\"color\":4,\"created_at\":\"2023-05-10T16:23:27.625735+00:00\",\"modified_at\":\"2023-05-10T16:23:27.625740+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/fe99024c-ef4e-11ed-8f26-da7ad0900002/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/fe99024c-ef4e-11ed-8f26-da7ad0900002/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 273
      },
      {
        "_id": "4016f510c394e66ab0a09531d9a01ac4",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/fe99024c-ef4e-11ed-8f26-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 239
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
