{
  "log": {
    "_recordingName": "Security Monitoring/Delete a suppression rule returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "67d17587b92687a371175bb755783f0e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"description\":\"Test-Delete_a_suppression_rule_returns_OK_response-1704967585\",\"enabled\":true,\"name\":\"Test-Delete_a_suppression_rule_returns_OK_response-1704967585\",\"rule_query\":\"source:cloudtrail\",\"suppression_query\":\"env:test\"},\"type\":\"suppressions\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 473,
            "text": "{\"data\":{\"id\":\"kpz-5gs-wn9\",\"attributes\":{\"name\":\"Test-Delete_a_suppression_rule_returns_OK_response-1704967585\",\"enabled\":true,\"description\":\"Test-Delete_a_suppression_rule_returns_OK_response-1704967585\",\"rule_query\":\"source:cloudtrail\",\"suppression_query\":\"env:test\",\"version\":1,\"creation_date\":1704967585721,\"update_date\":1704967585721,\"creator\":{\"name\":null,\"handle\":\"frog@datadoghq.com\"},\"updater\":{\"name\":null,\"handle\":\"frog@datadoghq.com\"}},\"type\":\"suppressions\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 337
      },
      {
        "_id": "2dec4e65e244383b2424df11c9a52971",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions/kpz-5gs-wn9"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=utf-8",
            "size": 0
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=utf-8"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 344
      },
      {
        "_id": "2dec4e65e244383b2424df11c9a52971",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions/kpz-5gs-wn9"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 68,
            "text": "{\"errors\":[\"not_found(Suppression with ID kpz-5gs-wn9 not found)\"]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 336
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
