{
  "log": {
    "_recordingName": "Dashboard Lists/Get all dashboard lists returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "a5ccab52fe28ab1d19cd39a1ed426e0b",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"Test-Get_all_dashboard_lists_returns_OK_response-1676581817\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/lists/manual"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 316,
            "text": "{\"author\":{\"name\":null,\"handle\":\"frog@datadoghq.com\"},\"created\":\"2023-02-16T21:10:17.185865+00:00\",\"dashboards\":null,\"dashboard_count\":0,\"id\":364491,\"is_favorite\":false,\"modified\":\"2023-02-16T21:10:17.185872+00:00\",\"name\":\"Test-Get_all_dashboard_lists_returns_OK_response-1676581817\",\"type\":\"manual_dashboard_list\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 165
      },
      {
        "_id": "91da6eab05d3a08700d6e8883992325c",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/lists/manual"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 906,
            "text": "{\"dashboard_lists\":[{\"author\":{\"name\":null,\"handle\":\"frog@datadoghq.com\"},\"created\":\"2023-02-16T21:10:17.185865+00:00\",\"dashboards\":null,\"dashboard_count\":0,\"id\":364491,\"is_favorite\":false,\"modified\":\"2023-02-16T21:10:17.185872+00:00\",\"name\":\"Test-Get_all_dashboard_lists_returns_OK_response-1676581817\",\"type\":\"manual_dashboard_list\"},{\"author\":{\"name\":null,\"handle\":\"frog@datadoghq.com\"},\"created\":\"2022-12-09T15:04:28.806069+00:00\",\"dashboards\":null,\"dashboard_count\":1,\"id\":348463,\"is_favorite\":false,\"modified\":\"2022-12-09T15:04:29.985883+00:00\",\"name\":\"Test-Go-TestDashboardListItemCRUD-1670598268\",\"type\":\"manual_dashboard_list\"}]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 360
      },
      {
        "_id": "26fb955538203de62fa069078d2c99f9",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/lists/manual/364491"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 37,
            "text": "{\"deleted_dashboard_list_id\":364491}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 154
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
