{
  "log": {
    "_recordingName": "Error Tracking/Update the assignee of an issue returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "64dd10e3cd368dd3f7ba55da10f5ba95",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"from\":1755176363000,\"query\":\"service:synthetics-browser\",\"to\":1756472363000,\"track\":\"rum\"},\"type\":\"search_request\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/error-tracking/issues/search"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 243,
            "text": "{\"data\":[{\"id\":\"5f8ebd5c-6dd9-11f0-8a28-da7ad0900002\",\"type\":\"error_tracking_search_result\",\"attributes\":{\"impacted_sessions\":1,\"total_count\":1},\"relationships\":{\"issue\":{\"data\":{\"id\":\"5f8ebd5c-6dd9-11f0-8a28-da7ad0900002\",\"type\":\"issue\"}}}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 282
      },
      {
        "_id": "9b63fee9f9a2f4757a0df3e86bf172e5",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"id\":\"invalid-id\",\"type\":\"assignee\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/error-tracking/issues/5f8ebd5c-6dd9-11f0-8a28-da7ad0900002/assignee"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 86,
            "text": "{\"errors\":[{\"status\":\"400\",\"title\":\"Bad Request\",\"detail\":\"invalid UUID length: 10\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 86
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
