{
  "log": {
    "_recordingName": "Deployment Gates/Create deployment gate returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "70acb264a190c9504530585b68c408be",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"dry_run\":false,\"env\":\"production\",\"identifier\":\"my-gate\",\"service\":\"my-service\"},\"type\":\"deployment_gate\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/deployment_gates"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 515,
            "text": "{\"data\":{\"id\":\"5a353b4e-7f63-4ae8-bc93-1727f5a097b3\",\"type\":\"deployment_gate\",\"attributes\":{\"created_at\":\"2025-10-24T09:11:29.702644Z\",\"created_by\":{\"id\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\",\"name\":\"CI Account\",\"handle\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\"},\"dry_run\":false,\"env\":\"production\",\"identifier\":\"my-gate\",\"service\":\"my-service\",\"updated_at\":\"2025-10-24T09:11:29.702644Z\",\"updated_by\":{\"id\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\",\"name\":\"CI Account\",\"handle\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\"}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 286
      },
      {
        "_id": "fed68dd3da9ac014f2b3ba18944da2ca",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/deployment_gates/5a353b4e-7f63-4ae8-bc93-1727f5a097b3"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 294
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
