{
  "log": {
    "_recordingName": "Teams/Update a user's role on a team returns \"API error response.\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "71a64d8f53bbcde094dda9041933fd51",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"handle-7ee388ec964ab7d8\",\"name\":\"name-7ee388ec964ab7d8\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 550,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"5ac7a35c-ef4f-11ed-ba32-da7ad0900002\",\"attributes\":{\"name\":\"name-7ee388ec964ab7d8\",\"handle\":\"handle-7ee388ec964ab7d8\",\"summary\":null,\"description\":null,\"color\":6,\"created_at\":\"2023-05-10T16:26:02.284460+00:00\",\"modified_at\":\"2023-05-10T16:26:02.284464+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/5ac7a35c-ef4f-11ed-ba32-da7ad0900002/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/5ac7a35c-ef4f-11ed-ba32-da7ad0900002/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 156
      },
      {
        "_id": "3eb66aac43f8344756a4f7621d143833",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"role\":\"admin\"},\"type\":\"team_memberships\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/5ac7a35c-ef4f-11ed-ba32-da7ad0900002/memberships/REPLACE.ME"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 55,
            "text": "{\"errors\":[\"REPLACE.ME is not a valid UUID not found\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 120
      },
      {
        "_id": "3defc2d1ebef4f44ae615689c096a7bc",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/5ac7a35c-ef4f-11ed-ba32-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 177
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
