{
  "log": {
    "_recordingName": "Teams/Update a user's role on a team returns \"API error response.\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "a6d1ac40a57ce10bc183733e939a160d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"1679942005\",\"name\":\"1679942005\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 526,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"dc7e6240-cccd-11ed-bc0b-da7ad0900002\",\"attributes\":{\"name\":\"1679942005\",\"handle\":\"1679942005\",\"summary\":null,\"description\":null,\"color\":8,\"created_at\":\"2023-03-27T18:33:25.798162+00:00\",\"modified_at\":\"2023-03-27T18:33:25.798166+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/dc7e6240-cccd-11ed-bc0b-da7ad0900002/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/dc7e6240-cccd-11ed-bc0b-da7ad0900002/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 386
      },
      {
        "_id": "a3e67f055867f324367c22a08c639763",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"role\":\"admin\"},\"type\":\"team_memberships\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/dc7e6240-cccd-11ed-bc0b-da7ad0900002/memberships/REPLACE.ME"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 55,
            "text": "{\"errors\":[\"REPLACE.ME is not a valid UUID not found\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 333
      },
      {
        "_id": "9252b9761c7b63c83bddaaa3698b7d36",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/dc7e6240-cccd-11ed-bc0b-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 501
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
