{
  "log": {
    "_recordingName": "Teams/Update a user's role on a team returns \"API error response.\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "76ec3bf1eb450ecbb81c974cf8ea9541",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"test-handle-427b76ae43f10fe0\",\"name\":\"test-name-427b76ae43f10fe0\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 619,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"33d811ca-405b-11ee-a640-da7ad0900002\",\"attributes\":{\"name\":\"test-name-427b76ae43f10fe0\",\"handle\":\"test-handle-427b76ae43f10fe0\",\"summary\":null,\"description\":null,\"avatar\":null,\"banner\":null,\"visible_modules\":[],\"hidden_modules\":[],\"created_at\":\"2023-08-21T19:44:55.105594+00:00\",\"modified_at\":\"2023-08-21T19:44:55.105599+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/33d811ca-405b-11ee-a640-da7ad0900002/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/33d811ca-405b-11ee-a640-da7ad0900002/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 174
      },
      {
        "_id": "74f98c05a6729f4dbadce1707f303001",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"role\":\"admin\"},\"type\":\"team_memberships\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/33d811ca-405b-11ee-a640-da7ad0900002/memberships/REPLACE.ME"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 55,
            "text": "{\"errors\":[\"REPLACE.ME is not a valid UUID not found\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 115
      },
      {
        "_id": "319828d3a4648cb06a2a97436797ec5e",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/33d811ca-405b-11ee-a640-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 161
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
