{
  "log": {
    "_recordingName": "Web Integrations/Update integration account returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "a6ebe030cddb98173ba25d44f3fb2e02",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Update_integration_account_returns_OK_response-1768522916\",\"secrets\":{\"api_key_token\":\"test_secret_token_value\"},\"settings\":{\"account_sid\":\"ACxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\"alerts\":true,\"api_key\":\"SKxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\"call_summaries\":true,\"ccm_enabled\":true,\"censor_logs\":true,\"events\":true,\"messages\":true}},\"type\":\"Account\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/web-integrations/twilio/accounts"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 373,
            "text": "{\"data\":{\"id\":\"4458ffbb-09e3-4b11-8b59-7ac39a766164\",\"type\":\"Account\",\"attributes\":{\"name\":\"Test-Update_integration_account_returns_OK_response-1768522916\",\"settings\":{\"account_sid\":\"ACxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\"alerts\":true,\"api_key\":\"SKxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\"call_summaries\":true,\"ccm_enabled\":true,\"censor_logs\":true,\"events\":true,\"messages\":true}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 469
      },
      {
        "_id": "661977aedd27b5140f943ef4e63af306",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Update_integration_account_returns_OK_r[...]
