{
  "log": {
    "_recordingName": "Dashboards/Create a new dashboard with point_plot widget",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "059f3c5f6e7d9e3dad3a892d5629f2c1",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"layout_type\":\"ordered\",\"title\":\"Test-Create_a_new_dashboard_with_point_plot_widget-1777564723\",\"widgets\":[{\"definition\":{\"requests\":[{\"projection\":{\"dimensions\":[{\"column\":\"host\",\"dimension\":\"group\"},{\"column\":\"@duration\",\"dimension\":\"y\"}],\"type\":\"point_plot\"},\"query\":{\"data_source\":\"logs\",\"query_string\":\"service:web-store\"},\"request_type\":\"data_projection\"}],\"title\":\"\",\"title_align\":\"left\",\"title_size\":\"16\",\"type\":\"point_plot\"}}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 829,
            "text": "{\"id\":\"w8g-9wi-uav\",\"title\":\"Test-Create_a_new_dashboard_with_point_plot_widget-1777564723\",\"description\":null,\"author_handle\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\",\"author_name\":\"CI Account\",\"layout_type\":\"ordered\",\"url\":\"/dashboard/w8g-9wi-uav/test-createanewdashboardwithpointplotwidget-1777564723\",\"template_variables\":null,\"widgets\":[{\"definition\":{\"requests\":[{\"projection\":{\"dimensions\":[{\"column\":\"host\",\"dimension\":\"group\"},{\"column\":\"@duration\",\"dimension\":\"y\"}],\"type\":\"point_plot\"},\"query\":{\"data_source\":\"logs\",\"query_string\":\"service:web-store\"},\"request_type\":\"data_projection\"}],\"title\":\"\",\"title_align\":\"left\",\"title_size\":\"16\",\"type\":\"point_plot\"},\"id\":1386353259406476}],\"notify_list\":null,\"created_at\":\"2026-04-30T15:58:43.645158+00:00\",\"modified_at\":\"2026-04-30T15:58:43.645158+00:00\",\"restricted_roles\":[]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 481
      },
      {
        "_id": "34713bd69597a294fdf5e297fb7f9187",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/w8g-9wi-uav"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 38,
            "text": "{\"deleted_dashboard_id\":\"w8g-9wi-uav\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1306
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
