{
  "log": {
    "_recordingName": "Users/Send invitation emails returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "51b6ac3deafd0cd8d9b1507b40561dd5",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Typescript-Send_invitation_emails_returns_OK_response-1613653977.969@datadoghq.com\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 651,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"0530614c-71eb-11eb-941f-da7ad0900002\",\"attributes\":{\"name\":null,\"handle\":\"typescript-send_invitation_emails_returns_ok_response-1613653977.969@datadoghq.com\",\"created_at\":\"2021-02-18T13:12:58.322966+00:00\",\"email\":\"typescript-send_invitation_emails_returns_ok_response-1613653977.969@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/605641c9cae89ec563fc29c0f2aca138?s=48&d=retro\",\"title\":null,\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.3933218"
            },
            {
              "name": "x-dd-debug",
              "value": "25u1gDlL724DHllbjFT4BhOLorBTilh+aah2uWAUEjFC/+rjczJdiyWrV/HwLwe/"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 477,
      },
      {
        "_id": "f47619d5487c45115993bf6abb76a3af",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":[{\"relationships\":{\"user\":{\"data\":{\"id\":\"0530614c-71eb-11eb-941f-da7ad0900002\",\"type\":\"users\"}}},\"type\":\"user_invitations\"}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/user_invitations"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 384,
            "text": "{\"data\":[{\"type\":\"user_invitations\",\"id\":\"05758736-71eb-11eb-941f-da7ad0900002\",\"attributes\":{\"uuid\":\"05758736-71eb-11eb-941f-da7ad0900002\",\"login_method\":null,\"invite_type\":\"openid_invite\",\"created_at\":\"2021-02-18T13:12:58.776721+00:00\",\"expires_at\":\"2021-02-20T13:12:58.719352+00:00\"},\"relationships\":{\"user\":{\"data\":{\"type\":\"users\",\"id\":\"0530614c-71eb-11eb-941f-da7ad0900002\"}}}}]}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.3933218"
            },
            {
              "name": "x-dd-debug",
              "value": "twvpGlmuom5y6A0pjGtXzTf554cmwJgTcCZ71fK4H/RDi+v5ehBK0zQiRcTJQG5C"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 402,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
