{
  "log": {
    "_recordingName": "Users/Send invitation emails returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "1782c9e8346d8a603288d2477ee39c89",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Send_invitation_emails_returns_OK_response-1618491787@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 688,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"ec4632de-9dea-11eb-9df5-da7ad0900002\",\"attributes\":{\"name\":null,\"handle\":\"test-send_invitation_emails_returns_ok_response-1618491787@datadoghq.com\",\"created_at\":\"2021-04-15T13:03:07.685627+00:00\",\"modified_at\":\"2021-04-15T13:03:07.716219+00:00\",\"email\":\"test-send_invitation_emails_returns_ok_response-1618491787@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/ae127789374025e1ca3730b1e05ea0d0?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 473
      },
      {
        "_id": "f04d84cff27783c80ccbc881357efe9f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":[{\"relationships\":{\"user\":{\"data\":{\"id\":\"ec4632de-9dea-11eb-9df5-da7ad0900002\",\"type\":\"users\"}}},\"type\":\"user_invitations\"}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/user_invitations"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 384,
            "text": "{\"data\":[{\"type\":\"user_invitations\",\"id\":\"ed385bb8-9dea-11eb-9df5-da7ad0900002\",\"attributes\":{\"uuid\":\"ed385bb8-9dea-11eb-9df5-da7ad0900002\",\"login_method\":null,\"invite_type\":\"openid_invite\",\"created_at\":\"2021-04-15T13:03:09.272516+00:00\",\"expires_at\":\"2021-04-17T13:03:09.204259+00:00\"},\"relationships\":{\"user\":{\"data\":{\"type\":\"users\",\"id\":\"ec4632de-9dea-11eb-9df5-da7ad0900002\"}}}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 2318
      },
      {
        "_id": "4bd94adfac5b4a2ccc589394545932c9",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users/ec4632de-9dea-11eb-9df5-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 0
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 505
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
