{
  "log": {
    "_recordingName": "Users/Send invitation emails returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "1e5d4128c3c01d9fe03496004129f131",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Typescript-Send_invitation_emails_returns_OK_response-1613750715.209@datadoghq.com\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 651,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"4108ca9c-72cc-11eb-9468-da7ad0900002\",\"attributes\":{\"name\":null,\"handle\":\"typescript-send_invitation_emails_returns_ok_response-1613750715.209@datadoghq.com\",\"created_at\":\"2021-02-19T16:05:15.491123+00:00\",\"email\":\"typescript-send_invitation_emails_returns_ok_response-1613750715.209@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/268d8a72b5d590aff3e12e2a7f71d8cb?s=48&d=retro\",\"title\":null,\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.3944440"
            },
            {
              "name": "x-dd-debug",
              "value": "dPySkcOzIZtKyMKDAAzuysY3gNGGj6RtYogGuSb76E8mPvoqzREyRp6lPYm91hQU"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 441,
      },
      {
        "_id": "9fc738a002ba4485d84410efd94b935b",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":[{\"relationships\":{\"user\":{\"data\":{\"id\":\"4108ca9c-72cc-11eb-9468-da7ad0900002\",\"type\":\"users\"}}},\"type\":\"user_invitations\"}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/user_invitations"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 384,
            "text": "{\"data\":[{\"type\":\"user_invitations\",\"id\":\"416a1432-72cc-11eb-9468-da7ad0900002\",\"attributes\":{\"uuid\":\"416a1432-72cc-11eb-9468-da7ad0900002\",\"login_method\":null,\"invite_type\":\"openid_invite\",\"created_at\":\"2021-02-19T16:05:16.129193+00:00\",\"expires_at\":\"2021-02-21T16:05:15.944914+00:00\"},\"relationships\":{\"user\":{\"data\":{\"type\":\"users\",\"id\":\"4108ca9c-72cc-11eb-9468-da7ad0900002\"}}}}]}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.3944440"
            },
            {
              "name": "x-dd-debug",
              "value": "l4HFlaRP3QwYSq[...]
