{
  "log": {
    "_recordingName": "Users/Send invitation emails returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "ba31101cf1dff32d574bb0473ff24559",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Typescript-Send_invitation_emails_returns_OK_response-1617271895.414@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 708,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"a41a24b6-92d2-11eb-9c02-da7ad0900002\",\"attributes\":{\"name\":null,\"handle\":\"typescript-send_invitation_emails_returns_ok_response-1617271895.414@datadoghq.com\",\"created_at\":\"2021-04-01T10:11:35.888032+00:00\",\"modified_at\":\"2021-04-01T10:11:35.923308+00:00\",\"email\":\"typescript-send_invitation_emails_returns_ok_response-1617271895.414@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/270ede6877d7cbe5b5e55cff15007f62?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.4216820"
            },
            {
              "name": "x-dd-debug",
              "value": "mNzaoDhdDKO7t4QSrAe5X7pHd0bJND187D+vRbwoluXouE2m1UaQQX0RGCvRpLVE"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 462,
      },
      {
        "_id": "8b413be6c21d177072c346552e5a9f82",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":[{\"relationships\":{\"user\":{\"data\":{\"id\":\"a41a24b6-92d2-11eb-9c02-da7ad0900002\",\"type\":\"users\"}}},\"type\":\"user_invitations\"}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/user_invitations"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 384,
            "text": "{\"data\":[{\"type\":\"user_invitations\",\"id\":\"a47cc224-92d2-11eb-9c02-da7ad0900002\",\"attributes\":{\"uuid\":\"a47cc224-92d2-11eb-9c02-da7ad0900002\",\"login_method\":null,\"invite_type\":\"openid_invite\",\"created_at\":\"2021-04-01T10:11:36.533783+00:00\",\"expires_at\":\"2021-04-03T10:11:36.354055+00:00\"},\"relationships\":{\"user\":{\"data\":{\"type\":\"users\",\"id\":\"a41a24b6-92d2-11eb-9c02-da7ad0900002\"}}}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.4216820"
            },
            {
              "name": "x-dd-debug",
              "value": "dCmL/3rURV6BPeaqeP3Rxigq41m[...]
