{
  "log": {
    "_recordingName": "Users/Send invitation emails returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "b96fd7ab7b70a76f368b131d84f765b2",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Typescript-Send_invitation_emails_returns_OK_response-1613666672.356@datadoghq.com\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 651,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"93dd7354-7208-11eb-9437-da7ad0900002\",\"attributes\":{\"name\":null,\"handle\":\"typescript-send_invitation_emails_returns_ok_response-1613666672.356@datadoghq.com\",\"created_at\":\"2021-02-18T16:44:33.098543+00:00\",\"email\":\"typescript-send_invitation_emails_returns_ok_response-1613666672.356@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/b092627b2b96d9e9df2b6954ba390efd?s=48&d=retro\",\"title\":null,\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.3935655"
            },
            {
              "name": "x-dd-debug",
              "value": "bgHykj7A9bfZx0Y5ZO3swhhp5tGUSNJHqFWR868+qg087CYrDOd5hQslC+noiEtH"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 889,
      },
      {
        "_id": "c44a41e938cd82bfb92581e179a46302",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":[{\"relationships\":{\"user\":{\"data\":{\"id\":\"93dd7354-7208-11eb-9437-da7ad0900002\",\"type\":\"users\"}}},\"type\":\"user_invitations\"}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/user_invitations"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 384,
            "text": "{\"data\":[{\"type\":\"user_invitations\",\"id\":\"9423b0d0-7208-11eb-9437-da7ad0900002\",\"attributes\":{\"uuid\":\"9423b0d0-7208-11eb-9437-da7ad0900002\",\"login_method\":null,\"invite_type\":\"openid_invite\",\"created_at\":\"2021-02-18T16:44:33.559490+00:00\",\"expires_at\":\"2021-02-20T16:44:33.506870+00:00\"},\"relationships\":{\"user\":{\"data\":{\"type\":\"users\",\"id\":\"93dd7354-7208-11eb-9437-da7ad0900002\"}}}}]}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.3935655"
            },
            {
              "name": "x-dd-debug",
              "value": "SY1h8ScsWq+kYmtbh63ltMLFAZsQjqfrgvdfAoRX+9TzT1sgMBRYaFRwfWWRRe9a"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 1345,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
