{
  "log": {
    "_recordingName": "Users/Send invitation emails returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "8f2e4ae7737fd56ae987ae5d9eeec36b",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Typescript-Send_invitation_emails_returns_OK_response-1617202461.567@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 708,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"fa43943c-9230-11eb-9bd3-da7ad0900002\",\"attributes\":{\"name\":null,\"handle\":\"typescript-send_invitation_emails_returns_ok_response-1617202461.567@datadoghq.com\",\"created_at\":\"2021-03-31T14:54:21.972798+00:00\",\"modified_at\":\"2021-03-31T14:54:22.027856+00:00\",\"email\":\"typescript-send_invitation_emails_returns_ok_response-1617202461.567@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/68d2abdbef25b475dd1ecdfa1dc9c2f3?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.4209519"
            },
            {
              "name": "x-dd-debug",
              "value": "gYZcaADwbKcv7Hm19HJx6WsLoKuOijDWAt2viPeCfWqUgyKY+9e1xZdmMJeXV3YV"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 542,
      },
      {
        "_id": "a94367dc153eabc05c9a1e01763602db",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":[{\"relationships\":{\"user\":{\"data\":{\"id\":\"fa43943c-9230-11eb-9bd3-da7ad0900002\",\"type\":\"users\"}}},\"type\":\"user_invitations\"}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/user_invitations"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 384,
            "text": "{\"data\":[{\"type\":\"user_invitations\",\"id\":\"fa9a434a-9230-11eb-9bd3-da7ad0900002\",\"attributes\":{\"uuid\":\"fa9a434a-9230-11eb-9bd3-da7ad0900002\",\"login_method\":null,\"invite_type\":\"openid_invite\",\"created_at\":\"2021-03-31T14:54:22.542684+00:00\",\"expires_at\":\"2021-04-02T14:54:22.478933+00:00\"},\"relationships\":{\"user\":{\"data\":{\"type\":\"users\",\"id\":\"fa43943c-9230-11eb-9bd3-da7ad0900002\"}}}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.4209519"
            },
            {
              "name": "x-dd-debug",
              "value": "HbtaOKlJ6OCrx9tMXO6ivMTrEM+[...]
