{
  "log": {
    "_recordingName": "Cloud Cost Management/Get cost Azure UC config returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "a852a80490bbf38b16f405fe628619dc",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/cost/azure_uc_config/123456"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 1160,
            "text": "{\"data\":{\"id\":\"123456\",\"type\":\"azure_uc_configs\",\"attributes\":{\"configs\":[{\"account_id\":\"1234abcd-1234-abcd-1234-abcd1234abcd\",\"client_id\":\"12345678-1234-5678-1234-567812345678\",\"status\":\"active\",\"status_updated_at\":\"2024-09-06T11:49:10.544706\",\"error_messages\":null,\"id\":\"123\",\"dataset_type\":\"amortized\",\"storage_account\":\"teststorageaccount\",\"storage_container\":\"teststoragecontainer\",\"export_name\":\"test-export-name\",\"export_path\":\"/test-export-path-amortized\",\"scope\":\"/subscriptions/abcdefgh-abcd-efgh-abcd-efghabcdefgh\",\"months\":15,\"created_at\":\"2023-06-14T20:42:08.792050\",\"updated_at\":\"2023-06-14T20:42:08.792050\"},{\"account_id\":\"87654321-8765-4321-8765-432187654321\",\"client_id\":\"aaaabbbb-cccc-dddd-eeee-ffffgggghhhh\",\"status\":\"active\",\"status_updated_at\":\"2024-09-06T11:49:10.544706\",\"error_messages\":null,\"id\":\"456\",\"dataset_type\":\"actual\",\"storage_account\":\"teststorageaccount\",\"storage_container\":\"teststoragecontainer\",\"export_name\":\"test-export-name\",\"export_path\":\"/test-export-path-actual\",\"scope\":\"/subscriptions/abcdefgh-abcd-efgh-abcd-efghabcdefgh\",\"months\":15,\"created_at\":\"2023-06-14T20:42:08.792050\",\"updated_at\":\"2023-06-14T20:42:08.792050\"}]}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 179
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
