{
  "log": {
    "_recordingName": "Domain Allowlist/Get Domain Allowlist returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ef25ca5c7248f1ce0d700b9c841b7279",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/domain_allowlist"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 107,
            "text": "{\"data\":{\"type\":\"domain_allowlist\",\"attributes\":{\"enabled\":false,\"domains\":[\"@static-test-domain.test\"]}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 228
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
