{
  "log": {
    "_recordingName": "AWS Integration/Create an AWS integration returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "b345fb9c3709338914a9210da4d600fd",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"account_id\":\"169988502100\",\"account_specific_namespace_rules\":{\"auto_scaling\":false},\"cspm_resource_collection_enabled\":true,\"excluded_regions\":[\"us-east-1\",\"us-west-2\"],\"filter_tags\":[\"$KEY:$VALUE\"],\"host_tags\":[\"$KEY:$VALUE\"],\"metrics_collection_enabled\":false,\"resource_collection_enabled\":true,\"role_name\":\"DatadogAWSIntegrationRole\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/integration/aws"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 51,
            "text": "{\"external_id\":\"9668e281c0ef4cc8be01710ef7a0ae4c\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1169
      },
      {
        "_id": "f88366bd5b70614a86ac275fdf744321",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "DELETE",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"account_id\":\"169988502100\",\"role_name\":\"DatadogAWSIntegrationRole\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/integration/aws"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 3,
            "text": "{}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 745
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
