{
  "log": {
    "_recordingName": "On-Call/Get on-call responders for a schedule returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "80668eb50507927f5faf4ae4f60261cc",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Get_on_call_responders_for_a_schedule_returns_OK_response-1783675897@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 788,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"7f1b523e-fe13-4917-8519-6dd314ef17c0\",\"attributes\":{\"uuid\":\"7f1b523e-fe13-4917-8519-6dd314ef17c0\",\"name\":null,\"handle\":\"test-get_on_call_responders_for_a_schedule_returns_ok_response-1783675897@datadoghq.com\",\"created_at\":\"2026-07-10T09:31:38.042683+00:00\",\"modified_at\":\"2026-07-10T09:31:38.042683+00:00\",\"email\":\"test-get_on_call_responders_for_a_schedule_returns_ok_response-1783675897@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/22b76633087bc3ee4427cc67e8466d5e?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\",\"last_login_time\":null},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 617
      },
      {
        "_id": "ef6508f97c9288000ac97c2b134f118e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"layers\":[{\"effective_date\":\"2026-06-30T09:31:37.503Z\",\"end_date\":\"2026-07-20T09:31:37.503Z\",\"interval\":{\"days\":1},\"members\":[{\"user\":{\"id\":\"7f1b523e-fe13-4917-8519-6dd314ef17c0\"}}],\"name\":\"Layer 1\",\"restrictions\":[{\"end_day\":\"friday\",\"end_time\":\"17:00:00\",\"start_day\":\"monday\",\"start_time\":\"09:00:00\"}],\"rotation_start\":\"2026-07-05T09:31:37.503Z\"}],\"name\":\"Test-Get_on_call_responders_for_a_schedule_returns_OK_response-1783675897\",\"time_zone\":\"America/New_York\"},\"relationships\":{\"teams\":{\"data\":[{\"id\":\"65aea9d0-941c-4607-bf8a-14fc0dac2820\",\"type\":\"teams\"}]}},\"type\":\"schedules\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/on-call/schedules"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 392,
            "text": "{\"data\":{\"id\":\"23545b48-fa23-4ea9-a331-3a38f81195cd\",\"type\":\"schedules\",\"attributes\":{\"name\":\"Test-Get_on_call_responders_for_a_schedule_returns_OK_response-1783675897\",\"tags\":[],\"time_zone\":\"America/New_York\"},\"relationships\":{\"layers\":{\"data\":[{\"id\":\"03edf431-b1a6-418a-965e-9df50275dc7e\",\"type\":\"layers\"}]},\"teams\":{\"data\":[{\"id\":\"65aea9d0-941c-4607-bf8a-14fc0dac2820\",\"type\":\"teams\"}]}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 569
      },
      {
        "_id": "cd5cb6e9d0d066c626a7b1143fa877de",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/on-call/schedules/23545b48-fa23-4ea9-a331-3a38f81195cd/responders"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 391,
            "text": "{\"data\":{\"id\":\"23545b48-fa23-4ea9-a331-3a38f81195cd-1783675898\",\"type\":\"schedule_oncall_responders\",\"attributes\":{\"scheduled_at\":\"2026-07-10T09:31:38.803561233Z\"},\"relationships\":{\"responders\":{\"data\":[{\"id\":\"23545b48-fa23-4ea9-a331-3a38f81195cd-1783675898-current\",\"type\":\"schedule_oncall_responder\"}]},\"schedule\":{\"data\":{\"id\":\"23545b48-fa23-4ea9-a331-3a38f81195cd\",\"type\":\"schedules\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 130
      },
      {
        "_id": "7d355057b29ca8d0d028e717bdef3498",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/on-call/schedules/23545b48-fa23-4ea9-a331-3a38f81195cd"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 499
      },
      {
        "_id": "ccb9792352154f65be4e1776d4779448",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users/7f1b523e-fe13-4917-8519-6dd314ef17c0"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 764
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
