{
  "log": {
    "_recordingName": "Downtimes/Get all downtimes for a monitor returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "9119af52b019c95b082259c1f563bfb7",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"message\":\"some message Notify: @hipchat-channel\",\"name\":\"Test-Get_all_downtimes_for_a_monitor_returns_OK_response-1686335640\",\"options\":{\"enable_logs_sample\":true,\"escalation_message\":\"the situation has escalated\",\"evaluation_delay\":700,\"groupby_simple_monitor\":true,\"include_tags\":true,\"locked\":false,\"new_host_delay\":600,\"no_data_timeframe\":null,\"notification_preset_name\":\"hide_handles\",\"notify_audit\":false,\"notify_no_data\":false,\"on_missing_data\":\"show_and_notify_no_data\",\"renotify_interval\":60,\"require_full_window\":true,\"thresholds\":{\"critical\":2,\"warning\":1},\"timeout_h\":24},\"priority\":3,\"query\":\"logs(\\\"service:foo AND type:error\\\").index(\\\"main\\\").rollup(\\\"count\\\").by(\\\"source\\\").last(\\\"5m\\\") > 2\",\"tags\":[\"test:testgetalldowntimesforamonitorreturnsokresponse1686335640\",\"env:ci\"],\"type\":\"log alert\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/monitor"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1186,
            "text": "{\"id\":121479417,\"org_id\":321813,\"type\":\"log alert\",\"name\":\"Test-Get_all_downtimes_for_a_monitor_returns_OK_response-1686335640\",\"message\":\"some message Notify: @hipchat-channel\",\"tags\":[\"test:testgetalldowntimesforamonitorreturnsokresponse1686335640\",\"env:ci\"],\"query\":\"logs(\\\"service:foo AND type:error\\\").index(\\\"main\\\").rollup(\\\"count\\\").by(\\\"source\\\").last(\\\"5m\\\") > 2\",\"options\":{\"enable_logs_sample\":true,\"escalation_message\":\"the situation has escalated\",\"evaluation_delay\":700,\"groupby_simple_monitor\":true,\"include_tags\":true,\"locked\":false,\"new_host_delay\":600,\"no_data_timeframe\":null,\"notification_preset_name\":\"hide_handles\",\"notify_audit\":false,\"notify_no_data\":false,\"on_missing_data\":\"show_and_notify_no_data\",\"renotify_interval\":60,\"require_full_window\":true,\"thresholds\":{\"critical\":2.0,\"warning\":1.0},\"timeout_h\":24,\"silenced\":{}},\"multi\":true,\"created_at\":1686335641000,\"created\":\"2023-06-09T18:34:01.442210+00:00\",\"modified\":\"2023-06-09T18:34:01.442210+00:00\",\"deleted\":null,\"restricted_roles\":null,\"priority\":3,\"overall_state_modified\":null,\"overall_state\":\"No Data\",\"creator\":{\"name\":null,\"handle\":\"frog@datadoghq.com\",\"email\":\"frog@datadoghq.com\",\"id\":1445416}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 187
      },
      {
        "_id": "1879518b2b27ed38bd4b0168aab3eb5e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"message\":\"test message\",\"monitor_identifier\":{\"monitor_tags\":[\"cat:hat\"]},\"schedule\":{\"start\":null},\"scope\":\"test:testgetalldowntimesforamonitorreturnsokresponse1686335640\"},\"type\":\"downtime\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/downtime"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1159,
            "text": "{\"data\":{\"type\":\"downtime\",\"id\":\"3464847a-06f4-11ee-b132-da7ad0900002\",\"attributes\":{\"notify_end_states\":[\"alert\",\"warn\",\"no data\"],\"message\":\"test message\",\"created\":\"2023-06-09T18:34:01.584184+00:00\",\"mute_first_recovery_notification\":false,\"schedule\":{\"start\":\"2023-06-09T18:34:01.568663+00:00\",\"end\":null},\"notify_end_types\":[\"expired\"],\"scope\":\"test:testgetalldowntimesforamonitorreturnsokresponse1686335640\",\"display_timezone\":\"UTC\",\"canceled\":null,\"modified\":\"2023-06-09T18:34:01.584184+00:00\",\"monitor_identifier\":{\"monitor_tags\":[\"cat:hat\"]},\"status\":\"active\"},\"relationships\":{\"created_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}},\"monitor\":{\"data\":null}}},\"included\":[{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"attributes\":{\"name\":null,\"handle\":\"frog@datadoghq.com\",\"created_at\":\"2019-10-02T08:15:39.795051+00:00\",\"modified_at\":\"2020-06-15T12:33:12.884459+00:00\",\"email\":\"frog@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro\",\"title\":null,\"verified\":true,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Active\"}}]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 119
      },
      {
        "_id": "56dc9ab4f0bff683f7b403c8f2e94036",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/monitor/121479417/downtime_matches"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 189,
            "text": "{\"data\":[{\"type\":\"downtime_match\",\"attributes\":{\"end\":null,\"start\":\"2023-04-12T08:23:50.723151\",\"scope\":[\"*\"],\"monitor_identifier\":{\"monitor_tags\":[\"*\"]},\"groups\":[\"*\"]},\"id\":2826376461}]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 95
      },
      {
        "_id": "6bfb0a3ccdaebe315099a3597bc5b9b2",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/downtime/3464847a-06f4-11ee-b132-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=utf-8",
            "size": 0
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=utf-8"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 223
      },
      {
        "_id": "debc6e83c20187103fe42a0d24255546",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/monitor/121479417"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 33,
            "text": "{\"deleted_monitor_id\":121479417}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 133
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
