{
  "log": {
    "_recordingName": "Cloud Cost Management/Get cost AWS CUR config returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "62a6b8f128cad83e64fb7044f8bd5f64",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/cost/aws_cur_config/123456"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 452,
            "text": "{\"data\":{\"id\":\"123456\",\"type\":\"aws_cur_config\",\"attributes\":{\"account_filters\":{\"include_new_accounts\":null},\"account_id\":\"123456123456\",\"bucket_name\":\"dd-bucket-name\",\"bucket_region\":\"us-east-1\",\"created_at\":\"2023-05-01T20:05:41.849823\",\"error_messages\":null,\"months\":15,\"report_name\":\"report-name-test\",\"report_prefix\":\"report-prefix-test\",\"status\":\"active\",\"status_updated_at\":\"2025-01-15T14:57:27.799558\",\"updated_at\":\"2023-05-01T20:05:41.849823\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 169
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
