{
  "log": {
    "_recordingName": "Key Management/Create an API key returns \"Created\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "fde21dcf18749c290a6166d67696c2ef",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"type\":\"api_keys\",\"attributes\":{\"name\":\"Test-Create_an_API_key_returns_Created_response-1639757110\"}}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/api_keys"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 493,
            "text": "{\"data\":{\"type\":\"api_keys\",\"attributes\":{\"created_at\":\"2021-12-17T16:05:11.162599+00:00\",\"key\":\"dead4087c6b3d1ae4b5e22e77a98beef\",\"last4\":\"beef\",\"modified_at\":\"2021-12-17T16:05:11.162599+00:00\",\"name\":\"Test-Create_an_API_key_returns_Created_response-1639757110\"},\"relationships\":{\"created_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}},\"modified_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}}},\"id\":\"b4826cba-c36e-5bb0-b789-a40a81b4acfa\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 631,
      },
      {
        "_id": "1d7c33580e23f03d9b0ee42d44654deb",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/api_keys/b4826cba-c36e-5bb0-b789-a40a81b4acfa"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 555,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
