{
  "log": {
    "_recordingName": "Security Monitoring/Run a threat hunting job returns \"Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ad287eca8deaa404d9ebbd2408021229",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"fromRule\":{\"from\":1730201035064,\"id\":\"non-existng\",\"index\":\"main\",\"notifications\":[],\"to\":1730204635115}},\"type\":\"historicalDetectionsJobCreate\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/siem-threat-hunting/jobs"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 49,
            "text": "{\"errors\":[{\"status\":\"404\",\"title\":\"Not Found\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 76
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
