{
  "log": {
    "_recordingName": "Security Monitoring/Delete a notification profile returns \"Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "3b40d50128a38810ded9c1440b3be01f",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/security_monitoring/configuration/notification_rules/ThisRuleIdProbablyDoesntExist"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 97,
            "text": "{\"errors\":[\"not_found(Notification profile with id 'ThisRuleIdProbablyDoesntExist' not found)\"]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 110
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
