{
  "log": {
    "_recordingName": "Webhooks Integration/Create a custom variable returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "a74e4871eb930fe68faa43432f0ca7b0",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"is_secret\":true,\"name\":\"TESTCREATEACUSTOMVARIABLERETURNSOKRESPONSE1642429420\",\"value\":\"CUSTOM_VARIABLE_VALUE\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/integration/webhooks/configuration/custom-variables"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 80,
            "text": "{\"is_secret\":true,\"name\":\"TESTCREATEACUSTOMVARIABLERETURNSOKRESPONSE1642429420\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 1406
      },
      {
        "_id": "0f99c9187013367b16f54f897a7f4b9f",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/integration/webhooks/configuration/custom-variables/TESTCREATEACUSTOMVARIABLERETURNSOKRESPONSE1642429420"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 2,
            "text": "{}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1010
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
