{
  "log": {
    "_recordingName": "Webhooks Integration/Create a custom variable returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "937d98a47ea17dd7ab6f742513849a8a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"is_secret\":true,\"name\":\"TESTCREATEACUSTOMVARIABLERETURNSOKRESPONSE1652349031\",\"value\":\"CUSTOM_VARIABLE_VALUE\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/integration/webhooks/configuration/custom-variables"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 80,
            "text": "{\"is_secret\":true,\"name\":\"TESTCREATEACUSTOMVARIABLERETURNSOKRESPONSE1652349031\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 3811
      },
      {
        "_id": "1906076d1675065977b38761c4e20190",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/integration/webhooks/configuration/custom-variables/TESTCREATEACUSTOMVARIABLERETURNSOKRESPONSE1652349031"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 2,
            "text": "{}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 2251
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
