{
  "log": {
    "_recordingName": "On-Call/Get on call escalation policy returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ad6b343251e898dea2790b033285bcd3",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Get_on_call_escalation_policy_returns_OK_response-1745462980@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 703,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"c52fbdf7-20b6-11f0-9fba-9e18c50abaf7\",\"attributes\":{\"name\":null,\"handle\":\"test-get_on_call_escalation_policy_returns_ok_response-1745462980@datadoghq.com\",\"created_at\":\"2025-04-24T02:49:41.286277+00:00\",\"modified_at\":\"2025-04-24T02:49:41.286277+00:00\",\"email\":\"test-get_on_call_escalation_policy_returns_ok_response-1745462980@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/353d353320f41d073ed3b9ac3377a373?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 697
      },
      {
        "_id": "b326c3ee8a16ff0a1f3ffe6ea8963214",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"test-handle-8daac668ecee431a\",\"name\":\"test-name-8daac668ecee431a\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 635,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"c0735ecc-f533-4a25-9677-18899e041a6d\",\"attributes\":{\"name\":\"test-name-8daac668ecee431a\",\"handle\":\"test-handle-8daac668ecee431a\",\"summary\":null,\"description\":null,\"avatar\":null,\"banner\":7,\"visible_modules\":[],\"hidden_modules\":[],\"created_at\":\"2025-04-24T02:49:41.969128+00:00\",\"modified_at\":\"2025-04-24T02:49:41.969136+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/c0735ecc-f533-4a25-9677-18899e041a6d/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/c0735ecc-f533-4a25-9677-18899e041a6d/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 744
      },
      {
        "_id": "24206299155efa495110467761e78b1d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"layers\":[{\"effective_date\":\"2025-04-14T02:49:40.684Z\",\"end_date\":\"2025-05-04T02:49:40.684Z\",\"interval\":{\"days\":1},\"members\":[{\"user\":{\"id\":\"890f29d4-0b7a-11f0-aeb2-760fcae4f596\"}}],\"name\":\"Layer 1\",\"restrictions\":[{\"end_day\":\"friday\",\"end_time\":\"17:00:00\",\"start_day\":\"monday\",\"start_time\":\"09:00:00\"}],\"rotation_start\":\"2025-04-19T02:49:40.684Z\"}],\"name\":\"Test-Get_on_call_escalation_policy_returns_OK_response-1745462980\",\"tags\":[\"tag1\",\"tag2\"],\"time_zone\":\"America/New_York\"},\"relationships\":{\"teams\":{\"data\":[{\"id\":\"65aea9d0-941c-4607-bf8a-14fc0dac2820\",\"type\":\"teams\"}]}},\"type\":\"schedules\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/on-call/schedules"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 397,
            "text": "{\"data\":{\"id\":\"dc1207ba-103f-48f3-b12a-47bdaf445fe8\",\"type\":\"schedules\",\"attributes\":{\"name\":\"Test-Get_on_call[...]
