{
  "log": {
    "_recordingName": "On-Call/Get on call escalation policy returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "5208ca7aac3e093b30ffa52455e5691d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Get_on_call_escalation_policy_returns_OK_response-1744783249@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 703,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"25d429f2-1a88-11f0-b235-4679a0c96d46\",\"attributes\":{\"name\":null,\"handle\":\"test-get_on_call_escalation_policy_returns_ok_response-1744783249@datadoghq.com\",\"created_at\":\"2025-04-16T06:00:50.102153+00:00\",\"modified_at\":\"2025-04-16T06:00:50.102153+00:00\",\"email\":\"test-get_on_call_escalation_policy_returns_ok_response-1744783249@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/a47aebfee3d28b3ce11ec075b1040eda?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 689
      },
      {
        "_id": "240a3be15b794ab91ca88fda940bfd23",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"test-handle-f1dc60a9223be0dc\",\"name\":\"test-name-f1dc60a9223be0dc\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 635,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"487e0892-f13a-492f-8024-69e00eb8a741\",\"attributes\":{\"name\":\"test-name-f1dc60a9223be0dc\",\"handle\":\"test-handle-f1dc60a9223be0dc\",\"summary\":null,\"description\":null,\"avatar\":null,\"banner\":6,\"visible_modules\":[],\"hidden_modules\":[],\"created_at\":\"2025-04-16T06:00:50.770065+00:00\",\"modified_at\":\"2025-04-16T06:00:50.770071+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/487e0892-f13a-492f-8024-69e00eb8a741/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/487e0892-f13a-492f-8024-69e00eb8a741/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 728
      },
      {
        "_id": "317563511d81dc26fbb62ce8749f370c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"layers\":[{\"effective_date\":\"2025-04-06T06:00:49.518Z\",\"end_date\":\"2025-04-26T06:00:49.518Z\",\"interval\":{\"days\":1},\"members\":[{\"user\":{\"id\":\"890f29d4-0b7a-11f0-aeb2-760fcae4f596\"}}],\"name\":\"Layer 1\",\"restrictions\":[{\"end_day\":\"friday\",\"end_time\":\"17:00:00\",\"start_day\":\"monday\",\"start_time\":\"09:00:00\"}],\"rotation_start\":\"2025-04-11T06:00:49.518Z\"}],\"name\":\"Test-Get_on_call_escalation_policy_returns_OK_response-1744783249\",\"tags\":[\"tag1\",\"tag2\"],\"time_zone\":\"America/New_York\"},\"relationships\":{\"teams\":{\"data\":[{\"id\":\"65aea9d0-941c-4607-bf8a-14fc0dac2820\",\"type\":\"teams\"}]}},\"type\":\"schedules\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/on-call/schedules"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 397,
            "text": "{\"data\":{\"id\":\"475ddd79-30be-42e8-861f-16d73f27b4af\",\"type\":\"schedules\",\"attributes\":{\"name\":\"Test-Get_on_call[...]
