{
  "log": {
    "_recordingName": "LLM Observability/Create an LLM Observability prompt returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "b9aa0cdd01ec92ea001e2eed81de780e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"prompt_id\":\"Test-Create_an_LLM_Observability_prompt_returns_Bad_Request_response-1784543299\",\"template\":\" \"},\"type\":\"prompt-templates\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/llm-obs/v1/prompts"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 73,
            "text": "{\"errors\":[{\"title\":\"Generic Error\",\"detail\":\"invalid prompt template\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 375
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
