{
  "log": {
    "_recordingName": "Security Monitoring/Create a detection rule with type 'workload_security' returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "7dd828addaceac61c54def9ca5836e64",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"cases\":[{\"condition\":\"a > 0\",\"name\":\"\",\"notifications\":[],\"status\":\"info\"}],\"filters\":[],\"isEnabled\":true,\"message\":\"Test rule\",\"name\":\"Test-Create_a_detection_rule_with_type_workload_security_returns_OK_response-1629100140\",\"options\":{\"evaluationWindow\":900,\"keepAlive\":3600,\"maxSignalDuration\":86400},\"queries\":[{\"agentRule\":{\"agentRuleId\":\"kernel_module_unlink_2\",\"expression\":\"(open.flags & ((O_CREAT|O_RDWR|O_WRONLY|O_TRUNC)) > 0)\"},\"aggregation\":\"count\",\"distinctFields\":[],\"groupByFields\":[],\"metric\":\"\",\"query\":\"@test:true\"}],\"tags\":[],\"type\":\"workload_security\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/security_monitoring/rules"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 901,
            "text": "{\"creationAuthorId\":1445416,\"tags\":[],\"isEnabled\":true,\"hasExtendedTitle\":false,\"message\":\"Test rule\",\"options\":{\"detectionMethod\":\"threshold\",\"evaluationWindow\":900,\"maxSignalDuration\":86400,\"keepAlive\":3600},\"version\":1,\"createdAt\":1629100140907,\"filters\":[],\"queries\":[{\"distinctFields\":[],\"name\":\"\",\"metric\":\"\",\"aggregation\":\"count\",\"groupByFields\":[],\"query\":\"@agent.rule_id:(Test_Create_a_detection_rule_with_type_workload_security_returns_OK_response_1629100140_kernel_module_unlink_2 OR kernel_module_unlink_2)\",\"agentRule\":{\"expression\":\"(open.flags & ((O_CREAT|O_RDWR|O_WRONLY|O_TRUNC)) > 0)\",\"agentRuleId\":\"kernel_module_unlink_2\"}}],\"isDeleted\":false,\"cases\":[{\"status\":\"info\",\"notifications\":[],\"name\":\"\",\"condition\":\"a > 0\"}],\"type\":\"workload_security\",\"id\":\"csl-lpm-o3j\",\"isDefault\":false,\"name\":\"Test-Create_a_detection_rule_with_type_workload_security_returns_OK_response-1629100140\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "600"
            },
            {
              "name": "x-ratelimit-period",
              "value": "60"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "60"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "599"
            },
            {
              "name": "content-disposition",
              "value": "inline"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 484,
      },
      {
        "_id": "35b23d74fe3d2614af194129d8229540",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/security_monitoring/rules/csl-lpm-o3j"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [
            {
              "name": "x-ratelimit-limit",
              "value": "600"
            },
            {
              "name": "x-ratelimit-period",
              "value": "60"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "59"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "598"
            },
            {
              "name": "content-disposition",
              "value": "inline"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 390,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
