{
  "log": {
    "_recordingName": "Security Monitoring/Create a detection rule with type 'workload_security' returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "ab33a72c5161680112e798966a3ac06c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"cases\":[{\"condition\":\"a > 0\",\"name\":\"\",\"notifications\":[],\"status\":\"info\"}],\"filters\":[],\"isEnabled\":true,\"message\":\"Test rule\",\"name\":\"Test-Create_a_detection_rule_with_type_workload_security_returns_OK_response-1640190011\",\"options\":{\"evaluationWindow\":900,\"keepAlive\":3600,\"maxSignalDuration\":86400},\"queries\":[{\"aggregation\":\"count\",\"distinctFields\":[],\"groupByFields\":[],\"metric\":\"\",\"query\":\"@test:true\"}],\"tags\":[],\"type\":\"workload_security\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/security_monitoring/rules"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 635,
            "text": "{\"creationAuthorId\":1445416,\"tags\":[],\"isEnabled\":true,\"hasExtendedTitle\":false,\"message\":\"Test rule\",\"options\":{\"detectionMethod\":\"threshold\",\"evaluationWindow\":900,\"maxSignalDuration\":86400,\"keepAlive\":3600},\"version\":1,\"createdAt\":1640190012032,\"filters\":[],\"queries\":[{\"distinctFields\":[],\"name\":\"\",\"metric\":\"\",\"aggregation\":\"count\",\"groupByFields\":[],\"query\":\"@test:true\"}],\"isDeleted\":false,\"cases\":[{\"status\":\"info\",\"notifications\":[],\"name\":\"\",\"condition\":\"a > 0\"}],\"type\":\"workload_security\",\"id\":\"h4i-5nf-xci\",\"isDefault\":false,\"name\":\"Test-Create_a_detection_rule_with_type_workload_security_returns_OK_response-1640190011\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "999"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "1000"
            },
            {
              "name": "x-ratelimit-period",
              "value": "10"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "8"
            },
            {
              "name": "content-disposition",
              "value": "inline"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 309,
      },
      {
        "_id": "5b951e456d2c5dcdb536592bf44e36a5",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/security_monitoring/rules/h4i-5nf-xci"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [
            {
              "name": "x-ratelimit-remaining",
              "value": "998"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "1000"
            },
            {
              "name": "x-ratelimit-period",
              "value": "10"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "8"
            },
            {
              "name": "content-disposition",
              "value": "inline"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 209,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
