{
  "log": {
    "_recordingName": "Cloud Cost Management/Upload Custom Costs file returns \"Bad Request\" response, empty file",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "8a2e7b1d70163f5cb020ac382bca9e9c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[]"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/cost/custom_costs"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 95,
            "text": "{\"errors\":[{\"status\":\"400\",\"title\":\"Bad Request\",\"detail\":\"Custom cost file cannot be empty\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 172
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
