{
  "log": {
    "_recordingName": "Status Pages/Delete status page returns \"No Content\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "8c2cecd15dca0a6e3367b0aae0631bdd",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"components\":[{\"name\":\"20bbb49e0cc5c753\",\"type\":\"component\"}],\"domain_prefix\":\"dd-integration-tests-20bbb49e0cc5c753\",\"enabled\":true,\"name\":\"[DD Integration Tests] 20bbb49e0cc5c753\",\"type\":\"internal\",\"visualization_type\":\"bars_and_uptime_percentage\"},\"type\":\"status_pages\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/statuspages"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 945,
            "text": "{\"data\":{\"id\":\"8960312c-f69e-472d-ba4d-809e15025a97\",\"type\":\"status_pages\",\"attributes\":{\"company_logo\":null,\"components\":[{\"id\":\"40cf7eb3-b9d4-4a6f-b185-a0cffd1a0f08\",\"name\":\"20bbb49e0cc5c753\",\"type\":\"component\",\"status\":\"operational\",\"position\":0}],\"created_at\":\"2026-01-09T18:43:24.232029Z\",\"custom_domain\":null,\"custom_domain_enabled\":false,\"domain_prefix\":\"dd-integration-tests-20bbb49e0cc5c753\",\"email_header_image\":null,\"enabled\":true,\"favicon\":null,\"modified_at\":\"2026-01-09T18:43:24.232029Z\",\"name\":\"[DD Integration Tests] 20bbb49e0cc5c753\",\"page_url\":\"https://frog.datadoghq.com/status-pages/8960312c-f69e-472d-ba4d-809e15025a97/view\",\"subscriptions_enabled\":false,\"type\":\"internal\",\"visualization_type\":\"bars_and_uptime_percentage\"},\"relationships\":{\"created_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}},\"last_modified_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 675
      },
      {
        "_id": "8d71b4febdf4ca4060bb9d5837ed53ad",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/statuspages/8960312c-f69e-472d-ba4d-809e15025a97"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 515
      },
      {
        "_id": "8d71b4febdf4ca4060bb9d5837ed53ad",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/statuspages/8960312c-f69e-472d-ba4d-809e15025a97"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 71,
            "text": "{\"errors\":[{\"title\":\"Generic Error\",\"detail\":\"status page not found\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 85
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
