{
  "log": {
    "_recordingName": "Status Pages/Delete status page returns \"No Content\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "9e27198f15d5d689eda79480d6e25f6c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"components\":[{\"name\":\"f0063ab4acb7cb4d\",\"type\":\"component\"}],\"domain_prefix\":\"dd-integration-test-f0063ab4acb7cb4d\",\"enabled\":true,\"name\":\"[DD Integration Test] f0063ab4acb7cb4d\",\"type\":\"internal\",\"visualization_type\":\"bars_and_uptime_percentage\"},\"type\":\"status_pages\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/statuspages"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 943,
            "text": "{\"data\":{\"id\":\"cc99135d-9bae-43ab-b64f-b1be01d95b16\",\"type\":\"status_pages\",\"attributes\":{\"company_logo\":null,\"components\":[{\"id\":\"5eb6fc5e-96ef-49e2-89c4-940eae6a3a7b\",\"name\":\"f0063ab4acb7cb4d\",\"type\":\"component\",\"status\":\"operational\",\"position\":0}],\"created_at\":\"2026-01-07T22:14:09.788746Z\",\"custom_domain\":null,\"custom_domain_enabled\":false,\"domain_prefix\":\"dd-integration-test-f0063ab4acb7cb4d\",\"email_header_image\":null,\"enabled\":true,\"favicon\":null,\"modified_at\":\"2026-01-07T22:14:09.788746Z\",\"name\":\"[DD Integration Test] f0063ab4acb7cb4d\",\"page_url\":\"https://frog.datadoghq.com/status-pages/cc99135d-9bae-43ab-b64f-b1be01d95b16/view\",\"subscriptions_enabled\":false,\"type\":\"internal\",\"visualization_type\":\"bars_and_uptime_percentage\"},\"relationships\":{\"created_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}},\"last_modified_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 534
      },
      {
        "_id": "a9972e34a95f35ed96fbc690f4661b6e",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/statuspages/cc99135d-9bae-43ab-b64f-b1be01d95b16"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 61,
            "text": "{\"errors\":[{\"status\":\"500\",\"title\":\"Internal Server Error\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 500,
          "statusText": "Internal Server Error"
        },
        "time": 568
      },
      {
        "_id": "a9972e34a95f35ed96fbc690f4661b6e",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/statuspages/cc99135d-9bae-43ab-b64f-b1be01d95b16"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 71,
            "text": "{\"errors\":[{\"title\":\"Generic Error\",\"detail\":\"status page not found\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 113
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
