{
  "log": {
    "_recordingName": "Status Pages/Delete status page returns \"No Content\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "a3ce2800c7c71109a09a03d6e023562e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"components\":[{\"components\":[{\"name\":\"Login\",\"position\":0,\"type\":\"component\"},{\"name\":\"Settings\",\"position\":1,\"type\":\"component\"}],\"name\":\"Application\",\"type\":\"group\"}],\"domain_prefix\":\"status-page-608a5828d74082cd\",\"enabled\":true,\"name\":\"A Status Page\",\"type\":\"internal\",\"visualization_type\":\"bars_and_uptime_percentage\"},\"type\":\"status_pages\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/statuspages"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 1128,
            "text": "{\"data\":{\"id\":\"fe6f8e30-59be-43e6-9836-b2a0bd4af24f\",\"type\":\"status_pages\",\"attributes\":{\"company_logo\":null,\"components\":[{\"id\":\"ba00bba3-9057-454e-8497-5a5acd5c7793\",\"name\":\"Application\",\"type\":\"group\",\"position\":0,\"components\":[{\"id\":\"68a65da3-072c-46a3-927f-e7cd0ce4d48f\",\"name\":\"Login\",\"type\":\"component\",\"status\":\"operational\",\"position\":0},{\"id\":\"3034604b-1324-4908-8f30-f91a1528a38e\",\"name\":\"Settings\",\"type\":\"component\",\"status\":\"operational\",\"position\":1}]}],\"created_at\":\"2026-01-14T18:34:23.396957Z\",\"custom_domain\":null,\"custom_domain_enabled\":false,\"domain_prefix\":\"status-page-608a5828d74082cd\",\"email_header_image\":null,\"enabled\":true,\"favicon\":null,\"modified_at\":\"2026-01-14T18:34:23.396957Z\",\"name\":\"A Status Page\",\"page_url\":\"https://frog.datadoghq.com/status-pages/fe6f8e30-59be-43e6-9836-b2a0bd4af24f/view\",\"subscriptions_enabled\":false,\"type\":\"internal\",\"visualization_type\":\"bars_and_uptime_percentage\"},\"relationships\":{\"created_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}},\"last_modified_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 506
      },
      {
        "_id": "dc1a71949299cd0504fd10ebb0dcc425",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/statuspages/fe6f8e30-59be-43e6-9836-b2a0bd4af24f"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 509
      },
      {
        "_id": "dc1a71949299cd0504fd10ebb0dcc425",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/statuspages/fe6f8e30-59be-43e6-9836-b2a0bd4af24f"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 71,
            "text": "{\"errors\":[{\"title\":\"Generic Error\",\"detail\":\"status page not found\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 96
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
