{
  "log": {
    "_recordingName": "DORA Metrics/Send an incident event for DORA Metrics returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "87fb2208c5e860f7a4fc1a02145c2949",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"finished_at\":17078429446000,\"git\":{\"commit_sha\":\"66adc9350f2cc9b250b69abddab733dd55e1a588\",\"repository_url\":\"https://github.com/organization/example-repository\"},\"name\":\"Webserver is down failing all requests\",\"services\":[\"shopist\"],\"severity\":\"High\",\"started_at\":17078429445000,\"team\":\"backend\",\"version\":\"v1.12.07\"}}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/dora/incident"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 77,
            "text": "{\"data\":{\"id\":\"2775a2d3-6c28-4934-ae60-0ef9ce3720ee\",\"type\":\"dora_incident\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 386
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
