{
  "log": {
    "_recordingName": "Agentless Scanning/Delete GCP Scan Options returns \"Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "78589c653159e4424ac8c56433f43699",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/agentless_scanning/accounts/gcp/nonexistent-project-id"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 101,
            "text": "{\"errors\":[{\"status\":\"404\",\"detail\":\"no gcp scan options found for project nonexistent-project-id\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 467
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
