{
  "log": {
    "_recordingName": "Case Management/Update case custom attribute returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "dc45fc730f09c12d941beaf799af6461",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"description\":\"Worldwide case type\",\"emoji\":\"\ud83c\udf0d\",\"name\":\"World\"},\"type\":\"case_type\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/cases/types"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 154,
            "text": "{\"data\":{\"id\":\"b36e8af6-a952-43bb-b54b-d7b80fc1344e\",\"type\":\"case_type\",\"attributes\":{\"description\":\"Worldwide case type\",\"emoji\":\"\ud83c\udf0d\",\"name\":\"World\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 362
      },
      {
        "_id": "17affdbd013fa6c5e2109650279d068d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"description\":\"And its brand new description\",\"display_name\":\"Attribute 17557789-0000-0000-0000-175577891000\",\"is_multi\":true,\"key\":\"attribute_1d2a4f8f9b39a284\",\"type\":\"TEXT\"},\"type\":\"custom_attribute\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/cases/types/b36e8af6-a952-43bb-b54b-d7b80fc1344e/custom_attributes"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 347,
            "text": "{\"data\":{\"id\":\"49cb8cff-1ff0-4476-b0c9-042e08935cb9\",\"type\":\"custom_attribute\",\"attributes\":{\"case_type\":\"TUNKNOWN\",\"case_type_id\":\"b36e8af6-a952-43bb-b54b-d7b80fc1344e\",\"description\":\"And its brand new description\",\"display_name\":\"Attribute 17557789-0000-0000-0000-175577891000\",\"is_multi\":true,\"key\":\"attribute_1d2a4f8f9b39a284\",\"type\":\"TEXT\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 375
      },
      {
        "_id": "3067b3e8003f854ec61a9be47132765f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"priority\":\"P4\",\"title\":\"My new case\",\"type_id\":\"b36e8af6-a952-43bb-b54b-d7b80fc1344e\"},\"relationships\":{\"project\":{\"data\":{\"id\":\"d4bbe1af-f36e-42f1-87c1-493ca35c320e\",\"type\":\"project\"}}},\"type\":\"case\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/cases"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 838,
            "text": "{\"data\":{\"id\":\"5ed64f4d-a8d0-4dc6-879c-9b5f10a25cdb\",\"type\":\"case\",\"attributes\":{\"attributes\":{},\"comment_count\":0,\"created_at\":\"2025-08-21T12:21:51.92835Z\",\"creation_source\":\"MANUAL\",\"custom_attributes\":{},\"description\":\"\",\"insights\":[],\"internal_id\":\"5ed64f4d-a8d0-4dc6-879c-9b5f10a25cdb\",\"key\":\"DDFC-77693\",\"merge_status\":\"NOT_MERGED\",\"priority\":\"P4\",\"public_id\":\"77776\",\"status\":\"OPEN\",\"title\":\"My new case\",\"type\":\"TUNKNOWN\",\"type_id\":\"b36e8af6-a952-43bb-b54b-d7b80fc1344e\"},\"relationships\":{\"created_by\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"user\"}},\"project\":{\"data\":{\"id\":\"d4bbe1af-f36e-42f1-87c1-493ca35c320e\",\"type\":\"project\"}}}},\"included\":[{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"user\",\"attributes\":{\"active\":true,\"email\":\"frog@datadoghq.com\",\"handle\":\"frog@datadoghq.com\",\"name\":\"frog\"}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 374
      },
      {
        "_id": "a6b09b05138c036e2806d8fbb89a4fbe",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"is_multi\":true,\"type\":\"FLOAT\",\"value\":[1,2.4]},\"type\":\"case\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/cases/5ed64f4d-a8d0-4dc6-879c-9b5f10a25cdb/custom_attributes/attribute_1d2a4f8f9b39a284"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 51,
            "text": "{\"errors\":[{\"status\":\"400\",\"title\":\"Bad Request\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 405
      },
      {
        "_id": "dbd94a38e14aa2378d063fda458ade55",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/cases/types/b36e8af6-a952-43bb-b54b-d7b80fc1344e"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 399
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
