{
  "log": {
    "_recordingName": "Security Monitoring/Get a security filter returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "eb5fca631b75b4ed05299f47e65f2d32",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"exclusion_filters\":[{\"name\":\"Exclude logs from staging\",\"query\":\"source:staging\"}],\"filtered_data_type\":\"logs\",\"is_enabled\":true,\"name\":\"Test-Get_a_security_filter_returns_OK_response-1715358884\",\"query\":\"service:TestGetasecurityfilterreturnsOKresponse1715358884\"},\"type\":\"security_filters\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 367,
            "text": "{\"data\":{\"id\":\"v1r-9ud-eh4\",\"attributes\":{\"version\":1,\"name\":\"Test-Get_a_security_filter_returns_OK_response-1715358884\",\"query\":\"service:TestGetasecurityfilterreturnsOKresponse1715358884\",\"is_enabled\":true,\"exclusion_filters\":[{\"name\":\"Exclude logs from staging\",\"query\":\"source:staging\"}],\"filtered_data_type\":\"logs\",\"is_builtin\":false},\"type\":\"security_filters\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 600
      },
      {
        "_id": "80ff482a73bff3b39198271b98111557",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters/v1r-9ud-eh4"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 367,
            "text": "{\"data\":{\"id\":\"v1r-9ud-eh4\",\"attributes\":{\"v[...]
