{
  "log": {
    "_recordingName": "Threat Intelligence/Ingest STIX threat intelligence returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "58a1d097671e244074458fc1e14fa3f0",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "ti_vendor",
              "value": "Acme-Inc"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"id\":\"bundle--44444444-4444-4444-8444-444444444444\",\"objects\":[{\"created\":\"2026-07-22T12:00:00Z\",\"id\":\"indicator--55555555-5555-4555-8555-555555555555\",\"modified\":\"2026-07-22T12:00:00Z\",\"pattern\":\"[ipv4-addr:value = '198.51.100.42']\",\"pattern_type\":\"stix\",\"spec_version\":\"2.1\",\"type\":\"indicator\",\"valid_from\":\"2026-07-22T12:00:00Z\"}],\"spec_version\":\"2.1\",\"type\":\"bundle\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/security/threat-intel/stix"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 113,
            "text": "{\"data\":{\"id\":\"acme_inc\",\"type\":\"threat-intel-stix-ingest\",\"attributes\":{\"added\":1,\"invalid\":0,\"unsupported\":0}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 429
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
