{
  "log": {
    "_recordingName": "APM Retention Filters/Update a retention filter returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "b24042788cc9cba4e3eb03a7fdff0697",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"enabled\":true,\"filter\":{\"query\":\"@_top_level:1 test:service-demo\"},\"filter_type\":\"spans-sampling-processor\",\"name\":\"demo retention filter\",\"rate\":0.9},\"type\":\"apm_retention_filter\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/apm/config/retention-filters"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 388,
            "text": "{\"data\":{\"id\":\"JL7QU9ejR-C6t9rXeyHrIg\",\"attributes\":{\"name\":\"demo retention filter\",\"rate\":0.9,\"trace_rate\":0.0,\"enabled\":true,\"filter_type\":\"spans-sampling-processor\",\"filter\":{\"query\":\"@_top_level:1 test:service-demo\"},\"editable\":true,\"modified_by\":\"frog@datadoghq.com\",\"modified_at\":1744111974,\"created_by\":\"frog@datadoghq.com\",\"created_at\":1744111974},\"type\":\"apm_retention_filter\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 515
      },
      {
        "_id": "36d51caa4af3c3af1908ffc282a05ce9",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"enabled\":true,\"filter\":{\"query\":\"@_top_level:1 test:service-demo\"},\"filter_type\":\"spans-sampling-processor\",\"name\":\"test\",\"rate\":1.9},\"id\":\"test-id\",\"type\":\"apm_retention_filter\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/apm/config/retention-filters/JL7QU9ejR-C6t9rXeyHrIg"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 75,
            "text": "{\"errors\":[\"Invalid Pipeline\",\"'rate' must exist and be between 0 and 1\"]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 509
      },
      {
        "_id": "791cbd2d57dd403432b0586a33601a35",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/apm/config/retention-filters/JL7QU9ejR-C6t9rXeyHrIg"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 3,
            "text": "{}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 533
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
