{
  "log": {
    "_recordingName": "Incident Services/Get a list of all incident services returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "e7c54ad610a3fc8fdbcc0e75901bbc6f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Get_a_list_of_all_incident_services_returns_OK_response-1618491695\"},\"type\":\"services\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/services"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1004,
            "text": "{\"included\":[{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"attributes\":{\"name\":null,\"handle\":\"frog@datadoghq.com\",\"created_at\":\"2019-10-02T08:15:39.795051+00:00\",\"modified_at\":\"2020-06-15T12:33:12.884459+00:00\",\"email\":\"frog@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro\",\"title\":null,\"verified\":true,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Active\"},\"relationships\":{\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}],\"data\":{\"type\":\"services\",\"id\":\"6fc98fcf-38df-5de5-8350-03be88d21413\",\"attributes\":{\"name\":\"Test-Get_a_list_of_all_incident_services_returns_OK_response-1618491695\",\"created\":\"2021-04-15T13:01:35.360635+00:00\",\"modified\":\"2021-04-15T13:01:35.360635+00:00\"},\"relationships\":{\"last_modified_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}},\"created_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.4318655"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "100"
            },
            {
              "name": "x-ratelimit-period",
              "value": "60"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "25"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "97"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 365,
      },
      {
        "_id": "b786f1bbee48a73605161740c371080d",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "filter",
              "value": "Test-Get_a_list_of_all_incident_services_returns_OK_response-1618491695"
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/services?filter=Test-Get_a_list_of_all_incident_services_returns_OK_response-1618491695"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 550,
            "text": "{\"meta\":{\"sort\":\"ASC\",\"pagination\":{\"total\":7459,\"size\":1,\"next_offset\":1,\"offset\":0},\"total\":7459},\"data\":[{\"type\":\"services\",\"id\":\"6fc98fcf-38df-5de5-8350-03be88d21413\",\"attributes\":{\"name\":\"Test-Get_a_list_of_all_incident_services_returns_OK_response-1618491695\",\"created\":\"2021-04-15T13:01:35.360635+00:00\",\"modified\":\"2021-04-15T13:01:35.360635+00:00\"},\"relationships\":{\"last_modified_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}},\"created_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0[...]
