{
  "log": {
    "_recordingName": "Incident Services/Get a list of all incident services returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "fd0a2d0398428a27b42d76bd13a0c036",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Get_a_list_of_all_incident_services_returns_OK_response-1641829836\"},\"type\":\"services\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/services"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1004,
            "text": "{\"included\":[{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"attributes\":{\"name\":null,\"handle\":\"frog@datadoghq.com\",\"created_at\":\"2019-10-02T08:15:39.795051+00:00\",\"modified_at\":\"2020-06-15T12:33:12.884459+00:00\",\"email\":\"frog@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro\",\"title\":null,\"verified\":true,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Active\"},\"relationships\":{\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}],\"data\":{\"type\":\"services\",\"id\":\"57f8dd52-ff56-5a42-a7ec-05d1b94d7117\",\"attributes\":{\"name\":\"Test-Get_a_list_of_all_incident_services_returns_OK_response-1641829836\",\"created\":\"2022-01-10T15:50:37.343784+00:00\",\"modified\":\"2022-01-10T15:50:37.343784+00:00\"},\"relationships\":{\"last_modified_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}},\"created_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 407
      },
      {
        "_id": "eb63ff210f160442d8f9e1096d9a7701",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "filter",
              "value": "Test-Get_a_list_of_all_incident_services_returns_OK_response-1641829836"
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/services?filter=Test-Get_a_list_of_all_incident_services_returns_OK_response-1641829836"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 550,
            "text": "{\"meta\":{\"sort\":\"ASC\",\"pagination\":{\"total\":7793,\"size\":1,\"next_offset\":1,\"offset\":0},\"total\":7793},\"data\":[{\"type\":\"services\",\"id\":\"57f8dd52-ff56-5a42-a7ec-05d1b94d7117\",\"attributes\":{\"name\":\"Test-Get_a_list_of_all_incident_services_returns_OK_response-1641829836\",\"created\":\"2022-01-10T15:50:37.343784+00:00\",\"modified\":\"2022-01-10T15:50:37.343784+00:00\"},\"relationships\":{\"last_modified_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}},\"created_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}}}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 575
      },
      {
        "_id": "43f82d45b6ffed92ebe577cf7c500b5e",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/services/57f8dd52-ff56-5a42-a7ec-05d1b94d7117"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 337
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
