{
  "log": {
    "_recordingName": "Security Monitoring/Unmute security findings returns \"Accepted\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "7a89c56a4381367537496179bca9381d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"mute\":{\"description\":\"Resolved.\",\"is_muted\":false,\"reason\":\"NO_PENDING_FIX\"}},\"relationships\":{\"findings\":{\"data\":[{\"id\":\"ZGVmLTAwMC0wYmd-MDE4NjcyMDJkMzE4MDE5ODY5MGE4ZmQ2MmFlMjg0Y2M=\",\"type\":\"findings\"}]}},\"type\":\"mute\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/security/findings/mute"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 68,
            "text": "{\"data\":{\"id\":\"4ae87c1e-099b-4f63-af21-3568cf226263\",\"type\":\"mute\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 202,
          "statusText": "Accepted"
        },
        "time": 518
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
