{
  "log": {
    "_recordingName": "Agentless Scanning/Get AWS scan options returns \"Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "0cd547be937c79e1e846205b41a28975",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/agentless_scanning/accounts/aws/404404404404"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 96,
            "text": "{\"errors\":[{\"status\":\"404\",\"detail\":\"no aws scan options found for subscription 404404404404\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 523
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
