{
  "log": {
    "_recordingName": "Case Management Attribute/Delete custom attributes config returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "dc45fc730f09c12d941beaf799af6461",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"description\":\"Worldwide case type\",\"emoji\":\"\ud83c\udf0d\",\"name\":\"World\"},\"type\":\"case_type\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/cases/types"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 154,
            "text": "{\"data\":{\"id\":\"1f787bd5-127a-4005-85df-6d24eb8955c1\",\"type\":\"case_type\",\"attributes\":{\"description\":\"Worldwide case type\",\"emoji\":\"\ud83c\udf0d\",\"name\":\"World\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 422
      },
      {
        "_id": "8c05e22d02f30d936b1002094f3f0c17",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/cases/types/1f787bd5-127a-4005-85df-6d24eb8955c1/custom_attributes/not-an-uuid"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 144,
            "text": "{\"errors\":[{\"status\":\"400\",\"title\":\"Invalid Parameter\",\"detail\":\"invalid parameter \\\"CustomAttributeId\\\" in \\\"path\\\"; expected type \\\"uuid\\\"\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 392
      },
      {
        "_id": "112de674cad2e5fe7ca43eef8d52bf81",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/cases/types/1f787bd5-127a-4005-85df-6d24eb8955c1"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 391
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
