{
  "log": {
    "_recordingName": "Synthetics/Trigger Synthetics tests returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "d248b624bf98875c8b06e7c6eb7eae87",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"config\":{\"assertions\":[{\"operator\":\"is\",\"property\":\"{{ PROPERTY }}\",\"target\":\"text/html\",\"type\":\"header\"},{\"operator\":\"lessThan\",\"target\":2000,\"type\":\"responseTime\"},{\"operator\":\"validatesJSONPath\",\"target\":{\"jsonPath\":\"topKey\",\"operator\":\"isNot\",\"targetValue\":\"0\"},\"type\":\"body\"}],\"configVariables\":[{\"example\":\"content-type\",\"name\":\"PROPERTY\",\"pattern\":\"content-type\",\"type\":\"text\"}],\"request\":{\"certificate\":{\"cert\":{\"content\":\"cert-content\",\"filename\":\"cert-filename\",\"updatedAt\":\"2020-10-16T09:23:24.857Z\"},\"key\":{\"content\":\"key-content\",\"filename\":\"key-filename\",\"updatedAt\":\"2020-10-16T09:23:24.857Z\"}},\"headers\":{\"unique\":\"testtriggersyntheticstestsreturnsokresponse1638298711\"},\"method\":\"GET\",\"timeout\":10,\"url\":\"https://datadoghq.com\"}},\"locations\":[\"aws:us-east-2\"],\"message\":\"BDD test payload: synthetics_api_test_payload.json\",\"name\":\"Test-Trigger_Synthetics_tests_returns_OK_response-1638298711\",\"options\":{\"accept_self_signed\":false,\"allow_insecure\":true,\"follow_redirects\":true,\"min_failure_duration\":10,\"min_location_failed\":1,\"monitor_name\":\"Test-Trigger_Synthetics_tests_returns_OK_response-1638298711\",\"monitor_priority\":5,\"retry\":{\"count\":3,\"interval\":10},\"tick_every\":60},\"subtype\":\"http\",\"tags\":[\"testing:api\"],\"type\":\"api\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/synthetics/tests/api"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1395,
            "text": "{\"status\":\"live\",\"public_id\":\"kii-4vc-wbd\",\"tags\":[\"testing:api\"],\"org_id\":321813,\"locations\":[\"aws:us-east-2\"],\"message\":\"BDD test payload: synthetics_api_test_payload.json\",\"deleted_at\":null,\"name\":\"Test-Trigger_Synthetics_tests_returns_OK_response-1638298711\",\"monitor_id\":56047057,\"type\":\"api\",\"created_at\":\"2021-11-30T18:58:32.445850+00:00\",\"modified_at\":\"2021-11-30T18:58:32.445850+00:00\",\"subtype\":\"http\",\"config\":{\"request\":{\"url\":\"https://datadoghq.com\",\"headers\":{\"unique\":\"testtriggersyntheticstestsreturnsokresponse1638298711\"},\"certificate\":{\"cert\":{\"filename\":\"cert-filename\",\"updatedAt\":\"2020-10-16T09:23:24.857Z\"},\"key\":{\"filename\":\"key-filename\",\"updatedAt\":\"2020-10-16T09:23:24.857Z\"}},\"method\":\"GET\",\"timeout\":10},\"assertions\":[{\"operator\":\"is\",\"property\":\"{{ PROPERTY }}\",\"type\":\"header\",\"target\":\"text/html\"},{\"operator\":\"lessThan\",\"type\":\"responseTime\",\"target\":2000},{\"operator\":\"validatesJSONPath\",\"type\":\"body\",\"target\":{\"operator\":\"isNot\",\"targetValue\":\"0\",\"jsonPath\":\"topKey\"}}],\"configVariables\":[{\"pattern\":\"content-type\",\"type\":\"text\",\"example\":\"content-type\",\"name\":\"PROPERTY\"}]},\"options\":{\"accept_self_signed\":false,\"retry\":{\"count\":3,\"interval\":10},\"min_location_failed\":1,\"allow_insecure\":true,\"follow_redirects\":true,\"min_failure_duration\":10,\"monitor_priority\":5,\"monitor_name\":\"Test-Trigger_Synthetics_tests_returns_OK_response-1638298711\",\"tick_every\":60}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 663,
      },
      {
        "_id": "bd34d1e219a6748e110bc25c9fc44f92",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"tests\":[{\"public_id\":\"kii-4vc-wbd\"}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/synthetics/tests/trigger"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 278,
            "text": "{\"batch_id\":null,\"results\":[{\"result_id\":\"8558589901394778471\",\"public_id\":\"kii-4vc-wbd\",\"location\":30005}],\"triggered_check_ids\":[\"kii-4vc-wbd\"],\"locations\":[{\"display_name\":\"Ohio (AWS)\",\"name\":\"aws:us-east-2\",\"region\":\"Americas\",\"is_active\":true,\"is_public\":true,\"id\":30005}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 706,
      },
      {
        "_id": "8e0a1b923a3d17facfd853588c0ef938",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"public_ids\":[\"kii-4vc-wbd\"]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/synthetics/tests/delete"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 95,
            "text": "{\"deleted_tests\":[{\"deleted_at\":\"2021-11-30T18:58:33.570255+00:00\",\"public_id\":\"kii-4vc-wbd\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 408,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
