{
  "log": {
    "_recordingName": "Okta Integration/List Okta accounts returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "581b23d2b7ae720ea1e0ddd3257f4600",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"auth_method\":\"oauth\",\"client_id\":\"fakeclientid\",\"client_secret\":\"fakeclientsecret\",\"domain\":\"https://dev-test.okta.com/\",\"name\":\"testlistoktaaccountsreturnsokresponse1700585986\"},\"type\":\"okta-accounts\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integrations/okta/accounts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 237,
            "text": "{\"data\":{\"type\":\"okta-accounts\",\"attributes\":{\"client_id\":\"fakeclientid\",\"name\":\"testlistoktaaccountsreturnsokresponse1700585986\",\"auth_method\":\"oauth\",\"domain\":\"https://dev-test.okta.com/\"},\"id\":\"a5e9a04b-ac5b-4a5c-a4d5-c697deb232aa\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 447
      },
      {
        "_id": "2c268aa32e1767f8a7352bbc3cdccd24",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integrations/okta/accounts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1388,
            "text": "{\"data\":[{\"type\":\"okta-accounts\",\"attributes\":{\"name\":\"testoktapublicupdateac[...]
