{
  "log": {
    "_recordingName": "Incidents/Get incident notification template returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "7bcfec665300989151e5e4d7e0833bd1",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"description\":\"Any incidents that harm (or have the potential to) the confidentiality, integrity, or availability of our data.\",\"is_default\":false,\"name\":\"Security Incident\"},\"type\":\"incident_types\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/incidents/config/types"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 802,
            "text": "{\"data\":{\"id\":\"64f3b511-c83f-46cd-a07c-0120372df2d1\",\"type\":\"incident_types\",\"attributes\":{\"createdAt\":\"2025-09-05T02:19:19.082876806Z\",\"createdBy\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"description\":\"Any incidents that harm (or have the potential to) the confidentiality, integrity, or availability of our data.\",\"is_default\":false,\"lastModifiedBy\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"modifiedAt\":\"2025-09-05T02:19:19.082876888Z\",\"name\":\"Security Incident\",\"prefix\":\"IR\"},\"relationships\":{\"created_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}},\"google_meet_configuration\":{\"data\":null},\"last_modified_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}},\"microsoft_teams_configuration\":{\"data\":null},\"zoom_configuration\":{\"data\":null}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 212
      },
      {
        "_id": "d9eb44941accaa9ac6d377011e1c61b9",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"category\":\"alert\",\"content\":\"Test notification template\",\"name\":\"Test Template Test-Get_incident_notification_template_returns_OK_response-1757038758\",\"subject\":\"Test Subject\"},\"relationships\":{\"incident_type\":{\"data\":{\"id\":\"64f3b511-c83f-46cd-a07c-0120372df2d1\",\"type\":\"incident_types\"}}},\"type\":\"notification_templates\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/incidents/config/notification-templates"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 654,
            "text": "{\"data\":{\"id\":\"85266d98-836e-4981-84ce-ffd443885b5c\",\"type\":\"notification_templates\",\"attributes\":{\"category\":\"alert\",\"content\":\"Test notification template\",\"created\":\"2025-09-05T02:19:19.310014Z\",\"modified\":\"2025-09-05T02:19:19.310014Z\",\"name\":\"Test Template Test-Get_incident_notification_template_returns_OK_response-1757038758\",\"subject\":\"Test Subject\"},\"relationships\":{\"created_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}},\"incident_type\":{\"data\":{\"id\":\"64f3b511-c83f-46cd-a07c-0120372df2d1\",\"type\":\"incident_types\"}},\"last_modified_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}}}}}"
    [...]
