{
  "log": {
    "_recordingName": "Dashboards/Create a new dashboard with a live default_timeframe returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "eb385d07caa4538e568d1c5a4bb1e211",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"default_timeframe\":{\"type\":\"live\",\"unit\":\"hour\",\"value\":4},\"layout_type\":\"ordered\",\"title\":\"Test-Create_a_new_dashboard_with_a_live_default_timeframe_returns_OK_response-1782150482\",\"widgets\":[{\"definition\":{\"background_color\":\"white\",\"content\":\"test\",\"font_size\":\"14\",\"show_tick\":false,\"text_align\":\"left\",\"tick_edge\":\"left\",\"tick_pos\":\"50%\",\"type\":\"note\"}}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 777,
            "text": "{\"id\":\"3v2-z74-apr\",\"title\":\"Test-Create_a_new_dashboard_with_a_live_default_timeframe_returns_OK_response-1782150482\",\"description\":null,\"author_handle\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\",\"author_name\":\"CI Account\",\"layout_type\":\"ordered\",\"url\":\"/dashboard/3v2-z74-apr/test-createanewdashboardwithalivedefaulttimeframereturnsokresponse-1782150482\",\"template_variables\":null,\"widgets\":[{\"definition\":{\"background_color\":\"white\",\"content\":\"test\",\"font_size\":\"14\",\"show_tick\":false,\"text_align\":\"left\",\"tick_edge\":\"left\",\"tick_pos\":\"50%\",\"type\":\"note\"},\"id\":2716227217953845}],\"notify_list\":null,\"created_at\":\"2026-06-22T17:48:02.860491+00:00\",\"modified_at\":\"2026-06-22T17:48:02.860491+00:00\",\"default_timeframe\":{\"type\":\"live\",\"unit\":\"hour\",\"value\":4},\"restricted_roles\":[]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 494
      },
      {
        "_id": "1a7b8cc81263bdc56f92749e3fc54607",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/3v2-z74-apr"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 38,
            "text": "{\"deleted_dashboard_id\":\"3v2-z74-apr\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 576
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
