{
  "log": {
    "_recordingName": "Dashboards/Create a new dashboard with query_table widget and text formatting",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "02f6ca41db98eb0c896c7f7a603e4ebf",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"description\":\"\",\"is_read_only\":false,\"layout_type\":\"free\",\"notify_list\":[],\"template_variables\":[],\"title\":\"Test-Create_a_new_dashboard_with_query_table_widget_and_text_formatting-1726065198\",\"widgets\":[{\"definition\":{\"has_search_bar\":\"never\",\"requests\":[{\"formulas\":[],\"queries\":[{\"aggregator\":\"avg\",\"data_source\":\"metrics\",\"name\":\"query1\",\"query\":\"avg:aws.stream.globalaccelerator.processed_bytes_in{*} by {aws_account,acceleratoripaddress}\"},{\"aggregator\":\"avg\",\"data_source\":\"metrics\",\"name\":\"query2\",\"query\":\"avg:aws.stream.globalaccelerator.processed_bytes_out{*} by {aws_account,acceleratoripaddress}\"}],\"response_format\":\"scalar\",\"text_formats\":[[{\"match\":{\"type\":\"is\",\"value\":\"fruit\"},\"palette\":\"white_on_red\",\"replace\":{\"type\":\"all\",\"with\":\"vegetable\"}},{\"custom_bg_color\":\"#632ca6\",\"match\":{\"type\":\"is\",\"value\":\"animal\"},\"palette\":\"custom_bg\"},{\"match\":{\"type\":\"is\",\"value\":\"robot\"},\"palette\":\"red_on_white\"},{\"match\":{\"type\":\"is\",\"value\":\"ai\"},\"palette\":\"yellow_on_white\"}],[{\"match\":{\"type\":\"is_not\",\"value\":\"xyz\"},\"palette\":\"white_on_yellow\"}],[{\"match\":{\"type\":\"contains\",\"value\":\"test\"},\"palette\":\"white_on_green\",\"replace\":{\"type\":\"all\",\"with\":\"vegetable\"}}],[{\"match\":{\"type\":\"does_not_contain\",\"value\":\"blah\"},\"palette\":\"black_on_light_red\"}],[{\"match\":{\"type\":\"starts_with\",\"value\":\"abc\"},\"palette\":\"black_on_light_yellow\"}],[{\"match\":{\"type\":\"ends_with\",\"value\":\"xyz\"},\"palette\":\"black_on_light_green\"},{\"match\":{\"type\":\"ends_with\",\"value\":\"zzz\"},\"palette\":\"green_on_white\"},{\"custom_fg_color\":\"#632ca6\",\"match\":{\"type\":\"is\",\"value\":\"animal\"},\"palette\":\"custom_text\"}]]}],\"title\":\"\",\"title_align\":\"left\",\"title_size\":\"16\",\"type\":\"query_table\"},\"layout\":{\"height\":4,\"width\":4,\"x\":0,\"y\":0}}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 2062,
            "text": "{\"id\":\"462-puf-hkg\",\"title\":\"Test-Create_a_new_dashboard_with_query_table_widget_and_text_formatting-1726065198\",\"description\":\"\",\"author_handle\":\"frog@datadoghq.com\",\"author_name\":null,\"layout_type\":\"free\",\"url\":\"/dashboard/462-puf-hkg/test-createanewdashboardwithquerytablewidgetandtextformatting-1726065198\",\"is_read_only\":false,\"template_variables\":[],\"widgets\":[{\"definition\":{\"has_search_bar\":\"never\",\"requests\":[{\"formulas\":[],\"queries\":[{\"aggregator\":\"avg\",\"data_source\":\"metrics\",\"name\":\"query1\",\"query\":\"avg:aws.stream.globalaccelerator.processed_bytes_in{*} by {aws_account,acceleratoripaddress}\"},{\"aggregator\":\"avg\",\"data[...]
