{
  "log": {
    "_recordingName": "Logs/Aggregate compute events returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "65b8b22bfb8958f1f1ad824384a1d8b9",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"compute\":[{\"aggregation\":\"count\",\"interval\":\"5m\",\"type\":\"timeseries\"}],\"filter\":{\"from\":\"now-15m\",\"indexes\":[\"main\"],\"query\":\"*\",\"to\":\"now\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/analytics/aggregate"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 296,
            "text": "{\"meta\":{\"status\":\"done\",\"request_id\":\"pddv1ChZ0Y2dJQVlDMVJOYWlYcjNJcDZfSnNnIiwKHJISw_RInEtZkOv0RnvMfFE5pDSf1A5hU7Jf6FISDPKeDBOH5N-0CxRhGA\",\"elapsed\":3},\"data\":{\"buckets\":[{\"computes\":{\"c0\":[{\"value\":1,\"time\":\"2022-01-06T00:40:00.000Z\"},{\"value\":1,\"time\":\"2022-01-06T00:50:00.000Z\"}]},\"by\":{}}]}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 245
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
