{
  "log": {
    "_recordingName": "Logs/Aggregate compute events returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "b8b8b5237ecbd09f8b8e2a6025ebb198",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"compute\":[{\"aggregation\":\"count\",\"interval\":\"5m\",\"type\":\"timeseries\"}],\"filter\":{\"from\":\"now-15m\",\"indexes\":[\"main\"],\"query\":\"*\",\"to\":\"now\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/analytics/aggregate"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 297,
            "text": "{\"meta\":{\"status\":\"done\",\"request_id\":\"pddv1ChZocmNxWUhOUlM2YVlldlFVVE4weWpnIi0KHZuyJ0Izc6WTvx6409xTlRS_iRRFg3jYVKiLIjbAEgzPt5RlpUdFAOXBR30\",\"elapsed\":3},\"data\":{\"buckets\":[{\"computes\":{\"c0\":[{\"value\":1,\"time\":\"2021-06-02T10:00:00.000Z\"},{\"value\":6,\"time\":\"2021-06-02T10:05:00.000Z\"}]},\"by\":{}}]}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 493
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
