{
  "log": {
    "_recordingName": "Logs Custom Destinations/Create a custom destination with Splunk forwarding returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "4f313fae2a2888a6c407c080b42ffbab",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"forwarderDestination\":{\"accessToken\":\"secret\",\"endpoint\":\"https://example.org/my-intake\",\"type\":\"splunk_hec\"},\"name\":\"my-destination\",\"version\":0},\"type\":\"custom_destination\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/config/custom_destinations"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 386,
            "text": "{\"data\":{\"id\":\"9e7112de-149e-4e15-bc56-a993535bf0d7\",\"attributes\":{\"version\":0,\"name\":\"my-destination\",\"query\":\"\",\"enabled\":true,\"bufferMaxBytes\":5242880,\"bufferTimeoutSeconds\":60,\"maxRetryDurationSeconds\":300,\"compression\":\"GZIP\",\"forwarderDestination\":{\"type\":\"splunk_hec\",\"endpoint\":\"https://example.org/my-intake\",\"accessToken\":\"__REDACTED_SECRET__\"}},\"type\":\"custom_destination\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 427
      },
      {
        "_id": "450588a0ba02800dcf7991c676ad5f59",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/config/custom_destinations/9e7112de-149e-4e15-bc56-a993535bf0d7"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 12,
            "text": "{\"meta\":{}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 422
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
