{
  "log": {
    "_recordingName": "Logs Custom Destinations/Create a custom destination with Splunk forwarding returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "4f313fae2a2888a6c407c080b42ffbab",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"forwarderDestination\":{\"accessToken\":\"secret\",\"endpoint\":\"https://example.org/my-intake\",\"type\":\"splunk_hec\"},\"name\":\"my-destination\",\"version\":0},\"type\":\"custom_destination\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/config/custom_destinations"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 386,
            "text": "{\"data\":{\"id\":\"db6771d4-34c3-4fd1-af5d-c248848c611f\",\"attributes\":{\"version\":0,\"name\":\"my-destination\",\"query\":\"\",\"enabled\":true,\"bufferMaxBytes\":5242880,\"bufferTimeoutSeconds\":60,\"maxRetryDurationSeconds\":300,\"compression\":\"GZIP\",\"forwarderDestination\":{\"type\":\"splunk_hec\",\"endpoint\":\"https://example.org/my-intake\",\"accessToken\":\"__REDACTED_SECRET__\"}},\"type\":\"custom_destination\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 417
      },
      {
        "_id": "3d38d5b18c9a0a7f30057c7ce398bb4e",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/config/custom_destinations/db6771d4-34c3-4fd1-af5d-c248848c611f"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 12,
            "text": "{\"meta\":{}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 528
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
