{
  "log": {
    "_recordingName": "Monitors/Validate an existing monitor user template returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ddfc78f4a5661d0d11343323017fd741",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"description\":\"It's a threshold\",\"monitor_definition\":{\"message\":\"cats\",\"name\":\"High Error Rate on service\",\"query\":\"avg(last_5m):sum:system.net.bytes_rcvd{host:host0} > 100\",\"type\":\"query alert\"},\"tags\":[\"category:test\"],\"template_variables\":[{\"available_values\":[],\"defaults\":[\"cats\"],\"name\":\"scope\"}],\"title\":\"api spec given template test-validate_an_existing_monitor_user_template_returns_bad_request_response-1748486184\"},\"type\":\"monitor-user-template\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/monitor/template"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 684,
            "text": "{\"data\":{\"type\":\"monitor-user-template\",\"attributes\":{\"creator_uuid\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"monitor_definition\":{\"message\":\"cats\",\"name\":\"High Error Rate on service\",\"query\":\"avg(last_5m):sum:system.net.bytes_rcvd{host:host0} > 100\",\"type\":\"query alert\"},\"tags\":[\"category:test\"],\"created\":\"2025-05-29T02:36:24.928104+00:00\",\"modified\":\"2025-05-29T02:36:24.928104+00:00\",\"title\":\"api spec given template test-validate_an_existing_monitor_user_template_returns_bad_request_response-1748486184\",\"version\":0,\"template_variables\":[{\"name\":\"scope\",\"defaults\":[\"cats\"],\"available_values\":[]}],\"description\":\"It's a threshold\"},\"id\":\"599fecff-7834-42bd-976b-c2d145f42579\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 222
      },
      {
        "_id": "76e50755e254da14281497ac556b6d92",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"description\":\"A description.\",\"monitor_definition\":{},\"tags\":[\"integration:Azure\"],\"template_variables\":[{\"available_values\":[\"value1\",\"value2\"],\"defaults\":[\"defaultValue\"],\"name\":\"regionName\",\"tag_key\":\"datacenter\"}],\"title\":\"Postgres DB test-validate_an_existing_monitor_user_template_returns_bad_request_response-1748486184\"},\"id\":\"00000000-0000-1234-0000-000000000000\",\"type\":\"monitor-user-template\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/monitor/template/599fecff-7834-42bd-976b-c2d145f42579/validate"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 100,
            "text": "{\"errors\":[\"Invalid monitor_definition or template variables: Monitor definition cannot be empty.\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 152
      },
      {
        "_id": "3c5ab1e312b9a3ffbaf341fc65bf7896",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/monitor/template/599fecff-7834-42bd-976b-c2d145f42579"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=utf-8",
            "size": 0
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=utf-8"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 129
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
