{
  "log": {
    "_recordingName": "Agentless Scanning/Get AWS On Demand task by id returns \"Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "fa2322eb4e11c229ab3c0bd21e1ecfe8",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/agentless_scanning/ondemand/aws/00000000-0000-0000-824a-000000000000"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 101,
            "text": "{\"errors\":[{\"status\":\"404\",\"detail\":\"no task found with id '00000000-0000-0000-824a-000000000000'\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 78
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
