{
  "log": {
    "_recordingName": "On-Call/Get On-Call escalation policy returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "4c2257ee622723e1958bc614c9355bfc",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Get_On_Call_escalation_policy_returns_OK_response-1748494432@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 703,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"eb22c300-3c48-11f0-b6eb-6e406f40657f\",\"attributes\":{\"name\":null,\"handle\":\"test-get_on_call_escalation_policy_returns_ok_response-1748494432@datadoghq.com\",\"created_at\":\"2025-05-29T04:53:52.872150+00:00\",\"modified_at\":\"2025-05-29T04:53:52.872150+00:00\",\"email\":\"test-get_on_call_escalation_policy_returns_ok_response-1748494432@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/28954a95ef3e23c51599bc32b67118de?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 681
      },
      {
        "_id": "ca32b16e9bb206d3dcfd58b3b717feb4",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"test-handle-bbce2cc58d5af798\",\"name\":\"test-name-bbce2cc58d5af798\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 635,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"dba59993-2c99-46f0-b91b-9e7936a4a78e\",\"attributes\":{\"name\":\"test-name-bbce2cc58d5af798\",\"handle\":\"test-handle-bbce2cc58d5af798\",\"summary\":null,\"description\":null,\"avatar\":null,\"banner\":9,\"visible_modules\":[],\"hidden_modules\":[],\"created_at\":\"2025-05-29T04:53:53.543425+00:00\",\"modified_at\":\"2025-05-29T04:53:53.543434+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/dba59993-2c99-46f0-b91b-9e7936a4a78e/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/dba59993-2c99-46f0-b91b-9e7936a4a78e/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 729
      },
      {
        "_id": "5c6d881bf0e8a0d327c2b75281fd4c00",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"layers\":[{\"effective_date\":\"2025-05-19T04:53:52.267Z\",\"end_date\":\"2025-06-08T04:53:52.267Z\",\"interval\":{\"days\":1},\"members\":[{\"user\":{\"id\":\"eb22c300-3c48-11f0-b6eb-6e406f40657f\"}}],\"name\":\"Layer 1\",\"restrictions\":[{\"end_day\":\"friday\",\"end_time\":\"17:00:00\",\"start_day\":\"monday\",\"start_time\":\"09:00:00\"}],\"rotation_start\":\"2025-05-24T04:53:52.267Z\"}],\"name\":\"Test-Get_On_Call_escalation_policy_returns_OK_response-1748494432\",\"time_zone\":\"America/New_York\"},\"relationships\":{\"teams\":{\"data\":[{\"id\":\"65aea9d0-941c-4607-bf8a-14fc0dac2820\",\"type\":\"teams\"}]}},\"type\":\"schedules\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/on-call/schedules"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 374,
            "text": "{\"data\":{\"id\":\"996bb88f-ddaf-491b-84df-b8c60c9c358a\",\"type\":\"schedules\",\"attributes\":{\"name\":\"Test-Get_On_Call[...]
