{
  "log": {
    "_recordingName": "On-Call/Get On-Call escalation policy returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "e1f36e8f18a0e0e50fd97b5341781227",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Get_On_Call_escalation_policy_returns_OK_response-1747901596@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 703,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"9d53cb80-36e4-11f0-a925-6205a5ac8b82\",\"attributes\":{\"name\":null,\"handle\":\"test-get_on_call_escalation_policy_returns_ok_response-1747901596@datadoghq.com\",\"created_at\":\"2025-05-22T08:13:16.844359+00:00\",\"modified_at\":\"2025-05-22T08:13:16.844359+00:00\",\"email\":\"test-get_on_call_escalation_policy_returns_ok_response-1747901596@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/e764229bedd0fcaaf713b8470d33ff30?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 298
      },
      {
        "_id": "d7507709316dd4cad8504dc941ce8aa9",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"test-handle-59a9a0ccb3d041ed\",\"name\":\"test-name-59a9a0ccb3d041ed\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 636,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"11dfbd58-960b-4b61-b2ee-a1d754a0c968\",\"attributes\":{\"name\":\"test-name-59a9a0ccb3d041ed\",\"handle\":\"test-handle-59a9a0ccb3d041ed\",\"summary\":null,\"description\":null,\"avatar\":null,\"banner\":12,\"visible_modules\":[],\"hidden_modules\":[],\"created_at\":\"2025-05-22T08:13:17.120509+00:00\",\"modified_at\":\"2025-05-22T08:13:17.120518+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/11dfbd58-960b-4b61-b2ee-a1d754a0c968/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/11dfbd58-960b-4b61-b2ee-a1d754a0c968/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 349
      },
      {
        "_id": "c66d6e1d1b9d855f0951b4eb9a5ef333",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"layers\":[{\"effective_date\":\"2025-05-12T08:13:16.150Z\",\"end_date\":\"2025-06-01T08:13:16.150Z\",\"interval\":{\"days\":1},\"members\":[{\"user\":{\"id\":\"890f29d4-0b7a-11f0-aeb2-760fcae4f596\"}}],\"name\":\"Layer 1\",\"restrictions\":[{\"end_day\":\"friday\",\"end_time\":\"17:00:00\",\"start_day\":\"monday\",\"start_time\":\"09:00:00\"}],\"rotation_start\":\"2025-05-17T08:13:16.150Z\"}],\"name\":\"Test-Get_On_Call_escalation_policy_returns_OK_response-1747901596\",\"time_zone\":\"America/New_York\"},\"relationships\":{\"teams\":{\"data\":[{\"id\":\"65aea9d0-941c-4607-bf8a-14fc0dac2820\",\"type\":\"teams\"}]}},\"type\":\"schedules\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/on-call/schedules"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 386,
            "text": "{\"data\":{\"id\":\"f4321cbc-072d-49c7-9f2d-dd63e6b17604\",\"type\":\"schedules\",\"attributes\":{\"name\":\"Test-Get_On_Call[...]
