{
  "log": {
    "_recordingName": "Service Level Objectives/Delete an SLO returns \"Not found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "605b67a8bdcdf0e83e2dcc5435f66fa8",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/slo/testdeleteansloreturnsnotfoundresponse1618491680"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 89,
            "text": "{\"errors\": [\"SLO not found: testdeleteansloreturnsnotfoundresponse1618491680 not found\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 390
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
