{
  "log": {
    "_recordingName": "Monitors/Get all monitor configuration policies returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "13b530fd8b9117a8993069a27759db40",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"policy\":{\"tag_key\":\"dc\",\"tag_key_required\":true,\"valid_tag_values\":[\"prod\",\"staging\"]},\"policy_type\":\"tag\"},\"type\":\"monitor-config-policy\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/monitor/policy"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 209,
            "text": "{\"data\":{\"type\":\"monitor-config-policy\",\"id\":\"1c8a8eea-b6e9-11ed-a4ec-da7ad0900002\",\"attributes\":{\"policy_type\":\"tag\",\"policy\":{\"tag_key\":\"dc\",\"valid_tag_values\":[\"prod\",\"staging\"],\"tag_key_required\":true}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 182
      },
      {
        "_id": "d1d9faecfa7d2feb2d28e24a04e24a01",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/monitor/policy"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 211,
            "text": "{\"data\":[{\"type\":\"monitor-config-policy\",\"id\":\"1c8a8eea-b6e9-11ed-a4ec-da7ad0900002\",\"attr[...]
