{
  "log": {
    "_recordingName": "Monitors/Get all monitor configuration policies returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "4785ba76381054e92223e04927f0c4c5",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"policy\":{\"tag_key\":\"testgetallmonitorconfigurationpoliciesreturnsokresponse1748486180\",\"tag_key_required\":false,\"valid_tag_values\":[\"prod\",\"staging\"]},\"policy_type\":\"tag\"},\"type\":\"monitor-config-policy\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/monitor/policy"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 273,
            "text": "{\"data\":{\"type\":\"monitor-config-policy\",\"attributes\":{\"policy\":{\"valid_tag_values\":[\"prod\",\"staging\"],\"tag_key\":\"testgetallmonitorconfigurationpoliciesreturnsokresponse1748486180\",\"tag_key_required\":false},\"policy_type\":\"tag\"},\"id\":\"426917ea-f9b0-4c7d-938d-902208db50f8\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 124
      },
      {
        "_id": "d1d9faecfa7d2feb2d28e24a04e24a01",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/monitor/policy"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 471,
            "text": "{\"data\":[{\"type\":\"monitor-config-policy\",\"attributes\":{\"policy\":{\"valid_tag_values\":[\"va[...]
