{
  "log": {
    "_recordingName": "AuthN Mappings/List all AuthN Mappings returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "566827bcedcb3c5231339bed4ee42866",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-List_all_AuthN_Mappings_returns_OK_response-1654259742\"},\"type\":\"roles\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/roles"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 762,
            "text": "{\"data\":{\"type\":\"roles\",\"id\":\"aecfdc3a-e339-11ec-b153-da7ad0900002\",\"attributes\":{\"name\":\"Test-List_all_AuthN_Mappings_returns_OK_response-1654259742\",\"created_at\":\"2022-06-03T12:35:42.713347+00:00\",\"modified_at\":\"2022-06-03T12:35:42.776783+00:00\"},\"relationships\":{\"permissions\":{\"data\":[{\"type\":\"permissions\",\"id\":\"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2\"},{\"type\":\"permissions\",\"id\":\"4441648c-d8b1-11e9-a77a-1b899a04b304\"},{\"type\":\"permissions\",\"id\":\"417ba636-2dce-11eb-84c0-6bce5b0d9de0\"},{\"type\":\"permissions\",\"id\":\"12efc20e-d36c-11eb-a9b8-da7ad0900002\"},{\"type\":\"permissions\",\"id\":\"97971c1c-e895-11eb-b13c-da7ad0900002\"},{\"type\":\"permissions\",\"id\":\"7605ef24-f376-11eb-b90b-da7ad0900002\"},{\"type\":\"permissions\",\"id\":\"b6bf9ac6-9a59-11ec-8480-da7ad0900002\"}]}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 274
      },
      {
        "_id": "72dae8e5ca785279300a99af34c03884",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"attribute_key\":\"testlistallauthnmappingsreturnsokresponse1654259742\",\"attribute_value\":\"Test-List_all_AuthN_Mappings_returns_OK_response-1654259742\"},\"relationships\":{\"role\":{\"data\":{\"id\":\"aecfdc3a-e339-11ec-b153-da7ad0900002\",\"type\":\"roles\"}}},\"type\":\"authn_mappings\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/authn_mappings"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1202,
            "text": "{\"included\":[{\"type\":\"roles\",\"id\":\"aecfdc3a-e339-11ec-b153-da7ad0900002\",\"attributes\":{\"name\":\"Test-List_all_AuthN_Mappings_returns_OK_response-1654259742\",\"created_at\":\"2022-06-03T12:35:42.713347+00:00\",\"modified_at\":\"2022-06-03T12:35:42.776783+00:00\"},\"relationships\":{\"permissions\":{\"data\":[{\"type\":\"permissions\",\"id\":\"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2\"},{\"type\":\"permissions\",\"id\":\"4441648c-d8b1-11e9-a77a-1b899a04b304\"},{\"type\":\"permissions\",\"id\":\"417ba[...]
