{
  "log": {
    "_recordingName": "Metrics/List active tags and aggregations returns \"Success\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "c82655d4212a549a617948c07bf872be",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "text/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "text/json",
            "params": [],
            "text": "{\"series\":[{\"metric\":\"TestListactivetagsandaggregationsreturnsSuccessresponse1662033627\",\"points\":[[1662033627,1.1]],\"tags\":[\"test:ExampleSubmitmetricsreturnsPayloadacceptedresponse\"],\"type\":\"gauge\"}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/series"
        },
        "response": {
          "content": {
            "mimeType": "text/json",
            "size": 16,
            "text": "{\"status\": \"ok\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/json"
            }
          ],
          "status": 202,
          "statusText": "Accepted"
        },
        "time": 372
      },
      {
        "_id": "c1548ccf8c41122eee7a7ebae9840749",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/metrics/TestListactivetagsandaggregationsreturnsSuccessresponse1662033627/active-configurations"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 182,
            "text": "{\"data\":{\"type\":\"actively_queried_configurations\",\"id\":\"TestListactivetagsandaggregationsreturnsSuccessresponse1662033627\",\"attributes\":{\"active_tags\":[],\"active_aggregations\":[]}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 674
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
