{
  "log": {
    "_recordingName": "Metrics/List active tags and aggregations returns \"Success\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "fbf9a437a12d36a2ef4ec3694fa33067",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "text/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "text/json",
            "params": [],
            "text": "{\"series\":[{\"metric\":\"static_test_metric_donotdelete\",\"points\":[[1685976245,1.1]],\"tags\":[\"test:static_test_metric_donotdelete\"],\"type\":\"gauge\"}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/series"
        },
        "response": {
          "content": {
            "mimeType": "text/json",
            "size": 16,
            "text": "{\"status\": \"ok\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/json"
            }
          ],
          "status": 202,
          "statusText": "Accepted"
        },
        "time": 96
      },
      {
        "_id": "6bf5c1518a3f7ffafaa3c8213980766a",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/metrics/static_test_metric_donotdelete/active-configurations"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 147,
            "text": "{\"data\":{\"type\":\"actively_queried_configurations\",\"id\":\"static_test_metric_donotdelete\",\"attributes\":{\"active_tags\":[],\"active_aggregations\":[]}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 526
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
