{
  "log": {
    "_recordingName": "Synthetics/Create an API test with MCP steps returns \"OK - Returns the created test details.\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "a181ca632f35b2691f13dc01edb76b9a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"config\":{\"steps\":[{\"allowFailure\":false,\"assertions\":[{\"operator\":\"is\",\"target\":200,\"type\":\"statusCode\"},{\"type\":\"mcpRespectsSpecification\"},{\"operator\":\"contains\",\"target\":[\"tools\"],\"type\":\"mcpServerCapabilities\"}],\"isCritical\":true,\"name\":\"Initialize MCP session\",\"request\":{\"callType\":\"init\",\"headers\":{\"DD-API-KEY\":\"<YOUR-API-KEY>\",\"DD-APPLICATION-KEY\":\"<YOUR-APP-KEY>\"},\"mcpProtocolVersion\":\"2025-06-18\",\"url\":\"https://example.org/mcp\"},\"retry\":{\"count\":0,\"interval\":300},\"subtype\":\"mcp\"},{\"allowFailure\":false,\"assertions\":[{\"operator\":\"is\",\"target\":200,\"type\":\"statusCode\"},{\"operator\":\"moreThan\",\"target\":0,\"type\":\"mcpToolCount\"},{\"operator\":\"lessThan\",\"target\":64,\"type\":\"mcpToolNameLength\"},{\"type\":\"mcpRespectsSpecification\"}],\"isCritical\":true,\"name\":\"List MCP tools\",\"request\":{\"callType\":\"tool_list\",\"headers\":{\"DD-API-KEY\":\"<YOUR-API-KEY>\",\"DD-APPLICATION-KEY\":\"<YOUR-APP-KEY>\"},\"mcpProtocolVersion\":\"2025-06-18\",\"url\":\"https://example.org/mcp\"},\"retry\":{\"count\":0,\"interval\":300},\"subtype\":\"mcp\"},{\"allowFailure\":false,\"assertions\":[{\"operator\":\"is\",\"target\":200,\"type\":\"statusCode\"},{\"operator\":\"lessThan\",\"target\":5000,\"type\":\"responseTime\"},{\"type\":\"mcpRespectsSpecification\"}],\"isCritical\":true,\"name\":\"Call MCP search tool\",\"request\":{\"callType\":\"tool_call\",\"headers\":{\"DD-API-KEY\":\"<YOUR-API-KEY>\",\"DD-APPLICATION-KEY\":\"<YOUR-APP-KEY>\"},\"mcpProtocolVersion\":\"2025-06-18\",\"toolArgs\":{\"limit\":5,\"query\":\"datadog synthetics\"},\"toolName\":\"search\",\"url\":\"https://example.org/mcp\"},\"retry\":{\"count\":0,\"interval\":300},\"subtype\":\"mcp\"}]},\"locations\":[\"aws:us-east-2\"],\"message\":\"BDD test payload: synthetics_api_test_mcp_payload.json\",\"name\":\"Test-Create_an_API_test_with_MCP_steps_returns_OK_Returns_the_created_test_details_response-1779209121\",\"options\":{\"min_failure_duration\":10,\"min_location_failed\":1,\"monitor_name\":\"Test-Create_an_API_test_with_MCP_steps_returns_OK_Returns_the_created_test_details_response-1779209121\",\"monitor_priority\":5,\"retry\":{\"count\":3,\"interval\":1000},\"tick_every\":900},\"subtype\":\"multi\",\"tags\":[\"testing:api\"],\"type\":\"api\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/synthetics/tests/api"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 2537,
            "text": "{\"public_id\":\"htz-sbz-vuw\",\"name\":\"Test-Create_an_API_test_with_MCP_steps_returns_OK_Returns_the_created_test_details_response-1779209121\",\"status\":\"live\",\"type\":\"api\",\"subtype\":\"multi\",\"tags\":[\"testing:api\"],\"created_at\":\"2026-05-19T16:45:22.077574+00:00\",\"modified_at\":\"2026-05-19T16:45:22.077574+00:00\",\"config\":{\"steps\":[{\"allowFailure\":false,\"assertions\":[{\"operator\":\"is\",\"target\":200,\"type\":\"statusCode\"},{\"type\":\"mcpRespectsSpecification\"},{\"operator\":\"contains\",\"target\":[\"tools\"],\"type\":\"mcpServerCapabilities\"}],\"isCritical\":true,\"name\":\"Initialize MCP session\",\"request\":{\"callType\":\"init\",\"headers\":{\"DD-API-KEY\":\"<YOUR-API-KEY>\",\"DD-APPLICATION-KEY\":\"<YOUR-APP-KEY>\"},\"mcpProtocolVersion\":\"2025-06-18\",\"url\":\"https://example.org/mcp\"},\"retry\":{\"count\":0,\"interval\":300},\"subtype\":\"mcp\",\"id\":\"3qn-99h-nhn\"},{\"allowFailure\":false,\"assertions\":[{\"operator\":\"is\",\"target\":200,\"type\":\"statusCode\"},{\"operator\":\"moreThan\",\"target\":0,\"type\":\"mcpToolCount\"},{\"operator\":\"lessThan\",\"target\":64,\"type\":\"mcpToolNameLength\"},{\"type\":\"mcpRespectsSpecification\"}],\"isCritical\":true,\"name\":\"List MCP tools\",\"request\":{\"callType\":\"tool_list\",\"headers\":{\"DD-API-KEY\":\"<YOUR-API-KEY>\",\"DD-APPLICATION-KEY\":\"<YOUR-APP-KEY>\"},\"mcpProtocolVersion\":[...]
