{
  "log": {
    "_recordingName": "Status Pages/List degradations returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "5a48de133c5dc2953f745d67bf752c41",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"components\":[{\"name\":\"ba5854b43ab30d6e\",\"type\":\"component\"}],\"domain_prefix\":\"dd-integration-tests-ba5854b43ab30d6e\",\"enabled\":true,\"name\":\"[DD Integration Tests] ba5854b43ab30d6e\",\"type\":\"internal\",\"visualization_type\":\"bars_and_uptime_percentage\"},\"type\":\"status_pages\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/statuspages"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 945,
            "text": "{\"data\":{\"id\":\"e7066362-3fa7-459a-a52c-b375b49681dc\",\"type\":\"status_pages\",\"attributes\":{\"company_logo\":null,\"components\":[{\"id\":\"e1649bff-ecfb-4c92-95b3-577eae4bd08c\",\"name\":\"ba5854b43ab30d6e\",\"type\":\"component\",\"status\":\"operational\",\"position\":0}],\"created_at\":\"2026-01-09T15:10:41.613246Z\",\"custom_domain\":null,\"custom_domain_enabled\":false,\"domain_prefix\":\"dd-integration-tests-ba5854b43ab30d6e\",\"email_header_image\":null,\"enabled\":true,\"favicon\":null,\"modified_at\":\"2026-01-09T15:10:41.613246Z\",\"name\":\"[DD Integration Tests] ba5854b43ab30d6e\",\"page_url\":\"https://frog.datadoghq.com/status-pages/e7066362-3fa7-459a-a52c-b375b49681dc/view\",\"subscriptions_enabled\":false,\"type\":\"internal\",\"visualization_type\":\"bars_and_uptime_percentage\"},\"relationships\":{\"created_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}},\"last_modified_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 488
      },
      {
        "_id": "b9cecd989552e53726a92a915c263ca5",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"components_affected\":[{\"id\":\"e1649bff-ecfb-4c92-95b3-577eae4bd08c\",\"status\":\"major_outage\"}],\"status\":\"investigating\",\"title\":\"Test-List_degradations_returns_OK_response-1767971441\"},\"type\":\"degradations\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/statuspages/e7066362-3fa7-459a-a52c-b375b49681dc/degradations"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 1034,
            "text": "{\"data\":{\"id\":\"3df8f703-c9d1-4ab5-9e21-f0357ee64df6\",\"type\":\"degradations\",\"attributes\":{\"components_affected\":[{\"id\":\"e1649bff-ecfb-4c92-95b3-577eae4bd08c\",\"name\":\"ba5854b43ab30d6e\",\"status\":\"major_outage\"}],\"created_at\":\"2026-01-09T15:10:42.12258Z\",\"description\":\"\",\"modified_at\":\"2026-01-09T15:10:42.12258Z\",\"status\":\"investigating\",\"title\":\"Test-List_degradations_returns_OK_response-1767971441\",\"updates\":[{\"id\":\"ac710e62-ea83-4ba9-9124-0c16d4797bb3\",\"created_at\":\"2026-01-09T15:10:42.12258Z\",\"modified_at\":\"2026-01-09T15:10:42.12258Z\",\"started_at\":\"0001-01-01T00:00:00Z\",\"status\":\"investigating\",\"description\":\"\",\"components_affected\":[{\"id\":\"e1649bff-ecfb-4c92-95b3-577eae4bd08c\",\"name\":\"ba5854b43ab30d6e\",\"status\":\"major_outage\"}]}]},\"relationships\":{\"created_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}},\"last_modified_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}},\"status_page\":{\"data\":{\"id\":\"e7066362-3fa7-459a-a52c-b375b49681dc\",\"type\":\"status_pages\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 150
      },
      {
        "_id": "3de108df35d0fa482f82799dc5cb1120",
        "request": {
          "headers": [
          ],
          "method": "GET",
  [...]
