{
  "log": {
    "_recordingName": "Notebooks/Delete a notebook returns \"Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "e7dfb5678d32f17eacdb208d7015a5be",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/notebooks/123456"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 34,
            "text": "{\"errors\": [\"Notebook not found\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 465
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
