{
  "log": {
    "_recordingName": "Confluent Cloud/Add resource to Confluent account returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "4ee58e40959a3243a98e5b27158c3a2f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"api_key\":\"TestAddresourcetoConfluentaccountreturnsOKresponse1688395120\",\"api_secret\":\"test-api-secret\",\"resources\":[{\"id\":\"test-resource-id\",\"resource_type\":\"kafka\",\"tags\":[\"tag1\",\"tag2:val2\"]}],\"tags\":[\"tag1\",\"tag2:val2\"]},\"type\":\"confluent-cloud-accounts\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integrations/confluent-cloud/accounts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 323,
            "text": "{\"data\":{\"type\":\"confluent-cloud-accounts\",\"attributes\":{\"tags\":[\"tag1\",\"tag2:val2\"],\"resources\":[{\"id\":\"test-resource-id\",\"enable_custom_metrics\":false,\"resource_type\":\"kafka\",\"tags\":[\"tag1\",\"tag2:val2\"]}],\"api_key\":\"TestAddresourcetoConfluentaccountreturnsOKresponse1688395120\"},\"id\":\"ca66091df9181d4c62d17f0484461a0d\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 163
      },
      {
        "_id": "18138a6478085df7dcbf6f410b2302ed",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"enable_custom_metrics\":false,\"resource_type\":\"kafk[...]
