{
  "log": {
    "_recordingName": "Model Lab API/Pin a Model Lab run returns \"No Content\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "d704e41217e398b42fa378444c6ceea9",
        "request": {
          "headers": [
          ],
          "method": "POST",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/model-lab-api/runs/70158/pin"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 200
      },
      {
        "_id": "e9b5da5aee9627b2f8a0482fba517ccd",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/model-lab-api/runs/70158/pin"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 200
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
