{
  "log": {
    "_recordingName": "Usage Metering/Get historical cost across your account returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "e69f64b425758f7ef618754e86c55bcd",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "start_month",
              "value": "2022-09-21T21:58:43.871Z"
            },
            {
              "name": "view",
              "value": "sub-org"
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/usage/historical_cost?start_month=2022-09-21T21%3A58%3A43.871Z&view=sub-org"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 12,
            "text": "{\"data\":[]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 142
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
