{
  "log": {
    "_recordingName": "Usage Metering/Get historical cost across your account returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "14a2f32aa94f0a5e97568a925f25104b",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "start_month",
              "value": "2022-09-26T15:24:36.139Z"
            },
            {
              "name": "view",
              "value": "sub-org"
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/usage/historical_cost?start_month=2022-09-26T15%3A24%3A36.139Z&view=sub-org"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 12,
            "text": "{\"data\":[]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 290
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
