{
  "log": {
    "_recordingName": "App Builder/Delete App returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "820bad241ae47d45b4437591eb8052bd",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"components\":[{\"events\":[],\"name\":\"grid0\",\"properties\":{\"children\":[{\"events\":[],\"name\":\"gridCell0\",\"properties\":{\"children\":[{\"events\":[],\"name\":\"calloutValue0\",\"properties\":{\"isDisabled\":false,\"isLoading\":false,\"isVisible\":true,\"label\":\"CPU Usage\",\"size\":\"sm\",\"style\":\"vivid_yellow\",\"unit\":\"kB\",\"value\":\"42\"},\"type\":\"calloutValue\"}],\"isVisible\":\"true\",\"layout\":{\"default\":{\"height\":8,\"width\":2,\"x\":0,\"y\":0}}},\"type\":\"gridCell\"}]},\"type\":\"grid\"}],\"description\":\"This is a simple example app\",\"embeddedQueries\":[],\"name\":\"Example App\",\"rootInstanceName\":\"grid0\"},\"type\":\"appDefinitions\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/app-builder/apps"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 78,
            "text": "{\"data\":{\"id\":\"1d01a77d-1251-42fb-ab67-c99edfb26970\",\"type\":\"appDefinitions\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 175
      },
      {
        "_id": "457caa5d8eb864878fff6a7d5b8e8dc1",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/app-builder/apps/1d01a77d-1251-42fb-ab67-c99edfb26970"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 78,
            "text": "{\"data\":{\"id\":\"1d01a77d-1251-42fb-ab67-c99edfb26970\",\"type\":\"appDefinitions\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 200
      },
      {
        "_id": "457caa5d8eb864878fff6a7d5b8e8dc1",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/app-builder/apps/1d01a77d-1251-42fb-ab67-c99edfb26970"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 63,
            "text": "{\"errors\":[{\"title\":\"app not found\",\"detail\":\"app not found\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 77
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
