{
  "log": {
    "_recordingName": "Service Level Objective Corrections/Create an SLO correction with rrule returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "be986ae5571e7e270659600e937cce46",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"Test-Create_an_SLO_correction_with_rrule_returns_OK_response-1652349014\",\"query\":{\"denominator\":\"sum:httpservice.hits{!code:3xx}.as_count()\",\"numerator\":\"sum:httpservice.hits{code:2xx}.as_count()\"},\"thresholds\":[{\"target\":95,\"timeframe\":\"7d\",\"warning\":98}],\"type\":\"metric\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/slo"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 586,
            "text": "{\"data\":[{\"description\":\"\",\"monitor_tags\":[],\"creator\":{\"handle\":\"frog@datadoghq.com\",\"name\":null,\"email\":\"frog@datadoghq.com\"},\"thresholds\":[{\"warning\":98.0,\"warning_display\":\"98.\",\"target\":95.0,\"target_display\":\"95.\",\"timeframe\":\"7d\"}],\"type_id\":1,\"query\":{\"denominator\":\"sum:httpservice.hits{!code:3xx}.as_count()\",\"numerator\":\"sum:httpservice.hits{code:2xx}.as_count()\"},\"id\":\"24892d3875ee57e7a9e1320ebffa3916\",\"name\":\"Test-Create_an_SLO_correction_with_rrule_returns_OK_response-1652349014\",\"created_at\":1652349014,\"tags\":[],\"modified_at\":1652349014,\"type\":\"metric\"}],\"error\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 584
      },
      {
        "_id": "1226dd241a00216f1f6b6f5d633a11ab",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"category\":\"Scheduled Maintenance\",\"description\":\"Test-Create_an_SLO_correction_with_rrule_returns_OK_response-1652349014\",\"duration\":3600,\"rrule\":\"FREQ=DAILY;INTERVAL=10;COUNT=5\",\"slo_id\":\"24892d3875ee57e7a9e1320ebffa3916\",\"start\":1652349014,\"timezone\":\"UTC\"},\"type\":\"correction\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/slo/correction"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 715,
            "text": "{\"data\":{\"type\":\"correction\",\"id\":\"ec8f9488-d1d8-11ec-bc64-da7ad0902002\",\"attributes\":{\"slo_id\":\"24892d3875ee57e7a9e1320ebffa3916\",\"start\":1652349014,\"end\":null,\"description\":\"Test-Create_an_SLO_correction_with_rrule_returns_OK_response-1652349014\",\"category\":\"Scheduled Maintenance\",\"timezone\":\"UTC\",\"created_at\":null,\"modified_at\":null,\"rrule\":\"FREQ=DAILY;INTERVAL=10;COUNT=5\",\"duration\":3600,\"creator\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"attributes\":{\"uuid\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"handle\":\"frog@datadoghq.com\",\"email\":\"frog@datadoghq.com\",\"name\":null,\"icon\":\"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro\"}}},\"modifier\":null}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 695
      },
      {
        "_id": "3853efa457ea3f2e52ffbcb3c9d954dc",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/slo/correction[...]
