{
  "log": {
    "_recordingName": "Teams/Update a team link returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "538be35db2720eeb03cd8790ea3a72df",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"handle-5e9bed3a0071cff3\",\"name\":\"name-5e9bed3a0071cff3\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 550,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"59c71da2-ef4f-11ed-a58b-da7ad0900002\",\"attributes\":{\"name\":\"name-5e9bed3a0071cff3\",\"handle\":\"handle-5e9bed3a0071cff3\",\"summary\":null,\"description\":null,\"color\":4,\"created_at\":\"2023-05-10T16:26:00.603167+00:00\",\"modified_at\":\"2023-05-10T16:26:00.603171+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/59c71da2-ef4f-11ed-a58b-da7ad0900002/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/59c71da2-ef4f-11ed-a58b-da7ad0900002/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 172
      },
      {
        "_id": "330680e75cc5af120d3f069049269e86",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"label\":\"Test-Update_a_team_link_returns_OK_response-1683735960\",\"position\":0,\"url\":\"https://example.com\"},\"type\":\"team_links\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/59c71da2-ef4f-11ed-a58b-da7ad0900002/links"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 245,
            "text": "{\"data\":{\"type\":\"team_links\",\"id\":\"59f1bb16-ef4f-11ed-8e16-da7ad0900002\",\"attributes\":{\"team_id\":\"59c71da2-ef4f-11ed-a58b-da7ad0900002\",\"label\":\"Test-Update_a_team_link_returns_OK_response-1683735960\",\"url\":\"https://example.com\",\"position\":0}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 226
      },
      {
        "_id": "58a059a7146147fd4df4a9550a693b49",
        "request": {
      [...]
