{
  "log": {
    "_recordingName": "Teams/Update a team link returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "57a39807ee907268b6eb8a2e03aa1e6b",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"1679942002\",\"name\":\"1679942002\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 526,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"da910f28-cccd-11ed-bf7d-da7ad0900002\",\"attributes\":{\"name\":\"1679942002\",\"handle\":\"1679942002\",\"summary\":null,\"description\":null,\"color\":9,\"created_at\":\"2023-03-27T18:33:22.564937+00:00\",\"modified_at\":\"2023-03-27T18:33:22.564941+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/da910f28-cccd-11ed-bf7d-da7ad0900002/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/da910f28-cccd-11ed-bf7d-da7ad0900002/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 286
      },
      {
        "_id": "68f7dd29f9e111fc6e391c58b1fbdda8",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"label\":\"Test-Update_a_team_link_returns_OK_response-1679942002\",\"position\":0,\"url\":\"https://example.com\"},\"type\":\"team_links\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/da910f28-cccd-11ed-bf7d-da7ad0900002/links"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 245,
            "text": "{\"data\":{\"type\":\"team_links\",\"id\":\"dadfcaa0-cccd-11ed-9ea9-da7ad0900002\",\"attributes\":{\"team_id\":\"da910f28-cccd-11ed-bf7d-da7ad0900002\",\"label\":\"Test-Update_a_team_link_returns_OK_response-1679942002\",\"url\":\"https://example.com\",\"position\":0}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 468
      },
      {
        "_id": "607514de50ea8282bd8a6212e75bc746",
        "request": {
      [...]
