{
  "log": {
    "_recordingName": "Teams/Update a team link returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "e71fd3fa1cd283ad3570e6b45d1c1fd4",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"handle-d4767872f1c173b0\",\"name\":\"name-d4767872f1c173b0\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 540,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"ac8b5bb4-20d9-11ee-a287-da7ad0900002\",\"attributes\":{\"name\":\"name-d4767872f1c173b0\",\"handle\":\"handle-d4767872f1c173b0\",\"summary\":null,\"description\":null,\"created_at\":\"2023-07-12T17:29:36.985262+00:00\",\"modified_at\":\"2023-07-12T17:29:36.985267+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/ac8b5bb4-20d9-11ee-a287-da7ad0900002/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/ac8b5bb4-20d9-11ee-a287-da7ad0900002/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 169
      },
      {
        "_id": "3ca6da623bbc9b082ecc4d98c8e8e9da",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"label\":\"Test-Update_a_team_link_returns_OK_response-1689182976\",\"position\":0,\"url\":\"https://example.com\"},\"type\":\"team_links\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/ac8b5bb4-20d9-11ee-a287-da7ad0900002/links"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 245,
            "text": "{\"data\":{\"type\":\"team_links\",\"id\":\"aca6c3a4-20d9-11ee-b74b-da7ad0900002\",\"attributes\":{\"team_id\":\"ac8b5bb4-20d9-11ee-a287-da7ad0900002\",\"label\":\"Test-Update_a_team_link_returns_OK_response-1689182976\",\"url\":\"https://example.com\",\"position\":0}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 130
      },
      {
        "_id": "4bd24f5b685df3e115f5d3868f26d49b",
        "request": {
      [...]
