{
  "log": {
    "_recordingName": "Teams/Update a team link returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "eadb1d758a6b6cff4f86522db8c34666",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"test-handle-9503f929e485f83e\",\"name\":\"test-name-9503f929e485f83e\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 619,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"3301859c-405b-11ee-aedf-da7ad0900002\",\"attributes\":{\"name\":\"test-name-9503f929e485f83e\",\"handle\":\"test-handle-9503f929e485f83e\",\"summary\":null,\"description\":null,\"avatar\":null,\"banner\":null,\"visible_modules\":[],\"hidden_modules\":[],\"created_at\":\"2023-08-21T19:44:53.699451+00:00\",\"modified_at\":\"2023-08-21T19:44:53.699457+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/3301859c-405b-11ee-aedf-da7ad0900002/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/3301859c-405b-11ee-aedf-da7ad0900002/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 182
      },
      {
        "_id": "3afbdd5a46141771a6359d9a4f7e74f8",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"label\":\"Test-Update_a_team_link_returns_OK_response-1692647093\",\"position\":0,\"url\":\"https://example.com\"},\"type\":\"team_links\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/3301859c-405b-11ee-aedf-da7ad0900002/links"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 245,
            "text": "{\"data\":{\"type\":\"team_links\",\"id\":\"331f8b00-405b-11ee-bdcc-da7ad0900002\",\"attributes\":{\"team_id\":\"3301859c-405b-11ee-aedf-da7ad0900002\",\"label\":\"Test-Update_a_team_link_returns_OK_response-1692647093\",\"url\":\"https://example.com\",\"position\":0}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 151
      },
      {
        "_id": "b4718c697ade117e745931e55e2e7d1a",
        "request": {
      [...]
