{
  "log": {
    "_recordingName": "Teams/Update a team link returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "4203b725728cd5624a508fd99f5ec822",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"test-handle-98fa6b5d3df15a52\",\"name\":\"test-name-98fa6b5d3df15a52\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 660,
            "text": "{\"data\":{\"id\":\"ec95ccd2-5cf4-494a-971c-84a604f7dde5\",\"type\":\"team\",\"attributes\":{\"avatar\":null,\"banner\":0,\"created_at\":\"2026-01-23T11:00:17.893904+00:00\",\"description\":null,\"handle\":\"test-handle-98fa6b5d3df15a52\",\"hidden_modules\":null,\"is_managed\":false,\"link_count\":0,\"modified_at\":\"2026-01-23T11:00:17.893904+00:00\",\"name\":\"test-name-98fa6b5d3df15a52\",\"summary\":null,\"user_count\":0,\"visible_modules\":null},\"relationships\":{\"team_links\":{\"data\":[],\"links\":{\"related\":\"/api/v2/team/ec95ccd2-5cf4-494a-971c-84a604f7dde5/links\"}},\"user_team_permissions\":{\"data\":null,\"links\":{\"related\":\"/api/v2/team/ec95ccd2-5cf4-494a-971c-84a604f7dde5/permission-settings\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 375
      },
      {
        "_id": "fe5ab57bfb04e41924b4415100bec4b4",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"label\":\"Test-Update_a_team_link_returns_OK_response-1769166017\",\"position\":0,\"url\":\"https://example.com\"},\"type\":\"team_links\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/ec95ccd2-5cf4-494a-971c-84a604f7dde5/links"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 245,
            "text": "{\"data\":{\"type\":\"team_links\",\"id\":\"b433501a-f84a-11f0-9cd8-da7ad0900002\",\"attributes\":{\"team_id\":\"ec95ccd2-5cf4-494a-971c-84a604f7dde5\",\"label\":\"Test-Update_a_team_link_returns_OK_response-1769166017\",\"url\":\"https://example.com\",\"position\":0}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 404
      },
      {
        "_id": "8820e453dbe52e81505ffbe13cd5cee8",
        "request": {
      [...]
