{
  "log": {
    "_recordingName": "Cloud Cost Management/Delete Google Cloud Usage Cost config returns \"No Content\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "9794274f737cd4d0111e32f575e186ca",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/cost/gcp_uc_config/100"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 50,
            "text": "{\"errors\":[{\"status\":\"204\",\"title\":\"No Content\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 84
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
