{
  "log": {
    "_recordingName": "Agentless Scanning/Delete AWS Scan Options returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "d3b4d0d95fe695978cf77021c515a8c1",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/agentless_scanning/accounts/aws/incorrectId"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 72,
            "text": "{\"errors\":[{\"title\":\"Generic Error\",\"detail\":\"invalid AWS account ID\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 133
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
