{
  "log": {
    "_recordingName": "CI Visibility Pipelines/Aggregate pipelines events returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "c56ff6ac9e844d0e5a04e2ba5da2e5f4",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"compute\":[{\"aggregation\":\"pc90\",\"metric\":\"@duration\",\"type\":\"total\"}],\"filter\":{\"from\":\"now-15m\",\"query\":\"@ci.provider.name:github AND @ci.provider.instance:github-actions\",\"to\":\"now\"},\"group_by\":[{\"facet\":\"@ci.status\",\"limit\":10,\"total\":false}],\"options\":{\"timezone\":\"GMT\"},\"page\":{\"limit\":25}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/ci/pipelines/analytics/aggregate"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 435,
            "text": "{\"meta\":{\"elapsed\":113,\"request_id\":\"pddv1ChYwUEN0YnZ5dFNrdVZEbHhuSTliVEpnIiwKHGMtY3c8ixDp3d4CWjg8UkGmZ1-bi7LFmSWOebUSDClmkByOFEin86vlJg\",\"status\":\"done\"},\"data\":{\"buckets\":[{\"by\":{\"@ci.status\":\"canceled\"},\"computes\":{\"c0\":149536704640.0603}},{\"by\":{\"@ci.status\":\"error\"},\"computes\":{\"c0\":423086456660.7128}},{\"by\":{\"@ci.status\":\"skipped\"},\"computes\":{\"c0\":0.0}},{\"by\":{\"@ci.status\":\"success\"},\"computes\":{\"c0\":190099929600.14703}}]}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1556
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
