{
  "log": {
    "_recordingName": "CSM Threats/Get a Cloud Workload Security Agent rule returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "1a7e659e00518d30a7d3c1c7f2f975e6",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"description\":\"My Agent rule\",\"enabled\":true,\"expression\":\"exec.file.name == \\\"sh\\\"\",\"name\":\"testgetacloudworkloadsecurityagentrulereturnsokresponse1743068152\"},\"type\":\"agent_rule\"}}"
          },
          "queryString": [],
          "url": "https://api.datad0g.com/api/v2/security_monitoring/cloud_workload_security/agent_rules"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 685,
            "text": "{\"data\":{\"id\":\"8zf-sa9-apl\",\"attributes\":{\"version\":1,\"name\":\"testgetacloudworkloadsecurityagentrulereturnsokresponse1743068152\",\"description\":\"My Agent rule\",\"expression\":\"exec.file.name == \\\"sh\\\"\",\"category\":\"Process Activity\",\"defaultRule\":false,\"enabled\":true,\"creationAuthorUuId\":\"a54eca49-cf2e-11ef-8941-5e02e132a7ae\",\"creationDate\":1743068152534,\"updateAuthorUuId\":\"a54eca49-cf2e-11ef-8941-5e02e132a7ae\",\"updateDate\":1743068152534,\"filters\":[\"os == \\\"linux\\\"\"],\"actions\":[],\"agentConstraint\":\"\",\"creator\":{\"name\":\"Quentin Guillard\",\"handle\":\"quentin.guillard@datadoghq.com\"},\"updater\":{\"name\":\"Quentin Guillard\",\"handle\":\"quentin.guillard@datadoghq.com\"}},\"type\":\"agent_rule\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 460
      },
      {
        "_id": "c6d025b4ccec68efd8988a19b09a7ae7",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datad0g.com/api/v2/security_monitoring/cloud_workload_security/agent_rules/8zf-sa9-apl"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 685,
            "text": "{\"data\":{\"id\":\"8zf-sa9-apl\",\"attributes\":{[...]
