{
  "log": {
    "_recordingName": "Teams/Remove a team link returns \"API error response.\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "46a4d6cb7e2fe5da8c0001965a88ee73",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"handle-5b0810a24cff23de\",\"name\":\"name-5b0810a24cff23de\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 540,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"aad53c9a-20d9-11ee-a81e-da7ad0900002\",\"attributes\":{\"name\":\"name-5b0810a24cff23de\",\"handle\":\"handle-5b0810a24cff23de\",\"summary\":null,\"description\":null,\"created_at\":\"2023-07-12T17:29:34.113364+00:00\",\"modified_at\":\"2023-07-12T17:29:34.113369+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/aad53c9a-20d9-11ee-a81e-da7ad0900002/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/aad53c9a-20d9-11ee-a81e-da7ad0900002/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 153
      },
      {
        "_id": "4a51ab7adc082c29b606b1739a1684fb",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/aad53c9a-20d9-11ee-a81e-da7ad0900002/links/REPLACE.ME"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 55,
            "text": "{\"errors\":[\"REPLACE.ME is not a valid UUID not found\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 121
      },
      {
        "_id": "6665d4a016c79fb459c8bef5a5f3f8e4",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/aad53c9a-20d9-11ee-a81e-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 153
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
