{
  "log": {
    "_recordingName": "Teams/Remove a team link returns \"API error response.\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ae7e9b3a0e15c1744399f56fc7b1dcc4",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"handle-889655e4da47806d\",\"name\":\"name-889655e4da47806d\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 550,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"57d458a2-ef4f-11ed-9db8-da7ad0900002\",\"attributes\":{\"name\":\"name-889655e4da47806d\",\"handle\":\"handle-889655e4da47806d\",\"summary\":null,\"description\":null,\"color\":3,\"created_at\":\"2023-05-10T16:25:57.334212+00:00\",\"modified_at\":\"2023-05-10T16:25:57.334216+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/57d458a2-ef4f-11ed-9db8-da7ad0900002/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/57d458a2-ef4f-11ed-9db8-da7ad0900002/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 237
      },
      {
        "_id": "41c6dd03191c412f170f5e98b009eadd",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/57d458a2-ef4f-11ed-9db8-da7ad0900002/links/REPLACE.ME"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 55,
            "text": "{\"errors\":[\"REPLACE.ME is not a valid UUID not found\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 120
      },
      {
        "_id": "e25d2c13f30a160c24e886068f79e997",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/57d458a2-ef4f-11ed-9db8-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 164
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
