{
  "log": {
    "_recordingName": "Teams/Remove a team link returns \"API error response.\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "0c214bbdd8c58bf2254f2c291e47da8b",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"1679941994\",\"name\":\"1679941994\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 527,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"d5ed9248-cccd-11ed-bdb0-da7ad0900002\",\"attributes\":{\"name\":\"1679941994\",\"handle\":\"1679941994\",\"summary\":null,\"description\":null,\"color\":12,\"created_at\":\"2023-03-27T18:33:14.782729+00:00\",\"modified_at\":\"2023-03-27T18:33:14.782734+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/d5ed9248-cccd-11ed-bdb0-da7ad0900002/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/d5ed9248-cccd-11ed-bdb0-da7ad0900002/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 494
      },
      {
        "_id": "aed8a80c9ccda3db09b5b15896447bcd",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/d5ed9248-cccd-11ed-bdb0-da7ad0900002/links/REPLACE.ME"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 55,
            "text": "{\"errors\":[\"REPLACE.ME is not a valid UUID not found\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 249
      },
      {
        "_id": "873b94e9f975c125d1cda4da6980e832",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/d5ed9248-cccd-11ed-bdb0-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 438
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
