{
  "log": {
    "_recordingName": "Usage Metering/Get hourly usage for Lambda Traced Invocations returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "4c098a23448e3eade1f729833824330c",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "start_hr",
              "value": "2022-05-01T18:07:36.459Z"
            },
            {
              "name": "end_hr",
              "value": "2022-05-03T18:07:36.459Z"
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/usage/lambda_traced_invocations?start_hr=2022-05-01T18%3A07%3A36.459Z&end_hr=2022-05-03T18%3A07%3A36.459Z"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 2947,
            "text": "{\"data\":[{\"attributes\":{\"org_name\":\"DD Integration Tests (321813)\",\"usage_type\":\"lambda_traced_invocations_count\",\"public_id\":\"fasjyydbcgwwc2uc\",\"timeseries\":[{\"timestamp\":\"2022-05-01T18:00:00+00:00\",\"value\":null},{\"timestamp\":\"2022-05-01T19:00:00+00:00\",\"value\":null},{\"timestamp\":\"2022-05-01T20:00:00+00:00\",\"value\":null},{\"timestamp\":\"2022-05-01T21:00:00+00:00\",\"value\":null},{\"timestamp\":\"2022-05-01T22:00:00+00:00\",\"value\":null},{\"timestamp\":\"2022-05-01T23:00:00+00:00\",\"value\":null},{\"timestamp\":\"2022-05-02T00:00:00+00:00\",\"value\":null},{\"timestamp\":\"2022-05-02T01:00:00+00:00\",\"value\":null},{\"timestamp\":\"2022-05-02[...]
