{
  "log": {
    "_recordingName": "Cloud Cost Management/Delete Cloud Cost Management GCP Usage Cost config returns \"Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "4e76b4948fb09c220fb12be79ab8e22a",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/cost/gcp_uc_config/123456"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 49,
            "text": "{\"errors\":[{\"status\":\"404\",\"title\":\"Not Found\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 102
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
