{
  "log": {
    "_recordingName": "Authentication/Validate API key returns \"Forbidden\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "f5babbb78831da3e8137c22a7b7a4585",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/validate"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 32,
            "text": "{\"errors\": [\"API key required\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 403,
          "statusText": "Forbidden"
        },
        "time": 49,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
