{
  "log": {
    "_recordingName": "Roles/Get a role returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "ba69a5901242b3bc229bc409da5db37e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Get_a_role_returns_OK_response-1618491752\"},\"type\":\"roles\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/roles"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 481,
            "text": "{\"data\":{\"type\":\"roles\",\"id\":\"d773040e-9dea-11eb-9df5-da7ad0900002\",\"attributes\":{\"name\":\"Test-Get_a_role_returns_OK_response-1618491752\",\"created_at\":\"2021-04-15T13:02:32.746944+00:00\",\"modified_at\":\"2021-04-15T13:02:32.746944+00:00\"},\"relationships\":{\"permissions\":{\"data\":[{\"type\":\"permissions\",\"id\":\"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2\"},{\"type\":\"permissions\",\"id\":\"4441648c-d8b1-11e9-a77a-1b899a04b304\"},{\"type\":\"permissions\",\"id\":\"417ba636-2dce-11eb-84c0-6bce5b0d9de0\"}]}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.4318655"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "500"
            },
            {
              "name": "x-ratelimit-period",
              "value": "60"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "28"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "491"
            },
            {
              "name": "x-dd-debug",
              "value": "tpRCH6w417YjBovRJ8VmtuXmNONVYiRp2c8d2AxjPdGBn8PCtgG4vAztrx3qUZAN"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 432,
      },
      {
        "_id": "4ad5d8f6871f9ab6629275e720b97e33",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/roles/d773040e-9dea-11eb-9df5-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 496,
            "text": "{\"data\":{\"type\":\"roles\",\"id\":\"d773040e-9dea-11eb-9df5-da7ad0900002\",\"attributes\":{\"name\":\"Test-Get_a_role_returns_OK_response-1618491752\",\"created_at\":\"2021-04-15T13:02:32.746944+00:00\",\"modified_at\":\"2021-04-15T13:02:32.746944+00:00\",\"user_count\":0},\"relationships\":{\"permissions\":{\"data\":[{\"type\":\"permissions\",\"id\":\"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2\"},{\"type\":\"permissions\",\"id\":\"4441648c-d8b1-11e9-a77a-1b899a04b304\"},{\"type\":\"permissions\",\"id\":\"417ba636-2dce-11eb-84c0-6bce5b0d9de0\"}]}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": [...]
