{
  "log": {
    "_recordingName": "Roles/Get a role returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "b450e4299adc9d68bb3b88d67d738d70",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Get_a_role_returns_OK_response-1641829865\"},\"type\":\"roles\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/roles"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 682,
            "text": "{\"data\":{\"type\":\"roles\",\"id\":\"1eb8f8f2-722d-11ec-b5d7-da7ad0900002\",\"attributes\":{\"name\":\"Test-Get_a_role_returns_OK_response-1641829865\",\"created_at\":\"2022-01-10T15:51:05.616819+00:00\",\"modified_at\":\"2022-01-10T15:51:05.688426+00:00\"},\"relationships\":{\"permissions\":{\"data\":[{\"type\":\"permissions\",\"id\":\"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2\"},{\"type\":\"permissions\",\"id\":\"4441648c-d8b1-11e9-a77a-1b899a04b304\"},{\"type\":\"permissions\",\"id\":\"417ba636-2dce-11eb-84c0-6bce5b0d9de0\"},{\"type\":\"permissions\",\"id\":\"12efc20e-d36c-11eb-a9b8-da7ad0900002\"},{\"type\":\"permissions\",\"id\":\"97971c1c-e895-11eb-b13c-da7ad0900002\"},{\"type\":\"permissions\",\"id\":\"7605ef24-f376-11eb-b90b-da7ad0900002\"}]}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 492
      },
      {
        "_id": "c1b9d1a401d1f5ef511d5a687f2ee408",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/roles/1eb8f8f2-722d-11ec-b5d7-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 697,
            "text": "{\"data\":{\"type\":\"roles\",\"id\":\"1eb8f8f2-722d-11ec-b5d7-da7ad0900002\",\"attributes\":{\"name\":\"Test-Get_a_role_returns_OK_response-1641829865\",\"created_at\":\"2022-01-10T15:51:05.616819+00:00\",\"modified_at\":\"2022-01-10T15:51:05.688426+00:00\",\"user_count\":0},\"relationships\":{\"permissions\":{\"data\":[{\"type\":\"permissions\",\"id\":\"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2\"},{\"type\":\"permissions\",\"id\":\"4441648c-d8b1-11e9-a77a-1b899a04b304\"},{\"type\":\"permissions\",\"id\":\"417ba636-2dce-11eb-84c0-6bce5b0d9de0\"},{\"type\":\"permissions\",\"id\":\"12efc20e-d36c-11eb-a9b8-da7ad0900002\"},{\"type\":\"permissions\",\"id\":\"97971c1c-e895-11eb-b13c-da7ad0900002\"},{\"type\":\"permissions\",\"id\":\"7605ef24-f376-11eb-b90b-da7ad0900002\"}]}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 347
      },
      {
        "_id": "78de4ef85f551e6b87bb6c9f2f26b98f",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/roles/1eb8f8f2-722d-11ec-b5d7-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 366
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
