{
  "log": {
    "_recordingName": "Organizations/Get a specific Org Config value returns \"Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "e28ab143d4b72728bc2bd12a2a106dab",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/org_configs/i_dont_exist"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 48,
            "text": "{\"errors\":[\"OrgConfig: i_dont_exist not found\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 502
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
