{
  "log": {
    "_recordingName": "On-Call/Set on-call team routing rules returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "d3d2bbd9f41165340ae630111f65af92",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Set_on_call_team_routing_rules_returns_OK_response-1746170915@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 705,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"0f6790f5-2727-11f0-a9cb-b6ff84ad8646\",\"attributes\":{\"name\":null,\"handle\":\"test-set_on_call_team_routing_rules_returns_ok_response-1746170915@datadoghq.com\",\"created_at\":\"2025-05-02T07:28:36.413905+00:00\",\"modified_at\":\"2025-05-02T07:28:36.413905+00:00\",\"email\":\"test-set_on_call_team_routing_rules_returns_ok_response-1746170915@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/b9e2f38a22d0273582e08252ffbae94a?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 162
      },
      {
        "_id": "acf0ae84792bd4a0ba6f166ba70844c5",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"test-handle-f6cbca2a9dc51017\",\"name\":\"test-name-f6cbca2a9dc51017\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 635,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"0db9884c-62de-4b52-ae74-1d256d8ecb75\",\"attributes\":{\"name\":\"test-name-f6cbca2a9dc51017\",\"handle\":\"test-handle-f6cbca2a9dc51017\",\"summary\":null,\"description\":null,\"avatar\":null,\"banner\":9,\"visible_modules\":[],\"hidden_modules\":[],\"created_at\":\"2025-05-02T07:28:36.528008+00:00\",\"modified_at\":\"2025-05-02T07:28:36.528018+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/0db9884c-62de-4b52-ae74-1d256d8ecb75/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/0db9884c-62de-4b52-ae74-1d256d8ecb75/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 190
      },
      {
        "_id": "8a6c5a3602e026b738fb8d85fe465eec",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"layers\":[{\"effective_date\":\"2025-04-22T07:28:35.869Z\",\"end_date\":\"2025-05-12T07:28:35.869Z\",\"interval\":{\"days\":1},\"members\":[{\"user\":{\"id\":\"890f29d4-0b7a-11f0-aeb2-760fcae4f596\"}}],\"name\":\"Layer 1\",\"restrictions\":[{\"end_day\":\"friday\",\"end_time\":\"17:00:00\",\"start_day\":\"monday\",\"start_time\":\"09:00:00\"}],\"rotation_start\":\"2025-04-27T07:28:35.869Z\"}],\"name\":\"Test-Set_on_call_team_routing_rules_returns_OK_response-1746170915\",\"tags\":[\"tag1\",\"tag2\"],\"time_zone\":\"America/New_York\"},\"relationships\":{\"teams\":{\"data\":[{\"id\":\"65aea9d0-941c-4607-bf8a-14fc0dac2820\",\"type\":\"teams\"}]}},\"type\":\"schedules\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/on-call/schedules"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 398,
            "text": "{\"data\":{\"id\":\"f4ae5b94-3985-490a-bdc0-e7f64890968c\",\"type\":\"schedules\",\"attributes\":{\"name\":\"Test-Set_on_call[...]
