{
  "log": {
    "_recordingName": "Status Pages/Create component returns \"Created\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "422dbf510783cd3e2eeb0ac4793daff4",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"components\":[{\"name\":\"41b9f5a7099f1ce8\",\"type\":\"component\"}],\"domain_prefix\":\"dd-integration-test-41b9f5a7099f1ce8\",\"enabled\":true,\"name\":\"[DD Integration Test] 41b9f5a7099f1ce8\",\"type\":\"internal\",\"visualization_type\":\"bars_and_uptime_percentage\"},\"type\":\"status_pages\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/statuspages"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 943,
            "text": "{\"data\":{\"id\":\"9a062aad-bed6-4306-950c-61f99eae6487\",\"type\":\"status_pages\",\"attributes\":{\"company_logo\":null,\"components\":[{\"id\":\"96275f10-9329-4c04-ad5d-fdc3ead07b33\",\"name\":\"41b9f5a7099f1ce8\",\"type\":\"component\",\"status\":\"operational\",\"position\":0}],\"created_at\":\"2026-01-07T22:14:03.566508Z\",\"custom_domain\":null,\"custom_domain_enabled\":false,\"domain_prefix\":\"dd-integration-test-41b9f5a7099f1ce8\",\"email_header_image\":null,\"enabled\":true,\"favicon\":null,\"modified_at\":\"2026-01-07T22:14:03.566508Z\",\"name\":\"[DD Integration Test] 41b9f5a7099f1ce8\",\"page_url\":\"https://frog.datadoghq.com/status-pages/9a062aad-bed6-4306-950c-61f99eae6487/view\",\"subscriptions_enabled\":false,\"type\":\"internal\",\"visualization_type\":\"bars_and_uptime_percentage\"},\"relationships\":{\"created_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}},\"last_modified_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 545
      },
      {
        "_id": "522269d47991d85f4f70d6ef74e5428c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"41b9f5a7099f1ce8\",\"position\":0,\"type\":\"component\"},\"type\":\"components\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/statuspages/9a062aad-bed6-4306-950c-61f99eae6487/components"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 570,
            "text": "{\"data\":{\"id\":\"0ca19b3a-fa33-43a1-a6b7-8792aed956d6\",\"type\":\"components\",\"attributes\":{\"created_at\":\"2026-01-07T22:14:04.075248Z\",\"modified_at\":\"2026-01-07T22:14:04.075248Z\",\"name\":\"41b9f5a7099f1ce8\",\"position\":0,\"status\":\"operational\",\"type\":\"component\"},\"relationships\":{\"created_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}},\"group\":{\"data\":null},\"last_modified_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}},\"status_page\":{\"data\":{\"id\":\"9a062aad-bed6-4306-950c-61f99eae6487\",\"type\":\"status_pages\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 84
      },
      {
        "_id": "d16af9376bf3cfdfcbd07bd01309a9b6",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/statuspages/9a062aad-bed6-4306-950c-61f99eae6487/components/0ca19b3a-fa33-43a1-a6b7-8792aed956d6"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 166
      },
      {
        "_id": "d4c1201093bc4c3d4f4bee31cdf6ad27",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/statuspages/9a062aad-bed6-4306-950c-61f99eae6487"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 61,
            "text": "{\"errors\":[{\"status\":\"500\",\"title\":\"Internal Server Error\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 500,
          "statusText": "Internal Server Error"
        },
        "time": 502
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
