{
  "log": {
    "_recordingName": "Status Pages/Create component returns \"Created\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "8436c48e74a637b8e131cd418a4fad50",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"components\":[{\"name\":\"1ce8205a4e6ea1ed\",\"type\":\"component\"}],\"domain_prefix\":\"dd-integration-tests-1ce8205a4e6ea1ed\",\"enabled\":true,\"name\":\"[DD Integration Tests] 1ce8205a4e6ea1ed\",\"type\":\"internal\",\"visualization_type\":\"bars_and_uptime_percentage\"},\"type\":\"status_pages\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/statuspages"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 945,
            "text": "{\"data\":{\"id\":\"57c413b7-a3b0-465e-99a0-1ed82e39ab7a\",\"type\":\"status_pages\",\"attributes\":{\"company_logo\":null,\"components\":[{\"id\":\"93d7ec73-4666-4fb7-b4fd-a679c66df580\",\"name\":\"1ce8205a4e6ea1ed\",\"type\":\"component\",\"status\":\"operational\",\"position\":0}],\"created_at\":\"2026-01-09T18:43:17.896426Z\",\"custom_domain\":null,\"custom_domain_enabled\":false,\"domain_prefix\":\"dd-integration-tests-1ce8205a4e6ea1ed\",\"email_header_image\":null,\"enabled\":true,\"favicon\":null,\"modified_at\":\"2026-01-09T18:43:17.896426Z\",\"name\":\"[DD Integration Tests] 1ce8205a4e6ea1ed\",\"page_url\":\"https://frog.datadoghq.com/status-pages/57c413b7-a3b0-465e-99a0-1ed82e39ab7a/view\",\"subscriptions_enabled\":false,\"type\":\"internal\",\"visualization_type\":\"bars_and_uptime_percentage\"},\"relationships\":{\"created_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}},\"last_modified_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 487
      },
      {
        "_id": "4ff7ff3cbec0242ab72f9631a952ffb3",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"1ce8205a4e6ea1ed\",\"position\":0,\"type\":\"component\"},\"type\":\"components\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/statuspages/57c413b7-a3b0-465e-99a0-1ed82e39ab7a/components"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 570,
            "text": "{\"data\":{\"id\":\"4abc57bc-67da-4d19-b7c0-4a302a9430b0\",\"type\":\"components\",\"attributes\":{\"created_at\":\"2026-01-09T18:43:18.336904Z\",\"modified_at\":\"2026-01-09T18:43:18.336904Z\",\"name\":\"1ce8205a4e6ea1ed\",\"position\":0,\"status\":\"operational\",\"type\":\"component\"},\"relationships\":{\"created_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}},\"group\":{\"data\":null},\"last_modified_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}},\"status_page\":{\"data\":{\"id\":\"57c413b7-a3b0-465e-99a0-1ed82e39ab7a\",\"type\":\"status_pages\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 68
      },
      {
        "_id": "23dd1964d459d9da8c05d8e2e2bdf53e",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/statuspages/57c413b7-a3b0-465e-99a0-1ed82e39ab7a/components/4abc57bc-67da-4d19-b7c0-4a302a9430b0"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 140
      },
      {
        "_id": "92765a8d3737f4d559b4fedfe71f2312",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/statuspages/57c413b7-a3b0-465e-99a0-1ed82e39ab7a"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 469
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
