{
  "log": {
    "_recordingName": "Security Monitoring/Update a mute rule returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "9b06b3685bc686c17a1adcbfcfc590d4",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"action\":{\"reason\":\"duplicate\"},\"enabled\":true,\"name\":\"Test-Update_a_mute_rule_returns_Bad_Request_response-1737639704\",\"rule\":{\"issue_type\":\"vulnerability\",\"query\":\"\",\"rule_ids\":[],\"rule_types\":[\"misconfiguration\",\"attack_path\"],\"severities\":[\"critical\"]}},\"type\":\"mute_rules\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/security/vulnerabilities/pipelines/mute_rules"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 520,
            "text": "{\"data\":{\"id\":\"d54c43cb-1ff0-4f60-a3cc-2794815252a8\",\"type\":\"mute_rules\",\"attributes\":{\"action\":{\"reason\":\"duplicate\"},\"created_at\":1737639704499,\"created_by\":{\"name\":\"frog\",\"handle\":\"frog@datadoghq.com\"},\"enabled\":true,\"modified_at\":1737639704499,\"modified_by\":{\"name\":\"frog\",\"handle\":\"frog@datadoghq.com\"},\"name\":\"Test-Update_a_mute_rule_returns_Bad_Request_response-1737639704\",\"rule\":{\"issue_type\":\"vulnerability\",\"rule_types\":[\"misconfiguration\",\"attack_path\"],\"rule_ids\":[],\"query\":\"\",\"severities\":[\"critical\"]}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 343
      },
      {
        "_id": "6a3e628f6a038da0136904ad60efa601",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"invalid\":{\"attributes\":{\"action\":{\"expire_at\":1893452400000,\"reason\":\"duplicate\",\"reason_description\":\"Muting for a while\"},\"enabled\":true,\"name\":\"Rule 1\",\"rule\":{\"issue_type\":\"vulnerability\",\"query\":\"key:val\",\"rule_ids\":[\"rule-id-1\"],\"rule_types\":[\"application_code_vulnerability\"],\"severities\":[\"critical\"]}},\"id\":\"d54c43cb-1ff0-4f60-a3cc-2794815252a8\",\"type\":\"mute_rules\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/security/vulnerabilities/pipelines/mute_rules/d54c43cb-1ff0-4f60-a3cc-2794815252a8"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 105,
            "text": "{\"errors\":[{\"status\":\"400\",\"title\":\"Bad Request\",\"detail\":\"Error while unmarshalling JSON API request\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 438
      },
      {
        "_id": "cc68a1da9d2268408d819a545f9fb303",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/security/vulnerabilities/pipelines/mute_rules/d54c43cb-1ff0-4f60-a3cc-2794815252a8"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 449
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
