{
  "log": {
    "_recordingName": "Logs Custom Destinations/Get a custom destination returns \"Not found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "1fa4af50fcbcf6dc0cebf41820d06884",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/config/custom_destinations/some-non-existent-id"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 24,
            "text": "{\"errors\":[\"NotFound\"]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 497
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
