{
  "log": {
    "_recordingName": "Forms/Publish a form version returns \"Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "0ec1fa3766dd23edc829eb61770f7f93",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"version\":1},\"type\":\"form_publications\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/forms/00000000-0000-0000-0000-000000000001/publish"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 98,
            "text": "{\"errors\":[{\"status\":\"404\",\"id\":\"890f7bea-c0e2-45f9-a06a-e3214a19be57\",\"title\":\"form not found\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 322
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
