{
  "log": {
    "_recordingName": "Logs/Aggregate events returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "a2522508827b2e0c31c6adb9d91143a7",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"filter\":{\"from\":\"now-15m\",\"indexes\":[\"main\"],\"query\":\"*\",\"to\":\"now\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/analytics/aggregate"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 178,
            "text": "{\"meta\":{\"elapsed\":10,\"request_id\":\"pddv1ChZNTFhDRTJTelQycXp1QXdlX1NmTlpRIi0KHe-ilFcY0rnsNmMKsu8hd-YRCNigxxg3E_n1PmI9EgxGTh_nEXTFJyr3H54\",\"status\":\"done\"},\"data\":{\"buckets\":[]}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 155
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
