{
  "log": {
    "_recordingName": "Logs/Aggregate events returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "7a25f070b0f42d747cc027702d5cd6e5",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"compute\":[{\"aggregation\":\"count\",\"interval\":\"300\",\"metric\":\"test.aggregation.Typescript-Aggregate_events_returns_OK_response-1613666630.027\",\"type\":\"timeseries\"}],\"filter\":{\"from\":\"1600348573\",\"indexes\":[\"main\"],\"query\":\"datadog-agent\",\"to\":\"1600348600\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/analytics/aggregate"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 300,
            "text": "[\"1f8b0800000000000003ab56ca4d2d4954b2aa562a2e492c292d56b2524ac9cf4b55d2512a4a2d2c4d2d2e89cf4c018a85e6f995a486f9952585b80587641a868786068524bbe49825ba1b54a51857b82555f9f905851b9a2645e454f947784505bb6594f985a71ba6b8873901cd4acd492c284e051a6450aba3949208b130a934393bb5046863746c6d2d00f1be86c888000000\"]"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.3935655"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "300"
            },
            {
              "name": "x-ratelimit-period",
              "value": "300"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "70"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "299"
            },
            {
              "name": "x-dd-debug",
              "value": "B1nwy/pPNqX+q4pQT22cdp1QCexE35IF8qwSHy0Nf7IW0Y881qtn4tXN1lpmzaKc"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 372,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
