{
  "log": {
    "_recordingName": "Logs/Aggregate events returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "817a5375942171e311e244b35457f8bb",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"compute\":[{\"aggregation\":\"count\",\"interval\":\"300\",\"metric\":\"test.aggregation.Typescript-Aggregate_events_returns_OK_response-1613653939.282\",\"type\":\"timeseries\"}],\"filter\":{\"from\":\"1600348573\",\"indexes\":[\"main\"],\"query\":\"datadog-agent\",\"to\":\"1600348600\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/analytics/aggregate"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 300,
            "text": "[\"1f8b0800000000000003ab56ca4d2d4954b2aa562a2e492c292d56b2524ac9cf4b55d2512a4a2d2c4d2d2e89cf4c018af9458465a6861764a4e664842419877984e53815a57a38792419fa19054654f88755450587bb65980587467924867879271a061946e6a40425bb561803cd4acd492c284e051a6450aba3949208b130a934393bb5046863746c6d2d00ae64cf8888000000\"]"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.3933218"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "300"
            },
            {
              "name": "x-ratelimit-period",
              "value": "300"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "161"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "299"
            },
            {
              "name": "x-dd-debug",
              "value": "vdJ3/nHEY1ioXQ6pQrBVvsQK1s4yyc+wufBMPSoXql71qZVuP/xMdtNo6DafhOAk"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 406,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
