{
  "log": {
    "_recordingName": "Logs/Aggregate events returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "a319583d2f7e9e527b675beccb640e47",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"compute\":[{\"aggregation\":\"count\",\"interval\":\"300\",\"metric\":\"test.aggregation.Typescript-Aggregate_events_returns_OK_response-1613750666.472\",\"type\":\"timeseries\"}],\"filter\":{\"from\":\"1600348573\",\"indexes\":[\"main\"],\"query\":\"datadog-agent\",\"to\":\"1600348600\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/analytics/aggregate"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 300,
            "text": "[\"1f8b0800000000000003ab56ca4d2d4954b2aa562a2e492c292d56b2524ac9cf4b55d2512a4a2d2c4d2d2e89cf4c018a051b46854685057984ba66848484f9792719e61ba5b8a71b8446381a87469457f8851618f9b99a5685655be6a7b8577807e76438fb198495271a7a0501cd4acd492c284e051a6450aba3949208b130a934393bb5046863746c6d2d00264c8d7b88000000\"]"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.3944440"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "300"
            },
            {
              "name": "x-ratelimit-period",
              "value": "300"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "34"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "299"
            },
            {
              "name": "x-dd-debug",
              "value": "twvpGlmuom5y6A0pjGtXzTf554cmwJgTcCZ71fK4H/RDi+v5ehBK0zQiRcTJQG5C"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 372,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
