{
  "log": {
    "_recordingName": "Incidents/List incident attachments returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "555673e1f2835a9c1b1381e8fd28b405",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/incidents/00000000-0000-0000-0000-000000000000/attachments"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 68,
            "text": "{\"errors\":[{\"title\":\"Generic Error\",\"detail\":\"incident not found\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 87
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
