{
  "log": {
    "_recordingName": "Datasets/Get a single dataset by ID returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "2bf51849cca5524a24b4d999943d9ea9",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/datasets/malformed_id"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 113,
            "text": "{\"errors\":[\"Invalid request: [UUIDInvalidValue] \\\"malformed_id\\\" is not a valid UUID: invalid UUID length: 12\"]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 164
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
