{
  "log": {
    "_recordingName": "Rum Retention Filters/Get a RUM retention filter returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "b1bf460a47a5bbc687c7d07ccc12057f",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/rum/applications/a33671aa-24fd-4dcd-ba4b-5bbdbafe7690/retention_filters/4b95d361-f65d-4515-9824-c9aaeba5ac2a"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 244,
            "text": "{\"data\":{\"id\":\"4b95d361-f65d-4515-9824-c9aaeba5ac2a\",\"type\":\"retention_filters\",\"attributes\":{\"enabled\":true,\"event_type\":\"session\",\"name\":\"Test retention filter for session\",\"query\":\"custom_query\",\"sample_rate\":25},\"meta\":{\"source\":\"terraform\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 116
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
