{
  "log": {
    "_recordingName": "Dashboards/Create a new dashboard with geomap widget",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "d40c08e775d7b6c67a3e9281f4a7f323",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"description\":null,\"layout_type\":\"free\",\"notify_list\":[],\"template_variables\":[],\"title\":\"Test-Create_a_new_dashboard_with_geomap_widget-1731611543\",\"widgets\":[{\"definition\":{\"requests\":[{\"formulas\":[{\"formula\":\"query1\"}],\"queries\":[{\"compute\":{\"aggregation\":\"count\"},\"data_source\":\"rum\",\"group_by\":[{\"facet\":\"@geo.country_iso_code\",\"limit\":250,\"sort\":{\"aggregation\":\"count\",\"order\":\"desc\"}}],\"indexes\":[\"*\"],\"name\":\"query1\",\"search\":{\"query\":\"\"}}],\"response_format\":\"scalar\",\"sort\":{\"count\":250,\"order_by\":[{\"index\":0,\"order\":\"desc\",\"type\":\"formula\"}]}}],\"style\":{\"palette\":\"hostmap_blues\",\"palette_flip\":false},\"time\":{},\"title\":\"\",\"title_align\":\"left\",\"title_size\":\"16\",\"type\":\"geomap\",\"view\":{\"focus\":\"WORLD\"}},\"layout\":{\"height\":30,\"width\":47,\"x\":0,\"y\":0}}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1105,
            "text": "{\"id\":\"zfg-33v-zgb\",\"title\":\"Test-Create_a_new_dashboard_with_geomap_widget-1731611543\",\"description\":null,\"author_handle\":\"anika.maskara@datadoghq.com\",\"author_name\":\"Anika Maskara\",\"layout_type\":\"free\",\"url\":\"/dashboard/zfg-33v-zgb/test-createanewdashboardwithgeomapwidget-1731611543\",\"is_read_only\":false,\"template_variables\":[],\"widgets\":[{\"definition\":{\"requests\":[{\"formulas\":[{\"formula\":\"query1\"}],\"queries\":[{\"compute\":{\"aggregation\":\"count\"},\"data_source\":\"rum\",\"group_by\":[{\"facet\":\"@geo.country_iso_code\",\"limit\":250,\"sort\":{\"aggregation\":\"count\",\"order\":\"desc\"}}],\"indexes\":[\"*\"],\"name\":\"query1\",\"search\":{\"query\":\"\"}}],\"response_format\":\"scalar\",\"sort\":{\"count\":250,\"order_by\":[{\"index\":0,\"order\":\"desc\",\"type\":\"formula\"}]}}],\"style\":{\"palette\":\"hostmap_blues\",\"palette_flip\":false},\"time\":{},\"title\":\"\",\"title_align\":\"left\",\"title_size\":\"16\",\"type\":\"geomap\",\"view\":{\"focus\":\"WORLD\"}},\"layout\":{\"height\":30,\"width\":47,\"x\":0,\"y\":0},\"id\":5382084722873723}],\"notify_list\":[],\"created_at\":\"2024-11-14T19:12:23.594185+00:00\",\"modified_at\":\"2024-11-14T19:12:23.594185+00:00\",\"restricted_roles\":[]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 225
      },
      {
        "_id": "b8f1454da70b42d94ceeed3618bb4a91",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/zfg-33v-zgb"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 39,
            "text": "{\"deleted_dashboard_id\":\"zfg-33v-zgb\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 177
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
