{
  "log": {
    "_recordingName": "Data Deletion/Creates a data deletion request returns \"Precondition failed error\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "887aa42dacbd3096c0131d68b123f7eb",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"displayed_total\":100,\"from\":1672527600000,\"indexes\":[\"test-index\",\"test-index-2\"],\"query\":{},\"to\":1704063600000},\"type\":\"create_deletion_req\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/deletion/data/logs"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 123,
            "text": "{\"errors\":[{\"status\":\"412\",\"code\":\"INVALID_BODY\",\"title\":\"INVALID_BODY\",\"detail\":\"query is required and cannot be empty\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 412,
          "statusText": "Precondition Failed"
        },
        "time": 340
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
