{
  "log": {
    "_recordingName": "Cloud Cost Management/Get Custom Costs File returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "a1ec2762d452e75dcf6efed99b4939e4",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/cost/custom_costs/1234abcd-1234-abcd-1234-1234abcd1234"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 684,
            "text": "{\"data\":{\"id\":\"1234abcd-1234-abcd-1234-1234abcd1234\",\"type\":\"cost_metadata\",\"attributes\":{\"billed_cost\":250,\"billing_currency\":\"USD\",\"charge_period\":{\"start\":1683331200000,\"end\":1686009600000},\"content\":[{\"BilledCost\":250,\"BillingCurrency\":\"USD\",\"ChargeDescription\":\"my_description\",\"Tags\":{\"key\":\"value\"},\"ProviderName\":\"my_provider\",\"ChargePeriodStart\":\"2023-05-06\",\"ChargePeriodEnd\":\"2023-06-06\"}],\"name\":\"data.json\",\"provider_names\":[\"my_provider\"],\"status\":\"PROCESSING\",\"uploaded_at\":1754684414611,\"uploaded_by\":{\"name\":\"frog\",\"icon\":\"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?d=retro\\u0026s=48\",\"email\":\"frog@datadoghq.com\"}}},\"meta\":{\"version\":\"1.0\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 261
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
