{
  "log": {
    "_recordingName": "Dashboard Lists/Update a dashboard list returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "a1f1270a5e756dc255aacde9f78ef88c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"Test-Update_a_dashboard_list_returns_OK_response-1633076911\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/lists/manual"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 315,
            "text": "{\"is_favorite\":false,\"name\":\"Test-Update_a_dashboard_list_returns_OK_response-1633076911\",\"dashboard_count\":0,\"author\":{\"handle\":\"frog@datadoghq.com\",\"name\":null},\"created\":\"2021-10-01T08:28:31.803012+00:00\",\"type\":\"manual_dashboard_list\",\"dashboards\":null,\"modified\":\"2021-10-01T08:28:31.803044+00:00\",\"id\":240517}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 127,
      },
      {
        "_id": "b0cac23bf09c63d0de463c01e4e03f50",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"updated Test-Update_a_dashboard_list_returns_OK_response-1633076911\"}"[...]
