{
  "log": {
    "_recordingName": "Monitors/Create a monitor user template returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "39b3220f65ca75a2de9ced70d1c2dbac",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{}}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/monitor/template"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 65,
            "text": "{\"errors\":[\"Required parameter 'monitor_definition' is missing\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 136
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
