{
  "log": {
    "_recordingName": "Agentless Scanning/Post an AWS on demand task returns \"AWS on demand task created successfully.\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "22e692ec011856ae6a7be829dfef8419",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"arn\":\"arn:aws:lambda:us-west-2:123456789012:function:my-function\"},\"type\":\"aws_resource\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/agentless_scanning/ondemand/aws"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 219,
            "text": "{\"data\":{\"id\":\"20fa1c5c-0f03-4db7-b1d9-e360226bb786\",\"type\":\"aws_resource\",\"attributes\":{\"arn\":\"arn:aws:lambda:us-west-2:123456789012:function:my-function\",\"created_at\":\"2025-08-24T22:41:51.043274Z\",\"status\":\"QUEUED\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 480
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
