{
  "log": {
    "_recordingName": "Synthetics/Create an API GRPC test returns \"OK - Returns the created test details.\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "746da63feac18f9cb2dc81a9a1e775e0",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"config\":{\"assertions\":[{\"operator\":\"is\",\"target\":1,\"type\":\"grpcHealthcheckStatus\"}],\"request\":{\"host\":\"localhost\",\"message\":\"\",\"metadata\":{},\"method\":\"GET\",\"port\":50051,\"service\":\"Hello\"}},\"locations\":[\"aws:us-east-2\"],\"message\":\"BDD test payload: synthetics_api_grpc_test_payload.json\",\"name\":\"Test-Create_an_API_GRPC_test_returns_OK_Returns_the_created_test_details_response-1653393505\",\"options\":{\"min_failure_duration\":0,\"min_location_failed\":1,\"monitor_name\":\"Test-Create_an_API_GRPC_test_returns_OK_Returns_the_created_test_details_response-1653393505\",\"monitor_options\":{\"renotify_interval\":0},\"tick_every\":60},\"subtype\":\"grpc\",\"tags\":[\"testing:api\"],\"type\":\"api\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/synthetics/tests/api"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 953,
            "text": "{\"status\":\"live\",\"public_id\":\"b42-9bj-kdp\",\"tags\":[\"testing:api\"],\"org_id\":321813,\"locations\":[\"aws:us-east-2\"],\"message\":\"BDD test payload: synthetics_api_grpc_test_payload.json\",\"deleted_at\":null,\"name\":\"Test-Create_an_API_GRPC_test_returns_OK_Returns_the_created_test_details_response-1653393505\",\"monitor_id\":72307136,\"type\":\"api\",\"created_at\":\"2022-05-24T11:58:26.204508+00:00\",\"modified_at\":\"2022-05-24T11:58:26.204508+00:00\",\"subtype\":\"grpc\",\"config\":{\"request\":{\"service\":\"Hello\",\"port\":50051,\"host\":\"localhost\",\"message\":\"\",\"method\":\"GET\",\"metadata\":{}},\"assertions\":[{\"operator\":\"is\",\"type\":\"grpcHealthcheckStatus\",\"target\":1}]},\"options\":{\"monitor_options\":{\"include_tags\":true,\"notify_no_data\":false,\"notify_audit\":false,\"new_host_delay\":300,\"renotify_interval\":0},\"tick_every\":60,\"monitor_name\":\"Test-Create_an_API_GRPC_test_returns_OK_Returns_the_created_test_details_response-1653393505\",\"min_failure_duration\":0,\"min_location_failed\":1}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 827
      },
      {
        "_id": "7e4144b4be0d4d8583ec2c49f6939ac1",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"public_ids\":[\"b42-9bj-kdp\"]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/synthetics/tests/delete"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 95,
            "text": "{\"deleted_tests\":[{\"deleted_at\":\"2022-05-24T11:58:31.800773+00:00\",\"public_id\":\"b42-9bj-kdp\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 5488
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
