{
  "log": {
    "_recordingName": "Synthetics/Create an API GRPC test returns \"OK - Returns the created test details.\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "0cbc37b7d81fb14e6fb63b77fbe97871",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"config\":{\"assertions\":[{\"operator\":\"is\",\"target\":1,\"type\":\"grpcHealthcheckStatus\"},{\"operator\":\"is\",\"target\":\"proto target\",\"type\":\"grpcProto\"},{\"operator\":\"is\",\"property\":\"property\",\"target\":\"123\",\"type\":\"grpcMetadata\"}],\"request\":{\"host\":\"localhost\",\"message\":\"\",\"metadata\":{},\"method\":\"GET\",\"port\":50051,\"service\":\"Hello\"}},\"locations\":[\"aws:us-east-2\"],\"message\":\"BDD test payload: synthetics_api_grpc_test_payload.json\",\"name\":\"Test-Create_an_API_GRPC_test_returns_OK_Returns_the_created_test_details_response-1733743075\",\"options\":{\"min_failure_duration\":0,\"min_location_failed\":1,\"monitor_name\":\"Test-Create_an_API_GRPC_test_returns_OK_Returns_the_created_test_details_response-1733743075\",\"monitor_options\":{\"renotify_interval\":0},\"tick_every\":60},\"subtype\":\"grpc\",\"tags\":[\"testing:api\"],\"type\":\"api\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/synthetics/tests/api"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1276,
            "text": "{\"public_id\":\"ysc-nuq-x8y\",\"name\":\"Test-Create_an_API_GRPC_test_returns_OK_Returns_the_created_test_details_response-1733743075\",\"status\":\"live\",\"type\":\"api\",\"subtype\":\"grpc\",\"tags\":[\"testing:api\"],\"created_at\":\"2024-12-09T11:17:56.335947+00:00\",\"modified_at\":\"2024-12-09T11:17:56.335947+00:00\",\"config\":{\"assertions\":[{\"operator\":\"is\",\"target\":1,\"type\":\"grpcHealthcheckStatus\"},{\"operator\":\"is\",\"target\":\"proto target\",\"type\":\"grpcProto\"},{\"operator\":\"is\",\"property\":\"property\",\"target\":\"123\",\"type\":\"grpcMetadata\"}],\"request\":{\"host\":\"localhost\",\"message\":\"\",\"metadata\":{},\"method\":\"GET\",\"port\":50051,\"service\":\"Hello\"}},\"message\":\"BDD test payload: synthetics_api_grpc_test_payload.json\",\"options\":{\"min_failure_duration\":0,\"min_location_failed\":1,\"monitor_name\":\"Test-Create_an_API_GRPC_test_returns_OK_Returns_the_created_test_details_response-1733743075\",\"monitor_options\":{\"renotify_interval\":0,\"on_missing_data\":\"show_no_data\",\"notify_audit\":false,\"new_host_delay\":300,\"include_tags\":true},\"tick_every\":60},\"locations\":[\"aws:us-east-2\"],\"created_by\":{\"name\":null,\"handle\":\"frog@datadoghq.com\",\"email\":\"frog@datadoghq.com\"},\"deleted_at\":null,\"monitor_id\":159881016,\"org_id\":321813,\"modified_by\":{\"name\":null,\"handle\":\"frog@datadoghq.com\",\"email\":\"frog@datadoghq.com\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 872
      },
      {
        "_id": "e02435b44f9eaa15af3000f4f33a56ca",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"public_ids\":[\"ysc-nuq-x8y\"]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/synthetics/tests/delete"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 96,
            "text": "{\"deleted_tests\":[{\"public_id\":\"ysc-nuq-x8y\",\"deleted_at\":\"2024-12-09T11:17:57.225249+00:00\"}]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1014
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
