{
  "log": {
    "_recordingName": "Synthetics/Create an API GRPC test returns \"OK - Returns the created test details.\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "e99b24dde1c4605ac8852cd34d47c4bd",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"config\":{\"assertions\":[{\"operator\":\"is\",\"target\":1,\"type\":\"grpcHealthcheckStatus\"}],\"request\":{\"host\":\"localhost\",\"message\":\"\",\"metadata\":{},\"method\":\"GET\",\"port\":50051,\"service\":\"Hello\"}},\"locations\":[\"aws:us-east-2\"],\"message\":\"BDD test payload: synthetics_api_grpc_test_payload.json\",\"name\":\"Test-Create_an_API_GRPC_test_returns_OK_Returns_the_created_test_details_response-1661864338\",\"options\":{\"min_failure_duration\":0,\"min_location_failed\":1,\"monitor_name\":\"Test-Create_an_API_GRPC_test_returns_OK_Returns_the_created_test_details_response-1661864338\",\"monitor_options\":{\"renotify_interval\":0},\"tick_every\":60},\"subtype\":\"grpc\",\"tags\":[\"testing:api\"],\"type\":\"api\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/synthetics/tests/api"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 964,
            "text": "{\"status\":\"live\",\"public_id\":\"jhh-fva-te6\",\"tags\":[\"testing:api\"],\"org_id\":321813,\"locations\":[\"aws:us-east-2\"],\"message\":\"BDD test payload: synthetics_api_grpc_test_payload.json\",\"deleted_at\":null,\"name\":\"Test-Create_an_API_GRPC_test_returns_OK_Returns_the_created_test_details_response-1661864338\",\"monitor_id\":81568616,\"type\":\"api\",\"created_at\":\"2022-08-30T12:58:58.963083+00:00\",\"modified_at\":\"2022-08-30T12:58:58.963083+00:00\",\"subtype\":\"grpc\",\"config\":{\"request\":{\"service\":\"Hello\",\"port\":50051,\"host\":\"localhost\",\"message\":\"\",\"method\":\"GET\",\"metadata\":{}},\"assertions\":[{\"operator\":\"is\",\"type\":\"grpcHealthcheckStatus\",\"target\":1}]},\"options\":{\"monitor_options\":{\"include_tags\":true,\"renotify_interval\":0,\"notify_audit\":false,\"new_host_delay\":300,\"on_missing_data\":\"show_no_data\"},\"tick_every\":60,\"monitor_name\":\"Test-Create_an_API_GRPC_test_returns_OK_Returns_the_created_test_details_response-1661864338\",\"min_failure_duration\":0,\"min_location_failed\":1}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 701
      },
      {
        "_id": "36704ea9a5b779a76a8730f57b2ca57f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"public_ids\":[\"jhh-fva-te6\"]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/synthetics/tests/delete"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 95,
            "text": "{\"deleted_tests\":[{\"deleted_at\":\"2022-08-30T12:59:04.527227+00:00\",\"public_id\":\"jhh-fva-te6\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 5466
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
