{
  "log": {
    "_recordingName": "DORA Metrics/Patch a deployment event returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "771f224bec573e3f66136c801e53b6c1",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"finished_at\":1769678752000000000,\"git\":{\"commit_sha\":\"66adc9350f2cc9b250b69abddab733dd55e1a588\",\"repository_url\":\"https://github.com/organization/example-repository\"},\"id\":\"bf100f167795c925\",\"service\":\"shopist\",\"started_at\":1769675152000000000,\"version\":\"v1.12.07\"}}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/dora/deployment"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 59,
            "text": "{\"data\":{\"id\":\"bf100f167795c925\",\"type\":\"dora_deployment\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 98
      },
      {
        "_id": "6118978b8dee575ff3fd4a2ef0e64b82",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"change_failure\":true,\"remediation\":{\"id\":\"eG42zNIkVjM\",\"type\":\"wrong_type\"}},\"id\":\"bf100f167795c925\",\"type\":\"dora_deployment_patch_request\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/dora/deployments/bf100f167795c925"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 121,
            "text": "{\"errors\":[{\"status\":\"400\",\"title\":\"Bad Request\",\"detail\":\"attribute \\\"type\\\" must be one of \\\"rollback rollforward\\\"\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 110
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
