{
  "log": {
    "_recordingName": "Security Monitoring/Delete a non existing rule returns \"Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "49fce5e8074d43721da00156a7ea9999",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/security_monitoring/rules/ThisRuleIdProbablyDoesntExist"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 112,
            "text": "{\"message\": \"The resource could not be found.<br /><br />\\n\\n\\n\", \"code\": \"404 Not Found\", \"title\": \"Not Found\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.4318655"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 268,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
