{
  "log": {
    "_recordingName": "Service Definition/Get a single service definition returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "9cb52e5b6f30175549268772ff38412d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"dd-service\":\"service-Test-Get_a_single_service_definition_returns_OK_response-1665405239\",\"dd-team\":\"my-team\",\"docs\":[{\"name\":\"Architecture\",\"provider\":\"google drive\",\"url\":\"https://gdrive/mygivedoc\"}],\"extensions\":{\"frogextension\":\"extensionfrogvalue\"},\"integrations\":{\"opsgenie\":{\"region\":\"US\",\"service-id\":\"123e4567-e89b-12d3-a456-426614174000\"},\"pagerduty\":\"https://my-org.pagerduty.com/service-directory/PMyService\"},\"links\":[{\"name\":\"Runbook\",\"type\":\"runbook\",\"url\":\"https://my-runbook\"}],\"repos\":[{\"name\":\"Source Code\",\"provider\":\"GitHub\",\"url\":\"https://github.com/DataDog/given\"}],\"schema-version\":\"v2\",\"tags\":[\"this:tag\",\"service:tag\"],\"team\":\"super-team\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/services/definitions"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 865,
            "text": "{\"data\":[{\"attributes\":{\"meta\":{\"ingested-schema-version\":\"v2\",\"ingestion-source\":\"api\",\"last-modified-time\":\"2022-10-10T12:33:59.412229035Z\",\"github-html-url\":\"\",\"warnings\":[]},\"schema\":{\"links\":[{\"url\":\"https://my-runbook\",\"type\":\"runbook\",\"name\":\"Runbook\"}],\"contacts\":[],\"docs\":[{\"url\":\"https://gdrive/mygivedoc\",\"name\":\"Architecture\",\"provider\":\"google drive\"}],\"repos\":[{\"url\":\"https://github.com/DataDog/given\",\"name\":\"Source Code\",\"provider\":\"GitHub\"}],\"tags\":[\"service:tag\",\"this:tag\"],\"dd-team\":\"my-team\",\"integrations\":{\"opsgenie\":{\"region\":\"US\",\"service-id\":\"123e4567-e89b-12d3-a456-426614174000\"},\"pagerduty\":\"https://my-org.pagerduty.com/service-directory/PMyService\"},\"schema-version\":\"v2\",\"team\":\"super-team\",\"extensions\":{},\"dd-service\":\"service-test-get_a_single_service_definition_returns_ok_response-1665405239\"}},\"type\":\"service-definition\"}]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 454
      },
      {
        "_id": "dd0037a549a5f7e0fba31bcc22f61d64",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/services/definitions/service-Test-Get_a_single_service_definition_returns_OK_response-1665405239"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 892,
            "text": "{\"data\":{\"attributes\":{\"meta\":{\"ingested-schema-version\":\"v2\",\"ingestion-source\":\"api\",\"last-modified-time\":\"2022-10-10T12:24:16Z\",\"github-html-url\":\"\",\"warnings\":[]},\"schema\":{\"links\":[{\"url\":\"https://my-runbook\",\"type\":\"runbook\",\"name\":\"Runbook\"}],\"contacts\":[],\"docs\":[{\"url\":\"https://gdrive/mygivedoc\",\"name\":\"Architecture\",\"provider\":\"google drive\"}],\"repos\":[{\"url\":\"https://github.com/DataDog/given\",\"name\":\"Source Code\",\"provider\":\"GitHub\"}],\"tags\":[\"service:tag\",\"this:tag\"],\"dd-team\":\"my-team\",\"integrations\":{\"opsgenie\":{\"region\":\"US\",\"service-id\":\"123e4567-e89b-12d3-a456-426614174000\"},\"pagerduty\":\"https://my-org.pagerduty.com/service-directory/PMyService\"},\"schema-version\":\"v2\",\"team\":\"super-team\",\"extensions\":{},\"dd-service\":\"service-test-get_a_single_service_definition_returns_ok_response-1665405239\"}},\"type\":\"service-definition\",\"id\":\"d6822c235d26b96b47ded1a3eecba6c1\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "Not Found"
        },
        "time": 627
      },
      {
        "_id": "1705ab2ee3a71915944d55521a0976f4",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/services/definitions/service-test-get_a_single_service_definition_returns_ok_response-1665405239"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 46,
            "text": "{\"errors\":[\"Not Found\"],\"error_details\":[{}]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 425
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
