{
  "log": {
    "_recordingName": "Service Definition/Get a single service definition returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "a15e7aa77c3493f4847cde6b73cc14d9",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "schema_version",
              "value": "v2.1"
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/services/definitions/service-definition-test?schema_version=v2.1"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1017,
            "text": "{\"data\":{\"type\":\"service-definition\",\"id\":\"77ae46b484fcfd92dc568170b1c534fe\",\"attributes\":{\"meta\":{\"last-modified-time\":\"2023-04-18T16:19:17Z\",\"github-html-url\":\"\",\"ingestion-source\":\"api\",\"origin\":\"unknown\",\"origin-detail\":\"\",\"warnings\":[],\"ingested-schema-version\":\"v2\"},\"schema\":{\"schema-version\":\"v2.1\",\"dd-service\":\"service-definition-test\",\"team\":\"my-team\",\"contacts\":[{\"name\":\"Team Email\",\"type\":\"email\",\"contact\":\"contact@datadoghq.com\"}],\"links\":[{\"name\":\"Runbook\",\"type\":\"runbook\",\"url\":\"https://my-runbook\"},{\"name\":\"Source Code\",\"type\":\"repo\",\"provider\":\"GitHub\",\"url\":\"https://github.com/DataDog/schema\"},{\"name\":\"Architecture\",\"type\":\"doc\",\"provider\":\"google drive\",\"url\":\"https://gdrive/mydoc\"}],\"tags\":[\"service:tag\",\"my:tag\"],\"integrations\":{\"pagerduty\":{\"service-url\":\"https://my-org.pagerduty.com/service-directory/PMyService\"},\"opsgenie\":{\"service-url\":\"https://my-org.opsgenie.com/service/123e4567-e89b-12d3-a456-426614174000\",\"region\":\"US\"}},\"extensions\":{\"myorgextension\":\"extensionvalue\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 248
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
