{
  "log": {
    "_recordingName": "Teams/Update permission setting for team returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "e2945fc23f3f7ecd64f469a1d9e6e067",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"test-handle-f17bf3394db1955e\",\"name\":\"test-name-f17bf3394db1955e\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 619,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"3474a102-405b-11ee-8a0f-da7ad0900002\",\"attributes\":{\"name\":\"test-name-f17bf3394db1955e\",\"handle\":\"test-handle-f17bf3394db1955e\",\"summary\":null,\"description\":null,\"avatar\":null,\"banner\":null,\"visible_modules\":[],\"hidden_modules\":[],\"created_at\":\"2023-08-21T19:44:56.131892+00:00\",\"modified_at\":\"2023-08-21T19:44:56.131898+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/3474a102-405b-11ee-8a0f-da7ad0900002/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/3474a102-405b-11ee-8a0f-da7ad0900002/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 179
      },
      {
        "_id": "62ef4164d4960f76b0dc4d85d88a95b4",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"value\":\"admins\"},\"type\":\"team_permission_settings\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/3474a102-405b-11ee-8a0f-da7ad0900002/permission-settings/manage_membership"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 265,
            "text": "{\"data\":{\"type\":\"team_permission_settings\",\"attributes\":{\"action\":\"manage_membership\",\"value\":\"admins\",\"options\":[\"admins\",\"members\",\"organization\",\"user_access_manage\",\"teams_manage\"]},\"id\":\"TeamPermission-3474a102-405b-11ee-8a0f-da7ad0900002-manage_membership\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 134
      },
      {
        "_id": "ae1fd7331be4f35b0de0ce8901ffaf39",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/3474a102-405b-11ee-8a0f-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 165
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
