{
  "log": {
    "_recordingName": "Teams/Update permission setting for team returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "dffeb8639ae46bdb3ad26efe5b3f1594",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"handle-365d9943be4cbd80\",\"name\":\"name-365d9943be4cbd80\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 540,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"ae81e17c-20d9-11ee-a254-da7ad0900002\",\"attributes\":{\"name\":\"name-365d9943be4cbd80\",\"handle\":\"handle-365d9943be4cbd80\",\"summary\":null,\"description\":null,\"created_at\":\"2023-07-12T17:29:40.278830+00:00\",\"modified_at\":\"2023-07-12T17:29:40.278836+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/ae81e17c-20d9-11ee-a254-da7ad0900002/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/ae81e17c-20d9-11ee-a254-da7ad0900002/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 150
      },
      {
        "_id": "65d9aa165eea9ce934ee6df304cc4cbe",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"value\":\"admins\"},\"type\":\"team_permission_settings\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/ae81e17c-20d9-11ee-a254-da7ad0900002/permission-settings/manage_membership"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 265,
            "text": "{\"data\":{\"type\":\"team_permission_settings\",\"attributes\":{\"value\":\"admins\",\"action\":\"manage_membership\",\"options\":[\"admins\",\"members\",\"organization\",\"user_access_manage\",\"teams_manage\"]},\"id\":\"TeamPermission-ae81e17c-20d9-11ee-a254-da7ad0900002-manage_membership\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 132
      },
      {
        "_id": "235096906879fa4e388bceee99a264d7",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/ae81e17c-20d9-11ee-a254-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 141
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
