{
  "log": {
    "_recordingName": "Teams/Update permission setting for team returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "859b7ba6ba95a079f36f4a46338f795f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"1679942007\",\"name\":\"1679942007\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 526,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"ddf389ac-cccd-11ed-ae16-da7ad0900002\",\"attributes\":{\"name\":\"1679942007\",\"handle\":\"1679942007\",\"summary\":null,\"description\":null,\"color\":9,\"created_at\":\"2023-03-27T18:33:28.242940+00:00\",\"modified_at\":\"2023-03-27T18:33:28.242944+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/ddf389ac-cccd-11ed-ae16-da7ad0900002/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/ddf389ac-cccd-11ed-ae16-da7ad0900002/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 529
      },
      {
        "_id": "a974ef99e2cfbfc79fbbea576de0de37",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"value\":\"admins\"},\"type\":\"team_permission_settings\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/ddf389ac-cccd-11ed-ae16-da7ad0900002/permission-settings/manage_membership"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 265,
            "text": "{\"data\":{\"type\":\"team_permission_settings\",\"id\":\"TeamPermission-ddf389ac-cccd-11ed-ae16-da7ad0900002-manage_membership\",\"attributes\":{\"value\":\"admins\",\"action\":\"manage_membership\",\"options\":[\"admins\",\"members\",\"organization\",\"user_access_manage\",\"teams_manage\"]}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 295
      },
      {
        "_id": "21225708e5cb2c38c51fad214b9fe30c",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/ddf389ac-cccd-11ed-ae16-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 393
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
