{
  "log": {
    "_recordingName": "Teams/Update permission setting for team returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "bf7b1408a64b333b1c50bbb852b197f8",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"handle-b71373014d00f4cf\",\"name\":\"name-b71373014d00f4cf\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 550,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"5b770c20-ef4f-11ed-a442-da7ad0900002\",\"attributes\":{\"name\":\"name-b71373014d00f4cf\",\"handle\":\"handle-b71373014d00f4cf\",\"summary\":null,\"description\":null,\"color\":6,\"created_at\":\"2023-05-10T16:26:03.434008+00:00\",\"modified_at\":\"2023-05-10T16:26:03.434012+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/5b770c20-ef4f-11ed-a442-da7ad0900002/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/5b770c20-ef4f-11ed-a442-da7ad0900002/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 219
      },
      {
        "_id": "6995095f4df0c8780c8eddb52073c5c3",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"value\":\"admins\"},\"type\":\"team_permission_settings\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/5b770c20-ef4f-11ed-a442-da7ad0900002/permission-settings/manage_membership"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 265,
            "text": "{\"data\":{\"type\":\"team_permission_settings\",\"attributes\":{\"action\":\"manage_membership\",\"options\":[\"admins\",\"members\",\"organization\",\"user_access_manage\",\"teams_manage\"],\"value\":\"admins\"},\"id\":\"TeamPermission-5b770c20-ef4f-11ed-a442-da7ad0900002-manage_membership\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 296
      },
      {
        "_id": "1ace5bf3dfe798558d7ada6b0fd57cda",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/5b770c20-ef4f-11ed-a442-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 155
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
