{
  "log": {
    "_recordingName": "Rum Retention Filters/Create a RUM retention filter returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "f93115b0cf2b5c7f342fcf5d992d3ea8",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"enabled\":true,\"event_type\":\"session\",\"name\":\"Test creating retention filter\",\"query\":\"\",\"sample_rate\":25},\"type\":\"invalid_type\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/rum/applications/a33671aa-24fd-4dcd-ba4b-5bbdbafe7690/retention_filters"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 126,
            "text": "{\"errors\":[{\"status\":\"400\",\"title\":\"Bad Request\",\"detail\":\"got type \\\"invalid_type\\\" expected one of \\\"retention_filters\\\"\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 88
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
