{
  "log": {
    "_recordingName": "Security Monitoring/Delete a signal-based rule returns \"Rule successfully deleted.\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "392ab5b0c938d962af5dc3a1aa161067",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"enabled\":true,\"name\":\"Test-Delete_a_signal_based_rule_returns_Rule_successfully_deleted_response-1737628560\",\"selectors\":{\"query\":\"env:test\",\"rule_types\":[\"signal_correlation\"],\"severities\":[\"critical\"],\"trigger_source\":\"security_signals\"},\"targets\":[\"@email@email.com\"]},\"type\":\"notification_rules\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/security/signals/notification_rules"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 599,
            "text": "{\"data\":{\"id\":\"trc-uxv-vc0\",\"type\":\"notification_rules\",\"attributes\":{\"created_at\":1737628560083,\"created_by\":{\"name\":\"CI Account\",\"handle\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\"},\"enabled\":true,\"modified_at\":1737628560083,\"modified_by\":{\"name\":\"CI Account\",\"handle\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\"},\"name\":\"Test-Delete_a_signal_based_rule_returns_Rule_successfully_deleted_response-1737628560\",\"selectors\":{\"severities\":[\"critical\"],\"rule_types\":[\"signal_correlation\"],\"query\":\"env:test\",\"trigger_source\":\"security_signals\"},\"targets\":[\"@email@email.com\"],\"time_aggregation\":0,\"version\":1}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 99
      },
      {
        "_id": "864a9907e4b996dc14e75d15d7b39172",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/security/signals/notification_rules/trc-uxv-vc0"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 83
      },
      {
        "_id": "864a9907e4b996dc14e75d15d7b39172",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/security/signals/notification_rules/trc-uxv-vc0"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 75,
            "text": "{\"errors\":[\"not_found(Notification rule with id 'trc-uxv-vc0' not found)\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 83
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
