{
  "log": {
    "_recordingName": "Dashboard Lists/Delete a dashboard list returns \"Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "0e0a08f0f8692a06f2a4f7419015af43",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/lists/manual/0"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 57,
            "text": "{\"errors\": [\"Manual Dashboard List with id 0 not found\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 84
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
