{
  "log": {
    "_recordingName": "CI Visibility Pipelines/Search pipelines events returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "9b14e20ba79ad76358f4853d1e234ea0",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"filter\":{\"from\":\"now-15m\",\"query\":\"@ci.provider.name:github AND @ci.status:error\",\"to\":\"now\"},\"options\":{\"timezone\":\"GMT\"},\"page\":{\"limit\":5},\"sort\":\"timestamp\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/ci/pipelines/events/search"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 166,
            "text": "{\"data\":[],\"meta\":{\"elapsed\":20,\"request_id\":\"pddv1ChZSTVpjd2Q0MlI2LVVBNjVTYlhFUThBIi0KHQuJgBOuQyr2rULJokHKzwf2zKDYmaOmEm5TrJuvEgyvH4LB-7WWiTQznlw\",\"status\":\"done\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 131
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
