{
  "log": {
    "_recordingName": "Actions Datastores/Update datastore returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "f7e2be7c9634a82bc51d7c0402fda314",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{},\"id\":\"invalid-uuid\",\"type\":\"datastores\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/actions-datastores/invalid-uuid"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 189,
            "text": "{\"errors\":[{\"status\":\"400\",\"id\":\"bea9975d-a9cd-43dc-bb3c-df0f8fc09ea4\",\"title\":\"invalid path parameter\",\"detail\":\"invalid datastoreId format in path\",\"source\":{\"parameter\":\"datastoreId\"}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 97
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
