{
  "log": {
    "_recordingName": "Dashboards/Send shared dashboard invitation email returns OK",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "9f4cbefd155b708878c8341a0256b19c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"layout_type\":\"ordered\",\"title\":\"Test-Send_shared_dashboard_invitation_email_returns_OK-1773942537 with Profile Metrics Query\",\"widgets\":[{\"definition\":{\"requests\":[{\"profile_metrics_query\":{\"compute\":{\"aggregation\":\"sum\",\"facet\":\"@prof_core_cpu_cores\"},\"group_by\":[{\"facet\":\"service\",\"limit\":10,\"sort\":{\"aggregation\":\"sum\",\"facet\":\"@prof_core_cpu_cores\",\"order\":\"desc\"}}],\"search\":{\"query\":\"runtime:jvm\"}}}],\"type\":\"timeseries\"}}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 851,
            "text": "{\"id\":\"i2s-n9z-69c\",\"title\":\"Test-Send_shared_dashboard_invitation_email_returns_OK-1773942537 with Profile Metrics Query\",\"description\":null,\"author_handle\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\",\"author_name\":\"CI Account\",\"layout_type\":\"ordered\",\"url\":\"/dashboard/i2s-n9z-69c/test-sendshareddashboardinvitationemailreturnsok-1773942537-with-profile-metrics\",\"template_variables\":null,\"widgets\":[{\"definition\":{\"requests\":[{\"profile_metrics_query\":{\"compute\":{\"aggregation\":\"sum\",\"facet\":\"@prof_core_cpu_cores\"},\"group_by\":[{\"facet\":\"service\",\"limit\":10,\"sort\":{\"aggregation\":\"sum\",\"facet\":\"@prof_core_cpu_cores\",\"order\":\"desc\"}}],\"search\":{\"query\":\"runtime:jvm\"}}}],\"type\":\"timeseries\"},\"id\":3342606346172255}],\"notify_list\":null,\"created_at\":\"2026-03-19T17:48:57.600536+00:00\",\"modified_at\":\"2026-03-19T17:48:57.600536+00:00\",\"restricted_roles\":[]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 202
      },
      {
        "_id": "f56ae7e4aa627841f0dd4132244571ca",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"dashboard_id\":\"i2s-n9z-69c\",\"dashboard_type\":\"custom_timeboard\",\"global_time\":{\"live_span\":\"1h\"},\"share_list\":[\"testsendshareddashboardinvitationemailreturnsok1773942537@datadoghq.com\"],\"share_type\":\"invite\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/public"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1176,
            "text": "{\"author\":{\"handle\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\",\"name\":\"CI Account\"},\"dashboard_id\":\"i2s-n9z-69c\",\"dashboard_type\":\"custom_timeboard\",\"status\":\"active\",\"title\":\"Test-Send_shared_dashboard_invitation_email_returns_OK-1773942537 with Profile Metrics Query\",\"viewing_preferences\":{},\"expiration\":null,\"last_accessed\":null,\"global_time_selectable_enabled\":false,\"global_time\":{\"live_span\":\"1h\"},\"selectable_template_vars\":null,\"token\":\"fasjyydbcgwwc2uc-3dde636009128a6f937e880f67a0ad04\",\"public_url\":\"https://p.datadoghq.com/sb/fasjyydbcgwwc2uc-3dde636009128a6f937e880f67a0ad04\",\"created\":\"2026-03-19T17:48:58.113567+00:00\",\"share_type\":\"invite\",\"share_list\":[\"team-intg-tools-libs-spam@datadoghq.com\",\"testsendshareddashboardinvitationemailreturnsok1773942537@datadoghq.com\"],\"session_duration_in_days\":30,\"invitees\":[{\"email\":\"team-intg-tools-libs-spam@datadoghq.com\",\"access_expiration\":null,\"last_accessed\":null,\"created_at\":\"2026-03-19T17:48:58.132469+00:00\"},{\"email\":\"testsendshareddashboardinvitationemailreturnsok1773942537@datadoghq.com\",\"access_expiration\":null,\"last_accessed\":null,\"created_at\":\"2026-03-19T17:48:58.132469+00:00\"}],\"embeddable_domains\":[]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 540
      },
      {
        "_id": "6afa28ce08b10ed986414300e7ae6d8f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"testsendshareddashboardinvitationemailreturnsok1773942537@datadoghq.com\"},\"type\":\"public_dashboard_invitation\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/public/fasjyydbcgwwc2uc-3dde636009128a6f937e880f67a0ad04/invitation"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 356,
            "text": "{\"data\":{\"type\":\"public_dashboard_invitation\",\"attributes\":{\"email\":\"testsendshareddashboardinvitationemailreturnsok1773942537@datadoghq.com\",\"share_token\":\"fasjyydbcgwwc2uc-3dde636009128a6f937e880f67a0ad04\",\"created_at\":\"2026-03-19T17:48:58.452715+00:00\",\"invitation_expiry\":\"2026-03-19T18:48:58.463251+00:00\",\"has_session\":false,\"session_expiry\":null}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 388
      },
      {
        "_id": "17666434c9cca12a2f004e0f746ed065",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
[...]
