{
  "log": {
    "_recordingName": "Dashboard Lists/Get a dashboard list returns \"Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "546ff8a7ad223444286369249e14e117",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/lists/manual/0"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 57,
            "text": "{\"errors\": [\"Manual Dashboard List with id 0 not found\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 78,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
