{
  "log": {
    "_recordingName": "Dashboard Lists/Add custom timeboard dashboard to an existing dashboard list returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "79924e2acd189060144ab688d8cd2351",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"Test-Add_custom_timeboard_dashboard_to_an_existing_dashboard_list_returns_OK_response-1647890204\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/lists/manual"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 352,
            "text": "{\"is_favorite\":false,\"name\":\"Test-Add_custom_timeboard_dashboard_to_an_existing_dashboard_list_returns_OK_response-1647890204\",\"dashboard_count\":0,\"author\":{\"handle\":\"frog@datadoghq.com\",\"name\":null},\"created\":\"2022-03-21T19:16:44.861799+00:00\",\"type\":\"manual_dashboard_list\",\"dashboards\":null,\"modified\":\"2022-03-21T19:16:44.861808+00:00\",\"id\":284062}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 265
      },
      {
        "_id": "d6ebda6f21ea0a51fa96e7df3d932e29",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"layout_type\":\"ordered\",\"title\":\"Test-Add_custom_timeboard_dashboard_to_an_existing_dashboard_list_returns_OK_response-1647890204 with Profile Metrics Query\",\"widgets\":[{\"definition\":{\"requests\":[{\"profile_metrics_query\":{\"compute\":{\"aggregation\":\"sum\",\"facet\":\"@prof_core_cpu_cores\"},\"group_by\":[{\"facet\":\"service\",\"limit\":10,\"sort\":{\"aggregation\":\"sum\",\"facet\":\"@prof_core_cpu_cores\",\"order\":\"desc\"}}],\"search\":{\"query\":\"runtime:jvm\"}}}],\"type\":\"timeseries\"}}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 877,
            "text": "{\"notify_list\":null,\"description\":null,\"restricted_roles\":[],\"author_name\":null,\"template_variables\":null,\"is_read_only\":false,\"id\":\"r9t-5r7-8gb\",\"title\":\"Test-Add_custom_timeboard_dashboard_to_an_existing_dashboard_list_returns_OK_response-1647890204 with Profile Metrics Query\",\"url\":\"/dashboard/r9t-5r7-8gb/test-addcustomtimeboarddashboardtoanexistingdashboardlistreturnsokresponse-16478\",\"created_at\":\"2022-03-21T19:16:45.143857+00:00\",\"modified_at\":\"2022-03-21T19:16:45.143857+00:00\",\"author_handle\":\"frog@datadoghq.com\",\"widgets\":[{\"definition\":{\"requests\":[{\"profile_metrics_query\":{\"search\":{\"query\":\"runtime:jvm\"},\"group_by\":[{\"facet\":\"service\",\"sort\":{\"facet\":\"@prof_core_cpu_cores\",\"aggregation\":\"sum\",\"order\":\"desc\"},\"limit\":10}],\"compute\":{\"facet\":\"@prof_core_cpu_cores\",\"aggregation\":\"sum\"}}}],\"type\":\"timeseries\"},\"id\":1606573387522135}],\"layout_type\":\"ordered\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 279
      },
      {
        "_id": "4da12be461d9bbf6c993a506500e417a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"dashboards\":[{\"id\":\"r9t-5r7-8gb\",\"type\":\"custom_timeboard\"}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/dashboard/lists/manual/284062/dashboards"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 77,
            "text": "{\"added_dashboards_to_list\":[{\"type\":\"custom_timeboard\",\"id\":\"r9t-5r7-8gb\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 280
      },
      {
        "_id": "4e76c7adfa35f8304f1219018fbc7bca",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/r9t-5r7-8gb"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 38,
            "text": "{\"deleted_dashboard_id\":\"r9t-5r7-8gb\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 326
      },
      {
        "_id": "8e90f8a9d928f0a7df63789a5e6fbba8",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/lists/manual/284062"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 36,
            "text": "{\"deleted_dashboard_list_id\":284062}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 253
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
