{
  "log": {
    "_recordingName": "GCP Integration/Update STS Service Account returns \"OK\" response with cloud run revision filters",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "2c875aa6d8b220953d2b892ece8be85c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"client_email\":\"a8e08a7fa29a1adb@example.com\",\"host_filters\":[]},\"type\":\"gcp_service_account\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integration/gcp/accounts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 333,
            "text": "{\"data\":{\"type\":\"gcp_service_account\",\"id\":\"3e6ad31b-2da5-4ad4-878a-4d290520173b\",\"attributes\":{\"account_tags\":[],\"resource_collection_enabled\":false,\"is_cspm_enabled\":false,\"automute\":false,\"host_filters\":[],\"is_security_command_center_enabled\":false,\"cloud_run_revision_filters\":[],\"client_email\":\"a8e08a7fa29a1adb@example.com\"}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 339
      },
      {
        "_id": "c442f49c76e23033c03ea5ff456fe64a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"client_email\":\"a8e08a7fa29a1adb@example.com\",\"clo[...]
