{
  "log": {
    "_recordingName": "GCP Integration/Update STS Service Account returns \"OK\" response with cloud run revision filters",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "1138e7ffb9db269c1c4edd94d9218420",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"client_email\":\"Test-28b4739ba68f588b@example.com\",\"host_filters\":[]},\"type\":\"gcp_service_account\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integration/gcp/accounts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 338,
            "text": "{\"data\":{\"type\":\"gcp_service_account\",\"attributes\":{\"resource_collection_enabled\":false,\"cloud_run_revision_filters\":[],\"account_tags\":[],\"is_cspm_enabled\":false,\"is_security_command_center_enabled\":false,\"automute\":false,\"host_filters\":[],\"client_email\":\"Test-28b4739ba68f588b@example.com\"},\"id\":\"73f227e1-939b-42e3-bb40-773a05509e52\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 484
      },
      {
        "_id": "92334f4115ca6a3d90d72f11c6c1ceb3",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"client_email\":\"Test-28b4739ba68f588b@example.com\",[...]
