{
  "log": {
    "_recordingName": "Rum Retention Filters/Get all RUM retention filters returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "336cc33ad2866b39ae78fdba8990c5ce",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/rum/applications/1d4b9c34-7ac4-423a-91cf-9902d926e9b3/retention_filters"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 664,
            "text": "{\"data\":[{\"id\":\"325631eb-94c9-49c0-93f9-ab7e4fd24529\",\"type\":\"retention_filters\",\"attributes\":{\"enabled\":true,\"event_type\":\"session\",\"name\":\"Default session with replay\",\"query\":\"@session.has_replay:true\",\"sample_rate\":100}},{\"id\":\"42d89430-5b80-426e-a44b-ba3b417ece25\",\"type\":\"retention_filters\",\"attributes\":{\"enabled\":true,\"event_type\":\"session\",\"name\":\"Session filter\",\"query\":\"\",\"sample_rate\":25}},{\"id\":\"bff0bc34-99e9-4c16-adce-f47e71948c23\",\"type\":\"retention_filters\",\"attributes\":{\"enabled\":true,\"event_type\":\"view\",\"name\":\"Custom filter\",\"query\":\"noquery\",\"sample_rate\":50}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 116
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
