{
  "log": {
    "_recordingName": "Agentless Scanning/Get AWS On Demand task by id returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "4fd9908306ab185c0a48d579a5f192c1",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/agentless_scanning/ondemand/aws/invalid-uuid"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 152,
            "text": "{\"errors\":[{\"title\":\"Generic Error\",\"detail\":\"missing or invalid url parameter 'taskId', expected uuid format '6d09294c-9ad9-42fd-a759-a0c1599b4843'\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 67
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
