{
  "log": {
    "_recordingName": "Cloud Cost Management/Delete Cloud Cost Management Azure config returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "3e192cd55d010ab47e28dba103ad6c24",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/cost/azure_uc_config/invalid"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 142,
            "text": "{\"errors\":[{\"status\":\"400\",\"title\":\"Invalid Parameter\",\"detail\":\"invalid parameter \\\"cloudAccountId\\\" in \\\"path\\\"; expected type \\\"int64\\\"\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 167
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
