{
  "log": {
    "_recordingName": "CSM Threats/Batch update CSM Threats Agent policies returns \"Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "b08eea7a8da91676190cc8f8724110c3",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"policies\":[{\"delete\":true,\"description\":\"My agent policy\",\"enabled\":true,\"hostTags\":[],\"id\":\"mdh-tah-lj9\",\"name\":\"my_agent_policy\",\"priority\":10}]},\"id\":\"batch_update_req\",\"type\":\"policies\"}}"
          },
          "queryString": [],
          "url": "https://api.datad0g.com/api/v2/remote_config/products/cws/policy"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 49,
            "text": "{\"errors\":[{\"title\":\"failed to update policy\"}]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 461
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
