{
  "log": {
    "_recordingName": "Powerpack/Create a new powerpack with missing group_widget returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "31c2a8a051990082dd7ddb3b69fc2c6f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"description\":\"Sample powerpack\",\"group_widget\":{},\"name\":\"Sample Powerpack\",\"tags\":[\"tag:sample\"],\"template_variables\":[{\"defaults\":[\"*\"],\"name\":\"sample\"}]},\"type\":\"powerpack\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/powerpacks"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 6547,
            "text": "{\"errors\":[\"Invalid group widget for powerpack. Error: 'type' is a required property\\n\\nFailed validating 'required' in schema:\\n    {'additionalProperties': False,\\n     'properties': {'background_color': {'type': 'string'},\\n                    'banner_img': {'type': 'string'},\\n                    'layout_type': {'enum': ['ordered']},\\n                    'reflow_type': {'enum': ['auto', 'fixed']},\\n                    'show_title': {'type': 'boolean'},\\n                    'title': {'type': [...]
