{
  "log": {
    "_recordingName": "Seats/Assign seats to users returns \"Unprocessable Entity\" response when product_code is empty",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "f9ce28381bb5ef9503bd3723968969b7",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Assign_seats_to_users_returns_Unprocessable_Entity_response_when_product_code_is_empty-1770835177@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 800,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"f9900642-4311-4d6a-836b-2f367a92c511\",\"attributes\":{\"name\":null,\"handle\":\"test-assign_seats_to_users_returns_unprocessable_entity_response_when_product_code_is_empty-1770835177@datadoghq.com\",\"created_at\":\"2026-02-11T18:39:38.645306+00:00\",\"modified_at\":\"2026-02-11T18:39:38.645306+00:00\",\"email\":\"test-assign_seats_to_users_returns_unprocessable_entity_response_when_product_code_is_empty-1770835177@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/b2c717bae3bae3a185ff567efda79a5a?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\",\"last_login_time\":null},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 508
      },
      {
        "_id": "649c9bdf9da71348c804955c089fe7e4",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"product_code\":\"\",\"user_uuids\":[\"f9900642-4311-4d6a-836b-2f367a92c511\"]},\"type\":\"seat-assignments\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/seats/users"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 74,
            "text": "{\"errors\":[{\"title\":\"Generic Error\",\"detail\":\"product_code is required\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 422,
          "statusText": "Unprocessable Entity"
        },
        "time": 233
      },
      {
        "_id": "b809402da492b9a996e80b2352823ad4",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users/f9900642-4311-4d6a-836b-2f367a92c511"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 405
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
