{
  "log": {
    "_recordingName": "Security Monitoring/Create a custom framework returns \"No Content\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "1c23f4de1c816b0bd2ff4d3d5198cf2c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"new-terraform-framework\",\"icon_url\":\"\",\"name\":\"ponse1744226684\",\"requirements\":[{\"controls\":[{\"name\":\"ponse1744226684\",\"rules_id\":[\"def-000-cea\"]}],\"name\":\"ponse1744226684\"}],\"version\":\"4\"},\"type\":\"custom_framework\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/cloud_security_management/custom_frameworks"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 390
      },
      {
        "_id": "c0df458c81b1bf0208cf913887126752",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/cloud_security_management/custom_frameworks/%7Bhandle%7D/%7Bversion%7D"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 61,
            "text": "{\"errors\":[{\"status\":\"500\",\"title\":\"Internal Server Error\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 500,
          "statusText": "Internal Server Error"
        },
        "time": 61
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
