{
  "log": {
    "_recordingName": "Dashboards/Create a new dashboard with check_status widget",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "9a7d13dcbe44633c2b4d39dd2c343b70",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"description\":\"\",\"is_read_only\":false,\"layout_type\":\"free\",\"notify_list\":[],\"template_variables\":[],\"title\":\"Test-Create_a_new_dashboard_with_check_status_widget-1640210581\",\"widgets\":[{\"definition\":{\"check\":\"datadog.agent.up\",\"grouping\":\"check\",\"tags\":[\"*\"],\"title_align\":\"left\",\"title_size\":\"16\",\"type\":\"check_status\"},\"layout\":{\"height\":8,\"width\":15,\"x\":0,\"y\":0}}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 673,
            "text": "{\"notify_list\":[],\"description\":\"\",\"restricted_roles\":[],\"author_name\":null,\"template_variables\":[],\"is_read_only\":false,\"id\":\"npg-g5b-7iz\",\"title\":\"Test-Create_a_new_dashboard_with_check_status_widget-1640210581\",\"url\":\"/dashboard/npg-g5b-7iz/test-createanewdashboardwithcheckstatuswidget-1640210581\",\"created_at\":\"2021-12-22T22:03:01.835329+00:00\",\"modified_at\":\"2021-12-22T22:03:01.835329+00:00\",\"author_handle\":\"frog@datadoghq.com\",\"widgets\":[{\"definition\":{\"title_size\":\"16\",\"tags\":[\"*\"],\"title_align\":\"left\",\"type\":\"check_status\",\"check\":\"datadog.agent.up\",\"grouping\":\"check\"},\"layout\":{\"y\":0,\"width\":15,\"x\":0,\"height\":8},\"id\":7745352999159719}],\"layout_type\":\"free\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 220
      },
      {
        "_id": "1ca31f435769cb4753c9fd191f940655",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/npg-g5b-7iz"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 38,
            "text": "{\"deleted_dashboard_id\":\"npg-g5b-7iz\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 266
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
