{
  "log": {
    "_recordingName": "Dashboards/Create a new dashboard with check_status widget",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "88992d4fcbdee72a0e2ae71c7269f98c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"description\":\"\",\"is_read_only\":false,\"layout_type\":\"free\",\"notify_list\":[],\"template_variables\":[],\"title\":\"Test-Create_a_new_dashboard_with_check_status_widget-1641430229\",\"widgets\":[{\"definition\":{\"check\":\"datadog.agent.up\",\"grouping\":\"check\",\"tags\":[\"*\"],\"title_align\":\"left\",\"title_size\":\"16\",\"type\":\"check_status\"},\"layout\":{\"height\":8,\"width\":15,\"x\":0,\"y\":0}}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 673,
            "text": "{\"notify_list\":[],\"description\":\"\",\"restricted_roles\":[],\"author_name\":null,\"template_variables\":[],\"is_read_only\":false,\"id\":\"baz-eax-3ka\",\"title\":\"Test-Create_a_new_dashboard_with_check_status_widget-1641430229\",\"url\":\"/dashboard/baz-eax-3ka/test-createanewdashboardwithcheckstatuswidget-1641430229\",\"created_at\":\"2022-01-06T00:50:29.799432+00:00\",\"modified_at\":\"2022-01-06T00:50:29.799432+00:00\",\"author_handle\":\"frog@datadoghq.com\",\"widgets\":[{\"definition\":{\"title_size\":\"16\",\"tags\":[\"*\"],\"title_align\":\"left\",\"type\":\"check_status\",\"check\":\"datadog.agent.up\",\"grouping\":\"check\"},\"layout\":{\"y\":0,\"width\":15,\"x\":0,\"height\":8},\"id\":3518672671182396}],\"layout_type\":\"free\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 226
      },
      {
        "_id": "487c1f824ed2ceb3454b92d68fa8c549",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/baz-eax-3ka"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 38,
            "text": "{\"deleted_dashboard_id\":\"baz-eax-3ka\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 243
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
