{
  "log": {
    "_recordingName": "Service Accounts/Create an app key for this service account returns \"Created\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "683d7ef6a01828e3d7a5eb3e3f7ca445",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Create_an_app_key_for_this_service_account_returns_Created_response-1641829890@datadoghq.com\",\"service_account\":true,\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/service_accounts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 674,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"5fcb6052-3eb4-42a1-8bd7-6aa675a095f5\",\"attributes\":{\"name\":null,\"handle\":\"5fcb6052-3eb4-42a1-8bd7-6aa675a095f5\",\"created_at\":\"2022-01-10T15:51:31.005540+00:00\",\"modified_at\":\"2022-01-10T15:51:31.037643+00:00\",\"email\":\"test-create_an_app_key_for_this_service_account_returns_created_response-1641829890@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/92bd7f1dc0fcaed5d4f3243367618d70?s=48&d=retro\",\"title\":\"user title\",\"verified\":true,\"service_account\":true,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Active\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 560
      },
      {
        "_id": "a017dcb5a32b6fcbf7302f72545f8c30",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Create_an_app_key_for_this_service_account_returns_Created_response-1641829890\"},\"type\":\"application_keys\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/service_accounts/5fcb6052-3eb4-42a1-8bd7-6aa675a095f5/application_keys"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 413,
            "text": "{\"data\":{\"type\":\"application_keys\",\"id\":\"2d3d834d-db1d-44cb-af79-1714a814e31d\",\"attributes\":{\"name\":\"Test-Create_an_app_key_for_this_service_account_returns_Created_response-1641829890\",\"created_at\":\"2022-01-10T15:51:31.563628+00:00\",\"last4\":\"xxxx\",\"key\":\"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\"scopes\":null},\"relationships\":{\"owned_by\":{\"data\":{\"type\":\"users\",\"id\":\"5fcb6052-3eb4-42a1-8bd7-6aa675a095f5\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 673
      },
      {
        "_id": "4081a5635eb13c4b5aff617182bc5be6",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/service_accounts/5fcb6052-3eb4-42a1-8bd7-6aa675a095f5/application_keys/2d3d834d-db1d-44cb-af79-1714a814e31d"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 691
      },
      {
        "_id": "49c3663325a3c0a1bd5b8e8e93f18dfc",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users/5fcb6052-3eb4-42a1-8bd7-6aa675a095f5"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 559
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
