{
  "log": {
    "_recordingName": "Service Accounts/Create an app key for this service account returns \"Created\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "6ea795a200dfc3465f2fdc3b38cffe24",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Create_an_app_key_for_this_service_account_returns_Created_response-1639758426@datadoghq.com\",\"title\":\"user title\",\"service_account\":true},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/service_accounts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 674,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"6f713ae3-124f-45dd-b8b8-aa8fd7b419f2\",\"attributes\":{\"name\":null,\"handle\":\"6f713ae3-124f-45dd-b8b8-aa8fd7b419f2\",\"created_at\":\"2021-12-17T16:27:07.128243+00:00\",\"modified_at\":\"2021-12-17T16:27:07.167255+00:00\",\"email\":\"test-create_an_app_key_for_this_service_account_returns_created_response-1639758426@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/b4f5e8dfd1847753ee5a0df03e06394c?s=48&d=retro\",\"title\":\"user title\",\"verified\":true,\"service_account\":true,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Active\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 597
      },
      {
        "_id": "976643257ef193e7783456b90e9193c1",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Create_an_app_key_for_this_service_account_returns_Created_response-1639758426\"},\"type\":\"application_keys\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/service_accounts/6f713ae3-124f-45dd-b8b8-aa8fd7b419f2/application_keys"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 399,
            "text": "{\"data\":{\"type\":\"application_keys\",\"id\":\"17883696-354c-4a43-ae2c-f531d9b0b3f1\",\"attributes\":{\"name\":\"Test-Create_an_app_key_for_this_service_account_returns_Created_response-1639758426\",\"created_at\":\"2021-12-17T16:27:07.674785+00:00\",\"last4\":\"beef\",\"key\":\"deaddcc81a44288fbbbfb15efe1203df034abeef\"},\"relationships\":{\"owned_by\":{\"data\":{\"type\":\"users\",\"id\":\"6f713ae3-124f-45dd-b8b8-aa8fd7b419f2\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 606
      },
      {
        "_id": "ce9fc626e7950ce8a398416b7a504341",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/service_accounts/6f713ae3-124f-45dd-b8b8-aa8fd7b419f2/application_keys/17883696-354c-4a43-ae2c-f531d9b0b3f1"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 719
      },
      {
        "_id": "aefd3cbd27ff50a2f784daaecdac4193",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users/6f713ae3-124f-45dd-b8b8-aa8fd7b419f2"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 566
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
