{
  "log": {
    "_recordingName": "Service Accounts/Create an app key for this service account returns \"Created\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "ad43a0f551ae25fc93299453098fad17",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Create_an_app_key_for_this_service_account_returns_Created_response-1652349198@datadoghq.com\",\"service_account\":true,\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/service_accounts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 674,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"07af9197-7ca2-4330-8ee5-fe49e050d294\",\"attributes\":{\"name\":null,\"handle\":\"07af9197-7ca2-4330-8ee5-fe49e050d294\",\"created_at\":\"2022-05-12T09:53:19.026982+00:00\",\"modified_at\":\"2022-05-12T09:53:19.070723+00:00\",\"email\":\"test-create_an_app_key_for_this_service_account_returns_created_response-1652349198@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/63af80332690093fe6a0e4dd06372659?s=48&d=retro\",\"title\":\"user title\",\"verified\":true,\"service_account\":true,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Active\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 559
      },
      {
        "_id": "dbd8f50941420e32daeadc25a7e5d51f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Create_an_app_key_for_this_service_account_returns_Created_response-1652349198\"},\"type\":\"application_keys\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/service_accounts/07af9197-7ca2-4330-8ee5-fe49e050d294/application_keys"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 446,
            "text": "{\"data\":{\"type\":\"application_keys\",\"id\":\"b1d42837-70dd-4ac2-9a6b-f222e68a21ec\",\"attributes\":{\"name\":\"Test-Create_an_app_key_for_this_service_account_returns_Created_response-1652349198\",\"created_at\":\"2022-05-12T09:53:19.628339+00:00\",\"last4\":\"xxxx\",\"key\":\"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\"scopes\":null},\"relationships\":{\"owned_by\":{\"data\":{\"type\":\"users\",\"id\":\"07af9197-7ca2-4330-8ee5-fe49e050d294\"}},\"leak_information\":{\"data\":null}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 596
      },
      {
        "_id": "93f060cd1ec2f644aa11984c18bf89d1",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/service_accounts/07af9197-7ca2-4330-8ee5-fe49e050d294/application_keys/b1d42837-70dd-4ac2-9a6b-f222e68a21ec"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 541
      },
      {
        "_id": "a49049343afcc51d3ee22c996704a9b2",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users/07af9197-7ca2-4330-8ee5-fe49e050d294"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 508
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
