{
  "log": {
    "_recordingName": "Restriction Policies/Get a restriction policy returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "5664478f347ec744dac6a96f78d4ed12",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/restriction_policy/malformed"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 69,
            "text": "{\"errors\":[\"Invalid resource: 'malformed' is not in a valid format\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 539
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
