{
  "log": {
    "_recordingName": "Teams/Update a team returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "5cc86f9b5341fa9ec28176dc2f7fa38e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"1679942004\",\"name\":\"1679942004\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 527,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"dbd52aae-cccd-11ed-988f-da7ad0900002\",\"attributes\":{\"name\":\"1679942004\",\"handle\":\"1679942004\",\"summary\":null,\"description\":null,\"color\":12,\"created_at\":\"2023-03-27T18:33:24.689063+00:00\",\"modified_at\":\"2023-03-27T18:33:24.689067+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/dbd52aae-cccd-11ed-988f-da7ad0900002/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/dbd52aae-cccd-11ed-988f-da7ad0900002/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 382
      },
      {
        "_id": "1a7ebdd872018885a6ce1e8e4f73f360",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"1679942004\",\"name\":\"1679942004 updated[...]
