{
  "log": {
    "_recordingName": "Teams/Update a team returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ac4acba8091a2e3d44d174c7ba40e95b",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"handle-5a20aee41547b866\",\"name\":\"name-5a20aee41547b866\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 550,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"5a6cbeba-ef4f-11ed-9628-da7ad0900002\",\"attributes\":{\"name\":\"name-5a20aee41547b866\",\"handle\":\"handle-5a20aee41547b866\",\"summary\":null,\"description\":null,\"color\":3,\"created_at\":\"2023-05-10T16:26:01.688992+00:00\",\"modified_at\":\"2023-05-10T16:26:01.688999+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/5a6cbeba-ef4f-11ed-9628-da7ad0900002/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/5a6cbeba-ef4f-11ed-9628-da7ad0900002/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 242
      },
      {
        "_id": "f0a0c17d5ee3f0e9d14327207224f011",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"handle-5a20aee41547b866\",\"name\":\"name-[...]
