{
  "log": {
    "_recordingName": "Teams/Update a team returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "341cb992f3713c23f0959e81f5690fd4",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"handle-35daf948e7104345\",\"name\":\"name-35daf948e7104345\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 540,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"ad5a151c-20d9-11ee-bfa0-da7ad0900002\",\"attributes\":{\"name\":\"name-35daf948e7104345\",\"handle\":\"handle-35daf948e7104345\",\"summary\":null,\"description\":null,\"created_at\":\"2023-07-12T17:29:38.339300+00:00\",\"modified_at\":\"2023-07-12T17:29:38.339306+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/ad5a151c-20d9-11ee-bfa0-da7ad0900002/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/ad5a151c-20d9-11ee-bfa0-da7ad0900002/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 1316
      },
      {
        "_id": "351d12e3d1f7144b8c316d500c46d1f5",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"handle-35daf948e7104345\",\"name\":\"name[...]
