{
  "log": {
    "_recordingName": "Teams/Update a team returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "96127d411dc0a108381beaf3abd657b6",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"handle-368d558fc674f4d3\",\"name\":\"name-368d558fc674f4d3\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 609,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"94e8c5a6-3e15-11ee-b7c9-da7ad0900002\",\"attributes\":{\"name\":\"name-368d558fc674f4d3\",\"handle\":\"handle-368d558fc674f4d3\",\"summary\":null,\"description\":null,\"avatar\":null,\"banner\":null,\"visible_modules\":[],\"hidden_modules\":[],\"created_at\":\"2023-08-18T22:21:30.855820+00:00\",\"modified_at\":\"2023-08-18T22:21:30.855826+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/94e8c5a6-3e15-11ee-b7c9-da7ad0900002/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/94e8c5a6-3e15-11ee-b7c9-da7ad0900002/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 128
      },
      {
        "_id": "48384ce1f8c3808c520d19b62c364e9d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"avatar\":\"\ud83e\udd51\",\"banner\":7,\"handle\":\"h[...]
