{
  "log": {
    "_recordingName": "Security Monitoring/Create a detection rule returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "d4eed9faa240134545b6b3a49670f60a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"cases\":[{\"condition\":\"a > 0\",\"name\":\"\",\"notifications\":[],\"status\":\"info\"}],\"filters\":[],\"isEnabled\":true,\"message\":\"Test rule\",\"name\":\"Test-Create_a_detection_rule_returns_OK_response-1664284008\",\"options\":{\"evaluationWindow\":900,\"keepAlive\":3600,\"maxSignalDuration\":86400},\"queries\":[{\"aggregation\":\"count\",\"distinctFields\":[],\"groupByFields\":[],\"metric\":\"\",\"query\":\"@test:true\"}],\"tags\":[],\"type\":\"log_detection\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/security_monitoring/rules"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 592,
            "text": "{\"creationAuthorId\":1445416,\"tags\":[],\"isEnabled\":true,\"hasExtendedTitle\":false,\"message\":\"Test rule\",\"options\":{\"detectionMethod\":\"threshold\",\"evaluationWindow\":900,\"maxSignalDuration\":86400,\"keepAlive\":3600},\"version\":1,\"createdAt\":1664284009174,\"filters\":[],\"queries\":[{\"query\":\"@test:true\",\"groupByFields\":[],\"aggregation\":\"count\",\"name\":\"\",\"distinctFields\":[]}],\"isDeleted\":false,\"cases\":[{\"status\":\"info\",\"notifications\":[],\"name\":\"\",\"condition\":\"a > 0\"}],\"type\":\"log_detection\",\"id\":\"dam-cha-bya\",\"isDefault\":false,\"name\":\"Test-Create_a_detection_rule_returns_OK_response-1664284008\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 994
      },
      {
        "_id": "e20ed2aa241f7d4638f367cf16240ac3",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/security_monitoring/rules/dam-cha-bya"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 519
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
