{
  "log": {
    "_recordingName": "Security Monitoring/List scanned assets metadata returns \"Bad request: Invalid Pagination Token\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "62e254343c98aa74afed678d589a7636",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page",
              "value": {
                "number": "1",
                "token": "unknown"
              }
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/security/scanned-assets-metadata?page%5Btoken%5D=unknown&page%5Bnumber%5D=1"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 65,
            "text": "{\"errors\":[{\"status\":\"400\",\"title\":\"Unexpected internal error\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 2288
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
