{
  "log": {
    "_recordingName": "Metrics/Get a list of Metrics with a tag filter returns \"Success\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "58cad22be78c362f8c820fd9232233aa",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "filter",
              "value": {
                "tags": "TestGetalistofMetricswithatagfilterreturnsSuccessresponse1659683454"
              }
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/metrics?filter%5Btags%5D=TestGetalistofMetricswithatagfilterreturnsSuccessresponse1659683454"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 12,
            "text": "{\"data\":[]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 609
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
