{
  "log": {
    "_recordingName": "Cloudflare Integration/Add Cloudflare account returns \"CREATED\" response with optional filters",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "c0ca1dfb99176ddd010d615311c0623b",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"api_key\":\"fakekey\",\"email\":\"new@email\",\"name\":\"testaddcloudflareaccountreturnscreatedresponsewithoptionalfilters1704309457\",\"resources\":[\"lb\",\"dns\"],\"zones\":[\"zone-id-1\",\"zone-id-2\"]},\"type\":\"cloudflare-accounts\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integrations/cloudflare/accounts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 237,
            "text": "{\"errors\":[\"Invalid account. Your Cloudflare configuration is invalid. Impossible to get zones for the account testaddcloudflareaccountreturnscreatedresponsewithoptionalfilters1704309457: API key or email is not in the correct format.\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 296
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
