{
  "log": {
    "_recordingName": "Service Definition/Create or update service definition returns \"CREATED\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "2eab0410570d0cc16e146291eec63e54",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"contacts\":[{\"contact\":\"contact@datadoghq.com\",\"name\":\"Team Email\",\"type\":\"email\"}],\"dd-service\":\"service-Test-Create_or_update_service_definition_returns_CREATED_response-1665504675\",\"dd-team\":\"my-team\",\"docs\":[{\"name\":\"Architecture\",\"provider\":\"google drive\",\"url\":\"https://gdrive/mydoc\"}],\"extensions\":{\"myorgextension\":\"extensionvalue\"},\"integrations\":{\"opsgenie\":{\"region\":\"US\",\"service-id\":\"123e4567-e89b-12d3-a456-426614174000\"},\"pagerduty\":\"https://my-org.pagerduty.com/service-directory/PMyService\"},\"links\":[{\"name\":\"Runbook\",\"type\":\"runbook\",\"url\":\"https://my-runbook\"}],\"repos\":[{\"name\":\"Source Code\",\"provider\":\"GitHub\",\"url\":\"https://github.com/DataDog/schema\"}],\"schema-version\":\"v2\",\"tags\":[\"my:tag\",\"service:tag\"],\"team\":\"my-team\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/services/definitions"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 936,
            "text": "{\"data\":[{\"attributes\":{\"meta\":{\"ingested-schema-version\":\"v2\",\"ingestion-source\":\"api\",\"last-modified-time\":\"2022-10-11T16:11:16.302119241Z\",\"github-html-url\":\"\",\"warnings\":[]},\"schema\":{\"links\":[{\"url\":\"https://my-runbook\",\"type\":\"runbook\",\"name\":\"Runbook\"}],\"contacts\":[{\"contact\":\"contact@datadoghq.com\",\"type\":\"email\",\"name\":\"Team Email\"}],\"docs\":[{\"url\":\"https://gdrive/mydoc\",\"name\":\"Architecture\",\"provider\":\"google drive\"}],\"repos\":[{\"url\":\"https://github.com/DataDog/schema\",\"name\":\"Source Code\",\"provider\":\"GitHub\"}],\"tags\":[\"my:tag\",\"service:tag\"],\"dd-team\":\"my-team\",\"integrations\":{\"opsgenie\":{\"region\":\"US\",\"service-id\":\"123e4567-e89b-12d3-a456-426614174000\"},\"pagerduty\":\"https://my-org.pagerduty.com/service-directory/PMyService\"},\"schema-version\":\"v2\",\"team\":\"my-team\",\"extensions\":{},\"dd-service\":\"service-test-create_or_update_service_definition_returns_created_response-1665504675\"}},\"type\":\"service-definition\"}]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 453
      },
      {
        "_id": "023b1b51b1876a2649f7bf02f35c06b3",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/services/definitions/service-test-create_or_update_service_definition_returns_created_response-1665504675"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 46,
            "text": "{\"errors\":[\"Not Found\"],\"error_details\":[{}]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 785
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
