{
  "log": {
    "_recordingName": "LLM Observability/Create a new LLM Observability prompt version returns \"Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "266e03cb541af896d7f3729307c6eb4f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"env_ids\":[],\"labels\":[],\"template\":[{\"content\":\"Hello v2\",\"role\":\"user\"}]},\"type\":\"prompt-template-versions\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/llm-obs/v1/prompts/nonexistent-prompt/versions"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 75,
            "text": "{\"errors\":[{\"title\":\"Generic Error\",\"detail\":\"prompt template not found\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 357
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
