{
  "log": {
    "_recordingName": "RUM/Get a RUM application returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "725c7ccc35daacdab9983e15d26365aa",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"test-rum-4a6d822e36907848\",\"type\":\"ios\"},\"type\":\"rum_application_create\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/rum/applications"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 703,
            "text": "{\"data\":{\"type\":\"rum_application\",\"id\":\"60ddadf3-d37f-4d33-bdf1-f56b674ae8ed\",\"attributes\":{\"product_analytics_replay_sample_rate\":100,\"tags\":[],\"is_active\":false,\"org_id\":321813,\"updated_by_handle\":\"frog@datadoghq.com\",\"application_id\":\"60ddadf3-d37f-4d33-bdf1-f56b674ae8ed\",\"product_scales\":{\"rum_event_processing_scale\":{\"last_modified_at\":1755612200050,\"state\":\"ALL\"},\"product_analytics_retention_scale\":{\"last_modified_at\":1755612200050,\"state\":\"NONE\"}},\"name\":\"test-rum-4a6d822e36907848\",\"created_at\":1755612200050,\"type\":\"ios\",\"created_by_handle\":\"frog@datadoghq.com\",\"client_token\":\"pubc55567bba30695d2cd7bf49190b6ccf5\",\"updated_at\":1755612200050,\"hash\":\"pubc55567bba30695d2cd7bf49190b6ccf5\"}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 413
      },
      {
        "_id": "23abdbebd1109d7c79cd5afd1b996bbe",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/rum/applications/60ddadf3-d37f-4d33-bdf1-f56b674ae8ed"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 703,
            "text": "{\"data\":{\"type\":\"rum_application\",\"attributes\":{\"upda[...]
