{
  "log": {
    "_recordingName": "RUM/Get a RUM application returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "74945625c01aa598e53865a53ceb0685",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"test_name_create\",\"type\":\"browser\"},\"type\":\"rum_application_create\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/rum/applications"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 391,
            "text": "{\"data\":{\"attributes\":{\"updated_by_handle\":\"frog@datadoghq.com\",\"application_id\":\"aceb7b9f-ad0b-4dab-82a6-8928ccedd9b1\",\"name\":\"test_name_create\",\"created_by_handle\":\"frog@datadoghq.com\",\"created_at\":1659974733437,\"org_id\":321813,\"updated_at\":1659974733437,\"hash\":\"pubbf38b6c932881edbbbba21744948c454\",\"type\":\"browser\"},\"type\":\"rum_application\",\"id\":\"aceb7b9f-ad0b-4dab-82a6-8928ccedd9b1\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 251
      },
      {
        "_id": "6c8113d8a20086ee7aacc32b843d37ed",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/rum/applications/aceb7b9f-ad0b-4dab-82a6-8928ccedd9b1"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 391,
            "text": "{\"data\":{\"attributes\":{\"updated_by_handle\":\"frog@datado[...]
