{
  "log": {
    "_recordingName": "RUM/Get a RUM application returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "03b7cb9de2ad1f36f9fb692e5b986d4e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"test-rum-27e6a81538211560\",\"type\":\"ios\"},\"type\":\"rum_application_create\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/rum/applications"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 672,
            "text": "{\"data\":{\"type\":\"rum_application\",\"attributes\":{\"rum_disabled_at\":0,\"client_token\":\"pubabba2bf694ec513df0b434dd05fc8f4b\",\"created_at\":1733845244003,\"rum_enabled_at\":1733845244003,\"tags\":[],\"created_by_handle\":\"frog@datadoghq.com\",\"is_active\":false,\"type\":\"ios\",\"updated_by_handle\":\"frog@datadoghq.com\",\"product_analytics_enabled_at\":1733845244003,\"application_id\":\"77826c21-2a07-4b5a-a54d-8912e1802854\",\"name\":\"test-rum-27e6a81538211560\",\"updated_at\":1733845244003,\"product_analytics_disabled_at\":1733845244003,\"org_id\":321813,\"product_analytics_enabled\":false,\"hash\":\"pubabba2bf694ec513df0b434dd05fc8f4b\",\"rum_enabled\":true},\"id\":\"77826c21-2a07-4b5a-a54d-8912e1802854\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 495
      },
      {
        "_id": "d41cba328ac94ed8807a67cedbe1db7b",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/rum/applications/77826c21-2a07-4b5a-a54d-8912e1802854"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 672,
            "text": "{\"data\":{\"type\":\"rum_application\",\"attributes\":{\"prod[...]
