{
  "log": {
    "_recordingName": "RUM/Get a RUM application returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "74945625c01aa598e53865a53ceb0685",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"test_name_create\",\"type\":\"browser\"},\"type\":\"rum_application_create\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/rum/applications"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 462,
            "text": "{\"data\":{\"attributes\":{\"updated_by_handle\":\"frog@datadoghq.com\",\"application_id\":\"f29b9fed-bb0a-422a-8279-33036c2cec51\",\"name\":\"test_name_create\",\"created_by_handle\":\"frog@datadoghq.com\",\"created_at\":1670264380961,\"org_id\":321813,\"updated_at\":1670264380961,\"is_active\":false,\"hash\":\"pub937cab71d02024eb28c796162a479a56\",\"client_token\":\"pub937cab71d02024eb28c796162a479a56\",\"type\":\"browser\"},\"type\":\"rum_application\",\"id\":\"f29b9fed-bb0a-422a-8279-33036c2cec51\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1104
      },
      {
        "_id": "d3f4e77b1143c85205ad03ebceecb47b",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/rum/applications/f29b9fed-bb0a-422a-8279-33036c2cec51"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 462,
            "text": "{\"data\":{\"attributes\":{\"updated_by_handle\":\"frog@datad[...]
