{
  "log": {
    "_recordingName": "Dashboard Reports/Update Dashboard Report returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "36df8c21a951371380bb1655adcdd08a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"layout_type\":\"ordered\",\"title\":\"Test-Update_Dashboard_Report_returns_Bad_Request_response-1668631888 with Profile Metrics Query\",\"widgets\":[{\"definition\":{\"requests\":[{\"profile_metrics_query\":{\"compute\":{\"aggregation\":\"sum\",\"facet\":\"@prof_core_cpu_cores\"},\"group_by\":[{\"facet\":\"service\",\"limit\":10,\"sort\":{\"aggregation\":\"sum\",\"facet\":\"@prof_core_cpu_cores\",\"order\":\"desc\"}}],\"search\":{\"query\":\"runtime:jvm\"}}}],\"type\":\"timeseries\"}}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 850,
            "text": "{\"notify_list\":null,\"description\":null,\"restricted_roles\":[],\"author_name\":null,\"template_variables\":null,\"is_read_only\":false,\"id\":\"6xr-kta-shm\",\"title\":\"Test-Update_Dashboard_Report_returns_Bad_Request_response-1668631888 with Profile Metrics Query\",\"url\":\"/dashboard/6xr-kta-shm/test-updatedashboardreportreturnsbadrequestresponse-1668631888-with-profile-metr\",\"created_at\":\"2022-11-16T20:51:28.227138+00:00\",\"modified_at\":\"2022-11-16T20:51:28.227138+00:00\",\"author_handle\":\"frog@datadoghq.com\",\"widgets\":[{\"definition\":{\"requests\":[{\"profile_metrics_query\":{\"search\":{\"query\":\"runtime:jvm\"},\"group_by\":[{\"facet\":\"service\",\"sort\":{\"facet\":\"@prof_core_cpu_cores\",\"aggregation\":\"sum\",\"order\":\"desc\"},\"limit\":10}],\"compute\":{\"facet\":\"@prof_core_cpu_cores\",\"aggregation\":\"sum\"}}}],\"type\":\"timeseries\"},\"id\":6047937371518480}],\"layout_type\":\"ordered\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 164
      },
      {
        "_id": "472e5601a3c5a8d8d981e079ec3fd27f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"description\":\"This report summarizes the recent errors, latency, and uptime of our Web Application Backend.\",\"destinations\":{\"email\":{\"recipient_addresses\":[\"jane.doe@example.com\"]}},\"schedule\":{\"active\":true,\"frequency\":\"1d\",\"repeat_at\":\"13:30\",\"repeat_on_day_of_month\":null,\"repeat_on_day_of_week\":null,\"timezone\":\"America/New_York\"},\"timeframe\":\"1w\",\"title\":\"Summary of recent stability and performance for Web Application Backend\"},\"type\":\"dashboard_reports\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/dashboards/6xr-kta-shm/reports"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1489,
            "text": "{\"included\":[{\"attributes\":{\"name\":null,\"email\":\"frog@datadoghq.com\"},\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"},{\"attributes\":{\"dashboard_type\":\"custom_dashboard\",\"title\":\"Test-Update_Dashboard_Report_returns_Bad_Request_response-1668631888 with Profile Metrics Query\"},\"type\":\"dashboards\",\"id\":\"6xr-kta-shm\"}],\"data\":{\"relationships\":{\"dashboard\":{\"data\":{\"type\":\"dashboards\",\"id\":\"6xr-kta-shm\"}},\"author\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"},\"links\":{\"related\":\"/api/v2/users/3ad549bf-eba0-11e9-a77a-0705486660d0\"}}},\"attributes\":{\"description\":\"This report summarizes the recent errors, latency, and uptime of our Web Application Backend.\",\"schedule\":{\"repeat_on_day_of_week\":null,\"repeat_at\":\"13:30\",\"frequency\":\"1d\",\"timezone\":\"America/New_York\",\"active\":true,\"repeat_on_day_of_month\":null},\"created_at\":\"2022-11-16T20:51:28.420558+00:00\",\"destination\":{\"export_format\":{\"type\":\"html\"},\"export_type\":\"email\",\"email_addresses\":[\"jane.doe@example.com\"]},\"modified_at\":null,\"template_variables\":null,\"timeframe\":\"1w\",\"title\":\"Summary of recent stability and performance for Web Application Backend\",\"destinations\":{\"email\":{\"recipient_addresses\":[\"jane.doe@example.com\"]}}},\"type\":\"dashboard_reports\",\"id\":\"71351554-65f0-11ed-8caa-da7ad0900002\",\"links\":{\"self\":\"/api/v2/dashboards/6xr-kta-shm/reports/71351554-65f0-11ed-8caa-da7ad0900002\"}},\"links\":{\"self\":\"/api/v2/dashboards/6xr-kta-shm/reports/71351554-65f0-11ed-8caa-da7ad0900002\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 170
      },
      {
        "_id": "588878b8f7993d31b4fffcbfaaa7c9be",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"schedule\":{\"repeat_on_day_of_month\":\"1st\",\"repeat_on_day_of_week\":\"Monday\"}},\"id\":\"71351554-65f0-11ed-8caa-da7ad0900002\",\"type\":\"dashboard_reports\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/dashboards/6xr-kta-shm/reports/71351554-65f0-11ed-8caa-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 129,
            "text": "{\"errors\":[\"repeat_on_day_of_week and repeat_on_day_of_month are mutually exclusive. You must define _either_ field or neither\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 138
      },
      {
        "_id": "2428c107ec7e4e9c009ae7e767452f2c",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/dashboards/6xr-kta-shm/reports/71351554-65f0-11ed-8caa-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 125
      },
      {
        "_id": "80fdf7bfb76f16e6cab391d7629c2736",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/6xr-kta-shm"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 39,
            "text": "{\"deleted_dashboard_id\":\"6xr-kta-shm\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 142
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
