{
  "log": {
    "_recordingName": "Service Level Objective Corrections/Update an SLO correction returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "0292565565957d36853a529555ed6f4f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"Test-Update_an_SLO_correction_returns_OK_response-1652349022\",\"query\":{\"denominator\":\"sum:httpservice.hits{!code:3xx}.as_count()\",\"numerator\":\"sum:httpservice.hits{code:2xx}.as_count()\"},\"thresholds\":[{\"target\":95,\"timeframe\":\"7d\",\"warning\":98}],\"type\":\"metric\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/slo"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 575,
            "text": "{\"data\":[{\"description\":\"\",\"monitor_tags\":[],\"creator\":{\"handle\":\"frog@datadoghq.com\",\"name\":null,\"email\":\"frog@datadoghq.com\"},\"thresholds\":[{\"warning\":98.0,\"warning_display\":\"98.\",\"target\":95.0,\"target_display\":\"95.\",\"timeframe\":\"7d\"}],\"type_id\":1,\"query\":{\"denominator\":\"sum:httpservice.hits{!code:3xx}.as_count()\",\"numerator\":\"sum:httpservice.hits{code:2xx}.as_count()\"},\"id\":\"c20f6845962c5776b1440ed8d324d6fe\",\"name\":\"Test-Update_an_SLO_correction_returns_OK_response-1652349022\",\"created_at\":1652349022,\"tags\":[],\"modified_at\":1652349022,\"type\":\"metric\"}],\"error\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 447
      },
      {
        "_id": "9d6519f865de4906fb2d8758ab40860a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"category\":\"Other\",\"description\":\"Test Correction\",\"end\":1652352622,\"slo_id\":\"c20f6845962c5776b1440ed8d324d6fe\",\"start\":1652349022,\"timezone\":\"UTC\"},\"type\":\"correction\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/slo/correction"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 621,
            "text": "{\"data\":{\"type\":\"correction\",\"id\":\"f12e44e4-d1d8-11ec-9dc0-da7ad0902002\",\"attributes\":{\"slo_id\":\"c20f6845962c5776b1440ed8d324d6fe\",\"start\":1652349022,\"end\":1652352622,\"description\":\"Test Correction\",\"category\":\"Other\",\"timezone\":\"UTC\",\"created_at\":null,\"modified_at\":null,\"rrule\":null,\"duration\":null,\"creator\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"attributes\":{\"uuid\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"handle\":\"frog@datadoghq.com\",\"email\":\"frog@datadoghq.com\",\"name\":null,\"icon\":\"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro\"}}},\"modifier\":null}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 655
      },
      {
        "_id": "be6616aff5eaf62db23a821baf0c8e15",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
       [...]
