{
  "log": {
    "_recordingName": "On-Call/Delete on-call schedule returns \"No Content\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "51576e0f0ffffd0ca500da248c70cde4",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"layers\":[{\"effective_date\":\"2025-04-14T02:49:38.725Z\",\"end_date\":\"2025-05-04T02:49:38.725Z\",\"interval\":{\"days\":1},\"members\":[{\"user\":{\"id\":\"890f29d4-0b7a-11f0-aeb2-760fcae4f596\"}}],\"name\":\"Layer 1\",\"restrictions\":[{\"end_day\":\"friday\",\"end_time\":\"17:00:00\",\"start_day\":\"monday\",\"start_time\":\"09:00:00\"}],\"rotation_start\":\"2025-04-19T02:49:38.725Z\"}],\"name\":\"Test-Delete_on_call_schedule_returns_No_Content_response-1745462978\",\"tags\":[\"tag1\",\"tag2\"],\"time_zone\":\"America/New_York\"},\"relationships\":{\"teams\":{\"data\":[{\"id\":\"65aea9d0-941c-4607-bf8a-14fc0dac2820\",\"type\":\"teams\"}]}},\"type\":\"schedules\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/on-call/schedules"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 399,
            "text": "{\"data\":{\"id\":\"f35f8c7d-faeb-47b6-bd93-0f5f6690f480\",\"type\":\"schedules\",\"attributes\":{\"name\":\"Test-Delete_on_call_schedule_returns_No_Content_response-1745462978\",\"tags\":[\"tag1\",\"tag2\"],\"time_zone\":\"America/New_York\"},\"relationships\":{\"layers\":{\"data\":[{\"id\":\"08b5e153-5fe7-422c-93b1-4a0c03fffeb1\",\"type\":\"layers\"}]},\"teams\":{\"data\":[{\"id\":\"65aea9d0-941c-4607-bf8a-14fc0dac2820\",\"type\":\"teams\"}]}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 647
      },
      {
        "_id": "89c36c69e7d978627fc5b0e8a429c2c9",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/on-call/schedules/f35f8c7d-faeb-47b6-bd93-0f5f6690f480"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 639
      },
      {
        "_id": "89c36c69e7d978627fc5b0e8a429c2c9",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/on-call/schedules/f35f8c7d-faeb-47b6-bd93-0f5f6690f480"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 106,
            "text": "{\"errors\":[{\"title\":\"Generic Error\",\"detail\":\"schedule[f35f8c7d-faeb-47b6-bd93-0f5f6690f480] not found\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 625
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
