{
  "log": {
    "_recordingName": "On-Call/Delete on-call schedule returns \"No Content\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "7ed38979f5ec6218e86582703c5449d5",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"layers\":[{\"effective_date\":\"2025-02-03T05:00:00Z\",\"end_date\":\"2025-12-31T00:00:00Z\",\"interval\":{\"days\":1},\"members\":[{\"user\":{\"id\":\"890f29d4-0b7a-11f0-aeb2-760fcae4f596\"}}],\"name\":\"Layer 1\",\"restrictions\":[{\"end_day\":\"friday\",\"end_time\":\"17:00:00\",\"start_day\":\"monday\",\"start_time\":\"09:00:00\"}],\"rotation_start\":\"2025-02-01T00:00:00Z\"}],\"name\":\"Test-Delete_on_call_schedule_returns_No_Content_response-1743731059\",\"tags\":[\"tag1\",\"tag2\"],\"time_zone\":\"America/New_York\"},\"relationships\":{\"teams\":{\"data\":[{\"id\":\"65aea9d0-941c-4607-bf8a-14fc0dac2820\",\"type\":\"teams\"}]}},\"type\":\"schedules\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/on-call/schedules"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 1321,
            "text": "{\"data\":{\"id\":\"c3acdc13-4eb8-45a9-9fdf-02f308e3dd2e\",\"type\":\"schedules\",\"attributes\":{\"name\":\"Test-Delete_on_call_schedule_returns_No_Content_response-1743731059\",\"tags\":[\"tag1\",\"tag2\"],\"time_zone\":\"America/New_York\"},\"relationships\":{\"layers\":{\"data\":[{\"id\":\"602f5a4c-8b3b-4cfa-9602-b024dfb98350\",\"type\":\"layers\"}]},\"teams\":{\"data\":[{\"id\":\"65aea9d0-941c-4607-bf8a-14fc0dac2820\",\"type\":\"teams\"}]}}},\"included\":[{\"id\":\"602f5a4c-8b3b-4cfa-9602-b024dfb98350\",\"type\":\"layers\",\"attributes\":{\"effective_date\":\"2025-02-03T05:00:00Z\",\"end_date\":\"2025-12-31T00:00:00Z\",\"interval\":{\"days\":1},\"name\":\"Layer 1\",\"restrictions\":[{\"start_time\":\"09:00:00\",\"start_day\":\"monday\",\"end_time\":\"17:00:00\",\"end_day\":\"friday\"}],\"rotation_start\":\"2025-02-01T00:00:00Z\"},\"relationships\":{\"members\":{\"data\":[{\"id\":\"602f5a4c-8b3b-4cfa-9602-b024dfb98350-member-1\",\"type\":\"members\"}]}}},{\"id\":\"602f5a4c-8b3b-4cfa-9602-b024dfb98350-member-1\",\"type\":\"members\",\"relationships\":{\"user\":{\"data\":{\"id\":\"890f29d4-0b7a-11f0-aeb2-760fcae4f596\",\"type\":\"users\"}}}},{\"id\":\"890f29d4-0b7a-11f0-aeb2-760fcae4f596\",\"type\":\"users\",\"attributes\":{\"email\":\"team-bugle+sdk-ci-frog-org@datadoghq.com\",\"name\":\"\"}},{\"id\":\"65aea9d0-941c-4607-bf8a-14fc0dac2820\",\"type\":\"teams\",\"attributes\":{\"avatar\":\"\",\"description\":\"\",\"handle\":\"test-team-oncall\",\"name\":\"test-team-oncall\"}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 797
      },
      {
        "_id": "75140eed86789390e2c7a334fc6aed87",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/on-call/schedules/c3acdc13-4eb8-45a9-9fdf-02f308e3dd2e"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 659
      },
      {
        "_id": "75140eed86789390e2c7a334fc6aed87",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/on-call/schedules/c3acdc13-4eb8-45a9-9fdf-02f308e3dd2e"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 106,
            "text": "{\"errors\":[{\"title\":\"Generic Error\",\"detail\":\"schedule[c3acdc13-4eb8-45a9-9fdf-02f308e3dd2e] not found\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 811
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
