{
  "log": {
    "_recordingName": "Network Device Monitoring/Get the list of tags for a device returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "39a92be54468482e8374383acb02d1be",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/ndm/tags/devices/default_device"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 99,
            "text": "{\"data\":{\"id\":\"default_device\",\"type\":\"tags\",\"attributes\":{\"tags\":[\"tag:test\",\"tag:testbis\"]}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 330
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
