{
  "log": {
    "_recordingName": "Reference Tables/List reference table rows returns \"Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "56b1159ea2d113f73329f370f06d3741",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/reference-tables/tables/00000000-0000-0000-0000-000000000000/rows/list"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 76,
            "text": "{\"errors\":[{\"status\":\"404\",\"title\":\"Not Found\",\"detail\":\"table not found\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 212
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
