{
  "log": {
    "_recordingName": "Teams/Update a team link returns \"API error response.\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "848ef7334b2654bd50c12e58bf565eeb",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"handle-b008f313b7fb41a2\",\"name\":\"name-b008f313b7fb41a2\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 550,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"59784f1a-ef4f-11ed-ae21-da7ad0900002\",\"attributes\":{\"name\":\"name-b008f313b7fb41a2\",\"handle\":\"handle-b008f313b7fb41a2\",\"summary\":null,\"description\":null,\"color\":9,\"created_at\":\"2023-05-10T16:26:00.087139+00:00\",\"modified_at\":\"2023-05-10T16:26:00.087144+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/59784f1a-ef4f-11ed-ae21-da7ad0900002/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/59784f1a-ef4f-11ed-ae21-da7ad0900002/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 238
      },
      {
        "_id": "a28a464c420dfcb059a95e80626b4bfa",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"label\":\"Link label\",\"url\":\"https://example.com\"},\"type\":\"team_links\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/59784f1a-ef4f-11ed-ae21-da7ad0900002/links/REPLACE.ME"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 55,
            "text": "{\"errors\":[\"REPLACE.ME is not a valid UUID not found\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 130
      },
      {
        "_id": "b4c82989c343ed140879bdc7e1f34425",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/59784f1a-ef4f-11ed-ae21-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 174
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
