{
  "log": {
    "_recordingName": "End User Device Monitoring/Get device counts grouped by attribute returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "d8169dcde73776090e0040763385627b",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "by",
              "value": "os"
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/eudm/graph?by=os"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 779,
            "text": "{\"data\":[{\"id\":\"macOS\",\"type\":\"graph_items\",\"attributes\":{\"type\":\"macOS\",\"counts\":[{\"columnName\":\"total\",\"count\":18},{\"columnName\":\"healthy\",\"count\":9},{\"columnName\":\"degraded\",\"count\":4},{\"columnName\":\"critical\",\"count\":1},{\"columnName\":\"inactive\",\"count\":4}]}},{\"id\":\"Windows\",\"type\":\"graph_items\",\"attributes\":{\"type\":\"Windows\",\"counts\":[{\"columnName\":\"total\",\"count\":112},{\"columnName\":\"healthy\",\"count\":48},{\"columnName\":\"degraded\",\"count\":17},{\"columnName\":\"critical\",\"count\":5},{\"columnName\":\"inactive\",\"count\":42}]}},{\"id\":\"linux\",\"type\":\"graph_items\",\"attributes\":{\"type\":\"linux\",\"counts\":[{\"columnName\":\"total\",\"count\":7},{\"columnName\":\"healthy\",\"count\":6},{\"columnName\":\"degraded\",\"count\":0},{\"columnName\":\"critical\",\"count\":0},{\"columnName\":\"inactive\",\"count\":1}]}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 57
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
