{
  "log": {
    "_recordingName": "RUM/Aggregate RUM events returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "30d257bcd9ec7fde0a399fe71ad14e77",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"compute\":[{\"aggregation\":\"pc90\",\"metric\":\"@view.time_spent\",\"type\":\"total\"}],\"filter\":{\"from\":\"now-15m\",\"query\":\"@type:view AND @session.type:user\",\"to\":\"now\"},\"group_by\":[{\"facet\":\"@view.time_spent\",\"limit\":10,\"total\":false}],\"options\":{\"timezone\":\"GMT\"},\"page\":{\"limit\":25}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/rum/analytics/aggregate"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 176,
            "text": "{\"meta\":{\"status\":\"done\",\"request_id\":\"pddv1ChZyS2R0R2cwbFNTR3dXWHE0T1V4SkV3IiwKHO-LyxpZr85euhVxgr_zcJZpbjq-uQVUzkFlD0ISDPnlZXRCg4-gaoMc2w\",\"elapsed\":0},\"data\":{\"buckets\":[]}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 160
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
