{
  "log": {
    "_recordingName": "Microsoft Teams Integration/Create api handle returns \"CREATED\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "acd2e5a5dbe35fbc8bb6de6534157bb1",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"channel_id\":\"19:iD_D2xy_sAa-JV851JJYwIa6mlW9F9Nxm3SLyZq68qY1@thread.tacv2\",\"name\":\"Test-Create_api_handle_returns_CREATED_response-1727794143\",\"team_id\":\"e5f50a58-c929-4fb3-8866-e2cd836de3c2\",\"tenant_id\":\"4d3bac44-0230-4732-9e70-cc00736f0a97\"},\"type\":\"handle\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integration/ms-teams/configuration/tenant-based-handles"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 329,
            "text": "{\"data\":{\"id\":\"4d853924-8004-11ef-a396-da7ad0900002\",\"type\":\"handle\",\"attributes\":{\"channel_id\":\"19:iD_D2xy_sAa-JV851JJYwIa6mlW9F9Nxm3SLyZq68qY1@thread.tacv2\",\"name\":\"Test-Create_api_handle_returns_CREATED_response-1727794143\",\"team_id\":\"e5f50a58-c929-4fb3-8866-e2cd836de3c2\",\"tenant_id\":\"4d3bac44-0230-4732-9e70-cc00736f0a97\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 191
      },
      {
        "_id": "778bbd38901a963f30909da138dd0127",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integration/ms-teams/configuration/tenant-based-handles/4d853924-8004-11ef-a396-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 72
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
