{
  "log": {
    "_recordingName": "Case Management/Update case title returns \"Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "4e265ccbfa85b49b13316129143e495e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"title\":\"Memory leak investigation on API\"},\"type\":\"case\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/cases/0198c6b8-b08f-7c08-978a-d95217f2eeac/title"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 67,
            "text": "{\"errors\":[{\"code\":\"resource_not_found\",\"title\":\"case not found\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 416
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
