{
  "log": {
    "_recordingName": "Usage Metering/Paginate Monthly Usage Attribution",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "47b500935ca1c26c14f4e085d112f0ef",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "start_month",
              "value": "2022-03-26T15:05:25.629Z"
            },
            {
              "name": "fields",
              "value": "infra_host_usage"
            }
          ],
          "url": "https://api.datadoghq.com/api/v1/usage/monthly-attribution?start_month=2022-03-26T15%3A05%3A25.629Z&fields=infra_host_usage"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 390,
            "text": "{\"usage\":[{\"org_name\":\"DD Integration Tests (321813)\",\"public_id\":\"fasjyydbcgwwc2uc\",\"tag_config_source\":\"DD Integration Tests (321813):::project\",\"tags\":null,\"updated_at\":\"2022-03-28T23:02:55Z\",\"month\":\"2022-03-01T00:00:00+00:00\",\"values\":{\"infra_host_usage\":15}}],\"metadata\":{\"pagination\":{\"next_record_id\":null},\"aggregates\":[{\"field\":\"infra_host_usage\",\"value\":15.0,\"agg_type\":\"sum\"}]}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 2722
      },
      {
        "_id": "5b0e2ec4a0b16de1843d738ba174bbc1",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "next_record_id",
              "value": "null"
            },
            {
              "name": "start_month",
              "value": "2022-03-26T15:05:25.629Z"
            },
            {
              "name": "fields",
              "value": "infra_host_usage"
            }
          ],
          "url": "https://api.datadoghq.com/api/v1/usage/monthly-attribution?next_record_id=null&start_month=2022-03-26T15%3A05%3A25.629Z&fields=infra_host_usage"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 136,
            "text": "{\"usage\":[],\"metadata\":{\"pagination\":{\"next_record_id\":null},\"aggregates\":[{\"field\":\"infra_host_usage\",\"value\":15.0,\"agg_type\":\"sum\"}]}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 2095
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
