{%- for api, operations in apis.items()|sort(attribute="0", case_sensitive=True) %}
{%- set classname = api.replace(" ", "").replace("-", "") + "Api" %}

export {
{%- for path, method, operation in operations|sort(attribute="2.operationId", case_sensitive=True) %}
  {%- set allParams = operation|parameters|list %}
  {%- if allParams %}
  {{ classname }}{{ operation.operationId }}Request,
  {%- endif %}
{%- endfor %}
  {{ classname}}
} from "./apis/{{ classname }}";
{% endfor %}

{%- for model in models|sort %}
export { {{ model }} } from "./models/{{ model }}";
{%- endfor %}

export { ObjectSerializer } from "./models/ObjectSerializer";

