export * from "./http/http";
export * from './http/isomorphic-fetch';
export * from "./auth/auth";
export { createConfiguration } from "./configuration"
export { setServerVariables } from "./configuration"

export { Configuration } from "./configuration"
export * from "./apis/exception";
export * from "./servers";

{%- for api in apis %}
{%- set classname = api.replace(" ", "") + "Api" %}

{{ operations }}

{%- for path, method, operation in operations %}
{%- for name, parameter in operation|parameters %}

export { {{ classname }}{{ operation.operationId | camel_case }}Request, {%- if not loop.last%}, {%- endif %} } from './apis/{{ classname }}';

{%- endfor %}
{%- endfor %}
{%- endfor %}

{%- for model in mdoels %}
{%- set classname = api.replace(" ", "") + "Api" %}
    export { {{classname}} } from './models/{{ classFilename }}';
{%- endfor %}

export { ObjectSerializer } from "./models/ObjectSerializer";

