export const ScenariosModelMappings: {[key: string]: {[key: string]: {[key: string]: string}}} = {
{%- for version, apis in all_apis.items() %}
{%- for _, operations in apis.items() %}
{%- for path, method, operation in operations %}
{%- set operationParams = operation|parameters|list %}
{%- if operationParams|length > 0 %}
    "{{ version }}.{{ operation['operationId'] }}": {
        {%- for name, parameter in operation|parameters %}
            "{{ name|attribute_name }}": {
                "type": "{{ get_type_for_parameter(parameter) }}",
                "format": "{{ get_format_for_schema(parameter) }}",
                },
        {%- endfor %}
    },
{%- endif %}
{%- endfor %}
{%- endfor %}
{%- endfor %}
}
