{
  "log": {
    "_recordingName": "Metrics/Create a tag indexing rule with exclude_not_queried_window_seconds over the maximum returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "cade0bfa85ad980746f94afdd3feb049",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"exclude_tags_mode\":true,\"ignored_metric_name_matches\":[],\"metric_name_matches\":[\"dd.test.*\"],\"name\":\"my-indexing-rule\",\"options\":{\"data\":{\"dynamic_tags\":{\"exclude_not_queried_window_seconds\":7776001},\"manage_preexisting_metrics\":true,\"override_previous_rules\":false},\"version\":1},\"tags\":[\"env\",\"service\"]},\"type\":\"tag_indexing_rules\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/metrics/tag-indexing-rules"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 124,
            "text": "{\"errors\":[\"Invalid request body: dynamic_tags.exclude_not_queried_window_seconds cannot exceed 7776000 seconds (90 days)\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 86
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
