{
  "log": {
    "_recordingName": "CI Visibility Pipelines/Get a list of pipelines events returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "0db7c48fc7ac8d1315a3ff15267e47ff",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "filter",
              "value": {
                "from": "2022-11-28T11:27:44.947Z",
                "query": "@ci.provider.name:circleci",
                "to": "2022-11-28T11:57:44.947Z"
              }
            },
            {
              "name": "page",
              "value": {
                "limit": "5"
              }
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/ci/pipelines/events?filter%5Bquery%5D=%40ci.provider.name%3Acircleci&filter%5Bfrom%5D=2022-11-28T11%3A27%3A44.947Z&filter%5Bto%5D=2022-11-28T11%3A57%3A44.947Z&page%5Blimit%5D=5"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 12,
            "text": "{\"data\":[]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 141
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
