{
  "log": {
    "_recordingName": "CI Visibility Pipelines/Get a list of pipelines events returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "5e92fe9d55088eb27c5735228696c2ce",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "filter",
              "value": {
                "from": "2024-11-25T19:38:40.699Z",
                "query": "@ci.provider.name:circleci",
                "to": "2024-11-25T20:08:40.699Z"
              }
            },
            {
              "name": "page",
              "value": {
                "limit": "5"
              }
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/ci/pipelines/events?filter%5Bquery%5D=%40ci.provider.name%3Acircleci&filter%5Bfrom%5D=2024-11-25T19%3A38%3A40.699Z&filter%5Bto%5D=2024-11-25T20%3A08%3A40.699Z&page%5Blimit%5D=5"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 166,
            "text": "{\"data\":[],\"meta\":{\"elapsed\":24,\"request_id\":\"pddv1ChZWQVB6eTZTZlNqbUZVNm52YmpoX3ZnIi0KHc-jI3NiRHtRq6GL8JBczM6emoOFupT0-5U_puB2EgwHRoVgx7kIsJDWMYA\",\"status\":\"done\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 146
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
