{
  "log": {
    "_recordingName": "Teams/List team connections returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "3ef98988938c052d7fb8a4ece9f610ee",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"test-handle-48ce99925c887f33\",\"name\":\"test-name-48ce99925c887f33\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 660,
            "text": "{\"data\":{\"id\":\"f520e86b-5137-461d-b054-5b454d7135c4\",\"type\":\"team\",\"attributes\":{\"avatar\":null,\"banner\":4,\"created_at\":\"2026-03-27T09:09:50.012362+00:00\",\"description\":null,\"handle\":\"test-handle-48ce99925c887f33\",\"hidden_modules\":null,\"is_managed\":false,\"link_count\":0,\"modified_at\":\"2026-03-27T09:09:50.012363+00:00\",\"name\":\"test-name-48ce99925c887f33\",\"summary\":null,\"user_count\":0,\"visible_modules\":null},\"relationships\":{\"team_links\":{\"data\":[],\"links\":{\"related\":\"/api/v2/team/f520e86b-5137-461d-b054-5b454d7135c4/links\"}},\"user_team_permissions\":{\"data\":null,\"links\":{\"related\":\"/api/v2/team/f520e86b-5137-461d-b054-5b454d7135c4/permission-settings\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 569
      },
      {
        "_id": "5f55b05737ac9ef5ef8bf7cd1f4057ce",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":[{\"attributes\":{\"managed_by\":\"datadog\",\"source\":\"github\"},\"relationships\":{\"connected_team\":{\"data\":{\"id\":\"@MyGitHubAccount/my-team-name\",\"type\":\"github_team\"}},\"team\":{\"data\":{\"id\":\"f520e86b-5137-461d-b054-5b454d7135c4\",\"type\":\"team\"}}},\"type\":\"team_connection\"}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/connections"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 317,
            "text": "{\"data\":[{\"id\":\"b5c56780-29bc-11f1-b3d1-da7ad0900002\",\"type\":\"team_connection\",\"attributes\":{\"managed_by\":\"[...]
