{
  "log": {
    "_recordingName": "Security Monitoring/Create a detection rule with detection method \"third_party\" returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "4b4c1efec186d9ca0c5d3b7b88a18452",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"cases\":[{\"name\":\"\",\"notifications\":[],\"status\":\"info\"}],\"filters\":[],\"isEnabled\":true,\"message\":\"Test-Create_a_detection_rule_with_detection_method_third_party_returns_OK_response-1642512967 message\",\"name\":\"Test-Create_a_detection_rule_with_detection_method_third_party_returns_OK_response-1642512967\",\"options\":{\"detectionMethod\":\"third_party\",\"evaluationWindow\":0,\"keepAlive\":3600,\"maxSignalDuration\":86400,\"thirdPartyRuleOptions\":{\"defaultStatus\":\"low\",\"rootQuery\":\"@pop\"}},\"queries\":[{\"aggregation\":\"none\",\"distinctFields\":[],\"groupByFields\":[],\"query\":\"@test:true\"}],\"tags\":[]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/security_monitoring/rules"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 789,
            "text": "{\"creationAuthorId\":1445416,\"tags\":[],\"isEnabled\":true,\"hasExtendedTitle\":false,\"message\":\"Test-Create_a_detection_rule_with_detection_method_third_party_returns_OK_response-1642512967 message\",\"options\":{\"detectionMethod\":\"third_party\",\"evaluationWindow\":0,\"maxSignalDuration\":86400,\"thirdPartyRuleOptions\":{\"defaultStatus\":\"low\",\"defaultNotifications\":[],\"rootQuery\":\"@pop\"},\"keepAlive\":3600},\"version\":1,\"createdAt\":1642512967974,\"filters\":[],\"queries\":[{\"query\":\"@test:true\",\"groupByFields\":[],\"aggregation\":\"none\",\"name\":\"\",\"distinctFields\":[]}],\"isDeleted\":false,\"cases\":[{\"status\":\"info\",\"notifications\":[],\"name\":\"\"}],\"type\":\"log_detection\",\"id\":\"4fd-sl4-onv\",\"isDefault\":false,\"name\":\"Test-Create_a_detection_rule_with_detection_method_third_party_returns_OK_response-1642512967\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 552
      },
      {
        "_id": "006035ceffd1d18815aff96c0b7006d5",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/security_monitoring/rules/4fd-sl4-onv"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 488
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
