{
  "log": {
    "_recordingName": "Downtimes/Schedule a downtime once a year",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "5e64524db39aa3bf4d7857d27caec5ac",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"end\":1683227857,\"message\":\"Test-Schedule_a_downtime_once_a_year-1683224257\",\"monitor_tags\":[\"tag0\"],\"mute_first_recovery_notification\":true,\"notify_end_states\":[\"alert\",\"warn\"],\"notify_end_types\":[\"expired\"],\"recurrence\":{\"period\":1,\"type\":\"years\"},\"scope\":[\"*\"],\"start\":1683224257,\"timezone\":\"Etc/UTC\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/downtime"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 660,
            "text": "{\"id\":2890657808,\"monitor_id\":null,\"org_id\":321813,\"start\":1683224257,\"end\":1683227857,\"canceled\":null,\"created\":1683224258,\"modified\":1683224258,\"message\":\"Test-Schedule_a_downtime_once_a_year-1683224257\",\"active\":true,\"disabled\":false,\"recurrence\":{\"type\":\"years\",\"period\":1,\"week_days\":null,\"until_occurrences\":null,\"until_date\":null},\"timezone\":\"Etc/UTC\",\"parent_id\":null,\"child_id\":null,\"creator_id\":1445416,\"updater_id\":null,\"downtime_type\":0,\"status\":\"active\",\"monitor_tags\":[\"tag0\"],\"mute_first_recovery_notification\":true,\"notify_end_types\":[\"expired\"],\"notify_end_states\":[\"alert\",\"warn\"],\"uuid\":\"f3d207ba-eaa7-11ed-8667-da7ad0900002\",\"scope\":[\"*\"]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1023
      },
      {
        "_id": "12770b59a1dbf4b47693e0adc60e8c5b",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/downtime/2890657808"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=utf-8",
            "size": 0
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=utf-8"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 354
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
