{
  "log": {
    "_recordingName": "Downtimes/Schedule a downtime once a year",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "f26c5e9eb7e03b0b2c86b3849abf2e7d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"end\":1650524470,\"message\":\"Test-Schedule_a_downtime_once_a_year-1650520870\",\"mute_first_recovery_notification\":true,\"recurrence\":{\"period\":1,\"type\":\"years\"},\"scope\":[\"*\"],\"start\":1650520870,\"timezone\":\"Etc/UTC\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/downtime"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 524,
            "text": "{\"recurrence\":{\"until_date\":null,\"until_occurrences\":null,\"week_days\":null,\"type\":\"years\",\"period\":1},\"end\":1650524470,\"monitor_tags\":[\"*\"],\"child_id\":null,\"canceled\":null,\"monitor_id\":null,\"mute_first_recovery_notification\":true,\"created\":1650520871,\"org_id\":321813,\"modified\":1650520871,\"disabled\":false,\"start\":1650520870,\"creator_id\":1445416,\"parent_id\":null,\"timezone\":\"Etc/UTC\",\"active\":true,\"scope\":[\"*\"],\"message\":\"Test-Schedule_a_downtime_once_a_year-1650520870\",\"downtime_type\":0,\"id\":1894788565,\"updater_id\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 462
      },
      {
        "_id": "7a30890e0b0accc299c156a89d3a702e",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/downtime/1894788565"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 349
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
