{
  "log": {
    "_recordingName": "Downtimes/Schedule a downtime once a year",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "87d2524b1bb0a0ead5dcbec0ed046966",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"end\":1652352598,\"message\":\"Test-Schedule_a_downtime_once_a_year-1652348998\",\"mute_first_recovery_notification\":true,\"recurrence\":{\"period\":1,\"type\":\"years\"},\"scope\":[\"*\"],\"start\":1652348998,\"timezone\":\"Etc/UTC\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/downtime"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 524,
            "text": "{\"recurrence\":{\"until_date\":null,\"until_occurrences\":null,\"week_days\":null,\"type\":\"years\",\"period\":1},\"end\":1652352598,\"monitor_tags\":[\"*\"],\"child_id\":null,\"canceled\":null,\"monitor_id\":null,\"mute_first_recovery_notification\":true,\"created\":1652348998,\"org_id\":321813,\"modified\":1652348998,\"disabled\":false,\"start\":1652348998,\"creator_id\":1445416,\"parent_id\":null,\"timezone\":\"Etc/UTC\",\"active\":true,\"scope\":[\"*\"],\"message\":\"Test-Schedule_a_downtime_once_a_year-1652348998\",\"downtime_type\":0,\"id\":1944162271,\"updater_id\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 473
      },
      {
        "_id": "d3117ec4eb4703a267c691d67013e936",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/downtime/1944162271"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 441
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
