{
  "log": {
    "_recordingName": "Logs Restriction Queries/Get a restriction query returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "eb3b308b3d569ef84096dd7718f5185e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"restriction_query\":\"env:sandbox\"},\"type\":\"logs_restriction_queries\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/config/restriction_queries"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 235,
            "text": "{\"data\":{\"type\":\"logs_restriction_queries\",\"id\":\"7f34e18e-c3fd-11f0-8c23-da7ad0900002\",\"attributes\":{\"restriction_query\":\"env:sandbox\",\"created_at\":\"2025-11-17T21:36:37.678850+00:00\",\"modified_at\":\"2025-11-17T21:36:37.678850+00:00\"}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 363
      },
      {
        "_id": "1b59abc6d214c2e133880b03b78f3de9",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/config/restriction_queries/7f34e18e-c3fd-11f0-8c23-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 273,
            "text": "{\"data\":{\"type\":\"logs_restriction_queries\",\"id\":\"7f34e18e-c3fd-11f0-8c23-da7ad0900002\",\"attributes\":{\"restriction_query\":\"env:sandbox\",\"created_at\":\"2025-11-17T21:36:37.678850+00:00\",\"modified_at\":\"2025-11-17T21:36:37.678850+00:00\"},\"relationships\":{\"roles\":{\"data\":[]}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 348
      },
      {
        "_id": "3ff7a52e65a77dd2e105e9ce102abb48",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/config/restriction_queries/7f34e18e-c3fd-11f0-8c23-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=utf-8",
            "size": 0
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=utf-8"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 387
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
