{
  "log": {
    "_recordingName": "Security Monitoring/Get an indicator of compromise returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "4b3edb47ae752072c4e4d164cf28e966",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "indicator",
              "value": "192.0.2.1"
            },
            {
              "name": "include_triage_history",
              "value": "true"
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/security/siem/ioc-explorer/indicator?indicator=192.0.2.1&include_triage_history=true"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 1054,
            "text": "{\"data\":{\"id\":\"b38eb8e1-61c8-470f-be58-f41531a7c134\",\"type\":\"get_indicator_response\",\"attributes\":{\"data\":{\"id\":\"192.0.2.1\",\"indicator\":\"192.0.2.1\",\"indicator_type\":\"IP Address\",\"score\":4,\"as_type\":\"hosting\",\"malicious_sources\":null,\"suspicious_sources\":[{\"name\":\"SOURCE1\"}],\"benign_sources\":null,\"categories\":[\"hosting_proxy\"],\"tags\":[],\"signal_matches\":1,\"log_matches\":7,\"signal_tier\":0,\"max_trust_score\":\"RAISE_SCORE\",\"m_sources\":\"NO_EFFECT\",\"m_persistence\":\"NO_EFFECT\",\"m_signal\":\"NO_EFFECT\",\"m_as_type\":\"NO_EFFECT\",\"triage_state\":\"reviewed\",\"triaged_at\":\"2026-06-03T18:55:42.108938Z\",\"triaged_by\":\"00000000-0000-0000-0000-000000000000\",\"log_sources\":[],\"services\":[],\"signal_severity\":[{\"severity\":\"info\",\"count\":1}],\"users\":{},\"critical_assets\":[],\"hosts\":[],\"additional_data\":{},\"triage_history\":[{\"triaged_at\":\"2026-06-03T18:55:42.108938Z\",\"triaged_by\":\"00000000-0000-0000-0000-000000000000\",\"triage_state\":\"reviewed\"},{\"triaged_at\":\"2026-06-03T13:32:14.735424Z\",\"triaged_by\":\"00000000-0000-0000-0000-000000000000\",\"triage_state\":\"reviewed\"}]}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1565
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
