{
  "log": {
    "_recordingName": "Security Monitoring/Modify the triage assignee of a security signal returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "5a4383cbc7c8c48277c586acb887202c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"assignee\":{\"uuid\":\"\"}}}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/security_monitoring/signals/AQAAAYG1bl5K4HuUewAAAABBWUcxYmw1S0FBQmt2RmhRN0V4ZUVnQUE/assignee"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 495,
            "text": "{\"data\":{\"attributes\":{\"incident_ids\":[2066],\"state_update_user\":{\"handle\":\"bernard.le+synthetics@datadoghq.com\",\"uuid\":\"2514d32c-0719-11eb-b643-63faf7d5e1bd\",\"name\":null,\"id\":2115689,\"icon\":\"https://secure.gravatar.com/avatar/ae546a62b5816be30cc23792a69bd9ee?s=48&d=retro\"},\"assignee\":{\"id\":-1,\"name\":\"Unassigned\",\"uuid\":\"\"},\"state\":\"open\",\"archive_reason\":\"none\",\"state_update_timestamp\":1657118941005},\"type\":\"signal_metadata\",\"id\":\"AQAAAYG1bl5K4HuUewAAAABBWUcxYmw1S0FBQmt2RmhRN0V4ZUVnQUE\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 3372
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
