{
  "log": {
    "_recordingName": "Usage Metering/Get hourly usage for Fargate returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "dc845438d3adc146e22ea622bfd46bcf",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "start_hr",
              "value": "2022-03-29T00:41:23.099Z"
            },
            {
              "name": "end_hr",
              "value": "2022-03-27T00:41:23.099Z"
            }
          ],
          "url": "https://api.datadoghq.com/api/v1/usage/fargate?start_hr=2022-03-29T00%3A41%3A23.099Z&end_hr=2022-03-27T00%3A41%3A23.099Z"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 78,
            "text": "{\"errors\": [\"start_hr [YYYY-MM-DDThh] must be before end_hr [YYYY-MM-DDThh]\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 96
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
