{
  "log": {
    "_recordingName": "Users/Update a user returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "7258c066e9cbea47fd7a18fce8819f1a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Typescript-Update_a_user_returns_OK_response-1617202464.115@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 690,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"fbc1559c-9230-11eb-9bd3-da7ad0900002\",\"attributes\":{\"name\":null,\"handle\":\"typescript-update_a_user_returns_ok_response-1617202464.115@datadoghq.com\",\"created_at\":\"2021-03-31T14:54:24.475745+00:00\",\"modified_at\":\"2021-03-31T14:54:24.511335+00:00\",\"email\":\"typescript-update_a_user_returns_ok_response-1617202464.115@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/56ce3f051adff1dffa2a63ce1d269a85?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.4209519"
            },
            {
              "name": "x-dd-debug",
              "value": "B1nwy/pPNqX+q4pQT22cdp1QCexE35IF8qwSHy0Nf7IW0Y881qtn4tXN1lpmzaKc"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 469,
      },
      {
        "_id": "e1be405a9373ab4c23bbc94064ebc165",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"disabled\":true,\"name\":\"updated\"},\"id\":\"fbc15[...]
