{
  "log": {
    "_recordingName": "Users/Update a user returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "a5653e1154401852e2600b1fb65a6877",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Update_a_user_returns_OK_response-1618491790@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 670,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"ee553cfa-9dea-11eb-9df5-da7ad0900002\",\"attributes\":{\"name\":null,\"handle\":\"test-update_a_user_returns_ok_response-1618491790@datadoghq.com\",\"created_at\":\"2021-04-15T13:03:11.139121+00:00\",\"modified_at\":\"2021-04-15T13:03:11.175881+00:00\",\"email\":\"test-update_a_user_returns_ok_response-1618491790@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/e8bb4b9b3ea7d2fec0b3f1bdc2aa8306?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 471,
      },
      {
        "_id": "e76340e6681c7fae89e4c5866f0e7281",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"disabled\":true,\"name\":\"updated\"},\"id\":\"ee553[...]
