{
  "log": {
    "_recordingName": "Users/Update a user returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "cd17c0889cd5838acd7831d45b86fff0",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Typescript-Update_a_user_returns_OK_response-1617204575.43@datadoghq.com\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 680,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"e635be2a-9235-11eb-9bd3-da7ad0900002\",\"attributes\":{\"name\":null,\"handle\":\"typescript-update_a_user_returns_ok_response-1617204575.43@datadoghq.com\",\"created_at\":\"2021-03-31T15:29:35.812679+00:00\",\"modified_at\":\"2021-03-31T15:29:35.829949+00:00\",\"email\":\"typescript-update_a_user_returns_ok_response-1617204575.43@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/3cd0099255836205ba088cff5dcb5b1c?s=48&d=retro\",\"title\":null,\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.4209519"
            },
            {
              "name": "x-dd-debug",
              "value": "/L+SFFO+m1pPY+hRCpk5325fvfrNl0KmiquUNJolBN/5hu3HIwflqjZSbJ6NxDFG"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 488,
      },
      {
        "_id": "56bba21abc516486769f49cf7edcae25",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"disabled\":true,\"name\":\"updated\"},\"id\":\"e635b[...]
