{
  "log": {
    "_recordingName": "Users/Update a user returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "773440e86feb70764142f1dce821951a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Typescript-Update_a_user_returns_OK_response-1613666674.738@datadoghq.com\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 633,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"94feb1da-7208-11eb-9437-da7ad0900002\",\"attributes\":{\"name\":null,\"handle\":\"typescript-update_a_user_returns_ok_response-1613666674.738@datadoghq.com\",\"created_at\":\"2021-02-18T16:44:34.994677+00:00\",\"email\":\"typescript-update_a_user_returns_ok_response-1613666674.738@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/5f6e50601cd21f8122429413b27535ec?s=48&d=retro\",\"title\":null,\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.3935655"
            },
            {
              "name": "x-dd-debug",
              "value": "tpRCH6w417YjBovRJ8VmtuXmNONVYiRp2c8d2AxjPdGBn8PCtgG4vAztrx3qUZAN"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 415,
      },
      {
        "_id": "fd931fd6512f3541d0ebc549988edb08",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"disabled\":true,\"name\":\"updated\"},\"id\":\"94feb[...]
