{
  "log": {
    "_recordingName": "Users/Update a user returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "941d46b1e4ef80278bb823d0a6020221",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Typescript-Update_a_user_returns_OK_response-1613750717.302@datadoghq.com\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 633,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"424a7626-72cc-11eb-9468-da7ad0900002\",\"attributes\":{\"name\":null,\"handle\":\"typescript-update_a_user_returns_ok_response-1613750717.302@datadoghq.com\",\"created_at\":\"2021-02-19T16:05:17.597727+00:00\",\"email\":\"typescript-update_a_user_returns_ok_response-1613750717.302@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/2a50230979ef2a696ce6cbc647e1d6c6?s=48&d=retro\",\"title\":null,\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.3944440"
            },
            {
              "name": "x-dd-debug",
              "value": "Um4CoU685QqAscnxhS5BD+goWu2yX1Jd4zCfGzSsEvPPIm1qURZaF8dlLl/OEY4I"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 438,
      },
      {
        "_id": "fbfd4eea30f10a0d479da1d147dbd433",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"disabled\":true,\"name\":\"updated\"},\"id\":\"424a7[...]
