{
  "log": {
    "_recordingName": "Downtimes/Schedule a downtime returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "d694f391c98735736dbbd73d81065907",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"message\":\"dark forest\",\"monitor_identifier\":{\"monitor_tags\":[\"cat:hat\"]},\"schedule\":{\"start\":null},\"scope\":\"test:testscheduleadowntimereturnsokresponse1685739206\"},\"type\":\"downtime\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/downtime"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1149,
            "text": "{\"data\":{\"type\":\"downtime\",\"attributes\":{\"display_timezone\":\"UTC\",\"scope\":\"test:testscheduleadowntimereturnsokresponse1685739206\",\"notify_end_states\":[\"warn\",\"alert\",\"no data\"],\"message\":\"dark forest\",\"created\":\"2023-06-02T20:53:26.300497+00:00\",\"status\":\"active\",\"modified\":\"2023-06-02T20:53:26.300497+00:00\",\"canceled\":null,\"monitor_identifier\":{\"monitor_tags\":[\"cat:hat\"]},\"schedule\":{\"end\":null,\"start\":\"2023-06-02T20:53:26.286133+00:00\"},\"notify_end_types\":[\"expired\"],\"mute_first_recovery_notification\":false},\"relationships\":{\"monitor\":{\"data\":null},\"created_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}}},\"id\":\"85428b34-0187-11ee-bb05-da7ad0900002\"},\"included\":[{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"attributes\":{\"name\":null,\"handle\":\"frog@datadoghq.com\",\"created_at\":\"2019-10-02T08:15:39.795051+00:00\",\"modified_at\":\"2020-06-15T12:33:12.884459+00:00\",\"email\":\"frog@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro\",\"title\":null,\"verified\":true,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Active\"}}]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 290
      },
      {
        "_id": "b3bc9b538a306c9436ad2c48a358169a",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/downtime/85428b34-0187-11ee-bb05-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=utf-8",
            "size": 0
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=utf-8"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 308
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
