{
  "log": {
    "_recordingName": "Action Connection/Get an existing Action Connection returns \"Successfully get Action Connection\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "da039dfbc5ce393fca5e2efe2618adfb",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/actions/connections/cb460d51-3c88-4e87-adac-d47131d0423d"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 567,
            "text": "{\"data\":{\"id\":\"cb460d51-3c88-4e87-adac-d47131d0423d\",\"type\":\"action_connection\",\"attributes\":{\"acting_user_can_resolve\":false,\"created_at\":\"2024-12-11 20:32:27.173761 +0000 UTC\",\"integration\":{\"credentials\":{\"account_id\":\"123456789123\",\"external_id\":\"909b33b1242748cfbef42f20011e2fa0\",\"principal_id\":\"464622532012\",\"role\":\"MyRoleUpdated\",\"type\":\"AWSAssumeRole\"},\"type\":\"AWS\"},\"last_updated\":\"2025-03-26 20:05:11.015518 +0000 UTC\",\"name\":\"Cassette Connection\"},\"relationships\":{\"created_by\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"created_by\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 106
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
