{
  "log": {
    "_recordingName": "Model Lab API/List Model Lab project facet keys returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "8d9d1e234208f7992e5fc2b9b3f4c216",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/model-lab-api/project-facet-keys"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 199,
            "text": "{\"data\":{\"id\":\"2\",\"type\":\"facet_keys\",\"attributes\":{\"metrics\":null,\"parameters\":[],\"tags\":[\"age\",\"beatings\",\"mlflow.experimentKind\",\"mlflow.experiment.ownerID\",\"morale\",\"team\",\"usecase\",\"weather\"]}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 200
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
