{
  "log": {
    "_recordingName": "Security Monitoring/Get a job's details returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "b91d3d2f868f0795c35b288e8f822892",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/siem-historical-detections/jobs/inva-lid"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 54,
            "text": "{\"errors\":[{\"status\":\"400\",\"detail\":\"invalid jobId\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 64
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
