{
  "log": {
    "_recordingName": "Monitors/Create an Error Tracking monitor returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "4f44a12847b43f9ae11c2de7d7057576",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"message\":\"some message\",\"name\":\"Test-Create_an_Error_Tracking_monitor_returns_OK_response-1647547501\",\"options\":{\"thresholds\":{\"critical\":1}},\"priority\":3,\"query\":\"error-tracking-rum(\\\"service:foo AND @error.source:source\\\").rollup(\\\"count\\\").by(\\\"@issue.id\\\").last(\\\"1h\\\") >= 1\",\"tags\":[\"test:testcreateanerrortrackingmonitorreturnsokresponse1647547501\",\"env:ci\"],\"type\":\"error-tracking alert\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/monitor"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 881,
            "text": "{\"restricted_roles\":null,\"tags\":[\"test:testcreateanerrortrackingmonitorreturnsokresponse1647547501\",\"env:ci\"],\"deleted\":null,\"query\":\"error-tracking-rum(\\\"service:foo AND @error.source:source\\\").rollup(\\\"count\\\").by(\\\"@issue.id\\\").last(\\\"1h\\\") >= 1\",\"message\":\"some message\",\"id\":66239295,\"multi\":true,\"name\":\"Test-Create_an_Error_Tracking_monitor_returns_OK_response-1647547501\",\"created\":\"2022-03-17T20:05:01.603951+00:00\",\"created_at\":1647547501000,\"creator\":{\"id\":1445416,\"handle\":\"frog@datadoghq.com\",\"name\":null,\"email\":\"frog@datadoghq.com\"},\"org_id\":321813,\"modified\":\"2022-03-17T20:05:01.603951+00:00\",\"priority\":3,\"overall_state_modified\":null,\"overall_state\":\"No Data\",\"type\":\"error-tracking alert\",\"options\":{\"notify_audit\":false,\"silenced\":{},\"include_tags\":true,\"thresholds\":{\"critical\":1.0},\"new_host_delay\":300,\"notify_no_data\":false,\"groupby_simple_monitor\":false}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 504
      },
      {
        "_id": "2c87635d89d3c3832f7c7096c8aea8ab",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/monitor/66239295"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 31,
            "text": "{\"deleted_monitor_id\":66239295}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 482
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
