{
  "log": {
    "_recordingName": "Teams/Get all teams returns \"OK\" response with pagination",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "98476bb184a8bacc3c4d9d5339912612",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page",
              "value": {
                "number": "0",
                "size": "2"
              }
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/team?page%5Bsize%5D=2&page%5Bnumber%5D=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1528,
            "text": "{\"data\":[{\"type\":\"team\",\"attributes\":{\"created_at\":\"2023-03-22T17:12:07.018313+00:00\",\"user_count\":0,\"description\":null,\"link_count\":0,\"modified_at\":\"2023-03-22T17:12:07.018317+00:00\",\"name\":\"Example Team\",\"summary\":null,\"handle\":\"api-spec-test-team\"},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/ac73040e-c8d4-11ed-b2ea-da7ad0900002/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/ac73040e-c8d4-11ed-b2ea-da7ad0900002/permission-settings\"}}},\"id\":\"ac73040e-c8d4-11ed-b2ea-da7ad0900002\"},{\"type\":\"team\",\"attributes\":{\"created_at\":\"2023-08-21T19:49:10.718738+00:00\",\"user_count\":1,\"description\":\"\",\"link_count\":0,\"modified_at\":\"2023-08-21T19:49:10.718744+00:00\",\"name\":\"test-name-12938712938\",\"summary\":null,\"handle\":\"test-handle-12938712938\"},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/cc338b02-405b-11ee-835e-da7ad0900002/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/cc338b02-405b-11ee-835e-da7ad0900002/permission-settings\"}}},\"id\":\"cc338b02-405b-11ee-835e-da7ad0900002\"}],\"meta\":{\"pagination\":{\"number\":0,\"first_number\":0,\"prev_number\":0,\"next_number\":1,\"last_number\":1,\"size\":2,\"type\":\"number_size\",\"total\":3}},\"links\":{\"self\":\"https://api.datadoghq.com/api/v2/team?page%5Bsize%5D=2&page%5Bnumber%5D=0\",\"last\":\"https://api.datadoghq.com/api/v2/team?page[number]=1&page[size]=2\",\"next\":\"https://api.datadoghq.com/api/v2/team?page[number]=1&page[size]=2\",\"prev\":null,\"first\":\"https://api.datadoghq.com/api/v2/team?page[number]=0&page[size]=2\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 505
      },
      {
        "_id": "d64aaa571d976ad41f99706c14c7dad7",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page",
              "value": {
                "number": "1",
                "size": "2"
              }
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/team?page%5Bsize%5D=2&page%5Bnumber%5D=1"
        },
        "response": {
          "content"[...]
