{
  "log": {
    "_recordingName": "Execution Policy/Delete an execution policy returns \"No Content\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "983e1c9db587e2a4252de8647052a679",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"action_pattern\":{\"action_fqns\":[\"com.datadoghq.script.*\"],\"integration\":\"INTEGRATION_SCRIPT\"},\"effect\":\"allow\",\"name\":\"Cassette Execution Policy testdeleteanexecutionpolicyreturnsnocontentresponse1786698820\"},\"type\":\"execution_policy\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/actions/execution-policies"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 505,
            "text": "{\"data\":{\"id\":\"a8e55d88-0769-4cb9-b7d9-10f55fc6ecc2\",\"type\":\"execution_policy\",\"attributes\":{\"action_pattern\":{\"integration\":\"INTEGRATION_SCRIPT\",\"action_fqns\":[\"com.datadoghq.script.*\"]},\"created_at\":\"2026-08-14T09:13:41Z\",\"created_by\":\"262c2ca8-d93e-45bc-8d47-5c9ab7af8e6b\",\"effect\":\"allow\",\"name\":\"Cassette Execution Policy testdeleteanexecutionpolicyreturnsnocontentresponse1786698820\",\"targets\":[],\"updated_at\":\"2026-08-14T09:13:41Z\",\"updated_by\":\"262c2ca8-d93e-45bc-8d47-5c9ab7af8e6b\",\"version\":1}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 375
      },
      {
        "_id": "b6257a55c371b02e69abe241e232c3a0",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/actions/execution-policies/a8e55d88-0769-4cb9-b7d9-10f55fc6ecc2"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 367
      },
      {
        "_id": "b6257a55c371b02e69abe241e232c3a0",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/actions/execution-policies/a8e55d88-0769-4cb9-b7d9-10f55fc6ecc2"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 81,
            "text": "{\"errors\":[{\"title\":\"Generic Error\",\"detail\":\"error deleting execution policy\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 325
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
