{
  "log": {
    "_recordingName": "Microsoft Teams Integration/Update workflow webhook handle returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "c6f5c560e9b9da2f01b212841471af21",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Update_workflow_webhook_handle_returns_OK_response-1748457951\",\"url\":\"https://prod-100.westus.logic.azure.com:443/workflows/abcd1234\"},\"type\":\"workflows-webhook-handle\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integration/ms-teams/configuration/workflows-webhook-handles"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 179,
            "text": "{\"data\":{\"id\":\"5c6eadf5-0758-416a-ab9e-f69aa76d69f1\",\"type\":\"workflows-webhook-handle\",\"attributes\":{\"name\":\"Test-Update_workflow_webhook_handle_returns_OK_response-1748457951\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 82
      },
      {
        "_id": "91aabbec7769576cb15326ac5c8070a2",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Update_workflow_webhook_handle_returns_O[...]
