{
  "log": {
    "_recordingName": "Dashboards/Update a shared dashboard returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "4c9199a11951d434e96e592aa6f18172",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"layout_type\":\"ordered\",\"title\":\"Test-Update_a_shared_dashboard_returns_OK_response-1731699192 with Profile Metrics Query\",\"widgets\":[{\"definition\":{\"requests\":[{\"profile_metrics_query\":{\"compute\":{\"aggregation\":\"sum\",\"facet\":\"@prof_core_cpu_cores\"},\"group_by\":[{\"facet\":\"service\",\"limit\":10,\"sort\":{\"aggregation\":\"sum\",\"facet\":\"@prof_core_cpu_cores\",\"order\":\"desc\"}}],\"search\":{\"query\":\"runtime:jvm\"}}}],\"type\":\"timeseries\"}}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 843,
            "text": "{\"id\":\"7gy-n9j-kdz\",\"title\":\"Test-Update_a_shared_dashboard_returns_OK_response-1731699192 with Profile Metrics Query\",\"description\":null,\"author_handle\":\"frog@datadoghq.com\",\"author_name\":null,\"layout_type\":\"ordered\",\"url\":\"/dashboard/7gy-n9j-kdz/test-updateashareddashboardreturnsokresponse-1731699192-with-profile-metrics-que\",\"is_read_only\":false,\"template_variables\":null,\"widgets\":[{\"definition\":{\"requests\":[{\"profile_metrics_query\":{\"compute\":{\"aggregation\":\"sum\",\"facet\":\"@prof_core_cpu_cores\"},\"group_by\":[{\"facet\":\"service\",\"limit\":10,\"sort\":{\"aggregation\":\"sum\",\"facet\":\"@prof_core_cpu_cores\",\"order\":\"desc\"}}],\"search\":{\"query\":\"runtime:jvm\"}}}],\"type\":\"timeseries\"},\"id\":1917183550061512}],\"notify_list\":null,\"created_at\":\"2024-11-15T19:33:12.333485+00:00\",\"modified_at\":\"2024-11-15T19:33:12.333485+00:00\",\"restricted_roles\":[]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 230
      },
      {
        "_id": "27bb1f3da571c7e0a858b2c1eccafc53",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"dashboard_id\":\"7gy-n9j-kdz\",\"dashboard_type\":\"custom_timeboard\",\"global_time\":{\"live_span\":\"1h\"},\"share_list\":[\"testupdateashareddashboardreturnsokresponse1731699192@datadoghq.com\"],\"share_type\":\"invite\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/public"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 926,
            "text": "{\"author\":{\"handle\":\"frog@datadoghq.com\",\"name\":null},\"dashboard_id\":\"7gy-n9j-kdz\",\"dashboard_type\":\"custom_timeboard\",\"status\":\"active\",\"title\":\"Test-Update_a_shared_dashboard_returns_OK_response-1731699192 with Profile Metrics Query\",\"viewing_preferences\":{},\"expiration\":null,\"last_accessed\":null,\"global_time_selectable_enabled\":false,\"global_time\":{\"live_span\":\"1h\"},\"selectable_template_vars\":null,\"token\":\"fasjyydbcgwwc2uc-601fe99239741e02ee84c1852ce59a37\",\"public_url\":\"https://p.datadoghq.com/sb/fasjyydbcgwwc2uc-601fe99239741e02ee84c1852ce59a37\",\"created\":\"2024-11-15T19:33:12.669592+00:00\",\"share_type\":\"invite\",\"share_list\":[\"testupdateashareddashboardreturnsokresponse1731699192@datadoghq.com\"],\"session_duration_in_days\":30,\"invitees\":[{\"email\":\"testupdateashareddashboardreturnsokresponse1731699192@datadoghq.com\",\"access_expiration\":null,\"last_accessed\":null,\"created_at\":\"2024-11-15T19:33:12.692355+00:00\"}]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 334
      },
      {
        "_id": "4037edd0783240c2259eac33f6a5e9f9",
        "request": {
          "headers": [
            {
              "_fromType": "array",
          [...]
