{
  "log": {
    "_recordingName": "RUM Remote Config/Update a RUM SDK configuration returns \"Forbidden\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "71c220b02a7d759863af4f882856e2fb",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"rum\":{\"default_privacy_level\":\"mask\",\"enable_privacy_for_action_name\":true,\"session_replay_sample_rate\":20,\"session_sample_rate\":75}},\"id\":\"aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa\",\"type\":\"rum_sdk_config\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/remote_config/products/rum/configs/aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa"
        },
        "response": {
          "content": {
            "mimeType": "text/plain; charset=utf-8",
            "size": 35,
            "text": "{\"errors\":[{\"title\":\"Forbidden\"}]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain; charset=utf-8"
            }
          ],
          "status": 403,
          "statusText": "Forbidden"
        },
        "time": 386
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
