{
  "log": {
    "_recordingName": "Metrics/Timeseries cross product query with apm_metrics data source and span_kind returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "6c87e9f90f6649431f6608d92a25c377",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"formulas\":[{\"formula\":\"a\",\"limit\":{\"count\":10,\"order\":\"desc\"}}],\"from\":1775756465000,\"interval\":5000,\"queries\":[{\"data_source\":\"apm_metrics\",\"group_by\":[\"resource_name\"],\"name\":\"a\",\"query_filter\":\"env:prod\",\"service\":\"web-store\",\"span_kind\":\"server\",\"stat\":\"hits\"}],\"to\":1775760065000},\"type\":\"timeseries_request\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/query/timeseries"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 99,
            "text": "{\"data\":{\"id\":\"0\",\"type\":\"timeseries_response\",\"attributes\":{\"series\":[],\"times\":[],\"values\":[]}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 148
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
