{
  "log": {
    "_recordingName": "Webhooks Integration/Delete a custom variable returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "1d7deb2adda22b715df8155f41f0959c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"is_secret\":false,\"name\":\"TESTDELETEACUSTOMVARIABLERETURNSOKRESPONSE1628785713\",\"value\":\"variable-value\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/integration/webhooks/configuration/custom-variables"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 106,
            "text": "{\"is_secret\":false,\"name\":\"TESTDELETEACUSTOMVARIABLERETURNSOKRESPONSE1628785713\",\"value\":\"variable-value\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "location",
              "value": "https://app.datadoghq.com/api/v1/integration/webhooks/configuration/custom-variables/TESTDELETEACUSTOMVARIABLERETURNSOKRESPONSE1628785713"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 382,
      },
      {
        "_id": "78d10db2813dc88632aac0c148c67424",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/integration/webhooks/configuration/custom-variables/TESTDELETEACUSTOMVARIABLERETURNSOKRESPONSE1628785713"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 2,
            "text": "{}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 484,
      },
      {
        "_id": "78d10db2813dc88632aac0c148c67424",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/integration/webhooks/configuration/custom-variables/TESTDELETEACUSTOMVARIABLERETURNSOKRESPONSE1628785713"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 46,
            "text": "{\"errors\": [\"Custom variable does not exist\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 450,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
