{
  "log": {
    "_recordingName": "Cloud Cost Management/Validate query returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "311a4e4f8d213b908e67fa7d2b0e2d7c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"Query\":\"example:query AND test:true\"},\"type\":\"validate_query\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/tags/enrichment/validate-query"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 138,
            "text": "{\"data\":{\"id\":\"6a2cddcf-8498-469f-8da1-7b8fb597868d\",\"type\":\"validate_response\",\"attributes\":{\"Canonical\":\"example:query AND test:true\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 167
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
