{
  "log": {
    "_recordingName": "Actions Datastores/Delete datastore item returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "091ff7907e3091cbb21c73405ce42e9f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "DELETE",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"item_key\":\"primaryKey\"},\"id\":\"invalid-uuid\",\"type\":\"items\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/actions-datastores/invalid-uuid/items"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 130,
            "text": "{\"errors\":[{\"title\":\"invalid path parameter\",\"detail\":\"invalid datastoreId format in path\",\"source\":{\"parameter\":\"datastoreId\"}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 145
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
