{
  "log": {
    "_recordingName": "Incidents/List incident notification templates returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "239ef584e5d53bf680e387340aeb07b5",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/incidents/config/notification-templates"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 11,
            "text": "{\"data\":[]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 92
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
