{
  "log": {
    "_recordingName": "Workflow Automation/Execute a workflow returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "fb922ac2cc374b6b2d018afd8d85424e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"meta\":{\"payload\":{\"input\":\"value\"}}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/workflows/malformed/instances"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 105,
            "text": "{\"errors\":[{\"code\":\"INVALID_FIELD_VALUE\",\"detail\":\"value <no value> is invalid for field workflow_id\"}]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 219
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
