{
  "log": {
    "_recordingName": "Annotations/Create an annotation returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "28c73be23aca8e5df4affa692930669b",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"color\":\"blue\",\"description\":\"Deployed v2.3.1 to production.\",\"page_id\":\"dashboard:abc-def-xyz\",\"start_time\":1704067200000,\"type\":\"pointInTime\",\"widget_ids\":[\"1234567890\"]},\"type\":\"annotation\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/annotation"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 383,
            "text": "{\"data\":{\"id\":\"2035c4df-a060-4466-93ec-9304a039bbed\",\"type\":\"annotation\",\"attributes\":{\"author_id\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\",\"color\":\"blue\",\"created_at\":1779913697490,\"description\":\"Deployed v2.3.1 to production.\",\"end_time\":null,\"modified_at\":1779913697490,\"page_id\":\"dashboard:abc-def-xyz\",\"start_time\":1704067200000,\"type\":\"pointInTime\",\"widget_ids\":[\"1234567890\"]}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 181
      },
      {
        "_id": "c2485b12f56fd2be7d106893dd25a809",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/annotation/2035c4df-a060-4466-93ec-9304a039bbed"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 88
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
