{
  "log": {
    "_recordingName": "Teams/Delete team connections returns \"No Content\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "eaf61c66335b8bb1ee20f41cc75976ec",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"test-handle-5e060b20bd1650cf\",\"name\":\"test-name-5e060b20bd1650cf\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 660,
            "text": "{\"data\":{\"id\":\"250b46bc-90c5-4464-8a8f-bf261f788495\",\"type\":\"team\",\"attributes\":{\"avatar\":null,\"banner\":1,\"created_at\":\"2026-03-27T09:21:20.252382+00:00\",\"description\":null,\"handle\":\"test-handle-5e060b20bd1650cf\",\"hidden_modules\":null,\"is_managed\":false,\"link_count\":0,\"modified_at\":\"2026-03-27T09:21:20.252382+00:00\",\"name\":\"test-name-5e060b20bd1650cf\",\"summary\":null,\"user_count\":0,\"visible_modules\":null},\"relationships\":{\"team_links\":{\"data\":[],\"links\":{\"related\":\"/api/v2/team/250b46bc-90c5-4464-8a8f-bf261f788495/links\"}},\"user_team_permissions\":{\"data\":null,\"links\":{\"related\":\"/api/v2/team/250b46bc-90c5-4464-8a8f-bf261f788495/permission-settings\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 585
      },
      {
        "_id": "6ad04942c102ae9c8a78f6a5bf5d0640",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":[{\"attributes\":{\"managed_by\":\"datadog\",\"source\":\"github\"},\"relationships\":{\"connected_team\":{\"data\":{\"id\":\"@MyGitHubAccount/my-team-name\",\"type\":\"github_team\"}},\"team\":{\"data\":{\"id\":\"250b46bc-90c5-4464-8a8f-bf261f788495\",\"type\":\"team\"}}},\"type\":\"team_connection\"}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/connections"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 317,
            "text": "{\"data\":[{\"id\":\"51323b02-29be-11f1-ad4d-da7ad0900002\",\"type\":\"team_connection\",\"attributes\":{\"managed_by\":\"[...]
