{
  "log": {
    "_recordingName": "Usage Metering/Get hourly usage for Application Security returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "1ba4243940fe787ab9a0f3db47e68e44",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "start_hr",
              "value": "2025-05-09T12:32:51.415Z"
            },
            {
              "name": "end_hr",
              "value": "2025-05-07T12:32:51.415Z"
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/usage/application_security?start_hr=2025-05-09T12%3A32%3A51.415Z&end_hr=2025-05-07T12%3A32%3A51.415Z"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 77,
            "text": "{\"errors\":[\"start_hr [YYYY-MM-DDThh] must be before end_hr [YYYY-MM-DDThh]\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 464
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
