{
  "log": {
    "_recordingName": "LLM Observability/Get a specific LLM Observability prompt version returns \"Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "d4047aacd83b7fe816b236fd78a9197e",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/llm-obs/v1/prompts/nonexistent-prompt/versions/1"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 49,
            "text": "{\"errors\":[{\"status\":\"404\",\"title\":\"Not Found\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 379
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
