{
  "log": {
    "_recordingName": "Teams/Update a user's membership attributes on a team returns \"Represents a user's association to a team\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "40a3c156a1124ef93b490b76b8caba49",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Update_a_user_s_membership_attributes_on_a_team_returns_Represents_a_user_s_association_to_a_team_re-1700838466@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 805,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"39e7dfcf-8adb-11ee-bdab-fada477a05e5\",\"attributes\":{\"name\":null,\"handle\":\"test-update_a_user_s_membership_attributes_on_a_team_returns_represents_a_user_s_association_to_a_team_re-1700838466@datadoghq.com\",\"created_at\":\"2023-11-24T15:07:46.903273+00:00\",\"modified_at\":\"2023-11-24T15:07:46.903273+00:00\",\"email\":\"test-update_a_user_s_membership_attributes_on_a_team_returns_represents_a_user_s_association_to_a_team_re-1700838466@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/1e8dccf2c9ce765c9cf102267bd8c1bd?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 472
      },
      {
        "_id": "6bb90d579ad74591018c3e1333741337",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"test-handle-bd7a034ce98fb300\",\"name\":\"test-name-bd7a034ce98fb300\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 617,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"3cc2e359-13e9-4158-b9a2-ecddd60709bc\",\"attributes\":{\"name\":\"test-name-bd7a034ce98fb300\",\"handle\":\"test-handle-bd7a034ce98fb300\",\"summary\":null,\"description\":null,\"avatar\":null,\"banner\":11,\"visible_modules\":[],\"hidden_modules\":[],\"created_at\":\"2023-11-24T15:07:47.324642+00:00\",\"modified_at\":\"2023-11-24T15:07:47.324647+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/3cc2e359-13e9-4158-b9a2-ecddd60709bc/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/3cc2e359-13e9-4158-b9a2-ecddd60709bc/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 466
      },
      {
        "_id": "b0086b17babb86fff2f90fb837fc676a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"role\":\"admin\"},\"relationships\":{\"user\":{\"data\":{\"id\":\"39e7dfcf-8adb-11ee-bdab-fada477a05e5\",\"type\":\"users\"}}},\"type\":\"team_memberships\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/3cc2e359-13e9-4158-b9a2-ecddd60709bc/memberships"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 825,
            "text": "{\"data\":{\"type\":\"team_memberships\",\"id\":\"TeamMembership-3cc2e359-13e9-4158-b9a2-ecddd60709bc-6311828\",\"attributes\":{\"role\":\"admin\",\"provisioned_by\":null,\"provisioned_by_id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"},\"relationships\":{\"user\":{\"data\":{\"type\":\"users\",\"id\":\"39e7dfcf-8adb-11ee-bdab-fada477a05e5\"}}}},\"included\":[{\"type\":\"users\",\"id\":\"39e7dfcf-8adb-11ee-bdab-fada477a05e5\",\"attributes\":{\"name\":null,\"handle\":\"test-update_a_user_s_membership_attributes_on_a_team_returns_represents_a_user_s_association_to_a_team_re-1700838466@datadoghq.com\",\"email\":\"test-update_a_user_s_membership_attributes_on_a_team_returns_represents_a_user_s_association_to_a_team_re-1700838466@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/1e8dccf2c9ce765c9cf102267bd8c1bd?s=48&d=retro\",\"disabled\":fal[...]
