{
  "log": {
    "_recordingName": "On-Call/Delete On-Call schedule returns \"No Content\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "0144116c4b575395c227f25e21c4d782",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Delete_On_Call_schedule_returns_No_Content_response-1764252690@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 730,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"f9249a49-cb9a-11f0-a56e-4e680b759023\",\"attributes\":{\"name\":null,\"handle\":\"test-delete_on_call_schedule_returns_no_content_response-1764252690@datadoghq.com\",\"created_at\":\"2025-11-27T14:11:31.381378+00:00\",\"modified_at\":\"2025-11-27T14:11:31.381378+00:00\",\"email\":\"test-delete_on_call_schedule_returns_no_content_response-1764252690@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/4d40d1e80a1a87fede5c7a11db2bf7f2?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\",\"last_login_time\":null},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 481
      },
      {
        "_id": "8e79df6f58c49fecfd4fb99545687ccd",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"layers\":[{\"effective_date\":\"2025-11-17T14:11:30.983Z\",\"end_date\":\"2025-12-07T14:11:30.983Z\",\"interval\":{\"days\":1},\"members\":[{\"user\":{\"id\":\"f9249a49-cb9a-11f0-a56e-4e680b759023\"}}],\"name\":\"Layer 1\",\"restrictions\":[{\"end_day\":\"friday\",\"end_time\":\"17:00:00\",\"start_day\":\"monday\",\"start_time\":\"09:00:00\"}],\"rotation_start\":\"2025-11-22T14:11:30.983Z\"}],\"name\":\"Test-Delete_On_Call_schedule_returns_No_Content_response-1764252690\",\"time_zone\":\"America/New_York\"},\"relationships\":{\"teams\":{\"data\":[{\"id\":\"65aea9d0-941c-4607-bf8a-14fc0dac2820\",\"type\":\"teams\"}]}},\"type\":\"schedules\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/on-call/schedules"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 376,
            "text": "{\"data\":{\"id\":\"10acf747-60a0-4bdf-a0df-196e9f9291e2\",\"type\":\"schedules\",\"attributes\":{\"name\":\"Test-Delete_On_C[...]
