{
  "log": {
    "_recordingName": "Downtimes/Get a downtime returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "32f329cbdd0033670c29e65039149944",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"message\":\"Test-Get_a_downtime_returns_OK_response-1641829811\",\"recurrence\":{\"period\":1,\"type\":\"weeks\",\"until_date\":1643644211,\"week_days\":[\"Mon\",\"Tue\",\"Wed\",\"Thu\",\"Fri\"]},\"scope\":[\"test:testgetadowntimereturnsokresponse1641829811\"],\"start\":1641829811,\"timezone\":\"Etc/UTC\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/downtime"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 561,
            "text": "{\"recurrence\":{\"until_date\":1643644211,\"until_occurrences\":null,\"week_days\":[\"Mon\",\"Tue\",\"Wed\",\"Thu\",\"Fri\"],\"type\":\"weeks\",\"period\":1},\"end\":null,\"monitor_tags\":[\"*\"],\"child_id\":null,\"canceled\":null,\"monitor_id\":null,\"created\":1641829811,\"org_id\":321813,\"modified\":1641829811,\"disabled\":false,\"start\":1641829811,\"creator_id\":1445416,\"parent_id\":null,\"timezone\":\"Etc/UTC\",\"active\":true,\"scope\":[\"test:testgetadowntimereturnsokresponse1641829811\"],\"message\":\"Test-Get_a_downtime_returns_OK_response-1641829811\",\"downtime_type\":2,\"id\":1672791219,\"updater_id\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 442
      },
      {
        "_id": "7c12a87487d41976c8fa273a00b720b0",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/downtime/1672791219"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 561,
            "text": "{\"recurrence\":{\"until_date\":1643644211,\"until_occurrences\":null,\"week_days\":[\"Mon\",\"T[...]
