{
  "log": {
    "_recordingName": "Downtimes/Get a downtime returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "ec134e0d11e399e22610cd3c3a0bae26",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"end\":1684769410,\"message\":\"Test-Get_a_downtime_returns_OK_response-1684765810\",\"recurrence\":{\"period\":1,\"type\":\"weeks\",\"until_date\":1686580210,\"week_days\":[\"Mon\",\"Tue\",\"Wed\",\"Thu\",\"Fri\"]},\"scope\":[\"test:testgetadowntimereturnsokresponse1684765810\"],\"start\":1684765810,\"timezone\":\"Etc/UTC\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/downtime"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 751,
            "text": "{\"id\":2941966869,\"monitor_id\":null,\"org_id\":321813,\"start\":1684765810,\"end\":1684769410,\"canceled\":null,\"created\":1684765810,\"modified\":1684765810,\"message\":\"Test-Get_a_downtime_returns_OK_response-1684765810\",\"active\":true,\"disabled\":false,\"recurrence\":{\"type\":\"weeks\",\"period\":1,\"week_days\":[\"Mon\",\"Tue\",\"Wed\",\"Thu\",\"Fri\"],\"until_occurrences\":null,\"until_date\":1686580210},\"timezone\":\"Etc/UTC\",\"parent_id\":null,\"child_id\":null,\"creator_id\":1445416,\"updater_id\":null,\"downtime_type\":2,\"status\":\"active\",\"monitor_tags\":[\"*\"],\"mute_first_recovery_notification\":false,\"notify_end_types\":[\"expired\"],\"notify_end_states\":[\"alert\",\"no data\",\"warn\"],\"uuid\":\"286629f8-f8ad-11ed-9901-da7ad0900002\",\"scope\":[\"test:testgetadowntimereturnsokresponse1684765810\"]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 441
      },
      {
        "_id": "438243aa5ac51f16039505ec5cb18a8f",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/downtime/2941966869"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 751,
            "text": "{\"id\":2941966869,\"monitor_id\":null,\"org_id\":321813,\"start\":1684765810,\"end\":1684769410[...]
