{
  "log": {
    "_recordingName": "Downtimes/Get a downtime returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "b55ad18c6b5b749810fb571504ef68fd",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"message\":\"Test-Get_a_downtime_returns_OK_response-1652348996\",\"recurrence\":{\"period\":1,\"type\":\"weeks\",\"until_date\":1654163396,\"week_days\":[\"Mon\",\"Tue\",\"Wed\",\"Thu\",\"Fri\"]},\"scope\":[\"test:testgetadowntimereturnsokresponse1652348996\"],\"start\":1652348996,\"timezone\":\"Etc/UTC\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/downtime"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 602,
            "text": "{\"recurrence\":{\"until_date\":1654163396,\"until_occurrences\":null,\"week_days\":[\"Mon\",\"Tue\",\"Wed\",\"Thu\",\"Fri\"],\"type\":\"weeks\",\"period\":1},\"end\":null,\"monitor_tags\":[\"*\"],\"child_id\":null,\"canceled\":null,\"monitor_id\":null,\"mute_first_recovery_notification\":false,\"created\":1652348997,\"org_id\":321813,\"modified\":1652348997,\"disabled\":false,\"start\":1652348996,\"creator_id\":1445416,\"parent_id\":null,\"timezone\":\"Etc/UTC\",\"active\":true,\"scope\":[\"test:testgetadowntimereturnsokresponse1652348996\"],\"message\":\"Test-Get_a_downtime_returns_OK_response-1652348996\",\"downtime_type\":2,\"id\":1944162261,\"updater_id\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1048
      },
      {
        "_id": "41c3f90126696d8b8699201d3560c44c",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/downtime/1944162261"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 602,
            "text": "{\"recurrence\":{\"until_date\":1654163396,\"until_occurrences\":null,\"week_days\":[\"Mon\",\"[...]
