{
  "log": {
    "_recordingName": "Downtimes/Cancel downtimes by scope returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "bdebc0d060ddb0200a8f505eb93a6178",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"message\":\"Test-Cancel_downtimes_by_scope_returns_OK_response-1633076912\",\"recurrence\":{\"period\":1,\"type\":\"weeks\",\"until_date\":1634891312,\"week_days\":[\"Mon\",\"Tue\",\"Wed\",\"Thu\",\"Fri\"]},\"scope\":[\"test:testcanceldowntimesbyscopereturnsokresponse1633076912\"],\"start\":1633076912,\"timezone\":\"Etc/UTC\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/downtime"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 582,
            "text": "{\"recurrence\":{\"until_date\":1634891312,\"until_occurrences\":null,\"week_days\":[\"Mon\",\"Tue\",\"Wed\",\"Thu\",\"Fri\"],\"type\":\"weeks\",\"period\":1},\"end\":null,\"monitor_tags\":[\"*\"],\"child_id\":null,\"canceled\":null,\"monitor_id\":null,\"created\":1633076912,\"org_id\":321813,\"modified\":1633076912,\"disabled\":false,\"start\":1633076912,\"creator_id\":1445416,\"parent_id\":null,\"timezone\":\"Etc/UTC\",\"active\":true,\"scope\":[\"test:testcanceldowntimesbyscopereturnsokresponse1633076912\"],\"message\":\"Test-Cancel_downtimes_by_scope_returns_OK_response-1633076912\",\"downtime_type\":2,\"id\":1477730819,\"updater_id\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 54,
      },
      {
        "_id": "c49bfe871b5b01b60e8fb0d09f75128c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"scope\":\"test:testcanceldowntimesbyscopereturnsokresponse1633076912\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/downtime/cancel/by_scope"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 30,
            "text": "{\"cancelled_ids\":[1477730819]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 75,
      },
      {
        "_id": "3d99f00c12056a425df7a3a9c64bf85b",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/downtime/1477730819"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 74,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
