{
  "log": {
    "_recordingName": "Downtimes/Cancel downtimes by scope returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "0034590777833721fba60477f8d51005",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"message\":\"Test-Cancel_downtimes_by_scope_returns_OK_response-1652348995\",\"recurrence\":{\"period\":1,\"type\":\"weeks\",\"until_date\":1654163395,\"week_days\":[\"Mon\",\"Tue\",\"Wed\",\"Thu\",\"Fri\"]},\"scope\":[\"test:testcanceldowntimesbyscopereturnsokresponse1652348995\"],\"start\":1652348995,\"timezone\":\"Etc/UTC\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/downtime"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 623,
            "text": "{\"recurrence\":{\"until_date\":1654163395,\"until_occurrences\":null,\"week_days\":[\"Mon\",\"Tue\",\"Wed\",\"Thu\",\"Fri\"],\"type\":\"weeks\",\"period\":1},\"end\":null,\"monitor_tags\":[\"*\"],\"child_id\":null,\"canceled\":null,\"monitor_id\":null,\"mute_first_recovery_notification\":false,\"created\":1652348995,\"org_id\":321813,\"modified\":1652348995,\"disabled\":false,\"start\":1652348995,\"creator_id\":1445416,\"parent_id\":null,\"timezone\":\"Etc/UTC\",\"active\":true,\"scope\":[\"test:testcanceldowntimesbyscopereturnsokresponse1652348995\"],\"message\":\"Test-Cancel_downtimes_by_scope_returns_OK_response-1652348995\",\"downtime_type\":2,\"id\":1944162243,\"updater_id\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 478
      },
      {
        "_id": "16aef51dd3aa3b8fa6e51008da84330b",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"scope\":\"test:testcanceldowntimesbyscopereturnsokresponse1652348995\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/downtime/cancel/by_scope"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 30,
            "text": "{\"cancelled_ids\":[1944162243]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 425
      },
      {
        "_id": "3ed9cb4d5e9e90e7bdce573cde140a5f",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/downtime/1944162243"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 414
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
