{
  "log": {
    "_recordingName": "Downtimes/Cancel downtimes by scope returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "a1a427081543c43a3b9554684c2d8d65",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"end\":1684769382,\"message\":\"Test-Cancel_downtimes_by_scope_returns_OK_response-1684765782\",\"recurrence\":{\"period\":1,\"type\":\"weeks\",\"until_date\":1686580182,\"week_days\":[\"Mon\",\"Tue\",\"Wed\",\"Thu\",\"Fri\"]},\"scope\":[\"test:testcanceldowntimesbyscopereturnsokresponse1684765782\"],\"start\":1684765782,\"timezone\":\"Etc/UTC\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/downtime"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 772,
            "text": "{\"id\":2941965647,\"monitor_id\":null,\"org_id\":321813,\"start\":1684765782,\"end\":1684769382,\"canceled\":null,\"created\":1684765783,\"modified\":1684765783,\"message\":\"Test-Cancel_downtimes_by_scope_returns_OK_response-1684765782\",\"active\":true,\"disabled\":false,\"recurrence\":{\"type\":\"weeks\",\"period\":1,\"week_days\":[\"Mon\",\"Tue\",\"Wed\",\"Thu\",\"Fri\"],\"until_occurrences\":null,\"until_date\":1686580182},\"timezone\":\"Etc/UTC\",\"parent_id\":null,\"child_id\":null,\"creator_id\":1445416,\"updater_id\":null,\"downtime_type\":2,\"status\":\"active\",\"monitor_tags\":[\"*\"],\"mute_first_recovery_notification\":false,\"notify_end_types\":[\"expired\"],\"notify_end_states\":[\"alert\",\"no data\",\"warn\"],\"uuid\":\"17fac312-f8ad-11ed-9ae8-da7ad0900002\",\"scope\":[\"test:testcanceldowntimesbyscopereturnsokresponse1684765782\"]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 433
      },
      {
        "_id": "8cecfe7f5a7a18569efc2bfc039b99b3",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"scope\":\"test:testcanceldowntimesbyscopereturnsokresponse1684765782\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/downtime/cancel/by_scope"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 31,
            "text": "{\"cancelled_ids\":[2941965647]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 343
      },
      {
        "_id": "52dc9f5787bea775a672904ce40172f8",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/downtime/2941965647"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=utf-8",
            "size": 0
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=utf-8"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 525
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
