{
  "log": {
    "_recordingName": "Downtimes/Cancel downtimes by scope returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "bf59ccaa33ae8ebdd627005a302d080a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"message\":\"Test-Cancel_downtimes_by_scope_returns_OK_response-1641829809\",\"recurrence\":{\"period\":1,\"type\":\"weeks\",\"until_date\":1643644209,\"week_days\":[\"Mon\",\"Tue\",\"Wed\",\"Thu\",\"Fri\"]},\"scope\":[\"test:testcanceldowntimesbyscopereturnsokresponse1641829809\"],\"start\":1641829809,\"timezone\":\"Etc/UTC\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/downtime"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 582,
            "text": "{\"recurrence\":{\"until_date\":1643644209,\"until_occurrences\":null,\"week_days\":[\"Mon\",\"Tue\",\"Wed\",\"Thu\",\"Fri\"],\"type\":\"weeks\",\"period\":1},\"end\":null,\"monitor_tags\":[\"*\"],\"child_id\":null,\"canceled\":null,\"monitor_id\":null,\"created\":1641829810,\"org_id\":321813,\"modified\":1641829810,\"disabled\":false,\"start\":1641829809,\"creator_id\":1445416,\"parent_id\":null,\"timezone\":\"Etc/UTC\",\"active\":true,\"scope\":[\"test:testcanceldowntimesbyscopereturnsokresponse1641829809\"],\"message\":\"Test-Cancel_downtimes_by_scope_returns_OK_response-1641829809\",\"downtime_type\":2,\"id\":1672791217,\"updater_id\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 534
      },
      {
        "_id": "529f9882971d2ab6218566f974c0df55",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"scope\":\"test:testcanceldowntimesbyscopereturnsokresponse1641829809\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/downtime/cancel/by_scope"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 30,
            "text": "{\"cancelled_ids\":[1672791217]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 400
      },
      {
        "_id": "e5c985d1f4caa7c0ddba5456630b1e4b",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/downtime/1672791217"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 342
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
