{
  "log": {
    "_recordingName": "Seats/Get users with seats returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "1a3727f8a3cae8d5a9747eb61e837ce8",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "product_code",
              "value": "incident_response"
            },
            {
              "name": "page",
              "value": {
                "limit": "100"
              }
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/seats/users?product_code=incident_response&page%5Blimit%5D=100"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 11,
            "text": "{\"data\":[]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 267
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
