{
  "log": {
    "_recordingName": "Actions Datastores/Create datastore from import returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "3df0341d8798bab39ae2013c0e55eb56",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"datastore-name\",\"primary_column_name\":\"0invalid_name\",\"values\":[{\"primaryKey\":\"key1\",\"value\":{\"data\":\"example data 1\",\"key\":\"value\"}},{\"primaryKey\":\"key2\",\"value\":{\"data\":\"example data 2\",\"key\":\"value\"}}]},\"type\":\"datastores\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/actions-datastores/import"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 200,
            "text": "{\"errors\":[{\"status\":\"400\",\"id\":\"996818df-5080-4cfd-bd5a-44c995871c30\",\"title\":\"datastore configuration invalid\",\"detail\":\"column name '0invalid_name' does not start with a letter or an underscore\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 81
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
