{
  "log": {
    "_recordingName": "On-Call/Update on-call schedule returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "edfa46729d3034769da94e3203b03e6d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"layers\":[{\"effective_date\":\"2025-04-14T02:49:56.699Z\",\"end_date\":\"2025-05-04T02:49:56.699Z\",\"interval\":{\"days\":1},\"members\":[{\"user\":{\"id\":\"890f29d4-0b7a-11f0-aeb2-760fcae4f596\"}}],\"name\":\"Layer 1\",\"restrictions\":[{\"end_day\":\"friday\",\"end_time\":\"17:00:00\",\"start_day\":\"monday\",\"start_time\":\"09:00:00\"}],\"rotation_start\":\"2025-04-19T02:49:56.699Z\"}],\"name\":\"Test-Update_on_call_schedule_returns_OK_response-1745462996\",\"tags\":[\"tag1\",\"tag2\"],\"time_zone\":\"America/New_York\"},\"relationships\":{\"teams\":{\"data\":[{\"id\":\"65aea9d0-941c-4607-bf8a-14fc0dac2820\",\"type\":\"teams\"}]}},\"type\":\"schedules\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/on-call/schedules"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 391,
            "text": "{\"data\":{\"id\":\"63b955bd-42ab-42a2-95be-64cdaf5fad05\",\"type\":\"schedules\",\"attributes\":{\"name\":\"Test-Update_on_call_schedule_returns_OK_response-1745462996\",\"tags\":[\"tag1\",\"tag2\"],\"time_zone\":\"America/New_York\"},\"relationships\":{\"layers\":{\"data\":[{\"id\":\"3342fc63-b752-4cb7-84af-acdd25170a72\",\"type\":\"layers\"}]},\"teams\":{\"data\":[{\"id\":\"65aea9d0-941c-4607-bf8a-14fc0dac2820\",\"type\":\"teams\"}]}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 623
      },
      {
        "_id": "44230f3b6f2fd1dad607c6f201c87e84",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Update_on_call_schedule_returns_OK_response-1745462996@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 691,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"cf1fc825-20b6-11f0-964a-9205f68d2dbc\",\"attributes\":{\"name\":null,\"handle\":\"test-update_on_call_schedule_returns_ok_response-1745462996@datadoghq.com\",\"created_at\":\"2025-04-24T02:49:57.958893+00:00\",\"modified_at\":\"2025-04-24T02:49:57.958893+00:00\",\"email\":\"test-update_on_call_schedule_returns_ok_response-1745462996@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/9745d12cfe2ad4741f4a01920dbaddbd?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 721
      },
      {
        "_id": "ed16b08f4d03d328659d29812f199bee",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"test-handle-6bd41aedce052a30\",\"name\":\"test-name-6bd41aedce052a30\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 635,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"45f3bb52-ff48-44f4-b7ec-e6ca4cc6e972\",\"attributes\":{\"name\":\"test-name-6bd41aedce052a30\",\"handle\":\"test-handle-6bd41aedce052a30\",\"summary\":null,\"description\":null,\"avatar\":null,\"banner\":2,\"visible_modules\":[],\"hidden_modules\":[],\"created_at\":\"2025-04-24T02:49:58.638187+00:00\",\"modified_at\":\"2025-04-24T02:49:58.638196+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/45f3bb52-ff48-44f4-b7ec-e6ca4cc6e972/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/45f3bb52-ff48-44f4-b7ec-e6ca4cc6e972/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 736
      },
      {
        "_id": "48f1dc9de79d81d8a8cc101ce263c2f4",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"layers\":[{\"effective_date\":\"2025-04-14T02:49:56.699Z\",\"end_date\":\"2025-05-04T02:49:56.699Z\",\"id\":\"3342fc63-b752-4cb7-84af-acdd25170a72\",\"interval\":{\"seconds\":300},\"members\":[{\"user\":{\"id\":\"cf1fc825-20b6-11f0-964a-9205f68d2dbc\"}}],\"name\":\"Layer 1\",\"restrictions\":[{\"end_day\":\"friday\",\"end_time\":\"17:00:00\",\"start_day\":\"monday\",\"start_time\":\"09:00:00\"}],\"rotation_start\":\"2025-04-19T02:49:56.699Z\"}],\"name\":\"Test-Update_on_call_schedule_returns_OK_response-1745462996\",\"tags\":[\"tag1\",\"tag2\",\"tag3\"],\"time_zone\":\"America/New_York\"},\"id\":\"63b955bd-42ab-42a2-95be-64cdaf5fad05\",\"relationships\":{\"teams\":{\[...]
