{
  "log": {
    "_recordingName": "Key Management/Get a personal access token returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "3c92659f294b3a518d4147b417d4f56e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"expires_at\":\"2027-04-08T16:45:35.914Z\",\"name\":\"Test-Get_a_personal_access_token_returns_OK_response-1775666735\",\"scopes\":[\"dashboards_read\"]},\"type\":\"personal_access_tokens\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/personal_access_tokens"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 504,
            "text": "{\"data\":{\"id\":\"6ada9c44-0b7f-4e35-826b-ccecd6d358d5\",\"type\":\"personal_access_tokens\",\"attributes\":{\"created_at\":\"2026-04-08T16:45:36.006189144Z\",\"expires_at\":\"2027-04-08T16:45:35.914Z\",\"key\":\"xxxxx_xxxxxxxxxxxxxxxxxxxxxx_xxxxxxxxxxxxxxxxxxxxxxxxxxXxxxxxxxxx\",\"name\":\"Test-Get_a_personal_access_token_returns_OK_response-1775666735\",\"public_portion\":\"3Fd5hG1s1rf27qn2E4nNdF\",\"scopes\":[\"dashboards_read\"]},\"relationships\":{\"owned_by\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 114
      },
      {
        "_id": "06c23addd301b1952af943742ec197a3",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/personal_access_tokens/6ada9c44-0b7f-4e35-826b-ccecd6d358d5"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 447,
            "text": "{\"data\":{\"id\":\"6ada9c44-0b7f-4e35-826b-ccecd6d358d5\",\"type\":\"personal_access_tokens\",\"attributes\":{\"created_at\":\"2026-04-08T16:45:36.006189Z\",\"expires_at\":\"2027-04-08T16:45:35.914Z\",\"last_used_at\":null,\"name\":\"Test-Get_a_personal_access_token_returns_OK_response-1775666735\",\"public_portion\":\"3Fd5hG1s1rf27qn2E4nNdF\",\"scopes\":[\"dashboards_read\"]},\"relationships\":{\"owned_by\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 132
      },
      {
        "_id": "aa67ab07a322bf2f5a4330fe7a11ce0e",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/personal_access_tokens/6ada9c44-0b7f-4e35-826b-ccecd6d358d5"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 129
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
