{
  "log": {
    "_recordingName": "Security Monitoring/Create a custom framework returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "4d904633040679e4815595b48a4edb4a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"rreb\",\"icon_url\":\"\",\"name\":\"bare\",\"requirements\":[{\"controls\":[{\"name\":\"sdee\",\"rules_id\":[\"tge-nhp-wjz\"]}],\"name\":\"serd\"}],\"version\":\"cr2e\"},\"type\":\"custom_framework\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/cloud_security_management/custom_frameworks"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 0
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 419
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
