{
  "log": {
    "_recordingName": "Annotations/List annotations returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "78d2d11619620348cab74b6ac6482f5b",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"color\":\"blue\",\"description\":\"Deployed v2.3.1 to production.\",\"page_id\":\"dashboard:abc-def-xyz\",\"start_time\":1704067200000,\"type\":\"pointInTime\"},\"type\":\"annotation\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/annotation"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 355,
            "text": "{\"data\":{\"id\":\"9db3699d-4361-4062-b095-a4da3227afe6\",\"type\":\"annotation\",\"attributes\":{\"author_id\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\",\"color\":\"blue\",\"created_at\":1779913698338,\"description\":\"Deployed v2.3.1 to production.\",\"end_time\":null,\"modified_at\":1779913698338,\"page_id\":\"dashboard:abc-def-xyz\",\"start_time\":1704067200000,\"type\":\"pointInTime\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 83
      },
      {
        "_id": "68f8115ad510fc64beeef1d45c413d53",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_id",
              "value": "dashboard:abc-def-xyz"
            },
            {
              "name": "start_time",
              "value": "1704067200000"
            },
            {
              "name": "end_time",
              "value": "1704153600000"
            }
   [...]
