{
  "log": {
    "_recordingName": "Data Deletion/Cancels a data deletion request returns \"Precondition failed error\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "f7808c13ff401d773b308d1a7f7fb27b",
        "request": {
          "headers": [
          ],
          "method": "PUT",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/deletion/requests/-1/cancel"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 92,
            "text": "{\"errors\":[{\"status\":\"412\",\"code\":\"INVALID_ID\",\"title\":\"INVALID_ID\",\"detail\":\"INVALID_ID\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 412,
          "statusText": "Precondition Failed"
        },
        "time": 484
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
