{
  "log": {
    "_recordingName": "Organizations/Update a specific Org Config returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "d8fa32fb9a0f330c85ecdb6b6f56eb99",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"value\":\"not-a-boolean\"},\"type\":\"org_configs\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/org_configs/custom_roles"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 85,
            "text": "{\"errors\":[\"The value provided for parameter 'OrgConfig: not-a-boolean' is invalid\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 450
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
