{
  "log": {
    "_recordingName": "App Builder/Revert App returns \"Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "bcd8f71dbd6b1dbc99020c02957657ea",
        "request": {
          "headers": [
          ],
          "method": "POST",
          "queryString": [
            {
              "name": "version",
              "value": "1"
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/app-builder/apps/7addb29b-f935-472c-ae79-d1963979a23e/revert?version=1"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 167,
            "text": "{\"errors\":[{\"status\":\"404\",\"id\":\"09483925-ee8b-44c8-882a-35b53e209584\",\"title\":\"app not found\",\"detail\":\"app with id 7addb29b-f935-472c-ae79-d1963979a23e not found\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 152
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
