{
  "log": {
    "_recordingName": "AuthN Mappings/Edit an AuthN Mapping returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "0f67fbda596cc60e6c46316c19235395",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Edit_an_AuthN_Mapping_returns_OK_response-1644413613\"},\"type\":\"roles\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/roles"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 693,
            "text": "{\"data\":{\"type\":\"roles\",\"id\":\"e0adb902-89ac-11ec-80b7-da7ad0900002\",\"attributes\":{\"name\":\"Test-Edit_an_AuthN_Mapping_returns_OK_response-1644413613\",\"created_at\":\"2022-02-09T13:33:33.850102+00:00\",\"modified_at\":\"2022-02-09T13:33:33.896094+00:00\"},\"relationships\":{\"permissions\":{\"data\":[{\"type\":\"permissions\",\"id\":\"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2\"},{\"type\":\"permissions\",\"id\":\"4441648c-d8b1-11e9-a77a-1b899a04b304\"},{\"type\":\"permissions\",\"id\":\"417ba636-2dce-11eb-84c0-6bce5b0d9de0\"},{\"type\":\"permissions\",\"id\":\"12efc20e-d36c-11eb-a9b8-da7ad0900002\"},{\"type\":\"permissions\",\"id\":\"97971c1c-e895-11eb-b13c-da7ad0900002\"},{\"type\":\"permissions\",\"id\":\"7605ef24-f376-11eb-b90b-da7ad0900002\"}]}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 473
      },
      {
        "_id": "b95393e59a4e83dc989d9d5e0e0cef9a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"attribute_key\":\"testeditanauthnmappingreturnsokresponse1644413613\",\"attribute_value\":\"Test-Edit_an_AuthN_Mapping_returns_OK_response-1644413613\"},\"relationships\":{\"role\":{\"data\":{\"id\":\"e0adb902-89ac-11ec-80b7-da7ad0900002\",\"type\":\"roles\"}}},\"type\":\"authn_mappings\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/authn_mappings"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1129,
            "text": "{\"included\":[{\"type\":\"roles\",\"id\":\"e0adb902-89ac-11ec-80b7-da7ad0900002\",\"attributes\":{\"name\":\"Test-Edit_an_AuthN_Mapping_returns_OK_response-1644413613\",\"created_at\":\"2022-02-09T13:33:33.850102+00:00\",\"modified_at\":\"2022-02-09T13:33:33.896094+00:00\"},\"relationships\":{\"permissions\":{\"data\":[{\"type\":\"permissions\",\"id\":\"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2\"},{\"type\":\"permissions\",\"id\":\"4441648c-d8b1-11e9-a77a-1b899a04b304\"},{\"type\":\"permissions\",\"id\":\"417ba63[...]
