{
  "log": {
    "_recordingName": "On-Call/Create On-Call schedule returns \"Created\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "723e1f7093e5dac88cba526d8790b989",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Create_On_Call_schedule_returns_Created_response-1748494417@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 701,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"e2438320-3c48-11f0-b6eb-6e406f40657f\",\"attributes\":{\"name\":null,\"handle\":\"test-create_on_call_schedule_returns_created_response-1748494417@datadoghq.com\",\"created_at\":\"2025-05-29T04:53:37.987288+00:00\",\"modified_at\":\"2025-05-29T04:53:37.987288+00:00\",\"email\":\"test-create_on_call_schedule_returns_created_response-1748494417@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/61f85c2f88e7f4fa078405eae231fb73?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 887
      },
      {
        "_id": "e2922c04b6309a626a75933c3a298ba5",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"test-handle-0ed4255faa1a4de8\",\"name\":\"test-name-0ed4255faa1a4de8\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 635,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"8c44e5e8-f1f0-4e12-ada2-f91c9aeab153\",\"attributes\":{\"name\":\"test-name-0ed4255faa1a4de8\",\"handle\":\"test-handle-0ed4255faa1a4de8\",\"summary\":null,\"description\":null,\"avatar\":null,\"banner\":5,\"visible_modules\":[],\"hidden_modules\":[],\"created_at\":\"2025-05-29T04:53:38.641602+00:00\",\"modified_at\":\"2025-05-29T04:53:38.641612+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/8c44e5e8-f1f0-4e12-ada2-f91c9aeab153/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/8c44e5e8-f1f0-4e12-ada2-f91c9aeab153/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 735
      },
      {
        "_id": "117feb5e36fe3e757cd61dec4fd9f5eb",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"layers\":[{\"effective_date\":\"2025-05-19T04:53:37.175Z\",\"end_date\":\"2025-06-08T04:53:37.175Z\",\"interval\":{\"days\":1},\"members\":[{\"user\":{\"id\":\"e2438320-3c48-11f0-b6eb-6e406f40657f\"}}],\"name\":\"Layer 1\",\"restrictions\":[{\"end_day\":\"friday\",\"end_time\":\"17:00:00\",\"start_day\":\"monday\",\"start_time\":\"09:00:00\"}],\"rotation_start\":\"2025-05-24T04:53:37.175Z\"}],\"name\":\"Test-Create_On_Call_schedule_returns_Created_response-1748494417\",\"time_zone\":\"America/New_York\"},\"relationships\":{\"teams\":{\"data\":[{\"id\":\"8c44e5e8-f1f0-4e12-ada2-f91c9aeab153\",\"type\":\"teams\"}]}},\"type\":\"schedules\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/on-call/schedules"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 373,
            "text": "{\"data\":{\"id\":\"e57f69cc-5f56-41bf-abd2-69196d0b4b41\",\"type\":\"schedules\",\"attributes\":{\"name\":\"Test-Create_On_C[...]
