{
  "log": {
    "_recordingName": "On-Call/Delete an override returns \"No Content\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "c07b94e8584322466c8fab58ef87dc79",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Delete_an_override_returns_No_Content_response-1749511815@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 697,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"b2a8c8e6-4589-11f0-8c93-d6008d2166ed\",\"attributes\":{\"name\":null,\"handle\":\"test-delete_an_override_returns_no_content_response-1749511815@datadoghq.com\",\"created_at\":\"2025-06-09T23:30:15.872777+00:00\",\"modified_at\":\"2025-06-09T23:30:15.872777+00:00\",\"email\":\"test-delete_an_override_returns_no_content_response-1749511815@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/49f12a88e1d0d2808f4ad18cf228a08c?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 729
      },
      {
        "_id": "c346993952dc93b4998ec8da129bdbba",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"layers\":[{\"effective_date\":\"2025-05-30T23:30:15.221Z\",\"end_date\":\"2025-06-19T23:30:15.221Z\",\"interval\":{\"days\":1},\"members\":[{\"user\":{\"id\":\"b2a8c8e6-4589-11f0-8c93-d6008d2166ed\"}}],\"name\":\"Layer 1\",\"restrictions\":[{\"end_day\":\"friday\",\"end_time\":\"17:00:00\",\"start_day\":\"monday\",\"start_time\":\"09:00:00\"}],\"rotation_start\":\"2025-06-04T23:30:15.221Z\"}],\"name\":\"Test-Delete_an_override_returns_No_Content_response-1749511815\",\"time_zone\":\"America/New_York\"},\"relationships\":{\"teams\":{\"data\":[{\"id\":\"65aea9d0-941c-4607-bf8a-14fc0dac2820\",\"type\":\"teams\"}]}},\"type\":\"schedules\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/on-call/schedules"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 371,
            "text": "{\"data\":{\"id\":\"bc5808ac-2b71-4213-8f8d-b9bcdb59b605\",\"type\":\"schedules\",\"attributes\":{\"name\":\"Test-Delete_an_override_returns_No_Content_response-1749511815\",\"time_zone\":\"America/New_York\"},\"relationships\":{\"layers\":{\"data\":[{\"id\":\"af7496af-5a70-4599-8c90-aa4a6a9fc8b7\",\"type\":\"layers\"}]},\"teams\":{\"data\":[{\"id\":\"65aea9d0-941c-4607-bf8a-14fc0dac2820\",\"type\":\"teams\"}]}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 663
      },
      {
        "_id": "af41941d469936d24a56d2b68cab41b5",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":[{\"attributes\":{\"end\":\"2025-06-10T00:30:15.221Z\",\"start\":\"2025-06-09T23:30:15.221Z\"},\"relationships\":{\"user\":{\"data\":{\"id\":\"b2a8c8e6-4589-11f0-8c93-d6008d2166ed\",\"type\":\"users\"}}},\"type\":\"overrides\"}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/on-call/schedules/bc5808ac-2b71-4213-8f8d-b9bcdb59b605/overrides"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 253,
            "text": "{\"data\":[{\"id\":\"[...]
