{
  "log": {
    "_recordingName": "Security Monitoring/Create a custom framework returns \"Created\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "17969bd2d3097a8fde8cddd5c29659b6",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"ponse1744139743\",\"icon_url\":\"\",\"name\":\"ponse1744139743\",\"requirements\":[{\"controls\":[{\"name\":\"ponse1744139743\",\"rules_id\":[\"def-000-cea\"]}],\"name\":\"ponse1744139743\"}],\"version\":\"ponse1744139743\"},\"type\":\"custom_framework\"}}"
          },
          "queryString": [],
          "url": "https://frog.datadoghq.com/api/v2/cloud_security_management/custom_frameworks"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 291
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
