{
  "log": {
    "_recordingName": "GCP Integration/Create a new entry for your service account with resource collection enabled returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "bd2a1b519954a7fe88bcdab21eba06ab",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"client_email\":\"c200eb5fe37e7d26@test-project.iam.gserviceaccount.com\",\"host_filters\":[],\"resource_collection_enabled\":true},\"type\":\"gcp_service_account\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integration/gcp/accounts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 325,
            "text": "{\"data\":{\"type\":\"gcp_service_account\",\"attributes\":{\"automute\":false,\"is_security_command_center_enabled\":false,\"host_filters\":[],\"client_email\":\"c200eb5fe37e7d26@test-project.iam.gserviceaccount.com\",\"resource_collection_enabled\":true,\"account_tags\":[],\"is_cspm_enabled\":false},\"id\":\"e0e0b030-aba8-4eff-bcf2-7d4266d0d7fd\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 355
      },
      {
        "_id": "f2ac0fa641154aad8c5fc5bb0c5f377e",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integration/gcp/accounts/e0e0b030-aba8-4eff-bcf2-7d4266d0d7fd"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=utf-8",
            "size": 0
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=utf-8"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 348
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
