{
  "log": {
    "_recordingName": "GCP Integration/Create a new entry for your service account with resource collection enabled returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "d680746a89f9c2fcc3cab64ce7efcf39",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"client_email\":\"Test-c8176325bf516421@test-project.iam.gserviceaccount.com\",\"host_filters\":[],\"resource_collection_enabled\":true},\"type\":\"gcp_service_account\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integration/gcp/accounts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 362,
            "text": "{\"data\":{\"type\":\"gcp_service_account\",\"attributes\":{\"is_cspm_enabled\":false,\"automute\":false,\"cloud_run_revision_filters\":[],\"host_filters\":[],\"is_security_command_center_enabled\":false,\"account_tags\":[],\"resource_collection_enabled\":true,\"client_email\":\"Test-c8176325bf516421@test-project.iam.gserviceaccount.com\"},\"id\":\"584395b0-91b7-4ac0-83b2-3259a49ea34f\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 380
      },
      {
        "_id": "c70192d31d2757f75ff4f36caeb67a37",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integration/gcp/accounts/584395b0-91b7-4ac0-83b2-3259a49ea34f"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=utf-8",
            "size": 0
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=utf-8"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 108
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
