{
  "log": {
    "_recordingName": "Dashboards/Create a new dashboard with free_text widget",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "169e45be686c4e04dd98e49f98e0c627",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"description\":null,\"layout_type\":\"free\",\"notify_list\":[],\"template_variables\":[],\"title\":\"Test-Create_a_new_dashboard_with_free_text_widget-1731611542\",\"widgets\":[{\"definition\":{\"color\":\"#4d4d4d\",\"font_size\":\"auto\",\"text\":\"Example free text\",\"text_align\":\"left\",\"type\":\"free_text\"},\"layout\":{\"height\":6,\"width\":24,\"x\":0,\"y\":0}}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 673,
            "text": "{\"id\":\"th4-kf6-2wb\",\"title\":\"Test-Create_a_new_dashboard_with_free_text_widget-1731611542\",\"description\":null,\"author_handle\":\"anika.maskara@datadoghq.com\",\"author_name\":\"Anika Maskara\",\"layout_type\":\"free\",\"url\":\"/dashboard/th4-kf6-2wb/test-createanewdashboardwithfreetextwidget-1731611542\",\"is_read_only\":false,\"template_variables\":[],\"widgets\":[{\"definition\":{\"color\":\"#4d4d4d\",\"font_size\":\"auto\",\"text\":\"Example free text\",\"text_align\":\"left\",\"type\":\"free_text\"},\"layout\":{\"height\":6,\"width\":24,\"x\":0,\"y\":0},\"id\":3975450487298464}],\"notify_list\":[],\"created_at\":\"2024-11-14T19:12:22.794244+00:00\",\"modified_at\":\"2024-11-14T19:12:22.794244+00:00\",\"restricted_roles\":[]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 187
      },
      {
        "_id": "ad7f9aa94e4dcc4ac04f4dbaffe05435",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/th4-kf6-2wb"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 39,
            "text": "{\"deleted_dashboard_id\":\"th4-kf6-2wb\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 171
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
