{
  "log": {
    "_recordingName": "Dashboards/Create a new dashboard with free_text widget",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "97a3e6dda9e0ead6548098a4b6fb3859",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"description\":null,\"is_read_only\":false,\"layout_type\":\"free\",\"notify_list\":[],\"template_variables\":[],\"title\":\"Test-Create_a_new_dashboard_with_free_text_widget-1641430232\",\"widgets\":[{\"definition\":{\"color\":\"#4d4d4d\",\"font_size\":\"auto\",\"text\":\"Example free text\",\"text_align\":\"left\",\"type\":\"free_text\"},\"layout\":{\"height\":6,\"width\":24,\"x\":0,\"y\":0}}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 652,
            "text": "{\"notify_list\":[],\"description\":null,\"restricted_roles\":[],\"author_name\":null,\"template_variables\":[],\"is_read_only\":false,\"id\":\"d55-4cs-38k\",\"title\":\"Test-Create_a_new_dashboard_with_free_text_widget-1641430232\",\"url\":\"/dashboard/d55-4cs-38k/test-createanewdashboardwithfreetextwidget-1641430232\",\"created_at\":\"2022-01-06T00:50:32.631852+00:00\",\"modified_at\":\"2022-01-06T00:50:32.631852+00:00\",\"author_handle\":\"frog@datadoghq.com\",\"widgets\":[{\"definition\":{\"color\":\"#4d4d4d\",\"text\":\"Example free text\",\"font_size\":\"auto\",\"text_align\":\"left\",\"type\":\"free_text\"},\"layout\":{\"y\":0,\"width\":24,\"x\":0,\"height\":6},\"id\":5625839222691607}],\"layout_type\":\"free\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 205
      },
      {
        "_id": "3c7f171899e25246db3a03bac840bec3",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/d55-4cs-38k"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 38,
            "text": "{\"deleted_dashboard_id\":\"d55-4cs-38k\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 230
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
