{
  "log": {
    "_recordingName": "Usage Metering/Get hourly usage for Synthetics Browser Checks returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "81a7a11e4a239d2dedbf480594a7cfaa",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "start_hr",
              "value": "2022-03-29T00:41:28.391Z"
            },
            {
              "name": "end_hr",
              "value": "2022-03-27T00:41:28.391Z"
            }
          ],
          "url": "https://api.datadoghq.com/api/v1/usage/synthetics_browser?start_hr=2022-03-29T00%3A41%3A28.391Z&end_hr=2022-03-27T00%3A41%3A28.391Z"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 78,
            "text": "{\"errors\": [\"start_hr [YYYY-MM-DDThh] must be before end_hr [YYYY-MM-DDThh]\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 101
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
