{
  "log": {
    "_recordingName": "Metrics/Update a tag indexing rule with exclude-mode tag usage fields returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "f0d3968b16ff0e94a612081b885ec128",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"exclude_tags_mode\":true,\"metric_name_matches\":[\"dd.TestUpdateatagindexingrulewithexcludemodetagusagefieldsreturnsOKresponse1784555244.*\"],\"name\":\"TestUpdateatagindexingrulewithexcludemodetagusagefieldsreturnsOKresponse1784555244\",\"tags\":[\"env\",\"service\"]},\"type\":\"tag_indexing_rules\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/metrics/tag-indexing-rules"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 673,
            "text": "{\"data\":{\"id\":\"e4a507ac-ee83-439b-bf65-72d162150e3c\",\"type\":\"tag_indexing_rules\",\"attributes\":{\"created_at\":\"2026-07-20T13:47:24.568418Z\",\"created_by_handle\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\",\"exclude_tags_mode\":true,\"metric_name_matches\":[\"dd.TestUpdateatagindexingrulewithexcludemodetagusagefieldsreturnsOKresponse1784555244.*\"],\"modified_at\":\"2026-07-20T13:47:24.568418Z\",\"modified_by_handle\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\",\"name\":\"TestUpdateatagindexingrulewithexcludemodetagusagefieldsreturnsOKresponse1784555244\",\"options\":{\"version\":1,\"data\":{\"override_previous_rules\":false,\"manage_preexisting_metrics\":true}},\"rule_order\":1,\"tags\":[\"env\",\"service\"]}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 96
      },
      {
        "_id": "428bd6d0cb77741192c38e398e4f6f69",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"exclude_tags_mode\":true,\"ignored_metric_name_matches\":[],\"metric_name_matches\":[\"dd.test.*\"],\"name\":\"my-indexing-rule\",\"options\":{\"data\":{\"dynamic_tags\":{\"exclude_not_queried_window_seconds\":7200,\"exclude_not_used_in_assets\":true},\"manage_preexisting_metrics\":true,\"override_previous_rules\":false},\"version\":1},\"rule_order\":2,\"tags\":[\"env\",\"service\"]},\"type\":\"tag_indexing_rules\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/metrics/tag-indexing-rules/e4a507ac-ee83-439b-bf65-72d162150e3c"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 655,
            "text": "{\"data\":{\[...]
