{
  "log": {
    "_recordingName": "Key Management/Edit an API key returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "0a596a65f6a2ada7defc61f087f45f8b",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Edit_an_API_key_returns_OK_response-1652349128\"},\"type\":\"api_keys\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/api_keys"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 519,
            "text": "{\"data\":{\"type\":\"api_keys\",\"attributes\":{\"created_at\":\"2022-05-12T09:52:08.958834+00:00\",\"key\":\"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\"last4\":\"xxxx\",\"modified_at\":\"2022-05-12T09:52:08.958834+00:00\",\"name\":\"Test-Edit_an_API_key_returns_OK_response-1652349128\"},\"relationships\":{\"created_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}},\"modified_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}},\"leak_information\":{\"data\":null}},\"id\":\"929dfb7c-2309-46b4-bdfe-998dc339f2db\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 530
      },
      {
        "_id": "633b12ae235c38572bbc4eb6d58185ae",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Edit_an_API_key_returns_OK_response-165[...]
