{
  "log": {
    "_recordingName": "Key Management/Edit an API key returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "75cd60dbbb34fe68854439d2e45d4cd3",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Edit_an_API_key_returns_OK_response-1639757117\"},\"type\":\"api_keys\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/api_keys"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 486,
            "text": "{\"data\":{\"type\":\"api_keys\",\"attributes\":{\"created_at\":\"2021-12-17T16:05:17.966485+00:00\",\"key\":\"dead4087c6b3d1ae4b5e22e77a98beef\",\"last4\":\"beef\",\"modified_at\":\"2021-12-17T16:05:17.966485+00:00\",\"name\":\"Test-Edit_an_API_key_returns_OK_response-1639757117\"},\"relationships\":{\"created_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}},\"modified_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}}},\"id\":\"cb7af5ff-e3ed-53a2-b519-eae7c2b47468\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 476
      },
      {
        "_id": "3f69fb6a93f9caef244ff86489081bf3",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"type\":\"api_keys\",\"id\":\"cb7af5ff-e3ed-53a2-b519-eae7c2b47468\",\[...]
