{
  "log": {
    "_recordingName": "Workflow Automation/Get an existing Workflow returns \"Successfully got a workflow.\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ef58c8e58d44f74157350d8c01ffa21c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Cassette Workflow x-given\",\"spec\":{\"steps\":[{\"actionId\":\"com.datadoghq.core.noop\",\"name\":\"No_op\"}],\"triggers\":[{\"startStepNames\":[\"No_op\"],\"workflowTrigger\":{}}]}},\"type\":\"workflows\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/workflows"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 581,
            "text": "{\"data\":{\"id\":\"a58f6f71-bb8b-4d10-af43-2761c7012291\",\"type\":\"workflows\",\"attributes\":{\"createdAt\":\"2025-05-20T19:25:37.416449Z\",\"description\":\"\",\"name\":\"Cassette Workflow x-given\",\"published\":true,\"spec\":{\"triggers\":[{\"startStepNames\":[\"No_op\"],\"workflowTrigger\":{}}],\"steps\":[{\"name\":\"No_op\",\"actionId\":\"com.datadoghq.core.noop\"}]},\"systemTags\":null,\"tags\":[],\"updatedAt\":\"2025-05-20T19:25:37.416449Z\"},\"relationships\":{\"creator\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}},\"owner\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 219
      },
      {
        "_id": "8b4d666b2b06536525793169b0c7db34",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/workflows/a58f6f71-bb8b-4d10-af43-2761c7012291"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 581,
            "text": "{\"data\":{\"id\":\"a58f6f71-bb8b-4d10-af43-2761c7012291\",\"[...]
