{
  "log": {
    "_recordingName": "Action Connection/Unregister an App Key returns \"Not found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "7b163b7fbb447e2c7b7208135e7bcfad",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/actions/app_key_registrations/57cc69ae-9214-4ecc-8df8-43ecc1d92d99"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 43,
            "text": "{\"errors\":[{\"detail\":\"app key not found\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 87
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
