{
  "log": {
    "_recordingName": "Metrics/List tag indexing rules for a metric returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "2432d1d787a5c04b981cccd99c379d5d",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/metrics/1invalid/tag-indexing-rules"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 129,
            "text": "{\"errors\":[\"Invalid metric name: metric name must start with a letter and only contain letters, numbers, dots, and underscores\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 48
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
