{
  "log": {
    "_recordingName": "Case Management Attribute/Create custom attribute config for a case type returns \"Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "0bbaaa9315bac6242156208fa76eeb5a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"display_name\":\"AWS Region 17569771-0000-0000-0000-175697711700\",\"is_multi\":true,\"key\":\"region_ea84cf4349d82f7c\",\"type\":\"NUMBER\"},\"type\":\"custom_attribute\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/cases/types/9fd476d7-a955-454a-851d-980c655c02d3/custom_attributes"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 72,
            "text": "{\"errors\":[{\"code\":\"resource_not_found\",\"title\":\"case_type not found\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 390
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
