{
  "log": {
    "_recordingName": "Cloud Cost Management/Get ruleset returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "0231df81f41f2201958d0ae49fd6ffab",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/tags/enrichment/da0e30e2-615d-4dae-9a22-38cf86a87dde"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 601,
            "text": "{\"data\":{\"id\":\"da0e30e2-615d-4dae-9a22-38cf86a87dde\",\"type\":\"ruleset\",\"attributes\":{\"created\":{\"seconds\":1757616255,\"nanos\":64603000},\"enabled\":true,\"last_modified_user_uuid\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"modified\":{\"seconds\":1757616255,\"nanos\":64603000},\"name\":\"New Ruleset\",\"position\":1,\"rules\":[{\"name\":\"Add Cost Center Tag\",\"enabled\":true,\"query\":{\"query\":\"account_id:\\\"123456789\\\" AND service:\\\"web-api\\\"\",\"addition\":{\"key\":\"cost_center\",\"value\":\"engineering\"},\"if_not_exists\":true,\"case_insensitivity\":false},\"mapping\":null,\"reference_table\":null,\"metadata\":null}],\"version\":3601897}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 162
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
