{
  "log": {
    "_recordingName": "Security Monitoring/Cancel a historical job returns \"Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "e39b14a977fad872956237286fee579e",
        "request": {
          "headers": [
          ],
          "method": "PATCH",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/siem-threat-hunting/jobs/8e2a37fb-b0c8-4761-a7f0-0a8d6a98ba93/cancel"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 50,
            "text": "{\"errors\":[{\"status\":\"404\",\"detail\":\"Not Found\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 101
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
