{
  "log": {
    "_recordingName": "Apps/Delete Multiple Apps returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "22a58f2f29df4405aa099552c247b75e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "DELETE",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":[{\"id\":\"71c0d358-eac5-41e3-892d-a7467571b9b\",\"type\":\"appDefinitions\"},{\"id\":\"71c0d358-eac5-41e3-892d-a7467571b9b0\",\"type\":\"appDefinitions\"},{\"id\":\"98e7e44d-1562-474a-90f7-3a94e739c006\",\"type\":\"appDefinitions\"}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/app-builder/apps"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 86,
            "text": "{\"errors\":[{\"status\":\"400\",\"title\":\"Bad Request\",\"detail\":\"invalid UUID length: 35\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 85
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
