{
  "log": {
    "_recordingName": "Monitors/Create a monitor configuration policy returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "e77611dca660703743379e193a479c7e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"policy\":{\"tag_key\":\"datacenter\",\"tag_key_required\":true,\"valid_tag_values\":[\"prod\",\"staging\"]},\"policy_type\":\"INVALID\"},\"type\":\"monitor-config-policy\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/monitor/policy"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 78,
            "text": "{\"errors\":[\"Value of parameter 'policy_type' should be any of these ['tag']\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 142
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
