{
  "log": {
    "_recordingName": "Usage Metering/Get hourly usage for IoT returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "bd67b8df49232c1444304716c4d749c1",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "start_hr",
              "value": "2022-01-26T09:34:28.357Z"
            },
            {
              "name": "end_hr",
              "value": "2022-01-28T09:34:28.357Z"
            }
          ],
          "url": "https://api.datadoghq.com/api/v1/usage/iot?start_hr=2022-01-26T09%3A34%3A28.357Z&end_hr=2022-01-28T09%3A34%3A28.357Z"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 7403,
            "text": "{\"usage\":[{\"org_name\":\"DD Integration Tests (321813)\",\"iot_device_count\":0,\"iot_device_tag\":null,\"public_id\":\"fasjyydbcgwwc2uc\",\"hour\":\"2022-01-26T09:00:00+00:00\"},{\"org_name\":\"DD Integration Tests (321813)\",\"iot_device_count\":0,\"iot_device_tag\":null,\"public_id\":\"fasjyydbcgwwc2uc\",\"hour\":\"2022-01-26T10:00:00+00:00\"},{\"org_name\":\"DD Integration Tests (321813)\",\"iot_device_count\":0,\"iot_device_tag\":null,\"public_id\":\"fasjyydbcgwwc2uc\",\"hour\":\"2022-01-26T11:00:00+00:00\"},{\"org_name\":\"DD Integration Tests (321813)\",\"iot_device_count\":0,\"iot_device_tag\":null,\"public_id\":\"fasjyydbcgwwc2uc\"[...]
