{
  "log": {
    "_recordingName": "Monitors/Delete a monitor notification rule returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "20076d86d454dec73303ce911dbb1c33",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"filter\":{\"tags\":[\"app:test-delete_a_monitor_notification_rule_returns_ok_response-1743786634\"]},\"name\":\"test rule\",\"recipients\":[\"slack-monitor-app\"]},\"type\":\"monitor-notification-rule\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/monitor/notification_rule"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 400,
            "text": "{\"data\":{\"type\":\"monitor-notification-rule\",\"id\":\"93faf8a4-881a-47e7-8d74-6ad37e702a57\",\"attributes\":{\"recipients\":[\"slack-monitor-app\"],\"created_at\":\"2025-04-04T17:10:35.016562+00:00\",\"creator_uuid\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"name\":\"test rule\",\"filter\":{\"tags\":[\"app:test-delete_a_monitor_notification_rule_returns_ok_response-1743786634\"]},\"modified_at\":\"1970-01-01T00:00:00+00:00\"}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 195
      },
      {
        "_id": "26f01575f0b798c2e8009be1ea810d11",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/monitor/notification_rule/93faf8a4-881a-47e7-8d74-6ad37e702a57"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=utf-8",
            "size": 0
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=utf-8"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 195
      },
      {
        "_id": "26f01575f0b798c2e8009be1ea810d11",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/monitor/notification_rule/93faf8a4-881a-47e7-8d74-6ad37e702a57"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 50,
            "text": "{\"errors\":[\"Monitor notification rule not found\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 123
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
