{
  "log": {
    "_recordingName": "CSM Threats/Batch update CSM Threats Agent policies returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "e7216546f5babea861528f8b354c3e42",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"description\":\"My agent policy\",\"enabled\":true,\"hostTags\":[\"env:staging\"],\"name\":\"testbatchupdatecsmthreatsagentpoliciesreturnsokresponse1743170330\"},\"type\":\"policy\"}}"
          },
          "queryString": [],
          "url": "https://api.datad0g.com/api/v2/remote_config/products/cws/policy"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 470,
            "text": "{\"data\":{\"id\":\"x3a-rp1-wuf\",\"type\":\"policy\",\"attributes\":{\"blockingRulesCount\":0,\"datadogManaged\":false,\"description\":\"My agent policy\",\"disabledRulesCount\":1,\"enabled\":true,\"hostTags\":[\"env:staging\"],\"monitoringRulesCount\":225,\"name\":\"testbatchupdatecsmthreatsagentpoliciesreturnsokresponse1743170330\",\"policyVersion\":\"1\",\"priority\":1000000026,\"ruleCount\":226,\"updateDate\":1743170330738,\"updater\":{\"name\":\"Quentin Guillard\",\"handle\":\"quentin.guillard@datadoghq.com\"}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 507
      },
      {
        "_id": "a3fa2b6b6a8c847617b2252be74090ca",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"policies\":[{\"delete\":false,\"description\":\"Updated agent policy\",\"enabled\":true,\"hostTags\":[\"env:test\"],\"id\":\"x3a-rp1-wuf\",\"name\":\"updated_agent_policy\",\"priority\":20}]},\"id\":\"batch_update_req\",\"type\":\"policies\"}}"
          },
          "queryString": [],
          "url": "https://api.datad0g.com/api/v2/remote_config/products/cws/policy"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 421,
            "text": "{\"data[...]
