{
  "log": {
    "_recordingName": "Software Catalog/Create or update software catalog entity using schema v3 returns \"ACCEPTED\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "157cdf92b46b9d9a7f73541427fce157",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"apiVersion\":\"v3\",\"datadog\":{\"codeLocations\":[{\"paths\":[]}],\"events\":[{}],\"logs\":[{}],\"performanceData\":{\"tags\":[]},\"pipelines\":{\"fingerprints\":[]}},\"integrations\":{\"opsgenie\":{\"serviceURL\":\"https://www.opsgenie.com/service/shopping-cart\"},\"pagerduty\":{\"serviceURL\":\"https://www.pagerduty.com/service-directory/Pshopping-cart\"}},\"kind\":\"service\",\"metadata\":{\"additionalOwners\":[],\"contacts\":[{\"contact\":\"https://slack/\",\"type\":\"slack\"}],\"id\":\"4b163705-23c0-4573-b2fb-f6cea2163fcb\",\"inheritFrom\":\"application:default/myapp\",\"links\":[{\"name\":\"mylink\",\"type\":\"link\",\"url\":\"https://mylink\"}],\"name\":\"service-testcreateorupdatesoftwarecatalogentityusingschemav3returnsacceptedresponse1724786638\",\"tags\":[\"this:tag\",\"that:tag\"]},\"spec\":{\"dependsOn\":[],\"languages\":[]}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/catalog/entity"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 1532,
            "text": "{\"data\":[{\"id\":\"4806b73a-3a45-48bf-bd44-0d68fb5aa96a\",\"type\":\"entity\",\"attributes\":{\"apiVersion\":\"v3\",\"kind\":\"service\",\"name\":\"service-testcreateorupdatesoftwarecatalogentityusingschemav3returnsacceptedresponse1724786638\",\"namespace\":\"default\",\"tags\":[\"this:tag\",\"that:tag\"]},\"relationships\":{\"schema\":{\"data\":{\"id\":\"4806b73a-3a45-48bf-bd44-0d68fb5aa96a\",\"type\":\"schema\"}}},\"meta\":{\"createdAt\":\"2024-08-27T19:23:58.355389417Z\",\"modifiedAt\":\"2024-08-27T19:23:58.355389228Z\",\"ingestionSource\":\"api\",\"origin\":\"unknown\"}}],\"meta\":{\"count\":1,\"includeCount\":1},\"included\":[{\"id\":\"4806b73a-3a45-48bf-bd44-0d68fb5aa96a\",\"type\":\"schema\",\"attributes\":{\"schema\":{\"apiVersion\":\"v3\",\"kind\":\"service\",\"metadata\":{\"name\":\"service-testcreateorupdatesoftwarecatalogentityusingschemav3returnsacceptedresponse1724786638\",\"namespace\":\"default\",\"inheritFrom\":\"application:default/myapp\",\"tags\":[\"this:tag\",\"that:tag\"],\"links\":[{\"name\":\"mylink\",\"type\":\"link\",\"url\":\"https://mylink\"}],\"contacts\":[{\"type\":\"slack\",\"contact\":\"https://slack/\"}],\"managed\":{\"origin\":{\"origin\":\"unknown\"},\"ingestionSource\":\"api\",\"createdAt\":\"2024-08-27T19:23:58.355389417Z\",\"modifiedAt\":\"2024-08-27T19:23:58.355389228Z\"}},\"integrations\":{\"pagerduty\":{\"serviceURL\":\"https://www.pagerduty.com/service-directory/Pshopping-cart\"},\"opsgenie\":{\"serviceURL\":\"https://www.opsgenie.com/service/shopping-cart\"}},\"datadog\":{\"performanceData\":{\"tags\":[]},\"events\":[{\"name\":\"\",\"query\":\"\"}],\"logs\":[{\"name\":\"\",\"query\":\"\"}],\"pipelines\":{\"fingerprints\":[]},\"codeLocations\":[{}]},\"spec\":{}}}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 202,
          "statusText": "Accepted"
        },
        "time": 344
      },
      {
        "_id": "280bf1f1c274d1a3637955f3581e8a30",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/catalog/entity/4806b73a-3a45-48bf-bd44-0d68fb5aa96a"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 0
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 346
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
