{
  "log": {
    "_recordingName": "Downtimes/Update a downtime returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "ee0d0ee96a3391e723a25b9d84e25ac7",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"end\":1684769834,\"message\":\"Test-Update_a_downtime_returns_OK_response-1684766234\",\"recurrence\":{\"period\":1,\"type\":\"weeks\",\"until_date\":1686580634,\"week_days\":[\"Mon\",\"Tue\",\"Wed\",\"Thu\",\"Fri\"]},\"scope\":[\"test:testupdateadowntimereturnsokresponse1684766234\"],\"start\":1684766234,\"timezone\":\"Etc/UTC\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/downtime"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 757,
            "text": "{\"id\":2941982639,\"monitor_id\":null,\"org_id\":321813,\"start\":1684766234,\"end\":1684769834,\"canceled\":null,\"created\":1684766235,\"modified\":1684766235,\"message\":\"Test-Update_a_downtime_returns_OK_response-1684766234\",\"active\":true,\"disabled\":false,\"recurrence\":{\"type\":\"weeks\",\"period\":1,\"week_days\":[\"Mon\",\"Tue\",\"Wed\",\"Thu\",\"Fri\"],\"until_occurrences\":null,\"until_date\":1686580634},\"timezone\":\"Etc/UTC\",\"parent_id\":null,\"child_id\":null,\"creator_id\":1445416,\"updater_id\":null,\"downtime_type\":2,\"status\":\"active\",\"monitor_tags\":[\"*\"],\"mute_first_recovery_notification\":false,\"notify_end_types\":[\"expired\"],\"notify_end_states\":[\"alert\",\"no data\",\"warn\"],\"uuid\":\"25399c6e-f8ae-11ed-b261-da7ad0900002\",\"scope\":[\"test:testupdateadowntimereturnsokresponse1684766234\"]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 463
      },
      {
        "_id": "9b51dac2b9184cddecd8ccc9773413ee",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"message\":\"Test-Update_a_downtime_returns_OK_response-1684766234-updated\",\"mut[...]
