{
  "log": {
    "_recordingName": "Downtimes/Update a downtime returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "ad3fad4c6f9004757bce7d547ab86773",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"message\":\"Test-Update_a_downtime_returns_OK_response-1633076913\",\"recurrence\":{\"period\":1,\"type\":\"weeks\",\"until_date\":1634891313,\"week_days\":[\"Mon\",\"Tue\",\"Wed\",\"Thu\",\"Fri\"]},\"scope\":[\"test:testupdateadowntimereturnsokresponse1633076913\"],\"start\":1633076913,\"timezone\":\"Etc/UTC\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/downtime"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 567,
            "text": "{\"recurrence\":{\"until_date\":1634891313,\"until_occurrences\":null,\"week_days\":[\"Mon\",\"Tue\",\"Wed\",\"Thu\",\"Fri\"],\"type\":\"weeks\",\"period\":1},\"end\":null,\"monitor_tags\":[\"*\"],\"child_id\":null,\"canceled\":null,\"monitor_id\":null,\"created\":1633076913,\"org_id\":321813,\"modified\":1633076913,\"disabled\":false,\"start\":1633076913,\"creator_id\":1445416,\"parent_id\":null,\"timezone\":\"Etc/UTC\",\"active\":true,\"scope\":[\"test:testupdateadowntimereturnsokresponse1633076913\"],\"message\":\"Test-Update_a_downtime_returns_OK_response-1633076913\",\"downtime_type\":2,\"id\":1477730827,\"updater_id\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 62
      },
      {
        "_id": "643ad6b4306b0d73af668353203adb00",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"message\":\"Test-Update_a_downtime_returns_OK_response-1633076913-updated\"}"
    [...]
