{
  "log": {
    "_recordingName": "Downtimes/Update a downtime returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "8e0209d1c924a7e5f3f2ec810cc882fc",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"message\":\"Test-Update_a_downtime_returns_OK_response-1652349003\",\"recurrence\":{\"period\":1,\"type\":\"weeks\",\"until_date\":1654163403,\"week_days\":[\"Mon\",\"Tue\",\"Wed\",\"Thu\",\"Fri\"]},\"scope\":[\"test:testupdateadowntimereturnsokresponse1652349003\"],\"start\":1652349003,\"timezone\":\"Etc/UTC\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/downtime"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 608,
            "text": "{\"recurrence\":{\"until_date\":1654163403,\"until_occurrences\":null,\"week_days\":[\"Mon\",\"Tue\",\"Wed\",\"Thu\",\"Fri\"],\"type\":\"weeks\",\"period\":1},\"end\":null,\"monitor_tags\":[\"*\"],\"child_id\":null,\"canceled\":null,\"monitor_id\":null,\"mute_first_recovery_notification\":false,\"created\":1652349004,\"org_id\":321813,\"modified\":1652349004,\"disabled\":false,\"start\":1652349003,\"creator_id\":1445416,\"parent_id\":null,\"timezone\":\"Etc/UTC\",\"active\":true,\"scope\":[\"test:testupdateadowntimereturnsokresponse1652349003\"],\"message\":\"Test-Update_a_downtime_returns_OK_response-1652349003\",\"downtime_type\":2,\"id\":1944162328,\"updater_id\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 418
      },
      {
        "_id": "0d067bc17d116b42ed52135377cf458c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"message\":\"Test-Update_a_downtime_returns_OK_response-1652349003-updated\",\"mut[...]
