{
  "log": {
    "_recordingName": "Downtimes/Update a downtime returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "1819a6715d02ab884f57f329fa23d210",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"message\":\"Test-Update_a_downtime_returns_OK_response-1641829817\",\"recurrence\":{\"period\":1,\"type\":\"weeks\",\"until_date\":1643644217,\"week_days\":[\"Mon\",\"Tue\",\"Wed\",\"Thu\",\"Fri\"]},\"scope\":[\"test:testupdateadowntimereturnsokresponse1641829817\"],\"start\":1641829817,\"timezone\":\"Etc/UTC\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/downtime"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 567,
            "text": "{\"recurrence\":{\"until_date\":1643644217,\"until_occurrences\":null,\"week_days\":[\"Mon\",\"Tue\",\"Wed\",\"Thu\",\"Fri\"],\"type\":\"weeks\",\"period\":1},\"end\":null,\"monitor_tags\":[\"*\"],\"child_id\":null,\"canceled\":null,\"monitor_id\":null,\"created\":1641829817,\"org_id\":321813,\"modified\":1641829817,\"disabled\":false,\"start\":1641829817,\"creator_id\":1445416,\"parent_id\":null,\"timezone\":\"Etc/UTC\",\"active\":true,\"scope\":[\"test:testupdateadowntimereturnsokresponse1641829817\"],\"message\":\"Test-Update_a_downtime_returns_OK_response-1641829817\",\"downtime_type\":2,\"id\":1672791380,\"updater_id\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 381
      },
      {
        "_id": "752a996a3e3031383e1fa2ce12057365",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"message\":\"Test-Update_a_downtime_returns_OK_response-1641829817-updated\"}"
   [...]
