{
  "log": {
    "_recordingName": "AWS Integration/List namespaces returns \"AWS Namespaces List object\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "d0ec7736ef6cd07133904a5c3a301d0e",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integration/aws/available_namespaces"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 1896,
            "text": "{\"data\":{\"id\":\"namespaces\",\"type\":\"namespaces\",\"attributes\":{\"namespaces\":[\"AWS/ApiGateway\",\"AWS/AppRunner\",\"AWS/AppStream\",\"AWS/AppSync\",\"AWS/ApplicationELB\",\"AWS/Athena\",\"AWS/AutoScaling\",\"AWS/Backup\",\"AWS/Bedrock\",\"AWS/Billing\",\"AWS/Budgeting\",\"AWS/CertificateManager\",\"AWS/ELB\",\"AWS/CloudFront\",\"AWS/CloudHSM\",\"AWS/CloudSearch\",\"AWS/Logs\",\"AWS/CodeBuild\",\"AWS/CodeWhisperer\",\"AWS/Cognito\",\"AWS/Config\",\"AWS/Connect\",\"AWS/DMS\",\"AWS/DX\",\"AWS/DocDB\",\"AWS/DynamoDB\",\"AWS/DAX\",\"AWS/EC2\",\"AWS/EC2/API\",\"AWS/EC2/Infras[...]
