{
  "log": {
    "_recordingName": "Metrics/Delete a tag indexing rule returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "17f13b299af9cd74b18f94dec960708c",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/metrics/tag-indexing-rules/not-a-valid-uuid"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 50,
            "text": "{\"errors\":[\"Invalid tag indexing rule ID format\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 53
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
