{
  "log": {
    "_recordingName": "Usage Metering/Get hourly usage for Online Archive returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "3d1fead12204f2cd8c2ae453d65bd04b",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "start_hr",
              "value": "2022-03-05T15:58:31.986Z"
            },
            {
              "name": "end_hr",
              "value": "2022-03-03T15:58:31.986Z"
            }
          ],
          "url": "https://api.datadoghq.com/api/v1/usage/online-archive?start_hr=2022-03-05T15%3A58%3A31.986Z&end_hr=2022-03-03T15%3A58%3A31.986Z"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 78,
            "text": "{\"errors\": [\"start_hr [YYYY-MM-DDThh] must be before end_hr [YYYY-MM-DDThh]\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 569
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
