{
  "log": {
    "_recordingName": "Key Management/Get all API keys returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "90083ac7ca8ccec603305ffe8fecdf57",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Get_all_API_keys_returns_OK_response-1757323483\"},\"type\":\"api_keys\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/api_keys"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 576,
            "text": "{\"data\":{\"type\":\"api_keys\",\"attributes\":{\"created_at\":\"2025-09-08T09:24:43.558793+00:00\",\"key\":\"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\"last4\":\"xxxx\",\"modified_at\":\"2025-09-08T09:24:43.558793+00:00\",\"remote_config_read_enabled\":true,\"category\":\"default\",\"name\":\"Test-Get_all_API_keys_returns_OK_response-1757323483\"},\"relationships\":{\"created_by\":{\"data\":{\"type\":\"users\",\"id\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\"}},\"modified_by\":{\"data\":{\"type\":\"users\",\"id\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\"}},\"leak_information\":{\"data\":null}},\"id\":\"84dbd164-f3f5-4f30-ac93-e12b27adeada\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 254
      },
      {
        "_id": "86e00eff1948a650c00d313d3d7adb65",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "filter",
              "value": "Test-Get_all_API_keys_returns_OK_response-1757323483"
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/api_keys?filter=Test-Get_all_API_keys_returns_OK_response-1757323483"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 797,
            "text": "{\"data\":[{\"type\":\"api_keys\",\"attributes\":{\"created_at\":\"2025-09-08T09:24:43.558793+00:00\",\"last4\":\"xxxx\",\"modified_at\":\"2025-09-08T09:24:43.558793+00:00\",\"remote_config_read_enabled\":true,\"category\":\"default\",\"name\":\"Test-Get_all_API_keys_returns_OK_response-1757323483\",\"date_last_used\":null,\"used_in_last_24_hours\":false,\"last_used_date\":{\"timestamp\":null,\"description\":\"Timestamp of when this key was last used in the past ninety (90) days, null if no recent usage\"}},\"relationships\":{\"created_by\":{\"data\":{\"type\":\"users\",\"id\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\"}},\"modified_by\":{\"data\":{\"type\":\"users\",\"id\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\"}},\"leak_information\":{\"data\":null}},\"id\":\"84dbd164-f3f5-4f30-ac93-e12b27adeada\"}],\"meta\":{\"page\":{\"total_filtered_count\":1},\"max_allowed\":200}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 2911
      },
      {
        "_id": "11bc9eeda00688ea722ff8f540af646e",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/api_keys/84dbd164-f3f5-4f30-ac93-e12b27adeada"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=utf-8",
            "size": 0
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=utf-8"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 186
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
