{
  "log": {
    "_recordingName": "Key Management/Get all API keys returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "ab41fb1c4b350b671818d98c2cf9d42b",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Get_all_API_keys_returns_OK_response-1639757122\"},\"type\":\"api_keys\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/api_keys"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 487,
            "text": "{\"data\":{\"type\":\"api_keys\",\"attributes\":{\"created_at\":\"2021-12-17T16:05:23.095699+00:00\",\"key\":\"3b2f914da1feb5a9e12fc51683dd7479\",\"last4\":\"beef\",\"modified_at\":\"2021-12-17T16:05:23.095699+00:00\",\"name\":\"Test-Get_all_API_keys_returns_OK_response-1639757122\"},\"relationships\":{\"created_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}},\"modified_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}}},\"id\":\"427970f0-27c3-5692-8429-f44151d40394\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 485
      },
      {
        "_id": "ce084ff57e8afe2a8cb179e2195dd4f6",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "filter",
              "value": "Test-Get_all_API_keys_returns_OK_response-1639757122"
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/api_keys?filter=Test-Get_all_API_keys_returns_OK_response-1639757122"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 509,
            "text": "{\"meta\":{\"max_allowed\":200,\"page\":{\"total_filtered_count\":1}},\"data\":[{\"type\":\"api_keys\",\"attributes\":{\"created_at\":\"2021-12-17T16:05:23.095699+00:00\",\"last4\":\"beef\",\"modified_at\":\"2021-12-17T16:05:23.095699+00:00\",\"name\":\"Test-Get_all_API_keys_returns_OK_response-1639757122\"},\"relationships\":{\"created_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}},\"modified_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}}},\"id\":\"427970f0-27c3-5692-8429-f44151d40394\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 818
      },
      {
        "_id": "e5adab1e0adb1b12626a330f4cc4e275",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/api_keys/427970f0-27c3-5692-8429-f44151d40394"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 469
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
