{
  "log": {
    "_recordingName": "Service Scorecards/Create outcomes batch returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "683e3e18df8f80f46a98783b6edcde56",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"enabled\":true,\"name\":\"Test-Create_outcomes_batch_returns_Bad_Request_response-1698959951\",\"owner\":\"Datadog\",\"scorecard_name\":\"OpenAPI Spec Test Best Practices\"},\"type\":\"rule\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/scorecard/rules"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 469,
            "text": "{\"data\":{\"id\":\"0451feb1-fb1b-463f-ba02-4568feb2795b\",\"type\":\"rule\",\"attributes\":{\"category\":\"OpenAPI Spec Test Best Practices\",\"created_at\":\"2023-11-02T21:19:11.70524Z\",\"custom\":true,\"enabled\":true,\"modified_at\":\"2023-11-02T21:19:11.70524Z\",\"name\":\"Test-Create_outcomes_batch_returns_Bad_Request_response-1698959951\",\"owner\":\"Datadog\",\"scorecard_name\":\"OpenAPI Spec Test Best Practices\"},\"relationships\":{\"scorecard\":{\"data\":{\"id\":\"qsxpoYRhU_yz\",\"type\":\"scorecard\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 174
      },
      {
        "_id": "2a1929c33130ee727096db189661da3c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"results\":[{\"remarks\":\"See: <a href=\\\"https://app.datadoghq.com/services\\\">Services</a>\",\"rule_id\":\"0451feb1-fb1b-463f-ba02-4568feb2795b\",\"service_name\":\"\",\"state\":\"pass\"}]},\"type\":\"batched-outcome\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/scorecard/outcomes/batch"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 101,
            "text": "{\"errors\":[{\"status\":\"400\",\"title\":\"Bad Request\",\"detail\":\"attribute \\\"service_name\\\" is required\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 101
      },
      {
        "_id": "8b77963a1a9fc415d89984227b4228ee",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/scorecard/rules/0451feb1-fb1b-463f-ba02-4568feb2795b"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 0
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 158
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
