{
  "log": {
    "_recordingName": "Security Monitoring/Create or update an indicator triage state returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "61fd0efb7a2354b5c2dc4bbb1626c3cb",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"indicator\":\"192.0.2.1\",\"triage_state\":\"invalid_state\"},\"type\":\"ioc_triage_state\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/security/siem/ioc-explorer/triage"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 70,
            "text": "{\"errors\":[{\"title\":\"Generic Error\",\"detail\":\"invalid triage_state\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 351
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
