{
  "log": {
    "_recordingName": "Incidents/Get a list of incidents returns \"OK\" response with pagination",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "aba6526742f5a5c39183fb48dba4d4fa",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page",
              "value": {
                "size": "2"
              }
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/incidents?page%5Bsize%5D=2"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 4312,
            "text": "{\"meta\":{\"pagination\":{\"size\":2,\"next_offset\":2,\"offset\":0}},\"data\":[{\"type\":\"incidents\",\"id\":\"ed3ff75e-6ce6-5b00-8ab4-665fcaeda9f8\",\"attributes\":{\"public_id\":62105,\"title\":\"Test-Ruby-Get_the_details_of_an_incident_returns_OK_response-1631710219\",\"resolved\":null,\"customer_impact_scope\":null,\"customer_impact_start\":null,\"customer_impact_end\":null,\"customer_impacted\":false,\"notification_handles\":null,\"last_modified_by_uuid\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\",\"created\":\"2021-09-15T12:50:19.743510+00:00\",\"modified\":\"2021-09-15T12:50:19.743510+00:00\",\"detected\":\"2021-09-15T12:50:19.741188+00:00\",\"created_by_uuid\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\",\"creation_idempotency_key\":null,\"customer_impact_duration\":0,\"time_to_detect\":0,\"time_to_repair\":0,\"time_to_internal_response\":0,\"time_to_resolve\":0,\"fields\":{\"severity\":{\"type\":\"dropdown\",\"value\":\"UNKNOWN\"},\"detection_method\":{\"type\":\"dropdown\",\"value\":\"unknown\"},\"root_cause\":{\"type\":\"textbox\",\"value\":null},\"teams\":{\"type\":\"autocomplete\",\"value\":null},\"state\":{\"type\":\"dropdown\",\"value\":\"active\"},\"services\":{\"type\":\"autocomplete\",\"value\":null},\"summary\":{\"type\":\"textbox\",\"value\":null}},\"field_analytics\":null,\"severity\":\"UNKNOWN\",\"state\":\"active\",\"non_datadog_creator\":null,\"visibility\":null},\"relationships\":{\"created_by_user\":{\"data\":{\"type\":\"users\",\"id\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\"}},\"last_modified_by_user\":{\"data\":{\"type\":\"users\",\"id\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\"}},\"commander_user\":{\"data\":{\"type\":\"users\",\"id\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\"}},\"user_defined_fields\":{\"data\":[{\"type\":\"user_defined_field\",\"id\":\"4148ead2-da45-548e-b6be-8e319bafc425\"},{\"type\":\"user_defined_field\",\"id\":\"66b62f59-48f6-5fee-969a-0886b1db6dcd\"},{\"type\":\"user_defined_field\",\"id\":\"299616f7-8acd-5403-886b-991656d6b982\"},{\"type\":\"user_defined_field\",\"id\":\"ad2b9456-eaec-5bbd-9bae-e502d74e23f8\"},{\"type\":\"user_defined_field\",\"id\":\"d8a54f16-8b2a-5ab4-87b8-5f0fa575c83e\"},{\"type\":\"user_defined_field\",\"id\":\"623af0a5-f30c-577e-8146-09b8324bdb2d\"},{\"type\":\"user_defined_field\",\"id\":\"ccfc9e6c-f586-58e5-b502-03c466c72e6f\"}]},\"integrations\":{\"data\":[]},\"attachments\":{\"data\":[]},\"responders\":{\"data\":[]},\"impacts\":{\"data\":[]}}},{\"type\":\"incidents\",\"id\":\"00037f9b-dd47-5b21-bcf3-f8dd30e907da\",\"attributes\":{\"public_id\":62582,\"title\":\"Test-Get_a_list_of_incidents_returns_OK_response-1631884327\",\"resolved\":null,\"customer_impact_scope\":null,\"customer_impact_start\":null,\"customer_impact_end\":null,\"customer_impacted\":false,\"notification_handles\":null,\"last_modified_by_uuid\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"created\":\"2021-09-17T13:12:08.512729+00:00\",\"modified\":\"2021[...]
