{
  "log": {
    "_recordingName": "Agentless Scanning/Post GCP Scan Options returns \"Conflict\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "e60f404e4f1fe719af9d8d61a2bd95be",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"vuln_containers_os\":true,\"vuln_host_os\":true},\"id\":\"api-spec-test\",\"type\":\"gcp_scan_options\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/agentless_scanning/accounts/gcp"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 97,
            "text": "{\"errors\":[{\"status\":\"409\",\"detail\":\"gcp scan options already exist for project api-spec-test\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 409,
          "statusText": "Conflict"
        },
        "time": 425
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
