{
  "log": {
    "_recordingName": "Events/Post an event with a long title returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "e5770f963a3190385692cd3e9d64f334",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"tags\":[\"test:TestPostaneventwithalongtitlereturnsOKresponse1632816790\"],\"text\":\"A text message.\",\"title\":\"Test-Post_an_event_with_a_long_title_returns_OK_response-1632816790 very very very looooooooong looooooooooooong loooooooooooooooooooooong looooooooooooooooooooooooooong title with 100+ characters\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/events"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 536,
            "text": "{\"status\":\"ok\",\"event\":{\"id\":6183308802141975575,\"id_str\":\"6183308802141975575\",\"title\":\"Test-Post_an_event_with_a_long_title_returns_OK_response-1632816790 very very very looooooooong looooooooooooong loooooooooooooooooooooong looooooooooooooooooooooooooong title with 100+ characters\",\"text\":\"A text message.\",\"date_happened\":1632816790,\"handle\":null,\"priority\":null,\"related_event_id\":null,\"tags\":[\"test:TestPostaneventwithalongtitlereturnsOKresponse1632816790\"],\"url\":\"https://app.datadoghq.com/event/event?id=6183308802141975575\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 202,
          "statusText": "Accepted"
        },
        "time": 85,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
