{
  "log": {
    "_recordingName": "Rum Metrics/Update a rum-based metric returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "6f2ec2fa7b1a5a8a478f2d224beb5cb7",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"compute\":{\"aggregation_type\":\"distribution\",\"include_percentiles\":true,\"path\":\"@duration\"},\"event_type\":\"session\",\"filter\":{\"query\":\"source:Test-Update_a_rum_based_metric_returns_OK_response-1732807887\"},\"group_by\":[{\"path\":\"@browser.name\",\"tag_name\":\"browser_name\"}],\"uniqueness\":{\"when\":\"match\"}},\"id\":\"testupdatearumbasedmetricreturnsokresponse1732807887\",\"type\":\"rum_metrics\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/rum/config/metrics"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 405,
            "text": "{\"data\":{\"id\":\"testupdatearumbasedmetricreturnsokresponse1732807887\",\"type\":\"rum_metrics\",\"attributes\":{\"compute\":{\"aggregation_type\":\"distribution\",\"include_percentiles\":true,\"path\":\"@duration\"},\"event_type\":\"session\",\"filter\":{\"query\":\"source:Test-Update_a_rum_based_metric_returns_OK_response-1732807887\"},\"group_by\":[{\"path\":\"@browser.name\",\"tag_name\":\"browser_name\"}],\"uniqueness\":{\"when\":\"match\"}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 514
      },
      {
        "_id": "58e350abaeba650432b26f88494789d2",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"compute\":{\"include_percentiles\":false},\"filter\":[...]
