{
  "log": {
    "_recordingName": "AuthN Mappings/Get an AuthN Mapping by UUID returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "aa1682dc9b5fe873b52ce4c928bd0d16",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Get_an_AuthN_Mapping_by_UUID_returns_OK_response-1644362300\"},\"type\":\"roles\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/roles"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 700,
            "text": "{\"data\":{\"type\":\"roles\",\"id\":\"676a2188-8935-11ec-8081-da7ad0900002\",\"attributes\":{\"name\":\"Test-Get_an_AuthN_Mapping_by_UUID_returns_OK_response-1644362300\",\"created_at\":\"2022-02-08T23:18:20.292070+00:00\",\"modified_at\":\"2022-02-08T23:18:20.346093+00:00\"},\"relationships\":{\"permissions\":{\"data\":[{\"type\":\"permissions\",\"id\":\"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2\"},{\"type\":\"permissions\",\"id\":\"4441648c-d8b1-11e9-a77a-1b899a04b304\"},{\"type\":\"permissions\",\"id\":\"417ba636-2dce-11eb-84c0-6bce5b0d9de0\"},{\"type\":\"permissions\",\"id\":\"12efc20e-d36c-11eb-a9b8-da7ad0900002\"},{\"type\":\"permissions\",\"id\":\"97971c1c-e895-11eb-b13c-da7ad0900002\"},{\"type\":\"permissions\",\"id\":\"7605ef24-f376-11eb-b90b-da7ad0900002\"}]}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 149
      },
      {
        "_id": "04c0f4542fc8395a214528dff28deb65",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"attribute_key\":\"testgetanauthnmappingbyuuidreturnsokresponse1644362300\",\"attribute_value\":\"Test-Get_an_AuthN_Mapping_by_UUID_returns_OK_response-1644362300\"},\"relationships\":{\"role\":{\"data\":{\"id\":\"676a2188-8935-11ec-8081-da7ad0900002\",\"type\":\"roles\"}}},\"type\":\"authn_mappings\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/authn_mappings"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1148,
            "text": "{\"included\":[{\"type\":\"roles\",\"id\":\"676a2188-8935-11ec-8081-da7ad0900002\",\"attributes\":{\"name\":\"Test-Get_an_AuthN_Mapping_by_UUID_returns_OK_response-1644362300\",\"created_at\":\"2022-02-08T23:18:20.292070+00:00\",\"modified_at\":\"2022-02-08T23:18:20.346093+00:00\"},\"relationships\":{\"permissions\":{\"data\":[{\"type\":\"permissions\",\"id\":\"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2\"},{\"type\":\"permissions\",\"id\":\"4441648c-d8b1-11e9-a77a-1b899a04b304\"},{\"type\":\"permissions\",\"id\":\"[...]
