{
  "log": {
    "_recordingName": "Network Device Monitoring/List tags for an interface returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "984680f7fd2dbf04400e46d0eb4be6d7",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/ndm/tags/interfaces/example%3A1.2.3.4%3A1"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 98,
            "text": "{\"data\":{\"id\":\"example:1.2.3.4:1\",\"type\":\"tags\",\"attributes\":{\"tags\":[\"tag:test\",\"tag:testbis\"]}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 487
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
