{
  "log": {
    "_recordingName": "Roles/Add a user to a role returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "c988ca781fbe49b59d7a6e9d49993774",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Add_a_user_to_a_role_returns_OK_response-1641829857\"},\"type\":\"roles\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/roles"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 692,
            "text": "{\"data\":{\"type\":\"roles\",\"id\":\"1a447724-722d-11ec-b5d7-da7ad0900002\",\"attributes\":{\"name\":\"Test-Add_a_user_to_a_role_returns_OK_response-1641829857\",\"created_at\":\"2022-01-10T15:50:58.142627+00:00\",\"modified_at\":\"2022-01-10T15:50:58.201361+00:00\"},\"relationships\":{\"permissions\":{\"data\":[{\"type\":\"permissions\",\"id\":\"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2\"},{\"type\":\"permissions\",\"id\":\"4441648c-d8b1-11e9-a77a-1b899a04b304\"},{\"type\":\"permissions\",\"id\":\"417ba636-2dce-11eb-84c0-6bce5b0d9de0\"},{\"type\":\"permissions\",\"id\":\"12efc20e-d36c-11eb-a9b8-da7ad0900002\"},{\"type\":\"permissions\",\"id\":\"97971c1c-e895-11eb-b13c-da7ad0900002\"},{\"type\":\"permissions\",\"id\":\"7605ef24-f376-11eb-b90b-da7ad0900002\"}]}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 470
      },
      {
        "_id": "a88c83fb3a5da39df3b5b252a9a37eee",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Add_a_user_to_a_role_returns_OK_response-1641829857@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 684,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"1a447725-722d-11ec-b5d7-da7ad0900002\",\"attributes\":{\"name\":null,\"handle\":\"test-add_a_user_to_a_role_returns_ok_response-1641829857@datadoghq.com\",\"created_at\":\"2022-01-10T15:50:58.600514+00:00\",\"modified_at\":\"2022-01-10T15:50:58.662186+00:00\",\"email\":\"test-add_a_user_to_a_role_returns_ok_response-1641829857@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/8cfa1c5848f7b232413bf3523cb1e1ca?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 465
      },
      {
        "_id": "e21dd232e936ca242be122d19af3e17b",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"id\":\"1a447725-722d-11ec-b5d7-da7ad0900002\",\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/roles/1a447724-722d-11ec-b5d7-da7ad0900002/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 780,
            "text": "{\"meta\":{\"page\":{\"total_count\":1}},\"data\":[{\"type\":\"users\",\"id\":\"1a447725-722d-11ec-b5d7-da7ad0900002\",\"attributes\":{\"name\":null,\"handle\":\"test-add_a_user_to_a_role_returns_ok_response-1641829857@datadoghq.com\",\"created_at\":\"2022-01-10T15:50:58.600514+00:00\",\"modified_at\":\"2022-01-10T15:50:58.662186+00:00\",\"email\":\"test-add_a_user_to_a_role_returns_ok_response-1641829857@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/8cfa1c5848f7b232413bf3523cb1e1ca?s=48&d=retro\",\"title\":\"user t[...]
