{
  "log": {
    "_recordingName": "AWS Integration/Update an AWS integration returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "7e45d349dc2c7cf2254ac96981cb3b8c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"account_id\":\"171234183400\",\"account_specific_namespace_rules\":{\"auto_scaling\":false},\"cspm_resource_collection_enabled\":true,\"excluded_regions\":[\"us-east-1\",\"us-west-2\"],\"extended_resource_collection_enabled\":true,\"filter_tags\":[\"$KEY:$VALUE\"],\"host_tags\":[\"$KEY:$VALUE\"],\"metrics_collection_enabled\":false,\"role_name\":\"DatadogAWSIntegrationRole\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/integration/aws"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 51,
            "text": "{\"external_id\":\"c8ceedec95fc472fb6156f3104d425c9\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 2202
      },
      {
        "_id": "1e790ee1b18795ef17d095b586ba7c7f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"account_id\":\"171234183400\",\"account_specific_namespace_rules\":{\"auto_scali[...]
