{
  "log": {
    "_recordingName": "OCI Integration/Create tenancy config returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "7d093b8091fb682bbced34f25262563f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"auth_credentials\":{\"fingerprint\":\"a7:b5:54:f2:da:a2:d7:b0:ed:f4:79:47:93:64:12:b1\",\"private_key\":\"-----BEGIN PRIVATE KEY-----\\nMIIEv\\n-----END PRIVATE KEY-----\\n\"},\"config_version\":2,\"home_region\":\"us-ashburn-1\",\"logs_config\":{\"compartment_tag_filters\":[\"datadog:true\",\"env:prod\"],\"enabled\":true,\"enabled_services\":[\"oacnativeproduction\"]},\"metrics_config\":{\"compartment_tag_filters\":[\"datadog:true\",\"env:prod\"],\"enabled\":true,\"excluded_services\":[\"oci_compute\"]},\"resource_collection_enabled\":true,\"user_ocid\":\"ocid1.user.test\"},\"id\":\"ocid1.tenancy.dummy_value\",\"type\":\"oci_tenancy\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integration/oci/tenancies"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 82,
            "text": "{\"errors\":[{\"status\":\"400\",\"title\":\"Bad Request\",\"detail\":\"invalid private key\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 133
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
