{
  "log": {
    "_recordingName": "Agentless Scanning/Get GCP scan options returns \"Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "3ef4f32c2ad59b2f73ea51fe5e98c3fd",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/agentless_scanning/accounts/gcp/nonexistent-project-id"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 101,
            "text": "{\"errors\":[{\"status\":\"404\",\"detail\":\"no gcp scan options found for project nonexistent-project-id\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 450
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
