{
  "log": {
    "_recordingName": "App Builder/List App Versions returns \"Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "2b056b9b18c3a44a7c7d240a4c5bc6fe",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/app-builder/apps/7addb29b-f935-472c-ae79-d1963979a23e/versions"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 167,
            "text": "{\"errors\":[{\"status\":\"404\",\"id\":\"4dfd53b4-6987-4868-b330-af0535219c61\",\"title\":\"app not found\",\"detail\":\"app with id 7addb29b-f935-472c-ae79-d1963979a23e not found\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 157
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
