{
  "log": {
    "_recordingName": "Seats/Assign seats to users returns \"Unprocessable Entity\" response when user_uuids is empty",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "c73b39ec54c096b871815b8d7e3d63d8",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"product_code\":\"incident_response\",\"user_uuids\":[]},\"type\":\"seat-assignments\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/seats/users"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 94,
            "text": "{\"errors\":[{\"title\":\"Generic Error\",\"detail\":\"user_uuids is required and must not be empty\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 422,
          "statusText": "Unprocessable Entity"
        },
        "time": 263
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
