{
  "log": {
    "_recordingName": "Security Monitoring/Get a rule's details returns \"Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "e9af0673f3e5e16a50b8c53b06507bb7",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/security_monitoring/rules/abcde-12345"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 25,
            "text": "{\"errors\":[\"Not found\"]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 290
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
