{
  "log": {
    "_recordingName": "Dashboards/Create a new dashboard with apm resource stats widget",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "4b54a9d012a4d2f7add43b910fca0a73",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"layout_type\":\"ordered\",\"title\":\"Test-Create_a_new_dashboard_with_apm_resource_stats_widget-1631546863\",\"widgets\":[{\"definition\":{\"requests\":[{\"queries\":[{\"data_source\":\"apm_resource_stats\",\"env\":\"ci\",\"group_by\":[\"resource_name\"],\"name\":\"query1\",\"operation_name\":\"cassandra.query\",\"primary_tag_name\":\"datacenter\",\"primary_tag_value\":\"edge-eu1.prod.dog\",\"service\":\"cassandra\",\"stat\":\"hits\"}],\"response_format\":\"scalar\"}],\"title\":\"\",\"title_align\":\"left\",\"title_size\":\"16\",\"type\":\"query_table\"},\"layout\":{\"height\":4,\"width\":4,\"x\":0,\"y\":0}}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 933,
            "text": "{\"notify_list\":null,\"description\":null,\"restricted_roles\":[],\"author_name\":null,\"template_variables\":null,\"is_read_only\":false,\"id\":\"z65-852-rzm\",\"title\":\"Test-Create_a_new_dashboard_with_apm_resource_stats_widget-1631546863\",\"url\":\"/dashboard/z65-852-rzm/test-createanewdashboardwithapmresourcestatswidget-1631546863\",\"created_at\":\"2021-09-13T15:27:43.468361+00:00\",\"modified_at\":\"2021-09-13T15:27:43.468361+00:00\",\"author_handle\":\"frog@datadoghq.com\",\"widgets\":[{\"definition\":{\"type\":\"query_table\",\"requests\":[{\"response_format\":\"scalar\",\"queries\":[{\"primary_tag_value\":\"edge-eu1.prod.dog\",\"stat\":\"hits\",\"data_source\":\"apm_resource_stats\",\"name\":\"query1\",\"service\":\"cassandra\",\"group_by\":[\"resource_name\"],\"env\":\"ci\",\"primary_tag_name\":\"datacenter\",\"operation_name\":\"cassandra.query\"}]}],\"title_align\":\"left\",\"title_size\":\"16\",\"title\":\"\"},\"layout\":{\"y\":0,\"width\":4,\"x\":0,\"height\":4},\"id\":7261107688051072}],\"layout_type\":\"ordered\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 191,
      },
      {
        "_id": "3a92c80ff7aa353275f6450521d4c7bf",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/z65-852-rzm"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 38,
            "text": "{\"deleted_dashboard_id\":\"z65-852-rzm\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 119,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
