{
  "log": {
    "_recordingName": "Rum Retention Filters Permanent/Get a permanent retention filter returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "d940ee6b2762c8232e76a39ec679dd35",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/rum/applications/a33671aa-24fd-4dcd-ba4b-5bbdbafe7690/permanent_retention_filters/default_synthetics"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 311,
            "text": "{\"data\":{\"id\":\"default_synthetics\",\"type\":\"permanent_retention_filters\",\"attributes\":{\"name\":\"Default Synthetics\",\"event_type\":\"session\",\"query\":\"@type:browser\",\"sample_rate\":100,\"enabled\":true,\"cross_product_sampling\":{\"trace_sample_rate\":100},\"cross_product_sampling_editability\":{\"trace_sample_rate\":true}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 312
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
