{
  "log": {
    "_recordingName": "Model Lab API/Star a Model Lab project returns \"No Content\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "7dd52d0ef4cca2df6130f011e47dc2bb",
        "request": {
          "headers": [
          ],
          "method": "POST",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/model-lab-api/projects/2387/star"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 200
      },
      {
        "_id": "21523eed05df12cc4c0ed4fcc2b1797c",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/model-lab-api/projects/2387/star"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 200
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
