{
  "log": {
    "_recordingName": "Cloud Cost Management/Delete custom allocation rule returns \"No Content\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "e708aa988ed30e2a1632c4f0fad22620",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/cost/arbitrary_rule/683"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 233
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
