{
  "log": {
    "_recordingName": "Downtimes/Schedule a downtime with until occurrences",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "06e478ca11ed0a9be9db96a81bacd693",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"end\":1652352600,\"message\":\"Test-Schedule_a_downtime_with_until_occurrences-1652349000\",\"recurrence\":{\"period\":1,\"type\":\"weeks\",\"until_occurrences\":3,\"week_days\":[\"Mon\",\"Tue\",\"Wed\",\"Thu\",\"Fri\"]},\"scope\":[\"*\"],\"start\":1652349000,\"timezone\":\"Etc/UTC\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/downtime"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 560,
            "text": "{\"recurrence\":{\"until_date\":null,\"until_occurrences\":3,\"week_days\":[\"Mon\",\"Tue\",\"Wed\",\"Thu\",\"Fri\"],\"type\":\"weeks\",\"period\":1},\"end\":1652352600,\"monitor_tags\":[\"*\"],\"child_id\":null,\"canceled\":null,\"monitor_id\":null,\"mute_first_recovery_notification\":false,\"created\":1652349001,\"org_id\":321813,\"modified\":1652349001,\"disabled\":false,\"start\":1652349000,\"creator_id\":1445416,\"parent_id\":null,\"timezone\":\"Etc/UTC\",\"active\":true,\"scope\":[\"*\"],\"message\":\"Test-Schedule_a_downtime_with_until_occurrences-1652349000\",\"downtime_type\":0,\"id\":1944162296,\"updater_id\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 406
      },
      {
        "_id": "4d7d6ecd7d11b6e1c3575a30cf69a6be",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/downtime/1944162296"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 395
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
