{
  "log": {
    "_recordingName": "Downtimes/Cancel a downtime returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "a2b298b057d22dbde516c8af6ef3f9c9",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"message\":\"Test-Cancel_a_downtime_returns_OK_response-1641826576\",\"recurrence\":{\"period\":1,\"type\":\"weeks\",\"until_date\":1643640976,\"week_days\":[\"Mon\",\"Tue\",\"Wed\",\"Thu\",\"Fri\"]},\"scope\":[\"test:testcanceladowntimereturnsokresponse1641826576\"],\"start\":1641826576,\"timezone\":\"Etc/UTC\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/downtime"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 567,
            "text": "{\"recurrence\":{\"until_date\":1643640976,\"until_occurrences\":null,\"week_days\":[\"Mon\",\"Tue\",\"Wed\",\"Thu\",\"Fri\"],\"type\":\"weeks\",\"period\":1},\"end\":null,\"monitor_tags\":[\"*\"],\"child_id\":null,\"canceled\":null,\"monitor_id\":null,\"created\":1641826576,\"org_id\":321813,\"modified\":1641826576,\"disabled\":false,\"start\":1641826576,\"creator_id\":1445416,\"parent_id\":null,\"timezone\":\"Etc/UTC\",\"active\":true,\"scope\":[\"test:testcanceladowntimereturnsokresponse1641826576\"],\"message\":\"Test-Cancel_a_downtime_returns_OK_response-1641826576\",\"downtime_type\":2,\"id\":1672708956,\"updater_id\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 340
      },
      {
        "_id": "d5c4c8cde0118ff51a7d54bdc52e0a10",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/downtime/1672708956"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 325
      },
      {
        "_id": "d5c4c8cde0118ff51a7d54bdc52e0a10",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/downtime/1672708956"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 450
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
