{
  "log": {
    "_recordingName": "Downtimes/Cancel a downtime returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "08a346bfc43e6bd3837956792c679d2d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"message\":\"Test-Cancel_a_downtime_returns_OK_response-1633076912\",\"recurrence\":{\"period\":1,\"type\":\"weeks\",\"until_date\":1634891312,\"week_days\":[\"Mon\",\"Tue\",\"Wed\",\"Thu\",\"Fri\"]},\"scope\":[\"test:testcanceladowntimereturnsokresponse1633076912\"],\"start\":1633076912,\"timezone\":\"Etc/UTC\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/downtime"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 567,
            "text": "{\"recurrence\":{\"until_date\":1634891312,\"until_occurrences\":null,\"week_days\":[\"Mon\",\"Tue\",\"Wed\",\"Thu\",\"Fri\"],\"type\":\"weeks\",\"period\":1},\"end\":null,\"monitor_tags\":[\"*\"],\"child_id\":null,\"canceled\":null,\"monitor_id\":null,\"created\":1633076912,\"org_id\":321813,\"modified\":1633076912,\"disabled\":false,\"start\":1633076912,\"creator_id\":1445416,\"parent_id\":null,\"timezone\":\"Etc/UTC\",\"active\":true,\"scope\":[\"test:testcanceladowntimereturnsokresponse1633076912\"],\"message\":\"Test-Cancel_a_downtime_returns_OK_response-1633076912\",\"downtime_type\":2,\"id\":1477730799,\"updater_id\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 58,
      },
      {
        "_id": "e62931d33663e605afef140012d773e3",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/downtime/1477730799"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 61,
      },
      {
        "_id": "e62931d33663e605afef140012d773e3",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/downtime/1477730799"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 61,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
