{
  "log": {
    "_recordingName": "Dashboards/Send shared dashboard invitation email returns \"OK\"",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "3cf3a276ace43f8d90d09be55a65f425",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"layout_type\":\"ordered\",\"title\":\"Test-Send_shared_dashboard_invitation_email_returns_OK_-1773865649 with Profile Metrics Query\",\"widgets\":[{\"definition\":{\"requests\":[{\"profile_metrics_query\":{\"compute\":{\"aggregation\":\"sum\",\"facet\":\"@prof_core_cpu_cores\"},\"group_by\":[{\"facet\":\"service\",\"limit\":10,\"sort\":{\"aggregation\":\"sum\",\"facet\":\"@prof_core_cpu_cores\",\"order\":\"desc\"}}],\"search\":{\"query\":\"runtime:jvm\"}}}],\"type\":\"timeseries\"}}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 852,
            "text": "{\"id\":\"uy7-jdc-khf\",\"title\":\"Test-Send_shared_dashboard_invitation_email_returns_OK_-1773865649 with Profile Metrics Query\",\"description\":null,\"author_handle\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\",\"author_name\":\"CI Account\",\"layout_type\":\"ordered\",\"url\":\"/dashboard/uy7-jdc-khf/test-sendshareddashboardinvitationemailreturnsok-1773865649-with-profile-metrics\",\"template_variables\":null,\"widgets\":[{\"definition\":{\"requests\":[{\"profile_metrics_query\":{\"compute\":{\"aggregation\":\"sum\",\"facet\":\"@prof_core_cpu_cores\"},\"group_by\":[{\"facet\":\"service\",\"limit\":10,\"sort\":{\"aggregation\":\"sum\",\"facet\":\"@prof_core_cpu_cores\",\"order\":\"desc\"}}],\"search\":{\"query\":\"runtime:jvm\"}}}],\"type\":\"timeseries\"},\"id\":3763196530100152}],\"notify_list\":null,\"created_at\":\"2026-03-18T20:27:29.720762+00:00\",\"modified_at\":\"2026-03-18T20:27:29.720762+00:00\",\"restricted_roles\":[]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 144
      },
      {
        "_id": "bae29e6767d5c90b6fef50c4ecb522dc",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"dashboard_id\":\"uy7-jdc-khf\",\"dashboard_type\":\"custom_timeboard\",\"global_time\":{\"live_span\":\"1h\"},\"share_list\":[\"testsendshareddashboardinvitationemailreturnsok1773865649@datadoghq.com\"],\"share_type\":\"invite\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/public"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1177,
            "text": "{\"author\":{\"handle\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\",\"name\":\"CI Account\"},\"dashboard_id\":\"uy7-jdc-khf\",\"dashboard_type\":\"custom_timeboard\",\"status\":\"active\",\"title\":\"Test-Send_shared_dashboard_invitation_email_returns_OK_-1773865649 with Profile Metrics Query\",\"viewing_preferences\":{},\"expiration\":null,\"last_accessed\":null,\"global_time_selectable_enabled\":false,\"global_time\":{\"live_span\":\"1h\"},\"selectable_template_vars\":null,\"token\":\"fasjyydbcgwwc2uc-4801190966e7cf88b180c12b876eca65\",\"public_url\":\"https://p.datadoghq.com/sb/fasjyydbcgwwc2uc-4801190966e7cf88b180c12b876eca65\",\"created\":\"2026-03-18T20:27:30.223874+00:00\",\"share_type\":\"invite\",\"share_list\":[\"team-intg-tools-libs-spam@datadoghq.com\",\"testsendshareddashboardinvitationemailreturnsok1773865649@datadoghq.com\"],\"session_duration_in_days\":30,\"invitees\":[{\"email\":\"team-intg-tools-libs-spam@datadoghq.com\",\"access_expiration\":null,\"last_accessed\":null,\"created_at\":\"2026-03-18T20:27:30.248539+00:00\"},{\"email\":\"testsendshareddashboardinvitationemailreturnsok1773865649@datadoghq.com\",\"access_expiration\":null,\"last_accessed\":null,\"created_at\":\"2026-03-18T20:27:30.248539+00:00\"}],\"embeddable_domains\":[]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 499
      },
      {
        "_id": "5132ab422a8b4893b83238ab58461af4",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"testsendshareddashboardinvitationemailreturnsok1773865649@datadoghq.com\"},\"type\":\"public_dashboard_invitation\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/public/fasjyydbcgwwc2uc-4801190966e7cf88b180c12b876eca65/invitation"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 356,
            "text": "{\"data\":{\"type\":\"public_dashboard_invitation\",\"attributes\":{\"email\":\"testsendshareddashboardinvitationemailreturnsok1773865649@datadoghq.com\",\"share_token\":\"fasjyydbcgwwc2uc-4801190966e7cf88b180c12b876eca65\",\"created_at\":\"2026-03-18T20:27:30.426144+00:00\",\"invitation_expiry\":\"2026-03-18T21:27:30.435235+00:00\",\"has_session\":false,\"session_expiry\":null}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 303
      },
      {
        "_id": "cfaccf92b083a65ce1f183bf1b2ff451",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
[...]
