{
  "log": {
    "_recordingName": "Logs Custom Destinations/Create a custom destination returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "89e6df9127168d8b162f0fcb94f2b21e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"bufferMaxBytes\":10000000,\"bufferTimeoutSeconds\":100,\"compression\":\"GZIP\",\"enabled\":true,\"fallbackDestination\":{\"container\":\"container-name\",\"integration\":{\"clientId\":\"aaaaaaaa-1a1a-1a1a-1a1a-aaaaaaaaaaaa\",\"tenantId\":\"aaaaaaaa-1a1a-1a1a-1a1a-aaaaaaaaaaaa\"},\"storageAccount\":\"account-name\",\"type\":\"azure\"},\"forwarderDestination\":{\"auth\":{\"password\":\"password\",\"type\":\"basic\",\"username\":\"username\"},\"endpoint\":\"https://example.org/my-intake\",\"type\":\"http\"},\"maxRetryDurationSeconds\":100,\"name\":\"my-destination\",\"query\":\"source:dummy\",\"version\":0},\"type\":\"custom_destination\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/config/custom_destinations"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 664,
            "text": "{\"data\":{\"id\":\"7085822c-539f-4501-9d08-cf1dafc87298\",\"attributes\":{\"version\":0,\"name\":\"my-destination\",\"query\":\"source:dummy\",\"enabled\":true,\"bufferMaxBytes\":10000000,\"bufferTimeoutSeconds\":100,\"maxRetryDurationSeconds\":100,\"compression\":\"GZIP\",\"forwarderDestination\":{\"type\":\"http\",\"endpoint\":\"https://example.org/my-intake\",\"auth\":{\"type\":\"basic\",\"username\":\"__REDACTED_SECRET__\",\"password\":\"__REDACTED_SECRET__\"}},\"fallbackDestination\":{\"storageAccount\":\"account-name\",\"container\":\"container-name\",\"integration\":{\"tenantId\":\"aaaaaaaa-1a1a-1a1a-1a1a-aaaaaaaaaaaa\",\"clientId\":\"aaaaaaaa-1a1a-1a1a-1a1a-aaaaaaaaaaaa\"},\"type\":\"azure\"}},\"type\":\"custom_destination\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 438
      },
      {
        "_id": "e3fc33ab59f38df4f2a9b6be9f4cf6d2",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/config/custom_destinations/7085822c-539f-4501-9d08-cf1dafc87298"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 12,
            "text": "{\"meta\":{}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 412
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
