{
  "log": {
    "_recordingName": "App Deployment/Deploy App returns \"Created\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "820bad241ae47d45b4437591eb8052bd",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"components\":[{\"events\":[],\"name\":\"grid0\",\"properties\":{\"children\":[{\"events\":[],\"name\":\"gridCell0\",\"properties\":{\"children\":[{\"events\":[],\"name\":\"calloutValue0\",\"properties\":{\"isDisabled\":false,\"isLoading\":false,\"isVisible\":true,\"label\":\"CPU Usage\",\"size\":\"sm\",\"style\":\"vivid_yellow\",\"unit\":\"kB\",\"value\":\"42\"},\"type\":\"calloutValue\"}],\"isVisible\":\"true\",\"layout\":{\"default\":{\"height\":8,\"width\":2,\"x\":0,\"y\":0}}},\"type\":\"gridCell\"}]},\"type\":\"grid\"}],\"description\":\"This is a simple example app\",\"embeddedQueries\":[],\"name\":\"Example App\",\"rootInstanceName\":\"grid0\"},\"type\":\"appDefinitions\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/app-builder/apps"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 78,
            "text": "{\"data\":{\"id\":\"4f4a549d-3a5d-4696-ac3c-48e0807469b8\",\"type\":\"appDefinitions\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 187
      },
      {
        "_id": "e3c98d94294f7ac7862d8a11ce00157a",
        "request": {
          "headers": [
          ],
          "method": "POST",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/app-builder/apps/4f4a549d-3a5d-4696-ac3c-48e0807469b8/deployment"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 305,
            "text": "{\"data\":{\"id\":\"2bdb1332-a047-4d8d-a484-b8ad5f89554d\",\"type\":\"deployment\",\"attributes\":{\"app_version_id\":\"2097b9c6-6340-439d-b9f0-a69d52e37cfd\"},\"meta\":{\"created_at\":\"2024-12-05T06:25:18.155702Z\",\"user_id\":15479137,\"user_uuid\":\"b3f98453-b289-11ef-a4e9-d6d283f92d91\",\"user_name\":\"oliver.li@datadoghq.com\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 184
      },
      {
        "_id": "605639152136636ac4a4bd8b3876cc7a",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/app-builder/apps/4f4a549d-3a5d-4696-ac3c-48e0807469b8"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 78,
            "text": "{\"data\":{\"id\":\"4f4a549d-3a5d-4696-ac3c-48e0807469b8\",\"type\":\"appDefinitions\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 161
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
