{
  "log": {
    "_recordingName": "Monitors/Create an LLM Observability monitor returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "444d9614ef0853dbb75a78d720740e17",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"message\":\"LLM observability alert triggered\",\"name\":\"Test-Create_an_LLM_Observability_monitor_returns_OK_response-1786460472\",\"options\":{\"include_tags\":true,\"notify_audit\":false,\"thresholds\":{\"critical\":0}},\"query\":\"llm-observability(\\\"*\\\").rollup(\\\"count\\\").last(\\\"2h\\\") > 0\",\"tags\":[\"test:testcreateanllmobservabilitymonitorreturnsokresponse1786460472\",\"env:ci\"],\"type\":\"llm-observability alert\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/monitor"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 963,
            "text": "{\"id\":312833678,\"org_id\":321813,\"type\":\"llm-observability alert\",\"name\":\"Test-Create_an_LLM_Observability_monitor_returns_OK_response-1786460472\",\"message\":\"LLM observability alert triggered\",\"tags\":[\"test:testcreateanllmobservabilitymonitorreturnsokresponse1786460472\",\"env:ci\"],\"query\":\"llm-observability(\\\"*\\\").rollup(\\\"count\\\").last(\\\"2h\\\") > 0\",\"options\":{\"include_tags\":true,\"notify_audit\":false,\"thresholds\":{\"critical\":0.0},\"notify_no_data\":false,\"new_host_delay\":300,\"groupby_simple_monitor\":false,\"silenced\":{}},\"multi\":false,\"created_at\":1786460473000,\"created\":\"2026-08-11T15:01:13.078330+00:00\",\"modified\":\"2026-08-11T15:01:13.078330+00:00\",\"deleted\":null,\"priority\":null,\"restricted_roles\":null,\"restriction_policy\":null,\"draft_status\":\"published\",\"assets\":[],\"overall_state_modified\":null,\"overall_state\":\"No Data\",\"creator\":{\"name\":\"Francesco Pighi\",\"handle\":\"francesco.pighi@datadoghq.com\",\"email\":\"francesco.pighi@datadoghq.com\",\"id\":21235577}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 419
      },
      {
        "_id": "31cda55feafe51e355f7d7e2ef82d121",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/monitor/312833678"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 33,
            "text": "{\"deleted_monitor_id\":312833678}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 762
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
