{
  "log": {
    "_recordingName": "On-Call/Update On-Call escalation policy returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "45081304981030ddbced45f6516d58dc",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Update_On_Call_escalation_policy_returns_OK_response-1747825316@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 709,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"02f97155-3633-11f0-8139-36deebce65db\",\"attributes\":{\"name\":null,\"handle\":\"test-update_on_call_escalation_policy_returns_ok_response-1747825316@datadoghq.com\",\"created_at\":\"2025-05-21T11:01:56.961957+00:00\",\"modified_at\":\"2025-05-21T11:01:56.961957+00:00\",\"email\":\"test-update_on_call_escalation_policy_returns_ok_response-1747825316@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/58d047300afed96db7357b8216864a2b?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 123
      },
      {
        "_id": "9d8e3acde120b4d7af3dc0ba5a62de06",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"test-handle-7e1038d48a039cbc\",\"name\":\"test-name-7e1038d48a039cbc\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 635,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"593274dc-43a7-4281-930c-58cb572b5004\",\"attributes\":{\"name\":\"test-name-7e1038d48a039cbc\",\"handle\":\"test-handle-7e1038d48a039cbc\",\"summary\":null,\"description\":null,\"avatar\":null,\"banner\":2,\"visible_modules\":[],\"hidden_modules\":[],\"created_at\":\"2025-05-21T11:01:57.059563+00:00\",\"modified_at\":\"2025-05-21T11:01:57.059594+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/593274dc-43a7-4281-930c-58cb572b5004/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/593274dc-43a7-4281-930c-58cb572b5004/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 177
      },
      {
        "_id": "ddea90b2ccd79f2ab31a316b1a4353df",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"layers\":[{\"effective_date\":\"2025-05-11T11:01:56.877Z\",\"end_date\":\"2025-05-31T11:01:56.877Z\",\"interval\":{\"days\":1},\"members\":[{\"user\":{\"id\":\"890f29d4-0b7a-11f0-aeb2-760fcae4f596\"}}],\"name\":\"Layer 1\",\"restrictions\":[{\"end_day\":\"friday\",\"end_time\":\"17:00:00\",\"start_day\":\"monday\",\"start_time\":\"09:00:00\"}],\"rotation_start\":\"2025-05-16T11:01:56.877Z\"}],\"name\":\"Test-Update_On_Call_escalation_policy_returns_OK_response-1747825316\",\"time_zone\":\"America/New_York\"},\"relationships\":{\"teams\":{\"data\":[{\"id\":\"65aea9d0-941c-4607-bf8a-14fc0dac2820\",\"type\":\"teams\"}]}},\"type\":\"schedules\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/on-call/schedules"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 389,
            "text": "{\"data\":{\"id\":\"6c875bbd-947b-44bd-bad5-e0da7c69db5c\",\"type\":\"schedules\",\"attributes\":{\"name\":\"Test-Update_On_C[...]
