{
  "log": {
    "_recordingName": "On-Call/Update On-Call escalation policy returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "d054a8c720a353546b0806bf869d885b",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Update_On_Call_escalation_policy_returns_OK_response-1748494458@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 709,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"fabd9ae0-3c48-11f0-b407-16d8dc894a02\",\"attributes\":{\"name\":null,\"handle\":\"test-update_on_call_escalation_policy_returns_ok_response-1748494458@datadoghq.com\",\"created_at\":\"2025-05-29T04:54:19.052756+00:00\",\"modified_at\":\"2025-05-29T04:54:19.052756+00:00\",\"email\":\"test-update_on_call_escalation_policy_returns_ok_response-1748494458@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/cf87c53bf68b572610145962e6965e0c?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 696
      },
      {
        "_id": "d7c84ec274c484c81c4521c56064732b",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"test-handle-e987bfc60cf27d84\",\"name\":\"test-name-e987bfc60cf27d84\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 635,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"37ea8c60-77bd-4154-ba2e-ac59d25541c6\",\"attributes\":{\"name\":\"test-name-e987bfc60cf27d84\",\"handle\":\"test-handle-e987bfc60cf27d84\",\"summary\":null,\"description\":null,\"avatar\":null,\"banner\":3,\"visible_modules\":[],\"hidden_modules\":[],\"created_at\":\"2025-05-29T04:54:19.729870+00:00\",\"modified_at\":\"2025-05-29T04:54:19.729879+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/37ea8c60-77bd-4154-ba2e-ac59d25541c6/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/37ea8c60-77bd-4154-ba2e-ac59d25541c6/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 758
      },
      {
        "_id": "83824c496fbf2d64b606c2098dcf8bbf",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"layers\":[{\"effective_date\":\"2025-05-19T04:54:18.437Z\",\"end_date\":\"2025-06-08T04:54:18.437Z\",\"interval\":{\"days\":1},\"members\":[{\"user\":{\"id\":\"fabd9ae0-3c48-11f0-b407-16d8dc894a02\"}}],\"name\":\"Layer 1\",\"restrictions\":[{\"end_day\":\"friday\",\"end_time\":\"17:00:00\",\"start_day\":\"monday\",\"start_time\":\"09:00:00\"}],\"rotation_start\":\"2025-05-24T04:54:18.437Z\"}],\"name\":\"Test-Update_On_Call_escalation_policy_returns_OK_response-1748494458\",\"time_zone\":\"America/New_York\"},\"relationships\":{\"teams\":{\"data\":[{\"id\":\"65aea9d0-941c-4607-bf8a-14fc0dac2820\",\"type\":\"teams\"}]}},\"type\":\"schedules\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/on-call/schedules"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 377,
            "text": "{\"data\":{\"id\":\"f8a9543a-dc0f-4d81-bb16-7054201fa099\",\"type\":\"schedules\",\"attributes\":{\"name\":\"Test-Update_On_C[...]
