{
  "log": {
    "_recordingName": "Dashboard Reports/Create a new Dashboard Report returns \"Created\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "6fc02a1a3b147e13823206379ac8fc39",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"layout_type\":\"ordered\",\"title\":\"Test-Create_a_new_Dashboard_Report_returns_Created_response-1668631883 with Profile Metrics Query\",\"widgets\":[{\"definition\":{\"requests\":[{\"profile_metrics_query\":{\"compute\":{\"aggregation\":\"sum\",\"facet\":\"@prof_core_cpu_cores\"},\"group_by\":[{\"facet\":\"service\",\"limit\":10,\"sort\":{\"aggregation\":\"sum\",\"facet\":\"@prof_core_cpu_cores\",\"order\":\"desc\"}}],\"search\":{\"query\":\"runtime:jvm\"}}}],\"type\":\"timeseries\"}}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 851,
            "text": "{\"notify_list\":null,\"description\":null,\"restricted_roles\":[],\"author_name\":null,\"template_variables\":null,\"is_read_only\":false,\"id\":\"jie-qak-vs4\",\"title\":\"Test-Create_a_new_Dashboard_Report_returns_Created_response-1668631883 with Profile Metrics Query\",\"url\":\"/dashboard/jie-qak-vs4/test-createanewdashboardreportreturnscreatedresponse-1668631883-with-profile-met\",\"created_at\":\"2022-11-16T20:51:23.938548+00:00\",\"modified_at\":\"2022-11-16T20:51:23.938548+00:00\",\"author_handle\":\"frog@datadoghq.com\",\"widgets\":[{\"definition\":{\"requests\":[{\"profile_metrics_query\":{\"search\":{\"query\":\"runtime:jvm\"},\"group_by\":[{\"facet\":\"service\",\"sort\":{\"facet\":\"@prof_core_cpu_cores\",\"aggregation\":\"sum\",\"order\":\"desc\"},\"limit\":10}],\"compute\":{\"facet\":\"@prof_core_cpu_cores\",\"aggregation\":\"sum\"}}}],\"type\":\"timeseries\"},\"id\":515462563179658}],\"layout_type\":\"ordered\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 647
      },
      {
        "_id": "8736921285bd22a169c195a0063b04cf",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"description\":\"This report summarizes the recent errors, latency, and uptime of our Web Application Backend.\",\"destinations\":{\"email\":{\"recipient_addresses\":[\"jane.doe@example.com\"]}},\"schedule\":{\"active\":true,\"frequency\":\"1d\",\"repeat_at\":\"13:30\",\"repeat_on_day_of_month\":null,\"repeat_on_day_of_week\":null,\"timezone\":\"America/New_York\"},\"timeframe\":\"1w\",\"title\":\"Summary of recent stability and performance for Web Application Backend\"},\"type\":\"dashboard_reports\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/dashboards/jie-qak-vs4/reports"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1491,
            "text": "{\"included\":[{\"attributes\":{\"name\":null,\"email\":\"frog@datadoghq.com\"},\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"},{\"attributes\":{\"dashboard_type\":\"custom_dashboard\",\"title\":\"Test-Create_a_new_Dashboard_Report_returns_Created_response-1668631883 with Profile Metrics Query\"},\"type\":\"dashboards\",\"id\":\"jie-qak-vs4\"}],\"data\":{\"relationships\":{\"dashboard\":{\"data\":{\"type\":\"dashboards\",\"id\":\"jie-qak-vs4\"}},\"author\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"},\"links\":{\"related\":\"/api/v2/users/3ad549bf-eba0-11e9-a77a-0705486660d0\"}}},\"attributes\":{\"description\":\"This report summarizes the recent errors, latency, and uptime of our Web Application Backend.\",\"schedule\":{\"repeat_on_day_of_week\":null,\"repeat_at\":\"13:30\",\"frequency\":\"1d\",\"timezone\":\"America/New_York\",\"active\":true,\"repeat_on_day_of_month\":null},\"created_at\":\"2022-11-16T20:51:24.152340+00:00\",\"destination\":{\"export_format\":{\"type\":\"html\"},\"export_type\":\"email\",\"email_addresses\":[\"jane.doe@example.com\"]},\"modified_at\":null,\"template_variables\":null,\"timeframe\":\"1w\",\"title\":\"Summary of recent stability and performance for Web Application Backend\",\"destinations\":{\"email\":{\"recipient_addresses\":[\"jane.doe@example.com\"]}}},\"type\":\"dashboard_reports\",\"id\":\"6ea9cd7a-65f0-11ed-b033-da7ad0900002\",\"links\":{\"self\":\"/api/v2/dashboards/jie-qak-vs4/reports/6ea9cd7a-65f0-11ed-b033-da7ad0900002\"}},\"links\":{\"self\":\"/api/v2/dashboards/jie-qak-vs4/reports/6ea9cd7a-65f0-11ed-b033-da7ad0900002\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 161
      },
      {
        "_id": "421e7384e430e9fb133c39eb561219ef",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/dashboards/jie-qak-vs4/reports/6ea9cd7a-65f0-11ed-b033-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 211
      },
      {
        "_id": "6fb0cfeac58af6955d590c0bc035a297",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/jie-qak-vs4"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 39,
            "text": "{\"deleted_dashboard_id\":\"jie-qak-vs4\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 151
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
