{
  "log": {
    "_recordingName": "GCP Integration/Delete an STS enabled GCP Account returns \"No Content\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "1737645c2a6e5c03c32fe4fa8516e51e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"client_email\":\"832ce4b0f6318b5e@example.com\",\"host_filters\":[]},\"type\":\"gcp_service_account\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integration/gcp/accounts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 301,
            "text": "{\"data\":{\"type\":\"gcp_service_account\",\"attributes\":{\"is_security_command_center_enabled\":false,\"host_filters\":[],\"is_cspm_enabled\":false,\"client_email\":\"832ce4b0f6318b5e@example.com\",\"automute\":false,\"account_tags\":[],\"resource_collection_enabled\":false},\"id\":\"f9be086a-db3e-447b-a60a-956f876aa7d9\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 421
      },
      {
        "_id": "102fe07b88b915bfc7c4569f2915b22f",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integration/gcp/accounts/f9be086a-db3e-447b-a60a-956f876aa7d9"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=utf-8",
            "size": 0
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=utf-8"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 412
      },
      {
        "_id": "102fe07b88b915bfc7c4569f2915b22f",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integration/gcp/accounts/f9be086a-db3e-447b-a60a-956f876aa7d9"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=utf-8",
            "size": 0
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=utf-8"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 402
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
