{
  "log": {
    "_recordingName": "Agentless Scanning/Patch GCP Scan Options returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "c2c329a85875126a1858e7c00b5af113",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"id\":\"different-project-id\",\"type\":\"gcp_scan_options\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/agentless_scanning/accounts/gcp/no"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 122,
            "text": "{\"errors\":[{\"title\":\"Generic Error\",\"detail\":\"project_id 'no' is too short: must be at least 6 characters (current: 2)\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 393
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
