{
  "log": {
    "_recordingName": "DORA Metrics/Get a list of deployment events returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "c2b81df57288016adc7b43b10f30e046",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"from\":\"2025-03-23T00:00:00Z\",\"limit\":1,\"to\":\"2025-03-24T00:00:00Z\"},\"type\":\"dora_deployments_list_request\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/dora/deployments"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 11,
            "text": "{\"data\":[]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 540
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
