{
  "log": {
    "_recordingName": "Usage Metering/GetEstimatedCostByOrg with both start_month and start_date returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "6f83bc6b9f6d8855ab2010ced5adc5f0",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "view",
              "value": "sub-org"
            },
            {
              "name": "start_month",
              "value": "2022-09-20T14:04:15.545Z"
            },
            {
              "name": "start_date",
              "value": "2022-09-20T14:04:15.545Z"
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/usage/estimated_cost?view=sub-org&start_month=2022-09-20T14%3A04%3A15.545Z&start_date=2022-09-20T14%3A04%3A15.545Z"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 96,
            "text": "{\"errors\":[\"API called with non-parent org keys. Data is only available at the root level org\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 624
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
