{
  "log": {
    "_recordingName": "Usage Metering/GetEstimatedCostByOrg with both start_month and start_date returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "b9294e488e2b7380b983bfd2612e1f4e",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "view",
              "value": "sub-org"
            },
            {
              "name": "start_month",
              "value": "2025-05-12T12:32:55.283Z"
            },
            {
              "name": "start_date",
              "value": "2025-05-09T12:32:55.283Z"
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/usage/estimated_cost?view=sub-org&start_month=2025-05-12T12%3A32%3A55.283Z&start_date=2025-05-09T12%3A32%3A55.283Z"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 96,
            "text": "{\"errors\":[\"API called with non-parent org keys. Data is only available at the root level org\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 563
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
