{
  "log": {
    "_recordingName": "Incidents/Delete incident notification template returns \"No Content\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "7bcfec665300989151e5e4d7e0833bd1",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"description\":\"Any incidents that harm (or have the potential to) the confidentiality, integrity, or availability of our data.\",\"is_default\":false,\"name\":\"Security Incident\"},\"type\":\"incident_types\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/incidents/config/types"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 844,
            "text": "{\"data\":{\"id\":\"f3cd4435-48ee-4b07-bf6f-bfabd4d61b78\",\"type\":\"incident_types\",\"attributes\":{\"createdAt\":\"2026-01-19T20:15:55.998248893Z\",\"createdBy\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"description\":\"Any incidents that harm (or have the potential to) the confidentiality, integrity, or availability of our data.\",\"is_default\":false,\"lastModifiedBy\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"modifiedAt\":\"2026-01-19T20:15:55.998248991Z\",\"name\":\"Security Incident\",\"prefix\":\"IR\"},\"relationships\":{\"created_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}},\"google_chat_configuration\":{\"data\":null},\"google_meet_configuration\":{\"data\":null},\"last_modified_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}},\"microsoft_teams_configuration\":{\"data\":null},\"zoom_configuration\":{\"data\":null}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 267
      },
      {
        "_id": "4e03eaae7add18dbdb5d6f19a5410484",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"category\":\"alert\",\"content\":\"Test notification template\",\"name\":\"Test Template Test-Delete_incident_notification_template_returns_No_Content_response-1768853755\",\"subject\":\"Test Subject\"},\"relationships\":{\"incident_type\":{\"data\":{\"id\":\"f3cd4435-48ee-4b07-bf6f-bfabd4d61b78\",\"type\":\"incident_types\"}}},\"type\":\"notification_templates\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/incidents/config/notification-templates"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 663,
            "text": "{\"data\":{\"id\":\"defd8fff-8d3c-47fa-a7ae-b1aa3ddc552b\",\"type\":\"notification_templates\",\"attributes\":{\"category\":\"alert\",\"content\":\"Test notification template\",\"created\":\"2026-01-19T20:15:56.26957Z\",\"modified\":\"2026-01-19T20:15:56.26957Z\",\"name\":\"Test Template Test-Delete_incident_notification_template_returns_No_Content_response-1768853755\",\"subject\":\"Test Subject\"},\"relationships\":{\"created_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}},\"incident_type\":{\"data\":{\"id\":\"f3cd4435-48ee-4b07-bf6f-bfabd4d61b78\",\"type\":\"incident_types\"}},\"last_modified_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}[...]
