{
  "log": {
    "_recordingName": "Security Monitoring/Get an indicator of compromise returns \"Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "729cc78d9a0ee7c3573d0a0a57a4612f",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "indicator",
              "value": "this-indicator-does-not-exist.invalid"
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/security/siem/ioc-explorer/indicator?indicator=this-indicator-does-not-exist.invalid"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 69,
            "text": "{\"errors\":[{\"title\":\"Generic Error\",\"detail\":\"indicator not found\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 999
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
