{
  "log": {
    "_recordingName": "Cloudflare Integration/List Cloudflare accounts returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "8be9daabe8d65a6cc2b9695d88608159",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"api_key\":\"fakekey\",\"email\":\"dev@datadog.com\",\"name\":\"testlistcloudflareaccountsreturnsokresponse1674810001\"},\"type\":\"cloudflare-accounts\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integrations/cloudflare/accounts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 184,
            "text": "{\"data\":{\"attributes\":{\"email\":\"dev@datadog.com\",\"name\":\"testlistcloudflareaccountsreturnsokresponse1674810001\"},\"type\":\"cloudflare-accounts\",\"id\":\"1458cfdd2c5679bdc8693a9c5a32bf45\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 1748
      },
      {
        "_id": "6397e0466299a2a39ebd2c1cfcdd846d",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integrations/cloudflare/accounts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 186,
            "text": "{\"data\":[{\"attributes\":{\"email\":\"dev@datadog.com\",\"name\":\"testlistcloud[...]
