{
  "log": {
    "_recordingName": "Logs Metrics/Update a log-based metric returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "0ec651b1d178fbe6cc372dfcb6e100c1",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"compute\":{\"aggregation_type\":\"count\"},\"filter\":{\"query\":\"source:Typescript-Update_a_log_based_metric_returns_OK_response-1613750665.078\"}},\"id\":\"Typescript-Update_a_log_based_metric_returns_OK_response-1613750665.078\",\"type\":\"logs_metrics\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/config/metrics"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 380,
            "text": "[\"1f8b0800000000000003958fc10ac2400c44ff25e72a2dd22afd050f5ef42412b6dbb82c68774db28722febb290882376fc364328f79c2e8d441ff8438420fc73993788e59f194ed42e8f096020e4e68c43b29478f4c5a78123cec4d4a4e9310365db3d9b675d7b5eb7abb830a9c5a76284ab2945fe34d8917f528c4b3912415f6d47f81abbf80ab1fe0ab82c0a9641cacfc7ca9c0a77b36fa8274213005a7314da836d0e83e9549e1655f1fc346ca679f98ff0659e2cf3e17010000\"]"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-dd-version",
              "value": "35.3944440"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "300"
            },
            {
              "name": "x-ratelimit-period",
              "value": "300"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "35"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "295"
            },
            {
              "name": "content-disposition",
              "value": "inline"
            },
            {
              "name": "x-dd-debug",
              "value": "Wjq53IVIwnB4SiR238oOYgHFMq/ZYP0LQ/Dv8C2fFLBwTje/dWJHu6pI6vIOK1zG"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 581,
      },
      {
        "_id": "f56575c20667b54d8a458aa2edadd67d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"filter\":{\"query\":\"source:Typescript-Update_a_log[...]
