{
  "log": {
    "_recordingName": "Logs Metrics/Update a log-based metric returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "308c335c19fce32d56c5e2167160055d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"compute\":{\"aggregation_type\":\"count\"},\"filter\":{\"query\":\"source:Typescript-Update_a_log_based_metric_returns_OK_response-1613666628.899\"}},\"id\":\"Typescript-Update_a_log_based_metric_returns_OK_response-1613666628.899\",\"type\":\"logs_metrics\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/config/metrics"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 378,
            "text": "[\"1f8b0800000000000003958fc10ac2400c44ff25e72aa850b4bfe0c18b9e44c2761b9785b6bb26d94329fd775310046fe6344c9279cc0c9d5307cd0cb18306ae5326f11cb3e22ddb86d0619f02b64ea8c38194a347262d3c0a5ece2625a7510877f5ee50dbec8fdbe3e9041538b5dbb628c91afe8cbd12afea55882723492aeca9f902377f01373fc0a582c0a9646c2dfcfea8c0a7211b7d45ba109882d39846542b68749fcaa8b0d8d7c7b092f2e927e6bf011e0591f317010000\"]"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-dd-version",
              "value": "35.3935655"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "300"
            },
            {
              "name": "x-ratelimit-period",
              "value": "300"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "71"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "295"
            },
            {
              "name": "content-disposition",
              "value": "inline"
            },
            {
              "name": "x-dd-debug",
              "value": "fIO2C4qGDheGHy4YbS+r3a3CXbh4cbRo7roILOimQyiHGjQdOat0cIpWCkupM1uX"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 568,
      },
      {
        "_id": "66d56f1ae63c87f3114d50f9e8e7d084",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"filter\":{\"query\":\"source:Typescript-Update_a_log[...]
