{
  "log": {
    "_recordingName": "Logs Metrics/Update a log-based metric returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "3dd739cbd50f18e38c5322fa6b96988f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"compute\":{\"aggregation_type\":\"count\"},\"filter\":{\"query\":\"source:Typescript-Update_a_log_based_metric_returns_OK_response-1613676223.435\"}},\"id\":\"Typescript-Update_a_log_based_metric_returns_OK_response-1613676223.435\",\"type\":\"logs_metrics\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/config/metrics"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 380,
            "text": "[\"1f8b0800000000000003958fc10ac2400c44ff25e72ad46a85fe82072f7a1209db6d5c16b4bb26d94311ffdd140a82376fc364328f79c1e0d441f782384007a72993788e59f19ced42e8f09e02f64e68c00729478f4c5a78143c1e4c4a4ea310d66dddb4fb76b369d6db66071538b56c5f94642ebfc5bb12cfea59882723492aeca9fb02577f01573fc077058153c9d85bf9e55a814f8f6cf419e942600a4e631a516da0d17d2aa3c2dbbe16c346cab24fccff00795434a917010000\"]"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-dd-version",
              "value": "35.3936814"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "300"
            },
            {
              "name": "x-ratelimit-period",
              "value": "300"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "77"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "295"
            },
            {
              "name": "content-disposition",
              "value": "inline"
            },
            {
              "name": "x-dd-debug",
              "value": "bgHykj7A9bfZx0Y5ZO3swhhp5tGUSNJHqFWR868+qg087CYrDOd5hQslC+noiEtH"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 647,
      },
      {
        "_id": "5105349614fd85fe3dee06cc13d871e9",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"filter\":{\"query\":\"source:Typescript-Update_a_log[...]
