{
  "log": {
    "_recordingName": "Logs Metrics/Update a log-based metric returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "9c4874c63eecf82624d5c8163dda8267",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"compute\":{\"aggregation_type\":\"count\"},\"filter\":{\"query\":\"source:Test-Update_a_log_based_metric_returns_OK_response-1618125614\"}},\"id\":\"Test-Update_a_log_based_metric_returns_OK_response-1618125614\",\"type\":\"logs_metrics\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/config/metrics"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 362,
            "text": "[\"1f8b0800000000000003958f310ec2300c45efe2b90c4150a15e8181052684acb43551a43609b1335455ef8e23756065b39eedfff45718ad58e856f023747027167c24658416a7e8b0b74c23ce24d90f98494a0e8cb7ab8e9c626042d39a8b399e5b738206ace85d5f84b846befd2494ebf4299417cde758f2405dd51cfed21c7e345b032ec792b0d7c8e7ab8121ce499d55649dcbe4acf8185096a44cb725086cfab503adc57b2356fe05a19090ef03010000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-dd-version",
              "value": "35.4281284"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "100"
            },
            {
              "name": "x-ratelimit-period",
              "value": "3600"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "2386"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "78"
            },
            {
              "name": "content-disposition",
              "value": "inline"
            },
            {
              "name": "x-dd-debug",
              "value": "twvpGlmuom5y6A0pjGtXzTf554cmwJgTcCZ71fK4H/RDi+v5ehBK0zQiRcTJQG5C"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 580,
      },
      {
        "_id": "440a00f4a38faac3bfc36fcefe6258b6",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"filter\":{\"query\":\"source:Test-Update_a_log_based[...]
