{
  "log": {
    "_recordingName": "Logs Metrics/Update a log-based metric returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "116651a700ac1fbb5793a707c70cc47c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"compute\":{\"aggregation_type\":\"count\"},\"filter\":{\"query\":\"source:Typescript-Update_a_log_based_metric_returns_OK_response-1613668258.637\"}},\"id\":\"Typescript-Update_a_log_based_metric_returns_OK_response-1613668258.637\",\"type\":\"logs_metrics\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/config/metrics"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 380,
            "text": "[\"1f8b0800000000000003958fc10ac2400c44ff25e72aa858a5bfe0c18b9e44c2761b9785b6bb26d94329febb290882376fc364328f99a173eaa0992176d0c065ca249e6356bc66bb103aec53c0d60975389072f4c8a48547c1f3c9a4e4340ae1a6deeceafab8dd1fd7f5ee001538b56c5b9464297fc45e8917f52cc493912415f6d47c81abbf80ab1fe0ab82c0a9646cadfc76afc0a7211b7d41ba109882d39846541b68749fcaa8f0b2af8f6123e5b34fcc7f03f86089e917010000\"]"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-dd-version",
              "value": "35.3935726"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "300"
            },
            {
              "name": "x-ratelimit-period",
              "value": "300"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "242"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "299"
            },
            {
              "name": "content-disposition",
              "value": "inline"
            },
            {
              "name": "x-dd-debug",
              "value": "F5gm0Rce1/Abr9/0Fw8HAqWfiz0FdiH8er/AXnN6lOn3L6KyGgbsLCwgPlob1No8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 343,
      },
      {
        "_id": "078c8b0780d6e5a4982a394759736058",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"filter\":{\"query\":\"source:Typescript-Update_a_log[...]
