{
  "log": {
    "_recordingName": "Logs Metrics/Update a log-based metric returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "04cd95977bc7be0ad16589c9a54841be",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"compute\":{\"aggregation_type\":\"count\"},\"filter\":{\"query\":\"source:Test-Update_a_log_based_metric_returns_OK_response-1618233215\"}},\"id\":\"Test-Update_a_log_based_metric_returns_OK_response-1618233215\",\"type\":\"logs_metrics\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/config/metrics"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 362,
            "text": "[\"1f8b0800000000000003958f310ac3300c45efa2391992d05272850e5ddaa914e124aa3124b66bc94308b97b65c8d0b59b7892fee36f301931d06fe026e8e14e2cf888ca080dcec1e26098265c48921b3191e4e4196f571d3906cf84cdb9b9b45dd73627a8c088de0d59884be4dbcd42a94c9f4c69d57c0e398dd4174dfd97a6fed1ec15d81472c441239faf0ac6b044751691b1369135e2824759a332dd662fb0ebd701b4161f8d58f9179f14838303010000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-dd-version",
              "value": "35.4288658"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "100"
            },
            {
              "name": "x-ratelimit-period",
              "value": "3600"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "2785"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "90"
            },
            {
              "name": "content-disposition",
              "value": "inline"
            },
            {
              "name": "x-dd-debug",
              "value": "/L+SFFO+m1pPY+hRCpk5325fvfrNl0KmiquUNJolBN/5hu3HIwflqjZSbJ6NxDFG"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 637,
      },
      {
        "_id": "bb327dedad4c24448f4944dfcc52acef",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"filter\":{\"query\":\"source:Test-Update_a_log_based[...]
