{
  "log": {
    "_recordingName": "Logs Metrics/Update a log-based metric returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "328d412bd1105c60f783a3e63b4f8a5b",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"compute\":{\"aggregation_type\":\"count\"},\"filter\":{\"query\":\"source:Typescript-Update_a_log_based_metric_returns_OK_response-1613653938.165\"}},\"id\":\"Typescript-Update_a_log_based_metric_returns_OK_response-1613653938.165\",\"type\":\"logs_metrics\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/config/metrics"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 378,
            "text": "[\"1f8b0800000000000003958fc10ac2400c44ff25e72a9462d1fe82072f7a1209db6d5c166a774db28722febb2914046fde86c9641ef382c1a983ee0571800ece7326f11cb3e225db85d0e19802f64e68c00729478f4c5a78123c1d4d4a4e9310d66dddb4bbe6d0ecb775bb830a9c5ab62f4ab294dfe3a8c48b7a16e2d948920a7beabec0cd5fc0cd0ff05d41e05432f6567ebd55e0d3231b7d41ba109882d39826541b68749fcaa4f0b6afd5b091b2ee13f33f2004daa317010000\"]"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-dd-version",
              "value": "35.3933218"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "300"
            },
            {
              "name": "x-ratelimit-period",
              "value": "300"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "162"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "295"
            },
            {
              "name": "content-disposition",
              "value": "inline"
            },
            {
              "name": "x-dd-debug",
              "value": "JpIJLwIH2nFlZOC+u71rq7aAOL43MLZN3MUsL+gpYHdZz5QLUOG8Jysf8kVK6tPU"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 608,
      },
      {
        "_id": "723f710359bac2560b9f37a5b59bcc1d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"filter\":{\"query\":\"source:Typescript-Update_a_log[...]
