{
  "log": {
    "_recordingName": "Logs Metrics/Update a log-based metric returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "e8e494282b7878fd67e4b1eaf894168e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"compute\":{\"aggregation_type\":\"count\"},\"filter\":{\"query\":\"source:Test-Update_a_log_based_metric_returns_OK_response-1618413159\"}},\"id\":\"Test-Update_a_log_based_metric_returns_OK_response-1618413159\",\"type\":\"logs_metrics\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/config/metrics"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 362,
            "text": "[\"1f8b0800000000000003958fbb0ec2300c45ffc57319221e82fe02030b4c0859696ba2486d126267a8aafe3b8ed48195cd3ab6efd15d60b062a15dc00fd0c29d58f09194115a1ca3c3ce320d389164df6326293930deae3a728a8109cdc99c0f666f8e1768c08ade7545886be4db8f42b94e9f4279d67c8e25f7d456cdee2fcdee47b336e0722c093b8d7cbe1ae8e394d45945d6b94cce8a8f01654eca745b82c0aa5f1bd05abc3562e55fc4eb1ad203010000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-dd-version",
              "value": "35.4310591"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "100"
            },
            {
              "name": "x-ratelimit-period",
              "value": "3600"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "2840"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "84"
            },
            {
              "name": "content-disposition",
              "value": "inline"
            },
            {
              "name": "x-dd-debug",
              "value": "L3ULR3HwCWYmEqCWGz2Yob3chcH4pjowBacBXkncP7o+/uPqKt9yGEYf/g1AJPzQ"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 571,
      },
      {
        "_id": "451e14d4843b0dc982ea57d3bc6d3768",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"filter\":{\"query\":\"source:Test-Update_a_log_based[...]
