{
  "log": {
    "_recordingName": "Actions Datastores/Put datastore item returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "6574cf7e1c5524e145d2b92f9fa74d2c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"description\":\"\",\"name\":\"Test Datastore\",\"org_access\":\"contributor\",\"primary_column_name\":\"id\",\"primary_key_generation_strategy\":\"none\"},\"type\":\"datastores\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/actions-datastores"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 74,
            "text": "{\"data\":{\"id\":\"5d430898-fa17-4fe6-aab0-75f1b2880b9c\",\"type\":\"datastores\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 149
      },
      {
        "_id": "53e4e0178bb741ccd0467d0dd405c6c3",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"value\":{\"missing\":\"item-key\"}},\"type\":\"items\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/actions-datastores/5d430898-fa17-4fe6-aab0-75f1b2880b9c/items"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 113,
            "text": "{\"errors\":[{\"title\":\"item key missing or invalid\",\"detail\":\"item at index 0: primary column \\\"id\\\" is missing\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 136
      },
      {
        "_id": "b721c0c59e26f93682ff5497284aa176",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/actions-datastores/5d430898-fa17-4fe6-aab0-75f1b2880b9c"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 200,
          "statusText": "No Content"
        },
        "time": 124
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
