{
  "log": {
    "_recordingName": "Metrics/List tag configurations returns \"Success\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "636dae4f2bfd1460d179b7338ad7b64a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"metric_type\":\"distribution\",\"tags\":[\"app\",\"datacenter\",\"TestListtagconfigurationsreturnsSuccessresponse1618232052\"]},\"id\":\"TestListtagconfigurationsreturnsSuccessresponse1618232052\",\"type\":\"manage_tags\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/metrics/TestListtagconfigurationsreturnsSuccessresponse1618232052/tags"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 352,
            "text": "{\"data\":{\"type\":\"manage_tags\",\"id\":\"TestListtagconfigurationsreturnsSuccessresponse1618232052\",\"attributes\":{\"tags\":[\"datacenter\",\"app\",\"TestListtagconfigurationsreturnsSuccessresponse1618232052\"],\"include_percentiles\":false,\"created_at\":\"2021-04-12T12:54:12.978501+00:00\",\"updated_at\":\"2021-04-12T12:54:12.978501+00:00\",\"metric_type\":\"distribution\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.4288583"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "50"
            },
            {
              "name": "x-ratelimit-period",
              "value": "60"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "48"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "39"
            },
            {
              "name": "x-dd-debug",
              "value": "S1wfaMZOKGT/IoMw6fqAwAwGWo2vQ44sjF3YzuETnQfxZO2T5eJbs0aX3UKb9Dwu"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 417,
      },
      {
        "_id": "31c631695ad9404da7890d9cc004e312",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "filter",
              "value": {
                "tags_configured": "TestListtagconfigurationsreturnsSuccessresponse1618232052"
              }
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/metrics?filter%5Btags_configured%5D=TestListtagconfigurationsreturnsSuccessresponse1618232052"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 436,
            "text": "[\"1f8b08000000000000039d504b6ec23010bdcb6c0b956d08a53e033bd845281aec21b2148ce5192f5094bb77827a817633d23[...]
