{
  "log": {
    "_recordingName": "Metrics/List tag configurations returns \"Success\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "c1f17ef315223a35032f069412b516d4",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"metric_type\":\"distribution\",\"tags\":[\"app\",\"datacenter\",\"TestListtagconfigurationsreturnsSuccessresponse1618125621\"]},\"id\":\"TestListtagconfigurationsreturnsSuccessresponse1618125621\",\"type\":\"manage_tags\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/metrics/TestListtagconfigurationsreturnsSuccessresponse1618125621/tags"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 352,
            "text": "{\"data\":{\"type\":\"manage_tags\",\"id\":\"TestListtagconfigurationsreturnsSuccessresponse1618125621\",\"attributes\":{\"tags\":[\"datacenter\",\"TestListtagconfigurationsreturnsSuccessresponse1618125621\",\"app\"],\"include_percentiles\":false,\"created_at\":\"2021-04-11T07:20:21.802665+00:00\",\"updated_at\":\"2021-04-11T07:20:21.802665+00:00\",\"metric_type\":\"distribution\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.4281284"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "50"
            },
            {
              "name": "x-ratelimit-period",
              "value": "60"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "39"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "39"
            },
            {
              "name": "x-dd-debug",
              "value": "L3ULR3HwCWYmEqCWGz2Yob3chcH4pjowBacBXkncP7o+/uPqKt9yGEYf/g1AJPzQ"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 335,
      },
      {
        "_id": "8108459c0ec5acb1af17b0851121bbe1",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "filter",
              "value": {
                "tags_configured": "TestListtagconfigurationsreturnsSuccessresponse1618125621"
              }
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/metrics?filter%5Btags_configured%5D=TestListtagconfigurationsreturnsSuccessresponse1618125621"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 432,
            "text": "[\"1f8b0800000000000003a5904b6a03310c86efa26d1ec8a699069fa1bb6617c2a0daca609838c6921725ccddab09bd40c8523[...]
