{
  "log": {
    "_recordingName": "Metrics/List tag configurations returns \"Success\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "1f9238806f1d4ae7ca1f27705cedf205",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"metric_type\":\"distribution\",\"tags\":[\"app\",\"datacenter\",\"TestListtagconfigurationsreturnsSuccessresponse1618491736\"]},\"id\":\"TestListtagconfigurationsreturnsSuccessresponse1618491736\",\"type\":\"manage_tags\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/metrics/TestListtagconfigurationsreturnsSuccessresponse1618491736/tags"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 352,
            "text": "{\"data\":{\"type\":\"manage_tags\",\"id\":\"TestListtagconfigurationsreturnsSuccessresponse1618491736\",\"attributes\":{\"tags\":[\"datacenter\",\"app\",\"TestListtagconfigurationsreturnsSuccessresponse1618491736\"],\"include_percentiles\":false,\"created_at\":\"2021-04-15T13:02:16.731735+00:00\",\"updated_at\":\"2021-04-15T13:02:16.731735+00:00\",\"metric_type\":\"distribution\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.4318655"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "50"
            },
            {
              "name": "x-ratelimit-period",
              "value": "60"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "44"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "39"
            },
            {
              "name": "x-dd-debug",
              "value": "HbtaOKlJ6OCrx9tMXO6ivMTrEM+g0c93HDp08trmOmgdHozC5J+vn10F0H4WPjCU"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 432,
      },
      {
        "_id": "8da50fc3d65ddc17c905acf5a33f0f95",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "filter",
              "value": {
                "tags_configured": "TestListtagconfigurationsreturnsSuccessresponse1618491736"
              }
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/metrics?filter%5Btags_configured%5D=TestListtagconfigurationsreturnsSuccessresponse1618491736"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 354,
            "text": "{\"data\":[{\"type\":\"manage_tags\",\"id\":\"TestListtagconfigurationsreturnsSuccessresponse1618491736\[...]
