{
  "log": {
    "_recordingName": "Metrics/List tag configurations returns \"Success\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "1c15086ba0549fea6bfd82ebcb425c89",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"metric_type\":\"gauge\",\"tags\":[\"app\",\"datacenter\",\"TestListtagconfigurationsreturnsSuccessresponse1648477792\"]},\"id\":\"test.metric.1\",\"type\":\"manage_tags\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/metrics/test.metric.1/tags"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 99,
            "text": "{\"errors\": [\"New gauge/count/rate conflicts with existing tag configuration, use PATCH to update\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 409,
          "statusText": "Conflict"
        },
        "time": 131
      },
      {
        "_id": "fe688e593d410b65c9535abea628895c",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/metrics"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 172,
            "text": "{\"status\":\"error\",\"code\":502,\"errors\":[\"Bad Gateway\"],\"statuspage\":\"http://status.datadoghq.com\",\"twitter\":\"http://twitter.com/datadogops\",\"email\":\"support@datadoghq.com\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 502,
          "statusText": "Bad Gateway"
        },
        "time": 15274
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
