{
  "log": {
    "_recordingName": "Security Monitoring/Create a custom framework returns \"Conflict\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "13fe9685b0725fe0c8414499a9e71c71",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"create-framework-new\",\"icon_url\":\"test-url\",\"name\":\"name\",\"requirements\":[{\"controls\":[{\"name\":\"control\",\"rules_id\":[\"def-000-be9\"]}],\"name\":\"requirement\"}],\"version\":\"10\"},\"type\":\"custom_framework\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/cloud_security_management/custom_frameworks"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 129,
            "text": "{\"data\":{\"id\":\"create-framework-new-10\",\"type\":\"custom_framework\",\"attributes\":{\"handle\":\"create-framework-new\",\"version\":\"10\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 595
      },
      {
        "_id": "13fe9685b0725fe0c8414499a9e71c71",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"create-framework-new\",\"icon_url\":\"test-url\",\"name\":\"name\",\"requirements\":[{\"controls\":[{\"name\":\"control\",\"rules_id\":[\"def-000-be9\"]}],\"name\":\"requirement\"}],\"version\":\"10\"},\"type\":\"custom_framework\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/cloud_security_management/custom_frameworks"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 131,
            "text": "{\"errors\":[{\"status\":\"409\",\"title\":\"Status Conflict\",\"detail\":\"already_exists(Framework 'create-framework-new' already existed)\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 409,
          "statusText": "Conflict"
        },
        "time": 135
      },
      {
        "_id": "e535722a99e330cf49f72d093bd78b3a",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/cloud_security_management/custom_frameworks/create-framework-new/10"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 287,
            "text": "{\"data\":{\"id\":\"create-framework-new-10\",\"type\":\"custom_framework\",\"attributes\":{\"created_at\":1744297581542,\"created_by\":\"frog@datadoghq.com\",\"description\":\"\",\"handle\":\"create-framework-new\",\"icon_url\":\"test-url\",\"modified_at\":1745349916258,\"name\":\"name\",\"org_id\":321813,\"version\":\"10\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 341
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
