{
  "log": {
    "_recordingName": "Security Monitoring/Create a custom framework returns \"Conflict\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "3586614e1fc83300ac44adeb8d1bff61",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"CreateacustomframeworkreturnsConflictresponse\",\"icon_url\":\"test-url\",\"name\":\"name\",\"requirements\":[{\"controls\":[{\"name\":\"control\",\"rules_id\":[\"def-000-be9\"]}],\"name\":\"requirement\"}],\"version\":\"10\"},\"type\":\"custom_framework\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/cloud_security_management/custom_frameworks"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 179,
            "text": "{\"data\":{\"id\":\"CreateacustomframeworkreturnsConflictresponse-10\",\"type\":\"custom_framework\",\"attributes\":{\"handle\":\"CreateacustomframeworkreturnsConflictresponse\",\"version\":\"10\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 652
      },
      {
        "_id": "3586614e1fc83300ac44adeb8d1bff61",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"CreateacustomframeworkreturnsConflictresponse\",\"icon_url\":\"test-url\",\"name\":\"name\",\"requirements\":[{\"controls\":[{\"name\":\"control\",\"rules_id\":[\"def-000-be9\"]}],\"name\":\"requirement\"}],\"version\":\"10\"},\"type\":\"custom_framework\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/cloud_security_management/custom_frameworks"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 156,
            "text": "{\"errors\":[{\"status\":\"409\",\"title\":\"Status Conflict\",\"detail\":\"already_exists(Framework 'CreateacustomframeworkreturnsConflictresponse' already existed)\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 409,
          "statusText": "Conflict"
        },
        "time": 154
      },
      {
        "_id": "09520365ad570fe860d39878cd8eb9d8",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/cloud_security_management/custom_frameworks/CreateacustomframeworkreturnsConflictresponse/10"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 232,
            "text": "{\"data\":{\"id\":\"CreateacustomframeworkreturnsConflictresponse-10\",\"type\":\"custom_framework\",\"attributes\":{\"description\":\"\",\"handle\":\"CreateacustomframeworkreturnsConflictresponse\",\"icon_url\":\"test-url\",\"name\":\"name\",\"version\":\"10\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 537
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
