{
  "log": {
    "_recordingName": "Usage Metering/Get hourly usage for Lambda traced invocations returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "af201a681472acf2fa02feb5049e78f4",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "start_hr",
              "value": "2024-01-21T20:56:23.911Z"
            },
            {
              "name": "end_hr",
              "value": "2024-01-19T20:56:23.911Z"
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/usage/lambda_traced_invocations?start_hr=2024-01-21T20%3A56%3A23.911Z&end_hr=2024-01-19T20%3A56%3A23.911Z"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 77,
            "text": "{\"errors\":[\"start_hr [YYYY-MM-DDThh] must be before end_hr [YYYY-MM-DDThh]\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 548
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
