{
  "log": {
    "_recordingName": "Usage Metering/Get hourly usage for Lambda traced invocations returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "4b8e4cc2c0a6d61f10f21d18c64ddfa6",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "start_hr",
              "value": "2025-05-09T12:32:51.888Z"
            },
            {
              "name": "end_hr",
              "value": "2025-05-07T12:32:51.888Z"
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/usage/lambda_traced_invocations?start_hr=2025-05-09T12%3A32%3A51.888Z&end_hr=2025-05-07T12%3A32%3A51.888Z"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 77,
            "text": "{\"errors\":[\"start_hr [YYYY-MM-DDThh] must be before end_hr [YYYY-MM-DDThh]\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 365
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
