{
  "log": {
    "_recordingName": "Events/Search events returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "75037b8c525599dfda74929a618c6442",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"filter\":{\"from\":\"now-15m\",\"query\":\"service:web* AND @http.status_code:[200 TO 299]\",\"to\":\"now\"},\"options\":{\"timezone\":\"GMT\"},\"page\":{\"cursor\":\"eyJzdGFydEF0IjoiQVFBQUFYS2tMS3pPbm40NGV3QUFBQUJCV0V0clRFdDZVbG8zY3pCRmNsbHJiVmxDWlEifQ==\",\"limit\":25},\"sort\":\"timestamp\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/events/search"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 98,
            "text": "{\"errors\":[\"{'errors': [u\\\"input_validation_error(Field 'page' is invalid: invalid cursor)\\\"]}\"]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 156
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
