{
  "log": {
    "_recordingName": "Audit/Get a list of Audit Logs events returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "c74c17c7ab12cdf1f2a57d0af85014a7",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page",
              "value": {
                "cursor": "eyJzdGFydEF0IjoiQVFBQUFYS2tMS3pPbm40NGV3QUFBQUJCV0V0clRFdDZVbG8zY3pCRmNsbHJiVmxDWlEifQ==",
                "limit": "10"
              }
            },
            {
              "name": "filter",
              "value": {
                "from": "2022-03-17T20:29:48.092Z",
                "query": "@type:session AND @session.type:user",
                "to": "2022-03-17T20:44:48.092Z"
              }
            },
            {
              "name": "sort",
              "value": "timestamp"
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/audit/events?page%5Blimit%5D=10&page%5Bcursor%5D=eyJzdGFydEF0IjoiQVFBQUFYS2tMS3pPbm40NGV3QUFBQUJCV0V0clRFdDZVbG8zY3pCRmNsbHJiVmxDWlEifQ%3D%3D&filter%5Bquery%5D=%40type%3Asession%20AND%20%40session.type%3Auser&filter%5Bto%5D=2022-03-17T20%3A44%3A48.092Z&filter%5Bfrom%5D=2022-03-17T20%3A29%3A48.092Z&sort=timestamp"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 78,
            "text": "{\"errors\":[\"input_validation_error(Field 'page' is invalid: invalid cursor)\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 431
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
