{
  "log": {
    "_recordingName": "Metrics/Submit metrics with compression returns \"Payload accepted\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "49d1d2425e365f991c67f5b6f4cda9c1",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": []
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/series"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 13,
            "text": "{\"errors\":[]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 202,
          "statusText": "Accepted"
        },
        "time": 385
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
