{
  "log": {
    "_recordingName": "Containers/Get All Container groups returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "71dc56312331609d91f0308dcb79adeb",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "group_by",
              "value": "short_image"
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/containers?group_by=short_image"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 28078,
            "text": "{\"data\": [{\"type\": \"container_group\", \"id\": \"test_id\", \"attributes\": {\"count\": 123, \"tags\": {\"short_image\": \"test_short_image\"}}, \"relationships\": {\"containers\": {\"links\": {\"related\": \"test_related\"}, \"data\": []}}}, {\"type\": \"container_group\", \"id\": \"test_id\", \"attributes\": {\"count\": 1, \"tags\": {\"short_image\": \"test_short_image\"}}, \"relationships\": {\"containers\": {\"links\": {\"related\": \"test_related\"}, \"data\": []}}}, {\"type\": \"container_group\", \"id\": \"test_id\", \"attributes\": {\"count\": 1, \"tags\": {\"short_image\": \"test_short_image\"}}, \"relationships\": {\"containers\": {\"links\": {\"related\": \"test_related\"}, \"data\": [][...]
