{
  "log": {
    "_recordingName": "Teams/Get team memberships returns \"Represents a user's association to a team\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "adbdba3ecf46a7d5ab93f4c9b404629b",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"handle-9b9ce79372b8d6b6\",\"name\":\"name-9b9ce79372b8d6b6\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 540,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"aa8f7156-20d9-11ee-9f9f-da7ad0900002\",\"attributes\":{\"name\":\"name-9b9ce79372b8d6b6\",\"handle\":\"handle-9b9ce79372b8d6b6\",\"summary\":null,\"description\":null,\"created_at\":\"2023-07-12T17:29:33.656262+00:00\",\"modified_at\":\"2023-07-12T17:29:33.656267+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/aa8f7156-20d9-11ee-9f9f-da7ad0900002/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/aa8f7156-20d9-11ee-9f9f-da7ad0900002/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 160
      },
      {
        "_id": "3d930bfd7ea0dc81c093de46204b96a6",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/aa8f7156-20d9-11ee-9f9f-da7ad0900002/memberships"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 545,
            "text": "{\"data\":[],\"meta\":{\"pagination\":{\"offset\":0,\"first_offset\":0,\"prev_offset\":0,\"next_offset\":100,\"last_offset\":0,\"limit\":100,\"type\":\"offset_limit\",\"total\":0}},\"links\":{\"self\":\"https://api.datadoghq.com/api/v2/team/aa8f7156-20d9-11ee-9f9f-da7ad0900002/memberships\",\"last\":null,\"next\":\"https://api.datadoghq.com/api/v2/team/aa8f7156-20d9-11ee-9f9f-da7ad0900002/memberships?page[offset]=100&page[limit]=100\",\"prev\":null,\"first\":\"https://api.datadoghq.com/api/v2/team/aa8f7156-20d9-11ee-9f9f-da7ad0900002/memberships?page[offset]=0&page[limit]=100\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 115
      },
      {
        "_id": "f15a9b571b3767fe7216a0d80a5d54ed",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/aa8f7156-20d9-11ee-9f9f-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 156
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
