{
  "log": {
    "_recordingName": "Teams/Get team memberships returns \"Represents a user's association to a team\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "77ab4d7f352b7f0ae2ce5786982cf3be",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"handle-bb47a0fd53411a26\",\"name\":\"name-bb47a0fd53411a26\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 550,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"5777e9e6-ef4f-11ed-9a2b-da7ad0900002\",\"attributes\":{\"name\":\"name-bb47a0fd53411a26\",\"handle\":\"handle-bb47a0fd53411a26\",\"summary\":null,\"description\":null,\"color\":4,\"created_at\":\"2023-05-10T16:25:56.724082+00:00\",\"modified_at\":\"2023-05-10T16:25:56.724086+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/5777e9e6-ef4f-11ed-9a2b-da7ad0900002/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/5777e9e6-ef4f-11ed-9a2b-da7ad0900002/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 222
      },
      {
        "_id": "c50ec3664c3732056fef14a7d73686f5",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/5777e9e6-ef4f-11ed-9a2b-da7ad0900002/memberships"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 545,
            "text": "{\"data\":[],\"meta\":{\"pagination\":{\"offset\":0,\"first_offset\":0,\"prev_offset\":0,\"next_offset\":100,\"last_offset\":0,\"limit\":100,\"type\":\"offset_limit\",\"total\":0}},\"links\":{\"self\":\"https://api.datadoghq.com/api/v2/team/5777e9e6-ef4f-11ed-9a2b-da7ad0900002/memberships\",\"last\":null,\"next\":\"https://api.datadoghq.com/api/v2/team/5777e9e6-ef4f-11ed-9a2b-da7ad0900002/memberships?page[offset]=100&page[limit]=100\",\"prev\":null,\"first\":\"https://api.datadoghq.com/api/v2/team/5777e9e6-ef4f-11ed-9a2b-da7ad0900002/memberships?page[offset]=0&page[limit]=100\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 118
      },
      {
        "_id": "a6715b3bba4c4e6cf20d3449a5d80f2a",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/5777e9e6-ef4f-11ed-9a2b-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 221
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
