{
  "log": {
    "_recordingName": "Dashboards/Create a new dashboard with event_stream widget",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "ed8b7422b62cf4715c891834a8c8a955",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"description\":\"\",\"is_read_only\":false,\"layout_type\":\"free\",\"notify_list\":[],\"template_variables\":[],\"title\":\"Test-Create_a_new_dashboard_with_event_stream_widget-1684506281\",\"widgets\":[{\"definition\":{\"event_size\":\"s\",\"query\":\"example-query\",\"show_year\":true,\"tags_execution\":\"and\",\"title\":\"\",\"title_align\":\"left\",\"title_size\":\"16\",\"type\":\"event_stream\"},\"layout\":{\"height\":38,\"width\":47,\"x\":0,\"y\":0}}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 708,
            "text": "{\"id\":\"6fx-j89-9ip\",\"title\":\"Test-Create_a_new_dashboard_with_event_stream_widget-1684506281\",\"description\":\"\",\"author_handle\":\"frog@datadoghq.com\",\"author_name\":null,\"layout_type\":\"free\",\"url\":\"/dashboard/6fx-j89-9ip/test-createanewdashboardwitheventstreamwidget-1684506281\",\"is_read_only\":false,\"template_variables\":[],\"widgets\":[{\"definition\":{\"event_size\":\"s\",\"query\":\"example-query\",\"show_year\":true,\"tags_execution\":\"and\",\"title\":\"\",\"title_align\":\"left\",\"title_size\":\"16\",\"type\":\"event_stream\"},\"layout\":{\"height\":38,\"width\":47,\"x\":0,\"y\":0},\"id\":4666982916800865}],\"notify_list\":[],\"created_at\":\"2023-05-19T14:24:41.495188+00:00\",\"modified_at\":\"2023-05-19T14:24:41.495188+00:00\",\"restricted_roles\":[]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 351
      },
      {
        "_id": "c143cfa0caede40ec402fd1bd378319f",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/6fx-j89-9ip"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 39,
            "text": "{\"deleted_dashboard_id\":\"6fx-j89-9ip\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 269
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
