{
  "log": {
    "_recordingName": "Dashboards/Create a new dashboard with event_stream widget",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "c301dc9c6035c2c97a805807858477b3",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"description\":\"\",\"is_read_only\":false,\"layout_type\":\"free\",\"notify_list\":[],\"template_variables\":[],\"title\":\"Test-Create_a_new_dashboard_with_event_stream_widget-1640284816\",\"widgets\":[{\"definition\":{\"event_size\":\"s\",\"query\":\"example-query\",\"tags_execution\":\"and\",\"title\":\"\",\"title_align\":\"left\",\"title_size\":\"16\",\"type\":\"event_stream\"},\"layout\":{\"height\":38,\"width\":47,\"x\":0,\"y\":0}}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 689,
            "text": "{\"notify_list\":[],\"description\":\"\",\"restricted_roles\":[],\"author_name\":null,\"template_variables\":[],\"is_read_only\":false,\"id\":\"bgh-urb-hxs\",\"title\":\"Test-Create_a_new_dashboard_with_event_stream_widget-1640284816\",\"url\":\"/dashboard/bgh-urb-hxs/test-createanewdashboardwitheventstreamwidget-1640284816\",\"created_at\":\"2021-12-23T18:40:16.583000+00:00\",\"modified_at\":\"2021-12-23T18:40:16.583000+00:00\",\"author_handle\":\"frog@datadoghq.com\",\"widgets\":[{\"definition\":{\"title_size\":\"16\",\"title\":\"\",\"title_align\":\"left\",\"tags_execution\":\"and\",\"query\":\"example-query\",\"type\":\"event_stream\",\"event_size\":\"s\"},\"layout\":{\"y\":0,\"width\":47,\"x\":0,\"height\":38},\"id\":297821549837389}],\"layout_type\":\"free\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 242
      },
      {
        "_id": "c22de09be1dd08c2d0b1fa19f297e2b9",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/bgh-urb-hxs"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 38,
            "text": "{\"deleted_dashboard_id\":\"bgh-urb-hxs\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 177
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
