{
  "log": {
    "_recordingName": "Dashboards/Create a new dashboard with event_stream widget",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "498ee2657a8c0a585ef6d5fb74adc38a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"description\":\"\",\"layout_type\":\"free\",\"notify_list\":[],\"template_variables\":[],\"title\":\"Test-Create_a_new_dashboard_with_event_stream_widget-1731611541\",\"widgets\":[{\"definition\":{\"event_size\":\"s\",\"query\":\"example-query\",\"tags_execution\":\"and\",\"title\":\"\",\"title_align\":\"left\",\"title_size\":\"16\",\"type\":\"event_stream\"},\"layout\":{\"height\":38,\"width\":47,\"x\":0,\"y\":0}}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 711,
            "text": "{\"id\":\"j92-23a-929\",\"title\":\"Test-Create_a_new_dashboard_with_event_stream_widget-1731611541\",\"description\":\"\",\"author_handle\":\"anika.maskara@datadoghq.com\",\"author_name\":\"Anika Maskara\",\"layout_type\":\"free\",\"url\":\"/dashboard/j92-23a-929/test-createanewdashboardwitheventstreamwidget-1731611541\",\"is_read_only\":false,\"template_variables\":[],\"widgets\":[{\"definition\":{\"event_size\":\"s\",\"query\":\"example-query\",\"tags_execution\":\"and\",\"title\":\"\",\"title_align\":\"left\",\"title_size\":\"16\",\"type\":\"event_stream\"},\"layout\":{\"height\":38,\"width\":47,\"x\":0,\"y\":0},\"id\":5404510043206419}],\"notify_list\":[],\"created_at\":\"2024-11-14T19:12:21.167451+00:00\",\"modified_at\":\"2024-11-14T19:12:21.167451+00:00\",\"restricted_roles\":[]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 189
      },
      {
        "_id": "682d543097456ff27f050f0a464f9210",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/j92-23a-929"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 39,
            "text": "{\"deleted_dashboard_id\":\"j92-23a-929\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 151
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
