{
  "log": {
    "_recordingName": "On-Call/Create an On-Call email for a user returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "8c568369eb6de9123c0e526a72812774",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Create_an_On_Call_email_for_a_user_returns_Bad_Request_response-1762958161@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 754,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"e94824bc-bfd4-11f0-adaa-1e9e4b86ba5b\",\"attributes\":{\"name\":null,\"handle\":\"test-create_an_on_call_email_for_a_user_returns_bad_request_response-1762958161@datadoghq.com\",\"created_at\":\"2025-11-12T14:36:01.627725+00:00\",\"modified_at\":\"2025-11-12T14:36:01.627725+00:00\",\"email\":\"test-create_an_on_call_email_for_a_user_returns_bad_request_response-1762958161@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/0c60562056ba523711aac984491c4445?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\",\"last_login_time\":null},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 200
      },
      {
        "_id": "abda9366a1def08d2295c1d9c6fda1ea",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"active\":true,\"address\":\"\",\"alias\":\"\",\"formats\":[\"html\"]},\"type\":\"emails\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/on-call/users/e94824bc-bfd4-11f0-adaa-1e9e4b86ba5b/notification-channels/emails"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 96,
            "text": "{\"errors\":[{\"status\":\"400\",\"title\":\"Bad Request\",\"detail\":\"attribute \\\"address\\\" is required\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 116
      },
      {
        "_id": "7bfae60bf24c303492a50b0860f726df",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users/e94824bc-bfd4-11f0-adaa-1e9e4b86ba5b"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 425
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
