{
  "log": {
    "_recordingName": "Usage Metering/Get hourly usage for Online Archive returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "f753f5e7a93b87e8674bece2b6a594bd",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "start_hr",
              "value": "2022-03-03T15:58:32.586Z"
            },
            {
              "name": "end_hr",
              "value": "2022-03-05T15:58:32.586Z"
            }
          ],
          "url": "https://api.datadoghq.com/api/v1/usage/online-archive?start_hr=2022-03-03T15%3A58%3A32.586Z&end_hr=2022-03-05T15%3A58%3A32.586Z"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 7019,
            "text": "{\"usage\":[{\"org_name\":\"DD Integration Tests (321813)\",\"online_archive_events_count\":null,\"public_id\":\"fasjyydbcgwwc2uc\",\"hour\":\"2022-03-03T15:00:00+00:00\"},{\"org_name\":\"DD Integration Tests (321813)\",\"online_archive_events_count\":null,\"public_id\":\"fasjyydbcgwwc2uc\",\"hour\":\"2022-03-03T16:00:00+00:00\"},{\"org_name\":\"DD Integration Tests (321813)\",\"online_archive_events_count\":null,\"public_id\":\"fasjyydbcgwwc2uc\",\"hour\":\"2022-03-03T17:00:00+00:00\"},{\"org_name\":\"DD Integration Tests (321813)\",\"online_archive_events_count\":null,\"public_id\":\"fasjyydbcgwwc2uc\",\"hour\":\"2022-03-03T18:00:0[...]
