{
  "log": {
    "_recordingName": "On-Call/Delete on call escalation policy returns \"No Content\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "7cb2b72b34609bbc51ee4b75b2ee1114",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Delete_on_call_escalation_policy_returns_No_Content_response-1745462972@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 725,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"c02f8d1c-20b6-11f0-ab2c-227bd670db64\",\"attributes\":{\"name\":null,\"handle\":\"test-delete_on_call_escalation_policy_returns_no_content_response-1745462972@datadoghq.com\",\"created_at\":\"2025-04-24T02:49:32.896419+00:00\",\"modified_at\":\"2025-04-24T02:49:32.896419+00:00\",\"email\":\"test-delete_on_call_escalation_policy_returns_no_content_response-1745462972@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/c62c48dab244e5889d7e9acaf2f87894?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 716
      },
      {
        "_id": "b5701162ddbd2a7aa3f22f48331569c9",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"test-handle-7e60a3022d9f9ad9\",\"name\":\"test-name-7e60a3022d9f9ad9\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 635,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"2deba622-02f4-4c79-8120-0dc23ce700fc\",\"attributes\":{\"name\":\"test-name-7e60a3022d9f9ad9\",\"handle\":\"test-handle-7e60a3022d9f9ad9\",\"summary\":null,\"description\":null,\"avatar\":null,\"banner\":7,\"visible_modules\":[],\"hidden_modules\":[],\"created_at\":\"2025-04-24T02:49:33.597906+00:00\",\"modified_at\":\"2025-04-24T02:49:33.597915+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/2deba622-02f4-4c79-8120-0dc23ce700fc/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/2deba622-02f4-4c79-8120-0dc23ce700fc/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 753
      },
      {
        "_id": "288bbda9f50bd29fc1f0e174f0903bfc",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"layers\":[{\"effective_date\":\"2025-04-14T02:49:32.262Z\",\"end_date\":\"2025-05-04T02:49:32.262Z\",\"interval\":{\"days\":1},\"members\":[{\"user\":{\"id\":\"890f29d4-0b7a-11f0-aeb2-760fcae4f596\"}}],\"name\":\"Layer 1\",\"restrictions\":[{\"end_day\":\"friday\",\"end_time\":\"17:00:00\",\"start_day\":\"monday\",\"start_time\":\"09:00:00\"}],\"rotation_start\":\"2025-04-19T02:49:32.262Z\"}],\"name\":\"Test-Delete_on_call_escalation_policy_returns_No_Content_response-1745462972\",\"tags\":[\"tag1\",\"tag2\"],\"time_zone\":\"America/New_York\"},\"relationships\":{\"teams\":{\"data\":[{\"id\":\"65aea9d0-941c-4607-bf8a-14fc0dac2820\",\"type\":\"teams\"}]}},\"type\":\"schedules\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/on-call/schedules"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 408,
            "text": "{\"data\":{\"id\":\"b521cc12-a23b-4fa2-b3d4-891484f6271c\",\"type\":\"schedules\",\"attributes\":{\"name\":\"Test-Delete_on_c[...]
