{
  "log": {
    "_recordingName": "On-Call/Delete on call escalation policy returns \"No Content\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "5fe894392c24ef737b63be92c29cbd88",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Delete_on_call_escalation_policy_returns_No_Content_response-1744783241@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 725,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"21184cf0-1a88-11f0-94da-ea45eb78510a\",\"attributes\":{\"name\":null,\"handle\":\"test-delete_on_call_escalation_policy_returns_no_content_response-1744783241@datadoghq.com\",\"created_at\":\"2025-04-16T06:00:42.160080+00:00\",\"modified_at\":\"2025-04-16T06:00:42.160080+00:00\",\"email\":\"test-delete_on_call_escalation_policy_returns_no_content_response-1744783241@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/5ffa1fd08843f17054dbdd59de3cb3fd?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 685
      },
      {
        "_id": "046635d162e7ecfc0b5468985a70a2ea",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"test-handle-e175551930aada6d\",\"name\":\"test-name-e175551930aada6d\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 635,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"f344acbe-1d35-4e9d-a065-260b76bdc269\",\"attributes\":{\"name\":\"test-name-e175551930aada6d\",\"handle\":\"test-handle-e175551930aada6d\",\"summary\":null,\"description\":null,\"avatar\":null,\"banner\":5,\"visible_modules\":[],\"hidden_modules\":[],\"created_at\":\"2025-04-16T06:00:42.836849+00:00\",\"modified_at\":\"2025-04-16T06:00:42.836855+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/f344acbe-1d35-4e9d-a065-260b76bdc269/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/f344acbe-1d35-4e9d-a065-260b76bdc269/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 751
      },
      {
        "_id": "92468fba4507a218c05421a8795b1a37",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"layers\":[{\"effective_date\":\"2025-04-06T06:00:41.575Z\",\"end_date\":\"2025-04-26T06:00:41.575Z\",\"interval\":{\"days\":1},\"members\":[{\"user\":{\"id\":\"890f29d4-0b7a-11f0-aeb2-760fcae4f596\"}}],\"name\":\"Layer 1\",\"restrictions\":[{\"end_day\":\"friday\",\"end_time\":\"17:00:00\",\"start_day\":\"monday\",\"start_time\":\"09:00:00\"}],\"rotation_start\":\"2025-04-11T06:00:41.575Z\"}],\"name\":\"Test-Delete_on_call_escalation_policy_returns_No_Content_response-1744783241\",\"tags\":[\"tag1\",\"tag2\"],\"time_zone\":\"America/New_York\"},\"relationships\":{\"teams\":{\"data\":[{\"id\":\"65aea9d0-941c-4607-bf8a-14fc0dac2820\",\"type\":\"teams\"}]}},\"type\":\"schedules\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/on-call/schedules"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 408,
            "text": "{\"data\":{\"id\":\"b982968d-7886-4ecc-8249-fe9568988fb8\",\"type\":\"schedules\",\"attributes\":{\"name\":\"Test-Delete_on_c[...]
