{
  "log": {
    "_recordingName": "Cloud Cost Management/List rulesets returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "3006d123616ecf715de671c1753690c2",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/tags/enrichment"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 605,
            "text": "{\"data\":[{\"id\":\"1c5dae14-237d-4b9a-a515-aa55b3939142\",\"type\":\"ruleset\",\"attributes\":{\"created\":{\"seconds\":1757622359,\"nanos\":552132000},\"enabled\":true,\"last_modified_user_uuid\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"modified\":{\"seconds\":1757622359,\"nanos\":552132000},\"name\":\"New Ruleset\",\"position\":1,\"rules\":[{\"name\":\"Add Cost Center Tag\",\"enabled\":true,\"query\":{\"query\":\"account_id:\\\"123456789\\\" AND service:\\\"web-api\\\"\",\"addition\":{\"key\":\"cost_center\",\"value\":\"engineering\"},\"if_not_exists\":true,\"case_insensitivity\":false},\"mapping\":null,\"reference_table\":null,\"metadata\":null}],\"version\":3601919}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 172
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
