{
  "log": {
    "_recordingName": "Microsoft Teams Integration/Get workflow webhook handle information returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "7dfdefd6ad34fe558040a8fb608f1b69",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Get_workflow_webhook_handle_information_returns_OK_response-1748457951\",\"url\":\"https://prod-100.westus.logic.azure.com:443/workflows/abcd1234\"},\"type\":\"workflows-webhook-handle\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integration/ms-teams/configuration/workflows-webhook-handles"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 188,
            "text": "{\"data\":{\"id\":\"ac10e097-66cf-4ab3-8659-a6f6c413d51b\",\"type\":\"workflows-webhook-handle\",\"attributes\":{\"name\":\"Test-Get_workflow_webhook_handle_information_returns_OK_response-1748457951\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 105
      },
      {
        "_id": "a4f5d2ef8be4e8ef1fa0ff3bc985a493",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integration/ms-teams/configuration/workflows-webhook-handles/ac10e097-66cf-4ab3-8659-a6f6c413d51b"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 188,
            "text": "{\"data\":[...]
