{
  "log": {
    "_recordingName": "Microsoft Teams Integration/Get workflow webhook handle information returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "f051e89c9491f2a93ce512103332339d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Get_workflow_webhook_handle_information_returns_OK_response-1738093013\",\"url\":\"https://prod-100.westus.logic.azure.com:443/workflows/abcd1234\"},\"type\":\"workflows-webhook-handle\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integration/ms-teams/configuration/workflows-webhook-handles"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 188,
            "text": "{\"data\":{\"id\":\"cf3d9006-205e-47b2-9e6a-bea534a2d38b\",\"type\":\"workflows-webhook-handle\",\"attributes\":{\"name\":\"Test-Get_workflow_webhook_handle_information_returns_OK_response-1738093013\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 87
      },
      {
        "_id": "95a0c8d7a5c5a9479729b7029ad9e5bd",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integration/ms-teams/configuration/workflows-webhook-handles/cf3d9006-205e-47b2-9e6a-bea534a2d38b"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 188,
            "text": "{\"data\":{[...]
