{
  "log": {
    "_recordingName": "Downtimes/Schedule a downtime with invalid weekdays",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "21e0688d26599d43f43647e9d215ee70",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"end\":1657667266,\"message\":\"Test-Schedule_a_downtime_with_invalid_weekdays-1657663666\",\"monitor_tags\":[\"tag0\"],\"recurrence\":{\"period\":1,\"type\":\"weeks\",\"week_days\":[\"mon\",\"tue\"]},\"scope\":[\"*\"],\"start\":1657663666,\"timezone\":\"Etc/UTC\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/downtime"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 95,
            "text": "{\"errors\": [\"Invalid set of days in week_days. Be sure that the first letter is capitalized.\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 380
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
