{
  "log": {
    "_recordingName": "Org Connections/Delete Org Connection returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "c5bc887fe392d215235718b29cbb258f",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/org_connections/malformed_id"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 49,
            "text": "{\"errors\":[\"connection id must be a valid uuid\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 111
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
