{
  "log": {
    "_recordingName": "Dashboards/Create a shared dashboard with a group template variable returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "1a39c72fa68e1fe1b40117a7c546f4a2",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"layout_type\":\"ordered\",\"title\":\"Test-Create_a_shared_dashboard_with_a_group_template_variable_returns_OK_response-1751298438 with Profile Metrics Query\",\"widgets\":[{\"definition\":{\"requests\":[{\"profile_metrics_query\":{\"compute\":{\"aggregation\":\"sum\",\"facet\":\"@prof_core_cpu_cores\"},\"group_by\":[{\"facet\":\"service\",\"limit\":10,\"sort\":{\"aggregation\":\"sum\",\"facet\":\"@prof_core_cpu_cores\",\"order\":\"desc\"}}],\"search\":{\"query\":\"runtime:jvm\"}}}],\"type\":\"timeseries\"}}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 877,
            "text": "{\"id\":\"73x-8zb-5cq\",\"title\":\"Test-Create_a_shared_dashboard_with_a_group_template_variable_returns_OK_response-1751298438 with Profile Metrics Query\",\"description\":null,\"author_handle\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\",\"author_name\":\"CI Account\",\"layout_type\":\"ordered\",\"url\":\"/dashboard/73x-8zb-5cq/test-createashareddashboardwithagrouptemplatevariablereturnsokresponse-175129843\",\"template_variables\":null,\"widgets\":[{\"definition\":{\"requests\":[{\"profile_metrics_query\":{\"compute\":{\"aggregation\":\"sum\",\"facet\":\"@prof_core_cpu_cores\"},\"group_by\":[{\"facet\":\"service\",\"limit\":10,\"sort\":{\"aggregation\":\"sum\",\"facet\":\"@prof_core_cpu_cores\",\"order\":\"desc\"}}],\"search\":{\"query\":\"runtime:jvm\"}}}],\"type\":\"timeseries\"},\"id\":81881431996576}],\"notify_list\":null,\"created_at\":\"2025-06-30T15:47:18.625228+00:00\",\"modified_at\":\"2025-06-30T15:47:18.625228+00:00\",\"restricted_roles\":[]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 496
      },
      {
        "_id": "6d02ce4b4d9ddef2a4225236a54aa781",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"dashboard_id\":\"73x-8zb-5cq\",\"dashboard_type\":\"custom_timeboard\",\"global_time\":{\"live_span\":\"1h\"},\"selectable_template_vars\":[{\"default_value\":\"*\",\"name\":\"group_by_var\",\"type\":\"group\",\"visible_tags\":[\"selectableValue1\",\"selectableValue2\"]}],\"share_type\":\"open\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/public"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 878,
            "text": "{\"author\":{\"handle\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\",\"name\":\"CI Account\"},\"dashboard_id\":\"73x-8zb-5cq\",\"dashboard_type\":\"custom_timeboard\",\"status\":\"active\",\"title\":\"Test-Create_a_shared_dashboard_with_a_group_template_variable_returns_OK_response-1751298438 with Profile Metrics Query\",\"viewing_preferences\":{},\"expiration\":null,\"last_accessed\":null,\"global_time_selectable_enabled\":false,\"global_time\":{\"live_span\":\"1h\"},\"selectable_template_vars\":[{\"default_value\":\"*\",\"name\":\"group_by_var\",\"type\":\"group\",\"visible_tags\":[\"selectableValue1\",\"selectableValue2\"]}],\"token\":\"fasjyydbcgwwc2uc-546a27681750cfe1aa43a9930683c116\",\"public_url\":\"https://p.datadoghq.com/sb/fasjyydbcgwwc2uc-546a27681750cfe1aa43a9930683c116\",\"created\":\"2025-06-30T15:47:19.275023+00:00\",\"share_type\":\"open\",\"share_list\":null,\"session_duration_in_days\":null,\"invitees\":[],\"embeddable_domains\":[]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 628
      },
      {
        "_id": "fdc42e58a2ed98775f77c002c44d533f",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/public/fasjyydbcgwwc2uc-546a27681750cfe1aa43a9930683c116"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 87,
            "text": "{\"deleted_public_dashboard_token\":\"fasjyydbcgwwc2uc-546a27681750cfe1aa43a9930683c116\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 461
      },
      {
        "_id": "17c3feae282c1a7dd89d79469000d3ae",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/73x-8zb-5cq"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 39,
            "text": "{\"deleted_dashboard_id\":\"73x-8zb-5cq\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 441
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
