{
  "log": {
    "_recordingName": "Cloud Cost Management/List Custom Costs files returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "95006440a36a1c7efa748052af5a6e45",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/cost/custom_costs"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 499,
            "text": "{\"data\":[{\"id\":\"1234abcd-1234-abcd-1234-1234abcd1234\",\"type\":\"cost_metadata\",\"attributes\":{\"billed_cost\":250,\"billing_currency\":\"USD\",\"charge_period\":{\"start\":1683331200000,\"end\":1686009600000},\"name\":\"data.json\",\"provider_names\":[\"my_provider\"],\"status\":\"ACTIVE\",\"uploaded_at\":1749848306621,\"uploaded_by\":{\"name\":\"frog\",\"icon\":\"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?d=retro\\u0026s=48\",\"email\":\"frog@datadoghq.com\"}}}],\"meta\":{\"version\":\"1.0\",\"total_filtered_count\":1}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 248
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
