{
  "log": {
    "_recordingName": "Feature Flags/Update targeting rules for a flag in an environment returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "9d154a2b58f53c200baa0e2df1de278b",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"description\":\"Test feature flag for BDD scenarios\",\"key\":\"test-feature-flag-Test-Update_targeting_rules_for_a_flag_in_an_environment_returns_OK_response-1775075810\",\"name\":\"Test Feature Flag Test-Update_targeting_rules_for_a_flag_in_an_environment_returns_OK_response-1775075810\",\"value_type\":\"BOOLEAN\",\"variants\":[{\"key\":\"variant-Test-Update_targeting_rules_for_a_flag_in_an_environment_returns_OK_response-1775075810-1\",\"name\":\"Variant Test-Update_targeting_rules_for_a_flag_in_an_environment_returns_OK_response-1775075810 A\",\"value\":\"true\"},{\"key\":\"variant-Test-Update_targeting_rules_for_a_flag_in_an_environment_returns_OK_response-1775075810-2\",\"name\":\"Variant Test-Update_targeting_rules_for_a_flag_in_an_environment_returns_OK_response-1775075810 B\",\"value\":\"false\"}]},\"type\":\"feature-flags\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/feature-flags"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 5139,
            "text": "{\"data\":{\"id\":\"ede225ed-3a62-4cb5-b678-73851d56c700\",\"type\":\"feature-flags\",\"attributes\":{\"archived_at\":null,\"created_at\":\"2026-04-01T20:36:51.103987Z\",\"created_by\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"description\":\"Test feature flag for BDD scenarios\",\"distribution_channel\":\"ALL\",\"feature_flag_environments\":[{\"environment_id\":\"592600c2-8327-424d-960f-608c327ee96d\",\"environment_name\":\"Test Environment Test-Typescript-Create_allocation_for_a_flag_in_an_environment_returns_Created_response-1774470658\",\"environment_queries\":[\"test-Test-Typescript-Create_allocation_for_a_flag_in_an_environment_returns_Created_response-1774470658\",\"env-Test-Typescript-Create_allocation_for_a_flag_in_an_environment_returns_Created_response-1774470658\"],\"status\":\"DISABLED\",\"default_variant_id\":\"73ffe05f-ba09-46c0-ba5e-9d14b1da564f\",\"override_variant_id\":null,\"default_allocation_key\":\"allocation-default-2950ef4bf91c\",\"override_allocation_key\":\"allocation-override-2950ef4bf91c\",\"rules\":[],\"rollout_percentage\":0,\"allocations\":null,\"is_production\":false,\"require_feature_flag_approval\":false,\"pending_suggestion_id\":null},{\"environment_id\":\"809cd83d-51ac-4f60-9ce5-cfad4d662114\",\"environment_name\":\"Test Environment Test-Typescript-Create_allocation_for_a_flag_in_an_environment_returns_Created_response-1774471346\",\"environment_queries\":[\"test-Test-Typescript-Create_allocation_for_a_flag_in_an_environment_returns_Created_response-1774471346\",\"env-Test-Typescript-Create_allocation_for_a_flag_in_an_environment_returns_Created_response-1774471346\"],\"status\":\"DISABLED\",\"default_variant_id\":\"73[...]
