{
  "log": {
    "_recordingName": "Deployment Gates/Get a deployment gates evaluation result returns \"Deployment gate not found.\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "abc570f76866f86ec8094baf35dfabd2",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/deployments/gates/evaluation/00000000-0000-0000-0000-000000000000"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 131,
            "text": "{\"errors\":[{\"status\":\"404\",\"title\":\"Not Found\",\"detail\":\"gate evaluation with id 00000000-0000-0000-0000-000000000000 not found\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 115
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
