{
  "log": {
    "_recordingName": "Synthetics/Create an API HTTP test with jsonPath assertion succeeds",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "005d2870f94323418be4e69765a634cc",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"config\":{\"assertions\":[],\"request\":{\"method\":\"GET\",\"url\":\"https://example.com\"}},\"locations\":[\"aws:eu-west-3\"],\"message\":\"Notification message\",\"name\":\"Example test name\",\"options\":{\"ci\":{\"executionRule\":\"blocking\"},\"device_ids\":[\"chrome.laptop_large\"],\"httpVersion\":\"http1\",\"monitor_options\":{},\"restricted_roles\":[\"xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx\"],\"retry\":{},\"rumSettings\":{\"applicationId\":\"xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx\",\"clientTokenId\":12345,\"isEnabled\":true},\"scheduling\":{\"timeframes\":[{\"day\":1,\"from\":\"07:00\",\"to\":\"16:00\"},{\"day\":3,\"from\":\"07:00\",\"to\":\"16:00\"}],\"timezone\":\"America/New_York\"}},\"status\":\"live\",\"subtype\":\"http\",\"tags\":[\"env:production\"],\"type\":\"api\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/synthetics/tests/api"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 123,
            "text": "{\"errors\":[\"Minimum number of elements in parameter 'assertions' should be 1\\nRequired parameter 'tick_every' is missing\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 512
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
