{
  "log": {
    "_recordingName": "Key Management/Revoke a personal access token returns \"No Content\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "b9cb81473f99b78e5df8fa9745f986f9",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"expires_at\":\"2027-04-08T16:45:51.557Z\",\"name\":\"Test-Revoke_a_personal_access_token_returns_No_Content_response-1775666751\",\"scopes\":[\"dashboards_read\"]},\"type\":\"personal_access_tokens\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/personal_access_tokens"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 515,
            "text": "{\"data\":{\"id\":\"6bebbb55-0f75-4444-bec1-52de5987290f\",\"type\":\"personal_access_tokens\",\"attributes\":{\"created_at\":\"2026-04-08T16:45:51.638215611Z\",\"expires_at\":\"2027-04-08T16:45:51.557Z\",\"key\":\"xxxxx_xxxxxxxxxxxxxxxxxxXxxx_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\"name\":\"Test-Revoke_a_personal_access_token_returns_No_Content_response-1775666751\",\"public_portion\":\"3HduL45lLrtTDsrdaAXE6B\",\"scopes\":[\"dashboards_read\"]},\"relationships\":{\"owned_by\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 102
      },
      {
        "_id": "f1b4b602c8cdb8a9666f22e6a38eb288",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/personal_access_tokens/6bebbb55-0f75-4444-bec1-52de5987290f"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 125
      },
      {
        "_id": "f1b4b602c8cdb8a9666f22e6a38eb288",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/personal_access_tokens/6bebbb55-0f75-4444-bec1-52de5987290f"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 98
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
