{
  "log": {
    "_recordingName": "Forms/Update a form returns \"Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "79f30234a375502163d3bd822ad37817",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"form_update\":{\"datastore_config\":{\"datastore_id\":\"5108ea24-dd83-4696-9caa-f069f73d0fad\",\"primary_column_name\":\"id\",\"primary_key_generation_strategy\":\"none\"},\"description\":\"An updated description.\",\"name\":\"Updated Form Name\"}},\"id\":\"22f6006a-2302-4926-9396-d2dfcf7b0b34\",\"type\":\"forms\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/forms/00000000-0000-0000-0000-000000000001"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 98,
            "text": "{\"errors\":[{\"status\":\"404\",\"id\":\"c5564241-69a8-4a9e-af78-20c7913fbf5b\",\"title\":\"form not found\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 351
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
