{
  "log": {
    "_recordingName": "Security Monitoring/Update resource filters returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "d8ddee5802d8d1a5977f875c8ab56d64",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"cloud_provider\":{\"aws\":{\"123456789\":[]}}},\"id\":\"csm_resource_filter\",\"type\":\"csm_resource_filter\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/cloud_security_management/resource_filters"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 169,
            "text": "{\"data\":{\"id\":\"csm_resource_filter\",\"type\":\"csm_resource_filter\",\"attributes\":{\"cloud_provider\":{\"aws\":{\"123456789\":[]}},\"uuid\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 230
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
