{
  "log": {
    "_recordingName": "Usage Metering/Get hourly usage for Fargate returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "6573819cc1ae4d69f09db54c806322d0",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "start_hr",
              "value": "2022-03-27T00:41:23.206Z"
            },
            {
              "name": "end_hr",
              "value": "2022-03-29T00:41:23.206Z"
            }
          ],
          "url": "https://api.datadoghq.com/api/v1/usage/fargate?start_hr=2022-03-27T00%3A41%3A23.206Z&end_hr=2022-03-29T00%3A41%3A23.206Z"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 8987,
            "text": "{\"usage\":[{\"org_name\":\"DD Integration Tests (321813)\",\"public_id\":\"fasjyydbcgwwc2uc\",\"hour\":\"2022-03-27T00:00:00+00:00\",\"avg_tasks_count\":null,\"tasks_count\":null,\"avg_profiled_fargate_tasks\":null},{\"org_name\":\"DD Integration Tests (321813)\",\"public_id\":\"fasjyydbcgwwc2uc\",\"hour\":\"2022-03-27T01:00:00+00:00\",\"avg_tasks_count\":null,\"tasks_count\":null,\"avg_profiled_fargate_tasks\":null},{\"org_name\":\"DD Integration Tests (321813)\",\"public_id\":\"fasjyydbcgwwc2uc\",\"hour\":\"2022-03-27T02:00:00+00:00\",\"avg_tasks_count\":null,\"tasks_count\":null,\"avg_profiled_fargate_tasks\":null},{\"org_name\":\"DD Integration Tests (321813)\",\"public_id\":\"fasjyydbcgwwc2uc\",\[...]
