{
  "log": {
    "_recordingName": "Teams/Delete team notification rule returns \"API error response.\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "d962cfdfecc221bd324c60bf32a2adfd",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"test-handle-7ecc01265306da71\",\"name\":\"test-name-7ecc01265306da71\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 660,
            "text": "{\"data\":{\"id\":\"9bd7798e-a955-48e0-9a36-13820e1ff74b\",\"type\":\"team\",\"attributes\":{\"avatar\":null,\"banner\":2,\"created_at\":\"2025-12-23T16:10:38.996803+00:00\",\"description\":null,\"handle\":\"test-handle-7ecc01265306da71\",\"hidden_modules\":null,\"is_managed\":false,\"link_count\":0,\"modified_at\":\"2025-12-23T16:10:38.996803+00:00\",\"name\":\"test-name-7ecc01265306da71\",\"summary\":null,\"user_count\":0,\"visible_modules\":null},\"relationships\":{\"team_links\":{\"data\":[],\"links\":{\"related\":\"/api/v2/team/9bd7798e-a955-48e0-9a36-13820e1ff74b/links\"}},\"user_team_permissions\":{\"data\":null,\"links\":{\"related\":\"/api/v2/team/9bd7798e-a955-48e0-9a36-13820e1ff74b/permission-settings\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 163
      },
      {
        "_id": "da198411002ac6fe25afcf6c191bf211",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":{\"enabled\":true},\"slack\":{\"channel\":\"aaa-omg-ops\",\"workspace\":\"Datadog\"}},\"type\":\"team_notification_rules\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/9bd7798e-a955-48e0-9a36-13820e1ff74b/notification-rules"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 183,
            "text": "{\"data\":{\"id\":\"87b5e6e4-000d-4d9d-bb1c-bc62728a8ab8\",\"type\":\"team_notification_rules\",\"attributes\":{\"email\":{\"enabled\":true},\"slack\":{\"workspace\":\"Datadog\",\"channel\":\"aaa-omg-ops\"}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 113
      },
      {
        "_id": "439cbd05a23d72b0510ae71041192cdf",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/9bd7798e-a955-48e0-9a36-13820e1ff74b/notification-rules/3d031bb2-e1da-4d34-a670-1b5557b032c9"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 147,
            "text": "{\"errors\":[{\"status\":\"404\",\"detail\":\"rule ID 3d031bb2-e1da-4d34-a670-1b5557b032c9 was not found in team ID 9bd7798e-a955-48e0-9a36-13820e1ff74b\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 108
      },
      {
        "_id": "d9c889d083225281a6048c2d182041ee",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/9bd7798e-a955-48e0-9a36-13820e1ff74b"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 257
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
