{
  "log": {
    "_recordingName": "Monitors/Get a monitor configuration policy returns \"Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "2f7468514943dcba5b6cb4eb0445660c",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/monitor/policy/12340000-0000-0000-0000-000000000000"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 53,
            "text": "{\"errors\":[\"Monitor configuration policy not found\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 292
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
