{
  "log": {
    "_recordingName": "CSM Threats/Get all Workload Protection policies returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "c11ab9892196f6ff9cd9f75438c46596",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/remote_config/products/cws/policy"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1500,
            "text": "{\"data\":[{\"id\":\"best-practice.policy\",\"type\":\"policy\",\"attributes\":{\"blockingRulesCount\":0,\"datadogManaged\":true,\"disabledRulesCount\":1,\"enabled\":true,\"monitoringRulesCount\":7,\"name\":\"Best-practice Policy\",\"pinned\":false,\"policyVersion\":\"1.57.3-rc6\",\"ruleCount\":8,\"updateDate\":1759956888000,\"updater\":{\"name\":\"Datadog\",\"handle\":\"\"},\"versions\":[{\"Name\":\"1.47.0-rc2\",\"Date\":\"2025-06-03T15:29:24Z\"},{\"Name\":\"1.51.0-rc3\",\"Date\":\"2025-07-14T15:24:33Z\"},{\"Name\":\"1.57.3-rc6\",\"Date\":\"2025-10-08T20:54:48Z\"}]}},{\"id\":\"compliance.policy\",\"type\":\"policy\",\"attributes\":{\"blockingRulesCount\":0,\"datadogManaged\":true,\"disabledRulesCount\":0,\"enabled\":true,\"monitoringRulesCount\":91,\"name\":\"Compliance Policy\",\"pinned\":false,\"policyVersion\":\"1.57.3-rc6\",\"ruleCount\":91,\"updateDate\":1759956888000,\"updater\":{\"name\":\"Datadog\",\"handle\":\"\"},\"versions\":[{\"Name\":\"1.47.0-rc2\",\"Date\":\"2025-06-03T15:29:24Z\"},{\"Name\":\"1.53.0-rc4\",\"Date\":\"2025-07-25T14:21:14Z\"},{\"Name\":\"1.57.3-rc6\",\"Date\":\"2025-10-08T20:54:48Z\"}]}},{\"id\":\"threat-detection.policy\",\"type\":\"policy\",\"attributes\":{\"blockingRulesCount\":0,\"datadogManaged\":true,\"disabledRulesCount\":0,\"enabled\":true,\"monitoringRulesCount\":196,\"name\":\"Threat-detection Policy\",\"pinned\":false,\"policyVersion\":\"1.57.3-rc12\",\"ruleCount\":196,\"updateDate\":1759956888000,\"updater\":{\"name\":\"Datadog\",\"handle\":\"\"},\"versions\":[{\"Name\":\"1.53.0-rc8\",\"Date\":\"2025-07-25T14:21:14Z\"},{\"Name\":\"1.54.0-rc9\",\"Date\":\"2025-08-07T15:09:31Z\"},{\"Name\":\"1.57.3-rc12\",\"Date\":\"2025-10-08T20:54:48Z\"}]}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 615
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
