{
  "log": {
    "_recordingName": "Monitors/Delete a monitor returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "870b7b1f6f484cd7ff46a9180ed63667",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"message\":\"some message Notify: @hipchat-channel\",\"name\":\"Test-Delete_a_monitor_returns_OK_response-1728578430\",\"options\":{\"enable_logs_sample\":true,\"escalation_message\":\"the situation has escalated\",\"evaluation_delay\":700,\"include_tags\":true,\"locked\":false,\"new_host_delay\":600,\"no_data_timeframe\":null,\"notification_preset_name\":\"hide_handles\",\"notify_audit\":false,\"notify_no_data\":false,\"on_missing_data\":\"show_and_notify_no_data\",\"renotify_interval\":60,\"require_full_window\":true,\"thresholds\":{\"critical\":2,\"warning\":1},\"timeout_h\":24},\"priority\":3,\"query\":\"logs(\\\"service:foo AND type:error\\\").index(\\\"main\\\").rollup(\\\"count\\\").by(\\\"source\\\").last(\\\"5m\\\") > 2\",\"tags\":[\"test:testdeleteamonitorreturnsokresponse1728578430\",\"env:ci\"],\"type\":\"log alert\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/monitor"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1186,
            "text": "{\"id\":155845206,\"org_id\":321813,\"type\":\"log alert\",\"name\":\"Test-Delete_a_monitor_returns_OK_response-1728578430\",\"message\":\"some message Notify: @hipchat-channel\",\"tags\":[\"test:testdeleteamonitorreturnsokresponse1728578430\",\"env:ci\"],\"query\":\"logs(\\\"service:foo AND type:error\\\").index(\\\"main\\\").rollup(\\\"count\\\").by(\\\"source\\\").last(\\\"5m\\\") > 2\",\"options\":{\"enable_logs_sample\":true,\"escalation_message\":\"the situation has escalated\",\"evaluation_delay\":700,\"include_tags\":true,\"locked\":false,\"new_host_delay\":600,\"no_data_timeframe\":null,\"notification_preset_name\":\"hide_handles\",\"notify_audit\":false,\"notify_no_data\":false,\"on_missing_data\":\"show_and_notify_no_data\",\"renotify_interval\":60,\"require_full_window\":true,\"thresholds\":{\"critical\":2.0,\"warning\":1.0},\"timeout_h\":24,\"groupby_simple_monitor\":false,\"silenced\":{}},\"multi\":true,\"created_at\":1728578430000,\"created\":\"2024-10-10T16:40:30.574547+00:00\",\"modified\":\"2024-10-10T16:40:30.574547+00:00\",\"deleted\":null,\"restricted_roles\":null,\"priority\":3,\"restriction_policy\":null,\"overall_state_modified\":null,\"overall_state\":\"No Data\",\"creator\":{\"name\":null,\"handle\":\"frog@datadoghq.com\",\"email\":\"frog@datadoghq.com\",\"id\":1445416}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 331
      },
      {
        "_id": "0bad779cd6dc06f3d61891f6fcf13e0f",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/monitor/155845206"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 33,
            "text": "{\"deleted_monitor_id\":155845206}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 231
      },
      {
        "_id": "0bad779cd6dc06f3d61891f6fcf13e0f",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/monitor/155845206"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 32,
            "text": "{\"errors\":[\"Monitor not found\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 129
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
