{
  "log": {
    "_recordingName": "Rum Retention Filters/Order RUM retention filters returns \"Ordered\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "0de9993a85942e727effeef50626eacd",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":[{\"id\":\"325631eb-94c9-49c0-93f9-ab7e4fd24529\",\"type\":\"retention_filters\"},{\"id\":\"42d89430-5b80-426e-a44b-ba3b417ece25\",\"type\":\"retention_filters\"},{\"id\":\"bff0bc34-99e9-4c16-adce-f47e71948c23\",\"type\":\"retention_filters\"}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/rum/applications/1d4b9c34-7ac4-423a-91cf-9902d926e9b3/relationships/retention_filters"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 229,
            "text": "{\"data\":[{\"id\":\"325631eb-94c9-49c0-93f9-ab7e4fd24529\",\"type\":\"retention_filters\"},{\"id\":\"42d89430-5b80-426e-a44b-ba3b417ece25\",\"type\":\"retention_filters\"},{\"id\":\"bff0bc34-99e9-4c16-adce-f47e71948c23\",\"type\":\"retention_filters\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 77
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
