{
  "log": {
    "_recordingName": "Microsoft Teams Integration/Get api handle information returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "8cfc2dca9672e4cf4531ce003979d0e7",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"channel_id\":\"19:iD_D2xy_sAa-JV851JJYwIa6mlW9F9Nxm3SLyZq68qY1@thread.tacv2\",\"name\":\"Test-Get_api_handle_information_returns_OK_response-1727794145\",\"team_id\":\"e5f50a58-c929-4fb3-8866-e2cd836de3c2\",\"tenant_id\":\"4d3bac44-0230-4732-9e70-cc00736f0a97\"},\"type\":\"handle\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integration/ms-teams/configuration/tenant-based-handles"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 333,
            "text": "{\"data\":{\"id\":\"4e3c0816-8004-11ef-b813-da7ad0900002\",\"type\":\"handle\",\"attributes\":{\"channel_id\":\"19:iD_D2xy_sAa-JV851JJYwIa6mlW9F9Nxm3SLyZq68qY1@thread.tacv2\",\"name\":\"Test-Get_api_handle_information_returns_OK_response-1727794145\",\"team_id\":\"e5f50a58-c929-4fb3-8866-e2cd836de3c2\",\"tenant_id\":\"4d3bac44-0230-4732-9e70-cc00736f0a97\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 116
      },
      {
        "_id": "86c27b05aef4d546c2a0828cd5936072",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integration/ms-teams/configuration/tenant-based-handles/4e3c0816-8004-11ef-b813-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 436,
            "text": "{\"data\":{\"id\":\"4e3c0816-8004-11ef-b813-da7ad0900002\",\"type\":\"ms-teams-handle-info\",\"attributes\":{\"channel_id\":\"19:iD_D2xy_sAa-JV851JJYwIa6mlW9F9Nxm3SLyZq68qY1@thread.tacv2\",\"channel_name\":\"General-1\",\"name\":\"Test-Get_api_handle_information_returns_OK_response-1727794145\",\"team_id\":\"e5f50a58-c929-4fb3-8866-e2cd836de3c2\",\"team_name\":\"Chat Integrations\",\"tenant_id\":\"4d3bac44-0230-4732-9e70-cc00736f0a97\",\"tenant_name\":\"Datadog, Inc.\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 139
      },
      {
        "_id": "67d24ca0a1c6d50c88554f2e986117e4",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integration/ms-teams/configuration/tenant-based-handles/4e3c0816-8004-11ef-b813-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 85
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
