{
  "log": {
    "_recordingName": "Application Security/Delete a WAF exclusion filter returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "f87651cfcb9ddb71c4de1be9e301b3e8",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"description\":\"My Exclusion Filter\",\"enabled\":true,\"parameters\":[\"list.search.query\"],\"path_glob\":\"*\",\"rules_target\":[{\"tags\":{\"category\":\"attack_attempt\",\"type\":\"xss\"}}],\"scope\":[{\"env\":\"staging\",\"service\":\"event-query\"}]},\"type\":\"exclusion_filter\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/remote_config/products/asm/waf/exclusion_filters"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1221,
            "text": "{\"data\":{\"id\":\"da282618-ff1f-41ed-9f79-947817641a02\",\"type\":\"exclusion_filter\",\"attributes\":{\"description\":\"My Exclusion Filter\",\"enabled\":true,\"metadata\":{\"added_at\":\"2025-02-25T19:11:29Z\",\"added_by\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\",\"added_by_name\":\"CI Account\"},\"parameters\":[\"list.search.query\"],\"path_glob\":\"*\",\"rules_target\":[{\"tags\":{\"category\":\"attack_attempt\",\"type\":\"xss\"}}],\"scope\":[{\"env\":\"staging\",\"service\":\"event-query\"}],\"search_query\":\"(env:staging AND service:\\\"event-query\\\") AND ((@appsec.triggers.rule_matches.parameters.address:server.request.query AND (@appsec.triggers.rule_matches.parameters.key:list.search.query OR @appsec.triggers.rule_matches.parameters.params.key:list.search.query)) OR (@appsec.triggers.rule_matches.parameters.address:server.request.body AND (@appsec.triggers.rule_matches.parameters.key:list.search.query OR @appsec.triggers.rule_matches.parameters.params.key:list.search.query)) OR (@appsec.triggers.rule_matches.parameters.address:server.request.path_params AND (@appsec.triggers.rule_matches.parameters.key:list.search.query OR @appsec.triggers.rule_matches.parameters.params.key:list.search.query))) AND (@appsec.category:attack_attempt AND @appsec.type:xss)\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 650
      },
      {
        "_id": "65b3a97b856e1ade8188c1a86b1e6d8c",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/remote_config/products/asm/waf/exclusion_filters/da282618-ff1f-41ed-9f79-947817641a02"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 0
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 867
      },
      {
        "_id": "65b3a97b856e1ade8188c1a86b1e6d8c",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/remote_config/products/asm/waf/exclusion_filters/da282618-ff1f-41ed-9f79-947817641a02"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 51,
            "text": "{\"errors\":[{\"title\":\"id not found\",\"code\":\"404\"}]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 589
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
