{
  "log": {
    "_recordingName": "Logs Restriction Queries/Get restriction query for a given role returns \"Not found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "9e3fe7a4f5adc3895999a4c8bad141a1",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/config/restriction_queries/role/00000000-0000-0000-0000-000000000000"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 64,
            "text": "{\"errors\":[\"Missing Role 00000000-0000-0000-0000-000000000000\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 344
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
