{
  "log": {
    "_recordingName": "Usage Metering/Get hourly usage for hosts and containers returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "f63f2f5faec518d7283875ec28c170ad",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "start_hr",
              "value": "2025-05-07T11:35:58.852Z"
            },
            {
              "name": "end_hr",
              "value": "2025-05-09T11:35:58.852Z"
            }
          ],
          "url": "https://api.datadoghq.com/api/v1/usage/hosts?start_hr=2025-05-07T11%3A35%3A58.852Z&end_hr=2025-05-09T11%3A35%3A58.852Z"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 32988,
            "text": "{\"usage\":[{\"hour\":\"2025-05-07T11:00:00+00:00\",\"region\":\"us\",\"host_count\":2,\"agent_host_count\":2,\"aws_host_count\":0,\"gcp_host_count\":0,\"azure_host_count\":0,\"alibaba_host_count\":0,\"infra_azure_app_service\":0,\"apm_host_count\":null,\"apm_host_count_incl_usm\":null,\"apm_azure_app_service_host_count\":null,\"apm_uncategorized_host_count\":null,\"apm_trace_count\":0,\"npm_host_count\":null,\"unbillable_host_count\":0,\"container_count\":null,\"container_max_container_count_excl_agent\":null,\"opentelemetry_host_count\":0,\"opentelemetry_apm_host_count\":0,\"heroku_host_count\":0,\"vsphere_host_count\":0,\"data_stream_monitoring_host_count\":null,\"org_name\":\"DD Integration Tests (321813)\",\"public_id\":\"fasjyydbcgwwc2uc\"},{\"hour\":\"2025-05-07T12:00:00+00:00\",\"region\":\"us\",\"host_count\":2,\"agent_host_count\":2,\"aws_host_count\":0,\"gcp_host_count\":0,\"azure_host_count\":0,\"alibaba_host_count\":0,\"infra_azure_app_service\":0,\"apm_host_count\":null,\"apm_host_count_incl_usm\":null,\"apm_azure_app_service_host_count\":null,\"apm_uncategorized_host_count\":null,\"apm_trace_count\":0,\"npm_host_count\":null,\"unbillable_host_count\":0,\"container_count\":null,\"container_max_containe[...]
