{
  "log": {
    "_recordingName": "Logs Metrics/Delete a log-based metric returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "b658ef64c96a08d249fd9727ed570eef",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"compute\":{\"aggregation_type\":\"count\"},\"filter\":{\"query\":\"source:Test-Delete_a_log_based_metric_returns_OK_response-1618233209\"}},\"id\":\"Test-Delete_a_log_based_metric_returns_OK_response-1618233209\",\"type\":\"logs_metrics\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/config/metrics"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 364,
            "text": "[\"1f8b0800000000000003958fb10ac3300c44ff4573024d0aa5cddcad43976ea50827518d21b15d4b1e42c8bf57860c5dbb1da7d33d6e85d188816e053742070f62c12b4d248406a760b1374c23ce24c90d984872f28cf79b4a8ec13361736aceedf1d81e2e508111cdf559884be5db4d42a9a84fa6b4683f879c06ea0aa6fe0b53ff60b60a6c0a3962af95cf57054398a3320bc8589bc81a71c1a32c513dbd662fb0e9d76ee82cde17b1fa5f0a54751a03010000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-dd-version",
              "value": "35.4288658"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "100"
            },
            {
              "name": "x-ratelimit-period",
              "value": "3600"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "2790"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "97"
            },
            {
              "name": "content-disposition",
              "value": "inline"
            },
            {
              "name": "x-dd-debug",
              "value": "bgHykj7A9bfZx0Y5ZO3swhhp5tGUSNJHqFWR868+qg087CYrDOd5hQslC+noiEtH"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 660,
      },
      {
        "_id": "1e638824f7a39b7e094b3869323d9d96",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/config/metrics/Test_Delete_a_log_based_metric_returns_OK_response_1618233209"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 2,
            "text": "{}"
          },
 [...]
