{
  "log": {
    "_recordingName": "Logs Metrics/Delete a log-based metric returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "a6c920c195915745813739e3230135a5",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"compute\":{\"aggregation_type\":\"count\"},\"filter\":{\"query\":\"source:Typescript-Delete_a_log_based_metric_returns_OK_response-1613653934.984\"}},\"id\":\"Typescript-Delete_a_log_based_metric_returns_OK_response-1613653934.984\",\"type\":\"logs_metrics\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/config/metrics"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 380,
            "text": "[\"1f8b0800000000000003958f310bc2400c85ff4be62a48b56867370717379170bdc6e3a0f6ce243788f4bf9b424170737b3c92f7f1bda177eaa07d43eca185cb2b93788e59f1480329a1c32105ec9c508f0f528e1e99b4f028783e59949c4621dc349bbad9d5877abb3eecb7508153bbed8a92cce3f73828f19c9e85f8652449853db55fe0ea2fe0ea0738551038958c9d8d5f6f15f8f4c8469f912e04a6e034a611d5048dee53191526fb5a0a9394c54facff00909cdce317010000\"]"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-dd-version",
              "value": "35.3933218"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "300"
            },
            {
              "name": "x-ratelimit-period",
              "value": "300"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "165"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "298"
            },
            {
              "name": "content-disposition",
              "value": "inline"
            },
            {
              "name": "x-dd-debug",
              "value": "LcgNasIYBRkNppmD6mCKE9J6iv0eEjosuuHR5V5zw2fWbR54i39C8dhdK8zDq/40"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 561,
      },
      {
        "_id": "29ddb5a7705b1a2e5ace2a1c74147603",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/config/metrics/Typescript_Delete_a_log_based_metric_returns_OK_response_1613653934.984"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 2,
            "text": "{}"
    [...]
