{
  "log": {
    "_recordingName": "Logs Metrics/Delete a log-based metric returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "681dd171454d73b480a9abe8e47be1f7",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"compute\":{\"aggregation_type\":\"count\"},\"filter\":{\"query\":\"source:Typescript-Delete_a_log_based_metric_returns_OK_response-1613666624.739\"}},\"id\":\"Typescript-Delete_a_log_based_metric_returns_OK_response-1613666624.739\",\"type\":\"logs_metrics\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/config/metrics"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 378,
            "text": "[\"1f8b0800000000000003958fbd0ac2401084df65eb44f08788a9ed2c6cec4496cb653d0e92dcb9bb5704f1dddd8020d8b9d530cccec73ca177eaa07d42eca185cb9c493cc7ac78a48194d0e19002764ea8c79194a347262d3c099e4f2625a74908d7cd7adbd86d76abfdf6001538b56c57946429bfc7418917f528c4b3912415f6d47e81f55fc0fa07f8aa20702a193b2bbfde2af069cc465f902e04a6e034a609d5061adda73229bceceb63d848f9ec13f3df25f710a817010000\"]"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-dd-version",
              "value": "35.3935655"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "300"
            },
            {
              "name": "x-ratelimit-period",
              "value": "300"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "76"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "298"
            },
            {
              "name": "content-disposition",
              "value": "inline"
            },
            {
              "name": "x-dd-debug",
              "value": "HbtaOKlJ6OCrx9tMXO6ivMTrEM+g0c93HDp08trmOmgdHozC5J+vn10F0H4WPjCU"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1289,
      },
      {
        "_id": "8b4887a939d592755c0ba8e7ede0906c",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/config/metrics/Typescript_Delete_a_log_based_metric_returns_OK_response_1613666624.739"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 2,
            "text": "{}"
   [...]
