{
  "log": {
    "_recordingName": "Logs Metrics/Delete a log-based metric returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "8915f3bf506de760dfee9774c029554e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"compute\":{\"aggregation_type\":\"count\"},\"filter\":{\"query\":\"source:Typescript-Delete_a_log_based_metric_returns_OK_response-1613750660.885\"}},\"id\":\"Typescript-Delete_a_log_based_metric_returns_OK_response-1613750660.885\",\"type\":\"logs_metrics\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/config/metrics"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 380,
            "text": "[\"1f8b0800000000000003958f310bc2400c85ff4be62a8ab44a67370717379170bdc6e3a0f6ce243788f4bf9b424170737b3c92f7f1bda177eaa07d43eca185cb2b93788e59f1480329a1c32105ec9c508f0f528e1e99b4f028783e59949c4621dc36dbddbede34cd667d38d4508153bbed8a92cce3f73828f19c9e85f8652449853db55fe0ea2fe0ea0738551038958c9d8d5f6f15f8f4c8469f912e04a6e034a611d5048dee53191526fb5a0a9394c54facff0095d1757c17010000\"]"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-dd-version",
              "value": "35.3944440"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "300"
            },
            {
              "name": "x-ratelimit-period",
              "value": "300"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "39"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "298"
            },
            {
              "name": "content-disposition",
              "value": "inline"
            },
            {
              "name": "x-dd-debug",
              "value": "/L+SFFO+m1pPY+hRCpk5325fvfrNl0KmiquUNJolBN/5hu3HIwflqjZSbJ6NxDFG"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 709,
      },
      {
        "_id": "379b7ec9f1e8db38136beb3749561104",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/config/metrics/Typescript_Delete_a_log_based_metric_returns_OK_response_1613750660.885"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 2,
            "text": "{}"
    [...]
