{
  "log": {
    "_recordingName": "Logs Metrics/Delete a log-based metric returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "41dc2bc86f0a98b4bcfc2b343cb31a9a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"compute\":{\"aggregation_type\":\"count\"},\"filter\":{\"query\":\"source:Typescript-Delete_a_log_based_metric_returns_OK_response-1613676219.073\"}},\"id\":\"Typescript-Delete_a_log_based_metric_returns_OK_response-1613676219.073\",\"type\":\"logs_metrics\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/config/metrics"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 380,
            "text": "[\"1f8b0800000000000003958f310bc2400c85ff4be62a56a16267370717379170bdc6e3a0f6ce243748e97f37054170737b3c92f7f14dd03b75d04e107b68e1f2ca249e63563cd2404ae87048013b27d4e38394a347262d3c0a9e4f1625a75108eba6de35fb665b1fd69bfd0e2a706ab75d519265fc1e07255ed2b310bf8c24a9b0a7f60b5cfd055cfd00e70a02a792b1b3f1ebad029f1ed9e80bd285c0149cc634a29aa0d17d2aa3c26c5f9fc224e5e327d6bf01d36e116e17010000\"]"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-dd-version",
              "value": "35.3936814"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "300"
            },
            {
              "name": "x-ratelimit-period",
              "value": "300"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "81"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "298"
            },
            {
              "name": "content-disposition",
              "value": "inline"
            },
            {
              "name": "x-dd-debug",
              "value": "gYZcaADwbKcv7Hm19HJx6WsLoKuOijDWAt2viPeCfWqUgyKY+9e1xZdmMJeXV3YV"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 539,
      },
      {
        "_id": "f8fbe2141fe953cb618819f71c8f8ced",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/config/metrics/Typescript_Delete_a_log_based_metric_returns_OK_response_1613676219.073"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 2,
            "text": "{}"
    [...]
