{
  "log": {
    "_recordingName": "Logs Metrics/Delete a log-based metric returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "36f2d8d71ab979cf10180168c0ad5737",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"compute\":{\"aggregation_type\":\"count\"},\"filter\":{\"query\":\"source:Test-Delete_a_log_based_metric_returns_OK_response-1618125610\"}},\"id\":\"Test-Delete_a_log_based_metric_returns_OK_response-1618125610\",\"type\":\"logs_metrics\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/config/metrics"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 364,
            "text": "[\"1f8b0800000000000003958fb10ac3300c44ff45730a75a1a164eed6a14bb7528493a8c690d8ae250f21e4df2b4386aedd8ed3e91eb7c268c542b7821fa18307b1e0952612428b5374d85ba6116792ec07cc242507c6fb4d25a71898d0b4e6624ee7d61ca1012b9aeb8b10d7cab79f8472559f4279d17e8e250fd455cce12fcce107b335e0722c097bad7cbe1a18e29c945941d6b94cce8a8f016549eae9b504814dbf764367f1be88d5ff0264c82c3803010000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-dd-version",
              "value": "35.4281284"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "100"
            },
            {
              "name": "x-ratelimit-period",
              "value": "3600"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "2389"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "85"
            },
            {
              "name": "content-disposition",
              "value": "inline"
            },
            {
              "name": "x-dd-debug",
              "value": "tpRCH6w417YjBovRJ8VmtuXmNONVYiRp2c8d2AxjPdGBn8PCtgG4vAztrx3qUZAN"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 500,
      },
      {
        "_id": "eddae5533a2d2d337d71a011d8cd0f0e",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/config/metrics/Test_Delete_a_log_based_metric_returns_OK_response_1618125610"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 2,
            "text": "{}"
          },
 [...]
