{
  "log": {
    "_recordingName": "Teams/Remove a user from a team returns \"No Content\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "06adab815152105a98eb24da866c8255",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"test-handle-789e569afaa52bde\",\"name\":\"test-name-789e569afaa52bde\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 660,
            "text": "{\"data\":{\"id\":\"1d059472-0eff-4857-a6c8-5e5041448b54\",\"type\":\"team\",\"attributes\":{\"avatar\":null,\"banner\":5,\"created_at\":\"2026-03-25T10:51:13.938804+00:00\",\"description\":null,\"handle\":\"test-handle-789e569afaa52bde\",\"hidden_modules\":null,\"is_managed\":false,\"link_count\":0,\"modified_at\":\"2026-03-25T10:51:13.938804+00:00\",\"name\":\"test-name-789e569afaa52bde\",\"summary\":null,\"user_count\":0,\"visible_modules\":null},\"relationships\":{\"team_links\":{\"data\":[],\"links\":{\"related\":\"/api/v2/team/1d059472-0eff-4857-a6c8-5e5041448b54/links\"}},\"user_team_permissions\":{\"data\":null,\"links\":{\"related\":\"/api/v2/team/1d059472-0eff-4857-a6c8-5e5041448b54/permission-settings\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 517
      },
      {
        "_id": "3dc77df119011be1eb29329a067fc083",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Remove_a_user_from_a_team_returns_No_Content_response-1774435873@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 774,
            "text": "{\"data\": {\"type\": \"users\", \"id\": \"66e25b0b-3f3b-427e-b162-e779f4535abb\", \"attributes\": {\"name\": null, \"handle\": \"test-remove_a_user_from_a_team_returns_no_content_response-1774435873@datadoghq.com\", \"created_at\": \"2026-03-25T10:51:14.481612+00:00\", \"modified_at\": \"2026-03-25T10:51:14.481612+00:00\", \"email\": \"test-remove_a_user_from_a_team_returns_no_content_response-1774435873@datadoghq.com\", \"icon\": \"https://secure.gravatar.com/avatar/be9f1c5abecde28b4c01cc8aa0680377?s=48&d=retro\", \"title\": \"user title\", \"verified\": false, \"service_account\": false, \"disabled\": false, \"allowed_login_methods\": [], \"status\": \"Pending\", \"last_login_time\": null}, \"relationships\": {\"roles\": {\"data\": []}, \"org\": {\"data\": {\"type\": \"orgs\", \"id\": \"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 521
      },
      {
        "_id": "ad5388a00a4853638709c59f5cbfee62",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"role\":\"admin\"},\"relationships\":{\"user\":{\"data\":{\"id\":\"66e25b0b-3f3b-427e-b162-e779f4535abb\",\"type\":\"users\"}}},\"type\":\"team_memberships\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/1d059472-0eff-4857-a6c8-5e5041448b54/memberships"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 755,
            "text": "{\"data\":{\"id\":\"TeamMembership-1d059472-0eff-4857-a6c8-5e5041448b54-66092046\",\"type\":\"team_memberships\",\"attributes\":{\"provisioned_by\":null,\"provisioned_by_id\":\"a1d5ff5a-c6dd-11f0-9cb6-06640ca27ad4\",\"role\":\"admin\"},\"relationships\":{\"user\":{\"data\":{\"id\":\"66e25b0b-3f3b-427e-b162-e779f4535abb\",\"type\":\"users\"}}}},\"included\":[{\"id\":\"66e25b0b-3f3b-427e-b162-e779f4535abb\",\"type\":\"users\",\"attributes\":{\"disabled\":false,\"email\":\"test-remove_a_user_from_a_team_returns_no_content_response-1774435873@datadoghq.com\",\"handle\":\"test-remove_a_user_from_a_team_returns_no_content_response-1774435873@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/be9f1c5abecde28b4c01cc8aa0680377?d=retro\\u0026s=48\",\"name\":null,\"service_account\":false,\"status\":\"Pending\"}}]}"
          },
          "headers[...]
