{
  "log": {
    "_recordingName": "On-Call/Delete an On-Call email for a user returns \"No Content\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "bf3f1119c260d109e155d8a1c11ad6c0",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Delete_an_On_Call_email_for_a_user_returns_No_Content_response-1762896894@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 752,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"43acb848-bf46-11f0-ab62-92ea5df1f825\",\"attributes\":{\"name\":null,\"handle\":\"test-delete_an_on_call_email_for_a_user_returns_no_content_response-1762896894@datadoghq.com\",\"created_at\":\"2025-11-11T21:34:55.249474+00:00\",\"modified_at\":\"2025-11-11T21:34:55.249474+00:00\",\"email\":\"test-delete_an_on_call_email_for_a_user_returns_no_content_response-1762896894@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/59021cfaece7e71bf1d358fffc29d134?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\",\"last_login_time\":null},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 231
      },
      {
        "_id": "c9968f2ac9894411b58ea9950a5417bf",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"active\":true,\"address\":\"test-delete_an_on_call_email_for_a_user_returns_no_content_response-1762896894@datadoghq.com\",\"alias\":\"\",\"formats\":[\"html\"]},\"type\":\"emails\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/on-call/users/43acb848-bf46-11f0-ab62-92ea5df1f825/notification-channels/emails"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 337,
            "text": "{\"data\":{\"id\":\"b9099fbc-43b3-4c74-9942-15ca0bcf519c\",\"type\":\"emails\",\"attributes\":{\"active\":true,\"address\":\"test-delete_an_on_call_email_for_a_user_returns_no_content_response-1762896894@datadoghq.com\",\"alias\":\"\",\"blocked\":false,\"created_at\":\"2025-11-11T21:34:55.795766Z\",\"formats\":[\"html\"],\"modified_at\":\"2025-11-11T21:34:55.795766Z\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 494
      },
      {
        "_id": "73534b2446a97d945d1cad3d599233cc",
        "request": {
          "headers": [
     [...]
