{
  "log": {
    "_recordingName": "Execution Policy/Delete an execution policy returns \"Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "e0843177541c24c184507391d7fa0b5e",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/actions/execution-policies/aaa11111-aa11-aa11-aaaa-aaaaaa111111"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 81,
            "text": "{\"errors\":[{\"title\":\"Generic Error\",\"detail\":\"error deleting execution policy\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 335
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
