{
  "log": {
    "_recordingName": "Metrics/Configure tags for multiple metrics returns \"Accepted\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "39cbe32955b203e030d2cd2057616382",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Configure_tags_for_multiple_metrics_returns_Accepted_response-1780593188@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 796,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"bbd25c81-fae3-46b3-99b3-4251859017c4\",\"attributes\":{\"uuid\":\"bbd25c81-fae3-46b3-99b3-4251859017c4\",\"name\":null,\"handle\":\"test-configure_tags_for_multiple_metrics_returns_accepted_response-1780593188@datadoghq.com\",\"created_at\":\"2026-06-04T17:13:10.281475+00:00\",\"modified_at\":\"2026-06-04T17:13:10.281475+00:00\",\"email\":\"test-configure_tags_for_multiple_metrics_returns_accepted_response-1780593188@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/f08cc2909ca7eae455a0969e3664ec09?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\",\"last_login_time\":null},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 281
      },
      {
        "_id": "6a4b5110a2b3da5cb2dd1cc3af5f2b37",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"emails\":[\"test-configure_tags_for_multiple_metrics_returns_accepted_response-1780593188@datadoghq.com\"],\"tags\":[\"test\",\"testconfiguretagsformultiplemetricsreturnsacceptedresponse1780593188\"]},\"id\":\"system.load.1\",\"type\":\"metric_bulk_configure_tags\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/metrics/config/bulk-tags"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 404,
            "text": "{\"data\":{\"type\":\"metric_bulk_configure_tags\",\"id\":\"system.load.1\",\"attributes\":{\"tags\":[\"test\",\"testconfiguretagsformultiplemetricsreturnsacceptedresponse1780593188\"],\"emails\":[\"test-configure_tags_for_multiple_metrics_returns_accepted_response-1780593188@datadoghq.com\"],\"status\":\"Accepted\",\"exclude_tags_mode\":null,\"override_existing_configurations\":true,\"include_actively_queried_tags_window\":null}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 202,
          "statusText": "Accepted"
        },
        "time": 136
      },
      {
        "_id": "53b9c4a27a3c10aa743bf77193fa154c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"[...]
