{
  "log": {
    "_recordingName": "Feature Flags/Update a feature flag returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "22a2716735006fcf951e571439a71ce6",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"description\":\"Test feature flag for BDD scenarios\",\"key\":\"test-feature-flag-Test-Update_a_feature_flag_returns_OK_response-1773768385\",\"name\":\"Test Feature Flag Test-Update_a_feature_flag_returns_OK_response-1773768385\",\"value_type\":\"BOOLEAN\",\"variants\":[{\"key\":\"variant-Test-Update_a_feature_flag_returns_OK_response-1773768385-1\",\"name\":\"Variant Test-Update_a_feature_flag_returns_OK_response-1773768385 A\",\"value\":\"true\"},{\"key\":\"variant-Test-Update_a_feature_flag_returns_OK_response-1773768385-2\",\"name\":\"Variant Test-Update_a_feature_flag_returns_OK_response-1773768385 B\",\"value\":\"false\"}]},\"type\":\"feature-flags\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/feature-flags"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 2326,
            "text": "{\"data\":{\"id\":\"d85c87aa-0135-44bd-82fe-2a1d94ef47b8\",\"type\":\"feature-flags\",\"attributes\":{\"archived_at\":null,\"created_at\":\"2026-03-17T17:26:25.181649Z\",\"created_by\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"description\":\"Test feature flag for BDD scenarios\",\"distribution_channel\":\"ALL\",\"feature_flag_environments\":[{\"environment_id\":\"0b94dbaa-9efb-419d-8bd7-ef56f3828986\",\"environment_name\":\"Test Environment Test-Typescript-Create_an_environment_returns_Created_response-1773321543\",\"status\":\"DISABLED\",\"default_variant_id\":\"8060af6a-82b1-41aa-afa1-67c31941759b\",\"override_variant_id\":null,\"default_allocation_key\":\"allocation-default-655048e8bd8f\",\"override_allocation_key\":\"allocation-override-655048e8bd8f\",\"rules\":[],\"rollout_percentage\":0,\"allocations\":null,\"is_production\":false,\"pending_suggestion_id\":null,\"require_feature_flag_approval\":false},{\"environment_id\":\"afdaa512-6307-4965-bf92-62cc6bea5d00\",\"environment_name\":\"Test Environment Test-Typescript-Create_an_environment_returns_Created_response-1773322166\",\"status\":\"DISABLED\",\"default_variant_id\":\"8060af6a-82b1-41aa-afa1-67c31941759b\",\"override_variant_id\":null,\"default_allocation_key\":\"allocation-default-bd1885d53d49\",\"override_allocation_key\":\"allocation-override-bd1885d53d49\",\"rules\":[],\"rollout_percentage\":0,\"allocations\":null,\"is_production\":false,\"pending_suggestion_id\":null,\"require_feature_flag_approval\":false}],\"key\":\"test-feature-flag-Test-Update_a_feature_flag_returns_OK_response-1773768385\",\"last_updated_by\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"name\":\"Test Feature Flag Test-Update_a_feature_flag_returns_OK_response-1773768385\",\"require_approval\":false,\"updated_at\":\"2026-03-17T17:26:25.181649Z\",\"value_type\":\"BOOLEAN\",\"variants\":[{\"id\":\"8060af6a-82b1-41aa-afa1-67c31941759b\",\"key\":\"variant-Test-Update_a_feature_flag_returns_OK_response-1773768385-1\",\"name\":\"Variant Test-Update_a_feature_flag_returns_OK_response-1773768385 A\",\"value\":\"true\",\"created_at\":\"2026-03-17T17:26:25.186574Z\",\"updated_at\":\"2026-03-17T17:26:25.186574Z\"},{\"id\":\"c64c899c-f77d-4219-9fcd-a61bc0ddd7ef\",\"key\":\"variant-Test-Update_a_feature_flag_returns_OK_response-1773768385-2\",\"name\":\"Variant Test-Update_a_feature_flag_returns_OK_response-1773768385 B\",\"value\":\"false\",\"created_at\":\"2026-03-17T17:26:25.189886Z\",\"updated_at\":\"2026-03-17T17:26:25.189886Z\"}]}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 187
      },
      {
        "_id": "7d42aa8616de701eedda3d8e330dd724",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"description\":\"Updated description for the feature fla[...]
