{
  "log": {
    "_recordingName": "Usage Metering/Get all custom metrics by hourly average returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "6bb0685c76777cba228305c127eea284",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/usage/top_avg_metrics"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 52,
            "text": "{\"errors\":[\"The parameter 'month/day' is required\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 491
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
