{
  "log": {
    "_recordingName": "Security Monitoring/Delete a security filter returns \"No Content\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "d99138861a16601fad6f23fec9d6031c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"exclusion_filters\":[{\"name\":\"Exclude logs from staging\",\"query\":\"source:staging\"}],\"filtered_data_type\":\"logs\",\"is_enabled\":true,\"name\":\"Custom security filter\",\"query\":\"service:api\"},\"type\":\"security_filters\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 285,
            "text": "{\"data\":{\"attributes\":{\"is_enabled\":true,\"name\":\"Custom security filter\",\"filtered_data_type\":\"logs\",\"exclusion_filters\":[{\"query\":\"source:staging\",\"name\":\"Exclude logs from staging\"}],\"version\":1,\"query\":\"service:api\",\"is_builtin\":false},\"type\":\"security_filters\",\"id\":\"fh9-z8v-uin\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-dd-version",
              "value": "35.4508212"
            },
            {
              "name": "content-disposition",
              "value": "inline"
            },
            {
              "name": "x-dd-debug",
              "value": "tpRCH6w417YjBovRJ8VmtuXmNONVYiRp2c8d2AxjPdGBn8PCtgG4vAztrx3qUZAN"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 390,
      },
      {
        "_id": "7431da1811e84d1dcee4185454d968d1",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters/fh9-z8v-uin"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [
            {
              "name": "x-dd-version",
              "value": "35.4508212"
            },
            {
              "name": "content-disposition",
              "value": "inline"
            },
            {
              "name": "x-dd-debug",
              "value": "S1wfaMZOKGT/IoMw6fqAwAwGWo2vQ44sjF3YzuETnQfxZO2T5eJbs0aX3UKb9Dwu"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 323,
      },
      {
        "_id": "7431da1811e84d1dcee4185454d968d1",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters/fh9-z8v-uin"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 73,
            "text": "{\"errors\":[\"not_found(Security filter with id 'fh9-z8v-uin' not found)\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.4508212"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 291,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
