{
  "log": {
    "_recordingName": "Dashboards/Create a new dashboard with split graph widget from distribution widget",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "b061068cc3cf010b44b4782cf09dd929",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"description\":\"\",\"is_read_only\":false,\"layout_type\":\"ordered\",\"notify_list\":[],\"template_variables\":[],\"title\":\"Test-Create_a_new_dashboard_with_split_graph_widget_from_distribution_widget-1703090168\",\"widgets\":[{\"definition\":{\"size\":\"md\",\"source_widget_definition\":{\"requests\":[{\"queries\":[{\"aggregator\":\"avg\",\"data_source\":\"metrics\",\"name\":\"query1\",\"query\":\"avg:system.cpu.user{*} by {service}\"}],\"response_format\":\"scalar\"}],\"title\":\"\",\"title_align\":\"left\",\"title_size\":\"16\",\"type\":\"distribution\",\"xaxis\":{\"include_zero\":true,\"max\":\"auto\",\"min\":\"auto\",\"scale\":\"linear\"},\"yaxis\":{\"include_zero\":true,\"max\":\"auto\",\"min\":\"auto\",\"scale\":\"linear\"}},\"split_config\":{\"limit\":6,\"sort\":{\"compute\":{\"aggregation\":\"sum\",\"metric\":\"system.cpu.user\"},\"order\":\"desc\"},\"split_dimensions\":[{\"one_graph_per\":\"service\"}]},\"title\":\"\",\"type\":\"split_group\"},\"layout\":{\"height\":8,\"width\":12,\"x\":0,\"y\":0}}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1239,
            "text": "{\"id\":\"xux-e52-gx4\",\"title\":\"Test-Create_a_new_dashboard_with_split_graph_widget_from_distribution_widget-1703090168\",\"description\":\"\",\"author_handle\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\",\"author_name\":\"CI Account\",\"layout_type\":\"ordered\",\"url\":\"/dashboard/xux-e52-gx4/test-createanewdashboardwithsplitgraphwidgetfromdistributionwidget-1703090168\",\"is_read_only\":false,\"template_variables\":[],\"widgets\":[{\"definition\":{\"size\":\"md\",\"source_widget_definition\":{\"requests\":[{\"queries\":[{\"aggregator\":\"avg\",\"data_source\":\"metrics\",\"name\":\"query1\",\"query\":\"avg:system.cpu.user{*} by {service}\"}],\"response_format\":\"scalar\"}],\"title\":\"\",\"title_align\":\"left\",\"title_size\":\"16\",\"type\":\"distribution\",\"xaxis\":{\"include_zero\":true,\"max\":\"auto\",\"min\":\"auto\",\"scale\":\"linear\"},\"yaxis\":{\"include_zero\":true,\"max\":\"auto\",\"min\":\"auto\",\"scale\":\"linear\"}},\"split_config\":{\"limit\":6,\"sort\":{\"compute\":{\"aggregation\":\"sum\",\"metric\":\"system.cpu.user\"},\"order\":\"desc\"},\"split_dimensions\":[{\"one_graph_per\":\"service\"}]},\"title\":\"\",\"type\":\"split_group\"},\"layout\":{\"height\":8,\"width\":12,\"x\":0,\"y\":0},\"id\":8322002888052690}],\"notify_list\":[],\"created_at\":\"2023-12-20T16:36:08.845030+00:00\",\"modified_at\":\"2023-12-20T16:36:08.845030+00:00\",\"restricted_roles\":[]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 768
      },
      {
        "_id": "7dc890f6c115169b377806f9d9221c72",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/xux-e52-gx4"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 39,
            "text": "{\"deleted_dashboard_id\":\"xux-e52-gx4\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 308
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
