{
  "log": {
    "_recordingName": "Downtimes/Schedule a downtime with invalid type hours",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "ebaa20c26a84bfc67462cdf5c1137d11",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"end\":1657667266,\"message\":\"Test-Schedule_a_downtime_with_invalid_type_hours-1657663666\",\"monitor_tags\":[\"tag0\"],\"recurrence\":{\"period\":1,\"type\":\"hours\"},\"scope\":[\"*\"],\"start\":1657663666,\"timezone\":\"Etc/UTC\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/downtime"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 39,
            "text": "{\"errors\": [\"Invalid recurrence type\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 369
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
