{
  "log": {
    "_recordingName": "Metrics/Create a tag configuration returns \"Created\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "956bd4e4ee6cfb2781da58ae0e162b13",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "text/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "text/json",
            "params": [],
            "text": "{\"series\":[{\"metric\":\"TestCreateatagconfigurationreturnsCreatedresponse1648499546\",\"points\":[[1648499546,1.1]],\"tags\":[\"test:ExampleSubmitmetricsreturnsPayloadacceptedresponse\"],\"type\":\"gauge\"}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/series"
        },
        "response": {
          "content": {
            "mimeType": "text/json",
            "size": 16,
            "text": "{\"status\": \"ok\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/json"
            }
          ],
          "status": 202,
          "statusText": "Accepted"
        },
        "time": 742
      },
      {
        "_id": "217405b5df0b3b5458625e49051f07bf",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"metric_type\":\"gauge\",\"tags\":[\"app\",\"datacenter\"]},\"id\":\"TestCreateatagconfigurationreturnsCreatedresponse1648499546\",\"type\":\"manage_tags\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/metrics/TestCreateatagconfigurationreturnsCreatedresponse1648499546/tags"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 306,
            "text": "{\"data\":{\"type\":\"manage_tags\",\"id\":\"TestCreateatagconfigurationreturnsCreatedresponse1648499546\",\"attributes\":{\"tags\":[\"datacenter\",\"app\"],\"created_at\":\"2022-03-28T20:32:28.716208+00:00\",\"modified_at\":\"2022-03-28T20:32:28.716208+00:00\",\"metric_type\":\"gauge\",\"aggregations\":[{\"space\":\"avg\",\"time\":\"avg\"}]}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 1891
      },
      {
        "_id": "ac32d63bc6ba8ed7326eecf4c1c73120",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/metrics/TestCreateatagconfigurationreturnsCreatedresponse1648499546/tags"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 845
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
