{
  "log": {
    "_recordingName": "Metrics/Create a tag configuration returns \"Created\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "722dabfd3ab6166d9f0298cf9b943d78",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"metric_type\":\"distribution\",\"tags\":[\"app\",\"datacenter\"]},\"id\":\"TestCreateatagconfigurationreturnsCreatedresponse1618125617\",\"type\":\"manage_tags\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/metrics/TestCreateatagconfigurationreturnsCreatedresponse1618125617/tags"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 294,
            "text": "{\"data\":{\"type\":\"manage_tags\",\"id\":\"TestCreateatagconfigurationreturnsCreatedresponse1618125617\",\"attributes\":{\"tags\":[\"datacenter\",\"app\"],\"include_percentiles\":false,\"created_at\":\"2021-04-11T07:20:17.714632+00:00\",\"updated_at\":\"2021-04-11T07:20:17.714632+00:00\",\"metric_type\":\"distribution\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.4281284"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "50"
            },
            {
              "name": "x-ratelimit-period",
              "value": "60"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "43"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "49"
            },
            {
              "name": "x-dd-debug",
              "value": "tpRCH6w417YjBovRJ8VmtuXmNONVYiRp2c8d2AxjPdGBn8PCtgG4vAztrx3qUZAN"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 320,
      },
      {
        "_id": "ef473341af0d72a3058d7b7c9c6b4bb7",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/metrics/TestCreateatagconfigurationreturnsCreatedresponse1618125617/tags"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 0
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.4281284"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "50"
            },
            {
              "name": "x-ratelimit-period",
              "value": "60"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "42"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "48"
            },
            {
              "name": "x-dd-debug",
              "value": "L3ULR3HwCWYmEqCWGz2Yob3chcH4pjowBacBXkncP7o+/uPqKt9yGEYf/g1AJPzQ"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 296,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
