{
  "log": {
    "_recordingName": "Downtimes/Schedule a downtime with mutually exclusive until occurrences and until date properties",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "d5252f345ae65c1097de7c54ee74f851",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"end\":1634659063,\"message\":\"Test-Schedule_a_downtime_with_mutually_exclusive_until_occurrences_and_until_date_properties-1634655463\",\"recurrence\":{\"period\":1,\"type\":\"weeks\",\"until_date\":1636469863,\"until_occurrences\":3,\"week_days\":[\"Mon\",\"Tue\",\"Wed\",\"Thu\",\"Fri\"]},\"scope\":[\"*\"],\"start\":1634655463,\"timezone\":\"Etc/UTC\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/downtime"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 84,
            "text": "{\"errors\": [\"You must provide only provide one of (until_occurrences, until_date)\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 154
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
