{
  "log": {
    "_recordingName": "Forms/Update a form returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "d5b5bc9cba92ab41792c45b342624092",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"anonymous\":false,\"data_definition\":{},\"description\":\"A simple test form.\",\"idp_survey\":false,\"name\":\"Test-Update_a_form_returns_OK_response-1781117403\",\"single_response\":false,\"ui_definition\":{}},\"type\":\"forms\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/forms"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 1290,
            "text": "{\"data\":{\"id\":\"a365c4e1-5c1f-476f-9330-091fe52a6483\",\"type\":\"forms\",\"attributes\":{\"active\":true,\"anonymous\":false,\"created_at\":\"2026-06-10T18:50:03.541399Z\",\"datastore_config\":{\"datastore_id\":\"ec62b00b-6683-4943-8bd0-28d56f5dca64\",\"primary_column_name\":\"id\",\"primary_key_generation_strategy\":\"none\"},\"description\":\"A simple test form.\",\"idp_survey\":false,\"modified_at\":\"2026-06-10T18:50:03.541399Z\",\"name\":\"Test-Update_a_form_returns_OK_response-1781117403\",\"org_id\":321813,\"self_service\":false,\"single_response\":false,\"user_id\":2320499,\"user_uuid\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\",\"version\":{\"id\":\"376768\",\"state\":\"draft\",\"version\":1,\"etag\":\"b51f08b698d88d8027a935d9db649774949f5fb41a0c559bfee6a9a13225c72d\",\"definition_signature\":\"{\\\"signature\\\":\\\"{\\\\\\\"version\\\\\\\":2,\\\\\\\"algorithm\\\\\\\":\\\\\\\"ecdsa-p384\\\\\\\",\\\\\\\"pubkey\\\\\\\":\\\\\\\"XOOWpRG1rFvaLHaG9qLf+GG78llET0BKnZtokyAtLfg=\\\\\\\",\\\\\\\"timestamp\\\\\\\":1781117403,\\\\\\\"proof\\\\\\\":\\\\\\\"MGUCMFvO8GziqWVPfIg06kFsX3mHcT5e/Ub8cJ/9H1oJXqCp56oL/IRLCI351BB2xHXTFAIxALOhp9M+jw87Xn+Qvl//9uiS011jgg6a8e0UftJ1NY+G/ycp/aLzZrFKaBCt6RG8sA==\\\\\\\"}\\\",\\\"version\\\":1}\",\"data_definition\":{},\"ui_definition\":{},\"created_at\":\"2026-06-10T18:50:03.541399Z\",\"modified_at\":\"2026-06-10T18:50:03.541399Z\",\"user_id\":2320499,\"user_uuid\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\"}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 503
      },
      {
        "_id": "ec02b8ec2dbc0e7889af312ecef0585b",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"form_update\":{\"datastore_config\":{\"datastore_id\":\"5108ea24-dd83-4696-9caa-f069f73d0fad\",\"primary_column_name\":\"id\",\"primary_key_generation_strategy\":\"none\"},\"description\":\"An updated description.\",\"name\":\"Updated Form Name\"}},\"id\":\"22f6006a-2302-4926-9396-d2dfcf7b0b34\",\"type\":\"forms\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/forms/a365c4e1-5c1f-476f-9330-091fe52a6483"
        },
        "response": {
          "content": {
  [...]
