{
  "log": {
    "_recordingName": "GCP Integration/Create a new entry for your service account with cloud run revision filters enabled returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "47a66398572b0d1d83f9556e64ce5555",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"client_email\":\"feb37f50ee7be467@test-project.iam.gserviceaccount.com\",\"cloud_run_revision_filters\":[\"meh:bleh\"],\"host_filters\":[]},\"type\":\"gcp_service_account\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integration/gcp/accounts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 368,
            "text": "{\"data\":{\"type\":\"gcp_service_account\",\"attributes\":{\"cloud_run_revision_filters\":[\"meh:bleh\"],\"resource_collection_enabled\":false,\"host_filters\":[],\"automute\":false,\"is_cspm_enabled\":false,\"account_tags\":[],\"client_email\":\"feb37f50ee7be467@test-project.iam.gserviceaccount.com\",\"is_security_command_center_enabled\":false},\"id\":\"e1157377-8d5c-4a94-9730-10c3fa9d6ff5\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 392
      },
      {
        "_id": "1a91e8834df76cf0f341faea9cbad7e6",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integration/gcp/accounts/e1157377-8d5c-4a94-9730-10c3fa9d6ff5"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=utf-8",
            "size": 0
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=utf-8"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 111
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
