{
  "log": {
    "_recordingName": "Dashboards/Create a new dashboard with trace_service widget",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "ed5ae0725e253c86f5633eb20647ea5e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"description\":\"\",\"is_read_only\":false,\"layout_type\":\"free\",\"notify_list\":[],\"template_variables\":[],\"title\":\"Test-Create_a_new_dashboard_with_trace_service_widget-1641430242\",\"widgets\":[{\"definition\":{\"display_format\":\"two_column\",\"env\":\"none\",\"service\":\"\",\"show_breakdown\":true,\"show_distribution\":true,\"show_errors\":true,\"show_hits\":true,\"show_latency\":true,\"show_resource_list\":false,\"size_format\":\"medium\",\"span_name\":\"\",\"time\":{},\"title\":\"Service Summary\",\"type\":\"trace_service\"},\"layout\":{\"height\":72,\"width\":72,\"x\":0,\"y\":0}}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 839,
            "text": "{\"notify_list\":[],\"description\":\"\",\"restricted_roles\":[],\"author_name\":null,\"template_variables\":[],\"is_read_only\":false,\"id\":\"y2w-4ed-wj5\",\"title\":\"Test-Create_a_new_dashboard_with_trace_service_widget-1641430242\",\"url\":\"/dashboard/y2w-4ed-wj5/test-createanewdashboardwithtraceservicewidget-1641430242\",\"created_at\":\"2022-01-06T00:50:42.720557+00:00\",\"modified_at\":\"2022-01-06T00:50:42.720557+00:00\",\"author_handle\":\"frog@datadoghq.com\",\"widgets\":[{\"definition\":{\"span_name\":\"\",\"type\":\"trace_service\",\"service\":\"\",\"title\":\"Service Summary\",\"size_format\":\"medium\",\"show_hits\":true,\"show_errors\":true,\"show_breakdown\":true,\"env\":\"none\",\"time\":{},\"show_distribution\":true,\"display_format\":\"two_column\",\"show_latency\":true,\"show_resource_list\":false},\"layout\":{\"y\":0,\"width\":72,\"x\":0,\"height\":72},\"id\":8414814446486210}],\"layout_type\":\"free\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 210
      },
      {
        "_id": "e305558b9d99c7d74d086e67ad59f74e",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/y2w-4ed-wj5"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 38,
            "text": "{\"deleted_dashboard_id\":\"y2w-4ed-wj5\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 232
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
