{
  "log": {
    "_recordingName": "Application Security/Get a WAF Policy returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "f832c83985b43825c16c3d424e930abc",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"basedOn\":\"recommended\",\"description\":\"This is a test policy.\",\"name\":\"Test policy\"},\"type\":\"policy\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/remote_config/products/asm/waf/policies"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 334,
            "text": "{\"data\":{\"id\":\"cc3e574d-9b5a-4310-b7f4-5560483f84b1\",\"type\":\"policy\",\"attributes\":{\"description\":\"This is a test policy.\",\"isDefault\":false,\"name\":\"Test policy\",\"rules\":[],\"rulesets\":[],\"scope\":[],\"version\":-1},\"meta\":{\"added_at\":\"2026-04-16T10:25:20Z\",\"added_by\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\",\"added_by_name\":\"CI Account\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 722
      },
      {
        "_id": "d9ae1327c6957daca8daeaacc7f5a928",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/remote_config/products/asm/waf/policies/cc3e574d-9b5a-4310-b7f4-5560483f84b1"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 334,
            "text": "{\"data\":{\"id\":\"cc3e574d-9b5a-4310-[...]
