{
  "log": {
    "_recordingName": "Service Level Objectives/Get an SLO's history returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "1a6098007e49ccb4ad90449b3d0a2743",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"Test-Get_an_SLO_s_history_returns_OK_response-1704322488\",\"query\":{\"denominator\":\"sum:httpservice.hits{!code:3xx}.as_count()\",\"numerator\":\"sum:httpservice.hits{code:2xx}.as_count()\"},\"thresholds\":[{\"target\":95,\"timeframe\":\"7d\",\"warning\":98}],\"type\":\"metric\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/slo"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 634,
            "text": "{\"data\":[{\"id\":\"627a3ccd24af50beb8eacbd36c5962f9\",\"name\":\"Test-Get_an_SLO_s_history_returns_OK_response-1704322488\",\"tags\":[],\"monitor_tags\":[],\"thresholds\":[{\"timeframe\":\"7d\",\"target\":95.0,\"target_display\":\"95.\",\"warning\":98.0,\"warning_display\":\"98.\"}],\"type\":\"metric\",\"type_id\":1,\"description\":\"\",\"timeframe\":\"7d\",\"warning_threshold\":98,\"target_threshold\":95,\"query\":{\"denominator\":\"sum:httpservice.hits{!code:3xx}.as_count()\",\"numerator\":\"sum:httpservice.hits{code:2xx}.as_count()\"},\"creator\":{\"name\":null,\"handle\":\"frog@datadoghq.com\",\"email\":\"frog@datadoghq.com\"},\"created_at\":1704322488,\"modified_at\":1704322488}],\"error\":null}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 174
      },
      {
        "_id": "e7b60f438b62f77a6152c0c6e51e216e",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "from_ts",
              "value": "1704236088"
            },
            {
              "name": "to_ts",
              "value": "1704322488"
            }
          ],
          "url": "https://api.datadoghq.com/api/v1/slo/627a3ccd24af50beb8eacbd36c5962f9/history?from_ts=1704236088&to_ts=1704322488"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 2643,
            "text": "{\"data\":{\"thresholds\":{\"7d\":{\"timeframe\":\"7d\",\"target\":95.0,\"target_display\":\"95.\",\"warning\":98.0,\"warning_display\":\"98.\"}},\"from_ts\":1704236088,\"to_ts\":1704322488,\"type\":\"metric\",\"type_id\":1,\"slo\":{\"id\":\"627a3ccd24af50beb8eacbd36c5962f9\",\"name\":\"Test-Get_an_SLO_s_history_returns_OK_response-1704322488\",\"tags\":[],\"monitor_tags\":[],\"thresholds\":[{\"timeframe\":\"7d\",\"target\":95.0,\"target_display\":\"95.\",\"warning\":98.0,\"warning_display\":\"98.\"}],\"type\":\"metric\",\"type_id\":1,\"description\":\"\",\"timeframe\":\"7d\",\"warning_threshold\":98.0,\"target_threshold\":95.0,\"query\":{\"denominator\":\"sum:httpservice.hits{!code:3xx}.as_count()\",\"numerator\":\"sum:httpservice.hits{code:2xx}.as_count()\"},\"creator\":{\"name\":null,\"handle\":\"frog@datadoghq.com\",\"email\":\"frog@datadoghq.com\"},\"created_at\":1704322488,\"modified_at\":1704322488},\"group_by\":[],\"series\":{\"timing\":\"0.02146005630493164\",\"res_type\":\"time_series\",\"resp_version\":2,\"query\":\"default_zero(sum:httpservice.hits{code:2xx}.as_count()), default_zero(sum:httpservice.hits{!code:3xx}.as_count())\",\"from_date\":1704236088000,\"to_date\":1704322488000,\"message\":\"\",\"interval\":7200,\"times\":[1704235800000.0,1704240000000.0,1704247200000.0,1704254400000.0,1704261600000.0,1704268800000.0,1704276000000.0,1704283200000.0,1704290400000.0,1704297600000.0,1704304800000.0,1704312000000.0,1704319200000.0],\"numerator\":{\"values\":[0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0],\"metadata\":{\"unit\":null,\"query_index\":0,\"aggr\":\"sum\",\"metric\":\"default_zero(httpservice.hits)\",\"tag_set\":[],\"expression\":\"default_zero(sum:httpservice.hits{code:2xx}.as_count())\",\"scope\":\"code:2xx\"},\"sum\":0.0,\"count\":13},\"denominator\":{\"values\":[0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0],\"metadata\":{\"unit\":null,\"query_index\":1,\"aggr\":\"sum\",\"metric\":\"default_zero(httpservice.hits)\",\"tag_set\":[],\"expression\":\"default_zero(sum:httpservice.hits{!code:3xx}.as_count())\",\"scope\":\"!code:3xx\"},\"sum\":0.0,\"count\":13},\"numerator_query\":\"default_zero(sum:httpservice.hits{code:2xx}.as_count())\",\"denominator_query\":\"default_zero(sum:httpservice.hits{!code:3xx}.as_count())\",\"bad_series_query\":\"default_zero(sum:httpservice.hits{!code:3xx}.as_count()) - default_zero(sum:httpservice.hits{code:2xx}.as_count())\",\"graph_query\":\"default_zero(sum:httpservice.hits{code:2xx}.as_count()), default_zero(sum:httpservice.hits{!code:3xx}.as_count()) - default_zero(sum:httpservice.hits{code:2xx}.as_count())\"},\"overall\":{\"errors\":[{\"error_message\":\"The denominator is zero valued\",\"error_type\":\"ZERO_VALUED_DENOMINATOR\"}],\"sli_value\":null,\"span_precision\":2,\"precision\":{\"7d\":0},\"uptime\":null,\"corrections\":[],\"state\":\"no_data\"}},\"errors\":null}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 169
      },
      {
        "_id": "161871fb41a94252a5476c5f23378032",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/slo/627a3ccd24af50beb8eacbd36c5962f9"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 59,
            "text": "{\"data\":[\"627a3ccd24af50beb8eacbd36c5962f9\"],\"error\":null}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 206
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
