{
  "log": {
    "_recordingName": "Incidents/Delete incident notification rule returns \"No Content\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "7bcfec665300989151e5e4d7e0833bd1",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"description\":\"Any incidents that harm (or have the potential to) the confidentiality, integrity, or availability of our data.\",\"is_default\":false,\"name\":\"Security Incident\"},\"type\":\"incident_types\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/incidents/config/types"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 844,
            "text": "{\"data\":{\"id\":\"46c0198e-5504-4fbe-bf8e-fefed8d618d0\",\"type\":\"incident_types\",\"attributes\":{\"createdAt\":\"2026-02-17T13:49:18.865191268Z\",\"createdBy\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"description\":\"Any incidents that harm (or have the potential to) the confidentiality, integrity, or availability of our data.\",\"is_default\":false,\"lastModifiedBy\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"modifiedAt\":\"2026-02-17T13:49:18.865191383Z\",\"name\":\"Security Incident\",\"prefix\":\"IR\"},\"relationships\":{\"created_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}},\"google_chat_configuration\":{\"data\":null},\"google_meet_configuration\":{\"data\":null},\"last_modified_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}},\"microsoft_teams_configuration\":{\"data\":null},\"zoom_configuration\":{\"data\":null}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 245
      },
      {
        "_id": "5ee937e1e339a3cf23e77fba812f4f8e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"conditions\":[{\"field\":\"severity\",\"values\":[\"SEV-1\",\"SEV-2\"]}],\"enabled\":true,\"handles\":[\"@test-email@company.com\"],\"trigger\":\"incident_created_trigger\",\"visibility\":\"organization\"},\"relationships\":{\"incident_type\":{\"data\":{\"id\":\"46c0198e-5504-4fbe-bf8e-fefed8d618d0\",\"type\":\"incident_types\"}}},\"type\":\"incident_notification_rules\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/incidents/config/notification-rules"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 686,
            "text": "{\"data\":{\"id\":\"9af99d56-106a-48fb-a6a7-192e86e6fbcf\",\"type\":\"incident_notification_rules\",\"attributes\":{\"conditions\":[{\"field\":\"severity\",\"values\":[\"SEV-1\",\"SEV-2\"]}],\"created\":\"2026-02-17T13:49:19.136692152Z\",\"enabled\":true,\"handles\":[\"@test-email@company.com\"],\"modified\":\"2026-02-17T13:49:19.136692152Z\",\"renotify_on\":[],\"trigger\":\"incident_created_trigger\",\"visibility\":\"organization\"},\"relationships\":{\"created_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}},\"incident_type\":{\"data\":{\"id\":\"46c0198e-5504-4fbe-bf8e-fefed8d618d0\",\"type\":\"incident_types\"}},\"last_modified_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",[...]
