{
  "log": {
    "_recordingName": "App Builder/Update App Favorite Status returns \"Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "7ea0a1e82cccfc0c386d7e690ed22317",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"favorite\":true},\"type\":\"favorites\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/app-builder/apps/7addb29b-f935-472c-ae79-d1963979a23e/favorite"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 167,
            "text": "{\"errors\":[{\"status\":\"404\",\"id\":\"3711d641-f1a9-4a08-b8a2-f02b0c6d3cac\",\"title\":\"app not found\",\"detail\":\"app with id 7addb29b-f935-472c-ae79-d1963979a23e not found\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 205
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
