{
  "log": {
    "_recordingName": "On-Call/Update on call escalation policy returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "4aca74e8f35735a6fb56830d9d68f2a5",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Update_on_call_escalation_policy_returns_OK_response-1745462989@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 709,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"cab15683-20b6-11f0-892a-8ed3debb4e3c\",\"attributes\":{\"name\":null,\"handle\":\"test-update_on_call_escalation_policy_returns_ok_response-1745462989@datadoghq.com\",\"created_at\":\"2025-04-24T02:49:50.524204+00:00\",\"modified_at\":\"2025-04-24T02:49:50.524204+00:00\",\"email\":\"test-update_on_call_escalation_policy_returns_ok_response-1745462989@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/3db85ef85a418748eceea3fdcc017842?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 879
      },
      {
        "_id": "c02d009a6d6ea58fc498ddcade6f8508",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"test-handle-aef238a64e0a3053\",\"name\":\"test-name-aef238a64e0a3053\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 635,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"8e19da47-5b16-4f4a-856e-19e8c207a8e8\",\"attributes\":{\"name\":\"test-name-aef238a64e0a3053\",\"handle\":\"test-handle-aef238a64e0a3053\",\"summary\":null,\"description\":null,\"avatar\":null,\"banner\":2,\"visible_modules\":[],\"hidden_modules\":[],\"created_at\":\"2025-04-24T02:49:51.170217+00:00\",\"modified_at\":\"2025-04-24T02:49:51.170244+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/8e19da47-5b16-4f4a-856e-19e8c207a8e8/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/8e19da47-5b16-4f4a-856e-19e8c207a8e8/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 726
      },
      {
        "_id": "126ea173308fc1301e4a74dd8e285041",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"layers\":[{\"effective_date\":\"2025-04-14T02:49:49.725Z\",\"end_date\":\"2025-05-04T02:49:49.725Z\",\"interval\":{\"days\":1},\"members\":[{\"user\":{\"id\":\"890f29d4-0b7a-11f0-aeb2-760fcae4f596\"}}],\"name\":\"Layer 1\",\"restrictions\":[{\"end_day\":\"friday\",\"end_time\":\"17:00:00\",\"start_day\":\"monday\",\"start_time\":\"09:00:00\"}],\"rotation_start\":\"2025-04-19T02:49:49.725Z\"}],\"name\":\"Test-Update_on_call_escalation_policy_returns_OK_response-1745462989\",\"tags\":[\"tag1\",\"tag2\"],\"time_zone\":\"America/New_York\"},\"relationships\":{\"teams\":{\"data\":[{\"id\":\"65aea9d0-941c-4607-bf8a-14fc0dac2820\",\"type\":\"teams\"}]}},\"type\":\"schedules\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/on-call/schedules"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 400,
            "text": "{\"data\":{\"id\":\"cbebffd6-9d48-4b03-b847-ee5f8a93d92a\",\"type\":\"schedules\",\"attributes\":{\"name\":\"Test-Update_on_c[...]
