{
  "log": {
    "_recordingName": "On-Call/Update on call escalation policy returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "92991994d1ae3a43bac13e1460b49dd5",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Update_on_call_escalation_policy_returns_OK_response-1744783257@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 709,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"2aa838d3-1a88-11f0-b112-0270a5f0bec0\",\"attributes\":{\"name\":null,\"handle\":\"test-update_on_call_escalation_policy_returns_ok_response-1744783257@datadoghq.com\",\"created_at\":\"2025-04-16T06:00:58.202779+00:00\",\"modified_at\":\"2025-04-16T06:00:58.202779+00:00\",\"email\":\"test-update_on_call_escalation_policy_returns_ok_response-1744783257@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/620480c5d2c43951f1cf784b30cbf7d6?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 680
      },
      {
        "_id": "974650614ac3f12c41ffc87f03bf0604",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"test-handle-b559056f09fb2371\",\"name\":\"test-name-b559056f09fb2371\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 636,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"8b056bb7-5f29-4f56-b0fa-869befc0cfef\",\"attributes\":{\"name\":\"test-name-b559056f09fb2371\",\"handle\":\"test-handle-b559056f09fb2371\",\"summary\":null,\"description\":null,\"avatar\":null,\"banner\":14,\"visible_modules\":[],\"hidden_modules\":[],\"created_at\":\"2025-04-16T06:00:58.864953+00:00\",\"modified_at\":\"2025-04-16T06:00:58.864959+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/8b056bb7-5f29-4f56-b0fa-869befc0cfef/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/8b056bb7-5f29-4f56-b0fa-869befc0cfef/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 731
      },
      {
        "_id": "66cc0eebdcd06c881dac49308c2bc968",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"layers\":[{\"effective_date\":\"2025-04-06T06:00:57.623Z\",\"end_date\":\"2025-04-26T06:00:57.623Z\",\"interval\":{\"days\":1},\"members\":[{\"user\":{\"id\":\"890f29d4-0b7a-11f0-aeb2-760fcae4f596\"}}],\"name\":\"Layer 1\",\"restrictions\":[{\"end_day\":\"friday\",\"end_time\":\"17:00:00\",\"start_day\":\"monday\",\"start_time\":\"09:00:00\"}],\"rotation_start\":\"2025-04-11T06:00:57.623Z\"}],\"name\":\"Test-Update_on_call_escalation_policy_returns_OK_response-1744783257\",\"tags\":[\"tag1\",\"tag2\"],\"time_zone\":\"America/New_York\"},\"relationships\":{\"teams\":{\"data\":[{\"id\":\"65aea9d0-941c-4607-bf8a-14fc0dac2820\",\"type\":\"teams\"}]}},\"type\":\"schedules\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/on-call/schedules"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 400,
            "text": "{\"data\":{\"id\":\"445b7853-4e45-4251-b5cd-029792035253\",\"type\":\"schedules\",\"attributes\":{\"name\":\"Test-Update_on_c[...]
