{
  "log": {
    "_recordingName": "Actions Datastores/Bulk write datastore items returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "6574cf7e1c5524e145d2b92f9fa74d2c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"description\":\"\",\"name\":\"Test Datastore\",\"org_access\":\"contributor\",\"primary_column_name\":\"id\",\"primary_key_generation_strategy\":\"none\"},\"type\":\"datastores\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/actions-datastores"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 74,
            "text": "{\"data\":{\"id\":\"dee6610c-a9b5-42c3-ab4b-ea131f55c9c5\",\"type\":\"datastores\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 125
      },
      {
        "_id": "40628bcd2e7f14449f1fca9b83b5b7e6",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"values\":[{\"id\":\"cust_3141\",\"name\":\"Johnathan\"},{\"id\":\"cust_3142\",\"name\":\"Mary\"}]},\"type\":\"items\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/actions-datastores/dee6610c-a9b5-42c3-ab4b-ea131f55c9c5/items/bulk"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 132,
            "text": "{\"data\":[{\"id\":\"ce100abd-c60a-486a-b069-d8e34fa75b08\",\"type\":\"it[...]
