{
  "log": {
    "_recordingName": "Case Management/Create a case returns \"CREATED\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "3829ffdbbba49b82d5b22090560ccb0f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Create_a_case_returns_CREATED_response-1707936917@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 681,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"97fb5e7f-cb6a-11ee-8de6-d2393b962484\",\"attributes\":{\"name\":null,\"handle\":\"test-create_a_case_returns_created_response-1707936917@datadoghq.com\",\"created_at\":\"2024-02-14T18:55:17.186960+00:00\",\"modified_at\":\"2024-02-14T18:55:17.186960+00:00\",\"email\":\"test-create_a_case_returns_created_response-1707936917@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/04ba872d0c124a11691bb75e2b774d08?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 144
      },
      {
        "_id": "70b806f66f2ae96de214b38e37c4c92d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"priority\":\"NOT_DEFINED\",\"title\":\"Security breach investigation in 8216c516b64665ce\",\"type\":\"STANDARD\"},\"relationships\":{\"assignee\":{\"data\":{\"id\":\"97fb5e7f-cb6a-11ee-8de6-d2393b962484\",\"type\":\"user\"}},\"project\":{\"data\":{\"id\":\"d4bbe1af-f36e-42f1-87c1-493ca35c320e\",\"type\":\"project\"}}},\"type\":\"case\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/cases"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 1073,
            "text": "{\"data\":{\"id\":\"93237ca1-b5ee-4116-9bfc-d94f99cd9629\",\"type\":\"case\",\"attributes\":{\"attributes\":{},\"created_at\":\"2024-02-14T18:55:17.301872096Z\",\"creation_source\":\"MANUAL\",\"description\":\"\",\"insights\":[],\"internal_id\":\"93237ca1-b5ee-4116-9bfc-d94f99cd9629\",\"key\":\"DDFC-186\",\"priority\":\"NOT_DEFINED\",\"public_id\":\"246\",\"status\":\"OPEN\",\"title\":\"Security breach investigation in 8216c516b64665ce\",\"type\":\"STANDARD\"},\"relationships\":{\"assignee\":{\"data\":{\"id\":\"97fb5e7f-cb6a-11ee-8de6-d2393b962484\",\"type\":\"user\"}},\"created_by\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"user\"}},\"project\":{\"data\":{\"id\":\"d4bbe1af-f36e-42f1-87c1-493ca35c320e\",\"type\":\"project\"}}}},\"included\":[{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"user\",\"attributes\":{\"email\":\"frog@datadoghq.com\",\"handle\":\"frog@datadoghq.com\",\"name\":\"\"}},{\"id\":\"97fb5e7f-cb6a-11ee-8de6-d2393b962484\",\"type\":\"user\",\"attributes\":{\"email\":\"test-create_a_case_returns_created_response-1707936917@datadoghq.com\",\"handle\":\"test-create_a_case_returns_created_response-1707936917@datadoghq.com\",\"name\":\"\"}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 91
      },
      {
        "_id": "fe0bc43804b9aab79fa0a88b85ff1e27",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users/97fb5e7f-cb6a-11ee-8de6-d2393b962484"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 338
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
