{
  "log": {
    "_recordingName": "Cloud Cost Management/Update Google Cloud Usage Cost config returns \"Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "a30cbb00f61554995b0d588c3aca794d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"is_enabled\":true},\"type\":\"gcp_uc_config_patch_request\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/cost/gcp_uc_config/123456"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 113,
            "text": "{\"errors\":[{\"title\":\"Generic Error\",\"detail\":\"rpc error: code = NotFound desc = cloud account '\ufffd' not found\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 380
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
