{
  "log": {
    "_recordingName": "Synthetics/Create an API SSL test returns \"OK - Returns the created test details.\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "930b8afe47aa8d37e2d1d10cff269f76",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"config\":{\"assertions\":[{\"operator\":\"isInMoreThan\",\"target\":10,\"type\":\"certificate\"}],\"request\":{\"host\":\"datadoghq.com\",\"port\":443}},\"locations\":[\"aws:us-east-2\"],\"message\":\"BDD test payload: synthetics_api_ssl_test_payload.json\",\"name\":\"Test-Create_an_API_SSL_test_returns_OK_Returns_the_created_test_details_response-1645550411\",\"options\":{\"accept_self_signed\":true,\"checkCertificateRevocation\":true,\"tick_every\":60},\"subtype\":\"ssl\",\"tags\":[\"testing:api\"],\"type\":\"api\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/synthetics/tests/api"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 667,
            "text": "{\"status\":\"live\",\"public_id\":\"t4n-wba-ghj\",\"tags\":[\"testing:api\"],\"org_id\":321813,\"locations\":[\"aws:us-east-2\"],\"message\":\"BDD test payload: synthetics_api_ssl_test_payload.json\",\"deleted_at\":null,\"name\":\"Test-Create_an_API_SSL_test_returns_OK_Returns_the_created_test_details_response-1645550411\",\"monitor_id\":64655318,\"type\":\"api\",\"created_at\":\"2022-02-22T17:20:12.060843+00:00\",\"modified_at\":\"2022-02-22T17:20:12.060843+00:00\",\"subtype\":\"ssl\",\"config\":{\"request\":{\"host\":\"datadoghq.com\",\"port\":443},\"assertions\":[{\"operator\":\"isInMoreThan\",\"type\":\"certificate\",\"target\":10}]},\"options\":{\"accept_self_signed\":true,\"checkCertificateRevocation\":true,\"tick_every\":60}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 472
      },
      {
        "_id": "12c82ff51e1a174e47983a200ae1c4b6",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"public_ids\":[\"t4n-wba-ghj\"]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/synthetics/tests/delete"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 95,
            "text": "{\"deleted_tests\":[{\"deleted_at\":\"2022-02-22T17:20:12.356340+00:00\",\"public_id\":\"t4n-wba-ghj\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 934
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
