{
  "log": {
    "_recordingName": "Synthetics/Create an API SSL test returns \"OK - Returns the created test details.\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "8cd9acd587808cfd53f017dea0a52464",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"config\":{\"assertions\":[{\"operator\":\"isInMoreThan\",\"target\":10,\"type\":\"certificate\"}],\"request\":{\"host\":\"datadoghq.com\",\"port\":443}},\"locations\":[\"aws:us-east-2\"],\"message\":\"BDD test payload: synthetics_api_ssl_test_payload.json\",\"name\":\"Test-Create_an_API_SSL_test_returns_OK_Returns_the_created_test_details_response-1717062291\",\"options\":{\"accept_self_signed\":true,\"checkCertificateRevocation\":true,\"tick_every\":60},\"subtype\":\"ssl\",\"tags\":[\"testing:api\"],\"type\":\"api\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/synthetics/tests/api"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 842,
            "text": "{\"public_id\":\"jt2-7ue-wnh\",\"name\":\"Test-Create_an_API_SSL_test_returns_OK_Returns_the_created_test_details_response-1717062291\",\"status\":\"live\",\"type\":\"api\",\"tags\":[\"testing:api\"],\"created_at\":\"2024-05-30T09:44:52.219149+00:00\",\"modified_at\":\"2024-05-30T09:44:52.219149+00:00\",\"config\":{\"assertions\":[{\"operator\":\"isInMoreThan\",\"target\":10,\"type\":\"certificate\"}],\"request\":{\"host\":\"datadoghq.com\",\"port\":443}},\"message\":\"BDD test payload: synthetics_api_ssl_test_payload.json\",\"options\":{\"accept_self_signed\":true,\"checkCertificateRevocation\":true,\"tick_every\":60},\"locations\":[\"aws:us-east-2\"],\"subtype\":\"ssl\",\"created_by\":{\"name\":null,\"handle\":\"frog@datadoghq.com\",\"email\":\"frog@datadoghq.com\"},\"deleted_at\":null,\"monitor_id\":145979790,\"org_id\":321813,\"modified_by\":{\"name\":null,\"handle\":\"frog@datadoghq.com\",\"email\":\"frog@datadoghq.com\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 787
      },
      {
        "_id": "27c3c40b583786c5ae4c8c616f7da7ff",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"public_ids\":[\"jt2-7ue-wnh\"]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/synthetics/tests/delete"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 96,
            "text": "{\"deleted_tests\":[{\"public_id\":\"jt2-7ue-wnh\",\"deleted_at\":\"2024-05-30T09:44:53.071354+00:00\"}]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1715
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
