{
  "log": {
    "_recordingName": "Synthetics/Create an API SSL test returns \"OK - Returns the created test details.\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "43ab60a8b4b9c1172650e251b2ac74f4",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"config\":{\"assertions\":[{\"operator\":\"isInMoreThan\",\"target\":10,\"type\":\"certificate\"}],\"request\":{\"host\":\"datadoghq.com\",\"port\":443}},\"locations\":[\"aws:us-east-2\"],\"message\":\"BDD test payload: synthetics_api_ssl_test_payload.json\",\"name\":\"Test-Create_an_API_SSL_test_returns_OK_Returns_the_created_test_details_response-1661864351\",\"options\":{\"accept_self_signed\":true,\"checkCertificateRevocation\":true,\"tick_every\":60},\"subtype\":\"ssl\",\"tags\":[\"testing:api\"],\"type\":\"api\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/synthetics/tests/api"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 668,
            "text": "{\"status\":\"live\",\"public_id\":\"qrz-a4f-273\",\"tags\":[\"testing:api\"],\"org_id\":321813,\"locations\":[\"aws:us-east-2\"],\"message\":\"BDD test payload: synthetics_api_ssl_test_payload.json\",\"deleted_at\":null,\"name\":\"Test-Create_an_API_SSL_test_returns_OK_Returns_the_created_test_details_response-1661864351\",\"monitor_id\":81568628,\"type\":\"api\",\"created_at\":\"2022-08-30T12:59:12.024188+00:00\",\"modified_at\":\"2022-08-30T12:59:12.024188+00:00\",\"subtype\":\"ssl\",\"config\":{\"request\":{\"host\":\"datadoghq.com\",\"port\":443},\"assertions\":[{\"operator\":\"isInMoreThan\",\"type\":\"certificate\",\"target\":10}]},\"options\":{\"accept_self_signed\":true,\"checkCertificateRevocation\":true,\"tick_every\":60}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 547
      },
      {
        "_id": "4cf5b4aa5a996cb775837200682104de",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"public_ids\":[\"qrz-a4f-273\"]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/synthetics/tests/delete"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 95,
            "text": "{\"deleted_tests\":[{\"deleted_at\":\"2022-08-30T12:59:17.464324+00:00\",\"public_id\":\"qrz-a4f-273\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 5551
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
