{
  "log": {
    "_recordingName": "AWS Integration/Update AWS CCM config returns \"AWS CCM Config object\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "42739e46e452107970390b9f25d757f1",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"ccm_config\":{\"data_export_configs\":[{\"bucket_name\":\"billing-updated\",\"bucket_region\":\"us-west-2\",\"report_name\":\"cost-report-updated\",\"report_prefix\":\"reports-updated\",\"report_type\":\"CUR2.0\"}]}},\"type\":\"ccm_config\"}}"
          },
          "queryString": [],
          "url": "https://frog.datadoghq.com/api/v2/integration/aws/accounts/873c7e78-8915-4c7a-a3a7-33a57adf54f4/ccm_config"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 268,
            "text": "{\"data\":{\"id\":\"873c7e78-8915-4c7a-a3a7-33a57adf54f4\",\"type\":\"ccm_config\",\"attributes\":{\"data_export_configs\":[{\"report_name\":\"cost-report-updated\",\"report_prefix\":\"reports-updated\",\"report_type\":\"CUR2.0\",\"bucket_name\":\"billing-updated\",\"bucket_region\":\"us-west-2\"}]}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 133
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
