{
  "log": {
    "_recordingName": "Dashboards/Get deleted dashboards returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "253147e56300a888ced4d4b2877120c9",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"layout_type\":\"ordered\",\"title\":\"Test-Get_deleted_dashboards_returns_OK_response-1642441413 with Profile Metrics Query\",\"widgets\":[{\"definition\":{\"requests\":[{\"profile_metrics_query\":{\"compute\":{\"aggregation\":\"sum\",\"facet\":\"@prof_core_cpu_cores\"},\"group_by\":[{\"facet\":\"service\",\"limit\":10,\"sort\":{\"aggregation\":\"sum\",\"facet\":\"@prof_core_cpu_cores\",\"order\":\"desc\"}}],\"search\":{\"query\":\"runtime:jvm\"}}}],\"type\":\"timeseries\"}}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 838,
            "text": "{\"notify_list\":null,\"description\":null,\"restricted_roles\":[],\"author_name\":null,\"template_variables\":null,\"is_read_only\":false,\"id\":\"ssn-gb2-k7k\",\"title\":\"Test-Get_deleted_dashboards_returns_OK_response-1642441413 with Profile Metrics Query\",\"url\":\"/dashboard/ssn-gb2-k7k/test-getdeleteddashboardsreturnsokresponse-1642441413-with-profile-metrics-query\",\"created_at\":\"2022-01-17T17:43:33.361797+00:00\",\"modified_at\":\"2022-01-17T17:43:33.361797+00:00\",\"author_handle\":\"frog@datadoghq.com\",\"widgets\":[{\"definition\":{\"requests\":[{\"profile_metrics_query\":{\"search\":{\"query\":\"runtime:jvm\"},\"group_by\":[{\"facet\":\"service\",\"sort\":{\"facet\":\"@prof_core_cpu_cores\",\"aggregation\":\"sum\",\"order\":\"desc\"},\"limit\":10}],\"compute\":{\"facet\":\"@prof_core_cpu_cores\",\"aggregation\":\"sum\"}}}],\"type\":\"timeseries\"},\"id\":748946470803570}],\"layout_type\":\"ordered\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 193
      },
      {
        "_id": "e1aa817af1306b2deec2238e3e5d22b8",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/ssn-gb2-k7k"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 38,
            "text": "{\"deleted_dashboard_id\":\"ssn-gb2-k7k\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 156
      },
      {
        "_id": "f1eb1d0ab56528111b331a44b285ba99",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "filter",
              "value": {
                "deleted": "true"
              }
            }
          ],
          "url": "https://api.datadoghq.com/api/v1/dashboard?filter%5Bdeleted%5D=true"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 123456,
            "text": "{\"dashboards\":[{\"created_at\":\"2022-01-17T17:43:33.361797+00:00\",\"author_handle\":\"frog@datadoghq.com\",\"is_read_only\":false,\"description\":null,\"title\":\"Test-Get_deleted_dashboards_returns_OK_response-1642441413 with Profile Metrics Query\",\"url\":\"/dashboard/ssn-gb2-k7k/test-getdeleteddashboardsreturnsokresponse-1642441413-with-profile-metrics-query\",\"layout_type\":\"ordered\",\"deleted_at\":\"2022-01-17T17:43:33.502200+00:00\",\"modified_at\":\"2022-01-17T17:43:33.361797+00:00\",\"id\":\"ssn-gb2-k7k\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 7404
      },
      {
        "_id": "e1aa817af1306b2deec2238e3e5d22b8",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/ssn-gb2-k7k"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 55,
            "text": "{\"errors\": [\"Dashboard with ID ssn-gb2-k7k not found\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 80
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
