{
  "log": {
    "_recordingName": "On-Call/Get scheduled on-call user returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "94c1212286d9d81a8df365a101f4f930",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Get_scheduled_on_call_user_returns_OK_response-1764838218@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 720,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"42e2447f-d0ee-11f0-b246-f6a778e5e220\",\"attributes\":{\"name\":null,\"handle\":\"test-get_scheduled_on_call_user_returns_ok_response-1764838218@datadoghq.com\",\"created_at\":\"2025-12-04T08:50:19.140471+00:00\",\"modified_at\":\"2025-12-04T08:50:19.140471+00:00\",\"email\":\"test-get_scheduled_on_call_user_returns_ok_response-1764838218@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/6a6c3614a2758d626d4fcde0e9727205?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\",\"last_login_time\":null},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 227
      },
      {
        "_id": "94e1f56ac98fc6306b9f3b7477ed2f85",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"layers\":[{\"effective_date\":\"2025-11-24T08:50:18.341Z\",\"end_date\":\"2025-12-14T08:50:18.341Z\",\"interval\":{\"days\":1},\"members\":[{\"user\":{\"id\":\"42e2447f-d0ee-11f0-b246-f6a778e5e220\"}}],\"name\":\"Layer 1\",\"restrictions\":[{\"end_day\":\"friday\",\"end_time\":\"17:00:00\",\"start_day\":\"monday\",\"start_time\":\"09:00:00\"}],\"rotation_start\":\"2025-11-29T08:50:18.341Z\"}],\"name\":\"Test-Get_scheduled_on_call_user_returns_OK_response-1764838218\",\"time_zone\":\"America/New_York\"},\"relationships\":{\"teams\":{\"data\":[{\"id\":\"65aea9d0-941c-4607-bf8a-14fc0dac2820\",\"type\":\"teams\"}]}},\"type\":\"schedules\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/on-call/schedules"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 371,
            "text": "{\"data\":{\"id\":\"7f4eb086-4141-4f2a-ae4a-c0a06816672b\",\"type\":\"schedules\",\"attributes\":{\"name\":\"Test-Get_schedul[...]
