{
  "log": {
    "_recordingName": "Fastly Integration/List Fastly accounts returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "0227499ec4f8e06e72d7669f2ce1b6a9",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"api_key\":\"TestListFastlyaccountsreturnsOKresponse1668185677\",\"name\":\"test-name\",\"services\":[]},\"type\":\"fastly-accounts\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integrations/fastly/accounts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 124,
            "text": "{\"data\":{\"attributes\":{\"services\":[],\"name\":\"test-name\"},\"type\":\"fastly-accounts\",\"id\":\"42ed7da188c8af4a6964376d49bb7caa\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 280
      },
      {
        "_id": "87e451246948b0bb391fe31b7034ef24",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integrations/fastly/accounts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 126,
            "text": "{\"data\":[{\"attributes\":{\"services\":[],\"name\":\"test-name\"},\"type\":\"fastly-a[...]
