{
  "log": {
    "_recordingName": "Usage Metering/GetEstimatedCostByOrg with start_month returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "4ad0a8d9835df4c06695ca3d93866e34",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "view",
              "value": "sub-org"
            },
            {
              "name": "start_month",
              "value": "2022-11-04T18:40:14.021Z"
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/usage/estimated_cost?view=sub-org&start_month=2022-11-04T18%3A40%3A14.021Z"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 12,
            "text": "{\"data\":[]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 241
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
