{
  "log": {
    "_recordingName": "Security Monitoring/Create a custom framework returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "b63101464855387723a16dd21278b8d7",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"\",\"icon_url\":\"test-url\",\"name\":\"name\",\"requirements\":[{\"controls\":[{\"name\":\"control\",\"rules_id\":[\"def-000-be9\"]}],\"name\":\"requirement\"}],\"version\":\"10\"},\"type\":\"custom_framework\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/cloud_security_management/custom_frameworks"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 162,
            "text": "{\"errors\":[{\"status\":\"400\",\"title\":\"Bad Request\",\"detail\":\"input_validation_error(Field 'data.attributes.handle' is invalid: field 'handle' must not be empty)\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 129
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
