{
  "log": {
    "_recordingName": "GCP Integration/Update STS Service Account returns \"OK\" response with enable resource collection turned on",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "166923c14aa5ce7e98f0186d88534415",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"client_email\":\"Test-d84cfa9edd1d6635@example.com\",\"host_filters\":[]},\"type\":\"gcp_service_account\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integration/gcp/accounts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 338,
            "text": "{\"data\":{\"type\":\"gcp_service_account\",\"id\":\"3d7cef2d-c455-48c2-ba50-cd8091978dd6\",\"attributes\":{\"account_tags\":[],\"automute\":false,\"client_email\":\"Test-d84cfa9edd1d6635@example.com\",\"resource_collection_enabled\":false,\"cloud_run_revision_filters\":[],\"is_cspm_enabled\":false,\"host_filters\":[],\"is_security_command_center_enabled\":false}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 468
      },
      {
        "_id": "2d99fd5200c3a632897f70abb0110926",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"client_email\":\"Test-d84cfa9edd1d6635@example.com\",[...]
