{
  "log": {
    "_recordingName": "GCP Integration/Update STS Service Account returns \"OK\" response with enable resource collection turned on",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "76eb9da7eb1541305c2c4ad1a5cf1552",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"client_email\":\"78489d28e3cca21b@example.com\",\"host_filters\":[]},\"type\":\"gcp_service_account\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integration/gcp/accounts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 301,
            "text": "{\"data\":{\"type\":\"gcp_service_account\",\"attributes\":{\"client_email\":\"78489d28e3cca21b@example.com\",\"host_filters\":[],\"account_tags\":[],\"is_cspm_enabled\":false,\"automute\":false,\"is_security_command_center_enabled\":false,\"resource_collection_enabled\":false},\"id\":\"1ce480d7-4006-418e-b627-167af0586d7e\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 381
      },
      {
        "_id": "0ba12335b6b808b742fc75f2f3c1e48c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"client_email\":\"78489d28e3cca21b@example.com\",\"res[...]
