{
  "log": {
    "_recordingName": "Status Pages/Delete component returns \"No Content\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "8b008c386369213594f47e9f560dfb24",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"components\":[{\"name\":\"799073e264ba2f5c\",\"type\":\"component\"}],\"domain_prefix\":\"dd-integration-test-799073e264ba2f5c\",\"enabled\":true,\"name\":\"[DD Integration Test] 799073e264ba2f5c\",\"type\":\"internal\",\"visualization_type\":\"bars_and_uptime_percentage\"},\"type\":\"status_pages\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/statuspages"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 943,
            "text": "{\"data\":{\"id\":\"98c28ee2-7d04-4a83-ba39-582b70099fc3\",\"type\":\"status_pages\",\"attributes\":{\"company_logo\":null,\"components\":[{\"id\":\"ac64dbda-f080-4f76-8e6c-5e636c5b573a\",\"name\":\"799073e264ba2f5c\",\"type\":\"component\",\"status\":\"operational\",\"position\":0}],\"created_at\":\"2026-01-07T22:14:07.242426Z\",\"custom_domain\":null,\"custom_domain_enabled\":false,\"domain_prefix\":\"dd-integration-test-799073e264ba2f5c\",\"email_header_image\":null,\"enabled\":true,\"favicon\":null,\"modified_at\":\"2026-01-07T22:14:07.242426Z\",\"name\":\"[DD Integration Test] 799073e264ba2f5c\",\"page_url\":\"https://frog.datadoghq.com/status-pages/98c28ee2-7d04-4a83-ba39-582b70099fc3/view\",\"subscriptions_enabled\":false,\"type\":\"internal\",\"visualization_type\":\"bars_and_uptime_percentage\"},\"relationships\":{\"created_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}},\"last_modified_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 526
      },
      {
        "_id": "b81d4fc98602fd494c1116243220f2e5",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/statuspages/98c28ee2-7d04-4a83-ba39-582b70099fc3/components/ac64dbda-f080-4f76-8e6c-5e636c5b573a"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 130
      },
      {
        "_id": "99043e01083a5ecd2e28225a1adfbea8",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/statuspages/98c28ee2-7d04-4a83-ba39-582b70099fc3"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 61,
            "text": "{\"errors\":[{\"status\":\"500\",\"title\":\"Internal Server Error\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 500,
          "statusText": "Internal Server Error"
        },
        "time": 437
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
