{
  "log": {
    "_recordingName": "Cloud Cost Management/List related AWS accounts returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "65a0c1580c72e648fe63b095c98bc385",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "filter",
              "value": {
                "management_account_id": "123456789123"
              }
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/cost/aws_related_accounts?filter%5Bmanagement_account_id%5D=123456789123"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1084,
            "text": "{\"data\": [{\"type\": \"aws_account\", \"id\": \"000000000000\", \"attributes\": {\"name\": \"test_name\", \"has_datadog_integration\": false}}, {\"type\": \"aws_account\", \"id\": \"000000000000\", \"attributes\": {\"name\": \"test_name\", \"has_datadog_integration\": true}}, {\"type\": \"aws_account\", \"id\": \"000000000000\", \"attributes\": {\"name\": \"test_name\", \"has_datadog_integration\": false}}, {\"type\": \"aws_account\", \"id\": \"000000000000\", \"attributes\": {\"name\": \"test_name\", \"has_datadog_integration\": false}}, {\"type\": \"aws_account\", \"id\": \"000000000000\", \"attributes\": {\"name\": \"test_name\", \"has_datadog_integration\": true}}, {\"type\": \"aws_account\", \"id\": \"000000000000\", \"attributes\": {\"name\": \"test_name\", \"has_datadog_integration\": false}}, {\"type\": \"aws_account\", \"id\": \"000000000000\", \"attributes\": {\"name\": \"test_name\", \"has_datadog_integration\": false}}, {\"type\": \"aws_account\", \"id\": \"000000000000\", \"attributes\": {\"name\": \"test_name\", \"has_datadog_integration\": true}}, {\"type\": \"aws_account\", \"id\": \"000000000000\", \"attributes\": {\"name\": \"test_name\", \"has_datadog_integration\": false}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1039
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
