{
  "log": {
    "_recordingName": "Dashboard Lists/Get items of a Dashboard List returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "190ae3132be5133d7ea1ffb191ce7e03",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"Test-Get_items_of_a_Dashboard_List_returns_OK_response-1647890209\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/lists/manual"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 321,
            "text": "{\"is_favorite\":false,\"name\":\"Test-Get_items_of_a_Dashboard_List_returns_OK_response-1647890209\",\"dashboard_count\":0,\"author\":{\"handle\":\"frog@datadoghq.com\",\"name\":null},\"created\":\"2022-03-21T19:16:49.783939+00:00\",\"type\":\"manual_dashboard_list\",\"dashboards\":null,\"modified\":\"2022-03-21T19:16:49.783947+00:00\",\"id\":284065}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 224
      },
      {
        "_id": "f2377de5c4a69a62edee2819f7084b85",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"layout_type\":\"ordered\",\"title\":\"Test-Get_items_of_a_Dashboard_List_returns_OK_response-1647890209 with Profile Metrics Query\",\"widgets\":[{\"definition\":{\"requests\":[{\"profile_metrics_query\":{\"compute\":{\"aggregation\":\"sum\",\"facet\":\"@prof_core_cpu_cores\"},\"group_by\":[{\"facet\":\"service\",\"limit\":10,\"sort\":{\"aggregation\":\"sum\",\"facet\":\"@prof_core_cpu_cores\",\"order\":\"desc\"}}],\"search\":{\"query\":\"runtime:jvm\"}}}],\"type\":\"timeseries\"}}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 846,
            "text": "{\"notify_list\":null,\"description\":null,\"restricted_roles\":[],\"author_name\":null,\"template_variables\":null,\"is_read_only\":false,\"id\":\"ayt-gzk-ffi\",\"title\":\"Test-Get_items_of_a_Dashboard_List_returns_OK_response-1647890209 with Profile Metrics Query\",\"url\":\"/dashboard/ayt-gzk-ffi/test-getitemsofadashboardlistreturnsokresponse-1647890209-with-profile-metrics-q\",\"created_at\":\"2022-03-21T19:16:50.088193+00:00\",\"modified_at\":\"2022-03-21T19:16:50.088193+00:00\",\"author_handle\":\"frog@datadoghq.com\",\"widgets\":[{\"definition\":{\"requests\":[{\"profile_metrics_query\":{\"search\":{\"query\":\"runtime:jvm\"},\"group_by\":[{\"facet\":\"service\",\"sort\":{\"facet\":\"@prof_core_cpu_cores\",\"aggregation\":\"sum\",\"order\":\"desc\"},\"limit\":10}],\"compute\":{\"facet\":\"@prof_core_cpu_cores\",\"aggregation\":\"sum\"}}}],\"type\":\"timeseries\"},\"id\":2463979356913479}],\"layout_type\":\"ordered\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 326
      },
      {
        "_id": "e3cd27b92e000c7383276644ba94e476",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"dashboards\":[{\"id\":\"ayt-gzk-ffi\",\"type\":\"custom_timeboard\"}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/dashboard/lists/manual/284065/dashboards"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 77,
            "text": "{\"added_dashboards_to_list\":[{\"type\":\"custom_timeboard\",\"id\":\"ayt-gzk-ffi\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 292
      },
      {
        "_id": "17462f8dc6508dec0e4787aa95452fff",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/dashboard/lists/manual/284065/dashboards"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 540,
            "text": "{\"total\":1,\"dashboards\":[{\"popularity\":0,\"title\":\"Test-Get_items_of_a_Dashboard_List_returns_OK_response-1647890209 with Profile Metrics Query\",\"is_favorite\":false,\"id\":\"ayt-gzk-ffi\",\"icon\":null,\"integration_id\":null,\"is_shared\":false,\"author\":{\"handle\":\"frog@datadoghq.com\",\"name\":null},\"url\":\"/dashboard/ayt-gzk-ffi/test-getitemsofadashboardlistreturnsokresponse-1647890209-with-profile-metrics-q\",\"created\":\"2022-03-21T19:16:50.088193+00:00\",\"modified\":\"2022-03-21T19:16:50.088193+00:00\",\"is_read_only\":false,\"type\":\"custom_timeboard\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 306
      },
      {
        "_id": "97b41945573ccdb150b36d99984d26b5",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/ayt-gzk-ffi"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 38,
            "text": "{\"deleted_dashboard_id\":\"ayt-gzk-ffi\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 299
      },
      {
        "_id": "c3416017680879671197c0ad534e43a0",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/lists/manual/284065"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 36,
            "text": "{\"deleted_dashboard_list_id\":284065}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 282
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
