{
  "log": {
    "_recordingName": "Incident Teams/Delete an existing incident team returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "c4cacb35ee0f665e010dd1dcf724f9b0",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Delete_an_existing_incident_team_returns_OK_response-1618232026\"},\"type\":\"teams\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/teams"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 998,
            "text": "{\"included\":[{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"attributes\":{\"name\":null,\"handle\":\"frog@datadoghq.com\",\"created_at\":\"2019-10-02T08:15:39.795051+00:00\",\"modified_at\":\"2020-06-15T12:33:12.884459+00:00\",\"email\":\"frog@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro\",\"title\":null,\"verified\":true,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Active\"},\"relationships\":{\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}],\"data\":{\"type\":\"teams\",\"id\":\"d7591de3-0c8a-5eca-8866-ba9de3d60c98\",\"attributes\":{\"name\":\"Test-Delete_an_existing_incident_team_returns_OK_response-1618232026\",\"created\":\"2021-04-12T12:53:47.339707+00:00\",\"modified\":\"2021-04-12T12:53:47.339707+00:00\"},\"relationships\":{\"last_modified_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}},\"created_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.4288583"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "100"
            },
            {
              "name": "x-ratelimit-period",
              "value": "60"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "13"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "98"
            },
            {
              "name": "x-dd-debug",
              "value": "vdJ3/nHEY1ioXQ6pQrBVvsQK1s4yyc+wufBMPSoXql71qZVuP/xMdtNo6DafhOAk"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 501,
      },
      {
        "_id": "61e20396072cc866f574e0e33b1c76f6",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/teams/d7591de3-0c8a-5eca-8866-ba9de3d60c98"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 0
          },
          "headers": [
            {
              "name": "content-type",
     [...]
