{
  "log": {
    "_recordingName": "Organizations/Update a specific Org Config returns \"Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "3b2579cdb5ef8e60bf6142fca0407f7a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"value\":[]},\"type\":\"org_configs\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/org_configs/i_dont_exist"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 48,
            "text": "{\"errors\":[\"OrgConfig: i_dont_exist not found\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 427
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
