{
  "log": {
    "_recordingName": "Dashboards/Create a new dashboard with note widget",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "a79586dadf453bdc2b2579ba917d8587",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"description\":\"\",\"is_read_only\":false,\"layout_type\":\"free\",\"notify_list\":[],\"template_variables\":[],\"title\":\"Test-Create_a_new_dashboard_with_note_widget-1641430237\",\"widgets\":[{\"definition\":{\"content\":\"# Example Note\",\"type\":\"note\"},\"layout\":{\"height\":24,\"width\":18,\"x\":0,\"y\":0}}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 580,
            "text": "{\"notify_list\":[],\"description\":\"\",\"restricted_roles\":[],\"author_name\":null,\"template_variables\":[],\"is_read_only\":false,\"id\":\"67s-sdf-cr7\",\"title\":\"Test-Create_a_new_dashboard_with_note_widget-1641430237\",\"url\":\"/dashboard/67s-sdf-cr7/test-createanewdashboardwithnotewidget-1641430237\",\"created_at\":\"2022-01-06T00:50:37.865600+00:00\",\"modified_at\":\"2022-01-06T00:50:37.865600+00:00\",\"author_handle\":\"frog@datadoghq.com\",\"widgets\":[{\"definition\":{\"content\":\"# Example Note\",\"type\":\"note\"},\"layout\":{\"y\":0,\"width\":18,\"x\":0,\"height\":24},\"id\":2976451902581497}],\"layout_type\":\"free\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 204
      },
      {
        "_id": "e2792114f354e627cd2b1acf2887e022",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/67s-sdf-cr7"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 38,
            "text": "{\"deleted_dashboard_id\":\"67s-sdf-cr7\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 239
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
