{
  "log": {
    "_recordingName": "Usage Metering/Get Hourly Usage Attribution returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "924ae89db851383983edfd95bce12699",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "start_hr",
              "value": "2021-12-19T21:22:28.553Z"
            },
            {
              "name": "usage_type",
              "value": "infra_host_usage"
            }
          ],
          "url": "https://api.datadoghq.com/api/v1/usage/hourly-attribution?start_hr=2021-12-19T21%3A22%3A28.553Z&usage_type=infra_host_usage"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 862,
            "text": "{\"usage\":[{\"org_name\":\"DD Integration Tests (321813)\",\"public_id\":\"fasjyydbcgwwc2uc\",\"hour\":\"2021-12-19T21:00:00+00:00\",\"tag_config_source\":\"DD Integration Tests (321813):::project\",\"tags\":null,\"total_usage_sum\":17,\"updated_at\":\"2021-12-20T17\",\"usage_type\":\"infra_host_usage\"},{\"org_name\":\"DD Integration Tests (321813)\",\"public_id\":\"fasjyydbcgwwc2uc\",\"hour\":\"2021-12-19T22:00:00+00:00\",\"tag_config_source\":\"DD Integration Tests (321813):::project\",\"tags\":null,\"total_usage_sum\":17,\"updated_at\":\"2021-12-20T17\",\"usage_type\":\"infra_host_usage\"},{\"org_name\":\"DD Integration Tests (321813)\",\"public_id\":\"fasjyydbcgwwc2uc\",\"hour\":\"2021-12-19T23:00:00+00:00\",\"tag_config_source\":\"DD Integration Tests (321813):::project\",\"tags\":null,\"total_usage_sum\":17,\"updated_at\":\"2021-12-20T17\",\"usage_type\":\"infra_host_usage\"}],\"metadata\":{\"pagination\":{\"next_record_id\":null}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 571,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
