{
  "log": {
    "_recordingName": "CSM Threats/Delete a Workload Protection agent rule returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "c1cd523fba7dfa2b9d89fb07bc4bf54d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"description\":\"My agent policy\",\"enabled\":true,\"hostTags\":[\"env:staging\"],\"name\":\"testdeleteaworkloadprotectionagentrulereturnsokresponse1760630577\"},\"type\":\"policy\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/remote_config/products/cws/policy"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 442,
            "text": "{\"data\":{\"id\":\"zts-uzt-ngq\",\"type\":\"policy\",\"attributes\":{\"blockingRulesCount\":0,\"datadogManaged\":false,\"description\":\"My agent policy\",\"disabledRulesCount\":1,\"enabled\":true,\"hostTagsLists\":[[\"env:staging\"]],\"monitoringRulesCount\":7,\"name\":\"testdeleteaworkloadprotectionagentrulereturnsokresponse1760630577\",\"pinned\":false,\"policyVersion\":\"1\",\"ruleCount\":8,\"updateDate\":1760630577972,\"updater\":{\"name\":\"frog\",\"handle\":\"frog@datadoghq.com\"}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 833
      },
      {
        "_id": "5c15b6204e84532b7ba498c6699ae2c4",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"actions\":[{\"set\":{\"name\":\"test_set\",\"scope\":\"process\",\"value\":\"test_value\"}},{\"hash\":{}}],\"description\":\"My Agent rule\",\"enabled\":true,\"expression\":\"exec.file.name == \\\"sh\\\"\",\"name\":\"testdeleteaworkloadprotectionagentrulereturnsokresponse1760630577\",\"policy_id\":\"zts-uzt-ngq\",\"product_tags\":[\"security:attack\",\"technique:T1059\"]},\"type\":\"agent_rule\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/remote_config/products/cws/agent_rules"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 697,
            "text": "{\"data\":{\"id\":\"46x-adr-zlz\",\"type\":\"agent_rule\",\"attributes\":{\"actions\":[{\"set\":{\"name\":\"test_set\",\"value\":\"test_value\",\"scope\":\"process\",\"inherited\":false},\"disabled\":false},{\"hash\":{},\"disabled\":false}],\"category\":\"Process Activity\",\"creationDate\":1760630578810,\"creator\":{\"name\":\"frog\",\"handle\":\"frog@datadoghq.com\"},\"defaultRule\":false,\"description\":\"My Agent rule\",\"enabled\":true,\"expression\":\"exec.file.name == \\\"sh\\\"\",\"filters\":[\"os == \\\"linux\\\"\"],\"monitoring\":[\"zts-uzt-ngq\"],\"name\":\"testdeleteaworkloadprotectionagentrulereturnsokresponse1760630577\",\"product_tags\":[\"security:attack\",\"technique:T1059\"],\"updateDate\":1760630578810,\"updater\":{\"name\":\"frog\",\"handle\":\"frog@datadoghq.com\"}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 713
   [...]
