{
  "log": {
    "_recordingName": "Logs/Search logs returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "3594e5db4f65a167c01b248dbaa1b92a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"index\":\"main\",\"limit\":5,\"query\":\"service:web* AND @http.status_code:[200 TO 299]\",\"sort\":\"asc\",\"time\":{\"from\":1647284967,\"timezone\":\"Europe/Paris\",\"to\":1647371367}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/logs-queries/list"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 158,
            "text": "{\"status\":\"done\",\"nextLogId\":null,\"logs\":[],\"requestId\":\"pddv1ChZDZUdZdDZPdVRRMk94LTV4U3JEMXFBIiwKHDeSV_fMV3lW8cL2htIQ-ZZdfNnidnlSY_WPRkoSDBVqgPwDzZlgmthWlA\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 174
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
