{
  "log": {
    "_recordingName": "Dashboards/Restore deleted dashboards returns \"No Content\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "86314ef65a427d85d5e28e1d8adaa8ff",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"layout_type\":\"ordered\",\"title\":\"Test-Restore_deleted_dashboards_returns_No_Content_response-1645780092 with Profile Metrics Query\",\"widgets\":[{\"definition\":{\"requests\":[{\"profile_metrics_query\":{\"compute\":{\"aggregation\":\"sum\",\"facet\":\"@prof_core_cpu_cores\"},\"group_by\":[{\"facet\":\"service\",\"limit\":10,\"sort\":{\"aggregation\":\"sum\",\"facet\":\"@prof_core_cpu_cores\",\"order\":\"desc\"}}],\"search\":{\"query\":\"runtime:jvm\"}}}],\"type\":\"timeseries\"}}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 851,
            "text": "{\"notify_list\":null,\"description\":null,\"restricted_roles\":[],\"author_name\":null,\"template_variables\":null,\"is_read_only\":false,\"id\":\"mer-dv6-8hm\",\"title\":\"Test-Restore_deleted_dashboards_returns_No_Content_response-1645780092 with Profile Metrics Query\",\"url\":\"/dashboard/mer-dv6-8hm/test-restoredeleteddashboardsreturnsnocontentresponse-1645780092-with-profile-me\",\"created_at\":\"2022-02-25T09:08:12.769980+00:00\",\"modified_at\":\"2022-02-25T09:08:12.769980+00:00\",\"author_handle\":\"frog@datadoghq.com\",\"widgets\":[{\"definition\":{\"requests\":[{\"profile_metrics_query\":{\"search\":{\"query\":\"runtime:jvm\"},\"group_by\":[{\"facet\":\"service\",\"sort\":{\"facet\":\"@prof_core_cpu_cores\",\"aggregation\":\"sum\",\"order\":\"desc\"},\"limit\":10}],\"compute\":{\"facet\":\"@prof_core_cpu_cores\",\"aggregation\":\"sum\"}}}],\"type\":\"timeseries\"},\"id\":5722443162930506}],\"layout_type\":\"ordered\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 568
      },
      {
        "_id": "0b06be4635154812a10312800093c781",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/mer-dv6-8hm"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 38,
            "text": "{\"deleted_dashboard_id\":\"mer-dv6-8hm\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 576
      },
      {
        "_id": "0eece539e061a8205edfe7860ef00837",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":[{\"id\":\"mer-dv6-8hm\",\"type\":\"dashboard\"}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 539
      },
      {
        "_id": "0b06be4635154812a10312800093c781",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/mer-dv6-8hm"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 38,
            "text": "{\"deleted_dashboard_id\":\"mer-dv6-8hm\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 491
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
