{
  "log": {
    "_recordingName": "GCP Integration/Create a new entry for your service account with account_tags returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "3061850eade41e3b170932ad999d6c88",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"account_tags\":[\"lorem\",\"ipsum\"],\"client_email\":\"Test-e5f8eebedfc95a5e@test-project.iam.gserviceaccount.com\",\"host_filters\":[]},\"type\":\"gcp_service_account\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integration/gcp/accounts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 378,
            "text": "{\"data\":{\"type\":\"gcp_service_account\",\"attributes\":{\"is_cspm_enabled\":false,\"resource_collection_enabled\":false,\"account_tags\":[\"lorem\",\"ipsum\"],\"cloud_run_revision_filters\":[],\"is_security_command_center_enabled\":false,\"host_filters\":[],\"client_email\":\"Test-e5f8eebedfc95a5e@test-project.iam.gserviceaccount.com\",\"automute\":false},\"id\":\"62f1287b-89d6-414d-8b80-713208d91299\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 402
      },
      {
        "_id": "5205757877b2f2d9840c6fdaa9864d44",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integration/gcp/accounts/62f1287b-89d6-414d-8b80-713208d91299"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=utf-8",
            "size": 0
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=utf-8"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 250
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
