{
  "log": {
    "_recordingName": "Cloud Cost Management/Create Cloud Cost Management AWS CUR config returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "2d8a3eb3cf7b7054f32722f736200447",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"account_filters\":{\"excluded_accounts\":[\"123456789123\",\"123456789143\"],\"include_new_accounts\":true,\"included_accounts\":[\"123456789123\",\"123456789143\"]},\"account_id\":\"123456789123\",\"bucket_name\":\"dd-cost-bucket\",\"bucket_region\":\"us-east-1\",\"report_name\":\"dd-report-name\",\"report_prefix\":\"dd-report-prefix\"},\"type\":\"aws_cur_config_post_request\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/cost/aws_cur_config"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 236,
            "text": "{\"errors\":[{\"title\":\"Validation Error\",\"detail\":\"[key=BUCKET_ACCESS] Amazon Web Services integration for account '123456789123' is currently disabled or misconfigured. Please double check your configuration on the Integrations page.\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 382
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
