{
  "log": {
    "_recordingName": "LLM Observability/Update an LLM Observability prompt returns \"Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "1a509dafad9dd1a20f59090ba74bf89a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"title\":\"New title\"},\"type\":\"prompt-templates\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/llm-obs/v1/prompts/nonexistent-prompt"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 75,
            "text": "{\"errors\":[{\"title\":\"Generic Error\",\"detail\":\"prompt template not found\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 283
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
