{
  "log": {
    "_recordingName": "Monitors/Get a monitor user template returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "f0420c75fab3a68f6ae46321d032a63a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"description\":\"It's a threshold\",\"monitor_definition\":{\"message\":\"cats\",\"name\":\"High Error Rate on service\",\"query\":\"avg(last_5m):sum:system.net.bytes_rcvd{host:host0} > 100\",\"type\":\"query alert\"},\"tags\":[\"category:test\"],\"template_variables\":[{\"available_values\":[],\"defaults\":[\"cats\"],\"name\":\"scope\"}],\"title\":\"api spec given template test-get_a_monitor_user_template_returns_ok_response-1748486180\"},\"type\":\"monitor-user-template\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/monitor/template"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 660,
            "text": "{\"data\":{\"type\":\"monitor-user-template\",\"attributes\":{\"tags\":[\"category:test\"],\"created\":\"2025-05-29T02:36:20.380109+00:00\",\"title\":\"api spec given template test-get_a_monitor_user_template_returns_ok_response-1748486180\",\"version\":0,\"description\":\"It's a threshold\",\"template_variables\":[{\"defaults\":[\"cats\"],\"available_values\":[],\"name\":\"scope\"}],\"monitor_definition\":{\"message\":\"cats\",\"name\":\"High Error Rate on service\",\"query\":\"avg(last_5m):sum:system.net.bytes_rcvd{host:host0} > 100\",\"type\":\"query alert\"},\"modified\":\"2025-05-29T02:36:20.380109+00:00\",\"creator_uuid\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"},\"id\":\"90eb2b79-fc96-43a5-af65-bf4408f47d9d\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 331
      },
      {
        "_id": "c77e1a7da16090bce9aaccac714759f2",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/monitor/template/90eb2b79-fc96-43a5-af65-bf4408f47d9d"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 660,
            "text": "{\"data\":{\"type\":\"monitor-user-template\",\"attributes\":{[...]
