{
  "log": {
    "_recordingName": "RUM/Update a RUM application returns \"Unprocessable Entity.\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ad1c18960058dc058bca4ae8629a5f6a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"test-rum-6fee7799535d7418\",\"type\":\"ios\"},\"type\":\"rum_application_create\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/rum/applications"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 672,
            "text": "{\"data\":{\"type\":\"rum_application\",\"attributes\":{\"updated_by_handle\":\"frog@datadoghq.com\",\"rum_enabled_at\":1733845249567,\"application_id\":\"00f4c783-4371-4e5c-b2bf-acf591de6c0d\",\"tags\":[],\"product_analytics_enabled\":false,\"rum_disabled_at\":0,\"client_token\":\"pub997fafb8492c06b8826445aba2a0bd3a\",\"created_at\":1733845249567,\"created_by_handle\":\"frog@datadoghq.com\",\"is_active\":false,\"org_id\":321813,\"rum_enabled\":true,\"product_analytics_enabled_at\":1733845249567,\"product_analytics_disabled_at\":1733845249567,\"updated_at\":1733845249567,\"name\":\"test-rum-6fee7799535d7418\",\"hash\":\"pub997fafb8492c06b8826445aba2a0bd3a\",\"type\":\"ios\"},\"id\":\"00f4c783-4371-4e5c-b2bf-acf591de6c0d\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 588
      },
      {
        "_id": "419229f6a1b5e71c6076f66f9a8d8b19",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"id\":\"this_id_will_not_match\",\"type\":\"rum_application_update\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/rum/applications/00f4c783-4371-4e5c-b2bf-acf591de6c0d"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 84,
            "text": "{\"errors\":[\"The id attribute in the request body does not match the id in the URL\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 422,
          "statusText": "Unprocessable Entity"
        },
        "time": 325
      },
      {
        "_id": "a18544c53e40d8e22f05f60b5e7e966c",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/rum/applications/00f4c783-4371-4e5c-b2bf-acf591de6c0d"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 517
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
