{
  "log": {
    "_recordingName": "RUM/Update a RUM application returns \"Unprocessable Entity.\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "74945625c01aa598e53865a53ceb0685",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"test_name_create\",\"type\":\"browser\"},\"type\":\"rum_application_create\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/rum/applications"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 409,
            "text": "{\"data\":{\"attributes\":{\"updated_by_handle\":\"frog@datadoghq.com\",\"application_id\":\"296a7eed-c8e3-480d-b3f1-0777555d6005\",\"name\":\"test_name_create\",\"created_by_handle\":\"frog@datadoghq.com\",\"created_at\":1664825571864,\"org_id\":321813,\"updated_at\":1664825571864,\"is_active\":false,\"hash\":\"puba93f53dff0e15bc11416bd06e42c6cd3\",\"type\":\"browser\"},\"type\":\"rum_application\",\"id\":\"296a7eed-c8e3-480d-b3f1-0777555d6005\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 955
      },
      {
        "_id": "aaceff19478abf7da754f4e929677aab",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"id\":\"this_id_will_not_match\",\"type\":\"rum_application_update\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/rum/applications/296a7eed-c8e3-480d-b3f1-0777555d6005"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 84,
            "text": "{\"errors\":[\"The id attribute in the request body does not match the id in the URL\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 422,
          "statusText": "Unprocessable Entity"
        },
        "time": 136
      },
      {
        "_id": "7aa1c1ec854f5c20dd2aa55a774cbb39",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/rum/applications/296a7eed-c8e3-480d-b3f1-0777555d6005"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 156
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
