{
  "log": {
    "_recordingName": "Action Connection/Create a new Action Connection returns \"Successfully created Action Connection\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "143d1c356301e638823fd266922b4a2b",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"integration\":{\"credentials\":{\"account_id\":\"123456789123\",\"role\":\"MyRoleUpdated\",\"type\":\"AWSAssumeRole\"},\"type\":\"AWS\"},\"name\":\"Cassette Connection DELETE_ME\"},\"type\":\"action_connection\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/actions/connections"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 333,
            "text": "{\"data\":{\"id\":\"4b5fedf7-ddf7-4d83-9604-1e12a37a02eb\",\"type\":\"action_connection\",\"attributes\":{\"integration\":{\"credentials\":{\"account_id\":\"123456789123\",\"role\":\"MyRoleUpdated\",\"external_id\":\"89671b070b6345849d94b9faca477213\",\"principal_id\":\"464622532012\",\"type\":\"AWSAssumeRole\"},\"type\":\"AWS\"},\"name\":\"Cassette Connection DELETE_ME\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 479
      },
      {
        "_id": "37811a7cd86efe5830cdcd4f0a08b361",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/actions/connections/4b5fedf7-ddf7-4d83-9604-1e12a37a02eb"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 100
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
