{
  "log": {
    "_recordingName": "CI Visibility Pipelines/Send pipeline event returns \"Request accepted for processing\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "e9a912da9eef062c45989230a89d8753",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"resource\":{\"end\":\"2024-11-25T20:08:11.018Z\",\"git\":{\"author_email\":\"john.doe@email.com\",\"repository_url\":\"https://github.com/DataDog/datadog-agent\",\"sha\":\"7f263865994b76066c4612fd1965215e7dcb4cd2\"},\"level\":\"pipeline\",\"name\":\"Deploy to AWS\",\"partial_retry\":false,\"start\":\"2024-11-25T20:06:41.018Z\",\"status\":\"success\",\"unique_id\":\"3eacb6f3-ff04-4e10-8a9c-46e6d054024a\",\"url\":\"https://my-ci-provider.example/pipelines/my-pipeline/run/1\"}},\"type\":\"cipipeline_resource_request\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/ci/pipeline"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 13,
            "text": "{\"data\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 202,
          "statusText": "Accepted"
        },
        "time": 129
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
