{
  "log": {
    "_recordingName": "Synthetics/Get a Mobile test returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "94a695d8def5a904c3ab16867252bd92",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"config\":{\"variables\":[]},\"message\":\"\",\"name\":\"Test-Get_a_Mobile_test_returns_OK_response-1727789081\",\"options\":{\"device_ids\":[\"synthetics:mobile:device:iphone_15_ios_17\"],\"mobileApplication\":{\"applicationId\":\"ab0e0aed-536d-411a-9a99-5428c27d8f8e\",\"referenceId\":\"6115922a-5f5d-455e-bc7e-7955a57f3815\",\"referenceType\":\"version\"},\"tick_every\":3600},\"status\":\"paused\",\"steps\":[],\"type\":\"mobile\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/synthetics/tests/mobile"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 828,
            "text": "{\"public_id\":\"hxp-wk7-q37\",\"name\":\"Test-Get_a_Mobile_test_returns_OK_response-1727789081\",\"status\":\"paused\",\"type\":\"mobile\",\"tags\":[],\"created_at\":\"2024-10-01T13:24:42.354666+00:00\",\"modified_at\":\"2024-10-01T13:24:42.354666+00:00\",\"config\":{\"variables\":[]},\"message\":\"\",\"options\":{\"device_ids\":[\"synthetics:mobile:device:iphone_15_ios_17\"],\"mobileApplication\":{\"applicationId\":\"ab0e0aed-536d-411a-9a99-5428c27d8f8e\",\"referenceId\":\"6115922a-5f5d-455e-bc7e-7955a57f3815\",\"referenceType\":\"version\"},\"tick_every\":3600},\"locations\":[\"aws:us-west-2\"],\"created_by\":{\"name\":null,\"handle\":\"frog@datadoghq.com\",\"email\":\"frog@datadoghq.com\"},\"deleted_at\":null,\"monitor_id\":155152455,\"org_id\":321813,\"modified_by\":{\"name\":null,\"handle\":\"frog@datadoghq.com\",\"email\":\"frog@datadoghq.com\"},\"stepCount\":{\"assertions\":0,\"subtests\":0,\"total\":0}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 689
      },
      {
        "_id": "7eb6fcd2dd959444fb2f470ca1a95a33",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/synthetics/tests/mobile/hxp-wk7-q37"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 652,
            "text": "{\"public_id\":\"hxp-wk7-q37\",\"name\":\"Test-Get_a_Mobile_test_returns_OK_resp[...]
