{
  "log": {
    "_recordingName": "Service Level Objectives/Check if SLOs can be safely deleted returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "d3d41d7d87d4eaff5c01998f7ff05ba0",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"Test-Check_if_SLOs_can_be_safely_deleted_returns_OK_response-1700815602\",\"query\":{\"denominator\":\"sum:httpservice.hits{!code:3xx}.as_count()\",\"numerator\":\"sum:httpservice.hits{code:2xx}.as_count()\"},\"thresholds\":[{\"target\":95,\"timeframe\":\"7d\",\"warning\":98}],\"type\":\"metric\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/slo"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 649,
            "text": "{\"data\":[{\"id\":\"646cb45adfe758818ede0f4dc9685a78\",\"name\":\"Test-Check_if_SLOs_can_be_safely_deleted_returns_OK_response-1700815602\",\"tags\":[],\"monitor_tags\":[],\"thresholds\":[{\"timeframe\":\"7d\",\"target\":95.0,\"target_display\":\"95.\",\"warning\":98.0,\"warning_display\":\"98.\"}],\"type\":\"metric\",\"type_id\":1,\"description\":\"\",\"timeframe\":\"7d\",\"warning_threshold\":98,\"target_threshold\":95,\"query\":{\"denominator\":\"sum:httpservice.hits{!code:3xx}.as_count()\",\"numerator\":\"sum:httpservice.hits{code:2xx}.as_count()\"},\"creator\":{\"name\":null,\"handle\":\"frog@datadoghq.com\",\"email\":\"frog@datadoghq.com\"},\"created_at\":1700815602,\"modified_at\":1700815602}],\"error\":null}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 513
      },
      {
        "_id": "d9d916ad71d735b107d6c0343eee14c0",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "ids",
              "value": "646cb45adfe758818ede0f4dc9685a78"
            }
          ],
          "url": "https://api.datadoghq.com/api/v1/slo/can_delete?ids=646cb45adfe758818ede0f4dc9685a78"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 83,
            "text": "{\"data\":{\"ok\":[\"646cb45adfe758818ede0f4dc9685a78\"],\"denied_ids\":[]},\"errors\":null}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 425
      },
      {
        "_id": "d22faf094dc80e846b72ba3fd46b44d5",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/slo/646cb45adfe758818ede0f4dc9685a78"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 59,
            "text": "{\"data\":[\"646cb45adfe758818ede0f4dc9685a78\"],\"error\":null}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 487
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
