{
  "log": {
    "_recordingName": "LLM Observability/Update an Agent Observability prompt returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "8d1d37169109e049fbaa639dc48b6326",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"prompt_id\":\"Test-Update_an_Agent_Observability_prompt_returns_Bad_Request_response-1784539218\",\"template\":[{\"content\":\"Hello\",\"role\":\"user\"}]},\"type\":\"prompt-templates\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/llm-obs/v1/prompts"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 428,
            "text": "{\"data\":{\"id\":\"b28f22d5-eec8-57f0-be7f-5042b6bb4ae1\",\"type\":\"prompt-templates\",\"attributes\":{\"author\":\"c5e19e5a-ad6b-11ed-ab4f-927130d31ef9\",\"created_at\":\"2026-07-20T09:20:19.301545921Z\",\"created_from\":\"sdk-registry\",\"in_registry\":true,\"last_version_created_at\":\"2026-07-20T09:20:19.301545921Z\",\"num_versions\":1,\"prompt_id\":\"Test-Update_an_Agent_Observability_prompt_returns_Bad_Request_response-1784539218\",\"source\":\"registry\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 740
      },
      {
        "_id": "0a0a76e6a88ae90397063f60f5f66e17",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{},\"type\":\"prompt-templates\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/llm-obs/v1/prompts/Test-Update_an_Agent_Observability_prompt_returns_Bad_Request_response-1784539218"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 103,
            "text": "{\"errors\":[{\"title\":\"Generic Error\",\"detail\":\"at least one of title or description must be provided\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 285
      },
      {
        "_id": "3942eb4d5c7a08812db6fb3a3abcd8f6",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/llm-obs/v1/prompts/Test-Update_an_Agent_Observability_prompt_returns_Bad_Request_response-1784539218"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 232,
            "text": "{\"data\":{\"id\":\"b28f22d5-eec8-57f0-be7f-5042b6bb4ae1\",\"type\":\"prompt-templates\",\"attributes\":{\"deleted_at\":\"2026-07-20T09:20:20.235152Z\",\"prompt_id\":\"Test-Update_an_Agent_Observability_prompt_returns_Bad_Request_response-1784539218\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 339
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
