{
  "log": {
    "_recordingName": "Metrics/Tag Configuration Cardinality Estimator returns \"Success\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "6b4ad177b207bd70887f5dce5b0641f7",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "filter",
              "value": {
                "groups": "app,host",
                "num_aggregations": "4"
              }
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/metrics/system.cpu.idle/estimate?filter%5Bgroups%5D=app%2Chost&filter%5Bnum_aggregations%5D=4"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 193,
            "text": "{\"data\":{\"attributes\":{\"estimated_output_series\":68,\"estimate_type\":\"count_or_gauge\",\"estimated_at\":\"2022-05-14T09:31:28.108179Z\"},\"type\":\"metric_cardinality_estimate\",\"id\":\"system.cpu.idle\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 467
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
