{
  "log": {
    "_recordingName": "LLM Observability/Delete an LLM Observability prompt returns \"Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "5d103955379aae573930d19bcb586215",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/llm-obs/v1/prompts/nonexistent-prompt"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 75,
            "text": "{\"errors\":[{\"title\":\"Generic Error\",\"detail\":\"prompt template not found\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 286
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
