{
  "log": {
    "_recordingName": "Deployment Gates/Get a deployment gates evaluation result returns \"Bad request.\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "61a718928e889cd71908052859f50094",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/deployments/gates/evaluation/not-a-valid-id"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 90,
            "text": "{\"errors\":[{\"status\":\"400\",\"title\":\"Bad Request\",\"detail\":\"attribute \\\"id\\\" Invalid id\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 126
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
