{
  "log": {
    "_recordingName": "Downtimes/Get a downtime returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "f5fbbdaab1232c3be3ce5514febf5148",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"message\":\"test message\",\"monitor_identifier\":{\"monitor_tags\":[\"cat:hat\"]},\"schedule\":{\"start\":null},\"scope\":\"test:testgetadowntimereturnsokresponse1685739204\"},\"type\":\"downtime\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/downtime"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1145,
            "text": "{\"data\":{\"type\":\"downtime\",\"attributes\":{\"display_timezone\":\"UTC\",\"scope\":\"test:testgetadowntimereturnsokresponse1685739204\",\"notify_end_states\":[\"warn\",\"alert\",\"no data\"],\"message\":\"test message\",\"created\":\"2023-06-02T20:53:24.806100+00:00\",\"status\":\"active\",\"modified\":\"2023-06-02T20:53:24.806100+00:00\",\"canceled\":null,\"monitor_identifier\":{\"monitor_tags\":[\"cat:hat\"]},\"schedule\":{\"end\":null,\"start\":\"2023-06-02T20:53:24.791647+00:00\"},\"notify_end_types\":[\"expired\"],\"mute_first_recovery_notification\":false},\"relationships\":{\"monitor\":{\"data\":null},\"created_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}}},\"id\":\"845e9a1e-0187-11ee-817a-da7ad0900002\"},\"included\":[{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"attributes\":{\"name\":null,\"handle\":\"frog@datadoghq.com\",\"created_at\":\"2019-10-02T08:15:39.795051+00:00\",\"modified_at\":\"2020-06-15T12:33:12.884459+00:00\",\"email\":\"frog@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro\",\"title\":null,\"verified\":true,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Active\"}}]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 277
      },
      {
        "_id": "efd91a7639a6ad32700459f97f75b358",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/downtime/845e9a1e-0187-11ee-817a-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 558,
            "text": "{\"data\":{\"type\":\"downtime\",\"attributes\":{\"notify_end_types\":[...]
