{
  "log": {
    "_recordingName": "Actions Datastores/List datastore items returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "6574cf7e1c5524e145d2b92f9fa74d2c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"description\":\"\",\"name\":\"Test Datastore\",\"org_access\":\"contributor\",\"primary_column_name\":\"id\",\"primary_key_generation_strategy\":\"none\"},\"type\":\"datastores\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/actions-datastores"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 74,
            "text": "{\"data\":{\"id\":\"2bc9e27b-251d-4393-9011-d1b4db5ac4c0\",\"type\":\"datastores\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 158
      },
      {
        "_id": "b9fa2342f051492636b1e8230820ef5b",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/actions-datastores/2bc9e27b-251d-4393-9011-d1b4db5ac4c0"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 386,
            "text": "{\"data\":{\"id\":\"2bc9e27b-251d-4393-9011-d1b4db5ac4c0\",\"type\":\"datastores\",\"attributes\":{\"created_at\":\"2025-08-08T20:31:00.026962Z\",\"creator_user_id\":1445416,\"creator_user_uuid\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"description\":\"\",\"modified_at\":\"2025-08-08T20:31:00.026962Z\",\"name\":\"Test Datastore\",\"org_id\":321813,\"primary_column_name\":\"id\",\"primary_key_generation_strategy\":\"none\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 125
      },
      {
        "_id": "1eaa244411a846b1b8e8ddf3675ea35b",
        "request": {
          "headers": [
            {
              "_fromType": "array",
 [...]
