{
  "log": {
    "_recordingName": "Security Monitoring/Update a suppression rule returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "5262b6a12de0ea76df58f1a3880f66a0",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"description\":\"Test-Update_a_suppression_rule_returns_OK_response-1715358891\",\"enabled\":true,\"name\":\"Test-Update_a_suppression_rule_returns_OK_response-1715358891\",\"rule_query\":\"source:cloudtrail\",\"suppression_query\":\"env:test\"},\"type\":\"suppressions\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 499,
            "text": "{\"data\":{\"id\":\"pej-nbn-ai7\",\"attributes\":{\"name\":\"Test-Update_a_suppression_rule_returns_OK_response-1715358891\",\"enabled\":true,\"description\":\"Test-Update_a_suppression_rule_returns_OK_response-1715358891\",\"rule_query\":\"source:cloudtrail\",\"suppression_query\":\"env:test\",\"data_exclusion_query\":\"\",\"version\":1,\"creation_date\":1715358892289,\"update_date\":1715358892289,\"creator\":{\"name\":null,\"handle\":\"frog@datadoghq.com\"},\"updater\":{\"name\":null,\"handle\":\"frog@datadoghq.com\"}},\"type\":\"suppressions\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 473
      },
      {
        "_id": "ba1aaf9c7d61da151fa50d8744b39467",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"suppression_query\":\"env:staging status:low\"},\"typ[...]
