{
  "log": {
    "_recordingName": "Opsgenie Integration/Get a single service object returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "7c818160590c1f95a968bc6bd2bea05e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Get_a_single_service_object_returns_OK_response-1655132327\",\"opsgenie_api_key\":\"00000000-0000-0000-0000-000000000000\",\"region\":\"us\"},\"type\":\"opsgenie-service\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integration/opsgenie/services"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 201,
            "text": "{\"data\":{\"attributes\":{\"region\":\"us\",\"name\":\"Test-Get_a_single_service_object_returns_OK_response-1655132327\",\"custom_url\":null},\"type\":\"opsgenie-service\",\"id\":\"3ca2db9d-e088-47d1-9bfe-b88463c23f2d\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 544
      },
      {
        "_id": "df5e16ec7b4b153f076c4cd98375aeee",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integration/opsgenie/services/3ca2db9d-e088-47d1-9bfe-b88463c23f2d"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 201,
            "text": "{\"data\":{\"attributes\":{\"region\":\"us\",\"na[...]
