{
  "log": {
    "_recordingName": "Incidents/Delete an incident integration metadata returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "785f03e6a04b9137a7457603551c9f6f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"customer_impacted\":false,\"title\":\"Test-Delete_an_incident_integration_metadata_returns_OK_response-1730737899\"},\"type\":\"incidents\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/incidents"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 2751,
            "text": "{\"data\":{\"type\":\"incidents\",\"id\":\"cc33cc01-56a9-5e8b-972e-460cdf704673\",\"attributes\":{\"public_id\":250774,\"incident_type_uuid\":\"7fa7e0a4-d49e-4092-8dcc-db728969ff93\",\"title\":\"Test-Delete_an_incident_integration_metadata_returns_OK_response-1730737899\",\"resolved\":null,\"customer_impact_scope\":null,\"customer_impact_start\":null,\"customer_impact_end\":null,\"customer_impacted\":false,\"notification_handles\":null,\"last_modified_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"attributes\":{\"uuid\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"handle\":\"frog@datadoghq.com\",\"email\":\"frog@datadoghq.com\",\"name\":null,\"icon\":\"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro\"}}},\"last_modified_by_uuid\":null,\"created\":\"2024-11-04T16:31:39.866275+00:00\",\"modified\":\"2024-11-04T16:31:39.866275+00:00\",\"commander\":null,\"detected\":\"2024-11-04T16:31:39.856811+00:00\",\"created_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"attributes\":{\"uuid\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"handle\":\"frog@datadoghq.com\",\"email\":\"frog@datadoghq.com\",\"name\":null,\"icon\":\"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro\"}}},\"created_by_uuid\":null,\"creation_idempotency_key\":null,\"customer_impact_duration\":0,\"time_to_detect\":0,\"time_to_repair\":0,\"time_to_internal_response\":0,\"time_to_resolve\":0,\"archived\":null,\"fields\":{\"severity\":{\"type\":\"dropdown\",\"value\":\"UNKNOWN\"},\"state\":{\"type\":\"dropdown\",\"value\":\"active\"},\"detection_method\":{\"type\":\"dropdown\",\"value\":\"unknown\"},\"root_cause\":{\"type\":\"textbox\",\"value\":null},\"summary\":{\"type\":\"textbox\",\"value\":null},\"services\":{\"type\":\"autocomplete\",\"value\":null},\"teams\":{\"type\":\"autocomplete\",\"value\":null}},\"field_analytics\":null,\"severity\":\"UNKNOWN\",\"state\":\"active\",\"non_datadog_creator\":null,\"visibility\":\"organization\",\"case_id\":null},\"relationships\":{\"created_by_user\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}},\"last_modified_by_user\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}},\"commander_user\":{\"data\":null},\"user_defined_fields\":{\"data\":[{\"type\":\"user_defined_field\",\"id\":\"a36107c6-4fec-5762-8d0c-155468701950\"},{\"type\":\"user_defined_field\",\"id\":\"a21364e0-a633-5755-a9ee-b41b4f0e4ec7\"},{\"type\":\"user_defined_field\",\"id\":\"a841b973-0344-5dfc-b17b-d2fec8d1f81c\"},{\"type\":\"user_defined_field\",\"id\":\"9f1c037a-75d2-5c51-b595-15a528a5e990\"},{\"type\":\"user_defined_field\",\"id\":\"d1db732a-4849-5fa5-8845-ac3f551666a5\"},{\"type\":\"user_defined_field\",\"id\":\"5f170242-b7dd-5f4a-bbfe-e7e2f9126060\"},{\"type\":\"user_defined_field\",\"id\":\"2c729904-3169-5274-b464-4efec4984398\"}]},\"integrations\":{\"data\":[]},\"attachments\":{\"data\":[]},\"responders\":{\"data\":[]},\"impacts\":{\"data\":[]}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 315
      },
      {
        "_id": "82ee7fdbc6faf7c9c494855435423934",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"incident_id\":\"cc33cc01-56a9-5e8b-972e-460cdf704673\",\"integration_type\":1,\"metadata\":{\"channels\":[{\"channel_id\":\"C0123456789\",\"channel_name\":\"#example-channel-name\",\"redirect_url\":\"https://slack.com/app_redirect?channel=C0123456789&team=T01234567\",\"team_id\":\"T01234567\"}]},\"status\":2},\"type\":\"incident_integrations\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/incidents/cc33cc01-56a9-5e8b-972e-460cdf704673/relationships/integrations"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1412,
            "text": "{\"data\":{\"type\":\"incident_integrations\",\"id\":\"8330ea97-8223-53cc-b9d5-3dcf2bc82598\",\"attributes\":{\"crea[...]
