{
  "log": {
    "_recordingName": "Processes/Get all processes returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "6541f9780d3e082c17534c65f9dbf9f4",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "search",
              "value": "process-agent"
            },
            {
              "name": "tags",
              "value": "testing:true"
            },
            {
              "name": "page",
              "value": {
                "limit": "2"
              }
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/processes?search=process-agent&tags=testing%3Atrue&page%5Blimit%5D=2"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 49,
            "text": "{\"meta\":{\"page\":{\"after\":\"\",\"size\":0}},\"data\":[]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 244
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
