{
  "log": {
    "_recordingName": "Actions Datastores/List datastore items returns \"Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ab8625afa894dd2d0418a800c34fea08",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/actions-datastores/3cfdd0b8-c490-4969-8d51-69add64a70ea/items"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 44,
            "text": "{\"errors\":[{\"title\":\"datastore not found\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 135
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
