{
  "log": {
    "_recordingName": "Status Pages/Update status page returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "7ed070a1fc206d6a612fc4570f697732",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"components\":[{\"name\":\"7cd6f9a8901a0989\",\"type\":\"component\"}],\"domain_prefix\":\"dd-integration-tests-7cd6f9a8901a0989\",\"enabled\":true,\"name\":\"[DD Integration Tests] 7cd6f9a8901a0989\",\"type\":\"internal\",\"visualization_type\":\"bars_and_uptime_percentage\"},\"type\":\"status_pages\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/statuspages"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 945,
            "text": "{\"data\":{\"id\":\"d52f5180-0f43-43f0-ad0a-f9a515822cf7\",\"type\":\"status_pages\",\"attributes\":{\"company_logo\":null,\"components\":[{\"id\":\"be042c66-03de-44bc-bc06-554920d52a45\",\"name\":\"7cd6f9a8901a0989\",\"type\":\"component\",\"status\":\"operational\",\"position\":0}],\"created_at\":\"2026-01-09T18:43:35.391817Z\",\"custom_domain\":null,\"custom_domain_enabled\":false,\"domain_prefix\":\"dd-integration-tests-7cd6f9a8901a0989\",\"email_header_image\":null,\"enabled\":true,\"favicon\":null,\"modified_at\":\"2026-01-09T18:43:35.391817Z\",\"name\":\"[DD Integration Tests] 7cd6f9a8901a0989\",\"page_url\":\"https://frog.datadoghq.com/status-pages/d52f5180-0f43-43f0-ad0a-f9a515822cf7/view\",\"subscriptions_enabled\":false,\"type\":\"internal\",\"visualization_type\":\"bars_and_uptime_percentage\"},\"relationships\":{\"created_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}},\"last_modified_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 538
      },
      {
        "_id": "573171e1b451686cccebf1fb642ab344",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"[DD Integration Tests] 7cd6f9a8901a0989\"},\[...]
