{
  "log": {
    "_recordingName": "Agentless Scanning/Patch GCP Scan Options returns \"Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "0a6c2650313ccd4a4230f1a883526455",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"vuln_containers_os\":true,\"vuln_host_os\":true},\"id\":\"nonexistent-project-id\",\"type\":\"gcp_scan_options\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/agentless_scanning/accounts/gcp/nonexistent-project-id"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 101,
            "text": "{\"errors\":[{\"status\":\"404\",\"detail\":\"no gcp scan options found for project nonexistent-project-id\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 449
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
