{
  "log": {
    "_recordingName": "Usage Metering/Get hourly usage for Network Hosts returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "3646c8ce7a0095ab92dd7d320e247838",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "start_hr",
              "value": "2025-05-09T11:35:45.254Z"
            },
            {
              "name": "end_hr",
              "value": "2025-05-07T11:35:45.254Z"
            }
          ],
          "url": "https://api.datadoghq.com/api/v1/usage/network_hosts?start_hr=2025-05-09T11%3A35%3A45.254Z&end_hr=2025-05-07T11%3A35%3A45.254Z"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 77,
            "text": "{\"errors\":[\"start_hr [YYYY-MM-DDThh] must be before end_hr [YYYY-MM-DDThh]\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 353
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
