{
  "log": {
    "_recordingName": "Usage Metering/Get hourly usage for Network Hosts returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "06516e1a3bfb1b6919a80e5d66f44fb8",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "start_hr",
              "value": "2022-03-29T17:01:55.545Z"
            },
            {
              "name": "end_hr",
              "value": "2022-03-27T17:01:55.545Z"
            }
          ],
          "url": "https://api.datadoghq.com/api/v1/usage/network_hosts?start_hr=2022-03-29T17%3A01%3A55.545Z&end_hr=2022-03-27T17%3A01%3A55.545Z"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 78,
            "text": "{\"errors\": [\"start_hr [YYYY-MM-DDThh] must be before end_hr [YYYY-MM-DDThh]\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 223
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
