{
  "log": {
    "_recordingName": "Incident Teams/Update an existing incident team returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "2a3478ff1cf9ec1c1c72ba9528f61937",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Typescript-Update_an_existing_incident_team_returns_OK_response-1613750647.046\"},\"type\":\"teams\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/teams"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 959,
            "text": "{\"included\":[{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"attributes\":{\"name\":null,\"handle\":\"frog@datadoghq.com\",\"created_at\":\"2019-10-02T08:15:39.795051+00:00\",\"email\":\"frog@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro\",\"title\":null,\"verified\":true,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Active\"},\"relationships\":{\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}],\"data\":{\"type\":\"teams\",\"id\":\"cf0f14a3-73b9-59a2-a7b0-0159dab1dc5b\",\"attributes\":{\"name\":\"Typescript-Update_an_existing_incident_team_returns_OK_response-1613750647.046\",\"created\":\"2021-02-19T16:04:07.317362+00:00\",\"modified\":\"2021-02-19T16:04:07.317362+00:00\"},\"relationships\":{\"last_modified_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}},\"created_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}}}}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.3944440"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "100"
            },
            {
              "name": "x-ratelimit-period",
              "value": "60"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "53"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "95"
            },
            {
              "name": "x-dd-debug",
              "value": "l4HFlaRP3QwYSqoGKhzbYfv7zgkK63HIRR7YkyVYZspq0lGjjTBwoK8V/alf+XYt"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 331,
      },
      {
        "_id": "4ff3913f0b3e4b2dce4607ecfd0bd534",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Typescript-Update_an_existing_incident_team[...]
