{
  "log": {
    "_recordingName": "Agentless Scanning/Get Azure scan options returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "aa2f42c9e027e0c751bbe969c1be3001",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/agentless_scanning/accounts/azure/invalid%20uuid"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 160,
            "text": "{\"errors\":[{\"title\":\"Generic Error\",\"detail\":\"missing or invalid url parameter 'subscriptionId', expected uuid format '12345678-90ab-cdef-1234-567890abcdef'\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 795
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
