{
  "log": {
    "_recordingName": "Dashboards/Create a new dashboard with timeseries widget containing style attributes",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "c5fea6810ee2cbcf1aad87eadcd87781",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"layout_type\":\"ordered\",\"title\":\"Test-Create_a_new_dashboard_with_timeseries_widget_containing_style_attributes-1618572731 with timeseries widget\",\"widgets\":[{\"definition\":{\"requests\":[{\"display_type\":\"bars\",\"on_right_yaxis\":false,\"q\":\"sum:trace.test.errors{env:prod,service:datadog-api-spec} by {resource_name}.as_count()\",\"style\":{\"line_type\":\"solid\",\"line_width\":\"normal\",\"palette\":\"warm\"}}],\"type\":\"timeseries\"}}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 836,
            "text": "{\"notify_list\":null,\"description\":null,\"author_name\":\"CI Account\",\"template_variables\":null,\"is_read_only\":false,\"id\":\"edw-vay-96u\",\"title\":\"Test-Create_a_new_dashboard_with_timeseries_widget_containing_style_attributes-1618572731 with timeseries widget\",\"url\":\"/dashboard/edw-vay-96u/test-createanewdashboardwithtimeserieswidgetcontainingstyleattributes-1618572731\",\"created_at\":\"2021-04-16T11:32:11.338701+00:00\",\"modified_at\":\"2021-04-16T11:32:11.338701+00:00\",\"author_handle\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\",\"widgets\":[{\"definition\":{\"requests\":[{\"q\":\"sum:trace.test.errors{env:prod,service:datadog-api-spec} by {resource_name}.as_count()\",\"on_right_yaxis\":false,\"style\":{\"line_width\":\"normal\",\"palette\":\"warm\",\"line_type\":\"solid\"},\"display_type\":\"bars\"}],\"type\":\"timeseries\"},\"id\":1125815002687389}],\"layout_type\":\"ordered\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 184
      },
      {
        "_id": "9f4995466389dea217b76ab31d2d1ba8",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/edw-vay-96u"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 38,
            "text": "{\"deleted_dashboard_id\":\"edw-vay-96u\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 106
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
