{
  "log": {
    "_recordingName": "Monitors/Edit a monitor configuration policy returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "9696eda5c99193fdb3c40c80c0122bd2",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"policy\":{\"tag_key\":\"testeditamonitorconfigurationpolicyreturnsokresponse1748486178\",\"tag_key_required\":false,\"valid_tag_values\":[\"prod\",\"staging\"]},\"policy_type\":\"tag\"},\"type\":\"monitor-config-policy\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/monitor/policy"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 270,
            "text": "{\"data\":{\"type\":\"monitor-config-policy\",\"attributes\":{\"policy\":{\"valid_tag_values\":[\"prod\",\"staging\"],\"tag_key\":\"testeditamonitorconfigurationpolicyreturnsokresponse1748486178\",\"tag_key_required\":false},\"policy_type\":\"tag\"},\"id\":\"b967c47e-8f9b-49f5-bdff-744b4d50b26f\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 114
      },
      {
        "_id": "66157fe65372faa3b1bddc4077bb6484",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"policy\":{\"tag_key\":\"testeditamonitorconfiguration[...]
