{
  "log": {
    "_recordingName": "Monitors/Edit a monitor configuration policy returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "0e0e3e9b4d5e9e008c53986992041a43",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"policy\":{\"tag_key\":\"testeditamonitorconfigurationpolicyreturnsokresponse1682627701\",\"tag_key_required\":false,\"valid_tag_values\":[\"prod\",\"staging\"]},\"policy_type\":\"tag\"},\"type\":\"monitor-config-policy\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/monitor/policy"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 270,
            "text": "{\"data\":{\"type\":\"monitor-config-policy\",\"id\":\"fbdb67de-e53a-11ed-9e4a-da7ad0900002\",\"attributes\":{\"policy\":{\"valid_tag_values\":[\"prod\",\"staging\"],\"tag_key_required\":false,\"tag_key\":\"testeditamonitorconfigurationpolicyreturnsokresponse1682627701\"},\"policy_type\":\"tag\"}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 208
      },
      {
        "_id": "186405abb350c0d07c857b37eefb7a24",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"policy\":{\"tag_key\":\"testeditamonitorconfiguration[...]
