{
  "log": {
    "_recordingName": "Incidents/Create incident attachment returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "a71344e8b3bbcc7bb430d321fa1fdb46",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"attachment\":{\"documentUrl\":\"https://app.datadoghq.com/notebook/123/Postmortem-IR-123\",\"title\":\"Postmortem-IR-123\"},\"attachment_type\":\"postmortem\"},\"type\":\"incident_attachments\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/incidents/00000000-0000-0000-0000-000000000000/attachments"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 68,
            "text": "{\"errors\":[{\"title\":\"Generic Error\",\"detail\":\"incident not found\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 128
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
