{
  "log": {
    "_recordingName": "Usage Metering/Get mobile hourly usage for RUM Sessions returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "1cede2b2e7dec8b481c98b182b823aa7",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "start_hr",
              "value": "2025-05-07T14:02:23.417Z"
            },
            {
              "name": "end_hr",
              "value": "2025-05-09T14:02:23.417Z"
            },
            {
              "name": "type",
              "value": "mobile"
            }
          ],
          "url": "https://api.datadoghq.com/api/v1/usage/rum_sessions?start_hr=2025-05-07T14%3A02%3A23.417Z&end_hr=2025-05-09T14%3A02%3A23.417Z&type=mobile"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 13836,
            "text": "{\"usage\":[{\"hour\":\"2025-05-07T14:00:00+00:00\",\"region\":\"us\",\"session_count\":null,\"session_count_ios\":null,\"session_count_android\":null,\"session_count_reactnative\":null,\"session_count_flutter\":null,\"session_count_roku\":null,\"org_name\":\"DD Integration Tests (321813)\",\"public_id\":\"fasjyydbcgwwc2uc\"},{\"hour\":\"2025-05-07T15:00:00+00:00\",\"region\":\"us\",\"session_count\":null,\"session_count_ios\":null,\"session_count_android\":null,\"session_count_reactnative\":null,\"session_count_flutter\":null,\"session_count_roku\":null,\"org_name\":\"DD Integration Tests (321813)\",\"public_id\":\"fasjyydbcgwwc2uc\"},{\"hour\":\"2025-05-07T16:00:00+00:00\",\"region\":\"us\",\"session_count\":null,\"session_count_ios\":null,\"session_count_android\":null,\"session_count_reactna[...]
