{
  "log": {
    "_recordingName": "Usage Metering/Get mobile hourly usage for RUM Sessions returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "d3b2733190725c0f67a111172fed82ad",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "start_hr",
              "value": "2022-05-05T15:31:42.562Z"
            },
            {
              "name": "end_hr",
              "value": "2022-05-07T15:31:42.562Z"
            },
            {
              "name": "type",
              "value": "mobile"
            }
          ],
          "url": "https://api.datadoghq.com/api/v1/usage/rum_sessions?start_hr=2022-05-05T15%3A31%3A42.562Z&end_hr=2022-05-07T15%3A31%3A42.562Z&type=mobile"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 10523,
            "text": "{\"usage\":[{\"org_name\":\"DD Integration Tests (321813)\",\"public_id\":\"fasjyydbcgwwc2uc\",\"hour\":\"2022-05-05T15:00:00+00:00\",\"session_count_android\":null,\"session_count\":null,\"session_count_ios\":null,\"session_count_reactnative\":null},{\"org_name\":\"DD Integration Tests (321813)\",\"public_id\":\"fasjyydbcgwwc2uc\",\"hour\":\"2022-05-05T16:00:00+00:00\",\"session_count_android\":null,\"session_count\":null,\"session_count_ios\":null,\"session_count_reactnative\":null},{\"org_name\":\"DD Integration Tests (321813)\",\"public_id\":\"fasjyydbcgwwc2uc\",\"hour\":\"2022-05-05T17:00:00+00:00\",\"session_count_android\":null,\"session_count\":null,\"session_count_ios\":null,\"session_count_reactnative\":null},{\"org_name\":\"[...]
