{
  "log": {
    "_recordingName": "Error Tracking/Search error tracking issues returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "f46fc451b537346f3e778e7e2bc6d0c7",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"from\":1671612804000,\"query\":\"service:orders-* AND @language:go\",\"to\":1671620004000,\"track\":\"trace\"},\"type\":\"search_request\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/error-tracking/issues/search"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 11,
            "text": "{\"data\":[]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 71
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
