{
  "log": {
    "_recordingName": "Rum Retention Filters Permanent/Get a permanent retention filter returns \"Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "6dca69ba6164e997a3e78bd26d3ace4b",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/rum/applications/a33671aa-24fd-4dcd-ba4b-5bbdbafe7690/permanent_retention_filters/Test-Get_a_permanent_retention_filter_returns_Not_Found_response-1777482270"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 151,
            "text": "{\"errors\":[{\"status\":\"404\",\"title\":\"Not Found\",\"detail\":\"rpc error: code = NotFound desc = NotFound: This hardcoded retention filter does not exist\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 428
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
