{
  "log": {
    "_recordingName": "Microsoft Teams Integration/Get all workflow webhook handles returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "95d7bcc75e769897091799a183f8f722",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Get_all_workflow_webhook_handles_returns_OK_response-1738093013\",\"url\":\"https://prod-100.westus.logic.azure.com:443/workflows/abcd1234\"},\"type\":\"workflows-webhook-handle\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integration/ms-teams/configuration/workflows-webhook-handles"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 181,
            "text": "{\"data\":{\"id\":\"49cc81df-ccaf-48e3-b532-abf24d3b5287\",\"type\":\"workflows-webhook-handle\",\"attributes\":{\"name\":\"Test-Get_all_workflow_webhook_handles_returns_OK_response-1738093013\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 98
      },
      {
        "_id": "200f8c5bfccfac370053ea06ccaa8097",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integration/ms-teams/configuration/workflows-webhook-handles"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 183,
            "text": "{\"data\":[{\"id\":\"49cc81df-ccaf-48e3-b532-abf[...]
