{
  "log": {
    "_recordingName": "Dashboard Lists/Update a dashboard list returns \"Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "0f0d1e818ac4b75fd14248c9aca91379",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"Not found\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/lists/manual/0"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 57,
            "text": "{\"errors\":[\"Manual Dashboard List with id 0 not found\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 191
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
