{
  "log": {
    "_recordingName": "Model Lab API/List Model Lab run artifacts returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "3990d021db1332a037a0829eccd20872",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/model-lab-api/runs/70158/artifacts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 167,
            "text": "{\"data\":{\"id\":\"70158\",\"type\":\"artifacts\",\"attributes\":{\"files\":[{\"path\":\"lora_model/\",\"is_dir\":true}],\"path_in_project\":\"f635c73b70594ab6bb6e212cdf87d0d5/artifacts\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 200
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
