{
  "log": {
    "_recordingName": "Logs Restriction Queries/Get restriction query for a given role returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "7e0c2f77efbdbbdf6fe6f91ecb20d116",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/config/restriction_queries/role/malformed_id"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 40,
            "text": "{\"errors\":[\"Missing Role malformed_id\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 364
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
