{
  "log": {
    "_recordingName": "Dashboards/Create a new dashboard with hostmap DDSQL widget",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "0b5a1dda94af0a33484af590a8bcb7ea",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"description\":null,\"layout_type\":\"free\",\"notify_list\":[],\"template_variables\":[],\"title\":\"Test-Create_a_new_dashboard_with_hostmap_DDSQL_widget-1783526261\",\"widgets\":[{\"definition\":{\"requests\":{\"limit\":1000,\"projection\":{\"dimensions\":[{\"column\":\"entity_id\",\"dimension\":\"node\"},{\"column\":\"parent_id\",\"dimension\":\"group\"},{\"column\":\"cpu_usage\",\"dimension\":\"fill\"}],\"type\":\"hostmap\"},\"query\":{\"data_source\":\"dataset\",\"dataset_id\":\"abc-123-def\",\"dataset_provider\":\"ddsql_query\"},\"request_type\":\"data_projection\",\"style\":{\"palette\":\"green_to_orange\",\"palette_flip\":false}},\"title\":\"\",\"title_align\":\"left\",\"title_size\":\"16\",\"type\":\"hostmap\"},\"layout\":{\"height\":22,\"width\":47,\"x\":0,\"y\":0}}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1016,
            "text": "{\"id\":\"ei8-bm4-cy2\",\"title\":\"Test-Create_a_new_dashboard_with_hostmap_DDSQL_widget-1783526261\",\"description\":null,\"author_handle\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\",\"author_name\":\"CI Account\",\"layout_type\":\"free\",\"url\":\"/dashboard/ei8-bm4-cy2/test-createanewdashboardwithhostmapddsqlwidget-1783526261\",\"template_variables\":[],\"widgets\":[{\"definition\":{\"requests\":{\"limit\":1000,\"projection\":{\"dimensions\":[{\"column\":\"entity_id\",\"dimension\":\"node\"},{\"column\":\"parent_id\",\"dimension\":\"group\"},{\"column\":\"cpu_usage\",\"dimension\":\"fill\"}],\"type\":\"hostmap\"},\"query\":{\"data_source\":\"dataset\",\"dataset_id\":\"abc-123-def\",\"dataset_provider\":\"ddsql_query\"},\"request_type\":\"data_projection\",\"style\":{\"palette\":\"green_to_orange\",\"palette_flip\":false}},\"title\":\"\",\"title_align\":\"left\",\"title_size\":\"16\",\"type\":\"hostmap\"},\"layout\":{\"height\":22,\"width\":47,\"x\":0,\"y\":0},\"id\":2962556261296626}],\"notify_list\":[],\"created_at\":\"2026-07-08T15:57:42.209375+00:00\",\"modified_at\":\"2026-07-08T15:57:42.209375+00:00\",\"restricted_roles\":[]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 547
      },
      {
        "_id": "e9ee19f75927c64e5894d09d33bc501d",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/ei8-bm4-cy2"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 38,
            "text": "{\"deleted_dashboard_id\":\"ei8-bm4-cy2\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 707
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
