{
  "log": {
    "_recordingName": "Roles/Update a role returns \"Not found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "b35d946538d3ea04b4cc833a28562228",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"updated\"},\"id\":\"00000000-dead-beef-dead-ffffffffffff\",\"type\":\"roles\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/roles/00000000-dead-beef-dead-ffffffffffff"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 75,
            "text": "{\"errors\": [\"Missing Role 00000000-dead-beef-dead-ffffffffffff not found\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "500"
            },
            {
              "name": "x-ratelimit-period",
              "value": "60"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "12"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "492"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 95,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
