{
  "log": {
    "_recordingName": "Incidents/Create an incident impact returns \"Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "83334db726877d4b12bd05d082969661",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"description\":\"Service was unavailable for external users\",\"end_at\":\"2025-08-29T13:17:00Z\",\"fields\":{\"customers_impacted\":\"all\",\"products_impacted\":[\"shopping\",\"marketing\"]},\"start_at\":\"2025-08-28T13:17:00Z\"},\"type\":\"incident_impacts\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/incidents/00000000-0000-0000-0000-000000000001/impacts"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 146,
            "text": "{\"errors\":[{\"title\":\"Generic Error\",\"detail\":\"rpc error: code = NotFound desc = incident not found: failed to get incident: incident not found\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 95
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
