{
  "log": {
    "_recordingName": "Usage Metering/Get hourly usage for Sensitive Data Scanner returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "899e03f92a90fa5c0689d9d3694fd9c9",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "start_hr",
              "value": "2025-05-07T11:35:51.009Z"
            },
            {
              "name": "end_hr",
              "value": "2025-05-09T11:35:51.009Z"
            }
          ],
          "url": "https://api.datadoghq.com/api/v1/usage/sds?start_hr=2025-05-07T11%3A35%3A51.009Z&end_hr=2025-05-09T11%3A35%3A51.009Z"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 12105,
            "text": "{\"usage\":[{\"hour\":\"2025-05-07T11:00:00+00:00\",\"region\":\"us\",\"logs_scanned_bytes\":405,\"total_scanned_bytes\":405,\"apm_scanned_bytes\":0,\"rum_scanned_bytes\":0,\"events_scanned_bytes\":0,\"org_name\":\"DD Integration Tests (321813)\",\"public_id\":\"fasjyydbcgwwc2uc\"},{\"hour\":\"2025-05-07T12:00:00+00:00\",\"region\":\"us\",\"logs_scanned_bytes\":404,\"total_scanned_bytes\":404,\"apm_scanned_bytes\":0,\"rum_scanned_bytes\":0,\"events_scanned_bytes\":0,\"org_name\":\"DD Integration Tests (321813)\",\"public_id\":\"fasjyydbcgwwc2uc\"},{\"hour\":\"2025-05-07T13:00:00+00:00\",\"region\":\"us\",\"logs_scanned_bytes\":null,\"total_scanned_bytes\":null,\"apm_scanned_bytes\":null,\"rum_scanned_bytes\":null,\"events_scanned_bytes\":null,\"org_na[...]
