{
  "log": {
    "_recordingName": "Incidents/Delete an incident impact returns \"Not Found\" response (different invalid IDs)",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "4a5614929445944391015e0f4b996a48",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/incidents/00000000-0000-0000-0000-000000000002/impacts/00000000-0000-0000-0000-000000000002"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 118,
            "text": "{\"errors\":[{\"title\":\"Generic Error\",\"detail\":\"rpc error: code = NotFound desc = impact not found: impact not found\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 162
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
