{
  "log": {
    "_recordingName": "Observability Pipelines/Delete a pipeline returns \"Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "d504871e95a93921d8b6426d67fce395",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines/3fa85f64-5717-4562-b3fc-2c963f66afa6"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 44,
            "text": "{\"errors\":[{\"title\":\"Resource Not Found\"}]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 482
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
