{
  "log": {
    "_recordingName": "Data Access Controls/Delete a Data Access Control dataset returns \"No Content\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "9afbe4de1a01216793a5958a7f6a808d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Security Audit DAC\",\"principals\":[\"role:94172442-be03-11e9-a77a-3b7612558ac1\"],\"product_filters\":[{\"filters\":[\"@application.id:ABCD\"],\"product\":\"logs\"}]},\"type\":\"dataset\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/datasets"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 248,
            "text": "{\"data\":{\"type\":\"dataset\",\"id\":\"d7eacc0a-68a8-4511-8a9e-81c275a3cfc4\",\"attributes\":{\"name\":\"Security Audit DAC\",\"product_filters\":[{\"product\":\"logs\",\"filters\":[\"@application.id:ABCD\"]}],\"principals\":[\"role:94172442-be03-11e9-a77a-3b7612558ac1\"]}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 224
      },
      {
        "_id": "25f5bfcda85b825f12952b7da296afdb",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/datasets/d7eacc0a-68a8-4511-8a9e-81c275a3cfc4"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 0
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 245
      },
      {
        "_id": "25f5bfcda85b825f12952b7da296afdb",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/datasets/d7eacc0a-68a8-4511-8a9e-81c275a3cfc4"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 109,
            "text": "{\"errors\":[\"Invalid request: [DatasetNotFound] dataset \\\"d7eacc0a-68a8-4511-8a9e-81c275a3cfc4\\\" not found\"]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 250
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
