{
  "log": {
    "_recordingName": "Dashboards/Get all invitations for a shared dashboard returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "b0a1394de279225084dc6c8e3874e970",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"layout_type\":\"ordered\",\"title\":\"Test-Get_all_invitations_for_a_shared_dashboard_returns_OK_response-1731611570 with Profile Metrics Query\",\"widgets\":[{\"definition\":{\"requests\":[{\"profile_metrics_query\":{\"compute\":{\"aggregation\":\"sum\",\"facet\":\"@prof_core_cpu_cores\"},\"group_by\":[{\"facet\":\"service\",\"limit\":10,\"sort\":{\"aggregation\":\"sum\",\"facet\":\"@prof_core_cpu_cores\",\"order\":\"desc\"}}],\"search\":{\"query\":\"runtime:jvm\"}}}],\"type\":\"timeseries\"}}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 879,
            "text": "{\"id\":\"fkc-v6q-qze\",\"title\":\"Test-Get_all_invitations_for_a_shared_dashboard_returns_OK_response-1731611570 with Profile Metrics Query\",\"description\":null,\"author_handle\":\"anika.maskara@datadoghq.com\",\"author_name\":\"Anika Maskara\",\"layout_type\":\"ordered\",\"url\":\"/dashboard/fkc-v6q-qze/test-getallinvitationsforashareddashboardreturnsokresponse-1731611570-with-profi\",\"is_read_only\":false,\"template_variables\":null,\"widgets\":[{\"definition\":{\"requests\":[{\"profile_metrics_query\":{\"compute\":{\"aggregation\":\"sum\",\"facet\":\"@prof_core_cpu_cores\"},\"group_by\":[{\"facet\":\"service\",\"limit\":10,\"sort\":{\"aggregation\":\"sum\",\"facet\":\"@prof_core_cpu_cores\",\"order\":\"desc\"}}],\"search\":{\"query\":\"runtime:jvm\"}}}],\"type\":\"timeseries\"},\"id\":366760305923022}],\"notify_list\":null,\"created_at\":\"2024-11-14T19:12:50.495987+00:00\",\"modified_at\":\"2024-11-14T19:12:50.495987+00:00\",\"restricted_roles\":[]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 251
      },
      {
        "_id": "b9df4c01f5d6157770a2520e2eaff670",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"dashboard_id\":\"fkc-v6q-qze\",\"dashboard_type\":\"custom_timeboard\",\"global_time\":{\"live_span\":\"1h\"},\"share_list\":[\"testgetallinvitationsforashareddashboardreturnsokresponse1731611570@datadoghq.com\"],\"share_type\":\"invite\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/public"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 991,
            "text": "{\"author\":{\"handle\":\"anika.maskara@datadoghq.com\",\"name\":\"Anika Maskara\"},\"dashboard_id\":\"fkc-v6q-qze\",\"dashboard_type\":\"custom_timeboard\",\"status\":\"active\",\"title\":\"Test-Get_all_invitations_for_a_shared_dashboard_returns_OK_response-1731611570 with Profile Metrics Query\",\"viewing_preferences\":{},\"expiration\":null,\"last_accessed\":null,\"global_time_selectable_enabled\":false,\"global_time\":{\"live_span\":\"1h\"},\"selectable_template_vars\":null,\"token\":\"fasjyydbcgwwc2uc-91e2d2e8c19d6a2b80d2b4a75d7303da\",\"public_url\":\"https://p.datadoghq.com/sb/fasjyydbcgwwc2uc-91e2d2e8c19d6a2b80d2b4a75d7303da\",\"created\":\"2024-11-14T19:12:50.829214+00:00\",\"share_type\":\"invite\",\"share_list\":[\"testgetallinvitationsforashareddashboardreturnsokresponse1731611570@datadoghq.com\"],\"session_duration_in_days\":30,\"invitees\":[{\"email\":\"testgetallinvitationsforashareddashboardreturnsokresponse1731611570@datadoghq.com\",\"access_expiration\":null,\"last_accessed\":null,\"created_at\":\"2024-11-14T19:12:50.855355+00:00\"}]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 358
      },
      {
        "_id": "f2eed4659bcfda116966a25895e84a46",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/public/fasjyydbcgwwc2uc-91e2d2e8c19d6a2b80d2b4a75d7303da/invitation"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 46,
            "text": "{\"data\":[],\"meta\":{\"page\":{\"total_count\":0}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 98
      },
      {
        "_id": "1e57fa9a208e132ebd409cd0bd27527f",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/public/fasjyydbcgwwc2uc-91e2d2e8c19d6a2b80d2b4a75d7303da"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 87,
            "text": "{\"deleted_public_dashboard_token\":\"fasjyydbcgwwc2uc-91e2d2e8c19d6a2b80d2b4a75d7303da\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 226
      },
      {
        "_id": "d981327338241d24197f3292b143286d",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/fkc-v6q-qze"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 39,
            "text": "{\"deleted_dashboard_id\":\"fkc-v6q-qze\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 157
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
