{
  "log": {
    "_recordingName": "Dashboards/Create a new dashboard with run-workflow widget",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "29ba81146ae45f93de2c8ffd238d1980",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"description\":\"\",\"layout_type\":\"free\",\"notify_list\":[],\"template_variables\":[],\"title\":\"Test-Create_a_new_dashboard_with_run_workflow_widget-1731699171\",\"widgets\":[{\"definition\":{\"inputs\":[{\"name\":\"environment\",\"value\":\"$env.value\"}],\"time\":{},\"title\":\"Run workflow title\",\"title_align\":\"left\",\"title_size\":\"16\",\"type\":\"run_workflow\",\"workflow_id\":\"2e055f16-8b6a-4cdd-b452-17a34c44b160\"},\"layout\":{\"height\":15,\"width\":47,\"x\":0,\"y\":0}}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 763,
            "text": "{\"id\":\"iis-hmn-pzf\",\"title\":\"Test-Create_a_new_dashboard_with_run_workflow_widget-1731699171\",\"description\":\"\",\"author_handle\":\"frog@datadoghq.com\",\"author_name\":null,\"layout_type\":\"free\",\"url\":\"/dashboard/iis-hmn-pzf/test-createanewdashboardwithrunworkflowwidget-1731699171\",\"is_read_only\":false,\"template_variables\":[],\"widgets\":[{\"definition\":{\"inputs\":[{\"name\":\"environment\",\"value\":\"$env.value\"}],\"time\":{},\"title\":\"Run workflow title\",\"title_align\":\"left\",\"title_size\":\"16\",\"type\":\"run_workflow\",\"workflow_id\":\"2e055f16-8b6a-4cdd-b452-17a34c44b160\"},\"layout\":{\"height\":15,\"width\":47,\"x\":0,\"y\":0},\"id\":5837412826936459}],\"notify_list\":[],\"created_at\":\"2024-11-15T19:32:51.982136+00:00\",\"modified_at\":\"2024-11-15T19:32:51.982136+00:00\",\"restricted_roles\":[]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 228
      },
      {
        "_id": "f343ee313c482c182d7b256323010fa5",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/iis-hmn-pzf"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 39,
            "text": "{\"deleted_dashboard_id\":\"iis-hmn-pzf\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 179
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
