{
  "log": {
    "_recordingName": "Deployment Gates/Create deployment rule returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "1119e004ecf43549e331fa26e52d5296",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"dry_run\":false,\"env\":\"production\",\"identifier\":\"my-gate-testcreatedeploymentrulereturnsokresponse1773240598\",\"service\":\"my-service\"},\"type\":\"deployment_gate\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/deployment_gates"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 567,
            "text": "{\"data\":{\"id\":\"2f5dd6f5-d95a-484e-854d-deef73efb664\",\"type\":\"deployment_gate\",\"attributes\":{\"created_at\":\"2026-03-11T14:49:58.708133Z\",\"created_by\":{\"id\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\",\"name\":\"CI Account\",\"handle\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\"},\"dry_run\":false,\"env\":\"production\",\"identifier\":\"my-gate-testcreatedeploymentrulereturnsokresponse1773240598\",\"service\":\"my-service\",\"updated_at\":\"2026-03-11T14:49:58.708133Z\",\"updated_by\":{\"id\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\",\"name\":\"CI Account\",\"handle\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\"}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 281
      },
      {
        "_id": "48b2035b74e6fdc12694799fc9437d23",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"dry_run\":false,\"name\":\"My deployment rule\",\"options\":{\"excluded_resources\":[]},\"type\":\"faulty_deployment_detection\"},\"type\":\"deployment_rule\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/deployment_gates/2f5dd6f5-d95a-484e-854d-deef73efb664/rules"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 600,
            "text": "{\"data\":{\"id\":\"cd2c3087-0e8b-4696-a8a1-7af14e218e46\",\"type\":\"deployment_rule\",\"attributes\":{\"created_at\":\"2026-03-11T14:49:59.023723Z\",\"created_by\":{\"id\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\",\"name\":\"CI Account\",\"handle\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\"},\"dry_run\":false,\"gate_id\":\"2f5dd6f5-d95a-484e-854d-deef73efb664\",\"name\":\"My deployment rule\",\"options\":{\"excluded_resources\":[]},\"type\":\"faulty_deployment_detection\",\"updated_at\":\"2026-03-11T14:49:59.023723Z\",\"updated_by\":{\"id\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\",\"name\":\"CI Account\",\"handle\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\"}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
  [...]
