{
  "log": {
    "_recordingName": "On-Call/Update On-Call schedule returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "3dfc52a434816e93eef6f7a0b8e7f737",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Update_On_Call_schedule_returns_OK_response-1748494464@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 691,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"fe6b1fbd-3c48-11f0-90c9-4ad2f0f8c382\",\"attributes\":{\"name\":null,\"handle\":\"test-update_on_call_schedule_returns_ok_response-1748494464@datadoghq.com\",\"created_at\":\"2025-05-29T04:54:25.223093+00:00\",\"modified_at\":\"2025-05-29T04:54:25.223093+00:00\",\"email\":\"test-update_on_call_schedule_returns_ok_response-1748494464@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/6bc23e301121dc7a0a2d1adc71bbbc54?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 705
      },
      {
        "_id": "b1a4eb5b8ba35920f3aa28a98ae8704e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"layers\":[{\"effective_date\":\"2025-05-19T04:54:24.605Z\",\"end_date\":\"2025-06-08T04:54:24.605Z\",\"interval\":{\"days\":1},\"members\":[{\"user\":{\"id\":\"fe6b1fbd-3c48-11f0-90c9-4ad2f0f8c382\"}}],\"name\":\"Layer 1\",\"restrictions\":[{\"end_day\":\"friday\",\"end_time\":\"17:00:00\",\"start_day\":\"monday\",\"start_time\":\"09:00:00\"}],\"rotation_start\":\"2025-05-24T04:54:24.605Z\"}],\"name\":\"Test-Update_On_Call_schedule_returns_OK_response-1748494464\",\"time_zone\":\"America/New_York\"},\"relationships\":{\"teams\":{\"data\":[{\"id\":\"65aea9d0-941c-4607-bf8a-14fc0dac2820\",\"type\":\"teams\"}]}},\"type\":\"schedules\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/on-call/schedules"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 368,
            "text": "{\"data\":{\"id\":\"f12650c6-beae-40fd-a686-7e57d72216c6\",\"type\":\"schedules\",\"attributes\":{\"name\":\"Test-Update_On_C[...]
