{
  "log": {
    "_recordingName": "Metrics/Create a tag indexing rule returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "7e717e935f1778b69a1277fb880eeb60",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"metric_name_matches\":[\"dd.test.*\"],\"name\":\"test\",\"options\":{\"data\":{\"manage_preexisting_metrics\":true,\"override_previous_rules\":false},\"version\":99}},\"type\":\"tag_indexing_rules\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/metrics/tag-indexing-rules"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 62,
            "text": "{\"errors\":[\"Invalid request body: options version must be 1\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 248
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
