{
  "log": {
    "_recordingName": "Cloud Cost Management/Update Cloud Cost Management Azure config returns \"Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "51fca20613708253de3877c78ca34f2f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"is_enabled\":true},\"type\":\"azure_uc_config_patch_request\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/cost/azure_uc_config/123456"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 119,
            "text": "{\"errors\":[{\"status\":\"404\",\"title\":\"Cloud account not found\",\"detail\":\"Cloud account with ID 123456 was not found\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 119
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
