{
  "log": {
    "_recordingName": "Logs Pipelines/Create a pipeline with Array Processor Key Value Operation returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "91c12ee88103b3d0e54e5a16e0bd2ab9",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"filter\":{\"query\":\"source:python\"},\"name\":\"testPipelineArrayKeyValue\",\"processors\":[{\"is_enabled\":true,\"name\":\"extract_kv\",\"operation\":{\"key_to_extract\":\"name\",\"source\":\"tags\",\"type\":\"key-value\",\"value_to_extract\":\"value\"},\"type\":\"array-processor\"}],\"tags\":[]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/logs/config/pipelines"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 379,
            "text": "{\"id\":\"KLmRE95XSCKQcsktzgs9eQ\",\"type\":\"pipeline\",\"name\":\"testPipelineArrayKeyValue\",\"is_enabled\":false,\"is_read_only\":false,\"filter\":{\"query\":\"source:python\"},\"processors\":[{\"name\":\"extract_kv\",\"is_enabled\":true,\"operation\":{\"source\":\"tags\",\"key_to_extract\":\"name\",\"value_to_extract\":\"value\",\"override_on_conflict\":false,\"type\":\"key-value\"},\"type\":\"array-processor\"}],\"tags\":[]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 313
      },
      {
        "_id": "86336c647ba95680d116b6e8d59f318d",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/logs/config/pipelines/KLmRE95XSCKQcsktzgs9eQ"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 3,
            "text": "{}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 277
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
