{
  "log": {
    "_recordingName": "Security Monitoring/List resource filters returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "000eff50ec68762bad7f1f9d22febfbf",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "cloud_provider",
              "value": "aws"
            },
            {
              "name": "account_id",
              "value": "123456789"
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/cloud_security_management/resource_filters?cloud_provider=aws&account_id=123456789"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 118,
            "text": "{\"data\":{\"id\":\"436195a0-5491-42a8-ac40-e0c0b61879bd\",\"type\":\"csm_resource_filter\",\"attributes\":{\"cloud_provider\":{}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 154
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
