{
  "log": {
    "_recordingName": "Synthetics/Create a TOTP global variable returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "27f9e6529465db689fde5dfb0ae5c375",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"config\":{\"configVariables\":[{\"example\":\"content-type\",\"name\":\"PROPERTY\",\"pattern\":\"content-type\",\"type\":\"text\"}],\"steps\":[{\"allowFailure\":true,\"assertions\":[{\"operator\":\"is\",\"target\":200,\"type\":\"statusCode\"}],\"exitIfSucceed\":true,\"extractedValues\":[{\"field\":\"server\",\"name\":\"EXTRACTED_VALUE\",\"parser\":{\"type\":\"raw\"},\"secure\":true,\"type\":\"http_header\"}],\"extractedValuesFromScript\":\"dd.variable.set('STATUS_CODE', dd.response.statusCode);\",\"isCritical\":true,\"name\":\"request is sent\",\"request\":{\"httpVersion\":\"http2\",\"method\":\"GET\",\"timeout\":10,\"url\":\"https://datadoghq.com\"},\"retry\":{\"count\":5,\"interval\":1000},\"subtype\":\"http\"},{\"name\":\"Wait\",\"subtype\":\"wait\",\"value\":1},{\"allowFailure\":false,\"assertions\":[{\"operator\":\"lessThan\",\"target\":1000,\"type\":\"responseTime\"}],\"extractedValues\":[],\"isCritical\":true,\"name\":\"GRPC CALL\",\"request\":{\"callType\":\"unary\",\"compressedJsonDescriptor\":\"eJy1lU1z2yAQhv+Lzj74I3ETH506bQ7OZOSm1w4Wa4epBARQppqM/3v5koCJJdvtxCdW77vPssCO3zMKUgHOFu/ZXvBiS6hZho/f8qe7pftYgXphWJrlA8XwxywEvNba+6PhkC2yVcVVswYp0R6ykRYlZ1SCV21SDrxsssPIeS9FJKqGfK2rqnmmSBwhWa2XlKgtaQPiDcRGCUDVfwGD2sKUqKEtc1cSoOrsMlaMOec1sySYCCgUYRSVLv2zSva2u+FQkB0pVkIw8bFuIudOOn3pOaKYVT3Iy97Pd0AYhOx5QcMsnxvRHlnuLf8ETDd3CNtrv2nejkDpRnANCmGkkFn/hsYzpBKE7jVbufgnKnV9HRM9zRPDDKPttYT61n0TdWkAAjggk9AhuxIeaXd69CYTcsGw7cBTakLVbNpRzGEgyWjkSOpMbZXkhGL6oX30R49qt3GoHrap7i0XdD41WQ+2icCNm5p1hmFqnHNlcla0riKmDZ183crDxChjbnurtxHPRE784sVhWvDfGP+SsTKibU3o5NtWHuZFGZOxP6P5VXqIOvaOSec4eYohyd7NslHuJbd1bewds85xYrNxkr2d+5IhFWF3NvaO684xjE2S5ulY+tu64Pna0fCPJgzw6vF5/WucLcYjt5xoq19O3UDptOg/OamJQRaCcPPnMTQ2QDFn+uhPvUfnCrMc99upyQY4Ui9Dlc/YoG3R/v4Cs9YE+g==\",\"host\":\"grpcbin.test.k6.io\",\"message\":\"{}\",\"metadata\":{},\"method\":\"Index\",\"port\":9000,\"service\":\"grpcbin.GRPCBin\"},\"retry\":{\"count\":0,\"interval\":300},\"subtype\":\"grpc\"},{\"allowFailure\":false,\"assertions\":[{\"operator\":\"isInMoreThan\",\"target\":10,\"type\":\"certificate\"}],\"isCritical\":true,\"name\":\"SSL step\",\"request\":{\"checkCertificateRevocation\":true,\"disableAiaIntermediateFetching\":true,\"host\":\"example.org\",\"port\":443},\"retry\":{\"count\":0,\"interval\":300},\"subtype\":\"ssl\"},{\"allowFailure\":false,\"assertions\":[{\"operator\":\"lessThan\",\"target\":1000,\"type\":\"responseTime\"}],\"isCritical\":true,\"name\":\"DNS step\",\"request\":{\"dnsServer\":\"8.8.8.8\",\"dnsServerPort\":\"53\",\"host\":\"troisdizaines.com\"},\"retry\":{\"count\":0,\"interval\":300},\"subtype\":\"dns\"},{\"allowFailure\":false,\"assertions\":[{\"operator\":\"lessThan\",\"target\":1000,\"type\":\"responseTime\"}],\"isCritical\":true,\"name\":\"TCP step\",\"request\":{\"host\":\"34.95.79.70\",\"port\":80,\"shouldTrackHops\":true,\"timeout\":32},\"retry\":{\"count\":0,\"interval\":300},\"subtype\":\"tcp\"},{\"allowFailure\":false,\"assertions\":[{\"operator\":\"is\",\"target\":0,\"type\":\"packetLossPercentage\"}],\"isCritical\":true,\"name\":\"ICMP step\",\"request\":{\"host\":\"34.95.79.70\",\"numberOfPackets\":4,\"shouldTrackHops\":true,\"timeout\":38},\"retry\":{\"count\":0,\"interval\":300},\"subtype\":\"icmp\"},{\"allowFailure\":false,\"assertions\":[{\"operator\":\"lessThan\",\"target\":1000,\"type\":\"responseTime\"}],\"isCritical\":true,\"name\":\"Websocket step\",\"request\":{\"basicAuth\":{\"password\":\"password\",\"type\":\"web\",\"username\":\"user\"},\"headers\":{\"f\":\"g\"},\"isMessageBase64Encoded\":true,\"message\":\"My message\",\"url\":\"ws://34.95.79.70/web-socket\"},\"retry\":{\"count\":0,\"interval\":300},\"subtype\":\"websocket\"},{\"allowFailure\":false,\"assertions\":[{\"operator\":\"lessThan\",\"target\":1000,\"type\":\"responseTime\"}],\"isCritical\":true,\"name\":\"UDP step\",\"request\":{\"host\":\"8.8.8.8\",\"message\":\"A image.google.com\",\"port\":53},\"retry\":{\"count\":0,\"interval\":300},\"subtype\":\"udp\"}]},\"locations\":[\"aws:us-east-2\"],\"message\":\"BDD test payload: synthetics_api_test_multi_step_payload.json\",\"name\":\"Test-Create_a_TOTP_global_variable_returns_OK_response-1752254630\",\"options\":{\"accept_self_signed\":false,\"allow_insecure\":true,\"follow_redirects\":true,\"min_failure_duration\":10,\"min_location_failed\":1,\"monitor_name\":\"Test-Create_a_TOTP_global_variable_returns_OK_response-1752254630\",\"monitor_priority\":5,\"retry\":{\"count\":3,\"interval\":1000},\"tick_every\":60},\"subtype\":\"multi\",\"tags\":[\"testing:api\"],\"type\":\"api\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/synthetics/tests/api"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 4697,
            "text": "{\"public_id\":\"kgr-bme-8nw\",\"name\":\"Test-Create_a_TOTP_global_variable_returns_OK_response-1752254630\",\"status\":\"live\",\"type\":\"api\",\"subtype\":\"multi\",\"tags\":[\"testing:api\"],\"created_at\":\"2025-07-11T17:23:51.482505+00:00\",\"modified_at\":\"2025-07-11T17:23:51.482505+00:00\",\"config\":{\"configVariables\":[{\"example\":\"content-type\",\"name\":\"PROPERTY\",\"pattern\":\"content-type\",\"type\":\"text\"}],\"steps\":[{\"allowFailure\":true,\"assertions\":[{\"operator\":\"is\",\"target\":200,\"type\":\"statusCode\"}],\"exitIfSucceed\":true,\"extractedValues\":[{\"field\":\"server\",\"name\":\"EXTRACTED_VALUE\",\"parser\":{\"type\":\"raw\"},\"secure\":true,\"type\":\"http_header\"}],\"extractedValuesFromScript\":\"dd.variable.set('STATUS_CODE', dd.response.statusCode);\",\"isCritical\":true,\"name\":\"request is sent\",\"request\":{\"httpVersion\":\"http2\",\"method\":\"GET\",\"timeout\":10,\"url\":\"https://datadoghq.com\"},\"retry\":{\"count\":5,\"interval\":1000},\"subtype\":\"http\",\"id\":\"ax6-gjc-umh\"},{\"name\":\"Wait\",\"subtype\":\"wait\",\"value\":1,\"id\":\"nb6-pxs-szd\"},{\"allowFailure\":false,\"assertions\":[{\"operator\":\"lessThan\",\"target\":1000,\"type\":\"responseTime\"}],\"extractedValues\":[],\"isCritical\":true,\"name\":\"GRPC CALL\",\"request\":{\"callType\":\"unary\",\"compressedJsonDescriptor\":\"eJy1lU1z2yAQhv+Lzj74I3ETH506bQ7OZOSm1w4Wa4epBARQppqM/3v5koCJJdvtxCdW77vPssCO3zMKUgHOFu/ZXvBiS6hZho/f8qe7pftYgXphWJrlA8XwxywEvNba+6PhkC2yVcVVswYp0R6ykRYlZ1SCV21SDrx[...]
