{
  "log": {
    "_recordingName": "Cloud Cost Management/Update if exists, or create a new budget returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "4bd39306b23fcbbdcff43cccf8e49278",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"end_month\":202502,\"entries\":[{\"amount\":500,\"month\":202501,\"tag_filters\":[{\"tag_key\":\"service\",\"tag_value\":\"ec2\"}]},{\"amount\":500,\"month\":202502,\"tag_filters\":[{\"tag_key\":\"service\",\"tag_value\":\"ec2\"}]}],\"metrics_query\":\"aws.cost.amortized{service:ec2} by {service}\",\"name\":\"my budget\",\"start_month\":202501},\"type\":\"budget\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/cost/budget"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 585,
            "text": "{\"data\":{\"id\":\"041ec283-154d-4427-987b-113f806e73f0\",\"type\":\"budget\",\"attributes\":{\"created_at\":1745839196458,\"created_by\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"end_month\":202502,\"entries\":[{\"month\":202501,\"amount\":500,\"tag_filters\":[{\"tag_key\":\"service\",\"tag_value\":\"ec2\"}]},{\"month\":202502,\"amount\":500,\"tag_filters\":[{\"tag_key\":\"service\",\"tag_value\":\"ec2\"}]}],\"metrics_query\":\"aws.cost.amortized{service:ec2} by {service}\",\"name\":\"my budget\",\"org_id\":321813,\"start_month\":202501,\"total_amount\":1000,\"updated_at\":1745839196458,\"updated_by\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 327
      },
      {
        "_id": "96f9312517df55cde8dee88b25d3ecfd",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/cost/budget/041ec283-154d-4427-987b-113f806e73f0"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 329
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
