{
  "log": {
    "_recordingName": "Network Device Monitoring/Update the tags for an interface returns \"Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "5307a138eda8d7fcc5cd2c716ae769aa",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"tags\":[\"tag:test\",\"tag:testbis\"]},\"id\":\"unknown_interface_id\",\"type\":\"tags\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/ndm/tags/interfaces/unknown_interface_id"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 49,
            "text": "{\"errors\":[{\"status\":\"404\",\"title\":\"Not Found\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 186
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
