{
  "log": {
    "_recordingName": "Key Management/Get all Application keys owned by current user returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "d38e075613e733fe8fa840d4c66d456e",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/current_user/application_keys"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 599,
            "text": "{\"meta\":{\"page\":{\"total_filtered_count\":3},\"max_allowed_per_user\":1000},\"data\":[{\"type\":\"application_keys\",\"id\":\"109352f1-8828-5305-8e07-f9224517a443\",\"attributes\":{\"name\":\"XXXXXXXXXXXXXXX\",\"created_at\":\"2021-04-15T14:20:28.940731+00:00\",\"last4\":\"beef\"}},{\"type\":\"application_keys\",\"id\":\"4d462b64-f64d-5e23-aed5-01f4b10fb9f2\",\"attributes\":{\"name\":\"XXXXXXXXXXXXXXXXXX\",\"created_at\":\"2021-04-29T15:54:07.404178+00:00\",\"last4\":\"beef\"}},{\"type\":\"application_keys\",\"id\":\"b35e8f9a-a94b-5b20-8ec2-4b76dd2e13e1\",\"attributes\":{\"name\":\"XXXXXX\",\"created_at\":\"2021-04-19T14:01:09.155025+00:00\",\"last4\":\"beef\"}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 412,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
