{
  "log": {
    "_recordingName": "Usage Metering/Get hourly usage for Lambda returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "7ebc044518688c95c20b535b80b44b22",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "start_hr",
              "value": "2022-03-27T00:41:24.021Z"
            },
            {
              "name": "end_hr",
              "value": "2022-03-29T00:41:24.021Z"
            }
          ],
          "url": "https://api.datadoghq.com/api/v1/usage/aws_lambda?start_hr=2022-03-27T00%3A41%3A24.021Z&end_hr=2022-03-29T00%3A41%3A24.021Z"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 7019,
            "text": "{\"usage\":[{\"org_name\":\"DD Integration Tests (321813)\",\"func_count\":0,\"public_id\":\"fasjyydbcgwwc2uc\",\"hour\":\"2022-03-27T00:00:00+00:00\",\"invocations_sum\":0},{\"org_name\":\"DD Integration Tests (321813)\",\"func_count\":0,\"public_id\":\"fasjyydbcgwwc2uc\",\"hour\":\"2022-03-27T01:00:00+00:00\",\"invocations_sum\":0},{\"org_name\":\"DD Integration Tests (321813)\",\"func_count\":0,\"public_id\":\"fasjyydbcgwwc2uc\",\"hour\":\"2022-03-27T02:00:00+00:00\",\"invocations_sum\":0},{\"org_name\":\"DD Integration Tests (321813)\",\"func_count\":0,\"public_id\":\"fasjyydbcgwwc2uc\",\"hour\":\"2022-03-27T03:00:00+00:00\",\"invocations_sum\":0},{\"org_name[...]
