{
  "log": {
    "_recordingName": "Action Connection/Register a new App Key returns \"Created\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "9dbd56dc33561e9fb5bc5000bd0300ea",
        "request": {
          "headers": [
          ],
          "method": "PUT",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/actions/app_key_registrations/b7feea52-994e-4714-a100-1bd9eff5aee1"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 84,
            "text": "{\"data\":{\"id\":\"b7feea52-994e-4714-a100-1bd9eff5aee1\",\"type\":\"app_key_registration\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 92
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
