{
  "log": {
    "_recordingName": "Incidents/Delete incident notification rule returns \"Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "b3fad29a10a399c749856e7c8423bc04",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/incidents/config/notification-rules/00000000-0000-0000-0000-000000000001"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 64,
            "text": "{\"errors\":[{\"title\":\"Generic Error\",\"detail\":\"rule not found\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 132
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
