{
  "log": {
    "_recordingName": "Application Security/Delete a WAF exclusion filter returns \"Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "92c443ef97a2aeca617f9e027ebb8214",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/remote_config/products/asm/waf/exclusion_filters/unknown"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 51,
            "text": "{\"errors\":[{\"title\":\"id not found\",\"code\":\"404\"}]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 307
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
