{
  "log": {
    "_recordingName": "Teams/Get team sync configurations returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "9340a9d9b12be8261e72ba1bbc945a32",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "filter",
              "value": {
                "source": "github"
              }
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/team/sync?filter%5Bsource%5D=github"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 282,
            "text": "{\"data\":[{\"id\":\"3d33cc55-aea4-4801-bb75-139d347298c9\",\"type\":\"team_sync_bulk\",\"attributes\":{\"frequency\":\"once\",\"selection_state\":[{\"external_id\":{\"type\":\"organization\",\"value\":\"1\"},\"operation\":\"include\",\"scope\":\"subtree\"}],\"source\":\"github\",\"sync_membership\":false,\"type\":\"link\"}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 322
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
