{
  "log": {
    "_recordingName": "Dashboards/Create a new dashboard with event_timeline widget",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "d105c98a3d85796b9edc90ea8c9b264d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"description\":null,\"is_read_only\":false,\"layout_type\":\"free\",\"notify_list\":[],\"template_variables\":[],\"title\":\"Test-Create_a_new_dashboard_with_event_timeline_widget-1641430231\",\"widgets\":[{\"definition\":{\"query\":\"status:error priority:all\",\"tags_execution\":\"and\",\"title\":\"\",\"title_align\":\"left\",\"title_size\":\"16\",\"type\":\"event_timeline\"},\"layout\":{\"height\":9,\"width\":47,\"x\":0,\"y\":0}}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 692,
            "text": "{\"notify_list\":[],\"description\":null,\"restricted_roles\":[],\"author_name\":null,\"template_variables\":[],\"is_read_only\":false,\"id\":\"8zb-e23-rdn\",\"title\":\"Test-Create_a_new_dashboard_with_event_timeline_widget-1641430231\",\"url\":\"/dashboard/8zb-e23-rdn/test-createanewdashboardwitheventtimelinewidget-1641430231\",\"created_at\":\"2022-01-06T00:50:31.676223+00:00\",\"modified_at\":\"2022-01-06T00:50:31.676223+00:00\",\"author_handle\":\"frog@datadoghq.com\",\"widgets\":[{\"definition\":{\"title_size\":\"16\",\"title\":\"\",\"title_align\":\"left\",\"tags_execution\":\"and\",\"query\":\"status:error priority:all\",\"type\":\"event_timeline\"},\"layout\":{\"y\":0,\"width\":47,\"x\":0,\"height\":9},\"id\":3161433541540683}],\"layout_type\":\"free\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 194
      },
      {
        "_id": "678aeb6d7153e41515ccdc0ac17d6d03",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/8zb-e23-rdn"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 38,
            "text": "{\"deleted_dashboard_id\":\"8zb-e23-rdn\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 225
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
