{
  "log": {
    "_recordingName": "Teams/Remove a team hierarchy link returns \"API error response.\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "360527a7cd17c12c763c534ca0bf2e10",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team-hierarchy-links/aaa11111-aa11-aa11-aaaa-aaaaaa111111"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 85,
            "text": "{\"errors\":[\"Not Found: link with id aaa11111-aa11-aa11-aaaa-aaaaaa111111 not found\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 465
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
