{
  "log": {
    "_recordingName": "Users/Get a user invitation returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "048247af5e3dcd4e5900349c967fccc4",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Get_a_user_invitation_returns_OK_response-1652349217@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 686,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"657f03d8-d1d9-11ec-ad3d-da7ad0900002\",\"attributes\":{\"name\":null,\"handle\":\"test-get_a_user_invitation_returns_ok_response-1652349217@datadoghq.com\",\"created_at\":\"2022-05-12T09:53:38.255148+00:00\",\"modified_at\":\"2022-05-12T09:53:38.307302+00:00\",\"email\":\"test-get_a_user_invitation_returns_ok_response-1652349217@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/dab87213dd8f46847259f2c1bccca22f?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 500
      },
      {
        "_id": "961e45dfc0b9f17291fde74713e3ace4",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":[{\"relationships\":{\"user\":{\"data\":{\"id\":\"657f03d8-d1d9-11ec-ad3d-da7ad0900002\",\"type\":\"users\"}}},\"type\":\"user_invitations\"}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/user_invitations"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 384,
            "text": "{\"data\":[{\"type\":\"user_invitations\",\"id\":\"65ef03ae-d1d9-11ec-ad3d-da7ad0900002\",\"attributes\":{\"uuid\":\"65ef03ae-d1d9-11ec-ad3d-da7ad0900002\",\"login_method\":null,\"invite_type\":\"openid_invite\",\"created_at\":\"2022-05-12T09:53:38.990217+00:00\",\"expires_at\":\"2022-05-14T09:53:38.846030+00:00\"},\"relationships\":{\"user\":{\"data\":{\"type\":\"users\",\"id\":\"657f03d8-d1d9-11ec-ad3d-da7ad0900002\"}}}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 713
      },
      {
        "_id": "81e9758da554b4134c975b4664d0b0af",
        "request": {
          "he[...]
