{
  "log": {
    "_recordingName": "Users/Get a user invitation returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "e621e263e46201fd2514b032abd6d9a2",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Get_a_user_invitation_returns_OK_response-1618125650@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 686,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"71e588d4-9a96-11eb-9d13-da7ad0900002\",\"attributes\":{\"name\":null,\"handle\":\"test-get_a_user_invitation_returns_ok_response-1618125650@datadoghq.com\",\"created_at\":\"2021-04-11T07:20:51.155895+00:00\",\"modified_at\":\"2021-04-11T07:20:51.186957+00:00\",\"email\":\"test-get_a_user_invitation_returns_ok_response-1618125650@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/e4d0c401e3117f967c9a1972bdd1bd48?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.4281284"
            },
            {
              "name": "x-dd-debug",
              "value": "L3ULR3HwCWYmEqCWGz2Yob3chcH4pjowBacBXkncP7o+/uPqKt9yGEYf/g1AJPzQ"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 365,
      },
      {
        "_id": "15d75d2ff404bb19cabf684189de9aca",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":[{\"relationships\":{\"user\":{\"data\":{\"id\":\"71e588d4-9a96-11eb-9d13-da7ad0900002\",\"type\":\"users\"}}},\"type\":\"user_invitations\"}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/user_invitations"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 384,
            "text": "{\"data\":[{\"type\":\"user_invitations\",\"id\":\"7222e166-9a96-11eb-9d13-da7ad0900002\",\"attributes\":{\"uuid\":\"7222e166-9a96-11eb-9d13-da7ad0900002\",\"login_method\":null,\"invite_type\":\"openid_invite\",\"created_at\":\"2021-04-11T07:20:51.559045+00:00\",\"expires_at\":\"2021-04-13T07:20:51.513341+00:00\"},\"relationships\":{\"user\":{\"data\":{\"type\":\"users\",\"id\":\"71e588d4-9a96-11eb-9d13-da7ad0900002\"}}}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.4281284"
            },
            {
              "name": "x-dd-debug",
              "value": "F5gm0Rce1/Abr9/0Fw8HAqWfiz0[...]
