{
  "log": {
    "_recordingName": "Users/Get a user invitation returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "19271add67fefe556125251ef3e98369",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Get_a_user_invitation_returns_OK_response-1641829906@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 686,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"376efc34-722d-11ec-b5d7-da7ad0900002\",\"attributes\":{\"name\":null,\"handle\":\"test-get_a_user_invitation_returns_ok_response-1641829906@datadoghq.com\",\"created_at\":\"2022-01-10T15:51:47.074235+00:00\",\"modified_at\":\"2022-01-10T15:51:47.134582+00:00\",\"email\":\"test-get_a_user_invitation_returns_ok_response-1641829906@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/19448cceaf15629894292ea0c73028ac?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 466
      },
      {
        "_id": "da4948fc6dbd62bfbccabb27b662079d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":[{\"relationships\":{\"user\":{\"data\":{\"id\":\"376efc34-722d-11ec-b5d7-da7ad0900002\",\"type\":\"users\"}}},\"type\":\"user_invitations\"}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/user_invitations"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 384,
            "text": "{\"data\":[{\"type\":\"user_invitations\",\"id\":\"37d7be4a-722d-11ec-b5d7-da7ad0900002\",\"attributes\":{\"uuid\":\"37d7be4a-722d-11ec-b5d7-da7ad0900002\",\"login_method\":null,\"invite_type\":\"openid_invite\",\"created_at\":\"2022-01-10T15:51:47.761451+00:00\",\"expires_at\":\"2022-01-12T15:51:47.570286+00:00\"},\"relationships\":{\"user\":{\"data\":{\"type\":\"users\",\"id\":\"376efc34-722d-11ec-b5d7-da7ad0900002\"}}}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 627
      },
      {
        "_id": "e2eb47b78ca173c5d40443785bd1aa41",
        "request": {
          "he[...]
