{
  "log": {
    "_recordingName": "Users/Get a user invitation returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "ce2011e2e8afd3aceaeda78f341e171f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Typescript-Get_a_user_invitation_returns_OK_response-1613676258.706@datadoghq.com\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 649,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"e57e2e54-721e-11eb-9444-da7ad0900002\",\"attributes\":{\"name\":null,\"handle\":\"typescript-get_a_user_invitation_returns_ok_response-1613676258.706@datadoghq.com\",\"created_at\":\"2021-02-18T19:24:18.975769+00:00\",\"email\":\"typescript-get_a_user_invitation_returns_ok_response-1613676258.706@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/9025cb21991a66671c4f0a1ec570e155?s=48&d=retro\",\"title\":null,\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.3936814"
            },
            {
              "name": "x-dd-debug",
              "value": "l8RQo2maZqJf6GFThBbKNE6dvthz6njusVtau3dPXJWL2RLFoN81H+BLPB/1xgs1"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 384,
      },
      {
        "_id": "ef631e5dea6e7a54effba9a6f06cb5a4",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":[{\"relationships\":{\"user\":{\"data\":{\"id\":\"e57e2e54-721e-11eb-9444-da7ad0900002\",\"type\":\"users\"}}},\"type\":\"user_invitations\"}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/user_invitations"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 384,
            "text": "{\"data\":[{\"type\":\"user_invitations\",\"id\":\"e5c50734-721e-11eb-9444-da7ad0900002\",\"attributes\":{\"uuid\":\"e5c50734-721e-11eb-9444-da7ad0900002\",\"login_method\":null,\"invite_type\":\"openid_invite\",\"created_at\":\"2021-02-18T19:24:19.440772+00:00\",\"expires_at\":\"2021-02-20T19:24:19.376917+00:00\"},\"relationships\":{\"user\":{\"data\":{\"type\":\"users\",\"id\":\"e57e2e54-721e-11eb-9444-da7ad0900002\"}}}}]}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.3936814"
            },
            {
              "name": "x-dd-debug",
              "value": "l4HFlaRP3QwYSq[...]
