{
  "log": {
    "_recordingName": "Users/Get a user invitation returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "98460fbed5bb9b6a7b658100f8d1643e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Typescript-Get_a_user_invitation_returns_OK_response-1613750700.261@datadoghq.com\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 649,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"3820bebc-72cc-11eb-9468-da7ad0900002\",\"attributes\":{\"name\":null,\"handle\":\"typescript-get_a_user_invitation_returns_ok_response-1613750700.261@datadoghq.com\",\"created_at\":\"2021-02-19T16:05:00.548422+00:00\",\"email\":\"typescript-get_a_user_invitation_returns_ok_response-1613750700.261@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/07e7f468a47598fc60242ffeb01f8fcc?s=48&d=retro\",\"title\":null,\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.3944440"
            },
            {
              "name": "x-dd-debug",
              "value": "l8RQo2maZqJf6GFThBbKNE6dvthz6njusVtau3dPXJWL2RLFoN81H+BLPB/1xgs1"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 414,
      },
      {
        "_id": "b5ae4bf513957fe76bae96898477ad4a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":[{\"relationships\":{\"user\":{\"data\":{\"id\":\"3820bebc-72cc-11eb-9468-da7ad0900002\",\"type\":\"users\"}}},\"type\":\"user_invitations\"}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/user_invitations"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 384,
            "text": "{\"data\":[{\"type\":\"user_invitations\",\"id\":\"3876a908-72cc-11eb-9468-da7ad0900002\",\"attributes\":{\"uuid\":\"3876a908-72cc-11eb-9468-da7ad0900002\",\"login_method\":null,\"invite_type\":\"openid_invite\",\"created_at\":\"2021-02-19T16:05:01.112157+00:00\",\"expires_at\":\"2021-02-21T16:05:00.954055+00:00\"},\"relationships\":{\"user\":{\"data\":{\"type\":\"users\",\"id\":\"3820bebc-72cc-11eb-9468-da7ad0900002\"}}}}]}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.3944440"
            },
            {
              "name": "x-dd-debug",
              "value": "Um4CoU685QqAsc[...]
