{
  "log": {
    "_recordingName": "Users/Get a user invitation returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "460e4dba901ed791a288edd60c287652",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Typescript-Get_a_user_invitation_returns_OK_response-1617271883.409@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 706,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"9cf1bdc0-92d2-11eb-9c02-da7ad0900002\",\"attributes\":{\"name\":null,\"handle\":\"typescript-get_a_user_invitation_returns_ok_response-1617271883.409@datadoghq.com\",\"created_at\":\"2021-04-01T10:11:23.879781+00:00\",\"modified_at\":\"2021-04-01T10:11:23.911371+00:00\",\"email\":\"typescript-get_a_user_invitation_returns_ok_response-1617271883.409@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/1b0eae4c8fb3747873d7c0dc9be0ed55?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.4216820"
            },
            {
              "name": "x-dd-debug",
              "value": "/L+SFFO+m1pPY+hRCpk5325fvfrNl0KmiquUNJolBN/5hu3HIwflqjZSbJ6NxDFG"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 450,
      },
      {
        "_id": "ec2df6ff8d24a05d267aafb7bb431dc7",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":[{\"relationships\":{\"user\":{\"data\":{\"id\":\"9cf1bdc0-92d2-11eb-9c02-da7ad0900002\",\"type\":\"users\"}}},\"type\":\"user_invitations\"}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/user_invitations"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 384,
            "text": "{\"data\":[{\"type\":\"user_invitations\",\"id\":\"9d3639a0-92d2-11eb-9c02-da7ad0900002\",\"attributes\":{\"uuid\":\"9d3639a0-92d2-11eb-9c02-da7ad0900002\",\"login_method\":null,\"invite_type\":\"openid_invite\",\"created_at\":\"2021-04-01T10:11:24.328886+00:00\",\"expires_at\":\"2021-04-03T10:11:24.260922+00:00\"},\"relationships\":{\"user\":{\"data\":{\"type\":\"users\",\"id\":\"9cf1bdc0-92d2-11eb-9c02-da7ad0900002\"}}}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.4216820"
            },
            {
              "name": "x-dd-debug",
              "value": "l4HFlaRP3QwYSqoGKhzbYfv7zgk[...]
