{
  "log": {
    "_recordingName": "Users/Get a user invitation returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "f699c365e7fd5f506fd16d21367f019f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Typescript-Get_a_user_invitation_returns_OK_response-1613653965.591@datadoghq.com\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 649,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"fd6bfc47-71ea-11eb-941f-da7ad0900002\",\"attributes\":{\"name\":null,\"handle\":\"typescript-get_a_user_invitation_returns_ok_response-1613653965.591@datadoghq.com\",\"created_at\":\"2021-02-18T13:12:45.874662+00:00\",\"email\":\"typescript-get_a_user_invitation_returns_ok_response-1613653965.591@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/b1fe0af2ef534fd87ef3a9758121802a?s=48&d=retro\",\"title\":null,\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.3933218"
            },
            {
              "name": "x-dd-debug",
              "value": "nLnnBNvlCFDECRnZvzDb0z4sAO35G+IMidcAs8vrCKyjvsKWE8Yd9S3n6OjZ1qRN"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 408,
      },
      {
        "_id": "45f8b8460aafb25241f975233e17cdcd",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":[{\"relationships\":{\"user\":{\"data\":{\"id\":\"fd6bfc47-71ea-11eb-941f-da7ad0900002\",\"type\":\"users\"}}},\"type\":\"user_invitations\"}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/user_invitations"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 384,
            "text": "{\"data\":[{\"type\":\"user_invitations\",\"id\":\"fe160b32-71ea-11eb-941f-da7ad0900002\",\"attributes\":{\"uuid\":\"fe160b32-71ea-11eb-941f-da7ad0900002\",\"login_method\":null,\"invite_type\":\"openid_invite\",\"created_at\":\"2021-02-18T13:12:46.407135+00:00\",\"expires_at\":\"2021-02-20T13:12:46.270103+00:00\"},\"relationships\":{\"user\":{\"data\":{\"type\":\"users\",\"id\":\"fd6bfc47-71ea-11eb-941f-da7ad0900002\"}}}}]}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.3933218"
            },
            {
              "name": "x-dd-debug",
              "value": "fIO2C4qGDheGHy[...]
