{
  "log": {
    "_recordingName": "Users/Get a user invitation returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "ece09bb215c075818d905549bcf4f216",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Get_a_user_invitation_returns_OK_response-1618491774@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 686,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"e48c8c50-9dea-11eb-9df5-da7ad0900002\",\"attributes\":{\"name\":null,\"handle\":\"test-get_a_user_invitation_returns_ok_response-1618491774@datadoghq.com\",\"created_at\":\"2021-04-15T13:02:54.724100+00:00\",\"modified_at\":\"2021-04-15T13:02:54.756177+00:00\",\"email\":\"test-get_a_user_invitation_returns_ok_response-1618491774@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/055027263246de2d83fe0957e898dc01?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.4318655"
            },
            {
              "name": "x-dd-debug",
              "value": "twvpGlmuom5y6A0pjGtXzTf554cmwJgTcCZ71fK4H/RDi+v5ehBK0zQiRcTJQG5C"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 462,
      },
      {
        "_id": "ba38923d9c576106f740abda0612fa14",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":[{\"relationships\":{\"user\":{\"data\":{\"id\":\"e48c8c50-9dea-11eb-9df5-da7ad0900002\",\"type\":\"users\"}}},\"type\":\"user_invitations\"}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/user_invitations"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 384,
            "text": "{\"data\":[{\"type\":\"user_invitations\",\"id\":\"e4de152a-9dea-11eb-9df5-da7ad0900002\",\"attributes\":{\"uuid\":\"e4de152a-9dea-11eb-9df5-da7ad0900002\",\"login_method\":null,\"invite_type\":\"openid_invite\",\"created_at\":\"2021-04-15T13:02:55.259429+00:00\",\"expires_at\":\"2021-04-17T13:02:55.179075+00:00\"},\"relationships\":{\"user\":{\"data\":{\"type\":\"users\",\"id\":\"e48c8c50-9dea-11eb-9df5-da7ad0900002\"}}}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.4318655"
            },
            {
              "name": "x-dd-debug",
              "value": "fIO2C4qGDheGHy4YbS+r3a3CXbh[...]
