{
  "log": {
    "_recordingName": "Security Monitoring/Create or update an indicator triage state returns \"Created\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "cd15ebe86c734bfcc795e31b00313bca",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"indicator\":\"192.0.2.1\",\"triage_state\":\"reviewed\"},\"type\":\"ioc_triage_state\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/security/siem/ioc-explorer/triage"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 283,
            "text": "{\"data\":{\"id\":\"2e6eff68-4ffa-4cab-b9bb-d9ce1ef3b42a\",\"type\":\"ioc_triage_state\",\"attributes\":{\"created_at\":\"2026-06-05T12:22:26.488248Z\",\"indicator\":\"192.0.2.1\",\"triage_state\":\"reviewed\",\"triaged_at\":\"2026-06-05T12:22:26.488248Z\",\"triaged_by\":\"dc6535c4-0b70-47aa-9c6a-9b0fc0be3f19\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 380
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
