{
  "log": {
    "_recordingName": "Org Connections/Delete Org Connection returns \"Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "93d952468c03e9f43cfa4183413e3c46",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/org_connections/00000000-0000-0000-0000-000000000000"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 94,
            "text": "{\"errors\":[\"org connection with id:00000000-0000-0000-0000-000000000000 not found not found\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 130
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
