{
  "log": {
    "_recordingName": "Teams/Get links for a team returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ba61c8e988c072c595fd9b4b83626e3c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"handle-0d2d6ca6aa883570\",\"name\":\"name-0d2d6ca6aa883570\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 550,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"56bc6f22-ef4f-11ed-9378-da7ad0900002\",\"attributes\":{\"name\":\"name-0d2d6ca6aa883570\",\"handle\":\"handle-0d2d6ca6aa883570\",\"summary\":null,\"description\":null,\"color\":7,\"created_at\":\"2023-05-10T16:25:55.499796+00:00\",\"modified_at\":\"2023-05-10T16:25:55.499801+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/56bc6f22-ef4f-11ed-9378-da7ad0900002/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/56bc6f22-ef4f-11ed-9378-da7ad0900002/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 161
      },
      {
        "_id": "11540419ac61bdbed6aea0076d08f927",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/56bc6f22-ef4f-11ed-9378-da7ad0900002/links"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 12,
            "text": "{\"data\":[]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 173
      },
      {
        "_id": "2f0dbe0ce72465d9bd29712f15e5cb54",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/56bc6f22-ef4f-11ed-9378-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 216
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
