{
  "log": {
    "_recordingName": "Teams/Get links for a team returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "b9be0f750b9f59798035d87aef234f41",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"1679941989\",\"name\":\"1679941989\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 526,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"d3141588-cccd-11ed-93f1-da7ad0900002\",\"attributes\":{\"name\":\"1679941989\",\"handle\":\"1679941989\",\"summary\":null,\"description\":null,\"color\":6,\"created_at\":\"2023-03-27T18:33:10.001530+00:00\",\"modified_at\":\"2023-03-27T18:33:10.001534+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/d3141588-cccd-11ed-93f1-da7ad0900002/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/d3141588-cccd-11ed-93f1-da7ad0900002/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 375
      },
      {
        "_id": "20dff176b5369e4bc43727235477a80a",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/d3141588-cccd-11ed-93f1-da7ad0900002/links"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 12,
            "text": "{\"data\":[]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 322
      },
      {
        "_id": "735b28417a55b8aa8dbb97e09106c3d3",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/d3141588-cccd-11ed-93f1-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 319
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
