{
  "log": {
    "_recordingName": "Teams/Get links for a team returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "a908711fa447b3d3cb265cd0d0a5d423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"handle-ac2d4065bfac0747\",\"name\":\"name-ac2d4065bfac0747\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 540,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"a9e1a1ca-20d9-11ee-a446-da7ad0900002\",\"attributes\":{\"name\":\"name-ac2d4065bfac0747\",\"handle\":\"handle-ac2d4065bfac0747\",\"summary\":null,\"description\":null,\"created_at\":\"2023-07-12T17:29:32.517618+00:00\",\"modified_at\":\"2023-07-12T17:29:32.517624+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/a9e1a1ca-20d9-11ee-a446-da7ad0900002/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/a9e1a1ca-20d9-11ee-a446-da7ad0900002/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 154
      },
      {
        "_id": "e21d4acae955aa403113831ec6fcc274",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/a9e1a1ca-20d9-11ee-a446-da7ad0900002/links"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 12,
            "text": "{\"data\":[]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 109
      },
      {
        "_id": "5dfaa09a15591c6a963071c67b9dbb19",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/a9e1a1ca-20d9-11ee-a446-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 140
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
