{
  "log": {
    "_recordingName": "Teams/Get links for a team returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "7747fb4ae5e15b83b5c3d707500e4a98",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"test-handle-2047a02ca89d196f\",\"name\":\"test-name-2047a02ca89d196f\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 619,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"2fcd65d0-405b-11ee-817e-da7ad0900002\",\"attributes\":{\"name\":\"test-name-2047a02ca89d196f\",\"handle\":\"test-handle-2047a02ca89d196f\",\"summary\":null,\"description\":null,\"avatar\":null,\"banner\":null,\"visible_modules\":[],\"hidden_modules\":[],\"created_at\":\"2023-08-21T19:44:48.324737+00:00\",\"modified_at\":\"2023-08-21T19:44:48.324744+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/2fcd65d0-405b-11ee-817e-da7ad0900002/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/2fcd65d0-405b-11ee-817e-da7ad0900002/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 176
      },
      {
        "_id": "2ec32951821caa0acee23883e62a8738",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/2fcd65d0-405b-11ee-817e-da7ad0900002/links"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 12,
            "text": "{\"data\":[]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 134
      },
      {
        "_id": "3275771879d76ceb33f9da5addc23038",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/2fcd65d0-405b-11ee-817e-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 172
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
