{
  "log": {
    "_recordingName": "Security Monitoring/Convert security monitoring resource to Terraform returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "1da6a19e5e5846c3b012a46c18a26ff5",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"resource_json\":{\"enabled\":true,\"name\":\"Example-Security-Monitoring\",\"rule_query\":\"source:cloudtrail\",\"suppression_query\":\"env:test\"}},\"id\":\"abc-123\",\"type\":\"convert_resource\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/security_monitoring/terraform/suppressions/convert"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 430,
            "text": "{\"data\":{\"id\":\"datadog_security_monitoring_suppression|abc-123\",\"type\":\"format_resource\",\"attributes\":{\"output\":\"resource \\\"datadog_security_monitoring_suppression\\\" \\\"abc-123\\\" {\\n  enabled           = true\\n  name              = \\\"Example-Security-Monitoring\\\"\\n  rule_query        = \\\"source:cloudtrail\\\"\\n  suppression_query = \\\"env:test\\\"\\n}\\n\",\"resource_id\":\"abc-123\",\"type_name\":\"datadog_security_monitoring_suppression\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 376
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
