{
  "log": {
    "_recordingName": "Teams/Get permission settings for a team returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "495f5c586ca46ca65e7a77f0493cd611",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"test-handle-c87e4cf0f4edb309\",\"name\":\"test-name-c87e4cf0f4edb309\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 619,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"302a1e60-405b-11ee-aa12-da7ad0900002\",\"attributes\":{\"name\":\"test-name-c87e4cf0f4edb309\",\"handle\":\"test-handle-c87e4cf0f4edb309\",\"summary\":null,\"description\":null,\"avatar\":null,\"banner\":null,\"visible_modules\":[],\"hidden_modules\":[],\"created_at\":\"2023-08-21T19:44:48.932658+00:00\",\"modified_at\":\"2023-08-21T19:44:48.932663+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/302a1e60-405b-11ee-aa12-da7ad0900002/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/302a1e60-405b-11ee-aa12-da7ad0900002/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 170
      },
      {
        "_id": "79c9a0a9a8291204f565a262759649f6",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/302a1e60-405b-11ee-aa12-da7ad0900002/permission-settings"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 546,
            "text": "{\"data\":[{\"type\":\"team_permission_settings\",\"attributes\":{\"action\":\"manage_membership\",\"value\":\"organization\",\"title\":\"Add and Remove Members\",\"editable\":true,\"options\":[\"user_access_manage\",\"admins\",\"members\",\"organization\"]},\"id\":\"TeamPermission-302a1e60-405b-11ee-aa12-da7ad0900002-manage_membership\"},{\"type\":\"team_permission_settings\",\"attributes\":{\"action\":\"edit\",\"value\":\"members\",\"title\":\"Edit Team Details\",\"editable\":true,\"options\":[\"teams_manage\",\"admins\",\"members\"]},\"id\":\"TeamPermission-302a1e60-405b-11ee-aa12-da7ad0900002-edit\"}]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 125
      },
      {
        "_id": "cf67f693e6d68ed45f6612956c8b97db",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/302a1e60-405b-11ee-aa12-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 161
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
