{
  "log": {
    "_recordingName": "Teams/Get permission settings for a team returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "75e472923f8ae7810ad01e8eb8164c8d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"handle-a299aa22fee98364\",\"name\":\"name-a299aa22fee98364\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 550,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"57177c28-ef4f-11ed-9f99-da7ad0900002\",\"attributes\":{\"name\":\"name-a299aa22fee98364\",\"handle\":\"handle-a299aa22fee98364\",\"summary\":null,\"description\":null,\"color\":2,\"created_at\":\"2023-05-10T16:25:56.096575+00:00\",\"modified_at\":\"2023-05-10T16:25:56.096579+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/57177c28-ef4f-11ed-9f99-da7ad0900002/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/57177c28-ef4f-11ed-9f99-da7ad0900002/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 180
      },
      {
        "_id": "46cb991d06a0d93ef2d74c9df9ee3ef1",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/57177c28-ef4f-11ed-9f99-da7ad0900002/permission-settings"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 546,
            "text": "{\"data\":[{\"type\":\"team_permission_settings\",\"attributes\":{\"action\":\"manage_membership\",\"options\":[\"user_access_manage\",\"admins\",\"members\",\"organization\"],\"value\":\"organization\",\"editable\":true,\"title\":\"Add and Remove Members\"},\"id\":\"TeamPermission-57177c28-ef4f-11ed-9f99-da7ad0900002-manage_membership\"},{\"type\":\"team_permission_settings\",\"attributes\":{\"action\":\"edit\",\"options\":[\"teams_manage\",\"admins\",\"members\"],\"value\":\"members\",\"editable\":true,\"title\":\"Edit Team Details\"},\"id\":\"TeamPermission-57177c28-ef4f-11ed-9f99-da7ad0900002-edit\"}]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 196
      },
      {
        "_id": "9c635f471c5e1505ec7c7269d7362574",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/57177c28-ef4f-11ed-9f99-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 152
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
