{
  "log": {
    "_recordingName": "Teams/Get permission settings for a team returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "100e024d5fddbb5310946274332bbdab",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"1679941991\",\"name\":\"1679941991\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 527,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"d3fcfa50-cccd-11ed-ba3b-da7ad0900002\",\"attributes\":{\"name\":\"1679941991\",\"handle\":\"1679941991\",\"summary\":null,\"description\":null,\"color\":11,\"created_at\":\"2023-03-27T18:33:11.528141+00:00\",\"modified_at\":\"2023-03-27T18:33:11.528147+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/d3fcfa50-cccd-11ed-ba3b-da7ad0900002/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/d3fcfa50-cccd-11ed-ba3b-da7ad0900002/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 547
      },
      {
        "_id": "81f39bebbfbc34649236e20bcb956759",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/d3fcfa50-cccd-11ed-ba3b-da7ad0900002/permission-settings"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 546,
            "text": "{\"data\":[{\"type\":\"team_permission_settings\",\"attributes\":{\"title\":\"Add and Remove Members\",\"editable\":true,\"value\":\"organization\",\"options\":[\"user_access_manage\",\"admins\",\"members\",\"organization\"],\"action\":\"manage_membership\"},\"id\":\"TeamPermission-d3fcfa50-cccd-11ed-ba3b-da7ad0900002-manage_membership\"},{\"type\":\"team_permission_settings\",\"attributes\":{\"title\":\"Edit Team Details\",\"editable\":true,\"value\":\"members\",\"options\":[\"teams_manage\",\"admins\",\"members\"],\"action\":\"edit\"},\"id\":\"TeamPermission-d3fcfa50-cccd-11ed-ba3b-da7ad0900002-edit\"}]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 762
      },
      {
        "_id": "6539a86168c017263fb95995beadc888",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/d3fcfa50-cccd-11ed-ba3b-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 341
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
