{
  "log": {
    "_recordingName": "Teams/Get permission settings for a team returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "c4c1756760d4e5a4719eceb633f2f83e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"handle-f6ff0ce4aae89a95\",\"name\":\"name-f6ff0ce4aae89a95\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 540,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"aa36b08e-20d9-11ee-8b14-da7ad0900002\",\"attributes\":{\"name\":\"name-f6ff0ce4aae89a95\",\"handle\":\"handle-f6ff0ce4aae89a95\",\"summary\":null,\"description\":null,\"created_at\":\"2023-07-12T17:29:33.075104+00:00\",\"modified_at\":\"2023-07-12T17:29:33.075110+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/aa36b08e-20d9-11ee-8b14-da7ad0900002/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/aa36b08e-20d9-11ee-8b14-da7ad0900002/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 183
      },
      {
        "_id": "1c9b08169d22e67989182404682a1d78",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/aa36b08e-20d9-11ee-8b14-da7ad0900002/permission-settings"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 546,
            "text": "{\"data\":[{\"type\":\"team_permission_settings\",\"id\":\"TeamPermission-aa36b08e-20d9-11ee-8b14-da7ad0900002-manage_membership\",\"attributes\":{\"action\":\"manage_membership\",\"options\":[\"user_access_manage\",\"admins\",\"members\",\"organization\"],\"value\":\"organization\",\"editable\":true,\"title\":\"Add and Remove Members\"}},{\"type\":\"team_permission_settings\",\"id\":\"TeamPermission-aa36b08e-20d9-11ee-8b14-da7ad0900002-edit\",\"attributes\":{\"action\":\"edit\",\"options\":[\"teams_manage\",\"admins\",\"members\"],\"value\":\"members\",\"editable\":true,\"title\":\"Edit Team Details\"}}]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 111
      },
      {
        "_id": "b5b6d0061681ede5d8bf9746dcfbb142",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/aa36b08e-20d9-11ee-8b14-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 157
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
