{
  "log": {
    "_recordingName": "Logs Pipelines/Create a pipeline with Array Map Processor with targetElem used as source returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "8e2ba586d5dbf3370e6fa32c4f229e5f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"filter\":{\"query\":\"source:python\"},\"name\":\"testPipelineArrayMapTargetElemSource\",\"processors\":[{\"is_enabled\":true,\"name\":\"invalid targetElem source\",\"processors\":[{\"sources\":[\"$targetElem.uid\"],\"target\":\"$targetElem.label\",\"type\":\"attribute-remapper\"}],\"source\":\"items\",\"target\":\"out\",\"type\":\"array-map-processor\"}],\"tags\":[]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/logs/config/pipelines"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 178,
            "text": "{\"error\":{\"code\":\"InvalidArgument\",\"message\":\"Invalid Pipeline\",\"details\":[{\"code\":\"InvalidArgument\",\"message\":\"$targetElem cannot be used as a source, got: $targetElem.uid\"}]}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 461
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
