{
  "log": {
    "_recordingName": "Data Deletion/Cancels a data deletion request returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "10d633bf7814b9344851d1d4429dfbe7",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"displayed_total\":100,\"from\":1672527600000,\"indexes\":[\"test-index\",\"test-index-2\"],\"query\":{\"host\":\"abc\",\"service\":\"xyz\"},\"to\":1704063600000},\"type\":\"create_deletion_req\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/deletion/data/logs"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 498,
            "text": "{\"data\":{\"id\":\"13032\",\"type\":\"deletion_request\",\"attributes\":{\"created_at\":\"2026-08-21T11:46:24.528038529Z\",\"created_by\":\"luis.navarro@datadoghq.com\",\"displayed_total\":100,\"from_time\":1672527600000,\"indexes\":[\"test-index\",\"test-index-2\"],\"is_created\":false,\"org_id\":321813,\"product\":\"logs\",\"query\":\"host:abc service:xyz\",\"starting_at\":\"0001-01-01T00:00:00Z\",\"status\":\"pending\",\"to_time\":1704063600000,\"total_unrestricted\":0,\"updated_at\":\"2026-08-21T11:46:24.528038529Z\"}},\"meta\":{\"product\":\"logs\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 507
      },
      {
        "_id": "b4523d300197d28c0505118aff3619a9",
        "request": {
          "headers": [
          ],
          "method": "PUT",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/deletion/requests/13032/cancel"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 521,
            "text": "{\"data\":{\"id\":\"13032\",\"type\":\"deletion_request\",\"attributes\":{\"created_at\":\"2026-08-21T11:46:24.528038Z\",\"created_by\":\"luis.navarro@datadoghq.com\",\"displayed_total\":100,\"from_time\":1672527600000,\"indexes\":[\"test-index\",\"test-index-2\"],\"is_created\":false,\"org_id\":321813,\"product\":\"logs\",\"query\":\"host:abc service:xyz\",\"starting_at\":\"0001-01-01T00:00:00Z\",\"status\":\"canceled\",\"to_time\":1704063600000,\"total_unrestricted\":0,\"updated_at\":\"2026-08-21T11:46:25.053351Z\"}},\"meta\":{\"product\":\"logs\",\"request_status\":\"canceled\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 374
      },
      {
        "_id": "b4523d300197d28c0505118aff3619a9",
        "request": {
          "headers": [
          ],
          "method": "PUT",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/de[...]
