{
  "log": {
    "_recordingName": "Feature Flags/Create an environment returns \"Created\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "45b983d4f1ff03d37b141a225dc7a042",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test Environment Test-Create_an_environment_returns_Created_response-1776888955\",\"queries\":[\"test-Test-Create_an_environment_returns_Created_response-1776888955\",\"env-Test-Create_an_environment_returns_Created_response-1776888955\"]},\"type\":\"environments\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/feature-flags/environments"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 391,
            "text": "{\"data\":{\"id\":\"e8d345e2-dca2-4270-912f-1189174ee338\",\"type\":\"environments\",\"attributes\":{\"is_production\":false,\"name\":\"Test Environment Test-Create_an_environment_returns_Created_response-1776888955\",\"queries\":[\"test-Test-Create_an_environment_returns_Created_response-1776888955\",\"env-Test-Create_an_environment_returns_Created_response-1776888955\"],\"require_feature_flag_approval\":false}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 1014
      },
      {
        "_id": "7fe3c723eed1c96a5589d491b9fb46f3",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/feature-flags/environments/e8d345e2-dca2-4270-912f-1189174ee338"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 323
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
