{
  "log": {
    "_recordingName": "Feature Flags/Create an environment returns \"Created\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ab87ebd6cb38c6e2cde271eeb436dc8d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test Environment Test-Create_an_environment_returns_Created_response-1773768383\",\"queries\":[\"test-Test-Create_an_environment_returns_Created_response-1773768383\",\"env-Test-Create_an_environment_returns_Created_response-1773768383\"]},\"type\":\"environments\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/feature-flags/environments"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 391,
            "text": "{\"data\":{\"id\":\"b7fd5cfe-3350-4db5-9731-1702b2fc9ab7\",\"type\":\"environments\",\"attributes\":{\"is_production\":false,\"name\":\"Test Environment Test-Create_an_environment_returns_Created_response-1773768383\",\"queries\":[\"test-Test-Create_an_environment_returns_Created_response-1773768383\",\"env-Test-Create_an_environment_returns_Created_response-1773768383\"],\"require_feature_flag_approval\":false}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 173
      },
      {
        "_id": "70868c2f5d6c8b940250e3f5ccb37ac8",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/feature-flags/environments/b7fd5cfe-3350-4db5-9731-1702b2fc9ab7"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 235
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
