{
  "log": {
    "_recordingName": "Model Lab API/Delete a Model Lab run returns \"Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "09b785109fac079eab6fac93bc7aa212",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/model-lab-api/runs/999999"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 63,
            "text": "{\"errors\":[{\"title\":\"Generic Error\",\"detail\":\"run not found\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 200
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
