{
  "log": {
    "_recordingName": "Security Monitoring/List resource filters returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "08839a3d63fc9127123ffc356c178826",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "account_id",
              "value": "123456789"
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/cloud_security_management/resource_filters?account_id=123456789"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 151,
            "text": "{\"errors\":[{\"status\":\"400\",\"title\":\"Bad Request\",\"detail\":\"Field 'account_id' is invalid: account_id provided without specifying the cloud provider\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 153
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
