{
  "log": {
    "_recordingName": "Execution Policy/Create an execution policy returns \"Created\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "6b5f94b84a340045423260b220a2dfc3",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"action_pattern\":{\"action_fqns\":[\"com.datadoghq.script.*\"],\"integration\":\"INTEGRATION_SCRIPT\"},\"effect\":\"allow\",\"name\":\"Cassette Execution Policy testcreateanexecutionpolicyreturnscreatedresponse1786698818\"},\"type\":\"execution_policy\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/actions/execution-policies"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 503,
            "text": "{\"data\":{\"id\":\"78061915-3922-4868-93c5-12a631d74ed1\",\"type\":\"execution_policy\",\"attributes\":{\"action_pattern\":{\"integration\":\"INTEGRATION_SCRIPT\",\"action_fqns\":[\"com.datadoghq.script.*\"]},\"created_at\":\"2026-08-14T09:13:39Z\",\"created_by\":\"262c2ca8-d93e-45bc-8d47-5c9ab7af8e6b\",\"effect\":\"allow\",\"name\":\"Cassette Execution Policy testcreateanexecutionpolicyreturnscreatedresponse1786698818\",\"targets\":[],\"updated_at\":\"2026-08-14T09:13:39Z\",\"updated_by\":\"262c2ca8-d93e-45bc-8d47-5c9ab7af8e6b\",\"version\":1}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 435
      },
      {
        "_id": "5541efd61efa002eaec9e01469a1f000",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/actions/execution-policies/78061915-3922-4868-93c5-12a631d74ed1"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 150
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
