{
  "log": {
    "_recordingName": "On-Call/Update on-call escalation policy returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "154406e56592862181743db9ccff3de4",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Update_on_call_escalation_policy_returns_OK_response-1744876153@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 709,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"74d75ad9-1b60-11f0-9652-d6bc07db26a7\",\"attributes\":{\"name\":null,\"handle\":\"test-update_on_call_escalation_policy_returns_ok_response-1744876153@datadoghq.com\",\"created_at\":\"2025-04-17T07:49:13.956662+00:00\",\"modified_at\":\"2025-04-17T07:49:13.956662+00:00\",\"email\":\"test-update_on_call_escalation_policy_returns_ok_response-1744876153@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/2897c9399524b92d5620d68556f39fc7?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 396
      },
      {
        "_id": "74cc3cb1278317b867bdbe65174fd6ee",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"test-handle-6d9d526a0e1722f2\",\"name\":\"test-name-6d9d526a0e1722f2\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 635,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"e54a352d-77b3-4e0d-a5b6-5e04014fa4b1\",\"attributes\":{\"name\":\"test-name-6d9d526a0e1722f2\",\"handle\":\"test-handle-6d9d526a0e1722f2\",\"summary\":null,\"description\":null,\"avatar\":null,\"banner\":6,\"visible_modules\":[],\"hidden_modules\":[],\"created_at\":\"2025-04-17T07:49:14.317551+00:00\",\"modified_at\":\"2025-04-17T07:49:14.317556+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/e54a352d-77b3-4e0d-a5b6-5e04014fa4b1/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/e54a352d-77b3-4e0d-a5b6-5e04014fa4b1/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 444
      },
      {
        "_id": "2ac3b4371fcd829629f24522c59db5f6",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"layers\":[{\"effective_date\":\"2025-04-07T07:49:13.632Z\",\"end_date\":\"2025-04-27T07:49:13.632Z\",\"interval\":{\"days\":1},\"members\":[{\"user\":{\"id\":\"890f29d4-0b7a-11f0-aeb2-760fcae4f596\"}}],\"name\":\"Layer 1\",\"restrictions\":[{\"end_day\":\"friday\",\"end_time\":\"17:00:00\",\"start_day\":\"monday\",\"start_time\":\"09:00:00\"}],\"rotation_start\":\"2025-04-12T07:49:13.632Z\"}],\"name\":\"Test-Update_on_call_escalation_policy_returns_OK_response-1744876153\",\"tags\":[\"tag1\",\"tag2\"],\"time_zone\":\"America/New_York\"},\"relationships\":{\"teams\":{\"data\":[{\"id\":\"65aea9d0-941c-4607-bf8a-14fc0dac2820\",\"type\":\"teams\"}]}},\"type\":\"schedules\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/on-call/schedules"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 400,
            "text": "{\"data\":{\"id\":\"a79b26ec-aa92-479b-9326-55f69346a49d\",\"type\":\"schedules\",\"attributes\":{\"name\":\"Test-Update_on_c[...]
