{
  "log": {
    "_recordingName": "Metrics/Submit metrics returns \"Payload accepted\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "699df575ea6ea3cedcad7f8c082d9604",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "text/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "text/json",
            "params": [],
            "text": "{\"series\":[{\"metric\":\"system.load.1\",\"points\":[[1632824739,1.1]],\"tags\":[\"test:TestSubmitmetricsreturnsPayloadacceptedresponse1632824739\"],\"type\":\"gauge\"}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/series"
        },
        "response": {
          "content": {
            "mimeType": "text/json",
            "size": 16,
            "text": "{\"status\": \"ok\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/json"
            }
          ],
          "status": 202,
          "statusText": "Accepted"
        },
        "time": 223,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
