{
  "log": {
    "_recordingName": "Metrics/Submit metrics returns \"Payload accepted\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "6fc09ac7e4bd8eba38a0a6f74b022c0d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "text/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "text/json",
            "params": [],
            "text": "{\"series\":[{\"metric\":\"system.load.1\",\"points\":[[1641430252,1.1]],\"tags\":[\"test:TestSubmitmetricsreturnsPayloadacceptedresponse1641430252\"],\"type\":\"gauge\"}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/series"
        },
        "response": {
          "content": {
            "mimeType": "text/json",
            "size": 16,
            "text": "{\"status\":\"ok\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/json"
            }
          ],
          "status": 202,
          "statusText": "Accepted"
        },
        "time": 109
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
