{
  "log": {
    "_recordingName": "Dashboards/Create a new dashboard with image widget",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "5eb5815a752735820abdbc8086327e4a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"description\":\"\",\"is_read_only\":false,\"layout_type\":\"free\",\"notify_list\":[],\"template_variables\":[],\"title\":\"Test-Create_a_new_dashboard_with_image_widget-1641430235\",\"widgets\":[{\"definition\":{\"sizing\":\"cover\",\"type\":\"image\",\"url\":\"https://example.com/image.png\"},\"layout\":{\"height\":12,\"width\":12,\"x\":0,\"y\":0}}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 611,
            "text": "{\"notify_list\":[],\"description\":\"\",\"restricted_roles\":[],\"author_name\":null,\"template_variables\":[],\"is_read_only\":false,\"id\":\"6qb-v3p-rrv\",\"title\":\"Test-Create_a_new_dashboard_with_image_widget-1641430235\",\"url\":\"/dashboard/6qb-v3p-rrv/test-createanewdashboardwithimagewidget-1641430235\",\"created_at\":\"2022-01-06T00:50:36.031687+00:00\",\"modified_at\":\"2022-01-06T00:50:36.031687+00:00\",\"author_handle\":\"frog@datadoghq.com\",\"widgets\":[{\"definition\":{\"sizing\":\"cover\",\"url\":\"https://example.com/image.png\",\"type\":\"image\"},\"layout\":{\"y\":0,\"width\":12,\"x\":0,\"height\":12},\"id\":4480145637940282}],\"layout_type\":\"free\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 196
      },
      {
        "_id": "a1b899af066fd1d336556b8c3dd9fc05",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/6qb-v3p-rrv"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 38,
            "text": "{\"deleted_dashboard_id\":\"6qb-v3p-rrv\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 271
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
