{
  "log": {
    "_recordingName": "Dashboards/Create a new dashboard with image widget",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "a33ed0d9b9251068625f4e99260eb85c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"description\":\"\",\"is_read_only\":false,\"layout_type\":\"free\",\"notify_list\":[],\"template_variables\":[],\"title\":\"Test-Create_a_new_dashboard_with_image_widget-1640210586\",\"widgets\":[{\"definition\":{\"sizing\":\"cover\",\"type\":\"image\",\"url\":\"https://example.com/image.png\"},\"layout\":{\"height\":12,\"width\":12,\"x\":0,\"y\":0}}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 611,
            "text": "{\"notify_list\":[],\"description\":\"\",\"restricted_roles\":[],\"author_name\":null,\"template_variables\":[],\"is_read_only\":false,\"id\":\"q5q-d8i-w29\",\"title\":\"Test-Create_a_new_dashboard_with_image_widget-1640210586\",\"url\":\"/dashboard/q5q-d8i-w29/test-createanewdashboardwithimagewidget-1640210586\",\"created_at\":\"2021-12-22T22:03:06.569103+00:00\",\"modified_at\":\"2021-12-22T22:03:06.569103+00:00\",\"author_handle\":\"frog@datadoghq.com\",\"widgets\":[{\"definition\":{\"sizing\":\"cover\",\"url\":\"https://example.com/image.png\",\"type\":\"image\"},\"layout\":{\"y\":0,\"width\":12,\"x\":0,\"height\":12},\"id\":3686752555034643}],\"layout_type\":\"free\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 242
      },
      {
        "_id": "73336d89a805670cccab76c701532dfa",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/q5q-d8i-w29"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 38,
            "text": "{\"deleted_dashboard_id\":\"q5q-d8i-w29\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 274
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
