{
  "log": {
    "_recordingName": "Roles/List roles returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "a784d054cbd3ff618336f2d4139b9f2f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-List_roles_returns_OK_response-1641829874\"},\"type\":\"roles\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/roles"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 682,
            "text": "{\"data\":{\"type\":\"roles\",\"id\":\"246547ba-722d-11ec-b5d7-da7ad0900002\",\"attributes\":{\"name\":\"Test-List_roles_returns_OK_response-1641829874\",\"created_at\":\"2022-01-10T15:51:15.134612+00:00\",\"modified_at\":\"2022-01-10T15:51:15.175212+00:00\"},\"relationships\":{\"permissions\":{\"data\":[{\"type\":\"permissions\",\"id\":\"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2\"},{\"type\":\"permissions\",\"id\":\"4441648c-d8b1-11e9-a77a-1b899a04b304\"},{\"type\":\"permissions\",\"id\":\"417ba636-2dce-11eb-84c0-6bce5b0d9de0\"},{\"type\":\"permissions\",\"id\":\"12efc20e-d36c-11eb-a9b8-da7ad0900002\"},{\"type\":\"permissions\",\"id\":\"97971c1c-e895-11eb-b13c-da7ad0900002\"},{\"type\":\"permissions\",\"id\":\"7605ef24-f376-11eb-b90b-da7ad0900002\"}]}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 397
      },
      {
        "_id": "c320eb780ee9795ec115b6599e80b982",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "filter",
              "value": "Test-List_roles_returns_OK_response-1641829874"
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/roles?filter=Test-List_roles_returns_OK_response-1641829874"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 761,
            "text": "{\"meta\":{\"page\":{\"total_filtered_count\":1,\"total_count\":4329}},\"data\":[{\"type\":\"roles\",\"id\":\"246547ba-722d-11ec-b5d7-da7ad0900002\",\"attributes\":{\"name\":\"Test-List_roles_returns_OK_response-1641829874\",\"created_at\":\"2022-01-10T15:51:15.134612+00:00\",\"modified_at\":\"2022-01-10T15:51:15.175212+00:00\",\"user_count\":0},\"relationships\":{\"permissions\":{\"data\":[{\"type\":\"permissions\",\"id\":\"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2\"},{\"type\":\"permissions\",\"id\":\"4441648c-d8b1-11e9-a77a-1b899a04b304\"},{\"type\":\"permissions\",\"id\":\"417ba636-2dce-11eb-84c0-6bce5b0d9de0\"},{\"type\":\"permissions\",\"id\":\"12efc20e-d36c-11eb-a9b8-da7ad0900002\"},{\"type\":\"permissions\",\"id\":\"97971c1c-e895-11eb-b13c-da7ad0900002\"},{\"type\":\"permissions\",\"id\":\"7605ef24-f376-11eb-b90b-da7ad0900002\"}]}}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 396
      },
      {
        "_id": "0347d0b76f5c039f377dd8855bdede19",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/roles/246547ba-722d-11ec-b5d7-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 402
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
