{
  "log": {
    "_recordingName": "Roles/List roles returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "c80419dec19b1ee410119957f49b62eb",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-List_roles_returns_OK_response-1618491761\"},\"type\":\"roles\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/roles"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 481,
            "text": "{\"data\":{\"type\":\"roles\",\"id\":\"dcba59a8-9dea-11eb-9df5-da7ad0900002\",\"attributes\":{\"name\":\"Test-List_roles_returns_OK_response-1618491761\",\"created_at\":\"2021-04-15T13:02:41.602514+00:00\",\"modified_at\":\"2021-04-15T13:02:41.602514+00:00\"},\"relationships\":{\"permissions\":{\"data\":[{\"type\":\"permissions\",\"id\":\"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2\"},{\"type\":\"permissions\",\"id\":\"4441648c-d8b1-11e9-a77a-1b899a04b304\"},{\"type\":\"permissions\",\"id\":\"417ba636-2dce-11eb-84c0-6bce5b0d9de0\"}]}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 421
      },
      {
        "_id": "6d7c8e869fe0b539f8feff60ef494d96",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "filter",
              "value": "Test-List_roles_returns_OK_response-1618491761"
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/roles?filter=Test-List_roles_returns_OK_response-1618491761"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 560,
            "text": "{\"meta\":{\"page\":{\"total_filtered_count\":1,\"total_count\":3482}},\"data\":[{\"type\":\"roles\",\"id\":\"dcba59a8-9dea-11eb-9df5-da7ad0900002\",\"attributes\":{\"name\":\"Test-List_roles_returns_OK_response-1618491761\",\"created_at\":\"2021-04-15T13:02:41.602514+00:00\",\"modified_at\":\"2021-04-15T13:02:41.602514+00:00\",\"user_count\":0},\"relationships\":{\"permissions\":{\"data\":[{\"type\":\"permissions\",\"id\":\"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2\"},{\"type\":\"permissions\",\"id\":\"4441648c-d8b1-11e9-a77a-1b899a04b304\"},{\"type\":\"permissions\",\"id\":\"417ba636-2dce-11eb-84c0-6bce5b0d9de0\"}]}}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 422
      },
      {
        "_id": "59eef9a88e42a7809c0a37aa8ff68c10",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/roles/dcba59a8-9dea-11eb-9df5-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 0
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 365
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
