{
  "log": {
    "_recordingName": "Roles/List roles returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "e7fbefd88e005edb7e2a6d69773e24dc",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-List_roles_returns_OK_response-1652349174\"},\"type\":\"roles\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/roles"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 749,
            "text": "{\"data\":{\"type\":\"roles\",\"id\":\"4bed0a96-d1d9-11ec-ad3d-da7ad0900002\",\"attributes\":{\"name\":\"Test-List_roles_returns_OK_response-1652349174\",\"created_at\":\"2022-05-12T09:52:55.356883+00:00\",\"modified_at\":\"2022-05-12T09:52:55.420991+00:00\"},\"relationships\":{\"permissions\":{\"data\":[{\"type\":\"permissions\",\"id\":\"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2\"},{\"type\":\"permissions\",\"id\":\"4441648c-d8b1-11e9-a77a-1b899a04b304\"},{\"type\":\"permissions\",\"id\":\"417ba636-2dce-11eb-84c0-6bce5b0d9de0\"},{\"type\":\"permissions\",\"id\":\"12efc20e-d36c-11eb-a9b8-da7ad0900002\"},{\"type\":\"permissions\",\"id\":\"97971c1c-e895-11eb-b13c-da7ad0900002\"},{\"type\":\"permissions\",\"id\":\"7605ef24-f376-11eb-b90b-da7ad0900002\"},{\"type\":\"permissions\",\"id\":\"b6bf9ac6-9a59-11ec-8480-da7ad0900002\"}]}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 519
      },
      {
        "_id": "d0f2f4e12457086375cfe32e9d8dc0de",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "filter",
              "value": "Test-List_roles_returns_OK_response-1652349174"
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/roles?filter=Test-List_roles_returns_OK_response-1652349174"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 828,
            "text": "{\"meta\":{\"page\":{\"total_filtered_count\":1,\"total_count\":4376}},\"data\":[{\"type\":\"roles\",\"id\":\"4bed0a96-d1d9-11ec-ad3d-da7ad0900002\",\"attributes\":{\"name\":\"Test-List_roles_returns_OK_response-1652349174\",\"created_at\":\"2022-05-12T09:52:55.356883+00:00\",\"modified_at\":\"2022-05-12T09:52:55.420991+00:00\",\"user_count\":0},\"relationships\":{\"permissions\":{\"data\":[{\"type\":\"permissions\",\"id\":\"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2\"},{\"type\":\"permissions\",\"id\":\"4441648c-d8b1-11e9-a77a-1b899a04b304\"},{\"type\":\"permissions\",\"id\":\"417ba636-2dce-11eb-84c0-6bce5b0d9de0\"},{\"type\":\"permissions\",\"id\":\"12efc20e-d36c-11eb-a9b8-da7ad0900002\"},{\"type\":\"permissions\",\"id\":\"97971c1c-e895-11eb-b13c-da7ad0900002\"},{\"type\":\"permissions\",\"id\":\"7605ef24-f376-11eb-b90b-da7ad0900002\"},{\"type\":\"permissions\",\"id\":\"b6bf9ac6-9a59-11ec-8480-da7ad0900002\"}]}}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 470
      },
      {
        "_id": "7a3d0f2d5ffea9bbda84f0facdd07164",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/roles/4bed0a96-d1d9-11ec-ad3d-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 462
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
