{
  "log": {
    "_recordingName": "DORA Metrics/Patch a deployment event returns \"Accepted\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ab2b6d634b5fc8fa9d1219d327af5c00",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"finished_at\":1769678752000000000,\"git\":{\"commit_sha\":\"66adc9350f2cc9b250b69abddab733dd55e1a588\",\"repository_url\":\"https://github.com/organization/example-repository\"},\"id\":\"08a3dbc57bb781a5\",\"service\":\"shopist\",\"started_at\":1769675152000000000,\"version\":\"v1.12.07\"}}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/dora/deployment"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 59,
            "text": "{\"data\":{\"id\":\"08a3dbc57bb781a5\",\"type\":\"dora_deployment\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 160
      },
      {
        "_id": "388ea513764c311dac4d56a4278c2593",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"change_failure\":true,\"remediation\":{\"id\":\"eG42zNIkVjM\",\"type\":\"rollback\"}},\"id\":\"08a3dbc57bb781a5\",\"type\":\"dora_deployment_patch_request\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/dora/deployments/08a3dbc57bb781a5"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 13,
            "text": "{\"data\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 202,
          "statusText": "Accepted"
        },
        "time": 118
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
