{
  "log": {
    "_recordingName": "Teams/Delete team connections returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "edab17aded935f0fe864ba1a6b99d3fe",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "DELETE",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":[{\"id\":\"\",\"type\":\"team_connection\"}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/connections"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 127,
            "text": "{\"errors\":[{\"status\":\"400\",\"title\":\"Bad Request\",\"detail\":\"attribute \\\"id\\\" one or more team connection ids are not present\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 482
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
