{
  "log": {
    "_recordingName": "GCP Integration/Update STS Service Account returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "7085a5dc5671edb0337c9b5ccaacd781",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"client_email\":\"Test-159c92b6b06abd9d@example.com\",\"host_filters\":[]},\"type\":\"gcp_service_account\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integration/gcp/accounts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 338,
            "text": "{\"data\":{\"type\":\"gcp_service_account\",\"attributes\":{\"resource_collection_enabled\":false,\"is_security_command_center_enabled\":false,\"cloud_run_revision_filters\":[],\"is_cspm_enabled\":false,\"client_email\":\"Test-159c92b6b06abd9d@example.com\",\"automute\":false,\"account_tags\":[],\"host_filters\":[]},\"id\":\"acd4d936-fba6-4b2f-8b46-768389ff90b1\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 481
      },
      {
        "_id": "cefbfa3c03b7650ce913d9fae3086a09",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"client_email\":\"Test-159c92b6b06abd9d@example.com\",[...]
