{
  "log": {
    "_recordingName": "GCP Integration/Update STS Service Account returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "0524cf1c7a238a77659044a2c18167f6",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"client_email\":\"89e7e1c05bdec66f@example.com\",\"host_filters\":[]},\"type\":\"gcp_service_account\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integration/gcp/accounts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 204,
            "text": "{\"data\":{\"type\":\"gcp_service_account\",\"attributes\":{\"client_email\":\"89e7e1c05bdec66f@example.com\",\"host_filters\":[],\"automute\":false,\"is_cspm_enabled\":false},\"id\":\"91cde1ef-1da8-4340-9563-5b491f1176a7\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 145
      },
      {
        "_id": "05319ea4ea7b9e9ee309809b75ae98f1",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"client_email\":\"89e7e1c05bdec66f@example.com\",\"hos[...]
