{
  "log": {
    "_recordingName": "GCP Integration/Update STS Service Account returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "edf64f412ed34016f3f16170b07610f5",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"client_email\":\"876f595d133dac09@example.com\",\"host_filters\":[]},\"type\":\"gcp_service_account\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/integration/gcp/accounts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 204,
            "text": "{\"data\":{\"type\":\"gcp_service_account\",\"attributes\":{\"is_cspm_enabled\":false,\"host_filters\":[],\"automute\":false,\"client_email\":\"876f595d133dac09@example.com\"},\"id\":\"fa9bd370-fe91-498b-8d02-a25baecc5a60\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 202
      },
      {
        "_id": "0901d4b581ea817ba05c3c29f6f38677",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"client_email\":\"876f595d133dac09@example.com\",\"hos[...]
