{
  "log": {
    "_recordingName": "Workflow Automation/Get a workflow instance returns \"Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ad75358eb208682ac62d06b4e0e0131c",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/workflows/0233a3b7-b7ba-425e-a8cc-375ca2020b5b/instances/e0c64dc8-f946-4ae8-8d79-54569031ce67"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 73,
            "text": "{\"errors\":[{\"code\":\"WORKFLOW_NOT_FOUND\",\"detail\":\"workflow not found\"}]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 126
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
