{
  "log": {
    "_recordingName": "Key Management/Get API key returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "4c538fa621a721b0773e2c1e5ffa63c0",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Get_API_key_returns_OK_response-1757323482\"},\"type\":\"api_keys\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/api_keys"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 571,
            "text": "{\"data\":{\"type\":\"api_keys\",\"attributes\":{\"created_at\":\"2025-09-08T09:24:42.999350+00:00\",\"key\":\"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\"last4\":\"xxxx\",\"modified_at\":\"2025-09-08T09:24:42.999350+00:00\",\"remote_config_read_enabled\":true,\"category\":\"default\",\"name\":\"Test-Get_API_key_returns_OK_response-1757323482\"},\"relationships\":{\"created_by\":{\"data\":{\"type\":\"users\",\"id\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\"}},\"modified_by\":{\"data\":{\"type\":\"users\",\"id\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\"}},\"leak_information\":{\"data\":null}},\"id\":\"9286a10e-fe08-48ba-9884-8e26e7e67695\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 236
      },
      {
        "_id": "f333d2c9e1ee28495717ac6bc5459b3b",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/api_keys/9286a10e-fe08-48ba-9884-8e26e7e67695"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 770,
            "text": "{\"data\":{\"type\":\"api_keys\",\"attributes\":{\"created_at\":\"2025-09-08T09:24:42.999351+00:00\",\"key\":\"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\"last4\":\"xxxx\",\"modified_at\":\"2025-09-08T09:24:42.999351+00:00\",\"remote_config_read_enabled\":true,\"category\":\"default\",\"name\":\"Test-Get_API_key_returns_OK_response-1757323482\",\"date_last_used\":null,\"used_in_last_24_hours\":false,\"last_used_date\":{\"timestamp\":null,\"description\":\"Timestamp of when this key was last used in the past ninety (90) days, null if no recent usage\"}},\"relationships\":{\"created_by\":{\"data\":{\"type\":\"users\",\"id\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\"}},\"modified_by\":{\"data\":{\"type\":\"users\",\"id\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\"}},\"leak_information\":{\"data\":null}},\"id\":\"9286a10e-fe08-48ba-9884-8e26e7e67695\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 122
      },
      {
        "_id": "a5e173c71186c3f8ffccda73af1e89ad",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/api_keys/9286a10e-fe08-48ba-9884-8e26e7e67695"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=utf-8",
            "size": 0
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=utf-8"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 167
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
