{
  "log": {
    "_recordingName": "On-Call/Get an On-Call email for a user returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "d04e56f7f30710cc68c8a83914c21f7f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Get_an_On_Call_email_for_a_user_returns_OK_response-1762962328@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 730,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"9cd4f6e1-bfde-11f0-a1ee-1630341c9b2e\",\"attributes\":{\"name\":null,\"handle\":\"test-get_an_on_call_email_for_a_user_returns_ok_response-1762962328@datadoghq.com\",\"created_at\":\"2025-11-12T15:45:28.333343+00:00\",\"modified_at\":\"2025-11-12T15:45:28.333343+00:00\",\"email\":\"test-get_an_on_call_email_for_a_user_returns_ok_response-1762962328@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/9b6db90223b9ab60eead905163035fb3?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\",\"last_login_time\":null},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 241
      },
      {
        "_id": "aea272f4c9a36a4ae3d2cbf9aedb2d4e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"active\":true,\"address\":\"test-get_an_on_call_email_for_a_user_returns_ok_response-1762962328@datadoghq.com\",\"alias\":\"\",\"formats\":[\"html\"]},\"type\":\"emails\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/on-call/users/9cd4f6e1-bfde-11f0-a1ee-1630341c9b2e/notification-channels/emails"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 326,
            "text": "{\"data\":{\"id\":\"0b0453b5-2f4c-49c3-94d9-c3db2d5ed69c\",\"type\":\"emails\",\"attributes\":{\"active\":true,\"address\":\"test-get_an_on_call_email_for_a_user_returns_ok_response-1762962328@datadoghq.com\",\"alias\":\"\",\"blocked\":false,\"created_at\":\"2025-11-12T15:45:28.530651Z\",\"formats\":[\"html\"],\"modified_at\":\"2025-11-12T15:45:28.530651Z\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 146
      },
      {
        "_id": "5bdf5288e5bdc2cb7ea46918d810358f",
        "request": {
          "headers": [
     [...]
