{
  "log": {
    "_recordingName": "Monitors/Get a monitor's details returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "9824f9d27532edf52d53f7392ae7e781",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"message\":\"some message Notify: @hipchat-channel\",\"name\":\"Test-Get_a_monitor_s_details_returns_OK_response-1641430257\",\"options\":{\"enable_logs_sample\":true,\"escalation_message\":\"the situation has escalated\",\"evaluation_delay\":700,\"groupby_simple_monitor\":true,\"include_tags\":true,\"locked\":false,\"new_host_delay\":600,\"no_data_timeframe\":null,\"notify_audit\":false,\"notify_no_data\":false,\"renotify_interval\":60,\"require_full_window\":true,\"thresholds\":{\"critical\":2,\"warning\":1},\"timeout_h\":24},\"priority\":3,\"query\":\"logs(\\\"service:foo AND type:error\\\").index(\\\"main\\\").rollup(\\\"count\\\").by(\\\"source\\\").last(\\\"5m\\\") > 2\",\"tags\":[\"test:testgetamonitorsdetailsreturnsokresponse1641430257\",\"env:ci\"],\"type\":\"log alert\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/monitor"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1083,
            "text": "{\"restricted_roles\":null,\"tags\":[\"test:testgetamonitorsdetailsreturnsokresponse1641430257\",\"env:ci\"],\"deleted\":null,\"query\":\"logs(\\\"service:foo AND type:error\\\").index(\\\"main\\\").rollup(\\\"count\\\").by(\\\"source\\\").last(\\\"5m\\\") > 2\",\"message\":\"some message Notify: @hipchat-channel\",\"id\":59800662,\"multi\":true,\"name\":\"Test-Get_a_monitor_s_details_returns_OK_response-1641430257\",\"created\":\"2022-01-06T00:50:58.216052+00:00\",\"created_at\":1641430258000,\"creator\":{\"id\":1445416,\"handle\":\"frog@datadoghq.com\",\"name\":null,\"email\":\"frog@datadoghq.com\"},\"org_id\":321813,\"modified\":\"2022-01-06T00:50:58.216052+00:00\",\"priority\":3,\"overall_state_modified\":null,\"overall_state\":\"No Data\",\"type\":\"log alert\",\"options\":{\"notify_audit\":false,\"locked\":false,\"timeout_h\":24,\"renotify_interval\":60,\"include_tags\":true,\"no_data_timeframe\":null,\"silenced\":{},\"new_host_delay\":600,\"require_full_window\":true,\"notify_no_data\":false,\"enable_logs_sample\":true,\"groupby_simple_monitor\":true,\"escalation_message\":\"the situation has escalated\",\"evaluation_delay\":700,\"thresholds\":{\"critical\":2,\"warning\":1}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 329
      },
      {
        "_id": "ed586f0272de866af7984318ac9ec07b",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/monitor/59800662"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1083,
            "text": "{\"restricted_roles\":null,\"tags\":[\"test:testgetamonitorsdetailsreturnsokresponse1641430257\",\[...]
