{
  "log": {
    "_recordingName": "Agentless Scanning/Update AWS scan options returns \"Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "5b9334b28fb187b54ca91a0b54abb8b2",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"vuln_containers_os\":true,\"vuln_host_os\":true},\"id\":\"000000000005\",\"type\":\"aws_scan_options\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/agentless_scanning/accounts/aws/000000000005"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 91,
            "text": "{\"errors\":[{\"status\":\"404\",\"detail\":\"no aws scan options found for account 000000000005\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 301
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
