{
  "log": {
    "_recordingName": "Rum Metrics/Update a rum-based metric returns \"Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "aaeaea671acba8bb25b94905b192f4b0",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"compute\":{\"aggregation_type\":\"distribution\",\"include_percentiles\":true,\"path\":\"@duration\"},\"event_type\":\"session\",\"filter\":{\"query\":\"source:Test-Update_a_rum_based_metric_returns_Not_Found_response-1729785966\"},\"group_by\":[{\"path\":\"@browser.name\",\"tag\":\"browser_name\"}],\"uniqueness\":{\"when\":\"match\"}},\"id\":\"Test-Update_a_rum_based_metric_returns_Not_Found_response-1729785966\",\"type\":\"rum_metrics\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/rum/config/metrics"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 428,
            "text": "{\"data\":{\"id\":\"Test_Update_a_rum_based_metric_returns_Not_Found_response_1729785966\",\"type\":\"rum_metrics\",\"attributes\":{\"compute\":{\"aggregation_type\":\"distribution\",\"include_percentiles\":true,\"path\":\"@duration\"},\"event_type\":\"session\",\"filter\":{\"query\":\"source:Test-Update_a_rum_based_metric_returns_Not_Found_response-1729785966\"},\"group_by\":[{\"path\":\"@browser.name\",\"tag_name\":\"browser.name\"}],\"uniqueness\":{\"when\":\"MATCH\"}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 507
      },
      {
        "_id": "e116e149c01729bc315e7355e9ff5e09",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"compute\":{\"include_percentiles\":true}},\"id\":\"8fc991bf-967e-4652-8a5b-0711a985abe3\",\"type\":\"rum_metrics\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/rum/config/metrics/8fc991bf-967e-4652-8a5b-0711a985abe3"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 137,
            "text": "{\"errors\":[{\"status\":\"404\",\"title\":\"Not Found\",\"detail\":\"not_found(Metric with name '8fc991bf-967e-4652-8a5b-0711a985abe3' not found)\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 348
      },
      {
        "_id": "01115ce7cf0c47662c8b9ce119a6fe24",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/rum/config/metrics/Test_Update_a_rum_based_metric_returns_Not_Found_response_1729785966"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 349
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
