{
  "log": {
    "_recordingName": "Security Monitoring/Get a suppression rule returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "28945bffc71e12faa466d32c8d968f4f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"description\":\"Test-Get_a_suppression_rule_returns_OK_response-1715358886\",\"enabled\":true,\"name\":\"Test-Get_a_suppression_rule_returns_OK_response-1715358886\",\"rule_query\":\"source:cloudtrail\",\"suppression_query\":\"env:test\"},\"type\":\"suppressions\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 493,
            "text": "{\"data\":{\"id\":\"ol3-0o2-rrp\",\"attributes\":{\"name\":\"Test-Get_a_suppression_rule_returns_OK_response-1715358886\",\"enabled\":true,\"description\":\"Test-Get_a_suppression_rule_returns_OK_response-1715358886\",\"rule_query\":\"source:cloudtrail\",\"suppression_query\":\"env:test\",\"data_exclusion_query\":\"\",\"version\":1,\"creation_date\":1715358886671,\"update_date\":1715358886671,\"creator\":{\"name\":null,\"handle\":\"frog@datadoghq.com\"},\"updater\":{\"name\":null,\"handle\":\"frog@datadoghq.com\"}},\"type\":\"suppressions\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 364
      },
      {
        "_id": "91fa7f69bb6b48bb85f01b00a1303869",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions/ol3-0o2-rrp"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 493,
            "text": "{\"data\":{\"id\":\"ol3-0o2-rrp\",\"attributes\":{\"name\[...]
