{
  "log": {
    "_recordingName": "Dashboards/Create a new dashboard with manage_status widget and show_priority parameter",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ba72895afb3a034de6a6e0f3486a8aa0",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"description\":\"\",\"layout_type\":\"free\",\"notify_list\":[],\"template_variables\":[],\"title\":\"Test-Create_a_new_dashboard_with_manage_status_widget_and_show_priority_parameter-1731611550\",\"widgets\":[{\"definition\":{\"color_preference\":\"text\",\"count\":50,\"display_format\":\"countsAndList\",\"hide_zero_counts\":true,\"query\":\"\",\"show_last_triggered\":false,\"show_priority\":false,\"sort\":\"priority,asc\",\"start\":0,\"summary_type\":\"monitors\",\"type\":\"manage_status\"},\"layout\":{\"height\":25,\"width\":50,\"x\":0,\"y\":0}}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 864,
            "text": "{\"id\":\"gx6-rx5-pm6\",\"title\":\"Test-Create_a_new_dashboard_with_manage_status_widget_and_show_priority_parameter-1731611550\",\"description\":\"\",\"author_handle\":\"anika.maskara@datadoghq.com\",\"author_name\":\"Anika Maskara\",\"layout_type\":\"free\",\"url\":\"/dashboard/gx6-rx5-pm6/test-createanewdashboardwithmanagestatuswidgetandshowpriorityparameter-173161155\",\"is_read_only\":false,\"template_variables\":[],\"widgets\":[{\"definition\":{\"color_preference\":\"text\",\"count\":50,\"display_format\":\"countsAndList\",\"hide_zero_counts\":true,\"query\":\"\",\"show_last_triggered\":false,\"show_priority\":false,\"sort\":\"priority,asc\",\"start\":0,\"summary_type\":\"monitors\",\"type\":\"manage_status\"},\"layout\":{\"height\":25,\"width\":50,\"x\":0,\"y\":0},\"id\":7049477000335202}],\"notify_list\":[],\"created_at\":\"2024-11-14T19:12:31.037894+00:00\",\"modified_at\":\"2024-11-14T19:12:31.037894+00:00\",\"restricted_roles\":[]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 185
      },
      {
        "_id": "2a38b417e2c3d6c41ea9cc8168412d68",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/gx6-rx5-pm6"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 39,
            "text": "{\"deleted_dashboard_id\":\"gx6-rx5-pm6\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 155
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
