{
  "log": {
    "_recordingName": "Dashboards/Create a new dashboard with manage_status widget and show_priority parameter",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "32cea16db7095b8771eab188a84321a2",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"description\":\"\",\"is_read_only\":false,\"layout_type\":\"free\",\"notify_list\":[],\"template_variables\":[],\"title\":\"Test-Create_a_new_dashboard_with_manage_status_widget_and_show_priority_parameter-1660324243\",\"widgets\":[{\"definition\":{\"color_preference\":\"text\",\"count\":50,\"display_format\":\"countsAndList\",\"hide_zero_counts\":true,\"query\":\"\",\"show_last_triggered\":false,\"show_priority\":false,\"sort\":\"priority,asc\",\"start\":0,\"summary_type\":\"monitors\",\"type\":\"manage_status\"},\"layout\":{\"height\":25,\"width\":50,\"x\":0,\"y\":0}}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 843,
            "text": "{\"notify_list\":[],\"description\":\"\",\"restricted_roles\":[],\"author_name\":null,\"template_variables\":[],\"is_read_only\":false,\"id\":\"a28-2ea-xeq\",\"title\":\"Test-Create_a_new_dashboard_with_manage_status_widget_and_show_priority_parameter-1660324243\",\"url\":\"/dashboard/a28-2ea-xeq/test-createanewdashboardwithmanagestatuswidgetandshowpriorityparameter-166032424\",\"created_at\":\"2022-08-12T17:10:43.357911+00:00\",\"modified_at\":\"2022-08-12T17:10:43.357911+00:00\",\"author_handle\":\"frog@datadoghq.com\",\"widgets\":[{\"definition\":{\"count\":50,\"sort\":\"priority,asc\",\"color_preference\":\"text\",\"show_priority\":false,\"hide_zero_counts\":true,\"start\":0,\"summary_type\":\"monitors\",\"show_last_triggered\":false,\"query\":\"\",\"display_format\":\"countsAndList\",\"type\":\"manage_status\"},\"layout\":{\"y\":0,\"width\":50,\"x\":0,\"height\":25},\"id\":559045226435119}],\"layout_type\":\"free\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 204
      },
      {
        "_id": "ce0851bfd32a5148784c46a65cb4de01",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/a28-2ea-xeq"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 39,
            "text": "{\"deleted_dashboard_id\":\"a28-2ea-xeq\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 171
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
