{
  "log": {
    "_recordingName": "Dashboards/Get usage stats for all dashboards returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "59970bb6036749a583a3fa1ae13a19aa",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page",
              "value": {
                "limit": "10000"
              }
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/dashboards/usage?page%5Blimit%5D=10000"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 56,
            "text": "{\"errors\":[\"Input should be less than or equal to 500\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 261
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
