{
  "log": {
    "_recordingName": "RUM/Delete a RUM application returns \"No Content\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "d1bbcd031009b7481e31434dcb0f029c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"test-rum-233b98774ce06558\",\"type\":\"ios\"},\"type\":\"rum_application_create\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/rum/applications"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 672,
            "text": "{\"data\":{\"type\":\"rum_application\",\"attributes\":{\"org_id\":321813,\"tags\":[],\"product_analytics_disabled_at\":1733845241534,\"rum_enabled_at\":1733845241534,\"rum_enabled\":true,\"updated_by_handle\":\"frog@datadoghq.com\",\"name\":\"test-rum-233b98774ce06558\",\"rum_disabled_at\":0,\"created_by_handle\":\"frog@datadoghq.com\",\"application_id\":\"e095c068-b8e7-44bd-b263-557a6bb99e0c\",\"type\":\"ios\",\"product_analytics_enabled\":false,\"hash\":\"pub41dd1d34d200608780557e0a2728f6c6\",\"client_token\":\"pub41dd1d34d200608780557e0a2728f6c6\",\"product_analytics_enabled_at\":1733845241534,\"updated_at\":1733845241534,\"created_at\":1733845241534,\"is_active\":false},\"id\":\"e095c068-b8e7-44bd-b263-557a6bb99e0c\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 518
      },
      {
        "_id": "660e0afaffc87b04b7c0e41a7eefbe0d",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/rum/applications/e095c068-b8e7-44bd-b263-557a6bb99e0c"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 581
      },
      {
        "_id": "660e0afaffc87b04b7c0e41a7eefbe0d",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/rum/applications/e095c068-b8e7-44bd-b263-557a6bb99e0c"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 549
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
