{
  "log": {
    "_recordingName": "Metrics/Reorder tag indexing rules returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "0785b4083c20f36c47c7c1b0bebf7b63",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"rule_ids\":[]},\"type\":\"tag_indexing_rules\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/metrics/tag-indexing-rules/order"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 41,
            "text": "{\"errors\":[\"rule_ids must not be empty\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 43
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
