{
  "log": {
    "_recordingName": "Logs Restriction Queries/Get a restriction query returns \"Not found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "58b5254e9c84ea1ccffcb472b25d89f6",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/config/restriction_queries/00000000-0000-0000-0000-000000000000"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 42,
            "text": "{\"errors\":[\"Restriction query not found\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 153
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
