{
  "log": {
    "_recordingName": "Users/Disable a user returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "8df31a5f6b616d7f0c5a2e2ad16460d4",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Typescript-Disable_a_user_returns_OK_response-1617271881.761@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 692,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"9bf8db7e-92d2-11eb-9c02-da7ad0900002\",\"attributes\":{\"name\":null,\"handle\":\"typescript-disable_a_user_returns_ok_response-1617271881.761@datadoghq.com\",\"created_at\":\"2021-04-01T10:11:22.248332+00:00\",\"modified_at\":\"2021-04-01T10:11:22.306476+00:00\",\"email\":\"typescript-disable_a_user_returns_ok_response-1617271881.761@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/ce0437349fe97157cee9a45027ba09b6?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.4216820"
            },
            {
              "name": "x-dd-debug",
              "value": "SY1h8ScsWq+kYmtbh63ltMLFAZsQjqfrgvdfAoRX+9TzT1sgMBRYaFRwfWWRRe9a"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 521,
      },
      {
        "_id": "3f65cb59662f34532a86bb4fca7994d2",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users/9bf8db7e-92d2-11eb-9c02-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 0
          },
          "headers": [
            {
              "name": "content-type",
     [...]
