{
  "log": {
    "_recordingName": "Users/Disable a user returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "8b6a6c9217a2050e88b5808a4a3b1135",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Typescript-Disable_a_user_returns_OK_response-1613666656.714@datadoghq.com\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 635,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"8a3fe7f0-7208-11eb-9437-da7ad0900002\",\"attributes\":{\"name\":null,\"handle\":\"typescript-disable_a_user_returns_ok_response-1613666656.714@datadoghq.com\",\"created_at\":\"2021-02-18T16:44:16.967015+00:00\",\"email\":\"typescript-disable_a_user_returns_ok_response-1613666656.714@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/7c865a77e55cea18878e645d3c60d093?s=48&d=retro\",\"title\":null,\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.3935655"
            },
            {
              "name": "x-dd-debug",
              "value": "LcgNasIYBRkNppmD6mCKE9J6iv0eEjosuuHR5V5zw2fWbR54i39C8dhdK8zDq/40"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 386,
      },
      {
        "_id": "2480098684c6f86b97e3c9ba95a6b07f",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users/8a3fe7f0-7208-11eb-9437-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 0
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.3935655"
            },
            {
              "name": "x-dd-debug",
              "value": "nLnnBNvlCFDECRnZvzDb0z4sAO35G+IMidcAs8vrCKyjvsKWE8Yd9S3n6OjZ1qRN"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 403,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
