{
  "log": {
    "_recordingName": "Users/Disable a user returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "0b580547e4fd33aa47a9120bcf765cbd",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Typescript-Disable_a_user_returns_OK_response-1613653964.628@datadoghq.com\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 635,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"fd2ea97c-71ea-11eb-941f-da7ad0900002\",\"attributes\":{\"name\":null,\"handle\":\"typescript-disable_a_user_returns_ok_response-1613653964.628@datadoghq.com\",\"created_at\":\"2021-02-18T13:12:44.889394+00:00\",\"email\":\"typescript-disable_a_user_returns_ok_response-1613653964.628@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/44b196e046a5531453b17a4b89031039?s=48&d=retro\",\"title\":null,\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.3933218"
            },
            {
              "name": "x-dd-debug",
              "value": "L3ULR3HwCWYmEqCWGz2Yob3chcH4pjowBacBXkncP7o+/uPqKt9yGEYf/g1AJPzQ"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 375,
      },
      {
        "_id": "f999b4f3e20822f5a9c39b69cd2b8f54",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users/fd2ea97c-71ea-11eb-941f-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 0
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.3933218"
            },
            {
              "name": "x-dd-debug",
              "value": "nLnnBNvlCFDECRnZvzDb0z4sAO35G+IMidcAs8vrCKyjvsKWE8Yd9S3n6OjZ1qRN"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 476,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
