{
  "log": {
    "_recordingName": "Status Pages/Create maintenance returns \"Created\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "9ef20400e9954a3dee28181dde2c4d1c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"components\":[{\"components\":[{\"name\":\"Login\",\"position\":0,\"type\":\"component\"},{\"name\":\"Settings\",\"position\":1,\"type\":\"component\"}],\"name\":\"Application\",\"type\":\"group\"}],\"domain_prefix\":\"b6dd52ec533b50a4\",\"enabled\":true,\"name\":\"A Status Page\",\"type\":\"internal\",\"visualization_type\":\"bars_and_uptime_percentage\"},\"type\":\"status_pages\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/statuspages"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 1116,
            "text": "{\"data\":{\"id\":\"5f928e28-74e7-4f4d-8ca1-732742061a01\",\"type\":\"status_pages\",\"attributes\":{\"company_logo\":null,\"components\":[{\"id\":\"8f246542-87b5-4794-a8aa-15c112db4203\",\"name\":\"Application\",\"type\":\"group\",\"position\":0,\"components\":[{\"id\":\"805b30a0-22bf-42e1-9232-a9a83d3c438c\",\"name\":\"Login\",\"type\":\"component\",\"status\":\"operational\",\"position\":0},{\"id\":\"740bb3f1-aea3-4a06-8b27-471e6cba3142\",\"name\":\"Settings\",\"type\":\"component\",\"status\":\"operational\",\"position\":1}]}],\"created_at\":\"2026-02-19T21:09:21.765345Z\",\"custom_domain\":null,\"custom_domain_enabled\":false,\"domain_prefix\":\"b6dd52ec533b50a4\",\"email_header_image\":null,\"enabled\":true,\"favicon\":null,\"modified_at\":\"2026-02-19T21:09:21.765345Z\",\"name\":\"A Status Page\",\"page_url\":\"https://frog.datadoghq.com/status-pages/5f928e28-74e7-4f4d-8ca1-732742061a01/view\",\"subscriptions_enabled\":false,\"type\":\"internal\",\"visualization_type\":\"bars_and_uptime_percentage\"},\"relationships\":{\"created_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}},\"last_modified_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 577
      },
      {
        "_id": "d707bae4288883fcce21690092125c3e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"completed_date\":\"2026-02-19T23:09:21.400Z\",\"completed_description\":\"We have completed maintenance on the API to improve performance.\",\"components_affected\":[{\"id\":\"805b30a0-22bf-42e1-9232-a9a83d3c438c\",\"status\":\"operational\"}],\"in_progress_description\":\"We are currently performing maintenance on the API to improve performance.\",\"scheduled_description\":\"We will be performing maintenance on the API to improve performance.\",\"start_date\":\"2026-02-19T22:09:21.400Z\",\"title\":\"API Maintenance\"},\"type\":\"maintenances\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/statuspages/5f928e28-74e7-4f4d-8ca1-732742061a01/maintenances"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 1425,
            "text": "{\"data\":{\"id\":\"ad83d272-470e-45ec-a61f-3852b2cba3bc\",\"type\":\"maintenances\",\"attributes\":{\"completed_date\":\"2026-02-19T23:09:21.4Z\",\"completed_description\":\"We have completed maintenance on the API to improve performance.\",\"components_affected\":[{\"id\":\"805b30a0-22bf-42e1-9232-a9a83d3c438c\",\"name\":\"Login\",\"status\":\"operational\"}],\"in_progress_description\":\"We are currently performing maintenance on the API to improve performance.\",\"modified_at\":\"2026-02-19T21:09:22.350609Z\",\"published_date\":\"2026-02-19T21:09:22.350609Z\",\"scheduled_description\":\"We will be performing maintenance on the API to improve performance.\",\"start_date\":\"2026-02-19T22:09:21.4Z\",\"status\":\"scheduled\",\"title\":\"API Maintenance\",\"updates\":[{\"id\":\"d87352a2-565b-4d6d-a90a-7310698d4562\",\"created_at\":\"2026-02-19T21:09:22.350609Z\",\"modified_at\":\"2026-02-19T21:09:22.350609Z\",\"started_at\":\"2026-02-19T21:09:22.350609Z\",\"manual_transition\":false,\"status\":\"scheduled\",\"description\":\"We will be performing maintenance on the API to improve performance.\",\"components_affected\":[{\"id\":\"805b30a0-22bf-42e1-9232-a9a83d3c438c\",\"name\":\"Login\",\"status\":\"operational\"}]}]},\"relationships\":{\"created_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}},\"last_modified_by_user\":{\"data\":{\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"type\":\"users\"}},\"status_page\":{\"data\":{\"id\":\"5f928e28-74e7-4f4d-8ca1-732742061a01\",\"type\":\"status_pages\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 228
      },
      {
        "_id": "a939e6587342a7da8a1758510e3c9a05",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/statuspages/5f928e28-74e7-4f4d-8ca1-732742061a01"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 672
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
