{
  "log": {
    "_recordingName": "Dashboards/Create a new dashboard with toplist widget",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "ddf8d91e212a22eac834d2b84709ed64",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"description\":\"\",\"is_read_only\":false,\"layout_type\":\"free\",\"notify_list\":[],\"template_variables\":[],\"title\":\"Test-Create_a_new_dashboard_with_toplist_widget-1641430242\",\"widgets\":[{\"definition\":{\"requests\":[{\"formulas\":[{\"formula\":\"query1\",\"limit\":{\"count\":10,\"order\":\"desc\"}}],\"queries\":[{\"aggregator\":\"avg\",\"data_source\":\"metrics\",\"name\":\"query1\",\"query\":\"avg:system.cpu.user{*} by {service}\"}],\"response_format\":\"scalar\"}],\"time\":{},\"title\":\"\",\"title_align\":\"left\",\"title_size\":\"16\",\"type\":\"toplist\"},\"layout\":{\"height\":15,\"width\":47,\"x\":0,\"y\":0}}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 853,
            "text": "{\"notify_list\":[],\"description\":\"\",\"restricted_roles\":[],\"author_name\":null,\"template_variables\":[],\"is_read_only\":false,\"id\":\"d2b-542-pi3\",\"title\":\"Test-Create_a_new_dashboard_with_toplist_widget-1641430242\",\"url\":\"/dashboard/d2b-542-pi3/test-createanewdashboardwithtoplistwidget-1641430242\",\"created_at\":\"2022-01-06T00:50:42.239967+00:00\",\"modified_at\":\"2022-01-06T00:50:42.239967+00:00\",\"author_handle\":\"frog@datadoghq.com\",\"widgets\":[{\"definition\":{\"title_size\":\"16\",\"title\":\"\",\"title_align\":\"left\",\"time\":{},\"requests\":[{\"formulas\":[{\"formula\":\"query1\",\"limit\":{\"count\":10,\"order\":\"desc\"}}],\"response_format\":\"scalar\",\"queries\":[{\"aggregator\":\"avg\",\"data_source\":\"metrics\",\"name\":\"query1\",\"query\":\"avg:system.cpu.user{*} by {service}\"}]}],\"type\":\"toplist\"},\"layout\":{\"y\":0,\"width\":47,\"x\":0,\"height\":15},\"id\":7585713881554705}],\"layout_type\":\"free\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 286
      },
      {
        "_id": "9fa18a38a1be4cad2d73a3c14a87ad10",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/d2b-542-pi3"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 38,
            "text": "{\"deleted_dashboard_id\":\"d2b-542-pi3\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 242
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
