{
  "log": {
    "_recordingName": "Security Monitoring/List indicators of compromise returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "6fab925a65ec0cad89aaa6c228f598ee",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "1"
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/security/siem/ioc-explorer?limit=1"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 692,
            "text": "{\"data\":{\"id\":\"22b62903-4053-42ed-9448-c750da2ecd81\",\"type\":\"ioc_explorer_response\",\"attributes\":{\"data\":[{\"id\":\"192.0.2.1\",\"indicator\":\"192.0.2.1\",\"indicator_type\":\"IP Address\",\"score\":4,\"as_type\":\"hosting\",\"malicious_sources\":null,\"suspicious_sources\":[{\"name\":\"SOURCE1\"}],\"benign_sources\":null,\"categories\":[\"hosting_proxy\"],\"tags\":[],\"signal_matches\":1,\"log_matches\":7,\"signal_tier\":0,\"max_trust_score\":\"RAISE_SCORE\",\"m_sources\":\"NO_EFFECT\",\"m_persistence\":\"NO_EFFECT\",\"m_signal\":\"NO_EFFECT\",\"m_as_type\":\"NO_EFFECT\",\"triage_state\":\"reviewed\",\"triaged_at\":\"2026-06-03T18:55:42.108938Z\",\"triaged_by\":\"00000000-0000-0000-0000-000000000000\"}],\"metadata\":{\"count\":585},\"paging\":{\"offset\":1}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1072
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
