{
  "log": {
    "_recordingName": "Application Security/Create a WAF Policy returns \"Created\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "8b0798c6ce50c96cd8b465e43092270c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"basedOn\":\"recommended\",\"description\":\"Policy applied to internal web applications.\",\"isDefault\":false,\"name\":\"Internal Network Policy\",\"protectionPresets\":[\"attack-tools\"],\"rules\":[{\"blocking\":false,\"enabled\":true,\"id\":\"rasp-001-002\"}],\"scope\":[{\"env\":\"prod\",\"service\":\"billing-service\"}],\"version\":0},\"type\":\"policy\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/remote_config/products/asm/waf/policies"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 499,
            "text": "{\"data\":{\"id\":\"841d53b4-4d73-4585-99cc-39dd10883f7c\",\"type\":\"policy\",\"attributes\":{\"description\":\"Policy applied to internal web applications.\",\"isDefault\":false,\"name\":\"Internal Network Policy\",\"protectionPresets\":[\"attack-tools\"],\"rules\":[{\"id\":\"rasp-001-002\",\"blocking\":false,\"enabled\":true}],\"rulesets\":[],\"scope\":[{\"env\":\"prod\",\"service\":\"billing-service\"}],\"version\":0},\"meta\":{\"added_at\":\"2026-04-16T10:25:18Z\",\"added_by\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\",\"added_by_name\":\"CI Account\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 843
      },
      {
        "_id": "92e48e39331ce877d5b07042cbb5eb8d",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/remote_config/products/asm/waf/policies/841d53b4-4d73-4585-99cc-39dd10883f7c"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 0
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 717
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
