{
  "log": {
    "_recordingName": "Apps/Delete App returns \"Not Found\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "187e5a042d9b956c59c1b6b2f9fb3c52",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/app-builder/apps/7addb29b-f935-472c-ae79-d1963979a23e"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 39,
            "text": "{\"errors\":[{\"detail\":\"app not found\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 87
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
