{
  "log": {
    "_recordingName": "Monitors/Create a ci-pipelines formula and functions monitor returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "c50bee3b04613ec011fdb0fe06d85aa5",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"message\":\"some message Notify: @hipchat-channel\",\"name\":\"Test-Create_a_ci_pipelines_formula_and_functions_monitor_returns_OK_response-1647960862\",\"options\":{\"thresholds\":{\"critical\":0.8},\"variables\":[{\"compute\":{\"aggregation\":\"count\"},\"data_source\":\"ci_pipelines\",\"group_by\":[],\"indexes\":[\"*\"],\"name\":\"query1\",\"search\":{\"query\":\"@ci.status:error\"}},{\"compute\":{\"aggregation\":\"count\"},\"data_source\":\"ci_pipelines\",\"group_by\":[],\"indexes\":[\"*\"],\"name\":\"query2\",\"search\":{\"query\":\"\"}}]},\"priority\":3,\"query\":\"formula(\\\"query1 / query2 * 100\\\").last(\\\"15m\\\") >= 0.8\",\"tags\":[\"test:testcreateacipipelinesformulaandfunctionsmonitorreturnsokresponse1647960862\",\"env:ci\"],\"type\":\"ci-pipelines alert\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/monitor"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1177,
            "text": "{\"restricted_roles\":null,\"tags\":[\"test:testcreateacipipelinesformulaandfunctionsmonitorreturnsokresponse1647960862\",\"env:ci\"],\"deleted\":null,\"query\":\"formula(\\\"query1 / query2 * 100\\\").last(\\\"15m\\\") >= 0.8\",\"message\":\"some message Notify: @hipchat-channel\",\"id\":66627974,\"multi\":false,\"name\":\"Test-Create_a_ci_pipelines_formula_and_functions_monitor_returns_OK_response-1647960862\",\"created\":\"2022-03-22T14:54:23.352659+00:00\",\"created_at\":1647960863000,\"creator\":{\"id\":1445416,\"handle\":\"frog@datadoghq.com\",\"name\":null,\"email\":\"frog@datadoghq.com\"},\"org_id\":321813,\"modified\":\"2022-03-22T14:54:23.352659+00:00\",\"priority\":3,\"overall_state_modified\":null,\"overall_state\":\"No Data\",\"type\":\"ci-pipelines alert\",\"options\":{\"notify_audit\":false,\"silenced\":{},\"include_tags\":true,\"thresholds\":{\"critical\":0.8},\"new_host_delay\":300,\"notify_no_data\":false,\"groupby_simple_monitor\":false,\"variables\":[{\"search\":{\"query\":\"@ci.status:error\"},\"data_source\":\"ci_pipelines\",\"compute\":{\"aggregation\":\"count\"},\"name\":\"query1\",\"indexes\":[\"*\"],\"group_by\":[]},{\"search\":{\"query\":\"\"},\"data_source\":\"ci_pipelines\",\"compute\":{\"aggregation\":\"count\"},\"name\":\"query2\",\"indexes\":[\"*\"],\"group_by\":[]}]}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 497
      },
      {
        "_id": "23154c67390ca8fa383d35956d2c9720",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/monitor/66627974"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 31,
            "text": "{\"deleted_monitor_id\":66627974}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 530
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
