{
  "log": {
    "_recordingName": "On-Call/Get On-Call schedule returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "72b9a3b48ff58913f1c21e355dcbc11b",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Get_On_Call_schedule_returns_OK_response-1748494438@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 685,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"eedd114a-3c48-11f0-927d-aedf77869272\",\"attributes\":{\"name\":null,\"handle\":\"test-get_on_call_schedule_returns_ok_response-1748494438@datadoghq.com\",\"created_at\":\"2025-05-29T04:53:59.126285+00:00\",\"modified_at\":\"2025-05-29T04:53:59.126285+00:00\",\"email\":\"test-get_on_call_schedule_returns_ok_response-1748494438@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/0accc7b5a2e934dd438cd3b30841dcad?s=48&d=retro\",\"title\":\"user title\",\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 700
      },
      {
        "_id": "da807331de09b0fadbc3ed9b0712728c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"layers\":[{\"effective_date\":\"2025-05-19T04:53:58.508Z\",\"end_date\":\"2025-06-08T04:53:58.508Z\",\"interval\":{\"days\":1},\"members\":[{\"user\":{\"id\":\"eedd114a-3c48-11f0-927d-aedf77869272\"}}],\"name\":\"Layer 1\",\"restrictions\":[{\"end_day\":\"friday\",\"end_time\":\"17:00:00\",\"start_day\":\"monday\",\"start_time\":\"09:00:00\"}],\"rotation_start\":\"2025-05-24T04:53:58.508Z\"}],\"name\":\"Test-Get_On_Call_schedule_returns_OK_response-1748494438\",\"time_zone\":\"America/New_York\"},\"relationships\":{\"teams\":{\"data\":[{\"id\":\"65aea9d0-941c-4607-bf8a-14fc0dac2820\",\"type\":\"teams\"}]}},\"type\":\"schedules\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/on-call/schedules"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 365,
            "text": "{\"data\":{\"id\":\"cec4edfd-3f99-4da9-bd71-75c80c5629f8\",\"type\":\"schedules\",\"attributes\":{\"name\":\"Test-Get_On_Call[...]
