{
  "log": {
    "_recordingName": "Synthetics/Create an API test returns \"OK - Returns the created test details.\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "c890555fefb230052fb1672828b6e353",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"config\":{\"assertions\":[{\"operator\":\"contains\",\"property\":\"content-type\",\"target\":\"application/json\",\"type\":\"header\"},{\"operator\":\"is\",\"target\":200,\"type\":\"statusCode\"},{\"operator\":\"validatesJSONPath\",\"target\":{\"jsonPath\":\"topKey\",\"operator\":\"isNot\",\"targetValue\":\"0\"},\"type\":\"body\"},{\"operator\":\"validatesJSONPath\",\"target\":{\"jsonPath\":\"something\",\"operator\":\"moreThan\",\"targetValue\":5},\"type\":\"body\"},{\"operator\":\"isNot\",\"target\":200,\"type\":\"statusCode\"},{\"operator\":\"matches\",\"target\":\"20[04]\",\"type\":\"statusCode\"},{\"operator\":\"doesNotMatch\",\"target\":\"20[04]\",\"type\":\"statusCode\"}],\"configVariables\":[],\"request\":{\"basicAuth\":{\"password\":\"secret\",\"username\":\"admin\"},\"body\":\"this is a body\",\"headers\":{\"Accept\":\"application/json\"},\"method\":\"GET\",\"query\":{\"foo\":\"bar\"},\"timeout\":30,\"url\":\"https://www.datadoghq.com\"}},\"locations\":[\"aws:eu-central-1\"],\"message\":\"Notify @datadog.user\",\"name\":\"Test-Create_an_API_test_returns_OK_Returns_the_created_test_details_response-1624001346\",\"options\":{\"follow_redirects\":true,\"min_location_failed\":1,\"monitor_options\":{\"renotify_interval\":100},\"tick_every\":60},\"status\":\"paused\",\"subtype\":\"http\",\"tags\":[\"foo:bar\",\"baz\"],\"type\":\"api\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/synthetics/tests/api"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1456,
            "text": "{\"status\":\"paused\",\"public_id\":\"e99-ien-3xn\",\"tags\":[\"foo:bar\",\"baz\"],\"org_id\":321813,\"locations\":[\"aws:eu-central-1\"],\"message\":\"Notify @datadog.user\",\"deleted_at\":null,\"name\":\"Test-Create_an_API_test_returns_OK_Returns_the_created_test_details_response-1624001346\",\"monitor_id\":38892202,\"type\":\"api\",\"created_at\":\"2021-06-18T07:29:07.196479+00:00\",\"modified_at\":\"2021-06-18T07:29:07.196479+00:00\",\"subtype\":\"http\",\"config\":{\"request\":{\"body\":\"this is a body\",\"url\":\"https://www.datadoghq.com\",\"basicAuth\":{\"username\":\"admin\",\"password\":\"secret\"},\"headers\":{\"Accept\":\"application/json\"},\"timeout\":30,\"query\":{\"foo\":\"bar\"},\"method\":\"GET\"},\"assertions\":[{\"operator\":\"contains\",\"property\":\"content-type\",\"type\":\"header\",\"target\":\"application/json\"},{\"operator\":\"is\",\"type\":\"statusCode\",\"target\":200},{\"operator\":\"validatesJSONPath\",\"type\":\"body\",\"target\":{\"operator\":\"isNot\",\"targetValue\":\"0\",\"jsonPath\":\"topKey\"}},{\"operator\":\"validatesJSONPath\",\"type\":\"body\",\"target\":{\"operator\":\"moreThan\",\"targetValue\":5,\"jsonPath\":\"something\"}},{\"operator\":\"isNot\",\"type\":\"statusCode\",\"target\":200},{\"operator\":\"matches\",\"type\":\"statusCode\",\"target\":\"20[04]\"},{\"operator\":\"doesNotMatch\",\"type\":\"statusCode\",\"target\":\"20[04]\"}],\"configVariables\":[]},\"options\":{\"follow_redirects\":true,\"monitor_options\":{\"notify_audit\":false,\"locked\":false,\"include_tags\":true,\"new_host_delay\":300,\"notify_no_data\":false,\"renotify_interval\":100},\"min_location_failed\":1,\"tick_every\":60}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.4779795"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-period",
              "value": "60"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "53"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "119"
            },
            {
              "name": "x-dd-debug",
              "value": "S1wfaMZOKGT/IoMw6fqAwAwGWo2vQ44sjF3YzuETnQfxZO2T5eJbs0aX3UKb9Dwu"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 613,
      },
      {
        "_id": "83ba6aa23e56a377b5c1619a29b55426",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"public_ids\":[\"e99-ien-3xn\"]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/synthetics/tests/delete"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 95,
            "text": "{\"deleted_tests\":[{\"deleted_at\":\"2021-06-18T07:29:07.707546+00:00\",\"public_id\":\"e99-ien-3xn\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.4779795"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-period",
              "value": "60"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "53"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "119"
            },
            {
              "name": "x-dd-debug",
              "value": "vdJ3/nHEY1ioXQ6pQrBVvsQK1s4yyc+wufBMPSoXql71qZVuP/xMdtNo6DafhOAk"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 544,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
