{
  "log": {
    "_recordingName": "Users/Create a user returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "a1cf00538fb8aa33a26047251a0d7d2e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Typescript-Create_a_user_returns_OK_response-1613653964.134@datadoghq.com\",\"name\":\"Datadog API Client Python\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 656,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"fce47eba-71ea-11eb-941f-da7ad0900002\",\"attributes\":{\"name\":\"Datadog API Client Python\",\"handle\":\"typescript-create_a_user_returns_ok_response-1613653964.134@datadoghq.com\",\"created_at\":\"2021-02-18T13:12:44.403683+00:00\",\"email\":\"typescript-create_a_user_returns_ok_response-1613653964.134@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/4a4ab4cc7d0055893929597a63127576?s=48&d=retro\",\"title\":null,\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.3933218"
            },
            {
              "name": "x-dd-debug",
              "value": "LcgNasIYBRkNppmD6mCKE9J6iv0eEjosuuHR5V5zw2fWbR54i39C8dhdK8zDq/40"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 389,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
