{
  "log": {
    "_recordingName": "Users/Create a user returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "74d41b6f87fbcbd4591e1461c9865e1f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Create_a_user_returns_OK_response-1618232082@datadoghq.com\",\"name\":\"Datadog API Client Python\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 685,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"405d191e-9b8e-11eb-9d40-da7ad0900002\",\"attributes\":{\"name\":\"Datadog API Client Python\",\"handle\":\"test-create_a_user_returns_ok_response-1618232082@datadoghq.com\",\"created_at\":\"2021-04-12T12:54:43.241690+00:00\",\"modified_at\":\"2021-04-12T12:54:43.261562+00:00\",\"email\":\"test-create_a_user_returns_ok_response-1618232082@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/41381b55d5ac955aaec22b9421d8ca94?s=48&d=retro\",\"title\":null,\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.4288583"
            },
            {
              "name": "x-dd-debug",
              "value": "fIO2C4qGDheGHy4YbS+r3a3CXbh4cbRo7roILOimQyiHGjQdOat0cIpWCkupM1uX"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 461,
      },
      {
        "_id": "35b351df9b8d40a75db9b6e45b584212",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users/405d191e-9b8e-11eb-9d40-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 0
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.4288583"
            },
            {
              "name": "x-dd-debug",
              "value": "Um4CoU685QqAscnxhS5BD+goWu2yX1Jd4zCfGzSsEvPPIm1qURZaF8dlLl/OEY4I"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 1475,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
