{
  "log": {
    "_recordingName": "Users/Create a user returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "7d4e80518956b7b8aeb093a9382af737",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Typescript-Create_a_user_returns_OK_response-1613666655.628@datadoghq.com\",\"name\":\"Datadog API Client Python\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 656,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"89f3f1c4-7208-11eb-9437-da7ad0900002\",\"attributes\":{\"name\":\"Datadog API Client Python\",\"handle\":\"typescript-create_a_user_returns_ok_response-1613666655.628@datadoghq.com\",\"created_at\":\"2021-02-18T16:44:16.468581+00:00\",\"email\":\"typescript-create_a_user_returns_ok_response-1613666655.628@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/92fa1e347f0f33e277fd22928e973801?s=48&d=retro\",\"title\":null,\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.3935655"
            },
            {
              "name": "x-dd-debug",
              "value": "HbtaOKlJ6OCrx9tMXO6ivMTrEM+g0c93HDp08trmOmgdHozC5J+vn10F0H4WPjCU"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 976,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
