{
  "log": {
    "_recordingName": "Users/Create a user returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "6ef5f505b7bc6ffbe418b8a2a10dc836",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Typescript-Create_a_user_returns_OK_response-1613750697.545@datadoghq.com\",\"name\":\"Datadog API Client Python\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 656,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"369417b0-72cc-11eb-9468-da7ad0900002\",\"attributes\":{\"name\":\"Datadog API Client Python\",\"handle\":\"typescript-create_a_user_returns_ok_response-1613750697.545@datadoghq.com\",\"created_at\":\"2021-02-19T16:04:57.948847+00:00\",\"email\":\"typescript-create_a_user_returns_ok_response-1613750697.545@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/8d52015bda9b9179dc7a0436e2c3d92b?s=48&d=retro\",\"title\":null,\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.3944440"
            },
            {
              "name": "x-dd-debug",
              "value": "fIO2C4qGDheGHy4YbS+r3a3CXbh4cbRo7roILOimQyiHGjQdOat0cIpWCkupM1uX"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 526,
      },
      {
        "_id": "ee3003bdcde087cae832be7c0a947b9d",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users/369417b0-72cc-11eb-9468-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 0
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.3944440"
            },
            {
              "name": "x-dd-debug",
              "value": "L3ULR3HwCWYmEqCWGz2Yob3chcH4pjowBacBXkncP7o+/uPqKt9yGEYf/g1AJPzQ"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 698,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
