{
  "log": {
    "_recordingName": "Test Optimization/Search flaky tests returns \"Bad Request\" response with invalid limit",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ee9b0cdb0f36f91022603a2d2e763a0b",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"filter\":{\"query\":\"*\"},\"page\":{\"limit\":2000},\"sort\":\"fqn\"},\"type\":\"search_flaky_tests_request\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/test/flaky-test-management/tests"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 110,
            "text": "{\"errors\":[{\"status\":\"400\",\"title\":\"Bad Request\",\"detail\":\"limit must be greater than 1 and less than 1000\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 333
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
