{
  "log": {
    "_recordingName": "Dashboards/Create a new dashboard with hostmap infra widget",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "de063b5ce408a0111983ae5a84221959",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"description\":null,\"layout_type\":\"free\",\"notify_list\":[],\"template_variables\":[],\"title\":\"Test-Create_a_new_dashboard_with_hostmap_infra_widget-1779995887\",\"widgets\":[{\"definition\":{\"requests\":{\"enrichments\":[{\"formulas\":[{\"dimension\":\"fill\",\"formula\":\"query1\"}],\"queries\":[{\"data_source\":\"metrics\",\"name\":\"query1\",\"query\":\"avg:system.cpu.user{*} by {host}\"}],\"response_format\":\"scalar\"}],\"filter\":\"env:prod\",\"group_by\":[{\"column\":\"tags\",\"key\":\"service\"}],\"node_type\":\"host\",\"request_type\":\"infrastructure_hostmap\",\"style\":{\"palette\":\"green_to_orange\",\"palette_flip\":false}},\"title\":\"\",\"title_align\":\"left\",\"title_size\":\"16\",\"type\":\"hostmap\"},\"layout\":{\"height\":22,\"width\":47,\"x\":0,\"y\":0}}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1023,
            "text": "{\"id\":\"ca3-5na-ti2\",\"title\":\"Test-Create_a_new_dashboard_with_hostmap_infra_widget-1779995887\",\"description\":null,\"author_handle\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\",\"author_name\":\"CI Account\",\"layout_type\":\"free\",\"url\":\"/dashboard/ca3-5na-ti2/test-createanewdashboardwithhostmapinfrawidget-1779995887\",\"template_variables\":[],\"widgets\":[{\"definition\":{\"requests\":{\"enrichments\":[{\"formulas\":[{\"dimension\":\"fill\",\"formula\":\"query1\"}],\"queries\":[{\"data_source\":\"metrics\",\"name\":\"query1\",\"query\":\"avg:system.cpu.user{*} by {host}\"}],\"response_format\":\"scalar\"}],\"filter\":\"env:prod\",\"group_by\":[{\"column\":\"tags\",\"key\":\"service\"}],\"node_type\":\"host\",\"request_type\":\"infrastructure_hostmap\",\"style\":{\"palette\":\"green_to_orange\",\"palette_flip\":false}},\"title\":\"\",\"title_align\":\"left\",\"title_size\":\"16\",\"type\":\"hostmap\"},\"layout\":{\"height\":22,\"width\":47,\"x\":0,\"y\":0},\"id\":7949207519561974}],\"notify_list\":[],\"created_at\":\"2026-05-28T19:18:08.023029+00:00\",\"modified_at\":\"2026-05-28T19:18:08.023029+00:00\",\"restricted_roles\":[]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 265
      },
      {
        "_id": "d28cade667ceaca732d6977a4246a0fe",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/ca3-5na-ti2"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 38,
            "text": "{\"deleted_dashboard_id\":\"ca3-5na-ti2\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 571
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
