{
  "log": {
    "_recordingName": "Service Accounts/Update an access token for a service account returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "93ac95ad4577309928e2f11efaefcc3c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Update_an_access_token_for_a_service_account_returns_OK_response-1779979010@datadoghq.com\",\"service_account\":true,\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/service_accounts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 741,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"aa1d5972-5aa2-11f1-94cc-52d8072c8863\",\"attributes\":{\"uuid\":\"aa1d5972-5aa2-11f1-94cc-52d8072c8863\",\"name\":null,\"handle\":\"aa1d5972-5aa2-11f1-94cc-52d8072c8863\",\"created_at\":\"2026-05-28T14:36:51.044856+00:00\",\"modified_at\":\"2026-05-28T14:36:51.044856+00:00\",\"email\":\"test-update_an_access_token_for_a_service_account_returns_ok_response-1779979010@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/5a4f64a0801adb0c3e3a456f8540dde0?s=48&d=retro\",\"title\":\"user title\",\"verified\":true,\"service_account\":true,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Active\",\"last_login_time\":null},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 592
      },
      {
        "_id": "697cacdaa0b194a931c5975a21a11d46",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Update_an_access_token_for_a_service_account_returns_OK_response-1779979010\",\"scopes\":[\"dashboards_read\"]},\"type\":\"service_access_tokens\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/service_accounts/aa1d5972-5aa2-11f1-94cc-52d8072c8863/access_tokens"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 514,
            "text": "{\"data\":{\"id\":\"87e35e26-368c-479b-85bd-1036f303736e\",\"type\":\"service_access_tokens\",\"attributes\":{\"created_at\":\"2026-05-28T14:36:51.482285572Z\",\"expires_at\":null,\"key\":\"xxxxx_xxxxxxxxxxxxxxxxxxxxxx_xxxxxxxxxxxxXxxxxxxxxxxxxxxxxxxxxxxx\",\"name\":\"Test-Update_an_access_token_for_a_service_account_returns_OK_response-1779979010\",\"public_portion\":\"ddsat_48Ps23zLj44c8YDq0ApfDS\",\"scopes\":[\"dashboards_read\"]},\"relationships\":{\"owned_by\":{\"data\":{\"id\":\"aa1d5972-5aa2-11f1-94cc-52d8072c8863\",\"type\":\"service_account\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 330
      },
      {
        "_id": "48a3e330fd085ce7a567caa09d916869",
        "request": {
          "headers": [
            {
              "_fromType"[...]
