{
  "log": {
    "_recordingName": "Service Accounts/Update an access token for a service account returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "284472d599737d0e2c046ac82d23b165",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Update_an_access_token_for_a_service_account_returns_OK_response-1775250192@datadoghq.com\",\"service_account\":true,\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/service_accounts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 741,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"86bdf0d7-2fa0-11f1-991f-62f4bfc595d0\",\"attributes\":{\"name\":null,\"handle\":\"86bdf0d7-2fa0-11f1-991f-62f4bfc595d0\",\"created_at\":\"2026-04-03T21:03:12.706435+00:00\",\"modified_at\":\"2026-04-03T21:03:12.706435+00:00\",\"email\":\"test-update_an_access_token_for_a_service_account_returns_ok_response-1775250192@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/8ef25c203ebdbe5e11acb74bd99ba7da?s=48&d=retro\",\"title\":\"user title\",\"verified\":true,\"service_account\":true,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Active\",\"last_login_time\":null},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 280
      },
      {
        "_id": "00c32353a37b6c00e2675c108c52d533",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Update_an_access_token_for_a_service_account_returns_OK_response-1775250192\",\"scopes\":[\"dashboards_read\"]},\"type\":\"personal_access_tokens\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/service_accounts/86bdf0d7-2fa0-11f1-991f-62f4bfc595d0/access_tokens"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 532,
            "text": "{\"data\":{\"id\":\"9a7d27cc-4969-4a57-990c-03c23a9f2adc\",\"type\":\"personal_access_tokens\",\"attributes\":{\"alias\":\"4hW0tyOpjf5Dj84mZaXqwe\",\"created_at\":\"2026-04-03T21:03:12.978132411Z\",\"expires_at\":null,\"key\":\"xxxxx_xxxxxxxxxxxxxxxxxxXxxx_xxxxxXxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\"name\":\"Test-Update_an_access_token_for_a_service_account_returns_OK_response-1775250192\",\"public_portion\":\"4hW0tyOpjf5Dj84mZaXqwe\",\"scopes\":[\"dashboards_read\"]},\"relationships\":{\"owned_by\":{\"data\":{\"id\":\"86bdf0d7-2fa0-11f1-991f-62f4bfc595d0\",\"type\":\"users\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 167
      },
      {
        "_id": "601591e122a4cbbd2ab8729d01a9e7bb",
        "request": {
          "headers": [
            {
              "_fromType": "array",[...]
