{
  "log": {
    "_recordingName": "Security Monitoring/Update a custom framework returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "32b0bd2403365d0f102b3da1a84d7902",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"\",\"name\":\"\",\"requirements\":[{\"controls\":[{\"name\":\"\",\"rules_id\":[\"\"]}],\"name\":\"\"}],\"version\":\"\"},\"type\":\"custom_framework\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/cloud_security_management/custom_frameworks/create-framework-new/10"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 396,
            "text": "{\"errors\":[{\"status\":\"400\",\"title\":\"Bad Request\",\"detail\":\"input_validation_error(Field 'data.attributes.requirements.name' is invalid: field 'requirements.name' must not be empty), input_validation_error(Field 'data.attributes.controls.name' is invalid: field 'controls.name' must not be empty), input_validation_error(Field 'data.attributes.name' is invalid: field 'name' must not be empty)\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 108
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
