{
  "log": {
    "_recordingName": "Logs Pipelines/Create a pipeline with Array Processor Length Operation returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "670259822f8c625d85b43218a993ca7d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"filter\":{\"query\":\"source:python\"},\"name\":\"testPipelineArrayLength\",\"processors\":[{\"is_enabled\":true,\"name\":\"count_tags\",\"operation\":{\"source\":\"tags\",\"target\":\"tagCount\",\"type\":\"length\"},\"type\":\"array-processor\"}],\"tags\":[]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/logs/config/pipelines"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 314,
            "text": "{\"id\":\"MB-HZA9rRlKRHb-2LpYBxw\",\"type\":\"pipeline\",\"name\":\"testPipelineArrayLength\",\"is_enabled\":false,\"is_read_only\":false,\"filter\":{\"query\":\"source:python\"},\"processors\":[{\"name\":\"count_tags\",\"is_enabled\":true,\"operation\":{\"source\":\"tags\",\"target\":\"tagCount\",\"type\":\"length\"},\"type\":\"array-processor\"}],\"tags\":[]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 374
      },
      {
        "_id": "f36ba1d2bc57574e54ed23c513caf164",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/logs/config/pipelines/MB-HZA9rRlKRHb-2LpYBxw"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 3,
            "text": "{}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 382
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
