{
  "log": {
    "_recordingName": "Dashboards/Update a shared dashboard with selectable_template_vars returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "a69f9aa1ff208eb792dd9a6be8c8e7b9",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"layout_type\":\"ordered\",\"title\":\"Test-Update_a_shared_dashboard_with_selectable_template_vars_returns_OK_response-1751298440 with Profile Metrics Query\",\"widgets\":[{\"definition\":{\"requests\":[{\"profile_metrics_query\":{\"compute\":{\"aggregation\":\"sum\",\"facet\":\"@prof_core_cpu_cores\"},\"group_by\":[{\"facet\":\"service\",\"limit\":10,\"sort\":{\"aggregation\":\"sum\",\"facet\":\"@prof_core_cpu_cores\",\"order\":\"desc\"}}],\"search\":{\"query\":\"runtime:jvm\"}}}],\"type\":\"timeseries\"}}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 878,
            "text": "{\"id\":\"u77-2y3-a8u\",\"title\":\"Test-Update_a_shared_dashboard_with_selectable_template_vars_returns_OK_response-1751298440 with Profile Metrics Query\",\"description\":null,\"author_handle\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\",\"author_name\":\"CI Account\",\"layout_type\":\"ordered\",\"url\":\"/dashboard/u77-2y3-a8u/test-updateashareddashboardwithselectabletemplatevarsreturnsokresponse-175129844\",\"template_variables\":null,\"widgets\":[{\"definition\":{\"requests\":[{\"profile_metrics_query\":{\"compute\":{\"aggregation\":\"sum\",\"facet\":\"@prof_core_cpu_cores\"},\"group_by\":[{\"facet\":\"service\",\"limit\":10,\"sort\":{\"aggregation\":\"sum\",\"facet\":\"@prof_core_cpu_cores\",\"order\":\"desc\"}}],\"search\":{\"query\":\"runtime:jvm\"}}}],\"type\":\"timeseries\"},\"id\":1909539592049195}],\"notify_list\":null,\"created_at\":\"2025-06-30T15:47:20.724680+00:00\",\"modified_at\":\"2025-06-30T15:47:20.724680+00:00\",\"restricted_roles\":[]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 493
      },
      {
        "_id": "d9798be2be49d1aa2ef468e43f11fa15",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"dashboard_id\":\"u77-2y3-a8u\",\"dashboard_type\":\"custom_timeboard\",\"global_time\":{\"live_span\":\"1h\"},\"share_list\":[\"testupdateashareddashboardwithselectabletemplatevarsreturnsokresponse1751298440@datadoghq.com\"],\"share_type\":\"invite\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/public"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1058,
            "text": "{\"author\":{\"handle\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\",\"name\":\"CI Account\"},\"dashboard_id\":\"u77-2y3-a8u\",\"dashboard_type\":\"custom_timeboard\",\"status\":\"active\",\"title\":\"Test-Update_a_shared_dashboard_with_selectable_template_vars_returns_OK_response-1751298440 with Profile Metrics Query\",\"viewing_preferences\":{},\"expiration\":null,\"last_accessed\":null,\"global_time_selectable_enabled\":false,\"global_time\":{\"live_span\":\"1h\"},\"selectable_template_vars\":null,\"token\":\"fasjyydbcgwwc2uc-e45981fc09294b85d655016fc6109985\",\"public_url\":\"https://p.datadoghq.com/sb/fasjyydbcgwwc2uc-e45981fc09294b85d655016fc6109985\",\"created\":\"2025-06-30T15:47:21.395152+00:00\",\"share_type\":\"invite\",\"share_list\":[\"testupdateashareddashboardwithselectabletemplatevarsreturnsokresponse1751298440@datadoghq.com\"],\"session_duration_in_days\":30,\"invitees\":[{\"email\":\"testupdateashareddashboardwithselectabletemplatevarsreturnsokresponse1751298440@datadoghq.com\",\"access_expiration\":null,\"last_accessed\":null,\"created_at\":\"2025-06-30T15:47:21.429277+00:00\"}],\"embeddable_domains\":[]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 679
      },
      {
        "_id": "319c7ac37f6ab7daf9f0e1931cd21cd2",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"global_time\":{\"live_span\":\"15m\"},\"selectable_template_vars\":[{\"default_value\":\"*\",\"name\":\"group_by_var\",\"type\":\"group\",\"visible_tags\":[\"selectableValue1\",\"selectableValue2\"]}],\"share_list\":[],\"share_type\":\"open\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/public/fasjyydbcgwwc2uc-e45981fc09294b85d655016fc6109985"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 874,
            "text": "{\"author\":{\"handle\":\"9919ec9b-ebc7-49ee-8dc8-03626e717cca\",\"name\":\"CI Account\"},\"dashboard_i[...]
