{
  "log": {
    "_recordingName": "Usage Metering/Get hourly usage for Logs by Index returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "126bd689999c45ef1b56f1c1d374c3b9",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "start_hr",
              "value": "2025-05-07T11:35:41.762Z"
            },
            {
              "name": "end_hr",
              "value": "2025-05-09T11:35:41.762Z"
            }
          ],
          "url": "https://api.datadoghq.com/api/v1/usage/logs_by_index?start_hr=2025-05-07T11%3A35%3A41.762Z&end_hr=2025-05-09T11%3A35%3A41.762Z"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 5317,
            "text": "{\"usage\":[{\"hour\":\"2025-05-07T11:00:00+00:00\",\"index_id\":\"33715\",\"event_count\":2,\"retention\":15,\"index_name\":\"main\",\"org_name\":\"DD Integration Tests (321813)\",\"public_id\":\"fasjyydbcgwwc2uc\",\"rate_limited\":false,\"filtered\":false,\"live_index_indexed\":2,\"rehydrated_indexed\":0,\"region\":\"us\"},{\"hour\":\"2025-05-07T12:00:00+00:00\",\"index_id\":\"33715\",\"event_count\":2,\"retention\":15,\"index_name\":\"main\",\"org_name\":\"DD Integration Tests (321813)\",\"public_id\":\"fasjyydbcgwwc2uc\",\"rate_limited\":false,\"filtered\":false,\"live_index_indexed\":2,\"rehydrated_indexed\":0,\"region\":\"us\"},{\"hour\":\"2025-05-07T14:00:00+00:00\",\"index_id\":\"33715\",\"event_count\":2,\"retention\":15,\"index_name\":\"main\",\"org_name\":\"DD Integration Tests (321813)\",\"public[...]
