{
  "log": {
    "_recordingName": "Network Device Monitoring/Update the tags for an interface returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "471b978abd0aaa8e3829526b91a99a4b",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"tags\":[\"tag:test\",\"tag:testbis\"]},\"id\":\"example:1.2.3.4:1\",\"type\":\"tags\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/ndm/tags/interfaces/example%3A1.2.3.4%3A1"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 98,
            "text": "{\"data\":{\"id\":\"example:1.2.3.4:1\",\"type\":\"tags\",\"attributes\":{\"tags\":[\"tag:test\",\"tag:testbis\"]}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 517
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
