{
  "log": {
    "_recordingName": "Action Connection/Get an existing App Key Registration returns \"Bad request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "7de66af1718556e4df93dc1dc8b7f2c3",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/actions/app_key_registrations/not_valid_app_key_id"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 135,
            "text": "{\"errors\":[{\"status\":\"400\",\"title\":\"Invalid Parameter\",\"detail\":\"invalid parameter \\\"appKeyId\\\" in \\\"path\\\"; expected type \\\"uuid\\\"\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 76
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
