{
  "log": {
    "_recordingName": "Network Device Monitoring/Update the tags for a device returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "bacbb6b5436ca7cd99fb20f8a16323da",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"tags\":[\"tag:test\",\"tag:testbis\"]},\"id\":\"default_device\",\"type\":\"tags\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/ndm/tags/devices/default_device"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 100,
            "text": "{\"data\":{\"id\":\"default_device\",\"type\":\"tags\",\"attributes\":{\"tags\":[\"tag:test\",\"tag:testbis\"]}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 404
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
