{
  "log": {
    "_recordingName": "Application Security/Update a WAF Custom Rule returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "337b2f05cc5f2fb5c7bee2e0e5bf9441",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"blocking\":false,\"conditions\":[{\"operator\":\"match_regex\",\"parameters\":{\"inputs\":[{\"address\":\"server.request.query\",\"key_path\":[\"id\"]}],\"regex\":\"badactor\"}}],\"enabled\":true,\"name\":\"test\",\"path_glob\":\"/test\",\"scope\":[{\"env\":\"test\",\"service\":\"test\"}],\"tags\":{\"category\":\"attack_attempt\",\"type\":\"test\"}},\"type\":\"custom_rule\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/remote_config/products/asm/waf/custom_rules"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 509,
            "text": "{\"data\":{\"id\":\"23343b96-cbde-4029-aad6-09d0fcbf2067\",\"type\":\"custom_rule\",\"attributes\":{\"blocking\":false,\"conditions\":[{\"operator\":\"match_regex\",\"parameters\":{\"inputs\":[{\"address\":\"server.request.query\",\"key_path\":[\"id\"]}],\"regex\":\"badactor\",\"options\":{}}}],\"enabled\":true,\"metadata\":{\"added_at\":\"2025-03-05T21:09:11Z\",\"added_by\":\"frog@datadoghq.com\",\"added_by_name\":\"frog\"},\"name\":\"test - 12\",\"path_glob\":\"/test\",\"scope\":[{\"env\":\"test\",\"service\":\"test\"}],\"tags\":{\"category\":\"attack_attempt\",\"type\":\"test\"}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 576
      },
      {
        "_id": "74fd14845320b1174ff04e113cafec67",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"blocking\":false,\"conditions\":[{\"operator\":\"match_regex\",\"parameters\":{\"inputs\":[{\"address\":\"server.request.query\",\"key_path\":[\"id\"]}],\"regex\":\"\\\\\"}}],\"enabled\":false,\"name\":\"test\",\"path_glob\":\"/test\",\"scope\":[{\"env\":\"test\",\"service\":\"test\"}],\"tags\":{\"category\":\"attack_attempt\",\"type\":\"test\"}},\"type\":\"custom_rule\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/remote_config/products/asm/waf/custom_rules/23343b96-cbde-4029-aad6-09d0fcbf2067"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 63,
            "text": "{\"errors\":[{\"title\":\"failed to decode request\",\"code\":\"400\"}]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 80
      },
      {
        "_id": "e13af789c3a486d79166ab02aa596bc8",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/remote_config/products/asm/waf/custom_rules/23343b96-cbde-4029-aad6-09d0fcbf2067"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 0
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 318
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
