{
  "log": {
    "_recordingName": "Events/Post an event returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "d38196305c9207ab330c071da70e73d0",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"tags\":[\"test:TypescriptPostaneventreturnsOKresponse1615927587175\"],\"text\":\"A text message.\",\"title\":\"Typescript-Post_an_event_returns_OK_response-1615927587.175\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/events"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 363,
            "text": "{\"status\":\"ok\",\"event\":{\"id\":5899954988470056016,\"title\":\"Typescript-Post_an_event_returns_OK_response-1615927587.175\",\"text\":\"A text message.\",\"date_happened\":1615927587,\"handle\":null,\"priority\":null,\"related_event_id\":null,\"tags\":[\"test:TypescriptPostaneventreturnsOKresponse1615927587175\"],\"url\":\"https://app.datadoghq.com/event/event?id=5899954988470056016\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 202,
          "statusText": "Accepted"
        },
        "time": 81,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
