{
  "log": {
    "_recordingName": "Events/Post an event returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "3fb4b571331d3a2033ac54b20446166a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"tags\":[\"test:TestPostaneventreturnsOKresponse1641430251\"],\"text\":\"A text message.\",\"title\":\"Test-Post_an_event_returns_OK_response-1641430251\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/events"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 375,
            "text": "{\"status\":\"ok\",\"event\":{\"id\":63278187026359,\"id_str\":\"6327818702635911562\",\"title\":\"Test-Post_an_event_returns_OK_response-1641430251\",\"text\":\"A text message.\",\"date_happened\":1641430251,\"handle\":null,\"priority\":null,\"related_event_id\":null,\"tags\":[\"test:TestPostaneventreturnsOKresponse1641430251\"],\"url\":\"https://app.datadoghq.com/event/event?id=6327818702635911562\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 202,
          "statusText": "Accepted"
        },
        "time": 118
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
