{
  "log": {
    "_recordingName": "Events/Post an event returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "a585a5bfa7f5fc4812315bc8d497f9be",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"tags\":[\"test:TypescriptPostaneventreturnsOKresponse1617864270065\"],\"text\":\"A text message.\",\"title\":\"Typescript-Post_an_event_returns_OK_response-1617864270.065\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/events"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 363,
            "text": "{\"status\":\"ok\",\"event\":{\"id\":5932447140930739737,\"title\":\"Typescript-Post_an_event_returns_OK_response-1617864270.065\",\"text\":\"A text message.\",\"date_happened\":1617864270,\"handle\":null,\"priority\":null,\"related_event_id\":null,\"tags\":[\"test:TypescriptPostaneventreturnsOKresponse1617864270065\"],\"url\":\"https://app.datadoghq.com/event/event?id=5932447140930739737\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 202,
          "statusText": "Accepted"
        },
        "time": 421,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
