{
  "log": {
    "_recordingName": "Events/Post an event returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "4df942e7d5d3629cb808d6ddcf5d3b37",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"tags\":[\"test:TestPostaneventreturnsOKresponse1618231998\"],\"text\":\"A text message.\",\"title\":\"Test-Post_an_event_returns_OK_response-1618231998\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/events"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 344,
            "text": "{\"status\":\"ok\",\"event\":{\"id\":5938616593821314013,\"title\":\"Test-Post_an_event_returns_OK_response-1618231998\",\"text\":\"A text message.\",\"date_happened\":1618231998,\"handle\":null,\"priority\":null,\"related_event_id\":null,\"tags\":[\"test:TestPostaneventreturnsOKresponse1618231998\"],\"url\":\"https://app.datadoghq.com/event/event?id=5938616593821314013\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 202,
          "statusText": "Accepted"
        },
        "time": 341,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
