{
  "log": {
    "_recordingName": "Events/Post an event returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "4a095c2b266dec0574350bfeb34d17a9",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"tags\":[\"test:TypescriptPostaneventreturnsOKresponse1614854092641\"],\"text\":\"A text message.\",\"title\":\"Testing event\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/events"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 317,
            "text": "{\"status\":\"ok\",\"event\":{\"id\":5881944738676766638,\"title\":\"Testing event\",\"text\":\"A text message.\",\"date_happened\":1614854092,\"handle\":null,\"priority\":null,\"related_event_id\":null,\"tags\":[\"test:TypescriptPostaneventreturnsOKresponse1614854092641\"],\"url\":\"https://app.datadoghq.com/event/event?id=5881944738676766638\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 202,
          "statusText": "Accepted"
        },
        "time": 102,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
