{
  "log": {
    "_recordingName": "Notebooks/Delete a notebook returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "13fc77d1c45b7f5b23f542b2f87bb752",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"cells\":[{\"attributes\":{\"definition\":{\"text\":\"# Test-Delete_a_notebook_returns_OK_response-1620726174 notebook text\",\"type\":\"markdown\"}},\"type\":\"notebook_cells\"}],\"name\":\"Test-Delete_a_notebook_returns_OK_response-1620726174\",\"time\":{\"live_span\":\"1h\"}},\"type\":\"notebooks\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/notebooks"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 672,
            "text": "{\"data\":{\"type\":\"notebooks\",\"id\":774055,\"attributes\":{\"name\":\"Test-Delete_a_notebook_returns_OK_response-1620726174\",\"cells\":[{\"attributes\":{\"definition\":{\"text\":\"# Test-Delete_a_notebook_returns_OK_response-1620726174 notebook text\",\"type\":\"markdown\"}},\"type\":\"notebook_cells\",\"id\":\"j6gwpoqh\"}],\"time\":{\"live_span\":\"1h\"},\"status\":\"published\",\"modified\":\"2021-05-11T09:42:54.457909+00:00\",\"created\":\"2021-05-11T09:42:54.457909+00:00\",\"author\":{\"name\":null,\"handle\":\"frog@datadoghq.com\",\"email\":\"frog@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro\",\"title\":null,\"verified\":true,\"disabled\":false,\"status\":\"Active\"}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 414,
      },
      {
        "_id": "c8dc4f0a58d4ae64213e86b6fadb648d",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/notebooks/774055"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 0
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 313,
      },
      {
        "_id": "c8dc4f0a58d4ae64213e86b6fadb648d",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/notebooks/774055"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 34,
            "text": "{\"errors\": [\"Notebook not found\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 385,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
