{
  "log": {
    "_recordingName": "Notebooks/Delete a notebook returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "d0a3a0a28bdc9fd54bb4aad16e7c96db",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"cells\":[{\"attributes\":{\"definition\":{\"text\":\"# Test-Delete_a_notebook_returns_OK_response-1641826578 notebook text\",\"type\":\"markdown\"}},\"type\":\"notebook_cells\"}],\"name\":\"Test-Delete_a_notebook_returns_OK_response-1641826578\",\"time\":{\"live_span\":\"1h\"}},\"type\":\"notebooks\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/notebooks"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 785,
            "text": "{\"data\":{\"type\":\"notebooks\",\"id\":1779491,\"attributes\":{\"name\":\"Test-Delete_a_notebook_returns_OK_response-1641826578\",\"cells\":[{\"attributes\":{\"definition\":{\"text\":\"# Test-Delete_a_notebook_returns_OK_response-1641826578 notebook text\",\"type\":\"markdown\"}},\"type\":\"notebook_cells\",\"id\":\"uwyokkao\"}],\"time\":{\"live_span\":\"1h\"},\"metadata\":{\"is_favorite\":false,\"is_template\":false,\"type\":null,\"take_snapshots\":false},\"template_variables\":[],\"status\":\"published\",\"modified\":\"2022-01-10T14:56:18.518824+00:00\",\"created\":\"2022-01-10T14:56:18.518824+00:00\",\"author\":{\"name\":null,\"handle\":\"frog@datadoghq.com\",\"email\":\"frog@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro\",\"title\":null,\"verified\":true,\"disabled\":false,\"status\":\"Active\"}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 428
      },
      {
        "_id": "c4e00053d112abf3961595b8635a3382",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/notebooks/1779491"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 570
      },
      {
        "_id": "c4e00053d112abf3961595b8635a3382",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/notebooks/1779491"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 34,
            "text": "{\"errors\": [\"Notebook not found\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 412
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
