{
  "log": {
    "_recordingName": "Usage Metering/Get hourly usage for Synthetics API Checks returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "8c3dcc5414babbeff7a3f24d597fb2dd",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "start_hr",
              "value": "2025-05-07T11:35:52.237Z"
            },
            {
              "name": "end_hr",
              "value": "2025-05-09T11:35:52.237Z"
            }
          ],
          "url": "https://api.datadoghq.com/api/v1/usage/synthetics_api?start_hr=2025-05-07T11%3A35%3A52.237Z&end_hr=2025-05-09T11%3A35%3A52.237Z"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 8796,
            "text": "{\"usage\":[{\"hour\":\"2025-05-07T11:00:00+00:00\",\"region\":\"us\",\"check_calls_count\":null,\"browser_check_calls_count\":null,\"org_name\":\"DD Integration Tests (321813)\",\"public_id\":\"fasjyydbcgwwc2uc\"},{\"hour\":\"2025-05-07T12:00:00+00:00\",\"region\":\"us\",\"check_calls_count\":null,\"browser_check_calls_count\":null,\"org_name\":\"DD Integration Tests (321813)\",\"public_id\":\"fasjyydbcgwwc2uc\"},{\"hour\":\"2025-05-07T13:00:00+00:00\",\"region\":\"us\",\"check_calls_count\":null,\"browser_check_calls_count\":null,\"org_name\":\"DD Integration Tests (321813)\",\"public_id\":\"fasjyydbcgwwc2uc\"},{\"hour\":\"2025-05-07T14:00:00+00:00\",\"region\":\"us\",\"check_calls_[...]
