{
  "log": {
    "_recordingName": "Error Tracking/Get the details of an error tracking issue returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "3f7077b8a95b25a10d3e6e0bb0aee38b",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/error-tracking/issues/invalid-issue-id"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 86,
            "text": "{\"errors\":[{\"status\":\"400\",\"title\":\"Bad Request\",\"detail\":\"issue id is not an uuid\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 111
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
