{
  "log": {
    "_recordingName": "Security Monitoring/Create a notification profile returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "41223dd2d4783d6e551e8033a4dbb13a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"enabled\":true,\"name\":\"Test-Create_a_notification_rule_returns_OK_response-1699976710\",\"selectors\":{\"attributes\":[\"test:123\",\"env:prod\"],\"implicit_vm_rule_match\":false,\"rule_tags\":[\"test:123\"],\"rule_types\":[\"application_security\",\"log_detection\"],\"severities\":[\"high\"],\"signal_tags\":[\"env:prod\"]},\"targets\":[\"@slack-test\"]},\"type\":\"notification_rules\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/security_monitoring/configuration/notification_rules"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 580,
            "text": "{\"data\":{\"id\":\"ixf-lse-ptb\",\"attributes\":{\"version\":1,\"name\":\"Test-Create_a_notification_rule_returns_OK_response-1699976710\",\"targets\":[\"@slack-test\"],\"selectors\":{\"severities\":[\"high\"],\"rule_types\":[\"application_security\",\"log_detection\"],\"rule_tags\":[\"test:123\"],\"signal_tags\":[\"env:prod\"],\"attributes\":[\"env:prod\",\"test:123\"],\"implicit_vm_rule_match\":false},\"enabled\":true,\"creation_date\":1699976710570,\"update_date\":1699976710570,\"creator\":{\"name\":null,\"handle\":\"frog@datadoghq.com\"},\"updater\":{\"name\":null,\"handle\":\"frog@datadoghq.com\"}},\"type\":\"notification_rules\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 212
      },
      {
        "_id": "8b5a7c1c6eebbb13d0082e34c13425ae",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/security_monitoring/configuration/notification_rules/ixf-lse-ptb"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=utf-8",
            "size": 0
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=utf-8"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 183
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
