{
  "log": {
    "_recordingName": "Metrics/Update a Tag Configuration returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "20d29752b242dae430895d6a611646a0",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"metric_type\":\"distribution\",\"tags\":[\"app\",\"datacenter\",\"TypescriptUpdateaTagConfigurationreturnsOKresponse1613653949271\"]},\"id\":\"TypescriptUpdateaTagConfigurationreturnsOKresponse1613653949271\",\"type\":\"manage_tags\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/metrics/TypescriptUpdateaTagConfigurationreturnsOKresponse1613653949271/tags"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 364,
            "text": "{\"data\":{\"type\":\"manage_tags\",\"id\":\"TypescriptUpdateaTagConfigurationreturnsOKresponse1613653949271\",\"attributes\":{\"tags\":[\"datacenter\",\"app\",\"TypescriptUpdateaTagConfigurationreturnsOKresponse1613653949271\"],\"include_percentiles\":false,\"created_at\":\"2021-02-18T13:12:29.553652+00:00\",\"updated_at\":\"2021-02-18T13:12:29.553652+00:00\",\"metric_type\":\"distribution\"}}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.3933218"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "50"
            },
            {
              "name": "x-ratelimit-period",
              "value": "60"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "31"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "38"
            },
            {
              "name": "x-dd-debug",
              "value": "mNzaoDhdDKO7t4QSrAe5X7pHd0bJND187D+vRbwoluXouE2m1UaQQX0RGCvRpLVE"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 362,
      },
      {
        "_id": "b82b84e6db1f1f037aa0e49ad09bed82",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"tags\":[\"app\"]},\"id\":\"TypescriptUpdateaTagConfi[...]
