{
  "log": {
    "_recordingName": "Metrics/Update a Tag Configuration returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "bdd1d8da0e5db8dd0e1ddac1007ea371",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"metric_type\":\"distribution\",\"tags\":[\"app\",\"datacenter\",\"TypescriptUpdateaTagConfigurationreturnsOKresponse1613750678071\"]},\"id\":\"TypescriptUpdateaTagConfigurationreturnsOKresponse1613750678071\",\"type\":\"manage_tags\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/metrics/TypescriptUpdateaTagConfigurationreturnsOKresponse1613750678071/tags"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 364,
            "text": "{\"data\":{\"type\":\"manage_tags\",\"id\":\"TypescriptUpdateaTagConfigurationreturnsOKresponse1613750678071\",\"attributes\":{\"tags\":[\"datacenter\",\"app\",\"TypescriptUpdateaTagConfigurationreturnsOKresponse1613750678071\"],\"include_percentiles\":false,\"created_at\":\"2021-02-19T16:04:38.366643+00:00\",\"updated_at\":\"2021-02-19T16:04:38.366643+00:00\",\"metric_type\":\"distribution\"}}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.3944440"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "50"
            },
            {
              "name": "x-ratelimit-period",
              "value": "60"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "22"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "38"
            },
            {
              "name": "x-dd-debug",
              "value": "2328yjLSqI4XmR1pVqrPRR/SFcQsbafjEpPmZx7/3PfxUK1nJQQsX+wrMelyVyj+"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 352,
      },
      {
        "_id": "f12603c7cc9ff7e22c37367231b26d33",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"tags\":[\"app\"]},\"id\":\"TypescriptUpdateaTagConfi[...]
