{
  "log": {
    "_recordingName": "Metrics/Update a Tag Configuration returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "3c6cd4194080e7610e0eb34356fc373d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"metric_type\":\"distribution\",\"tags\":[\"app\",\"datacenter\",\"TypescriptUpdateaTagConfigurationreturnsOKresponse1613676237051\"]},\"id\":\"TypescriptUpdateaTagConfigurationreturnsOKresponse1613676237051\",\"type\":\"manage_tags\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/metrics/TypescriptUpdateaTagConfigurationreturnsOKresponse1613676237051/tags"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 364,
            "text": "{\"data\":{\"type\":\"manage_tags\",\"id\":\"TypescriptUpdateaTagConfigurationreturnsOKresponse1613676237051\",\"attributes\":{\"tags\":[\"TypescriptUpdateaTagConfigurationreturnsOKresponse1613676237051\",\"datacenter\",\"app\"],\"include_percentiles\":false,\"created_at\":\"2021-02-18T19:23:57.328057+00:00\",\"updated_at\":\"2021-02-18T19:23:57.328057+00:00\",\"metric_type\":\"distribution\"}}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.3936814"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "50"
            },
            {
              "name": "x-ratelimit-period",
              "value": "60"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "3"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "38"
            },
            {
              "name": "x-dd-debug",
              "value": "SY1h8ScsWq+kYmtbh63ltMLFAZsQjqfrgvdfAoRX+9TzT1sgMBRYaFRwfWWRRe9a"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 372,
      },
      {
        "_id": "ecf7d1e8ebaf60283e229bfb4bd98bf6",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"tags\":[\"app\"]},\"id\":\"TypescriptUpdateaTagConfi[...]
