{
  "log": {
    "_recordingName": "CSM Threats/Create a Workload Protection agent rule returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "1316ef84358b65da0ce800854fe6e7c8",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"description\":\"My agent policy\",\"enabled\":true,\"hostTags\":[\"env:staging\"],\"name\":\"testcreateaworkloadprotectionagentrulereturnsbadrequestresponse1765469352\"},\"type\":\"policy\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/remote_config/products/cws/policy"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 450,
            "text": "{\"data\":{\"id\":\"0w7-waz-oev\",\"type\":\"policy\",\"attributes\":{\"blockingRulesCount\":0,\"datadogManaged\":false,\"description\":\"My agent policy\",\"disabledRulesCount\":1,\"enabled\":true,\"hostTagsLists\":[[\"env:staging\"]],\"monitoringRulesCount\":7,\"name\":\"testcreateaworkloadprotectionagentrulereturnsbadrequestresponse1765469352\",\"pinned\":false,\"policyVersion\":\"1\",\"ruleCount\":8,\"updateDate\":1765469353329,\"updater\":{\"name\":\"frog\",\"handle\":\"frog@datadoghq.com\"}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1006
      },
      {
        "_id": "015174726197e85b25da919f258e2f92",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"description\":\"My Agent rule\",\"enabled\":true,\"expression\":\"exec.file.name\",\"filters\":[],\"name\":\"my_agent_rule\",\"policy_id\":\"0w7-waz-oev\",\"product_tags\":[]},\"type\":\"agent_rule\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/remote_config/products/cws/agent_rules"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 154,
            "text": "{\"errors\":[\"input_validation_error(Field 'expression' is invalid: rule `my_agent_rule` error: rule syntax error: bool expected: 1:1: exec.file.name\\n^)\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 462
      },
      {
        "_id": "4deb4644dfe2ca736d8c937260f05625",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/remote_config/products/cws/policy/0w7-waz-oev"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 0
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 932
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
