{
  "log": {
    "_recordingName": "Teams/Remove a user from a team returns \"API error response.\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "59f743971a3a4a93b4c1b885f89b7f3d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"1679941999\",\"name\":\"1679941999\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 526,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"d90487a2-cccd-11ed-b49b-da7ad0900002\",\"attributes\":{\"name\":\"1679941999\",\"handle\":\"1679941999\",\"summary\":null,\"description\":null,\"color\":7,\"created_at\":\"2023-03-27T18:33:19.965841+00:00\",\"modified_at\":\"2023-03-27T18:33:19.965846+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/d90487a2-cccd-11ed-b49b-da7ad0900002/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/d90487a2-cccd-11ed-b49b-da7ad0900002/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 301
      },
      {
        "_id": "621913056c429b6e4cb67cd49cdc00b5",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/d90487a2-cccd-11ed-b49b-da7ad0900002/memberships/REPLACE.ME"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 55,
            "text": "{\"errors\":[\"REPLACE.ME is not a valid UUID not found\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 402
      },
      {
        "_id": "5ebff90fad7ac846423986850515dad7",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/d90487a2-cccd-11ed-b49b-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 907
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
