{
  "log": {
    "_recordingName": "Teams/Remove a user from a team returns \"API error response.\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ecb1ad26c1b40aee493c7bfde0ab1453",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"handle-8ebcf13472862f30\",\"name\":\"name-8ebcf13472862f30\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 540,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"abfca7f2-20d9-11ee-a1e9-da7ad0900002\",\"attributes\":{\"name\":\"name-8ebcf13472862f30\",\"handle\":\"handle-8ebcf13472862f30\",\"summary\":null,\"description\":null,\"created_at\":\"2023-07-12T17:29:36.049655+00:00\",\"modified_at\":\"2023-07-12T17:29:36.049660+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/abfca7f2-20d9-11ee-a1e9-da7ad0900002/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/abfca7f2-20d9-11ee-a1e9-da7ad0900002/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 153
      },
      {
        "_id": "0f66666fb158c05ac9be54500c947431",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/abfca7f2-20d9-11ee-a1e9-da7ad0900002/memberships/REPLACE.ME"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 55,
            "text": "{\"errors\":[\"REPLACE.ME is not a valid UUID not found\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 152
      },
      {
        "_id": "d11252db243469e8e4154b93101f05fb",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/abfca7f2-20d9-11ee-a1e9-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 134
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
