{
  "log": {
    "_recordingName": "Teams/Remove a user from a team returns \"API error response.\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "856812ac9ae1984e58bcf6eec38cb155",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"handle-b673fb38f29b594d\",\"name\":\"name-b673fb38f29b594d\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 550,
            "text": "{\"data\":{\"type\":\"team\",\"id\":\"590a0ef6-ef4f-11ed-9b4a-da7ad0900002\",\"attributes\":{\"name\":\"name-b673fb38f29b594d\",\"handle\":\"handle-b673fb38f29b594d\",\"summary\":null,\"description\":null,\"color\":2,\"created_at\":\"2023-05-10T16:25:59.363124+00:00\",\"modified_at\":\"2023-05-10T16:25:59.363128+00:00\",\"user_count\":0,\"link_count\":0},\"relationships\":{\"team_links\":{\"links\":{\"related\":\"/api/v2/team/590a0ef6-ef4f-11ed-9b4a-da7ad0900002/links\"}},\"user_team_permissions\":{\"links\":{\"related\":\"/api/v2/team/590a0ef6-ef4f-11ed-9b4a-da7ad0900002/permission-settings\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 183
      },
      {
        "_id": "5c6819f95775c8f234efa3d329c6f8f8",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/590a0ef6-ef4f-11ed-9b4a-da7ad0900002/memberships/REPLACE.ME"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 55,
            "text": "{\"errors\":[\"REPLACE.ME is not a valid UUID not found\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 187
      },
      {
        "_id": "2511b32074f6c327a7b76e05d764a6c5",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/590a0ef6-ef4f-11ed-9b4a-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 245
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
