{
  "log": {
    "_recordingName": "Security Monitoring/List assets SBOMs returns \"Not found: There is no request associated with the provided token.\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "5eb3b8f53dd3195ce37e46f12fa2d7a1",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page",
              "value": {
                "number": "1",
                "token": "unknown"
              }
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/security/sboms?page%5Btoken%5D=unknown&page%5Bnumber%5D=1"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 65,
            "text": "{\"errors\":[{\"status\":\"404\",\"title\":\"Unexpected internal error\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 480
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
