{
  "log": {
    "_recordingName": "RUM/Update a RUM application returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "74945625c01aa598e53865a53ceb0685",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"test_name_create\",\"type\":\"browser\"},\"type\":\"rum_application_create\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/rum/applications"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 462,
            "text": "{\"data\":{\"attributes\":{\"updated_by_handle\":\"frog@datadoghq.com\",\"application_id\":\"198f4147-44c5-4e15-bfc6-4e05b2a5405d\",\"name\":\"test_name_create\",\"created_by_handle\":\"frog@datadoghq.com\",\"created_at\":1670264362971,\"org_id\":321813,\"updated_at\":1670264362971,\"is_active\":false,\"hash\":\"pub8d34eedc19fcba1c90fd9da19541e888\",\"client_token\":\"pub8d34eedc19fcba1c90fd9da19541e888\",\"type\":\"browser\"},\"type\":\"rum_application\",\"id\":\"198f4147-44c5-4e15-bfc6-4e05b2a5405d\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1292
      },
      {
        "_id": "25f6804a0e63d8822b5c43ca75fc3153",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"updated_name_for_my_existing_rum_applicatio[...]
