{
  "log": {
    "_recordingName": "RUM/Update a RUM application returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "640e8d1571eb544ed896bae1e2fe9ce5",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"test-rum-08f8f866ac73a2f6\",\"type\":\"ios\"},\"type\":\"rum_application_create\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/rum/applications"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 672,
            "text": "{\"data\":{\"type\":\"rum_application\",\"attributes\":{\"tags\":[],\"type\":\"ios\",\"client_token\":\"pub89c189272956845c68f39e57d34d23f6\",\"hash\":\"pub89c189272956845c68f39e57d34d23f6\",\"updated_at\":1733845247961,\"org_id\":321813,\"product_analytics_disabled_at\":1733845247961,\"product_analytics_enabled_at\":1733845247961,\"rum_enabled_at\":1733845247961,\"application_id\":\"04898090-77be-4047-a2cb-654f5e050929\",\"is_active\":false,\"rum_disabled_at\":0,\"product_analytics_enabled\":false,\"created_at\":1733845247961,\"created_by_handle\":\"frog@datadoghq.com\",\"name\":\"test-rum-08f8f866ac73a2f6\",\"rum_enabled\":true,\"updated_by_handle\":\"frog@datadoghq.com\"},\"id\":\"04898090-77be-4047-a2cb-654f5e050929\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 527
      },
      {
        "_id": "6f4ccf67eb5265020fa46590503b7d4f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"updated_name_for_my_existing_rum_application[...]
