{
  "log": {
    "_recordingName": "Security Monitoring/Convert a job result to a signal returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "0d4946af2c85586b74ddeb117a50a4a6",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"jobResultIds\":[\"\"],\"notifications\":[\"\"],\"signalMessage\":\"A large number of failed login attempts.\",\"signalSeverity\":\"critical\"},\"type\":\"historicalDetectionsJobResultSignalConversion\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/siem-historical-detections/jobs/signal_convert"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 91,
            "text": "{\"errors\":[{\"status\":\"400\",\"title\":\"Generic Error\",\"detail\":\"empty jobResultId provided\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 62
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
