{
  "log": {
    "_recordingName": "Usage Metering/Get the list of available monthly custom reports returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "973bcd7e096906855f4e5b4293a5bcef",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/monthly_custom_reports"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 2333,
            "text": "{\"meta\":{\"page\":{\"total_count\":13}},\"data\":[{\"type\":\"reports\",\"id\":\"2022-02-01\",\"attributes\":{\"tags\":[\"project\"],\"start_date\":\"2022-02-01\",\"end_date\":\"2022-03-01\",\"size\":20340,\"computed_on\":\"2022-03-08T20:44:56+00:00\"}},{\"type\":\"reports\",\"id\":\"2022-01-01\",\"attributes\":{\"tags\":[\"project\"],\"start_date\":\"2022-01-01\",\"end_date\":\"2022-02-01\",\"size\":22697,\"computed_on\":\"2022-02-01T16:50:14+00:00\"}},{\"type\":\"reports\",\"id\":\"2021-12-01\",\"attributes\":{\"tags\":[\"project\"],\"start_date\":\"2021-12-01\",\"end_date\":\"2022-01-01\",\"size\":29169,\"computed_on\":\"2022-01-01T15:54:13+00:00\"}},{\"type\":\"reports\",\"id\":\"2021-11-01\",\"attributes\":{[...]
