{
  "log": {
    "_recordingName": "Teams/Sync teams returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "394163072f49be157e109223981e6839",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"source\":\"github\",\"type\":\"link\"},\"type\":\"team_sync_bulk\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/sync"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 203
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
