{
  "log": {
    "_recordingName": "Cloud Cost Management/List Custom Costs files returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "51d406379b1833d9ae29a33072806a6f",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "filter",
              "value": {
                "status": "invalid_file_status"
              }
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/cost/custom_costs?filter%5Bstatus%5D=invalid_file_status"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 102,
            "text": "{\"errors\":[{\"status\":\"400\",\"title\":\"Bad Request\",\"detail\":\"unknown status, got invalid_file_status\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 264
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
