{
  "log": {
    "_recordingName": "Incident Services/Create a new incident service returns \"CREATED\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "7b33438131e69e0e69fe949e7c4103d9",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Typescript-Create_a_new_incident_service_returns_CREATED_response-1613653916.936\"},\"type\":\"services\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/services"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 964,
            "text": "{\"included\":[{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"attributes\":{\"name\":null,\"handle\":\"frog@datadoghq.com\",\"created_at\":\"2019-10-02T08:15:39.795051+00:00\",\"email\":\"frog@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro\",\"title\":null,\"verified\":true,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Active\"},\"relationships\":{\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}],\"data\":{\"type\":\"services\",\"id\":\"b86cf105-6f8b-5580-88ac-20d84c13ae1a\",\"attributes\":{\"name\":\"Typescript-Create_a_new_incident_service_returns_CREATED_response-1613653916.936\",\"created\":\"2021-02-18T13:11:57.290668+00:00\",\"modified\":\"2021-02-18T13:11:57.290668+00:00\"},\"relationships\":{\"last_modified_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}},\"created_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}}}}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.3933218"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "100"
            },
            {
              "name": "x-ratelimit-period",
              "value": "60"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "3"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "99"
            },
            {
              "name": "x-dd-debug",
              "value": "JpIJLwIH2nFlZOC+u71rq7aAOL43MLZN3MUsL+gpYHdZz5QLUOG8Jysf8kVK6tPU"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 425,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
