{
  "log": {
    "_recordingName": "Incident Services/Create a new incident service returns \"CREATED\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "7e0a6e769466bbde8df7419940583531",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Typescript-Create_a_new_incident_service_returns_CREATED_response-1613750636.778\"},\"type\":\"services\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/services"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 964,
            "text": "{\"included\":[{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"attributes\":{\"name\":null,\"handle\":\"frog@datadoghq.com\",\"created_at\":\"2019-10-02T08:15:39.795051+00:00\",\"email\":\"frog@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro\",\"title\":null,\"verified\":true,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Active\"},\"relationships\":{\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}],\"data\":{\"type\":\"services\",\"id\":\"d720697b-b2a6-56b9-bbc6-c9ff1b2eebdd\",\"attributes\":{\"name\":\"Typescript-Create_a_new_incident_service_returns_CREATED_response-1613750636.778\",\"created\":\"2021-02-19T16:03:57.142052+00:00\",\"modified\":\"2021-02-19T16:03:57.142052+00:00\"},\"relationships\":{\"last_modified_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}},\"created_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}}}}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.3944440"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "100"
            },
            {
              "name": "x-ratelimit-period",
              "value": "60"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "3"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "99"
            },
            {
              "name": "x-dd-debug",
              "value": "Um4CoU685QqAscnxhS5BD+goWu2yX1Jd4zCfGzSsEvPPIm1qURZaF8dlLl/OEY4I"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 419,
      },
      {
        "_id": "ff21600b6ec1ea4de5571270db4298cd",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/services/d720697b-b2a6-56b9-bbc6-c9ff1b2eebdd"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 0
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.3944440"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "100"
            },
            {
              "name": "x-ratelimit-period",
              "value": "60"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "3"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "99"
            },
            {
              "name": "x-dd-debug",
              "value": "fIO2C4qGDheGHy4YbS+r3a3CXbh4cbRo7roILOimQyiHGjQdOat0cIpWCkupM1uX"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 307,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
