{
  "log": {
    "_recordingName": "Agentless Scanning/Delete GCP scan options returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "69cdbb5751b0fad2f6a022a68911663d",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/agentless_scanning/accounts/gcp/no"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 91,
            "text": "{\"errors\":[{\"title\":\"Generic Error\",\"detail\":\"project id must be 6-30 characters, got 2\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 349
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
