{
  "log": {
    "_recordingName": "APM Retention Filters/Delete a retention filter returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "b24042788cc9cba4e3eb03a7fdff0697",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"enabled\":true,\"filter\":{\"query\":\"@_top_level:1 test:service-demo\"},\"filter_type\":\"spans-sampling-processor\",\"name\":\"demo retention filter\",\"rate\":0.9},\"type\":\"apm_retention_filter\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/apm/config/retention-filters"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 388,
            "text": "{\"data\":{\"id\":\"ZHyaGYKyQNO4nNxGqIxrdg\",\"attributes\":{\"name\":\"demo retention filter\",\"rate\":0.9,\"trace_rate\":0.0,\"enabled\":true,\"filter_type\":\"spans-sampling-processor\",\"filter\":{\"query\":\"@_top_level:1 test:service-demo\"},\"editable\":true,\"modified_by\":\"frog@datadoghq.com\",\"modified_at\":1744111968,\"created_by\":\"frog@datadoghq.com\",\"created_at\":1744111968},\"type\":\"apm_retention_filter\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 603
      },
      {
        "_id": "f77fa4c64dfb333ad392d715a500c59c",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/apm/config/retention-filters/ZHyaGYKyQNO4nNxGqIxrdg"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 3,
            "text": "{}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 537
      },
      {
        "_id": "f77fa4c64dfb333ad392d715a500c59c",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/apm/config/retention-filters/ZHyaGYKyQNO4nNxGqIxrdg"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 75,
            "text": "{\"errors\":[\"retention filter with id: 'ZHyaGYKyQNO4nNxGqIxrdg' not found\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 501
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
