name: docs

permissions:
  contents: write

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Node 16
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'yarn'

      - name: Enable Corepack
        run: corepack enable
        env:
          COREPACK_ENABLE_DOWNLOAD_PROMPT: 0

      - name: Build documentation
        run: |
          yarn install
          yarn run typedoc --out docs --readme README.md --name datadog-api-client-typescript .

      - name: Compress docs
        run: tar czf docs.tar.gz docs

      - uses: actions/upload-artifact@v4
        with:
          name: documentation
          path: docs.tar.gz

  publish:
    runs-on: ubuntu-latest

    if: github.event_name == 'push' && github.ref == 'refs/heads/master'
    needs:
      - build

    steps:
      - uses: actions/download-artifact@v4
        with:
          name: documentation
          path: docs

      - name: Uncompress docs
        run: tar xzf docs/docs.tar.gz && rm docs/docs.tar.gz

      - uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs
          commit_message: ${{ github.event.head_commit.message }}
          # Write .nojekyll at the root, see:
          # https://help.github.com/en/github/working-with-github-pages/about-github-pages#static-site-generators
          enable_jekyll: false
          # Only deploy if there were changes
          allow_empty_commit: false
