{
  "log": {
    "_recordingName": "Security Monitoring/Delete a custom framework returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "8cf676d064986d09f97a1c290f17eb5a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"handle-testdeleteacustomframeworkreturnsokresponse1744141498\",\"icon_url\":\"https://example.com/icon-testdeleteacustomframeworkreturnsokresponse1744141498.png\",\"name\":\"Framework-testdeleteacustomframeworkreturnsokresponse1744141498\",\"requirements\":[{\"controls\":[{\"name\":\"Control-testdeleteacustomframeworkreturnsokresponse1744141498\",\"rules_id\":[\"def-000-cea\"]}],\"name\":\"Requirement-testdeleteacustomframeworkreturnsokresponse1744141498\"}],\"version\":\"1.0.testdeleteacustomframeworkreturnsokresponse1744141498\"},\"type\":\"custom_framework\"}}"
          },
          "queryString": [],
          "url": "https://frog.datadoghq.com/api/v2/cloud_security_management/custom_frameworks"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 107,
            "text": "{\"errors\":[{\"status\":\"400\",\"title\":\"Bad Request\",\"detail\":\"invalid_argument(Invalid rule configuration)\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 380
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
