{
  "log": {
    "_recordingName": "Dashboards/Create a new dashboard with hostmap widget",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "a4f50eaed5a46b6189cb9d24da31316b",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"description\":null,\"is_read_only\":false,\"layout_type\":\"free\",\"notify_list\":[],\"template_variables\":[],\"title\":\"Test-Create_a_new_dashboard_with_hostmap_widget-1641430234\",\"widgets\":[{\"definition\":{\"no_group_hosts\":true,\"no_metric_hosts\":true,\"node_type\":\"host\",\"requests\":{\"fill\":{\"q\":\"avg:system.cpu.user{*} by {host}\"}},\"style\":{\"palette\":\"green_to_orange\",\"palette_flip\":false},\"title\":\"\",\"title_align\":\"left\",\"title_size\":\"16\",\"type\":\"hostmap\"},\"layout\":{\"height\":22,\"width\":47,\"x\":0,\"y\":0}}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 798,
            "text": "{\"notify_list\":[],\"description\":null,\"restricted_roles\":[],\"author_name\":null,\"template_variables\":[],\"is_read_only\":false,\"id\":\"sjt-c5e-sir\",\"title\":\"Test-Create_a_new_dashboard_with_hostmap_widget-1641430234\",\"url\":\"/dashboard/sjt-c5e-sir/test-createanewdashboardwithhostmapwidget-1641430234\",\"created_at\":\"2022-01-06T00:50:34.551060+00:00\",\"modified_at\":\"2022-01-06T00:50:34.551060+00:00\",\"author_handle\":\"frog@datadoghq.com\",\"widgets\":[{\"definition\":{\"style\":{\"palette\":\"green_to_orange\",\"palette_flip\":false},\"title_size\":\"16\",\"title\":\"\",\"title_align\":\"left\",\"node_type\":\"host\",\"no_metric_hosts\":true,\"requests\":{\"fill\":{\"q\":\"avg:system.cpu.user{*} by {host}\"}},\"no_group_hosts\":true,\"type\":\"hostmap\"},\"layout\":{\"y\":0,\"width\":47,\"x\":0,\"height\":22},\"id\":7704723778867726}],\"layout_type\":\"free\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 257
      },
      {
        "_id": "0e6c920a2bdaa34f80dc85c2412def3d",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/sjt-c5e-sir"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 38,
            "text": "{\"deleted_dashboard_id\":\"sjt-c5e-sir\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 240
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
