{
  "log": {
    "_recordingName": "Dashboards/Create a new dashboard with hostmap widget",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "03b2a6a59acd951ffb2bf18bf56e4a44",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"description\":null,\"layout_type\":\"free\",\"notify_list\":[],\"template_variables\":[],\"title\":\"Test-Create_a_new_dashboard_with_hostmap_widget-1731611544\",\"widgets\":[{\"definition\":{\"no_group_hosts\":true,\"no_metric_hosts\":true,\"node_type\":\"host\",\"requests\":{\"fill\":{\"q\":\"avg:system.cpu.user{*} by {host}\"}},\"style\":{\"palette\":\"green_to_orange\",\"palette_flip\":false},\"title\":\"\",\"title_align\":\"left\",\"title_size\":\"16\",\"type\":\"hostmap\"},\"layout\":{\"height\":22,\"width\":47,\"x\":0,\"y\":0}}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 818,
            "text": "{\"id\":\"m3c-vup-t7s\",\"title\":\"Test-Create_a_new_dashboard_with_hostmap_widget-1731611544\",\"description\":null,\"author_handle\":\"anika.maskara@datadoghq.com\",\"author_name\":\"Anika Maskara\",\"layout_type\":\"free\",\"url\":\"/dashboard/m3c-vup-t7s/test-createanewdashboardwithhostmapwidget-1731611544\",\"is_read_only\":false,\"template_variables\":[],\"widgets\":[{\"definition\":{\"no_group_hosts\":true,\"no_metric_hosts\":true,\"node_type\":\"host\",\"requests\":{\"fill\":{\"q\":\"avg:system.cpu.user{*} by {host}\"}},\"style\":{\"palette\":\"green_to_orange\",\"palette_flip\":false},\"title\":\"\",\"title_align\":\"left\",\"title_size\":\"16\",\"type\":\"hostmap\"},\"layout\":{\"height\":22,\"width\":47,\"x\":0,\"y\":0},\"id\":142423722512604}],\"notify_list\":[],\"created_at\":\"2024-11-14T19:12:24.459149+00:00\",\"modified_at\":\"2024-11-14T19:12:24.459149+00:00\",\"restricted_roles\":[]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 272
      },
      {
        "_id": "dd65b3ff27fd94bfc451ee6a9fe13a72",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/m3c-vup-t7s"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 39,
            "text": "{\"deleted_dashboard_id\":\"m3c-vup-t7s\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 188
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
