{
  "log": {
    "_recordingName": "Model Lab API/Get a Model Lab project returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "342b9a45b743692fee1da2d29d9d05e4",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/model-lab-api/projects/2387"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 388,
            "text": "{\"data\":{\"id\":\"2387\",\"type\":\"projects\",\"attributes\":{\"artifact_storage_location\":\"model-lab:///76421\",\"created_at\":\"2026-05-15T02:54:52.457827Z\",\"description\":\"\",\"external_url\":\"https://mlflow.us1.staging.dog/#/experiments/76421\",\"is_starred\":false,\"name\":\"ft-gpt2-smoke-1778812860\",\"owner_id\":\"1d45ac49-1e4e-11f1-8c3a-42221ed6388d\",\"tags\":[],\"updated_at\":\"2026-05-15T02:54:52.468614Z\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 200
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
