{
  "log": {
    "_recordingName": "Teams/Add a user to a team returns \"API error response.\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "0f6d224808e0ef27368708f6b4d31e4c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"handle\":\"test-handle-22e42ce95626a92a\",\"name\":\"test-name-22e42ce95626a92a\"},\"type\":\"team\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 661,
            "text": "{\"data\":{\"id\":\"abc7c612-d3a1-4147-bcfa-f28b4af43d33\",\"type\":\"team\",\"attributes\":{\"avatar\":null,\"banner\":10,\"created_at\":\"2026-03-31T14:58:05.503733+00:00\",\"description\":null,\"handle\":\"test-handle-22e42ce95626a92a\",\"hidden_modules\":null,\"is_managed\":false,\"link_count\":0,\"modified_at\":\"2026-03-31T14:58:05.503733+00:00\",\"name\":\"test-name-22e42ce95626a92a\",\"summary\":null,\"user_count\":0,\"visible_modules\":null},\"relationships\":{\"team_links\":{\"data\":[],\"links\":{\"related\":\"/api/v2/team/abc7c612-d3a1-4147-bcfa-f28b4af43d33/links\"}},\"user_team_permissions\":{\"data\":null,\"links\":{\"related\":\"/api/v2/team/abc7c612-d3a1-4147-bcfa-f28b4af43d33/permission-settings\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.api+json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 532
      },
      {
        "_id": "3785ade525e6768cc12ea07fcfa448c0",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Add_a_user_to_a_team_returns_API_error_response_response-1774969085@datadoghq.com\",\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 780,
            "text": "{\"data\": {\"type\": \"users\", \"id\": \"825c5f4c-585c-494a-aade-60f1e1aa189b\", \"attributes\": {\"name\": null, \"handle\": \"test-add_a_user_to_a_team_returns_api_error_response_response-1774969085@datadoghq.com\", \"created_at\": \"2026-03-31T14:58:06.030754+00:00\", \"modified_at\": \"2026-03-31T14:58:06.030754+00:00\", \"email\": \"test-add_a_user_to_a_team_returns_api_error_response_response-1774969085@datadoghq.com\", \"icon\": \"https://secure.gravatar.com/avatar/53ba6f826ef9a49acaeec55d1bcc1c47?s=48&d=retro\", \"title\": \"user title\", \"verified\": false, \"service_account\": false, \"disabled\": false, \"allowed_login_methods\": [], \"status\": \"Pending\", \"last_login_time\": null}, \"relationships\": {\"roles\": {\"data\": []}, \"org\": {\"data\": {\"type\": \"orgs\", \"id\": \"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 521
      },
      {
        "_id": "a61ba428f7d696c4ae6a680ac4abf3bf",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"role\":\"admin\"},\"relationships\":{\"user\":{\"data\":{\"id\":\"825c5f4c-585c-494a-aade-60f1e1aa189b\",\"type\":\"users\"}}},\"type\":\"team_memberships\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/team/abc7c612-d3a1-4147-bcfa-f28b4af43d33/memberships"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.api+json",
            "size": 761,
            "text": "{\"data\":{\"id\":\"TeamMembership-abc7c612-d3a1-4147-bcfa-f28b4af43d33-66215044\",\"type\":\"team_memberships\",\"attributes\":{\"provisioned_by\":null,\"provisioned_by_id\":\"a1d5ff5a-c6dd-11f0-9cb6-06640ca27ad4\",\"role\":\"admin\"},\"relationships\":{\"user\":{\"data\":{\"id\":\"825c5f4c-585c-494a-aade-60f1e1aa189b\",\"type\":\"users\"}}}},\"included\":[{\"id\":\"825c5f4c-585c-494a-aade-60f1e1aa189b\",\"type\":\"users\",\"attributes\":{\"disabled\":false,\"email\":\"test-add_a_user_to_a_team_returns_api_error_response_response-1774969085@datadoghq.com\",\"handle\":\"test-add_a_user_to_a_team_returns_api_error_response_response-1774969085@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/53ba6f826ef9a49acaeec55d1bcc1c47?d=retro\\u0026s=48\",\"name\":null,\"service_account\":false,\"status\":\"Pending\"}}]}"
          },
          "h[...]
