{
  "log": {
    "_recordingName": "Service Accounts/Delete an app key owned by this service account returns \"No Content\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "e6904925c3a12b96baed54e2c39f7ca2",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Delete_an_app_key_owned_by_this_service_account_returns_No_Content_response-1652349203@datadoghq.com\",\"service_account\":true,\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/service_accounts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 682,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"b28852dc-c10b-47dc-ad93-dac3e345edf7\",\"attributes\":{\"name\":null,\"handle\":\"b28852dc-c10b-47dc-ad93-dac3e345edf7\",\"created_at\":\"2022-05-12T09:53:23.784584+00:00\",\"modified_at\":\"2022-05-12T09:53:23.820961+00:00\",\"email\":\"test-delete_an_app_key_owned_by_this_service_account_returns_no_content_response-1652349203@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/e9f758d44a304e5bf063d2bb60176186?s=48&d=retro\",\"title\":\"user title\",\"verified\":true,\"service_account\":true,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Active\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 628
      },
      {
        "_id": "e43a11745c0f2d0f1950975a4dc416a9",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Delete_an_app_key_owned_by_this_service_account_returns_No_Content_response-1652349203\"},\"type\":\"application_keys\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/service_accounts/b28852dc-c10b-47dc-ad93-dac3e345edf7/application_keys"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 454,
            "text": "{\"data\":{\"type\":\"application_keys\",\"id\":\"bfedc1ba-6cba-4019-a685-252d07da0bf1\",\"attributes\":{\"name\":\"Test-Delete_an_app_key_owned_by_this_service_account_returns_No_Content_response-1652349203\",\"created_at\":\"2022-05-12T09:53:24.343109+00:00\",\"last4\":\"xxxx\",\"key\":\"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\"scopes\":null},\"relationships\":{\"owned_by\":{\"data\":{\"type\":\"users\",\"id\":\"b28852dc-c10b-47dc-ad93-dac3e345edf7\"}},\"leak_information\":{\"data\":null}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 543
      },
      {
        "_id": "04c646421d50dd2c6df63f92e5a3dd1c",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/service_accounts/b28852dc-c10b-47dc-ad93-dac3e345edf7/application_keys/bfedc1ba-6cba-4019-a685-252d07da0bf1"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 635
      },
      {
        "_id": "04c646421d50dd2c6df63f92e5a3dd1c",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/service_accounts/b28852dc-c10b-47dc-ad93-dac3e345edf7/application_keys/bfedc1ba-6cba-4019-a685-252d07da0bf1"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 41,
            "text": "{\"errors\": [\"Application key not found\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 483
      },
      {
        "_id": "5e9b8a762b14a0c8e234df006aaa0c27",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users/b28852dc-c10b-47dc-ad93-dac3e345edf7"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 574
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
