{
  "log": {
    "_recordingName": "Service Accounts/Delete an app key owned by this service account returns \"No Content\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "c9c3e5da017c10aed779db70e265f117",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Delete_an_app_key_owned_by_this_service_account_returns_No_Content_response-1639758429@datadoghq.com\",\"title\":\"user title\",\"service_account\":true},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/service_accounts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 682,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"92b36d0f-c94c-42a4-9f34-4ef5d7e53350\",\"attributes\":{\"name\":null,\"handle\":\"92b36d0f-c94c-42a4-9f34-4ef5d7e53350\",\"created_at\":\"2021-12-17T16:27:09.565094+00:00\",\"modified_at\":\"2021-12-17T16:27:09.604470+00:00\",\"email\":\"test-delete_an_app_key_owned_by_this_service_account_returns_no_content_response-1639758429@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/aaef9048546f00ffbeea30010860ed17?s=48&d=retro\",\"title\":\"user title\",\"verified\":true,\"service_account\":true,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Active\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "92"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "100"
            },
            {
              "name": "x-ratelimit-period",
              "value": "3600"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1971"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 559,
      },
      {
        "_id": "89f13e8355579ad7be0b2dd522cb2a2b",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Delete_an_app_key_owned_by_this_service_account_returns_No_Content_response-1639758429\"},\"type\":\"application_keys\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/service_accounts/92b36d0f-c94c-42a4-9f34-4ef5d7e53350/application_keys"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 407,
            "text": "{\"data\":{\"type\":\"application_keys\",\"id\":\"b6e42f51-970c-4230-85fc-7adae7478025\",\"attributes\":{\"name\":\"Test-Delete_an_app_key_owned_by_this_service_account_returns_No_Content_response-1639758429\",\"created_at\":\"2021-12-17T16:27:10.147542+00:00\",\"last4\":\"beef\",\"key\":\"deaddcc81a44288fbbbfb15efe1203df034abeef\"},\"relationships\":{\"owned_by\":{\"data\":{\"type\":\"users\",\"id\":\"92b36d0f-c94c-42a4-9f34-4ef5d7e53350\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "335"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "400"
            },
            {
              "name": "x-ratelimit-period",
       [...]
