{
  "log": {
    "_recordingName": "Service Accounts/Delete an app key owned by this service account returns \"No Content\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "87c6b419e4356e69a5dcdd6a52f73df4",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Test-Delete_an_app_key_owned_by_this_service_account_returns_No_Content_response-1641826590@datadoghq.com\",\"service_account\":true,\"title\":\"user title\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/service_accounts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 682,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"c99eb1b0-df37-460b-903c-849e0fd90309\",\"attributes\":{\"name\":null,\"handle\":\"c99eb1b0-df37-460b-903c-849e0fd90309\",\"created_at\":\"2022-01-10T14:56:31.090671+00:00\",\"modified_at\":\"2022-01-10T14:56:31.128732+00:00\",\"email\":\"test-delete_an_app_key_owned_by_this_service_account_returns_no_content_response-1641826590@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/8e681684490287c798e47beaff3c1a73?s=48&d=retro\",\"title\":\"user title\",\"verified\":true,\"service_account\":true,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Active\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 500
      },
      {
        "_id": "c50f70452c6e5d37c9161dd5ef430b07",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Test-Delete_an_app_key_owned_by_this_service_account_returns_No_Content_response-1641826590\"},\"type\":\"application_keys\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/service_accounts/c99eb1b0-df37-460b-903c-849e0fd90309/application_keys"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 421,
            "text": "{\"data\":{\"type\":\"application_keys\",\"id\":\"26661ed4-7dd8-4668-8ab8-c69f7cd752ad\",\"attributes\":{\"name\":\"Test-Delete_an_app_key_owned_by_this_service_account_returns_No_Content_response-1641826590\",\"created_at\":\"2022-01-10T14:56:31.574997+00:00\",\"last4\":\"xxxx\",\"key\":\"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\"scopes\":null},\"relationships\":{\"owned_by\":{\"data\":{\"type\":\"users\",\"id\":\"c99eb1b0-df37-460b-903c-849e0fd90309\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 634
      },
      {
        "_id": "535e40b1dcfc551bad3d4edd3973eb68",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/service_accounts/c99eb1b0-df37-460b-903c-849e0fd90309/application_keys/26661ed4-7dd8-4668-8ab8-c69f7cd752ad"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 652
      },
      {
        "_id": "535e40b1dcfc551bad3d4edd3973eb68",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/service_accounts/c99eb1b0-df37-460b-903c-849e0fd90309/application_keys/26661ed4-7dd8-4668-8ab8-c69f7cd752ad"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 41,
            "text": "{\"errors\": [\"Application key not found\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 361
      },
      {
        "_id": "bb9f153c91911bdd602700f93eb18312",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users/c99eb1b0-df37-460b-903c-849e0fd90309"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 360
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
