{
  "log": {
    "_recordingName": "Monitors/Create a monitor returns \"Bad Request\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "cc9789153c537ff8c46848b774543bbf",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"query\",\"type\":\"log alert\"}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/monitor"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 97,
            "text": "{\"errors\": [\"The value provided for parameter 'query' is invalid: invalid operator specified: \"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "500"
            },
            {
              "name": "x-ratelimit-period",
              "value": "10"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "6"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "498"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 173,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
