{
  "log": {
    "_recordingName": "Dashboard Reports/Get Dashboard Reports for a Dashboard returns \"Unprocessable Entity\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ba2f3b4a49c7fe9ec7b86287e7219d68",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"layout_type\":\"free\",\"title\":\"Test-Get_Dashboard_Reports_for_a_Dashboard_returns_Unprocessable_Entity_response-1668631886 with Profile Metrics Query\",\"widgets\":[{\"definition\":{\"requests\":[{\"profile_metrics_query\":{\"compute\":{\"aggregation\":\"sum\",\"facet\":\"@prof_core_cpu_cores\"},\"group_by\":[{\"facet\":\"service\",\"limit\":10,\"sort\":{\"aggregation\":\"sum\",\"facet\":\"@prof_core_cpu_cores\",\"order\":\"desc\"}}],\"search\":{\"query\":\"runtime:jvm\"}}}],\"type\":\"timeseries\"},\"layout\":{\"height\":10,\"width\":10,\"x\":10,\"y\":10}}]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 918,
            "text": "{\"notify_list\":null,\"description\":null,\"restricted_roles\":[],\"author_name\":null,\"template_variables\":null,\"is_read_only\":false,\"id\":\"2gg-zhi-mf9\",\"title\":\"Test-Get_Dashboard_Reports_for_a_Dashboard_returns_Unprocessable_Entity_response-1668631886 with Profile Metrics Query\",\"url\":\"/dashboard/2gg-zhi-mf9/test-getdashboardreportsforadashboardreturnsunprocessableentityresponse-16686318\",\"created_at\":\"2022-11-16T20:51:26.669856+00:00\",\"modified_at\":\"2022-11-16T20:51:26.669856+00:00\",\"author_handle\":\"frog@datadoghq.com\",\"widgets\":[{\"definition\":{\"requests\":[{\"profile_metrics_query\":{\"search\":{\"query\":\"runtime:jvm\"},\"group_by\":[{\"facet\":\"service\",\"sort\":{\"facet\":\"@prof_core_cpu_cores\",\"aggregation\":\"sum\",\"order\":\"desc\"},\"limit\":10}],\"compute\":{\"facet\":\"@prof_core_cpu_cores\",\"aggregation\":\"sum\"}}}],\"type\":\"timeseries\"},\"layout\":{\"y\":10,\"width\":10,\"x\":10,\"height\":10},\"id\":8160513064949088}],\"layout_type\":\"free\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 154
      },
      {
        "_id": "ccf7d83865f3bc6378810751d2505cdc",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/dashboards/2gg-zhi-mf9/reports"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 316,
            "text": "{\"errors\":[\"Screenboards (Dashboards with a layout_type=free) are not currently supported by the reporting feature. If you would like to schedule reports for this screenboard, please clone this dashboard as a timeboard or grid by picking a new layout via the Datadog app and configure reports on the new dashboard\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 422,
          "statusText": "Unprocessable Entity"
        },
        "time": 130
      },
      {
        "_id": "dd08b2144c0227e67a9727d90918266f",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/dashboard/2gg-zhi-mf9"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 39,
            "text": "{\"deleted_dashboard_id\":\"2gg-zhi-mf9\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 149
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
